[2020-12-12 13:59] vojtechkacmarik commented on #3633
Markdown still not rendered
![image](https://user-images.githubusercontent.com/19559588/101985818-95202f80-3c8a-11eb-9e28-40fc2b439f7b.png)

[2020-12-14 03:20] arman-g commented on #3623
@stevkan in my case it did not work. Still getting the timeout message. What I don't understand is why version 4.10.1 does not show the warning but v4.11.0 does.

[2020-12-14 12:36] edemehmetcan commented on #3628
any update?

[2020-12-14 18:11] 007-fr opened #3638 "Unable to render URI images in WebChat- Adapative Card that have a large number of characters"
Hello Bot Framework support,

I am attempting to show an image in an adaptive card using the actual Base64 data for the image.(Data URI) The images that I show are run-time generated, and one of them has 84,000 characters in it. The image shows properly in the Bot Emulator, but not in WebChat. Any help on this is appreciated.

[2020-12-14 18:20] 007-fr commented on #3638
**Other auto generated images with a smaller amount of characters work properly in the WebChat. **

[2020-12-14 19:50] stevkan commented on #3639
@selvaduraiece, the Direct Line channel doesn't support updating or deleting activities. While there could have been a hiccup in the service, it is more probable that the issue you are experiencing is rooted in your Web Chat code and how it's interacting with your bot's code.

To start, can you supply your Web Chat code as well as your bot's dialog that handles sending the initial activity / recei

[2020-12-14 20:53] corinagum opened #3640 "Verify/Update Azure DevOps authorization connection"
Due to an expired auth connection, pipelines status updates weren't getting sent to GitHub.

![image](https://user-images.githubusercontent.com/14900841/102132122-0afdd580-3e08-11eb-8fcd-933fc0843f5a.png)
 (Since the CI passed, this PR should be merge-able)
- [Build results](https://fuselabs.visualstudio.com/BotFramework-WebChat/_build/results?buildId=194650&view=results)
- [Original PR](https://g

[2020-12-14 21:02] selvaduraiece commented on #3639
Hi Stevkan,
Attached webchat code. For dialog code since I am using composer sharing screenshot
![image](https://user-images.githubusercontent.com/40558980/102131305-07099c00-3e78-11eb-944b-e05522ffd09d.png)
and then resume dialog
![image](https://user-images.githubusercontent.com/40558980/102134971-41296c80-3e7d-11eb-8af0-054eabc26aee.png)

[WebChat-github.zip](https://github.com/microsoft/BotFra

[2020-12-14 21:14] selvaduraiece commented on #3639
One more thing I am using ES5 version webchat. Majorly our client want IE11 support, that's y

[2020-12-15 09:24] stevkan commented on #3639
@selvaduraiece, thank you for your files/details. I'll take a look at them and see if I can repro your issue.

[2020-12-15 11:17] HesselWellema commented on #2745
Good luck with this one @compulim 👍

[2020-12-15 18:09] #3392 closed

[2020-12-15 22:23] stevkan commented on #3638
@007-fr, please check the size of the overall file being sent. There is a 4MB size limitation, as specified [here](https://docs.microsoft.com/en-us/dotnet/api/system.web.configuration.httpruntimesection.maxrequestlength?redirectedfrom=MSDN&view=netframework-4.7.2#property-value). Direct Line, which Web Chat is built off of, has adopted this default limitation; this limitation cannot be bypassed, u

[2020-12-16 08:12] selvaduraiece commented on #3639
Hi Steven, Any update on this? it quiet urgent requirement. I am suspecting it might be because of the payload I am using. It would be great help if you could help me as early as possible.

[2020-12-16 08:47] selvaduraiece opened #3642 "How to avoid OAuth card on unauthorized site? I am using Webchat/DirectLine and using OAuth card and login automatically in background"
Hi Team,

I have hosted webchat using Static website which comes along with the bot framework.  I have already configured SSO as well.
I have added an OAuth card in the 'ConvesationUpdateActivity' once user clicks on Login button and gets authenticated and then proceeds further.
![image](https://user-images.githubusercontent.com/40558980/102324445-e0e31980-3fa7-11eb-9a96-eca9b93563d2.png)
**Is the

[2020-12-17 01:28] stevkan commented on #3628
The token expires after 60 mins (3600 sec / 3600000 ms).

As for notifying the user when the token has expired, that can be achieved by doing something like this simplified example. Essentially, we are detecting if/when the `TOKEN_EXPIRED` connection status is dispatched. When it is, we notify the user asking them if they would like to start a new conversation. Next, detect if the user responds wi

[2020-12-17 01:31] stevkan commented on #3628
Closing this as resolved.

[2020-12-17 01:31] #3628 closed

[2020-12-17 01:45] stevkan commented on #3642
@selvaduraiece,

If I'm understanding correctly, you have SSO built into the hosting page and now you would like to do the same for Web Chat so user's don't receive the 'Login' button. Am I correct?

If so, please look over the Web Chat [SSO samples](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/07.advanced-web-chat-apps), in particular [sso-on-behalf-of-authentication](htt

[2020-12-17 01:58] stevkan commented on #3633
@vojtechkacmarik, thank you for your patience. Are you able to include all of your Web Chat code so I can look it over? Also, the code that is responsible for receiving the response and is generating the error, bot-side?

[2020-12-17 02:10] stevkan commented on #3634
@vojtechkacmarik,

Does your bot send any activity as part of `onMembersAdded` when a user joins? If so, could you try putting a delay (~1 sec) on the Web Chat generated activity that sends `webchat/join`? I've seen some instances of the two colliding which, in typical cases, generates nothing more than a time out warning on the activity in browser's dev console. You errors don't suggest it's the

[2020-12-17 04:39] selvaduraiece commented on #3642
No, SSO is not built on hosting page. It is just a static page. I wanna do login without button click. May b somewhere in background also fine.(using activity/making APIcall)

[2020-12-17 19:30] stevkan commented on #3623
@arman-g, I did some additional testing and I can only get this problem to present itself when, as described above, a message sent from Web Chat to the bot is delayed because the bot is busy sending an initial message during `onMembersAdded`. Outside of `CONNECT_FULFILLED` and `CONNECT`, are there any other instances (`action.type`'s) where a message is being sent to the bot at start up?

It may t

[2020-12-17 23:52] arman-g commented on #3623
Hi @stevkan, I found the answer to my question why 4.10.1 was not showing the warning. As I assumed at the beginning of this tread is that printing the warning under the console was added in the latest version with this commit  [fe64eac](https://github.com/microsoft/BotFramework-WebChat/commit/fe64eaca05dbafa7c3666ed3fb896d0eb95ab934#diff-8e7327215b830d4136a007ae7ad4630a7a4f0bb42a1f7889cf1b4cfe34b

[2020-12-18 04:51] arman-g commented on #3623
@stevkan, ok my last tests show that using dispatch takes about 5 seconds and then shows the warning message in the console.
[code]
Using this code takes 1.5 seconds and and does not show the message:
[code]
There is defenfatly something wrong with the dispatch approach.

[2020-12-18 14:36] 007-fr commented on #3638
If I take that data and save it as a file, the file is only 62KB.  (the saved image works as well)

![image](https://user-images.githubusercontent.com/66075770/102626118-6683d800-4114-11eb-94a4-7747ca4fe108.png)

[2020-12-18 17:59] stevkan commented on #3623
@arman-g, I'm glad you were able to find a workable solution.

At @corinagum, this seems like a bug that didn't exist prior to v4.11.0. How a Cx has setup their web chat store + bot seems to determine whether the issue presents itself or not.

[2020-12-18 18:12] priyababu opened #3643 "BackChannel Mechanism and DirectLine Speech - Unable to subscribe to events sent by the bot"
**Facing issues with backChannel event handling through directLine speech channel.**

Unable to subscribe to the events/activities sent by the Bot. The code snippet is included and the problem area is highlighted with red box. I get a runtime error, “TypeError: adapters.directLine.activity$.filter is not a function”.

As per our login flow, the client should listen for the ‘loginRedirect’ event fr

[2020-12-18 19:09] corinagum commented on #3623
@stevkan Thanks for the investigation and FYI! I will add this to our list for scheduling.

[2020-12-18 19:11] taicchoumsft commented on #3627
@corinagum  any updates on this?

[2020-12-18 19:39] corinagum commented on #3627
@taicchoumsft thanks for the ping. I messaged the reporting developer via Teams for a response, since I can't seem to find his GitHub handle. Also added this to the R12 milestone so the action item doesn't fall through the cracks.

[2020-12-18 20:23] corinagum commented on #3627
@DDEfromOR do you have feedback for the token issue? Feel free to close this and address it at #2343 instead.

[2020-12-18 20:25] #3627 closed

[2020-12-18 22:13] compulim commented on #3643
In DLJS, we are using RxJS 5, thus, you have access to RxJS functionality including `filter` operators.

In DLSpeech SDK, we are using ES Observable, which is drafted by TC39 and becoming a JavaScript standard. It don't offer any operators like `filter`.

If you are interested to use RxJS in DLSpeech SDK, you can read more at https://rxjs.dev/api/index/function/from.

[2020-12-18 22:13] #3643 closed

[2020-12-21 14:54] selvaduraiece commented on #3639
Hi Steven, Any update on this?

[2020-12-21 14:55] selvaduraiece commented on #3642
Hi, Any update on this?

[2020-12-21 17:37] arman-g opened #3644 "Changing user ID"
Is there a way to change/update the user's ID in webchat during conversation with the bot? If yes then how (an example would be great). Thank you!

[2020-12-21 18:51] stevkan commented on #3560
@ivanELEC, @utkarsh2827, I do see some curious results when playing with adaptive cards and speech, but it doesn't quite align with what you are reporting. At this particular moment, I still can't quite the issue.

In the mean time, can you tell me if the same occurs if you don't use templating for the adaptive card and just pass a regular adaptive card with a speak property? Also, what happens if

[2020-12-22 06:29] akamwand opened #3647 "WebChat Send Box takes up entire iFrame in iOS"
## Screenshots

![image](https://user-images.githubusercontent.com/65671760/102855642-a71c7380-43ea-11eb-8b0c-edeef37329d5.png)
![image](https://user-images.githubusercontent.com/65671760/102855731-c74c3280-43ea-11eb-8827-51962cd455b1.png)

## Version

Running latest WebChat V4

## Describe the bug

The webChat window should dynamically resize to HTML iFrame element on mobile iOS viewports, howeve

[2020-12-22 15:11] priyababu commented on #3643
I tried subscribing to the DLSpeech channel to listen to events sent by Bot, as suggested by @compulim. Error was resolved but the Webchat is not responding to any activity sent by the bot. Looks like I am missing something. Need help with listening to events sent by bot through DirectLineSpeech channel. @compulim can you share a client side code snippet that subscribes/observes to the events sent

[2020-12-22 15:19] UtkarshSinghal17 opened #3649 "Chatbot Avatar image not showing for all message"
I am using webchat-es5.js CDN.

## Describe the bug

 I am using botAvatarImage style property to Show chatbot image but If I am sending two activity from bot  to any user response then only for one activity image is coming and for second activity chatbot avatar not showing.

## Steps to reproduce
Step 1: use Webchat-es5 js
Step 2: In  window.WebChat.renderWebChat under styleOptions provide botAva

[2020-12-22 15:29] UtkarshSinghal17 commented on #3560
@stevkan  Yes Its happening with V4.11.0 as well.
I have created adaptive card using json and If I am not providing Speak property then nothing is speak
but if I provide Speak property then its speak it 2 times.
I am using C# in backend and webchat-es5.js
I am sending Adaptive card using below code of piece.

                   var cardPath = Path.Combine(".", "AdaptiveCards", "XYZ.json");

[2020-12-22 18:09] stevkan commented on #3647
The issue is occurring because you are passing defined values to `height` and `width` in "#webchat>*". If you leave those two values set at 100%, the issue goes away. Can you please reset those two values and try again?

[code]

[2020-12-22 18:35] corinagum commented on #3649
Because attachments are technically the same activity as the text before, the avatar message is only displayed once.

You can look into this sample for more info: https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.custom-components/k.per-message-avatar/ but please note there are some bugs that have yet to be addressed.

[2020-12-22 18:44] stevkan commented on #3649
@UtkarshSinghal17, this is also expected behavior as of v4.10.0. As you can see from the change log, posted [here](https://github.com/microsoft/BotFramework-WebChat/releases/tag/v4.10.0):

Closing as resolved.

[2020-12-22 18:44] #3649 closed

[2020-12-22 22:20] dmvtech commented on #3644
Hi @arman-g You want to change the user's ID during a conversation? Are you looking to change the actual user ID or just a name or some identifier that is associated with the user? Can you give more information on the scenario?

[2020-12-23 03:37] akamwand commented on #3647
Thank you for the suggestion, I tried it out but unfortunately I get the same result where the send box takes up the full height of the iframe that I am placing my HTML in. The screenshot below is with your style changes implemented.
![image](https://user-images.githubusercontent.com/65671760/102956239-6467a380-449d-11eb-9bf8-13cb2f92a6b4.png)

I have also attached the screenshot below, where I ta

[2020-12-23 07:24] arman-g commented on #3644
Hi @dmvtech, I am looking to change user's ID but if possible name too. Our chatbot is going to be stand alone web app where the user would not be authentication at start. To identify the user we use AdaptivCards to get the user input during conversation between bot and the user. Below I am providing a screenshot of our chat where we request the user to enter the required info. After identifying t

[2020-12-23 18:36] #3565 closed

[2020-12-23 19:33] dmvtech commented on #3644
To clarify; you want to change the `From.Id` (this is what you mean by users ID)? Is there a particular reason you need the from.Id to be the same as the JID? I'm guessing you have some sort of conversation state that you want kept, otherwise it wouldn't matter what from.Id was at all.

I'm not sure about changing from.id during conversation and how that would/will affect the state of the conversa

[2020-12-23 20:46] itpropro commented on #3623
I have exactly the same problem. Something seems to be off with the dispatch method as it works as expected with directline.postActivity but times out with dispatch. Very strange...

[2020-12-23 22:08] #3644 closed

[2020-12-23 22:18] arman-g commented on #3644
Thanks @dmvtech, we save the state in our bot and JID is one of the fields. The reason I wanted to change the user id with jid is for handing off the conversation to the live agent. I assume the turn context will be supplied to the agent hub which will have the user id. Anyway, I guess I can't change it after the conversation started but it would be very helpful if webchat supported that in the fe

[2020-12-24 00:33] #2745 closed

[2020-12-25 13:17] selvaduraiece commented on #3639
@stevkan @peterinnesmsft - Team  any update on this? If needed, I can even raise a support ticket for the same. It would be great help if I could get some resolution. UAT is about to happen.

[2020-12-25 13:18] selvaduraiece commented on #3642
@stevkan @peterinnesmsft @taicchoumsft - Team any update on this? If needed, I can even raise a support ticket for the same. It would be great help if I could get some resolution. UAT is about to happen.

[2020-12-27 21:27] HebatallaTarek opened #3650 "Base 64 local images not rendered in Webchat after deployment to azure web app"
## Version

Webchat V4 embedding into website using iframe

## Describe the bug
I generate local base64 images and upload it to azure blob then use the blob URL  to be displayed into Hero Card , when i run through emulator everything works fine but once i deploy to azure web app nothing is rendered i wait for hero card to be displayed but nothing appear an no errors in logs

I tried to use relativ

[2020-12-28 19:53] joshgummersall commented on #3650
How big is the image file? The Emulator does not enforce a file size limit, but DirectLine does.

[2020-12-28 21:16] HebatallaTarek commented on #3650
@joshgummersall  it's 221.4 KB i know  from previous posts that the limit of image size is 4 MB

[2020-12-28 21:51] joshgummersall commented on #3650
What is the path that shows up in the browser when rendering the image?

[2020-12-28 22:04] HebatallaTarek commented on #3650
@joshgummersall  sorry i did not get what you mean by path in the browser ? i embed iframe  in html to use webchat

[2020-12-28 22:06] joshgummersall commented on #3650
Within the iframe, there should be some HTML that renders an image. Could you copy and paste that HTML so I can see the image path?

[2020-12-28 22:06] joshgummersall commented on #3650
Within the iframe, there should be some HTML that renders an image. Could you copy and paste that HTML so I can see the image path?

[2020-12-28 22:11] HebatallaTarek commented on #3650
`<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Web Chat: Full-featured bundle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <script src="https://unpkg.com/markdown-it@8.4.2/dist/markdown-it.min.js"></script>
    <style>
      html,
      body {

[2020-12-28 23:00] joshgummersall commented on #3650
If you use a browser like Edge, Chrome, or Firefox you should be able to "Right Click - Inspect" rather than just viewing the source of `index.html`. This includes all DOM updates made by Javascript code. The code you included looks like the results of "Right Click - View Source" which do not include any DOM updates.

u reproduce the issue (i.e. receive a message with an image card) you should be

[2020-12-28 23:21] HebatallaTarek commented on #3650
@joshgummersall  unfortunately no it does not work as the bot reply of image not received to be inspected

[2020-12-28 23:49] joshgummersall commented on #3650
Hey @stevkan, it looks like this issue is related to https://github.com/microsoft/BotFramework-WebChat/issues/3638. Any idea what might be going on?

[2020-12-29 05:23] Amit8527510735 opened #3651 "[Screen Readers-Intelligent Support Experience-Start Over]: Voiceover focus is not moving to the multiple buttons that displayed after typing Start Over in the chat box while navigating using right swipe."
Note:
Same issue repros through out the iris chatbot where similar type of control is present.

PWD Impact:
Users who rely on keyboard and screen readers are impacted as Voiceover focus is not moving to the multiple buttons displayed after typing Start Over in the chat box while navigating using right swipe.

Test Environment:
Device: iphone X
OS: iOS version 13.6.1
Microsoft Teams: 1416/1.0.02020

[2020-12-29 05:29] #3651 closed

[2020-12-29 05:29] Amit8527510735 commented on #3651
By Mistaken copied the bug.

[2020-12-29 12:38] cxbuilders opened #3652 "AD SSO setup"
I have searched a lot and the information available for SSO for Active Directory using the Web Channel is very difficult to find / consume. I did manage to find the Samples posted here:
https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/07.advanced-web-chat-apps

My questions are based on the assumption of a WebChat implementation on a basic page with no authentication whatsoeve

[2020-12-29 17:26] stevkan commented on #3633
Closing due to inactivity. If the issue persists, please feel free to reopen.

[2020-12-29 17:26] #3633 closed

[2020-12-29 17:27] stevkan commented on #3634
Closing due to inactivity. If the issue persists, please feel free to reopen.

[2020-12-29 17:27] #3634 closed

[2020-12-29 18:01] stevkan commented on #3638
@007-fr, can you go into greater detail as to how the image is being generated during runtime (assuming server-side), including attaching your code? I tested passing a PNG file, length ~155k characters, with the same name shown in your attached pic, and I have had no issue with either a local or Azure deployed bot. You said a smaller image works - how about a larger image? Does the issue present i

[2020-12-29 23:16] stevkan commented on #3650
@HebatallaTarek, this is actually expected behavior. Emulator is built in Electron which, when started, runs a server and has access to the local file system. Files uploaded in Emulator are stored with generated URL endpoints as part of the server process thus making them accessible at a later point (while running). Web Chat, running in a browser, is simply a client that **does not** have access t

[2020-12-29 23:20] stevkan commented on #3638
@007-fr, please also look at the response I posted in the above linked issue, #3650, as it may pertain to you here. I'm not certain where your runtime generated images are being stored and accessed from, however local files won't render in a card. They do have to be remotely sourced.

[2020-12-29 23:31] stevkan commented on #3652
@cxbuilders, did you look over Web Chat sample [b.sso-for-enterprise](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/07.advanced-web-chat-apps/b.sso-for-enterprise)? From what I can tell, this _should_ do what you are looking for.

[2020-12-30 01:44] stevkan commented on #3647
I believe it just comes down to the nature of an iframe element. As Mozilla defines it [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe),

The iframe element has its own context and, therefore, needs its width and height to be defined within the hosting document. Setting the Web Chat instance's width and height only leaves it, I think, in a sort of unbound state. However, if

[2020-12-30 03:05] akamwand commented on #3647
I was finally able to get the desired WebChat view. I did have control over the width and height for the iFrame element that contained my WebChat html code, that remained the same as the parent iFrame element does not allow me to use % sizing for responsive design and only px sizing.

It appears that the WebChat window will fill it's container element entirely only if all the elements in WebChat a

[2020-12-30 11:07] HebatallaTarek commented on #3650
@stevkan  hello , i mentioned in issue description that i already uploaded the image to Azure Blob and use the URL inside Hero Card and also it did not work  what you suggest ?

[2020-12-30 11:17] HebatallaTarek commented on #3650
@stevkan  @joshgummersall  please reopen the issue

[2020-12-30 11:30] HebatallaTarek commented on #3650
@joshgummersall  @stevkan  Please i would like to reopen the issue  till we reach solution

[2020-12-30 14:30] GewoonMaarten commented on #3062
I wanted to pick this issue up, but it appears that it was already fixed.

I build `master` and the sample worked fine. I looked for other lines like this one `<script type="text/babel" data-presets="es2015.react,stage-3">` with the search pattern `es2015[^,]react[^,]stage-3` and `es2015[^,]react`  but couldn't find any.

[2020-12-30 18:52] stevkan commented on #3647
I think the only way you are going to get the kind of control you are seeking, assuming Wix allows this, is to construct your own Web Chat iframe instance. Rather than pass in the pre-generated Web Chat iframe control, pass in a normal HTML page + Web Chat component into the iframe element. In this way, you will have full control of the CSS in both the hosting page and in the embedded page.

**Hos

[2020-12-30 18:56] joshgummersall commented on #3650
@HebatallaTarek, can you share a fully Azure Blob Storage URL? It's possible you could be uploading a file without the proper permissions for public access. It's also possible that the browser refuses to render the image because the blob doesn't have the correct metadata.

[2020-12-30 19:21] HebatallaTarek commented on #3650
@joshgummersall  thanks josh for your response , okay sure it's  https://smarterachatbot.blob.core.windows.net/tempimage/tamweencard-blob
I know by default it's private access , but i change private settings to anonymous access

[2020-12-30 19:59] joshgummersall commented on #3650
@HebatallaTarek, try to set the Content-Type of the blob to something like `image/jpeg`. It's currently reported as `application/octet-stream` which is likely why the browser is not rendering it as an image.

[2020-12-30 20:45] HebatallaTarek commented on #3650
@joshgummersall  thanks josh , i tried your suggested solution now , but unfortunately it did not work after changing content type

[2020-12-30 20:48] joshgummersall commented on #3650
@HebatallaTarek you've used the wrong mime type:

[code]

It should be `image/jpeg` _exactly_. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types for a list of common mime types.

You should be able to visit https://smarterachatbot.blob.core.windows.net/tempimage/tamweencard-blob in your browser and see the image rendered. At the moment, for me, it forces

[2020-12-30 20:52] HebatallaTarek commented on #3650
@joshgummersall  yes i make it as Jpg as it's path was  Jpg type before uploading to Blob , okay i will try to change it  right now and deploy again

[2020-12-30 21:16] HebatallaTarek commented on #3650
@joshgummersall  i change type and the url render not download like before , but it did not render in webchat i can not understand why ?

[2020-12-30 21:24] joshgummersall commented on #3650
@stevkan do you have any other ideas? I've verified that the URL points to a file hosted on Blob Storage that is accessible and has the proper image mime type.

[2020-12-30 21:33] HebatallaTarek commented on #3650
@joshgummersall  I tried multiple browsers and the same issue , i checked  Avg response time and it did not exceed 15 sec logs files of deployed version nothing appear as error  , it has to work normally like any image url inside hero card ,  so strange

[2020-12-30 22:25] HebatallaTarek commented on #3650
@joshgummersall  i noticed   something but i would like to verify if it's right or not from you , normally in Hero Card Images [] we use url ended with extensions like .png / ,jpg  , but in blob URL  we have here it's not ended with that extensions , could that make confusion in card template to be  rendered ?

[2020-12-30 22:27] joshgummersall commented on #3650
I'm not as well versed in the specifics of rendering cards, but it's certainly worth a shot. In general, browsers won't render images without the proper mime type. The library may do extra validation on URLs as well, so I would definitely suggest giving that a shot.

[2021-01-02 12:25] dominiquehunziker commented on #3623
I believe this is not just a problem which occurs while sending welcome messages, but also for proactive messages.

When I run the [proactive messages sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/16.proactive-messages) as a bot and launch the webchat using the [getting started sample](https://github.com/microsoft/BotFramework-WebChat/blob/master/sampl

[2021-01-04 12:36] Edwardfelix08 commented on #2186
Hi @jchen706,
Can you direct me to the sample or the reference to getting the Speech integrated in this sample
I am working on this speech integration not able to figure it out.
Any help will be much appreciated.

Thanks in advance.

[2021-01-04 15:38] 007-fr commented on #3638
The image is generated from SSRS via a webservice call at runtime. Once this data is generated, I use the base64 data to display the image in the webchat.  I also save the image in a file system so the user can view a larger size of it if needed. For the image in question, it does not show in the webchat, however the saved image in the file system works fine.

I will add a delay and see what happe

[2021-01-04 15:45] 007-fr commented on #3638
[#3650 ](https://github.com/microsoft/BotFramework-WebChat/issues/3650) is not related to the issue I am seeing because I am using the raw base64 image data itself on the adaptive card(not a URL). This data is returned directly from the webservice call. Once I get the raw data back, I place it in a string(.Net Code) and use the data directly on the Adaptive Card. Here is a snippet of the actual .l

[2021-01-04 19:00] stevkan commented on #3560
@UtkarshSinghal17, thank you for your patience and for the code snippets. I will take a closer look at this today and provide a response before EOD.

Also, could you provide your Web Chat code, if possible?

[2021-01-04 19:25] stevkan commented on #3639
@selvaduraiece, thank you for your patience. Unfortunately, I've had encountered a separate issue in Composer that is hindering me from assisting you properly. I'm assigning this to a colleague of mine who  will continue to provide assistance.

[2021-01-04 19:43] stevkan commented on #3642
@selvaduraiece, there is no way to log in a customer automatically without the user initiating / approving the process at some point, whether that is a button on the page, as part of the conversation with the bot, or having logged in on the same device in another app.

[2021-01-04 21:30] compulim commented on #3535
Commented on the gist.

[2021-01-05 00:20] stevkan commented on #3560
@UtkarshSinghal17, I tested using your code above and I am still unable to repro the issue. I suspect the problem lies in your Web Chat implementation and will await the code, providing you are able to post it.

[2021-01-05 00:46] HuaTang92 commented on #3562
Hi @corinagum, this is the exact same issue I'm also facing with - text in suggested actions is cut-off when too long. And I'm happy to see it's been moved to in progress recently. If possible, could you also share me the ETA of it? Thank you.

[2021-01-05 12:53] ivanELEC commented on #3560
Hi @stevkan we also get no speech at all when we do not use the speak property.

When you say "Web Chat Implementation" I'm assuming you mean the code for the web chat being generated in the front end? If that's the case, I'm using the ReactWebChat component (however as said before - this error still occurs when we use the example I shared earlier in this thread that utilises renderWebChat directy

[2021-01-05 17:45] stevkan commented on #3652
Closing as resolved.

[2021-01-05 17:45] #3652 closed

[2021-01-05 19:10] ivanELEC opened #3654 "Cannot Link Telemetry to ReactWebChat Component"
## Version

Botframework-webchat version 4.11.0 - NPM

## Describe the bug

I am using the ReactWebChat component to render a bot in a React App, I want to apply telemetry to the web chat so that I can have app insights, I was trying to find out how to implement this via [this link](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api/k.telemetry-application-insights), but

[2021-01-06 01:53] dmvtech commented on #3639
Hi @selvaduraiece I have attempted to setup a working repro, and I think i have the bot setup correctly and perhaps most of the webchat. the one thing I am unclear on is how the function `sendProactiveMsg()` is being fired? How is that being triggered?

[2021-01-06 02:22] stevkan commented on #3638
I tested sending a data URI (base64 string) in as a template value and it worked just fine for me. This is what I used.

**lg file**
[code]

**template.json**
[code]

The result is the blue beaker image displays in the adaptive card.

![image](https://user-images.githubusercontent.com/18403946/103721493-a35c2580-4f82-11eb-8a34-2c70a90f9fbd.png)

Can you share a base64 string of an image that is no

[2021-01-06 05:05] selvaduraiece commented on #3639
Hi,

Find  the attached Front end JavaScript which triggers the sendProactiveMsg(). If the user is Idle for 3 minutes then I am calling the function.(Payload also included in the script)
[chat.txt](https://github.com/microsoft/BotFramework-WebChat/files/5773969/chat.txt)

[2021-01-06 05:07] selvaduraiece commented on #3642
Hi can you help me with example for logging in as a part of conversation?

[2021-01-06 08:22] compulim commented on #3083
I am building a prototype for inline suggested actions. The "inline flow" layout would looks like:

https://user-images.githubusercontent.com/1622400/103744735-1da49e00-4fb3-11eb-8ce4-448521aaceff.mp4

You can find the [branch here](https://github.com/microsoft/BotFramework-WebChat/compare/master...compulim:feat-inline-suggested-actions?expand=1).

Few notes on the prototype:

- Need to continue t

[2021-01-06 17:28] #3647 closed

[2021-01-06 19:13] stevkan commented on #3654
To use the `ReactWebChat` version, you simply need to include the necessary React CDN packages and then call the `ReactDOM.render()` method instead of `renderWebChat()`. Once set up, I can see the relevant traffic in App Insights.

![image](https://user-images.githubusercontent.com/18403946/103810323-edd7b380-500f-11eb-81a6-aceb01a16ea5.png)

See the attached file for a complete example.
[basic-te

[2021-01-06 19:14] stevkan commented on #3654
Closing as resolved.

[2021-01-06 21:06] ivanELEC commented on #3654
Is there a method to do this using purely npm packages (using applicationinsights) instead of CDN bundles?
We are running this react app via a node project (create-react-app template) and I can't add this function into my component due to not being able to reference the dependencies.

[2021-01-07 15:20] nfreear opened #3655 "Accessibility issues found during ADMINS testing"
Dear WebChat​ developers,

We've been using WebChat in a chatbot for the _Microsoft AI for Accessibility_-funded [ADMINS project](https://iet.open.ac.uk/projects/admins), here at The Open University.

For our text and speech-enabled Web-based Chatbot we are particularly concerned about accessibility, so accessibility experts (_Chetz Colwell_, and _Steven Price_) have done evaluations and testing f

[2021-01-07 15:25] nfreear opened #3656 "bug: Missing tabindex on video player start button [accessibility]"
Hi,

 * Relates to :~ #3655.

There is a missing `tabindex​` attribute on video players within adaptive cards, which I can see is fixed in ['AdaptiveCards' 2020.06](https://github.com/microsoft/AdaptiveCards/releases/tag/2020.06) (2.5.0); Pull request: https://github.com/microsoft/AdaptiveCards/pull/4182.

Unfortunately, I can see that WebChat 4.11.0 still [uses the older, unfixed AdaptiveCards 1.

[2021-01-07 15:50] nfreear opened #3657 "bug: CSS 'outline' is missing when WebChat buttons, text fields and links receive focus [accessibility]"
Hi,

 * Relates to :~ #3655;

## Screenshots

## Version

 * WebChat.js version :~ 4.10.1;
     - JS :~ https://cdn.botframework.com/botframework-webchat/4.10.1/webchat.js;
 * All browsers, all browser-versions, all platforms;

## Describe the bug

When I as a visual user navigate a _WebChat_-based Chat-bot using the keyboard, I can't tell which button or text-field has received focus, as the CSS

[2021-01-07 16:29] nfreear opened #3658 "bug: The WebChat container's role should not always be 'complementary' [screen reader accessibility]"
Hi,

 * Relates to :~ #3655.

## Screenshots

## Version

* WebChat.js version :~ 4.10.1;
* JS :~ https://cdn.botframework.com/botframework-webchat/4.10.1/webchat.js;

## Describe the bug

Sometimes a Chat-bot will be _additional_ content on the Web-page, set apart from the `main` content. However, other times a Chat-bot will be the only or main focus of the Web-page.

In these cases `role=complem

[2021-01-07 16:57] nfreear opened #3659 "bug: Provide more context when links open in a new window/tab [screen reader accessibility]"
Hi,

 * Relates to :~ #3655.

## Screenshots

## Version

 * WebChat.js version :~ 4.10.1;
 * JS :~ https://cdn.botframework.com/botframework-webchat/4.10.1/webchat.js;

## Describe the bug

As a screen reader user, when I follow a link from within a _WebChat_-based Chat-bot, it is set to open in a new window/tab in my browser, which will confuse me and mean that my _Back_ button doesn't work.

##

[2021-01-07 17:44] ivanELEC commented on #3654
Could this ticket be re-opened for the question above or should I make a new ticket? Since using CDN bundles for applying application insights may be a security/factoring risk for us.

[2021-01-07 23:54] stevkan commented on #3654
Using the [BotBuilder-ApplicationInsights](https://www.npmjs.com/package/botbuilder-applicationinsights) NPM package _should_ give you access to the same functionality. However, configuring for use in Web Chat will likely require some tinkering. The instructions on the NPM page won't directly apply as they are specific to writing code for a bot. Unfortunately, I haven't tested this kind of setup,

[2021-01-08 06:10] vpysaran opened #3660 "Webchat V4 Adaptive carousel cards are not displaying in proper format"
In Webchat v4 we are using adaptive card to display data in table format with carousel, on each card displaying 5 records but cards are rendering side by side as below.
Issue screenshot:
![image](https://user-images.githubusercontent.com/18364383/103980461-f19d3e80-51a5-11eb-9300-8cb16dddca31.png)
We want to display as below
Expected result:
![image](https://user-images.githubusercontent.com/18364

[2021-01-08 19:18] gabog commented on #3655
Hi @cwhitten, can you please triage this one?

Thanks

[2021-01-08 19:19] gabog commented on #3656
Hi @compulim, can you please take a look at this one?

Thanks

[2021-01-08 19:20] gabog commented on #3657
Hi @compulim, can you review this issue?

[2021-01-08 19:20] gabog commented on #3658
Hi @compulim, can you review this issue?

[2021-01-08 19:21] gabog commented on #3659
Hi @compulim, can you review this issue?

[2021-01-08 19:26] gabog commented on #3660
Hi @compulim, can you review this issue?

[2021-01-10 22:49] ivanELEC commented on #3654
Hello Steven,

Thanks, I ended up succeeding by using the Microsoft Application Insight SDK:
https://www.npmjs.com/package/@microsoft/applicationinsights-web

I initialised the appInsights object:
[code]

Once I have my direct line I populate the appInsight objects context properties so that the logs are traceable:
[code]

then I use the handleTelemetry function that's in the example provided:
[co

[2021-01-11 12:16] selvaduraiece commented on #3639
Hi Dana,

Any update on this?

[2021-01-11 14:51] caleberi opened #3662 "Intergrating Chatbot with onscreen Keyboard"
Due to how the chatbot was written it seem quite difficult intergrating it with an HTML/JS/CSS onscreen keyboard , As one can not trigger a submit event and also update the search input . please any suggestions?

[2021-01-11 18:09] nfreear commented on #3658
Hi @compulim,

I'm working on a fix based on my proposal above ...  hopefully have a pull-request to follow ;).

Nick

[2021-01-11 18:26] stevkan commented on #3650
@HebatallaTarek, @joshgummersall, apologies. I somehow missed this discussion in any notifications.

It looks to me that the wrong URL is being supplied. You appear to be using the literal path to the file  (https://smarterachatbot.blob.core.windows.net/tempimage/tamweencard-blob). You want to use the generated URI for the shared access signature (SAS) you create for the image. After specifying th

[2021-01-11 18:38] corinagum commented on #3535
Thanks. I didn't find instance of therfore but everything else was addressed & will be pushed up shortly.

[2021-01-11 19:04] compulim commented on #3660
Depends on the width of the chat UI, the carousel flipper will show up when the space become tighter.

If you want to force it to show as a vertical stack, you can set the `attachmentLayout` to `stacked` when you send the activity. You can find the `attachmentLayout` in [this article](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-

[2021-01-11 19:14] compulim commented on #3659
We only support plain text and Markdown content. For this type of work, I recommend you to pass a custom Markdown renderer to do so.

This is a topic outside of Web Chat, but out of my personal experience, you could use Markdown-It to achieve the job.

1. [Parse the Markdown into a tree of token](https://markdown-it.github.io/markdown-it/#MarkdownIt.parse)
2. Walk the tree of token, add `sr-only`

[2021-01-11 19:17] corinagum commented on #3062
@GewoonMaarten thanks for letting us know! Closing as resolved.

[2021-01-11 19:17] #3062 closed

[2021-01-11 19:18] compulim commented on #3657
You could deploy idiosyncratic styling for adding `outline` CSS property. I believe there will be multiple components need to have `outline` added.

You can look at the samples here, https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.branding-styling-and-customization/b.idiosyncratic-manual-styles.

Currently, our design team prefer to use a darker color for focus indicator,

[2021-01-11 19:20] compulim commented on #3656
We bumped to Adaptive Cards 2.5.0 in our dev build and it will be released on 4.12.0.

[2021-01-11 19:22] #3656 closed

[2021-01-11 19:23] #3654 closed

[2021-01-11 19:26] compulim commented on #3622
I think the activity is an Adaptive Card.

Adaptive Card should not be used for a one-off choice prompt. It is designed to be able to repetitively submitted. Thus, no selected state is given.

For one-off choice prompt, please use suggested actions.

[2021-01-11 19:28] compulim commented on #3621
I believe this is an Adaptive Card.

Adaptive Card is designed to allow repetitive input, thus, selection is not marked. For one-off choice prompt, please use suggested actions, or render a custom activity.

[2021-01-11 19:30] compulim commented on #3620
This is an Adaptive Card issue. Web Chat uses Adaptive Card library to render the content. And the accessibility in the content seems broken.

Can you repro it on https://adaptivecards.io/designer/?

[2021-01-11 19:31] nfreear commented on #3659
Hi @compulim,

Yes, the example HTML above was output, not Markdown passed into a Bot.

The "_I_" in my report above is the end-user, not me specifically. Apologies if that wasn't clear.

I'm not concerned about my implementation specifically. I'm trying to help `WebChat` support better, more accessible behaviour by default ... most implementors are not going to bother passing a custom Markdown re

[2021-01-11 19:32] nfreear commented on #3656
Hi @compulim,

Good to hear. Thanks for the response,

Nick

[2021-01-11 19:36] compulim commented on #3612
Few things you could try:

1. Use [idiosyncratic styling](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.branding-styling-and-customization/b.idiosyncratic-manual-styles) to make the flipper smaller
2. Use flow layout for suggested actions

Even though the flipper is smaller by 50%, it's still blocking 50% of the button.

Need design team input on how to size the flipper.

[2021-01-11 19:41] compulim commented on #3662
Can you explain a bit more about "HTML/JS/CSS onscreen keyboard"?

May be a video demo will help our team better understand the issue.

[2021-01-11 19:44] corinagum commented on #3562
Hi @HuaTang92. Currently there is no official ETA. I was offline for a few weeks, so I did not add progress to this work item. Web Chat team's planning meeting will most likely be happening soon, after which more information will be available.

[2021-01-11 19:57] #3535 closed

[2021-01-11 23:38] stevkan commented on #3642
There are two samples already available in the BotBuilder-Samples repo, [18.bot-authentication](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/javascript_nodejs/18.bot-authentication) and [24.bot-authentication-msgraph](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/javascript_nodejs/24.bot-authentication-msgraph). These are the JS examples, but they are also

[2021-01-11 23:38] #3642 closed

[2021-01-12 00:03] corinagum commented on #3625
I added `needs-team-attention` label to discuss how to appropriately handle lack of screen reader renderer in minimal bundle. See first item in https://github.com/microsoft/BotFramework-WebChat/issues/3625#issuecomment-740261281 for potential R12 planning.

[2021-01-12 00:11] corinagum commented on #3657
Changing this to feature request - this is by design, and has a workaround as linked above.

This is what Web Chat looks like right now for a focused button:
![image](https://user-images.githubusercontent.com/14900841/104252677-68953a00-5427-11eb-8eed-c66ddfe951f7.png)

Our design does not use outline styling.

[2021-01-12 00:24] corinagum commented on #3659
This is a duplicate of #3087. Closing as dupe.

[2021-01-12 00:24] #3659 closed

[2021-01-12 00:31] corinagum commented on #3658
Assigning to @nfreear. In the future, please provide repro steps as requested in the template.

[2021-01-12 01:27] dmvtech commented on #3639
Hi @selvaduraiece I am not able to get that event firing. I am continuing to work on it.

[2021-01-12 02:38] stevkan commented on #3560
@ivanELEC, unfortunately, I continue to be unable to repro the issue. Given that your Web Chat code works when I test it and that adaptive cards I pass thru also result in a single response, I suspect that the issue lies in your dialog's code. A few new questions with that in mind:

- In the below code, are there values being spoken in both activities being sent? If so, is there any chance they ar

[2021-01-12 03:03] anandk95 opened #3664 "Bot Single Sign On for Angular8+"
We are trying to integrate our chat widget in 3rd party website, where the user will login using Azure AD credentials. Can you please show or point me in direction where i can find how to do it With Angular8+

[2021-01-12 09:07] Amit8527510735 commented on #3620
@compulim  So you are telling this is external to Adaptive Card team? We need to route this to Adaptive Card team ?

[2021-01-12 09:07] Amit8527510735 commented on #3621
@compulim  So you are telling this is external to Adaptive Card team? We need to route this to Adaptive Card team ?

[2021-01-12 09:08] Amit8527510735 commented on #3622
@compulim  So you are telling this is external to Adaptive Card team? We need to route this to Adaptive Card team ?

[2021-01-12 12:04] nfreear commented on #3657
Hi @compulim and @corinagum,

Thanks for your responses ... I've gone back to double-check, with this minimal example — no outline, border, `box-shadow` or similar styling on focus (currently on v1.11.0 of `WebChat`):

 * https://microsoft.github.io/BotFramework-WebChat/01.getting-started/b.minimal-bundle/

In our implementation I've used CSS `box-shadow` — however, I know the importance of a focu

[2021-01-12 12:23] Monomoy88 opened #3665 "(R) is getting automatically converted to Registered Symbol"
## Version
4.10.1

## Problem

Conversation of my bot is driven by QnAMaker.
As per business requirement at certain stage bot response must include D(R)O7 character sequence.
In QnA maker I'm able to store it in same way but (R) is getting converted to registered symbol in bot conversation like this - D®O7.
This is undesirable to our client.

In C# code I can't notice any conversion of character s

[2021-01-12 17:08] caleberi commented on #3662
Great  I will add a video demo to fully explain the issue

On Mon, Jan 11, 2021, 8:41 PM William Wong <notifications@github.com> wrote:

[2021-01-12 17:31] stevkan commented on #3638
Closing due to no activity.

[2021-01-12 17:43] 007-fr commented on #3638
@stevkan I can send it via email since we have an NDA with Microsoft.

[2021-01-12 18:08] v-kydela commented on #3664
Thank you for the question, @anandk95

You can find our SSO documentation here:

- https://docs.microsoft.com/azure/bot-service/bot-builder-webchat-sso
- https://docs.microsoft.com/azure/bot-service/bot-builder-concept-sso
- https://docs.microsoft.com/azure/bot-service/bot-builder-authentication-sso

You can find the Angular Web Chat sample here:

- https://github.com/microsoft/BotFramework-WebCha

[2021-01-12 18:08] #3664 closed

[2021-01-12 18:39] corinagum commented on #3657
**Please provide repro steps for this issue, which the original issue template asks for. If you can't provide repro steps, then please attach screenshots.**

I am unable to determine what you mean by 'no outline, border, box-shadow or similar styling on focus (currently on v1.11.0 of WebChat):' My screencap above shows you an instance of a button being highlighted on focus. This is default behavio

[2021-01-12 22:57] NickEricson opened #3666 "Upgrade Web Chat to support DirectLine-Speech in Fairfax"
## Feature Request

Upgrade Web Chat to support DirectLine-Speech in Fairfax.

In Fairfax you need to connect to a different speech service (i.e. the channel endpoint is different). Web Chat should be updated to allow customers to specify the Fx domain so the correct endpoint is used.

cc @trrwilson for details.

[feature-request]

[2021-01-13 00:19] corinagum commented on #3568
I am closing this as a dupe of #3360 for consolidation.

[2021-01-13 00:19] #3568 closed

[2021-01-13 00:19] corinagum commented on #3360
Related to #3568

[2021-01-13 00:30] corinagum commented on #2294
Adding blocked tag since this would propagate from a DLJS change first.

[2021-01-13 00:41] corinagum commented on #3411
This is related to #3575. Keeping this issue open to ensure we verify fixed behavior post-bump.

[2021-01-13 00:59] corinagum commented on #2211
Adding @Kaiqb to assignees for tracking purposes.

[2021-01-13 01:00] corinagum commented on #3083
Adding @Kaiqb to assignees for tracking purposes.

[2021-01-13 01:00] corinagum commented on #3612
Adding @Kaiqb to assignees for tracking purposes.

[2021-01-13 01:17] corinagum commented on #3640
Needs prioritization & assign to Web Chat team member for follow up.

[2021-01-13 01:23] corinagum commented on #3623
needs investigation: is this related to other direct line timeout issues already filed?

[2021-01-13 01:24] corinagum commented on #3463
related to #2884, #3653

[2021-01-13 01:30] corinagum commented on #3492
1. Does this need design input? Possible to fix in IE11?
2. Potentially related to #3463

[2021-01-13 01:36] corinagum commented on #3434
Needs prioritization

[2021-01-13 01:44] corinagum commented on #3315
I believe this is blocked by https://github.com/microsoft/BotFramework-DirectLineJS/issues/180, confirm?
Mark DLJS issue as bug?
Assigning to @Kaiqb for visibility

[2021-01-13 01:46] corinagum commented on #3245
Needs priority for the sample

[2021-01-13 01:47] corinagum commented on #3215
discussion: What is scope/schedule?

[2021-01-13 01:50] corinagum commented on #3209
Related to #3357 - dev should verify fix for both in same PR

[2021-01-13 01:51] corinagum commented on #3201
I believe this one might be fixed - needs repro and hopefully close.

[2021-01-13 01:54] corinagum commented on #3161
Needs priority confirmation

[2021-01-13 01:58] corinagum commented on #3039
needs prioritization

[2021-01-13 01:59] corinagum commented on #3021
Needs prioritization

[2021-01-13 02:01] corinagum commented on #2702
Needs prioritization

[2021-01-13 02:03] corinagum commented on #2310
Needs prioritization.

[2021-01-13 02:05] corinagum commented on #2128
Assigning to @Kaiqb for visibility.

[2021-01-13 02:21] corinagum commented on #3562
Per discussion with compulim: adding needs-team-discussion to verify if we should have design meeting -- word wrap on buttons is not very common as a default feature

- This would affect flow layout of SA - is word wrap in flow layout possible?
   - height of buttons on the same line may be different.

[2021-01-13 02:24] corinagum commented on #3666
@NickEricson is this a customer request, or planned internally? (for tracking)

[2021-01-13 10:29] venkatx5 opened #3667 "Accessibility Issue - Screen reader reads adaptive card content as "attachment""
We are using webchat-es5.js for our Virtual assistant and our customers are using NVDA screen reader to access it. The screen reads the normal card and user messages properly. But for Adaptive card, it reads as "Bullet A Card" , "one attachment on date time" instead of reading the content. When checked the DOM, the adaptive card has aria-roledescription="attachment" which triggers screen reader to

[2021-01-13 11:24] nfreear commented on #3657
Hi @corinagum,

Sorry, I meant version '4.11.0', and yes I appreciate a screenshot would help!

See the attached screenshot -- focus is on the "Upload" paperclip button, but as the `outline` has been removed, it is almost impossible to tell (the paperclip becomes slightly darker on focus -- easily missed if you don't concentrate hard, or have lower vision).

 * https://microsoft.github.io/BotFrame

[2021-01-13 11:38] nfreear commented on #3655
Hi,

Just noting that I've added a section on _Motivation_ to the above description, as I realise that my point-of-view may not be clear.

Nick

[2021-01-13 11:49] nfreear commented on #3657
Hi @corinagum,

I acknowledge your frustration that I was slow to provide a screenshot and to clarify what I meant. In future, I'll add the "How to reproduce" steps and/or a screenshot at the outset!

Ah, I didn't fully understand what you meant until just now ... that is the "_slightly darker on focus_" that I refer to above, and which I argue is too subtle and an insufficient replacement for som

[2021-01-13 12:18] caleberi commented on #3662
so this is the demo of the issue we are currently facing

https://user-images.githubusercontent.com/31941399/104451374-bf268380-55a1-11eb-86d6-702eeb79e605.mp4

[2021-01-13 12:19] caleberi commented on #3662
any suggestion please?

[2021-01-13 15:50] NickEricson commented on #3666
This is planned work. Sorry if I got the Labels wrong.

[2021-01-13 16:12] VMey commented on #3487
@corinagum can we get an update on when this will be available?

[2021-01-13 17:07] selvaduraiece commented on #3639
Hi Dhana, Was that helpful? hope the event will automatically triggered after 1minute.  Let me know if anything required from my end

[2021-01-13 19:02] corinagum commented on #3657
Thank you for providing the relevant information. I will bring this to our team's attention. However, we have yearly accessibility audits, and this has not been brought up as a deficiency. If we are violating MAS rules, then yes this would become a work item.

In the meantime, manual styling is still an option to our customers to add outline, highlight, etc, if an immediate solution is needed.

@A

[2021-01-13 19:54] amal-khalaf commented on #3619
hi @Amit8527510735  the link provided in the initial issue description is not working
i get a System down error - could you provide a working link
![image](https://user-images.githubusercontent.com/28356655/104503509-027af500-5596-11eb-8ce9-1ae9a3394c05.png)

[2021-01-13 19:56] amal-khalaf commented on #3620
hi @Amit8527510735  the link provided in the initial issue description is not working
i get a System down error - could you provide a working link so i can repro
![image](https://user-images.githubusercontent.com/28356655/104503509-027af500-5596-11eb-8ce9-1ae9a3394c05.png)

[2021-01-13 20:21] corinagum commented on #3667
When using NVDA and JAWS, what browsers are you using them in combination with?

e.g. For Edge, the recommended screenreader is Windows Narrator.

https://microsoft.github.io/BotFramework-WebChat/01.getting-started/a.full-bundle/ When I test an adaptive card (e.g. try the command: card sports) on Chrome+NVDA / Edge+Narrator, I see the intended behavior which is for messages with attachments to fir

[2021-01-13 20:26] corinagum commented on #3487
@VMey Web Chat's action item of bumping AC is completed, (PR #3630) with the intent of releasing it for our R12 milestone (approx. March 8th). However, this issue (3487) is intended to track the Bot Service changes that would need to be made (not part of our open-source content).

I am communicating with the team members who are heading this part of the update and will add a comment here when ther

[2021-01-13 20:30] corinagum commented on #3666
No problem - they're automatic. Just want to make sure they're accurate. :) (Updating now)

[2021-01-13 20:46] amal-khalaf commented on #3605
I tried repro`ing the described issue using JAWS and https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/a.full-bundle
but i see that screen reader announce the incoming activity image properly.

https://user-images.githubusercontent.com/28356655/104508618-5a692a00-559d-11eb-9cdf-fe0b00d80c03.mp4

[2021-01-13 21:54] compulim commented on #3421
Will see if this will be auto-fixed in #3575 (bump Speech SDK).

If not fixed in newer version of Speech SDK, we will need to estimate the cost of this fix.

[2021-01-13 22:00] #3201 closed

[2021-01-13 22:44] compulim commented on #3662
Wondering if the HTML-based virtual keyboard you are using is conflicting with React, or conflicting with Web Chat.

Can you try to add the keyboard to this simple React app and see if it works?

https://codepen.io/compulim/pen/abmQdXq

Code excerpt:

[code]

[2021-01-13 22:50] compulim commented on #3404
FYI, out of my experience, [`pdf.js`](https://mozilla.github.io/pdf.js/) can be used to generate PDF previews inside a browser. But it is quite resource intensive, requires modern browsers (Web Workers), and may not work perfectly with some fonts. It is the PDF reader engine behind Firefox.

You can try build one based from our [custom attachment renderer sample](https://github.com/microsoft/BotFr

[2021-01-13 22:52] compulim commented on #3666
This is related to #3377.

I don't recall, but we might need to bump Speech SDK to get the sovereign cloud support, which is #3575.

[2021-01-13 23:00] compulim commented on #3658
I think it is better to put `role` attribute on the `<ReactWebChat>`, for example:

[code]

My arguments:
- We do have `dir` attribute too, it is not using style options
- It seems more natural and intuitive

For composition version of Web Chat, it will be on the `<BasicWebChat>` component.

[code]

[2021-01-13 23:39] corinagum commented on #3487
Assigned to @Kaiqb for visibility, tracking with the service team

[2021-01-13 23:59] dmvtech commented on #3665
Hi @Monomoy88 I am looking into this to see what alternatives are available.

[2021-01-14 00:27] NickEricson commented on #3666
@compulim I think this is related / duplicate of #3377. I believe the current sdk supports this via a named parameter and the next sdk will support it officially. @trrwilson can explain how to do this and timelines.

[2021-01-14 00:41] dmvtech commented on #3665
Hi @Monomoy88 You need to escape the parenthesis in the answer. Like so:
`D\(R\)O7`

See more info here:
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/reference-markdown-format#supported-markdown-format

[2021-01-14 01:05] caleberi commented on #3662
Thanks, I'll check it out.

On Wed, Jan 13, 2021 at 11:45 PM William Wong <notifications@github.com>
wrote:

[2021-01-14 03:02] trrwilson commented on #3666
Thanks, @NickEricson !

Yes, I've recently published a PR to add friendly `fromHost` and `fromEndpoint` factories to `BotFrameworkConfig` in the JavaScript Speech SDK. You can find that here: https://github.com/microsoft/cognitive-services-speech-sdk-js/pull/303

In the interim, it's fully possible to get all of this functionality (albeit it less elegantly) by setting values in the configuration p

[2021-01-14 06:08] Monomoy88 commented on #3665
Thanks it resolved.

[2021-01-14 06:08] #3665 closed

[2021-01-14 09:40] ivanELEC commented on #3654
Update that I forgot to include here

The handleTelemetry part I did was wrong and following your example more worked - not making a telemetryInitializer function like you did meant that the context values weren't being set, looks more like this

[code]

[2021-01-14 13:23] caleberi commented on #3662
We did not use react in this project just pure JS.

[2021-01-14 15:50] selvaduraiece commented on #3639
Hi Dana,
I am sharing the complete code. Just replace DirectLine secret with yours.
1. Extract the .zip and open WebChat.js and replace your Directline Secret as shown below
![image](https://user-images.githubusercontent.com/40558980/104612509-4829e180-56ac-11eb-87b0-08760f04721a.png)
2. Open Assistant.html and start conversation as below
![image](https://user-images.githubusercontent.com/40558980

[2021-01-14 18:26] corinagum commented on #3377
Closing as dupe of #3666 Please take conversation over there.

[2021-01-14 18:26] #3377 closed

[2021-01-14 20:00] dmvtech commented on #3639
Thank you. I am testing this out.

[2021-01-14 21:51] nfreear commented on #3658
Hi @compulim,

Thanks for the suggestion -- accepted.

Can I check my understanding? You're saying use the `role` in [`ReactWebChat.js`](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/component/src/ReactWebChat.js#L17):

[code]

Is that correct?

Thanks,

Nick

[2021-01-14 22:08] cwhitten commented on #3655
Hi @nfreear - the team will prioritize these items in our upcoming release. Please follow your linked issues for updates.

[2021-01-14 23:31] corinagum commented on #3625
1. change to warning, not error
2. suppress warning? React props.ref - console log ==> warning, **align with this behavior** / production
   1. npm build - production vs start (dev)
   2. if suppressable, write sample
   3. default props (not style options)
   4. suppress red box in production & no announcement in screenreader (when WC dep in CRA)
3. Sample for suppressing warnings (from test code

[2021-01-14 23:39] corinagum commented on #3622
@Amit8527510735 please disregard submitting to Adaptive Card for now

This will need design discussion - UX today can repetitively submit cards (not disabled, no selected state). Move to Suggested Actions? Or add a property for one-off AC? This would need AC 2.0 schema

@sangwoohaan Inline suggested actions changes could be applied here - could you give an update on your schedule for that work ite

[2021-01-14 23:41] corinagum commented on #3621
@Amit8527510735 Could you share your Adaptive Card json? If the stars are custom-implemented, this problem would need to be resolved by the customizer (bot developer).

[2021-01-14 23:44] corinagum commented on #2892
Related to #3087

[2021-01-14 23:48] corinagum commented on #3666
Related to #3575

[2021-01-14 23:52] corinagum commented on #3620
@Amit8527510735, additionally if the AC designer shows the same problems (from @compulim's comment), that would mean the issues needs to be rerouted to Adaptive Cards.

[2021-01-15 00:45] cwhitten commented on #3575
Closing in lieu of https://github.com/microsoft/BotFramework-WebChat/issues/3666 as a dupe

[2021-01-15 00:45] #3575 closed

[2021-01-15 00:58] compulim commented on #3431
Update on the IcM ticket 203406335: that ticket is resolved by the SDK. So it's probably unrelated to this issue.

So we still need to investigate/fix in Web Chat.

[2021-01-15 01:38] trrwilson commented on #3666
The aforementioned SDK PR with `fromHost` methods added to the JavaScript `BotFrameworkConfig` object is now in and available for private builds (clone and npm install; npm run build if needed). It'll for sure be included in the 1.15 release, which we're targeting for next week.

Just to reiterate (I'll sound like a broken record, but it's worth it if it helps even a little!): this doesn't make an

[2021-01-15 01:49] dmvtech commented on #3639
I am able to reproduce and investigating the cause.

[2021-01-15 04:20] Amit8527510735 commented on #3620
@corinagum / @amal-khalaf : Can you please share alias who needs access to the link.

[2021-01-15 04:23] Amit8527510735 commented on #3619
@amal-khalaf : Can you please share alias who needs access to the link.

[2021-01-15 13:52] venkatx5 commented on #3667
Used Google chrome Version 87.0.4280.141 (Official Build) (64-bit)
Tested in Edge with Narrator, It reads the button text in adaptive card. But it doesn't read the text before the buttons.

[2021-01-15 18:01] corinagum commented on #3667
I'm unable to produce a repro. Please provide your Adaptive Card json with PII removed and I will test it out.

[2021-01-15 18:27] amal-khalaf commented on #3619
@Amit8527510735 my alias is amkhalaf

[2021-01-15 18:28] amal-khalaf commented on #3620
@Amit8527510735 my alias is amkhalaf

[2021-01-15 20:17] compulim opened #3670 "Code to-do: move acknowledgement logic to chat adapter"
(Related to #2490)

## Feature Request

In `packages/component/src/hooks/internal/useAcknowledgedActivity.js`, we have a `TODO` for moving this acknowledgement logic to chat adapter.

Currently, we assume no chat adapter supports activity acknowledgement. In the future, it may need to change when we support human-to-human conversation.

The current acknowledgement logic:

- Acknowledge all activit

[2021-01-17 11:42] compulim opened #3672 "Icons inside send box buttons are not vertically centered"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/104839411-cdacbd80-5875-11eb-8bbc-6bef0b6a0771.png)

## Version

`4.11.0`

## Describe the bug

The icon is not vertically centered. It is off by a pixel.

## Steps to reproduce

1. Chat with MockBot

## Expected behavior

The icon should be aligned center in the button, both horizontally and vertically.

## Additional cont

[2021-01-17 11:42] compulim commented on #3368
The icon of send box button is not centered vertically. It is filed as #3672.

[2021-01-17 19:09] gourav-madan opened #3674 "Not able to integrate createDirectLineAppServiceExtension in a.minimizable-web-chat sample present in github."
Hi Team,

Please help me on this, I am trying to integrate directlineappserviceextension in minimizable web chat instead of createdirectline.

I have done changes in react app at two places, but its giving me an error.

1)  In minimizablewebchat.js
![image](https://user-images.githubusercontent.com/57317108/104853154-fcce3800-5924-11eb-8d1e-386c90c15832.png)

2) In WebChat.js
![image](https://user

[2021-01-18 16:58] venkatx5 commented on #3667
Here the adaptive card json. Thanks.
[code]

[2021-01-18 22:54] amal-khalaf commented on #3619
Hi @Amit8527510735 any updates on this?

[2021-01-19 04:51] Amit8527510735 commented on #3619
@amal-khalaf Shared your alias they will provide on it .

[2021-01-19 05:07] Amit8527510735 commented on #3621
@corinagum Will discuss with CSEO team and if possible will provide Adaptive Card json.

[2021-01-19 08:20] gourav-madan commented on #3674
Is there any update on this? Its an urgent requirement and need to check whether its feasible or not.

[2021-01-19 12:22] nfreear commented on #3657
Hi @corinagum and @Amit8527510735,

@corinagum, thanks for your response.

I have not been able to find a publicly available copy of the _Microsoft Accessibility Standard_ ("_MAS_") online to review.

I have gone back and reviewed the following related to WCAG 2.1:

 * [WCAG 2.1 - Success Criterion 2.4.7 Focus Visible](https://w3.org/TR/WCAG21/#focus-visible);
 * [Quick reference for SC 2.4.7][qre

[2021-01-19 14:15] 007-fr commented on #3638
@stevkan  , I sent an email over your way on Friday 1/15, Let me know if you received it.

[2021-01-19 16:46] dmvtech commented on #3639
Still not sure why this is happening. I've isolated it to confirm it has nothing to do with whether it is ES5 or not, whether it is a composer bot or simple echo bot. I'm still investigating and troubleshooting the code to figure it out.

[2021-01-19 19:19] stevkan commented on #3674
@gourav-madan, thank you for your patience. I have been looking into this and have been able to repro the issue. It looks like the issue is tied to the [directLine.activity$](https://github.com/microsoft/BotFramework-WebChat/blob/0cd6b8d268b710a0194d59b0ad6765bea6b0d236/packages/api/src/hooks/Composer.js#L583) property being passed into the Composer object. When inspecting the `directLine` object

[2021-01-19 20:52] selvaduraiece commented on #3639
Okay, I tested with emulator using postman. But with Emulator it is not happening. I thought tht is because of Payload. Stil no luck. Will wait for your update.

[2021-01-19 21:39] corinagum commented on #3667
Looks like you have a mal-formed Adaptive Card. I got following to read as expected with AT:

[code]

[2021-01-19 21:40] #3672 closed

[2021-01-19 21:48] selvaduraiece opened #3675 "MS Teams 'End of Conversation' activity"
Hi Team,

I have a built bot using Bot composer. After specific time I am ending the conversation using 'End of Conversation' activity. I can achieve the same using Webchat but unfortunately I am not able to do the same with 'MS Teams'

Can u help me with the same?
 If 'End of Conversation' activity is not supported in MS teams, is there any work around to achieve the same?

[2021-01-20 00:00] corinagum commented on #3522
Discussion: quality bar?
1. Match WC project - much more difficult to maintain
2. Samples quality bar? WC's, or SDK's?
2. Lower bar - just PRs?

[2021-01-20 00:01] compulim commented on #2100
I am okay to inference the types automatically, as long as:

- If something is typed, it must not have `any` type, everything must be concretely-typed
- If something is not supposed to be exposed, it must not be exposed in the `.d.ts`

We can progressively add typings, I think the most needed is `defaultStyleOptions`.

FYI, our project already have TypeScript set up through Babel.

[2021-01-20 00:13] compulim commented on #3374
Sounds like browser imposed restrictions on autoplay to prevent annoying ads.

- If the video is muted, it can be autoplayed
  - Muted means, either have a `muted` attribute, or does not have any audio tracks (a silent audio track does not count)
- In Chrome, if the user has played a video with audio, for at least 7 seconds, video will autoplay with audio

Details at https://developer.mozilla.org/

[2021-01-20 00:15] corinagum commented on #2702
Need to re-confirm bug - might be fixed in latest Android.

[2021-01-20 00:17] corinagum commented on #2619
possibly fixed by #3666

[2021-01-20 00:22] #2310 closed

[2021-01-20 00:26] corinagum commented on #1882
@v-kydela Could someone on the Support team confirm if we still have repro of this bug?

[2021-01-20 04:31] venkatx5 commented on #3667
The json generated by the code. Please advice what we have to fix?
If possible, please keep this issue open as it's still exist.

[2021-01-20 04:54] venkatx5 opened #3676 ""aria-labelledby" references are referring to IDs that do not exist"
We are using webchat-es5.js for our Virtual assistant and our customer evaluating for 508 compliance. The following WAI-ARIA 'aria-labelledby' attribute has a reference to an ID that does not exist (broken reference) on the Bot response:

•webchat__stacked-layout__id--fxqmh
•webchat__stacked-layout__id--ok1u7

The references generated for user entered text has valid references. Issue is only on th

[2021-01-20 05:10] venkatx5 commented on #3667
Updated json. Please review and advice..

[code]

[2021-01-20 06:08] ObsidianDelta opened #3677 "Sign out not working with direct line speech adapters"
## Version

4.11.0 CDN

## Describe the bug

Our bot uses oauth cards to sign in and out our users. When we use just the direct line i.e:

[code]

... every thing is fine ... but when we use direct line speech we get an error

[code]

The error we get is as follows:

`<img width="1917" alt="DirectLineSpeechError" src="https://user-images.githubusercontent.com/31521018/105133034-4ef89000-5ac2-11eb-

[2021-01-20 11:17] #3368 closed

[2021-01-20 12:10] amistry79 commented on #2212
@compulim It is good to know that we are planning to add "Wake word" capability in the future. Do you have any tentative release date?

[2021-01-20 12:27] jomonthomas5 opened #3678 "Auto scroll animation issue - While refreshing the chatbot with long conversation history, the auto scroll animation keep user waiting to reach latest message"
<h2>Version</h2>
webchat es5 version 4.11.0
<h4>https://cdn.botframework.com/botframework-webchat/4.11.0/webchat-es5.js</h4>
Integrating the CDN version js directly on the page using script tag (No Iframe). Desktop Chrome Browser.

<h2>Issue</h2>
We have conversation retention enabled on our Virtual Agent. Hence when users refresh the VA with long conversation history, there is a evident delay(due

[2021-01-20 13:43] gourav-madan commented on #3674
Hi Stevkan, Correct the error is coming with directline.activity. Hope it will get resolved early, as we have customer demo scheduled next week to show minimizable chat window working with direclineappserviceextension.

[2021-01-20 17:38] corinagum commented on #3667
@v-kydela or @stevkan could you guys triage this item? Thanks!

[2021-01-20 17:47] corinagum commented on #2212
Hi @amistry79 - no release date at this time.

[2021-01-20 17:53] corinagum commented on #3677
Magic numbers is required for DLS. @Zerryth could you investigate?

[2021-01-20 18:02] ObsidianDelta commented on #3677
Thanks @corinagum for the quick reply. I am fine with magic numbers ... just need to get the sign out working. Thanks.

[2021-01-20 18:21] Zerryth commented on #3677
@ObsidianDelta, just in case there's an issue on the SDK end, which language is the bot built in? JS?

[2021-01-20 18:27] ObsidianDelta commented on #3677
@Zerryth We have built the bot in C#.

[2021-01-20 19:07] thiessenp commented on #2996
Any progress on this? Or was it decided not to add keynav to the transcript? If not, is there a general way screen reader users (Jaws/NVDA/...) have been accessing the transcript (message history)?

[2021-01-20 19:59] v-kydela commented on #3667
@corinagum - We can assign this in tomorrow's meeting

[2021-01-20 21:56] NickEricson commented on #3666
@trrwilson Thank you for all the details on both how to connect to Fairfax using the current SDK and the updates for the 1.15 SDK.

[2021-01-20 22:12] #2884 closed

[2021-01-20 22:20] compulim commented on #3678
In our code, [`BasicTranscript.js:723`](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/component/src/BasicTranscript.js#L723), we need to add a new prop `initialScrollBehavior` to `"auto"`.

[code]

Then, add a test.

[2021-01-20 22:23] corinagum commented on #3676
Thanks for reporting. I'm adding this to our list for triage.

[2021-01-20 23:28] compulim opened #3679 "Add a version matrix in `README.md` to show which Web Chat support which version of Adaptive Card"
We have the Adaptive Card version information in `CHANGELOG.md`. Eyal suggested to surface that information as a table in our `README.md`, or somewhere easy to find.

[Bug]

[2021-01-20 23:37] cwhitten commented on #3546
R12 commit: put an execution plan together

[2021-01-20 23:40] compulim commented on #3546
Things in my head:
- Sync the commands (copy commands from MockBot)
  - Some image URLs may need to be updated
- Create a new repos and move everything there
  - There is another work item
- Build the offline MockBot (it is a JS bundle)
- Deploy it to a storage
  - Maybe GitHub Releases a good place, less maintenance than hosting another Azure Storage

[2021-01-21 00:02] compulim commented on #3562
Some draw ups for 3 layouts:

![image](https://user-images.githubusercontent.com/1622400/105255556-a6d1de00-5b38-11eb-9484-e04222a8d309.png)

I am unsure if it is technically possible in flow layout. But if it works, it should looks like as in the draw up. But IMO, it looks weird on flow layout. So I recommend only on stacked layout.

[2021-01-21 00:03] compulim commented on #3192
Agree with TJ. 4.7.1 looks good.

We have recently update the transcript component significantly in activity grouping feature. We need to verify if it is still repro.

If yes, then I recommend to fix this.

[2021-01-21 00:09] corinagum commented on #2996
This is scheduled for our next release, March 8th

[2021-01-21 00:12] cwhitten commented on #3492
We'd like someone from the support engineering staff to investigate browser behavior for this issue

[2021-01-21 00:12] compulim commented on #3522
Platforms:
- SharePoint: use Web Part to point to a separate HTML file
- Dynamics 365 Portal: use IFRAME to point to a separate HTML file
- Cordova is HTML in WebView, so this would just use JS to render it out
- Angular: building an Angular component that call `renderWebChat`
- Xamarin: host a WebView and render it

Things to look out:
- All: check if it works with speech
- SharePoint: check IE11

[2021-01-21 00:20] compulim commented on #3374
I looked at our code and we do translate `autostart` to HTML's `autoPlay`, https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/bundle/src/adaptiveCards/Attachment/VideoCardContent.js#L21. So I believe it is working as intended.

Web page author should obey to the auto play restrictions as mentioned above.

Closing as no repro.

[2021-01-21 00:20] #3374 closed

[2021-01-21 00:22] cwhitten commented on #3165
@stevkan did this come from a customer?

[2021-01-21 00:25] cwhitten commented on #2619
closing as a dupe of https://github.com/microsoft/BotFramework-WebChat/issues/3411

[2021-01-21 00:25] #2619 closed

[2021-01-21 00:34] cwhitten commented on #3421
Anticipating that https://github.com/microsoft/BotFramework-WebChat/issues/3411 will address this

[2021-01-21 00:55] v-kydela commented on #3675
Thank you for the question, @selvaduraiece. The Bot Framework doesn't really have a concept of "ending a conversation" that's consistent across channels. Each channel has its own idea of what a conversation is, how to end it, and even whether or not it can be ended. Teams is an example of a channel with conversations that cannot be ended. That is to say, a Teams conversation lasts forever.

If you

[2021-01-21 00:55] #3675 closed

[2021-01-21 01:18] arman-g opened #3680 "Handoff to a human agent"
I can't figure out how to implement handoff to a human agent with webchat channel. We have a bot service that is in Azure which using a Webchat channel. We like to have a live agent engagement if user question cannot be answered by the bot. Is this possible to do with webchat?

What I am thinking to do is create an agent hub (web based) for live agent with a webhook endpoint which will get request

[2021-01-21 01:32] stevkan commented on #1882
@corinagum, will attempt a repro.

[2021-01-21 01:33] stevkan commented on #3650
Closing due to inactivity.

[2021-01-21 01:33] #3650 closed

[2021-01-21 01:37] stevkan commented on #3560
Closing due to inactivity.

[2021-01-21 01:37] #3560 closed

[2021-01-21 04:19] Amit8527510735 commented on #3620
@amal-khalaf  Shared your alias CSEO team will provide access on it .

[2021-01-21 06:10] amistry79 commented on #2212
@compulim Thanks for the quick response. Do let us know when the release date is decided.

[2021-01-21 13:09] jomonthomas5 commented on #3678
@compulim Appreciate your response. But for us we are not building with React hence we feel like this option is something what we can't try.

@corinagum Did you mean to say that we will be introducing this in next version of Webchat.js?

Side Note : We are building Chat frontend on webchat es5 version 4.11.0  with jQuery and HTML.

Any help will be truly appreciated. If the issue is not clear we a

[2021-01-21 13:52] sanjayror opened #3681 "Chatbot not working in IE Browser webchat-es5.js throwing exception"
# chatbot not working in IE Browser

## Additional context

Giving me this exception : -
Unhandled exception at line 2, column 1501022 in http://localhost:60639/Scripts/BotFramework/webchat-es5.js
0x800a01b6 - JavaScript runtime error: Object doesn't support property or method 'Symbol(Symbol.iterator)_5.blmf3wcec0f'

Please help me

[Bug]

[2021-01-21 18:21] Zerryth commented on #3677
Hmm...I'm experiencing an error as well plugging in:
1. [C# sample 18.bot-authentication](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/18.bot-authentication) (bot)
2. [Web Chat sample 03.speech/a.direct-line-speech](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/a.direct-line-speech) (Web Chat to talk to bot)

It's the same as

[2021-01-21 18:54] stevkan commented on #3681
@sanjayror, are you able to post (or attach a file showing) the code you are using? I can then review and attempt a repro to better understand what is happening and how it can be mitigated. Does the error occur on load or during use?

Can you list for me which version of Web Chat you as well as the IE version? And, does your implementation fail only in IE? Does it work in other browsers?

Somethin

[2021-01-21 21:28] corinagum commented on #3678
Unfortunately, no. It's in our backlog because it's not in our immediate plans to implement a change.

[2021-01-21 22:08] v-kydela commented on #3667
@corinagum

I can reproduce the issue. The behavior I observe is that NVDA is able to read all the text in the Adaptive Card correctly *when hovering over the text*, but when the mouse is still and NVDA reads the messages automatically as they appear, NVDA just says "bullet A..." as @venkatx5 reported.

I'm not sure how Web Chat interfaces with the screen reader, but Web Chat could supposedly be m

[2021-01-21 22:54] #3434 closed

[2021-01-22 09:55] sanjayror commented on #3681
Hi @stevkan
Thanks for quick reply.

this error occur on load.

------- For IE version -----
I'm using Microsoft Window 10 IE version should be 11 that came with window.

------- For WebChat version -----
I'm using Webchat code till 2nd Mar 2020 I made some change in code and generated webchat.js and webchat-es5.js by my own.
![image](https://user-images.githubusercontent.com/15170372/105475107-03

[2021-01-22 09:58] alishajain7 opened #3682 "Is there a way to recognize weather the input to Bot is from microphone or is text input?"
Hi Team,

In my BOT I want to log the times when speech input was provided to the BOT. Is there a way to recognize it in my BOT Framework solution.

[2021-01-22 10:04] compulim opened #3683 "Activities not acknowledged when transcript is at the bottom"
## Screenshots

When the transcript is at the bottom, no activities were acknowledged (still orange).

![image](https://user-images.githubusercontent.com/1622400/105477030-3325f300-5c56-11eb-9d29-429f82baa208.png)

## Version

`master`

## Describe the bug

All activities in view should be acknowledged when one of the condition below is fulfilled:

1. The user sent a message
2. The user scroll to

[2021-01-22 11:19] datarocker974 commented on #3674
Hi guys,
Indeed, I also encounter the exact same errors using the Direct Line App Service Extension.

[2021-01-22 14:46] jomonthomas5 commented on #3678
@corinagum Thanks a lot for the response and taking this as a feature. Hope you will post here when you have an update on this again.

[2021-01-22 15:51] Quirinevwm commented on #3622
@corinagum form design perspective can we go for the following:
- State selection is communicated in voice over: **"[content button] selected"** versus **"Nothing selected yet"**.
The questions about the 'active' state of the buttons in the card is still valid. A user could go back and change the initial feedback they have selected, so from like to dislike for example. In that case the communicati

[2021-01-22 18:26] corinagum commented on #3667
@v-kydela thanks for the help, I obviously missed something. Would you mind recording a video of the behavior so I can verify on my side? After that we'll reassign this to me for further investigation. (Both hovering and live reading) Thanks again for the help.

[2021-01-22 19:51] v-kydela commented on #3667
I just did it in Emulator so it's easier to repro, but this is the same behavior that's in Web Chat:

https://user-images.githubusercontent.com/41968495/105538272-03074000-5ca8-11eb-82a2-5ebfd2570394.mp4

[2021-01-22 21:15] corinagum commented on #3674
Thanks @gourav-madan for reporting, and thank you @stevkan for the repro. I have added this to list of items to triage, and we'll see next steps early next week.

[2021-01-22 21:31] corinagum commented on #3622
@Quirinevwm thanks for the feedback!

Makes sense on the first bullet!

https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.custom-components/l.disable-adaptive-cards

Regarding second bullet: We have a sample that allows the user to see what they selected previously (visually; screenreader feature is not enabled yet), by changing the background color of the button they select

[2021-01-22 21:33] corinagum commented on #3667
(just in case can you also include the json you used, @v-kydela?)

Thanks for the repro! I'm working on another P0 accessibility bug today but I will look at this issue again next week.

[2021-01-22 21:58] v-kydela commented on #3667
@corinagum - I did not modify @venkatx5's JSON:

[code]

[2021-01-22 22:21] 01 opened #3685 "Avatar Middleware does not register new activity until switch in fromUser"
## Version
Master

## Describe the bug
When utilizing avatar middleware, the hook seems to store the first activity when change in "fromUser" and does not register new activity until fromUser changes

## Steps to reproduce

1. Print out activity on multiple messages inside the avatar middleware  from user or from bot.

## Expected behavior

Expected each individual activity to be registered

## Ad

[2021-01-22 22:56] stevkan commented on #3682
Per the below message, if you submit your question on Stack Overflow, my team will see it during our next triage. Assuming it isn't answered by the Community first, we will pick it up and respond. Just be sure to tag it with `web-chat`.

------------------

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botfr

[2021-01-22 22:56] #3682 closed

[2021-01-22 23:08] stevkan commented on #3165
@cwhitten, no, I believe I was helping a customer with another issue when I stumbled across this. However, in doing a quick search, I see what looks like a similar issue filed by a Cx in the Emulator repo, #[2192](https://github.com/microsoft/BotFramework-Emulator/issues/2192).

[2021-01-22 23:48] amal-khalaf commented on #3209
I tried reproing the issue on webchat 4.10 and 4.11 it is no longer reproing

@manish-95 could you try upgrading and see if this will fix the mic enablement issue.?

[2021-01-22 23:48] amal-khalaf commented on #3357
I tried reproing the issue on webchat 4.10 and 4.11 it is no longer reproing

@prashanthsridhar could you try upgrading and see if this will fix the mic enablement issue.?

[2021-01-22 23:51] stevkan commented on #3681
The date you supplied suggests you are using the v4.8.1 build of Web Chat as your base which was published on April 22, 2020. Using that published version in IE produces no errors when I run it. I can attempt to do a custom build using the information provided in issue #3408 and, hopefully, that will show me something useful.

However, without your Web Chat code (meaning, the code you are using in

[2021-01-24 19:24] nijoshi-msft commented on #3682
Sure Steven, question is raised in StackOverflow https://stackoverflow.com/questions/65874874/is-there-a-way-to-recognize-weather-the-input-to-bot-is-from-microphone-or-is-te

[2021-01-25 02:33] compulim commented on #3597
The "New message" button should not appears in the repro video.

https://user-images.githubusercontent.com/1622400/105654243-7197f980-5e72-11eb-9567-01adc51d0aa7.mov

[2021-01-25 09:12] compulim commented on #3597
This is fixed in main branch probably due to a recent bump.

I am writing tests to make sure this does not regress in the future.

https://user-images.githubusercontent.com/1622400/105684764-3b766c00-5eaa-11eb-9bac-0d25e0eac2b6.mp4

https://user-images.githubusercontent.com/1622400/105684848-4f21d280-5eaa-11eb-9271-fb627b24c9f2.mp4

[2021-01-25 10:45] Amit8527510735 commented on #3550
Could you please provide us proper repro steps and control details to verify the issue, because we are unable to locate the exact screen and issue.

[2021-01-25 10:57] compulim commented on #3463
Does not repro when typing very quickly in Edge Legacy or following the repro steps. It always stick to bottom.

https://user-images.githubusercontent.com/1622400/105697086-f6a60180-5eb8-11eb-955e-e7fce35150b5.mp4

![image](https://user-images.githubusercontent.com/1622400/105697169-11787600-5eb9-11eb-9002-5ecdb4d4a230.png)

[2021-01-25 10:57] #3463 closed

[2021-01-25 10:59] Amit8527510735 commented on #3657
As observed the upload and file buttons are getting darker when the keyboard focus moves on the controls, but as discussed with internal SME, the keyboard focus indicator(Dotted line/solid line border) should be visible on both controls.

[2021-01-25 14:19] Quirinevwm commented on #3622
@corinagum thanks for sharing your thinking regarding the 2nd bullet ;) I do think it should be available as a property by default, since it's an indicator of progress for the end user. If the accent color for Web Chat is already set to that kind of blue, I think it might be best to go for a thicker outline around the selection. So "previous selected" pattern is a thicker outline in that color blu

[2021-01-25 15:17] Quirinevwm commented on #3438
UX recommendation:
Since the scroll bar of toast and transcript are visually merged together, recommending to:
- _Notification pane can be enlarged_: no scroll will appear, when more characters can be shown in the 'small chat view'. Wrap the text so it fits the max of 5-6 lines? Prefer to recommend the max of characters we allow in that space to be around 6 lines (calculate character count for tha

[2021-01-25 15:30] Quirinevwm commented on #3087
UX recommendation:
For communication purposes definitely include the transcript _"opens link in a new window"_, Whenever there is a deep link include this transcript for accessibility, since both types (internal, external) will have this behavior.

Regarding the icon ask:
- Stick to deep link only, **since all links will be opened in a new window in V4, there is no difference between "internal" an

[2021-01-25 15:33] sanjayror commented on #3681
Hi @stevkan

How you tested the code base of April 22, 2020 using IE, can you help in code base so that I can test that in my Local, that will be help me more to fix the issue.
If you think I can provide the webchat-es5.js that is generated by me you can check whether it's working in your end in IE browser.

Thanks

[2021-01-25 16:06] Quirinevwm commented on #2211
UX recommendations:
As discussed during our sync, this modality switching asks for a design pattern to support you. It's very hard to go for the hybrid fix, let's first go for the chat versus speech fix - then we can grow towards hybrid.

(1) Only "chat" or "speech" modality, the bot is only accessible via 1 modality:
- "Chat"
 User types = (> icon)
 User shares/uploads = action button (clip or +

[2021-01-25 16:43] compulim commented on #3674
The difference is correct. One is constructing `activity$` using RxJS 5 (from DLJS), another is ES Observable (from other adapters). Web Chat supports both type of observable.

On the other hand, the `createDirectLineAppServiceExtension` is an async function, thus it need some time to setup. And I guess probably the `Promise` object is passed, instead of the resolved object.

[code]

p.s. for olde

[2021-01-25 16:48] Quirinevwm commented on #3612
@compulim when you start drafting these ideas, it might be worthwhile to give the carrousel chevron (<) & (>) a dedicated place in the margins at both ends. We can play around with positioning, maybe just like 50% placement and 50% overlap. Or we make the icons a lot smaller in those margins & when a user hovers over the flipper's height does match the top to bottom but width is thinner than curre

[2021-01-25 18:41] stevkan commented on #1882
@Dewain27, can you please confirm for me whether you are using the C# or TypeScript version of the VA? I'm not certain that it matters, but it may prove useful.

[2021-01-25 22:19] corinagum commented on #3657
note to dev: Based focus indicator on fluent design

[2021-01-25 23:29] corinagum commented on #3562
@Quirinevwm Do you have feedback on this request? 🙂

[2021-01-25 23:35] stevkan commented on #3685
A few questions:

- Can you specify which hook are you referring to?
- Are you able to include the code you are running (minus any keys, passwords, etc.) so I can attempt a precise repro?
- Can you include a screenshot or copied text of the printed out activities you are referring to?
- Which version of Web Chat are you using?
- Is it a CDN, npm package, etc.?

[2021-01-26 01:41] arturl commented on #3680
@arman-g, take a look here: http://aka.ms/bfhandoff where we describe the recommended patterns and refer to examples on GitHub. The [LivePerson sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/handoff-library/csharp_dotnetcore/samples/LivePersonProxyBot) might be of interest to you. You can use it a model for your own agent hub.

[2021-01-26 01:41] #3680 closed

[2021-01-26 06:20] agriniex commented on #3192
I can confirm that we are still able to repro this with version 4.11 of Webchat

[2021-01-26 07:10] goergenj commented on #1401
Any update on this?

[2021-01-26 14:54] 01 commented on #3685
@stevkan thanks for looking into this.

Can you specify which hook are you referring to?
**Im not sure which hook it would be. Im assuming something in regards to how avatar is rendered.  Its simply guess based on behavior I am seeing and how avatar works without avatar middleware**

Are you able to include the code you are running (minus any keys, passwords, etc.) so I can attempt a precise repro

[2021-01-26 18:13] corinagum commented on #3550
@Amit8527510735 I'm waiting for customer feedback on the exact repro scenario, but I will post more details as soon as I hear back from them.

[2021-01-26 18:41] #3597 closed

[2021-01-26 18:50] arman-g commented on #3680
Thank you for your response. I have seen all these examples and honestly it is very difficult to understand what is going on. I think it would be good to have more detailed explanation of key components (what they do and why they needed) so one can build on their solution. For example in the proxy example you provided there is a reference to the connector which is a different project. Do we need i

[2021-01-26 19:28] arturl commented on #3680
@arman-g, the different project is needed because it is a reusable component. If you have specific questions I can answer, either here or email me directly at arturl (is my alias in microsoft.com)

[2021-01-27 14:47] gourav-madan commented on #3674
@compulim Thanks for sharing the working code, its working fine and currently m using hardcoded bearer token generated by postman.
because m getting issue while generating the token and its coming undefined.

![image](https://user-images.githubusercontent.com/57317108/106007838-b8892780-60dc-11eb-9628-3c974bc67ee2.png)

Please find the below screen shot which m using to generate the token.
<img wi

[2021-01-27 15:32] Quirinevwm commented on #3562
@corinagum sure! As scribbled in the overview: 'flow' does look weird when content for actions differ in length. If they are more similar the flow experience is better. It's just since we don't' control any content our end users put in let's go for 'stacked'.

From a design perspective, I actually like that the 'bug' now highlights the essence for the content to be short for the action :) Aside we

[2021-01-27 15:34] Quirinevwm commented on #3562
Ps. I do think the way forward could be 'Flow' as conversation designers/content creators get more specific on making the 'actions' short in content :)

[2021-01-27 16:12] kaleem68 commented on #3662
As @caleberi mentioned our app is in pure JS

https://github.com/kaleem68/virtual-keyboard-js

The integrated keyboard is buggy. please try to run and see if you could help us. @compulim

[2021-01-27 18:58] stevkan commented on #3685
I gather from your comment of "multiple users on the same chat" that you are trying to build some sort of group chat.

The first thing to understand is Web Chat, as it is currently designed, is not intended to be used in a multi-user or group setting. It is designed with the expectation that a conversation will occur between a bot and a user, only. With that in mind, the avatar middleware works as

[2021-01-27 22:11] compulim commented on #3674
You can find the token generation API in this article, https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-webchat-client?view=azure-bot-service-4.0#integrate-web-chat-client.

Please note that this API should only be called from your server because you will need to pass a secret to it. For security reason, never pass the secret via browsers.

[2021-01-27 22:25] compulim commented on #3674
Looks like the issue is resolved by `await`-ing the Direct Line object. I am closing the issue now.

[2021-01-27 22:25] #3674 closed

[2021-01-28 11:18] Tsarar opened #3688 "Ensure aria-roledescription is only used on elements with an implicit or explicit role (Accessibility Insights)"
## Screenshots
![image](https://user-images.githubusercontent.com/24234334/106130695-5aa32100-616a-11eb-95d0-5c8574b14e8a.png)
![image](https://user-images.githubusercontent.com/24234334/106130722-61319880-616a-11eb-972f-d8c42bd0fbcb.png)

## Version
npm 4.9.2-master.8696a8e

<meta name="botframework-directlinespeech:version" content="4.9.2">
<meta name="botframework-webchat:bundle:variant" conten

[2021-01-28 11:23] Tsarar commented on #3688
Please, remove Bot Servies and customer-reported labels and add Area: Accessibility and

[2021-01-28 12:52] venkatx5 commented on #3676
Any updates/fixes that we can try?

[2021-01-28 14:42] SSSTREDDD commented on #3647
I also have this issue on IOS only. The proposed solution does not solve the problem.

[2021-01-28 15:35] 01 commented on #3685
@stevkan

Thanks for looking into this. Thats disappointing to here. My team has been waiting for the ability to have control over avatar on a "per message basis" as described by the sample, though seems its an a "per activity grouping". I have attempted to reduce the grouping time to separate but the attachment seems to be based on something else. If you could point me where in the core code this

[2021-01-28 16:34] enriconatella commented on #3678
@jomonthomas5 what do you mean with "conversation state retention enabled"?
Is there a property to enable the conversation history?

[2021-01-28 17:13] corinagum commented on #3562
@Quirinevwm to make sure I understand,
- Only implement word wrapping on SA buttons for stacked layout
- Max char count for all SA buttons
  - (What should this max char count be?)
     - Investigate SA buttons char max length
- Investigate tooltip on hover for extra long buttons
  - Without having looked into it I'm concerned this will not be trivial, but I'll report back
- (Based on PS): Continu

[2021-01-28 17:30] corinagum commented on #3657
I'm adding this to our front-burner to hopefully be addressed in our next milestone.

[2021-01-28 18:53] amal-khalaf commented on #3622
@Amit8527510735
I did some more research regarding **aria-selected** and when adding this attribute to Adaptive-Card button , AT is not announcing the selected message.
I also tried changing the 'role' attribute to 'button' instead of "menuitem" and still AT did not announce "selected"

so only thing which worked for me was:
**setting role='button' and adding aria-pressed="true" : AT announced 'Fo

[2021-01-28 21:10] #3582 closed

[2021-01-28 21:10] #3618 closed

[2021-01-29 07:28] selvaduraiece commented on #3639
Hi, Any update on this?

[2021-01-29 09:24] sanjayror commented on #3681
Hi @stevkan
Do you have any update on this

[2021-01-29 14:02] nfreear commented on #3658
Hi @compulim & @corinagum,

I have a question in my previous comment ... @compulim Are you able to answer so I can complete PR #3669, and get it reviewed please?

Thanks,

Nick

[2021-01-29 14:07] nfreear commented on #3657
Hi @Amit8527510735,

Thank you for your response regarding the _subject matter expert's_ (SME's) advise (_I mis-read it a few days ago_!)

@corinagum ... If I can get PR ##3669 sorted quickly, I'm happy to contribute a pull request for this.

Thanks again,

Nick

[2021-01-29 15:43] #3683 closed

[2021-01-29 18:49] compulim commented on #3658
It will become:

[code]

When end-developer render Web Chat, their call will looks like:

[code]

[2021-01-29 19:25] amal-khalaf commented on #3357
Closing as issue is not repro-ing on latest webchat  4.11

[2021-01-29 19:25] #3357 closed

[2021-01-29 19:25] amal-khalaf commented on #3209
Closing as issue is not repro-ing on latest webchat  4.11

[2021-01-29 19:25] #3209 closed

[2021-01-30 20:42] akamwand opened #3690 ""Enter a new answer here" not returning new answer or saving new answer suggestion"
I was unable to find the answer to this problem in StackOverflow or in MS Documents for Web Chat.

The issue I am facing is that I have only 2-3 questions out of around 200 QnA pairs that are not suggesting the correct answer passage when I go to 'inspect' the answer.

I manually enter the answer passage I want in the "Enter a new answer here" field, and then select Save and Train after the new an

[2021-01-31 12:23] pinarkaymaz6 opened #3691 "WebSocket connection failed: Error during WebSocket handshake: Unexpected response code: 400"
[Question]

I have a Bot service running on Azure. I'm trying to voice enable the bot, however I keep getting Websocket connection error.

I have the [echo-bot](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/02.echo-bot) running on the server side. I followed this [tutorial](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/tutorial-voice-enable-you

[2021-02-01 11:54] 01 commented on #3685
To anyone coming across this its actually easily doable but turning off avatars and taking care of logic in an activity Middleware

[2021-02-01 16:26] dmvtech commented on #3639
Hi @selvaduraiece My apologies. I am still investigating. Hope to have some info to share with you soon.

[2021-02-01 18:19] Quirinevwm commented on #3562
@corinagum yes!
Just for stacked: only way that works with wrapping
for the max character count, I propose to start with #25 or #20 - then we can explore together if you've mocked it up?

+ main goal, encourage devs to go for 'short content on SA action buttons'
_Bit of guidance:_ **Rule of thumb to use a verb phrase for the title of a push button. If you need more than 20-25 characters it likely

[2021-02-01 20:18] compulim commented on #3411
This seems fixed in Speech SDK 1.15.0.

[2021-02-01 20:18] compulim commented on #3421
This seems fixed in Speech SDK 1.15.0.

[2021-02-01 20:20] compulim commented on #3666
I am bumping to 1.15.0 and it is working. Once the PR is merged, I will provide more information here (or in the PR description).

[2021-02-02 01:05] compulim opened #3692 "[Tracking] DLSpeech: Remove hardcoded audio output format"
## Version

`master` (targeting `4.12.0`)

## Describe the bug

After we bumped to Speech SDK 1.15.0, there are some bugs that we need to add workaround code.

This tracking bug is for the bug that Speech SDK send us wrong audio output format. When we detect it is MP3 using Direct Line Speech, we hardcoded it to RIFF 16kHz mono.

## Steps to reproduce

1. Remove the TODO code in `playCognitiveServ

[2021-02-02 01:08] compulim opened #3693 "[Tracking] DLSpeech: fromHost set the endpoint URL incorrectly"
## Version

`master` (targetting `4.12.0`);

## Describe the bug

After we bump to Speech SDK 1.15.0, there is a bug that causing the endpoint URL to set incorrectly.

We added workaround code to set the endpoint URL again.

## Steps to reproduce

1. Remove TODO code in `packages/directllinespeech/src/createAdapters.js`
2. Talk to the bot

## Expected behavior

In the network trace, you should see

[2021-02-02 01:27] compulim commented on #3666
PR is under review now.

To enable sovereign clouds for Direct Line Speech. The `fetchCredentials` option passed to `DirectLineSpeechSDK.createAdapters()` call should return `directLineSpeechHostname`, instead of `region`. For example:

[code]

This change is outlined in the updated `DIRECT_LINE_SPEECH.md`.

[2021-02-02 04:54] Bradrajkumar opened #3695 "Embedding webchat on serviceNow"
Hi All,

i am trying to embed latest  JavaScript or react webchat on Service Now. i am facing one unresolved issue in JavaScript webchat. please see below screenshot.

![image](https://user-images.githubusercontent.com/34365788/106492656-2fa82c80-64de-11eb-95b7-3983823b15d4.png)

**FYI**
i am following this link properly :- https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.g

[2021-02-02 05:48] Amit8527510735 commented on #3622
@amal-khalaf : Yes above work around is acceptable.

[2021-02-02 06:43] Amit8527510735 commented on #3621
@corinagum Please find JSON in the attachment
[rating-card.zip](https://github.com/microsoft/BotFramework-WebChat/files/5909195/rating-card.zip)

[2021-02-02 18:09] Zerryth commented on #3677
I managed to repro the behavior you reported, where signing in is possible, however signing out breaks.
So I'm still trying to get a hold of and confirm with someone on the team who owns DLS or auth, however I believe DLS does not actually support `OAuthPrompt`. (I mean if you think about it, in a speech scenario it would be difficult for someone to verbally sign in -- however I do see how it brea

[2021-02-02 18:40] corinagum commented on #3621
I believe this is external to Web Chat and needs to be brought up with the Adaptive Cards team. At the moment, I'm not sure what the accessibility status of Toggle Visibility actions are.

As a workaround, please note @compulim's comment above, rendering a custom activity or using suggested actions.

[2021-02-02 18:40] #3621 closed

[2021-02-02 20:12] stevkan commented on #3681
@sanjayror, I downloaded a zip file copy of the [4.8.1](https://github.com/microsoft/BotFramework-WebChat/releases/tag/v4.8.1) code and went thru the process of building the packages. When running in IE, I still don't receive any errors.

If you want to put your copy in a zip file and attach here, I can attempt to run it and see if I get the same result as you. But, as stated before, I won't be ab

[2021-02-02 22:04] compulim commented on #3676
We have a fix in PR review now. It is expected to ship around February 15.

[2021-02-03 01:06] Zerryth commented on #3691
@pinarkaymaz6  it seems like you have your speech credentials different from how I sent them up in the past.

See this comment: https://github.com/microsoft/BotFramework-WebChat/issues/3407#issuecomment-673130903, last bullet, expanded.
You could also review the steps taken to get WC + DLS + bot working together there, although it was a JS bot.

Additionally, just to confirm, are you using a pytho

[2021-02-03 01:50] coderPapu opened #3698 "Firefox 85 gives invalid token"

[2021-02-03 01:51] stevkan commented on #3685
@01, Here is the link to the code that is used to generate the [avatarMiddleware](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/component/src/Middleware/Avatar/createCoreMiddleware.js) middleware.

If you don't mind, could you post the solution you came up with so other's looking for a similar solution can benefit?

I'm going to close this issue since a solution was found.

[2021-02-03 01:51] #3685 closed

[2021-02-03 02:38] stevkan commented on #3695
@Bradrajkumar, how are you embedding the page? I don't know too much about Service Now, but I know one method of embedding is to configure an iFrame component. Is this how you are attempting this?

[2021-02-03 03:28] #3698 closed

[2021-02-03 03:28] coderPapu commented on #3698
issue with old version of ff

[2021-02-03 07:38] Amit8527510735 commented on #3619
Closing the bug as still environment access pending at CSEO team and bug became in OUT of SLA. Will create new bug once CSEO team grant access to amal-khalaf.

[2021-02-03 07:44] #3620 closed

[2021-02-03 07:44] Amit8527510735 commented on #3620
Closing the bug as still environment access pending at CSEO team and bug became in OUT of SLA. Will create new bug once CSEO team grant access to amal-khalaf.

[2021-02-03 07:45] #3619 closed

[2021-02-03 10:23] mirkus90 opened #3699 "Relative time is not correct"
## Screenshots
![image](https://user-images.githubusercontent.com/25511680/106732470-04722a00-6611-11eb-82f8-66d9beb4cbda.png)

Labels are in Italian.
"Oggi" => "today"

All the messages, both from the user and the bot, have timestamp around 2th February 3:30 PM, whereas the screenshot was done at around 3th February 11:15 AM.

## Version
Custom ReactJS webchat, created using the "botframework-web

[2021-02-03 10:24] mirkus90 commented on #3699
@corinagum @compulim added for information, as marked like contributors on the "useRelativeTimeFormatter.js" file

[2021-02-03 10:38] Amit8527510735 opened #3700 "[Screen Reader-Intelligent Support Experience-Feedback]: JAWS is announcing as "Attachment" while navigating using cursor mode over the button controls of 'Feedback'."
Note:
Issue is observed with JAWS through out Iris chat window while navigating in cursor mode.

User Impact:
Screen reader users who navigate using JAWS cursor mode will be confused if JAWS is narrating as "Attachment" while navigating over the button controls of 'Feedback' instead of reading as button.

Product name, version, and build: Intelligent Support Experience/Chrome v.84
OS : Windows 10

[2021-02-03 10:40] Amit8527510735 commented on #3700
#A11yMAS;#A11ySev2;#Accessibility;#WCAG4.2.1;#HCL;#HCL_BotFramework_WebChat;#Linked:BUG6353921;#LinkedBug

[2021-02-03 10:43] mirkus90 opened #3701 "Added the possibility to show the webchat messages with 24h format"
## Feature Request

When using the "timestampFormat" absolute format, it returns the datetime in the format of "Day Month HH:mm AM/PM".
It could be useful to have another setting which can give the time in 24 hours, when the timestampFormat is set to "absolute", or in general to decide which datetime format to show.

https://github.com/microsoft/BotFramework-WebChat/blob/aaec155732d3968ae69972ea01

[2021-02-03 10:43] Amit8527510735 commented on #3619
Access provided to @amal-khalaf created new bug(https://github.com/microsoft/BotFramework-WebChat/issues/3700) for the same due to SLA

[2021-02-03 10:57] Amit8527510735 opened #3702 "[Screen Readers-Intelligent Support Experience-Rate your Experience]: Talkback focus is not sequential on invoking any of the Star rating buttons in 'Rate your Experience' section while navigating using right swipe"
User Impact:
Screen Reader dependent users who navigate using Talkback right swipe are misguided as Talkback focus is not sequential on invoking any of the Star rating buttons in 'Rate your Experience' section while navigating using right swipe

Product name, version, and build: Intelligent Support Experience/Chrome v.83
Device: Android
OS : Version 10
Browser: Chrome version 83.0.4103.106
URL: ht

[2021-02-03 10:59] Amit8527510735 commented on #3702
#A11yMAS;#A11ySev2;#Accessibility;#WCAG1.3.2;#HCL;#HCL_BotFramework_WebChat;#Linked:BUG6373874;#LinkedBug

[2021-02-03 11:01] Amit8527510735 commented on #3702
@amal-khalaf  Access granted on your alias. Closed bug https://github.com/microsoft/BotFramework-WebChat/issues/3620 due to SLA and created new bug for the same.

[2021-02-03 11:04] Amit8527510735 commented on #3700
@amal-khalaf : Access granted on your alias. Closed bug https://github.com/microsoft/BotFramework-WebChat/issues/3619 due to SLA and created new bug for the same.

[2021-02-03 15:34] 01 commented on #3685
@stevkan

Sure. To accomplish this will need to add own styling for div and image

![image](https://user-images.githubusercontent.com/17934292/106769826-6334a500-660b-11eb-96fc-ffe6cd1c9d17.png)

[2021-02-03 18:01] amal-khalaf commented on #3616
Investigation Results:
once activity is marked as sent it is written to DOM as well as it Timestamp , only when the next activity  arrive and mark as sent when the group timestamp logic kicks in.  which could be milliseconds apart.
the technical limitation here is once a live region element is written to the DOM and marked with aria  attribute to be logged
it is added to narration  queue so even i

[2021-02-03 18:52] corinagum commented on #3699
To my knowledge this is standard behavior for timestamp diffs. Do you have an example of this not being the case in other apps? If so that will help us discuss with the design team moving forward.

[2021-02-03 20:27] corinagum commented on #3701
This is a good request. @compulim I ~seem to recall complications regarding 24hr time format for localization, but I don't recall details. Could you weigh in?

[2021-02-03 20:46] mirkon90 commented on #3699
@corinagum for example, in Whatsapp all the messages related to the day before, even if they have been sent less than 24 hours, are marked in the section "Yesterday". Usually, I guess this is the common behaviour when referring to the day before.

[2021-02-03 21:23] corinagum commented on #3616
@amal-khalaf I mentioned in the email I sent that this will be closed, but would you prefer to make this P1 and add that documentation for R12?

[2021-02-03 22:35] corinagum commented on #3699
I'm adding this to our front-burner for consideration for our next release.

[2021-02-04 02:09] stevkan commented on #3690
This is an issue with the Qna Maker service and not with Web Chat. You can find assistance by posting your question in their [Customer Feedback & Ideas for Cognitive Services](https://feedback.azure.com/forums/932041-cognitive-services) forum without need of an Azure Support Plan.

[2021-02-04 02:09] #3690 closed

[2021-02-04 04:48] Amit8527510735 commented on #3605
Now JAWS is announcing incoming activity image properly. Hence closing the bug.

[2021-02-04 04:48] #3605 closed

[2021-02-04 05:59] Amit8527510735 commented on #3622
@amal-khalaf whenever you implement the workaround, please let us know will validate the issue.

[2021-02-04 07:56] compulim commented on #3612
@Quirinevwm do you like this one?

The flipper buttons are placed in padded space outside of the first and last element.

![recording](https://user-images.githubusercontent.com/1622400/106861332-792d7e80-667a-11eb-8c84-477ea167ff30.gif)

The flipper buttons will be hidden if they are no longer needed.

![image](https://user-images.githubusercontent.com/1622400/106861905-420b9d00-667b-11eb-947f-d3a

[2021-02-04 11:28] compulim commented on #3431
@eyadon "Connecting..." is different, this indicator is based on whether the Web Socket is connected or not. It is not based on any activities received. If it take 5 seconds for "Connecting..." to go away, the Web Socket take 5 seconds to connect.

[2021-02-04 11:30] compulim commented on #3431
@arman-g this ID is from Azure Bot Services. Web Chat has no control over the value or its content. Thus, Web Chat won't parse it or do any comparisons over them. We just treat it as a string and assume it's non-sequential like a random GUID.

[2021-02-04 11:45] compulim commented on #3431
@MatthiasGwiozda I talked to the SDK team and they said this is a by-design issue: the first activity ID is in "malformed" format. And they won't take it out.

So in Web Chat, if the transcript is empty, we will not delay any activities with Reply-To-ID set. In other words, we will not delay the first activity coming in, regardless it has Reply-To-ID or not.

And right now, activities sent by the

[2021-02-04 13:14] Quirinevwm commented on #3612
@compulim, I like it! The natural way of giving the click a padded space on it's own makes sense, with enough space for a click with the 50x padding. Plus, good it will not appear when the canvas is wide enough to show all the SA's.

For the back and forth:
- start view: can we make sure the left chevron is not present, so when a user sees the right chevron on their screen they will click (or swip

[2021-02-04 15:00] #3215 closed

[2021-02-04 15:24] compulim commented on #3431
Found the issue.

This is because of a race condition:

- After created a conversation
- User send an activity (or Web Chat programmatically sending out an activity)
- At the same time, the bot also send another activity, with reply to ID of a bogus activity

The timeout occurs if the user's message was send before the bot message was received.

Originally, we allow the bot's activity to show up e

[2021-02-04 15:51] #3676 closed

[2021-02-04 16:46] dhulipudi2021 opened #3706 "Suggested Actions not being rendered on the react App"
Package version:
botframework-webchat - 4.10.1

Issue:
Bot code runs as expected displaying the suggested actions options on a Bot Emulator UI.
I have implemented suggested actions into our bot code to list out few options to choose from, it can be seen on the emulator while testing. But when deployed it's not rendering on the react App, I inspected the elements and looked into action types the js

[2021-02-04 18:28] compulim commented on #3612
This is what we have today. The left chevron is not shown until the user move to the right.

![recording (2)](https://user-images.githubusercontent.com/1622400/106937389-8a09de80-66d2-11eb-8bd2-e32d09d0c9d9.gif)

So the existing design fulfill your point 1: if the view is at far left (i.e. initially), the left chevron should be hidden, because there is nothing on the left side.

In your point 2, y

[2021-02-04 19:10] srinaath commented on #3702
@amal-khalaf  Is this ticket on your plate?

[2021-02-04 19:14] srinaath commented on #3688
@amal-khalaf Could you take a look at this ticket?

[2021-02-04 19:15] compulim opened #3707 "First activity will have a bogus replyToId if it was from the bot"
## Version

`master` (as of pre-R12)

## Describe the bug

Although this is a SDK bug, I am filing it here because we have `// TODO` code to remove after that bug is fixed.

First activity will have a bogus `replyToId` if it was from the bot.

If this bug is not fixed, it might cause accessibility issues on our side.

- When the bot is sending the very first activity in the conversation, that acti

[2021-02-04 19:25] srinaath commented on #3667
@venkatx5 is this still an issue blocking you?

[2021-02-04 19:28] #3660 closed

[2021-02-04 20:01] srinaath commented on #3655
closing this ticket as its contents are covered in linked tickets

[2021-02-04 20:01] #3655 closed

[2021-02-04 20:43] Quirinevwm commented on #3612
@compulim from the capture shots I did not realize that is what you've intended to do (as before) - so when the user decides to move to the right the left chevron appears ; )
 ![image](https://user-images.githubusercontent.com/43533472/106949782-b7d04100-672d-11eb-8c26-f1fb1bb98f3d.png)
Then this all makes sense what you've shared, **looks good with new padding** and it will be visible once a user

[2021-02-04 21:15] corinagum commented on #3688
Please test this behavior on the latest version of Web Chat (4.11.0). Behavior should be resolved in latest release.

[2021-02-04 21:19] corinagum commented on #3706
Please test this on latest release - Web Chat 4.11.0

Please also fill out the bug report form, including repro steps and other information that will allow us to help you.

[2021-02-04 22:05] corinagum commented on #3612
Based on discussion above, I think it's good to go with @compulim's solution since it will fix the original problem. In terms of fine-tuning the UX, maybe after this change has been implemented we could all meet again for design tweaking. Thoughts?

[2021-02-04 22:07] compulim commented on #2100
Discussed offline with @corinagum, we will try this route:

- Write `webchat.d.ts` manually
  - It should include types for `defaultStyleOptions`
  - (Should we name it `index.d.ts`? Let's see how other TypeScript projects name this file)
- Update `package.json` and add a new field to point to this `webchat.d.ts` file
  - https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.ht

[2021-02-04 23:44] Dhulipudi2020 commented on #3706
Hello @corinagum thanks for the response.
Yes, upgraded to the latest version 4.11.0, issue still persists.

[2021-02-05 08:57] Quirinevwm commented on #3612
Yes but to be honest the UX was fine since the initial state was already great, it was only a padding and spacing problem, so what @compulim has is oke!

[2021-02-05 12:52] #3625 closed

[2021-02-05 16:57] MUKESHNITP opened #3709 "[Web Channel] Update activity is not working for Adaptive card"
We are working on web channel. We have some feature, where we need to update the adaptive card. We are trying to update the adaptive card using the updateActivity method by response activity id but it is giving the process activity error. We also tried from postman using put method, but it is giving the error that "This channel does not support this operation"[PFA]. This updateActivity logic work

[2021-02-05 17:33] #3431 closed

[2021-02-05 17:34] amal-khalaf commented on #3623
fixed by PR #3705
I verified that with above PR i no  longer see the  timeout for the after the initial send event activity is sent

[2021-02-05 17:34] #3623 closed

[2021-02-05 23:38] chrimc62 commented on #3165
This is a very annoying bug that has been reported by me and others--is it really that hard to fix?  No one can generate output with curly braces.

[2021-02-07 05:09] venkatx5 commented on #3667
The issue is still persist. Is there any fix deployed? Should I change the webchat js version?

[2021-02-07 05:13] venkatx5 commented on #3676
That's wonderful. Thanks a lot for the Swift action.
Hope it'll be webchat version 12.0?

[2021-02-07 05:46] corinagum commented on #3676
Yes, 4.12 is slated for March 8th release.

[2021-02-07 05:51] venkatx5 commented on #3676
May I know what's available on February 15?

[2021-02-08 18:18] stevkan commented on #3709
@MUKESHNITP, as you have already noted, the ability to update an activity in Web Chat (via the Direct Line channel) is not a supported feature. Therefore, there is no way to update the adaptive card as a method/feature of BotFramework (in Web Chat).

However, you _can_ update the HTML of the adaptive card as a browser action in response to some activity being passed from your bot to Web Chat. In s

[2021-02-08 18:18] #3709 closed

[2021-02-08 18:35] stevkan commented on #3706
@Dhulipudi2020, I am unable to repro your issue using either v4.10.1 or v4.11.0. Are you able to post/attach the below items so I can attempt a more accurate repro of your issue?

- Your complete Web Chat code (hiding any secrets/keys)
- The code you are using in your bot to send the suggested actions
- Your package.json file

[2021-02-08 18:53] stevkan commented on #3638
@007-fr, please accept my apologies for the delayed response. I hadn't noticed that the issue was re-opened. I am not seeing the email you had sent me. It was possibly caught up in junk mail and since removed. Could you please send, again?

[2021-02-08 19:29] Virtual-Josh commented on #3662
@caleberi,

@compulim is looking for someone on the team to investigate.

[2021-02-08 19:31] compulim commented on #3662
Although your app is not using React, Web Chat is using React to handle all the rendering.

Can you check if your `virtual-keyboard-js` is working with React correctly? One way to test it is to extending the CodePen I shared out, with your `virtual-keyboard-js`.

[2021-02-08 19:38] compulim commented on #3632
Assigning to Post R12.

I think the last time we discussed was to fix this shortly after we ship R12. Please correct me if I am wrong.

[2021-02-08 19:46] compulim commented on #3192
We will discuss about the priorities after we ship R12.

[2021-02-08 22:05] cwhitten commented on #3616
● useScrollTo.keepNewMessagesButton › should scroll and keep "New Messages" button

    Unhandled exception from the test code on the page.

    Error: Test code timed out while waiting for "New message button is shown".

      at http:/webchat2/__dist__/testharness.js:1:5036
      at _loop$ (__tests__/html/__jest__/createJobObservable.js:47:13)
      at tryCatch (node_modules/regenerator-runtime/

[2021-02-08 23:23] compulim opened #3712 "Suggested actions to become a composite component with a single TAB to go in/out"
## Feature Request

While we are working on navigable transcript, `aria-activedescendant` really shines.

We should also move suggested actions to use the `aria-activedescendant` or roving tab index to make things easier to select thru <kbd>TAB</kbd> keys.

The whole suggested actions container should be a single <kbd>TAB</kbd>. And for buttons inside, they should not need to be tabbable, but inte

[2021-02-09 01:48] dmvtech commented on #3639
Hi @selvaduraiece I am still struggling to find out what the cause is with your approach. Would you be interested in other (timer) approaches that will work?

[2021-02-09 04:00] selvaduraiece commented on #3639
I am fine with other approaches as wel. can u help me with the approach
?

[2021-02-09 20:41] compulim opened #3713 "RFC: Architecture of chat adapter and supporting different chat providers"
## Feature Request

To ready Web Chat into the future, I am proposing an architecture to allow Web Chat to operate on first party and third party chat providers.

Although this issue is related to #2490, this issue is for chat adapter implementation, #2490 is for listing out (potential) differences of chat providers. One can consider this issue is for the client, while #2490 is for the service.

#

[2021-02-09 20:53] #3612 closed

[2021-02-09 21:56] #3411 closed

[2021-02-09 21:56] #3421 closed

[2021-02-09 21:56] #3666 closed

[2021-02-09 22:26] mgifford opened #3714 "Will there be a VPAT? What is the Accessibility Roadmap?"
There are lots of accessibility issues listed already:
 https://github.com/microsoft/BotFramework-WebChat/issues?q=is%3Aissue+is%3Aopen+accessibility

Is there going to be a VPAT for this? More importantly, what is the road map to address these issues?

People expect Microsoft products to be accessible. Chatbots are complicated. This doesn't look like it has been built with best practices around s

[2021-02-09 23:35] corinagum commented on #3550
Been trying to track down customer engagement, but I haven't been able to do so. Closing this issue.

[2021-02-09 23:35] #3550 closed

[2021-02-10 09:39] mhauens opened #3715 "Please update to React ^17.0.0 support"
You cant use BotFramework-WebChat with react 17 because it has the dependency to react 16

Please update to React 17

[2021-02-10 18:13] corinagum commented on #3715
https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/g.hybrid-react-npm Have you tried this sample? If you are having trouble please feel free to reach out for help on Stack Overflow.

Changing this to feature request since workaround is available.

[2021-02-10 18:46] corinagum commented on #3714
Thanks @mgifford for filing this issue. We care deeply about Accessibility and use the Accessibility label to track our Accessibility-related issues. [Accessibility label issues](https://github.com/microsoft/BotFramework-WebChat/issues?q=is%3Aissue+is%3Aopen+label%3A%22Area%3A+Accessibility%22+ )

Currently there are 4 issues that have open PRs, and will be merged in for our next release. To see m

[2021-02-10 18:52] corinagum commented on #3714
@Virtual-Josh hahaha, apparently GitHub doesn't like us editing labels at the same time. Reverting them back, fyi

[2021-02-10 19:03] corinagum commented on #3713
This isn't a customer-reported issue per se, right? Can we remove customer reported and Bot Services?

Do we want a new Area label regarding adapters?

[2021-02-10 19:40] compulim commented on #3714
FYI, we follow Microsoft accessibility policy for products. We are compliant to WCAG 2.1, EN 301 549, and Section 508. You can find our conformance report here, https://cloudblogs.microsoft.com/industry-blog/government/2018/09/11/accessibility-conformance-reports/, under the product of Azure Bot Services.

As @corinagum mentioned, accessibility is our top priority.

There are a few reasons why we

[2021-02-10 20:25] mgifford commented on #3714
Thanks @corinagum @compulim for your feedback. This is great, both in it's speed and substance.

I missed the accessibility doc. I would suggest that you add something to the Readme, in particular encouraging feedback around ways to improve your accessibility. Having an open feedback loop is really important, as technology is constantly evolving. Think of it like security, you want to make sure th

[2021-02-10 21:21] compulim commented on #3714
Thanks @mgifford, ❤ your feedback.

Can you explain a little bit more about semantic HTML5 elements? Or may be a link to section in the WAI-ARIA guidelines/practices would be great, https://www.w3.org/TR/wai-aria-practices/. Or may be pointing out one issue and we can figure out the rest. 😉

Personally, I believe chat UI is a great companion for people with disabilities. Web design evolves so fast

[2021-02-10 21:24] compulim opened #3716 "Add Microsoft FastPass or axe-core to our test suite"
## Feature Request

Adds [Microsoft FastPass](https://accessibilityinsights.io/docs/en/web/getstarted/fastpass/) or any [`axe-core`](https://www.npmjs.com/package/axe-core)-derived automated accessibility test engines to our test suite.

[feature-request]

[2021-02-10 21:44] corinagum commented on #3714
I made a PR for docs improvement: https://github.com/microsoft/BotFramework-WebChat/pull/3717

[2021-02-10 21:58] corinagum commented on #3616
Closing as complete

[2021-02-10 21:58] #3616 closed

[2021-02-10 22:46] #3453 closed

[2021-02-10 22:48] compulim commented on #3715
Will be great if anyone have insights on whether we should put `react >= 16.8.6` on `peerDependencies`. Sample packages that use peer dependencies will be great for us to evaluate its effectiveness.

[2021-02-10 23:33] mgifford commented on #3714
@compulim I haven't done an exhaustive review, but seems that ARIA is being overused. Seems to be breaking the first rule of ARIA:

Might also be useful to include a list of resources that have been reviewed on accessible chatbots including possibly links & comments on:
- https://a11y-guidelines.orange.com/en/web/components-examples/chatbot/
- https://www.canaxess.com.au/infocard/chatbots
- https:

[2021-02-11 00:35] amal-khalaf commented on #3700
@Amit8527510735
The described issue regarding JAWS announcing Attachement for any selected control is due the Adaptive Card UI elements does not have the proper **aria-roledescription** added to it.
what WebChat do is it set **aria-roledescription='attachement'** on the parent ui element which will contain the rendered AC component. which what JAWS will be falling back to when there is no **aria-r

[2021-02-11 00:49] amal-khalaf commented on #3688
this is fixed in webchat 4.11
closing the bug as not repro.

[2021-02-11 00:49] #3688 closed

[2021-02-11 17:27] Zerryth commented on #3691
Closing due to inactivity. Additionally, it seems like the error is telling you it's a malformed request.
(See previous comment for instructions on how to set up the scenario)

[2021-02-11 17:27] #3691 closed

[2021-02-11 22:01] corinagum commented on #3487
Closing this as resolved. The service has begun 1.3 schema support rollout, and should be available worldwide within a week or so. Adaptive Cards 2.x and the 1.3 schema will be supported in our next release, March 8th.

[2021-02-11 22:01] #3487 closed

[2021-02-11 22:22] corinagum commented on #206
Closing this issue - the second part of the topic, acquiring telemetry for samples etc, hasn't gained traction. We can always revisit the topic later. :)

[2021-02-11 22:22] #206 closed

[2021-02-11 22:23] corinagum commented on #1574
Closing due to lack of traction.

[2021-02-11 22:23] #1574 closed

[2021-02-12 02:13] compulim opened #3718 "`uuid` package introduced from Speech SDK broke IE11"
## Screenshots

In `node_modules/uuid/dist/stringify.js`:

![image](https://user-images.githubusercontent.com/1622400/107722649-3c721080-6c94-11eb-8ca7-90d45a9eb105.png)

## Version

`master` after bumping Speech SDK.

## Describe the bug

`uuid` accidentally introduced a bug that broke IE11 because of using default parameters.

## Steps to reproduce

1. Open `01.c.es5` sample in IE11
2. Type `mar

[2021-02-12 02:14] compulim opened #3719 "Remove TODO for uuid@8.3.2 once we bumped"
## Feature Request

Related to #3718.

Once we bumped to a version of `uuid` that no longer broke IE11 (including bumping to Webpack 5), we should remove the stopgap we added to `webpack.config.js`.

[feature-request]

[2021-02-12 02:17] corinagum opened #3720 "defaultStyleOptions in API and component/Styles overlap"
## Steps to reproduce

1. make a change to `api/src/defaultStyleOptions`, but NOT `component/Styles/defaultStyleOptions`
1. View result
1. make a change to `component/Styles/defaultStyleOptions` but NOT `api/src/defaultStyleOptions`,
1. View result
1. See behavior is not consistent

## Expected behavior

both files should be cleaned up so there are no overlapping styles.

## Additional context
Thi

[2021-02-12 10:46] pinarkaymaz6 commented on #2211
Looking forward to this, is there any update?

[2021-02-12 18:11] corinagum commented on #2211
We're still in the design phase for this, but the team is also excited for this feature! We are hoping to get to coding phase soon!

[2021-02-14 01:10] compulim commented on #3720
If we have time, I prefer we study more in this topic and modernize our `styleOptions`. But if we don't, we could just make them non-overlapping.

To modernize:

## Style options in `component`

These are options that would only available in HTML version of Web Chat, mostly visuals (plus transitions/animations duration, etc). I would suggest to move them to CSS var. For example,

[code]

Then, we

[2021-02-14 04:07] #2996 closed

[2021-02-14 11:56] cxbuilders opened #3722 "Get proper classes for Attachment Icon and Send Icon"
Using CSS to style the webchat proves to be really difficult as elements do not have any proper class names when regular CSS is used to style the client. Targeting the attachment icon and still allow it to be turned on and off results in some horrific CSS selectors like;

**Attachment Icon**
.main > div:first-of-type:not(:only-of-type)

**Submit Button**
.main>form+div button

Below a screenshot o

[2021-02-14 19:40] Virtual-Josh commented on #3695
@corinagum Is this ticket going to be in R12?

[2021-02-15 09:04] HesselWellema commented on #3562
50c from a 'customer'. Since one is already trying to free up as much real estate as possible when selecting the flow layout, you are safe to assume that the length of the text on the button (the CTA) is already as short as possible. So it makes sense to not word-wrap in flow layout.

[2021-02-15 09:10] Ramesh-Pachunuri opened #3724 "Bold is not applying for a text in Choice Prompt - BOT Framework"
We have various prompts in BOT Framework and trying to apply the bold for text by using double asterisk symbols (**) and it is applying for all prompts except for Choice Prompt. How can we apply the same bold text style for Choice Prompt as well?

It is reddening like blow:

![image](https://user-images.githubusercontent.com/69036193/107926582-e7881000-6f9b-11eb-9fb2-967831076e2c.png)

This bold i

[2021-02-15 17:58] pedro-ramirez-suarez opened #3725 "Getting 401 when user sends a message on webchat"
I am getting 401 errors for every message that the user sends thorugh webchat.

My code it's very similar to
https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api/a.welcome-event

The only differnce is that for now I am getting the token in the browser something like this:

`
  let response = await fetch('https://directline.botframework.com/v3/directline/tokens/generate',

[2021-02-15 18:20] pedro-ramirez-suarez commented on #3725
I forgot to mention that I also tried specifying a user id when requesting the token and also calling renderWebChat but got the same result (401 error).

[2021-02-15 21:13] v-kydela commented on #3724
Thank you for the question, @Ramesh-Pachunuri

That doesn't look like any choice prompt I've ever seen. What list style are you using? Can you provide the code you're using to instantiate and begin the choice prompt, as well as screenshots of the messages displayed in Emulator and Web Chat?

[2021-02-15 21:43] Ramesh-Pachunuri commented on #3724
@v-kydela  We have 5 style sheets found [here ](https://docs.microsoft.com/en-us/javascript/api/botbuilder-dialogs/liststyle?view=botbuilder-ts-latest)and I am using HeroCard but the bold is applying in emulator but not in webchat. I tried with remaining 4 styles as well but none of them are working properly.
In Web Chat :
![image](https://user-images.githubusercontent.com/69036193/107995013-d7a41

[2021-02-15 21:59] v-kydela commented on #3724
@Ramesh-Pachunuri - Thank you for the screenshots. It looks like Web Chat isn't rendering Markdown in the text of a hero card, but it's strange that it would work in Emulator since Emulator uses Web Chat. Can you provide the code I asked for so we can try reproducing the problem on our end? A minimal example would be best.

[2021-02-15 22:05] Ramesh-Pachunuri commented on #3724
@v-kydela
![image](https://user-images.githubusercontent.com/69036193/107997007-cf4dda80-7007-11eb-8953-add164baefe0.png)
In GetPromptOptions I am applying HeroCard style.
![image](https://user-images.githubusercontent.com/69036193/107997086-f6a4a780-7007-11eb-9e6d-0c1d4279eccf.png)

[2021-02-15 22:13] v-kydela commented on #3724
@Ramesh-Pachunuri - Please provide code as text and not screenshots

[2021-02-15 22:18] Ramesh-Pachunuri commented on #3724
@v-kydela
internal async Task<DialogTurnResult> SeverityStepAsync(
            WaterfallStepContext stepContext,
            CancellationToken cancellationToken)
        {
            var botSession = stepContext.Options as BotSession;

            if (botSession.Incident.Severity == null)
            {
                var msg = ConfigStringResolver.Instance.GetConfigString("AskSeverity");

[2021-02-15 22:25] Ramesh-Pachunuri commented on #3724
@v-kydela Yes, we are reading the text from JSON file as a string. Sure I will try your suggestion as well. But if the bold is applying in emulator then it should also apply for Web Chat as well right? Why only having an issue with Web Chat?

[2021-02-15 22:44] #3725 closed

[2021-02-15 22:44] pedro-ramirez-suarez commented on #3725
I am closing this since redeploying my bot fixed the issue.

[2021-02-16 00:08] compulim commented on #3722
In the next version of Web Chat 4.12, you will see both attachment and microphone button has a better class name.

![image](https://user-images.githubusercontent.com/1622400/108003234-fc1dd580-6fa6-11eb-8bbe-7247ee6d44e1.png)

But not for send button (yet).

![image](https://user-images.githubusercontent.com/1622400/108003319-41da9e00-6fa7-11eb-8b77-968a495ea4c6.png)

Styling through CSS is not tr

[2021-02-16 00:08] compulim commented on #3722
I have updated the issue name to indicate the issue is specifically on send box button (in 4.12).

[2021-02-16 00:12] v-kydela commented on #3724
@Ramesh-Pachunuri - It's possible to add components to or remove components from Web Chat. There are a few different Web Chat "bundles" which have different components. Not all Web Chat implementations have Markdown, and not all Web Chat implementations have cards. Can you provide your HTML so we can see how your Web Chat is configured?

It's worth noting that Markdown not working in cards [has be

[2021-02-16 07:55] Amit8527510735 commented on #3700
@amal-khalaf  So as per your comment seems this bug is external to Adaptive Card Team?

[2021-02-16 07:58] Amit8527510735 commented on #3622
@amal-khalaf Can you please confirm is this ready for re-test?

[2021-02-16 09:05] arijitoptisol123 commented on #1427
is disabling the adaptive card buttons possible in python botframework? Please reply it's urgent.

[2021-02-16 09:22] cxbuilders commented on #3722
@compulim I understand the benefit of declarative styling and this is also what we use wherever this is possible. However this will never fully replace CSS styling benefits. I understand that html structure cannot be guaranteed through versions and that's ok. CSS styles are always used in conjunction with a fixed webchat version and upgrading might take a couple of CSS changes.

[2021-02-16 09:28] cxbuilders opened #3727 "Dynamically Update StyleSet"
It would be great if the Styleset could be updated dynamically after the webchat has been initialized. This allows for behavior like changing the BotIcon and enabling the attachment Icon when agent handoff is initialized.

Currently I use a event from the bot that gets picked up in the middleware and ads a handoff class to the chat container. Then CSS is used to switch bot icon and toggle attachme

[2021-02-16 15:20] compulim commented on #3727
It can be dynamically update. Just call `renderWebChat` again.

Since this is actually `ReactDOM.render` behind the scene, please make sure for props that don't need to change, such as `directLine` prop, should retain its original value (i.e. reference equal).

[2021-02-16 15:20] #3727 closed

[2021-02-16 15:26] compulim commented on #3724
@v-kydlea if it can show Adaptive Card and hero card, it must be full bundle, which includes Markdown.

[2021-02-16 17:08] Ramesh-Pachunuri commented on #3724
@v-kydela :  Please let me know if you have the availability to discuss on teams?

[2021-02-16 18:01] stevkan commented on #3681
Closing due to lack of activity.

[2021-02-16 18:01] #3681 closed

[2021-02-16 18:32] corinagum commented on #3695
@Virtual-Josh no, it is not scheduled as an action item. Since it is stale, I am closing this issue.

[2021-02-16 18:32] #3695 closed

[2021-02-16 18:35] corinagum commented on #3562
@HesselWellema thanks for the feedback! We've had tons of differing opinions on this topic so it's good to see alignment with the decisions we receive from the designers. Overall we **strongly** believe that buttons should always be a short as possible, with necessary context added with the activity. I'll be documenting this in our PR

[2021-02-16 18:43] corinagum commented on #1427
yes. Bot language does not affect the client behavior. Please use sample provided above.

[2021-02-16 18:47] corinagum commented on #3722
@compulim There's nothing off the top of my head, but I can take a look once I've finished my current PR. Adding this item to team discussion for future planning.

[2021-02-16 18:50] corinagum commented on #3724
@v-kydela correct, AC can be added like in the Markdown sample. I think compulim was just pointing out that it's not available by default.

[2021-02-16 19:53] amal-khalaf commented on #3622
@Amit8527510735 I am having some issues in our CI tests - will update this thread when the change is merged to master branch.

[2021-02-16 20:22] amal-khalaf commented on #3700
@Amit8527510735  yes - could you transfer this issue over to the AC team?

[2021-02-17 00:36] corinagum commented on #3662
Closing due to inactivity

[2021-02-17 00:36] #3662 closed

[2021-02-17 00:38] #3700 closed

[2021-02-17 01:21] corinagum commented on #3722
Related: #2389 CSS insertion points

[2021-02-17 07:43] #3718 closed

[2021-02-17 08:02] cxbuilders commented on #3727
@compulim Updating the styleOptions.hideUploadButton and calling renderWebchat again has no effect at all.

[2021-02-17 08:23] cxbuilders commented on #3727
@compulim nevermind, styleOptions is checked on reference as well, so when passing in a new object to styleOptions it gets parsed. Thanks for the help

[2021-02-17 15:09] #2818 closed

[2021-02-17 16:00] compulim commented on #2702
It seems the issue is no longer repro on latest build of Android 10.

[2021-02-17 16:00] #2702 closed

[2021-02-17 19:00] compulim opened #3731 "4.12.0 Release checklist"
# Checklist

## Build

1. [x] Bump MockBot to Bot Framework SDK release 4.12.0
   - https://www.npmjs.com/package/botbuilder/v/4.12.0
   - (We will not bump for patch release)
1. [x] ~Bump `botframework-directlinejs` to `0.14.1`~
   - No newer version
1. [x] Bump to `4.12.0`
   - [x] Update `CHANGELOG.md` to mark specific changes in `4.12.0`
   - [x] Run `npm version --no-git-tag-version 4.12.0`

[2021-02-17 20:01] corinagum commented on #3667
Problem/fix for this issue still needs to be investigated.

[2021-02-17 20:10] compulim opened #3732 "4.12.0 Post release checklist"
These are chores that we should do before starting the cycle to reduce ripple effects if we do it in mid-cycle.

Tips:

- Clean your repo before start
- Remove `node_modules` from all folder
   - `git clean -fdx`
- Never delete `package-lock.json`
- If you mess it up, tableflip and redo
- In `component/package.json`
   - Remove reference to `botframework-webchat-core` by hand-modifying `package.js

[2021-02-17 23:42] corinagum opened #3733 "PR releases to GH Actions"
When new PRs are created, be able to test those PR changes on Web Chat with es5 build

[2021-02-17 23:50] corinagum opened #3734 "Convert pipelines to yml"
- [ ] BotFramework-WebChat-CI-PR
- [ ] BotFramework-WebChat-Release-Testing
- [ ] BotFramework-WebChat-daily -- **DELETE** in favor of GH Actions?
- [ ] BotFramework-WebChat-daily-latest -- What's the difference between this one and the one above?
- [ ] BotFramework-DirectLineJS-daily
- [ ] WebChat-IC3-Adapter-CI
- [ ] DirectlineSpeech-Test
- [ ] StreamingExtensions-Test
- [ ] ...

[2021-02-18 00:54] corinagum opened #3736 "Improve tests speeds by reusing tabs"
Notes:

- Most of the time, the browser spent ~5 seconds to interpret `webchat.js`, the goal of reuse tab is to reduce 5 seconds to 1 second or less
- Our `webchat.js` for test is huge because we have instrumentation code for code coverage
- Reuse tab = reuse a single HTML page
- In our HTML tests, `webchat.js` is loaded via `<script>` tag at the top of the page
- It is not trivial to shutdown Web

[2021-02-18 00:55] corinagum opened #3737 "Add tests for samples"

[2021-02-18 04:37] #3562 closed

[2021-02-18 05:47] #3622 closed

[2021-02-18 18:25] corinagum commented on #3667
@venkatx5 I'm not sure how this is a Web Chat bug. You say you got the card from emulator, but when you test it in emulator, this card doesn't work, correct? Since emulator uses WC, this would be expected in your case. On the bot, have you confirmed that this card is not malformed? Please try sending the json I sent above and see what happens: https://github.com/microsoft/BotFramework-WebChat/issu

[2021-02-18 18:38] corinagum commented on #3714
@mgifford thanks for all the links; I appreciate looking through more material. Based on what you provided, I still feel good about Web Chat's accessibility design decisions.

If you stumble across specific examples of where we are underperforming or incorrectly using a11y features, please feel free to file a new issue pointing to what behavior / code that you find. Again, we very much appreciate

[2021-02-18 18:38] #3714 closed

[2021-02-18 19:40] corinagum commented on #1828
Closing due to lack of traction 🙂

[2021-02-18 19:40] #1828 closed

[2021-02-18 19:42] #2401 closed

[2021-02-18 19:49] corinagum commented on #2703
No longer getting a repro on this one :) Closing

[2021-02-18 19:49] #2703 closed

[2021-02-18 20:55] #3658 closed

[2021-02-18 21:03] corinagum commented on #3706
Closing due to lack of activity

[2021-02-18 21:03] #3706 closed

[2021-02-18 21:16] Zerryth commented on #3677
Chiming in here again -- I have *still* not received any responses from the people I've reached out to, trying to confirm whether or not Direct Line Speech actually supports OAuthPrompt.

Additionally, this seems to be more of service issue with Direct Line Speech rather than an issue with Web Chat or the Bot Framework SDK, because ultimately if DLS doesn't support OAuthPrompt, then it wouldn't wo

[2021-02-18 21:42] corinagum commented on #3677
@Zerryth thanks for the update. I'm closing this as a non-Web Chat issue. If we get pushback from the service team we can always re-open.

[2021-02-18 21:42] #3677 closed

[2021-02-18 23:21] compulim commented on #3667
For the `speak` property to work, it need to be placed in the card, i.e. under `content`. See highlighted in the AC schema below.

![image](https://user-images.githubusercontent.com/1622400/108430566-69737580-71f6-11eb-94a7-05e088a7f401.png)

I spotted few problems in [your card attached here](https://github.com/microsoft/BotFramework-WebChat/issues/3667#issuecomment-762369523):

- There are two `

[2021-02-18 23:21] #3667 closed

[2021-02-19 00:49] compulim commented on #3702
This also repro on Adaptive Cards Designer, https://adaptivecards.io/designer. So the problem is on Adaptive Cards side. I am using Android 10 (55.1.A.12.28) with Chrome 88.0.4324.181 and TalkBack.

My repro is slightly different: instead of the focus jumped to the email box, it jumped to the top of the page. Thus, the focus is still not as sequential as we hoped.

This card use `action.toggleVisi

[2021-02-19 00:49] #3702 closed

[2021-02-19 00:53] compulim commented on #3438
Based on design feedback, this is a noop for Web Chat. Closing by design.

[2021-02-19 00:53] #3438 closed

[2021-02-19 01:14] compulim commented on #2294
This work hasn't been approved. Please keep an eyes out for update from @Kaiqb.

[2021-02-19 01:35] compulim commented on #3165
It only affect the very last curly braces.

We added a feature to Markdown-It to support accessibility by adding a syntax using curly braces, in #3022. The feature is designed to add `aria-*` attributes to make the activity content more accessible, especially for anchors.

Unfortunately, it also impact the last curly braces on the line. For example:

[code]

Will become

[code]

When we import/use

[2021-02-19 02:00] compulim commented on #3701
The problem with this feature is it would significantly increase Web Chat package size by importing another package for formatting timestamp. Not to mention localizing the timestamp is also a big package. We can't justify a increase package size compare to the benefit and usage of this feature.

However, you can do it by customizing the activity status middleware using the following code.

[code]

[2021-02-19 02:00] #3701 closed

[2021-02-19 02:13] compulim commented on #3699
Note for @corinagum, inside `useRelativeTimeFormatter.js`:

[code]

[2021-02-19 02:15] compulim commented on #3404
This is not an action item to Web Chat due to resources.

[2021-02-19 02:16] #3404 closed

[2021-02-19 05:07] kollachaitanyakrishna commented on #3275
Should have the capability to extend for chat.message readstatus, so that it should be inside the chat container.

[2021-02-19 14:18] jomonthomas007 commented on #3678
@enriconatella Sorry for the delay in response. The issue is on reaching bottom of a conversation if we have considerable number of dialogs. The auto scroll feature in whebchat.js is keep the user  wait for quite sometime, which is not giving a soothing user experience.
We are not using any property to enable conversation history.

[2021-02-19 14:21] jomonthomas5 commented on #3678
@enriconatella Sorry for the delay in response. The issue is on reaching bottom of a conversation if we have considerable number of dialogs. The auto scroll feature in whebchat.js is keep the user wait for quite sometime, which is not giving a soothing user experience.
We are not using any property to enable conversation history.

[2021-02-19 17:50] stevkan commented on #3638
Closing due to inactivity. If the issue persists or there are new details that can be provided, please feel free to re-open.

[2021-02-19 17:50] #3638 closed

[2021-02-19 19:23] compulim commented on #3315
@corinagum this is also related to https://github.com/microsoft/BotFramework-DirectLineJS/issues/255.

[2021-02-19 19:32] compulim commented on #3639
If the activity come in with the same ID or same `channelData.clientActivityID`, the previous one will be replaced.

Do you think if it's the case?

[2021-02-19 20:41] compulim opened #3740 "Verify screen reader behavior on Adaptive Card"
## Screenshots

## Version

`4.12.0-0` with AC `2.5.0`.

## Describe the bug

While testing transcript navigation, one of the screen reader behaviors around Adaptive Cards seems off.

We would need to repro this on a page outside of Web Chat. If it still repro, will bring it to the accessibility team to verify.

## Steps to reproduce

AC card should be read if the user focus into it

1. Build a pl

[2021-02-19 23:15] v-kydela commented on #3724
@Ramesh-Pachunuri - Are you still working on this?

[2021-02-20 02:16] dmvtech commented on #3639
Thanks @compulim It is the clientActivityID.

With a quick comment out of this line the issue no longer reproduces:
`  // payload.channelData.clientActivityID = updateConversation.clientActivityID;`

[2021-02-22 13:51] Ramesh-Pachunuri commented on #3724
@v-kydela : I fixed the issue by moving the text out of the card.

[2021-02-22 13:51] #3724 closed

[2021-02-22 15:40] FrancoCorleone opened #3741 "Chatbot doesn't greet with correct user id"
Hello all,
I took one of the JS examples: QnABot, and wanted to greet users with personal note.
Unfortunately, I noticed two weird behaviors:
1. Bot first answers simple Hello (from knowledgebase) and a couple of seconds later pushes the greeting message in between messages. Is that expected behavior?
2. membersAdded is trigger when I click into chat window, that's expected, but it has no context

[2021-02-22 19:13] silverbulletgt opened #3743 "webchat.js - doesGlobalFileReaderExist causes EvalError when Content Security Policy is set"
## Screenshots
Browser Console showing EvalError:
![image](https://user-images.githubusercontent.com/76121744/108755329-1f033900-7515-11eb-85b4-1ced4e3d5803.png)
Line which the error occurs on:
![image](https://user-images.githubusercontent.com/76121744/108755456-42c67f00-7515-11eb-99ab-73bfb42430a4.png)

## Version

WebChat via CDN: https://cdn.botframework.com/botframework-webchat/latest/webchat

[2021-02-22 19:23] compulim commented on #3741
Hi @FrancoCorleone,

`conversationUpdate/membersAdded` event is always fired before any messages. But the timing could varies:

- If you are using Direct Line token containing an user ID (see [point 1 in this article](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0#security-considerations)), then your bot will

[2021-02-22 19:23] #3741 closed

[2021-02-22 19:28] compulim commented on #3743
@stevengum is this one fixed in latest version of DLJS + BFStreaming?

[2021-02-22 20:43] compulim opened #3746 "Suggested actions flow layout introduced a gap between transcript and send box"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/108767592-73a1b680-750b-11eb-8a43-98b334937dd0.png)

## Version

`master` (R12 dev build)

## Describe the bug

When using "flow" layout in suggested actions, even though the suggested actions container is empty, there is a gap.

## Steps to reproduce

1. Go to MockBot
1. Click to focus on the transcript

## Expected behavi

[2021-02-22 21:19] compulim commented on #3743
Some investigations with @Zerryth:

- This PR should have removed the code, https://github.com/microsoft/botbuilder-js/pull/2752
  - Shipped as 4.10.0
- [DLJS 0.13.1 is using BFStreaming 4.10.3](https://github.com/microsoft/BotFramework-DirectLineJS/blob/master/CHANGELOG.md#0131---2020-09-09)
- [Web Chat 4.10.1 is using DLJS 0.13.1](https://github.com/microsoft/BotFramework-WebChat/blob/master/CHA

[2021-02-22 21:42] amal-khalaf opened #3747 "Aria-pressed and aria-role is not properly set on AC submit buttons"
## Version

v.4.12.0

## Describe the bug
aria-pressed and aria-role is not properly set on AC submit buttons

## Steps to reproduce

1. Open
2. open any webchat sample localhost:5000/samples/
3. Input text 'card breakfast'
4. Select any button 'xxx' in the AC and sumbit

## Expected behavior
You should hear 'xxx' button pressed

## Additional context
aria-pressed and role was set on the AC-contai

[2021-02-22 22:56] dmvtech commented on #3639
@selvaduraiece Can you give the above a try and let me know if that works for you?

[2021-02-23 03:51] compulim opened #3750 "Debump `*/package.json/engines/node` to `12.0.0`"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/108799943-9bfad680-7546-11eb-9345-57c7782e6e8d.png)

## Version

`master` as of R12 dev build.

## Describe the bug

In [4.10.0 post-release](https://github.com/microsoft/BotFramework-WebChat/pull/3442/commits/b0375db346b96c034e1d38e1a757cbe74befafde?file-filters%5B%5D=.js&file-filters%5B%5D=.json&file-filters%5B%5D=.ts&fil

[2021-02-23 10:20] FrancoCorleone commented on #3741
Ok. @compulim, that seems ok, but if I try it ootb, it gives me 403 on call to https://directline.botframework.com/v3/directline/conversations.
I'd be glad if you could point me to some documentation here, as I'm struggling with it big time

[2021-02-23 10:52] FrancoCorleone commented on #3741
Ok nvm, I figured it out ;) It was my fault

[2021-02-23 12:50] hrazmsft opened #3752 "Types definition for Typescript"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Yes, there is no good type definition for this library. All the types are just `any`.

**Describe the suggestion or request in detail**

Please generate appropriate type definition for Typescript.

**Additional context**

![image](https://user-images.githubusercontent.com/66222191/108845662-5ee62100-75e6-11eb-9

[2021-02-23 15:06] venkatx5 commented on #3667
@compulim Thanks for the suggestion. We'll try the fix and let you know the outcome.

[2021-02-23 18:49] corinagum commented on #3752
This is related to #2100, which I am working on right now!

This request increases the scope of adding types, so I'll keep this and add to our backlog. Thank you!

[2021-02-23 20:31] #3750 closed

[2021-02-23 21:21] #3746 closed

[2021-02-24 00:27] compulim opened #3754 "Add `useObserveTranscriptFocus` hook"
## Feature Request

Today, Emulator has a mechanism to select/highlight a single activity.

Since Web Chat also introduced similar "transcript navigation" feature in PR #3703, Emulator can move to Web Chat official version.

To enable that, we need to add an `useObserveTranscriptFocus` hook to let the app to know which activity is user is selecting.

[feature-request]

[2021-02-24 10:04] hraz-msft opened #3756 "Sample of token expiration handling"
## Feature Request

**Is your feature request related to a problem? Please describe.**

It is not clear how to handle tokens after they expires. All the samples in this repo call the token API once and not handling token expiration.

Currently, I handle the token expiration on my own - when the token is about to expire, I get a refreshed token use `createDirectLine({ token })` with the new token.

[2021-02-24 18:54] #3754 closed

[2021-02-24 20:10] stevkan commented on #3492
@arman-g, I'm unable to repro the issue in either Chrome, FireFox, or IE. Initially, it wasn't working until I realized you appear to be using jQuery. When I included the jQuery CDN script, it started working. The only exception is in Chrome / FireFox, neither appreciated `this.adaptiveCard` being used. I switched it to `let adaptiveCard = {}` (and commented out `this.changeAdaptiveCard(false)`, a

[2021-02-24 22:00] arman-g commented on #3492
Hi @stevkan I am not sure if you fully understand the issue I am talking in this tread so let me try to explain it again. The issue is not about having able to focus the input box (I am able to put the focus on the input box) but in some browsers (IE and Firefox) the adaptive card is not fully visible (not scrolled to the bottom). Please see the image provided below (Firefox - left, Edge - right).

[2021-02-24 22:17] #3747 closed

[2021-02-24 23:40] compulim opened #3757 "IE11: Send box is disabled after pressing ESCAPE from transcript"
## Version

`4.12.0-master.873a827`

## Describe the bug

In IE11, given focus on the transcript, pressing <kbd>ESC</kbd> will focus on the send box. But can't start typing anything.

## Steps to reproduce

1. Press <kbd>SHIFT</kbd> <kbd>TAB</kbd> until focusing on the transcript (or terminator)
1. Press <kbd>ESCAPE</kbd>, focus should now in the send box (caret in the send box)
1. Press <kbd>A</k

[2021-02-24 23:57] corinagum opened #3758 "NVDA/Chrome doesn't speak 'Use arrow keys...' aria lable"
## Version
4.12 pre-release

## Describe the bug

When using NVDA and Chrome, the aria-label 'Use arrow keys' is not spoken when focused on 'End of transcript'

## Steps to reproduce

1. Load Web Chat in Chrome
2. Type any activity
1. Turn on NVDA
1. Press Tab two times from sendbox
1. NVDA says 'End of transcript' but not 'Use arrow keys...'

## Expected behavior

Similar to Narrator x Edge, 'Use

[2021-02-25 00:03] corinagum opened #3759 "Accessibility team: How should VoiceOver rotor work with navigating transcript?"
BUG: note that for mobile, 'Use arrow keys...' aria-label at End of transcript should not be spoken

Discuss with a11y team:

How should transcript navigation work on Safari with VoiceOver/ Android Chrome with Talkback? Having trouble emulating behavior of arrow key navigation.

https://corinagum.github.io/WebChat-release-testing/01.create-react-app/index.html

On browser:
1. Type any activity in

[2021-02-25 05:42] compulim opened #3760 "[Bundle] Rendering unknown attachment should not turn blank"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/109108602-b7054c00-76e8-11eb-87ba-df5343b91676.png)

## Version

R12 candidate

## Describe the bug

When using `webchat*.js`, it load React 16.8.6 internally.

When rendering attachments with error, such as the `unknown attachment` command, we didn't catch that exception in `<ErrorBoundary>`. Thus the uncaught exception bu

[2021-02-25 08:35] #3760 closed

[2021-02-25 09:23] bertrod opened #3762 "Update prop enterkeyhint for TextInput component"
It seems the TextInput component is producing a warning when using the prop enterkeyhint for react >17. This is a known issue and it would be nice to get rid off the warning. It's just about updating the case of the prop to become enterKeyHint

https://github.com/necolas/react-native-web/issues/1778

[2021-02-25 18:51] corinagum commented on #3756
We don't have a sample at this time, but generally I point to Web Chat's [Mock Bot](https://github.com/compulim/BotFramework-MockBot/blob/master/src/generateDirectLineToken.js), which shows a way to do token fetching. Note that there's also a file called `renewDirectLineToken`.

Duplicate of https://github.com/microsoft/BotFramework-WebChat/issues/2343

Hope that helps!

[2021-02-25 19:39] compulim opened #3763 "Suggested actions with word wrap and max height is off on macOS Safari"
## Screenshots

This is on macOS Safari.

![image](https://user-images.githubusercontent.com/1622400/109207118-9b885880-775d-11eb-8dd5-d84bc45d4107.png)

This is on Windows with Edge/Chrome.

![image](https://user-images.githubusercontent.com/1622400/109207194-b22eaf80-775d-11eb-92e9-db4e4525be39.png)

This is on IE11.

![image](https://user-images.githubusercontent.com/1622400/109207559-1b162780-

[2021-02-25 20:15] corinagum commented on #3763
This will be hard for me to work on since I don't have a mac. We'll have to coordinate later on.

[2021-02-25 21:09] compulim opened #3764 "[macOS Safari + VoiceOver] Up/down arrow key while navigating transcript should narrate"
## Version

Candidate of `4.12.0`

## Describe the bug

When using macOS Safari + VoiceOver, pressing up/down arrow keys while navigating the transcript, VoiceOver would narrate nothing.

## Steps to reproduce

1. Turn on VoiceOver
2. Talk to MockBot for a few turns
3. Press <kbd>SHIFT</kbd> <kbd>TAB</kbd> a few times to focus on the transcript
4. Press <kbd>UP</kbd> arrow key for a few times

##

[2021-02-25 21:18] congysu commented on #3762
@compulim could you please take a look at this?  Thanks.

[2021-02-25 23:03] #3764 closed

[2021-02-25 23:46] cwhitten commented on #1289
Hello, we'll close this as we have no plans to implement and provide this sample.

[2021-02-25 23:46] #1289 closed

[2021-02-25 23:53] cwhitten commented on #2567
Hello. We'll close this as we have no plans to implement a sample that demonstrates this.  See https://github.com/microsoft/BotFramework-WebChat/issues/2567#issuecomment-550577922 for detail on how to achieve this.

[2021-02-25 23:53] #2567 closed

[2021-02-25 23:56] cwhitten commented on #2564
Hello. As stated earlier in the thread, we have no known means to support this scenario. Closing.

[2021-02-25 23:56] #2564 closed

[2021-02-25 23:57] cwhitten commented on #2475
We have some progress on https://github.com/microsoft/BotFramework-WebChat/issues/2211 and will use that to track addressing this issue. Thanks

[2021-02-25 23:57] #2475 closed

[2021-02-26 00:28] cwhitten commented on #2372
Loading this up for discussion and prioritization for an upcoming release.

[2021-02-26 00:33] cwhitten commented on #2232
Loading up for discussion and prioritization of the upcoming milestone

[2021-02-26 00:34] cwhitten commented on #2124
Loading this up for discussion/prioritization in our upcoming milestone

[2021-02-26 00:51] cwhitten commented on #3766
Loading up for discussion/prioritization of an upcoming milestone.

[2021-02-26 00:53] cwhitten commented on #1770
Closing this. Please follow https://github.com/microsoft/BotFramework-WebChat/issues/2211 for updated to this issue.

[2021-02-26 00:53] #1770 closed

[2021-02-26 01:11] cwhitten commented on #1559
Closing as we have no plans to implement this sample. For the DirectLineJS issue, please see https://github.com/microsoft/BotFramework-DirectLineJS/issues/124

[2021-02-26 01:11] #1559 closed

[2021-02-26 17:56] dmvtech commented on #3639
hi @selvaduraiece Just checking in. Does that resolve the issue for you?

[2021-02-26 19:44] corinagum opened #3767 "Packages don't clean #files allowed list"
## Version
4.12 RC

## Expected behavior
- `package.json`s should use package.json#files to include essential files - should be done in each package.
- Should also verify `.gitignore` doesn't need other files added to blocked list.

## Additional context

https://docs.npmjs.com/cli/v7/configuring-npm/package-json#files

[Bug]

[2021-03-01 13:17] kumarkundan opened #3768 "How to update Bot avatar image per Activity"
We are using React app with below version

"botframework-webchat": "^4.11.0"

**Case**

We need to show a different bot avatar on Activity basis. Example - We have a handoff feature, where Bot avatar should be an agent icon when the user is chatting with Live Agent and once the chat ended we need to show the old/original bot avatar.

We are using `avatarMiddleware` to achieve the above case.
**Cod

[2021-03-02 09:24] gourav-madan opened #3771 "CreateDirectLineAppServiceExtension is not working SharePoint web part"
I have clone the repository from
[Sharepoint React bot sample](https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-bot-framework-secure)

And trying to integrate DirectLineAppServiceExtension instead of DirectLine and did the below changes:
1) Changed the code in BotFrameworkChatv4.tsx
![image](https://user-images.githubusercontent.com/57317108/109626089-1be7f880-7b66-11eb-9788-9e5

[2021-03-02 10:03] hraz-msft commented on #3756
@corinagum This is not what I meant. When you renew the token, the WebChat component is losing its context. The coversationID is changed and the entire context of the chat is gone.

[2021-03-02 18:59] corinagum commented on #3756
Reopening issue and assigning to @stevkan for support.

[2021-03-02 19:29] compulim commented on #3771
The code you show is wrong on using `useEffect` and `useState` with an async function.

It would allows `directLine` state to be `undefined` and pass it to `<ReactWebChat>`. And that's what the error message is talking about: "The prop directLine is marked as required, but its value is undefined".

Instead, you should wait until `directLine` state is completely initialized, before passing it to `<

[2021-03-02 19:29] #3771 closed

[2021-03-02 19:31] compulim commented on #3762
We need to find a solution for this.

In React 16.8.6 (which we use as base version), it use `enterkeyhint` and doesn't accept `enterKeyHint`.

In higher version of React 16, it use `enterKeyHint` and not accepting `enterkeyhint`.

[2021-03-02 19:48] corinagum commented on #3762
I have added this to our list of bugs for fix consideration during R13.

[2021-03-02 20:52] corinagum commented on #2343
@navzam I'm sorry that this slipped through the cracks and I never got back to you. Are you still available to review these samples? If so it'd be great if we could discuss how best to add your examples to Web Chat's repo and get signoff from our other developers. Please let me know if you're still interested in this. Our preference would be that you submit a pull request and continue discussion f

[2021-03-02 21:12] compulim commented on #3731
Done.

[2021-03-02 21:12] #3731 closed

[2021-03-03 02:31] stevkan commented on #3756
@hraz-msft, I suspect the issue is how you are introducing the refreshed token into your Web Chat component. In the example I provide below, I am able to refresh the token while maintaining the conversation context without issue.

In short, I get my initial token and pass it into a function, `createDirectLine`, to create a Direct Line object with it. The output of this is passed into `startWebChat

[2021-03-03 08:59] hrazmsft opened #3773 "Response timeouts with DirectLineSpeech"
## Screenshots

![image](https://user-images.githubusercontent.com/66222191/109778388-6ec8bb00-7c0d-11eb-9b9c-9b84c68a9a18.png)

## Version

NPM: `botframework-webchat": "^4.11.0`

![image](https://user-images.githubusercontent.com/66222191/109778648-bd765500-7c0d-11eb-99cf-4c44ce0eb542.png)

## Describe the bug

After connecting a bot with DirectLineSpeech, every activity (except of the first one

[2021-03-03 10:29] hraz-msft commented on #3756
Thanks @stevkan for this sample! I think I've found the issue on our side. I'm closing the issue now, and I will re-open it again and tag you if other issues will come up due to the refresh

[2021-03-03 10:29] #3756 closed

[2021-03-03 16:03] damarqmsft opened #3774 "Missing ChannelData when using speech"
## Screenshots

## Version

<meta name="botframework-directlinespeech:version" content="4.11.0">
<meta name="botframework-webchat:bundle:variant" content="full">
<meta name="botframework-webchat:bundle:version" content="4.11.0">
<meta name="botframework-webchat:core:version" content="4.11.0">
<meta name="botframework-webchat:ui:version" content="4.11.0">

## Describe the bug

I have custom code to

[2021-03-03 16:47] stevkan commented on #3768
@kumarkundan, please look at this posted [answer](https://stackoverflow.com/questions/55649040/how-to-set-the-user-avatar-dynamically-in-botframework-webchat-based-on-logged-i/55826008#55826008) I provided to a similar Stack Overflow question. This solution is for a React project, but that shouldn't matter. Focus on the code in `App.js` regarding Web Chat's `store`. This was created just prior to

[2021-03-03 17:03] navzam commented on #2343
@corinagum Yeah let me take a look at the existing Web Chat samples and see if I can match the format. Then I can submit a pull request.

[2021-03-03 17:54] dmvtech commented on #3639
Closing as solution/fix given. Please let us know if you need further assistance.

[2021-03-03 17:56] stevkan commented on #3639
Closing, per request.

[2021-03-03 17:56] #3639 closed

[2021-03-03 18:38] corinagum commented on #3773
@hraz-msft I tested this out on our [sample](https://microsoft.github.io/BotFramework-WebChat/03.speech/a.direct-line-speech/) and my behavior is slightly different from yours - when you say timeout, does the response eventually show up? Or no?

For me these timeout messages are non-blocking.

Sounds like a channel issue - Support team could someone help debug? Thanks.

[2021-03-03 20:47] compulim commented on #3774
This is a known issue with Direct Line Speech, please refer to [`DIRECT_LINE_SPEECH.md`](https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/DIRECT_LINE_SPEECH.md#no-additional-data-can-be-piggybacked-on-speech-recognition).

The issue is being tracked at #2680.

If you would like to see this being implemented, please vote up on the issue. And if you can give an user story, it will

[2021-03-03 20:47] #3774 closed

[2021-03-03 23:45] tomlm opened #3775 "DirectLineSpeech doesn't let me configure key properties for the conversation."
## Screenshots

## Version
4.12

## Describe the bug
I need to be able to
* set the **user.id**, **user.name** and **additional metadata**
* set the **conversation.id**, **conversation.name** and **additional metadata**
* set the **channelData**

The whole point is that DirectLineSpeech enables **my** web page to talk to **my** bot.  I need control over the metadata I send to my bot.

## Steps to

[2021-03-03 23:48] tomlm commented on #3773
yes, it does show up, but 3 seconds later

[2021-03-04 00:25] corinagum commented on #3775
Extra info for anyone dealing with the same problems:

- user.id and user.name can be set as seen below:
[code]
- per @compulim, conversation.id/name cannot be set
- Here's the work item for setting channelData: https://github.com/microsoft/BotFramework-WebChat/issues/2680

I'll keep updating as discussion is ongoing.

[2021-03-04 00:40] compulim commented on #3773
After some investigations: since Direct Line Speech works quite differently at the protocol level, the delay that applies to Direct Line protocol could not applies to DLSpeech protocol.

Essentially, DLSpeech does not tell Web Chat when it has successfully sent a message (a.k.a. no send receipt, no read receipt). In other words, Web Chat never know the ID of the activity just sent. That means, act

[2021-03-04 08:16] hraz-msft commented on #3773
Look, only the WebChat component has that delay and that delay is happening from the second activity. In other platforms there is no such delay for the same bot

[2021-03-04 12:26] compulim commented on #3773
The delay is required for accessibility, and it was introduced for Direct Line protocol.

DL protocol is a distributed system: [message comes in a very random order](https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/media/direct-line-sequence-diagram.png). But accessibility and screen reader doesn't work that way. It requires message to be injected on the screen in a *time-sensiti

[2021-03-04 13:12] hraz-msft commented on #3773
Maybe @tomlm or @damarqmsft can give more data. But the weird thing is that other platforms has no delay or timeout (emulators and azure portal WebChat)

[2021-03-04 16:11] compulim opened #3777 "Add a style options to select Adaptive Cards parser maximum supported version"
## Feature Request

With introduction of Adaptive Cards 2.5.0 (support schema version 1.3), some developers are experiencing issues as they unexpectedly sending an Adaptive Cards with schema 1.3 previously.

Before Web Chat 4.12.0, we are using Adaptive Cards 1.2.x which support schema version 1.2. When a 1.3 card is parsed/rendered, it will render as a 1.2 card.

After Web Chat 4.12.0, we are usi

[2021-03-04 17:27] damarqmsft commented on #3773
Emulator and portal webchat are not using DLSpeech and they might not be implementing the delay. The problem here is we were waiting for a confirmation that would never come via DLSpeech (it comes only with Direct Line).

William's PR should fix it.

[2021-03-04 20:17] #3773 closed

[2021-03-04 22:51] compulim opened #3780 "Error thrown and uncaught while speaking " " (empty space) on Safari using Cognitive Services"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/110041047-8b8ded00-7cf8-11eb-8835-0ecef0792ff4.png)

## Version

Possibly `4.12.0`

## Describe the bug

When using Cognitive Services to speak on an activity with `speak` field of an empty space `" "`, `AudioContext.decodeAudioData` will throw an exception, because the TTS-ed wavedata is empty (0 bytes in length, instead o

[2021-03-04 22:55] corinagum commented on #3780
For customers experiencing this problem:
Temporary work around: do not send a speak field with a single space

[2021-03-04 23:19] compulim commented on #3773
This will be released as a daily build tomorrow ~3-4 AM.

https://github.com/microsoft/botframework-webchat/releases/daily

[2021-03-05 00:53] stevkan commented on #3492
Thank you for your patience while I continued to look into this more. And, yes, I wasn't fully understanding the issue. Your clarification is appreciated. I was able to repro the issue and I believe it is tied to two lines of code, both handling focus:

Yours:
`const textInputs = $( ac ).find( '.ac-textInput' ).first();`

Web Chat's:
`document.querySelector('#webchat > *').focus();`

As an activit

[2021-03-05 11:54] #3777 closed

[2021-03-05 21:42] corinagum commented on #2991
Resolved by #3287

[2021-03-09 07:15] collegewap opened #3782 "Bot while using Cognitive Speech Services speaks even if the 'speak' field is not present."
## Version : 4.11

## Even If the 'speak' field is not sent, the bot speaks while using Cognitive Speech Services. There should be an option to tell the webchat not to speak certain messages.

![image](https://user-images.githubusercontent.com/9767383/110432787-99b38300-80d5-11eb-896e-74e4e7b77ed3.png)

## Expected behavior

The bot should not speak when the 'speak' tag is not present.
## Addition

[2021-03-09 11:54] venkatoesc opened #3783 "Keyboard navigation issue inside the Chatbot window"
We are using webchat-es5.js for our Virtual assistant and it should be 508 compliant. Users not able to navigate the virtual agent using keyboard. The focus is not going inside the chatbot window. When pressing tab key, the entire chatbot window getting focused and shows "end of transcript" with black outline. In version 4.11.0, it works fine and no Black outline.

## Screenshots
![image](https://

[2021-03-09 18:18] corinagum commented on #3783
This is by design. When user is focused inside the transcript (black line), they are able to use up/down arrows to navigate individual activities.

https://github.com/microsoft/BotFramework-WebChat/pull/3703

[2021-03-09 18:18] #3783 closed

[2021-03-09 18:46] cfreksen opened #3784 "The emulator does not render adaptive cards with isRequired"
## Version
4.12.0

## Describe the bug
When a bot responds with a card with an input element with `"isRequired": true`, the emulator displays an empty grey box rather than a grey box with the card.

This is independent of setting schema version to 1.2 or 1.3.

The card renders correctly in emulator version 4.11.0

## To Reproduce
Send the following message to the emulator (`attachments` is the int

[2021-03-09 18:46] #3784 closed

[2021-03-09 22:22] corinagum commented on #2991
reopening due to internal convo with @compulim :)

[2021-03-09 22:24] compulim commented on #3707
Assigning to @Kaiqb for bringing more people from the SDK.

[2021-03-10 07:09] SreekanthOAuth commented on #3768
@stevkan - Thanks for the update.

We have already gone through the mentioned article, but our problem is different.

Giving you step by step flows what we are trying here

**Step1**: After the user is logged in, the bot will give you the Welcome card with the bot avatar.

![image](https://user-images.githubusercontent.com/24246902/110588535-28d69e80-819b-11eb-9568-f2201f9ab096.png)

**Step2**: No

[2021-03-10 14:12] venkatx5 opened #3787 "Accessibility Issue Keyboard navigation issue on controls"
We are using webchat-es5.js and the chatbot should be accessible via keyboard. After integrating this 4.12.0 version, Not able to navigate the virtual agent using keyboard. The focus is not going inside the chatbot window. When pressing tab key, the entire chatbot window getting focused and shows "end of transcript". Control/focus is not going to each element in the conversation.

## Screenshots
!

[2021-03-10 17:53] corinagum commented on #3787
Duplicate of https://github.com/microsoft/BotFramework-WebChat/issues/3783
Please see explanation there, as well as the changelog information.

[2021-03-10 18:11] Kaiqb opened #3788 "Webchat not populating localTimestamp and localTimezone properties"
## Describe the bug
Customer wants to know the following which we do not have an answer for:

I would like to know the reason why localTimezone and localTimestamp in Activity (Microsoft.Bot.Schema.Activity) are always empty when running as App Service. When we run on emulator on our local Mac machine, it always has a valid timestamp and timezone

## Steps to reproduce
Confirmed that localTimestamp

[2021-03-10 18:11] Kaiqb commented on #3788
From Eric:
I’m not sure how to redirect this.  I looked into it a little, and looks like we are not setting localTimestamp or localTimezone from webchat or directlinejs:

LocalTimestamp field is empty:
https://github.com/microsoft/BotFramework-DirectLineJS/issues/248

Emulator is setting localTimestamp here:
https://github.com/microsoft/BotFramework-Emulator/blob/main/packages/app/main/src/server/

[2021-03-10 19:08] EricDahlvang commented on #3788
@corinagum it is the latter  (when the activity arrives at the bot, these fields are not populated)

[2021-03-10 20:28] corinagum opened #3789 "4.12.1 release checklist"
# Checklist

## Build

1. [x] Bump MockBot to Bot Framework SDK release 4.12.0
   - https://www.npmjs.com/package/botbuilder/v/4.12.0
   - (We will not bump for patch release)
1. [x] ~Bump `botframework-directlinejs` to `0.14.1`~
   - No newer version
1. [x] Bump to `4.12.1`
   - [x] Update `CHANGELOG.md` to mark specific changes in `4.12.1`
   - [x] Run `npm version --no-git-tag-version 4.12.1`

[2021-03-10 20:33] corinagum opened #3790 "Post-release checklist 4.12.1"
These are chores that we should do before starting the cycle to reduce ripple effects if we do it in mid-cycle.

Tips:

- Clean your repo before start
- Remove `node_modules` from all folder
   - `git clean -fdx`
- Never delete `package-lock.json`
- If you mess it up, tableflip and redo
- In `component/package.json`
   - Remove reference to `botframework-webchat-core` by hand-modifying `package.js

[2021-03-10 20:33] corinagum commented on #3732
Closing in favor #3790

[2021-03-10 20:33] #3732 closed

[2021-03-10 22:00] compulim commented on #3783
@venkatoesc you can read more about the design here, https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/ACCESSIBILITY.md#ux-navigating-activities-in-the-transcript.

The background story is:

- This is an accessibility requirement we gathered from our customers. In one-liner: use up/down arrow keys to navigate the transcript;
- Web Chat is a complex UI component. I mean, in the tra

[2021-03-10 22:10] compulim commented on #3165
First, look at [`markdown-it-attrs`](https://www.npmjs.com/package/markdown-it-attrs):

![image](https://user-images.githubusercontent.com/1622400/110704673-2596df00-81aa-11eb-8e3e-9cb9b9f129e5.png)

Use RegExp to filter to allow only `/^aria-/iu/.

Add tests:

- `aria-xyz` will be added
- `data-abc` will NOT be added

[2021-03-10 22:24] compulim commented on #3087
Modify `renderMarkdown.js`, some code in this snippets:

![image](https://user-images.githubusercontent.com/1622400/110706134-3b0d0880-81ac-11eb-892f-a58ae53f5d62.png)

It is easy to add `aria-label` (or other ARIA attributes), unsure if it is easy to add an icon in the Markdown tree.

[2021-03-10 22:26] corinagum commented on #3087
note to self: timebox to see how to add HTML elements for aria-label and icon

[2021-03-10 22:32] compulim commented on #3722
In our test harness, `src/elements/sendButton.js`.

[code]

Please update to use the new CSS class name.

[2021-03-10 22:37] corinagum commented on #3767
Do this work at the same time as webpack@5 bump

[2021-03-10 22:41] corinagum commented on #3782
reopening as feature request: `'SKIP_SPEAKING'`

[2021-03-10 22:52] compulim commented on #3540
@corinagum my investigations:

I modified `03.a/index.html` with `userID: 'dl_abcde'`.

![image](https://user-images.githubusercontent.com/1622400/110708825-203c9300-81b0-11eb-96fe-bc4768db2e0e.png)

Then I talk to MockBot with `dump-activity` command, I am seeing `activity.from.id` is `dl_abcde`:

![image](https://user-images.githubusercontent.com/1622400/110708892-36e2ea00-81b0-11eb-8ada-490d06c

[2021-03-10 22:53] corinagum commented on #3540
note to dev: warning screencap - userId not supported should be removed

@stevkan when you say `recipient.from.id`  property in activity should maintain value assigned by DL Speech., do you mean `activity.from.id` or `activity.recipient.id`?

[2021-03-10 22:58] corinagum commented on #1882
@stevkan ping

[2021-03-10 23:01] corinagum commented on #3492
Closing as resolved. :)

[2021-03-10 23:01] #3492 closed

[2021-03-10 23:07] corinagum commented on #3740
add to playground or potentially 'Web Chat tools' package

[2021-03-10 23:07] corinagum commented on #3759
@compulim scheduled time with a11y team for 3/11/2021

[2021-03-10 23:11] corinagum commented on #3788
This is not just DLJS but would need to be added to any chat adapter.

[2021-03-10 23:51] corinagum commented on #2232
Didn't make it onto the R13 list, but I've added the front-burner label for consideration for upcoming milestones.

[2021-03-10 23:52] corinagum commented on #2124
Didn't make the R13 list but we'll keep this on front-burner.

[2021-03-11 19:19] kranthicodes commented on #3366
Hello @compulim  @peterinnesmsft
I was recently investigating an issue similar to this. The very first activities network request (before showing the welcome/greeting message) is usually 2-6s long(mostly it's either 2.5s or 5-6s). We are trying to implement this using BF webchat version: 4.10.1 with react (minimizable version).

What I'm trying to accomplish is to load welcome/greeting message fas

[2021-03-11 19:57] corinagum commented on #3366
Please interface with our support engineers on [Stack Overflow](https://stackoverflow.com/tags/botframework) / [Web Chat tag](https://stackoverflow.com/questions/tagged/web-chat).

[2021-03-11 22:14] compulim commented on #3759
Discussed with accessibility team. The UX is great and should be certified as conformance after a change:

- On mobile device, we narrate "press arrow keys to navigate", we should remove this when on a mobile device because it is unlikely a mobile device has a keyboard with arrow keys

The condition to get this UX certified is that, "if the user can flick left/right to reach actionable buttons, ev

[2021-03-12 03:39] Kaiqb commented on #3775
Re: `conversation` properties, Direct Line Speech does not support it.

[2021-03-12 03:48] Kaiqb commented on #3707
@mrivera-ms - who can investigate this one from the SDK side?

[2021-03-12 04:04] Kaiqb commented on #2294
I am not able to repro the behavior using the website (webchat.mazda.carlabs.com) that was mentioned in the issue. I am not sure whether the site works or not. For now, I am going to close this issue but if this is still causing problems, feel free to re-open.

[2021-03-12 04:04] #2294 closed

[2021-03-12 04:35] mrivera-ms commented on #3707
@Kaiqb, I have added the issue that will track this in the dotnet repo.

[2021-03-12 04:49] Kaiqb commented on #3707
Link to the issue Monica created in dotnet repo: [Issue #5310: First activity has fake replyToId value that is causing a bug in WebChat](https://github.com/microsoft/botbuilder-dotnet/issues/5310).

[2021-03-12 18:09] corinagum commented on #3759
Closing as dupe of #3758 :) (will add extra info there)

[2021-03-12 18:09] #3759 closed

[2021-03-12 18:51] Kaiqb opened #3792 "Using Web Chat with ACS"
## Feature Request
Enable Web Chat to work with ACS

## Feature details
Implement the following:
1. Sending/receiving text messages
2. Typing indicator, read receipt (?)
3. Handle conversation w/ 2+ users using text (needs design)
4. Enable speech to work with Web Chat and ACS (needs design)

## Additional details
Design by 4/1. Code complete by 4/23.
Feature will be in a private branch for now.

[2021-03-12 18:52] corinagum commented on #2680
Moving this to front-burner.

[2021-03-12 22:05] corinagum commented on #3775
Consolidating: closing in favor of #2680 - please track this work over there.

[2021-03-12 22:05] #3775 closed

[2021-03-14 14:38] SSanjeevi opened #3793 "When the version 4.12 will be available in cdn webchat js"
[Question]

When the version 4.12 will be available in CDN webchat JS:

I have referred to the fixes related to accessibility in PR #3703 which are merged to master some days back.
I want to know when these changes will be available in the CDN URL below:

https://cdn.botframework.com/botframework-webchat/latest/webchat.js

As per my understanding we don't need to do any change to update to this ve

[2021-03-14 18:17] corinagum commented on #3793
4.12 is released and can be used by locking down the Web Chat version, which is our recommendation for public bots.

[2021-03-14 18:17] #3793 closed

[2021-03-15 06:19] SreekanthOAuth commented on #3768
@stevkan - Did you get a chance to look into this?

[2021-03-15 07:03] CharingJC opened #3794 "Magic Code Required for webchat V4.11.0"
## Version

4.11.0

## Describe the bug
0. Team have taken following steps. In order not to have 6 digits when User Sign in AD to talk to BOT and can use it.
we follow this link https://blog.botframework.com/2018/09/01/using-webchat-with-azure-bot-services-authentication/ to get rid of the 6 digital verification code (aka magic code).

But on 08 February 2021, some users have access to BOT with Mi

[2021-03-15 09:50] ukab23 opened #3795 "How to use BotFramework-WebChat without azure subscription?"
I have a bot created using composer. I am able to use it in the emulator but now I want to render it on a webpage. I found BotFramework-WebChat, but it is using an Azure subscription. I want to do it without an azure subscription.

[2021-03-15 10:20] SSanjeevi commented on #3793
Am using it as an html JS file reference with this CDN URL: https://cdn.botframework.com/botframework-webchat/latest/webchat.js

do we have similar URL for 4.12?

[2021-03-15 16:19] dmvtech commented on #3795
Hi @ukab23

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2021-03-15 16:19] dmvtech commented on #3795
You can look into [offline directline](https://github.com/ryanvolum/offline-directline). It's not an official bot framework solution, and hasn't been updated in some time, but I'm assuming it should still work.

[2021-03-15 19:08] #3795 closed

[2021-03-15 19:10] corinagum commented on #3793
https://cdn.botframework.com/botframework-webchat/4.12.0/webchat.js

[2021-03-16 05:30] CharingJC commented on #3794
Hello @daveta

Hope this message find you well.
Any update on this issue?

BR,
Juncheng

[2021-03-16 11:46] michal-turzynski opened #3796 "Adding adaptive cards support in the "plain-ui" web chat sample"
We are implementing a webchat based on the [plain-ui sample ](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.recomposing-ui/d.plain-ui) for various reasons. As much as it is a great example, I couldn't find a supported way to render the attachments like adaptive cards, hero cards etc. Do I have to implement it myself using e.g. [adaptivecards package ](https://www.npmjs.c

[2021-03-16 15:21] philip-mc opened #3797 "Flipper div prevents selection of carousel element in webchat."
## Screenshots

![image](https://user-images.githubusercontent.com/73343537/111334302-5d4ecc80-866b-11eb-822d-a9fb93529ee6.png)

## Version

Botframework webchat latest - 4.11.0

Using CDN

<meta name=\"botframework-directlinespeech:version\" content=\"4.11.0\"> <meta name=\"botframework-webchat:bundle:variant\" content=\"full\"> <meta name=\"botframework-webchat:bundle:version\" content=\"4.11.0\

[2021-03-16 16:59] corinagum commented on #3797
- There have been updates to the flipper as of R12. Can you bump to latest and see if the behavior persists? https://github.com/microsoft/BotFramework-WebChat/pull/3704
- What browser are you seeing this behavior in?
- This doesn't appear to be default Web Chat, is this a custom component you are creating? If so, we won't be able to provide further support.

[2021-03-16 17:55] stevkan commented on #3794
@CharingJC, A few questions:

- Was there an upgrade to Edge on or around that day?
- Also, does this issue come up in other browsers or is it isolated to Edge, alone?
- You also state "some users" are experiencing this. Is this intermittent in who and when someone is affected? Or, does it always happen but only to specific users?

There is a newer version of Edge available (version 89.0.774.54 (O

[2021-03-16 18:21] compulim opened #3798 "IE11: Not able to expand AC card for more than once"
(Tracking https://github.com/microsoft/AdaptiveCards/issues/5733)

## Screenshots

![recording (7)](https://user-images.githubusercontent.com/1622400/111375315-5324d200-865b-11eb-8618-eb40d5be783e.gif)

![recording (6)](https://user-images.githubusercontent.com/1622400/111360008-78a8e000-8649-11eb-8fca-593d70999778.gif)

![image](https://user-images.githubusercontent.com/1622400/111360121-98400880

[2021-03-16 21:09] nephinj opened #3799 "Keyboard Navigation Broken 4.12+ for React"
Since upgrading to version 4.12.0 and 4.12.1 users can no longer seem to tab into links or card buttons in the chat.

## Screenshots
Tab on Answer
![image](https://user-images.githubusercontent.com/2805536/111379193-38f9ec80-8679-11eb-9fee-6253c431f6eb.png)

Next Shift-Tab
![image](https://user-images.githubusercontent.com/2805536/111473451-6ee2b380-8701-11eb-83c5-1ca5c9f957e4.png)

## Version
4.1

[2021-03-16 21:38] v-kydela commented on #3796
Thank you for the question, @michal-turzynski

Because the plain UI sample is designed to be "no UI from Web Chat," you will need to implement Adaptive Cards yourself in that case. If you have further questions, feel free to ask them on Stack Overflow where my team will see them.

[2021-03-16 21:38] #3796 closed

[2021-03-17 02:12] CharingJC commented on #3794
Hello stevkan,

Thank you for the response. And here are the answers.

_Was there an upgrade to Edge on or around that day?_
Edge V88 was released on 21-Jan-2021

_Also, does this issue come up in other browsers or is it isolated to Edge, alone?_
Edge V89 and Chrome V89 also have the same issue

_You also state "some users" are experiencing this. Is this intermittent in who and when someone is aff

[2021-03-17 11:49] philip-mc commented on #3797
Hey,

Thanks for the quick response,

Unsure how to bump to version 4.12 as we are using this - https://github.com/microsoft/BotFramework-WebChat/blob/master/README.md#integrate-with-javascript. We can test by replacing the src reference as follows: https://cdn.botframework.com/botframework-webchat/4.12.1/webchat.js

We see this behaviour in both chrome and firefox.

The component is a multiple ch

[2021-03-17 15:11] 5Heinzelmann opened #3800 "Sample Bot: Custom-components: Reaction-buttons is broken"
https://microsoft.github.io/BotFramework-WebChat/05.custom-components/d.reaction-buttons/

## Screenshots

![Screenshot](https://i.imgur.com/JtPQOj9.png)

## Steps to reproduce

1. Go to https://microsoft.github.io/BotFramework-WebChat/05.custom-components/d.reaction-buttons/
1. Text Hi
2. Text Help
3. Wait a few seconds
1. See error

## Expected behavior

Bot answers with default help text and sh

[2021-03-17 18:14] corinagum commented on #3799
Looks like you may have been missed pressing enter on the focused card to enter into interactable content.

https://github.com/microsoft/BotFramework-WebChat/issues/3783#issuecomment-794260933
#3703

This is a feature change. Please see the above for more details. Our root README also goes into release details.

[2021-03-17 18:14] #3799 closed

[2021-03-17 18:29] corinagum commented on #3800
Thanks for filing this bug. We did make recent changes to that sample, so we'll need to investigate what went wrong.

@compulim should we roll back this sample? Then one of us can further investigate when there's a little more time.

[2021-03-17 18:33] corinagum commented on #3800
@5Heinzelmann
Here's a link to a previous iteration of the sample code: https://github.com/microsoft/BotFramework-WebChat/blob/7e27ab3c32055a4b3984b28c2938caec0ac14805/samples/05.custom-components/d.reaction-buttons/index.html

If you need to implement this immediately, this is a slightly outdated but working version of the sample.

[2021-03-18 06:11] SSanjeevi commented on #3758
We also need this issue to be fixed, please prioritize

[2021-03-18 06:57] SSanjeevi opened #3801 "How to tab to recent activity after a recent activity message received after clicking on a button with space bar"
[Question]
How to tab to recent activity after a recent activity message received after clicking on a button with space bar?

Is there a feature to activate the next message with action buttons on clicking any of the button using tab and space?

[2021-03-18 22:47] corinagum commented on #3801
Please look at our documentation on transcript navigation:
https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/ACCESSIBILITY.md#user-story-2

- The 'New message' button will appear when the user is scrolled up in the transcript and a new activity comes from the bot.
- Press <kbd>ESCAPE</kbd> to exit focus from inside the Adaptive Card and return focus to the attachment container. Al

[2021-03-18 22:47] #3801 closed

[2021-03-19 01:13] mrivera-ms commented on #3707
@Kaiqb, @compulim, there is a PR in the dotnet repo to fix this issue that needs your comments. The SDK team has reviewed the PR but there are questions that need to be answered before it is approved. Please see the PR [here](https://github.com/microsoft/botbuilder-dotnet/pull/5313).

[2021-03-19 11:35] rushaligupta7 opened #3802 "overlapping UI updates with webchat"
Issues reported since: 18/03/2021

List of issues:
1. Carousel button text coming in blue color.
2. A solid black box appearing on overall chat window.
3. A dotted box appearing outside selected chat message .
4. On selecting a button, its color turns dark blue.
5. Hover(hand icon) is overlapped with an arrow icon.

Kindly let us know how to proceed.

[2021-03-19 16:31] 007-fr opened #3803 "After recent webchat JS changes- Date fields no longer render in webchat"
Hello WebChat team,

After the changes made to webchat.js by the BotFramework team a few days ago, date inputs no longer show up in the Bot. There are a ton of other issues we are facing as well, but we have been able to work around majority of them.

![image](https://user-images.githubusercontent.com/66075770/111812600-a93d8380-88ae-11eb-82db-01b4541ba59b.png)

Below is what I currently see in th