[2021-09-02 18:19] arman-g opened #4043 "Is the latest version of WebChat stopped sending the "locale" to the bot registration channel"
For some reason the locale is not being passed to the bot from webchat.
1. Is there a new implementation of directline or something in the new version?

If I specify locale in renderWebChat and not in directline's "conversationStartProperty" as shown [here](https://github.com/microsoft/BotFramework-WebChat/blob/31d0b69ccee674174634d8da10ff7670ffdfc5e9/packages/embed/src/setups/version4.js#L11), th

[2021-09-02 19:34] compulim commented on #4043
The [`conversationStartProperties` is an option for DirectLineJS](https://github.com/microsoft/BotFramework-directlinejs#create-a-directline-object), not Web Chat. 😅

You would specify it like:

[code]

It is an optional parameter for the Direct Line protocol to send a property bag to the bot before conversation start.

[2021-09-02 19:35] #3981 closed

[2021-09-02 19:40] compulim opened #4044 "4.14.1 Release checklist"
# Checklist

## Build

1. [x] ~Bump MockBot to Bot Framework SDK release 4.14.1~
   - https://www.npmjs.com/package/botbuilder/v/4.14.1
1. [x] ~Bump `botframework-directlinejs` to `0.14.1`~
   - No newer version
1. [x] Bump to `4.14.1`
   - [x] Update `CHANGELOG.md` to mark specific changes in `4.14.1`
   - [x] Run `npm version --no-git-tag-version 4.14.1`
   - [x] Merged into `master`, the PR num

[2021-09-02 19:40] arman-g commented on #4043
@compulim the reason I am asking this question is because I was not passing the locale in the conversationStartProperties under direct line but only specifying it under renderWebchat function and it was it was being passed to the bot. Recently it stopped passing  locale to the bot, unless I specify it under direct line. So my question is did something change in webchat recently that my old setup s

[2021-09-02 19:43] arman-g commented on #4043
@compulim so for clarification, we still need to specify the local for web chat regardless direct line right?

[2021-09-02 19:44] compulim commented on #4043
IIRC, the `locale` was never passed to the bot from Web Chat. The `conversationStartProperties` was a feature ask to fill a missing gap.

Yes, you still need to pass `locale` to Web Chat.

[2021-09-02 19:46] arman-g commented on #4043
Ok, got it. Thank you!

[2021-09-02 19:46] #4043 closed

[2021-09-07 17:58] compulim opened #4046 "[Test reliability] Reduce wait time and improve reliability on after input hint of `ignoring`"
## Feature Request

There is a test reliability issue for turning on microphone after input hints:

- After receiving input hint of `expecting`, we will turn on microphone
- We use Redux + `render()` to turn on microphone

Combining both in a busy environment, the microphone may not turn on immediately. We need to wait for the condition, more-or-less:

[code]

As we also test for negative case: af

[2021-09-08 18:16] a-b-r-o-w-n commented on #4024
Closing due to inactivity.

[2021-09-08 18:16] #4024 closed

[2021-09-08 18:28] compulim opened #4047 "Subresource Integrity can be generated by"

[2021-09-08 18:28] #4047 closed

[2021-09-08 22:13] compulim commented on #3995
@iMicknl 4.14.1 is out with zero production-hitting vulnerabilities (as of now). 😉

![image](https://user-images.githubusercontent.com/1622400/132592730-32fb4c56-f8f2-45f1-a93d-d26191f95434.png)

[2021-09-08 22:15] compulim commented on #3981
@christopherjbaker 4.14.1 is out. `sanitize-html` is bumped to `2.4.0`. Now with zero production-hitting vulnerabilities (as of now). Also works with IE11. Everyone should be happy. 😉

![image](https://user-images.githubusercontent.com/1622400/132592730-32fb4c56-f8f2-45f1-a93d-d26191f95434.png)

FYI, `sanitize-html@2.5.0` was released just an hour ago.

[2021-09-08 23:31] #4044 closed

[2021-09-09 06:26] iMicknl commented on #3995
Thanks @compulim, great work :)!

[2021-09-09 17:33] compulim commented on #4034
@yogimogi we have just [released 4.14.1](https://github.com/microsoft/BotFramework-WebChat/releases/tag/v4.14.1) and have updated `peerDependencies` to be `>= 16.8.6`. So we are okay with `react@17` now.

I tried your steps and it's now working properly. 🥳

[code]

![image](https://user-images.githubusercontent.com/1622400/132734436-a222adc4-acbf-44c3-9c27-d0bd346f94e5.png)

[2021-09-13 12:18] ManthanBorkar opened #4049 "how can i edit bot search panel for suggestion and other things"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Feature Request

### Use the ['feature-request' query](https://github.com/microsoft/BotFramework-WebChat/labels/feature-request) to search for existing feature requests.

### The [Samples tag](https://github.com/microsoft/botframewo

[2021-09-13 15:32] stevkan commented on #4049
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotFramework-SDK/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

[2021-09-13 15:32] #4049 closed

[2021-09-13 18:00] compulim commented on #3914
Some updates:
- webpack@5 is much slower than webpack@4 when used in watch mode
- esbuild has an internal template that is written in ES6+ (TBD: link to the template file)
- We should try running Babel on-the-fly in esbuild to reduce repeated transpilation
- corejs@3 is probably needed because we prefer babel/plugin-transform-runtime to scope our polyfills

We should try something outside of Web C

[2021-09-13 20:22] RebeccaAnne commented on #1351
This is now tracked by https://github.com/microsoft/AdaptiveCards/issues/4815

[2021-09-14 01:00] compulim commented on #4029
![image](https://user-images.githubusercontent.com/1622400/133176381-b8ae97bc-dc4e-44fa-99be-6c125a3f102f.png)

This is the style for the button.

![image](https://user-images.githubusercontent.com/1622400/133176582-98841b68-4b19-4ce0-acfd-445ece37ddf1.png)

This is the style when :focus-visible is applied to the button.

![image](https://user-images.githubusercontent.com/1622400/133176647-a9051da

[2021-09-14 01:10] compulim commented on #4028
Copying style from Fluent UI.

![image](https://user-images.githubusercontent.com/1622400/133177812-d7c90902-e855-417e-9ddc-3809575a0b48.png)

![image](https://user-images.githubusercontent.com/1622400/133177857-96cd7cf7-c99a-419c-b4a1-8a1950a47603.png)

![image](https://user-images.githubusercontent.com/1622400/133177897-3cb769a2-e45a-4da2-8577-b43f139d15a3.png)

Normal styles.

![image](https://

[2021-09-15 08:28] alivascu opened #4050 "[Accessibility] VoiceOver is not reading the cards properly"
We have an S500 Microsoft customer that reported when a VoiceOver app is reading the context of the conversation, it fails to read any kind of cards.

Basically instead of reading the content of the card, it's saying "1 Attachment" and that's it.

1) Is there anything that we can do from our side to fix it?
2) Or some development needs to be done from your side to read those cards as well properly

[2021-09-15 15:21] jiruss opened #4051 "Text overflowing instead of wrapping in Adaptive Cards in Webchat"
## Describe the bug
Text is overflowing instead of wrapping in Adaptive Cards when in an unordered list.

## Steps to reproduce

1. Create a simple bot and have it send an adaptive card activity that sends the following card payload

[code]

## Expected behavior
The contents should not overflow the container ideally

## Screenshots
Problem
![Overflow](https://user-images.githubusercontent.com/2034

[2021-09-15 17:37] srinaath commented on #4050
@compulim Can this be clubbed into the accessiblity efforts you are currently undertaking on Webchat?

[2021-09-17 06:20] Kratii13 opened #4052 "Azure Bot Framework Web Chat in Nodejs: Not able to recognize prompts while converting text to speech"
Below is my code for one of the waterfall steps in webchat code in Nodejs. I am able to enable voice option in webchat but while it converts from text to speech it is not able to recognize prompts, though it is able to recognise simple text. Please help me in enabling speech option for prompts as well.

Also added code for html file where speech option is enabled.

Solution needed : In text to spe

[2021-09-20 07:32] compulim opened #4053 "Re-enable Direct Line Speech "internal HTTP" tests"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/133968529-bc0aade8-3f06-4ca0-bda5-ca84cb2c79af.png)

## Version

`main`.

Seems related to service on or after 2021-09-08 14:50 PM.

## Describe the bug

We are temporarily disabled the test with the following diff.

[code]

## Steps to reproduce

1. Run tests under `packages/directlinespeech/` with internal HTTP support

#

[2021-09-20 11:17] HesselWellema opened #4054 "Show first text bubble at top of chat-box"
The rendering of messages in webchat starts at the bottom. and messages move up while new ones are added.

Especially with multiple answers sent by the bot (eg a welcome menu), reading the text messages this feels unnatural and confusing for users.

It is just hard to read a list with messages when the message your eyes are focused on is moving up all the time. (just try it)

People are used to re

[2021-09-20 11:31] Kilnerr opened #4055 "Missing user data from members added from bot"
I have a little problem with Microsoft Azure Bot Framework, i created sample bot from microsoft guide but when i test it bot don't receive members info (name, role ed ecc) but receive only ID.

I use the webchat (javascript) taken from the microsoft guide to query the bot.

Bot function where i want get members info:

[code]

Webchat code to query bot:

[code]

[Screenshot ](https://i.stack.imgur.

[2021-09-20 14:01] alivascu commented on #4050
@compulim Any insights on this?
Thanks!

[2021-09-20 17:44] jwiley84 commented on #4055
Can I ask why your for-loop is using memberAdded when you're querying using your variable member1?

[2021-09-20 18:04] stevkan commented on #4054
@HesselWellema, I'll defer to @compulim regarding the priority of this as a feature request. Adding a toggleable option in Web Chat's `StyleOptions` could be a consideration.

Looking at a number of other chat apps, such as Facebook Messenger, WhatsApp, Teams, Discord, and Slack, all but Messenger display the conversation initially at the bottom with the conversation history moving up the frame. O

[2021-09-20 18:05] compulim commented on #4055
To pass additional data to the bot during initialization, you should use the `conversationStartProperties` when calling `createDirectLine`, references [here](https://github.com/microsoft/botframework-directlinejs#create-a-directline-object).

[code]

[2021-09-20 18:14] HesselWellema commented on #4054
Tnx for the suggestion @stevkan, I will give it a go.

[2021-09-20 18:14] compulim commented on #4052
Currently, we do not limit to recognize only texts in a specific range of texts (i.e. in the prompts field).

Generally, bot should be designed to adapt to prompts that is outside of a specific list of model answers. You can consider using the Language Understanding module to provide better adaptation.

[2021-09-20 18:17] compulim commented on #4050
Will take a look at this during the current accessibility pass.

[2021-09-21 14:03] Kilnerr commented on #4055
for-loop is original code from microsoft, i added query (member1) for test to see if return correct data. But it return only id without name and role

[2021-09-21 22:51] #4020 closed

[2021-09-21 22:51] #4021 closed

[2021-09-22 19:44] #4018 closed

[2021-09-22 20:42] compulim commented on #4029
I am keeping this open but resolved.

[2021-09-22 20:42] compulim commented on #4028
I am keeping this open but resolved.

[2021-09-24 09:42] stevenbrown-85 commented on #4034
Just wondering if there any update on this?

[2021-09-24 12:53] HesselWellema opened #4062 "Unable to show "open in new window" icon for external links"
I am working from the minimizable webchat sample.
I updated to  4.14.0 and added a new icon (base64) to the markdownExternalLinkIconImage to my styleOptions.

In Webchat.js:

[code]
and
[code]

Markdown like

[code]

Does not result in an icon. I checked in development console and I think nothing is rendered. Not even the one pixel icon.
Do I need to do more?

[code]

[2021-09-27 12:09] Kilnerr commented on #4055
Sorry and where i can find the additional data into bot code?

[2021-09-27 17:48] compulim commented on #4062
The "open in new window" icon was added by our default Markdown engine. Since you overrode the Markdown engine, thus, the icon is no longer showing up.

Since you are using `markdown-it` engine, same as the one we use. You can look at how we added a plug-in to `markdown-it` to render the icon. Here is the link to the code, https://github.com/microsoft/BotFramework-WebChat/blob/main/packages/bundle

[2021-09-27 17:50] compulim commented on #4055
After looking at DLJS, the `conversationStartProperties` only works for `locale`. And not any data. My bad.

I believe you will need to programmatically send user data via `event` activity. There is a sample that could help.

https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api/a.welcome-event

[2021-09-27 17:53] compulim commented on #4054
The correct CSS should be:

[code]

(The "filler" is a component to fill the rest of the page and push messages down to the bottom.)

[2021-09-27 19:15] HesselWellema commented on #4062
Tnx. Tbh, I don't remember why I'm overriding the renderer in the first place. I'll try and use yours

[2021-09-27 22:15] compulim commented on #4014
We have fixed this in PR #4035. Here is the quick demo after the fix.

![recording (28)](https://user-images.githubusercontent.com/1622400/134992308-f47d7999-ba36-46cf-a39f-79f7df2a5730.gif)

[2021-09-27 22:42] compulim commented on #4029
The issue is fixed in #4035.

Here is a quick recap of how it works.

![recording (28)](https://user-images.githubusercontent.com/1622400/134995080-6b734c92-20cc-49bb-a7ea-519ecd159973.gif)

[2021-09-28 06:01] alivascu commented on #4050
@compulim Have you found out anything useful yet that I can share with the customer?
Thanks!

[2021-09-28 06:18] #4062 closed

[2021-09-28 12:03] Kilnerr commented on #4055
ok thanks, but where i can intercept into bot code? Because in `OnMembersAddedAsync`, `turnContext`  is empty, cointains only id of bot, conversation and user.

[2021-09-28 19:35] compulim commented on #4015
Talked to AC team. They are expecting to ship AC library 2.10.0 with support of AC schema 1.5 in a couple of weeks ahead.

They have 2.10.0.beta-2 up and asked us to try it out and see if the behavior is desirable or not. Will have an update soon.

[2021-09-28 20:22] #4031 closed

[2021-09-28 21:12] compulim commented on #4025
Studied a bit more. It seems it is an Adaptive Card problem. They should not convolute the link image with the `<img role="link">`.

When we try to reproduce the DOM tree as rendered by Adaptive Cards library. It becomes:

[code]

When combining link and image as a single element, the screen reader will NOT narrate the `alt` text.

The following is our pure HTML repro. Given 2 image links below: P

[2021-09-28 21:34] compulim commented on #4025
Filed a bug to Adaptive Cards repo, https://github.com/microsoft/AdaptiveCards/issues/6442.

[2021-09-28 21:35] compulim commented on #4025
Since the image label (a.k.a. alt text) is ignored, in the meanwhile, I will change the Adaptive Cards JSON to be more descriptive on the link label.

[2021-09-29 08:22] v-shikch commented on #4025
As verified this issue is fixed now. Here screen reader is announcing correct descriptive information about the image link. Hence closing the issue

[2021-09-29 08:28] v-shikch commented on #4014
As verified issue on URL: Web Chat: Full-featured bundle (microsoft.github.io) on Browser: Edge Chromium Version 96.0.1028.0 (Official build) dev (64-bit), here issue is still repro at our end. As keyboard focus is still not appearing round the highlighted 'send' and 'upload file' button controls.

[2021-09-29 08:33] v-shikch commented on #4029
As verified issue on URL: Web Chat: Full-featured bundle (microsoft.github.io) on Browser: Edge Chromium Version 96.0.1028.0 (Official build) dev (64-bit), here issue is fixed. Hence closing the bug.

[2021-09-29 08:39] v-shikch commented on #4031
As verified issue on URL: Web Chat: Full-featured bundle (microsoft.github.io) on Browser: Edge Chromium Version 96.0.1028.0 (Official build) dev (64-bit), here issue is fixed. Hence closing the bug.

[2021-09-29 08:43] v-shikch commented on #4016
As verified issue on URL: Web Chat: Full-featured bundle (microsoft.github.io) on Browser: Edge Chromium Version 96.0.1028.0 (Official build) dev (64-bit), here issue is fixed. while typing the value as ":)" it's converted into emoji and after using 'ctrl+z" it's again converting in original text. Hence closing the bug.

[2021-09-29 08:51] v-shikch commented on #4027
We have added this issue in our SME discussion queue. Will take action after getting feedback from SME.

[2021-09-29 08:59] v-shikch commented on #4032
We have added this issue in our SME discussion queue. Will take action after getting feedback from SME.

[2021-09-29 09:19] v-shikch commented on #4032
We have added this issue in our SME discussion queue. Will take action after getting feedback from SME.

[2021-09-29 09:22] v-shikch commented on #4030
We have added this issue in our SME discussion queue. Will take action after getting feedback from SME.

[2021-09-29 09:30] v-shikch commented on #4028
It seems as a duplicate issue of above mentioned bug of [#4014](https://github.com/microsoft/BotFramework-WebChat/issues/4014). Hence closing this bug will further track with the linked dup bug

[2021-09-29 11:42] #4029 closed

[2021-09-29 11:42] #4028 closed

[2021-09-29 11:46] #4016 closed

[2021-09-29 11:47] #4025 closed

[2021-09-29 17:25] compulim commented on #4055
In my Node.js bot, I dumped the `conversationUpdate/membersAdded` activity and there is a `locale` which I set it to `yue`. Probably something equivalent on the Bot SDK side.

[code]

[2021-09-29 19:56] compulim commented on #4016
Thanks @v-shikch and @v-duku. Appreciated.

[2021-09-29 19:56] compulim commented on #4025
Thanks @v-shikch and @mishraadi. Appreciated.

[2021-09-29 19:57] compulim commented on #4031
Thanks @v-shikch. Appreciated.

[2021-09-29 19:57] compulim commented on #4029
Thanks @v-shikch and @KattaBhargav. Appreciated.

[2021-09-29 19:57] compulim commented on #4028
Thanks @v-shikch and @KattaBhargav. Appreciated.

[2021-09-29 19:58] compulim commented on #4014
@v-shikch Since the fix is not out on production yet, could you try it out on this page?

https://corinagum.github.io/WebChat-release-testing/03.a.renderwebchat-using-es5-bundle/index.html

This page use the daily development build version of Web Chat.

[2021-09-29 19:59] compulim commented on #4027
Thanks @v-shikch. Look forward to you and SME feedbacks. Feel free to ping me on Teams for faster response.

[2021-09-29 19:59] compulim commented on #4032
Thanks @v-shikch. Look forward to you and SME feedbacks. Feel free to ping me on Teams for faster response.

[2021-09-29 19:59] compulim commented on #4030
Thanks @v-shikch. Look forward to you and SME feedbacks. Feel free to ping me on Teams for faster response.

[2021-09-29 23:40] stevkan commented on #4052
Closing due to inactivity.

[2021-09-29 23:40] #4052 closed

[2021-10-01 05:54] v-shikch commented on #4014
Verified issue on below env:

OS: Win 10 21H1
Build: OS Build 19043.1147
Browser: Edge Chromium Version 96.0.1028.0 (Official build) dev (64-bit)
#URL: https://corinagum.github.io/WebChat-release-testing/03.a.renderwebchat-using-es5-bundle/index.html

here issue is fixed, now focus indicator is visible on the upload file and send button. Hence closing the issue

;#Closed;#Regression

[2021-10-01 06:02] #4014 closed

[2021-10-01 15:25] MikeCardiff opened #4066 "iOS 15 - Safari address bar covers webchat input box"
## Screenshots
![image](https://user-images.githubusercontent.com/63668650/135644411-d243d6d8-4562-423c-9a6d-39703394f8c0.png)

## Describe the bug
This is more of an iOS/Safari issue, but though I'd post here as it impacts webchat. It's not just isolated to botframeowrk-webchat though, pretty much anywhere that has an input at the bottom of the page will have an issue.

In the new iOS 15 Safari r

[2021-10-01 22:47] compulim opened #4067 "[Omnichannel] Setting `sendBoxTextWrap` via `createStyleSet` is being ignored"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/135693493-6434ef8d-1b05-4e1f-8af0-a1bb8727fbf4.png)

## Version

`4.14.*`

## Describe the bug

When setting `sendBoxTextWrap` in `styleOptions`, it works. The send box text box would become `<textarea>` (text wrap = multiline).

When setting `sendBoxTextWrap` in `createStyleSet` and set it through `styleSet` prop, it did n

[2021-10-01 22:50] compulim commented on #4066
Thanks @MikeCardiff. This is a very good/solid bug and we should investigate it sooner. Will bring it up. 👍🏻

Need to see if it is an iOS issue. Agree with you that `margin-bottom: 50px` definitely not a good fix in our world.

[2021-10-05 09:09] cappe89 commented on #3699
I have the same issue. The problem is for messages between 24 and 25 hours ago (the same for 48 and 49).

A simple solution could be convert <= to < at lines 40 and 42

`      } else if (deltaInHours <= 24) {
        return localize('ACTIVITY_STATUS_TIMESTAMP_TODAY');
      } else if (deltaInHours <= 48) {
        return localize('ACTIVITY_STATUS_TIMESTAMP_YESTERDAY');
      }`

[2021-10-06 17:41] compulim commented on #3933
The transcript is modelled as a composite widget. End-user would need to use arrow keys to select activity, then press <kbd>ENTER</kbd> key to put focus in the activity. While they are navigating using arrow keys, screen reader should narrate "click to interact" for activities with links (or buttons, `<input>` and other interactive elements).

It seems the discoverability about keyboard commands a

[2021-10-06 17:46] ashokdevlabs opened #4068 "Images are not redering in Hero Card for locale tr-TR"
## Describe the bug
We have created Multilingual bot with multiple options in choice set. one of the option is to display images which is specified in Azure Table storeage.

We have created bot in Portugese and Turkish languages. I am able to see images for portugese language but not for Turkish language. we are using directline channel for this.

## Version 2.1.1

## Browser

- [ ] Electron distr

[2021-10-07 07:46] alivascu commented on #4050
@compulim Any news on this?

Thanks!

[2021-10-07 12:10] Vigneshramkumar opened #4069 "Kubernetes deployment of Webchat"
Hello All,
I am creating a web chat based Chatbot using bot framework and direct line. My requirement is to embed the web Chatbot in our WordPress site as an iFrame. I have created the React application for Webchat and added the MS Webchat library. Now I need to deploy the web chat react application as a pod in Kubernetes. Now I am using AKS.

Kindly let me know how we can maintain the conversatio

[2021-10-07 17:30] tonyanziano commented on #4068
@compulim is this a known issue?

[2021-10-07 17:57] compulim commented on #4068
Not a known issue.

Thanks for transferring over. 🙂

[2021-10-07 18:18] compulim opened #4070 "Design: inline suggested actions"
## Feature Request

(More investigation/details can be found in #3083.)

For simple question and answer, many of our customers use Adaptive Cards instead of suggested actions, probably because:

- The choice of answer is persisted in the transcript
- UX-wise, it is more intuitive to associate the answer to the question, as they appear in the same message bubble

However, Adaptive Cards is designed

[2021-10-07 22:07] compulim commented on #3934
I created a sandbox and tested this in multiple browsers. It seems a browser issue.

https://compulim.github.io/experiment-aria-active-descendant/

We are using [ARIA active descendant](https://www.w3.org/TR/wai-aria/#aria-activedescendant) to control how messages are focused.

The sandbox mimics the DOM tree of the transcript we use in Web Chat, notably:

- The transcript container is `<div aria-

[2021-10-08 04:10] compulim commented on #3934
Continue some investigations... it seems the root cause is use about `aria-labelledby`. Created another sandbox to simplify the investigation, https://github.com/compulim/experiment-accessible-transcript.

For example:

[code]

If the screen reader is reading the label for this element, such as, through `aria-activedescendant`. The screen reader will flatten the label as "Here is an article to Wik

[2021-10-08 12:37] GLDev21 opened #4071 "Error during WebSocket handshake: Unexpected response code: 403"
Using directLine or Webchat with my bot

After 5 minutes of using the bot i get a Websocket error.

authentication.service.ts:85 WebSocket connection to 'wss://directline.botframework.com/v3/directline/conversations/49zS5PwGN3TFWlfLAgKoKz-us/stream?watermark=-&t=ew0KICAiYWxnIjogIlJTMjU2IiwNCiAgImtpZCI6ICJ2cG4yYXhuRjFSU3NHUXg5aXd0WGEwZTNjRWciLA0KICAieDV0IjogInZwbjJheG5GMVJTc0dReDlpd3RYYTBlM2NFZyIsD

[2021-10-08 18:03] munozemilio commented on #4069
Hello @Vigneshramkumar, the Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotFramework-SDK/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

[2021-10-08 18:03] #4069 closed

[2021-10-11 18:18] EricDahlvang commented on #4071
Hi @GLDev21

It should be possible to reconnect to an existing conversation https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-reconnect-to-conversation .  However, reconnecting is not a matter of using the same wss, but calling the reconnect api.

However, based on your description there might be some misunderstanding.  The websocket from WebChat is act

[2021-10-12 14:54] mosca97 opened #4072 "Is it possible to add a button next to the files upload button?"
I would like to add a button for restart the conversation next to the files upload button.

[2021-10-13 21:11] #4072 closed, assigned to stevkan

[2021-10-14 12:42] alexanderomnix opened #4073 "An headless approach to this Library"
## Feature Request

Will it be more effective if this WebChat SDK just export Hooks or Redux Dispatches to the logic and all UI Components be created and customized by the developer? Is really a pain to make this WebChat looks good, using CSS is weird because overwrites leads to break in new releases as discussed the classes and html markup changes a lot and the code and stylesheet looks so dirty,

[2021-10-15 00:10] compulim commented on #4034
When PR #4074 is merged (mid next week or sooner), all our deps should be good for `react >= 16.8.6`. 😉

[2021-10-15 16:50] compulim commented on #4073
Thanks for your appreciations.

We refactored headless business logics into the `botframework-webchat-api` package (which our web UI is based on). It should be good for React Native but we haven't tested it yet.

You will need to bring-your-own UI. Top of my head, there are a few complicated logics that is not included in the `api` package:

- Speech recognition and synthesis
- Activity grouping

[2021-10-18 07:02] alivascu commented on #4050
@compulim Customer is waiting for an update...
Thanks!

[2021-10-20 09:18] avrum opened #4075 "Using word-wrap in Adaptive Cards ActionSet and markdown list"
I've been having issue with word-wrap property when using ActionSet with mark down list.

For some reason when I'm including a markdown list in the "ShowCard" the text get the wrap property but the boundaries seems to be shifted to the right.

screenshot that demonstrate this issue:

[![enter image description here][1]][1]

When viewing in in dev mode (marking the component edge):

[![enter image

[2021-10-20 23:27] SamuelBishop opened #4076 "[Omnichannel] Setting 'scroll' via 'createStyleSet' does not work on iOS 13 or 14"
## Screenshots
__Current Result (Screenshot from iOS 13)__
![image](https://user-images.githubusercontent.com/43118573/138185077-121dae82-35a1-4ac4-b4c0-a3fbbd796a38.png)

__Expected Behavior (Screenshot from iOS 15)__
![image](https://user-images.githubusercontent.com/43118573/138185210-31995e31-ff97-43ce-8b06-95ed2288fbb1.png)

## Version
`4.9.2*` via `CDN`

## Describe the bug
When setting `thi

[2021-10-21 21:51] avrum commented on #4075
@compulim you're welcome :)
Thank you guys for the fast response.

[2021-10-21 22:01] compulim commented on #4075
Some early investigations. I have a tool called "Adaptive Card loader", which load AC outside of Web Chat. But also have an option to pass styling (a.k.a. AC Host Config). I use it to verify if it is an issue on AC vs. Web Chat.

Here is my quick tool, https://compulim.github.io/adaptive-card-loader/. Check the "Enable Markdown" checkbox.

![image](https://user-images.githubusercontent.com/1622400

[2021-10-26 07:54] Kookie2512 opened #4077 "Antivirus scan for file upload in bot framework webchat"
# Version
4.13.2

# Code
C#

## Is it possible to scan for virus and malware of a file in attachment from webchat?

Steps to reproduce :
1. We are uploading a file from webchat attachment to in-memory (IStorage) for some business purpose.
2. We are using the following code for our requirement in corebot
![image](https://user-images.githubusercontent.com/90462682/138830957-b41bb510-e537-461d-8e6b-c

[2021-10-26 18:03] #4077 closed, assigned to nobody

[2021-10-27 06:56] MatthiasGwiozda opened #4078 "expose the emotion property "container""
**The problem**
We are rendering the WebChat in an iframe but the emotion - JS Styles are located in the documents head.

We want to control the container, in which emotion inserts the styles.

**suggestion**
Luckily emotion has a [container - property](https://emotion.sh/docs/@emotion/cache#container).
It would be great if this property would be configurable in the composer [here](https://github.

[2021-10-31 17:07] jagdishkumawat30 commented on #987
I was able to get the latitude and longitude in Bot Framework v4 C# using the React.js web channel using DirectLine API payload and receive the data in the bot in turnContext.Activity,Values.

[2021-11-01 18:52] lauren-mills commented on #4050
@alivascu - can you confirm if William's guidance has resolved this issue?

[2021-11-02 09:14] compulim opened #4080 "[Test reliability] Bucket of tests need reliability improvements"
## Feature Request

### accessibility requirement attachments in live region audio

File: `__tests__/html/accessibility.liveRegionAttachment.audio.js`

[Run](https://fuselabs.visualstudio.com/BotFramework-WebChat/_build/results?buildId=275489&view=ms.vss-test-web.build-test-results-tab&runId=5522446&resultId=100961&paneView=attachments)

![image](https://user-images.githubusercontent.com/1622400/1

[2021-11-02 16:04] Markyboy944 commented on #2892
**>Developers can currently pass their own markdown renderer to Web Chat"**

I'm about to try and work around issues with a QnA bot running in Web Chat, and I'm wondering whether this is still the preferred method ? (Custom Renderer). Also - are there any plans to change this ability ? I see the word "currently" , and dont want to back myself into a corner

[2021-11-02 17:46] charliewang95 opened #4081 "Typo bug on StyleOptions.suggestedActionsStackedOverflow"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/139925495-5a47750a-c810-44fc-a7f4-2c242b2e19ec.png)

## Version

`main`

## Describe the bug

`suggestedActionsStackedOverflow?: 'string';` in [StyleOptions.ts](https://github.com/microsoft/BotFramework-WebChat/blob/main/packages/api/src/StyleOptions.ts#:~:text=suggestedActionsStackedOverflow%3F%3A%20%27string%27%3B)

## St

[2021-11-02 18:45] compulim opened #4082 "Update `API.md` to include `avatarMiddleware` and `activityStatusGroupingMiddleware`"
## Feature Request

As reported by OC team, the `API.md` is heavily outdated. We should take some time to update it.

[feature-request]

[2021-11-03 02:48] #4003 closed

[2021-11-03 17:01] lauren-mills commented on #4075
@compulim - adding this to the backlog since it seems like you have a couple of options for resolutions.

[2021-11-03 18:31] compulim commented on #4075
I just reached David from AC team and they suggest adding `box-sizing: border-box` to the whole AC component.

I will add the following CSS stylesheet:

[code]

[2021-11-04 17:49] compulim commented on #4075
While fixing the issue, I found that AC is applying some styles only for the first child element. These styles are not added by Markdown-It but Adaptive Cards.

Since Web Chat don't have a test that only a single list in Adaptive Card, thus, we never catch this bug. I am adding a test to prevent regression.

@avrum a temporary workaround here would be adding a line of text before the list.

## Tec

[2021-11-08 14:33] avrum commented on #4075
Thank you guys for fixing this issue!

[2021-11-11 23:48] compulim commented on #3934
## Things we tried

We tried to remove `aria-roledescription` and it did not work for us.

We tried to add `aria-roledescription` for links, it did not work either.

Both did not work because Windows Narrator and NVDA flatten the message and it ignored `aria-roledescription`.

## How Web Chat works with screen reader

There are 3 modes Web Chat will narrate the content of the message:

- As messag

[2021-11-12 01:27] compulim commented on #3933
I am still waiting for our designer to complete the design of the new keyboard commands modal.

[2021-11-15 13:15] satyanarayana7 opened #4086 "Is there any size limit for uploading attachment in webChat in bot framework, because when uploading above 4mb size attachments gets timeout issue?"
Is there any thing to do with App service or azure bot price tier upgrade? will it allow attachment above 4mb size to upload. Currently when uploading any attachment above 4mb size, the attachment is getting timeout issue and not reaching to Bot only. In Bot Emulator there is not attachment size issue, but when it published to app service , attachments above 4mb are getting failed.

[2021-11-15 17:54] MikeCardiff commented on #4086
There is a 4mb size limit imposed by the DirectLine channel. The only way around this is to bypass DirectLine when uploading an image.

Emulator uses it's own channel and does not go through DirectLine so does not have the same limit.

See this sample for an idea of a workaround by uploading to Azure Blob instead: https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/07.advanced-web-

[2021-11-15 19:48] johnataylor commented on #4071
@compulim any update on this?

[2021-11-16 13:32] GLDev21 commented on #4071
No, we are still having the issue, no answer to my 12oct question, No news from compulim

[2021-11-16 19:17] #4086 closed

[2021-11-18 15:15] iMicknl commented on #3971
With the help of @xTEddie I built an `OfflineHistoryConnection` to mock the `IBotConnection`. This will make sure there is no error, thus you can use WebChat in an offline scenario / for showing history activities.

[code]

Should this feature request be closed? Or would you like to add something like this to your documentation? (see #4037 for a similar customer request).

[2021-11-23 17:25] RebeccaAxelro opened #4087 "TextContent Color and FontSize not working with updated version"
I have upgraded the BotFramework webchat from 4.12.0 to 4.14.1.
I am now receiving an error that color and fontSize doesn't work under TextConent. What changed and how can I change the color and fontSize![Screenshot 2021-11-23 122359](https://user-images.githubusercontent.com/36717212/143073803-533ce785-bf30-4a99-b7cb-2c595e18b52e.png)

[2021-11-23 22:03] stevkan commented on #4087
@RebeccaAxelro, unfortunately, I am not able to repro the issue using v4.14.1. Can you verify:

- The CDN points to the 'latest' release and not another build (like 'main' or something else)? You can also run the following code in the developer's console of your browser to check the reported version:

[code]

- You are passing 'styleSet' into the Web Chat component as a property. It's doubtful you

[2021-11-24 15:52] amoyalan20 opened #4088 "Adaptive Card -media player is not supporting,unable to hear voice in IPhone Safari/chrome browser"
Hi could you please help me out if there any known issues in IOS Safari browser while playing a audio using adaptive card media url inside a chatbot(bot framework v4). I am not able to hear the voice while playing audio in IOS safari.
Below is the code :
     var pronunciationPlayBack = new AdaptiveMedia()
                            {
                                Type = "Media",

[2021-11-25 01:08] #4081 closed

[2021-11-30 10:07] Jesse-dw commented on #4071
Your streamUrl lifetime does not expire as far as I know except when you lose connection, what happens e.g. with a page refresh. In this case you have to call the reconnect api to retrieve your chat history.

Your token lifetime remains valid for 30 minutes, before this you will have to call the refresh token api in order to renew your token.

[2021-11-30 19:21] jgacek commented on #3933
After discussion with Aaron to resolve this ticket we would require that once focus is on an activity that you would be able to interact with all the links within it and for you to be able to back out of the activity.

1. User uses arrow to navigate activities
2. User hits enter to enter activity
3. User should be able to navigate between all the link/buttons within activity
4. User should be able

[2021-11-30 19:36] compulim commented on #3933
Agree and it should be doable today.

For step 3, after focusing in the activity, the user press <kbd>TAB</kbd> or<kbd>SHIFT</kbd> + <kbd>TAB</kbd> to jump between links/buttons.

For step 4, the user will leave the activity and go back to step 1 if they do one of the following:

- Press <kbd>ESCAPE</kbd>
- Press <kbd>TAB</kbd> on the last links/buttons
- Press <kbd>SHIFT</kbd> + <kbd>TAB</kbd> on

[2021-12-01 19:33] vhmoura opened #4089 "Image upload and reply back"
Hi there,

I've played around with pretty much all samples provided here and I can see that I can upload images to all of them and the bot reply back with the image I have uploaded and also a link. How can I achieve this? I am using a java script web-chat with basic coding and connected to power virtual agent. The intention is to save the images into a blob.

Any help would be much appreciated.

T

[2021-12-02 19:00] stevkan commented on #4089
@vhmoura, there are related posts on Stack Overflow that _should_ address your question. If not, please repost your question there and note the below message.

--------------

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotFram

[2021-12-02 19:21] stevkan commented on #4087
Closing due to lack of response.

[2021-12-02 19:21] #4087 closed

[2021-12-06 05:39] amoyalan20 commented on #4088
Any updates on this issue?

[2021-12-06 19:13] benbrown commented on #4088
@amoyalan20 Can you tell us more about what you are doing with this card?

Is the problem that the embedded media does not play?

Are you also using text to speech?

Can you send the JSON of the adaptive card itself?

[2021-12-07 13:58] amoyalan20 commented on #4088
**JSON of the adaptive card**
{
  "type": "AdaptiveCard",
  "version": "1.0",
  "body": [
    {
      "type": "Media",
      "sources": [
        {
          "mimeType": "audio/mpeg",
          "url": "https:..."
        }
      ]
    }
  ]
}
![image](https://user-images.githubusercontent.com/73281779/145042179-6ce279de-8698-404c-a787-77d6d669d4a4.png)
**Not able to hear the audio while its playin

[2021-12-07 16:19] amoyalan20 opened #4090 "Can i show the media player at the bottom of the audio card"
Can you please suggest an method to render the media player at the bottom of the audio card.
**Code**:

 audioCard = new AudioCard()

                        {
                            Title =  $" test",
                            Media = new List<MediaUrl>
                         {
                               new MediaUrl()

                               {
                               

[2021-12-07 19:15] benbrown commented on #4088
@amoyalan20 can you inspect the embedded media in the browser and see if it is valid?

Does this card play in a desktop browser?

Is this directly in the mobile browser, or in an app?

[2021-12-08 10:21] HesselWellema commented on #4054
I will close this one. Thanks for your help.

[2021-12-08 10:21] #4054 closed

[2021-12-08 10:25] HesselWellema commented on #4040
The solution that worked for me is to show a lightweight chat-button in stead of loading the whole application on page-load.

[2021-12-08 12:39] amoyalan20 commented on #4088
@benbrown  This card was integrated inside bot and was able to hear the audio in desktop browser.
The issue is only with the iPhone safari/chrome browsers but the same which is working in MAC and in iPad.

[2021-12-10 00:18] kevinlin98z opened #4091 "[Accessibility] [Omnichannel] A11Y_Post survey link opens a new window/tab without warning the user"
Copied from [Bug 2535908](https://dynamicscrm.visualstudio.com/OneCRM/_workitems/edit/2535908): A11Y_Post survey link open a new window/tab without warning the user.

Environment Details:
Application Name: Microsoft Dynamics 365 Omnichannel Online Chat – CRA Online Chat Agent
#URL: [Omnichannel Agent Dashboard](https://nam06.safelinks.protection.outlook.com/?url=https:%2f%2forgf84480f6.crm10.dynam

[2021-12-10 05:18] amoyalan20 commented on #4088
is there any updates?

[2021-12-13 18:47] Prahladvarma94 opened #4092 "[Accessibility] Enter key is not working on attachment button and send button."
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

## Version
4.14.1

## Describe the bug
Enter key is not working on attachment button and send button.
![image](https://user-images.githubusercontent.com/23164083/145869957-32fc0fad-a2c2-462e-86a5-9a2f3593a4d7.png)

## S

[2021-12-13 18:48] Prahladvarma94 commented on #4092
[accessibility] issue.

[2021-12-13 22:02] compulim opened #4093 "Enable Cyber EO"
## Feature Request

Makes Web Chat compliant to Cyber EO initiative.

[feature-request]

[2021-12-14 06:08] amoyalan20 commented on #4090
is there any updates on this?

[2021-12-14 19:18] gabog commented on #4092
Hi @compulim, can you please take a look at this one?

Thanks

[2021-12-14 21:14] compulim opened #4094 "Allowlist only `aria-label` attributes set in Markdown"
## Feature Request

Our sanitize HTML rules only allows `aria-label` to be set.

[code]

We should allowlist `aria-label` when using the `markdown-it-attrs` plug-in.

[feature-request]

[2021-12-15 23:27] compulim commented on #4092
I tested it on our side with 4.14.1 with both upload and microphone button. It works.

https://user-images.githubusercontent.com/1622400/146280529-0a5fa894-ed96-4e9d-bfff-99b9ffb47ab3.mp4

@Prahladvarma94 could you give us more information?

[2021-12-20 03:36] #4075 closed

[2021-12-20 06:24] avrum commented on #4075
Thanks again for fixing this 🪲 👏

[2021-12-20 19:47] elopezanaya opened #4098 "[Accessibility] [Omnichannel] after minimize the chat widget , Screen reader doesnt read new messages when the chat is launch again"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

Environment Details:
Application Name: Microsoft Dynamics 365 Omnichannel Online Chat – CRA Online Chat Agent
#URL: Omnichannel Agent Dashboard
Windows Version: Win10
Chromium edge Version 98.0.1089.1 (Official build) dev (64-bit)

##

[2021-12-20 19:56] elopezanaya opened #4099 "[Accessibility] [Omnichannel] Screen reader is not notifying the user when the agent is typing"
Environment Details:
Application Name: Microsoft Dynamics 365 Omnichannel Online Chat – CRA Online Chat Agent
#URL: Omnichannel Agent Dashboard
Windows Version: Win10
Chromium edge Version 98.0.1089.1 (Official build) dev (64-bit)

## Describe the bug

When the user tabs to the minimized chat window and opens it after hearing that a message has been received, the screen reader does not automatical

[2021-12-20 21:47] elopezanaya opened #4100 "[Accessibility] [Omnichannel] problems trying to navigate across messages to be narrated by the screen reader"
Environment Details:
Application Name: Microsoft Dynamics 365 Omnichannel Online Chat – CRA Online Chat Agent
#URL: Omnichannel Agent Dashboard
Windows Version: Win10
Chromium edge Version 98.0.1089.1 (Official build) dev (64-bit)

## Describe the bug

When the user tabs to the minimized chat window and opens it after hearing that a message has been received, the screen reader does not automatical

[2021-12-21 21:11] owenpww opened #4101 "Add ability to add custom send button component"
## Feature Request
Need ability to add a custom send button to replace the existing SVG being used. In fact adding custom components, not just for this send button, to the implementation would be very helpful altogether.

**Is your feature request related to a problem? Please describe.**
Design specification requires a custom-made SVG be used for the send button but cannot use it

**Describe the s

[2021-12-23 13:36] arunthirumani opened #4102 ""Whops The URL must be of scheme file" error while trying to build the code on windows"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

## Version

## Describe the bug

## Steps to reproduce

1. Go to '...'
1. Click on '....'
1. Scroll down to '....'
1. See error

## Expected behavior

## Additional context

[Bug]
TypeError [ERR_INVALID_URL_SCHEME]: The

[2021-12-23 18:37] ramfattah commented on #4102
Hey @arunthirumani, Thanks for the question. Additional info is needed. Could you please provide code snippets or steps to reproduce this issue?

[2021-12-24 07:14] arunthirumani commented on #4102
@ramfattah thank you for the quick response,

steps to reproduce:
1) clone the repository to desktop
2) execute below commands
   npm ci
   npm run bootstrap

[2022-01-04 20:53] munozemilio commented on #4092
Closing due to inactivity... @Prahladvarma94 feel free to reopen if needed

[2022-01-04 20:53] #4092 closed

[2022-01-05 21:24] ramfattah commented on #4102
I was able to repro this issue and getting the same error `"Whops The URL must be of scheme file"` after running **npm run bootstrap**. Below is my repro steps:
1) git clone ```https://github.com/microsoft/BotFramework-WebChat.git```
2) cd BotFramework-WebChat && npm install
3) npm ci
4) npm run bootstrap

Terminal stack trace

[code]

[2022-01-05 22:12] stevkan commented on #4102
I was able to repro (sort of) as I didn't get that same error. But, running `npm bootstrap` did fail for me. Working from a clean clone of the repo, my attempt failed an integrity check.

[code]

[2022-01-05 22:27] ramfattah commented on #4102
Hey @compulim, can you take a look at this?

[2022-01-07 18:37] compulim opened #4104 "Fix `core/package-lock.json`"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/148590676-0ec554c8-7c78-4cf9-89e3-828ad069ff25.png)

## Version

`main`

## Describe the bug

For unknown reasons, the `core/package-lock.json` has the `@babel/helper-split-export-declaration` package pointing to `@babel/helper-hoist-variables` instead.

## Expected behavior

Every entry in the `package-lock.json` should be

[2022-01-07 18:40] compulim opened #4105 "Add a tool script to point `package-lock.json` to Azure Artifacts"
## Feature Request

During build time, internally, we need to use Azure Artifacts to load all packages.

We need to add a simple script to rebase all `resolve` fields in `package-lock.json` to point to our internal Azure Artifacts (with upstream redirection).

Also, the `packages/playground/host/package.json` is not used and should be removed.

[feature-request]

[2022-01-10 12:15] casperhuijsman commented on #2211
Can you provide an update?

[2022-01-10 18:19] #4104 closed

[2022-01-10 19:18] tdurnford commented on #4100
@compulim Any updates on this issue?

[2022-01-10 19:18] tdurnford commented on #4099
@compulim  Any updates on this issue?

[2022-01-10 19:18] tdurnford commented on #4098
@compulim  Any updates on this issue?

[2022-01-11 08:17] Saransh-spec commented on #2203
@namanimsft @abishekreddy Can we have the status of this issue. Is there any way to handle attachment via copy-paste method on azure chatbots webchat channel.

[2022-01-13 14:02] amoyalan20 commented on #4088
@benbrown  any updates on this issue?

[2022-01-14 19:59] AlexanderPBrown commented on #2679
Any news on when this feature might arrive?

[2022-01-17 12:43] rohan081296 opened #4111 "Issue with adaptive card in teams use by Bot"
I have created chatbot with bot composer and published it on azure and enabled teams channel too.

I have used adaptive card in chatbot. When I click on button in adaptive card in teams, it is showing message "Your response was sent to the app".

When I check same with web chat, It is not showing any message like this.

Ideally, I don't want this type of message when click on button in adaptive ca

[2022-01-17 18:49] anishprasad01 commented on #4111
These types of helper toast messages are a Teams feature, and are not controlled by the bot. That is why they appear only in Teams and not in web chat. They have nothing to do with the bot code or adaptive card JSON you have written. At this time, there is no way for you as a bot developer to remove them.

[2022-01-18 04:58] rohan081296 commented on #4111
Ok @anishprasad01 . Thank you for your response.

[2022-01-18 04:58] #4111 closed

[2022-01-20 03:52] owenpww opened #4112 "Cannot tab/give focus on adaptive card buttons using keyboard navigation"
## Screenshots
![image](https://user-images.githubusercontent.com/93670080/150269883-f413d34e-002b-4d0c-9322-3ffa0ffd9d5c.png)

## Version
Using NPM package (React).
`'<meta name="botframework-directlinespeech:version" content="4.14.1">\n<meta name="botframework-webchat:bundle:variant" content="full">\n<meta name="botframework-webchat:bundle:version" content="4.14.1">\n<meta name="botframework-web

[2022-01-20 06:25] owenpww commented on #4112
My mistake. Pressing `enter` while the parent `div` is in focus allows focus to be received by the child elements. I assumed it would have given focus to the children without having to press `enter`.

[2022-01-20 06:25] #4112 closed

[2022-01-24 11:00] saikumaru opened #4117 "Support image beside button text in Hero card"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Feature Request
Currently, this feature is supported for Suggested actions, as mentioned here
https://github.com/microsoft/BotFramework-WebChat/issues/1739

However the same feature is not supported on Hero card.
https://github.com/

[2022-01-24 18:44] carlosscastro commented on #4088
@benbrown do you have updates on this front? Let me know if you need help coming up with a plan to prioritize / move this forward.

[2022-01-24 18:46] benbrown commented on #4088
We need @compulim to weigh in here.

[2022-01-24 19:00] carlosscastro commented on #4098
@compulim could you please pick up this issue? Thanks

[2022-01-24 19:01] carlosscastro commented on #4099
@compulim could you please update this issue?

[2022-01-24 19:02] carlosscastro commented on #4100
Hey @compulim could you please pick up this issue? Thanks!

[2022-01-24 19:02] carlosscastro commented on #4102
@compulim could you please pick this one up?

[2022-01-25 07:43] VishnuEY opened #4118 "Bot scrolls up and down, on clicking buttons instead of posting it"
After leaving the bot's page idle for some time and clicks on any buttons provided in the card, instead of posting it to the bot and getting the response, the bot is scrolling up and down, which makes it weird. Only after refreshing the page, bot is working as expected. Again if I leave the page idle for 5-10 minutes and try again, getting the same issue.

## Version
meta name="botframework-direct

[2022-01-25 16:11] KarlPurk opened #4119 "Toggling the visibility of content within a card does not always work."
## Screenshots

![image](https://user-images.githubusercontent.com/1528469/151013129-5deae9b3-cc16-4693-85ee-f7e38eae4b3d.png)

This screenshot doesn't capture the behaviour - in the above screenshot I have clicked "Hide history" but the content is still visible.

## Version

I reproduced the issue using one of the samples which points to the latest version via CDN.  However, this particular issue

[2022-01-25 19:51] compulim opened #4120 "Turn bogus secrets into zeroes or more obvious bogus"
(This is not a security issue.)

## Screenshots

![image](https://user-images.githubusercontent.com/1622400/151048436-2f8d8ce2-312a-479a-b80a-caf4174b0cf2.png)

## Version

`main`

## Describe the bug

In some of our `README.md`, we have bogus secrets like `abcd1234` or `a1b2c3d`. Our credential scanner tool think they are secret.

Let's update our `README.md` to make them more obvious and simple.

[2022-01-25 21:22] compulim opened #4121 "Bump to `react-scripts@5.0.0`"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/151061425-c1adae49-8d7f-4e8f-8a92-89105bff132b.png)

## Version

`main`

## Describe the bug

`react-scripts@5.0.0` was released around mid-December. It should have its security vulnerabilities fixed.

Although we are only using `react-scripts` via `create-react-app` in samples, we should bump to 5.0.0 as soon as possible.

[2022-01-26 15:43] #4120 closed

[2022-01-26 18:50] stevkan commented on #4118
@VishnuEY, Cognitive Services (which includes Direct Line Speech) Speech tokens are only valid for up to 10 mins before they expire. Can you verify that you have a valid token when this occurs? FYI, to refresh the speech token you simply need to request a new one from the same API and replace the old with the new before the older token expires (reference docs [here](https://docs.microsoft.com/en-u

[2022-01-27 03:37] VishnuEY commented on #4118
@stevkan - We're currently not implementing anything related to speech on the chatbot. It's a just a simple webchat bot with only text features.

[2022-01-27 10:32] RajdeepRay0411 opened #4124 "Unable to see Link Preview In Bot Framework WebChat"
Hi Team,

Hope you are doing well!!

I am unable to see the preview of any link in the webchat. Can you please suggest to me if this feature is available or not and if available, can you please let me know how to implement this as we have to implement this on a high priority as this has been raised as a production issue from the clients.

[2022-01-28 03:54] RajdeepRay0411 commented on #4124
Hi @stevkan, As I am new to this field, I don't have much idea on how to implement this. This is a client requirement raised as a production issue and they want to see the link preview as well in the response in webchat. Hence, I need to understand if webchat supports this feature and if it supports it, how to implement it. Thanks

[2022-01-28 10:03] Hevanddd opened #4126 "Can't stop bot speech first 1 second by using WEB_CHAT/STOP_SPEAKING"
## Screenshots

![image](https://user-images.githubusercontent.com/57950022/151523473-30d5dcd5-fc30-4456-bef9-2184dd0e0f96.png)

## Version
Npm "botframework-webchat": "4.8.1",

## Describe the bug

Hi. I'm using a botframework-webchat with cognitive services and when I'm trying to stop bot speech in first second by using WEB_CHAT/STOP_SPEAKING action - it doesn't work. As I see, in the console th

[2022-01-28 10:35] KamilaWhocares opened #4127 "The microphone immediately turns off when the user says something incomprehensible for the bot"
## Version

4.14.1

## Describe the bug

When the user clicks the mic and then says some incomprehensible words that the bot can't recognize, the mic just turns off without waiting for further input and without throwing any errors.

## Steps to reproduce

1. Go to https://microsoft.github.io/BotFramework-WebChat/03.speech/g.hybrid-speech/
2. Click on the microphone button
3. Say something incompre

[2022-01-28 11:16] kedar-andharikar opened #4128 "Adaptive Card does not work if you use Direct Line App Service Extension"
Web App Bot is published on MS Azure and we are using DirectLine channel for rendering the bot. Everything else works very fine but adaptive cards do not show up.

I have tried to change attachment type to custom in the BOT application and changing it back to adaptive crd in webchat client application as follows :

`const attachmentMiddleware = () => next => card => {
      if (card.attachment.con

[2022-01-28 16:23] stevkan commented on #4127
Unfortunately, I am unable to repro the issue when visiting the site. When speaking gibberish, the speech service makes a best guess at what the words are, entering the words, and the speaking them. Can you verify that you have allowed your microphone access to the site? The location of the setting may vary between browsers, but in Edge it is located to the left of the address bar as well as in se

[2022-01-28 16:31] stevkan commented on #4128
@kedar-andharikar, I have a Direct Line ASE site that I can test this with and will let you know what I find. In the meantime, could you provide the code for the adaptive card you are attempting to send?

Also, can you verify that the adaptive card version, defined in the card you are sending, matches or is less than to the 1.2 value listed in `adaptiveCardsParserMaxVersion` you have defined in `s

[2022-01-28 16:35] HesselWellema opened #4129 "Outline focus on webchat__basic-transcript very 'thick'"
I use a hosted webchat: https://cdn.botframework.com/botframework-webchat/latest/webchat.js
Clicking in the transcript shows a very 'thick' outline. I am not able to find a way to make this more subtle (like the outline of transcript activities).

Is there a neat of quick and dirty way to style the outline within webchat?

[2022-01-28 17:44] kedar-andharikar commented on #4128
Hello @stevkan,
Thank you so much for offering help..

following is the code for the adaptive card that I am sending

`string[] paths = { ".", "Cards", "welcomeCard.json" };
            var fullPath = Path.Combine(paths);
            var adaptiveCard = File.ReadAllText(fullPath);
            return new Attachment()
            {
                //ContentType = "application/vnd.microsoft.card.adapt

[2022-01-28 17:49] stevkan commented on #4126
@Hevanddd, unfortunately, I am unable to repro the issue you are experiencing. I setup Web Chat so that when I speak the phrase "stop bot from speaking", the store then dispatches `WEB_CHAT/STOP_SPEAKING`. And it works as expected. If I speak any other phrase, the bot responds by speaking the response. If I speak the above phrase, the bot does not respond with speech.

Regarding the `WEB_CHAT/MARK

[2022-01-28 17:59] stevkan commented on #4129
There are a number of options available via the [`defaultStyleOptions`](https://github.com/microsoft/BotFramework-WebChat/blob/main/packages/api/src/defaultStyleOptions.ts) that you can customize in Web Chat that are transcript related. I'm not totally clear on which outline you are referring to, however, so you will need to review the options and see if the apply to your situation. If not, then a

[2022-01-28 17:59] #4129 closed

[2022-01-28 18:56] stevkan commented on #4124
Hi @RajdeepRay0411, link previewing is not a feature of Web Chat, unfortunately. However, I came across this package on NPM ([LinkPreview](https://www.npmjs.com/package/@namchey/linkpreview)) that may meet your needs. In short, if a link is presented and clicked on, you could have the page fire an event that would call the LinkPreview package and capture the response. Then you could pass the respo

[2022-01-28 18:56] #4124 closed

[2022-01-30 03:33] liyubupt opened #4130 "Can not establish Websocket conneciton with Direct Line App Service Extension"
[Question]

I followed the instruction on Microsoft documentation and created a dummy bot and deployed on app service (windows) with activated direct line app service extensaion and check all attribute at /.bot. Looks all good. See https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-service-4.0

I then followed the instruction and crea

[2022-01-31 11:52] Hevanddd commented on #4126
@stevkan thank you for your response.
I tried to upgrade to the newest version but it didn't help me.
The easiest way to reproduce this bug is to create middleware.
![image](https://user-images.githubusercontent.com/57950022/151786854-3e643002-230d-4d6b-8871-d244114d83ea.png)

![image](https://user-images.githubusercontent.com/57950022/151786926-14f3d664-5959-4678-9c20-0af9528b27d0.png)

![image](

[2022-02-01 18:09] msomanathan commented on #4098
@compulim Could you please provide an update to this issue?

[2022-02-01 18:10] msomanathan commented on #4099
@compulim Could you please provide an update to this issue?

[2022-02-01 18:10] msomanathan commented on #4100
@compulim Could you please provide an update to this issue?

[2022-02-01 18:20] msomanathan commented on #4119
@stevkan Could you please provide an update to this issue?

[2022-02-02 01:25] liyubupt commented on #4130
@stevkan  dear stevkan, do you have any updates on this?

[2022-02-02 01:25] liyubupt commented on #4130
@msomanathan  I am a bit blocked by this issue. could you help me on this?

[2022-02-02 17:42] LucianaAlexanderMorais commented on #3933
This was a rough experience. We definitely need to work on improving this if we can. Right now I am drafting directions to place on the main page when we launch the bot:

"Please note, we are currently working on improving accessibility on this virtual agent.
We apologize for any inconvenience.

To start using the virtual agent with a screen reader, you can:

1. Tab to select the virtual agent win

[2022-02-02 18:57] stevkan commented on #4130
@liyubupt, can you verify that your app service has Web Sockets enabled in the configuration? Also, could you post your code setting up Web Chat (minus any keys/secrets) so that I may compare it to a running instance I have?

[2022-02-02 18:58] stevkan commented on #4119
@KarlPurk, thank you for your patience. I should have a response for you by end of day, today.

[2022-02-03 13:46] KamilaWhocares commented on #4127
Hi,

first of all, sorry for such a late reply.

I have allowed my microphone. I am able to have a perfectly fine
conversation with a bot until I speak something incomprehensible for the
bot like, for example "chrząszcz" (which is a word from my native tongue),
then the mic turns off without throwing any error. The problem occurs, I am
pretty sure of that, I even managed to capture it on the video

[2022-02-04 16:25] stevkan commented on #4119
@KarlPurk, unfortunately, I am unable to repro the issue you are experiencing. You did reference some conditions that were necessary. I'm going to take another dive and double check that the conditions are being met.

In the meantime, are there any specific changes you made to the code beyond what you have cited above?

[2022-02-04 16:46] stevkan commented on #4127
@KamilaWhocares, I am still unable to repro the issue. I even repeated 'chrząszcz' (as best I could), and Web Chat always tried to identify the correct word with guesses like: Schultz, show host, and trust. So, at this moment, I don't know why this wouldn't be working for you.

Can you verify for me the version of Web Chat the page is loading for you? It should be 4.14.1. If you see something diff

[2022-02-04 17:56] stevkan commented on #4128
@kedar-andharikar, unfortunately, I am unable to repro the issue you are experiencing. I tested by adding your adaptive card to the [07.using-adaptive-cards](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/07.using-adaptive-cards) sample and published the bot to my DirectLine ASE setup in Azure. The card displayed with a problem.

I did make two slight changes t

[2022-02-04 17:58] stevkan commented on #4118
@VishnuEY, thank you for your patience. Are you able to verify that the token is valid when the issue occurs?

[2022-02-04 18:59] msomanathan commented on #4088
@compulim Could you please provide updates to this issue? Thanks!

[2022-02-04 19:01] msomanathan commented on #4102
@compulim Could you please provide updates to this issue? Thanks!

[2022-02-06 08:00] vinothkumar1097 opened #4132 "How to customize BotFramework webchat react UI"
Hi Team,

I'm just started exploring botframework webchat with React. I have tried to come until below UI.

[current ui image][1]

In docs, its mentioned like we can control each parts of the UI using React. But I couldn't see samples that could modify webchat message styles like (user/bot message height, customize message input field). In the ReactWebChat component, there is a className prop.
[co

[2022-02-06 15:05] tvvignesh commented on #3949
@compulim Hi. I had an issue where the adaptive card froze after responding randomly and I was debugging the issue and I narrowed it down here

![image](https://user-images.githubusercontent.com/1165845/152687116-91cbba34-b8a5-43fb-8b95-bf677408a19a.png)

I added a log and this is the error I get in dev tools

![image](https://user-images.githubusercontent.com/1165845/152687149-dbe722f6-8c77-4a72-

[2022-02-06 22:37] liyubupt commented on #4130
@stevkan thanks a lot for your answers! here is the code. https://github.com/liyubupt/Empty. I also checked that websocket configuration on app service is enabled. I checked the application insights. The 500 error code I got was because of failed call to starting conversation

![image](https://user-images.githubusercontent.com/5922968/152704432-aabcfc4f-e7d3-444c-aea9-37becb480a5f.png)

[2022-02-07 13:01] KarlPurk commented on #4119
@stevkan no, nothing specific.  I kept everything as vanilla as possible to ensure the problem wasn't related to anything we were doing on our team.

Did you try on iOS?  The issue does not exist on desktop or via browser emulation.

[2022-02-07 15:55] KamilaWhocares commented on #4127
To be honest this problem does not seem to be that rare in my experience. I've been able to successfully trigger this behavior multiple times. I've been also working on a more customized bot using this library and not only me, but a few of my colleagues have also observed this issue with other words, even English ones.

The Web Chat's version is 4.14.1. I use Chrome 97 and my locales are en-US, en

[2022-02-07 17:13] casperhuijsman commented on #2211
@cwhitten @compulim

Could you update on this?

[2022-02-08 20:28] compulim opened #4133 "Resolve TODOs for recent accessibility updates"
## Screenshots

## Version

`main`

## Describe the bug

We introduced a few TODOs while working on the last huge accessibility updates. This is the issue to track them.

## Additional context

[Bug]

[2022-02-08 21:35] stevkan commented on #4119
@KarlPurk, thank you for reminding me to check the behavior on iOS. Yes, I believe I have repro'd your issue. When I tap on one of the chevrons or on the show/hide history and then try reversing the action by tapping again, then the card does not respond. What I found is that if I tap elsewhere on the card and then re-tap the same element, then the card functions as expected.

For example, tapping

[2022-02-08 21:35] #4119 closed

[2022-02-09 16:59] stevkan commented on #4132
Closing in favor of the duplicate Stack Overflow issue located [here](https://stackoverflow.com/questions/71005239).

------------------------

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotFramework-SDK/) repo is the preferre

[2022-02-09 16:59] #4132 closed

[2022-02-09 21:01] stevkan commented on #4126
@Hevanddd, thank you for your patience while I looked into this. The issue you are encountering in your code really comes down to timing. Because you are filtering on 'MARK_ACTIVITY' (and 'speak' and 'true') and not on the incoming activity, itself, you are having to try and time when to silence the actual speaking process.

When I tested your code, I found that adjusting the timeout to 250 ms app

[2022-02-10 10:58] Hevanddd commented on #4126
@stevkan, DIRECT_LINE/INCOMING_ACTIVITY action doesn't help me, because a user can go to the background at any moment, so I need to have an opportunity to stop the bot speech at any moment and even right after WEB_CHAT/MARK_ACTIVITY with speak: true action.

When I'm trying to stop speech right after DIRECT_LINE/INCOMING_ACTIVITY - it works as expected.
![image](https://user-images.githubuserconte

[2022-02-10 17:32] elopezanaya opened #4134 "[Accessibility] [Omnichannel] Omnichannel Chat Widget has an incorrect use of ariaroledescription"
https://unify.services.dynamics.com/CRM/Org/69910a2a-c571-417f-be95-816e553720d2/Incident/ServiceDesk/2201200050000888/Home

Scope:

FROM ICYM -> https://portal.microsofticm.com/imp/v3/incidents/details/286723576/home

============
This shall be considered resolved once we determine how to properly implement the aria-roledescription within the Omnichannel Chat Widget

Customer Experience:
========

[2022-02-10 20:47] #3933 closed

[2022-02-10 20:47] #3934 closed

[2022-02-10 20:47] #3994 closed

[2022-02-10 20:47] #4019 closed

[2022-02-10 20:48] #4121 closed

[2022-02-11 01:18] stevkan commented on #4128
Closing due to inactivity.

[2022-02-11 01:18] #4128 closed

[2022-02-11 01:19] stevkan commented on #4118
Closing due to inactivity.

[2022-02-11 01:19] #4118 closed

[2022-02-11 11:12] KattaBhargav opened #4137 "[Supporting the platform-AskHR Virtual Assistant]: In High Contrast Black mode, emojis are not clearly visible in the 'Feedback' section present in the page."
**User Experience:**
Color sensitive users who rely on high contrast modes(Black) are getting impacted as emojis are not clearly visible in the 'Feedback' section present in the page.

Note: User credentials should NOT be included in the bug.

**Prerequisite**:
Go to Ease of Accessibility settings-> Navigate to 'Turn high contrast On or off' in system settings -> Toggle On the 'Turn on high contra

[2022-02-11 11:23] KattaBhargav commented on #4137
#A11yMAS;#A11ySev2;#HCL;#WCAG4.3.1;#Accessibility;#Win10-Edge(Chromium);#BotFrameworkWebChat-Aug21;#Benchmark;#CSEO:BUG8005236;#Firstparty:CSEO;#Regressed:02-09-22;#Regression;

[2022-02-11 11:29] KattaBhargav opened #4138 "[Screen Readers-Ask HR Virtual Assistant]: Screen readers(NVDA/JAWS) are narrating the suggestion invoked by the user multiple times upon invoking the Suggested Questionnaire button present in the “Ask HR Virtual Assistant” chat window."
**User Experience:**
Screen reader users are getting impacted if  Screen readers(NVDA/JAWS) are narrating the suggestion invoked by the user multiple times upon invoking the Suggested Questionnaire button present in the “Ask HR Virtual Assistant” chat window.

Note: User credentials should NOT be included in the bug.

**Repro Steps:​**
1. Enable Screen readers (NVDA/JAWS) and Open the above URL in

[2022-02-11 11:33] KattaBhargav commented on #4138
#A11yMAS;#A11ySev2;#HCL;#WCAG4.3.1;#Accessibility;#Win10-Edge(Chromium);#BotFrameworkWebChat-Aug21;#Benchmark;#CSEO:BUG8007103;#Firstparty:CSEO;#Regressed:02-09-22;#Regression;

[2022-02-11 11:35] KattaBhargav commented on #4138
Bug copied from CSEO team Bug id:-[BUG 8007103](https://microsoftit.visualstudio.com/OneITVSO/_workitems/edit/8007103)

[2022-02-11 18:10] compulim commented on #4134
I am looking at 4.14.1.

We have 5 type of DOM nodes using `aria-roledescription` attribute (through running `document.querySelectorAll('[aria-roledescription]')` in the console):

1. `<section aria-live="polite" aria-roledescription="transcript" role="log">` (This is live region chat history, not visible/navigable)
2. `<ul aria-roledescription="transcript" role="list">` (This is main chat history

[2022-02-11 18:18] compulim commented on #4091
Could you let us know which version of Web Chat is using on Omnichannel?

We have added a feature to show the "Open in new windows" icon and it will by read by screen reader. This feature is done in 4.13.0 (released 2021 April), [changelog here](https://github.com/microsoft/BotFramework-WebChat/blob/main/CHANGELOG.md#4130---2021-04-05)

When the feature is on, you should see:

- An icon indicating

[2022-02-11 18:18] compulim commented on #4098
I need more technical details here, will ping Edward/Charlie internally.

[2022-02-11 18:19] compulim commented on #4099
This is a new feature and will be triaged.

[2022-02-11 18:23] compulim commented on #4100
Can you verify the version of Web Chat used?

Transcript navigation is a feature we introduced in 4.12.0 (2021 March).

The feature enables end-user to press <kbd>SHIFT</kbd> + <kbd>TAB</kbd> to the transcript and use up/down arrow keys to navigate the transcript.

[2022-02-11 18:52] compulim commented on #4137
It seems to be an issue on the OS/browser side.

Unlike Teams, Web Chat do not render emoji using custom graphics. We relies solely on OS/browser to show the emoji.

In this case, when running under high contrast mode, I believe Edge should render the emoji in monochrome, to match the style from the OS.

Under high-contrast mode, the following is the Emoji Panel under Windows 11. It render emojis

[2022-02-11 18:59] elopezanaya commented on #4134
Hi @compulim , from the customer  ->

<img width="824" alt="image" src="https://user-images.githubusercontent.com/981914/153652898-2a775cf0-7d3e-43f8-9425-985b61a0f8ee.png">

`This is a html element called a div (division) as far as a screen reader is concerned, it doen’t have a role in the same way as an image would (ie <img/>), with an image, it has an implied role of image, a div dosent have th

[2022-02-11 19:39] elopezanaya commented on #4100
for arrow navigation ->

I did another try in akams/ocdailym , using 3 narrators (NVDA, JAWS, NARRATOR)->

Windows narrator , NVDa and JAWS, the only one where the functionality was supported was supported was for NVDA

CustomProperties: "{\"requestId\":\"oovi39\",\"request\":{\"url\":\"https://unqed5ece4e719e4765a0602c30b44eb-crm.oc.crmlivetie.com/presence/SendHeartbeat/\",\"requestType\":\"PUT\"

[2022-02-14 22:59] karthsMicrosoft opened #4140 "ARIA complementary region values are inconsistent: Omnichannel Agent Dashboard"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

**Environment Details:**
Application Name: Microsoft Dynamics 365 Omnichannel Online Chat – CRA Online Chat Agent
#URL: Omnichannel Agent Dashboard
Windows Version: Win10
Microsoft Edge: Version 93.0.933.1 (Official build) dev (64-bit)

[2022-02-14 23:56] kevinlin98z commented on #4091
@compulim current version of webchat being used is 4.14.1
![image](https://user-images.githubusercontent.com/13504205/153966557-c1fd2371-b408-44fb-ba79-670460c7a8a8.png)

"Open in new window" icon is still not present within the link as part of the message sent
![image](https://user-images.githubusercontent.com/13504205/153966676-fff7f49c-fad8-45c4-b1a6-b246bdf950fd.png)

[2022-02-15 08:03] PandiyanSG opened #4141 "Network Interruption Reconnecting issue occurs on Adaptive Card action click "Submit" or "Cancel""
Network Interruption Reconnecting issue occurs on Adaptive Card action click "Submit" or "Cancel". It again load the bot from the welcome message. instead of show response for "submit" or "cancel". Also, am facing this issue frequently in bot like "Taking longer than usual to connect" with Http Status code 500. Please find the error screen shots are attached same here.

![Bot-Connection-Issue (2)]

[2022-02-15 08:31] compulim opened #4142 "Add allowed protocol list to file attachment"
## Feature Request

Add allowed protocol list to file attachment, default to `http:`, `https:` and `data:`.

[feature-request]

[2022-02-15 09:55] HesselWellema opened #4144 "Avatars and Decorating with activityMiddleware do not play well together"
I am struggling with this for some time now (see also [this SO question)](https://stackoverflow.com/questions/71021910/webchat-unable-to-render-new-elements-using-activitymiddleware-in-combication-w). I reproduced the issue using the samples so hopefully you guys can shed some light on this.

The problem: Avatars are not shown as soon as you use activity middleware for decorating.

To reproduce:

[2022-02-15 18:57] stevkan commented on #4144
@HesselWellema, thanks for bringing this to our attention. I will attempt a repro of this and let you know what I find.

[2022-02-16 00:19] ramfattah commented on #4141
Hi @PandiyanSG - Thanks for using Bot Framework. Let's try to find more information about this bug.

Could you please provide steps to reproduce this issue? [reference here](https://github.com/microsoft/BotFramework-WebChat/blob/main/.github/ISSUE_TEMPLATE/bug_report.md#:~:text=Steps%20to%20reproduce,See%20error)

[2022-02-16 08:16] Sata-Chakra commented on #1716
How to solve this on MS teams ? A teams doesn't support suggested actions ?

Do you have a workaround for this on MS Teams ?
Right now we are using adaptive cards , but it has to be out under a textprompt , which is causing a host of other issues.

TIA

[2022-02-16 15:43] compulim commented on #4091
I talked to Edward/Edgar and we found that the JSON file is not always reflecting the actual version of Web Chat loaded.

It will be more accurate if you can look at the DOM tree like below:

![image](https://user-images.githubusercontent.com/1622400/154300810-57ac9324-2f6b-40b5-adad-bb2adbdc027e.png)

If Web Chat is not hosted in an IFRAME, you can run the following code to grab the actual versio

[2022-02-16 20:54] compulim commented on #4134
![image](https://user-images.githubusercontent.com/1622400/154355143-193b6581-de54-456a-b779-1ee7b4218c18.png)

On my side, this is 4.14.1 and the DOM tree look significantly different.

Can you verify the version of Web Chat used?

![image](https://user-images.githubusercontent.com/1622400/154355294-9708dd07-790e-4f71-9aba-3c459cab86ac.png)

In the HTML `<head>`, there should be a `<meta>` tag in

[2022-02-16 22:32] sebastianstephan commented on #789
It is annoying, that this tiny limit is still in place. When can we expect to have larger file support for WebChat over DirectLine that tiny 4MB? Is there an update on that limitation?

[2022-02-17 03:20] compulim commented on #4134
Me and @elopezanaya discussed offline and this is repro only on 4.9.x, and no longer repro on 4.14.1.

[2022-02-17 03:20] #4134 closed

[2022-02-17 03:31] compulim commented on #4091
Worked with Edgar offline. This is because Omnichannel is not using Web Chat to render the text content. Thus, the "Open in new window" icon is not displayed.

[2022-02-17 03:31] #4091 closed

[2022-02-17 03:32] compulim commented on #4098
When the chat widget is minimized, Omnichannel is adding "display: none" to hide Web Chat.

Thus, all new incoming messages are not narrated.

[2022-02-17 03:32] #4098 closed

[2022-02-17 03:39] compulim commented on #4100
After clarifying with Edgar, the expected behavior is: "after a new message come, the user should be able to jump to the first unread message fairly quickly,"

It could be a shortcut key to jump to the first unread message. It could also be, when the user is focusing on the "End of chat history" prompt, they can tap on the prompt to jump to the first unread message.

We will discuss about which ac

[2022-02-17 18:41] mikemitchel commented on #4034
The current `main` release seems to have gone back to pining the react versions - will this be fixed again to allow for React 17+ ?
https://github.com/microsoft/BotFramework-WebChat/blob/21ff9a1a37ce94b7018e8d1a62ca659b33c67809/package.json#L97

[2022-02-17 21:34] muminasaad opened #4170 "Cannot clone project due to filename too long"
The following file path is making an error on windows devices

__tests__/__image_snapshots__/html/transcript-navigation-focus-attachment-screen-reader-primary-action-windows-narrator-js-transcript-navigation-with-windows-narrator-should-focus-inside-the-attachment-when-do-primary-action-is-performed-1-snap.png

filename too long on Windows

## Screenshots

![image](https://user-images.githubuserco

[2022-02-17 22:54] compulim commented on #4100
After discussing with Michelle from accessibility team today, the expected behavior should left unchanged.

When the Omnichannel chat widget is restored from minimized, all new messages should be read. Thus, all messages on the screen will be marked as read.

Having a shortcut key, or some sort of mechanisms, to jump to the first unread activity, will always land on the last activity in the chat h

[2022-02-17 22:54] #4100 closed

[2022-02-18 19:56] khathuynh-tw commented on #3935
The new canvas provided by Microsoft addresses some of our concerns around keyboard navigation by including a modal that appears before the user can interact with the chatbot. The modal contains instructions for how to navigate the chatbot with a keyboard.

However there are some new issues to follow up on, to be documented here:
- [NEW ISSUE] Buttons are no longer visible. Buttons appear to have

[2022-02-19 12:25] HesselWellema commented on #4144
@stevkan need some help with repro?

[2022-02-22 20:11] bradrlaw commented on #789
@zhaoxing-msft What some clients have done is upload their file to blob storage from their web client / mobile app and then attach the URL to the activity to send to the bot.  This had several advantages to manage the life cycle / access control of the file.  In many cases, the bot needs to send the file to other backend services and having it already in blob storage makes that easier.

[2022-02-22 22:02] ramfattah commented on #4141
closing due to inactivity.

[2022-02-22 22:02] #4141 closed

[2022-02-23 19:10] stevkan commented on #4170
@muminasaad, I'm not able to repro this issue. There are some options available that enable long file names to not produce an error. I'm looking into what those were that I perhaps enabled that you are maybe missing. When I identify what those are I'll post an update.

[2022-02-23 19:18] mikemitchel commented on #3957
Version 4.14.1 on [npm](https://www.npmjs.com/package/botframework-webchat) seems to fix this issue by setting `react` and `react-dom` as peer dependencies of `16.8.6` or greater, but the current `main` branch package.json still has them pegged at 16.8.6.  There was a recent dependency bump 13 days ago - was that a typo or error to roll back to have the react versions locked at 16.8.6?

https://gi

[2022-02-23 22:18] charliewang95 opened #4183 "Component Governance issues reported on Omnichannel ADO repos"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

![image](https://user-images.githubusercontent.com/14852927/155418530-1cc30f7c-bd77-4db2-bcd6-a415354c4666.png)
![image](https://user-images.githubusercontent.com/14852927/155418570-c0a86f8d-0b99-4565-8f4b-307a2eb976ca.

[2022-02-23 22:51] muminasaad commented on #4170
@stevkan

The maximum number of chars for a file path is 255-260 characters on normal cases as the following docs, to enable long paths  the user expected to edit register and it may or may not work which means it is not ideal to have this long file names, so it is more logical to fix the file name.

https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd

[2022-02-24 19:13] johnataylor commented on #4140
@compulim any update on this

[2022-02-25 10:10] stevkan commented on #4050
Closing as resolved.

[2022-02-25 10:10] #4050 closed

[2022-02-25 10:12] stevkan commented on #4032
Closing due to lack of response. If you have a response/feedback to provide, please feel free to reopen the issue.

[2022-02-25 10:12] #4032 closed

[2022-02-25 18:51] stevkan commented on #4170
@muminasaad, I'm also reaching out to the principal dev of Web Chat to get his thoughts on how to get around this. I'll update you when I hear from him, as well.

[2022-02-25 19:04] stevkan commented on #4130
@liyubupt, thank you for your patience.

I noticed this line in your bot that is different than mine in my work DL ASE. Can you add the audience to the end of this line in your Startup.cs file, like below? Let me know if this makes any difference for you.

app.UseNamedPipes(System.Environment.GetEnvironmentVariable("APPSETTING_WEBSITE_SITE_NAME") + ".directline", "https://api.botframework.com");

[2022-02-25 19:09] stevkan commented on #4127
@KamilaWhocares, I'm looking into whether the number of language included in the settings is somehow confusing the speech feature. It's just an idea at this point, but I will let you know what I find on this point and any additional ideas I may have.
As an aside, if you remove the additional language and use just the English (United States), does it work?

[2022-02-25 19:52] stevkan commented on #4126
@Hevanddd, thank you for your patience. The method by which you are trying to stop the speaking activity from occurring is not a supported method. The recommended way is as a response to the `INCOMING_ACTIVITY` action.

While I don't fully understand what you mean by "a user can go to the background at any moment", this shouldn't have an effect on whether or not the speech is able to be stopped or

[2022-02-25 19:52] #4126 closed

[2022-02-26 09:46] stevkan commented on #4170
@compulim, assigning to you for tracking purposes.

[2022-02-27 03:01] compulim commented on #4170
I am working to resolve this in #4188.

[2022-02-27 11:11] mrtsrdm opened #4189 "TrustedOrigins not working"
I send the token I produced in the backend to the frontend("https://abc.test.example" ) and start a conversation by giving the token to the webchate.
I would expect other domains to not be able to host the Web Chat client which is created by the token I generated,
but unfortunately it happens.

### token generating code:
  HttpClient client = new HttpClient();

  HttpRequestMessage request = new H

[2022-02-28 18:35] ramfattah commented on #4189
Hey @mrtsrdm

Have you tried to enable enhanced authentication options in Azure Bot channels? this will specify trusted client hosts.
Please follow [this documentation ](https://blog.botframework.com/2018/09/01/using-webchat-with-azure-bot-services-authentication/#:~:text=Enable%20%E2%80%9CEnhanced%20authentication,about%20these%20options%E2%80%AFhere.) to add trusted origin.

[2022-02-28 18:38] ramfattah commented on #4189
The Microsoft Bot Framework team prefers that how to questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). 
The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting bug fixes and feature requests.

[2022-02-28 18:52] stevkan commented on #4144
@HesselWellema, thank you for your patience. I am unable to repro the issue using the [message reactions](https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/05.custom-components/d.reaction-buttons) Web Chat sample coupled with avatar initials. As you can see in the image below, they display side by side:

![image](https://user-images.githubusercontent.com/18403946/156040988-0111f0

[2022-02-28 19:16] HesselWellema commented on #4144
Hi @stevkan. My apologies. I used my own botcode for the repo. I assumed this would not make any difference but it did. In my botcode the bot sends an event before sending a message.

[code]
I think this messes things up in webchat.

[2022-02-28 19:17] mrtsrdm commented on #4189
hey @ramfattah
ı already enabled enhanced authentication option in channel, but it is not working, that's why i wrote it here

[2022-02-28 19:25] mrtsrdm commented on #4189
@ramfattah
ı think it should be checked

[2022-02-28 21:48] ramfattah commented on #4189
re-opening for further investigation. Will report back once I find more info.

[2022-02-28 22:33] mrtsrdm commented on #4189
thank you @ramfattah

[2022-03-01 03:59] #4093 closed

[2022-03-01 04:01] compulim commented on #3957
@mikemitchel the `package.json` at the root level is not published. Most packages under `/packages/*` are published.

![image](https://user-images.githubusercontent.com/1622400/156102455-d252baef-5a5f-4f53-9b24-3369269d6036.png)

I searched and all publishing packages are `>= 16.8.6`.

[2022-03-01 04:18] compulim commented on #4183
This should be fixed in #4123, i.e. next release. [Diff here](https://github.com/microsoft/BotFramework-WebChat/pull/4123/files#diff-1fdbc08d36c2871ac4e2e30c7199c09dbb2c9d858d80e7fe3f941308bde9c24dR4023).

![image](https://user-images.githubusercontent.com/1622400/156103917-854ade0f-2d1a-4eb0-bc90-2169f3a10ec8.png)

[2022-03-01 07:24] HananBinkardoos commented on #3182
Hello, i am new to pva, can you please tell me where exactly do I need to put this code?

[2022-03-02 18:35] #4170 closed

[2022-03-02 18:35] #4142 closed

[2022-03-02 18:35] #3165 closed

[2022-03-02 18:35] #4094 closed

[2022-03-02 23:35] compulim opened #4190 "RegExp from Markdown curly brackets PR should not break IE11"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/156467459-8858bc83-5698-4c87-97e7-9bf8b2fdff68.png)

![image](https://user-images.githubusercontent.com/1622400/156467476-7f66c6d3-fe2b-4b55-9aad-46bca929bbec.png)

## Version

`main`

## Describe the bug

"u" flag in `RegExp` is not supported under IE11.

We have been using "u" flag for long as it is recommended by ESLint.

[2022-03-03 00:23] #4190 closed

[2022-03-03 01:27] compulim opened #4192 "4.15.0 Release checklist"
# Checklist

## Build

1. [x] Bump MockBot to Bot Framework SDK release 4.15.0
   - https://www.npmjs.com/package/botbuilder/v/latest
1. [x] Bump `botframework-directlinejs` to `0.15.1`
   - Bumped to 0.15.1 in #4123
1. [x] Bump to `4.15.0`
   - [x] Update `CHANGELOG.md` to mark specific changes in `4.15.0`
      - [x] For `4.15.0`, add breaking changes:
         - Web devs should add `import 'cor

[2022-03-04 06:43] brijeshpankhaniya opened #4196 "webchat is not Loading"
hello  everyone,
I am using the microsoft BotFramwork-webchat. I use the following webchat CDN
https://cdn.botframework.com/botframework-webchat/latest/webchat.js".

but I get the error while Load the webchat Component. It throws error from today itself. I working as expected before.

here is the snippet of error.
![image](https://user-images.githubusercontent.com/50993814/156712110-4aecd1b3-a13e-

[2022-03-04 08:00] DainHeart commented on #4196
Any update on this? We are having the exact same issue.

[2022-03-04 09:13] compulim commented on #4196
We are investigating the issue. Could you switch from `latest` to `4.14.1` in the meanwhile?

[2022-03-04 09:21] brijeshpankhaniya commented on #4196
@compulim are you asking for change the webchat CDN to 4.14.1 ?

[2022-03-04 09:32] compulim commented on #4196
There is an issue when rendering Web Chat to a detached node. Detached node means the node does not belong to the HTML document.

Let's say:

[code]

The code above would fail because Web Chat is being rendered to a detached node.

The issue will be resolved when Web Chat is being rendered on an attached DOM node.

[code]

In the meanwhile, please either downgrade it back to 4.14.1 and wait for a

[2022-03-04 09:45] brijeshpankhaniya commented on #4196
hey @compulim it is really help full for me. working fine after downgrade version. thank for helping.

[2022-03-04 09:47] brijeshpankhaniya commented on #4196
@DainHeart  please check solution by @compulim  it working fine for me.

[2022-03-04 12:32] compulim opened #4198 "4.15.1 Release checklist"
# Checklist

## Build

1. [x] ~Bump MockBot to Bot Framework SDK release 4.15.1~ (not needed for patch release)
   - https://www.npmjs.com/package/botbuilder/v/latest
1. [x] Bump `botframework-directlinejs` to `0.15.1`
   - Bumped to 0.15.1 in #4123
1. [x] Bump to `4.15.1`
   - [x] Update `CHANGELOG.md` to mark specific changes in `4.15.1`
   - [x] Run `npm version --no-git-tag-version 4.15.1`

[2022-03-04 13:50] ceby-gannetflemming commented on #4196
This is affecting us as well.

[2022-03-04 17:00] #4196 closed

[2022-03-04 17:41] compulim commented on #4192
We discovered an issue and started rolling out of 4.15.1.

See #4198.

[2022-03-04 17:41] #4192 closed

[2022-03-04 20:27] compulim opened #4199 "Update partner page on Adaptive Cards doc"

[2022-03-04 20:27] #4199 closed

[2022-03-07 19:18] axelsrz commented on #4137
Issue seems to be resolved from the BF side, closing thread. If problem persists, please open a new one.

[2022-03-07 19:18] #4137 closed

[2022-03-08 02:53] oswaldozapata commented on #2529
I am using https://cdn.botframework.com/botframework-webchat/4.14.1/webchat-minimal.js and adaptive cards does not works, for markdown we can use markdown-It but for adaptive cards there is not any documentation talking about how to support adaptive cards while using webchat-minimal.js, so, can we get working adaptive cards using minimal version or should we change to use the full version webchat.

[2022-03-08 17:03] suraj5789 opened #4200 "esbuild: Failed to install correctly"
## Version
botframework-webchat": "^4.14.1 & "botframework-webchat": "^4.15.1" as well
nodejs: '14.16.0', npm: '6.14.11' and also tried with
nodejs: '16.10.0', npm: '7.24.0'

## Describe the bug
We are using botframework-webchat's react webchat to extend the webchat functionality and publishing it as npm module and cdn lib.
with nodejs 12 it was working fine, when we upgraded our node js version i

[2022-03-08 18:52] stevkan commented on #4200
@suraj5789, attempting a repro with node v14 and will let you know what I find. For clarity, is it failing when testing or after publishing?

[2022-03-08 19:09] axelsrz commented on #4130
Closing this issue due to inactivity, if problem persist please open a new one.

[2022-03-08 19:09] #4130 closed

[2022-03-09 13:55] suraj5789 commented on #4200
@stevkan thanks for looking into the issue.

I am getting error in my repo installation at local and Jenkins and also my consumer application when they are installing my npm package.

Below are my dependencies and devdependencies.

"dependencies": {
    "botframework-webchat": "^4.14.1",
    "deepmerge": "^4.2.2",
    "react-idle-timer": "^4.6.4",
    "sonarqube-scanner": "^2.8.1",
    "styled-com

[2022-03-09 21:14] jason-walgreens opened #4201 "Azure Chatbot, Webchat Widget accessibility keyboard navigation and screen reader focus order is not logical."
# 🚨 The issue tracker is not for implementation questions 🚨

# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

This repo focuses on the development of Web Chat, a client/channel for Bot Framework. If you have questions on implementation or about other features of Bot Framework, please

[2022-03-09 21:50] stevkan commented on #4200
@suraj5789, I was able to dig down into this and I do not believe the issue is specific to your React setup nor is it necessarily tied to the node version. It looks like when Web Chat 4.14.1 was released, the 'markdown-it-attrs-es5' dependency was bumped from 1.2.0 to 2.0.0. This bump represented, among other things, a switch from using the 'babel-loader' and 'webpack' dependencies to 'babel-cli'

[2022-03-10 09:09] sknaappilaswd commented on #4201
I have also observed the same malfunctions when there are multiple sets of buttons available. The focus stays only in the first set of buttons (when pressing UP or DOWN arrow keys).

![image](https://user-images.githubusercontent.com/79024237/157628588-34fe401e-eb53-417e-93a0-a72152319b29.png)

[2022-03-10 10:54] anjukv commented on #3680
@arman-g , did you figure out the solution?
I'm also stuck at the exact same issue.
I've my own agent hub, but how can he join the conversation and how to raise the built-in event

[2022-03-10 18:00] suraj5789 commented on #4200
@stevkan,

Thanks for your quick help. Tried your solution now my apps work on my local. But in Jenkins it is getting failed.

Jenkins Log :
**17:44:50  + node -v
17:44:50  v16.14.0**
**17:44:50  + npm -v
17:44:50  8.3.1**
17:44:50  + npm install
17:45:29  npm WARN deprecated source-map-resolve@0.6.0: See https://github.com/lydell/source-map-resolve#deprecated
17:45:29  npm WARN deprecated redux-d

[2022-03-10 18:51] compulim commented on #4201
@jason-walgreens

For your first point, when a message with buttons arrive (e.g. Adaptive Cards), the screen reader should narrate: "Bot said: <message body>. Message is interactive. Press shift tab key 2 to 3 times to switch to the chat history. Then click on the message to interact." Are you seeing some messages with buttons arrived without this narratives? If yes, could you record a short video

[2022-03-10 18:58] compulim commented on #4201
@sknaappilaswd

When the user focus inside the message (e.g. "Button 1" in your first set of buttons), we intentionally trap the focus inside the message until the user press <kbd>ESC</kbd> key.

Web Chat is a complex widget (a.k.a. widget could contains more widgets), and we are implement the navigation pattern based on [layout grid navigation pattern](https://www.w3.org/TR/wai-aria-practices-1.2

[2022-03-10 18:59] compulim commented on #4140
@karthsMicrosoft we have improved the accessibility on our chat history in our recent 4.15 release, could you bump and see if the problem is resolved?

[2022-03-10 20:31] compulim commented on #4138
@KattaBhargav could you grant my alias to the UAT site of AskHR so I can repro it?

[2022-03-10 20:40] compulim commented on #4189
I believe the "trusted origin" feature is for protecting sign-in link in OAuth card. It is not a feature to protect if the messages are being send/receive from another domain.

Excerpt from the doc:

@ramfattah could you ping service team on this and verify my claim?

[2022-03-10 21:09] compulim commented on #4144
@HesselWellema this is expected behavior. We should add more docs in this area.

Activity middleware is designed to customize everything on that particular row, edge-to-edge. This including ability to customize avatar, attachments, send status and timestamp.

For customization, there are 3 distinct feature a middleware could do: decorating (a.k.a. add stuff), replacing, and removing.

In @stevkan

[2022-03-10 23:27] stevkan commented on #4127
@KamilaWhocares, thank you for your patience. Unfortunately, I simply am unable to repro the issue. I checked a couple more areas I thought _might_ be the cause and would result in what you are experiencing, but nothing has panned out. Out of curiosity, does this occur when you use other browsers or test on another device?

@compulim, do you have any thoughts you could add here that might assist?

[2022-03-11 15:16] HesselWellema commented on #4144
Tnx @compulim. The 'design' I am using in 4.9.0 that I am struggling to use in more recent version:

### Botcode (Nodejs)
The bot sends an event to ask the webchat client to render an element. In my case a typing indicator just before sending a text-reply. But it could also be a new inputform (calendar. slidebar etcetera).

`await context.sendActivity({ name: 'typingIndicator', type: 'event' });`

[2022-03-11 20:15] ramfattah commented on #4189
Thank you @compulim, I'm on it. will report back soon.

[2022-03-14 10:37] sknaappilaswd commented on #4201
@compulim

Hi! There might be a misunderstanding. I see that you refer to multiple messages, but I am talking about one message (bot's answer to the user) that contains multiple sets of buttons. I am not able to get to the second set of buttons because the focus stays in the first set of buttons. If I press ESC the focus leaves the message and I may navigate to other messages, but I do not want to

[2022-03-14 18:08] gabog commented on #4138
hey @KattaBhargav, were you able to grant access to William to the site?

[2022-03-15 00:13] stevkan commented on #4200
I consulted with our primary Web Chat developer and he stated that Web Chat 4.15 should have the below packages. The previously included versions had a bug in them when used with certain versions of Node/npm. However, the upgraded packages correct this.

- p-defer-es5@2.0.1
- markdown-it-attrs-es5@2.0.2
- abort-controller-es5@2.0.1

Looking in the last entry in your Jenkins log, it appears you are

[2022-03-15 11:51] compulim opened #4204 "Add `activity.channelData['webchat:sequence-id']` for sort key"
## Feature Request

Support Azure Communication Services and Omnichannel by using a new sort key from `activity.channelData['webchat:sequence-id']` and fallback to epoch time of `activity.timestamp`.

[feature-request]

[2022-03-15 18:42] stevkan commented on #4127
@KamilaWhocares, is there any chance you are running behind a firewall or proxy? If so, there is a possibility that they may be blocking or stripping part of the post to Cognitive Services. Additionally, if so, can you try testing on a system that is not blocked (at your home, for example)?

[2022-03-16 12:27] mrtsrdm commented on #4189
hi @compulim and @ramfattah
ı dont use sign-in operation because ı also offer chatbot publicly in my website .
I think messages should also be protected that messages are not sent from another domain. Otherwise, anyone can take token by using chatbot in my website,  and then, they can use the token to embed my chatbot on other websites as if it were their own.

[2022-03-17 10:57] HesselWellema commented on #4144
I did some more digging. The problem I am experiencing (not showing Avatar) has to do with the timing of the sending of the event from the bot. I will need to work on that to solve this. I will close this issue

[2022-03-17 17:42] stevkan commented on #4144
@HesselWellema, that is great that you found a workable solution. I have come across instances in the past, when working with incoming activities coming into the store, that adding a timeout of 50-200 ms fixed the issue I was facing. I didn't think about that in this case (i.e. timing, whether that be from a timeout of adjusting the order of operations).

I see you closed and re-opened the issue.

[2022-03-17 17:44] HesselWellema commented on #4144
Nope. Wanted you give you the honour to close it.

[2022-03-17 17:50] stevkan commented on #4144
If you are able and willing, would you mind posting the actual solution for anyone else that comes along and is facing a similar challenge? If no, let me know and I'll close the issue straight-away. :)

[2022-03-17 17:52] #4127 closed

[2022-03-17 18:04] gabog commented on #4138
Closing this one due to inactivity

[2022-03-17 18:04] #4138 closed

[2022-03-17 19:06] #4088 closed

[2022-03-17 19:14] compulim commented on #4102
@ramfattah What version of Node.js are you using to build?

To build, we requires Node 14 or 16 (current LTS), which supports ES Modules.

[2022-03-17 23:33] ramfattah commented on #4102
hey @compulim

I'm using Node v16.0.0 and npm v8.5.5, Windows 10 OS.

I tried to build the project by following[ this documentation ](https://github.com/microsoft/BotFramework-WebChat/blob/main/docs/BUILD_SCRIPTS.md#:~:text=Bootstrap%20scripts,npm%20run%20bootstrap), after entering `npm run bootstrap`, the following error is thrown:
![image](https://user-images.githubusercontent.com/38049078/15891

[2022-03-18 08:28] pablo-abella opened #4205 "Problem initializing WebChat in React 17.0.2"
Hi, I've just installed a new instance of WebChat in my new React app and I having some issues while initializing the ReactWebChat component.

## Screenshots

![Captura de pantalla 18 03 2022 a 08 54 16 a  m](https://user-images.githubusercontent.com/84461239/158959472-4946e889-dfce-493a-8338-921e962a2748.png)

## Version

Here is my package.json file:

[code]

## Describe the bug

My code in the

[2022-03-18 13:16] HesselWellema commented on #4144
The problem was caused by the order in which I sent activities from the bot to webchat.
I was used to send:

1. typing-indicator event
2. message event
3. typing-indicator event
4. message event

The activity middleware would see the typing indicator event and replace the default render ('void') with a new rendering (my typing indicator).
My assumption is that the next event (the message) will be

[2022-03-18 13:16] #4144 closed

[2022-03-19 23:22] corinagum commented on #2529
@oswaldozapata my recommendation is to use the full bundle. Which packages are you focused on not using?

[2022-03-21 17:44] stevkan commented on #4200
Closing due to inactivity. Please feel free to reopen if the issue persists or you have new details to share.

[2022-03-21 17:44] #4200 closed

[2022-03-21 18:07] #4140 closed

[2022-03-21 18:14] stevkan commented on #4205
@pablo-abella, I have been able to confirm this behavior using React v17.0.2 and React Router v6.2.2. However, in my case, it is not a blocking issue. Web Chat continues to perform as expected.

When you receive this error, is it causing Web Chat to break for you?

[2022-03-22 06:38] ramfattah commented on #4189
Hey @mrtsrdm,

looks like this feature is only for authentication at the moment.
There is a "preview" feature that will do origin validations for other requests as well, but it is not available to everyone.

If you are interested in trying this "preview" feature,  please let me know, my contact info can be found in my GH profile.

[2022-03-22 09:22] pablo-abella commented on #4205
@stevkan thanks for your reply. The answer is yes, Web Chat breaks and doesn't render anything. I've been able to make it work by downgrading the react and react-dom version to 16.8.6, but I couldn't make it work with react 17.

[2022-03-22 15:28] Oli5an opened #4208 "Black frames (solid and thin dashed) appears when click on free space inside webchat"
## "Style Bug": Web Chat with Undesirable Styles = Black Frames
![Bug - see the two blue arrows](https://user-images.githubusercontent.com/102161651/159513581-704da578-4684-471f-afab-ff683662a5f6.PNG)

## Version of webchat.js
4.15.1
(Using CDN)

## Description of the "style bug"

The MS bot framework is embedded into a frontend app where the web chat contains adaptive cards. There you click on fr

[2022-03-23 10:35] Oli5an commented on #4208
Small correction.

[2022-03-23 19:28] compulim commented on #4205
@pablo-abella we set up a sample repository with React 17.0.2 and it contains Web Chat 4.15.1, https://github.com/compulim/experiment-webchat-react17. The project is a scaffold of `create-react-app@5.0.0`.

You can try out the web app on https://compulim.github.io/experiment-webchat-react17/.

Although we are seeing the same warning, Web Chat render and continue to function properly.

Do you see a

[2022-03-23 19:38] compulim opened #4209 "`useActiveTyping` start typing time `at` is not correct"
## Screenshots

## Version

`4.15.1`

## Describe the bug

The `useActiveTyping` returns a structure of:

[code]

The `at` field represents the start typing time. However, it is updated whenever typing activity is received. Thus, it is not "start typing" time, but "last typing" time.

## Steps to reproduce

1. Use the `useActiveTyping` hook to observe the changes of typing
2. Send 2 or more `typin

[2022-03-24 11:03] compulim commented on #4208
This is by design and is required to meet accessibility requirement as specified by WAI-ARIA guideline.

The chat history could contain focusable element, such as Adaptive Cards or other interactive messages. Under WAI-ARIA guideline, the chat history needs to be focusable (darker borders) and allow end-user to put the focus on a specific message (dashed borders).

[2022-03-24 11:03] #4208 closed

[2022-03-24 11:04] compulim commented on #4022
This is fixed.

[2022-03-24 11:04] #4022 closed

[2022-03-24 23:46] compulim opened #4211 "[Accessibility] Screen reader does not announce Send failed message information"
## Version

`4.15.1` (or `main`)

## Describe the bug

If screen reader users navigate on Live Chat Box screen and message get failed and message appear send failed and screen reader does not announce this message, then it would be difficult for users to know sent message get failed and need to try again to send the message.

## Steps to reproduce

1. Open Bot Framework Emulator installed on the s

[2022-03-28 02:54] KamauAlex commented on #1629
@ljubomirsinadinovski  Did you get a solution above ?

[2022-03-28 07:15] ljubomirsinadinovski commented on #1629
I can't recall to be honest. This is ancient for me. Try googling and researching, i was beginner back then so i probably didn't post it because of lack of work ethics. I bet there is a solution... always, hust keep pushing.

[2022-03-28 08:00] nroth-zur opened #4220 "Passing additional API-Key to window.WebChat.renderWebChat"
We have a working Bot that uses the DirectLine AppService Extensions v3. So the following **pseudo-code** works perfectly fine:

    const secret = <Directline Secret>;
    const userId = "dl_test";

    const { token } = fetch("https://<our-domain>.azurewebsites.net/.bot/v3/directline/tokens/generate",
            { headers: {
                        authorization: "Bearer ${secret}"

[2022-03-28 10:18] anjalinitd commented on #4102
Facing same issue, do we hace any mitigation?

[2022-03-28 14:43] dshamak-dev opened #4221 "Input type and control component"
Is there a way to change or pass custom component instead default  input, or at least set custom props to it?

![image](https://user-images.githubusercontent.com/63905053/160423461-0b4d172f-6019-4711-93b8-e727520b5de2.png)

[2022-03-28 17:51] compulim opened #4222 "Fully type out `AdaptiveCardsPackage.ts`"
## Feature Request

Currently, in `packages/bundle/src/types/AdaptiveCardsPackage.ts`, we are only re-exporting types that Web Chat is interested.

We should fully export the whole typing for Adaptive Cards package, include `Versions` which is used by PVA.

[code]

[feature-request]

[2022-03-28 18:39] compulim commented on #4102
I am looking into this.

I guess it could be related to platform issue, where we use WSL2 (Linux) and didn't try it out on Windows.

[2022-03-28 23:38] ramfattah commented on #4189
Closing due to inactivity.

[2022-03-28 23:38] #4189 closed

[2022-03-29 17:45] #4102 closed

[2022-03-29 18:04] compulim commented on #4221
Currently, there is no easy way to customize the send box. #2211 is the feature request for this work.

However, you can disable the send box and rebuild it using composition mode. There is a sample about how to start with composition mode, https://github.com/microsoft/BotFramework-WebChat/blob/main/samples/04.api/m.enable-composition-mode/README.md.

[2022-03-29 18:09] compulim commented on #4220
You will need to fork out the [DirectLineJS repo](https://github.com/microsoft/BotFramework-DirectLineJS) which includes the DL ASE chat adapter. Then, modify it to add a new HTTP header, and pass the new chat adapter back to Web Chat via the `directLine` prop.

[2022-03-30 10:12] mrtsrdm commented on #4189
thank you @ramfattah , ı have just sent an email.

[2022-03-30 12:56] nandkishor76 opened #4226 "Bot Framework/Webchat UI supports for adaptive card 1.5"
Bot Framework/Webchat UI supports adaptive cards version 1.3, however latest version available for adaptive cards is 1.5.

Can you please suggest timeline when 1.4 or 1.5 will be supported for Bots?

[2022-03-30 15:49] GuiEbo opened #4227 "Running build doesnt take the changes"
Hello everyone

![tempsnip](https://user-images.githubusercontent.com/102682344/160876227-e350949f-1de8-4913-8b8e-d3d8357acf87.png)

## Version

`'<meta name="botframework-directlinespeech:version" content="0.0.0-0">\n<meta name="botframework-webchat:bundle:variant" content="full">\n<meta name="botframework-webchat:bundle:version" content="0.0.0-0">\n<meta name="botframework-webchat:core:version"

[2022-03-30 17:01] stevkan commented on #4205
Closing due to inactivity. Please feel free to reopen if the issue persists or you have new details to share.

[2022-03-30 17:01] #4205 closed

[2022-03-30 17:26] ramfattah commented on #4227
Hello @GuiEbo, thanks for raising this issue. I'm investigating this.

[2022-03-31 03:26] ramfattah commented on #4227
Hello @GuiEbo, I'm investigating this.

[2022-03-31 11:51] tewari-d opened #4228 "Can I distinguish requests coming from different Sites?"
I am have enabled the webchat channel for my teams bot. There I have the option to create multiple sites for usage across different scenarios.

For example, I have created a site to embed my bot in one of the PowerBI dashboards (let's call it A) and another one created for another PowerBI dashboard (B). Now my requirement is to distinguish A and B inside my bot code so that I can display site spec

[2022-03-31 12:49] hansmbakker commented on #4228
It's a long time ago that I used this framework, I'm sorry but I cannot help here

[2022-03-31 14:05] nroth-zur commented on #4220
Ah, thanks! We will take a look and direct any additional questions to the DirectLine Repo.

[2022-03-31 14:05] #4220 closed

[2022-03-31 14:51] tewari-d commented on #4228
@hansmbakker , thanks for your comment. If by any chance you know anyone who could help us, please tag them here. I am a bit new to the community and don't know the people or teams associated. Thanks in advance!

[2022-03-31 16:08] rbertazzo opened #4229 "Chatbot Textbox missing with /latest/webchat.js (working with 4.14.1/webchat.js)"
## Screenshots

With latest
![image](https://user-images.githubusercontent.com/74980416/161097411-7f3a66f1-6bed-47b8-8c1f-d4f95603c8ad.png)

With 4.14.1
![image](https://user-images.githubusercontent.com/74980416/161097653-a8aa990a-86dd-47b4-bda4-944130b9c549.png)

## Version
The issue is with latest. We have downgraded to 4.14.1 and is working as expected
"<meta name=\"botframework-directlinespee

[2022-03-31 18:36] ramfattah commented on #4227
If the above does not meet your needs, could you provide the code showing the changes you made? This will help me better assist you.

[2022-03-31 20:38] stevkan commented on #4229
@rbertazzo, unfortunately, I am unable to repro the issue using 4.15.1. Do you have webchat embedded somewhere or do you have custom images or components loaded? The image you posted doesn't look typical.

If there are additional changes you have applied, could you share those changes. Or, could you attach your Web Chat code as a file that I may repro with?

[2022-03-31 21:08] #4228 closed

[2022-04-01 13:08] rbertazzo commented on #4229
Hi @stevkan
first of all I missed in my description an error in console which appears only with the not working version:  Ruleset ignored due to bad selector. botchat.css:538:28

The chatbot is embedded in a cshtml page with backend calls, shared layout...
Source code was developed by another person so unfortunately I don't know all the reasons about the stuff
This the head and  body part of cshtm

[2022-04-01 17:48] stevkan commented on #4229
@rbertazzo, I'm still unable to repro your issue. I have tried recreating your project based on the bits you provided above, but I'm not 100% it is exactly like yours. If you are able to provide the whole project (as it relates to embedding web chat) in an attached .zip file, that would be great.

One thing I would like to address and _may_ be the cause is your list of CDN script files and meta ta

[2022-04-04 08:42] tewari-d commented on #4228
Thanks @stevkan, It did help us and we were able to solve our issue. Thanks a ton for the prompt response  🙇‍♂️ 😃 .

[2022-04-05 07:40] GuiEbo commented on #4227
About this issue, i was thinking that it was the buffer. So last week, i put on the build command "--max-buffer=999999" , it worked last week but noow, impossible to see my changes in the dist file ... Its the same for a friend ... Do you have any idea ? I've tried with the node_env test and prod, its the samem thing ...

[2022-04-05 08:01] cihadturhan commented on #1776
Hi, this seems to be broken when I pull the script from
`https://cdn.botframework.com/botframework-webchat/latest/webchat.js`

Can you reopen the issue?

[2022-04-05 22:31] ramfattah commented on #4227
@GuiEbo

Not sure about command `--max-buffer=999999`. Could you please follow the [Build docs](https://github.com/microsoft/BotFramework-WebChat/blob/main/docs/BUILD_SCRIPTS.md) to learn about the Web Chat build scripts design.

#

The inclusion of SCSS isn't specifically related to the current issue as it is a 'how to' question.

The Microsoft Bot Framework team prefers that **how to** questions

[2022-04-05 23:31] ramfattah commented on #4227
@GuiEbo

Not sure about command `--max-buffer=999999`. Could you please follow the [Build docs](https://github.com/microsoft/BotFramework-WebChat/blob/main/docs/BUILD_SCRIPTS.md) to learn more about the Web Chat build scripts design.

#

The inclusion of SCSS isn't specifically related to the current issue as it is a 'how to' question.

The Microsoft Bot Framework team prefers that **how to** ques

[2022-04-06 08:08] GuiEbo commented on #4227
@ramfattah I've followed every documentation of your webchat but nothing helps me ... The thing is, i can build without error but my changes are not applied in the dist file (webchat.js) ... The lib folder from each folders are good, it copy the src folder with my changes. On the directory explorer, i can see that the webchat.js has changed with the build but without my changes ...
Thanks to help

[2022-04-06 10:59] YairGlikman opened #4231 ""New Message" popout appears without scrolling up first instead of showing bot response"
Hello
In several cases when interacting with a bot, the screen doesn't move with text and the "new message" popup appears.
This is without scrolling up or focusing one of the text messages.

## Screenshots

![image](https://user-images.githubusercontent.com/103114307/161959647-b9c3b8c6-f679-41c6-9e58-ed1f2d3b46f2.png)

## Version
4.15.1 - no CDN

[2022-04-06 16:13] ramfattah commented on #4227
Hi @GuiEbo, are you able to share the code changes you made? This will help me better assist you.

[2022-04-06 16:44] ramfattah commented on #4231
Hi @YairGlikman, I'm investigating this issue.

[2022-04-06 17:14] compulim opened #4232 "Add "blob:" to list of allowed protocol for file attachment UI"
## Feature Request

In #4143, we decided not to add `blob:` because DirectLineJS is coded in a way it will never send a `blob:` protocol.

However, some other chat adapters may use this UI with a `blob:` protocol.

We should add `blob:` to list of allowed protocol.

[feature-request]

[2022-04-06 18:29] munozemilio commented on #4226
Reply from WebChat owner:
Web Chat 4.15.1 included Adaptive Cards SDK 2.10, which is an engine capable of handling AC schema 1.5.
However, AC SDK 2.10 decided to turn 1.5 off, unless the dev explicitly turn it on. So, AC SDK 2.10 default to 1.4.
Web Chat do have an option to turn it on explicitly, called styleOptions.adaptiveCardsParserMaxVersion.
When the next release of Web Chat (say, 4.16.x) re

[2022-04-06 18:29] #4226 closed

[2022-04-06 19:22] compulim opened #4234 "FAQ: Adaptive Card schema version supports in Web Chat"
Web Chat bundles with the latest version of [Adaptive Cards JavaScript SDK](https://npmjs.com/package/adaptivecards) (below, Adaptive Cards SDK). Different version of Adaptive Cards SDK has a different range of schema versions they support.

This FAQ will answer questions around versioning of Web Chat, Adaptive Cards SDK, and Adaptive Cards schema.

However, as Web Chat and Adaptive Cards are diff

[2022-04-06 19:44] compulim commented on #4226
Thanks @munozemilio, I have created a FAQ here, https://github.com/microsoft/BotFramework-WebChat/issues/4234.

[2022-04-06 20:08] #4232 closed

[2022-04-06 21:41] ramfattah commented on #4231
@YairGlikman

* Have you applied your own customization to the webchat?
* Does this behavior occur from the [webchat samples](https://github.com/microsoft/BotFramework-WebChat/tree/main/samples)?

[2022-04-07 07:50] YairGlikman commented on #4231
We did some customization, we are sending a parameter in the beginning of the chat, and we are storing the session.
we'll try to reproduce it on the sample and revert back.

Thanks!

From: Ram Fattah ***@***.***>
Sent: Thursday, April 7, 2022 12:41 AM
To: microsoft/BotFramework-WebChat ***@***.***>
Cc: Glikman Yair ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/BotFramework-WebChat] "N

[2022-04-07 08:19] GuiEbo commented on #4227
![image](https://user-images.githubusercontent.com/102682344/162153380-a2713132-59e8-485f-87fc-6412371cbc80.png)
I saw that the dist take the styles from the node_modules instead of the component folder (on the left in the image)

So if i change something in the component/src/StyleSet, it will not be reflected in the dist ...
Do you have any idea ?

[2022-04-07 08:44] rbertazzo commented on #4229
Thanks @stevkan
no changes so far. As I've said not my code and I'm not a frontend developer but I don't see any other styleOptions. Here the project with some modifications to remove keys and auth.
[WebAppBot.zip](https://github.com/microsoft/BotFramework-WebChat/files/8441133/WebAppBot.zip)

[2022-04-07 13:46] IamGiel commented on #476
New to msbot framework, but is that possible on the emulator ?  How are you doing this? Is this written in the waterfall steps ?  Can you share ? thanks

[2022-04-07 23:03] #4204 closed

[2022-04-08 16:14] rudoleksa opened #4260 "Direct line POST Invoke sign in Activity returns 400 Status Code error with message "Invalid or missing activities in HTTP body""
## Version
Direct Line REST API v3.0

## Describe the bug
To implement WebChat SSO, as described in the documentation, you need to send an activity to the bot with TokenExchangeInvokeRequest in the body of the request.
Flow 4th step - [https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-sso?view=azure-bot-service-4.0#sso-components-interaction](https://docs.microsoft.com/en-us/a

[2022-04-11 13:45] sahilquo commented on #3724
Can you please share the sample code which fixes this issue?

[2022-04-11 13:45] sahilquo commented on #3724
Can you please share the sample code which fixes this issue?

[2022-04-11 13:48] tdurnford commented on #4221
Closing in favor of https://github.com/microsoft/BotFramework-WebChat/issues/2211

[2022-04-11 13:48] #4221 closed

[2022-04-11 13:49] tdurnford commented on #4201
@compulim Any updates on this issue?

[2022-04-12 17:13] #4099 closed

[2022-04-13 06:57] compulim commented on #3955
![image](https://user-images.githubusercontent.com/1622400/163117647-59f45642-1533-43d2-a0db-b80185cc1486.png)

Finally, we just start releasing development build with the dist-tag of `main` again.

You can now run `npm install botframework-webchat@main` to install the latest dev build based from `main` branch.

Please note that this build may not be as stable as production version as there are so

[2022-04-13 06:57] #3955 closed

[2022-04-13 06:59] compulim commented on #3948
![image](https://user-images.githubusercontent.com/1622400/163117647-59f45642-1533-43d2-a0db-b80185cc1486.png)

Finally, we just start releasing development build with the dist-tag of `main` again.

[2022-04-13 06:59] #3948 closed

[2022-04-13 09:48] iMicknl commented on #3955
Thanks @compulim, much appreciated :)

[2022-04-13 17:55] ramfattah commented on #4231
Hey @YairGlikman, reaching out if you have any updates? thanks.

[2022-04-13 18:47] compulim commented on #3955
Thanks for your patience and appreciation. 🥲

[2022-04-13 20:24] burtabulous opened #4261 "Card Carousel Right '>' Button Doesn't Always Disappear At End Of Carousel"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

## Version

I am using version 4.13.0 via cdn: <script src="https://cdn.botframework.com/botframework-webchat/4.13.0/webchat.js"></script>

## Describe the bug

Depending on the screen size (i.e. zoomed in/out on a brow

[2022-04-13 23:18] ramfattah commented on #4227
Hey @GuiEbo

I was able to reflect the code changes I made in the WebChat source code into my project by using [npm link](https://docs.npmjs.com/cli/v6/commands/npm-link).

After cloning the [WebChat repo](https://github.com/microsoft/BotFramework-WebChat), here are the steps I took:
1) In your local machine, open a terminal and navigate to [component package](https://github.com/microsoft/BotFrame

[2022-04-15 16:55] ramfattah commented on #4227
Closing this issue as it is not a bug within webchat.

[2022-04-15 16:55] #4227 closed

[2022-04-15 18:35] stevkan commented on #4261
@burtabulous, thank you for pointing this out. I was able to repro the issue(s) where the carousel button either doesn't disappear or does disappear but then the carousel bounces back. I also tested with the latest version (v4.15) with the same results.

I'm investigating this and will let you know what I find.

[2022-04-15 21:19] burtabulous commented on #4261
Thanks for investigating @stevkan !

[2022-04-19 17:59] stevkan commented on #4229
@rbertazzo, unfortunately, I am unable to run the project your uploaded as I am hitting a CORS issue. However, looking at the code in site.js, on line 90, I see:

Just verifying that `window.WebChat.createDirectLine()` is _not_ working with botchat.js removed, correct? If so, can you verify that the WebChat library exists in the `window` object at that point? Is it possible that the `window` objec

[2022-04-20 08:17] rbertazzo commented on #4229
@stevkan For the CORS issue can you please change your local configuration to use the port in the attachment? Or you can give me yours.
I've tried your suggestion putting js script code inside index.cshtml: I still have the issue but now window.WebChat.createDirectLine doesn't give me errors and I think you're correct: it was not loaded properly

I see undefined for window.Webchat but as I said I

[2022-04-20 18:09] msomanathan commented on #4231
@YairGlikman Closing this due to inactivity. Please reopen if you need assistance. Thanks!

[2022-04-20 18:09] #4231 closed

[2022-04-21 01:47] jason-walgreens opened #4263 "Webchat Widget Accessibility issue"
When hidden or new content is revealed or available on the same screen because of any user interaction then focus need to move to the new content either immediately or with one additional keystroke, so that a screen reader user can relate and access the new content without any interruption. In current implementation when a user types something and because of this input a new set of options are ava

[2022-04-21 01:51] jason-walgreens commented on #4263
[proposed labels] Bot-framework, Webchat Widget, A11Y , ADA Accessibility

[2022-04-22 10:35] pablo-abella commented on #4205
@compulim sorry for my delay but I have been stuck in other project and haven't been able to return to this until this week.

I finally set up my repo with React 17.0.2 and WebChat 4.15.1 successfully, using your example as template. Thanks for all the help.

Best!

[2022-04-22 18:16] tracyboehrer commented on #4263
@jason-walgreens Thanks for the input.  I'll add this as a feature request for future consideration.

[2022-04-25 17:56] msomanathan commented on #4201
@compulim Could you please provide updates on this issue? Thanks!

[2022-04-26 18:59] compulim commented on #4263
If the message is interactive (card or contains buttons), the screen reader will narrate one of the followings and it should guide the end-user how to navigate to the message content.

- "Message is interactive. Press shift tab key 2 to 3 times to switch to the chat history. Then click on the message to interact."
- "One or more links in the message. Press shift tab key 2 to 3 times to switch to t

[2022-04-27 07:00] compulim opened #4264 "Focus trap in activity should stop trapping when activity no longer has tabbable elements"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/165458651-58eb77de-6ec0-456f-a886-83625b41df97.png)

This screenshot shows `document.activeElement` pointing to a sentinel (a `<FocusRedirector>` created by the `<FocusTrap>`).

## Version

`4.15.1`

## Describe the bug

After the message content no longer contains any tabbable elements (say, card is disabled after submissi

[2022-04-27 18:05] #4264 closed

[2022-04-27 22:18] stevkan commented on #4260
@rudoleksa, apologies for the delay and thank you for your patience. Are you still experiencing an issue with this? I attempted a repro with the solution you linked, however I am unable to get it to run. I added values into the two appsettings.json files. To be clear, for the ASP.NET.WebChat.SSO.Web project, I'm assuming that the AzureAD.ClientId and ClientSecret are coming from the OAuth app regi

[2022-04-27 23:25] stevkan commented on #4229
@rbertazzo, I was able to get your project up and running and, yes, I believe this is a CSS issue unrelated to WebChat.

In the following three images you can see that the Web Chat's border has been disabled and the padding is enabled. However, as you demonstrated in a previous image, the sendbox is still present. In the second image, I enabled the border which reveals the wide application of padd

[2022-04-27 23:25] #4229 closed

[2022-04-29 06:35] stevkan commented on #4261
@burtabulous, thank you for your patience. I am still looking into this and will provide an update when I know more.

[2022-04-29 11:01] rbertazzo commented on #4229
Sorry @stevkan
I miss something here. You're showing me screenshots about the working webchat with 4.14 and overlapping of the activation button (I understand but not my issue here).
My problem is if I use latest: send box is not present in that case. This is how webchat looks like with latest and the border activated (no send box at all):
![image](https://user-images.githubusercontent.com/7498041

[2022-05-02 09:59] rbertazzo commented on #4229
Hi @stevkan  I've finally found the problem and resolved the issue.

With this configuration in index.cshtml (line 22 that I think was commented out in your code when you tried)
<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>

I have to change one single line in site.jss
line 263: var targetNodes = document.querySelectorAll("#webchat ul");
changes to
var

[2022-05-04 16:02] #4260 closed

[2022-05-05 01:24] fercom opened #4272 "Postback buttons show the text on the chat after I click them"
Webchat version: 4.15.1 using CDN
Stylesheet version: latest/botchat.css from CDN

Description: I am using HeroCards with postback buttons but they show the text in the value after I click them, It also happens with SuggestedActions. Since in some cases I am using special codes I need to hide them from the user

Code of the cards:
[code]
![prueba error suggested actions 1](https://user-images.gith

[2022-05-05 08:48] AkhilSainath opened #4273 "Failed to send activity: bot returned an error"
![image](https://user-images.githubusercontent.com/83917090/166890492-f977325d-1fd7-43e7-98ae-594fc50b87d8.png)

please do help me out

[2022-05-05 11:38] ryub3n opened #4274 "Magic Code required on iPad and iPhone (Safari)"
## Version

Hosted on **SharePoint** as an extension

## Describe the bug

Bot asks for magic code even though directline enhanced authentication is enabled and origins have been added.
This issue is predominantly on **Safari** especially on **iPad and iPhone**.
It works fine on Edge/Chrome.

## Steps to reproduce

1. Deploy the **Enterprise Assistant** bot using Bot Framework Composer and enable

[2022-05-05 16:47] ramfattah commented on #4274
Investigating.

[2022-05-05 17:43] lauren-mills commented on #4273
HI @AkhilSainath, can you provide any more details around how you are setting up your web chat client code? Also, does your bot work in the Bot Framework Emulator and the Test in Web Chat tab in your Azure settings?

This information will help us better assist you.

[2022-05-05 17:55] AkhilSainath commented on #4273
Yes, it works in an emulator, I implemented OAuthPrompt to signin. It
worked and i deployed it as well.

But my team wants that prompt to be not appearing, so I tried yours, cross
cheked multiple times. It didn't work.

I followed the same steps in your code and in fact I used your same code
repo... but it didn't work.

Can I please get some of your time to help me out in this (whenever you
can).

[2022-05-05 19:38] lauren-mills commented on #4273
Are these the sample and instructions you followed? https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/07.advanced-web-chat-apps/e.sso-on-behalf-of-authentication

It's unclear which code you are referencing in your messages.

[2022-05-05 19:53] AkhilSainath commented on #4273
Yes, i followed these

https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/07.advanced-web-chat-apps/e.sso-on-behalf-of-authentication

Thanks & Regards,

Akhil

On Fri, 6 May 2022 at 1:08 AM, lauren-mills ***@***.***>
wrote:

[2022-05-06 06:36] AkhilSainath commented on #4273
Hi Lauren,

Greetings.

Myself and my team is trying to integrate a bot which we developed to the
website, we followed the same
https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/07.advanced-web-chat-apps/e.sso-on-behalf-of-authentication,
we couldn't do it.

even we tried to clone you own repo mentioned in this
https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/0

[2022-05-06 17:49] stevkan commented on #4273
@AkhilSainath, are you able to share your web chat code (not including any secrets/keys) in a zip file and post it here? This way, we can diagnose more closely what is happening?

[2022-05-06 17:52] stevkan commented on #4272
@fercom, I will attempt a repro of this and will get back to you on that. In the mean time, is your web chat code doing anything special with cards or postBack values as they come into the client?

[2022-05-06 18:18] fercom commented on #4272
@stevkan Thanks. Yes, I am sending different codes like in the last image, or JSON strings for the chatbot to take some user values and respond with different answers. I have also noted that it also happens with SuggestedActions, I remember that in past versions of webchat they used to disappear after the user clicks on them but now they appear twice in the chat.

[2022-05-06 18:21] fercom commented on #4272
@stevkan  This is the code of the webchat

[code]

[2022-05-06 18:45] stevkan commented on #4272
Thank you for sharing the code. I'll take a look at all of it and see if I am able to repro the issue.

I did just notice this in your original post up above:

`botchat.css` is not used with v4 Web Chat. With v3 (i.e. 'botchat'), the CSS was handled separately, but in v4 it is baked into the code. You can, of course, still have a stylesheet to customize the look and feel, as you see fit. But, usin

[2022-05-06 18:56] compulim commented on #4274
IIRC, "magic code"-less flow requires third party cookie enabled. Could someone check if:

1. Safari default turned off third party cookies;
2. ABS still requires third party cookies to operate the "magic code"-less flow.

[2022-05-06 19:03] fercom commented on #4272
@stevkan Oh, thanks, I removed the css file but nothing changed, the bug it is still happening

[2022-05-06 19:40] #4198 closed

[2022-05-06 20:11] compulim opened #4275 "4.15.2 Release checklist"
# Checklist

## Build

1. [x] ~Bump MockBot to Bot Framework SDK release 4.15.2~ (not needed for patch release)
   - https://www.npmjs.com/package/botbuilder/v/latest
1. [x] ~Bump `botframework-directlinejs` to `x.y.z`~ (no newer version)
1. [x] Bump to `4.15.2`
   - [x] Update `CHANGELOG.md` to mark specific changes in `4.15.2`
   - [x] Run `npm version --no-git-tag-version 4.15.2`
   - [x] Merge

[2022-05-09 11:25] nibedita10 opened #4277 "Chabot Accessibility Issue- Screen reader is reading the activity every time from the beginning on every user action"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Version
botchat-es5.js latest
MSAL :authentication
BotChat.App({
						botConnection: getBotConnectionDetail(connection),
						user: user,
						bot: bot,
						resize: 'detect'
					},

Also hosted in Ms teams

## Describe the bug

[2022-05-09 18:18] ramfattah commented on #4277
investigating

[2022-05-10 17:43] ramfattah commented on #3740
Hi @compulim

I attempted to verify screen reader behavior for Adaptive Card using Windows built-in  `Narrator` text-to-speech software.

## Expectation behavior:

1) Verified
2) After pressing the `tab` key, it goes straight to step 3 and reads the content "aloha" in AC
3) Verified

## Video demo

https://user-images.githubusercontent.com/38049078/167686822-4f32f465-f707-429e-a58a-ff59d16e499d.mp

[2022-05-10 20:30] ramfattah commented on #4277
@nibedita10

Were you able to reproduce this screen reader behavior issue from any of the [Bot Framework Samples](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples)?

[2022-05-11 04:16] nibedita10 commented on #4277
Please use JAWS tool as well and  use Webchannel rather than emulator ..If need we can connect  I can show you the behavior. For some reason If i capture in the video the sound is not coming.

[2022-05-11 11:54] mohmed-elkhodry opened #4290 "make changes in dom element"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

![Screenshot (42)](https://user-images.githubusercontent.com/43173916/167844756-e6f6f0ef-040d-47ba-b9ba-45c657f57b9d.png)
after send any message it return as select
![Screenshot (43)](https://user-images.githubuserconte

[2022-05-12 15:17] SunilMiracle commented on #4263
Hi @tracyboehrer . Is there a release plan for this fix?
If Yes, could you please share the details here or a link, so that we can keep track of this fix release.

Thanks

[2022-05-12 16:46] fercom commented on #4272
@stevkan any update on this?

[2022-05-13 17:56] stevkan commented on #4290
@mohmed-elkhodry, can you share the code you are using to make the DOM changes? Generally, my experience has been that a refresh of the page will reset any changes to DOM elements that were updated in the Web Chat component. As long as a refresh of the page isn't occurring, this should be doable.

[2022-05-15 17:33] #4290 closed

[2022-05-15 17:33] mohmed-elkhodry commented on #4290
Thanks for your help
I've caught the error

[2022-05-18 09:59] mhmuftee opened #4291 "Property 'conversation' does not exist on type 'WebChatActivity'"
Hello,

In 4.15.2 release changelog.

A new type WebChatActivity is introduced in the botframework-webchat-core package

- If you are previously using the type DirectLineActivity, you may need to move to this new type

- All Web Chat APIs will use the newer type WebChatActivity
- The new type WebChatActivity is a well-defined type for handling activities inside Web Chat
- The existing type DirectL

[2022-05-18 10:25] akshay4malik opened #4292 "response for thumbs up in javascript"
Hi ,
I am facing an issue while displaying thumbs up and thumsdown after every response for my chatbot and it should display a differenr different message for both one for Thumbs up and one for thumbs down. I have used a js code which is able to display the icon and changing its color on hover but i am unable to achieve the response.

This is the code i have used-
[code]

Please help

[2022-05-18 19:26] Jeffders commented on #4274
Third party cookies are still required for this capability to work, so the next step would be to verify if the browser has these enabled.

[2022-05-18 23:44] stevkan commented on #4291
@mhmuftee, do you have a project or code you can share that reproduces this? If yes, please remove any keys/secrets prior to posting here.

[2022-05-19 00:03] stevkan commented on #4292
If you have the web chat components working as you want, then it's just a matter of instructing web chat to send an activity when either the thumbs up or thumbs down has been clicked and then having your bot respond, in kind.

You can set this up by creating an event dispatcher on the thumbs up/down elements that, when clicked, fire an event. You then also setup an event listener that, when trigge

[2022-05-19 00:03] #4292 closed

[2022-05-19 00:41] fercom commented on #4272
@stevkan I finally found it!
The error was in the webchat configuration on the html file. This is the right way of having a welcome message AND passing arguments to a chatbot in the channel data

[code]

[2022-05-19 00:41] #4272 closed

[2022-05-19 18:11] stevkan commented on #4261
@burtabulous, I hope to have an update for you sometime this week once I connect with a colleague regarding an aspect of this.

[2022-05-20 17:52] ramfattah commented on #4274
@ryub3n, could you please check if the browser has third-party cookies enabled. Thanks.

[2022-05-20 19:04] ryub3n commented on #4274
@ramfattah / @compulim , by default Safari blocks third-party cookies since April 2020 when Safari 13.1 came out.
So does Firefox and other browsers will follow suit.

[2022-05-20 20:15] dawolff-ms commented on #3709
@stevkan sorry for bringing an old thread back to life, but just wanted to check in on this feature; is updating an activity officially supported yet? If not, is there any updates on an ETA?

I did a little searching myself but couldn't find anything more recent than your last comment.

[2022-05-20 21:26] ramfattah commented on #4277
closing due to inactivity. @nibedita10, please re-open if needed.

[2022-05-20 21:26] #4277 closed

[2022-05-20 22:49] mhmuftee commented on #4291
`
import React from "react";

import { AttachmentMiddleware } from "botframework-webchat-api";

const attachmentMiddleware: AttachmentMiddleware =
  () =>
  (next) =>
  (...args) => {
    const [attachmentProps] = args;

    if (attachmentProps) {
      const { activity } = attachmentProps;
      console.log(JSON.stringify(activity, null, 2));
      //const { conversation } = activity;
    }

[2022-05-23 12:54] KattaBhargav opened #4293 "[Screen Readers-Ask HR Virtual Assistant]: Screen readers(NVDA/JAWS) are narrating the suggestion invoked by the user multiple times upon invoking the Suggested Questionnaire button present in the “Ask HR Virtual Assistant” chat window."
### PWD Impact:
Screen reader users are getting impacted if Screen readers (NVDA/JAWS) are narrating the suggestion invoked by the user multiple times upon invoking the Suggested Questionnaire button present in the “Ask HR Virtual Assistant” chat window.

### Test Environment:

OS: Windows 10 version 21H1 (OS Build 19043.1110)
Browser: New Edge Version 92.0.902.62 (Official build) (64-bit)/Chrome

[2022-05-23 12:57] KattaBhargav commented on #4293
#A11yMAS;#A11ySev2;#HCL;#WCAG4.2.1;#Accessibility;#Win10-Edge(Chromium);#BotFrameworkWebChat-Aug21;#Benchmark;#CSEO:BUG8007103;#Firstparty:CSEO;

[2022-05-23 12:58] KattaBhargav commented on #4293
Bug copied from CSEO team Bug id:-[BUG 8007103](https://microsoftit.visualstudio.com/OneITVSO/_workitems/edit/8007103)

[2022-05-23 13:13] KattaBhargav opened #4294 "[Screen readers-AskHR Virtual Assistant]: Screen readers(NVDA/JAWS) focus narrating twice for content in chat window present in the page, while navigating using down arrow key"
### PWD Impact:
Visually challenged users who rely on screen readers will be impacted as screen readers(NVDA/JAWS) focus narrating twice for content present in chat window in the page, while navigating using down arrow key

### Test Environment:
OS: Windows 10 version 21H1 (OS Build 19043.1110)
Browser: New Edge Version 92.0.902.62 (Official build) (64-bit)/Chrome Version 92.0.4515.107 (Official B

[2022-05-23 13:15] KattaBhargav commented on #4294
#A11yMAS;#A11ySev3;#HCL;#WCAG1.3.2;#Accessibility;#Win10-Edge(Chromium);#BotFrameworkWebChat-Aug21;#Benchmark;#CSEO:BUG7997959;#Firstparty:CSEO;

[2022-05-23 13:16] KattaBhargav commented on #4294
Bug copied from CSEO team Bug id:-[BUG 7997959](https://microsoftit.visualstudio.com/OneITVSO/_workitems/edit/7997959)

[2022-05-23 13:23] KattaBhargav opened #4295 "[Screen Readers-Ask HR Bot-Ask HR Virtual Assistant]: JAWS is narrating the suggestion invoked by the user twice upon invoking the Suggested Questionnaire button present in the “Ask HR Virtual Assistant” chat window."
### PWD Impact:
Screen reader users are getting impacted if JAWS is narrating the suggestion invoked by the user twice upon invoking the Suggested Questionnaire button present in the “Ask HR Virtual Assistant” chat window.

### Test Environment:
OS: WIN10 1909 (OS Build 18363.836)
Browser: Chrome Version 83.0.4103.61 (Official Build) (64-bit)
URL: [https://microsoft.sharepoint.com/teams/HR_Web_Dev

[2022-05-23 13:24] KattaBhargav commented on #4295
#A11yMAS;#A11ySev4;#HCL;#WCAG4.2.1;#Accessibility;#Win10-Edge(Chromium);#BotFrameworkWebChat-Aug21;#Benchmark;#CSEO:BUG5843513;#Firstparty:CSEO;

[2022-05-23 13:25] KattaBhargav commented on #4295
Bug copied from CSEO team Bug id:-[BUG 5843513](https://microsoftit.visualstudio.com/OneITVSO/_workitems/edit/5843513)

[2022-05-23 13:33] KattaBhargav opened #4296 "[Screen Readers-Ask HR Bot-Ask HR Virtual Assistant]: NVDA is not narrating proper information if user invokes the Suggested questionnaire buttons from the list present in the page."
### PWD Impact:
Screen reader users are getting impacted if once the user invokes the suggested questionnaire buttons in the page and screen reader is not narrating the invoked button information.

### Test Environment:
OS: WIN10 1909 (OS Build 18363.836)
Browser: New Edge Version 83.0.478.37 (Official build) (64-bit)
URL: [https://microsoft.sharepoint.com/teams/HR_Web_Dev_Site/SitePages/AskHRBotT

[2022-05-23 13:35] KattaBhargav commented on #4296
#A11yMAS;#A11ySev3;#HCL;#WCAG4.2.1;#Accessibility;#Win10-Edge(Chromium);#BotFrameworkWebChat-Aug21;#Benchmark;#CSEO:BUG5837853;#Firstparty:CSEO;

[2022-05-23 13:45] KattaBhargav opened #4297 "[Keyboard Navigation-AskHR Virtual Assistant]: Keyboard focus indicator is not visible when focus moves to the 'Send' button present in the page, while navigating using Keyboard Tab key."
### PWD Impact:
Users who rely on keyboard for navigation are losing their track of focus as, Keyboard focus indicator is not visible when focus moves to the 'Send' button present in the page, while navigating using Keyboard Tab key. Users will not know which interactive control has focus as the focus indicator is not visible.

### Test Environment:
OS: Windows 10 version 21H1 (OS Build 19043.1110

[2022-05-23 13:47] KattaBhargav commented on #4297
Bug copied from CSEO team Bug id:-[BUG 7994935](https://microsoftit.visualstudio.com/OneITVSO/_workitems/edit/7994935)

[2022-05-23 15:34] kattepalli opened #4298 "[Screen Readers-Ask HR Virtual Assistant]: Screen readers(NVDA/JAWS) are narrating the source code in chat window when user invoked the Suggested Questionnaire button present in the “Ask HR Virtual Assistant” chat window."
**PWD Impact:**
Screen reader users are getting impacted if screen readers(NVDA/JAWS) are narrating the source code in chat window when user invoked the Suggested Questionnaire button present in the “Ask HR Virtual Assistant” chat window.

**Test Environment:**
OS: Windows 10 version 21H1 (OS Build 19043.1110)
Browser: New Edge Version 92.0.902.62 (Official build) (64-bit)/Chrome Version 92.0.4515

[2022-05-23 15:36] kattepalli commented on #4298
Bug copied from CSEO team Bug id:-https://microsoftit.visualstudio.com/OneITVSO/_workitems/edit/8007427

[2022-05-23 15:37] kattepalli commented on #4296
The correct test URL is:- https://askhrvadev.azureedge.net/?botOrigin=ec

[2022-05-23 18:19] axelsrz commented on #4274
@compulim @Jeffders do you have any further input on this matter? Thanks

[2022-05-23 22:38] compulim commented on #4274
This should be fixed in how the cookie is handled on token.botframework.com page. Web Chat is just redirecting end-user to that page.

[2022-05-24 18:16] axelsrz commented on #4297
@compulim could you take a look at this one?

[2022-05-24 18:16] axelsrz commented on #4296
assigning @compulim

[2022-05-24 18:16] axelsrz commented on #4295
assigning @compulim

[2022-05-24 18:17] axelsrz commented on #4294
assigning @compulim

[2022-05-24 22:52] compulim opened #4299 "React TypeScript project should works with default `tsconfig`"
## Screenshots

## Version

`4.15.1`

## Describe the bug

When using TypeScript with `noImplicitAny` set to `true`, project depends on Web Chat could fail with the following error:

[code]

## Steps to reproduce

(Not tested)

1. Create a new React (TypeScript) project
2. In its `tsconfig.json`, set `noImplicitAny` to `true`
3. `npm install botframework-webchat`
4. Add `import ReactWebChat from '

[2022-05-25 13:05] DaveM77 opened #4300 "Upgrading botframework-webchat from 4.13.0 to 4.15.2 gives error in console when running dev build"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Version

botframework-webchat NPM package version 4.15.2

## Describe the bug

We have created a chatbot based on the React web chat component as per the sample [06.recomposing-ui/a.minimizable-web-chat](https://github.com/microsoft

[2022-05-25 18:07] stevkan commented on #4300
@DaveM77, thank you for mentioning this. I will attempt a repro and get back to you with what I find.

[2022-05-25 18:08] axelsrz commented on #4293
@compulim could you take a look at this one?

[2022-05-25 21:52] compulim opened #4301 "Allow customers to opt-in to use non-default container registry"
## Feature Request

To conform to Software Supply Chain Best Practices, we should allow our customers to use non-default container registry when building our software. So they can use their own container registry to secure their supply chain.

[feature-request]

[2022-05-26 10:03] DaveM77 commented on #4300
Hi @stevkan, just tried downgrading node to 14.19.3 in a fresh environment and getting the same error message. Is there a particular minor version required?

[2022-05-26 12:16] KattaBhargav opened #4302 "[Keyboard Navigation - Azure BOT Framework- Test in Web Chat]: Keyboard focus indicator is not visible on 'upload file' button present under Test in web chat screen."
### User Experience:
If Keyboard focus indicator is not visible on the 'upload file' button then keyboard user are not able to locate the keyboard focus indicator hence navigation on the page gets difficult and keyboard user gets disoriented.

**Note:**
User credentials should NOT be included in the bug.

### Repro Steps:
Step 1: Open https://ms.portal.azure.com/?microsoft_azure_marketplace_ItemHi

[2022-05-26 12:19] KattaBhargav commented on #4302
#A11yMAS;#A11ySev2;#HCL;#WCAG2.4.7;#Accessibility;#Win11-Edge(Chromium);#BotFrameworkWebChat-Aug21;#Linked:Bug75209;#LinkedBug;

[2022-05-26 12:23] KattaBhargav commented on #4302
Bug copied from Azurebot team Bug id:-[BUG 75209](https://fuselabs.visualstudio.com/BotFramework/_workitems/edit/75209)

[2022-05-26 12:25] kattepalli commented on #4302
Below comment from AzureBot team:-
**can't fix this from ABS side
we use [BotFramework-WebChat](https://github.com/microsoft/BotFramework-WebChat)
and the style is https://github.com/microsoft/BotFramework-WebChat/blob/1e8817e076dd7055e26e6efa554325cfe8702129/packages/component/src/Styles/StyleSet/SendBoxButton.ts#L33**

[2022-05-26 17:34] stevkan commented on #4300
It looks like I perhaps changed both the Node and React versions at the same time and didn't notice. It does look like the problem exists with Node v14.19.3. That being said, there _is_ a bug in Node/npm that can surface using v16+. So, it's good that you remain on v14, if you can.

The issue you reference in your original post looks, from what I can tell, to be related to the React version. If I

[2022-05-26 18:19] axelsrz commented on #4201
@compulim any updates?

[2022-05-26 22:45] stevkan commented on #4291
@mhmuftee, I had a chance to speak with the lead developer of Web Chat and the `conversation` object was intentionally left out. In his words:

His recommendation, if you are in need of it, is to extend the `WebChatActivity` class, adding the `conversation` property (and `id` sub-property) to it before sending.

As the `conversation.id` is part of the response when getting a token from Direct Line

[2022-05-26 22:45] #4291 closed

[2022-05-27 08:29] DaveM77 commented on #4300
Downgrading React to 16.8.6 resolved the issue.
Thanks for your help with this.

[2022-05-27 16:37] mhmuftee commented on #4291
@stevkan

Thank you for the response.

I kind of used the 1st approach, to get the conversation id from the activity.

[2022-05-27 18:06] #4301 closed

[2022-05-27 18:07] axelsrz commented on #4302
@compulim could you take a look at this?

[2022-05-30 14:19] aurelvasilegm commented on #3794
Hello,
We have the same problem in our environment. We have enabled directline enhanced authentication, we have added our container page URL to trusted domains, but we receive the magic code.
Tested in **Chrome** ver. 101.0.4951.67 and **Edge** ver. 101.0.1210.53.

Direct line channel configuration is:
![image](https://user-images.githubusercontent.com/106539101/171010051-4efd7902-e04c-4b23-b355-2

[2022-05-31 11:17] ridasaleem0 opened #4305 "Add Custom Commands application as a skill in Bot framework composer application"
The documentation (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-integrate-remote-skills) gives an idea about how to export the Custom Commands application as a skill, however, there is no skills tab available in the Speech studio under Custom commands settings.

Is there a way to export our commands app as a skill inside the bot framework applicat

[2022-05-31 18:03] stevkan commented on #4305
Closing as duplicate of https://github.com/microsoft/BotFramework-Composer/issues/9212.

[2022-05-31 18:03] #4305 closed

[2022-06-01 18:01] stevkan commented on #4261
@burtabulous, apologies for the wait. I encountered a bit of a delay but am still working on getting an update to you.

[2022-06-02 06:43] ryub3n commented on #4274
@gabog - Since this feature relies on third-party cookies please add a disclaimer or warning to the [documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-security-enhanced?view=azure-bot-service-4.0#user-identity-spoofing-mitigation). It is frustrating that directline enahnced authentication is advised but does not work properly across browsers.

[2022-06-02 10:48] KattaBhargav opened #4306 "[Screen Readers-Ask HR Virtual Assistant]: Screen readers(NVDA) is narrating incorrect information in chat window when user invoked the Suggested Questionnaire button present in the “Ask HR Virtual Assistant” chat window."
### PWD Impact:
Screen reader users are getting impacted/confused if screen readers(NVDA/JAWS) narrating hidden attachment information (which is not present in the current UI)in chat window when user invoked the Suggested Questionnaire button present in the “Ask HR Virtual Assistant” chat window.

### Repro Steps:
Step 1: Enable Screen readers (NVDA/JAWS) and Open the above URL in the Chrome/Edge

[2022-06-02 10:50] KattaBhargav commented on #4306
#A11yMAS;#A11ySev2;#HCL;#WCAG1.3.2;#Accessibility;#Win11-Edge(Chromium);#BotFrameworkWebChat-Aug21;#Linked:Bug8012704;#LinkedBug;

[2022-06-02 10:51] KattaBhargav commented on #4306
Bug copied from Azurebot team Bug id:-[BUG 8012704](https://microsoftit.visualstudio.com/OneITVSO/_workitems/edit/8012704)

[2022-06-02 15:59] ramfattah commented on #4274
Hey @JonathanFingold

Looks like in Bot Framework SKD documentation; the [Enhanced Authentication](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-security-enhanced?view=azure-bot-service-4.0) page needs an update.

#

### Proposing the following changes:

In [User identity spoofing mitigation](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-security-enhanced?view=azu

[2022-06-03 10:33] KattaBhargav opened #4310 "MICROSOFT Carousel visibility (horizontal scroll behaviour)"
### PWD Impact:
Can cause significant disruption. When a sighted keyboard user navigates through the carousel options the focus only recentres on new messages if the buttons were not visible on the screen at all.
This leads to some options which are partially visible not being moved into clear view and users only ever being presented with part text. For example the options on the left and right of

[2022-06-03 10:36] KattaBhargav commented on #4310
#A11yMAS;#A11ySev2;#HCL;#Accessibility;#BotFrameworkWebChat-Aug21;#Linked:Bug193998;#LinkedBug;

[2022-06-03 10:36] KattaBhargav commented on #4310
Bug copied from Azurebot team Bug id:-[BUG 193998](https://dev.azure.com/CSS-IRT/CSS%20IRT/_workitems/edit/193998)

[2022-06-03 10:44] KattaBhargav opened #4311 "MICROSOFT Chat cards cannot be accessed using enter key in NVDA"
### PWD Impact:
Can cause significant disruption. Major issue for keyboard and screen reader users. When a user enters the chat pane they cannot ever interact with interactive chat message content such as links or buttons pictures above.
For screen reader users, they receive additional audio information which describes the controls including to press enter to interact with these messages. Sighted

[2022-06-03 10:45] KattaBhargav commented on #4311
#A11yMAS;#A11ySev2;#HCL;#Accessibility;#BotFrameworkWebChat-Aug21;#Linked:Bug193992;#LinkedBug;

[2022-06-03 10:45] KattaBhargav commented on #4311
Bug copied from Azurebot team Bug id:-[BUG 193992](https://dev.azure.com/CSS-IRT/CSS%20IRT/_workitems/edit/193992)

[2022-06-06 22:59] #4275 closed

[2022-06-07 09:23] compulim commented on #4302
This is fixed in Web Chat 4.15.1 with PR #4028. However, the "Test in Web Chat" blade in Azure Bot Services is using an older version of Web Chat 4.14.0, which does not have the fix.

![image](https://user-images.githubusercontent.com/1622400/172344703-18c6cc22-2f0e-45e5-9f9d-8c1d2b5286dd.png)

![image](https://user-images.githubusercontent.com/1622400/172344899-97097887-43c1-4fd7-a8b9-08996b5f42f

[2022-06-07 20:59] compulim commented on #4298
The text content of the activity is actually code. That's why the screen reader is narrating code.

![image](https://user-images.githubusercontent.com/1622400/172481436-13854614-5b50-4cb8-b2d0-9d39ea40de08.png)

Please refer to this article to see how to add "alt text" to a message, https://github.com/microsoft/BotFramework-WebChat/blob/main/docs/ACCESSIBILITY.md#controlling-the-narration-of-activ

[2022-06-07 23:13] clearab commented on #3844
@compulim did this ever get implemented? I thought I remembered seeing that support for 1.4+ and action.execute was added.

[2022-06-08 19:13] compulim commented on #4306
We designed the narration with the following patterns. You can read ([full details in this article](https://github.com/microsoft/BotFramework-WebChat/blob/main/docs/ACCESSIBILITY.md#ux-narration-of-messages)).

- When a message with Adaptive Card arrive, screen reader should narrate the message along with card content
- When navigating using <kbd>UP</kbd>/<kbd>DOWN</kbd> arrow keys, screen reader

[2022-06-08 21:26] elopezanaya opened #4312 "WebChat 4.15.1 has backward compatibility issues with groupActivityMiddleware"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

## Version

4.15.1

## Describe the bug

when using 4.15.1  in LCW we have detected multiple issues with groupActivityMiddleware , the issue is not present for previous versions

## Steps to reproduce

1. Go to '...'
1.

[2022-06-09 20:33] compulim commented on #4298
Talked with Sukesh offline. There are 2 approaches:

1. Easier
   - Add alt text to `channelData['webchat:fallback-text']`
2. More correct
   - Move the JSON from `text` field into `channelData`, the channel data is a property bag for storing anything serializable as JSON
   - Put human-readable text into the `text` field (say, alt text)
   - On custom render code, instead of parsing the JSON from

[2022-06-09 20:58] compulim commented on #4263
In my previous reply, I mean, the issue you mentioned should not contribute to failure of WCAG 2.4.3. I have listed reasons above that why it does not contribute to failure of this success criterion.

[2022-06-10 00:18] compulim commented on #4201
I am using the Adaptive Card from @sknaappilaswd and created a chat history (attached below).

When I load it into Web Chat 4.15.2, I can press <kbd>TAB</kbd> and <kbd>SHIFT</kbd> + <kbd>TAB</kbd> key to focus on all 5 buttons of both sets. And NVDA 2022-01 did narrate all the buttons correctly when I am using <kbd>TAB</kbd> key to focus between them.

<details>
<summary>Click to see the chat hist

[2022-06-10 00:30] compulim commented on #4312
Please elaborate more, preferably with code snippets showing before and after.

[2022-06-10 00:46] sknaappilaswd commented on #4201
But in this reproduction and video the text above the second set of buttons is never read, so the buttons miss their context. I have not been able to hear the text paragraphs of the second set of buttons. With the TAB key you can jump from one button to another by also jumping from one set to another, but without hearing instructions (e.g. a question) the button sets become meaningless.

Say you w

[2022-06-10 12:04] compulim commented on #4201
When pressing <kbd>TAB</kbd> keys to focus on different elements, non-interactive elements, such as text or `<p>`, are never read by the screen reader. Only interactive elements, such as `<button>` or `<a>`, will be narrated. This is behavior also true for normal HTML webpage.

Could you repro your Adaptive Card outside of Web Chat? You can paste your card JSON into [Adaptive Card Designer](https:

[2022-06-13 21:03] compulim commented on #3243
This is workaround-ed in Web Chat by using a short-lived section in a live region twin.

[2022-06-13 21:03] #3243 closed

[2022-06-13 21:11] compulim commented on #4295
Action items:

1. When a message with suggested actions arrives, we should narrate it in live region twin
2. Suggested actions container should be a [`toolbar` role](https://www.w3.org/WAI/ARIA/apg/patterns/toolbar/)
3. (Optional and need asks) Carousel flipper buttons could have <kbd>TAB</kbd> disabled (`tabindex="-1"`) to reduce confusion and complexity when pressing <kbd>TAB</kbd> key to access

[2022-06-14 02:22] stevkan opened #4313 "On certain resolutions, clicking the right flipper on the last carousel card causes card to bounce back"
## Screenshots

![974cf9f7-c537-4338-b75e-e5477152be78](https://user-images.githubusercontent.com/18403946/173479285-90b6763e-ca8c-4ac9-ba1b-7374c39c6fb5.gif)

## Version
v4.13.0 - current (v4.15.2)

Have not tested versions previous to v4.13.0.

## Describe the bug

When clicking the right flipper on a carousel of cards, where the number of cards exceeds the width of the window, and the last card

[2022-06-14 08:17] jesus-diaz-rivero commented on #4200
I've encountered a similar issue which isn't resolved with v4.15.
Worth noting that the peer dependency web-speech-cognitive-services isn't actually using p-defer-es5 2.0.1, but rather 2.0.0 (at least from what I can see)

└─┬ botframework-webchat@4.15.2
  ├─┬ botframework-directlinespeech-sdk@4.15.2
  │ └── p-defer-es5@2.0.1
  ├─┬ botframework-webchat-core@4.15.2
  │ └── p-defer-es5@2.0.1 deduped

[2022-06-15 02:29] charliewang95 commented on #4312
Seeing below error with 4.15.1 and groupActivityMiddleware ![image](https://user-images.githubusercontent.com/14852927/173723806-5481647c-71a0-439c-849c-5a50462ea129.png)

[2022-06-15 02:30] charliewang95 commented on #4312
Our implementation:

/******
 * GroupActivitiesMiddleware
 *
 * This middleware controls which messages are grouped together regarding to timestamps. It does the following processing:
 * 1. Distinguishes different messages by sender name and whether it is a system message
 ******/

import { Constants } from "../../../../../common/Constants";

function bin<T>(items: T[], grouping: (last: T, current

[2022-06-16 14:00] compulim commented on #4296
We will move suggested actions into our new live region twin section.

[2022-06-16 14:01] compulim commented on #4293
We have removed the "suggested actions container: is empty" as we converge the suggested actions live region into chat history live region twin.

[2022-06-16 20:32] compulim opened #4315 "Clean up localization strings for suggested actions"
## Screenshots

## Version

`main`

## Describe the bug

1. After #4314, we should do a cleanup on localization strings related to suggested actions.
2. Update `ACCESSIBILITY.md`

## Steps to reproduce

Search for "TODO" added in #4314.

## Expected behavior

## Additional context

[Bug]

[2022-06-16 20:34] compulim opened #4316 "Investigate esbuild as dev server"
## Feature Request

As `webpack@5` is much slower than `webpack@4`, maybe it is time for us to consider using `esbuild` as our dev server, while keeping `webpack@5` for production build.

[feature-request]

[2022-06-16 23:50] compulim opened #4317 "Pack /dist/ bundle in NPM package"
## Feature Request

Today, we didn't specify `files` field in `package.json`, it packs almost everything except `/dist` folder.

Thus, web developers who want to try out Web Chat via bundle will need to build themselves.

[feature-request]

[2022-06-17 01:45] #4317 closed

[2022-06-17 01:49] compulim opened #4319 "IE Mode: Suggested actions cannot be navigated using left/right arrow keys"
## Screenshots

## Version

`4.15.3-main`

## Describe the bug

When using left/right arrow keys to select suggested actions (based on roving tab index), it scrolled the view, instead of selecting another button.

It also doesn't select another suggested action button by using <kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd>A</kbd> access key.

## Steps to reproduce

1. Using Edge
2. Go to https://corin

[2022-06-17 01:56] compulim commented on #4296
Reopen to pending verify.

[2022-06-17 01:56] compulim commented on #4293
Reopen to pending verify.

[2022-06-17 15:15] compulim commented on #4319
For `keydown` event, IE Mode prefer `Left` instead of `ArrowLeft`, also for other keys.

[2022-06-22 16:52] compulim opened #4322 "Improve error message around send failed/timeout"
## Feature Request

Today, we need 2 signals to indicate a message is successfully sent. They need to be received in a timely manner:

- The `postActivity` call to the service return successful
- The activity is being echoed back from the `activity$`

And if either one of them are not fulfilled, we will report as "send timeout" without much details.

We could improve the error by saying which sign

[2022-06-23 20:04] compulim opened #4325 "aria-keyshortcuts should use AltGraph instead of Option"
## Screenshots

## Version

`main` of `4.15.3-0`

## Describe the bug

[According to W3C](https://w3c.github.io/aria/#aria-keyshortcuts), `aria-keyshortcuts` should be `"alt+shift+a"` or `"ctrl+altgraph+a"` (for "Ctrl + Option + A" in macOS)

However, when narrating it as accessible name, we do not need + (plus) signs.

| Keystroke | `aria-keyshortcuts` | Accessible name |
| - | - | - |
| <kbd>Alt

[2022-06-23 20:12] dluc opened #4326 "How do I test my bot running on localhost?"
With Bot Framework Emulator I can test a bot running locally on localhost, e.g. connecting to http://localhost:3978/api/messages.

How do I connect WebChat to the same localhost endpoint?

![image](https://user-images.githubusercontent.com/371009/175388750-0c96732e-4030-4116-a180-3603b15f6600.png)

[2022-06-23 22:59] #4315 closed

[2022-06-23 22:59] #4325 closed

[2022-06-24 08:27] compulim commented on #4326
Web Chat cannot connect to the bot directly. It must connect to a chat service.

The chat service could be, for example:

- Azure Bot Services (ABS)
   - You can use a HTTP tunneling service, such as ngrok, to redirect the traffic from ABS to localhost
- Bot Framework Emulator
   - Emulator is emulating ABS and will expose itself

When you run it in Emulator, in the Log window, you should see "Emu

[2022-06-24 08:29] compulim commented on #4326
![image](https://user-images.githubusercontent.com/1622400/175496167-b5c62754-983e-49f9-8c80-a35568019516.png)

You can check out their code here, https://github.com/microsoft/BotFramework-Emulator/blob/main/packages/app/client/src/state/sagas/chatSagas.ts#L740. This code initialize DirectLineJS chat adapter and plug into Web Chat.

[2022-06-24 08:46] compulim opened #4327 "Title in Hero Card does not have `aria-level` specified"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/175499104-6af48e58-7973-4668-bf4b-c4c76f19f258.png)

## Version

`main`

## Describe the bug

In Adaptive Cards library, by default, all `TextBlock` with `style="heading"` will have `role="heading"` set. However, the required attribute, `aria-level`, was not set. To set the `aria-level`, we need to *explicitly* specify `hos

[2022-06-24 10:18] compulim commented on #4294
Reopen to pend for verification.

[2022-06-24 10:18] compulim commented on #4295
Reopen to pend for verification.

[2022-06-24 19:06] dluc commented on #4326
hi @compulim, I'm looking for a development workflow that doesn't require a deployment, until the bot is ready. E.g. I want to enable any developer in my team to create web chat bots and show a demo (locally, sharing the screen, recording a video), without depending on cloud resources, Azure access, etc.

Looks like I need to add extra .NET code to handle requests to "/v3/directline", if I want to

[2022-06-24 19:10] dluc commented on #4326
In any case, thanks for the pointers, if I make some progress in this direction I will post an update. For now, given time constraints, I'm switching to a different approach using SignalR (kind of reinventing the wheel I know). Thanks!

[2022-06-24 19:38] compulim commented on #4326
SignalR! Their team has a (relatively) new project called Azure Web PubSub and it is based on their existing SignalR infrastructure. In short, it is SignalR in Web Socket API. So no extra SDK, minimal learning curve, and superb browser compatibility.

I experimented using Web Chat with Azure Web PubSub as the chat protocol and it's fun. 😁

https://docs.microsoft.com/en-us/azure/azure-web-pubsub/ov

[2022-06-24 19:48] compulim commented on #4326
`/v3/directline` are Azure Bot Services REST API, and ABS will relay it to the bot's `/api/messages` endpoint.

Bot Framework Emulator is emulating/mocking ABS `/v3/directline` REST APIs and "converting" them to talk to your bot's `/api/messages`. I believe we don't document these ABS REST APIs. However, you can find Emulator code of emulating these APIs here, https://github.com/microsoft/BotFrame

[2022-06-24 20:58] compulim opened #4328 "Live region did not narrate "Bot is typing""
## Screenshots

## Version

`4.15.3-main`

## Describe the bug

"Bot is typing" is not narrated since our recent PR #4323. Probably we filtered out `type="typing"`.

## Steps to reproduce

1. Talk to MockBot
2. Say "typing"

## Expected behavior

Screen reader should read "bot is typing".

## Additional context

[Bug]

[2022-06-25 03:42] compulim commented on #4328
No repro.

[2022-06-25 03:42] #4328 closed

[2022-06-26 08:48] compulim commented on #3914
Updates:

- Multiple transpilation passes does not work
- Although ESBuild do support some ES5 transpilation with ES5-compatible templates, there are some syntaxes not transpiled yet. We probably need to run Babel in front of ESBuild
- Babel on-the-fly via ESBuild plugin is very slow, we should run CLI side-by-side
- Bundle size by ESBuild is 20-30% larger than Webpack for unknown reasons

Current

[2022-06-28 00:07] #4327 closed

[2022-06-28 00:07] #4316 closed

[2022-06-28 04:26] compulim commented on #4299
Content of `tsconfig.json`:

[code]

Content of `index.tsx`:

[code]

Content of `package.json`:

[code]

[2022-06-28 11:20] DaveM77 opened #4331 "User message styling lost when reconnecting to a conversation"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Version

botframework-webchat NPM package version 4.15.2
Microsoft.Bot.Connector.DirectLine .NET assembly version 3.0.2.0

## Describe the bug

We have created a chatbot based on the React web chat component as per the sample [06.re

[2022-06-28 13:27] KattaBhargav opened #4332 "[Supporting the platform-AskHR Virtual Assistant]: In High Contrast Black mode, emojis are not clearly visible in the 'Feedback' section present in the page."
### PWD Impact:
Color sensitive users who rely on high contrast modes (Black) are getting impacted as emojis are not clearly visible in the 'Feedback' section present in the page.

 ### Test Environment:

- OS: Windows 10 version 21H1 (OS Build 19043.1110)
- Browser: New Edge Version 92.0.902.62 (Official build) (64-bit)
- URL: [AskHR Virtual Assistant (azureedge.net)](https://askhrvauat.azureedge

[2022-06-28 13:30] KattaBhargav commented on #4332
#A11yMAS;#A11ySev2;#HCL;#WCAG4.3.1;#Accessibility;#Win10-Edge(Chromium);#BotFrameworkWebChat-Aug21;#Linked:Bug8005236;#LinkedBug;

[2022-06-28 13:36] KattaBhargav opened #4333 "A11y_Finance Digital Assistant_Profile_like_AI4W-Ensures buttons have discernible text (.webchat__suggested-action__button[aria-keyshortcuts="Alt\ \+\ Shift\ \+\ A"])"
### Environment Details:

- Application Name: Finance Digital Assistant.
- #URL: [Finance Digital Assistant (microsoft.com)](https://staging-fda.microsoft.com/fda/?&hostappid=1ED4BBD7-CF02-41D2-8363-8F21EF7F07F5)
- OS Details:
Microsoft Windows 11 Enterprise Version 21H2(OS build: 22000.318)
Chromium Edge Version: Version 100.0.1185.44 (Official build) (64-bit)
### Issue:
Ensures buttons have disc

[2022-06-28 13:38] KattaBhargav commented on #4333
#A11yMAS;#A11ySev2;#HCL;#WCAG4.1.2;#Accessibility;#Win11-Edge(Chromium);#BotFrameworkWebChat-Aug21;#Linked:Bug8884824;#LinkedBug;

[2022-06-28 13:39] KattaBhargav commented on #4333
Bug copied from Azurebot team Bug id:-[BUG 8884824](https://microsoftit.visualstudio.com/OneITVSO/_workitems/edit/8884824?src=WorkItemMention&src-action=artifact_link)

[2022-06-28 17:02] stevkan commented on #4331
@DaveM77, are you able to provide a copy of your web chat project or, if not, an example project that repros the issue? Having this would help in determining an exact cause.

[2022-06-28 18:35] DaveM77 commented on #4331
@stevkan sure, whats the best way to get it to you?

[2022-06-28 18:49] compulim commented on #4040
I experimented with ESBuild and the bundle size did not go down. Instead, it goes up for 20%.

We should look at the number of these scenarios to see how good we are doing treeshaking. All of these scenarios are based on NPM.

- Did not use Web Speech or Cognitive Services
- Did not use DL ASE

Maybe we should also add tests to look at `meta.json` to make sure when certain components are not used,

[2022-06-28 19:55] compulim commented on #4333
Thanks @KattaBhargav. This will take some time, my backlog of accessibility stuff is quite full right now. 😁

[2022-06-29 18:11] #3937 closed

[2022-06-29 18:32] compulim commented on #3936
This should be resolved. I verified that the live region should announce both user's question and bot's answer consistently in live region. It should work according to https://github.com/microsoft/BotFramework-WebChat/blob/main/docs/ACCESSIBILITY.md#ux-narration-of-messages.

[2022-06-29 18:32] #3936 closed

[2022-06-29 18:34] compulim commented on #3939
This is resolved. We simplified our DOM tree and removed `role="region"`.

[2022-06-29 18:34] #3939 closed

[2022-06-30 13:59] DaveM77 commented on #4331
@stevkan, sent it to the email address associated with your GitHub account

[2022-06-30 18:07] stevkan commented on #4331
@DaveM77 - Thank you for your patience. I haven't seen the email come through. Perhaps the file size is too big? Are you able to zip the project (minus any keys/secrets) and attach it here?

[2022-07-06 05:50] compulim commented on #4211
Please work with #4322 together.

Action items:

- Create a new `useFailedActivityKeys(): [string]` to list all failing activities
   - Mind that `props.sendTimeout` and `props.sendTimeoutForAttachment` could change at any time
   - It is okay to say "`sendTimeout` change will affect next activity, but not any current activities". But it's better if we could make it affect current activities
   -

[2022-07-06 10:11] nimeshnanda opened #4338 "Load last 7 days history from azure blob storage"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2022-07-06 17:33] stevkan commented on #4338
@nimeshnanda, are you able to share your code (or a simplified copy of it that reproduces the issue)? That will take some of the guess work out of how you are constructing your project. In the meantime, I will attempt a repro and see if there is a work around to this.

To clarify, you _are_ able to load all of the conversation but because of a delay when doing so you would like to load the convers

[2022-07-06 17:48] stevkan commented on #4331
@DaveM77, thank you for attaching the file. I'll take a look at this and see what I find.

[2022-07-07 08:23] KattaBhargav opened #4339 "Bot Framework Web Chat [Web] - Add compliance notice to comply with Italy digital accessibility requirements."

[2022-07-07 08:25] KattaBhargav commented on #4339
#A11yITDecree;#A11yITDecreeProdLink;#A11yMAS;#A11ySev2;#HCL;#BotFrameworkWebChat-Aug21;

[2022-07-07 12:40] iliosana commented on #1831
For me a combination of the answers from @naukhezolayee and @sw353552 worked.

I set:

- `typingAnimationBackgroundImage`: "url('data:image/gif;base64,ConvertedCodeOfImageInbase64Format')"
- `typingAnimationHeight `and `typingAnimationWidth `to the actual size of the GIF

[2022-07-08 07:16] KattaBhargav opened #4340 "[Visual Requirements - Bot Framework Web Chat - Markdown]: 'Written' text is getting truncated after applying the text spacing."
### User Experience:
If content of the page gets truncated after applying text spacing on the page than low vision person not able to see all controls define on the page and the person not be able to access them.
### Note:
User credentials should NOT be included in the bug.
### Pre - Requisite:

1. Open  https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne?hl=en
2. Cli

[2022-07-08 07:20] KattaBhargav commented on #4340
#A11yMAS;#A11ySev3;#HCL;#WCAG1.4.12;#Accessibility;#Win11-Chrome;#BotFrameworkWebChat-Jul22;

[2022-07-08 07:36] vibhor12345678 opened #4341 "[Programmatic Access - BOT Framework - Web Chat > Enter Keyword]: Elements having ARIA roles does not have required ARIA attributes."
### User Experience:
Users who depend on screen readers will be impacted if aria attributes are not defined on the elements. Screen readers will not announce the information correctly and users will not get the proper information of the controls.

### Repro Steps:
1. Open URL: [Web Chat: Full-featured bundle (microsoft.github.io)](https://microsoft.github.io/BotFramework-WebChat/01.getting-started

[2022-07-08 07:38] vibhor12345678 commented on #4341
#A11yMAS;#A11ySev2;#HCL;#MAS4.1.2;#Accessibility;#Win11-Chrome;#BotFrameworkWebChat-Jul22;

[2022-07-08 08:27] KattaBhargav commented on #4339
After reviewing this issue is not valid hence closing the bug.

[2022-07-08 08:27] #4339 closed

[2022-07-08 09:13] vibhor12345678 opened #4342 "[Programmatic Access - BOT Framework - Web Chat > Navigation]: Elements with an ARIA role that require child roles does not contained by them."
### User Experience:
Screen reader user will get confuse with the control type of the control if require aria child role is not defined for child control appearing under the parent control.

### Repro Steps:
1. Open URL: [Web Chat: Full-featured bundle (microsoft.github.io)](https://microsoft.github.io/BotFramework-WebChat/01.getting-started/a.full-bundle/)
2. Web chat bundle will open.
3. Navigat

[2022-07-08 09:14] vibhor12345678 commented on #4342
#A11yMAS;#A11ySev2;#HCL;#MAS1.3.1;#Accessibility;#Win11-Chrome;#BotFrameworkWebChat-Jul22;

[2022-07-12 04:34] KattaBhargav opened #4343 "[Programmatic Access - BOT Framework - Carousel response ]: Ensures elements with ARIA roles have all required ARIA attributes"
### User Experience:
Users who depend on screen readers will be impacted if aria rolesare not defined on the elements. Screen readers will not announce the information correctly and users will not get the proper information of the controls.

### Repro Steps:

1. Open URL: Web Chat: Full-featured bundle (microsoft.github.io)
2. Web chat bundle will open.
3. Navigate on the web chat bot and enter "c

[2022-07-12 04:35] KattaBhargav commented on #4343
#A11yMAS;#A11ySev3;#HCL;#MAS4.1.2;#Accessibility;#Win11-Chrome;#BotFrameworkWebChat-Jul22;

[2022-07-13 17:51] msomanathan commented on #4332
@compulim - Could you please share any updates to this issue? Thanks!

[2022-07-13 18:03] stevkan commented on #4338
@nimeshnanda, are you still needing assistance with this issue?

[2022-07-13 20:14] jtenacomm opened #4344 "Typing awareness indicator displays after the message is already sent"
## Screenshots
<img width="309" alt="typingIndicatorDelay" src="https://user-images.githubusercontent.com/109227563/178800825-11b63ae9-004b-48f0-bcf9-034501cbed6e.png">

## Version

v4.15.1

## Describe the bug

Typing awareness indicator displays after the message is already sent from the bot.

## Steps to reproduce

1. When using the ShowTypingMiddleware class. By default the indicator will disp

[2022-07-13 21:10] stevkan commented on #4331
@DaveM77 - Just a minor update that I'm still looking into this. I had some initial trouble running your project locally, but I was able to get around it. I'll keep you updated.

[2022-07-14 02:44] nimeshnanda commented on #4338
Yes Steven.

I didn’t get any solution on how to load history with lazy loading concept.

botframework-webchat react plugin not able to update the e activity state
if I am updating based on api response.

It would be great if you can provide some insights on this issue.

I was able to pull history fron blob storage and load everything together
in webchat but concerns here is to load history part b

[2022-07-14 16:32] jmcglory-its opened #4345 "Remove file content response"
When a user uploads a file and its posted to directLine as an attachment. There seems no way to remove the response message which is just the name of the file.

In my application this response message is unwanted and I would like to hide it. I have tried to subscribe to the post and within the subscribe I look for element of class .webchat__filecontent and find its closest parent and delete it, bu

[2022-07-15 16:18] ramfattah commented on #4344
Hi @jtenacomm, I'm investigating this issue.

[2022-07-15 18:35] stevkan commented on #4345
@jmcglory-its - You should be able to mitigate this in the bot as that is where the response is coming from. Can you tell me how your bot is handling attachments that are sent it?

[2022-07-18 18:11] axelsrz commented on #4332
@compulim are there any updates on this issues?

[2022-07-19 10:06] jmcglory-its commented on #4345
Hi,

Thanks for response and apologies as I have now realised this is the outgoing text from my bot front end and to prevent the message I just needed to send with text: ""

[2022-07-19 10:06] #4345 closed, assigned to stevkan

[2022-07-19 17:58] stevkan commented on #4331
@DaveM77 - FYI, I need to connect with one of the WC developers regarding this issue. As soon as I am able to do that, I will reach back out to you.

[2022-07-19 19:11] jtenacomm commented on #4344
After doing some digging on this issue it looks like the typing indicator by default has a 500ms delay and 3000ms period. If the bot response within this delay the indicator is still sent. This resulted in the behavior of seeing the indicator appear briefly after the message is sent.
Overriding the delay to 0 seems to resolve this issue, but idly it would be able to detect if a message was sent an

[2022-07-20 06:00] #3949 closed

[2022-07-20 16:43] primle commented on #3874
For developing a bot with **composer**, one can adapt the workaround by @rbohac to be included in a [custom action](https://docs.microsoft.com/en-us/composer/how-to-create-custom-actions), which should be called after the OAuth Login Card.

Simply set the activity id of the dialogcontext property to an empty string. e.g.
[code]

[2022-07-20 19:21] compulim commented on #4332
The AC card that have the emoji looks like the following.

![image](https://user-images.githubusercontent.com/1622400/180064522-9b5be229-40a5-45ab-a804-a80d52100caf.png)

Looking into the AC JSON that generate the emoji. The emoji is actually a SVG embedded into the card via data URI. Copied below.

[code]

The SVG has the `fill` set to a value (dark bluish gray) that doesn't work on high contrast

[2022-07-20 23:21] ramfattah commented on #4344
Hey @jtenacomm,

Thanks for the helpful information.

From which source code did you find `500ms delay and 3000ms period`?
Did you override the delay in SDK or webchat?

[2022-07-22 03:05] stevkan commented on #4338
@nimeshnanda  - I had an opportunity to speak with one of the devs and, unfortunately, trying to load the previous conversation(s) incrementally is not supported.

The DirectLine service, by design, returns the last 7 days worth of conversation with no indication as to how many activities that may be. Additionally, there is no way to limit the number of activities to be returned when requested.

M

[2022-07-22 03:05] #4338 closed

[2022-07-22 17:56] compulim commented on #4311
I believe NVDA scan mode is interfering with navigation. Press <kbd>CAPS</kbd> + <kbd>SPACEBAR</kbd> will toggle scan mode. When scan mode is off, <kbd>ENTER</kbd> key is working.

[2022-07-22 18:06] cwhitten commented on #4298
Given offline discussions and approaches to address the issue. No action is needed on WebChat. This is a matter of adjusting the use of Web Chat and the configuration of the Bot. Closing

[2022-07-22 18:06] #4298 closed

[2022-07-22 18:07] cwhitten commented on #4297
This is not an issue with Web Chat. It is an issue with the implementation of Web Chat. Closing

[2022-07-22 18:07] #4297 closed

[2022-07-22 18:10] cwhitten commented on #4302
Closing as fixed. Azure Bot Service needs to upgrade to the latest stable version of Web Chat.

[2022-07-22 18:10] #4302 closed

[2022-07-24 15:34] mohmed-elkhodry commented on #2360
I face the same issue on version 4.15.2
is there any updates regarding this issue in this version ?

[2022-07-25 10:14] mishraadi commented on #4306
Verified the issue on OS: Windows 11 version 22H2 (OS Build 22621.1000)
Browser: Microsoft Edge Version 104.0.1271.2 (Official build) dev (64-bit)
URL: [AskHR Virtual Assistant (azureedge.net)](https://askhrvadev.azureedge.net/?botOrigin=ec)
Tools: NVDA
and the issue doesn't repro anymore. Proper expected information is announced. So, closing it.

[2022-07-25 10:15] mishraadi commented on #4293
Verified the issue on OS: Windows 11 version 22H2 (OS Build 22621.1000)
Browser: Microsoft Edge Version 104.0.1271.2 (Official build) dev (64-bit)
URL: [AskHR Virtual Assistant (azureedge.net)](https://askhrvadev.azureedge.net/?botOrigin=ec)
Tools: NVDA
and the issue doesn't repro anymore. Proper expected information is announced. So, closing it.

[2022-07-25 17:17] #4293 closed

[2022-07-25 17:54] compulim commented on #4333
There are two things need to be done to resolve this issue:

1. Web Chat to support `imageAltText` field
   - Currently, the schema did specify the `imageAltText` field
   - However, the schema did not specify where to use this field
   - https://github.com/microsoft/botframework-sdk/issues/6527
3. Bot author needs to use this field
   - Currently, the bot does not reply with `imageAltText`
   - !

[2022-07-25 22:30] stevkan commented on #4331
@DaveM77 - As you probably know, after the page is refreshed the `activity.from.role` property in each activity is getting altered. Any activity that previously read as 'user' is getting changed to 'bot'. I don't fully understand why, yet. But I will continue to look into it.

As a workaround in the meantime, you can update the 'DIRECT_LINE/INCOMING_ACTIVITY' store filter to detect if the `activit

[2022-07-25 23:38] #4306 closed

[2022-07-26 17:33] compulim opened #4363 "Remove : (colon) in "Bot said" and "You said""
## Screenshots

## Version

`4.15.3-0`

## Describe the bug

JAWS default settings will narrate punctuations.

So, when JAWS narrate bot message, the "Bot said: Hello, World!" will be narrated as "bot said colon hello world".

It is better to remove the colon in `en-US.json`.

## Steps to reproduce

1. Run JAWS
1. Type "echo Hello, World!" to the MockBot

## Expected behavior

It should say "bot s

[2022-07-27 10:42] DaveM77 commented on #4331
@stevkan That's great, it works for us. Thanks for your assistance with this.

[2022-07-27 16:00] #4331 closed

[2022-07-27 16:08] ramfattah commented on #4344
closing due to inactivity. @jtenacomm, please re-open if needed.

[2022-07-27 16:08] #4344 closed

[2022-07-29 20:49] compulim opened #4365 "Remove deprecated `nextVisibleActivity` from activity middleware"
## Feature Request

The deprecation period of `nextVisibleActivity` is up on 2022-07-22. We should remove `nextVisibleActivity` to simplify our code.

While removing the `nextVisibleActivity`, also clean up some of our samples to make sure:

[code]

To become:

[code]

[feature-request]

[2022-08-01 18:51] engrehber opened #4366 "Web socket connection failed after some inactivity time"
## Version

I'm using latest CDN. Version 4.15.3

## Describe the bug

After some inactive time, websocket connection failed errors occur in the browser console. It does not automatically reconnect. I couldn't find any reconnection logic.

WebSocket connection to 'wss://northeurope.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1?language=tr-TR&format=detailed&Authoriz

[2022-08-02 17:23] stevkan commented on #4366
@engrehber - I went ahead and double checked that `tr-TR` is supported by both Cognitive Services and Web Chat. Both indicate that they are, and, in particular, the `northeurope` region for CS.

Was this previously working and is this new behavior? If so, does downgrading to a previous version of Web Chat mitigate the problem?

It seems that his occurs after interacting with the bot, correct? Is i

[2022-08-02 18:52] stevkan commented on #4366
@engrehber - It's been some time since I worked with CS Speech so I nearly forgot this point. Per this [doc](https://docs.microsoft.com/en-us/azure/cognitive-services/authentication?tabs=powershell#authenticate-with-an-access-token), tokens issued by CS are only valid for 10 mins which means, if you intend on having a prolonged conversation then you need to refresh the token prior to the token exp

[2022-08-02 22:03] compulim opened #4367 "Type out `useWebChatAPIContext`"
## Screenshots

## Version

`main` (4.15.3-0)

## Describe the bug

`useWebChatAPIContext` should be typed out so its caller has good typing to use, e.g. `useCreateActivityStatusRenderer`.

This is raised in PR #4362. When I try to type it out, it breaks a few places. So, I am scoping it as another issue so we don't submit a huge code chunk at once.

## Steps to reproduce

1. Go to '...'
1. Click

[2022-08-03 18:08] #4211 closed

[2022-08-03 18:08] #4322 closed

[2022-08-03 19:05] ohiobobcat commented on #4101
I'm also interested in having the ability to natively switch out the SVG icon. Ideally, we would be able to configure it in the StyleOptions.

[2022-08-03 20:37] compulim commented on #4312
Working on this now. Confirmed it does not repro on 4.14.0 and repro on 4.15.0 (and probably more recent versions).

![image](https://user-images.githubusercontent.com/1622400/182706724-6f788069-30a8-4cc9-b1b9-fac7a4204884.png)

[2022-08-04 06:35] compulim commented on #4312
The error is caused by an invalid result was returned by the `groupActivityMiddleware`.

In the code snippet by @charliewang95, it may return `() => false`, which does not conform to the return type of `{ sender: [][], status: [][] }`.

In 4.14.0, Web Chat tolerated the invalid return value. However, in 4.15, Web Chat did not tolerate and threw exceptions.

[2022-08-04 18:10] mohmed-elkhodry opened #4382 "Directline speech issue"
## Screenshots

![image](https://user-images.githubusercontent.com/43173916/182920429-a5d6bf19-9a09-4120-a535-45f71b81eed1.png)

## Version

"botframework-webchat": "^4.15.2",
"microsoft-cognitiveservices-speech-sdk": "^1.22.0",

## Describe the bug

When I use Mic and said nothing the mic stop but getting the error and the bot stop

## Steps to reproduce

1. Go to [https://mohap-qc-webchat.azurew

[2022-08-04 21:00] charliewang95 commented on #4040
Sent out a request to do tree shaking on speech

[2022-08-04 21:12] compulim commented on #4310
I have done some experiments on how browser behave when a widget is focused, and I found Web Chat is consistent with browser behavior, which `<button>` are not scrolled into view.

This experiment is done completely outside of Web Chat and Adaptive Cards, https://github.com/compulim/experiment-horizontal-scroll-into-view/.

The "scroll focused element into view" functionality is provided by the br

[2022-08-04 21:12] #4310 closed

[2022-08-05 00:00] #4312 closed

[2022-08-05 09:35] philipverlinden commented on #1015
https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.recomposing-ui/a.minimizable-web-chat

[2022-08-05 18:01] stevkan commented on #4382
@mohmed-elkhodry - I was able to repro the issue using the link you provided. I will attempt a repro using my own setup to see if the result is the same. I also noted this only occurs if the button isn't pressed on following the 2nd prompt. If the mic button is pressed prior to the end of the 2nd dialog ("Covid 19 vaccine" option), then the issue doesn't present itself (in my tests).

Was your Web

[2022-08-05 18:32] compulim commented on #4311
Closing as external. As Prateek pointed out, this is an issue on NVDA and Narrator but not JAWS.

NVDA and Narrator did not turn off scan mode (a.k.a. browse mode) when inside the chat history.

[2022-08-05 18:32] #4311 closed

[2022-08-05 18:33] mohmed-elkhodry commented on #4382
@stevkan
First of all thank you for your replay much appreciated,
Yes i just updated my web chat from version 4.5.2 to 4.15.2 (the latest version)
and changes from cognitive service to directline speech service
Yes, it occurs with another languages.
No this error is not totaly related to this issue
I will try to downgrade the web chat ant inform the result
and I will contact company to have permis

[2022-08-07 01:36] compulim commented on #4299
Dupe of #4222.

[2022-08-07 01:36] #4299 closed

[2022-08-07 15:07] mohmed-elkhodry commented on #4382
@stevkan
I have shared the code with you via Email
Kindly check it

[2022-08-08 17:03] JonathanFingold opened #4383 "New "Bot Channel Registration" resources can't be created, use "Azure Bot" resources instead"
## Screenshots

n/a

## Version

n/a

## Describe the bug

Azure Bot Service removed the ability to create new **Bot Channel Registration** resources a while ago. All instructions that suggest or recommend creating such a resource should recommend an **Azure Bot** resource instead.

## Steps to reproduce

1. See first note under [Setup Azure Bot Services](https://github.com/microsoft/BotFramework-

[2022-08-08 17:04] JonathanFingold commented on #4383
Note: I don't have permissions to remove the two labels.

[2022-08-08 18:08] stevkan commented on #4382
@mohmed-elkhodry - I received your email and was able to get a copy of your code. I will take a look at it and let you know what I find/think.

[2022-08-08 21:12] stevkan commented on #4382
@mohmed-elkhodry - As I don't have access to your bot, can you check to see if your bot is doing something similar to what the OP posted as a cause to their related issue, https://github.com/microsoft/BotFramework-WebChat/issues/4042#issuecomment-909231433?

It's light on details, but my understanding of his comment is, if the user didn't respond, his bot was prompting the user for more input. Thi

[2022-08-09 15:51] compulim commented on #4383
Thanks @JonathanFingold.

[2022-08-09 21:34] stevkan commented on #4366
Closing due to inactivity.

[2022-08-09 21:34] #4366 closed

[2022-08-10 07:41] compulim opened #4386 "IE11: Click on Adaptive Cards should not throw exception"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/183843246-b39df95e-1f47-4756-9663-8ba19db6c9b2.png)

## Version

`4.15.3-0`

## Describe the bug

`HTMLElement.matches` needs to be vendor-prefixed to `HTMLElement.msMatchesSelector` in IE11.

## Steps to reproduce

1. Talk to MockBot
2. Type `card breakfast`
3. Click on the "Snooze" button on the card

## Expected behavior

[2022-08-10 14:03] nodueck commented on #3845
@corinagum This is still an issue for us.
@MatthiasGwiozda Do you have a good workaround?

[2022-08-10 19:59] #4386 closed

[2022-08-10 20:41] compulim opened #4388 "4.15.3 Release checklist"
# Checklist

## Build

1. [x] ~Bump MockBot to Bot Framework SDK release 4.15.3~ (not needed for patch release)
   - https://www.npmjs.com/package/botbuilder/v/latest
1. [x] ~Bump `botframework-directlinejs` to `x.y.z`~ (no newer version)
1. [x] Bump to `4.15.3`
   - [x] Update `CHANGELOG.md` to mark specific changes in `4.15.3`
   - [x] Run `npm version --no-git-tag-version 4.15.3`
   - [x] Merge