[2020-05-27 19:02] #3112 closed

[2020-05-27 19:52] UncleZen opened #3176 "[Accessibility][Screen Reader][JAWS] - Activating the focused links not working with JAWS"
OS: Windows 10
WebChat: v. 4.9.0 CDN version
Screen reader: JAWS, Narrator
Browser: MS  Edge Version 83.0.478.37, IE 11, Chrome Version 81.0.4044.138

## Describe the bug

When the screen readers in general read the content of a bubble, they do not announce the element as being a link and allow the user to press enter and navigate to Url. Activating links is possible only after tabbing back and fo

[2020-05-27 23:31] v-kydela commented on #3172
Hi @Mkurkow

Web Chat is a React component regardless of how it's hosted. The CDN provides a way to use Web Chat without worrying about its implementation or using JSX, but even the Angular sample you've seen is still using React Web Chat.

If you want to use Angular to put your own components in that Angular-hosted Web Chat, you'd have Angular components in a React component in an Angular app. An

[2020-05-28 00:40] #3129 closed

[2020-05-28 07:39] den19980107 opened #3179 "HeroCard render in IE 11 have a lot of space at bottom"
![webchat issue](https://user-images.githubusercontent.com/23033004/83112855-59ac8200-a0f9-11ea-9cad-072f7e641754.PNG)

[2020-05-28 15:45] cwhitten opened #3180 "Add additional events to telemetry api"
button clicks and additional events

[2020-05-29 14:53] zp1112 opened #3181 "how to subscribe a store.dispatch complete"
how to listen an activity was sent,because I want to refetch token after I send an end activity,but it seems that the new sessionid replace the old sessionid that was used to send en end acticity. like this:
[code]

[2020-05-29 18:19] #3181 closed

[2020-05-29 18:23] gabog commented on #3174
Hi, this seems to be related to [this issue in chromium](https://bugs.chromium.org/p/chromium/issues/detail?id=1067257), are you able to reproduce the problem in Firefox? If not, we will need to wait for the chromium fix to address it.

Let us know how it goes with firefox.

Thanks

[2020-05-29 18:30] compulim commented on #3179
There is a bug in IE11 that an oversized image will be taking up unnecessary space.

Can you make sure the image is properly scaled?

[2020-05-29 18:39] compulim commented on #3176
Thanks for reporting. I think we need to look at all `aria-hidden="true"` and make sure they are not overused. In this case, the Markdown content is being hidden from screen reader, which we should not.

![image](https://user-images.githubusercontent.com/1622400/83293548-c595f580-a1a0-11ea-9cda-e4e8beba664c.png)

[2020-05-29 18:42] compulim commented on #3175
Thanks for reporting.

We will need to repro on our side. The `o.finally` should be `new Promise(...).finally`.

@palancana can you do me one quick favor? While you are in Angular, can you type the following code in console and see what it reported?

[code]

When I run it in Chrome, I am seeing the following screenshot:

![image](https://user-images.githubusercontent.com/1622400/83293985-671d4700-

[2020-05-29 19:22] compulim commented on #3161
As `Set` is already supported in IE11, I think we can take it out from `index-es5.ts` so we don't get "out of stack space" error in SPO.

![image](https://user-images.githubusercontent.com/1622400/83295316-9d5bc600-a1a3-11ea-8c8b-0dfe446f8811.png)

@MaximCoppieters I compared my list and your list. Your list doesn't have: `promise`, `promise/finally`, and `symbol`. And probably SPO polyfilled them

[2020-05-29 19:27] compulim commented on #3147
This is an external issue. The bug here is for tracking purpose only.

[2020-05-29 20:33] kmkaliraj opened #3182 "Manually set Suggested Actions container height and manage overflow"
Hi,
 I'm using these style for suggested actions. When the number of suggested actions are more, i want the suggested actions to be in a container with fixed height and overflow hidden with scrollable.
It looks like there are no style options to do the currently. Could you please check if this can done ?
const styleOptions = {
      suggestedActionBackground: 'White',
      suggestedActionBorder:

[2020-05-30 15:45] Harika456 opened #3184 "Oauth Prompt card not rendering in botchat.js"
Hi Team,

I am trying to authenticate the user against azure AD in chat bot using oauth prompt card.
My chat bot application is built on top of Virtual assistant template (beta version).
I am using .net core 2.1 web application in which I have integrated botchat.js and directline channel key for the bot connection inside this web application.

When tested in the emulator, the card is prompted as e

[2020-05-31 06:29] palancana commented on #3175
Yes! That's the thing!

When I run `new Promise(() => {}).finally` in the console in my Angular application, I receive `undefined`. By some strange reason, the polyfill was not getting loaded on my project. I found a way to forcefully add it, and now it's working! 🎉

So, as it looks like I'm the only one having this issue and if it can't be reproduced in another Angular project, we can close this

[2020-05-31 11:12] palancana commented on #3175
@compulim, I forked the hosting with Angular repository recommended on the [samples](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/f.host-with-angular) and after adding Cognitive Speech Services, it doesn't have the error I was having on my project. So yeah, I assume we can close this issue!

Thanks again!

[2020-05-31 11:12] #3175 closed

[2020-05-31 12:28] HesselWellema opened #3185 "Show first text-bubble at the top of chatbox"
The rendering of messages in the chatbot start at the bottom. Especially with multiple answers sent by the bot (eg a welcome menu), reading these answers feels 'unnatural' to some of the users I spoke with. This is especially the case for the first messages sent by the bot. As soon as the chatwindow fills up, the 'pain' becomes less.

Is there a way to show the first messages at the  top?

[2020-05-31 20:47] primesagar commented on #2289
MarkdownIt throw an error "ReferenceError: MarkdownIt is not defined"
How to use it then?

[2020-06-01 00:41] tdurnford commented on #2289
@primesagar I would recommend taking a look at the [Markdown It](https://github.com/markdown-it/markdown-it) GitHub repo for help implementing their Markdown renderer.

[2020-06-01 00:48] NNallamani opened #3186 "How to change the welcome message from bot."
I want to customize the bot welcome message and am using a Javascript function to integrate bot with our web application. Below is the sample code.

 window.WebChat.renderWebChat(
                {
                    directLine: window.WebChat.createDirectLine({
                        token: secretKey
                    }),
                    store: store,
                    locale: 'en-US',

[2020-06-01 02:00] den19980107 commented on #3179
this is the sample from [https://microsoft.github.io/BotFramework-WebChat/01.getting-started/c.es5-bundle/](https://microsoft.github.io/BotFramework-WebChat/01.getting-started/c.es5-bundle/)

when only show image, no space at bottom
- **only show image**
![截圖 2020-06-01 上午9 36 24](https://user-images.githubusercontent.com/23033004/83368866-ea7ea880-a3ec-11ea-9204-2037b15f8d1b.png)

but when show t

[2020-06-01 03:02] #1427 closed

[2020-06-01 03:02] #2669 closed

[2020-06-01 13:19] UncleZen commented on #3176
@compulim
Thanks for the prompt reply. Any estimates as to when this issue would be fixed?

[2020-06-01 15:43] nt-7 commented on #3186
This is not implementation on Web Chat, client-side.
So, you should change backend code of bot application that Web Chat connects using the secretKey.

You need to change the text message that is the argument of the sendActivity method.
- https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/WELCOME_MESSAGE.md#bot-framework-sdk-v4-nodejs
- https://github.com/microsoft/BotFramework-Web

[2020-06-01 16:21] tdurnford commented on #3186
'How to' questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a BotFramework implementation, you can post a question to the [BotFramework](https://stackoverflow.com/questions/tagged/botframework) tag. Thank you!

[2020-06-01 16:21] #3186 closed

[2020-06-01 16:27] tdurnford commented on #3184
@Harika456 Web Chat v3 or Bot Chat does not support OAuth Cards. Please use the latest version of Web Chat. Take a look at the [Getting Started](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started) samples for help getting setup with Web Chat v4.

[2020-06-01 17:22] vglu opened #3187 "Welcome message from React and DirectLine"
Hi

In provided example Bot not says welcome hello. If we are run it with QnA bot - we can see lame behavior. We have hot first message from bot only after send our first message.

https://microsoft.github.io/BotFramework-WebChat/01.getting-started/g.hybrid-react-npm/

Expected behavior - when we open page we should get welcome message from bot.

Browser - Chrome

Thanks

Vitaliy

[2020-06-01 17:42] vglu opened #3188 "DirectLine domain one endpoint websocket inside - standard endpoint"
Hi,

Example from https://microsoft.github.io/BotFramework-WebChat/01.getting-started/g.hybrid-react-npm/

Code from g.hybrid-react-npm\packages\chat-component\src\ChatComponent.js

DirectLine call with parameters

    useMemo(async () => {
      const domain = 'myDomain/v3/directline';
      const res = await fetch(`${domain}/tokens/generate`, {
          method: 'POST',
          headers: {

[2020-06-01 17:48] compulim commented on #3185
Currently we don't have any style options to do it.

You can consider going through [idiosyncratic styling route](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.branding-styling-and-customization/b.idiosyncratic-manual-styles) and set the CSS of following element to `flex-grow: 0`, it will make bubbles goes from top of the page.

Please do note that the idiosyncratic rout

[2020-06-01 17:50] compulim commented on #3187
This doc should answers to your question about the first message, https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/WELCOME_MESSAGE.md.

Please open a new issue if it don't, we will address the doc accordingly.

[2020-06-01 17:50] #3187 closed

[2020-06-01 17:55] compulim commented on #3188
The Web Socket URL is a value from the /v3/directline/conversation call:

[code]

For client without Internet access, you can also consider using [Direct Line App Service Extensions](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension?view=azure-bot-service-4.0), which is targeting this type of users.

[2020-06-01 17:55] #3188 closed

[2020-06-01 17:57] vglu opened #3189 "SSR React hydrate not supported by ReactWebChat"
Hi,

React Chat component (standard example)

[code]

If we trying to use `React hydrate` we have got list of errors:

1) react-film\lib\browser.js:7

[code]

2) botframework-webchat-component\lib\Utils\TypeFocusSink\getTabIndex.js:7

[code]

3) botframework-webchat-component\lib\Composer.js:477

[code]

4) botframework-webchat\lib\index-minimal.js:98

[code]

5) web-speech-cognitive-services\lib\

[2020-06-01 17:58] HesselWellema commented on #3185
thank you @compulim. I will give it a go. I understand the weaknesses of this route

[2020-06-01 18:09] compulim commented on #3185
Thanks @HesselWellema.

BTW, when I wrote this `<div>`, I think someone will actually ask this question. Finally. 😁

I am always excited to see how developers turn Web Chat up-side-down and snap it into pieces. 😉

[2020-06-01 18:26] tracyboehrer commented on #3168
@compulim William, can you describe the new gzip capabilities?  Maybe this will help the customer.

[2020-06-01 18:28] HesselWellema commented on #3185
No luck this time. I added some custom css in stead of the idiosyncratic styling. As a result, the sendbox (.main) moved to the top 😕. I am working from the minimizable webchat sample (react implementation).

[2020-06-01 18:40] compulim commented on #3185
On my screenshot, the send box is at below. Can you confirm you modify the correct `<div>`? It should be the previous sibling of `<ul>`.

[2020-06-01 18:46] HesselWellema commented on #3185
![image](https://user-images.githubusercontent.com/23032884/83442760-00ba5200-a449-11ea-9cde-dba659248b39.png)

[2020-06-01 19:02] compulim commented on #3185
When I try to modify the "minimizable" sample, it works, https://microsoft.github.io/BotFramework-WebChat/06.recomposing-ui/a.minimizable-web-chat/.

![image](https://user-images.githubusercontent.com/1622400/83444053-a6e16a00-a3ff-11ea-8472-7a6a2015eaa6.png)

[2020-06-01 19:12] HesselWellema commented on #3185
Ok. So just adding it in css or teh DevTools does not do the trick 😉 I really need to use this createStyleset approach. I will do that. Thanks for your time and help 👍

[2020-06-01 19:14] compulim commented on #3168
Thanks @tracyboehrer for the tips.

Starting from Web Chat 4.9.0, we have updated the CDN (and its deployment script). It will serve gzipped bits if the browser support it (i.e. sending the `Accept-Encoding: gzip` header, which most browsers do.)

The URL is still the same, https://cdn.botframework.com/botframework-webchat/4.9.0/webchat.js. And it is a CDN service provided by Azure, serving custom

[2020-06-01 19:29] #3185 closed

[2020-06-01 21:16] 007-fr opened #3191 "FeedBack buttons not working in WebChat"
After implementing the Bot Framework Feedback in the link shown below, the feedback buttons(positive, negative, dismiss) don't work in the webchat. The buttons work in the Bot Framework emulator though:
https://github.com/microsoft/botframework-solutions/blob/next/samples/csharp/assistants/enterprise-assistant/VirtualAssistantSample/Feedback/FeedbackOptions.cs

The error that is thrown is attached

[2020-06-01 23:47] stevkan commented on #3182
The Microsoft Bot Framework  Web Chat team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework-WebChat Github](https://github.com/Microsoft/BotFramework-WebChat/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

-----------------------

Hi @kmkaliraj,

[2020-06-02 05:00] agriniex opened #3192 ""Send failed. Retry." button does not disappear after retrying activity multiple times"
If "Send failed. Retry" option appears for some message as an user I would expect that this option disappears right when I click retry. However, I am able to press retry multiple times and send multiple messages with identical text. Added a gif below where I used offline mode to simulate direcline issues and make retry button to appear:

![afX8dNfucD](https://user-images.githubusercontent.com/2279

[2020-06-02 08:41] HesselWellema commented on #3185
@compulim . Would you mind sharing the code you used to modify the "minimizable" sample like you mentioned above? I checked all customizable elements that are customizable via  idiosyncratic styling but wasn't able to find one to customize the flex-grow property of the css-mfy564 class.

[2020-06-02 12:17] 007-fr commented on #3191
Disregard. We were using the 4.2.0 version of webchat-es5.js . It was last supported version for IE. After linking to the latest es5.js file, it is working fine.

Closing ticket.

[2020-06-02 12:17] #3191 closed

[2020-06-02 17:43] v-kydela commented on #3189
@vglu - Hello and thank you for the post.

Can you explain what you mean when you say "React hydrate"? Are you calling `ReactDOM.hydrate()` somewhere? In any case, please show the code where you're using React hydrate so that we can try to reproduce the problem.

It's also unclear why you think the errors you've posted are related to React hydrate. Are you saying the code that is throwing those er

[2020-06-02 18:25] tracyboehrer commented on #3131
@saikiran521 Did you determine the cause of the problem?  Do you still need our help?

[2020-06-02 19:15] corinagum commented on #3192
This is an important feature to add. I'm adding it to our triage list, and since we're having a planning meeting soon we'll hopefully be able to add a timeline to this feature/bug.

@DesignPolice, after the 'Retry' button is clicked, what if any dialog/icon would we want to show here? 'Resending...' and then once that succeeds, 'Resent'?

[2020-06-02 20:08] tdurnford commented on #3192
In version 4.7.1 and older versions of Web Chat, when the user clicked 'Retry,' the activity status would change to 'Sending...,' and if the activity was sent successfully to the bot, the activity status would change to the timestamp; otherwise, it would show the retry option again. I'm not sure why the retry button started rendering a new activity in the transcript without removing the old one. I

[2020-06-02 22:03] corinagum commented on #3182
@kmkaliraj you are correct; right now there is no way to style the suggested actions container with style options, so setting a manual height is not currently possible.

This is a feature request that will have to be triaged with our team.

As a workaround, I recommend using idiosyncratic styling to make changes to the suggested actions container.

brainstorming new options to add:

[code]

I'll a

[2020-06-02 22:07] corinagum commented on #3192
oops, you're right. I'm removing enhancement since this is indeed a bug.

@compulim, please chime in and I can reassign to myself for further investigation.

[2020-06-02 22:21] DesignPolice commented on #3192
okay that makes sense... I will make sure we look at it as part of the refresh though, that is pretty tough click target, when Eyal gets back.

[2020-06-02 23:47] tdurnford commented on #3189
@v-kydela @vglu  I think the issue is that Web Chat makes references to browser interfaces such as `window`, `document`, and `navigator` which are not available in Server Side Rendering (SSR).  Web Chat will have to add additional logic around these global variables throughout the code base to support SSR.

[2020-06-03 01:09] v-kydela commented on #3172
@Mkurkow - Are you still working on this?

[2020-06-03 08:19] shanugit commented on #465
Hi @compulim,

The issue is there even after typing indicator is working.

<img width="426" alt="send failed after 15 sec" src="https://user-images.githubusercontent.com/33753797/83612624-45a4cc80-a5a0-11ea-8b97-4d259599e09f.PNG">

"botbuilder-ai": "^4.9.0",
"botbuilder-azure": "^4.6.2",
"botbuilder-dialogs": "^4.8.0",
"botbuilder-solutions": "^4.4.9",

Botframework v4, Typescript.

How to fix thi

[2020-06-03 10:32] vglu commented on #3189
Hi @v-kydela
@tdurnford absolutely right.

For example ... I want to use SSR with React component and express ...

index.js something like this

[code]

App with call ReactComponent

[code]
ChatComponent - example from examples folder

[code]
In this case - I'll try to generate component on server side and server side has no window, browser, nav .... elements.

For my opinion - we should notice un

[2020-06-03 10:40] vglu commented on #3188
Hi @compulim

Direct Line App service Extension.
First of all - thank you for your advise - I really appreciate it.
Let me detail explain my plan.
I have got standard

1 QnA service
2 Published bot from QnA service (without any changes)
3 One intranet page call DirectLine with  `domain = 'myDomain/v3/directline`
4 One nginx proxy server with rules to redirect myDomain to Azure bot service

Just on

[2020-06-03 11:03] vglu opened #3195 "DirectLine welcome message from standard bot and examples"
Hi,

Author ask me to open new issue if I have got something new
This is continue for
https://github.com/microsoft/BotFramework-WebChat/issues/3187#event-3394224413

I have got standard QnA maker setup. Publish bot to azure. Add DirectLine channel.

download https://github.com/Microsoft/BotBuilder-Samples.git

go to samples/javascript_es6/70.styling-webchat

setup my secret

[code]

run `npx serve

[2020-06-03 11:52] saikiran521 commented on #3131
@tracyboehrer I am still facing the issue. Help for this scenario handling will be appreciated

[2020-06-03 11:59] Harika456 commented on #3184
Thanks Ford !
I will look into the latest webchat version

[2020-06-03 16:59] compulim opened #3196 "[Accessibility] Card with tapAction cannot be executed thru ENTER/SPACEBAR"
## Version

`master` branch.

## Describe the bug

On a card with `tapAction` set, after <kbd>TAB</kbd> into the card component (root container), pressing <kbd>ENTER</kbd> or <kbd>SPACEBAR</kbd> key should execute the card.

## Steps to reproduce

1. Talk to MockBot
1. Type `receiptcard`
1. Press <kbd>TAB</kbd> key to move the focus to the card container
1. Press <kbd>ENTER</kbd> or <kbd>SPACEBAR<

[2020-06-03 17:08] #1340 closed

[2020-06-03 17:42] vglu commented on #3195
Hi @tdurnford
Thank you for your answer and link. With BotFramework-WebChat\samples\04.api\a.welcome-event works fine :),
Thank you for your patience.

[2020-06-03 17:42] #3195 closed

[2020-06-03 17:46] vglu opened #3198 "DirectLine domain one endpoint websocket inside - standard endpoint"
Hi

Original ticket was closed, but I sill have questions ...

_Originally posted by @vglu in https://github.com/microsoft/BotFramework-WebChat/issues/3188#issuecomment-638112705_

Direct Line App service Extension.
First of all - thank you for your advise - I really appreciate it.
Let me detail explain my plan.
I have got standard

1 QnA service
2 Published bot from QnA service (without any chang

[2020-06-03 22:25] #3196 closed

[2020-06-03 23:21] compulim opened #3199 "Using `adaptiveCard.selectAction` instead of `onClick`/`onKeyPress`"
https://github.com/compulim/BotFramework-WebChat/blob/575c91a5262324e846608db14cbc12e2599b70fd.buddy2/packages/bundle/src/adaptiveCards/Attachment/AdaptiveCardRenderer.js#L238-L238

[2020-06-03 23:41] compulim commented on #3137
Potentially fixed in #3193, will verify.

[2020-06-03 23:41] compulim commented on #3135
Fixed in #3150.

[2020-06-03 23:41] #3135 closed

[2020-06-03 23:42] compulim commented on #3136
Fixed in #3150.

[2020-06-03 23:42] #3136 closed

[2020-06-04 00:23] stevkan commented on #3173
@shanugit, thank you for your patience. Per the Web Chat [docs](https://github.com/microsoft/BotFramework-WebChat/blob/88f96f4ece58dcf802b8344388db901977c44b0a/docs/ACTIVITYTYPES.md#what-activity-types-does-web-chat-support), conversationUpdate is only "sent between the bot and the channel. The channel does not send these events to Web Chat." So, unfortunately, there is no way to append user detai

[2020-06-04 00:23] #3173 closed

[2020-06-04 03:02] compulim opened #3201 "[Accessibility] Text read repetitively on Android Chrome and TalkBack"
## Version

`master`

## Describe the bug

This is related to a bug on Android Chrome.

https://issuetracker.google.com/issues/157888765

## Steps to reproduce

(Please see the Issue Tracker bug)

## Expected behavior

When reading the transcript, TalkBack should only talk once for every entry.

## Additional context

[Bug]

[2020-06-04 06:53] akamwand opened #3202 "Add Custom Background Image to Webchat Using StyleSet"
I have been trying to add a custom background image to the webchat window using StyleSet, however, I've had no luck using styleSet as so:

`styleSet.activities = {
...styleSet.activities,
backgroundImage: "url('myURL')" } `

While I realize styleSet may break with WebChat updates, I am just curious whether adding a background image to webchat is possible, and how so if it is?

[2020-06-04 12:32] compulim opened #3203 "[Accessibility] New messages button are not read when focus on it"
## Version

`master`

## Describe the bug

When we <kbd>TAB</kbd> on the "New messages" button, no content is read.

This is because the button parent has `role="separator"`, and it is has a special flag called "presentational children". That means, all descendants will have `role="presentation"` automatically assigned to it and cannot be overridden.

We need to turn the separator into a button in

[2020-06-04 18:07] v-kydela commented on #3172
Closing due to inactivity.

[2020-06-04 18:07] #3172 closed

[2020-06-04 18:26] corinagum commented on #3201
Same with Internet Explorer and iOS

[2020-06-04 19:57] stevkan commented on #3202
@akamwand, presently `backgroundImage` isn't a supported property in either `styleSet` or `styleOptions` (reference [here](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/component/src/Styles/StyleSet/Root.js)). If you feel this should be added as a feature, you can suggest it as a [feature request](https://github.com/microsoft/BotFramework-WebChat/issues/new?assignees=&labe

[2020-06-04 19:57] #3202 closed

[2020-06-05 00:08] compulim opened #3205 "Support Direct Line App Service Extension protocol"
## Feature Request

Add support of Direct Line App Service Extension protocol, according to https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension?view=azure-bot-service-4.0.

[Enhancement]

[2020-06-05 00:17] #3203 closed

[2020-06-05 00:26] compulim opened #3207 "Update docs.microsoft.com for Direct Line App Service Extension"
## Feature Request

- Update https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-webchat-client?view=azure-bot-service-4.0
   - You can copy sample code from https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/i.protocol-direct-line-app-service-extension
- Typo in page title, "WebChat" should be "Web Chat"
- First version

[2020-06-05 00:27] compulim commented on #3137
Verified and is fixed in #3193.

[2020-06-05 00:27] #3137 closed

[2020-06-05 08:18] sazarghani opened #3208 "[HTML/CSS]Drop-down menu style in AdapativeCards is not configurable enough"
# Platform

* .NET HTML
botframework-directlinejs

# Version of SDK

"Microsoft.Bot.Builder.Integration.AspNet.Core" Version="4.8.0"
"botframework-directlinejs": Version="0.11.6",

# Summary
The select/option method used by directlinejs to represent the drop-down items of AdaptiveCards is not the best choice for styling using CSS. One cannot change the hover style of items uniformly for all web br

[2020-06-05 15:37] manish-95 opened #3209 "Microphone not turning on, even though the input hint is expectingInput - related to #3357"
## Version

**Version**: 4.8.0
**Source**: CDN

## Describe the bug

In my Bot code, I am setting the speak property to true with each activity in the ChannelData as `activity.ChannelData = new {speak = true};`
Although this is enabling the Text to Speech output on WebChat even if the interaction with the Bot was via text and not speech , the microphone does not get turned on in case of a Prompt w

[2020-06-05 15:48] huski1017 opened #3210 "Emoticon picker option"
Hi,

After experimenting with the javascript integration, I noticed that markdown-it-emoji is the only option to make emoticons available in an unfriendly way for users.

My request is to add the option to display an emoticon picker next to the send button as visible down bellow.
![image](https://user-images.githubusercontent.com/12410841/83896152-fdc6a680-a753-11ea-8208-c62afef7d7dc.png)

The way

[2020-06-05 16:35] compulim opened #3211 "Remove secret from the Angular sample"
## Feature Request

Remove mentions of secret from the Angular sample.

![image](https://user-images.githubusercontent.com/1622400/83901562-cfbf7300-a70f-11ea-95a4-50d12f1a96f8.png)

[Enhancement]

[2020-06-05 19:03] v-kydela commented on #3208
@sazarghani - Thank you for the feedback. If you would like to raise an issue with DirectLineJS, the DirectLineJS repo is here: https://github.com/microsoft/BotFramework-DirectLineJS

This doesn't appear to have anything to do with DirectLineJS, however. DirectLineJS doesn't know anything about Adaptive Cards so it's certainly not in charge of rendering them. Web Chat does know about Adaptive Card

[2020-06-05 19:03] #3208 closed

[2020-06-05 21:23] compulim commented on #2928
This one should already be done recently on accessibility push.

Need to verify all behaviors mentioned are delivered.

[2020-06-05 21:35] compulim commented on #3048
Confirm with Omnichannel team if this is still a requirement.

If not, close this one.

[2020-06-05 21:49] compulim commented on #2958
@corinagum please find the Stack Overflow link and close this.

[2020-06-06 09:53] compulim opened #3212 "Bucket for platform-independent work"
# Background

Today, Web Chat assumes it is running on a browser.

Tomorrow, we want to separate out platform-dependent features into separate packages.

That means, we want to enable:

- Server-side rendered React
   - No `window` object, no `fetch` on initial render, etc
- React Native
   - No `window` object
   - No Node.js libraries, e.g.
      - `jsonwebtoken` depends on `stream`, which is re

[2020-06-06 18:11] Amintasn opened #3213 "Speech Service Token Duration Extension Issue"
## Version
Webchat: V4.8.0
CDN: https://cdn.botframework.com/botframework-webchat/latest/webchat.js
Botframework: V4

## Describe the bug
I need to keep a Speech Service alive for a long period of time.
Speech Service tokens last 10 minutes by default.
Hence a service duration extension is required which requires a new token.
I'm trying to adapt the following sample code available at https://githu

[2020-06-07 16:21] dnyati commented on #2617
Hi ,

![Hero Card Buttons](https://user-images.githubusercontent.com/30656669/83974163-cfd69300-a908-11ea-8a7d-e31bedbdbcad.jpg)
           Thanks for the response this is very helpful & sorry for late reply as busy with other projects.  I tried above example but when I make change it continuously goes in connecting mode & bot does not start. If I remove store it works well.  I have attached my fi

[2020-06-07 18:06] Amintasn commented on #3213
Sorry. The token is actually changing. BTW, is the source code for https://webchat-mockbot.azurewebsites.net/speechservices/token available somewhere? Thx

[2020-06-08 07:03] collegewap commented on #850
If someone is still facing the issue, you might be using an older version of bot framework
Passing wakermark with websocket = true was fixed in the following PR:
https://github.com/microsoft/BotFramework-DirectLineJS/pull/96

May be try bumping up the version:
https://github.com/microsoft/BotFramework-WebChat/pull/1842

[2020-06-08 07:24] xieofxie opened #3214 "https://webchat-sample-obo.azurewebsites.net/ is no longer available"
## Screenshots

## Version

## Describe the bug

## Steps to reproduce

1. Go to https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/07.advanced-web-chat-apps/e.sso-on-behalf-of-authentication
1. Click on 'Try out MockBot'

## Expected behavior

## Additional context

[Bug]

[2020-06-08 07:43] xieofxie opened #3215 "SSO - Cannot read property 'postMessage' of null"
## Screenshots

## Version

## Describe the bug

This line https://github.com/microsoft/BotFramework-WebChat/blob/270a1d41653c7253fbe87c8e881d04e5ce0cb365/samples/07.advanced-web-chat-apps/e.sso-on-behalf-of-authentication/rest-api/src/utils/createHTMLWithPostMessage.js#L2 should be window.postMessage (https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage)

## Steps to reproduce

1.

[2020-06-08 13:53] #3205 closed

[2020-06-08 14:49] compulim opened #3216 "4.9.1 Release checklist"
# Checklist

## Build

1. [ ] Bump to Bot Framework SDK release 4.9.2
   - ~https://botbuilder.myget.org/feed/botbuilder-v4-js-daily/package/npm/botbuilder~
   - https://www.npmjs.com/package/botbuilder/v/4.9.2
1. [ ] Update `CHANGELOG.md` to mark specific changes in `4.9.1`
1. [ ] Run `npm version --no-git-tag-version 4.9.1`
   - [ ] Merged into `master`, the PR number is #XXX
   - Commit is `XXX

[2020-06-08 15:36] compulim opened #3217 "[Markdown] The link should have rel="noopener noreferrer""
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/84050584-c5e17e00-a962-11ea-8f9f-beabf17b1acd.png)

## Version

`master`

## Describe the bug

In our Markdown engine, we added `rel="noopener noreferrer"`, but it is not showing up in HTML.

![image](https://user-images.githubusercontent.com/1622400/84050622-d0037c80-a962-11ea-9ed1-5d6f3cd25e6f.png)

## Steps to reproduce

[2020-06-08 15:50] compulim commented on #3214
@tdurnford can you take a look at this?

(Side note: if you need to re/build your CI/CD pipeline, our MockBot v2 is using GitHub Actions to deploy to Azure Web Apps via a mechanism called "ZipDeploy". I am okay if you have a different mechanism. 😉)

[2020-06-08 15:54] compulim commented on #3215
@tdurnford this one is also for you. 😉

[2020-06-08 16:24] samaea opened #3218 "minimizable-web-chat sample does not persist conversation state"
Hi all,

Issue:- In the sample [minimizable-web-chat](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.recomposing-ui/a.minimizable-web-chat#completed-code) it states that the "conversation state is preserved". However, upon refreshing the page the conversation history is lost and a new conversation id is generated each time.

Expectation:- For the conversation state to per

[2020-06-08 16:24] samaea commented on #3218
FYI @corinagum  :)

[2020-06-08 16:56] corinagum commented on #2958
https://stackoverflow.com/questions/59382809/adaptivecards-hostconfig-integration

[2020-06-08 16:56] #2958 closed

[2020-06-08 17:02] corinagum commented on #2675
Blocked by SDK changes.

[2020-06-08 18:09] corinagum commented on #3218
@samaea Thanks for filing. As we discussed in chat, I am adding this to our investigation list as a sample bug. We'll use this issue for future updates.

[2020-06-08 18:09] corinagum commented on #3218
@compulim I believe you did the refactor for this one. Do you have insight?

[2020-06-08 18:11] a-b-r-o-w-n commented on #3210
@huski1017 Thanks for the feature request. This is currently not scheduled on our roadmap, but we will be looking to work on this later in the year.

[2020-06-08 18:15] a-b-r-o-w-n commented on #3209
@manish-95 The `inputHint` attribute exists on the activity, not the channel data. Try setting it on the activity instead.

If this does not work, please let us know and we will track this issue as a bug.

[2020-06-08 18:20] manish-95 commented on #3209
@a-b-r-o-w-n Hi, As mentioned in the repro steps, the inputHint is indeed set in the Activity, not the ChannelData. The ChannelData property for speak is to get the Bot to use TTS and voice out the message. Since the inputHint was set in Activity properties, the issue still holds good.

[2020-06-08 18:28] a-b-r-o-w-n commented on #3209
Sorry I missed that. We have work on our roadmap for the next couple of releases to polish the speech UX. We will address this as part of that effort. Thanks for the report.

[2020-06-08 18:34] manish-95 commented on #3209
Thank you. I know that in previous releases, the mic would only get activated if the previous interaction was via speech input. Will there be an update in this behaviour, to consider the inputHint and channelData properties, while handling the activation of the mic ?
 I would be very interested in that feature since it is something that we've been sorely missing in our use-case of the Bot Framewor

[2020-06-08 18:49] ckkashyap commented on #3198
Hi @vglu,
I noticed that William mentioned in the [original issue](https://github.com/microsoft/BotFramework-WebChat/issues/3188#issuecomment-637014533) that the websocket url is determined by what is returned from the call to  /v3/directline/conversation . As you can see, it has the complete URL wss://directline.botframework.com/v3/directline/conversations/ . Does that not address your question a

[2020-06-08 20:16] vglu commented on #3198
Hi @ckkashyap
I have clients without internet access. For that client I can pass `my_intranet_domain` (this domain - my local network address with proxy) and setup proxy server to redirect all request to azure. My client got token successfully, got message successfully, but they got wss://directline.botframework.com/v3/directline/conversations/ instead wss://my_intranet_domain/v3/directline/conver

[2020-06-08 20:19] lakshyanits opened #3221 "How to Securely Integrate WebChat/Directline in SharePoint Online"
Trying to deploy a bot developed in MS bot framework v4.0 on SharePoint online page. Users need to login to SharePoint to access the bot, therefore, can't add an authentication at bot level as users have to login twice that will result in poor user experience.

Integration is done with the help of token fetched by calling Web Chat Bot connector API with Web Chat channel 'Security Key'. Followed Op

[2020-06-08 20:54] ckkashyap commented on #3198
Got it. This would require some time to address. If this is a pressing issue, you could have it fixed in [directline.js ](https://github.com/microsoft/BotFramework-DirectLineJS/blob/55f1e5ee260ccb8d13a624281233436dfab006f8/src/directLine.ts#L922) Instead of using the streamUrl directly, you can replace the host part with whatever is in the "location". Please let me know if you need help with using

[2020-06-08 21:15] corinagum commented on #3182
This will at the very least need further 'react-film' support to allow flipper buttons to navigate through the stacked layout. I filed a feature request on that project: https://github.com/spyip/react-film/issues/50

This feature request is blocked until 'react-film' has been updated.

[2020-06-08 21:30] vglu commented on #3198
@ckkashyap
Thank you! :) I'm using now option 'useSocket=false' like workaround. Absolutely fine to me waiting for Wednesday.

Regards,
Vitaliy

[2020-06-08 21:42] 1Copenut commented on #3147
@compulim Do I need to refile this issue elsewhere, perhaps with the CDC?

[2020-06-08 21:47] ckkashyap commented on #3198
Hi Vitaliy,
I have a quick question - why are you not setting the proxy server in the system settings? This way, all network traffic would be routed to the proxy server and you dont have to explicity change the domain to my_intranet_domain.
Regards,
Kashyap

[2020-06-08 21:56] corinagum opened #3222 "Import various Web Chat-owned external packages as internal packages"
- 'react-say',
- 'react-film'
- 'react-scroll-to-bottom'
- various adapters

I'm sure I'm missing other packages, so feel free to comment and I will add to the list.

Right now, Web Chat has a multitude of packages that are created by Web Chat developers (exception being 'react-film'), but are not under the team's jurisdiction. They need to be moved into internal packages on Web Chat, the reasons

[2020-06-08 21:59] ckkashyap commented on #3156
Hey @Bradrajkumar ,
It is not possible to generate a new token with a conversation ID that was in an expired token.
Ideally, you need to host a token server which generates a token  in exchange for a secret. Please let us know if you need more information on setting up a token server.
Regards,
Kashyap

[2020-06-08 22:06] #3217 closed

[2020-06-08 22:37] compulim opened #3223 "Card action should open in new window with "noopener" and "noreferrer""
## Version

`master`

## Describe the bug

When click on a card to execute the `openUrl` card action, the URL must be open on a new tab with `noopener` and `noreferrer` set.

When #2892 is being implemented, it should tell Web Chat the `windowName` and `windowFeatures`.

## Steps to reproduce

1. Type `card bingsports`
1. Click on the Seahawk logo

## Expected behavior

It should open the URL in a

[2020-06-08 22:50] compulim commented on #2892
## Implementation details

- A function should be used to determine whether the URL is local or not
   - The function will be used across both Markdown (generate `<a>`) and card actions (Adaptive Cards, hero card, suggested actions, etc)
- The function should return structure similar to `{ rel: 'noopener noreferrer', target: '_blank' }`
   - This structure will be translated to `window.open` for c

[2020-06-08 23:02] Amintasn commented on #3213
Thanks. I found a sample token generator code at https://github.com/compulim/BotFramework-MockBot/blob/master/src/index.ts#L134 and managed to adapt it to my application. So I will be closing the case. Cheers.

[2020-06-08 23:02] #3213 closed

[2020-06-08 23:39] vglu commented on #3198
We have big manufacture. Our first goal - this is QnA. Too many instructions
 and questions ... From 600+ our users only 200 has internet connection, all others - we don't want to allow internet connection, only intranet. Your question - why we don't want setup `wss://directline.botframework.com/v3/directline/conversations` on our proxy to allow works directly ...  - this is option, and we are thi

[2020-06-08 23:56] kmkaliraj commented on #3182
@corinagum. Thank you for the update.  It will be great if we are given options to limit the number of suggested actions to be shown in a container with overflow hidden and scrollable.

[2020-06-09 01:26] compulim opened #3225 "Support allowed scheme with openUrl card action"
## Feature Request

In the Markdown/sanitize engine, we whitelisted a list of URL schemes.

But on card actions (e.g. Adaptive Cards, hero card, suggested actions, etc), we did not whitelist the URL scheme.

We should whitelist both Markdown and card action with the same list of schemes allowed.

[Enhancement]

[2020-06-09 04:41] compulim commented on #3221
For token exchange (option 1), the operation should be done on the server, not in the browser. When it's done on the server, the secret only live in the server and never get exposed.

We are not expert on SharePoint. For user identity on SharePoint, regardless it is Web Chat or other add-in, you can start from this documentation, https://docs.microsoft.com/en-us/sharepoint/dev/sp-add-ins/get-user-

[2020-06-09 05:35] laghim opened #3227 "reassignment of a const variable"
## Screenshots
![image](https://user-images.githubusercontent.com/22259701/84109363-32c04b00-aa2b-11ea-8fb1-038cae542480.png)

## Describe the bug

Hi, just wanted to point out a small issue in ___tests__/clockSkew.js_.
There is a const defined variable "activityObservers" which is then reassigned. See screenshot.
Thanks!

[Bug]

[2020-06-09 10:21] nfreear opened #3228 "Configure a Chat-bot to speak (TTS), before it is spoken to"
Hi,

Note, we're a Microsoft '_AI for Accessibility_'-sponsored project (_ADMINS_).

We're developing a speech-enabled Chat-bot, using a hybrid '`ponyfill`' -- Azure Cognitive services for speech recognition (STT), and Directline (browser) for synthesis (TTS).

## Screenshots

`n/a`

## Version

We're using the latest build of `webchat.js` via CDN (currently _4.9.0_) (https://cdn.botframework.com/

[2020-06-09 14:21] sudip2805 opened #3229 "How to apply NubOffset and NubSize to adaptivecards or hero card?"
Hi,
Could anyone suggest, how to apply NubOffset and NubSize to adaptivecards or hero card in SDK4 botframework. Help from any one will be appreciable.

Thanks in advance

[2020-06-09 16:31] samaea commented on #3218
Got this working by leveraging the code snippet here https://github.com/microsoft/BotFramework-WebChat/issues/2396#issuecomment-530931579 and @tdurnford's amazing help!

1. Navigate to the MinimizableWebChat file:- https://github.com/microsoft/BotFramework-WebChat/blob/master/samples/06.recomposing-ui/a.minimizable-web-chat/src/MinimizableWebChat.js

1. Replace

`  const handleFetchToken = useCall

[2020-06-09 16:34] corinagum commented on #3218
Thanks @samaea and @tdurnford :) Assigning back to myself for the fix.

[2020-06-09 16:37] samaea commented on #3218
Sorry, just fixed the code rendering snippet issue :)

[2020-06-09 16:43] #3223 closed

[2020-06-09 17:32] v-kydela commented on #3229
Thank you for the question, @sudip2805

We do prefer to have how-to questions asked on [Stack Overflow](https://stackoverflow.com/questions/ask) instead of GitHub. This reaches a larger audience, allowing more people to possibly answer the question and more people to be helped by the answer. If you use the [`botframework`](https://stackoverflow.com/questions/tagged/botframework) tag then my team w

[2020-06-09 18:05] a-b-r-o-w-n commented on #3228
@compulim Is this possible today or is there a workaround?

[2020-06-09 18:07] a-b-r-o-w-n commented on #3227
@laghim thanks for the issue report. Would you be open to submitting a PR fixing this?

[2020-06-09 18:12] laghim commented on #3227
hi @a-b-r-o-w-n, sure I will open a PR and fix this. thanks!

[2020-06-09 19:10] #3227 closed

[2020-06-09 20:01] #3225 closed

[2020-06-09 20:04] compulim commented on #3229
Adaptive Cards are *attachment* and is not a message bubble. Thus, bubble nub do not applies to them.

Attachment is not something "mentioned" by the user, but something "attached along side with the mentions".

[2020-06-09 20:04] #3229 closed

[2020-06-09 21:26] corinagum commented on #3182
My plan for the scrollbar was to allow the user to specify the height of the suggested action container. This provides the ability to set sizes via calculation, rather than adding extra properties to parse and set.

In your scenario, the result is that the user can set the height of the suggested actions container to be 2 buttons + padding.

Does this work for you?

[2020-06-10 05:24] pwilliams2020 commented on #3110
Hi.

I am facing the same issue and it is a customer requirement. Is there any update on this ?

[2020-06-10 06:55] grimz11 commented on #1453
@gitbash-basher
The ShowTypingIndicator won't show when you call it in the stepContext.Context, any idea?

[2020-06-10 10:25] compulim commented on #3228
It's not possible today. Most browsers block media playback until the user click/tap/type on the page. So we will need to have a splash screen for user to "unmute" the browser. You can find the code to "prime" the browser by searching in our codebase for the keyword `prime`. And you will need to test it on all (7) browsers that support media playback separately, as the behavior varies between brow

[2020-06-10 10:25] #3228 closed

[2020-06-10 19:42] compulim opened #3232 "4.9.1 Post-release checklist"
These are chores that we should do before starting the cycle to reduce ripple effects if we do it in mid-cycle.

Tips:

- Clean your repo before start
- Remove node_modules from all folder
   - `git clean -fdx`
- Never delete `package-lock.json	`
- If you mess it up, tableflip and redo
- In `component/package.json`
   - Remove reference to `botframework-webchat-core` by hand-modifying `package.jso

[2020-06-10 20:04] compulim opened #3234 "React Native: Architecture work"
## Background

Provide an architectural diagram on existing packages. And a new diagram with intention to move us to React Native and reusing as much existing components as possible.

## Today

This diagram represents most of the functional components, but not every of them.

![image](https://user-images.githubusercontent.com/1622400/84329817-96856980-ab3a-11ea-8ff1-84011a9fb651.png)

## Interim

[2020-06-11 09:21] nfreear commented on #3228
Hi @compulim and @a-b-r-o-w-n,

Thank you for the quick responses. I've started looking into the [`prime`](https://github.com/microsoft/BotFramework-WebChat/search?q=prime&unscoped_q=prime)-related code.

Yours,

Nick

[2020-06-11 16:21] compulim opened #3236 "[Accessibility] Put `aria-live` region outside of transcript"
## Background

Instead of putting the `aria-live` region into the transcript, we can create another `<ul>` container with the `aria-live="polite"` and it contains **only** the screen reader text.

Since the screen reader text could be "scanned" by the user later, we can mitigate it by removing the narrating element after 2 seconds. So they can't really interact with them. 2 seconds should be enoug

[2020-06-11 17:08] corinagum commented on #3236
Great idea

[2020-06-11 17:20] compulim opened #3237 "[Accessibility] Disable accessible button using `tabIndex="-1"`"
Today, after the user `blur` on the focusing-but-disabled button, we set `disabled` attribute.

Tomorrow, we should set `tabIndex="-1"` instead. So, we don't need to set `disabled` on `blur` event, and the user will not be able to <kbd>TAB</kbd>-back to the disabled button.

[2020-06-11 17:36] arman-g opened #3238 "None of the “sha384” hashes in the integrity attribute match the content of the subresource."
## Screenshots

![img](https://user-images.githubusercontent.com/22778273/84420002-43f58d00-abce-11ea-85bf-e5d92b609da9.png)

## Version

CDN 4.9.1

## Describe the bug

Under error console it shows error with message
"Failed to find a valid digest in the 'integrity' attribute for resource 'https://cdn.botframework.com/botframework-webchat/4.9.1/webchat.js' with computed SHA-256 integrity '/uKEj+T

[2020-06-11 17:52] compulim commented on #3238
Will update them, thanks for reporting.

[2020-06-11 17:53] compulim commented on #3232
Done.

[2020-06-11 17:53] #3232 closed

[2020-06-11 18:05] a-b-r-o-w-n commented on #3159
@compulim do you have any guidance on this?

[2020-06-11 18:06] a-b-r-o-w-n commented on #3179
@compulim do we need to investigate further?

[2020-06-11 18:08] compulim commented on #3238
I have updated the SHA384 at https://github.com/microsoft/BotFramework-WebChat/releases/tag/v4.9.1.

We recently updated our bundle to be served gzipped. May be we didn't `gunzip` before calculating the SHA384.

I have updated the deployment steps and it should work correctly in the future.

[2020-06-11 18:08] #3238 closed

[2020-06-11 18:10] arman-g commented on #3238
@compulim thank you, yes it works now but I see another error under the console and I am not sure if I need to open another issue for this or not.

![img](https://user-images.githubusercontent.com/22778273/84423915-1b709180-abd4-11ea-9e2f-c16f95814a2b.png)

[2020-06-11 18:11] compulim commented on #3238
Can you open this one on [`botframework-directlinejs`](https://github.com/microsoft/BotFramework-DirectLineJS)? I think this is related to the chat adapter, than Web Chat.

[2020-06-11 18:19] arman-g commented on #3238
@compulim sure, here is the issue #287

[2020-06-11 18:39] tdurnford commented on #2928
The scroll behaviors for submitting the send box by pressing enter and clicking the send button both scroll the scroll the transcript to the bottom in the latest version of Web Chat - v4.9.1.

[2020-06-11 18:39] #2928 closed

[2020-06-11 18:44] #3182 closed

[2020-06-12 14:09] f33n3y commented on #2693
Hello,
I'm experiencing a similar issue to the one detailed above. Is there an update on this issue?
We also have the following console error which appears after clicking the oauth card to sign in:
![image](https://user-images.githubusercontent.com/10567052/84511499-839ba200-acbe-11ea-870e-df39537d7f3d.png)

[2020-06-12 14:20] ckkashyap commented on #3156
Hey @Bradrajkumar ,
Please let us know if we can perhaps have a call set up so that we could understand your use case better and offer suggestions that could work for you.
Regards,
Kashyap

[2020-06-12 16:18] compulim opened #3240 "A11y: Verify a11y behavior (external by Ryan/Sarah)"

[2020-06-12 16:19] compulim opened #3241 "OC: Chat adapter (Jun 1)"

[2020-06-12 16:19] compulim opened #3242 "IC3: 2 Web Chat side by side (Jun 1)"

[2020-06-12 16:19] compulim opened #3243 "A11y: Repetitive on Android (external by eDAD team)"
No required changes in WebChat. This is a tracking issue for an external team to fix an issue downstream (Android).

[2020-06-12 16:20] compulim opened #3244 "A11y: Adaptive Card dropdown "current"/"selected" behavior (verify by Ryan/Sarah, then circle back to AC team)"

[2020-06-12 16:20] #3244 closed

[2020-06-12 16:21] compulim opened #3245 "Turing: Extending Adaptive Cards"

[2020-06-12 16:21] compulim opened #3246 "IC3: Azure subscription for hosting CDN files"

[2020-06-12 16:21] compulim opened #3247 "OC: Scroll to message by ID (Aug 1)"

[2020-06-12 16:21] compulim opened #3248 "OC: Attachment with text"
(Confirm with IC3 team if this is needed or not)

[2020-06-12 16:21] compulim opened #3249 "OC: Text-to-emoji (Jul 15)"
## Description

Convert `:)` into 😀 while typing (a.k.a. on-the-fly).

## Investigations

- Find out what common native/web apps on the market support this feature
   - Include 1-2 Microsoft products (no more than 40% of the scenarios we studied)
   - Include 3-5 products in total
- Document out how they behave
   - How to undo the automatic emoji conversion?
      - <kbd>CTRL</kbd> + <kbd>Z</kbd>

[2020-06-12 16:21] compulim opened #3250 "IC3: Grouping avatar"

[2020-06-12 16:21] compulim opened #3251 "OC: Expose message bubble for styling (Jun 15)"

[2020-06-12 16:21] compulim opened #3252 "IC3: Set/get scroll bar position (Jun 15)"

[2020-06-12 16:24] compulim commented on #3250
Duped.

[2020-06-12 16:24] #3250 closed

[2020-06-12 16:40] compulim commented on #3240
Done.

[2020-06-12 16:40] #3240 closed

[2020-06-12 16:44] DDEfromOR commented on #3207
Closed with https://github.com/MicrosoftDocs/bot-docs-pr/pull/2187

[2020-06-12 16:44] #3207 closed

[2020-06-12 17:17] fj4870 opened #3253 "Disable Magic Code"
We have built chatbot using bot V4 with Direct line channel.
I am trying to disable the magic code functionality by following steps mentioned in the bot framework official document (https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0).

Unfortunately steps have been specified for C# and Javas script in the officia

[2020-06-12 18:15] a-b-r-o-w-n commented on #3168
@mounikac16 The options for reducing the bundle size are outlined in the documentation. If you require further optimization, our suggestion is to use the npm package with a bundler that supports tree-shaking.

[2020-06-12 18:15] #3168 closed

[2020-06-12 19:43] corinagum commented on #3249
Need to consider the fact that Ctrl Z would not be available for mobile, therefore backspace may make more sense. I'll start data collecting

[2020-06-12 20:06] carlosrsolis opened #3254 "Links in bot issue creeps up again"
Today we have started observing an issue that was reported here back in 2017.  Links added through markdown have started opening inside of the bot.

[2020-06-13 05:54] #2811 closed

[2020-06-13 05:54] #3218 closed

[2020-06-13 16:35] lorenz-haenggi-axa opened #3256 "Create a new bundle without speech features and reduce the size for bundle"
## Feature Request

**Is your feature request related to a problem? Please describe.**
we are using the newest Bundle version 4.9.1 of the Webchat because we have to customize the chat due to our branding restrictions. We are using own webcomponents with react.
Therefore we cant use the CDN Bundle.

We build using npm and deploy on our axa.ch website. The generated bundle is **now "compressed" > 5

[2020-06-13 17:34] NorbertHuethmayr commented on #622
I faced the same issue but found a solution.
In my case, I was emitting the **<meta charset="UTF-8" />** from the

metaInfo() {
    return {
      htmlAttrs: {
        lang: this.$i18n.locale
      },
      meta: [
        {
          name: "charset",
          content: "UTF-8"
        }]
}}

section of my **Vue** component.

I had to add the meta info to the template.html file and everything star

[2020-06-15 08:48] Siri311 opened #3257 "Facing Issue while establishing a connection with Web Chat 4 with SPFx"
###Description
Created a SPFx web part using react and did the npm install like below
npm install --save botframework-webchat
npm install --save botframework-directlinejs

After the imported required things and then
[code]
### Error Details
[code]

Thanks in advance

[2020-06-15 08:59] MarcelRuoff-KIT commented on #2197
Hey @compulim,
I really like your proposed functionality, as this problem also occurred in noisy Office situations with large interactive surfaces. Therefore, I would be interested if there is an update on when or whether this functionality will be implemented?

[2020-06-15 11:23] abishekreddy commented on #2383
@compulim @corinagum How do we approach this if we were rendering the webchat in an application that doesnt use React? We can pass the initial style options object as part of the renderWebChat call, but if we had to update the styles after the conversation has started, how should it be done?

[2020-06-15 17:36] v-kydela commented on #3254
@carlosrsolis - Would you kindly provide all relevant links?

[2020-06-15 18:13] vishwacsena commented on #3257
@Siri311 can you clarify what version you are on?

@compulim can you take a look and comment?

[2020-06-15 18:15] vishwacsena commented on #3256
@compulim can you take a look and comment?

[2020-06-15 18:16] vishwacsena commented on #3254
@carlosrsolis can you please provide a crisp repro or a link to your old bug so we can investigate? Thanks.

[2020-06-15 18:18] vishwacsena commented on #3169
@compulim can you take a look?

[2020-06-15 18:36] dmvtech commented on #3257
Is this just a typo in this post, or is this incorrect in your code as well?
id:this.props.context.pageContext.user.**_Eamil_**

Aside from that, this is essentially what I have setup and working:
[code]

[2020-06-15 18:56] stevkan commented on #3253
Closing as this is a duplicate question already posted in BotFramework-Services, [here](https://github.com/microsoft/BotFramework-Services/issues/222).

[2020-06-15 18:56] #3253 closed

[2020-06-16 06:25] Siri311 commented on #3257
###Version Details
###Package.json --File (dependencies)
    "@microsoft/sp-core-library": "1.9.1",
    "@microsoft/sp-lodash-subset": "1.9.1",
    "@microsoft/sp-office-ui-fabric-core": "1.9.1",
    "@microsoft/sp-webpart-base": "1.9.1",
    "@pnp/common": "^1.3.11",
    "@pnp/logging": "^1.3.11",
    "@pnp/odata": "^1.3.11",
    "@pnp/sp": "^1.3.11",
    "@types/es6-promise": "0.0.33",
    "@typ

[2020-06-16 13:29] Siri311 commented on #3257
### Code
 constructor(props) {
    super(props);
    this.state = {
      directLine: createDirectLine({
        domain:'<>',
        secret: "<>",
        webSocket:true
      }),
      store:createStore({},function(_ref){
        const dispatch = _ref.dispatch;
        return function (next) {
        return function (action) {
            if (action.type === 'DIRECT_LINE/INCOMING_ACTIVITY') {

[2020-06-16 13:53] carlosrsolis commented on #3254
@v-kydela and @vishwacsena Thanks for the answer.  we have coded a tag now that forces links to open into a new window, but as my initial post indicated, when we added links in the answers, and the user clicked on the link, it started opening inside the bot dialog, instead to opening in a new window, which was the previously observed behavior.

[2020-06-16 17:11] v-kydela commented on #3254
@carlosrsolis - We're asking you to post hyperlinks right here in your GitHub issue. We understand that you may be confused by our requests because your issue is itself about links in Web Chat, but we're not talking about those links when we ask you to post links. We want you to post links here for us to read so that we can help you.

For example, here is a link pasted into this GitHub issue: http

[2020-06-16 17:26] Siri311 commented on #3257
###Missed ReactWebChat in above comment

<ReactWebChat directline = {this.state.directLine} store={this.state.store} userId={this.user.id} userName={this.user.name} />

[2020-06-16 17:28] compulim commented on #3257
Can you check if `this.state.directLine` is undefined or an object?

`connectionStatus$` is retrieved from an object created through `createDirectLine` function.

[2020-06-16 17:36] Siri311 commented on #3257
![directLineObject](https://user-images.githubusercontent.com/40290737/84808087-cbeff280-b025-11ea-820a-c86c8fcbb49a.png)

this.state.directLine is a object, please find the attached screenshot.

[2020-06-16 17:52] compulim commented on #3257
There is a typo:

[code]

[2020-06-16 19:18] Siri311 commented on #3257
Thanks for the quick response. Issue Resolved.
Thank You William Wong.

It is not working In IE browser. is there any way to make it work in IE browser.

Thanks in Advance.

[2020-06-16 19:47] compulim commented on #3257
Can you look at this issue, https://github.com/microsoft/BotFramework-WebChat/issues/2511?

As you are on NPM, your code should already target ES5/IE11. Maybe you are missing a few polyfills, as outlined in #2511. (Please vote on the issue if it resolve your problem 😉)

For the article you referenced: to make sample code shorter and easier to read, they are written to be as lean as possible. Thus,

[2020-06-16 20:31] corinagum commented on #3249
|                       | Teams            | Skype                     | Slack                                      | WhatsApp   | Messenger              |
|-----------------------|------------------|---------------------------|--------------------------------------------|------------|------------------------|
| Undo autocorrect      | Ctrl + Z (buggy) | No                        | Ctrl + Delete;

[2020-06-16 22:30] compulim opened #3258 "Add docs on randomly-generated user ID"
Although our sample encourage best security practices, some users are not aware that disabling/skipping some code would introduce security risks.

In our sample doc, we should specifically point out that "Direct Line enhanced authentication" is highly preferred to mitigate risks.

Some texts we could use:

- Server-side randomly-generated user ID (a.k.a. DL enhanced auth) ensure it is not trivial

[2020-06-17 09:26] PaulAbloescher opened #3259 "Problems concerning idiosyncratic styling after new release (4.9.1)"
Hi,
I previously used the following code to add hover effects, border- and background-color on push-buttons and the sendBoxButton:
[code]
The font-color of the push-buttons and the sendBoxButton styling broke after the new release (4.9.1).

I wanted to ask if the quick fix that I am currently using is the current way to go?
Quick fix:
[code]

[2020-06-17 14:27] venkatx5 opened #3260 "Google Chrome : Refused to get unsafe header "x-ms-bot-id""
The webchat.js CDN reference throws error in Google chrome (Version 83.0.4103.97 (Official Build) (64-bit))
Error:
**Refused to get unsafe header "x-ms-bot-id"**

## Screenshots
![image](https://user-images.githubusercontent.com/11777507/84910324-5ee76600-b0d4-11ea-8c3f-aeae9252dc51.png)

## Version
https://cdn.botframework.com/botframework-webchat/latest/webchat.js
Adding as direct reference on t

[2020-06-17 14:28] venkatx5 commented on #3260
meta name="botframework-directlinespeech:version" content="4.9.1"
meta name="botframework-webchat:bundle:variant" content="full"
meta name="botframework-webchat:bundle:version" content="4.9.1"
meta name="botframework-webchat:core:version" content="4.9.1"
meta name="botframework-webchat:ui:version" content="4.9.1"

[2020-06-17 16:05] dmvtech commented on #3260
Related: https://github.com/microsoft/BotFramework-DirectLineJS/issues/287

[2020-06-17 17:58] compulim commented on #3256
What's your target size for gzipped JS? Our minimal bundle is 521 kB gzipped. Have you consider using code-splitting to load Web Chat on-demand?

We published `stats.json`. You can use [Webpack Visualizer](https://chrisbateman.github.io/webpack-visualizer/) to see what's inside.

Web Chat is huge because we are a very complicated UI with huge customization options. You can consider rebuilding the

[2020-06-17 18:02] vishwacsena commented on #3260
Closing as dupe. If the investigation for microsoft/BotFramework-DirectLineJS#287 leads us to believe the issue to be in webchat, then we will transfer that issue over here.

[2020-06-17 18:02] #3260 closed

[2020-06-17 18:03] compulim commented on #3189
When we work on #3212 and #3234 for React Native (which also lacks of `window` and some features), I believe we will figure this one out.

I agree we need to document that SSR is unsupported, if we don't hit it at R10 (after #3234). Hit it = a sample showing Web Chat rendered using SSR.

@vglu could you follow the bug #3212 to get more status on this work?

[2020-06-17 18:03] #3189 closed

[2020-06-17 18:05] vishwacsena commented on #3254
Closing this since this is not actionable. @carlosrsolis if you continue to see issues that you would like for the team to investigate, please use the issue template and provide relevant repro steps.

[2020-06-17 18:05] #3254 closed

[2020-06-17 18:15] compulim commented on #3259
@PaulAbloescher our DOM tree change from time to time, we try to minimize the change but it's impossible when we deal with accessibility fixes. 🙏🏻 When we work on #2988, you would have a better way to customize CSS without going to much details here.

For the `sendBoxButton`, we updated the tree, https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/component/src/Styles/StyleSet/S

[2020-06-17 18:21] compulim commented on #3131
Now I understand what you mean.

Unfortunately, currently Adaptive Cards doesn't support speech input. Thus, if the user say "submit", it don't tap the submit button for them. It just send "submit" as text to the bot.

Let me convert this bug into a feature request.

[2020-06-17 20:25] compulim commented on #3259
FYI, using `Object.assign` is too tedious sometimes, you can find some helper packages to reduce the boilerplate code. 😉

[2020-06-17 23:15] compulim opened #3261 "Sample: avatar comprehensive demo is not working"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/84960120-aca0a600-b0b5-11ea-9aae-10dced6e1e1d.png)

## Version

`master`

## Describe the bug

Navigate to https://microsoft.github.io/BotFramework-WebChat/05.custom-components/k.per-message-avatar/comprehensive.html. The page throw a JavaScript error.

Typo at https://github.com/microsoft/BotFramework-WebChat/blob/master/s

[2020-06-18 08:38] PaulAbloescher commented on #3259
Thanks for the quick response!

[2020-06-18 08:38] #3259 closed

[2020-06-18 12:06] lorenz-haenggi-axa commented on #3256
hi @compulim  - thanks for the detailed feedback about our topic.
to your questions
- I was told that it should be ~200K

i checked our stats.json and I see the following split:
- all "blue circles" are from webchat component
- all "red circles" are cognitive libraries and adaptive cards

![image](https://user-images.githubusercontent.com/62747378/85017087-3494b780-b16b-11ea-8ad5-a757085b8453.png)

[2020-06-18 12:07] lorenz-haenggi-axa commented on #3256
we also saw that the total size of the library is now 180KB larger between version 4.6 and 4.9. we have upgraded now to your latest version

[2020-06-18 14:53] varunbmallik opened #3263 "Choice Prompt not rendering as buttons for bot enabled with Direct Line Speech Channel"
## Screenshots

![image](https://user-images.githubusercontent.com/61541615/85034595-e3eb8180-b19f-11ea-9c98-fc036e0c9a55.png)

## Version

NPM node module botbuilder4.8.0

## Describe the bug
Choice prompt values are rendering as string values instead of buttons for bot enabled with Direct Line Speech channel.

## Steps to reproduce

Create a NodeJS basic bot (not echo bot)
Setup DirectLineSpeech

[2020-06-18 14:59] varunbmallik commented on #3263
Edit: Sorry for not removing the 'customer-reported' and `Bot Services' label.
Not sure how to remove it now

[2020-06-18 18:50] compulim commented on #3263
I think @stevengum has more context on this one. We talked about this a year ago.

[2020-06-18 22:15] dmvtech commented on #3257
Closing as the main issue is resolved and you have steps needed to get working in IE11.

[2020-06-18 22:15] #3257 closed

[2020-06-18 22:39] corinagum commented on #3261
Fixed in https://github.com/microsoft/BotFramework-WebChat/pull/3262

[2020-06-18 22:40] #3261 closed

[2020-06-19 08:23] Tamoormughal opened #3264 "Luis v3 query Responce"
hi every one
any body help me luis v3 response covert into c# class and suitable for all response come from luis v3 query.
thanks in advance

[2020-06-19 16:00] prashanthsridhar opened #3265 "Mic not highlighted"
## Screenshots
![image](https://user-images.githubusercontent.com/11289456/85153069-5ed19c80-b273-11ea-87e9-08ad84f48dbe.png)

## Version
4.9.1 CDN

## Describe the bug

The mic generally turns red when listening. It was doing that in 4.8.0 but now it is not.

## Steps to reproduce
click on mic icon

## Expected behavior

mic turns red
![image](https://user-images.githubusercontent.com/11289456/85

[2020-06-19 16:32] avelkoski opened #3266 "suggestedActionLayout Ignored"
## Integration

Test: http://covid19-chat-test.s3-website.us-east-2.amazonaws.com/
Production: https://www.nar.realtor/covid-19-chatbot

Example code:

            window.WebChat.renderWebChat({
              directLine: window.WebChat.createDirectLine({ token }),
              store,
              locale: 'en-US',
              botAvatarInitials: 'BOT',
              userAvatarInitials: 'YOU',

[2020-06-19 21:32] #3266 closed

[2020-06-21 21:00] xtianus79 commented on #2974
@compulim this is still an issue as the directline package is broken. This shouldn't be happening. I don't even know what rxjs-compat is. If directly line is only compaititble with a certain version of rxjs it should bring in the packages it needs for that. When people are using rxjs 6 the expectation this npm package should work.

Can you please reopen the issue.

[2020-06-21 21:04] xtianus79 opened #3267 "Directline api is broken without installing certain packages. Please address"
Here is the errors from rxjs not working

[code]

After installing rxjs-compat or I'm assuming rxjs 5.0
these are the remaining errors
[code]

[2020-06-22 06:52] collegewap commented on #859
Updated links:

https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.recomposing-ui/b.speech-ui

https://microsoft.github.io/BotFramework-WebChat/06.recomposing-ui/b.speech-ui/

[2020-06-22 09:03] Dsencha opened #3269 "directline connection role and name not getting in BOT conversationUpdate."
For reference below - DirectLine Connection code

(async function() {

           window.WebChat.renderWebChat(

        {

	directLine: window.WebChat.createDirectLine({

              secret: “My KEY”

           }),

           userID : "myid",

           username: "myName"

        },

        document.getElementById('chat_converse')

      );

      document.querySelector('#chat_converse > *

[2020-06-22 11:48] venkadesh-p opened #3270 "How to allow editing of a message in Web-chat?"
[Question]
I want to allow the user to edit the message in Webchat by clicking Up arrow in the keyboard (similar to skype). Is there any way to allow the user to edit the message in the default webchat page?

[2020-06-22 16:12] v-kydela commented on #3267
Closing as duplicate: https://github.com/microsoft/BotFramework-DirectLineJS/issues/288

[2020-06-22 16:12] #3267 closed

[2020-06-22 17:57] mdrichardson commented on #3269
I'm closing this here because I'll be assisting you at [your duplicate StackOverflow post](https://stackoverflow.com/questions/62513653/directline-connection-role-and-name-not-getting-in-bot-conversationupdate), which is the more-appropriate place for this.

[2020-06-22 17:57] #3269 closed

[2020-06-22 18:17] srinaath commented on #3270
This is an issue we do not offer currently and is not in our roadmap for now.

[2020-06-22 18:17] #3270 closed

[2020-06-22 18:19] srinaath commented on #3265
@corinagum could you take a look at this issue if its a regression?

[2020-06-22 18:21] srinaath commented on #3264
@Tamoormughal , thank you for opening this issue.  For product behavior, how-to, or general understanding questions, please use Stackoverflow.

https://stackoverflow.com/search?q=bot+framework

[2020-06-22 18:21] #3264 closed

[2020-06-22 18:22] srinaath commented on #3263
@stevengum Can you look into this ticket?

[2020-06-22 18:25] srinaath commented on #3221
Closing it for inactivity

[2020-06-22 18:25] #3221 closed

[2020-06-22 18:28] srinaath commented on #3156
@Bradrajkumar Could you respond to this ticket. If not we will be closing it due to inactivity.

[2020-06-22 18:32] srinaath commented on #3147
@clearab This looks like an issue with Adaptive Cards. Could you take a look at it.

[2020-06-22 18:33] srinaath commented on #3198
@ckkashyap Could you follow up on this ticket?

[2020-06-22 18:54] Siri311 commented on #2511
Facing same issue with IE11.
import 'botframework-webchat-polyfill/ie11';
(or)
import 'botframework-webchat/ie11';

Not able to find after installing **react-app-polyfill** .

I am using SPFx with React (.ts and .tsx).

and installed **npm i fast-text-encoding** .

Thanks in Advance.

[2020-06-22 18:56] clearab commented on #3147
@compulim Is there an Issue open on the AC side for this, or should I open one?

[2020-06-22 19:30] corinagum commented on #3209
For consideration in future releases

[2020-06-22 20:19] #3242 closed

[2020-06-22 23:53] compulim opened #3271 "Enable composition mode"
For #3252, developers need to use hooks outside of UI but inside `<Composer>`.

In short, we should enable this user story:

[code]

[Enhancement]

[2020-06-23 02:10] grimz11 opened #3272 "Taking longer than usual to connect. After adding store Web Chat API Reference."
Hello guys, I hope you all are doing well.
I'm having a problem when using the store Web Chat API. This won't happen if I remove it on the <b>ReactWebChat</b> component. I used the Npm package of <b>"botframework-webchat v4.9.0"</b>. If you might ask why I used the store, I want the <b>action.type</b> functionality of <b>createStore</b>.

<b>Here's my implementation of the store:</b>
[code]
<b>For

[2020-06-23 09:03] deena211 opened #3273 "How to enable mic soon after the welcome message?"
I am trying to enable the mic soon after voicing out the welcome message. I want to know if there is any flag that indicates the message has been voiced out by the bot. Right now, I am enabling the mic through click method by giving a timeout of 4 seconds. Which fails in some cases when the bot takes time to initialize and voice out the message. So in those cases while the mic turns on, the messag

[2020-06-23 15:16] david-minaya opened #3274 "Change send button icon"
There is any way of change the send button icon using the `styleOptions`?

[2020-06-23 16:40] compulim opened #3275 "Sample: Using @fluentui/react-northstar chat component"
## Description

Let's build a sample to use Fluent UI "northstar" chat component and see how it works.

https://fluentsite.z22.web.core.windows.net/components/chat/definition

![image](https://user-images.githubusercontent.com/1622400/85430814-7c358d80-b535-11ea-9aab-d07f2247df75.png)

[Enhancement]

[2020-06-23 17:15] corinagum commented on #3265
Hmmm I'm repro-ing this problem but not consistently.

- mix between CDN and npm
- different samples behave differently
- same samples behave differently across browsers
- red will show once but not after a repeat usage

Investigating further

[2020-06-23 17:17] corinagum commented on #3249
Base emoji autocorrect set will be based off the following list: https://support.microsoft.com/en-us/office/autocorrect-emojis-in-documents-and-email-601cad94-1a54-41e2-8cf8-4b09a6eadfe1

Confirmed with IC3 team

[2020-06-23 17:29] v-kydela commented on #3274
Hi @david-minaya

It looks like [`styleOptions`](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/component/src/Styles/defaultStyleOptions.js#L80-L83) does provide a way of changing the send button's color:

[code]

Does this resolve your issue?

[2020-06-23 17:41] david-minaya commented on #3274
No, I need to change the icon for another

[2020-06-23 18:12] srinaath commented on #3274
@david-minaya , thank you for opening this issue.  For product behavior, how-to, or general understanding questions, please use Stackoverflow.

https://stackoverflow.com/search?q=bot+framework

[2020-06-23 18:12] #3274 closed

[2020-06-23 19:24] corinagum commented on #1944
I filed the issue with Adaptive Cards here: https://github.com/microsoft/AdaptiveCards/issues/3056

[2020-06-23 19:27] corinagum commented on #3179
@den19980107, are you still running into this problem? This is a duplicate of the issue https://github.com/microsoft/BotFramework-WebChat/issues/1944

This is not a Web Chat issue, but an Adaptive Cards one. The temporary fix on the bot's side is to adjust the height of your image to one that fits inside the adaptive card.

The Adaptive Cards bug I filed is here:
https://github.com/microsoft/Adapt

[2020-06-23 19:36] corinagum commented on #3179
The fix for Web Chat samples is to fix the size of the image of the herocard on Mock Bot, but priority would be P2 or P3.

[2020-06-23 19:43] stevkan commented on #3272
It looks like you are building this with TypeScript, yes? Are you able to post more of your code, in particular, whichever file(s) house the web chat components? I would like to see how your code is laid out. As it is, the JS implementation of the same works for me without delay.

[2020-06-23 19:56] corinagum commented on #3265
This is due to a styling specificity regression - fix will be up shortly.

[2020-06-23 21:22] compulim commented on #3159
@Amintasn sorry for late response.

This is by design. Because, the speech engine should not interrupt the speech until they are fully spoken. Otherwise, a bot sending 2 responses rapidly (< 1s of each other), the first response will be missing from synthesis.

This design also align with screen reader live region (`aria-live="polite"`), which don't interrupt but add the sentence to the queue.

Co

[2020-06-23 21:28] compulim commented on #3273
Currently, we don't have hooks for controlling speech input, it's a pending work item #2211.

However, you can look at the `useActivities` and grab a list of activities, look at their `channelData.speak` property to see if the bot response completed synthesize or not.

Since `channelData` is not an official support API, once we implement #2211 or speech hooks, we might remove this flag.

[2020-06-24 00:20] grimz11 commented on #3272
@stevkan
This works fine until yesterday I haven't changed any of my codes and then suddenly this happens. I also created another service on my azure to make sure that I have a brand new  Free Tier messaging.

[2020-06-24 01:25] den19980107 commented on #3179
@corinagum yes, i’m stiil  running in this issue,i knew that fix the size of the image will fix this issue ,
 but in my case ,my web chat width is dynamic, so fix the image size is not the best way to fix this issue.

thank for reply 👍

[2020-06-24 03:43] Hari-c4 commented on #3145
Hi,
For me this issue was resolved without making any changes in code or configuration. I believe this issue was from the speech API side. It got resolved 3 to 4 days after reporting and it never occurred again.

[2020-06-24 03:44] #3145 closed

[2020-06-24 11:36] deena211 commented on #3273
Thank you for your response. But sorry, I forgot to mention that I am not using hooks, instead I use javascript for webchat which is running on an angular application.

[2020-06-24 14:50] KarlPurk commented on #2974
@xtianus79 I managed to fix this by updating my webpack config to polyfill crypto:

[code]

I still needed to install `rxjs-compat` but didn't need the `node-libs-browser` polyfills.

[2020-06-24 16:37] #3179 closed

[2020-06-24 16:58] compulim commented on #3273
This level of customization requires React as you need to subscribe for changes.

[2020-06-24 17:18] Siri311 commented on #2511
I'm using /webchat-es5.js/ CDN.
Is there any solution for Bot not loading in IE but the same is getting loaded in Chrome and Edge.
Getting Below console errors: Unable to get property 'createStore' of undefined or null reference Unable to get property 'renderWebChat' of undefined or null reference.

I have include the link and its working as expected in chrome and Edge. Even if i try to load using

[2020-06-24 17:21] #3265 closed

[2020-06-24 17:32] compulim opened #3278 "Doc: Update `HOOKS.md`"
## This function -> This hook

We should change "This function will return a function" into "This hook will return a function".

[code]

[Bug]

[2020-06-24 21:12] compulim opened #3279 "Investigate if timestamp of 48+ hours will throw error on render"
## Background

Charlie reported the timestamp will throw error on render.

## Action items

- [x] Repro the issue

## Investigation notes

Seems introduced in Web Chat 4.8.1 in PR #3095.

The reason why the "day before yesterday" is not working: the code is using "en-US" for date formatting. But it's not there (Unicode has no "en-US", but "en").

Need more investgation because:
- "en-US" is not in

[2020-06-24 22:25] stevkan commented on #3273
@deena211, if you are using the `renderWebChat()` flavor of Web Chat, then it's possible you can still capture the activities with the `channelData.speak` property via one of the middleware, such as `activityMiddleware`.

The `useActivities` hook is a nice feature because it presents a nice package of the processed activities. However, if you can't use the hook, then access them as I mentioned abo

[2020-06-25 10:12] prashanthsridhar opened #3280 "Mic remains turned on even after no input."
## Screenshots
![image](https://user-images.githubusercontent.com/11289456/85698451-4d1b4980-b6f8-11ea-9479-47e04461de92.png)

![image](https://user-images.githubusercontent.com/11289456/85698866-adaa8680-b6f8-11ea-9004-2d21f04183e1.png)

## Version
4.9.1 cdn . using it in an angular project

## Describe the bug
The mic is not getting turned off even after 10 minutes of no input from user. It just

[2020-06-25 10:18] prashanthsridhar commented on #3280
Implemented as below:
[code]

[2020-06-25 18:10] srinaath commented on #3280
@compulim Is this an issue with DL speech or webchat?

[2020-06-25 19:01] #2859 closed

[2020-06-25 19:01] #3252 closed

[2020-06-26 02:14] stevkan commented on #3280
@prashanthsridhar, can you please post the code you are using for the "textToSpeechPonyfillFactory" object? Here is what mine looks like. This will also work if you first get a token and pass that in using the `authorizationToken` property instead of `subscriptionKey`.

[code]

[2020-06-26 04:48] stevkan commented on #3272
Before we dig much deeper, can you try using v4.9.1 of Web Chat and see if the updated package makes any difference?

[2020-06-26 05:00] prashanthsridhar commented on #3280
Hi @stevkan , the implementation is as below.
[code]

This issue is easily reproducible using the completed code in:
 https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/b.cognitive-speech-services-js

[2020-06-26 05:07] grimz11 commented on #3272
@stevkan, I got it working from the <a src="https://stackoverflow.com/questions/56848336/how-to-close-and-restart-bot-conversation-from-ui">link</a> here. So, what I did is instead of calling the createStore directly I created a state to set the store. But the fact that it was working just fine and then it didn't. Anyways, my problem is done now. Thanks.

[2020-06-26 13:58] Amit8527510735 opened #3284 "[Screen Readers-Technology Enabled Continuous Auditing-Sub Audit Template]:NVDA focus is not moving to pop up error message upon invoking 'Submit'Button leaving the mandatory fields blank."
![MAS3 3 1_NVDA is not reading error message](https://user-images.githubusercontent.com/53263029/85977061-7807e500-b9f9-11ea-814a-4d4eafa8680f.png)
URL: https://auditbotui-ppe.azurewebsites.net/

Image

Actual Result:
NVDA focus is not moving to pop up  error message upon invoking 'Submit'Button leaving the mandatory fields blank.
Observation: When 'Submit' button is invoked leaving the mandatory

[2020-06-26 17:26] compulim opened #3281 "[IcM] Speech via Cognitive Services does not work on Cordova on Android"
## Screenshots

(TBD)

## Version

`4.9.2`

## Describe the bug

Customer reported Web Chat hosted on a Cordova app on Android with speech enabled through Cognitive Services does not work.

From the support ticket:

It seems speech recognition is working but not speech synthesis, need to investigate.

## Steps to reproduce

From the support ticket:

## Expected behavior

Speech via Cognitive Servi

[2020-06-29 18:15] compulim commented on #3249
Added clarifications above, copied here:

[2020-06-29 20:00] mmiele commented on #2343
Hello everyone. I work in the Bot Framework SDK doc team. My good friend in the support team made me aware of this issue while I was trying to streamline our current documentation on Web Chat channel/control. This is the article: [Connect a bot to Web Chat](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-webchat?view=azure-bot-service-4.0). As this issue highlights,

[2020-06-29 21:21] #3279 closed

[2020-06-29 22:28] stevkan commented on #3280
Hi @prashanthsridhar, I went thru the steps for creating a custom voice which, in turn, provided me with the `deploymentId`. I am able to run web chat with no issues. For reference, here is the complete code for my `bot.components.ts` file. Compare it with yours and note any differences of significance. If there are any, try altering your code to match and give it a try. If it works, great. If it

[2020-06-29 22:40] #3272 closed

[2020-06-30 07:19] collegewap commented on #1471
Updating broken links:

https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.branding-styling-and-customization/a.branding-web-chat

https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.branding-styling-and-customization/b.idiosyncratic-manual-styles

[2020-06-30 13:15] collegewap commented on #1833
+1

[2020-06-30 16:41] cwhitten commented on #3284
@Amit8527510735 I've transferred this to the appropriate project. Can you reapply the right labels?

[2020-06-30 18:11] prashanthsridhar commented on #3280
Hi @stevkan ,the snippet you have provided is almost identical to my implementation. The issue is not with custom speech/voice. My understanding is that there has been a change in how silence is detected or what is done after only silence is detected. _The implementation works fine if i give the input_.  But in case i do not give any input it should stop listening after 5 seconds.

In this scenari

[2020-06-30 19:37] compulim commented on #3169
Hi @Sandeepmahala,

There are few key criteria for Web Chat to consider the message successfully sent out, and all criteria must met within 20 seconds.

![image](https://user-images.githubusercontent.com/1622400/86168925-b1aa2000-bacd-11ea-9865-8389d9276761.png)

The `POST /activities` call must return as 200.

![image](https://user-images.githubusercontent.com/1622400/86169024-d9998380-bacd-11ea-

[2020-06-30 19:45] compulim commented on #3256
Can you switch to the minimal bundle (webchat-minimal.js), that entrypoint skipped loading Cognitive Services and Adaptive Card and will not add to your bundle size.

IIRC, you are using `npm install` to use Web Chat. Can you try out this?

[code]

This will use the minimal bundle: no Cognitive Services, no Adaptive Cards, no Direct Line Speech.

Let's check the bundle size after these and see if

[2020-07-01 03:56] Amit8527510735 commented on #3284
@cwhitten Thanks for transferring bug to correct project. I have added labels, can you please assign bug to correct owner as this bugs still not assigned to anyone.

[2020-07-01 04:25] kanika-jain commented on #3169
It seems that in case of a network issue (even for a second) bot is not able to re-connect and we are getting sorry messages for all the utterances.

I referred below article:
https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-receive-activities?view=azure-bot-service-4.0#http-get

There are 2 ways to receive bot activities:
1. via WebSocket
2. via HTTP

[2020-07-01 18:18] scheyal commented on #3284
@cwhitten  - can you please propose an owner & re-assign?

[2020-07-01 22:22] stevkan commented on #3280
Hi @prashanthsridhar, it appears that this is the current behavior in Web Chat and is not specific to running Web Chat in an Angular project. I'm still looking into whether this is expected behavior, which I don't believe it is, but I will let you know more as soon I have something more tangible to share with you.

[2020-07-02 10:21] thomas023 opened #3288 "How can i clear the chat inputbox after sending the message in botframework webchat?"
Hi, im working on a bot application using react js and botframework webchat. The thing is that i want to clear the text input box (from where msgs are sent) after sending the message which is selected from the suggestion. What i mean is that if i type "My designation" the suggestion popup will come and if i click on one suggestion the message will be sent, but what i wrote in the input field will

[2020-07-02 18:11] scheyal commented on #3288
@thomas023 , thank you for opening this issue.

For product behavior, how-to, or general understanding questions, please use Stackoverflow.
https://stackoverflow.com/search?q=bot+framework

[2020-07-02 18:11] #3288 closed

[2020-07-02 18:23] lorenz-haenggi-axa commented on #3256
Dear @compulim

thanks - we have tested it and there is no difference
I integrated 2 calls and 2 were not possible (different files)
`
import { connectToWebChat } from "botframework-webchat-component";
import { createStore, createDirectLine } from "botframework-webchat/lib/index-minimal";
import ReactWebChat from 'botframework-webchat/lib/index-minimal';

import { DirectLine } from "botframework-d

[2020-07-02 18:47] lorenz-haenggi-axa commented on #3256
here is our size chart
![image](https://user-images.githubusercontent.com/62747378/86397960-1a97c080-bca5-11ea-9347-e411a12ef5a2.png)

and the details
![image](https://user-images.githubusercontent.com/62747378/86398021-369b6200-bca5-11ea-91d2-4da506326b67.png)

there is no much difference

[2020-07-02 18:49] navzam commented on #2343
Are you open to a PR that adds a sample for this? For the same reasons above (repeated requests for guidance, falling back to secret, etc.), I'm creating a [sample that demonstrates retrieving a user-specific Direct Line token](https://github.com/navzam/user-direct-line-token-sample). It doesn't exactly meet the requirements here, but I think I can address the gaps pretty easily:

- It goes one st

[2020-07-02 18:54] #3169 closed

[2020-07-02 19:16] compulim commented on #3284
From the screenshot, the error bubble itself is not clickable and not interactive. Thus, the focus must not be moved there.

We provided a live region for screen reader user to get notifications on incoming messages. When the error bubble shows up, the screen reader will read its content to the user.

In 3.3.1, https://www.w3.org/WAI/WCAG21/Understanding/error-identification.html, under Techniques

[2020-07-02 19:29] compulim commented on #3256
Could you investigate why Cognitive Services is still there when importing `index-minimal`?

In [our Webpack.config.js](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/bundle/webpack.config.js#L10), we build `webchat-minimal.js` out of `index-minimal.ts`. And when I look at [our `stats.json`](https://github.com/microsoft/BotFramework-WebChat/releases/download/daily/stats.jso

[2020-07-02 22:28] corinagum commented on #2343
@navzam your contributions are MORE THAN welcome! Please let us know if you have questions. I suggest creating it as your own project first, and later on we can discuss possibly moving it into our samples section.

In reply to your bullets:
- This sounds great. One thing we struggle with is introducing too many concepts in a single sample. Any way you can split concepts up is appreciated. If it's

[2020-07-02 22:35] mmiele commented on #2343
@navzam and @corinagum  I wholly heartedly support the effort. A simple example in JS (a small web app?) that shows how to generate a token from the Web Chat channel secret will go a long way. It would help to have one in C#, too. I could incorporate the sample into the Bot Frameworks SDK documentation  where we talk about the Web Chat channel and Web Chat control.

[2020-07-03 09:28] smit-1999 commented on #365
Hi everyone! I am a bit late to the party. I am currently trying out fetching messages on my backend (in Node).Once these messages are fetched, I am trying to send them in the form of activities to the frontend.

So,basically I am creating an array of the form
` {type: 'message', text: 'Hello..Testing messages ahead!', from: {id : 'userid', name : 'username' }}`.

And using _await context.sendActi

[2020-07-03 09:37] #3236 closed

[2020-07-03 16:34] lorenz-haenggi-axa commented on #3256
here is our webpack.config.js

(had to zip it to upload)
[webpack.config.zip](https://github.com/microsoft/BotFramework-WebChat/files/4870628/webpack.config.zip)

[2020-07-05 20:57] compulim commented on #3246
Done.

[2020-07-05 20:57] #3246 closed

[2020-07-06 13:13] palancana opened #3291 "Configure a full hostname for Speech service containers"
## Feature Request

**Is your feature request related to a problem? Please describe.**

I'm unable to configure a hostname for a Speech service containers.

**Describe the suggestion or request in detail**

I have a Docker container running TTS service. The exposed URL for this container is something like http://127.0.0.1:5001. Following the documentation, [I found that I can modify `speechSynthes

[2020-07-06 18:21] stevkan commented on #3280
@prashanthsridhar, the mic remaining on and not turning off is a function managed by the speech provider (for example, Cognitive Services Speech). It is an issue you would want to post with them. It looks like creating a support ticket thru Azure is the best method, according to their site [here](https://azure.microsoft.com/en-us/support/options/).

Closing this as resolved as the issue lies with

[2020-07-06 18:21] #3280 closed

[2020-07-06 18:24] #3156 closed

[2020-07-06 18:27] #3159 closed

[2020-07-06 18:28] #3273 closed

[2020-07-07 14:00] bhushanvadgave opened #3292 "How to handle "Unable to connect" error (ExpiredToken)"
## Screenshots
![image (11)](https://user-images.githubusercontent.com/3713053/86789494-fc570980-c084-11ea-80cf-a35fff165ff2.png)

## Version
Webchat Version: v4.9.0
Usage: As NPM Package in ReactJS App
Platform: Web Browser

## Issue
As far as we know if webchat in the browser is kept unattended for a couple of hours then webchat's auto-refreshing-token fails it triggers `ExpiredToken` event. Web

[2020-07-07 14:13] ckkashyap commented on #3198
Hi Vitaliy,
Can we close this ticket?
Regards,
Kashyap

[2020-07-07 16:49] v-kydela commented on #3292
Thank you for the question, @bhushanvadgave

I want to make sure I understand your issue correctly. In your React app, DirectLineJS is able to refresh the token indefinitely so long as there is an Internet connection. You only encounter the expired token when there is no Internet connection. Is that correct?

[2020-07-07 18:10] cleemullins commented on #3291
Hardcoding HTTPS seems reasonable for us, although I see how that would cause you a problem.

Can you create a self-signed cert, or get a localhost cert via LetsEncrypt or similar? Seems the quickest way to work around the issue.

[2020-07-07 18:35] vglu commented on #3198
Hi Kashyap,
Very difficult question...
One side - I have not got solution for this question ( just only workaround), another side bot framework team make all possible to resolve my question.
Say me, please, are we planing to change behavior of function or not?

Thanks

Regards,
Vitaliy

[2020-07-07 20:45] mmiele commented on #2343
@navzam Did you ever work on SSO with Web Chat?

[2020-07-07 21:31] compulim opened #3294 "Blanked out when rendering attachment without a registered renderer"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/86845212-031e5600-c05e-11ea-933f-59395cb3458c.png)

## Version

`master` branch

## Describe the bug

When an attachment is being rendered without any renderer, an error box (a.k.a. red box) should show up.

Instead, it blanked out with a JavaScript error in the console.

## Steps to reproduce

1. Go to 01.a.full-bundle
1.

[2020-07-07 22:09] ckkashyap commented on #3198
Hey Vitaliy,
It is not clear if we the behavior needs to be changed. So I would go with no.
I would recommend that you let the wss:// endpoint through the proxy server. If not, you can change [directlinejs](https://github.com/microsoft/BotFramework-DirectLineJS/blob/55f1e5ee260ccb8d13a624281233436dfab006f8/src/directLine.ts#L922) and use it. I can certainly help with this.
Regards,
Kashyap

[2020-07-08 00:43] #3294 closed

[2020-07-08 05:53] bhushanvadgave commented on #3292
@v-kydela Yes correct this is the scenario when the user comes back to webchat after a period of time (the period where there was no internet connectivity) and he/she tries to send a message.

[2020-07-08 11:15] timenick opened #3296 "Support locale at StartConversation"
##Issue
Original issue: microsoft/botframework-obi#75

This issue tracks a frequently requested feature to allow a user locale when starting new conversations. The user locale is needed so that bots can send a properly localized Greeting Message to users.

##Proposed change
 WebChat - update the protocol to support locale and userId aligned with DirectLineJS

Tracking DirectLineJS issue: https://g

[2020-07-08 12:10] palancana commented on #3291
Yes! Both approaches are valid. I already found a solution around with the self-signed certificate. If you don't think this enhancement would help other situations, we may close the ticket.

[2020-07-08 17:09] compulim commented on #3291
@palancana Can you point us to documentation on configuring speech containers?

[2020-07-08 17:19] dmvtech commented on #3291
Just adding a few more _potential_ workarounds (not related to enhancement);

1. Cloning, modifying and building your own webchat
2. Using something like Ngrok or Service Bus (not likely a worthwhile production solution).

[2020-07-08 17:20] compulim commented on #3296
Thanks @timenick. We will implement the `startConversation.locale` options.

## Work items

### Adding `locale` option

Update `createDirectLine` to accept and pass `locale` option.

[code]

[2020-07-08 17:30] compulim commented on #3271
This is resolved in recent save/restore position #3268.

[2020-07-08 17:30] #3271 closed

[2020-07-08 17:31] compulim commented on #3107
This is fixed in #3287.

[2020-07-08 17:31] #3107 closed

[2020-07-08 17:31] compulim commented on #3115
This is fixed in #3287.

[2020-07-08 17:31] #3115 closed

[2020-07-08 17:43] compulim commented on #3083
Could you use suggested actions instead of Adaptive Cards? Suggested actions are designed as an one-off decision. If the design of the suggested actions are not great, can you file an enhancement issue?

We also implemented "disable Adaptive Cards button" here, https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.custom-components/l.disable-adaptive-cards.

However, the sample

[2020-07-08 17:44] compulim commented on #3134
This is fixed in #3287.

[2020-07-08 17:44] #3134 closed

[2020-07-08 17:44] compulim commented on #3118
This is fixed in #3287.

[2020-07-08 17:44] #3118 closed

[2020-07-08 17:44] compulim commented on #3117
This is fixed in #3287.

[2020-07-08 17:44] #3117 closed

[2020-07-08 17:45] compulim commented on #3116
This is fixed in #3287.

[2020-07-08 17:45] #3116 closed

[2020-07-08 17:45] #3048 closed

[2020-07-08 17:46] compulim commented on #3000
This is fixed in #3287.

[2020-07-08 17:46] #3000 closed

[2020-07-08 17:46] compulim commented on #3176
This is fixed in #3287.

[2020-07-08 17:46] #3176 closed

[2020-07-08 17:56] compulim commented on #2793
## Design

This is very similar to custom dimensions used in telemetry. Before working on this issue, please read about the design of custom dimensions in various telemetry systems.

### Add `useChannelData`

[code]

This will add:

[code]

If there are more than one call to `useChannelData` with same `name`, it will turn the value into an array. For example,

[code]

### Sample code

[code]

[2020-07-08 18:02] UncleZen commented on #3176
@compulim
When will this fix be published?

[2020-07-08 18:05] compulim commented on #3147
This is fixed in #3287.

[2020-07-08 18:05] #3147 closed

[2020-07-08 20:42] v-kydela commented on #3292
@bhushanvadgave - Can we see the code you're using to generate your token and render Web Chat?

[2020-07-08 21:23] compulim opened #3297 ""className" prop is not working on <ReactWebChat>"
## Screenshots

## Version

`master`

## Describe the bug

## Steps to reproduce

The following should show Web Chat with yellow border.

[code]

## Expected behavior

Web Chat with a yellow border.

But since the `className` property is not set/passed, it did not render the yellow border.

## Additional context

[Bug]

[2020-07-09 06:39] palancana commented on #3291
Here is the [link](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-howto?tabs=tts%2Ccsharp%2Csimple-format).

That's another approach, yes. Thanks for contributing!

[2020-07-09 07:01] bhushanvadgave commented on #3292
@v-kydela  Below are 2 snippets of the code
[code]

[code]

[2020-07-09 18:19] v-kydela commented on #3292
@bhushanvadgave - When you detect an expired token you could call that token API again and then reload just your Web Chat component. I don't know if you'd consider that to be seamless since a new token means a new conversation.

You did say that you want to prevent the user from having to refresh the page, so what happens when you refresh the page? Is the conversation history preserved?

[2020-07-09 18:56] compulim commented on #3176
It is expected to release as a patch release, 4.9.2 and planned for next week as we are doing localization. 😊

[2020-07-10 00:24] navzam commented on #2343
@corinagum I've simplified the sample (took out the AAD part), added a C# API in addition to the JS API, and added a very simple bot and HTML page that embeds WebChat. I pushed it to my own repo here: [navzam/direct-line-token-sample](https://github.com/navzam/direct-line-token-sample).

What's the next best step? I'd love to get a review from someone, including for the README since I think the do

[2020-07-10 00:31] navzam commented on #2343
@mmiele I've done some digging into SSO with WebChat, specifically how to reuse a user's identity on an already-authenticated site (see [navzam/webchat-authed-site-sample](https://github.com/navzam/webchat-authed-site-sample)) and how to silently acquire an AAD token that your bot can use (see [navzam/webchat-silent-sso-sample](https://github.com/navzam/webchat-silent-sso-sample)). I think these a

[2020-07-10 03:35] grimz11 opened #3299 "Separate the SuggestedActions and SendBox."
Npm package version <b>botframework-webchat": "^4.9.0"</b>.

When you set the <b>hideSendBox = true</b>.
The suggested actions are also hidden. Or is there an alternative to this?

We have this instance that we need to hide the sendbox when there are suggested actions. Maybe it's a good idea to separate them?
![image](https://user-images.githubusercontent.com/53614600/87114670-bb890b80-c2a3-11ea-9

[2020-07-10 05:10] bhushanvadgave commented on #3292
@v-kydela Reloading the webchat won't be a seamless experience.

On page refresh, the app reconnects to the same conversation using [Reconnect API](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-reconnect-to-conversation?view=azure-bot-service-4.0) (through our server component; Directline secret is kept at the server). Since the Reconnect API provid

[2020-07-10 10:09] Amit8527510735 commented on #3284
@compulim
We have discussed this with our SME, he provided feedback. Please find details below:
"The error/message should be read as soon as it appears on the screen. For accomplishing this, please advise the development to add role=”alert” to the error fragment which gets added in the dom dynamically."
If any query please let me know.

[2020-07-10 17:15] compulim commented on #3299
Agree it should be allowed to hide the text box without the suggested actions.

This is dupe of #2427. @grimz11 could you vote on that bug?

[2020-07-10 17:15] #3299 closed

[2020-07-10 18:23] mmiele commented on #2343
@navzam Thank you for your feedback. Let's keep the SSO separated from the main discussion on this thread. I just started looking more closely into the SSO/Web Chat area. I'll get in touch with you on Teams.

[2020-07-10 21:18] v-kydela commented on #3292
@bhushanvadgave - It's still unclear to me what sort of help you need. When you say reloading the Web Chat won't be a seamless experience, is it because the user would see the component reloading? I need to know why you are unsatisfied with your options in order to know what would solve your problem.

Also, can you elaborate on what you mean when you say reconnecting did not work? Did it throw an

[2020-07-13 01:39] grimz11 commented on #3299
Yea, Okay2.

[2020-07-13 12:09] #3297 closed

[2020-07-13 16:39] corinagum commented on #2343
@navzam Thank you so much! Due to time constraints I won't be able to get to a code/tutorial review right away, but this is absolutely on my radar and I'll get back to you!

[2020-07-13 19:28] corinagum commented on #3249
Note on accessibility:
|                 | Chrome/NVDA | Edge/Narrator | Chrome/Narrator |                                         |
|-----------------|-------------|---------------|-----------------|-----------------------------------------|
| hi              | ❌           | ❌             | ❌               |                                         |
| hi[space]       | ✔           | ✔

[2020-07-13 20:30] compulim opened #3301 "OC: Notification toast is not resizing"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/87350448-bbd80f80-c50c-11ea-8880-2c4bab2a60a9.png)

## Version

`4.9.1` and probably before that.

## Describe the bug

Quoted:

## Steps to reproduce

(Need to write a HTML to demonstrate the problem)

## Expected behavior

![image](https://user-images.githubusercontent.com/1622400/87350487-cb575880-c50c-11ea-88e3-46f8b954

[2020-07-13 21:58] compulim opened #3302 "4.9.2 Release checklist"
# Checklist

## Build

1. [x] ~Bump MockBot to Bot Framework SDK release 4.9.2~
   - ~https://botbuilder.myget.org/feed/botbuilder-v4-js-daily/package/npm/botbuilder~
   - ~https://www.npmjs.com/package/botbuilder/v/4.9.2~
   - We are not bumping for patch release
1. [x] Update `CHANGELOG.md` to mark specific changes in `4.9.2`
1. [x] Run `npm version --no-git-tag-version 4.9.2`
   - [x] Merged in

[2020-07-14 07:30] steps371 opened #3307 "Directline Speech Sample unsuccessful Directline WebSocket connection"
## Screenshots

## Version
I'm using the 3. Speech example in the BotFramework-WebChat npm package.

[code]

## Describe the bug

Our team has been struggling to activate directline speech in a webchat in our react examples, which prompted us to reproduce the error in a barebones bot-framework example.

When adjusting the speech example to connect to a deployed bot instead of the mockbot, I receiv

[2020-07-14 08:26] xieofxie opened #3308 "Requests for SSO sample using ASP.NET"
## Feature Request

### Use the ['Enhancement' query](https://github.com/microsoft/botframework-Webchat/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Aenhancement) to search for the most popular feature requests.

### The [Sample tag](https://github.com/microsoft/botframework-Webchat/issues?q=is%3Aissue+is%3Aopen+label%3ASample) also lists examples and implementations that have already been

[2020-07-15 00:09] v-kydela commented on #3292
@bhushanvadgave - Are you still working on this?

[2020-07-15 22:41] compulim commented on #3301
For single toast, set the `max-height` to `unset` (or remove the rule).

For multiple toasts, we kept `max-height` as `160px` (today).

[2020-07-16 08:14] provJaredWeiss commented on #2884
Hi there, I just want to check in and see if this feature is still being worked on? Looks like last activity was a couple months ago. I am currently using the scroll 1px up trick, but it's not ideal obviously. Thanks!

[2020-07-16 09:40] ink169 commented on #1833
+1 please!!

[2020-07-16 11:03] rvinothrajendran opened #3310 "ReceiptCard is not displaying the ReceiptItem -> quantity field."
## Version
4.9.0

## Describe the bug
When using the ReceiptCard , Emulator is not displaying the ReceiptItem -> quantity field.

## To Reproduce
Steps to reproduce the behavior:
using the ReceiptCard with ReceiptItem with quantity
4. See error

## Expected behavior
It should display the ReceiptItem with quantity

## Screenshots
![image](https://user-images.githubusercontent.com/16264167/87663922-

[2020-07-16 17:55] compulim commented on #3256
Let me try to build a new `create-react-app` project and see if I can repro it.

[2020-07-16 18:01] compulim commented on #3307
I copied your code snippets into our `03.speech/a.direct-line-speech` sample by replacing the `fetchCredentials` part and it works.

1. What browsers and OS are you testing it on?
2. If on Windows, can you use Fiddler and see what's the HTTP response body on the request?
   - Browser network tab may not give you this information, you might need to use Fiddler instead

[2020-07-16 18:07] compulim commented on #3310
@corinagum Could you take a look at this?

@rvinothrajendran Could you try out Adaptive Cards? Because it could make your card more expressive.

[2020-07-16 18:41] compulim commented on #3308
@swagatmishra2007 @tdurnford What do you think?

[2020-07-16 18:47] tdurnford commented on #3308
The only thing that would change from the existing SSO sample is the bot - everything else would be the same. I don't think it's worth maintaining another sample.

[2020-07-16 20:20] corinagum commented on #3302
Closing as complete.

[2020-07-16 20:20] #3302 closed

[2020-07-16 20:36] corinagum opened #3313 "4.9.2 Post-release checklist"
These are chores that we should do before starting the cycle to reduce ripple effects if we do it in mid-cycle.

Tips:

- Clean your repo before start
- Remove node_modules from all folder
   - `git clean -fdx`
- Never delete `package-lock.json	`
- If you mess it up, tableflip and redo
- In `component/package.json`
   - Remove reference to `botframework-webchat-core` by hand-modifying `package.jso

[2020-07-17 02:47] rvinothrajendran commented on #3310
@compulim Yes you are correct,  This issue I found in while preparing the bot tutorial  ☹

[2020-07-17 05:47] compulim commented on #1833
This is done.

Please read this doc on how to overwrite the strings, https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/LOCALIZATION.md#overriding-localization-strings.

[2020-07-17 07:53] HesselWellema opened #3314 "DirectLine connection issue in 4.9.2."
Hi Team,

This issue occurs in 4.9.2. I had to go back to 4.9.1 to solve it:

I still have one bot in production using the bundle on https://cdn.botframework.com/botframework-webchat/latest/webchat.js"
This morning the bot stopped responding at
`window.WebChat.renderWebChat({
        directLine: window.WebChat.createDirectLine({ token }),
      }, document.getElementById('webchat')); `
No errormes

[2020-07-17 19:05] compulim commented on #3314
The Web Socket (`wss`) call is expected to be pending. This is because the Web Socket connection is open-and-receiving. If the Web Socket call is finished, that means the connection is closed.

I am not seeing any issues on my side when running Web Chat 4.9.2 with DL over Web Socket.

When running normally:

- wss://.../stream should be kept pending
   - When a new message is received from bot, yo

[2020-07-17 19:41] HesselWellema commented on #3314
Hi, I did a check just now on https://cdn.botframework.com/botframework-webchat/latest/webchat.js and the directline connection still doesn't work.
When I use https://cdn.botframework.com/botframework-webchat/4.9.1/webchat.js everything is fine.

So I'm good for now. Maybe something is wrong with CDN? I am on CET and first noticed this issue around 0900 CET. Update of the CDN or something?

[2020-07-17 22:21] corinagum commented on #3310
Thanks for reporting this. This is an error in Web Chat where not all ReceiptItem properties are utilized. Looks like both `quantity` and `text` are missing.

![image](https://user-images.githubusercontent.com/14900841/87835084-fe695700-c840-11ea-896f-d736a3560824.png)

[2020-07-17 22:54] compulim commented on #3314
Web Chat 4.9.2 was released around this time.

When you say the bot does not respond, do you see any JavaScript errors?

If your bot is public-facing, can you share the URL so we can look at?

[2020-07-18 13:01] HesselWellema commented on #3314
Hi,
No errors next to the webchat.js:2 Refused to get unsafe header "x-ms-bot-id" and a warning about a cookie associated with a cross-site resource.
But I do know what caused it:

I use a store to have the chat start at the top of the box. That breaks the rendering of the webchat in 4.9.2 I guess. I will need to find a solution for that. Until that time I will stay on 4.9.1 (which already is grea

[2020-07-18 13:51] lolo8304 commented on #3256
Do you need our webpack configurations json?

[2020-07-19 02:43] rvinothrajendran opened #3315 "Bot Framework Emulator - Audio card -image is not displaying."
## Version

4.9.0

## Describe the bug

Audio card -image is not displaying.

## Steps to reproduce

Try the Audio Card sample with image.

## Expected behavior

Image should be display

## Screenshots

![image](https://user-images.githubusercontent.com/16264167/87865815-413d4300-c997-11ea-9919-417894eec4d1.png)

[2020-07-20 18:12] munozemilio commented on #3314
@compulim any updates on this?

[2020-07-20 18:13] munozemilio commented on #3198
Closing due to inactivity. Feel free to re open if the issue persists

[2020-07-20 18:13] #3198 closed

[2020-07-20 18:16] munozemilio commented on #3291
JJ will take a look into this one

[2020-07-20 19:41] compulim opened #3316 "React Native: Split bf-wc-component into bf-wc-dom"
## Additional context

- Isolate Web Worker downscaler
- Isolate `window.open` (may be related to #2892)
  - If extra user code is needed in React Native apps, make sure those "glue code" are also written for other "embed"

## Update 1 (2020-09-25)

Instead of creating a new package `bf-wc-dom`, I think we should refactor the hooks into `bf-wc-core`.

- `bf-wc-core` is cross-platform
   - At some

[2020-07-20 19:44] compulim opened #3317 "React Native: Investigate visual regression test on mobile devices"
## Progress

- Trying out BrowserStack App Automate
   - Send [Expo Client](https://expo.io/tools) to BrowserStack as base app
      - Official APK is working
      - No official IPA, only official `.tgz` and it is only good for iOS Simulator
- Build our own IPA
- BrowserStack to start an app through intent activation or launch by URL
   - Appium has some capabilities used to start the app through

[2020-07-20 19:44] compulim opened #3318 "React Native: Test harness"

[2020-07-20 19:45] compulim opened #3319 "React Native: Write playground app"

[2020-07-20 19:46] compulim opened #3320 "React Native: CI/CD pipeline"

[2020-07-20 19:47] compulim opened #3321 "React Native: Investigate can we use React 16.8 in React Native"

[2020-07-20 19:47] compulim opened #3322 "React Native: Find out which styleOptions are good for React Native"

[2020-07-20 19:48] compulim opened #3323 "React Native: Investigate Adaptive Card web vs. native renderer"

[2020-07-20 19:49] compulim opened #3324 "React Native: Investigate how to implement scroll-to-bottom"

[2020-07-20 19:49] compulim opened #3325 "React Native: Implement transcript/activities"

[2020-07-20 19:50] compulim opened #3326 "React Native: Transcript: support RTL"

[2020-07-20 19:50] compulim opened #3327 "React Native: Transcript: support accessibility"

[2020-07-20 19:51] compulim opened #3328 "React Native: Transcript: implement text/image attachment"

[2020-07-20 19:51] compulim opened #3329 "React Native: Implement Markdown"

[2020-07-20 19:52] compulim opened #3330 "React Native: Transcript: implement Adaptive Card attachment"

[2020-07-20 19:52] compulim opened #3331 "React Native: Transcript: implement activity status"

[2020-07-20 19:53] compulim opened #3332 "React Native: Transcript: implement scroll-to-bottom"

[2020-07-20 19:53] compulim opened #3333 "React Native: Transcript: implement typing indicator"

[2020-07-20 19:54] compulim opened #3334 "React Native: Send box: implement text box"

[2020-07-20 19:54] compulim opened #3335 "React Native: Send box: implement file upload"

[2020-07-20 19:55] compulim opened #3336 "React Native: Chat adapter: make DLJS cross platform"

[2020-07-20 19:55] compulim opened #3337 "React Native: Chat adapter: message middleware"

[2020-07-20 19:56] compulim opened #3338 "React Native: Implement styleOptions"

[2020-07-20 19:57] compulim opened #3339 "React Native: Investigate React Native conflicts with symlink"

[2020-07-20 19:58] compulim opened #3340 "React Native: Investigate DLJS incompatibility with React Native"

[2020-07-20 19:58] compulim opened #3341 "React Native: Localization"

[2020-07-20 19:59] compulim opened #3342 "React Native: Transcript: avatar"

[2020-07-20 19:59] compulim opened #3343 "React Native: Transcript: implement scroll-to-bottom indicator"

[2020-07-20 20:00] compulim opened #3344 "React Native: Send box: implement downscaler for thumbnailing"

[2020-07-20 20:00] compulim opened #3345 "React Native: Notification"

[2020-07-20 20:01] compulim opened #3346 "React Native: Pluggable telemetry"

[2020-07-20 20:02] compulim opened #3347 "React Native: Embed: iOS native component wrapper and sample"

[2020-07-20 20:02] compulim opened #3348 "React Native: Embed: Android native component wrapper and sample"

[2020-07-20 20:03] compulim opened #3349 "React Native: Sample apps"

[2020-07-20 20:03] compulim opened #3350 "React Native: Investigate speech support"

[2020-07-20 20:04] compulim opened #3351 "React Native: Cordova wrapper for Android/iOS"

[2020-07-20 20:04] compulim opened #3352 "React Native: Embed: Xamarin wrapper for Android/iOS"

[2020-07-20 20:06] compulim commented on #3234
@cwhitten Added.

[2020-07-20 22:39] v-kydela commented on #3292
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-07-20 22:39] #3292 closed

[2020-07-21 15:24] karrimrabibiomni opened #3353 "Adaptive Cards not rendering Uncaught 'length' of undefined"
## Screenshots
![image](https://user-images.githubusercontent.com/65707695/88072511-055bd680-cb6d-11ea-9e65-919d1dee68c0.png)

here is the adaptive card the bot has sent:

[code]

## Version
4.9.2 via npm

[code]

## Describe the bug

When the card render attempts to render any adaptive card we get an uncaught exception due to  _adaptiveCard$validat.failures being undefined in the AdaptiveCardRend

[2020-07-21 17:59] compulim opened #3354 "OC: Make suggested actions more accessible through TAB keys or accesskey attribute"
## Feature Request

Today, when suggested actions pops up, the user would need to press <kbd>SHIFT</kbd> + <kbd>TAB</kbd> key to move to the (last) suggested actions and move their way up.

This is not intuitive and natural.

Tomorrow, we should make this more intuitive. But unfortunately, we cannot move the focus programmatically because it would interfere/interrupt the screen reader.

Few things

[2020-07-21 18:34] BruceHaley opened #3355 ""How to test with Web Chat's latest bits" in README.md is incorrect."
The doc says "access Web Chat's dailies by subscribing to our MyGet feed". No longer true. [https://github.com/microsoft/BotFramework-WebChat/blob/master/README.md#how-to-test-with-web-chats-latest-bits](https://github.com/microsoft/BotFramework-WebChat/blob/master/README.md#how-to-test-with-web-chats-latest-bits)

Latest bits are now here: [https://github.com/microsoft/BotFramework-WebChat/releas

[2020-07-21 18:49] v-kydela commented on #3315
Thank you for the report, @rvinothrajendran

Would you kindly link to the sample you're referring to, and provide some code that reproduces the issue?

[2020-07-21 19:03] scheyal opened #3356 "Track webchat usage"
## Feature Request
Generate metrics to support tracking of webchat usage:
* Runtime analytics: Provide method to track total number of messages, bots per period (for ~6 months)
* Developer analytics: Provide method to track all clones, downloads of webchat codebase

Propose R11.

[2020-07-21 19:07] compulim commented on #3284
Hi @Amit8527510735, can you upgrade the Web Chat from v3 to v4.9.2 and see if it repro?

v3 is being deprecated and is on life support now.

[2020-07-21 19:35] compulim commented on #3356
## Runtime analytics

- Total number of messages
   - Can this be captured on the service side? And why not?
- Bots per period
   - Can this be captured on the service side? And why not?

## Developer analytics

- Ability to track across 4 different types of deployments in the service side logging
   - IFRAME via webchat.botframework.com (a.k.a. Web Chat channel)
   - Bundle (a.k.a. `webchat*.js`)

[2020-07-21 19:49] compulim commented on #3314
@HesselWellema the `css-mfy564` is a hash based on the CSS content, thus, it is very unstable.

If you would want to change the CSS, you can refer to this sample, https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.branding-styling-and-customization/b.idiosyncratic-manual-styles. This is more stable, but not perfect yet.

We change DOM from time to time, for example, to fix ac

[2020-07-21 19:52] prashanthsridhar opened #3357 "Blocker symbol on mic | unable to give voice input related to #3209"
## Screenshots
![image](https://user-images.githubusercontent.com/11289456/88099193-74125180-cbb8-11ea-9e0e-4f7f068a5c95.png)

## Version

4.9.1 cdn . using it in an angular project

## Describe the bug

if a message has inputHint as expectingInput and we click in the message input box before the message is voiced out. We get a blocker symbol and cannot give voice input any further.

## Steps to r

[2020-07-21 19:56] compulim commented on #3313
We need to bump dependencies as we are not planning 4.9.3.

[2020-07-21 21:12] Stevenic opened #3358 "AdaptiveCards: Input.Text strips linebreaks"
## Version
4.9.0

## Describe the bug
Adaptive Cards with `Input.Text` controls strip line-breaks when `multiline = true`.  I've verified that both the designer at adaptivecards.io and Teams preserve the line-breaks.

## To Reproduce
Create a simple adaptive card with a multiline input control and use emulator to send your bot the text. The line-breaks are missing.

[bug]

[2020-07-22 02:16] rvinothrajendran commented on #3315
@v-kydela Kindly find the sample here : https://github.com/rvinothrajendran/BotTutorialSample/tree/master/Python_tutorial/18-AudioCard/audiocard

[2020-07-22 13:10] HesselWellema commented on #3314
Tnx. I knew this could and would happen when I decided to change the css this way.
Since the change I need to implement can only be implemented this way, I will  stay at 4.9.1 for now.

[2020-07-22 13:10] #3314 closed

[2020-07-22 20:09] munozemilio commented on #3357
@compulim could you please take a look at this one?

[2020-07-22 23:20] v-kydela commented on #3315
@compulim - I have confirmed that audio card images do not render in Web Chat or Emulator, and it's not just because of the SVG. JPG images also do not render. (This has nothing to do with the bot being written in Python, of course.) I will transfer this to you.

[2020-07-23 01:42] compulim opened #3360 "[Accessibility] Stripping Markdown should not remove HTML tags (related to #3615)"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/88244698-71137180-cc49-11ea-9f2e-7f5d4bb13dd8.png)

## Version

`4.9.2`

## Describe the bug

tl;dr a Markdown activity with content `"Hello, <b>World!</b>"`, the screen reader will narrate it as "Hello" only.

When a Markdown-based message activity arrived and it contains HTML tags, the content of the HTML tags are not nar

[2020-07-23 13:38] sharatssj4 commented on #1402
Any updates on making messageBack work on HeroCards?

[2020-07-23 19:12] navzam commented on #2343
An update: I finished up the [user-specific Direct Line token sample](https://github.com/navzam/user-direct-line-token-sample). It's essentially an extension of the more basic sample above, incorporating AAD tokens to ensure consistent and verifiable user IDs.

[2020-07-24 16:54] lorenz-haenggi-axa commented on #3256
here is our webpack.config.js

[webpack.config.zip](https://github.com/microsoft/BotFramework-WebChat/files/4973273/webpack.config.zip)

[2020-07-24 17:07] #3241 closed

[2020-07-24 17:07] compulim commented on #3241
Omnichannel team picked up the work. We will continue to do office hours for them.

[2020-07-24 18:14] compulim commented on #3301
Update from Omnichannel team, for single toast, set the `max-height` to `160px`.

[2020-07-27 08:22] Mrinnaal opened #3361 "Bot loads the initial welcome messages on top of Iframe in Chrome and Latest Edge browser but works well in Firefox"
Whenever bot is getting loaded, the welcome messages are shown on top part of the iframe rather than on top of typing textbox. This issue happens with latest webchat-es5-js file. It works fine in Firefox, but loads on top and creates unnecessary space between text box and message in Chrome and Latest Edge browser. Help me with this.

[2020-07-27 10:08] collegewap opened #3362 "Webchat Voice is not working in iPhone Emulator"
Webchat sample: https://microsoft.github.io/BotFramework-WebChat/03.speech/b.cognitive-speech-services-js/

## Screenshots

![image](https://user-images.githubusercontent.com/9767383/88528070-c372da80-d01b-11ea-9f2b-ed7795f4c8b0.png)

## Version
4.9.2

## Describe the bug

Was trying to triage an issue in the bot where the bot does not speak. When I tried to replicate in an emulator, on the press

[2020-07-27 11:58] Hirurgo commented on #3336
Did't catch you, [here](https://reactnative.dev/docs/network) we can find that `The XMLHttpRequest API is built into React Native. This means that you can use third party libraries such as ... `

[2020-07-27 12:07] sanjayror opened #3363 "We need an option to to “unsanitized” html if we want to skip sanitizeHTML in our requirement."
## Feature Request

We are having an issue in File Upload Control in bot framework,  We had custom modified “webchat.js”  Including commented line of code to fix the issue with custom UI file upload control but due to a needed upgrade we had to upgrade our library to a new version.  but after that we getting html render instead of file control.

but our earlier webchat.js works fine with this chan

[2020-07-27 15:22] felixvanleeuwen opened #3364 "Append onChange on TextBox"
## Feature Request

**Describe the suggestion or request in detail**
Our project would like to resize the textarea on TextBox when the user type so much they get a scrollbar.
For this it would be nice if the onChange would use a custom event handler after the one it has defined.
In this event handler we'd be able to set the height of the textarea based on its scroll height.

[2020-07-27 16:07] mdrichardson commented on #3362
@collegewap You'll need to test directly on an iPhone. Per the [iPhone Simulator docs](https://developer.apple.com/library/archive/documentation/IDEs/Conceptual/iOS_Simulator_Guide/TestingontheiOSSimulator/TestingontheiOSSimulator.html#//apple_ref/doc/uid/TP40012848-CH4-SW1):

[2020-07-27 16:07] #3362 closed

[2020-07-27 17:14] compulim commented on #3353
Thanks @karrimrabibiomni. Based from your investigations, I think you should be correct, but unfortunately, the card didn't throw an error on our side.

Do you have a card JSON that will repro the problem?

Attached below show the card being sent from the bot but the UI didn't blow up (yet).

![image](https://user-images.githubusercontent.com/1622400/88570945-c48f1200-cff1-11ea-9918-edea5482232b.p

[2020-07-27 17:21] compulim commented on #3357
@prashanthsridhar Are you using DLSpeech or regular Direct Line?

For a quick favor, can you try your bot outside of Angular?

[2020-07-27 17:22] compulim commented on #3256
I am being tightened up on a new feature and hope to get something done this week. 🙇🏻‍♂️

[2020-07-27 17:42] compulim commented on #3358
@Stevenic do you have a sample card JSON that fail?

I assembled a card by myself with `isMultiline` set to `true` and it's working in 4.9.2.

[code]

![image](https://user-images.githubusercontent.com/1622400/88573539-c2c74d80-cff5-11ea-8917-a6987356200c.png)

[2020-07-27 17:44] compulim commented on #3361
We have tested 4.9.2 under Firefox, Chrome and Edge. And all of them have the messages shown just above the text box.

Can you share more information on this?

[2020-07-27 17:47] compulim commented on #3363
If you would like to send unsanitized HTML, please use a custom Markdown engine.

You can follow this sample to bring your own Markdown engine, https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/h.minimal-markdown.

[2020-07-27 17:47] #3363 closed

[2020-07-27 17:52] corinagum commented on #3361
Please also provide screencaps. Have you changed any of the `styleOptions`?

[2020-07-27 17:55] compulim commented on #3364
I think you can use the `useSendBoxValue` hook to subscribe to the change.

But on the other side, you can set `sendBoxMaxValue` to a higher value to allow the text box to grow.

![image](https://user-images.githubusercontent.com/1622400/88574731-9f050700-cff7-11ea-9adb-5384da06530c.png)

![image](https://user-images.githubusercontent.com/1622400/88574676-8694ec80-cff7-11ea-98af-383cbcd0f4c0.png)

[2020-07-27 18:18] EricDahlvang commented on #3307
@steps371 please respond to William's questions.  We would like to close this in a few days.

[2020-07-27 18:26] Mrinnaal commented on #3361
screencaps unfortunately I can't provide here due to client restrictions. Yeah, I have applied styleOptions. But, it works fine in Firefox and Edge (Not the latest one). In Chrome and Latest Edge, messages are wrapping on top. Anyway you guys could help?

[2020-07-28 06:53] felixvanleeuwen commented on #3364
That was easy!
Thanks for the help stranger 👍

[2020-07-28 06:53] #3364 closed

[2020-07-28 17:38] prashanthsridhar commented on #3357
Hi @compulim ,we are using regular directLine. i did try it in a stand alone angular app,the issue exists. If you need me to test outside angular,it will take some time as i am currently out of office for a few days.

[2020-07-28 18:15] EricDahlvang commented on #3310
@corinagum  would you please provide a status update for this issue.

[2020-07-28 18:51] steps371 commented on #3307
Apologies for the delay in response

I experienced this issue on Mac Catalina in Both Chrome and Safari browsers. I believe a colleague was able to get the sample working on Windows.

Will investigate further tomorrow

[2020-07-28 22:10] compulim commented on #3357
Yes, please.

I tried to search our codebase for the keyword `cursor`, which is used in CSS to change the mouse cursor). But we couldn't find any references. 🤔

[2020-07-28 22:12] compulim commented on #3361
With only a paragraph explaining the situation, it's difficult on our side to judge what could be wrong.

Do you see it repro on our samples at https://microsoft.github.io/botframework-webchat? If it don't, can you compare the differences?

[2020-07-29 04:41] madbeher opened #3371 "'alt' property for describing image element in a herocard is not working"
We are trying to add descriptive text to an image element in hero card using 'alt' property of 'CardImage' object as mentioned in the below document.

https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#hero-card

https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0#cardim

[2020-07-29 08:31] corinagum commented on #3310
This is on our TBD list for R11. Fairly confident it will be scoped to that milestone.

[2020-07-29 14:23] #3353 closed

[2020-07-29 14:24] karrimrabibiomni commented on #3353
have retested a week on and web chat is now working as expected.

[2020-07-29 15:07] steps371 commented on #3307
Still running into the same error.

OS:
macOS Catalina 10.15.4

Browsers:
Google Chrome Version 84.0.4147.89 (Official Build) (64-bit)
Safari Version 13.1 (15609.1.20.111.8)

[2020-07-29 17:31] ychang-uei opened #3366 "Performance for loading Web Chat content for the first time is significantly worse with v4.9.2"
Using the latest webchat.js (v4.9.2) is causing a performance issue when loading the Web Chat content for the first time. We didn't have this problem with the previous version (v4.9.1), but now it's taking more than 5 seconds to load the content. I've seen this from the release note for v4.9.2:

- Rectified activities render order by delaying activities with replyToId that reference an activity wh

[2020-07-30 07:11] kavyashreeh22 commented on #2745
https://github.com/microsoft/BotFramework-WebChat/issues/2745#issuecomment-570126555

is this feature introduced?

[2020-07-30 07:32] felixvanleeuwen opened #3368 "Add style option to center textarea"
## Feature Request
When using the following style options:
[code]
you get a textarea instead of an input for user input.
This textarea alligns with the top.
There's also a div behind it, probably for accessibility, with the same dimensions.

Current:
![image](https://user-images.githubusercontent.com/64589372/88889974-36a96600-d241-11ea-95fd-2b868be14f7e.png)
Desired:
![image](https://user-images.

[2020-07-30 08:24] compulim commented on #3366
We are not seeing any significant perf issues when comparing 4.9.1 and 4.9.2. On our side, both of them took ~800ms to load.

Can you see anything strange in the Performance tab in browser dev tools?

![recording (41)](https://user-images.githubusercontent.com/1622400/88899824-65085080-d203-11ea-9fa5-3d04f4683f03.gif)

[2020-07-30 08:27] compulim commented on #3368
The `<div>` is a doppelganger and use for auto-resizing the `<textarea>`.

Are there any specific options you want to customize? We will rework the send box in #2211.

[2020-07-30 08:35] felixvanleeuwen commented on #3368
I want the textarea to be in the vertical center of the sendbox.
This is how we've implemented our textarea in V3:
![image](https://user-images.githubusercontent.com/64589372/88900752-22b93080-d250-11ea-947e-a86dd368c3b5.png)
In V4 the textarea doesn't scale out from the center:
![image](https://user-images.githubusercontent.com/64589372/88900919-6875f900-d250-11ea-9dd5-4b2154bba06a.png)

[2020-07-30 08:53] felixvanleeuwen commented on #3368
Just to get a field ```sendBoxCenterInput: true``` in styleOptions.
The default behavior should be to have it render as it does currently.
When set to true the textarea becomes centered vertically in the sendBox area.

[2020-07-30 09:34] CHuijsman commented on #2884
Hi @compulim @cwhitten,

I just noticed our feature request has been reprioritized to R11. Due to this, we also have to postpone our update to Web Chat V4 till this features is released. Can you give us more insight on your planning and can you inform us if we can rely on a release in R11 of our feature request.

[2020-07-30 10:36] compulim commented on #3368
I think we should center it by default. 😉

[2020-07-30 10:42] felixvanleeuwen commented on #3368
Awesome!

[2020-07-30 10:43] sanjayror opened #3369 "How can we generate webchat.js by yourself"
🚨 The issue tracker is not for implementation questions 🚨

[Question]

I downloaded https://github.com/microsoft/BotFramework-WebChat  on my local PC.
I done some modification in code.

How to run this download project ?
How can we generate webchat.js by yourself ?

[2020-07-30 13:46] felixvanleeuwen opened #3370 "CSP headers block 4.9.2"
## Screenshots
![image](https://user-images.githubusercontent.com/64589372/88930229-7c832000-d27b-11ea-98a7-ab702044d0a9.png)
![image](https://user-images.githubusercontent.com/64589372/88930264-8a38a580-d27b-11ea-8e63-991af890beff.png)

## Version
4.9.2

## Describe the bug
When updating from 4.7.0. to 4.9.2 our CSP headers go off on the bit of code in the screenshot.

## Steps to reproduce
1. Bl

[2020-07-30 18:13] compulim commented on #3370
This is related to one of our package. Let me forward you over.

![image](https://user-images.githubusercontent.com/1622400/88958626-9b6ebb80-d255-11ea-805c-f47a96beaf1c.png)

![image](https://user-images.githubusercontent.com/1622400/88958694-b3463f80-d255-11ea-9d8c-39c0f73079f9.png)

[2020-07-30 18:14] ychang-uei commented on #3366
I do see the activities (directline.botframework.com) load after about 1.5 seconds for 4.9.1, but it loads after about 3 seconds for the latest version:

v4.9.1:
![Capture_4 9 1](https://user-images.githubusercontent.com/68965410/88958730-bb05e400-d255-11ea-823b-80b88860a69d.JPG)

Latest version:
![Capture_latest](https://user-images.githubusercontent.com/68965410/88958738-be00d480-d255-11ea-9a4b-

[2020-07-30 18:24] compulim commented on #3369
Given you have install all dependencies, etc.

[code]

Then you can get the bundle from `/packages/bundle/dist/` folder. 😉

If you are making small style changes, I would strongly recommend looking at [our samples](https://microsoft.github.io/BotFramework-WebChat) to see how things work.

[2020-07-30 18:24] #3369 closed

[2020-07-30 18:55] compulim commented on #3366
![image](https://user-images.githubusercontent.com/1622400/88961408-d8d54800-d259-11ea-8215-f9b78fbdcfc2.png)

Trying to understand where the slow is:

1. (Red) Loading `webchat.js` thru network is slower, from 0.3s to 0.6s
2. (Blue) Reading `webchat.js` into memory is faster, from 1.3s to 1s
3. (Green) The overall experience, from loading to connecting, is slower, from 1s to 2s

The 1st point is

[2020-07-30 19:23] ychang-uei commented on #3366
Yes, I am using the CDN:

**v4.9.1**
<script src="https://cdn.botframework.com/botframework-webchat/4.9.1/webchat.js"></script>

**Latest**
<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>

[2020-07-30 19:59] v-kydela commented on #3371
@tdurnford - I'm only seeing an `images` property, like I said. Can you show me where the `image` property is documented?

![image](https://user-images.githubusercontent.com/41968495/88968672-7f264b00-d264-11ea-9ce3-76617bf98b96.png)

[2020-07-30 23:55] tdurnford commented on #3371
@v-kydela Hero cards have an `images` property - not an `image` property. You are correct.

[2020-07-31 07:07] madbeher commented on #3371
We tried using both 'image' and 'images' property and both are working.But 'alt' property is not working for both of them. Below is the documentation link which mentions that herocard has 'image' property.

https://docs.microsoft.com/en-us/composer/how-to-send-cards

<img width="503" alt="herocard properties" src="https://user-images.githubusercontent.com/36945600/89009539-5bc5d380-d32a-11ea-89da-

[2020-07-31 10:11] madbeher commented on #3371
Please find below documentation link specific to hero card.

https://docs.microsoft.com/en-us/composer/how-to-send-cards#herocard

<img width="511" alt="herocardtemplateincomposer" src="https://user-images.githubusercontent.com/36945600/89025369-583f4600-d344-11ea-8c46-0ffdb38350a7.PNG">

[2020-07-31 14:41] compulim commented on #3368
Some preliminary study on the layout here. You can study the code to understand how the doppelganger work.

https://compulim.github.io/playpen-textarea-doppelganger/

Still need to clean up the CSS a bit. Feel free to file PR over there for suggestions.

Will eventually move the JS/CSS there back to this repository.

[2020-07-31 15:07] compulim commented on #3368
I cleaned up the CSS over there. Need help from someone who can help copying the styles here.

[2020-07-31 15:48] compulim commented on #3371
Alt-text are something outside for `title`, `subtitle`, and `text`. And the schema doesn't support it.

We need to bring in the service team to update the schema to provide support on accessibility.

[2020-07-31 16:02] compulim commented on #2675
https://github.com/microsoft/botframework-sdk/issues/5874 is resolved. We are unblocked now.

[2020-07-31 16:04] compulim commented on #2675
I think we are not punting this one. As Chris didn't tag it as R11 during our last run.

[2020-07-31 16:14] compulim commented on #3371
Few things:

1. The Composer doc is wrong, there is no `image` property, but [`images` array](https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-protocol/botframework-channel.json#L1509).
   - `images` array has 3 fields: `url`, `alt`, and `tap`
1. Although Web Chat receive `alt`, our [`AdaptiveCardBuilder.ts/addImage`](https://github.com/microsoft/BotFramework-WebChat/bl

[2020-07-31 16:18] sanjayror commented on #3369
Hii,
When I run [npm run build] then I'm getting this error

![image](https://user-images.githubusercontent.com/15170372/89054959-3e6b2680-d377-11ea-8c69-44138caa529e.png)

Full logs attach here..
[2020-07-31T15_53_31_848Z-debug.log](https://github.com/microsoft/BotFramework-WebChat/files/5007943/2020-07-31T15_53_31_848Z-debug.log)

[2020-07-31 16:44] compulim commented on #2203
This is potentially depending on #3248.

This is because, we don't want to have an UX that a dragged file will trigger upload immediately.

We somehow want a prompt, or better, implement #3248.

[2020-07-31 18:15] dmvtech commented on #3291
@compulim Is this something you want to take as an enhancement/DCR? Seems like there are more than a few workarounds. Can you please close if not (I don't currently have perms to do so).

[2020-07-31 18:33] #2939 closed

[2020-07-31 18:44] compulim commented on #1402
@v-kydela can you file a new issue? This issue is closed because the `messageBack` is (mostly) implemented.

In the new issue, can you put a sample hero card JSON? And link it to this bug so @marcasmar94  and @sharatssj4 can vote on that bug to make it more prominent.

[2020-07-31 21:04] zxyanliu commented on #3371
FYI. The [HeroCard template](https://docs.microsoft.com/en-us/composer/how-to-send-cards#herocard) in the Composer documentation was referenced from the [sample](https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/plugins/samples/assets/projects/RespondingWithCardsSample/language-generation/en-us/common.en-us.lg#L7).

[2020-07-31 21:32] v-kydela commented on #1402
@compulim - It seems to have been fixed after I left my last comment. I don't know where that work was tracked.

[2020-07-31 22:18] tdurnford commented on #3371
I believe LG supports both the `image` and `images` properties.

[2020-08-01 04:24] #3354 closed

[2020-08-01 12:40] rvinothrajendran opened #3374 "Video card (autostart) is not playing the video automatically"
## Version
4.9.0

## Describe the bug

1. Video card -> autostart is not playing the video automatically
2.  Image -> Thumbnail placeholder is not displaying.

## Steps to reproduce

Try the Video Card sample with autostart and Image. ( I have tried the sample with Python)

## Expected behavior
Video should play automatically and image should be display.

[2020-08-02 07:03] compulim commented on #3301
@charliewang95 Can you set the `styleOptions` instead?

![image](https://user-images.githubusercontent.com/1622400/89117571-9f682c80-d453-11ea-9a4b-67551d3591ed.png)

[2020-08-03 16:20] venkatx5 commented on #908
In Webchat StyleOptions, add the below attribute.

`timestampFormat: 'absolute', `

**Explanation**

'absolute' will render exact time like "August 3, 10:30 AM"

'relative' will render as "1 minute ago"

===========================================================

[code]

[2020-08-03 17:39] compulim commented on #3251
Merged with #3365.

[2020-08-03 17:39] #3251 closed

[2020-08-03 17:41] #2675 closed

[2020-08-03 18:13] daveta commented on #3284
Hi @Amit8527510735 : Please reactivate if you have any problems with the suggestion..
Thanks, -Dave

[2020-08-03 18:13] #3284 closed

[2020-08-03 18:14] daveta commented on #3315
@compulim : Any updates?

[2020-08-03 20:14] compulim opened #3377 "[Direct Line Speech] Investigate supporting sovereign cloud"
## Feature Request

In Direct Line Speech [`packages/directlinespeech/src/createAdapters.js`](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/directlinespeech/src/createAdapters.js#L37), I think in addition of `region`, we need to support hostname.

Code excerpt of today:

[code]

[Enhancement]

[2020-08-03 23:35] #2828 closed

[2020-08-04 02:57] grimz11 commented on #465
I have a similar problem. I think this is a problem with the <b>"Botframework-webchat"</b> itself. I tried it on Bot emulator and it works just fine. But I just found out why it does happen for instance if we have a similar case here. This problem will happen if you're calling the action type <b>DIRECT_LINE/POST_ACTIVITY_FULFILLED</b> like this way.

[code]
The non-null assertion operator just won

[2020-08-04 06:13] sanjayror opened #3379 "npm run build not working"
🚨 I'm having issue when npm run build 🚨

npm run build not working in BotFramework-webchat

Node Version : v12.14.1
NPM Version : 6.13.4

![image](https://user-images.githubusercontent.com/15170372/89259098-347f4700-d647-11ea-8316-24dc94bf219d.png)

Complete Log :
[2020-08-04T06_09_17_616Z-debug.log](https://github.com/microsoft/BotFramework-WebChat/files/5020374/2020-08-04T06_09_17_616Z-debug.log

[2020-08-04 07:41] droidriz commented on #2667
any updates on this?

[2020-08-04 07:44] compulim commented on #465
Emulator is using Web Chat UI without much customization. 😅

However, Emulator emulates Azure Bot Services (i.e. the Direct Line protocol), thus, the actual activity being sent to the bot could be slightly different, due to the emulation layer.

Direct Line protocol diagram can be found here, https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/media/direct-line-sequence-diagram.png.

[2020-08-04 07:55] compulim commented on #2667
Sorry, we are not adding bubble nubs to attachments.

Attachments are not something the user/bot **mentioned**. Instead, they are **attached**.

Since it is not something "spoken", the bubble nub should not appear next to them.

[2020-08-04 07:55] #2667 closed

[2020-08-04 08:03] shanugit commented on #465
Hi @compulim,

The screenshot i have given, it was from my web page. In the emulator i was not getting the issue.

Now i did some UI modification for the bot and the issue is solved automatically.

Warm Regards,
Suman

[2020-08-04 08:10] droidriz commented on #2667
@compulim  Thanks for replying :)
Appreciate all your efforts.

[2020-08-04 08:23] compulim commented on #2667
@droidriz Thanks for understanding.

Be sure to check out the new "activity grouping" feature, it may give you what you need. 😉

Will add a nice sample soon.

![recording (30)](https://user-images.githubusercontent.com/1622400/89271077-138c0700-d5f1-11ea-9326-3cc3c047808e.gif)

[2020-08-04 08:31] grimz11 commented on #465
@compulim, Oh thank you for that explanation.
This is what happens if I use the first condition.
![image](https://user-images.githubusercontent.com/53614600/89271726-af5c5800-d66f-11ea-9577-cb03ed53328d.png)

Everything seems normal in my network tab.
![image](https://user-images.githubusercontent.com/53614600/89271813-d1ee7100-d66f-11ea-88d5-52c85fd67fb2.png)

[2020-08-04 08:50] compulim commented on #465
What you are showing is the orange arrow packet.

Can you also check the blue arrow packet?

![image](https://user-images.githubusercontent.com/1622400/89273755-d6c20f00-d5f4-11ea-9272-e1a217b94def.png)

[2020-08-04 09:21] grimz11 commented on #465
@compulim, Yea my bad.
Here
![image](https://user-images.githubusercontent.com/53614600/89277090-f6018080-d676-11ea-9777-dca6e9c76c7b.png)

[2020-08-04 13:47] collegewap opened #3381 "iOS voice does not work intermittently in Sample bot"
Was facing voice issue in iPhone in one of the custom bots, so after trying to figure out what is the issue, found that issue happens in Sample bot also.

Bot Link: https://microsoft.github.io/BotFramework-WebChat/03.speech/b.cognitive-speech-services-js/

## Version
4.9.2

## Describe the bug

In the iPhone, the bot will listen, but will not speak. The issue happens intermittently across the devi

[2020-08-04 17:45] stevkan commented on #3379
Hi @sanjayror, I just cloned and built the repo with no issues. Are you following the steps listed in the build [docs](https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/BUILD_SCRIPTS.md#build-scripts)? As they indicate, from the root directory you'll want to:

- Prep the repo by running
    - `npm ci`
    - `npm install`
- Run `npm run bootstrap`
- Run `npm run build`

[2020-08-04 18:13] daveta commented on #3381
Hi @collegewap : Are you using the Directline Speech channel? Or a separate speech recognition approach?

[2020-08-04 19:50] 007-fr opened #3404 "Unable to view PDF File inline for Bot Framework"
Hello Bot Framework support,

I am trying to get a pdf to display inline for the Direct Line Channel of a Bot. I used the following code below, but only received a link to the file.
![image](https://user-images.githubusercontent.com/66075770/89337173-8be1df00-d668-11ea-97ef-7ecb6804de0b.png)

Screenshot is from Bot Framework Emulator.
![image](https://user-images.githubusercontent.com/66075770/893

[2020-08-04 20:46] scheyal opened #3382 "Numbering reset in markup. No way to enforce my own numbering."
Declarative markup in composer has  **- 3. …**, it renders in the bot as **1. ...**. If I add \ in front of 3. It shows up as **\3.**  I want it to show as 3. …

Workaround - drop the '.'
Desired - what I want :)

[2020-08-05 03:19] sanjayror commented on #3379
Hi @stevkan
Thanks for Quick response.

Now I'm able to npm run build

![image](https://user-images.githubusercontent.com/15170372/89368130-62709400-d6f8-11ea-8a50-8855a8b796f1.png)

but after the [npm run build success] bundle from **/packages/bundle/dist/ is empty**
**dist folder is not created**, I checked the complete package but dist folder not found.
please help why my dist folder not create

[2020-08-05 04:36] collegewap commented on #3381
@daveta Using the same code as given here: https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/b.cognitive-speech-services-js

I have made changes only to the look and feel. No customizations related to speech. Also, we are using LUIS.

[2020-08-05 12:30] cimbis commented on #2150
I'm now investigating whether or not it is possible to make screen reader not read the timestamp.

I stumbled upon https://github.com/microsoft/BotFramework-WebChat/pull/2018 and the current issue.

@corinagum could you elaborate on the decision to return to initial behaviour (reading timestamps)?

In my opinion timestamps are irrelevant as long as screen reader is able to read messages in proper

[2020-08-05 15:40] compulim commented on #3382
This is because the message is being rendered through Markdown. You can set `textFormat` to `plain` to disable Markdown rendering.

[2020-08-05 15:40] #3382 closed

[2020-08-05 18:07] #3247 closed

[2020-08-05 18:24] compulim commented on #3124
Hi @BeeMaia.

Direct Line Speech do the speech synthesis on the bot part, before reaching Web Chat. Thus, `selectVoice` will not work in this case. I will update our docs to indicate this.

However, you can change the voice on the bot side. I did a quick experiment and you can see the code below.

In short, it send SSML tag with a specific voice (`en-US-JessaNeural` and `ja-JP-Ayumi-Apollo`). And

[2020-08-05 18:25] compulim commented on #3124
## To-do

- [ ] Fix our doc to indicate `selectVoice` will not work with Direct Line Speech, instead, devs will need to use SSML tag instead
   - References of SSML at https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-synthesis-markup

[2020-08-05 19:08] compulim commented on #3374
@rvinothrajendran for video card, which of the following are you playing? MP4, YouTube, or Vimeo?

[2020-08-05 19:37] #3313 closed

[2020-08-05 21:10] compulim opened #3383 "Passing `undefined` to `message` of notification toast will throw exception"
## Version

`4.9.2` or `master`

## Describe the bug

Passing `undefined` to `message` of notification toast will throw exception.

## Steps to reproduce

1. Call `SET_NOTIFICATION` or `useSetNotification` hook, with a structure of `{}`

## Expected behavior

Web Chat should show an empty toast, or a red box.

## Additional context

[Bug]

[2020-08-05 21:13] stevkan commented on #3379
@sanjayror, Look in `/packages/bundle/dist`. You _should_ find the files created there.

[2020-08-05 22:43] compulim commented on #3301
Closed as Omnichannel team can set `styleOptions` instead.

[2020-08-05 22:43] #3301 closed

[2020-08-06 04:01] rvinothrajendran commented on #3374
@compulim You tube video.

[2020-08-06 04:27] compulim commented on #3180
They would like to differentiate a message sent from the user, is it due to an `imBack` card action, or the user type the message?

The `imBack` feature is "sending a message back". It is designed to "pretend the user type the message, with a convenience of clicking a button."

This is interesting. In order to make this work, someone need to put some in-band data into the activity. It's either pro

[2020-08-06 04:28] compulim commented on #3180
Moving to R11 as we gathered business requirement.

[2020-08-06 11:11] steps371 commented on #3307
Does anyone have any suggestions on what the possible issue might be? Still stuck on this

[2020-08-06 12:43] madbeher opened #3385 "sso-for-enterprise project in .NET SDK"
hi,
I have gone through below documentation for sso login project and i found that it is implemented using NodeJS sdk

https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/07.advanced-web-chat-apps/b.sso-for-enterprise

Do we have similar sample project for .NET SDK ?

Thanks.....

🚨 The issue tracker is not for implementation questions 🚨

[Question]

[2020-08-06 13:03] madbeher opened #3386 "sso-for-enterprise demo bot not giving response for any question asked"
Hi,

I have gone through below documentation for sso sample project. In the documentation there is is mock out link provided to
try the demo bot which is already hosted as mentioned in the documentation but after trying that demo link I found that login
functionality is working but bot is not responding for any question asked. I tried asking same question as mentioned in the documentation. Am I mi

[2020-08-06 15:55] sanjayror commented on #3379
Hi @stevkan

Thanks for your response

![image](https://user-images.githubusercontent.com/15170372/89553279-ee82d880-d82a-11ea-935f-4e733c446dc5.png)

If I see /packages/bundle/ there is not **dist** folder.

m'i missing something ?
Can you suggest, that will be very helpful.

[2020-08-06 17:00] sanjayror commented on #3379
Hi @stevkan

Thanks for your time.
I need to generate webchat.js only once. If possible can you please generate webchat.js file for me.

Path :
https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/bundle/src/renderMarkdown.js
After make a little change in this file :-

![image](https://user-images.githubusercontent.com/15170372/89560243-55f15600-d834-11ea-8d3a-6e8f55dccec1.png)

[2020-08-06 18:12] daveta commented on #3385
Hi @madbeher : Web Chat is a front end written in node.js.  We're not sure what you're requesting here.

[2020-08-06 18:12] #3385 closed

[2020-08-06 23:09] anusharavindrar commented on #3386
@madbeher, I am able to repro the issue with the MockBot on my end. Have you tried running the sample?
I will investigate the issue further and try running the sample as well & update the thread accordingly.

[2020-08-07 00:06] stevkan commented on #3379
Hi @sanjayror, unfortunately, that is not something I can do for you. I can continue to help you resolve your issue, however.

When you run any of the commands to build Web Chat, do you see any errors listed if you scroll back upwards? Also, you might want to clone the repo in your system's root directory just in case there is an issue with the length of some of the directory/filename names.

[2020-08-07 03:31] sanjayror commented on #3379
Hi @stevkan

Thanks for help
i'm attaching the npm run build complete log of cmd. Can you please look into this. I can't see error, Is there any permission issue !!

[npm run build.txt](https://github.com/microsoft/BotFramework-WebChat/files/5039170/npm.run.build.txt)

[2020-08-07 04:07] #3296 closed

[2020-08-07 09:26] madbeher commented on #3386
Hi ,

I tried using   sample project in my local machine by following github documentation  but facing the same error.

[2020-08-07 10:38] cimbis opened #3389 "Unable to launch BotFramework-WebChat "playground" / npm-link into my project"
I'd like to do some tinkering with some of WebChat components before I'm raising any other issues (or possibly a PR), however, I'm unable to launch the project - it results in errors. I have cloned master branch of repo, apparently it's the 4.9.3-0 version.

As per following suggestion in one of the previous issues:

Everything seems to be fine up until I run `npm start` (I've changed port on whic

[2020-08-07 12:40] cimbis opened #3390 "[A11Y] Screen Reader is interrupted on new messages / submitted message is read twice"
As can be seen in [screen recording](https://youtu.be/6nIB7j-TxbU), after submitting a message, it's being read out twice, and when the bot replies the screen reader is interrupted with the new message.

Test flow - https://microsoft.github.io/BotFramework-WebChat/05.custom-components/c.user-highlighting/

I am experiencing similar issue with VoiceOver + Safari in the solution I am developing. Am

[2020-08-07 13:00] compulim commented on #3381
@daveta he is using Speech Services, not Direct Line Speech.

It is very interesting. When we do 4.9.2 release (and any production releases), we are 100% sure that speech synthesis is working. This is the page we test against on every release, https://corinagum.github.io/WebChat-release-testing/.

And when I am testing the page on my iPhone right now, it stopped working, just like how @collegewap

[2020-08-07 13:12] InfoZone opened #3391 "URL from QnA service has _blank in it which causes link to open in new tab. Directline bot"
🚨 The issue tracker is not for implementation questions 🚨

[Question]
We have a direcline bot that when a question is asked, we call QnA service that will return a few links. now the links  when clicked, opens in a new tab. can this be prevented?

I think this is injected by the webchat.js file
https://cdn.botframework.com/botframework-webchat/latest/webchat.js

![image](https://user-images.github

[2020-08-07 13:36] compulim commented on #3381
In the meanwhile, @collegewap could you quickly check if it works on older version of Web Chat, e.g. `4.9.1`, `4.8.1` and `4.7.1`?

[2020-08-07 17:52] compulim commented on #3381
My bad, I flipped the "do not disturb" switch on iPhone (on it side), thus the audio was not coming through.

After I flipped the switch off, audio is going through. I tested 4.9.2 through this page https://microsoft.github.io/BotFramework-WebChat/03.speech/b.cognitive-speech-services-js/. And also through few of my testing pages and everything looks good.

@collegewap can you check on your side?

[2020-08-07 18:02] compulim opened #3392 "Bump Adaptive Cards to 2.*"
## Feature Request

https://www.npmjs.com/package/adaptivecards

There are a few breaking changes we will need to modify code on our side to support them.

Adaptive Cards renderer 2.1 is using schema of **1.3**, not **2.x**.

### Ping service team

Service team may need to update their service code or dependencies to make sure their parser/stringifier support AC schema 1.3.

Today, when a bot send

[2020-08-07 18:20] compulim commented on #3391
#2892 is the feature work to selectively choose which link to open in a new window or not. But until that feature is done, all links are designed to open in a new window.

I will close this as dupe, please track the progress of #2892.

[2020-08-07 18:20] #3391 closed

[2020-08-07 18:21] daveta commented on #3256
Hi @lorenz-haenggi-axa : fyi, this is still on the radar.

[2020-08-07 18:36] stevkan commented on #3389
@cimbis, unfortunately, I am unable to repro the issue you are facing. Can you tell me which version of Node and npm you have installed? I'm using v14.6.0 and v6.14.5, respectively. Also, if you haven't already, can you try cloning the repo in your system's root directory in case long directory paths/filenames are part of the issue?

[2020-08-07 18:39] stevkan commented on #3389
With regards to `npm link`, that command is run in the repo's root directory: `...\BotFramework-WebChat\`. However, if you encounter errors trying to build, likely running 'npm link' and/or 'npm link botframework-webchat' (in your projects root directory) will also fail.

[2020-08-07 18:51] cimbis commented on #3389
Hmm.. I'm on node v12.something.something - I'm unable to tell as I don't have my work laptop on me right now and won't have access to it during weekend as well (excuse me for not including that in my initial post). I'll also try to build it with the version you're using - v14.6.0.

As for `npm link` - thanks for pointing out that it should be run from `BotFramework-WebChat` root.

I'll try out yo

[2020-08-07 18:54] compulim opened #3393 "Adding nonce to style to support Content Security Policy"
## Feature Request

To enable Content Security Policy on the hosting page, Web Chat will need to be updated with nonce in the styles, i.e. changing the prefix for glamor.

## Additional Context

https://portal.microsofticm.com/imp/v3/incidents/details/199836319/home

[Enhancement]

[2020-08-07 20:29] stevkan commented on #3379
@sanjayror, I noticed in the first log file you provided you are working in your "c:\" drive and in the second file you are working in your "e:\" drive. Why the two and could this be part of the issue?

Also, I am running Node v14.6.0 and npm v6.14.5. Can you try updating and try again, as well?

[2020-08-07 20:32] compulim commented on #3281
A permission dialog is required to enable speech support inside Cordova app.

I tested this Cordova plug-in [`cordova-plugin-k-webrtc-permission`](https://www.npmjs.com/package/cordova-plugin-k-webrtc-permission) and it can correctly request permission and enable speech support in Web Chat.

The plug-in request for permissions more than Web Chat is needed, so I would suggested looking for another

[2020-08-07 20:33] compulim commented on #3281
We need to add more documentation before closing this issue.

[2020-08-07 20:36] compulim commented on #3281
Moving to R11 for documentation update.

[2020-08-07 21:12] cimbis commented on #3389
Heh, realised that the very first lines of the log I posted mention node/npm versions I'm running:

[code]

FYI, @stevkan

[2020-08-08 00:19] compulim commented on #3381
Attached is a video showing Safari on iPhone, on https://microsoft.github.io/BotFramework-WebChat/03.speech/b.cognitive-speech-services-js/. And is able to do both speech recognition and synthesis.

[RPReplay_Final1596845716.zip](https://github.com/microsoft/BotFramework-WebChat/files/5044380/RPReplay_Final1596845716.zip)

[2020-08-08 00:30] corinagum commented on #2150
The general rule for accessibility is that 'any information available to a sighted user must also be available to a user without sight'. Within our team we have a11y compliance rules that we must follow, and this is one of the main principals that we adhere to.

Because of this, I don't see timestamps becoming optional as something we will implement. Ultimately, I also wouldn't recommend this for

[2020-08-10 04:43] madbeher commented on #3386
Hi,

The sample project I tried in my local machine login button working but bot is not working.

thanks...

[2020-08-10 05:12] madbeher commented on #3386
Can anyone help me with above issue.

Thanks...

[2020-08-10 07:21] #3383 closed

[2020-08-10 07:22] deenaMaistering opened #3394 "The conversation update is not send from Webchat"
The conversation update is not sent from Webchat when I tried from "Test in Webchat" and my application (which is running using angular+javascript).  But I see that Conversation Update activity is sent from the emulator. How can I send it from Webchat?

[2020-08-10 08:31] adamayoung opened #3395 "Add activities to webchat when user scrolls to top of message list (Infinite Scrolling)"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Yes - related to a problem.

Initially loading webchat with a large number of activities causes the browser to freeze until it has rendered them all. I therefore want to load webchat with the last ~20 activities I have stored, and dynamically add more previous activities when the user scrolls to the top of the

[2020-08-10 10:58] manish-95 opened #3396 ""Role" property of conversation update activity set to null"
## Screenshots

## Version
WebChat 4.9.1 via CDN

## Describe the bug

When the conversationUpdate activity is sent by WebChat, the Role property of the activity is set to null. As a result, the ProactiveState does not get updated with new Conversation details since it looks for the role being equal to "user". This gets updated only when a skill is invoked/message is sent. As a result, if there ar

[2020-08-10 13:24] cimbis commented on #3389
Alright, my findings:

**node 14.6.0**
[code]

from BotFramework-WebChat root:
[code]

[code]

then in my solution:
[code]

Which yields nothing, `node_modules` are not updated. It seems to me that the issue might be in the fact that `npm link` sees *botframework-webchat-root* as a package name in `BotFrameWork-WebChat/package.json`...?

---

Result from **node 12.14.1**:

[code]

[code]

[code]

[2020-08-10 15:28] v-aabro commented on #3393
The team I work on uses BotFramework-WebChat along with TypeScript, React, and Redux.  We transpile our code into app.bundle.js using Webpack on build.  Another team uses our app.bundle.js in their site, but currently their Content Security Policy prevents them from loading our project because of the inline styles glamor adds.

Once the nonce is able to added to these inline styles, this should ge

[2020-08-10 15:31] v-aabro commented on #3393
Also, once this fix is in we will have to upgrade to the latest version of BotFramework-WebChat, but we also are having an issue with the bot-framework streaming library referenced in these bugs:

https://github.com/microsoft/botbuilder-js/issues/2620
https://github.com/microsoft/botbuilder-js/issues/2647

The current solution for these bugs is to downgrade BotFramework-WebChat.  Will these bugs b

[2020-08-10 16:41] anusharavindrar commented on #3386
@madbeher, thanks for the above information. I am currently working on this and will update the thread with my findings.

[2020-08-10 16:50] v-kydela commented on #3394
Thank you for the question, @deenaMaistering. Is it possible that your bot just isn't responding to the conversation updates correctly? Try this code:

[code]

Test in Web Chat is sending the conversation updates just fine for me:

![Azure Web Chat](https://user-images.githubusercontent.com/41968495/89808243-b4495d80-daee-11ea-8ebc-d9f02f8df1d0.png)

[2020-08-10 17:10] agriniex opened #3397 "[A11y] Screen reader announces User message twice when using Directline"
When using directline, Announcer is reading user message twice before proceeding to bot message. This behavior is noticed only when using directline. On emulator, screen reader reads user message only once then continues with bot message.

I have a feeling that this could be related to the sequence of how activityMiddleware processes activities. Below are some list of activityId's taken from each

[2020-08-10 17:36] msbotdev19 opened #3398 "Speech not working in web chat for GOV cloud due to wrong endpoint"
## Screenshots
Below is the screenshot of Firefox web console
![image](https://user-images.githubusercontent.com/60222720/89809994-01aee480-db5a-11ea-9118-5ea75e1dd236.png)

## Version
What version of Web Chat are you using? **4.9.2** [This one](https://cdn.botframework.com/botframework-webchat/latest/webchat.js)
Are you using the CDN? **Yes**

## Describe the bug
We are developing a bot hosted on

[2020-08-10 17:39] stevkan commented on #3396
Hi @manish-95, can you post code for how you are generating a token in Web Chat as well as any relevant details (for example, is Enhanced Authentication enabled in the Direct Line channel)?

And, what API do you call to request the token? If you call an API of your own, can you also include that code?

[2020-08-10 17:43] cwhitten opened #3399 "Investigate nonce strategy for updated Content Security Policy"
https://portal.microsofticm.com/imp/v3/incidents/details/199836319/home

As a library, Web Chat cannot implement this CSP for users who need it. However, we should provide a mechanism to accept a nonce for Web Chat's inline styles.

[2020-08-10 18:10] compulim commented on #3393
From @stevengum, those bugs (2620, 2647) should be fixed in R11, which should be 2-3 months from now (Oct-Nov timeframe).

For dynamic nonce, will this work for you?

[code]

[2020-08-10 18:16] compulim commented on #3398
Looks like you are using `region` instead of `speechRecognitionHostname` or `speechSynthesisHostname` for sovereign cloud.

Please follow the documentation here for specifying endpoint for sovereign cloud, https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/SPEECH.md#using-sovereign-cloud.

[2020-08-10 18:25] carlosscastro commented on #3361
Closing due to inactivity. Please reactivate if you have responses to @compulim's questions or new data. Thanks

[2020-08-10 18:25] #3361 closed

[2020-08-10 18:26] compulim commented on #3310
We will triage it in R11.

[2020-08-10 18:31] compulim commented on #3396
@stevkan [this schema](https://github.com/microsoft/botframework-obi/blob/master/protocols/botframework-protocol/botframework-channel.json#L962) may give you some hints.

In short, `activity.from.role` is something in the spec, but Direct Line service didn't send it to us. So Web Chat to have figure it ourselves.

I think @manish-95 is talking about SDK was not having the `activity.from.role`. So

[2020-08-10 18:33] compulim commented on #3357
@prashanthsridhar we are eagerly waiting for your investigation.

[2020-08-10 18:38] compulim commented on #3366
@ychang-uei are you still seeing the issue?

Based on the chart I drawn above, we are not seeing Web Chat is significantly slower. Network do play a factor here as we can see (slower loading `webchat.js`, slower response from bot).

[2020-08-10 18:54] compulim commented on #3399
Close, dupe of #3393.

[2020-08-10 18:54] #3399 closed

[2020-08-10 19:01] compulim commented on #3374
I think it's a bug on our side. Will triage in our next release.

I tried this IFRAME and it can auto-play.

[code]

[2020-08-10 19:11] prashanthsridhar commented on #3357
Hi @compulim sorry for the delay,the issue exists outside angular as well. The blocker symbol does not turn up but the mic is still deactivated.
Deactivated after following  the above mentioned steps:
![WhatsApp Image 2020-08-11 at 00 38 13](https://user-images.githubusercontent.com/11289456/89820751-1f387a00-db6b-11ea-8a1e-ba9a7de8d37f.jpeg)

Normal mic state:
![WhatsApp Image 2020-08-11 at 00 38

[2020-08-10 19:38] compulim commented on #3397
Azure Bot Services is a distributed system and subject to network latencies and various factors. That means, activity going in and out may not be in exact order. We do sort activities using timestamp. All activities are timestamped when they arrive on the Azure Bot Services.

Emulator, in contrast, is emulating Azure Bot Services. The emulated service is locally-hosted and not distributed. Thus, a

[2020-08-10 19:40] compulim commented on #3390
This is interesting. Let me investigate and get back to you shortly.

[2020-08-10 21:08] v-aabro commented on #3393
I think that would work, I was just confused how a team consuming our project on their own site would specify this nonce in their own CSP if it is changes with each HTTP request.  This may be out of scope for your team to consider though, but any advice would be appreciated.

[2020-08-10 22:22] compulim commented on #3390
I am also able to repro it on Safari on macOS using a standard W3C sample at https://www.w3.org/WAI/WCAG21/working-examples/aria-role-log/chatlog.html. This sample show how chat should behave in an accessible environment. I have included a video here.

[Screen Recording 2020-08-10 at 3.09.52 PM.zip](https://github.com/microsoft/BotFramework-WebChat/files/5053681/Screen.Recording.2020-08-10.at.3.09

[2020-08-11 02:32] rvinothrajendran opened #3400 "Using Bot middleware concept - User text status is not updated"
## Screenshots

![image](https://user-images.githubusercontent.com/16264167/89850142-95f36880-dba7-11ea-8abb-2aacb0f5ed4d.png)

## Version

 Bot emulator 4.9

## Describe the bug

Rights side(image) working fine but not sure in which bot emulator version (last year December 2019) . the same code try to run bot emulator 4.9(Left side(image))  application its working fine & but the status showing as

[2020-08-11 05:58] ismendes commented on #3386
@anusharavindrar I could unblock them. This is not actually an error. It’s just that the Bearer token in Azure portal is called Secret key. You can close this, I believe. Thanks for your help.

[2020-08-11 06:06] agriniex commented on #3397
Thanks @compulim , I think what you said about "_Given that, if activities are sending fast enough through Azure Bot Services. You might see activities going out-of-order._" should be what is causing our accessibility issues.

The issue with accessibility is that this causes user message to be read twice by assistive technologies if activities are received too quickly. I was setting delays for bot

[2020-08-11 06:33] manish-95 commented on #3396
@stevkan @compulim I can add a bit more information here which might help. The ProactiveState middleware in the latest version of the BotFramework Solutions, looks for activity.from.role, which is null, hence it fails to update the Proactive State. In previous versions, it was looking in the activity.from.properties, which had a key value pair for role

[2020-08-11 06:38] SunilMiracle opened #3401 "protocol-direct-line-app-service-extension readme seems to be incomplete with broken links"
## Screenshots
![image](https://user-images.githubusercontent.com/35075619/89864634-434f8780-db7a-11ea-9564-b3f7fc475d86.png)

## Version
Web chat version:   CDN: "https://cdn.botframework.com/botframework-webchat/latest/webchat-minimal.js"

Git link: https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/i.protocol-direct-line-app-service-extension

## Describe t

[2020-08-11 08:15] sanjayror commented on #3379
@stevkan now I'm able to generate files

Thanks for your support

[2020-08-11 09:06] msbotdev19 commented on #3398
Thanks! that helped

[2020-08-11 09:06] #3398 closed

[2020-08-11 12:14] madbeher opened #3402 "SSO via OAuth sample in C#"
Do we have sso ouath sample in C#.

Thanks..

## Feature Request

### Use the ['Enhancement' query](https://github.com/microsoft/botframework-Webchat/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Aenhancement) to search for the most popular feature requests.

### The [Sample tag](https://github.com/microsoft/botframework-Webchat/issues?q=is%3Aissue+is%3Aopen+label%3ASample) also lists exampl

[2020-08-11 13:35] sathishkumar2292 opened #3403 "Need help for SSO via OAuth sample in C#"
I am belongs to C# background, But I sae the SSO OAuth login example is available on NodeJS, So can anybody please provide the example in C#
It would be helpful for me.

## Feature Request

### Use the ['Enhancement' query](https://github.com/microsoft/botframework-Webchat/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Aenhancement) to search for the most popular feature requests.

### The [S

[2020-08-11 16:57] #3092 closed

[2020-08-11 17:14] stevkan commented on #3389
@cimbis, Can you link me to the node version manager you are using. I can't imagine that is the source of the problem, but I want to rule that out. Also, have you tried a fresh clone of the repo, in case something got muddled while cloning the first time?

[2020-08-11 18:23] carlosscastro commented on #3291
@compulim could you please evaluate Dana's suggestion on whether we should close this issue and / or take as an enhancement?

[2020-08-11 18:29] carlosscastro commented on #3396
@EricDahlvang could you please look at this from an SDK perspective? We need some sdk guidance here. Thanks!

[2020-08-11 18:34] jwiley84 commented on #3403
The C# version of SSO is handled through the parent bot/skill bot pattnern:

https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication-sso?view=azure-bot-service-4.0&tabs=csharp%2Ceml

The sample showing this is here:
https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/sso-with-skills

[2020-08-11 18:34] #3403 closed

[2020-08-11 18:35] jwiley84 commented on #3402
The C# version of SSO is handled through the parent bot/skill bot pattnern:

https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication-sso?view=azure-bot-service-4.0&tabs=csharp%2Ceml

The sample showing this is here:
https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/sso-with-skills

[2020-08-11 18:35] #3402 closed

[2020-08-11 18:38] jwiley84 commented on #3400
Assigning to myself until Dana's permissions are fixed

[2020-08-12 00:09] jriley15 commented on #3046
@compulim Is this fixed now in 4.9.2?

[2020-08-12 00:14] #3386 closed

[2020-08-12 03:56] emegrabo opened #3406 "No formatting for Web Chat?"
🚨 The issue tracker is not for implementation questions 🚨

[Question]

The default styling for the Web Chat used to be identical to the Bot Emulator. Now, however, there seems to be significantly different default behavior for webchat. I have attached two images below illustrating the differences. My question is: does there exist a ready-made template that will make my Web Chat look and behave the

[2020-08-12 06:48] collegewap opened #3407 "Directline speech - web socket ends with 200 response"
## Screenshots

![image](https://user-images.githubusercontent.com/9767383/89983327-f90ef900-dc94-11ea-8e8e-217c7a29e1f1.png)

![image](https://user-images.githubusercontent.com/9767383/89983367-0b893280-dc95-11ea-8a2c-17073722dd46.png)

## Version

4.9.1

## Describe the bug

I have enabled directline speech in our bot by using the following example and I am getting the error "Error during WebSoc

[2020-08-12 06:57] sanjayror opened #3408 "How to reduce size of my custom build of webchat.js currently the size is too heavy"
How to reduce size of my custom build of webchat.js

I cloned the https://github.com/microsoft/BotFramework-WebChat/

## Steps to reproduce

**Prep the repo by running**
1). npm ci
2). npm install
3). Run npm run bootstrap
4). Run npm run build

but the size is too heavy webchat-es5.js size is 22.1 MB and webchat.js size is 21.3 MB.

there size should be less then 3 MB

Please help how to reduce s

[2020-08-12 07:04] collegewap commented on #3408
Try running the following command. The size would be around 2.8MB. If you serve the js from a CDN, the gzipped size would be around 700kb

``npm run publish``

[2020-08-12 08:08] sanjayror commented on #3408
Hi @collegewap

Thanks for quick response

I tried with npm run publish, but showing this error (npm ERR! missing script : publish)

![image](https://user-images.githubusercontent.com/15170372/89989870-2a8cc200-dc9f-11ea-97ae-5b95bf453fc5.png)

error logs : [Uploading 2020-08-12T07_30_52_479Z-debug.log…]()

Thanks in advance

[2020-08-12 08:23] sanjayror commented on #3408
Hi @collegewap
Thanks for quick response

I tried with npm run publish, but showing this error (npm ERR! missing script : publish)

![image](https://user-images.githubusercontent.com/15170372/89992640-2d89b180-dca3-11ea-981b-f62d61c1ace4.png)

complete error log:
[2020-08-12T07_30_52_479Z-debug.log](https://github.com/microsoft/BotFramework-WebChat/files/5061449/2020-08-12T07_30_52_479Z-debug.log)

[2020-08-12 09:49] venkatx5 commented on #2120
**Thanks a lot for the code. Saved my day!**

[2020-08-12 09:51] collegewap commented on #3408
You can add the following script to package.json

``"publish": "SET NODE_ENV=production&& lerna run --ignore playground --stream build",``

Btw, it is not advised to clone the repo. It is recommended to make use of the [CDN bundle ](https://cdn.botframework.com/botframework-webchat/latest/webchat.js)and use [examples](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples) to custom

[2020-08-12 12:55] madbeher opened #3409 "sending and receiving events from webchat in Bot Composer"
Hi,

I am able to dispatch an event (with custom name) from webchat and capture it in bot composer using 'Event received ' trigger
as shown in below screenshot.

<img width="386" alt="Eventreceived" src="https://user-images.githubusercontent.com/36945600/90017329-ffb76380-dcc8-11ea-96c5-ea30579766b3.PNG">

But how can I post or send an event activity from bot composer to webchat?

🚨 The issue trac

[2020-08-12 16:50] sanjayror commented on #3408
Hi @collegewap
Thanks for quick reply

I tried with npm run publish but still the webchat.js size around 21 MB.

you can see the size in dist folder
![image](https://user-images.githubusercontent.com/15170372/90043410-b3305000-dce9-11ea-8178-8287098d06f6.png)

here is my package.json file
![image](https://user-images.githubusercontent.com/15170372/90043450-c2170280-dce9-11ea-989d-50bc7d68772a.png)

[2020-08-12 17:16] v-kydela commented on #3406
Thank you for the question, @emegrabo

I'm going to close this for now so that it can be handled on Stack Overflow: https://stackoverflow.com/questions/63368624/styling-for-web-chat

[2020-08-12 17:16] #3406 closed

[2020-08-12 18:21] carlosscastro commented on #3395
Thanks for your request. We think this would be a valuable addition and we added it to the backlog, to be considered in the planning for the upcoming releases. Thanks!

[2020-08-12 19:20] v-kydela commented on #3409
@madbeher - Have you tried using [Send a response](https://docs.microsoft.com/en-us/composer/how-to-send-messages#the-user-scenario) with an activity [structured response template](https://docs.microsoft.com/en-us/azure/bot-service/language-generation/language-generation-structured-response-template) with "event" as the `type` property?

[2020-08-12 20:23] v-kydela commented on #3394
@deenaMaistering - Are you still working on this?

[2020-08-12 20:43] EricDahlvang commented on #3396
As William mentioned, 'role' is not sent by Direct Line.  Looking through the botframework-solutions repository, it appears this 'role' field has been adopted for a different purpose than originally intended.  And, there is currently an inconsistency between **DefaultActivityHandler** and **ProactiveStateMiddleware**

https://github.com/microsoft/botframework-solutions/blob/master/samples/csharp/a

[2020-08-12 20:50] EricDahlvang commented on #3396
Transferring to https://github.com/microsoft/botframework-solutions/

[2020-08-12 21:57] Zerryth commented on #3407
@collegewap it seems like there might be something wrong with how you configured directline speech for your bot, as for a first test, I just simply did the following successfully:

## **Test with the Read-Made Mockbot Sample**
(mockbot is the bot that the webchat sample talks to, whose code is separate from the `03.speech/a.direct-line-speech` sample)
- `git clone https://github.com/microsoft/BotF

[2020-08-12 23:11] Zerryth commented on #3407
Hmm, looking around there does seem to be some issue on the other layers regarding DLS.
https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/221#issuecomment-673020344

What kind of browser and OS are you using @collegewap ?

[2020-08-12 23:31] stevkan commented on #3379
Hi @sanjayror, I'm glad you were able to get it work. As for your new question on size, I see you opened a new issue, #3408, which is the appropriate action.

Closing this as resolved.

[2020-08-12 23:31] #3379 closed

[2020-08-13 03:55] collegewap commented on #3407
@Zerryth

The bot is working fine (Tried example 1a). If I try the [speech services ](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/b.cognitive-speech-services-js) also, it works fine. I made sure that all the steps to enable directline speech are done correctly. Still facing the issue.

I am using Windows 10+ Chrome. Tried in Firefox as well. Same error. I tried

[2020-08-13 04:27] Zerryth commented on #3407
Hmm...

@collegewap ok, I think what we need now here is painfully explicit step-by-step of what you're doing, just so that we can get a repro of your issue.

Please provide exact repro steps of at least one thing you're doing to get your error, so that we could hopefully get it too and dig down to a resolution

[2020-08-13 04:30] madbeher commented on #3409
we tried using the solution you mentioned and it is working for us.  Thanks for providing quick solution.

[2020-08-13 05:15] collegewap commented on #3407
Here are the steps I am doing:

1. Open https://compulim.github.io/webchat-loader/
2. Select "MockBot (Direct Line Speech)"
3. Clear the generated token
4. Choose "east us 2" as the region.
5. Provide my speech key and click on "Generate Token".
6. Click on "Open Web Chat in a new window"
7. Click on the mic button and I would see the above-mentioned error.
![image](https://user-images.githubuserc

[2020-08-13 09:40] cimbis commented on #3390
Hi @compulim!

I've tried the chatlog example from w3 as well as looked at the screen recording you provided.
I did not experience interruptions upon new messages, as they appeared on screen after VoiceOver had read them (default "rate" setting). What seems to me is that your VoiceOver is set to read text slower ("rate" is reduced) and that's why it was possible to replicate the issue. I was able

[2020-08-13 09:50] collegewap commented on #3407
@Zerryth We followed the same steps in another instance and it worked fine. Not sure what is the issue with this specific bot instance. Thanks for your help.

[2020-08-13 09:50] #3407 closed

[2020-08-13 10:53] compulim commented on #3390
Hi @cimbis. Thanks for investigating the issue.

I tune it slower so W3C sample will be slow enough to get one sentence overlapping another. With standard speed, the sentence was too short to get overlapped.

We have 2 `<div>` with `aria-live="polite"`. The first one is [toast notification](https://microsoft.github.io/BotFramework-WebChat/05.custom-components/i.notification/). The second one is th

[2020-08-13 11:00] cimbis commented on #3389
I'm currently running:
[code]

And yes, I've fruitlesslys tried re-cloning the repo before setting up the WebChat project with other node versions.

[2020-08-13 11:03] cimbis commented on #3390
I'm out of ideas here.. What's your opinion - is there anything I can do to fix the matter?

[2020-08-13 14:25] collegewap opened #3410 "Ability to retain conversation history in Directline Speech"
## Feature Request

**Is your feature request related to a problem? Please describe.**

As mentioned in https://github.com/microsoft/BotFramework-WebChat/issues/2573, directline speech does not support retaining conversation history.

**Describe the suggestion or request in detail**

Since the [a.direct-line-speech](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/a.

[2020-08-13 14:38] collegewap opened #3411 "Directline speech stops working if user clicks on the Mic during recognition"
## Screenshots

![image](https://user-images.githubusercontent.com/9767383/90147661-0d8be800-dda0-11ea-88b2-4d7144d61d70.png)

## Version
4.9.2

## Describe the bug

## Steps to reproduce

1. Go to https://compulim.github.io/webchat-loader/
2. Select "MockBot (Direct Line Speech)"
3. Click on "Open Web Chat in a new window"
4. Speak something
5. Before the bot responds, click on Mic again
6. The s

[2020-08-13 15:36] v-kydela commented on #3409
@madbeher - You're welcome, glad to hear it

[2020-08-13 15:36] #3409 closed

[2020-08-13 15:58] naveenkumarreddym opened #3412 "Adaptive card Action.ShowCard not showing arrow"
Missing downward arrow on the Action.ShowCard as shown in the adaptive cards document

## Screenshots

![image](https://user-images.githubusercontent.com/51904323/90157785-c9064980-ddab-11ea-8c24-2d3fbf304641.png)
![image](https://user-images.githubusercontent.com/51904323/90157861-e20efa80-ddab-11ea-9d4a-8a41061c9989.png)

## Version
1.2 and above
## Describe the bug

Document showing different c

[2020-08-13 16:13] naveenkumarreddym opened #3413 "Adaptive card version not being considered"
We are sending the adaptive card payload by specifying the version as below. But we are still seeing the style not getting applied to the Submit button

[code]

## Screenshots
In MS Teams app (positive style not applied)
![image](https://user-images.githubusercontent.com/51904323/90158825-23ec7080-ddad-11ea-81c6-6367fc056215.png)

Same in designer (positive style applied)

![image](https://user-im

[2020-08-13 18:10] carlosscastro commented on #3411
Thanks for reporting. We'll investigate and prioritize during our planning and update as necessary. Thanks!

[2020-08-13 18:11] carlosscastro commented on #3411
@compulim if possible please add to the R11 investigate backlog.

[2020-08-13 18:22] dmvtech commented on #3400
@rvinothrajendran In the emulator, Can you share the additional information? I'm guessing it is showing an error in the right pane of emulator.

Also, your bot is sending the username in your `on_members_added_activity`, but I don't see that in the screen shot. Is that happening at all?

If you remove the middleware and just have the bot echo, does it work without error?

[2020-08-13 18:51] v-kydela commented on #3412
Thank you for the feedback, @naveenkumarreddym

It looks like you're having issues with the Adaptive Cards designer which is supported by the Adaptive Cards team. This is the Web Chat repo where we handle Web Chat issues. Do you think your issue would be better suited for the Adaptive Cards repo? https://github.com/microsoft/AdaptiveCards

[2020-08-13 19:02] v-kydela commented on #3413
Thank you for the feedback, @naveenkumarreddym

It looks like you're having issues with Adaptive Cards in MS Teams. This is the Web Chat repo where we handle Web Chat issues. Do you think your issue would be better suited for the Adaptive Cards repo? https://github.com/microsoft/AdaptiveCards

You can also submit Teams feedback through the Teams app directly.

[2020-08-13 22:03] jwiley84 commented on #3401
Thanks for bringing this to our attention! I'll fix the links tonight, and give the instructions a review for readability!

[2020-08-14 00:48] #3401 closed

[2020-08-14 02:19] rvinothrajendran commented on #3400
here the right side info.

![1](https://user-images.githubusercontent.com/16264167/90206853-583e4c00-de02-11ea-94b6-84ea137434e1.png)

If you remove the middleware and just have the bot echo, does it work without error? -> removed middleware and  on_members_added_activity function also -> Its showing an error

[2020-08-14 08:48] compulim commented on #3381
Closing due to inactivity.

[2020-08-14 08:48] #3381 closed

[2020-08-14 08:55] naveenkumarreddym commented on #3413
Moved to Adaptive Cards

[2020-08-14 08:55] #3413 closed

[2020-08-14 08:55] naveenkumarreddym commented on #3412
Moved to Adaptive cards

[2020-08-14 08:55] #3412 closed

[2020-08-14 09:46] akshatagarwal2507 commented on #2211
Dear Team,

Any updates by when "Mic Button Does Not Get Changed to Send Button when Started Typing #3110" is expected to be released.

Thanks in Advance.

Regards
Akshat Agarwal

[2020-08-14 10:21] compulim commented on #3408
Please refer to this doc on how to build production bits, https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/BUILD_SCRIPTS.md#implementations.

[2020-08-14 13:19] collegewap commented on #3411
Happens in mock bot also.

Steps to replicate:
1. Open [3a](https://microsoft.github.io/BotFramework-WebChat/03.speech/a.direct-line-speech/)
1. Say hello
1. After bot speaks, click on Mic and don't say anything
1. Now I get the second message
1. After the bot finishes speaking, click on Mic.
1. It will get hung on "Starting..."

This happens more often in my custom bot

![image](https://user-imag

[2020-08-14 16:49] sanjayror commented on #3408
Hi @compulim

Thanks for your quick response !!

**I tried but the size of webchat.js is still 21 MB**

thanks for sharing this link : https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/BUILD_SCRIPTS.md#implementations.

I took help from here :
![image](https://user-images.githubusercontent.com/15170372/90271609-b6f2dc80-de79-11ea-9b50-369f69b8a304.png)

**I check bot-framework eve

[2020-08-14 17:43] compulim commented on #3408
![image](https://user-images.githubusercontent.com/1622400/90277540-a8290d00-de1a-11ea-9b34-de4a472e8687.png)

We are not seeing any problems here.

Can you check if your environment variables were set correctly?

After your env is set, run

[code]

It should display `production`. This means the env is correctly set.

[2020-08-14 18:25] peterinnesmsft commented on #3368
Added to backlog - will look to prioritize for an upcoming release.

[2020-08-14 18:25] peterinnesmsft commented on #3315
@compulim are you able to take a look into this one?

[2020-08-14 18:51] sanjayror commented on #3408
Thanks @compulim now my webchat.js size is 3.2 MB  👍 😊

![image](https://user-images.githubusercontent.com/15170372/90282516-1fe35000-de8c-11ea-93fb-642cafe4056b.png)

Thanks for all your efforts.

[2020-08-17 08:10] felixvanleeuwen opened #3416 "Sample list is broken"
![image](https://user-images.githubusercontent.com/64589372/90373189-d05e7900-e071-11ea-9fe6-f9930176948d.png)
On github now

[2020-08-17 12:33] steps371 commented on #1816
For future reference, the bot framework example that shows how to deal with this issue is here: https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/g.hybrid-speech

[2020-08-17 16:23] peterinnesmsft commented on #3416
Looks to be an issue in the updated markdown which is causing the list to render incorrectly.

[2020-08-17 18:20] peterinnesmsft commented on #3307
@compulim can you take a look and help with @steps371's latest question?

[2020-08-17 18:46] stevkan commented on #3389
@cimbis, I know you are using `nvm`, but have you made any changes to the .npmrc (or equivalent) file that is changing how Node is running on your machine?

As for building the repo, could you try the following to see if any make a difference:

- Building with elevated rights?
- Not using `nvm` and instead use a direct install of Node?
- Attempting on a different machine you have access to?

@comp

[2020-08-17 19:42] #3249 closed

[2020-08-17 20:05] compulim opened #3417 "4.10.0 Release checklist"
# Checklist

## Build

1. [x] Bump MockBot to Bot Framework SDK release 4.10.0
   - https://www.npmjs.com/package/botbuilder/v/4.10.0
   - We are not bumping for patch release
1. [x] Bump `botframework-directlinejs` to `0.13.0`
   - PR is #3418 and #3419
1. [x] Bump to `4.10.0`
   - [x] Update `CHANGELOG.md` to mark specific changes in `4.10.0`
   - [x] Run `npm version --no-git-tag-version 4.10.0

[2020-08-18 03:59] compulim commented on #3307
@steps371 do you think this is dupe of https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/221?

[2020-08-18 04:12] dmvtech commented on #3400
I played with this a bit, but I wasn't able to find how to remedy your code.

What I did do, was take our Python [echo sample](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/python/02.echo-bot), and modify it to work.

Just import the middleware and set the adapter to use it (create middleware1.py of course):
[code]

I'll poke around a bit more to see if I can figure out the e

[2020-08-18 04:13] corinagum opened #3421 "Microphone does not turn off after no recognized sound - related to #3666"
## Screenshots
N/A
## Version
Tested on 4.10.0, 4.9.2, 4.9.1, and 4.9.0,

## Describe the bug

On speech bot, if user doesn't say anything after pressing the microphone button, the microphone does not eventually turn off.

## Steps to reproduce

1. Press microphone button
1. Wait several seconds
1. Note that the sendbox continues to say 'Listening...' and the microphone button remains red

## Expe

[2020-08-18 05:51] steps371 commented on #3307
@compulim, definitely.

[2020-08-18 09:03] felixvanleeuwen commented on #3368
Writing a whole bunch of 'k's in our current chat:
![image](https://user-images.githubusercontent.com/64589372/90492426-77f6ac80-e141-11ea-8d19-4c8ce83501da.png)
In our V4 implementation:
![image](https://user-images.githubusercontent.com/64589372/90492523-92c92100-e141-11ea-96d3-a89925ad9730.png)
In the playpen:
![image](https://user-images.githubusercontent.com/64589372/90492909-fe12f300-e141-11

[2020-08-18 13:32] felixvanleeuwen opened #3422 "Target rendering of markdown URLs not respected in first message"
## Version
4.7.0, 4.9.2

## Describe the bug
Using a custom rendering rule links.
Depending on the URL of the link the target is set to "_blank" or "_parent".
The first message is set to "_blank" regardless.
I've asked a question about this behavior on stackoverflow, but since I got no replies I think it might be a bug.
https://stackoverflow.com/questions/62955387/what-happens-between-using-render

[2020-08-18 13:45] Harika456 opened #3425 "How to customize webchat.js for my project"
## User Story
Hi Team,

I am stuck with the below issue since a long time and Im completely blocked now...
I kindly request you to provide me some insights to solve it !!!!

I have built a .net core 2.1 web application and conencted my chatbot to it using webchat token and used webchat.js script(Added my code base below).

I was trying to add a button below the text box area to my chatbot web appl

[2020-08-18 14:31] nmishr commented on #2124
Also have the same issue.

[2020-08-18 17:55] v-kydela commented on #3422
@felixvanleeuwen - Sorry your Stack Overflow question took so long to get to. I'm going to close this issue here so it can be handled there.

[2020-08-18 17:55] #3422 closed

[2020-08-18 18:10] peterinnesmsft commented on #3411
@compulim is there any update on this one? Outside of SLA, so if we could prioritize a response, that would be great.