[2021-03-19 16:39] 007-fr commented on #3803
The card above is for Week. The card below is for Day.

{
    "type": "AdaptiveCard",
    "id": "WhatDayJsonCard",
    "body": [
        {
            "type": "TextBlock",
            "size": "Medium",
            "weight": "Bolder",
            "text": "More Information needed"
        },
        {
            "type": "TextBlock",
            "text": "What day do you need this data for?",

[2021-03-19 17:36] stevkan commented on #3768
@SreekanthOAuth, apologies for the delay. In principle, the above suggested workaround should still serve you. It's just a matter of filtering on the incoming activity to update the associated avatar. I would expect there to be differences between the bot and agent activities. If not, you should be able to add a property to the `channelData` property to act as a flag into each bot activity that wo

[2021-03-19 17:37] corinagum commented on #3803
Could you test these two cards on the Adaptive Card designer and see if the issue persists?

[2021-03-19 17:37] corinagum commented on #3803
Also please feel free to post about the other bugs you are facing. If they are all related to adaptive cards, please add comments to this thread. Otherwise please file new bugs. 🙂

[2021-03-19 17:46] corinagum commented on #3802
This is not a bug. Please see our CHANGELOG

[2021-03-19 18:21] 007-fr commented on #3803
yes, 4.12.1.

The expected results after a user clicks on Day from the Adaptive Card, would be an adaptive card that asks the user to select the date. In this card, it has a submit button, a datefield input and a couple text blocks. It's the card show below. "Choose What Day adaptive card"

![image](https://user-images.githubusercontent.com/66075770/111825366-c62d8300-88bd-11eb-9a1a-b791aeb5653a.p

[2021-03-19 19:24] corinagum commented on #3803
This is what I see when I test in development mode.
![image](https://user-images.githubusercontent.com/14900841/111832150-a55d3180-88ad-11eb-906b-deae992bc67f.png)
Running this card in the Adaptive Cards designer similarly has a warning when pasted in, but doesn't throw on validation error.

This has to do with an incorrectly formatted Adaptive Card. I see there is the `isRequired` prop, which req

[2021-03-19 19:24] #3803 closed

[2021-03-19 19:27] corinagum commented on #3707
@mrivera-ms FYI for visibility, I am adding a note to our project board.

[2021-03-19 19:39] 007-fr commented on #3803
That fixed the issue. Thanks Corinagum! Is that The Bot Framework Emulator you are debugging in? Any documentation on how to set that up?

[2021-03-19 21:03] corinagum commented on #3803
Oh, our team has a bot that's published in development mode so that error messages are displayed as the big red box. This is good to have for companies with public bots, to test changes before it's deployed publicly:
https://github.com/microsoft/BotFramework-WebChat/blob/8061f6835f1a94a7da1284188f816ceb1b7abd36/packages/README.md#flavors

[2021-03-19 23:03] 007-fr commented on #3803
Cool. Thanks!

[2021-03-22 02:51] CharingJC commented on #3794
Hi Steven,

Hope that your week is off to a great start.
I would appreciate your insights. Please send me a mail when you are available.

BR,
Juncheng

[2021-03-22 06:40] tanuj01 opened #3804 "Accessibility issue on using webchat on mobile app"
How to shift between adaptive cards on an Android phone using accessibility gestures. As per the latest 4.12.0 release, we can use **up and down arrow key using keyboard** but the same thing can't be achieved on using the bot in Android phone using gestures. Is there any alternative/solution for this ?

[2021-03-22 14:11] philip-mc commented on #3797
Yea the behaviour is as expected in the webchat playground.

We have fixed with custom css for now.

We were on whatever is referenced in the documentation using this -  "https://cdn.botframework.com/botframework-webchat/latest/webchat.js"

The bot is not quite ready for public view - I could screenshare over Teams if you can provide contact details......

[2021-03-22 16:22] 5Heinzelmann commented on #3800
@corinagum Thanks for providing the link to the sample code

[2021-03-22 18:33] #3789 closed

[2021-03-22 19:06] corinagum commented on #3797
Transferring this to Support.

[2021-03-23 03:03] SSanjeevi commented on #3801
Thanks for the info, but am asking on the android mobile using gestures, how to achieve it.

[2021-03-23 04:35] tanuj01 opened #3807 "Accessibility issue for dynamic placing focus on new message in mobile after adaptive button is clicked"
Is there a way enabled in BotFramework to place the focus on the new message once the button is clicked from adaptive card. Currently, using gestures in mobile user can double tap on a button and then in order to go the new message user has to swipe right multiple times to reach to that message ?

This issue is linked to - @ #3804

[2021-03-23 09:50] rajgohel opened #3808 "Microsoft Web Chat Bot-framework returns 502 error"
I am trying to connect bot with Angular via DirectLine using below code

[code]

It returns below error
![TeeganErr](https://user-images.githubusercontent.com/42000751/112126883-e2e1f780-8bea-11eb-96be-7a57d5b6f689.png)
Please let me know your thoughts on the same.

[2021-03-23 17:54] corinagum commented on #3800
#3632 is still open and in need of validation, so I'm closing this as a duplicate in favor of that issue. I will copy over the screencap @5Heinzelmann provided for further clarity.

[2021-03-23 17:54] #3800 closed

[2021-03-23 17:55] corinagum commented on #3632
Originally filed by @5Heinzelmann:

[2021-03-23 18:13] corinagum commented on #3807
@tanuj01 Currently, there is no way to jump to the new message button and/or latest message without swiping.

The following link is an analysis of current behavior when reviewed with the accessibility team, reviewing MAS compliance: https://github.com/microsoft/BotFramework-WebChat/issues/3759#issuecomment-797085374

#3798 is an issue filed to make some tweak improvements to mobile behavior, but a

[2021-03-23 18:13] #3807 closed

[2021-03-23 18:15] corinagum commented on #3804
@tanuj01 are you saying Android gestures are not working on mobile (inside Adaptive Cards) when navigating the transcript?

[2021-03-23 18:51] v-kydela commented on #3808
Thank you for the report. I'm going to close this here so it can be handled on Stack Overflow: https://stackoverflow.com/questions/66760208/microsoft-web-chat-bot-framework-returns-502-error

[2021-03-23 18:51] #3808 closed

[2021-03-23 19:42] #3790 closed

[2021-03-24 05:28] CharingJC commented on #3794
@stevkan Dear Steven,

Any update?

[2021-03-24 06:15] tanuj01 commented on #3804
@corinagum the Android gestures are working in case user wants to traverse from top to bottom of the webchat through each Adaptive card and it's adaptive buttons.

But my ask is, just like we use Up and Down arrow keys on keyboard to traverse directly between Adaptive cards and if user wants to interact with the card then only the user has to press Enter button otherwise using Up and down arrow ke

[2021-03-24 11:36] felixvanleeuwen opened #3809 "Error: DirectLineJS: It is connected, we cannot set user id."
## Screenshots
![image](https://user-images.githubusercontent.com/64589372/112303093-2ea0a980-8c9c-11eb-9ed9-359e81f09434.png)

## Version
[code]

## Describe the bug
Just updated from 4.10.1 to 4.12.1
Before the update we could pass userID into the ReactWebChat and in 4.12 we can call setUserID on the DirectLine object aswell.
Doing both, either or neither of those, results in the error.

## Step

[2021-03-24 16:57] carlosscastro commented on #3743
@compulim and @Zerryth, where are we on this? Could you send an update please?

[2021-03-24 18:53] corinagum commented on #3804
I can only test on iOS as I don't have Android, but here are my notes: (@compulim can you verify this behavior on Android?)
- Assuming the Adaptive Card is attached in the latest activity: when focused in the send box, swiping left multiple times will focus inside the transcript and automatically focus inside the last section of the Adaptive Card. Input items (if applicable) are interactable as no

[2021-03-24 20:13] corinagum commented on #3722
Bumping this out of R13 due to time constraints

[2021-03-24 21:04] corinagum opened #3810 "aria-hidden-focus: Ensures aria-hidden elements do not contain focusable elements"
## Version
4.12.1, npm

## Describe the bug

- When navigating transcript, attachment uploads only reads “1 attachment” when on ‘activity focus’
- After pressing enter on the attachment, nothing is read aloud by AT
- Aria-hidden value is set on the anchor inside the attachment

## Steps to reproduce

1. Open MockBot
2. type 'file', 'document-word', 'document-plain', and/or 'document-data-uri'
3. C

[2021-03-24 21:14] corinagum opened #3811 "aria-valid-attribute: Ensures all ARIA attributes have valid values"
Files as P0 due to deadline; as a need to fix it is P1
## Version
Related to https://github.com/microsoft/BotFramework-WebChat/pull/3098

## Describe the bug

`aria-labelledby` should be removed from hidden element

## Steps to reproduce

1. Open MockBot
2. Type/send 'carousel'
3. Use Fastpass and see that `aria-labelledby` is invalid

## Expected behavior

`aria-labelledby` should not be a presen

[2021-03-24 21:28] corinagum opened #3812 "color-contrast: Ensures the contrast between foreground and background colors meet ratio threshholds"
P0 for deadline - P1 for priority

## Screenshots

![image](https://user-images.githubusercontent.com/14900841/112384717-fe610700-8cab-11eb-863a-42fbec44fd0f.png)
![image](https://user-images.githubusercontent.com/14900841/112385202-8fd07900-8cac-11eb-9a33-00715700af41.png)

## Version
4.12.1 npm

## Describe the bug

## Steps to reproduce

1. Go to MockBot
2. Send the following:
   - audiocard

[2021-03-24 21:35] corinagum opened #3813 "WCAG 1.1.1: Ensures <img> elements have alternate text or a role of none or presentation (.ac-image)"
#### Issue
`Ensures <img> elements have alternate text or a role of none or presentation` ([image-alt](https://accessibilityinsights.io/info-examples/web/image-alt))
#### Target application
[React App](https://corinagum.github.io/WebChat-release-testing/01.create-react-app/index.html)
#### Element path
`div[aria-label="Container\ action"] > .ac-columnSet > .ac-container:nth-child(5) > div:nth-chil

[2021-03-24 21:43] corinagum opened #3814 "WCAG 2.1.1: Elements that have scrollable content should be accessible by keyboard (.webchat__carousel-filmstrip.webchat__carousel-filmstrip--top-callout.react-film__filmstrip)"
#### Issue
`Elements that have scrollable content should be accessible by keyboard` ([scrollable-region-focusable](https://accessibilityinsights.io/info-examples/web/scrollable-region-focusable))
#### Target application
[React App](https://corinagum.github.io/WebChat-release-testing/01.create-react-app/index.html)
#### Element path
.webchat__basic-transcript__activity--from-bot.webchat__basic-tran

[2021-03-24 21:50] corinagum opened #3815 "WCAG 1.3.1,WCAG 4.1.2: Ensures select element has an accessible name (#__ac-bf0b9722-46be-425f-a3e3-47cf5c57823e)"
### Description:
Some Adaptive Cards in MockBot need labels added to inputs (available due to AC bump). Note that this is a MockBot change, not Web Chat

### Repro:
- card breakfast
   - choiceset
- card inputs
   - choiceset
- card reminder

#### Issue
`Ensures select element has an accessible name` ([select-name](https://dequeuniversity.com/rules/axe/4.1/select-name?application=msftAI))
#### Tar

[2021-03-24 23:26] stevkan commented on #3809
To clarify, there wasn't a problem in v4.12.0. But, with v4.12.1 the problem manifested itself? Do you have "Enhanced authentication" enabled in the Direct Line channel settings?

[2021-03-24 23:48] stevkan commented on #3794
@CharingJC, please verify that 'Enhanced authentication' is enabled in the Direct Line channel settings for the bot in Azure. If this is not enabled, which is a key part to bypassing needing a magic code, then the `getsessionid` error is produced. Refer to Step 5 of 'Enabling Directline' in [Using WebChat with Azure Bot Service’s Authentication](https://blog.botframework.com/2018/09/01/using-webch

[2021-03-25 00:12] CharingJC commented on #3794
Hi @stevkan, I did open the 'Enhanced authentication'

![image](https://user-images.githubusercontent.com/74894646/112399775-d2906080-8d41-11eb-8dc8-57559f7c2194.png)

[2021-03-25 08:22] felixvanleeuwen commented on #3809
There wasn't a problem in v4.10.1. The problem manifested itself after updating to v4.12.1 and also occurs in v4.12.0.
The "Enhanced authentication" setting is disabled.

[2021-03-25 23:32] compulim commented on #3809
@felixvanleeuwen can you check if `userId` has changed after initial render?

For example, you can add `console.log` and see.

[code]

Starting from Web Chat 4.12 (PR #3544), when `directlinejs` connect, we will pass the `userID` to it ([this line of code](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/core/src/sagas/connectSaga.js)).

I am curious why Web Chat is trying to

[2021-03-25 23:37] compulim commented on #3768
FYI, I am working on a prototype of new chat adapter architecture that would allow bot developers to specify per-activity avatar. The mechanism is same as what @stevkan described above, leveraging the [`channelData` property](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0#activity-object).

It's still in prototype p

[2021-03-26 09:55] felixvanleeuwen commented on #3809
It does print it twice but the first pass should render the "Loading" div, not webchat.
![image](https://user-images.githubusercontent.com/64589372/112614015-1017eb00-8e21-11eb-9bd8-ee1c39276bae.png)
Here's how `this.loading` becomes false:
![image](https://user-images.githubusercontent.com/64589372/112614098-2625ab80-8e21-11eb-8690-ff14bd1f8ee8.png)

[2021-03-26 11:36] jayarau opened #3816 "botframework-directlinespeech sdk not compatible with spfx 1.11"
We have tried out [directline speech sample](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/a.direct-line-speech) in SharePoint page using Modern script editor webpart. It is working in SharePoint but it will be only specific to that page.

We want to avail bot on each page. For that purpose we are using SPFX Application Customizer Extension. SPFX currently support

[2021-03-26 17:27] carlosscastro commented on #3315
@compulim I see that https://github.com/microsoft/BotFramework-DirectLineJS/issues/255 is scheduled to ship on R13. ASsuming that is the case, would this be also addressed in R13?

[2021-03-26 18:13] carlosscastro commented on #3816
@compulim could you please weigh in on this question and triage?

[2021-03-29 05:19] #3087 closed

[2021-03-29 19:21] 007-fr opened #3819 "webSpeechPonyfillFactory throwing errors after recent deployment"
After the most recent deployment of webchat from Microsoft, I received the following error below. The Bot is unable to load the page after this js error.

![image](https://user-images.githubusercontent.com/66075770/112886922-8f672200-90a0-11eb-841f-6f523a2959ee.png)

After some troubleshooting, I noticed that if I set the webSpeechPonyfillFactory variable to null, then the Bot loads, but the speec

[2021-03-29 19:45] 007-fr commented on #3819
Disregard, I see the fix for the issue is to wrap the authorizationToken and region inside of credentials as shown below.

![image](https://user-images.githubusercontent.com/66075770/112890156-84ae8c00-90a4-11eb-9ea7-66d30c298857.png)

https://github.com/compulim/web-speech-cognitive-services

[2021-03-29 19:45] #3819 closed

[2021-03-29 20:15] stevkan commented on #3794
In addition to 'Enhanced authentication' being enabled, you also need to specify the hosting page of your Web Chat client as a trusted origin (see below). This allows OAuth requests coming from the user via the client to be authenticated without the need of a magic code.

When I tested without the hosting page having been listed as a trusted origin, but with 'Enhanced authentication enabled, it wo

[2021-03-29 20:27] stevkan commented on #3809
@felixvanleeuwen, are you able or willing to share a copy of your project so I can take a look at the flow and possibly repro?

[2021-03-30 07:21] felixvanleeuwen commented on #3809
@stevkan unfortunately I am unable to share our code, can we set up a teams/zoom/googlemeets to show it via screenshare?

[2021-03-30 08:27] venkatoesc opened #3821 "Adaptive card with dropdown not displaying"
We are using webchat-es5.js for our Chatbot and recently upgraded the webchat js from 4.11.0 to 4.12.0. The adaptive cards with dropdown/textarea not getting rendered now. Provided the screenshot and adaptive card json below. Request to check and advice is any element missing in the json.

## Screenshots
Render on 4.12.0/webchat-es5.js
![image](https://user-images.githubusercontent.com/74585902/11

[2021-03-30 08:45] muminasaad opened #3822 "Opening closing webview containing webchat will cause the webchat to fail to connect"
On Version 4.5.2

We have an Android application that contains a webview which hosting and webchat, so exiting and entering the webview activity multiple times causes the webchat to fail to connect and all post activity be rejected from directline

## Steps to reproduce

1. Host appservice containing webchat connected to an chatbot that have a welcome screen
2. Create an app with two activities th

[2021-03-30 12:18] enriconatella opened #3823 "Speech to text issue in Safari"
**Screenshots**
<img src="https://user-images.githubusercontent.com/24227373/112985913-1e3b7380-9161-11eb-9142-b6168b70dcce.jpg" width="500" height="500">

**Version**
Using the latest version of webchat.js (referred directly from CDN)
iOS: latest version

**Describe the bug**
The bug is only present in iOS Safari browser.
When a user taps the microphone and the last bot message contains a choice

[2021-03-30 17:41] stevkan commented on #3821
Starting investigation. Will attempt a repro.

[2021-03-30 18:03] corinagum commented on #3823
@enriconatella, do you have `inputHintExpecting` enabled on the bot's activity with the choice buttons?

[2021-03-30 19:57] enriconatella commented on #3823
@corinagum yes, in fact in all other devices is working fine (Android and web browsers).

![ExpectingInput](https://user-images.githubusercontent.com/24227373/113048481-dfc6a880-91a2-11eb-960d-0adca1adb350.jpg)

[2021-03-30 21:15] stevkan commented on #3809
@felixvanleeuwen, I'm happy to meet up. I'm available this Thursday, April 1st, from 11:30 am to 4:30 pm (PST). Teams or Zoom will work for me. You can send an invite to my email.

[2021-03-30 21:16] dmvtech commented on #3822
Hi @muminasaad I apologize, but I'm not quite following everything here on the steps.

When you are talking activity, you are talking activities within the app, not within the bot or webchat, correct? (i'm not clear on what you are describing regarding app navigation).

If you can provide more info, code or even a full mockup that would be very helpful. Can this be reproduced in a scenario outside

[2021-03-30 21:31] corinagum commented on #3823
Ok thanks. Let me work on a repro - we're working on the latest Web Chat release right now, but I'll get back to you asap.

[2021-03-30 21:33] #2100 closed

[2021-03-30 21:46] compulim commented on #3809
I am guessing, the `sendJoinEvent` function will trigger `this.directLine` to establish a connection.

Then, when Web Chat is mounted on the page, it will call `connect` on `this.directLine`. Since it has already connected before Web Chat is loaded, `setUserId` will log the warning.

[2021-03-30 22:32] muminasaad commented on #3822
Hi Dana,

So let me explain, I have an android solution that hosts a WebView, in the WebView I am opening a WebPage that contains the WebChat.
I preserve the conversation Id, I connected to using a localstorage and so on, so that each time you open you connect to the same conversation.

As part of the application of the applications testing what we did is that we navigate to the WebChat multiple t

[2021-03-31 01:35] #3632 closed

[2021-03-31 07:11] felixvanleeuwen commented on #3809
@stevkan Where can I find your email?
@compulim I'm going to see if I can Change the ordering around and see if that helps.

[2021-03-31 09:37] felixvanleeuwen commented on #3809
@compulim I rearranged the rendering and the event sending.
However, it still produces the same error:
![image](https://user-images.githubusercontent.com/64589372/113124033-67e59600-9215-11eb-9a59-9696392c9930.png)

[2021-03-31 10:04] felixvanleeuwen commented on #3809
I had a hunch that rearranging didn't do much.
So undid my change but left the print in, same result:
![image](https://user-images.githubusercontent.com/64589372/113127534-25be5380-9219-11eb-94ae-6d983673d482.png)

[2021-03-31 10:07] felixvanleeuwen commented on #3809
@stevkan I found your email in your profile.
Our team operates in the CEST timezone, any chance you have a co-worker in that zone?

[2021-03-31 11:11] felixvanleeuwen commented on #3809
@compulim even when I never send the join event the error occurs:
![image](https://user-images.githubusercontent.com/64589372/113135544-87cf8680-9222-11eb-8108-6ae7c09527c4.png)

[2021-03-31 14:16] SreekanthOAuth commented on #3768
@compulim - Thanks for the update.

Could you please provide the tentative date for this change.

[2021-03-31 16:24] AAdamCCox opened #3825 "[Accessibility] SVG images inside buttons need have role="presentation""
[Edit by @corinagum]

Work item: add `role="presentation"` to all SVGs that are inside an input. (Microphone button, attachment button, send button, etc.)

------

**Version:** latest

**Actual result:**
The button title is read by the screen reader (e,g, "button send").

**Expected result:**
The image displayed on the button should also be described, so that the user knows what is being portrayed

[2021-03-31 17:36] corinagum opened #3826 "4.13.0 release checklist"
# Checklist

## Build

1. [x] ~Bump MockBot to Bot Framework SDK release 4.13.0~
   - https://www.npmjs.com/package/botbuilder/v/4.13.0
   - (We will not bump for patch release)
1. [x] ~Bump `botframework-directlinejs` to `0.14.1`~
   - No newer version
1. [x] Bump to `4.13.0`
   - [x] Update `CHANGELOG.md` to mark specific changes in `4.13.0`
   - [x] Run `npm version --no-git-tag-version 4.13.0`

[2021-03-31 18:09] msomanathan commented on #3802
@rushaligupta7 closing this issue due to inactivity. Please feel free to reopen if you still see this issue.

[2021-03-31 18:09] #3802 closed

[2021-03-31 18:46] msomanathan commented on #3816
@jayarau Are you trying to run botframework-directlinespeech-sdk in a server, or, in a browser?

[2021-03-31 20:09] corinagum commented on #3825
I don't believe I've seen or experienced title as being required for (particularly) what the AT reads out loud. The **visual** pop up via the title attribute is currently attributed to the button (container of the svg), which also has the role specified. The svg itself does not have a title or label.

If, for example, there's an image that is directly related to the content of the article/app/site

[2021-04-01 09:43] jayarau commented on #3816
Hi @msomanathan , We are not trying to botframework-directlinespeech on server. We just need botframework-directlinespeech package to integrate bot in SharePoint Site. For integrating bot we are using SPFX(SharePoint Framework)  Extension.

[2021-04-01 18:02] eyadon opened #3828 "Please update to latest version of AdaptiveCards"
I started out writing this as a bug, but while gathering documentation connected the dots that the issue I am seeing (below) is due to webchat being on an older version of the AdaptiveCards library.

## Screenshots
No buttons pressed
![image](https://user-images.githubusercontent.com/17410657/113325193-b3fc0d80-92dd-11eb-9c92-07833848c3f8.png)

Button without validation pressed
![image](https://us

[2021-04-02 02:09] CharingJC commented on #3794
[index.zip](https://github.com/microsoft/BotFramework-WebChat/files/6247279/index.zip)
 Here is the webchat file i used to connect to my bot

[2021-04-02 02:13] CharingJC commented on #3794
After adding port that I used for localhost, Chrome is working without require magic code. However Edge have different behavior and still asking for magic code.

Wechat: 4.12.1
Edge version:
![image](https://user-images.githubusercontent.com/74894646/113372774-f8e67980-939b-11eb-9551-e850e1e193d1.png)

[2021-04-02 05:14] compulim commented on #3828
FYI, we often bump Adaptive Cards to their latest version after every major release of Web Chat.

Our bump strategy:
- The last bump was done in December 2020 (after we released Web Chat 4.11). And that time, Adaptive Cards 2.5.0 was their latest version
- We will bump to latest Adaptive Cards (probably 2.9.0) in the next few weeks after we release Web Chat 4.13.0
- We skipped bumping after 4.12 b

[2021-04-02 17:57] compulim commented on #3816
I am not an expert of SharePoint. But if you are not running DLSpeech SDK on a server, Node.js version should not matter because you shouldn't be running DLSpeech SDK on Node.js.

As I can see, [the latest version of SPFx is 1.11.0 of 2020 July](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/release-1.11.0). This [installation page](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/set-up

[2021-04-02 22:08] compulim commented on #3816
SPFx has a community meetup bi-weekly on Thursday. You can join their meetups and ask them if about their plan to bump to Node.js 12.

https://pnp.github.io/

[2021-04-05 04:54] jayarau commented on #3816
SPFX 1.12 was released on March 16, 2021. But Version 1.12 release is currently considered as deprecated and has been unpublished due the unexpected regressions.

[2021-04-05 12:25] eyadon commented on #3828
Thanks for the info, here's the JSON:
`{
  "type": "AdaptiveCard",
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "version": "1.3",
  "body": [
    {
      "type": "Input.Text",
      "placeholder": "Placeholder text",
      "label": "Required text input",
      "isRequired": true,
      "id": "a",
      "errorMessage": "Invalid"
    },
    {
      "type": "Input.Number",

[2021-04-05 14:41] phaneendra-zen3 opened #3830 "Unable to access Kusto DB from 1ES bot code"
We are trying to connect Kusto Database( **https://*****.kusto.windows.net** ) for 1ES BOT code using Tenant ID. In local we are able to access without any issues whereas in production it is failing with authentication issue.

![image](https://user-images.githubusercontent.com/69052406/113585328-b77af600-9649-11eb-90f5-5543119d3de8.png)

**Error:-**

![image](https://user-images.githubusercontent.

[2021-04-05 17:07] corinagum commented on #3828
To note, updating Adaptive Cards on Web Chat also requires coordination across several teams which makes 'immediate' bumps fairly difficult. However we're very excited about these new features too!

[2021-04-05 18:28] peterinnesmsft commented on #3743
@compulim any updates on this issue?

[2021-04-05 21:15] corinagum commented on #3826
https://github.com/microsoft/BotFramework-WebChat/releases/tag/v4.13.0

[2021-04-05 23:45] dmvtech commented on #3794
I'm still getting the magic code for both Edge _and Chrome_.

**Chrome:** Version 89.0.4389.114 (Official Build) (64-bit)
**Edge:** Version 89.0.774.68 (Official build) (64-bit)

@CharingJC Did you do anything specific to get it working in Chrome? or it just worked for you without any intervention?

I will continue to investigate with @stevkan and will update.

[2021-04-06 18:09] peterinnesmsft commented on #3830
Hi @phaneendra-zen3,

Based on what you're describing, this does not look to be a Bot Framework-related issue. You are most likely hitting network access issues due to firewall permissions or similar which are preventing your compute of choice from communicating with the Kusto cluster.

I would recommend checking internally with folks to determine which ports need to be given access on your comput

[2021-04-06 18:09] #3830 closed

[2021-04-06 20:10] compulim opened #3832 "Markdown: External link icon did not show up in Adaptive Cards"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/113772199-3cf9b700-96d9-11eb-9da3-f32d17284f2d.png)

## Version

`4.13.0`

## Describe the bug

The new "external link icon" only works with the command `markdown`, but not the `card markdown` command.

## Steps to reproduce

1. Go to https://compulim.github.io/webchat-loader/
1. Type `card markdown`

## Expected behavior

[2021-04-06 23:09] vzv111 opened #3833 "Indicator on suggested actions to show that the action will open a URL"
For the suggestion actions for adaptive cards, I would like to indicate what type of action would be taken by clicking the button. For example for "Action.CardType", I would like to indicate on the button that this will take you to an external URL:

![image](https://user-images.githubusercontent.com/42174202/113788374-b07ce200-9734-11eb-8d3a-32b8725a0811.png)

At the moment this is no possible as

[2021-04-06 23:32] corinagum commented on #3797
Hmm I thought I left another comment asking for more details but... obviously it's not here. haha

The image you provided isn't sufficient visual to see what's going on.

1. Please provide a video/gif of broken behavior
2. Please provide a video/gif of the fixed behavior that comes from your changes
3. Please provide the custom css you are using
4. Please provide your style options

If you can't p

[2021-04-06 23:46] corinagum opened #3834 "Individual carousel cards are not narrated by AT when focusing inside the carousel"
## Screenshots

## Version
4.13.0

## Describe the bug

When navigating by keyboard so focus inside a carousel, AT will read buttons, but not read the content of the card.

## Steps to reproduce

1. Go to MockBot/playground
2. Turn on AT
1. Type 'carousel'
1. Note that `aria-live` reads the entire contents of the carousel (expected)
1. Using keyboard, navigate into transcript and focus on carousel

[2021-04-06 23:51] corinagum opened #3835 "When user sends an attachment, the attachment is not reviewable in transcript via keyboard navigation with AT (related to #3814)"
## Version
4.13.0

## Describe the bug

If a user sends an attachment, and then reviews the transcript, the content of the attachment (filename and size) is not reviewable

## Steps to reproduce

1. Go to MockBot/playground
1. Send an attachment to Web Chat (empty txt file is fine)
1. Notice that AT reads the content of the attachment (expected)
1. Navigate to the attachment by keyboard
2. Notice

[2021-04-07 09:49] kuacci commented on #3349
@compulim Is there any plan for this sample app in near future?

[2021-04-07 17:49] corinagum commented on #3349
@kuacci yes, definitely! React Native is not yet supported on Web Chat, though, so samples won't be available until after that update. Currently, there's no definitive timeline for React Native support.

[2021-04-07 18:21] corinagum commented on #3813
All cards have been updated on MockBot

[2021-04-07 18:21] #3813 closed

[2021-04-07 18:33] corinagum commented on #3815
MockBot has been updated.

[2021-04-07 18:33] #3815 closed

[2021-04-07 18:46] corinagum commented on #3567
Please note that this is available as of the 4.12.0 release.

[2021-04-07 18:51] corinagum commented on #3833
Based on your HTML and image, this is not a suggested action (botbuilder type) but an Adaptive Card. If so, your request would need to be filed with the [Adaptive Cards team](https://github.com/microsoft/AdaptiveCards).

However, you are correct in that Suggested Actions _also_ do not indicate external openUrls, so that will need to be updated on Web Chat as well. I will update the original commen

[2021-04-07 19:25] corinagum commented on #3825
Closing due to inactivity. Feel free to respond and we can reopen.

[2021-04-07 19:28] corinagum commented on #3823
@enriconatella sorry I haven't gotten to this issue yet. Would you be able to provide your activity(ies) (with no personal information) as .json? This would speed up the process for me :)

[2021-04-07 22:49] vzv111 commented on #3833
Thanks @corinagum - I've also posted the same request on Adaptive Cards repo too, I was using a Hero Card in the example I above.

[2021-04-07 23:46] corinagum commented on #3833
@vzv111 Makes sense! Herocards are styled after Adaptive Cards in Web Chat, which is why you see the `.ac-*` classnames.

[2021-04-08 04:49] dmvtech commented on #3822
Thank you @muminasaad

Can you explain more about this? Specifically 'in a row'. Does it matter if messages are sent between these times that you close/reopen? Does matter if these times in a row happen within a certain time window?

[2021-04-08 06:04] enriconatella commented on #3823
@corinagum here it is the json of the last bot activity:

[code]

[2021-04-08 08:55] kuacci commented on #3349
@corinagum Thank you. Is there any other package from BotFramework that can integrate with react native mobile app? Like [botframework-directlinejs](https://www.npmjs.com/package/botframework-directlinejs) ?

[2021-04-08 11:20] SriSatyaLokesh opened #3837 "How to use "OPEN TRANSCRIPT" in WebChat?"
### How to load Transcript file as chat in WebChat?

https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-debug-transcript?view=azure-bot-service-4.0

I loved this feature which works in emulator, I want to try the same in Webchat, Please help me to understand this.
Thank you.

[2021-04-08 11:21] SriSatyaLokesh commented on #3837
@corinagum  Please Help.

[2021-04-08 14:05] zuercher8353 commented on #3409
@madbeher Would you be willing to give some insights off how you achieved to send an event activity from bot composer to webchat? If possible could you share to send the response message you created and the code you used to  catch the event in the webchat?

[2021-04-08 16:11] dmvtech commented on #3837
Hi @SriSatyaLokesh

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2021-04-08 16:11] #3837 closed

[2021-04-08 22:00] tielushko opened #3838 "Error synthesizing speech when including an QR-code image in the QnA maker."
Hello!

Our team was working on the project that would use the Web Bot implemented for a React application with the speech-to-text and text-to-speech functionality for the Bot connected to a QnA Maker.

I was successful in connecting the features for speech, however noticed a strange bug. When the response that we send contains a QR code in it, the speech synthesis seems to fail entirely. The qr c

[2021-04-08 22:56] Zerryth commented on #3838
@tielushko it isn't clear how you're integrating speech, as you haven't provided any repro steps at all, however this doesn't sound like a Web Chat issue and more of an issue with the limitation of the speech service you're using, so not something our team can directly help you with, unfortunately.

Additionally, QnA Maker service itself doesn't support images at this time. You can get around thei

[2021-04-08 22:56] #3838 closed

[2021-04-09 05:27] mn-invia opened #3839 "Bot Icon not displaying in Web-Chat"
Hi,

I have created a Bot and Published it successfully and it's functioning well. I have uploaded a Custom ICON (PNG file which is less than 30KB, as per the Specs) under the Bot Profile. I can see my ICON uploaded onto the Bot profile, But the ICON is NOT DISPLAYED during the Web-Chat.

OS: Windows 10 PRO
Browser: Google Chrome
**Microsoft Composer details:**
Version:  1.4.0
Electron: 8.2.4
Chro

[2021-04-09 15:55] tielushko commented on #3838
@Zerryth sorry I haven't filled out the reproduction steps under the header there, I have pasted them in the main body of the issue. I could repeat them in this comment.

Navigate to:

https://wow-kiosk.netlify.app/kiosk

In the bot field you can test the speech functionality by just saying "Hello" and it should synthesize speech correctly.

However, when you ask "Tell me about Week of Welcome", t

[2021-04-09 16:46] Zerryth commented on #3838
I'm not even certain how to contact the speech services team, however following a link in their documentation, this popped up:
https://feedback.azure.com/forums/932041-azure-cognitive-services

And on the right-hand side you can see different cognitive services, including speech.

You can leave your feedback there, and based on popularity & severity, they will prioritize issues.
They also mention

[2021-04-09 17:28] compulim commented on #3838
@Zerryth for QnA maker, do you know if the `speak` field can be customized when the underlying bot is responding?

Specifically, I mean, when the bot reply ([schema here](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0#activity-object)), can the QnA maker reply a different value for the `speak` field, while keeping t

[2021-04-09 17:56] Zerryth commented on #3838
@compulim, good point, I had failed to mention the `speak` field. As for QnAMaker, it itself doesn't have a way of manipulating the speak method, but the customer could definitely add some business logic to properly handle QR code responses before sending the reply activity to the user

@tielushko See this line in sample [11.qnamaker](https://github.com/microsoft/BotBuilder-Samples/blob/main/sampl

[2021-04-09 18:02] tielushko commented on #3838
@Zerryth @compulim  Thank you guys for helping me figure it out. I can imagine now how that link for the image would fail to be synthesized by the speech service. I will try and find a workaround with the bot logic to prevent the link elements from being sent to the speech service for processing.

Thank you so much! Have a wonderful rest of your week!

[2021-04-09 18:08] Zerryth commented on #3838
You want to set `Activity.speak` field. [Activity schema in botbuilder-js](https://github.com/microsoft/botbuilder-js/blob/main/libraries/botframework-schema/src/index.ts#L567) (Not sure what language your bot is in, but this speak prop is available in all SDK languages)

[2021-04-09 23:29] stevkan commented on #3809
@felixvanleeuwen, I spoke with a member of the Web Chat team and it was recommended that you try assigning the `userId` via the method shown [here](https://github.com/microsoft/BotFramework-WebChat/blob/master/__tests__/html/directLine.setUserId.html#L27).

They were also wondering if you are passing in the `userId` with the secret with generating a token from the Direct Line API call. As I don't

[2021-04-09 23:45] corinagum opened #3840 "Tests needed: verify correct behavior when setting transcriptVisualKeyboardIndicator... and transcriptActivityVisualKeyboardIndicator... values"
## Version
4.13.0

## Describe the bug

Need to verify behavior when changing `transcriptVisualKeyboardIndicator...` and `transcriptActivityVisualKeyboardIndicator...` style options

## Additional context

Related to https://github.com/microsoft/BotFramework-WebChat/pull/3703.

[Bug]

[2021-04-10 00:13] corinagum opened #3842 "husky-run not found"
When making a commit, the following (non-blocking error) is seen:
![not found: husky-run
Can't find Husky, skipping pre-commit hook](https://user-images.githubusercontent.com/14900841/114251606-7c810700-9956-11eb-81cc-7318e090cff5.png)

Husky was bumped to 6.0.0. Looks like there were breaking changes. I haven't investigated much yet.

Links that may help:
- https://github.com/typicode/husky/issue

[2021-04-11 21:30] #3810 closed

[2021-04-11 21:30] #3811 closed

[2021-04-12 12:11] warunacds opened #3843 "Custom properties in outgoing activity through React Component"
I am trying to send a custom property in an outgoing activity. I know with the javascript library I can do this with the following code.
`const store = window.WebChat.createStore( {}, ( { dispatch } ) => next => async action => {
            if (action.type === 'DIRECT_LINE/POST_ACTIVITY') {
                action = window.simpleUpdateIn(action, ['payload', 'activity', 'customData'], () => customD

[2021-04-12 13:29] warunacds commented on #3843
figure this out using create store.

`import ReactWebChat, {createDirectLine, createStore} from 'botframework-webchat';
import simpleUpdateIn from 'simple-update-in';

const store = useMemo(() => createStore({}, ({ dispatch }) => next => action => {
    if (action.type === 'DIRECT_LINE/POST_ACTIVITY') {
      action = simpleUpdateIn(
        action,
        ['payload', 'activity', 'customData'],

[2021-04-12 13:29] #3843 closed

[2021-04-12 21:25] stevkan commented on #3794
Closing due to inactivity. If the issue persists or you have new details to share, please feel free to reopen.

[2021-04-12 21:25] #3794 closed

[2021-04-12 22:18] kaerm opened #3844 "Action.execute (AC 1.4) support"
Add support for the Action.Execute command and various flows, including the action/execute invoke and auth flows.

OBI spec is here: microsoft/botframework-obi#128

Hacked up webchat that can do AC 1.4 cards: https://github.com/clearab/CateringDemo

## Tracking status

- [ ] PR
- [ ] Merged

[2021-04-12 23:28] corinagum commented on #3844
@kaerm when will the schema spec be merged in?

semi-dupe of #3828

[2021-04-12 23:35] corinagum commented on #3844
@compulim I'm assuming it's safest to wait until the schema is updated - thoughts?

@DDEfromOR @p-nagpal Is there any info from the service side on a schedule for supporting this on DirectLine

[2021-04-13 05:52] WillPS1989 commented on #3825
Apologies for the late response. The issue is flagged in Firefox Developer edition as "Content with images must be labelled".

I guess at a simple level, an <img /> HTML tag always needs an 'alt' attribute, even if it's contained within a button or a link which itself is labelled. Describing the image and describing the functionality are two separate things, and both are necessary.

[2021-04-13 06:49] MatthiasGwiozda opened #3845 "Scrolling behaviour together with the webchat/join - event: The Chatbot doesn't scroll correctly."
## Screenshots

![image](https://user-images.githubusercontent.com/22172694/114507272-32887180-9c33-11eb-8729-83c2ddf94332.png)

## Version

[latest ](https://cdn.botframework.com/botframework-webchat/latest/webchat.js)(current version: 4.13.0)

## Describe the bug

When using the [welcome - event](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api/a.welcome-event) in com

[2021-04-13 14:35] jane-bolton commented on #2570
For anyone coming across this issue now, encoding the JSON in VS2019 solved the issue for me: [Japanese character in AdaptiveCard Bot Framework V4](https://stackoverflow.com/questions/56320701/japanese-character-in-adaptivecard-bot-framework-v4). I was having trouble with Spanish, but encoding as Codepage 65001 did the trick. It works in the Bot Emulator as well as in Direct Line / Web Chat.

![im

[2021-04-13 16:23] clearab commented on #3844
DirectLine currently supports the 1.4 protocol, it is necessary for the new Outlook and Search channels. The 1.4 schema itself is already GA.

[2021-04-13 16:23] clearab commented on #3844
@Jeffders has done the work on the service/DirectLine side.

[2021-04-13 17:20] corinagum commented on #3844
Sorry for the confusion, folks. Spoke with DDEfromOR offline and he clarified about the service/DirectLine side. I've added this to R14 candidates (which was the hopeful plan already), and we'll probably consolidate this with 3828 in the next several days. :)

[2021-04-13 17:21] corinagum commented on #3825
@v-rampul Could one of your team members please check the behavior of the buttons in the sandbox? The link is here: https://webchat-playground.azurewebsites.net/

When using NVDA on Chrome, AT Reads, 'Send button'. If I add alt text ('airplane') to the `<svg>`, it says 'Airplane button send', which I don't think adds value. When checking on Web Accessibility insights, these images do not trigger a

[2021-04-13 18:03] corinagum commented on #3845
Thanks for the very detailed report! For 100% clarity, would you mind recording a video clip of the (incorrect) behavior and sharing here?

Were you able to experiment with the `styleOption` features available in #3653? Under the 'Description' section, you can see a video that pauses partially down the scrollbar.

![image](https://user-images.githubusercontent.com/14900841/114599045-708f9080-9c47-

[2021-04-13 18:06] corinagum commented on #3828
DDEfromOR kindly provided a bot that already has cards testing new behavior we can 'borrow' for Mock Bot 😁
https://github.com/DDEfromOR/AC2ErrorBot

[2021-04-14 18:20] MichaelHaydenAtMicrosoft opened #3847 "Sample for BotFramework-DirectLineJS with Angular"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/master/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

## Version

## Describe the bug

Customer statement
We have created a bot service with Direct line channel and trying to use BotFramework-DirectLineJS with Angular to create a custom chat client. We did not find any e

[2021-04-14 18:50] compulim commented on #3844
The latest version of `adaptivecards` package on NPM is `2.9.0` as of now. The README only say it support up to 1.3, but not 1.4.

We generally wait until our deps is in production before we move to the newer version. It reduces risks on our customers. But sometimes, we will simul-ship (2+ products goes to production at the same time), usually, if the management think a bigger splash outweigh its

[2021-04-14 19:16] kaerm commented on #3844
Checked with the team, 2.9 is supposed to support 1.4.

[2021-04-14 19:19] clearab commented on #3844
The table in the readme is mapping prior versions to card schema versions - I do know that Teams, Outlook, and Search are all rev'ing to support 1.4 schema cards by build.

[2021-04-14 19:30] compulim commented on #3844
Please let us know when the spec is finalized. David from Adaptive Cards team is still commenting on the spec.

Do you know if there are any sample apps on how to use Adaptive Cards renderer 2.9 with `Action.Execute`? I mean, I know how it works on the protocol level, but I don't know how to use the 2.9 package and integrate it with the protocol.

[2021-04-14 19:37] clearab commented on #3844
The spec is as finalized as it is going to be for this iteration I believe -  Teams, Outlook, and Search are all building to it. We can schedule a meeting with David if you've got specific questions you need answered, and probably connect you with the folks doing the Teams implementation.

For the app, I believe @Jeffders has a couple working demo apps for this (and can probably also help answer a

[2021-04-14 23:38] corinagum opened #3851 "RTL regression: Carousel and Suggested Actions (react-film) do not work in RTL"
For tracking: https://github.com/spyip/react-film/issues/75

https://user-images.githubusercontent.com/14900841/114793710-d7907080-9d3f-11eb-8684-eaa67f096d12.mp4

[2021-04-15 05:19] Amit8527510735 commented on #3825
@corinagum: We have verified below issue and screen readers are reading the ‘Send button’  and no need to add any Alt text and as verified in Microsoft teams send button, the screen readers are reading only ‘Send button’.

[2021-04-15 07:38] formore5points opened #3852 "Adaptive Card Localization Problem for Date in WebChat"
Hello everyone, I give the link to the topic that I previously opened in the /BotFramework-Composer section.

You can review it in more detail here: https://github.com/microsoft/BotFramework-Composer/issues/6586

My problem is that there is a calendar in the adaptive card and I am trying to get the person to choose a date from here. But I observe this date as null on webchat. Actually, I think it

[2021-04-15 08:40] WillPS1989 commented on #3825
Since we can all agree the description of the SVG would be beneficial to AT users, would an agreeable solution be to make the SVG appear via CSS, so that the requirement to give the SVG a `<title />` goes away?

[2021-04-15 15:06] kuacci commented on #3349
I've talked with compulim and got the answer. Thanks for your kindly help.

[2021-04-15 17:12] v-kydela commented on #3852
Thank you for the report, @formore5points. Please post text instead of just screenshots so that we can attempt to reproduce the problem. Thank you.

[2021-04-15 18:00] corinagum commented on #3825
I see this item as a no-op. The documentation I've been able to find on the accessibility of `<svg>`s is in regards to that element being the container of something that's tabbable.  (e.g. https://fizz.studio/blog/reliable-valid-svg-accessibility/)

In this instance, the `<svg>` has a button container, which already applies the `title` attribute. The button itself is providing an action, which is

[2021-04-15 18:45] compulim commented on #3825
This is the DOM of today, much simplified:

[code]

Let's put it aside first and say, if it is an image instead of SVG, it will appears like this:

[code]

I think it is fair to say: although the image is inside `<button>` with `title` attribute, the `<img>` should still have an (empty) `alt` attribute, or have an attribute of `role` equals to `presentation` or `none`, or have an attribute of `ari

[2021-04-15 18:57] corinagum commented on #3825
![image](https://user-images.githubusercontent.com/14900841/114922996-29d59e00-9de1-11eb-8790-a4a4e3137d4b.png)
No thanks, haha.

I see the project already has `role="presentation"` in several of the `<svg>` used in our samples, so let's make that the work item.

[2021-04-15 19:00] compulim commented on #3816
From the release node of SPFx 1.12.1, I think the SharePoint team recognize the importance of Node.js 12/14 in SPFx 1.12.0. But they accidentally tripped the deadline due to unexpected regressions.

We will de-bump our engine requirement to 10.14.2. But due to our shipping cycle, I can't guarantee if it will be released sooner than SPFx 1.12.1 or later (21Q2). We should have a release around end o

[2021-04-16 06:15] jayarau commented on #3816
Hi @compulim ,
Yes, It will work for us.

For integrating webchat with spfx we have referred below link. You can take look into that.
[https://www.withum.com/resources/build-a-custom-chat-bot-with-sharepoint-framework/](https://www.withum.com/resources/build-a-custom-chat-bot-with-sharepoint-framework/)

[2021-04-16 17:13] stevkan commented on #3809
Closing due to inactivity. If the problem persists or you have new details to provide, please feel free to reopen the issue.

[2021-04-16 17:13] #3809 closed

[2021-04-16 17:14] stevkan commented on #3839
Closing as resolved.

[2021-04-16 17:14] #3839 closed

[2021-04-16 17:51] dmvtech commented on #3822
Closing due to inactivity. Please provide more information if this issue is still occurring.

[2021-04-16 17:51] #3822 closed

[2021-04-16 20:48] #3814 closed

[2021-04-16 20:48] #3834 closed

[2021-04-16 20:48] #3835 closed

[2021-04-18 01:42] shayeldossri commented on #3131
Oliver

[2021-04-18 07:26] schemburkar opened #3856 "Unable to import createDirectLine, createStore in Typescript with v4.13"
## Screenshots

file `lib\index.d.ts` from version v4.13.0 (left) vs v4.11.0 (right)

![image](https://user-images.githubusercontent.com/3159347/115137239-94394900-a042-11eb-9484-aa2b0fdba429.png)

## Version

NPM: v4.13.0

## Describe the bug

The issue is present in the npm package `botframework-webchat` used in a react website (`https://github.com/microsoft/BotFramework-WebChat/tree/master/pack

[2021-04-19 08:48] MatthiasGwiozda commented on #3845
I've edited the question and added a gif

Yes I tried some options. But none of them fixed this problem.

[2021-04-19 09:22] MatthiasGwiozda commented on #2383
@tdurnford while your solution works, it has some flaws:

When using adaptive - cards with input - fields, the user - inputs gets deleted in the moment when we update the styleOptions (In this case we update the styleOptions exactly in the moment when the adaptive - card was submitted):

![adaptive - card - bug](https://user-images.githubusercontent.com/22172694/115212993-636c1900-a101-11eb-975a-b

[2021-04-19 11:36] MatthiasGwiozda opened #3857 "Scrolling behaviour: Chatbot doesn't scroll to the new message when sending Adaptive Cards"
## Screenshots

![Adaptive Card Scrolling](https://user-images.githubusercontent.com/22172694/115229152-fe212380-a112-11eb-88a4-686d0df9a8e3.gif)

## Version

[latest](https://cdn.botframework.com/botframework-webchat/latest/webchat.js)(current version: 4.13.0)

## Describe the bug

When an adaptive card follows another adaptive card after submitting the first one, the chatbot doesn't scroll to th

[2021-04-19 17:10] corinagum commented on #3845
@MatthiasGwiozda Great, thanks for this info. My next step is to try recreating the bug you're experiencing. If I'm having problems I may ask for some more info from you. I'll report back soon!

One more question - is this behavior that recently broke for you? Or is this a newly created bot with no previous behavior available for comparison?

[2021-04-19 17:15] corinagum commented on #3856
@schemburkar thanks for filing this bug. I'm adding to our list of R14 candidates.

[2021-04-19 17:24] corinagum commented on #3857
@MatthiasGwiozda For this behavior, I think this is **intended** due to accessibility - after pressing the button in the card, the focus remains on the clicked button, and therefore there should be no scroll to the bottom.

If you could try this out - Please press the Adaptive Card button, then use <kbd>TAB</kbd> to move focus within the transcript.  The focus should move FROM the pressed button t

[2021-04-19 17:31] corinagum commented on #3857
@MatthiasGwiozda

Regarding your comment in 2383, could you share your code modifications that instantiate this behavior?

[2021-04-19 19:36] corinagum commented on #3823
@enriconatella sorry for the delay in getting back to you.

I was able to resolve this issue by adding the `to: []` field within `suggestedActions`, which is required. Could you try that and see if your issue is resolved?

Note: When I tried this I deleted everything after `entities` from your JSON.

[2021-04-19 19:51] corinagum commented on #3845
@MatthiasGwiozda I was able to reproduce this issue, but I did find the following comment from the PR 3653 linked above:

[2021-04-19 20:58] compulim commented on #3857
I think we should try to repro and see. The main part I am seeing:

- `styleOptions.autoScrollSnapOnActivity` is set to `true`
- First AC shows up, with a card action button
- Click on a button on the AC will trigger a postback
- The bot receiving the postback will send another AC with a relatively long form

[2021-04-19 21:40] compulim commented on #3857
@MatthiasGwiozda if the button on the Adaptive Card send an "IMBack" instead of "PostBack", will it help?

[2021-04-20 06:12] MatthiasGwiozda commented on #3857
This won't be an option in our dialog - flow. We have to save the data that comes from the adaptive - card. With an imBack - Button this is not possible.

Thats why we use **Action.Submit** in the adaptive card.
![image](https://user-images.githubusercontent.com/22172694/115346180-2579fe00-a1b0-11eb-90cd-6dbcb00428cf.png)

[2021-04-20 06:18] MatthiasGwiozda commented on #3845
It always behaved like this. The reason why I consider this to be a "bug" is because it feels like the scroll - behaviour should integrate the welcome - message aswell as all the other messages from the bot.

[2021-04-20 16:13] alessiodecastro opened #3859 "TTS Stripping text from Markdown (Italian)"
Hi,
I'm reporting this issue occurred using web chat js library (latest version https://cdn.botframework.com/botframework-webchat/latest/webchat.js)
I've enabled the webchat to use Cognitive Services Speech Services as described here: https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/SPEECH.md
[code]
Among the supported features from the TTS there is "TTS Stripping text from Markd

[2021-04-20 16:21] alessiodecastro commented on #3859
Opened issue also in https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/362

[2021-04-20 17:22] pavolum commented on #3797
Closing due to inactivity, reopen if needed

[2021-04-20 17:22] #3797 closed

[2021-04-20 17:41] corinagum commented on #3857
I've added this to R14 candidates. Thanks again for reporting.

[2021-04-20 18:14] GeoffCoxMSFT commented on #3852
@v-kydela If you have time, it might be good to try the calendar action and verify that the dates work. That way when the customer replies with the action text we can debug quickly.

[2021-04-20 21:13] #3812 closed

[2021-04-21 07:56] Gusi88 commented on #3845
we have the same problem

[2021-04-21 11:12] MatthiasGwiozda opened #3862 "scrollToBottom - Button appears only sometimes"
## Screenshots
![scroll - to - bottom button](https://user-images.githubusercontent.com/22172694/115543975-4f135200-a2a2-11eb-9161-3f6868a4a894.gif)

## Version

[Latest](https://cdn.botframework.com/botframework-webchat/latest/webchat.js) (4.13.0)

## Describe the bug

The scroll to bottom - button seems to work only sometimes.

## Steps to reproduce

1. create a Dialog in the backend, which send

[2021-04-21 16:56] corinagum commented on #3862
Thank you for reporting. I'm adding this to our list of candidates for the next milestone.

[2021-04-21 17:20] stevkan commented on #3797
Closing due to inactivity. Please feel free to reopen if the issue persists or you have new details to share.

[2021-04-21 17:42] warunacds commented on #3856
I know a fix for this issue is added R14, but for recording purposes, I want to mention here I'm having the same issue. By downgrading to 4.11.0 it will work on a typescript project.

[2021-04-21 19:08] v-kydela commented on #3852
@GeoffCoxMSFT - Thanks, but I don't know that we'll be able to debug at all if the customer is unresponsive

@formore5points - Are you still working on this?

[2021-04-21 19:49] corinagum commented on #3845
@Gusi88 Thanks! Additional chime-ins help us with prioritization. :)

[2021-04-21 19:57] corinagum commented on #3847
This issue is showing as resolved in the IcM, with comments from @stevkan saying a sample was provided. :)

@stevkan would you be able to link that sample here for future customers? Thanks!

[2021-04-22 22:29] #3816 closed

[2021-04-22 23:11] #3826 closed

[2021-04-22 23:58] #2343 closed

[2021-04-23 09:49] Hirurgo commented on #666
@diegorodriguesvieira nice, thank you, but did't catch can we use this for voice interaction

[2021-04-23 11:46] formore5points commented on #3852
@v-kydela Hello, yes I was working but I solved this one with using activity. In no way, I could not get input using date time. Value part was empty due to localization problem. That's why I give the input I want to get as a response in the last part of the dialog and capture it by using activity from turn.activity. I hope that has been revealing. Thank you so much.

![1](https://user-images.githu

[2021-04-23 17:15] v-kydela commented on #3852
@formore5points - I'm glad you got your issue resolved

[2021-04-23 17:15] #3852 closed

[2021-04-26 17:43] NereaCabiedasMoreno opened #3865 "run the bot in web chat"
How can I make my bot launch my welcome card directly in the web chat as soon as I enter without having to type anything?

with this code:

 this.onMessage(async(context, next) => {
                console.log('Running dialog with Message Activity.');

                // Run the Dialog with the new message Activity.
                await this.dialog.run(context, this.dialogState);

[2021-04-26 18:21] namanimsft commented on #2203
Thank you William for sharing the bug with me. We've an tremendous ask (more than 15k requests) for the drag and drop support for the file attachment. Our team has built the bot for Microsoft enterprise service users who directly for Microsoft customers. Please consider this request as a high priority ask and this will definitely improve the user experience.

[2021-04-26 19:03] corinagum commented on #3766
Feel free to reopen if this issue is persisting. Our recommendation is to use plain text instead of markdown for this scenario.

[2021-04-26 19:03] #3766 closed

[2021-04-26 19:13] corinagum commented on #3833
Moving this to our backlog

[2021-04-26 19:33] corinagum opened #3866 "Should we hide "messageReaction" activity in Web Chat? Today, it shows a warning."
https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channels-reference?view=azure-bot-service-4.0

[2021-04-26 19:39] corinagum commented on #3540
@stevkan ping

[2021-04-26 19:45] corinagum commented on #3798
@compulim  Please link the issue filed to AC

[2021-04-26 21:22] mindmodel commented on #3766
This isn't markdown.  As stated in the original question, it's just text with newlines.  The text displays correctly on iPhone.  The emulator, for some reason, changes the numbers contained in the text to different numbers.  Why does the emulator interpret this text as markdown?  Does it make sense to change the bot software, which produces correct results on the target device (iPhone) to work aro

[2021-04-26 21:26] compulim commented on #3798
Filed as https://github.com/microsoft/AdaptiveCards/issues/5733.

[2021-04-26 22:38] corinagum commented on #3766
By default, the activity is processed as markdown in Web Chat. Based off what I can see from the screencap above, `textFormat` is not declared. This is legacy behavior from Web Chat v3.

Source:
https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/component/src/Utils/textFormatToContentType.js
v3:
https://github.com/microsoft/BotFramework-WebChat/blob/v3/src/FormattedText.tsx#L15

[2021-04-26 22:43] mindmodel commented on #3766
I'll check it out.  Thanks!

[2021-04-27 05:33] SreekanthOAuth commented on #3768
@compulim - Could you please provide the tentative date for this change.

[2021-04-27 10:43] felix-gonzalez commented on #3409
Hello @zuercher8353 ,
  I'm testing it with:

[Activity
  type = event
  name = WEB_CHAT/SEND_EVENT
  value = welcome
]

in a "send response" body in composer and I catch it on webchat side with:

       const store = window.WebChat.createStore({}, ({ dispatch }) => next => action => {

		      console.log(" Action  " + action.type);

          if (action.type === 'DIRECT_LINE/INCOMING_ACTIVITY' &

[2021-04-27 10:57] venkatx5 opened #3868 "Adaptive card with controls not readable to screen reader"
We are using webchat-es5.js for our Virtual assistant and some of the customers are using screen reader to access it. The screen reads the normal card and user messages properly. But for Adaptive card with controls, it doesn't read the content.

## Screenshots
![image](https://user-images.githubusercontent.com/11777507/116230046-cea69280-a774-11eb-85e0-b9bd6740e082.png)

![image](https://user-imag

[2021-04-27 11:14] #3865 closed

[2021-04-27 11:14] NereaCabiedasMoreno commented on #3865
resolved

[2021-04-27 11:25] NereaCabiedasMoreno commented on #3099
**How can I change the voice of the bot? With this code that works well for me but I want to change the voice** DIRECT LINE SPEECH

<!DOCTYPE html>
<html lang="es-ES">

<head>
    <title>Web Chat </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script crossorigin="anonymous" src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></scrip

[2021-04-27 16:20] NereaCabiedasMoreno commented on #3029
**Hello, I am trying to change the voice of my bot, to a neural voice, I use Direct Line Speech, but the only thing that achieves is that I use the neural voice for the piece of text that is between the two voice tags voice**

 this.onMessage(async(context, next) => {
                console.log('Running dialog with Message Activity.');
                const speakText =
                    `<speak

[2021-04-27 16:23] NereaCabiedasMoreno commented on #3124
**Hello, I am trying to change the voice of my bot, to a neural voice, I use Direct Line Speech, but the only thing that achieves is that I use the neural voice for the piece of text that is between the two voice tags voice**

 this.onMessage(async(context, next) => {
                console.log('Running dialog with Message Activity.');
                const speakText =
                    `<speak

[2021-04-27 17:26] corinagum commented on #3868
Hi, Thanks for filing.
1. Just in case, could you try this behavior on Web Chat 4.13.0? I anticipate the behavior won't change, but let's be sure.
2. Could you provide the JSON for the Adaptive Card that is being used?

The topics are slightly different, but I believe the fix will be related to the changes for https://github.com/microsoft/BotFramework-WebChat/issues/3804

[2021-04-28 08:48] NereaCabiedasMoreno opened #3869 "Change voice to neural with Node.js and Direct Line Speech"
**hello, I am trying to change the voice to be neural, with this code in dialogBot.js but i can't get it to use neural voice in the whole bot**

  `this.onMessage(async(context, next) => {

            console.log('Running dialog with Message Activity.');

            await this.dialog.run(context, this.dialogState);
            const speakText =
                `<speak version="1.0" xmlns="http:/

[2021-04-28 18:12] compulim commented on #3360
@corinagum do you think we can use `speak` property instead of stripping Markdown syntax from `activity.text`? Particularly, I mean:

[code]

I am thinking, `speak` property should be either XML (i.e. SSML) or plain text. It is much easier to strip XML tags than dealing with Markdown.

[2021-04-28 18:16] corinagum commented on #3360
Wow, this is a good idea. I really like it and it's a really simple solution.

The only drawback I see is that customers would be unhappy if `activity.speak` is different from `activity.text`, which we have seen instances of recently..

[2021-04-29 16:18] stevkan commented on #3869
@NereaCabiedasMoreno, I'm exploring some options to see if they will work and will let you know what I find.

[2021-04-30 10:18] NereaCabiedasMoreno commented on #3869
okey, Thank you very much! @stevkan

[2021-05-03 10:23] NereaCabiedasMoreno commented on #3869
Have you been able to find any solution or help? @stevkan @compulim Thanks!

[2021-05-03 21:11] #3519 closed

[2021-05-04 05:42] SreekanthOAuth commented on #3768
@stevkan,

We are able to update just the bot avatar image but the problem is the image is not updating for that activity rather it's updating for all the bot activities as we mentioned in the previous comment.

This [question ](https://stackoverflow.com/questions/55649040/how-to-set-the-user-avatar-dynamically-in-botframework-webchat-based-on-logged-i/55826008#55826008) is asked by our member to

[2021-05-04 10:00] NereaCabiedasMoreno opened #3872 "use typing with webChat ,Direct Line Speech, bot made with Node.js"
This is my index:
[code]
In my code , class dialogBot.js i have this code, but not found:
[code]

[2021-05-04 12:34] venkatx5 commented on #3868
The issue remains even after change the webchat version to 4.13.0.
Will share the Adaptive card json.

[2021-05-04 17:05] stevkan commented on #3869
@NereaCabiedasMoreno, there are a few different places you could choose to implement something like this. I chose to do it as middleware in order to get the activities before they are processed by the main application. Beyond that, there wasn't a specific reason I chose to do it this way.

Please find the example code below. You will need to customize it, regardless of where it lives, in order to

[2021-05-04 17:10] stevkan commented on #3869
As this is technically a 'how to' question, I am going to close this as resolved. If you need additional support regarding this, please post your question(s) on Stack Overflow.

-----------------

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.

[2021-05-04 17:10] #3869 closed

[2021-05-04 22:47] stevkan commented on #3872
@NereaCabiedasMoreno, I'm not sure what the problem is you are experiencing. Can you clearly state what the issue is so I can provide the best assistance I can?

One thing I can say is I tested using the `sendTypingIndicator` in Web Chat and it was detected by my bot using `this.onTyping()`. I can see in your code, for that 'onTyping' activity handler, that you aren't doing anything in it. So, eve

[2021-05-05 11:33] kattepalli opened #3873 "[Keyboard Navigation - Azure Bot Services - Test in Webchat]: Keyboard focus is not visible properly when it reaches on the 'Attach' control"
**User Experience:**
If users navigate on screen and Keyboard focus is not visible properly when it reaches on the 'Attach' control, so it would be difficult for users to navigate on page and complete their task.

**Repro Steps:​**
Open https://ms.portal.azure.com/?microsoft_azure_marketplace_ItemHideKey=BotWithComposer&Microsoft_Azure_BotService=friendName#create/hub using v- in which access prov

[2021-05-05 16:47] corinagum commented on #3873
Could you please provide a screenshot of the behavior you are indicating?

[2021-05-05 22:54] cxbuilders opened #3874 "Proactive Message Delay in Client"
This is a bit of an overlapping issue between Sdk / Composer / Client, however posting it here.

I have developed an handoff integration with Genesys that is built around a websocket that calls ContinueConversationAsync when a new message arrives from the agent :

[code]

This is then picked up in Composer and send to the user:
![image](https://user-images.githubusercontent.com/49873947/116541648-

[2021-05-05 23:02] v-kydela commented on #3874
@cxbuilders - I can reproduce this with a non-Composer bot, and so I've determined that this is not Composer-related. I can reproduce the problem in Web Chat and Emulator (which uses Web Chat), but not in Teams. This is most likely to be a Web Chat bug.

@Kaiqb
@compulim
@corinagum

I've transferred this bug to the Web Chat repro and unassigned myself. Can someone have a look at it? Here's a code

[2021-05-06 07:16] NereaCabiedasMoreno commented on #3872
okey, thanks , how to add Typing Indicator whenever BOT have received a message and is processing? @stevkan

[2021-05-06 09:15] NereaCabiedasMoreno commented on #3869
What do you have in adapterSettings? @stevkan

[2021-05-06 17:36] corinagum commented on #3520
Closing - haven't seen traction on this, and tarbells are available on GH releases page :)

[2021-05-06 17:36] #3520 closed

[2021-05-06 17:54] tdurnford commented on #3743
@compulim any updates on this issue?

[2021-05-06 18:17] tdurnford commented on #3743
@stevkan or someone on the support team can you verify that is resolved in latest version of Web Chat?

[2021-05-06 20:52] compulim commented on #3859
I will do some investigations:

- Bot will reply with an activity in `en-US` and `it-IT`, with some words in `***`
  - This activity should not have `speak` property
- On network tab, check what we are sending to Cognitive Services TTS
  - Did we strip it out? Or did Cognitive Services strip it out?

@alessiodecastro you may want to use `speak` property to specify the text for TTS. This is recomme

[2021-05-06 21:22] compulim commented on #3768
Don't modify the `otherArgs.styleOptions`, the argument is expected to be read-only, not written to.

In your scenario, you should build your avatar rendering function, which should simply return an `<img>` element. Some readings:

- Custom rendering avatar, https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.custom-components/k.per-message-avatar/
- A comprehensive demo of th

[2021-05-06 21:39] compulim commented on #3782
Yes, this is a new feature.

According to the spec:

Although this string is hardcoded, we should check if it's a self-closing root SSML `<speak>` element instead:

- If the XML has namespace of SSML, and
- it is a root element of tag `speak`, and
- it is self-closing,
- then skip synthesizing it

We should implement this logic.

[2021-05-06 21:49] compulim commented on #3788
When working on this, please also fix #2588.

[2021-05-06 22:37] compulim opened #3875 "Bump to Speech SDK >= 1.16.0"
## Feature Request

This is to resolve a ticket 235209208.

[feature-request]

[2021-05-07 00:09] stevkan commented on #3743
@tdurnford, I am able to repro the issue, using the current version of Web Chat, v4.13.0.

[2021-05-07 00:40] stevkan commented on #3872
The 'botbuilder' library has a 'ShowTypingMiddleware' middleware (reference [here](https://github.com/microsoft/botbuilder-js/blob/main/libraries/botbuilder-core/src/showTypingMiddleware.ts#L23)) that you can pass into the adapter. When this is used, it sends a `typing` activity from the bot to the client indicating that the bot is working on producing a response for the user.

The code looks like

[2021-05-07 00:40] #3872 closed

[2021-05-07 08:14] cxbuilders opened #3876 "Proactive Message from Skill not showing up in Skill consumer"
We have developed various handoff skills that allow skill consumers to handoff their users to chat systems like Genesys, Salesforce, Teams etc. These skills rely on Proactive Messages to relay the agent message back to the user. However when I hooked up a PVA bot to this Skill the proactive messages did not arrive at all.

I isolated this into a simple proactive skill that sends messages every 10

[2021-05-07 17:52] corinagum opened #3877 "Minimizable Web Chat sample not functional"
https://microsoft.github.io/BotFramework-WebChat/06.recomposing-ui/a.minimizable-web-chat/

(Web Chat's icon doesn't show up)

[2021-05-07 18:04] corinagum commented on #3743
Thanks for the repro. Added it to dev discussions

[2021-05-07 18:09] corinagum commented on #3557
Closing as resolved

[2021-05-07 18:09] #3557 closed

[2021-05-10 04:38] SreekanthOAuth commented on #3768
@compulim - Thanks for the information.

We have also implemented the same by following the same links which you have shared in your last comment.

But it's also updating for all the activities.  But the demo looks very close to our case.

We will try again and let you know the outcome.

[2021-05-10 21:29] compulim opened #3881 "Test: move from useSendMessage() to pageObject.sendMessageViaSendBox()"
If the test's main objective is not testing the `useSendMessage()` hook, we should use `pageObject.sendMessageViaSendBox` for simplicity.

https://github.com/microsoft/BotFramework-WebChat/blob/master/__tests__/html/accessibility.liveRegionAttachment.thumbnailCard.html

[2021-05-10 22:47] DingmaomaoBJTU opened #3882 "Oauth error unhandled in SDK"
### [Github issues](https://github.com/Microsoft/botbuilder-js/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Versions
What package version of the SDK are you using. -> 4.10.3
What nodejs version are you using ->10.13.0
What browser version are you using -> Chrome
What os are yo

[2021-05-10 22:48] v-kydela commented on #3882
I've transferred this issue to the Web Chat repo in the hopes that it might get the attention it needs

[2021-05-11 12:31] venkatx5 commented on #3868
Adaptive card JSON.

{
  "type": "message",
  "serviceUrl": "http://localhost:56223",
  "channelId": "emulator",
  "from": {
    "id": "db8f84e0-b217-11eb-b23******** * * *89",
    "name": "Bot",
    "role": "bot"
  },
  "conversation": {
    "id": "4dff8ba0-b246-11**************"
  },
  "recipient": {
    "id": "ffb569b4-b872-4ab2**************",
    "role": "user"
  },
  "locale": "en-US",
  "in

[2021-05-11 19:48] corinagum commented on #3868
A few notes:
- When I paste your card into the [Adaptive Card Designer](https://adaptivecards.io/designer/), I get some validation issues. Your card version is notated as version 1.0, but you are using 1.2+ schema properties, which may cause rendering errors
- In order for the card to be read out when first added to the transcript, you will need to add the `speak` property to the root of the card.

[2021-05-12 03:00] #3736 closed

[2021-05-12 03:00] #3842 closed

[2021-05-12 08:30] NereaCabiedasMoreno opened #3887 "How to activate and deactivate the microphone in webchat only when you are going to talk? I want to control turn off and on with webchat"
My microphone once you use it stays active and I want to be able to stop it and activate it when I speak.

`
<!DOCTYPE html>
<html lang="es-ES">
<head>
    <title> Web Chat </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script crossorigin="anonymous" src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <style>
.........

[2021-05-12 09:02] kattepalli commented on #3873
Please find below a screenshot
![MAS2 4 7_focus not visible properly1](https://user-images.githubusercontent.com/30458420/117948504-cfbbf000-b32e-11eb-8261-46bedff12432.png)

[2021-05-12 10:26] kattepalli opened #3888 "WCAG 4.1.2: Ensure aria-role description is only used on elements with an implicit or explicit role."
**Issue**
Ensure aria-role description is only used on elements with an implicit or explicit role (aria-role description)

**Target application**
Microsoft Virtual Agent

**Element path**
.webchat--css-fnyqe-1au3coz.webchat__basic-transcript__activity[aria-label="activity"]:nth-child(2) > .webchat__stacked-layout.webchat--css-fnyqe-rctxl4.webchat--css-fnyqe-opzqsn > .webchat__stacked-layout__main

[2021-05-12 10:58] kattepalli opened #3889 "WCAG 4.1.2: Ensures all ARIA attributes have valid values"
**Issue**
Ensures all ARIA attributes have valid values (aria-valid-attr-value)

**Target application**
Microsoft Virtual Agent

**Element path**
.webchat--css-fnyqe-1au3coz.webchat__basic-transcript__activity[aria-label="activity"]:nth-child(2) > .webchat__stacked-layout.webchat--css-fnyqe-rctxl4.webchat--css-fnyqe-opzqsn

**Snippet**
div aria-labelledby="webchat__stacked-layout__id--5agnk" aria-

[2021-05-12 16:35] tdurnford commented on #3889
@corinagum Can you take a look at this?

[2021-05-12 16:35] tdurnford commented on #3888
@corinagum Can you take a look at this?

[2021-05-12 22:10] corinagum commented on #3888
Please update to the latest version of Web Chat (4.13.x) and verify the bug. These issues should be addressed.

[2021-05-12 22:11] corinagum commented on #3889
Please update to the latest version of Web Chat (4.13.x) and verify the bug. These issues should be addressed.

[2021-05-12 22:15] corinagum commented on #3873
This is behavior that's been verified with our audit team - the focus indicator change is in the color of the paperclip/send button, which match color contrast requirements. There is no plan for a visual update at this time.

[2021-05-12 22:15] #3873 closed

[2021-05-13 21:26] compulim opened #3892 "[Doc] Add a FEATURE.md or USER_STORY.md"
- Tells the end-dev how we turn a user story into a feature
   - Explain why it doesn't work today
   - User story -> feature = a type of generalization
   - Write 3+ user stories on how the end-dev would use this feature
   - Generalize the variations across these user stories into a feature
   - Verify the generalized feature works on these 3 stories
   - Think 2+ additional stories that this fe

[2021-05-14 07:46] brijeshpankhaniya opened #3893 "can't read property CreateStore of Undefine"
I create the store in in Angular ngOnInit method the pass the Store to the  window.WebChat.renderWebChat method

when I Run the Project i  Got ther error:Cannot read property 'createStore' of undefined

ngOninit method Contain Following Code:

[code]

and pass into rederwebchat method:

[code]

I got the the Undefine Error in Console:

[code]

plz reply soon ..

[2021-05-14 12:30] AShchepachev commented on #2557
Action.Title and TextBlock.Wrap are not the same .This is not the answer

[2021-05-14 16:27] tdurnford commented on #3893
@stevkan Can you or another member on the support team take a look at this?

[2021-05-14 18:00] v-kydela commented on #3893
Hello @brijeshpankhaniya

It looks like your `window` object has no `WebChat` property. This property is usually populated by the Web Chat CDN, as seen in all the samples.

Did you follow the Angular sample? https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/01.getting-started/f.host-with-angular

If not, can you link to the sample you followed so that we can try to reproduce your

[2021-05-14 18:08] Zerryth commented on #3743
@stevengum @compulim my investigations so far, as I'm OOF and handing this over:
___
So I was not able to successfully reproduce the issue, however I also wasn't able to repro it the exact way I wanted either--something's wrong with Bot Services :(

But that being said, I was able to successfully have a bot that already exists (the streaming bot) successfully chat
![image](https://user-images.gith

[2021-05-14 18:09] Zerryth commented on #3743
Also note: for anyone looking at the HTML, please be sure to add a token server in your production code, rather than putting the Direct Line secret into the HTML like I had done for testing

[2021-05-17 09:03] venkatx5 opened #3894 "Card focus indicator - Accessibility issue"
We are using webchat-es5.js for our Bot and as per requirement the bot should be accessibility compliant. When any card selected using keyboard/mouse, a dotted line indicator is being displayed by default which is not very clear. So we added css to make the focus indicator thicker. But when no card selected, a div is displaying on the bottom of all cards with outline.

## Screenshots
**When a card

[2021-05-17 17:23] corinagum commented on #3894
I'm assuming the `...--focus` class is being overwritten to always visible with your code.

Please edit your style options instead of using CSS. https://github.com/microsoft/BotFramework-WebChat/blob/main/packages/api/src/defaultStyleOptions.ts#L199

In the future, please take a look at style options for customization before filing a bug.

[2021-05-17 17:23] #3894 closed

[2021-05-17 20:19] v-kydela commented on #3893
@brijeshpankhaniya - Are you still working on this?

[2021-05-18 10:28] ryub3n opened #3895 "Pressed card button unselected if StyleOptions set in Minimizable bot sample"
## Version

4.13.0

## Describe the bug

In the minimizable bot sample if you select a card button, minimize and open the bot again the selected button is unselected if StyleOptions is set.
Without StyleOptions the buttons do remain selected even after minimizing and reopening the bot.

## Steps to reproduce

1. Add the below StyleOptions to the minimizable bot sample
![image](https://user-images.

[2021-05-18 18:10] ninggao commented on #3895
@stevkan Could you please take a look at this one?

[2021-05-19 17:19] corinagum commented on #3888
Closing due to inactivity. @kattepalli if you are able to test this on the latest version of Web Chat and still encounter these errors, leave a comment here and I can reopen the issues. Thanks.

[2021-05-19 17:19] #3888 closed

[2021-05-19 17:19] corinagum commented on #3889
Closing due to inactivity. @kattepalli if you are able to test this on the latest version of Web Chat and still encounter these errors, leave a comment here and I can reopen the issues. Thanks.

[2021-05-19 17:19] #3889 closed

[2021-05-19 18:11] corinagum commented on #3887
'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat tag](https://stackoverflow.com/questions/tagged/web-c

[2021-05-19 18:11] #3887 closed

[2021-05-19 19:30] compulim commented on #3788
Working on this now.

[Activity spec](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0#activity-object):

| Property | Type | Description |
| -- | -- | -- |
| localTimestamp | string | Date and time that the message was sent in the local time zone, expressed in&nbsp;ISO-8601&nbsp;format. |
| localTimezone | string | C

[2021-05-20 01:32] compulim commented on #3788
Even though Web Chat send out an activity to ABS with `localTimestamp`. The bot developer will need to retrieve them using `rawLocalTimestamp`.

Activity received on the bot side, after Web Chat sent out an activity with time zone of Japan.

[code]

[2021-05-20 01:36] HiroClubLabs commented on #3788
Thank you.

What do we need to upgrade to take an advantage of the localtimestamp feature?

Thanks,
Hiro

Sent with BlackBerry Work
(www.blackberry.com)

From: William Wong ***@***.******@***.***>>
Date: Wednesday, May 19, 2021, 6:33 PM
To: microsoft/BotFramework-WebChat ***@***.******@***.***>>
Cc: Yamaguchi.Hiro ***@***.******@***.***>>, Manual ***@***.******@***.***>>
Subject: Re: [microsoft/Bo

[2021-05-20 07:29] aparnaji opened #3897 "Minimizable UI Web Chat Sample - Speech Enablement additional to text"
Is there a way  we can enable Speech in this sample.

Tried the below

MinimizableWebChat.js
======================
[code]

WebChat.js
======
[code]

## Version
[code]

## Describe the bug
This did not help me to solve the issue, The bot itself went into error state, Any sample implementation with mnimizable chat window+ Text(Directline) + ( Directline speech)

## Expected behavior

Wanted both te

[2021-05-20 08:25] venkatx5 commented on #3783
Thanks a lot for the clarification!

[2021-05-20 10:03] compulim opened #3898 "[Test] Upgrade Selenium to 4.x"
## Upgrade Selenium

We are using Selenium 3.14 with Chrome 80.

We should take our time to upgrade to Selenium 4.x with latest version of Chrome.

There are a few RTL tests we disabled because Chrome 85 have fixed/reversed some of the logic, causing RTL tests to fail in Chrome 80.

### `chrome.dockerfile`

[code]

### `docker-compose-wsl2.yml`

New environment variables needed for Selenium 4.x:

[2021-05-20 10:04] compulim commented on #2938
All test reliability issues seems resolved. Closing this issue.

[2021-05-20 10:04] #2938 closed

[2021-05-20 18:18] ninggao commented on #3897
Hi @stevkan, could you please help the customer on this issue?

[2021-05-20 19:25] stevkan commented on #3897
@aparnaji, can you please post the error that you are receiving when you try to implement and run?

[2021-05-20 20:26] compulim opened #3899 "[Investigations] Speech on iPhone stuck at "Starting" state."
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/119044405-ff8e7780-b96e-11eb-9ba2-9ba27bfddae0.png)

## Version

## Describe the bug

Shortly after speech permission is granted to the website on iPhone + Safari, it get stuck at "Starting" state.

## Steps to reproduce

1. Go to '...'
1. Click on '....'
1. Scroll down to '....'
1. See error

## Expected behavior

It shoul

[2021-05-20 21:18] compulim commented on #3762
This is already fixed in #3703 with the introduction of `useEnterKeyHint` hook.

[2021-05-20 22:16] #3788 closed

[2021-05-20 22:17] compulim commented on #3757
Primary reason is IE11 is not watching `readonly` attribute after `element.focus()` is called.

The following code is an excerpt of "focus send box with or without software keyboard". To disable software keyboard on mobile devices, we temporarily mark the `<input>` as read-only, then remove the `readonly` attribute shortly.

IE11 did not pick up the removal of `readonly` attribute. Thus, it still

[2021-05-20 22:32] compulim opened #3901 "IE11: SVG icons should not be focusable"
## Screenshots

After pressing <kbd>SHIFT</kbd> <kbd>TAB</kbd> once, `document.activeElement` indicates it is focusing on the `<svg>`.

Put this line in the console to dump the current focus:

[code]

![image](https://user-images.githubusercontent.com/1622400/119056794-25704800-b980-11eb-827a-8507e44118dd.png)

## Version

`4.13.0`

## Describe the bug

In IE11, press <kbd>SHIFT</kbd> <kbd>TAB</kb

[2021-05-20 23:19] #3762 closed

[2021-05-21 00:20] #3757 closed

[2021-05-21 00:20] #3901 closed

[2021-05-21 01:11] compulim opened #3904 "[Test reliability] __tests__/adaptiveCards.js > disable card inputs"
## Screenshot

![image](https://user-images.githubusercontent.com/1622400/119067378-cc5fde80-b996-11eb-8964-49370a211d09.png)

## Version

`4.13.0`

## Describe the bug

[code]

## Steps to reproduce

`__tests__/adaptiveCards.js › disable card inputs`

## Expected behavior

## Additional context

[Bug]

[2021-05-21 01:46] #3825 closed

[2021-05-21 09:48] NereaCabiedasMoreno opened #3905 "I don't see the send button and the microphone button, what can I do?"
I am using direct line speech, with CDN web chat and I only see the microphone button

[2021-05-21 11:46] jayarau opened #3906 "Getting error: Cannot read property 'connectionStatus$' of undefined"
We are trying to integrate voicebot using SPFX with react in SharePoint.

We are referring [Directline speech sample](https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/03.speech/a.direct-line-speech).

We are using below version of SPFX and botframework-webchat.
SPFX version: 1.10
"botframework-webchat": "4.10.0"

![image](https://user-images.githubusercontent.com/73291456/119131

[2021-05-21 18:18] ninggao commented on #3906
@dmvtech Could you please help the customer on this issue?

[2021-05-21 21:02] v-kydela commented on #3893
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2021-05-21 21:02] #3893 closed

[2021-05-21 22:16] #3693 closed

[2021-05-24 10:10] hrazmsft opened #3908 "Missing `directLine` prop?"
## Screenshots

![image](https://user-images.githubusercontent.com/66222191/119332089-cb79c600-bc90-11eb-9ca3-fe4136dc822a.png)

## Version

NPM: botframework-webchat ^4.13.0

## Describe the bug

The `directLine` property is missing since version 4.13.0 in TypeScript

## Steps to reproduce

1. Run `npm install botframework-webchat`
1. Follow one of the samples in this repo.

## Expected behavior

[2021-05-24 10:13] hrazmsft opened #3909 "Missing exported functions from older versions"
## Screenshots

![image](https://user-images.githubusercontent.com/66222191/119332611-80ac7e00-bc91-11eb-82fa-7aa3d7f08ccc.png)

## Version

NPM: botframework-webchat ^4.13.0

## Describe the bug

After upgrading the component to version 4.13.0, all the exported functions removed from the Typescript definition.

## Steps to reproduce

## Expected behavior

The exported functions from older version

[2021-05-24 11:25] MikeCardiff commented on #3874
Just wanted to chime in and say I'm also experiencing this issue using webchat/directline. We're using proactive messages for handoff and inactivity prompts.

Here's the websocket messages from a conversation resumed from the directline cache in case it's of any help. The bottom two are the delayed proactive messages. They are recieved at the same time as other messages but have a delay before bei

[2021-05-24 17:28] dmvtech commented on #3906
Hi Jayarau. Have you had this working before, or is this in current development and cannot get it to work?

[2021-05-24 17:35] jayarau commented on #3906
Hi @dmvtech , we are currently developing it and stuck with this issue.

[2021-05-24 18:26] corinagum commented on #3909
Duplicate of #3856

[2021-05-24 18:26] #3909 closed

[2021-05-24 18:29] corinagum commented on #3856
Related: #3908, #3909

@compulim I'm wondering if this has to do with comments on `core/index.tsx`

Marking this as P0 for immediate discussion

[2021-05-24 20:03] stevkan opened #3910 "Accessing mockbot token API blocked by CORS policy in "clear-after-idle" sample"
## Version
v4.13.0

NPM package

## Describe the bug
Running the [h.clear-after-idle](https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/04.api/h.clear-after-idle) sample generates an error when the host application attempts to access mockbot's token API. The host application is blocked do to CORS policy.

![image](https://user-images.githubusercontent.com/18403946/119401091-e1d35

[2021-05-24 20:10] corinagum commented on #3910
@compulim I don't think that format of IP address is added to `trustedOrigins` in MockBot. Are you interested in adding it?

[2021-05-24 20:22] stevkan commented on #3908
@hrazmsft, can you provide more details on the steps you took that lead to this error? I just tested by copying the [04.api/h.clear-after-idle](https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/04.api/h.clear-after-idle) sample and running it and didn't encounter any errors or issues. To be clear, I ran `npm install` in the root folder and then ran the sample.

[2021-05-24 21:25] hrazmsft commented on #3908
Did you use Typescript? The type definitions seems to be worng. Almost no props expect styling... I will send more photos soon...

[2021-05-24 23:09] stevengum commented on #3743
@compulim I'm working with @stevkan and @Zerryth to unpack this.

They were unable to repro the `unsafe-eval` CSP violation using latest and 4.13.0 via the CDN. @stevekan is building WC locally and attempting a another repro.

[2021-05-25 14:27] miladak opened #3912 "Bundle Size is too Big"
If i import ReactWebChat like this

import ReactWebChat, { createDirectLine, createStoreWithDevTools, createStyleSet } from 'botframework-webchat'

Is my bundle size after build > 3,5MB

So what is the solution?

[2021-05-25 16:10] venkatx5 opened #3913 "Keyboard navigation issue when links/button in content - Intermittent"
Getting intermittent focus issue when the content has button to expand / collapse the content. This makes navigation challenging for keyboard users.

## Screenshots
![image](https://user-images.githubusercontent.com/11777507/119529651-ebe47600-bd9f-11eb-98db-18ba642b8f54.png)

## Version
webchat es5 version 4.13.0
https://cdn.botframework.com/botframework-webchat/4.13.0/webchat-es5.js
Integrating

[2021-05-25 16:27] dmvtech commented on #3906
Thank you. I will see if I can reproduce. I assume you are testing in `workbench.aspx`?

[2021-05-25 18:05] aparnaji commented on #3897
Tried different variations, I am now in this
  window.WebChat.renderWebChat({
                directLine: window.WebChat.createDirectLine({
                    token: 'xxxxxx'
                }),

                webSpeechPonyfillFactory: window.WebChat.createBrowserWebSpeechPonyfillFactory(),
                store,
                locale: langchoice,
                styleSet,
                styl

[2021-05-25 19:03] compulim commented on #3875
Fixed in #3907.

[2021-05-25 19:03] #3875 closed

[2021-05-25 20:30] compulim opened #3914 "Update bundler to esbuild/webpack@5"
## Background

We need to bump to `webpack@5` or move to `esbuild`.

Let's weight which one is better, in terms of size and speed (for DX).

## esbuild

Our bundle is required to be ES5. But esbuild emit bundle > ES5. We need to retranspile it again.

### esbuild config to use for isomorphic-react

In our bundle, although we bundle `react@16.8.6`, if the environment already have a `window.React` a

[2021-05-26 05:24] jayarau commented on #3906
Hi @dmvtech , for debugging solution we are following below steps:
1. running 'gulp serve --nobrowser'
2.  on Sharepoint site append ?loadSPFX=true&debugManifestsFile=https%3A%2F%2Flocalhost%3A4321%2Ftemp%2Fmanifests%2Ejs&customActions=%7B"<--componentid-->"%3A%7B"location"%3A"ClientSideExtension%2EApplicationCustomizer"%2C"properties"%3A%7B"DirectLineSecret"%3A"<--secret-->"%2C "BotName"%3A "<--b

[2021-05-26 06:07] compulim commented on #3844
List of stuff we do after Adaptive Cards rendered the card (from [`adaptiveCardRenderer.js`](https://github.com/microsoft/BotFramework-WebChat/blob/main/packages/bundle/src/adaptiveCards/Attachment/AdaptiveCardRenderer.js)):

- Disable/enable all widgets in Adaptive Cards
   - If the dev set Web Chat control to disabled, we will also disable all widgets in the AC
- (Accessibility) AC root containe

[2021-05-26 10:18] jayarau opened #3915 "Bot Avatar not getting displayed"
We are trying to add bot avatars in our SPFX solution, but its not coming up.
SPFX version: 1.10
"botframework-webchat": "^4.11.0",

Code snippet:
[code]

can you please  help with this.

[2021-05-26 18:18] ryanlengel commented on #3912
@compulim can you please assess? Thanks!

[2021-05-26 19:24] dmvtech commented on #3915
@jayarau I'm not sure, but I will investigate and see if I can reproduce or get it working.

[2021-05-26 22:14] compulim commented on #3912
Few technologies will help you to size down the bundle:

- Code splitting: load JS code in progressive chunks, https://webpack.js.org/guides/code-splitting/
- Serve it as gzipped: we are seeing it from 3.5 MiB down to ~980 KiB

There are multiple technologies bundled in Web Chat, thus the bundle is big:

- Adaptive Cards
- Speech recognition/synthesis
- Multiple chat adapters (e.g. Direct Line, Di

[2021-05-27 12:16] NereaCabiedasMoreno commented on #3869
Hi @stevkan  i have this error  [onTurnError] unhandled error: DialogContextError: Cannot read property 'status' of undefined when i use this code , Can you help me , please? @compulim

[2021-05-27 22:11] compulim opened #3918 "[Accessibility] Use "summary" field for narrating attachments"
## Feature Request

Excerpt from [`botframework-activity.md#summary`](https://github.com/microsoft/botframework-sdk/blob/main/specs/botframework-activity/botframework-activity.md#summary):

That means, for STT and screen reader, the `summary` field will be used:

1. If `speak` field present
   1. If `speak` field is not an empty string, narrate the field
   2. If `speak` field is an empty string,

[2021-05-27 22:56] compulim commented on #3360
IMO, if the bot developer set `speak` and `text` fields differently, the scenario will be same as if they "setting the `alt` attribute of `<img>` to something not representing the image itself", e.g. `<img alt="An image shows a dog barking." src="cat-meow.jpg" />`.

However, they should be able to set `speak` field to `""` (empty string). And we will treat it like `aria-hidden="true"` or `role="pr

[2021-05-27 23:35] compulim commented on #3918
Not needed.

[2021-05-27 23:35] #3918 closed

[2021-05-28 08:56] NereaCabiedasMoreno commented on #3869
How can I return a dialog turn status?? @stevkan @compulim

[2021-05-28 10:42] jayarau commented on #3906
Hi @dmvtech , any update on this, are you able to reproduce issue.

[2021-05-28 11:15] jayarau commented on #1427
Hi @compulim, We are referring above sample link to disable adaptive card. But we are getting disabled card for recent message. and hence not able to fill details.

Screenshot for reference:
![image](https://user-images.githubusercontent.com/73291456/119975419-7365fb00-bfd3-11eb-8584-f1be8c71b79c.png)

I have tried providing disabled={recentBotMessage} in element but after doing that card is not g

[2021-06-01 17:56] stevkan commented on #3908
@hrazmsft, thank you for your patience. I'm still unable to repro. However, I want to try one other variation in my implementation. I should have an update for you by EOD, today.

[2021-06-01 21:36] corinagum commented on #3360
Agree. It's more a matter of what the user expects, where `alt` is the 'semantic ideal' haha

Related to #3780, FYI. Web Chat is currently non-compliant.

Looks good. Not relevant quite yet, but how to deal with for RN?

[2021-06-01 22:10] compulim commented on #3360
I think it's not too difficult to find a DOMParser that works in RN. I have seen HTML parser in pure Node.js in the past.

Yes, #3780 need to be fixed differently away from this as we are not using `speak` field now.

[2021-06-01 22:52] stevkan commented on #3897
@aparnaji, I was able to get Cognitive Services Speech to work with the [06.recomposing-ui/a.minimizable-web-chat](https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/06.recomposing-ui/a.minimizable-web-chat) sample using the setup demonstrated below. Try it out and let me know if it works for you. Please note, for the Direct Line token, I am calling a "token server" that I run loc

[2021-06-01 22:53] #3897 closed

[2021-06-02 00:34] compulim opened #3923 "[TODO] Better text alternatives computation for Markdown messages"
## Feature Request

Fix the TODO inside [`packages/component/src/Utils/activityAltText.ts`](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/component/src/Utils/activityAltText.ts):

[code]

[feature-request]

[2021-06-02 08:04] #3905 closed

[2021-06-02 13:35] stanleyk opened #3924 "Compile error: Can't resolve 'botframework-directlinejs'"
## Version

botframework-webchat-api@4.13 installed via npm

## Describe the bug

When trying to compile on my TS React project with Webpack 5 (not a CRA), I get the following error:

[code]

## Expected behavior

The app should compile without errors.

[2021-06-02 17:03] corinagum commented on #3923
Providing link in MD:
https://www.w3.org/TR/accname-1.1/

adding this to backlog for now

[2021-06-02 18:17] corinagum commented on #3924
Duplicate of #3908. Please also see #3856

[2021-06-02 18:17] #3924 closed

[2021-06-02 18:19] corinagum commented on #3913
Duplicate of https://github.com/microsoft/BotFramework-WebChat/issues/3798 Please visit for more information.

[2021-06-02 18:19] #3913 closed

[2021-06-02 22:27] compulim commented on #3859
This is unlikely to fit into our next release (R14, around end of June). As we have workaround for customer (use `speak` property), we are not blocking them for now.

As we didn't setup the R15 board yet, will put it under R14 Candidates for now.

[2021-06-03 00:54] compulim opened #3925 "Add "More messages" button"
## Feature Request

In addition to our existing "New messages"  button, which show up when there are new unread messages. We should add a new "More messages" button, which will be show up whenever the scroll view is not at the bottom, regardless of number of unread messages.

[2021-06-03 01:31] stevkan commented on #3895
@ryub3n, please try wrapping styleOptions in `useMemo()` and passing that in as property into `createStyleSet()`. This is what appeared to work for me. Your code should look something like the below:

**MinimizableWebChat.js**
[code]

**WebChat.js** - `styleSet` is passed in to the WebChat function component
[code]

[2021-06-03 09:21] hrazmsft commented on #3908
@stevkan I don't know why you unable to repro... It super easy:

* Run `npx create-react-app my-app --template typescript` to create a new React project with Typescript template
* Add the WebChat component with `yarn add botframework-webchat`
* Start one implementation from your samples (I chose https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/01.getting-started/e.host-with-reac

[2021-06-03 09:45] ryub3n commented on #3895
@stevkan - This works but there's another problem. hideUploadButton isn't passed to StyleSet ([Ref](https://github.com/microsoft/BotFramework-WebChat/blob/3f3f9ba05af7a09ae68425da622f14418d4a13b6/packages/component/src/BasicSendBox.js#L49)) I guess because the upload button is showing up even though I've set it to true in StyleOptions.

[2021-06-03 17:49] stevkan commented on #3895
You are right. I missed that small detail. It's a bit of an oddity, but passing `styleOptions` into both `styleSet` as well as an individual Web Chat property appears to work.

**MinimizableWebChat.js**
[code]

**WebChat.js** - `styleSet` and `styleOptions` are read from the WebChat function component and passed into the ReactWebChat component.
[code]
[code]

[2021-06-03 18:01] stevkan commented on #3908
@hrazmsft, I will try with your steps, as well. Hopefully, I will be able to see what you are seeing and can then move to finding a proper fix.

[2021-06-03 18:02] compulim commented on #3915
`botAvatarInitials` and `userAvatarInitials` are required to enable avatars.

[code]

[2021-06-03 18:02] #3915 closed

[2021-06-03 18:04] hrazmsft commented on #3908
@stevkan thanks! But as I mentioned above, I have created a repo for you with a repro: https://github.com/hrazmsft/webchat-issue

[2021-06-03 18:23] stevkan commented on #3908
@hrazmsft, yes. I was using 'steps' generally. I'll respond here once I've run throw it.

[2021-06-03 19:17] ryub3n commented on #3895
I tried that but then the original issue i.e. the pressed button one still exists.

[2021-06-03 19:41] hrazmsft commented on #3752
@corinagum do you have any update?

[2021-06-03 19:41] compulim commented on #3906
Discussed offline, tl;dr the web page was not passing the chat adapter (DLSpeech in this case) when rendering Web Chat initially. Thus, Web Chat went into a stopped state and console-logging `connectionStatus$ is undefined`.

Technically:

- The page render Web Chat without the chat adapter in initial pass
- Web Chat stopped because lacking of chat adapter
   - Since they are using 4.7, it only sh

[2021-06-03 19:41] #3906 closed

[2021-06-03 20:08] corinagum commented on #3752
#2100 is complete, which doesn't fully cover the scope you are requesting. Right now the extra scope in this issue is not scheduled, unfortunately. #3856 is being addressed by compulim for the next milestone.

[2021-06-03 20:26] stevkan commented on #3895
If you are able to do so, could you zip your project up into a file and post it here (or you can email it to me, if that makes you more comfortable)? Just remove any secrets/keys listed anywhere.

[2021-06-03 20:36] hrazmsft commented on #3752
I see thank you!

[2021-06-03 20:37] compulim commented on #3874
I will investigate this, added to R14 To-do board. It's about the 3rd thing on my list now.

[2021-06-03 20:38] #3360 closed

[2021-06-03 20:38] #3615 closed

[2021-06-03 20:59] ryub3n commented on #3895
My bad, it's working now. I missed the empty dependencies array for the styleOptions useMemo 😅.

[2021-06-03 22:55] corinagum commented on #3895
Closing as resolved

[2021-06-03 22:55] #3895 closed

[2021-06-04 00:11] stevkan commented on #3908
@hrazmsft, I was able to repro the issue now. Turns out one of the culprits blocking me was yarn. Switching over to npm, I was able to encounter the errors you have reported. So, yes, I am now able to repro.

That being said, there is a comment further up that I missed that already identifies this as a known problem, issue #3856. Customers there report that downgrading to 4.11.0 alleviates the iss

[2021-06-04 00:11] #3908 closed

[2021-06-04 08:26] venkatx5 commented on #3807
Will this work when user navigate between cards via up/down key?

[2021-06-04 08:28] venkatx5 commented on #3798
@corinagum  This issue is not related to #3913
Please tag appropriately and provide some solution.

[2021-06-04 08:28] SSanjeevi commented on #3807
When we do so this won't trigger. This will trigger and happen only when new messages arrives

[2021-06-04 12:19] #3925 closed

[2021-06-07 14:16] vaish567 commented on #3898
Howdyy @compulim I would like to step-up on this issue. If you don't mind :)

[2021-06-07 19:16] stevengum commented on #3743
@silverbulletgt can you bump your version of Web Chat to 4.12.0 or greater? I've checked that version on the CDN and the problematic unsafe-eval code from botframework-streaming was not found there.

@compulim when inspecting [4.11.0](https://cdn.botframework.com/botframework-webchat/4.11.0/webchat.js) and [4.10.1](https://cdn.botframework.com/botframework-webchat/4.10.1/webchat.js) on the CDN, I

[2021-06-07 22:00] mmadziamcx commented on #3874
I think @MikeCardiff is correct. We are experiencing a similar issue using Proactive messages. Depending on the perspective, its either an issue with the Bot framework setting this property when it shouldn't, or the Web Chat client making a bad assumption on how to handle messages with the replyToId property.

According to the web chat client framework documentation https://github.com/microsoft/Bo

[2021-06-09 13:56] harish-madugula commented on #3349
@kuacci hey, did you find any workaround/answer to achieve the above react-native bot framework webchat?
thanks in advance.

[2021-06-09 14:32] compulim opened #3932 "Generate HOOKS.md from JSDoc of `/(api|component)/src/hooks/*`"
As we typed all our public interfaces in PR #3931. We should consider moving content of HOOKS.md into the TypeScript files, then extract contents back into `HOOKS.md`.

[feature-request]

[2021-06-09 19:42] ianpsant opened #3933 "[KEYBOARD]: Links in the chat log must be keyboard focusable"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

https://user-images.githubusercontent.com/934879/119392255-24e3f400-bc95-11eb-96ee-50da95041cde.mov

## Version

<meta name=\"botframework-directlinespeech:version\" content=\"4.12.0\">
<meta name=\"botframework-webchat

[2021-06-09 19:50] ianpsant opened #3934 "[COGNITION]: Links must be announced to screen readers as links. Currently being announced as "messages" or just text"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

![Screen Shot 2021-05-24 at 1 56 47 PM](https://user-images.githubusercontent.com/934879/119394602-fae00100-bc97-11eb-98c2-6b85738e645d.png)

## Version

<meta name=\"botframework-directlinespeech:version\" content=\"4.

[2021-06-09 19:57] ianpsant opened #3935 "[KEYBOARD]: Navigation through the chat log must be easy and intuitive"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

![Screen Shot 2021-05-24 at 1 56 47 PM](https://user-images.githubusercontent.com/934879/119394602-fae00100-bc97-11eb-98c2-6b85738e645d.png)

## Version

<meta name=\"botframework-directlinespeech:version\" content=\"4.

[2021-06-09 20:01] ianpsant opened #3936 "[SCREENREADER]: New messages must be announced consistently across assistive technology software"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

## Version

<meta name=\"botframework-directlinespeech:version\" content=\"4.12.0\">
<meta name=\"botframework-webchat:bundle:variant\" content=\"full-es5\">
<meta name=\"botframework-webchat:bundle:version\" content=\"

[2021-06-09 20:29] ianpsant opened #3937 "[SCREENREADER]: Content should not be repeated when users are navigating through the chat messages"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

![Screen Shot 2021-05-24 at 2 29 18 PM](https://user-images.githubusercontent.com/934879/119400671-1cdd8180-bca0-11eb-8751-edf4e058b2b4.png)

## Version

<meta name=\"botframework-directlinespeech:version\" content=\"4.

[2021-06-09 20:33] ianpsant opened #3938 "[COGNITION]: The chat messages should not have screen reader only information between the end of chat message and text input"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

![Screen Shot 2021-05-24 at 4 39 54 PM](https://user-images.githubusercontent.com/934879/119410673-d5aabd00-bcae-11eb-85c0-f82f0e2e9619.png)

## Version

<meta name=\"botframework-directlinespeech:version\" content=\"4.

[2021-06-09 20:37] ianpsant opened #3939 "[SEMANTIC HTML]: Consider simplifying the HTML for each list item for better clarity and ease of testing"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

![Screen Shot 2021-05-24 at 4 39 54 PM](https://user-images.githubusercontent.com/934879/119410673-d5aabd00-bcae-11eb-85c0-f82f0e2e9619.png)

## Version

<meta name=\"botframework-directlinespeech:version\" content=\"4.

[2021-06-10 05:47] kuacci commented on #3349
@harish-madugula , you may try [this](https://blog.expo.io/so-you-want-to-build-a-chat-app-with-react-native-expo-and-microsofts-bot-framework-4d2327f76ce3) and it works for me.

[2021-06-10 06:24] Swedhab3893 opened #3941 "Suggested Action navigation arrow is not working when Screen/display resolution is 125% in Windows 10 system"
**Version**

Latest es5 Version :  [link](https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js)

**Browser**

Chrome (Version 91.0.4472.77 (Official Build) (64-bit))

**Description about the Bug**

In Windows system, for the display resolution 125%, when we click on the slider it is not moving to the right after the 9th button. At the same time if the machine's display resolutio

[2021-06-10 14:33] samu9349 opened #3942 "Getting error when implement reactwebchat"
i have run

npm install botframework-webchat
npm install --save botframework-directlinejs

my package.json
{
  "name": "my-reactapp",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@testing-library/jest-dom": "^5.13.0",
    "@testing-library/react": "^11.2.7",
    "@testing-library/user-event": "^12.8.3",
    "@types/jest": "^26.0.23",
    "@types/node": "^12.20.15",
    "@types

[2021-06-10 23:55] compulim commented on #3942
We are fixing this.

Please this track this issue through #3856.

[2021-06-10 23:55] #3942 closed

[2021-06-11 00:04] compulim opened #3943 ""Pause auto-scroll" doesn't play well with AC with Action.Submit/PostBack buttons"
## Screenshots

![recording (19)](https://user-images.githubusercontent.com/1622400/121611656-96e66800-ca0d-11eb-938b-2489cdc1752e.gif)

## Version

`4.13.0`

## Describe the bug

With `styleOptions.autoScrollSnapOnActivity` set to `1`, after clicking on a submit button of Adaptive Cards, it sent a "post back" message. The transcript should scroll to the bottom.

Looking at the screenshot, after c

[2021-06-11 06:09] samu9349 commented on #3942
Thanks for consider this issue.. please update the fix and steps to try to make it works. it will be very helpful

[2021-06-11 20:54] compulim commented on #3943
This is because when we decide whether scroll should be stopped or not, we can't find the latest acknowledged activity (i.e. the `postBack` activity), because it is not rendered.

We need to modify how our internals work, to surface invisible activities. Then, we can find our "anchor point", and we can start calculating "X number of (visible) activities after the anchor points".

[2021-06-12 19:26] umangdhanukasre opened #3944 "Web chat session management"
I am unable to maintain the webchat session in Azure Bot Framework in bot incorporated in a WordPress site.

[2021-06-14 18:20] stevkan commented on #3944
Hi @umangdhanukasre, please refer to this Stack Overflow answer, [Botframework with WordPress](https://stackoverflow.com/a/55583791/3962636), on how to set up Web Chat with WordPress. As this is, technically, a "how to" question, if the above solution isn't sufficient, please post your issue as a new question on Stack Overflow.

-----------------

The Microsoft Bot Framework team prefers that **ho

[2021-06-14 18:20] #3944 closed

[2021-06-15 11:42] #3752 closed

[2021-06-15 11:42] #3856 closed

[2021-06-15 19:38] compulim opened #3947 "Adaptive Cards: After submitting, all [role="menubar"] must have 1 or more descendant of [role="menuitem"]"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/122112387-9ebf5700-cdd5-11eb-9dbf-590ba3806fb6.png)

## Version

`4.13.0`

(Customer reported on `4.12.0`)

## Describe the bug

Assume the Adaptive Cards has 1+ action buttons (a.k.a. `Action.Submit`).

After end-user clicked on the action button to submit the Adaptive Card, for accessibility reason, we need to set `aria-p

[2021-06-16 01:44] rbohac commented on #3874
In the botbuilder-dotnet source within ActivityEx.cs:535 it checks to see it sets the replyToId to the value contained in Activity.Id of the the turnContext. I'm not sure if there is a valid reason to ever do this on a proactive message.

However I was able to find a workaround. When sending the proactive message you can null Activity.Id and the framework will end up passing null in the replyToId

[2021-06-16 08:54] MikeCardiff commented on #3874
The workaround by @rbohac worked for me too.

I'd tried setting the `replyToId` to null but it would get assigned a new ID. Didn't think of setting the ID of the activity it was replying to. Good call!

[2021-06-16 17:51] cleemullins opened #3948 "NPM Tags for Webchat are incorrect"
Looking at WebChat in NPM, the tags are incorrectly used.

Consider using the same tags used by the JS SDK.

![image](https://user-images.githubusercontent.com/1165321/122267659-0508b000-ce90-11eb-877b-01728c3f7eee.png)

[2021-06-16 20:14] compulim commented on #3941
@Swedhab3893 thanks for reporting.

We are currently a week from our next release and this bug couldn't make into our schedule. We will look into this one in our next release. Development should start in early July.

[2021-06-16 20:42] compulim commented on #3948
Will follow tags used by JS SDK.

![image](https://user-images.githubusercontent.com/1622400/122290386-879d6980-cea8-11eb-97f5-6c87d2deed1f.png)

[2021-06-16 23:09] compulim opened #3949 "Adaptive Cards: Action set with role="menubar" must have 1 or more descendants with role="menuitem"."
## Version

`main` which is using `adaptivecards@2.9.0`.

Also repro on [Adaptive Cards Designer](https://adaptivecards.io/designer/) independently.

Not repro on `adaptivecards@2.5.0` which was used by `4.13.0`.

## Describe the bug

Our customer reported that all elements with `role="menubar"` must have 1 or more descendants of element with `role="menuitem"`.

According to WAI-ARIA:

- `menubar`

[2021-06-17 05:19] MukulSingh10 opened #3951 "Typing activity is preventing retryprompt activity from showing up"
I have a simple question answering bot based on V4 template, I have a prompt that asks for password, if the password is wrong it retries by asking again.

It works fine until I add the typing activity to give the user some feedback while waiting, in that case, the retry Prompt doesn't show the text anymore (But it's still working, if you type the right password it will go on as expected)

At this

[2021-06-17 06:37] venkatx5 commented on #3913
@corinagum This issue is not related to #3798
Please tag appropriately and provide some solution.

[2021-06-17 07:29] venkatx5 opened #3952 "Conversation retention : user messages are returned as Bot message"
On Conversation retention, user messages are returned as Bot messages on first refresh, so the UI is not differentiating bot message vs user message

## Screenshots
![image](https://user-images.githubusercontent.com/11777507/122347646-e544bb00-cf67-11eb-9f6b-de3799cc9958.png)
Highlighted are user messages entered before refresh. The last message is entered by user after refresh, user messages shou

[2021-06-17 17:39] fraygosa commented on #2211
update? I noticed the front-burner got removed. Would like to implement this on our bot.

[2021-06-17 18:58] compulim opened #3953 "Typing for Direct Line objects"
## Feature Request

As we start to add typings to all of our code, we specifically didn't type Direct Line objects because we didn't think out the plan to correctly type these objects:

1. Import typings from DirectLineJS
   - It's outdated
2. Import typings from `botframework-schema`
   - It depends on `botbuilder-stdlib`, which is not a small library
   - Some undocumented code is using `botbuil

[2021-06-17 19:13] v-kydela commented on #3951
Thank you for the report, @MukulSingh10

What you're describing is expected behavior. You can read about it here: https://github.com/microsoft/botbuilder-dotnet/issues/1589

The problem is caused by the `Responded` property of the turn context, which gets set when the typing activity is sent. You can work around the problem by sending the typing activity directly through the adapter or the connect

[2021-06-17 19:13] #3951 closed

[2021-06-17 19:59] matthijsgg opened #3954 "implementing custom cardActionMiddleware to ReactWebChat does not replace the default, but instead append to it."
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

## Version

- Web Chat version 4.13.0
- embedded through <iframe> (but problem also occurs when not in iframe)

## Describe the bug

My team wants Adaptive Cards with an Action.OpenUrl that navigate to a website in the

[2021-06-17 22:34] compulim commented on #3954
In your code, after you handled the action, you should not call `next(card)`. It is for "invoking the next middleware", which in your case, you want to prevent the next (default) middleware from performing.

[code]

[2021-06-17 22:34] #3954 closed

[2021-06-18 14:12] iMicknl opened #3955 "Development builds not published on NPM on @main tag"
## Version

n.a.

## Describe the bug

`npm install botframework-webchat@main` results in `npm ERR! notarget No matching version found for botframework-webchat@main.`.

It seems that main isn't published on NPM, where master still is but on a very old version. https://www.npmjs.com/package/botframework-webchat. The existence of `@main` tag is published in the README.

## Steps to reproduce

1. Run

[2021-06-18 14:18] iMicknl commented on #3955
Possible related to https://github.com/microsoft/BotFramework-WebChat/issues/3948, however in that case the READM.md should be changed to mention @next instead of @main.

[2021-06-19 01:03] corinagum commented on #3913
Please answer the questions I asked above, and after confirmation I will request to reopen.

[2021-06-19 18:24] umangdhanukasre opened #3956 "Different Web sessions generation and Management of Microsoft Bot in Wordpress"
Hi All,

I am unable to generate and manage unique Web sessions for multiple users in Microsoft Chatbot I have deployed in a WordPress Website. I have even tried Direct Line API v3.

[2021-06-20 13:49] nikhil1746 opened #3957 "Unable to use botframework-webchat@4.13.0 with React @16.13.*"
Is there any way to use botframework-webchat with **React 16.13** version? Currently, it supports react@16.8.6

![image](https://user-images.githubusercontent.com/5689063/122676460-daa25400-d1fb-11eb-9328-18055e0d9f14.png)

Please suggest if there is any workaround for React 16.13 version as I can't change the version.

[2021-06-21 17:51] stevkan commented on #3956
@umangdhanukasre, can you elaborate more on the issue? It's a bit unclear. Are you able to embed Web Chat in a Word Press site? Or, is the issue that you can embed Web Chat but it's displaying the same conversation for multiple users? Or, is it something else?

Which version of Web Chat are you using? And, can you include what you have already tried (code, if possible) and any errors that may have

[2021-06-21 18:00] stevkan commented on #3957
At the moment, the only option you have is to clone the repo, upgrade React manually, and build it locally. However, I don't know what repercussions / errors may surface from doing this. Be aware that while this is certainly an option, support won't be provided for custom builds.

I've marked this as a feature request, in the meantime. @compulim, can you comment on Web Chat's roadmap as it pertain

[2021-06-21 18:05] umangdhanukasre commented on #3956
Hi @stevkan,

We have already embedded the chatbot in WordPress site. We are unable to maintain the session for a single user as well.

The problem we are facing is that whenever we refresh our page or navigate to another page in same website, the ongoing chat goes off/away and the user has to restart back again everything from the very beginning,  He loses his ongoing conversation.

[2021-06-22 17:25] stevkan commented on #3952
Hi @venkatx5, I'm not able to repro the issue you are experiencing. Are you able to include the Web Chat code you are running so I can look it over and try repro'ing with?

[2021-06-22 17:56] stevengum commented on #3743
@silverbulletgt, I’m closing this issue for now as the CSP violation via the unsafe-eval error has been verified fixed in later versions of Web Chat (starting with 4.12.0).

Please bump the version of Web Chat being used in your front end to pick up this fix. If you still run into the same CSP violations with a version equal to or greater than 4.12.0, please file a new issue.

[2021-06-22 17:56] #3743 closed

[2021-06-22 22:29] stevkan commented on #3956
@umangdhanukasre, check out this response I posted on Stack Overflow. I don't know what method you used for embedding Web Chat in WordPress, but the method I demonstrate there has a 'JS Code' section where you can insert your necessary JavaScript code script(s).

In this case, you would replace

[code]

with

[code]

Be aware that you would need to replace `sessionStorage` with the WordPress equiv

[2021-06-23 03:07] compulim opened #3960 "4.13.1 Release checklist"
# Checklist

## Build

1. [x] ~Bump MockBot to Bot Framework SDK release 4.13.1~
   - https://www.npmjs.com/package/botbuilder/v/4.13.1
   - (We will not bump for patch release)
1. [x] ~Bump `botframework-directlinejs` to `0.14.1`~
   - No newer version
1. [x] Bump to `4.13.1`
   - [x] Update `CHANGELOG.md` to mark specific changes in `4.13.1`
   - [x] Run `npm version --no-git-tag-version 4.13.1`

[2021-06-23 07:10] compulim opened #3961 "Debump sanitize-html@1.27.5"
## Screenshots

Prettified content of `webchat-es5.js` in our daily build.

![image](https://user-images.githubusercontent.com/1622400/123052165-614f6080-d3b7-11eb-96ac-2c6a0784bca0.png)

## Version

`main` (> `4.13.0`)

## Describe the bug

The latest version of `sanitize-html@2.4.0` is not properly built for ES5 or ESM.

Debump to `sanitize-html@1.27.5` will work.

## Steps to reproduce

1. Load

[2021-06-23 09:55] jayarau opened #3962 "Bot hang on starting mode on clicking on microphone after some time interval"
"botframework-webchat": "4.12.0",

**Issue:** Bot hang on starting mode on clicking on microphone after some time interval with inactivity.
I also observed this same issue in [directline-speech sample](https://microsoft.github.io/BotFramework-WebChat/01.getting-started/d.es5-direct-line-speech/) provided.

**Expected Behaviour:** Bot should not hang on starting mode, it should listen activity and

[2021-06-23 13:09] venkatx5 commented on #3952
@stevkan The conversation is coming from Web App Bot and it's being rendered on Frontend with webchat.js.
For the first conversation, the entire messages coming as Bot Message when refresh (All user message coming as Bot message). But the further conversation messages are appearing fine. We are not clear the issue is on Webchat.js end or web app bot code.
Not sure what web chat code we have to pro

[2021-06-23 18:26] umangdhanukasre commented on #3956
``Hi @stevkan,

We have added below code in our WordPress Site in Appearance->Widgets->Custom HTML. If we remove the token given in our code chatbot container doesn't shows up.

`<head>
	<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
</head>
<style>
	div.ac-textBlock a
	{
		color:blue;
		display:inline  !important;
		white-space:nowrap  !important;
	}

[2021-06-24 01:09] stevkan commented on #3962
@jayarau, can you include the code you are using for running Web Chat? I will attempt a repro but would like to try with your code, as well.

[2021-06-25 07:17] jayarau commented on #3962
Hi @stevkan , Please find below code we are using for running webchat.

We are using webchat version 4.12.0. and browser is chrome.

`import * as React from "react";
import {ApplicationCustomizerContext} from '@microsoft/sp-application-base';
import ReactWebChat, {Components,  createDirectLineSpeechAdapters, createStore } from "botframework-webchat";
import { AadTokenProvider } from '@microsoft/sp

[2021-06-25 07:27] jayarau commented on #3962
Hi @stevkan , We are using webchat version 4.12.0. and Chrome browser.

Please find code below we are using for running webchat:

[code]

[2021-06-25 09:30] jayarau commented on #3962
Just to add, we are getting below error in console:
![image](https://user-images.githubusercontent.com/73291456/123403135-16effe80-d5c6-11eb-9b7e-ededef3f91e5.png)

[2021-06-25 09:39] MikeCardiff opened #3963 "Mailto links - External link icon inconsistent display"
## Screenshots

Message with a single mailto link:
![image](https://user-images.githubusercontent.com/63668650/123402948-307e4f80-d5a0-11eb-86c0-5631cd526679.png)

Message with hyperlink and mailto link:
![image](https://user-images.githubusercontent.com/63668650/123403019-3ffd9880-d5a0-11eb-9488-948857523372.png)

## Version
[code]

## Describe the bug

If a single mailto link is used in a messag

[2021-06-28 08:21] KevinHuyskens opened #3964 "box shadow around bubbles"
So we've recently upgraded from BotFramework V3 to V4 and we're using the react components. Now looking at the documentation they recommend to use StyleOptions in order to stay future proof. So we are trying to just use StyleOptions but we ran into a problem, we can't find a way to create a boxshadow around the bubbles.

This image shows what it used to look like on V3 with some custom css:
![imag

[2021-06-28 11:07] KevinHuyskens commented on #3964
Guess I'm just dumb, managed to fix it myself (sort of, or at least to get it the same as we used to have it).
![image](https://user-images.githubusercontent.com/17850642/123626797-83127280-d811-11eb-8115-5012c1cd56e6.png)

and here is how I did it:
![image](https://user-images.githubusercontent.com/17850642/123626956-b1904d80-d811-11eb-8538-18ca0c0315b7.png)

not entirely future proof and probabl

[2021-06-28 11:07] #3964 closed

[2021-06-29 12:58] venkatx5 commented on #3952
Any update on this?

[2021-06-29 17:14] #3943 closed

[2021-06-29 17:20] chrimc62 opened #3967 "Webchat does not display simple adaptive card"
Webchat does not display a simple adaptive card properly.  Here is aa picture showing the card not being rendered in webchat, but working in the emulator.  Below is the JSON message that is not displaying properly.

![image](https://user-images.githubusercontent.com/17637681/123840690-7ea69200-d8c3-11eb-98b7-7bf1ad803572.png)

[code]

## Version
Version:  2.0.0-nightly.254897.cdf76b6
Electron: 8.2

[2021-06-29 20:04] #3947 closed

[2021-06-29 23:28] compulim opened #3968 "Typing of usePerformCardAction() hook is wrong"
## Screenshots

## Version

`main` (RC of `4.14.0`)

## Describe the bug

The typing for `usePerformCardAction()` is wrong. It should be:

[code]

Instead of

[code]

## Steps to reproduce

Two ways to repro:

- Fully type out the `AdaptiveCardRenderer.tsx`
- Use the `usePerformCardAction` hook in any TypeScript projects

## Expected behavior

It should pass type checking.

## Additional context

[2021-06-30 15:43] MedvidekPu commented on #2792
Hey, I am currently facing the same issue as

const styleOptions = {
    // Suggested actions
    suggestedActionTextColor: 'black',
    suggestedActionBorder: `solid 2px #009682`,
    suggestedActionHeight: 40,
    suggestedActionLayout: 'stacked',
};

doesn't stack the cards on top of each other, is there a way to update my Webchat version or how can I manage to make it work please?

[2021-06-30 17:58] compulim commented on #3963
@MikeCardiff I can't repro on my side, could you assist?

I am sending the following Markdown text:

[code]

And I don't see the external link icon on either of them.

![image](https://user-images.githubusercontent.com/1622400/124008938-d7dcf700-d991-11eb-85ec-26e06b544180.png)

Could you hover to see if the "email@example.com" on your side, is "mailto:email@example.com"?

[2021-06-30 19:10] #3851 closed

[2021-06-30 19:38] #3961 closed

[2021-06-30 20:07] MikeCardiff commented on #3963
@compulim No problem. I've just done some more testing. It appears to behave differently when using markdown or entering a link without markdown and if using no line breaks, a single line `\n` or multiple lines `\n\n`. Results below, hope it helps.

# Both links have the icon

[code]
![image](https://user-images.githubusercontent.com/63668650/124020028-ae4bbc00-d9e1-11eb-88b2-1584fb6a87f4.png)

[c

[2021-07-01 13:02] Jesse-dw opened #3970 "Forced to use unsafe-inline CSP header"
## Feature Request

We would like to remove the 'unsafe-inline' CSP header for security reasons. However, when we remove the 'unsafe-inline' header, we get the following error in the client.

![image](https://user-images.githubusercontent.com/82146937/124127381-f0c1d700-da7b-11eb-908d-8994b9052b81.png)

sheet.browser.esm.js is used in the Emotion package, which is a dependency in botframework-webc

[2021-07-01 18:33] iMicknl opened #3971 "Allow rendering Bot Framework WebChat without DirectLine connection"
## Feature Request.

**Is your feature request related to a problem? Please describe.**

I am using the ReactWebChat component in a 'transcript viewer' scenario, where no interactivity is allowed. Unfortunately it is required to pass `directLine`, passing an empty object (`{}`) will work but throw an javascript error.

[code]

[code]

**Describe the suggestion or request in detail**

A way to use

[2021-07-03 04:59] leijae commented on #3158
this method doesn't work. yes the message is added to the chat window, but newest version of chrome disables the request. "Send failure" is the result.

[2021-07-06 05:07] jayarau commented on #3962
Hi @stevkan , can we have any update on this.

[2021-07-06 11:31] gavandivya commented on #350
Is this problem solved? I need urgent help. Facing the same problem

[2021-07-06 17:53] compulim commented on #3962
I have tested it and didn't repro on 4.13:

1. Navigate to the [Direct Line Speech sample](https://microsoft.github.io/BotFramework-WebChat/01.getting-started/d.es5-direct-line-speech/)
2. Click the microphone button
3. Stay silent for ~10 seconds
4. The bot should say "Unknown command: ''"
5. Click the microphone button again
6. Say "Hello, World!"

EXPECT: The bot recognize "hello world" and res

[2021-07-06 17:54] compulim commented on #3962
@stevkan the customer do mention it repro in our samples. You should have tried it out.

[2021-07-06 18:40] compulim opened #3975 "[Speech] Build our own PcmRecorder"
## Feature Request

In `packages/bundle/src/speech/createMicrophoneAudioConfigAndAudioContext.ts`, we are using `PcmRecorder` from Speech SDK:

- It is not using audio worklet via blob URL
- It is hardcoded to 16-bit mono 16 kHz, not dynamic according to the microphone input

[feature-request]

[2021-07-06 18:44] compulim opened #3976 "[Speech] Sample for building custom microphone input"
## Feature Request

We introduced `packages/bundle/src/speech/createAudioConfig.ts` in #3974. It can be used to implement microphone input for Speech SDK, outside of Web Audio API.

Web devs on React Native and Cordova (such as PowerApps), can use this interface (or the more complex `AudioConfig` interface from Speech SDK) to implement microphone, even their platform does not support Web Audio API

[2021-07-06 21:28] fraygosa commented on #2211
The issue is because a user cannot determine whether they are typing or not. Users will have a difficult time thinking they have to speak. If the mic button can change to send button when there is typing it will go a long way to remove user frustration. This feature works on v3. Can this not be treated as a bug?

[2021-07-06 22:55] Kaiqb commented on #1427
@jayarau - In the sample, line 115 we have `disabled={!recentBotMessage}` but in your example you don't have the (!) in front of recentMessage. Could you recheck?

[2021-07-07 14:05] MedvidekPu commented on #2792
solved by adding <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script> to the HEAD of the page

[2021-07-07 14:29] #2316 closed

[2021-07-07 14:29] #3823 closed

[2021-07-07 14:29] #3899 closed

[2021-07-07 16:47] stevkan commented on #3962
@jayarau, if I understand the issue correctly, Web Chat is hanging after you had already started a conversation, stepped away for a period of time, then returned to continue the conversation. Under these circumstances, I am able to repro the issue.

What I am finding is that, when a conversation is started but then there is at least 15 mins of no further conversation, Web Chat fails to make a succ

[2021-07-07 16:49] stevkan commented on #3962
@compulim, I'll see if I can get more details from Fiddler, but that won't be until later today, at the earliest.

[2021-07-07 17:10] compulim opened #3977 "`p-defer` is impacting ES5 build"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/124801039-3878b080-df0b-11eb-8bdf-9373de87ad24.png)

## Version

`main` (related to #3974)

## Describe the bug

In PR #3974, we imported `p-defer` instead of `p-defer-es5`, which is transpiled to ES5 on install-time.

`p-defer` exported via their `main` field is not ES5 compatible. And our build pipeline is set not to tran

[2021-07-07 17:14] stevkan commented on #3956
@umangdhanukasre, thank you for your patience. I'll try and have an update for you on this by EOD today, tomorrow at the latest.

[2021-07-07 17:48] #3977 closed

[2021-07-07 19:18] compulim opened #3979 "[Speech] Direct Line Speech should continue to work in environments without Web Audio"
## Screenshots

## Version

`main` (related to #3974)

## Describe the bug

In environments without Web Audio support, such as IE11, IE Mode, WebView, or insecure environments, Direct Line Speech protocol should continue to work.

## Steps to reproduce

1. Navigate to an insecure page with Web Chat talking to a bot via Direct Line Speech protocol

## Expected behavior

Web Chat should load and abl

[2021-07-08 02:20] #3979 closed

[2021-07-08 04:57] jayarau commented on #3962
Hi @stevkan, Yes We are facing exact same issue.

[2021-07-08 05:07] jayarau commented on #1427
Hi @Kaiqb, Yes we have tried with  disabled={!recentBotMessage} initially, but with that we are getting disabled card even for recent message and hence not able to fill card and submit it. As shown in screenshot above.

[2021-07-08 10:23] venkatx5 commented on #3952
@stevkan Due to this UI issue, we are holding the conversation retention feature on Production release. Any help would be appreciated greatly.

[2021-07-08 11:33] #3960 closed

[2021-07-08 12:09] compulim opened #3981 "4.14.0 Release checklist"
# Checklist

## Build

1. [x] Bump MockBot to Bot Framework SDK release 4.14.0
   - https://www.npmjs.com/package/botbuilder/v/4.14.0
1. [x] ~Bump `botframework-directlinejs` to `0.14.1`~
   - No newer version
1. [x] Bump to `4.14.0`
   - [x] Update `CHANGELOG.md` to mark specific changes in `4.14.0`
   - [x] Run `npm version --no-git-tag-version 4.14.0`
   - [x] Merged into `master`, the PR numbe

[2021-07-08 21:26] stevkan commented on #3962
Did some digging with Fiddler and am seeing the following:

- DL Speech (the host URL "westus2.convai.speech.microsoft.com", in my case) closes the web socket connection if the idle time is greater than 300000 ms (i.e., 5 mins).
![image](https://user-images.githubusercontent.com/18403946/124989213-c0d28080-dff3-11eb-807f-4b1274fb7504.png)

- The connection is reopened almost immediately following

[2021-07-08 21:59] stevkan commented on #3952
@venkatx5, apologies for the delay in response. Please try the sample code I have provided in the attached .zip file. Note that I connect to a locally hosted "token" server for generating a token. You will want to change this to match your setup. In the sample, I am simply applying an orange background color to the same classes you specified in your description.

Please give it a try and let me kn

[2021-07-09 02:05] stevkan commented on #3956
@umangdhanukasre,

_IMPORTANT:_ Please do not upload files that contain your keys, secrets, or other credentials. Doing so puts you/your organization at serious risk of being compromised. I have already edited your .txt file you attached but I need you to do two things:

- If you are able to, look at the edits you made to your last post and delete them as the file is still present in the comments

[2021-07-09 02:15] stevkan commented on #3956
As for the code you provided, when I test it by itself as a stand alone web page simultaneously in two separate browsers, it functions as expected. In other words, the separate conversations aren't getting mixed up. They are retaining their individual sessions.

Looking at the response I provided on June 22nd, I realize I never included the link to the Stack Overflow post I made on this subject. I

[2021-07-09 03:15] umangdhanukasre commented on #3956
@stevkan,

Thanks a lot for your help. We are now able to generate the token and maintain the chat session.

[2021-07-09 03:15] #3956 closed

[2021-07-09 07:51] martinoss commented on #2930
With [DirectLineJs 0.13.0][1], a property has been added that allows to specify the start locale like this:

  [1]: https://github.com/microsoft/BotFramework-DirectLineJS/pull/293

    ...
    createDirectLine({
      token: tokenResponse.token,
      domain: `https://europe.directline.botframework.com/v3/directline`,
      pollingInterval: 500,
      conversationStartProperties: {
        locale

[2021-07-09 18:28] Sharvani17 opened #3983 "Error while running npm install botframework-webchat for React/npm latest version"
I am trying to create a new React Application using "botframework-webchat" library but I am getting the below error while running the command npm install botframework-webchat. I have checked my current version of React and its 17.0.2 and npm is 7.19.1. Is botframework webchat incompatible with latest React or npm  version?

Below is the error for reference.

Run `npm audit` for details.
 C:\Users\

[2021-07-09 18:39] Sharvani17 commented on #3957
Any update on this? as I am getting similar error while installing botframework-webchat with latest npm or react version.

[2021-07-11 04:56] hcyang commented on #3941
Hi, @compulim, please create a backlog (work item) for R15 and maybe close this issue. Thanks.

[2021-07-12 17:00] arman-g opened #3985 "CDN Link Is Not Working"
## Screenshots

![IMG](https://user-images.githubusercontent.com/22778273/125327156-a6e8b480-e2f7-11eb-9fff-367e5f3c38a2.png)

## Version

WebChat v4.14.0

## Describe the bug

The latest version v4.14.0 of WebChat CDN link is not working and shows an error.

## Steps to reproduce

1. Go to 'https://cdn.botframework.com/botframework-webchat/4.14.0/webchat-es5.js'
2. Observe the error

## Expected

[2021-07-12 17:52] hcyang commented on #3985
Hi @compulim, please take a look and respond. Thanks.

[2021-07-12 19:26] compulim commented on #3985
We are in the progress of rolling out 4.14.0 to CDN. It should be available later today.

Thanks!

[2021-07-12 19:34] compulim commented on #3963
Thanks @MikeCardiff, I can finally repro on my side.

![image](https://user-images.githubusercontent.com/1622400/125345443-67c55e00-e30d-11eb-87bd-f7f430ee4edc.png)

We will schedule this issue while we are planning.

[2021-07-12 21:44] compulim commented on #3985
4.14.0 is on CDN now. :)

CDN bits are often lag behind the NPM by a business day because deployment to CDN has more time constraints than NPM.

Sorry about the inconveniences.

[2021-07-12 21:44] #3985 closed

[2021-07-13 00:32] arman-g commented on #3985
@compulim thank you!

[2021-07-13 11:40] zhaoxing-msft commented on #789
Hi, @compulim  do we now support uploading by user's storage, if yes, could you give me a ref link? thanks

[2021-07-13 12:22] vokecodes commented on #2427
+1

[2021-07-13 13:26] jayarau commented on #3962
Hi @stevkan, As per your suggestion, we are generating adapters every 9 minutes, and its solving issue. i.e. bot is not hanging on starting mode.
But I observed below point:
1.  After generating new adapters , though we are sending valid AAD Token in request, getting popup to sign in to service on sending any utterance.
We are debugging it to get exact cause.

[2021-07-13 16:43] stevkan commented on #3962
@jayarau, I'm glad the above solution fixed the initial problem. I will go ahead and close this issue as resolved.

For the new problem, as this is different from the above, if the problem persists please open a new issue to track it.

That being said, I'm not certain to this but I suspect that with the adapter being recreated the context is getting lost. Thus, the new adapter doesn't know that th

[2021-07-13 16:43] #3962 closed

[2021-07-13 23:10] arman-g opened #3987 "How to get rid of black border?"
I am not sure what has changed in resent webchat versions, but I am noticing black border around the chatbot box when it has focus (please see the images below).
My question is how to prevent this happening? I do not want this black border to appear, it does not go away on mobile and looks terrible.

On desktop:
![IMG](https://user-images.githubusercontent.com/22778273/125536344-3842e8ea-ffe8-4b31

[2021-07-14 04:47] jayarau commented on #1427
Hi @compulim / @Kaiqb , do we have any update on this?

[2021-07-14 11:09] AkashGovani commented on #3987
facing the same issue. on clicking the response area, a black border appears

[2021-07-14 17:59] stevkan commented on #3983
@Sharvani17, can you please check which version of React you have installed? Web Chat only supports up to version 16.8.6, presently. Additionally, Web Chat doesn't support different versions installed within the project. If you are using multiple version, you will want to pin to just one.

[2021-07-14 20:55] stevkan commented on #3987
The black border is an accessibility feature designed to benefit disabled or otherwise challenged users. If you want to disable it, it can be done so thru Web Chat's "styleOptions" via the `transcriptVisualKeyboardIndicatorColor` property (introduced in v4.12.0), as shown below. You can read more about the topic in the repo's [readme](https://github.com/microsoft/BotFramework-WebChat/blob/31d0b69c

[2021-07-14 20:55] #3987 closed

[2021-07-15 00:11] arman-g commented on #3987
@stevkan thank you! I think this will be better for me:
`const styleOptions = {
  transcriptVisualKeyboardIndicatorWidth: 0,
}
`

[2021-07-15 13:58] nephinj commented on #1158
@DMZ011 old ticket but if people are still having issues with SPFX and the new botframework 4.14 check your @microsoft/rush-stack-compiler version.  When you run a gulp build I believe this uses a different typescript version.  Upgrading to @microsoft/rush-stack-compiler-3.9 and editing tsconfig.json to point to the right version fixed it for me.

[2021-07-15 16:31] charliewang95 opened #3988 "[A11y] [OC] The focus moves to entire script and then the sent chat message"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

## Version

4.13.0

## Describe the bug

Reported by Omnichannel C+E a11y team:

Actual:
On tab or shift tab  navigation to the sent or received message  the focus moves to entire script and then the sent chat message
E

[2021-07-15 16:32] charliewang95 commented on #3988
Please triage this and see if this is by design and corresponding to standard

[2021-07-15 22:09] christopherjbaker commented on #3981
I would like to request that you update `sanitize-html` whether or not in works with IE11. I'm sure you can figure out a polyfil that makes those things work, but even without that. Versions prior to 2.0, as well as some of the 2+ ones, have [_major_ security issues](https://snyk.io/vuln/search?type=npm&q=sanitize-html), and holding those back for a browser that nobody uses (see image) seems like

[2021-07-15 22:17] compulim commented on #3981
Will see what I can do with `sanitize-html`. I am still working on bumping dependencies.

Security issues and platform support are two different things. We will do both.

In my experience, issues due to IE11 are much easier/shorter to resolve than one of the green bars in your chart.

[2021-07-15 22:40] christopherjbaker commented on #3981
Ok, thanks! I'll check back in later.

I did do some quick looking over there at what isn't IE11 compatible. They direct people to [this section](https://github.com/apostrophecms/sanitize-html#browser) of their readme. They changed the paradigm of their project, and no longer provide a browser-ready build, instead telling dependants to do the build themselves if needed. I imagine most projects usi

[2021-07-15 23:23] ericwei0909 opened #3989 "[OC] Adaptive Cards are not rendering on Conversation Control"
## Screenshots
On Conversation Control, it shows like this
![image](https://user-images.githubusercontent.com/9732538/125869516-f77d0147-09c7-47ce-a5d6-57384a50de60.png)
Error in Console:
![image](https://user-images.githubusercontent.com/9732538/125869573-70e1637f-471b-4cbd-b3b7-f2d1cb5d9788.png)
Adaptive Card data:
![image](https://user-images.githubusercontent.com/9732538/125869588-f20cab41-b2b

[2021-07-16 00:42] ericwei0909 commented on #3989
The code to generate adaptive card.

import { Components } from "botframework-webchat";
import React from "react";
import { isSmartAssistActivity } from "ConversationControl/API/WebChatSDK/ActivityUtils";
import { Constants } from "ConversationControl/API/Constants/Constants";

// eslint-disable-next-line max-len
// Implementation is based on https://github.com/microsoft/BotFramework-WebChat/blob/

[2021-07-16 01:47] tnguyen131199 opened #3990 "How to design a chatbot to give customised answers with LUIS and Azure Bot"
Hello everyone,
I am working on creating a new chatbot for different stakeholders in my company. Together, we defined that the most frequently asked questions for this chatbot should be order status, stock status, and shipment tracking questions. For example:

What is the current status of my order [Order ID]?
What is the stock of [Product ID]?
etc,...
With these above-mentioned questions, I want

[2021-07-16 02:50] compulim commented on #3981
Thanks for the tips!

Yap, polyfill + transpile `sanitize-html` should work for IE11. That's what we are doing from time to time too. And that's why I say fixing IE11 issues are, most of the time, easier than fixing another browser.

But sometimes, transpiling could be tricky. Let me share all my pain points and experiences to you.

Web Chat have 2 deliverables:

- Bundle (`*.js`), it's transpiled

[2021-07-16 03:52] ericwei0909 commented on #3989
I updated the webchat version to 4.14.0.

In console, it shows error - "Error: This hook can only be used on component that is decendants of <ComposerWithAdaptiveCards>"
![image](https://user-images.githubusercontent.com/9732538/125889185-9fa5eade-ccba-4dc8-80fd-63189b83ebd7.png)

[2021-07-16 05:03] AkashGovani commented on #1839
@corinagum & @compulim Any updates on this one?

[2021-07-16 06:52] Sharvani17 commented on #3983
I am using React 17.0.2 version currently and my npm version is 7.19.1. However, I when I have downgraded my npm version to 6.11.3, botframework-webchat is installing without any errors. So, does this depend on React Version or npm version?

[2021-07-16 08:23] compulim opened #3991 "All NPM packages (, , , , , etc) in PR #XXX"

[2021-07-16 08:25] #3991 closed

[2021-07-16 08:27] compulim commented on #3981
FYI, I tested transpiling `sanitize-html@2.4.0` and it works on IE11. 😉

[2021-07-16 08:59] SSanjeevi opened #3992 "What is the latest list of supported languages by webchat? Is Spanish Mexico and Spanish Spain supported?"
[Question]

What is the latest list of supported languages by webchat?

Is Spanish Mexico and Spanish Spain supported?

We have a requirement to develop bot in Spanish, based on availability of LUIS - they decided to use Spanish Mexico, but in the list given here it doesn't contain Spanish Mexico, that's why needed to confirm.

https://github.com/microsoft/BotFramework-WebChat/blob/31d0b69ccee6741

[2021-07-16 17:17] anusharavindrar commented on #3990
@tnguyen131199,  the Microsoft Bot Framework team prefers that how to questions be submitted on [Stack Overflow](https://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/microsoft/botframework-sdk) repos are the preferred platform for submitting bug fixes and feature requests.

[2021-07-16 17:18] hcyang opened #3993 "LOCALIZATION.md is obsolete and contains many 404 links"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

## Version

## Describe the bug

Most of the links in the MD file below are obsolete and 404.

https://github.com/microsoft/BotFramework-WebChat/blob/31d0b69ccee674174634d8da10ff7670ffdfc5e9/docs/LOCALIZATION.md

## Ste

[2021-07-16 17:18] stevkan commented on #3990
Closing, per request.

[2021-07-16 17:18] #3990 closed

[2021-07-16 17:19] hcyang commented on #3993
A related issue is #3992

[2021-07-16 19:31] botkid25 opened #3994 "Confusing keyboard navigation experience"
## Version

Version 4.12.1 via npm

## Describe the bug

To navigate through the messages within the transcript using the keyboard, the user needs to use tabbing, enter, and arrow keys. A bug was filed against us because you cannot get to the messages by tabbing alone, which was found to be confusing. This keyboard navigation experience appears to be working as expected: https://github.com/microso

[2021-07-16 20:27] compulim commented on #3988
Thanks @charliewang95.

It's a technical barrier as some browsers does not support `inert` attribute yet. Thus, we need to have the "End of transcript" terminator. And the end-user need to press <kbd>SHIFT</kbd> + <kbd>TAB</kbd> one more time to focus on the message. It's inevitable until all of our supported browsers have the `inert` attribute.

We consulted our accessibility team and they are ok

[2021-07-17 19:32] hcyang commented on #3994
Hi @cwhitten and @botkid25, how did the work-item 43767 (which, understandably, I don't have access to) show up in this externally raised github issue?

[2021-07-19 15:37] iMicknl opened #3995 "Component has multiple warnings with severity 'moderate' via npm audit"
## Version

4.14.0 (via NPM)

## Describe the bug

In the custom visual that I am developing, it is not allowed to have any `npm audit` warning of a severity 'moderate' or higher.
It seems that there are a few due to `node-fetch` and `sanitize-html`, however I am not able to resolve them via `npm audit fix` as well. I didn't check the security (CVE) details yet, however I would say that it should

[2021-07-19 16:02] venkatx5 commented on #3952
Thanks. Will give a try.

[2021-07-19 17:59] stevkan commented on #3952
Closing due to lack of activity. If the problem persists, please feel free to reopen the issue.

[2021-07-19 17:59] #3952 closed

[2021-07-19 21:22] ericwei0909 commented on #3989
I have tested with old version and it works fine.

"botframework-webchat": "4.9.2-master.8696a8e"

![image](https://user-images.githubusercontent.com/9732538/126229162-eab8325d-425b-464a-9270-c36c53fc84a0.png)

[2021-07-20 10:54] compulim commented on #3994
@botkid25 We consult with internal accessibility team to come up with this focus type.

In WAI-ARI guideline, there are two types of navigation focus. You can read more about them at the ["Managing Focus" section from this article](https://www.w3.org/TR/wai-aria/#managingfocus). In short:

- Single focus. User uses <kbd>TAB</kbd> key to access them
- Focus with active descendant. User uses <kbd>TA

[2021-07-20 10:57] compulim commented on #3989
Can you dump the Adaptive Cards as a JSON and attach it here?

[2021-07-20 17:19] stevkan commented on #3992
@SSanjeevi, thank you for your patience while I looked into this. Spanish Mexico (es-MX) is not one of the supported languages in Web Chat, unfortunately. In cases where a locale, region, country, etc., is not supported, Web Chat will fallback to the language only. For instance, 'es-MX' should fallback to 'es'.

To be clear, 'es-MX' will still be passed from client to bot as the locale. It is only

[2021-07-20 17:19] #3992 closed

[2021-07-20 17:29] ericwei0909 commented on #3989
The adaptive card JSON is attached below.

{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "version": "1.0",
  "type": "AdaptiveCard",
  "speak": "Your flight is confirmed for you and 3 other passengers from Seattle to Amsterdam on Friday, October 10 8:30 AM",
  "body": [
    {
      "type": "TextBlock",
      "text": "Passengers",
      "weight": "bolder",
      "isSubtle":

[2021-07-20 22:43] compulim commented on #3989
![image](https://user-images.githubusercontent.com/1622400/126404700-f53281c4-0929-4898-9b7b-c8fcb70c8932.png)

I tried your JSON with Web Chat 4.14.0 and it is working as expected.

Do you think it could be related to some customization code done on the OC side?

[2021-07-21 05:32] ericwei0909 commented on #3989
I find the issue in our code. Thanks!

[2021-07-21 05:32] #3989 closed

[2021-07-21 09:53] RicardoEnrico opened #3999 "After moving from Webchat v 3 to v4, the outerHTML is not rendered correctly"
Hello and Good Morning dear Community,

I have used webchat V3 with the Bot.app code for a longer time without any problem. Facing the issue that adaptive cards are not running in V3 I changed my code to webchat V4. Since that I have issues with the rendering of the outerHTML where an included div is just ignored.

Here is my code:
[code]
The problem is this :
[code]
which is included into another

[2021-07-21 11:40] harish-madugula commented on #2211
Hey there!
any workaround or update on this?
any help is appreciated.
Thanks in advance.

[2021-07-21 15:33] botkid25 commented on #3994
Thanks @compulim for that explanation and for the references!

I think the major reason this bug was written was because the tester was not using the screen reader, so without the auditory instructions to press enter to interact, the tester didn't know that was an option. But based on your references, am I correct in thinking that this composite widget approach is well-known enough that users who

[2021-07-21 22:07] stevkan commented on #3999
@RicardoEnrico,

The solution to your problem is to just use

`document.querySelector( #botDiv #botTitleBar)`

instead of

`document.getElementById( #botDiv ), document.getElementById( #botTitleBar )`

in the `renderWebChat()` component.

As `renderWebChat()` is looking for only one DOM element to be specified as the target, this allows a pathway to the element to be listed. Using `getElementById(

[2021-07-21 22:07] #3999 closed

[2021-07-22 08:50] stevkan commented on #3983
@Sharvani17, unfortunately, I am unable to repro the issue you are encountering. I just tested by building a React project using create-react-app and then running `npm install botframework-webchat`. I used React v17.0.2 with node v14.17.0 and npm v6.14.13. So, I don't believe this is tied to the node/npm version.

I also misspoke in my previous post. I meant to say Web Chat supports React versions

[2021-07-22 21:19] RicardoEnrico commented on #3999
Good Evening StevKan,
thank you very much for the detailed reply and that you really wrote down the whole code. This really helped me a lot.
I installed the code in my project and it works as expected.
Just a few small problem:
 The following line of code gives me an error because of the "@" sign Visual studio thinks babel is a variable.
`<script crossorigin="anonymous" src="https://unpkg.com/@bab

[2021-07-23 04:28] Sandy2725 commented on #3857
Hi @compulim ,

Any update on #3857. can you please respond.

[2021-07-24 21:34] RicardoEnrico commented on #3999
I solved the problem by my own. Took me some time but I think it is interesting for others in can you also change from webchat 3 to webchat 4. I have a icon on my web-side which I want to show when the site is opened. When I click on the icon the webchat window opens. When I click on the header of the webchat window, the window collapses and the icon is shown again. Here are the parts of my code n

[2021-07-26 14:37] venkatx5 commented on #3952
@stevkan  The issue now got resolved. But often we are getting websocket error (Screenshot below)..
This occurs when we keep the bot idle for 1-2 minutes then refresh. Can you please advice? Much appreciate the assistance.

![image](https://user-images.githubusercontent.com/11777507/127007287-42caebc5-50cd-4389-9daa-3c2a3f000979.png)

[2021-07-27 19:03] ericwei0909 opened #4001 "[OC] Send Adaptive Cards from WebChat"
When I send adaptive cards from Bot to WebChat, the adaptive cards are rendered correctly.

But when I try to send adaptive cards from WebChat to Bot, it shows some errors.

![image](https://user-images.githubusercontent.com/9732538/127212556-9ba64b6c-db6c-49a0-a5ac-d1b342df2b8a.png)

[code]

Does WebChat support to send adaptive cards from WebChat in code?

[2021-07-27 20:29] botkid25 commented on #3994
@compulim in a similar vein with this confusing keyboard navigation experience, it appears that tabbing forward and tabbing backward produces different results.

Repro steps:
1. Navigate to https://microsoft.github.io/BotFramework-WebChat/01.getting-started/a.full-bundle/
2. Send message to bot, e.g., card containerstyles
3. Tab forward through page until focus is on transcript - notice how no act

[2021-07-27 20:38] compulim commented on #3994
Thanks @botkid25. This is a great catch!

Let me slightly update your repro steps for clarity:

1. Navigate to https://microsoft.github.io/BotFramework-WebChat/01.getting-started/a.full-bundle/
1. Send message to bot, e.g., `card containerstyles`
1. While focus is on the send box (default), press <kbd>TAB</kbd> until the focus is looped through and land on the send box again
   - Notice that activ

[2021-07-27 20:59] stevkan commented on #3983
Closing due to inactivity.

[2021-07-27 20:59] #3983 closed

[2021-07-27 21:28] davidjrh commented on #2680
Is this now supported by using the SpeechActivityTemplate property? Sharing the link for the .net SDK.  https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.dialog.dialogserviceconnector.speechactivitytemplate?view=azure-dotnet

This was introduced on Feb 2020. https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/Speech-Service/releasenotes.

[2021-07-27 21:29] compulim commented on #4001
I modified one of our samples ([04.api/m.enable-composition-mode](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api/m.enable-composition-mode)). I chose this sample because it quickly enables Web Chat Hooks API for us to do some experiments.

I added a button that, on click, will send an Adaptive Card as a file attachment to the bot. In my case, my bot echo back the atta

[2021-07-28 04:42] ericwei0909 commented on #4001
I have tested on Conversation Control to send adaptive card as card.json. In this way, we send that adaptive card as json attachment, and I can modify the attachment middleware to render it on Conversation Control. I am wondering whether there is a way to keep the content type as “application/vnd.microsoft.card.adaptive”, and send the adaptive card JSON in content field?

If I use Blob, will it al

[2021-07-28 05:06] ericwei0909 commented on #4001
The data which is received in attachment middleware.

![image](https://user-images.githubusercontent.com/9732538/127266807-0616acfe-716b-488f-aa8f-e28cf7fe9d19.png)

[2021-07-28 15:31] GLDev21 opened #4002 "When reconnecting to conversation, chat is working but no history displayed. (Error during WebSocket handshake: net::ERR_CONNECTION_RESET)"
##Describe the bug

When reconnecting to conversation, some times chat is working but no conversation history is displayed.
This problem is occurring randomly, if I'm reloading my page multiple times the problem is guaranteed to occur within 10 seconds

The only error message I get when it's occurring is this console Error :

`{ WebSocket connection to 'wss://directline.botframework.com/v3/directl

[2021-07-28 21:29] ericwei0909 commented on #4001
I have tried to send adaptive cards as blob, but it shows error "Adapter: Failed to fetch attachment to send".

![image](https://user-images.githubusercontent.com/9732538/127396574-b1ab543b-1f0b-44f7-8a20-d7d940154fc5.png)

The error is from [createEgressFileAttachmentMiddleware](https://github.com/microsoft/botframework-webchat-chat-adapter/blob/f3bf9bb26aa29d0139b2eae5378c1b55550d913a/src/ic3/en

[2021-07-29 18:07] botkid25 commented on #3994
Another note about this: while using JAWS in Virtual PC mode (which is the default for navigating websites), if you try to press the UP/DOWN arrow keys within the transcript before there's an active descendent set, it will not land on any of the activities. Rather, it will just read out a line in the transcript, e.g., "Sent at July 29th at 2pm".

Once an active descendent is set, using the UP/DOWN

[2021-07-29 18:48] stevkan commented on #4002
@GLDev21, when you say you are embedding using an `<iframe>`, do you mean you are creating your own iframe element and sourcing a separate page within it that is hosting Web Chat? Or, do you mean you are using the generated iframe code from the WebChat channel in your Azure bot's channels blade?

Also, you state the problem occurs when you "reload the page multiple times". What is the frequency of

[2021-07-30 00:10] compulim opened #4003 "ESLint is not properly configured for TypeScript"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/127580788-3169cf32-5366-4057-8742-bbe7113b36e8.png)

## Version

`main`

## Describe the bug

Our `.eslintrc.yml` is not properly setup to lint `.ts` and `.tsx` files.

We should reconfigure our ESLint with a hierarchical approach and properly linting TypeScript files.

## Steps to reproduce

1. Edit `/.eslintrc.yml`
2. Und

[2021-07-30 10:54] KarlPurk opened #4004 "Responding to adaptive card input events"
Hi.  Is there an API that I can use to respond to adaptive card input events.  For example if a user toggles a checkbox in an adaptive card I'd like to respond to this event with some custom logic (send an API request).  I took a look at the card action middleware but it looks like the toggling of a checkbox is not captured.

[2021-07-30 13:55] Karthik270290 commented on #395
Hi , I want to implement the code mentioned by @EricDahlvang  for V4 framework. Can anyone help?

[2021-07-30 17:16] compulim commented on #4004
This is not supported as [Adaptive Cards](https://github.com/microsoft/adaptivecards) do not have APIs to control its surface.

You can file a feature request to their repo.

[2021-07-30 17:16] #4004 closed

[2021-07-30 17:18] compulim commented on #4001
It looks like this is related to the OC chat adapter. On the receiver side, the content type is `application/octet-stream` (i.e. binary), instead of `application/vnd.microsoft.card.adaptive`. Maybe some works need to be done on the chat adapter to enable transfer of AC between parties.

[2021-07-30 17:27] arman-g opened #4005 "Is it possible to change the webchat's language after it has been loaded?"
As title says, is it possible to change the webchat's language after it has been loaded? If yes then how? If not then I would suggest adding this feature which will be a good addon to multi lingual support. Thanks!

[2021-07-30 17:58] GLDev21 commented on #4002
I use my own Iframe injected via javascript

`
let iFrame = document.createElement("iframe");
iFrame.id = IFRAME_NAME;
iFrame.src = 'https://ChatbotSite.com';
iFrame.scrolling = "no";
iFrame.style = 'border: none; position: fixed; right: 0; bottom: 0; height: ' + IFRAME_STYLE.minimized.height + '; width: ' + IFRAME_STYLE.minimized.width + '; z-index: 1000;'

document.body.appendChild(iFrame);
`

h

[2021-07-30 19:43] stevkan commented on #4002
Unfortunately, I am unable to repro the issue you are experiencing whether that is directly adding the iframe element or injecting, per your code. However, I was unable to render the iframe without first wrapping it in a timeout. Without the timeout, the page couldn't locate the body as it hadn't been created yet when the injection script was firing. It's possible that you are intermittently runni

[2021-07-30 20:50] GLDev21 commented on #4002
Here is the key files stripped down from an angular testing app, so you will be able to rebuild it fast.
[sample.zip](https://github.com/microsoft/BotFramework-WebChat/files/6909944/sample.zip)

After making some conversation with the chatbot, if you use the minimize button inside the chatbot and the button in the notification page to bring back the chat, in loop the issue will occur within 10 sec

[2021-08-02 18:08] benbrown commented on #4005
@compulim is this currently possible?

[2021-08-03 14:22] EricDahlvang commented on #395
Hi @Karthik270290

A V4 example can be found here: https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/04.api/a.welcome-event

Since this issue is closed, please open a new issue or ask a question on Stack Overflow for further assistance.

[2021-08-03 17:25] compulim commented on #4005
Yes, it is possible.

In fact, since Web Chat is based on React, you can change almost all options you passed into Web Chat. The only exception is `directLine` object, i.e. you can't change the connection once Web Chat is started.

If you are using CDN to host Web Chat, just call `renderWebChat` again with the new options. Make sure you also pass in options that you didn't change.

For example, th

[2021-08-03 19:22] arman-g commented on #4005
@compulim thank you! I assume once chotbot is re-rendered the history is gone, am I right?

[2021-08-03 19:32] compulim commented on #4005
No, the history is not gone. Good to bring this one up.

`renderWebChat` is actually a wrapper for `ReactDOM.render`. [Its API is here](https://reactjs.org/docs/react-dom.html#render), excerpt:

It is not commonly known that the `ReactDOM.render` (wrapped by `renderWebChat`) function is actually (more-or-less) an upsert function.

Web Chat is trying our very best to make sure all options are *reac

[2021-08-03 19:37] arman-g commented on #4005
@compulim perfect! thank you.

[2021-08-03 19:37] #4005 closed

[2021-08-03 21:31] stevkan commented on #4002
@GLDev21, unfortunately, I cannot get the sample code you provided to run. I'm really not that familiar with Angular, but after running 'npm install' I attempted with 'npm start' and it returns `The serve command requires to be run in an Angular project, but a project definition could not be found.` Thoughts on what is missing or are there changes you can make to the code?

[2021-08-04 10:48] KarlPurk commented on #4004
@compulim the ability to react to toggle changes is already supported in Adaptive Cards but doesn't appear to be surfaced in WebChat.

If I render the card using the Adaptive Cards library directly I can use the `onInputValueChanged` method to capture this event.  Here's a working example of this:

[code]

Is it possible for me to hook into this event using WebChat?

[2021-08-04 12:46] GLDev21 commented on #4002
I made a new angular solution sample as a complete package

[Angular bug sample.zip](https://github.com/microsoft/BotFramework-WebChat/files/6931344/Angular.bug.sample.zip)

`
Open it with VisulaStudioCode
run npm install
onpen file "?localPath?\Angular bug sample\src\environments\environment.ts" and replace the "secret:" value with your webchat channel secret key
run ng serve
onpen a browser and

[2021-08-04 20:22] compulim commented on #3967
Closing due to inactivity.

[2021-08-04 20:22] #3967 closed

[2021-08-04 20:51] compulim commented on #1427
For everyone who is waiting for this, we will be in planning mode soon. We know this is what our customer want: using AC as an *one-off* input.

On the other hand, the root cause is in the AC library, https://github.com/microsoft/AdaptiveCards/issues/1512.

Will be great if everyone here could help sending feedbacks to the root cause to get it solved.

[2021-08-05 20:12] stevkan commented on #4002
I've tried your sample code and, unfortunately, I am unable to repro the issue exactly as you have stated it. I refreshed the window approx. 150-200 times doing so during various window/chat load states. While I do get the web socket warning you list if I refresh too quickly, I never had an instance where the chat window failed to display the current conversation's history.

Have you tried running

[2021-08-06 13:33] GLDev21 commented on #4002
The issue have been found on multiple machine, multiple website where this chatbot is injected, edge and chrome. I can also reproduce it when WebApi and WebChat are hosted locally or on the Server.

From an external perspective without knowing how the webchat interface code works. It looks like it could be a render problem, because most of the time, the bot still work when the problem occur. If i

[2021-08-11 08:53] #3715 closed

[2021-08-11 08:53] #3995 closed

[2021-08-11 12:34] KattaBhargav opened #4014 "[Keyboard Navigation - Bot Webchat - Home]: Keyboard focus indicator is not visible on 'upload file' and 'send' buttons."
User Experience:
If focus indicator is not visible on 'upload file' and 'Send' buttons, then users with motor disabilities who depend on keyboard for navigation will not be able to identify the focus on that control which can prevent them from performing actions which are important.

Repro steps:
1. Open URL: Web Chat: Full-featured bundle (microsoft.github.io)
2. Web chat bundle will open.
3. Nav

[2021-08-11 12:41] KattaBhargav commented on #4014
A11yMAS;A11ySev2;HCL;MAS2.4.7;Benchmark;Accessibility;Win10-Edge(Chromium);E2E-HCL-BotFrameworkWebChat-Aug21

[2021-08-11 13:10] v-duku opened #4015 "test"
test

[2021-08-11 13:50] v-duku opened #4016 "[Functional - Bot Framework Web Chat- Enable Emoji]: After typing keyword ':)', it is not converted to emoji."
### User Experience:
If After typing keyword ':)', it is not converted to emoji, then user will be disoriented and will not be able to use this functionality. The user will also be facing issues while accessing the emojis.

**Note**: Login Credentials must not be provided within the bug.

### Test Environment:
**OS Version:** 21H1
**OS Build:** 19043.1110
**Browser:** Microsoft Edge Version 94.0.9

[2021-08-11 13:52] v-duku commented on #4016
#Functional;#A11ySev1;#HCL;#NonBenchmark;#Win10-Edge(Chromium);#E2E-HCL-BotFrameworkWebChat-Aug21;

[2021-08-11 21:14] compulim commented on #4001
Discussed offline. OC team is investigating if it is related to the chat adapter or their infrastructure.

[2021-08-11 21:53] ericwei0909 commented on #4001
Thanks @compulim!

I have found the root cause. We need to send the adaptive card in text field. Then it works.

[2021-08-11 21:53] #4001 closed

[2021-08-11 22:37] compulim commented on #4016
@v-duku could you try this out independently with Adaptive Cards (via preview mode of [AC designer](https://adaptivecards.io/designer/))?

Our `help` command is sending multiple AC, and the root cause of the issue could be on AC side instead.

[2021-08-11 22:38] compulim commented on #4015
@v-duku could you try this out when using Adaptive Cards independently? You can use the [Adaptive Card designer](https://adaptivecards.io/designer/) in preview mode to check its accessibility.

FYI, our `help` command is actually sending multiple Adaptive Cards.

[2021-08-11 22:41] compulim commented on #4016
In your step 4, Web Chat converted `:)` to emoji.

But in your step 5, <kbd>CTRL</kbd>+<kbd>Z</kbd> actually undo-ed the emoji conversion.

Because of the undo keystroke, we are sending `:)` in plain text, but not Emoji.

[2021-08-11 22:44] compulim commented on #4014
I think we need to tweak the color or form of the focus indicator. We do have the focus indicator.

![image](https://user-images.githubusercontent.com/1622400/129113108-188811df-5f26-4d5e-894c-87c960955dad.png)

![image](https://user-images.githubusercontent.com/1622400/129113175-2273e876-ccdb-405b-9a2c-5151d04a29ae.png)

[2021-08-12 20:37] compulim opened #4017 "Move `react-scripts` to `devDependencies`"
## Feature Request

To reduce omissions on vulnerability reports, move `react-scripts` to `devDependencies`.

It is mostly okay except `npm run eject`. But since we only use `react-scripts` in samples, it should be good.

[feature-request]

[2021-08-12 20:44] compulim opened #4018 "[Transcript navigation] Activity is not active when the first time TAB-to-focus on transcript"
## Screenshots

## Version

`main`

## Describe the bug

When using up/down arrows key to navigate for the first time (no active descendant was set), the behavior is inconsistent.

## Steps to reproduce

1. Initially, it should focus on send box
2. Press <kbd>TAB</kbd> until it focuses on the transcript

## Expected behavior

When the transcript is focused, there must be at least one active descen

[2021-08-12 20:48] stevkan commented on #4002
@GLDev21, yes, I was using the F5 button to refresh repeatedly, in quick succession. I also tried the minimize and notification buttons.

As for the Azure configuration, do you have web sockets enabled for your bot? It is unlikely to be the webAPI as I would expect there to be more reports of this issue from the community if that were the case.

Regarding placing a timeout / delay between initiali

[2021-08-12 20:59] compulim opened #4019 "[Accessibility] Narrator did not narrate when end-user is sending a message"
## Screenshots

## Version

`main`

## Describe the bug

(Need investigate) When the end-user sent a message, Narrator did not narrate anything.

It should narrate "User said" (minimum), or better "Message is sent" (better).

## Steps to reproduce

1. Turn on Narrator
2. Type and send "Hello" to the bot

## Expected behavior

Narrator should say, minimally, "User said: Hello."

## Additional conte

[2021-08-12 21:04] compulim opened #4020 "[Accessibility] Scan mode disable ENTER key for "Press ENTER to interact""
## Screenshots

## Version

`main`

## Describe the bug

When navigating the transcript using screen reader, we will narrate:

"Bot said: Hello. One attachment. Sent at XXX. Press ENTER to interact."

But when screen reader is in scan mode, the <kbd>ENTER</kbd> is being captured by the screen reader.

## Steps to reproduce

1. Talk to a bot via https://compulim.github.io/webchat-loader/
2. Send `c

[2021-08-12 21:07] compulim opened #4021 "[Accessibility] Narration of "suggested actions container empty" is redundant"
## Screenshots

## Version

`main`

## Describe the bug

When using screen reader to navigate around the UIs, the end-user will hear "suggested actions container: empty".

If suggested actions are never used, they will be confused by this UI.

## Steps to reproduce

1. Open https://compulim.github.io/webchat-loader
2. Use screen reader navigation to go up (<kbd>CAPSLOCK</kbd> + arrows)

## Expecte

[2021-08-12 21:10] compulim opened #4022 "[Accessibility] Redundant of "bot said" for multiple messages from bot"
## Screenshots

## Version

`main`

## Describe the bug

Assume the bot sent multiple successive messages, when navigating using screen reader, it will narrate:

- Bot said: This is first sentence. Sent at XXX
- Bot said: This is second sentence. Sent at XXX
- Bot said: This is last sentence. Sent at XXX

Better, it should reduce redundancies by removing redundant "Bot said" and "Sent at". For exa

[2021-08-13 05:38] alivascu opened #4024 "[Accessibility] Voice over it's getting reiterated for some reason"
## Screenshots

## Version

## Describe the bug
As requested on the IcM, we have a customer that built a Mobile App using Capacitor React, with the main goal to do voice over text.

Well, it looks like for screen reading purposes, WebChat is injecting in DOM the activities twice (the visible text and the hidden one with Bot X said)

I did found in the WebChat script the ACTIVITY_BOT_SAID and ACTIV

[2021-08-13 06:30] mishraadi opened #4025 "[Screen Reader - Bot Framework Web Chat- Card Sports] Descriptive information about the 'image' link controls is not announced which appears after sending 'card sports' text"
User Experience:
If descriptive information about the 'image' link controls is not announced which appears after sending 'card sports' text, the screen reader dependent user will not get proper descriptive information about the link control. The user will face issue in navigating to the control and utilizing it's functionality.

Note: Login Credentials must not be provided within the bug.

Test En

[2021-08-13 06:31] mishraadi commented on #4025
#A11yMAS;#A11ySev2;#HCL;#MAS1.3.1;#NonBenchmark;#Accessibility;#Win10-Edge(Chromium);#E2E-HCL-BotFrameworkWebChat-Aug21;#AILimited;

[2021-08-13 17:59] compulim commented on #4024
I believe you are using VoiceOver screen reader on macOS/iOS devices.

It's by design to inject 2 DOM elements. One is for screen reader but hidden in sight. Another one is visible but not narrated by screen reader.

Do you have a repro on this one? Is the customer talking about live region (i.e. message that get narrated when it arrive), or when the end-user navigate the elements using screen rea

[2021-08-13 18:15] compulim commented on #4025
This is an Adaptive Cards issue.

Could you file it to them at https://github.com/microsoft/adaptivecards?

FYI, I have attached the content of the card here.

[BingSports.txt](https://github.com/microsoft/BotFramework-WebChat/files/6984444/BingSports.txt)

[2021-08-15 17:27] umangdhanukasre commented on #3944
Hi @stevkan ,

We are unable to enable the microphone while doing speech recognition integration in MS Azure Chatbot. Could you please elaborate and help?

[2021-08-15 17:30] umangdhanukasre opened #4026 "How to enable the microphone in MS Azure Chatbot?"
Hi All,

We are unable to enable the microphone while doing speech recognition integration in MS Azure chatbot. Could anyone help?

[2021-08-16 06:44] mishraadi opened #4027 "[Keyboard Navigation - Bot Framework Web Chat- Card Sports] Controls 'Final and SEA' aren't accessible by keyboard under Showing Sports section"
User Experience:
If controls 'Final and SEA' aren't accessible by keyboard under Showing Sports section, then the user will not be able to access and carry out the required actions using those controls.

Note: Login Credentials must not be provided within the bug.

Test Environment:
OS Version: 21H1
OS Build: 19043.1110
Browser: Microsoft Edge Version 94.0.972.2 (Official build) dev (64-bit)
Scree

[2021-08-16 06:45] mishraadi commented on #4027
#A11yMAS;#A11ySev1;#HCL;#MAS2.1.1;#Benchmark;#Accessibility;#Win10-Edge(Chromium);#E2E-HCL-BotFrameworkWebChat-Aug21;

[2021-08-16 08:02] KattaBhargav opened #4028 "[Visual Requirement - Bot Webchat - Home]: Luminosity ratio of Keyboard visual focus indicator for 'upload file' and 'send' buttons is less than 3:1."
User Experience:
If the luminosity ratio of keyboard visual focus indicator is less than 3:1 for controls, then it can confuse the user having visual impairment to identify the control in low vision.

Repro Steps:
1. Open URL: https://microsoft.github.io/BotFramework-WebChat/05.custom-components/l.disable-adaptive-cards/
2. Page with Bot opens, Follow the dialog on this bot, and test the Adaptive

[2021-08-16 08:02] KattaBhargav commented on #4028
#A11yMAS;#A11ySev2;#HCL;#MAS1.4.11;#Benchmark;#Accessibility;#Win10-Edge(Chromium);#E2E-HCL-BotFrameworkWebChat-Aug21;

[2021-08-16 08:38] KarlPurk commented on #4004
@compulim @stevkan I think this was closed prematurely.  Can someone please review the message above?

[2021-08-16 08:42] KattaBhargav opened #4029 "[Keyboard Navigation - Bot Webchat - Suggested actions ]: Keyboard focus indicator is not clearly visible on card control."
User Experience:
If focus indicator is not clearly visible on card controls, then users with motor disabilities who depend on keyboard for navigation will not be able to identify the focus on that control which can prevent them from performing actions which are important.

Repro Steps:
1. Open URL: Web Chat: Full-featured bundle (microsoft.github.io)
2. Web chat bundle will open.
3. Navigate on th

[2021-08-16 08:42] KattaBhargav commented on #4029
#A11yMAS;#A11ySev2;#HCL;#MAS2.4.7;#Benchmark;#Accessibility;#Win10-Edge(Chromium);#E2E-HCL-BotFrameworkWebChat-Aug21;

[2021-08-16 08:56] KattaBhargav opened #4030 "[Keyboard Navigation - Bot Webchat - Carousel response ]: After sending the message the focus should be land on the first interactive element."
User Experience:
If focus order is not correct and does not moves to first interactive element after sending the message then it might confuse the user about the functionality of the control.

Repro Steps:
1. Open URL: Web Chat: Full-featured bundle (microsoft.github.io)
2. Web chat bundle will open.
3. Navigate on the web chat bot and enter "carousel" keyword in Type your message box, then select

[2021-08-16 08:57] KattaBhargav commented on #4030
#A11yMAS;#A11ySev1;#HCL;#MAS2.4.3;#Benchmark;#Accessibility;#Win10-Edge(Chromium);#E2E-HCL-BotFrameworkWebChat-Aug21;

[2021-08-16 09:08] KattaBhargav opened #4031 "[Usable - Bot Webchat - Add Typing indicator GIF]: While typing any message there is typing indicator symbol appears which can confuse the end users"
User Experience:
If user is typing any message there is typing indicator is visible on the screen then the user can get confuse.

Repro Steps:
1. Open URL: https://microsoft.github.io/BotFramework-WebChat/05.custom-components/b.send-typing-indicator/
2. Web chat bundle will open.
3. Navigate on the web chat bot and Type "sendTypingIndicator" in the send box
4. Typing indicator GIF appears on chat

[2021-08-16 09:09] KattaBhargav commented on #4031
#A11yUsable;#A11ySev4;#HCL;#Accessibility;#Win10-Edge(Chromium);#E2E-HCL-BotFrameworkWebChat-Aug21;

[2021-08-16 10:06] stevkan commented on #4026
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotFramework-SDK/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

[2021-08-16 10:06] #4026 closed

[2021-08-16 10:30] KattaBhargav opened #4032 "[Usable - Bot Webchat - Suggested actions ]: Next and previous buttons are getting overlapped with cards button."
User Experience:
If contents present on the page will not be visible properly and buttons will get overlapped then users with visual disabilities who depend on this feature will not be able to see the content and will not be able to perform action easily.

Repro Steps:
1. Open URL: Web Chat: Full-featured bundle (microsoft.github.io)
2. Web chat bundle will open.
3. Navigate on the web chat bot an

[2021-08-16 10:31] KattaBhargav commented on #4032
#A11yUsable;#A11ySev2;#HCL;#Accessibility;#Benchmark;#Win10-Edge(Chromium);#E2E-HCL-BotFrameworkWebChat-Aug21;

[2021-08-16 18:03] compulim commented on #3988
Closing as by-design.

[2021-08-16 18:03] #3988 closed

[2021-08-17 02:26] Bradrajkumar opened #4033 "Support and features in angular webchat"
Hi Team,

I have gone through multiple blogs and found out that angular webchat is having a very less support and features included. As **webchat version 4** is purely based on react (as per my knowledge) which is not having much compatibility with **angular**. I want to know the list of the features which is available in angular webchat and also if there any plans for including features which are

[2021-08-17 07:00] yogimogi opened #4034 "Does botframework-webchat 4.14.0 work with react 17.0.2?"
Created a new react project with create-react-app, package.json has following versions of react and react-dom

"react": "^17.0.2",
"react-dom": "^17.0.2",

Running **npm install botframework-webchat** results in following

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: webchat@0.1.0
npm ERR! Found: react@17.0.2
npm ERR! node_modules/re

[2021-08-17 07:31] nikhil1746 commented on #4024
Yes, VoiceOver screen reader is being used in the case of macOS/iOS devices and TalkBack for Android.

Observation is voiceover reading hidden as well as visible elements on DOM so It's kind of repetitive information getting narrated to the user.

This is happening when the end-user navigates the elements using a screen reader (i.e. using gestures to see what's on the screen).

The issue does not

[2021-08-18 05:21] jayarau commented on #1427
Update on this:
I am able to disable adaptive cards once action taken.
Solution:
function check(act){return (act.type === 'message'&&act.hasOwnProperty('attachments'))};
var { activities } = this.store.getState();
var messageActivities=activities.filter(check)
var recentBotMessage = messageActivities.pop() === activity;

return (
                <Components.AdaptiveCardContent actionPerformedClass

[2021-08-18 06:28] alivascu commented on #4024
@compulim What we should do in this case.
Fix the script to work with older iOS versions or tweak the webchat script in such way to inject only 1 DOM element?

[2021-08-19 17:55] stevkan commented on #4033
@Bradrajkumar, can you elaborate on what features you feel are missing when using Web Chat in an Angular project?

[2021-08-19 18:13] stevkan commented on #4002
Closing due to inactivity. If the issue persists or you have new details to offer, please feel free to re-open.

[2021-08-19 18:13] #4002 closed

[2021-08-22 16:36] vivinmeth commented on #4034
Our WebChat implementation also suffered from this. I created react app using CRA and added botframework-webchat to it. faced the same issue so I ejected the react app and modified the react, react-dom dependencies to 16.8.6, and installed the webchat package. It would be very helpful if the react dependencies are updated to the latest version if possible.

[2021-08-23 04:46] yogimogi opened #4037 "BotFramework-WebChat only for showing chat history"
Use case is this: We keep all conversations in a data store and then want to use webchat for showing historical chat data in reports. We were able to get this to work by feeding webchat a list of Activity objects.

Just that, it still needs a valid **domain** URL pointing to Azure Channel's Registration Service. If you don't provide a valid value, it shows "connection error" message. Is there a wa

[2021-08-23 06:15] alivascu commented on #4024
@compulim any ideas? Thanks!

[2021-08-23 10:54] iMicknl commented on #4037
Possible duplicate of https://github.com/microsoft/BotFramework-WebChat/issues/3971. I had a similar request for use with https://github.com/iMicknl/powerbi-botframework-chat-transcripts.

[2021-08-23 10:57] #4037 closed

[2021-08-23 10:57] yogimogi commented on #4037
duplicate of #3971. Closed.

[2021-08-23 13:53] tracyboehrer commented on #4034
@compulim Any input on this?

[2021-08-23 20:42] compulim commented on #4024
I recommend the customer to upgrade their iOS to latest version as it is likely a bug in VoiceOver that has been fixed recently as mentioned by nikhil1746.

It is by design to inject 2 DOM elements as it would fix an important accessibility issue. You can read more about it here, https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/ACCESSIBILITY.md#ux-live-region-transcript.

[2021-08-23 20:55] compulim commented on #4031
The sample is demonstrating the bot's typing by mirroring user's typing. In other words, when the user types, the bot will send a typing indicator at the same time.

This is not a production issue, but we should update the sample to make it less confusing. Probably a separate button on the page to ask the bot to send a typing indicator (instead of mirroring).

[2021-08-23 21:04] compulim commented on #4030
We tried to implement this a few months ago but it's technically impossible. We detailed in this bug, https://github.com/microsoft/BotFramework-WebChat/issues/3135.

When the message arrives asynchronously (i.e. could be a few seconds later). Changing the focus asynchronously would interrupt what the screen reader is currently narrating.

Not to mention the focus order will be inconsistent when th

[2021-08-23 21:19] compulim commented on #4027
The "Final" and "SEA" is not interactive.

There are only 3 interactable elements in the card:

1. The container including both CAR and SEA
   - ![image](https://user-images.githubusercontent.com/1622400/130520741-b1a346b8-499e-478b-97ff-17915a22ca0a.png)
   - Will open http://msn.com
2. The left column with the CAR and its logo
   - ![image](https://user-images.githubusercontent.com/1622400/13052

[2021-08-23 21:22] compulim commented on #4025
I have attached the DOM node for your reference.

![image](https://user-images.githubusercontent.com/1622400/130521049-4eeeb0d0-2ad6-40ff-8612-d45e41b3224c.png)

On the DOM node, I am seeing both `alt` and `role` set. And it seems to fulfill the requirement ("proper role and image description").

As we do not own the Adaptive Cards control, if this is an issue, please file it to Adaptive Cards tea

[2021-08-23 21:27] compulim commented on #4016
Recording showing `:)` will convert to 😊. And <kbd>CTRL</kbd> + <kbd>Z</kbd> will undo it.

![recording (24)](https://user-images.githubusercontent.com/1622400/130521700-7e4b3895-a2c1-4eb2-935d-c47e8104ceed.gif)

[2021-08-23 21:31] compulim commented on #4015
@v-duku are you saying the "XML message" text in the screenshot below should be defined as `<h1>` (or `<h2>`...)?

![image](https://user-images.githubusercontent.com/1622400/130522017-390af2f8-682c-4b91-ba1b-18f76d23721e.png)

In Adaptive Cards, there is no way for us to define whether a `TextBlock` is a header or not. You can see the schema here, https://adaptivecards.io/explorer/TextBlock.html.

[2021-08-23 21:33] compulim commented on #4028
Agree this need to be fixed.

Seems dupe of #4014. If yes, please close one of them, otherwise, can you describe differences between these two bugs?

[2021-08-23 23:23] compulim commented on #4015
Adaptive Cards schema 1.5 will support `style: 'heading'` in `TextBlock` element, which will resolve this issue.

https://github.com/microsoft/AdaptiveCards/pull/5698

[2021-08-25 13:40] sreejithrkknd opened #4038 "How to retry web socket connection after the time out"
After sitting idle for few minutes the WebSocket connection is timed out but I want to retry the WebSocket connection if a user try to give input to the bot within the same conversation id or new conversation id currently I am getting the following error.

WebSocket connection to 'wss://westus.convai.speech.microsoft.com/api/v3?X-******** failed:
open @ webchat.js:2
open @ webchat.js:2
(anonymous)

[2021-08-25 18:44] arman-g opened #4039 "Locale is not passed to the bot"
## Screenshots
#### WebChat
![IMG2](https://user-images.githubusercontent.com/22778273/130847165-83d8446a-c40e-4652-be2d-f0555cef5a45.png)

#### Bot
![IMG3](https://user-images.githubusercontent.com/22778273/130846277-91e0e0b8-1efc-478c-8ec9-d7ce19d588ca.png)

## Version

WebChat CDN v4.14.0
Microsoft.Bot.Builder v4.14.1

## Describe the bug

The locale is null when webchat (client) sends request

[2021-08-25 19:39] #4039 closed, assigned to nobody

[2021-08-26 00:26] charliewang95 opened #4040 "[OC] Downsize the webchat script hosted on CDN"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/main/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Feature Request

### Use the ['feature-request' query](https://github.com/microsoft/BotFramework-WebChat/labels/feature-request) to search for existing feature requests.

### The [Samples tag](https://github.com/microsoft/botframewo

[2021-08-27 12:26] sreejithrkknd opened #4042 "Throwing error from webchat js when clicking multiple times on microphone input (Direct line speech channel)"
When no input is given to the mic I am sending a message to the user to input something but when that message comes to the direct line speech does not stop dictating the event and its starts the speaking event then the bot is crashing.

The following are the errors I am getting

webchat.js:2 Error: Failed to stop recognition while the current one is ongoing and is not abortable.
    at webchat.js:

[2021-08-30 22:35] #3968 closed

[2021-08-31 13:20] sreejithrkknd commented on #4042
If I didn't give any response to the bot via mic I was sending a message to the user to input something this was causing the issue. so

[2021-08-31 13:20] #4042 closed

[2021-08-31 19:16] compulim commented on #4034
In the next release, we will bump to support React >= 16.8.6, including 17.x.

The bump is in `main` branch (development preview) right now, https://github.com/microsoft/BotFramework-WebChat/pull/3996.

[2021-09-01 07:58] alopix commented on #3955
The README instructions not working basically blocks using with React 17 as mentioned in issue #4034 :(

[2021-09-02 00:40] compulim commented on #4028
After discuss with our design team, we will update the style of the upload/send button to more aligned with [Fluent UI Icon Button](https://developer.microsoft.com/en-us/fluentui#/controls/web/button), particularly:

- When focus via keyboard (`:focus-visible`), will add a 1px dark border
- On mouse hover, will have a light-dim background
- When clicked (both keyboard or mouse), will have a dim ba

[2021-09-02 00:43] compulim commented on #4029
We will update our style to align with [Fluent UI Default Button](https://developer.microsoft.com/en-us/fluentui#/controls/web/button). Particularly:

- Single pixel border (currently, it is double pixel border)
- Very slight roundness (possibly, 1px roundness)
- Double border when `:focus-visible` (focus by keyboard)
- Light-dim on mouse hover
- Dim on click via keyboard or mouse

[2021-09-02 00:45] compulim commented on #4032
Today, we have allocated spaces for the next/prev flipper buttons for the suggested actions carousel.

![image](https://user-images.githubusercontent.com/1622400/131763712-a5bac8f7-a87e-4480-ab25-ed85393dd287.png)

![image](https://user-images.githubusercontent.com/1622400/131763765-07078ae1-d9d9-425a-b1cc-a24b6d7abb81.png)

Need to clarify with the accessibility team if they are talking about the