[2020-03-07 08:32] compulim commented on #2862
Fixed in MockBot.

[2020-03-07 08:32] #2862 closed

[2020-03-08 23:26] #2806 closed

[2020-03-08 23:31] tdurnford commented on #2928
We're planning to address this issue in R9

[2020-03-09 18:09] chrimc62 commented on #2675
Any comments @cwhitten ?

[2020-03-09 18:12] chrimc62 commented on #2914
@compulim  Is there a response on this?

[2020-03-09 18:40] #2897 closed

[2020-03-09 21:04] #2961 closed

[2020-03-09 21:37] cwhitten commented on #2884
This is targeted in to land in an upcoming release.

[2020-03-09 21:37] cwhitten commented on #2892
This is targeted to land in an upcoming release.

[2020-03-09 21:48] compulim opened #2994 "4.9.0 Release checklist"
# Checklist

## Build

1. [x] ~Bump [DirectLineJS](https://github.com/microsoft/BotFramework-DirectLineJS.git) to latest version~
   - Currently one of the dependencies which latest version of DLJS use, does not work in browser
   - https://github.com/microsoft/botbuilder-js/pull/2223
1. [x] Bump to Bot Framework SDK release 4.9.0
   - ~https://botbuilder.myget.org/feed/botbuilder-v4-js-daily/pack

[2020-03-09 21:49] compulim opened #2995 "4.9.0 Post-release checklist"
These are chores that we should do before starting the cycle to reduce ripple effects if we do it in mid-cycle.

Tips:

- Clean your repo before start
- Remove node_modules from all folder
   - `git clean -fdx`
- Never delete `package-lock.json	`
- If you mess it up, tableflip and redo
- In `component/package.json`
   - Remove reference to `botframework-webchat-core` by hand-modifying `package.jso

[2020-03-10 14:27] Valentyn-Chornovol opened #2996 "[Accessibility][Keyboard] - Message navigation is not available."
[edit from @corinagum 11/10/2020]

Note that this also applies to carousels and suggested actions

/end edit

---

![image](https://user-images.githubusercontent.com/62014745/76307299-3f6cc000-62d1-11ea-949a-3a5d4504f332.png)

**Version:** latest

**Actual result:**
Message navigation is not available.

**Expected result:**
The chat messages should be accessible by up and down arrow and on pressin

[2020-03-10 14:56] Valentyn-Chornovol opened #2997 "[Accessibility][Screen Reader] [NVDA] - Screen reader reads all the dialog from the beginning on any state update"
![sreenreader](https://user-images.githubusercontent.com/62014745/76325300-d34d8480-62ef-11ea-947a-b689481d30c6.gif)

**Actual result:**
The screen reader reads all the dialog from the beginning on any state update.

**Expected result:**
The screen reader will read the latest message.

**Repro Steps:**
1. Turn on NVDA.
2. Open https://microsoft.github.io/BotFramework-WebChat/01.getting-started/a.f

[2020-03-10 15:02] xakpc opened #2998 "dateFormatter(...) is not a function if message Timestamp older than 2 days"
## Version

I using CDN JavaScript version of webchat (see Additional context for code)
`<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
`

versions
[code]

## Describe the bug
I use `client.Conversations.SendConversationHistoryAsync(activity.Conversation.Id, transcript, ct)` to restore 6 last messages in Conversation after `(activity.Name == "webchat/jo

[2020-03-10 15:15] Valentyn-Chornovol opened #2999 "[Accessibility][Screen Reader] [NVDA] - Screen reader ignores "File", "New Messages" and "Send" buttons on hover"
![sreenreader](https://user-images.githubusercontent.com/62014745/76327464-b5cdea00-62f2-11ea-84b1-b8f6467e2b21.gif)

**Actual result:**
The screen reader ignores "File", "New Messages" and "Send" buttons on hover.

**Expected result:**
The screen reader will read "File", "New Messages" and "Send" buttons on hover.

**Repro Steps:**
1. Turn on NVDA.
2. Open https://microsoft.github.io/BotFramework

[2020-03-10 15:36] KarlPurk commented on #2974
@compulim yes we can use a node polyfill to fix the node related build errors.  The `rxjs` errors are more confusing.

I spent a little time looking into the `rxjs` errors and I think the issue is due to module resolution.  It looks like `botframework-directlinejs` is requiring `rxjs`, for example in `botframework-directlinejs/lib/directLine.js` on line 22:

[code]
This should be resolved with `bo

[2020-03-10 16:04] CoHealer commented on #2998
@stevkan, please attempt to repro.

[2020-03-10 16:06] omega1119 commented on #2996
This is also an issue or new feature I'm in need of.

[2020-03-10 16:29] omega1119 opened #3000 "[Accessibility][Screen Reader][JAWS] - Not working correctly with the webchat"
## Version

OS : WIN 10
Browser : Chrome
Tools: JAWS
Webchat Version : "4.8.0"

## Describe the bug

The issue we are having is that the AT users in our organisation all use JAWS and unfortunately it doesn't look like it is currently supported

https://github.com/microsoft/BotFramework-WebChat/issues/2237#issuecomment-570383572

additionally it's not possible for our users to use the other suggest

[2020-03-10 16:41] deepanigi commented on #2670
@tdurnford  Thanks, I would request this issue to be opened here hoping to get some support from the community. I have raised this issue with Microsoft but still no resolution its been 2 months.

[2020-03-11 07:51] Bradrajkumar opened #3001 "ReactWebchat is not defined"
Hi All,

as i am trying to enable the webchat using react but everytime the issue is showing like :- "ReactWebchat is not defined". I also noticed that the github samples are also having same issue.
please check from your end and let me know about the issue.
here is the attached error screenshot:-
![Screenshot (1)](https://user-images.githubusercontent.com/34365788/76394257-30eadb00-639b-11ea-8934

[2020-03-11 09:35] Valentyn-Chornovol opened #3002 "[Accessibility][Screen Reader][NVDA] - Screen reader ignores text messages on hover."
![sreenreader](https://user-images.githubusercontent.com/62014745/76402578-499fc480-638c-11ea-8c20-44d3a38be41b.gif)

**Actual result:**
The screen reader ignores text messages on hover.

**Expected result:**
The screen reader will read text messages on hover.

**Repro Steps:**
1. Turn on NVDA.
2. Open https://microsoft.github.io/BotFramework-WebChat/01.getting-started/a.full-bundle/ in Chrome.
3.

[2020-03-11 16:11] denzy134 opened #3004 "Question related to PVA"
🚨 The issue tracker is not for implementation questions 🚨

[Question]
I wanted to find out if the Power virtual agent has an API we can call ?

[2020-03-11 17:54] cwhitten commented on #2675
Hi @murcinar, we have agreement that the CardAction schema will change to allow alt-text to be provided from the bot. We're still aligning on a date for this to be available. I'll continue to update this issue with new information.

[2020-03-11 18:47] murcinar commented on #2675
Thank you Chris! @cwhitten

[2020-03-11 19:23] stevkan commented on #3001
At this moment, I am unable to repro your issue. Can you check which version of Web Chat you are running? And, can you post the code you are using when you encounter this error? Lastly, which samples did you try (so I can check those)?

[2020-03-11 21:04] chrimc62 commented on #3004
Power VA questions should be asked on their forum.  https://powerusers.microsoft.com/t5/Power-Virtual-Agents-Forum/bd-p/10292019

[2020-03-11 21:04] #3004 closed

[2020-03-11 22:31] compulim opened #3005 "Detect compatMode and give warnings"
## Feature Request

Web Chat layout don't works in quirk mode. Adaptive Cards also didn't work well in quirk mode. The page hosting Web Chat must have `<!DOCTYPE html>` on.

We could give warnings to developers when they are hosting Web Chat in quirk mode.

To detect:

[code]

## Bugs related to quirk mode

### Safari

(TBC) In quirks mode, the transcript will be hidden by the send box.

### Adapt

[2020-03-12 05:42] prashanthsridhar commented on #2975
Hi @stevkan , there are no changes as such. I verified it with a sample project using 4.7 and 4.8,the issue still exists

[2020-03-12 06:41] asifshiraz opened #3006 "Serve is not recognized as a command"
## Describe the bug

I cloned the repository, ran 'npm install' and 'npm start'. I'm getting following error:
PS D:\BotFramework-WebChat> npm start

'serve' is not recognized as an internal or external command,

## Steps to reproduce

1. Clone repository
2. Run npm install
3. Run npm start
4. See error

[Bug]

[2020-03-12 06:58] Bradrajkumar commented on #3001
i was able to resolve the issue. there are some of the samples not working on git hub, please look into this and update me. Below are the links:-
https://microsoft.github.io/BotFramework-WebChat/05.custom-components/g.activity-status/
https://microsoft.github.io/BotFramework-WebChat/04.api/h.clear-after-idle
https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api/k.telemetry-g

[2020-03-12 18:35] tdurnford commented on #3006
@asifshiraz Thank you for reporting this issue. It looks like the `serve` npm package is missing as a dev dependency. @compulim @corinagum We should consider adding `serve` as a dev dependency or changing the start command to use `npx serve` instead of just `serve`.

[code]

https://github.com/microsoft/BotFramework-WebChat/blob/6f0ae7a73530915c4e19db0234ad824b295c4b6b/package.json#L42

[2020-03-12 20:50] corinagum commented on #3006
adding as a dev dependency approved by compulim :)

[2020-03-12 23:35] p-nagpal commented on #2970
@AngryVirginian I have deployed a fix and the OAUTH flow is now working with my test bot. Could you check if your bots works as expected?

[2020-03-13 02:15] compulim opened #3007 "Adapter Test: Ingress activity"
## Feature Request

Use Web Chat Core to communicate with an adapter and a bot.

The bot will send a message. Web Chat Core should receive this message.

Proactive message can be used for the bot to send message. Or, Web Chat Core can send a message to the bot to trigger the bot to send back a message.

This test code will be executed by two or more adapters of different nature.

Although the impl

[2020-03-13 02:17] compulim opened #3008 "Adapter Test: Egress activity"
## Feature Request

Use Web Chat Core to communicate with an adapter and a bot.

Web Chat Core will send a message. The bot should receive this message.

This test code will be executed by two or more adapters of different nature.

Although the implementation of helper bot varies between adapters, the interface of the helper bot should be kept the same across all adapters.

### Pseudo code

[code]

[2020-03-13 02:17] compulim opened #3009 "Adapter Test: Run tests with DirectLineJS"
## Feature Request

Use Web Chat Core to communicate with an adapter and a bot.

Run all tests with DirectLineJS and Direct Line channel.

[`test.each(table)(name, fn, timeout)`](https://jestjs.io/docs/en/api#testeachtablename-fn-timeout) can be used for setting up the environment to run the test.

[`testEnvironment`](https://jestjs.io/docs/en/configuration#testenvironment-string) can also be cons

[2020-03-13 02:19] compulim opened #3010 "Adapter Test: Run tests with IC3 Adapter"
## Feature Request

Use Web Chat Core to communicate with an adapter and a mocked IC3 SDK.

Run all tests with IC3 adapter. The adapter will reach a test mock, pretending to be on the bot side.

[`test.each(table)(name, fn, timeout)`](https://jestjs.io/docs/en/api#testeachtablename-fn-timeout) can be used for setting up the environment to run the test.

[`testEnvironment`](https://jestjs.io/docs/e

[2020-03-13 02:20] compulim opened #3011 "Adapter Test: Run tests under Azure DevOps pipeline"
## Feature Request

Use Web Chat Core to communicate with an adapter and a bot.

The test will be run daily or as a PR validation under Azure DevOps.

The helper bot should also automatically deployed to an Azure resources when a change is made to the bot code.

Helper bot should be compiled using Build Pipeline. And the deployment of the helper bot should be done using Release Pipeline.

Differen

[2020-03-13 09:45] Narayan22 opened #3013 "Send a defualt welcome message from QnaMaker KB"
🚨 The issue tracker is not for implementation questions 🚨

Hello,
I want to create a bot like when the user opens the bot and automatically showing a list of questions without user interaction.
I also created follow-up prompts to create multiple turns of a conversation. but for that, I need to type "help" so I want popup follow-up-prompts I created in KB without typing "Help"
![4](https://user-ima

[2020-03-13 10:35] thomas023 opened #3014 "How to take the key event from botframework webchat?"
I'm building a bot using botframework webchat in react js. I just added suggestions to it. Now I want to make my up/down arrow keys for selecting options from the suggestion list. How can i do that?

[2020-03-13 11:20] manjunathangv opened #3015 "Need to preview the voice"
I'm using the below example [Select Voice](https://github.com/microsoft/BotFramework-WebChat/blob/master/samples/03.speech/e.select-voice/README.md)

[code]

Is it possible to pre-listen the voice before send to the webchat render.

(Edited by @compulim for removing secret)

[2020-03-13 13:58] AngryVirginian commented on #2970
@p-nagpal It is still not working.  I am getting a 403 error instead of 500 now though.

![image](https://user-images.githubusercontent.com/28601813/76627311-2c483300-6511-11ea-8164-89f0bc2cfe50.png)

[2020-03-13 16:49] anusharavindrar commented on #3013
@Narayan22 The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2020-03-13 16:49] #3013 closed

[2020-03-13 18:16] cwhitten commented on #3014
Hi @thomas023. We prefer how-to questions are answered on Stack Overflow. Please direct your query to https://stackoverflow.com/search?q=bot+framework+webchat

Closing this issue.

[2020-03-13 18:16] #3014 closed

[2020-03-13 18:46] cwhitten commented on #3015
hello @manjunathangv and thank you for the issue. We direct how-to questions to Stack Overflow, please move your query there. Thank you! https://stackoverflow.com/search?q=bot+framework+webchat

[2020-03-13 18:46] #3015 closed

[2020-03-13 19:33] mmarinoNet commented on #2970
I am running into a similar issue.  The magic code always comes back.   I get a status of 400 with the https://directline.botframework.com/v3/directline/session/getsessionid].  I don't have the webchat in any Iframe and I have the trusted origins defined property.  I followed all the instructions and tried it with all the samples.  I don't know what to do.

[2020-03-13 20:36] p-nagpal commented on #2970
Hello @AngryVirginian , @mmarinoNet I am looking at this new problem.

@mmarinoNet, is your bot in Azure Gov or Azure public cloud? Could you perhaps share a failing conversation id or your botid. This will help me investigate better. Thank you.

[2020-03-13 20:40] mmarinoNet commented on #2970
Yes is is in the Azure public cloud.  I would be happy to do whatever I can to help.  Please let me know. I tried everything and can't seem to get it to work.  Months ago when I tested this it worked, now it does not seem to.

[2020-03-13 20:49] mmarinoNet commented on #2970
Please let me know what I should provide and I will be happy to do so.

Thank you for your help.

Monty

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Pooja Nagpal <notifications@github.com>
Sent: Friday, March 13, 2020 8:36:36 PM
To: microsoft/BotFramework-WebChat <BotFramework-WebChat@noreply.github.com>
Cc: mmarinoNet <dot-

[2020-03-13 21:00] mmarinoNet commented on #2970
{{
  "clientActivityID": "1584133185795ur0wvp83k7",
  "clientTimestamp": "2020-03-13T20:59:45.795Z"
}}

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Pooja Nagpal <notifications@github.com>
Sent: Friday, March 13, 2020 8:36:36 PM
To: microsoft/BotFramework-WebChat <BotFramework-WebChat@noreply.github.com>
Cc: mmarinoNet <dot-n

[2020-03-13 22:26] p-nagpal commented on #2970
@mmarinoNet this failure is in a different environment and has different symptoms. I have created https://github.com/microsoft/BotFramework-Services/issues/192 to help make progress with the 403 failure and 400 failure together.

[2020-03-13 23:34] p-nagpal commented on #2970
@AngryVirginian , I found a few things
1. I can see this error in the logs: _Request origin <request_origin> is not in the list of trusted origins_
2. Can you check your directline site settings and ensure that Enhanced Authentication settings is still turned on?

[2020-03-13 23:55] vidyakdil opened #3016 "Unable to configure bot in a new channel"
I've tried to configure the Bot service in a new channel (Facebook, directline). But I'm getting the following message in the screen - "The resource you are looking for has been removed, had its name changed, or is temporarily unavailable". This issue is not there in bit services of other subscriptions. When I'm trying to get the details of other channels by clicking on edit option, I'm getting th

[2020-03-14 00:01] mmarinoNet commented on #2970
Yes it us turned on, I am running the web client locally.

[cid:image002.png@01D5F993.A59064B0]

nt from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Pooja Nagpal <notifications@github.com>
Sent: Friday, March 13, 2020 6:35:08 PM
To: microsoft/BotFramework-WebChat <BotFramework-WebChat@noreply.github.com>
Cc: mmarinoNet <dot-net-developer@hotmail.com>; Mention <mentio

[2020-03-14 04:49] AngryVirginian commented on #2970
@p-nagpal you are right.  My mistake.  I turned off Enhanced Authentication during testing.  It is working in the Fairfax datacenter now.  I will test the other us gov bot that is in Arlington datacenter on Monday.

[2020-03-14 06:40] #2989 closed

[2020-03-14 08:02] compulim commented on #3016
Thanks for the report.

I just pinged the service team and they should have a respond shortly.

[2020-03-14 08:07] compulim commented on #1977
This can be done with our latest customizable per-message avatar.

https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.custom-components/k.per-message-avatar/

[2020-03-14 08:07] #1977 closed

[2020-03-15 11:17] asifshiraz opened #3020 "Startup errors (unexpected token and babel related)"
## Screenshots

![image](https://user-images.githubusercontent.com/7054246/76700255-b87a6780-6683-11ea-89f0-b40921af66b1.png)

## Version

Latest master branch from repository

## Describe the bug

Running npm start gives multiple errors.
1. Unexpected token in Avatar.js
2. Unexpected token in AdaptiveCardsComposer.js
3. Some babel related errors that I don't understand... also a warning that node

[2020-03-15 12:31] #3006 closed

[2020-03-15 13:30] compulim commented on #3020
Since Web Chat is a monorepo, between step 3 and 4, you need to run `npm run bootstrap`.

[2020-03-16 14:07] AngryVirginian commented on #2970
@p-nagpal I confirm that the issue has been resolved in both Arlington and Fairfax datacenters.  Please proceed with closing the ticket.  Thank you fort he quick responses.

[2020-03-16 15:14] #2970 closed

[2020-03-16 17:46] compulim opened #3021 "[Notification] JavaScript error thrown when `message` not set for notification"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/76785684-189c0700-6773-11ea-8fae-58c06ac481e6.png)

## Version

`4.8.0`

## Describe the bug

When a notification without `message` field is dispatched to `WEB_CHAT/SET_NOTIFICATION` action, it should not throw an error.

## Steps to reproduce

When the following code is added, since it don't have `message` field, it throw

[2020-03-16 20:56] stevkan commented on #3001
Can you elaborate on what was causing the issue and how you resolved it?

[2020-03-16 22:28] stevkan commented on #2975
@prashanthsridhar, are you able to post any of your code (see the above requests)? There isn't much I can do without something to reference.

[2020-03-17 00:04] iwasn commented on #2820
@compulim Is this change pushed? Can we be notified when it will be ready, if not?

This is a general question but is there a reason that your team closes issues at the time of checking into master instead of when it is ready to be consumed in a new version? It would be convenient for me, and I imagine it would be convenient for others consuming this package if this were the case.

I look forward

[2020-03-17 08:59] compulim commented on #2820
This is pushed.

You can use our "override strings in localization" feature to modify the screen reader text.

- How to use: https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/LOCALIZATION.md#overriding-localization-strings
- List of strings in `en-US`: https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/component/src/Localization/en-US.json

[2020-03-17 09:27] uppalapraveen commented on #1890
I am also experiencing the same problem @Slayouth using WebChat
 (https://cdn.botframework.com/botframework-webchat/latest/webchat.js). Please help us with the issue and crack this official time and implementing the message id.

Unfortunately, this is a show stopper.

[2020-03-17 11:03] uppalapraveen opened #3023 "User message displaying(shortly) above bot message"
Here are the screenshot link.

https://user-images.githubusercontent.com/18583823/56056255-0bd88d00-5d32-11e9-9454-49436d950741.png

## Version

User messages are displayed at the top while they are sent. We are using WebChat (https://cdn.botframework.com/botframework-webchat/latest/webchat.js)

@corinagum There is a ticket which you have closed based on  @Slayouth comments.
here is the issue link

[2020-03-17 11:04] compulim opened #3024 "[IE11] Fix ES5 build for markdown-it-attrs"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/76850207-22ba1600-6804-11ea-92ef-f44678d66e9a.png)

![image](https://user-images.githubusercontent.com/1622400/76850240-35cce600-6804-11ea-9e46-3bdecb100d0d.png)

## Version

`master` after merging #3022.

## Describe the bug

The bundle contains ES5 code because #3022 introduced a package that is not compatible with IE11 a

[2020-03-17 12:33] compulim commented on #1890
This is not trivial to solve due to Direct Line protocol issue that is out of our control. We have a pending issue tracking this, #2991.

- Bot activities are in random order due to distributed nature of the system
- Although activity ID seems monotonic increasing, protocol team do not recommend us to use it for sorting, i.e. we can't use it
- Thus, there are only 2 fields we can use for sorting:

[2020-03-17 15:39] osavoskin opened #3026 "Wrong link attribute"
https://github.com/microsoft/BotFramework-WebChat/blob/31291d588e782bdef63d8f37ae01e81ea54cfd87/packages/bundle/src/renderMarkdown.js#L75

Should not be 'rel' here?

[2020-03-17 16:26] turbozapekanka opened #3027 "How to change the caption on the top?"
Is there a way to change the caption of the widget for CDN version?
See screenshot

<img width="427" alt="Screen Shot 2020-03-16 at 3 47 13 PM" src="https://user-images.githubusercontent.com/20775323/76877977-24a2ca00-6842-11ea-9d66-a995e7dde883.png">

[2020-03-17 16:38] #3024 closed

[2020-03-17 16:55] corinagum commented on #3020
Closing as answered

[2020-03-17 16:55] #3020 closed

[2020-03-17 17:20] #3027 closed

[2020-03-17 20:33] tanetrail commented on #2426
Any idea when we can get this feature. we are trying different approaches to handle the updates and forcing us to move to different solution. It would be great if we can get this feature

[2020-03-18 06:25] stevkan commented on #2998
@xakpc, I'm trying to repro your issue, but I'm running into a separate issue. How are you loading the `HostingEnvironment` class into the project? BotFramework v4 is built on .NET Core, but the `System.Web.Hosting` package is built for .NET Framework.

[2020-03-18 08:56] kushalbhabra commented on #2745
Can we have also have a option for suggested actions to stay relative just below the last message from bot.

Currently the suggested actions are sticky and take up permanent space if user scrolls up.

Could you suggest a fix for this?

[2020-03-18 17:49] cwhitten commented on #3023
hello @uppalapraveen. Please refer to the following issue for tracking: https://github.com/microsoft/BotFramework-WebChat/issues/2991

We are prioritizing this fix against our backlog and will update that issue when we schedule the work. Closing this as a duplicate.

[2020-03-18 17:49] #3023 closed

[2020-03-18 17:56] rosenjcb opened #3028 "Integration with Healthbot?"
I'm hoping to integrate this framework into my React SPA and connect it to a Microsoft Healthcare Bot scenario. Right now to start a scenario, I have to send a POST that looks like this:

[code]

And then I can navigate through the scenario by POST in the format:
[code]

I can't find any documentation about how I should integrate it here. How do I trigger a scenario? Any links or articles that I c

[2020-03-18 19:44] jbgh2 opened #3029 "Bot will only speak when spoken to"
## Screenshots

## Version

Browser version:
meta name="botframework-directlinespeech:version" content="4.8.0"
meta name="botframework-webchat:bundle:variant" content="full"
meta name="botframework-webchat:bundle:version" content="4.8.0"
meta name="botframework-webchat:core:version" content="4.8.0"
meta name="botframework-webchat:ui:version" content="4.8.0"

Using SpeechService added via:

    (as

[2020-03-18 19:46] jbgh2 commented on #2211
This issue is blocking my development so if you need a use case I can provide one.
Please consider this a +1 for this feature :)

[2020-03-18 19:48] jbgh2 opened #3030 "Can't specify different production slot endpoint in webchat setup"
I have an App Service with multiple production slots.
I can't find a way to specify which slot to use, either when generating a token or when setting up the RenderWebChat.

[2020-03-18 23:02] rosenjcb commented on #3028
I managed

[2020-03-18 23:02] #3028 closed

[2020-03-18 23:11] rosenjcb commented on #3029
This is default behavior. I've managed [to trigger the bot to speak according](https://github.com/microsoft/BotFramework-WebChat/issues/3028) to a scenario through the [Microsoft Healthcare Bot](https://docs.microsoft.com/en-us/healthbot/quickstart-createyourfirstscenario) platform.

I have a feeling you'll need to write a dialog for the bot in C#. Can you link your entire Bot class in your C# pro

[2020-03-18 23:27] jbgh2 commented on #3029
My bot is a bit large to post but is made up of dialogs that look like this:

        private async Task<DialogTurnResult> PromptForInputStepAsync(WaterfallStepContext stepContext, CancellationToken cancellationToken)
        {
            await OutputStepNameToUser(stepContext, cancellationToken);

            return await stepContext.PromptAsync(nameof(TextPrompt),
                new PromptOpti

[2020-03-18 23:52] jbgh2 commented on #3029
I've tried adding a 'WEB_CHAT/START_SPEAKING' message in after every SEND_MESSAGE like this:

      const store = window.WebChat.createStore(
        {},
        ({ dispatch }) => next => action => {
          //console.log(action.type);
          if (action.type === "WEB_CHAT/SEND_MESSAGE") {
            console.log("Sending WEB_CHAT/START_SPEAKING")
            dispatch({
              type: 'WE

[2020-03-19 01:22] rosenjcb commented on #3029
This looks correct. I've played around with the WaterfallDialog and it's cumbersome. So what you're showing me is the Dialog class but in the Bot class itself, you'll have a method like `OnMembersAddedAsync()` where you can override it like this to start the conversation off with the bot speaking:

[code]

You might even be able to to start the dialog itself by calling
[code]
where `_dialog` is a

[2020-03-19 01:38] rosenjcb commented on #3029
So depending on where it fails, you have a few options. First of all, `WEB_CHAT/SEND_MESSAGE` looks like it's when the user sends a message. Just have the webchat connect to the bot and enable that `console.log(action.type)` and see what kind of events are outputted. In particular, I use `DIRECT_LINE/CONNECT_FULFILLED` because I want to trigger the scenario only when the user successfully connects

[2020-03-19 01:57] jbgh2 commented on #3029
Yep, I have all that connection and member joining goodness. The bot does communicate correctly but the problem is that if you don't use speech input you don't speech output (see #2474). There is a passing reference (https://github.com/microsoft/BotFramework-WebChat/issues/2474#issuecomment-543299098) to sending a redux message (WEB_CHAT/START_SPEAKING) which is what I'm trying to do.

Enabling th

[2020-03-19 08:54] compulim commented on #3030
This is related to hosting the services. Web Chat is the UI component.

Please post it to [botframework-services](https://github.com/microsoft/botframework-services).

[2020-03-19 08:54] #3030 closed

[2020-03-19 11:04] AJAYSIRANGI27 commented on #2790
@stevkan -how to integrate the same thing with teams.

[2020-03-19 16:07] jbgh2 commented on #3030
This is a webchat issue: how do you specify the target endpoint in WebChat?

[2020-03-19 16:34] rosenjcb commented on #3029
@jbgh2 Well at this point I'm going to assume all this works well through the Bot Framework Emulator and that you're really just struggling with the webchat client. Based on the reference, it looks like there are issues with the speech capabilities. It looks like someone from the Microsoft team has assigned themselves to your ticket, so good luck!

[2020-03-19 16:43] jbgh2 commented on #3029
@rosenjcb thank you for your time!

[2020-03-19 18:17] compulim commented on #3026
You are right.

Correct: `<a href="..." rel="nooopener noreferrer">`

Wrong: `<a href="..." target="nooopener noreferrer">`

[2020-03-20 00:30] compulim commented on #2969
Start working on it now.

Will implement the `fromHost` solution.

[2020-03-20 09:36] bhushanvadgave opened #3032 "Can this library be used for creating a view of conversation transcript (given a list of activity JSONs)?"
We have been storing all the activities (as JSON) of each conversation taken place between our bot and users into our data store. And we have a requirement where we want to build a view that can replay a user's conversation.

We are not sure if the BotFramework-WebChat library can be used (without giving any bot secret or token) to create this view provided the set of activities JSONs.

We looked

[2020-03-20 19:35] emilianomoro opened #3034 "It is possible to add a typingIndicator for the bot, when the bot is processing the response."
It would be useful to have a spinner or indicator when the bot is working on the response. In my case I have QNA, Luis and translator Api working together and for some questions the response time of the bot is taking a bit long.
I inspect every sample given and did not found similar case.

[2020-03-21 17:37] tdurnford commented on #3034
@emilianomoro  Please take a look at the Bot Framework [Typing Indicator Documention](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-send-messages?view=azure-bot-service-4.0&tabs=csharp#send-a-typing-indicator).

In the future, 'How to' questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you have about developing your own

[2020-03-21 17:37] #3034 closed

[2020-03-22 01:12] #2962 closed

[2020-03-22 01:12] #3026 closed

[2020-03-24 06:51] stevkan commented on #3029
@jbgh2, as you already know from the above conversation, the user must have clicked and provided speech input before the bot's text response is spoken back to the user. This requirement extends from the browser and, unfortunately, there is no work-around at this time.

As you are also aware, future development (issue #2211) looks to mitigate this browser requirement with respect to Web Chat. But,

[2020-03-24 06:51] #3029 closed

[2020-03-24 06:58] shunyh opened #3035 "Loading chat history slowly if there are too many images"
Hi Team,

I got a performance issue that loading chat history slowly if the customer sent too many images to the bot.

I want to confirm which size is the limitation of the Webchat history would cause this loading
 performance issue?

If we know the limitation we could remind the customer to create a new session and end the current one.

[2020-03-24 14:23] manish-95 opened #3036 "Control over Text to Speech audio properties in WebChat"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I am using WebChat to interface with my Bot, and the mode of interaction in primarily through voice. I have also implemented a solution which sends an inactive event after 'n' seconds of user inactivity to re-prompt a user. In a speech driven scenario, this usually fails since the message playback time is not co

[2020-03-24 16:51] v-kydela commented on #3035
@shunyh - It sounds like you're describing a situation where more images lead to slower performance. Can you explain what you mean when you say "limitation"?

[2020-03-24 20:07] AndreMantas opened #3037 "Adaptivecard container with style not rendering correctly"
## Version

Latest via CDN (4.8.0).

## Describe the bug

Containers backgrounds with "style" not working

![image](https://user-images.githubusercontent.com/7627975/77471111-a7f78900-6e09-11ea-9697-0e8520afa1d0.png)

## Steps to reproduce

Using the sample [HostConfig](https://github.com/microsoft/AdaptiveCards/blob/master/samples/HostConfig/webchat.json)
[code]

Send a [sample adaptive card with

[2020-03-25 01:51] shunyh commented on #3035
@v-kydela

Thank you quickly reply.

What I want to know is how many images or how many text messages are sent will lead to load chat history slowly?

For example:
The performance of loading history will be slower if the total files size of the chat history more than 10M.
The **10M** is the limitation.

[2020-03-25 11:16] psaeuerl opened #3038 "Add Backgroundcolor for SendBoxButton to defaultStyleOptions"
Feature Request

My requirement is to set the BackgroundColor of the sendBoxButton.
Currently, the defaultStyleOptions.js does not support this and i had to fall back to using css selectors.
defaultStyleOptions.js seems to be the natural place for this.

Current solution:
`    #webchat > div > div > div.main > div > button{
        background-color: aqua;
    }`

Desired solution:
`
        const

[2020-03-25 15:56] v-kydela commented on #3035
Hello @shunyh - thank you for the clarification.

I think you will have to judge for yourself what threshold/cutoff/limit you want to use. There doesn't seem to be any such limitation coded into Web Chat or Direct Line. My expectation is that the more bytes you have, the slower they will load.

Does this resolve your issue?

[2020-03-25 18:10] congysu commented on #3038
@compulim can you please take a look on this issue?  thanks.

[2020-03-25 18:11] congysu commented on #3037
@tdurnford can you please take a look on the issue?  thanks.

[2020-03-26 00:20] compulim opened #3039 "useLocalizeDate failed because the language is not in CLDR"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/77597491-54924300-6ebc-11ea-94e1-8b7110f4072f.png)

(It is okay to pass `"en"` to `language`. But not okay to pass `"en-US"`.)

## Version

`4.8.0`

## Describe the bug

In `useLocalizeDate.js`, we are passing a language identifier of `"en-US"`, but `getLocaleString.js` is expecting `"en"` instead (the one specified in CLDR

[2020-03-26 00:52] tonyanziano commented on #3039
Nice find!

[2020-03-26 02:39] shunyh commented on #3035
@v-kydela
Thanks for the updated information.

It seems that the WebChat does not have such a flag to control the loading performance, it requires us to do some related configurations.

Thanks for your help again, @v-kydela

[2020-03-26 04:22] narik1989 commented on #1571
Hi,

I think this feature was released in 4.8.0, where can i find a sample to implement this in my Web Chat (not react app)

Thanks
Kiran

[2020-03-26 15:07] tdurnford commented on #3037
@AndreMantas It looks like their is an issue with your Adaptive Cards host config. If you don't pass the `adaptiveCardsHostConfig` prop to Web Chat, it should work fine.

 If you want to add your own customizations to the Adaptive Card host config, I would recommend working off of Web Chat's [Adaptive Card Host Config](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/bundle/s

[2020-03-26 15:42] v-kydela commented on #3035
@shunyh - Glad I could help. Closing now.

[2020-03-26 15:42] #3035 closed

[2020-03-26 17:20] congysu commented on #3036
@compulim can you please take a look at this?  thanks.

[2020-03-26 19:47] leolorenzoluis commented on #2595
@cwhitten Yes I'm sure it's not undefined.

[2020-03-26 21:26] AndreMantas commented on #3037
Its not "my" host config, its the one on [microsoft/AdaptiveCards repo](https://github.com/microsoft/AdaptiveCards/blob/master/samples/HostConfig/webchat.json)

Anyway, I only started using host config because it didn't work in the first place without it.
I will try again without it, lets see if it works.

[2020-03-26 21:46] AndreMantas commented on #3037
With the default sample from this repo README, here is the result:

![image](https://user-images.githubusercontent.com/7627975/77699770-e7111000-6faa-11ea-97c9-4f1a7e5dcaf0.png)

index.html:

[code]

[2020-03-27 00:37] johnataylor opened #3042 "web-speech-cognitive-services dependency is missing"
When building with the latest **4.8.0** package the following error is produced:

[code]

Attempting a work around by explicitly adding the web-speech-cognitive-services/6.0.0 package to the application fixes the build issue but now the runtime fails. This is just seen as a blank screen in the brower-echo sample.

(Note in the process of updating the sample now you have to also add react and react

[2020-03-27 04:53] zp1112 commented on #3042
I had the same problem,how to fix it?

[2020-03-27 05:09] yxc2010 commented on #3042
https://github.com/compulim/web-speech-cognitive-services/commit/d6224a4501286913a831f4edf17afd03c5c32699

### Breaking changes

- As Bing Speech has deprecated and removed from Azure. Bing Speech support has been removed.

I downgraded to BotFramework-WebChat@4.6.0 for addressing this issue.

[2020-03-27 05:26] compulim commented on #3007
Done.

[2020-03-27 05:26] #3007 closed

[2020-03-27 05:26] compulim commented on #3008
Done.

[2020-03-27 05:26] #3008 closed

[2020-03-27 05:26] compulim commented on #3009
Done.

[2020-03-27 05:26] #3009 closed

[2020-03-27 05:27] compulim commented on #3011
We need to separate them into 3 pipelines.

[2020-03-27 05:27] compulim commented on #3010
We need to update the signature for our mock IC3SDK.

[2020-03-27 05:28] compulim opened #3043 "Adapter Test: CD pipeline for publishing the bot"
## Background

We need a CD pipeline for publishing the bot, when the bot code updated.

[2020-03-27 05:31] compulim opened #3044 "Adapter Test: Move adapter tests related resources to our own subscriptions"
## Background

Need to ping Tom to create a new subscription and we move resources over.

## Tasks

- [ ] Ping Tom to create a new subscription
- [ ] Ask @youyu16 to move the resources to the new subscription
- [ ] Update the CD pipeline to publish to the new subscription

[2020-03-27 05:32] compulim opened #3045 "Adapter Test: Review the test code"
## Tasks

- [x] @youyu16 create a new branch and make a PR so we can comment on
- [x] @compulim comment on the PR
- [x] @youyu16 merge the PR back to master
- [x] @compulim to do an interactive PR review

[2020-03-27 06:36] compulim commented on #2987
Despite converging, Webpack doesn't dedupe packages based on their name + version.

For example:

- `packages/bundle/node_modules/microsoft-cognitiveservices-speech-sdk@1.10.1`
- `packages/directlinespeech/node_modules/microsoft-cognitiveservices-speech-sdk@1.10.1`

Both of them are `@1.10.1`, but since their paths are different, Webpack will bundle them separately in the bundle.

What we could do

[2020-03-27 06:42] zp1112 commented on #3042
installed 4.6.0,but throw error hooks is undefined

[2020-03-27 09:38] Jakob-vdH commented on #3042
downgrading to v4.6.0 worked, but results in for example suggested actions not being displayed stacked anymore, which we require.

Removing `web-speech-cognitive-services/lib/BingSpeech` and it's references from the botframework-webchat package, led to a successfull build, but also to further errors at runtime with the useDateFromatter hook in the StackedLayout of the chat `botframework-webchat-co

[2020-03-27 11:09] zp1112 commented on #3042
where to remove web-speech-cognitive-services?could you please show the detail?thank you very much

[2020-03-27 11:43] Jakob-vdH commented on #3042
sure.

- `botframework-webchat\lib\creteCognitiveServicesBingSpeechPonyFillFactory.js` - line 26
(`var _BingSpeech = _interopRequireDefault(require("web-speech-cognitive-services/lib/BingSpeech"));`)

- `botframework-webchat\lib\index.js` - line 26-31, 79, 132 all of them deal with `_createCognitiveServicesBingSpeechPonyfillFactory`

This is only a temporary workaround, but allowed us to proceed w

[2020-03-27 12:33] zp1112 commented on #3042
This can fix development mode,but how to workaround production mode?

[2020-03-27 12:52] Jakob-vdH commented on #3042
My first thought would be to build your own private package of the BotFramework-WebChat ([CONTRIBUTING.md](https://github.com/microsoft/BotFramework-WebChat/blob/master/.github/CONTRIBUTING.md)).

[2020-03-27 17:19] sgellock commented on #3042
The team is working through how to get a fix out to address this.  We are in a release lockdown due to current world events.  but we're working to see if we can get an exemption and get out a fix.  we'll post more data here as we gather it.

[2020-03-27 18:09] congysu commented on #3001
close this since the issue is resolved.

[2020-03-27 18:09] #3001 closed

[2020-03-27 18:11] congysu commented on #2975
close this for now due to lack of activities recently.

[2020-03-27 18:11] #2975 closed

[2020-03-27 18:33] cwhitten commented on #3042
Hi all.

We're actively working on addressing this and hope to have an update in a couple hours. I'll update this issue when we have more information.

Thanks!

[2020-03-27 19:16] compulim commented on #3042
I am verifying the fix right now.

[2020-03-27 19:23] stevkan commented on #3032
@bhushanvadgave, thank you for your patience. I've been researching some potential solutions for you, but before I present those I have a couple questions.

How are users accessing their conversation history? Reading the above suggests to me they are clicking a link on a page which would open a "presentation mode" styled view. Or, is this to be a function of a current conversation with a bot (i.e.

[2020-03-27 22:38] compulim commented on #3042
We are still working on a fix.

For temporarily workaround, please install a local version of `web-speech-cognitive-services@6.0.0` so Web Chat 4.8.0 will pick up the older release.

Also, we discovered jQuery's `globalize@1.5.0` introduced a bug and causing JavaScript errors. We did not see the problem on `globalize@1.4.2` (which we tested) and `globalize@1.4.3`.

So, for workaround, after you in

[2020-03-28 00:21] compulim opened #3046 "Web Chat turn blank when sending the first message"
## Screenshots

## Version

`4.8.0` installed thru NPM. It does not affect `webchat.js` hosted from cdn.botframework.com.

## Describe the bug

`globalize@1.5.0` recently introduced a bug that cause JavaScript error on formatting a date. The bug was not on `globalize@1.4.2` (used by `webchat.js`) and `@1.4.3` (last known good).

## Steps to reproduce

1. `npx create-react-app app`
1. `cd app`
1. `

[2020-03-28 07:44] compulim commented on #3042
This is fixed in `web-speech-cognitive-services@6.3.0`, which should be automatically picked up by reinstalling `botframework-webchat@4.8.0`.

In case it is not, please check your `package-lock.json` to make sure it doesn't lock down on `@6.1.0-6.2.0`.

But as @Jakob-vdH pointed out, `globalize` also recently released a package that broke semver rule. It is being reported at https://github.com/glo

[2020-03-28 07:44] #3042 closed

[2020-03-28 10:17] compulim opened #3047 "Accessibility: [1st Pass] [Screen Reader] [NVDA] Screen reader reads all the dialog from the beginning on any state update"
Copied from VSTS #1713847:

![taskgif26](https://user-images.githubusercontent.com/1622400/77820846-92e95700-70a2-11ea-8784-0b895f6a04df.gif)

[2020-03-28 10:42] compulim opened #3048 "Accessibility: [1st Pass] [Screen Reader] [NVDA] Screen reader not reading sent, received and some system messages on hover"
Copied from #1713830.

![taskgif21](https://user-images.githubusercontent.com/1622400/77821248-e7420600-70a5-11ea-930e-a6a64bc19b31.gif)

[2020-03-28 10:45] compulim opened #3049 "Accessibility: [1st Pass] [Screen Reader] [NVDA] Screen reader ignores "File", "New Messages" and "Send" buttons on hover"
Copied from #1713833.

![taskgif22](https://user-images.githubusercontent.com/1622400/77821319-8a931b00-70a6-11ea-8c1f-f4b8075779b6.gif)

[2020-03-28 10:50] compulim opened #3050 "Accessibility: Screen reader ignores "File", "New Messages" and "Send" buttons on hover This causes inconsistency of user experience Gif is in the attachments"
Copied from #1715228.

![image](https://user-images.githubusercontent.com/1622400/77821404-43f1f080-70a7-11ea-960d-a1998734d154.png)

[2020-03-28 11:22] compulim opened #3051 "Accessibility: A11y_Live Chat Widget_Let's Chat-Chat Window_AI4W: Ensures all ARIA attributes have valid values (#webchat__toaster__list__ttqz6)"
Copied from #1750232.

![1750232_A11y_Live Chat Widget_Let's Chat-Chat Window_AI4W](https://user-images.githubusercontent.com/1622400/77821645-08f0bc80-70a9-11ea-9add-c9f0c633798e.png)

“Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:

Application Name: Live Chat Widget

#URL:https://xxx.blob.core.windows

[2020-03-28 11:27] compulim opened #3052 "Accessibility: A11y_Live Chat Widget_Latest Bot Chat Window_Screenreader: After sending any available commands screen reader announce unnecessary information."
Copied from #1750248.

[1750248_A11y_Live Chat Widget_Latest Bot Chat Window_Screenreader.zip](https://github.com/microsoft/BotFramework-WebChat/files/4397024/1750248_A11y_Live.Chat.Widget_Latest.Bot.Chat.Window_Screenreader.zip)

“Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:

Application Name: Live Ch

[2020-03-28 11:28] compulim opened #3053 "Accessibility: A11y_Live Chat Widget_Chat Window_AI4W: Ensures all ARIA attributes have valid values (#webchat__toaster__list__gf1z1)"
Copied from #1749559.

![1749559_A11y_Live Chat Widget_Chat Window_AI4W](https://user-images.githubusercontent.com/1622400/77822067-908bfa80-70ac-11ea-8ed2-96fb04c9169c.png)

“Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:

Application Name: Live Chat Widget

#URL:https://xxx.blob.core.windows.net/portal

[2020-03-28 11:34] compulim opened #3054 "Accessibility: A11y_Live Chat Widget_ Latest Bot Chat Window_AI4W:Ensures all ARIA attributes have valid values"
Copied from #1749533.

![1749533_A11y_Live Chat Widget_ Latest Bot Chat Window_AI4W](https://user-images.githubusercontent.com/1622400/77822145-57a05580-70ad-11ea-8ea8-a48ea410efa6.png)

“Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:

Application Name: Live Chat Widget

#URL: https://xxx.blob.core.windo

[2020-03-28 11:36] compulim opened #3055 "Accessibility: A11y_Live Chat Widget _Chat Window_ Screenreader: After sending any message screen reader announce same information many times."
Copied from #1750244.

[1750244_A11y_Live Chat Widget _Chat Window_ Screenreader.zip](https://github.com/microsoft/BotFramework-WebChat/files/4397036/1750244_A11y_Live.Chat.Widget._Chat.Window_.Screenreader.zip)

“Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:

Application Name: Live Chat Widget

#URL: h

[2020-03-28 11:40] compulim opened #3056 "Accessibility: A11y_Live Chat Wedget_Upload File_ Keyboard: Keyboard focus is not in logical order after upload any file."
Copied from #1750405.

[1750405_A11y_Live Chat Wedget_Upload File_ Keyboard.zip](https://github.com/microsoft/BotFramework-WebChat/files/4397038/1750405_A11y_Live.Chat.Wedget_Upload.File_.Keyboard.zip)

“Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:

Application Name: Live Chat Wedget

#URL: https://xxx

[2020-03-28 11:46] compulim opened #3057 "Accessibility: A11y_Live Chat Widget _Latest Bot Chat Window_ Screenreader: After navigating to minimize button screen reader reads unnecessary “Send button”."
Copied from #1750235.

[1750235_A11y_Live Chat Widget _Latest Bot Chat Window_ Screenreader.zip](https://github.com/microsoft/BotFramework-WebChat/files/4397049/1750235_A11y_Live.Chat.Widget._Latest.Bot.Chat.Window_.Screenreader.zip)

“Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:

Application Name: Liv

[2020-03-28 11:48] compulim opened #3058 "Accessibility: A11y_Live Chat Widget_Let’s Chat Form_Screenreader: When we expand the Combo box narrator doesn't announce correct number of items present inside the combo box."
Copied from #1750392.

[1750392_A11y_Live Chat Widget_Lets Chat Form_Screenreader.zip](https://github.com/microsoft/BotFramework-WebChat/files/4397050/1750392_A11y_Live.Chat.Widget_Lets.Chat.Form_Screenreader.zip)

“Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:

Application Name: Live Chat Wedget

#URL:

[2020-03-28 13:41] compulim commented on #2951
I tested https://microsoft.github.io/BotFramework-WebChat/03.speech/b.cognitive-speech-services-js on Chrome 80 and it is fixed.

It is fixed as we released Web Chat 4.8.0, the sample code works properly.

[2020-03-28 13:41] #2951 closed

[2020-03-29 11:18] compulim commented on #2481
This is going to be fixed in Speech Services SDK of `@>=1.10.0`. For version `@<=1.9.1`, it didn't fix yet.

[2020-03-29 11:19] compulim commented on #2481
Re-opening until we bump SDK to 1.10.0.

[2020-03-29 18:17] bhushanvadgave commented on #3032
@stevkan Conversation replaying capability is not meant to be used by end-users (bot users) but it is used by special (admin) users through a web app (built with ReactJS) that requires the users to authenticate themselves.
Since the web app already has an API that fetches the latest activity JSONs for a conversation ID, it now just needs to have a view that shows the conversation messages (like th

[2020-03-30 05:30] uppalapraveen opened #3060 "Chat persistence in new tab"
## Screenshots

## Version

we are using the webchat CDN here is the link:
https://cdn.botframework.com/botframework-webchat/latest/webchat.js

## Steps to reproduce

1. Open the webchat and start chatting with it.
2. Now the chat persistence exist there.
3. Open the same application in new tab with same user.
4. Now the chat persistence(chat history) is not visible.

## Expected behavior

chat pe

[2020-03-30 16:42] Amintasn opened #3061 "Microphone Turns off After a RetryPrompt Call"
## Screenshots

## Version
Webchat: V4.8
CDN: https://cdn.botframework.com/botframework-webchat/latest/webchat.js
Botframework: V4

## Describe the bug
When a prompt option has not been met e.g. Yes/No a RetryPrompt  call is automatically raised by the bot framework.
The RetryPrompt message is shown on the screen and spoken by the bot.
However, the mic is automatically deactivated which forces the

[2020-03-30 17:33] compulim commented on #3060
Can you fill out the form?

[2020-03-30 17:56] uppalapraveen commented on #3060
@compulim what form do I need to fill out ??? Please elaborate

[2020-03-30 19:08] cleemullins commented on #2998
@xakpc Can you please answer @stevkan, so that he can get a repo in place? If we don't hear back in the next day or two, we'll close this due to inactivity.

[2020-03-30 20:17] xakpc commented on #2998
@stevkan I use ASP.NET Web API app on .net framework 4.7.2 as my backend service.
But that actually doesn't matter. I revisited the problem and build a small project to reproduce it based on ASP.NET Core Web API

[BotFramework.Reproduce.zip](https://github.com/microsoft/BotFramework-WebChat/files/4405221/BotFramework.Reproduce.zip)

[2020-03-30 23:31] compulim commented on #3060
![image](https://user-images.githubusercontent.com/1622400/77971588-ec6ca400-72a3-11ea-8674-500f971aab7d.png)

The bug form.

[2020-03-31 05:24] uppalapraveen commented on #3060
@compulim I have updated the bug form. looking for the resolution.

[2020-03-31 13:12] compulim opened #3062 "Sample: comprehensive avatar page is broken"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/78030133-7bb29f80-7316-11ea-86dc-7c6134fed8c1.png)

## Version

`master`

## Describe the bug

https://github.com/microsoft/BotFramework-WebChat/blob/master/samples/05.custom-components/k.per-message-avatar/comprehensive.html#L125

[code]

Please also search for other files.

## Steps to reproduce

1. Go to https://microsof

[2020-03-31 17:20] corinagum commented on #3061
Hi @Amintasn, thank you for filing this issue. I will take a look a close look at this today and get back to you.

[2020-03-31 19:05] Amintasn commented on #3061
Thanks @corinagum. Really appreciated.

[2020-04-01 01:28] compulim commented on #3047
This is related to a bug on NVDA 2019.3.1 with Chrome 80. It does not repro when using Chromium 76 and NVDA 2019.3.1.

https://github.com/nvaccess/nvda/issues/10866

[2020-04-01 01:30] corinagum commented on #3061
Hi again, I was not able to get to this today but it is number 1 on my list for tomorrow. I apologize for the delay.

[2020-04-01 09:44] saikiran521 opened #3063 "In adaptive card speak property is not working"
Using adaptive cards 1.0 added speak tag before the body as below

{
    "type": "AdaptiveCard",
    "version": "1.0",
    "speak":"<s>testing speech</s>",
    "body": [
        {
}]
}

while returning from the dialog passing ssml as below

var response = MessageFactory.Attachment(attachment, ssml: card.Speak, inputHint: InputHints.ExpectingInput);
await stepContext.Context.SendActivityAsync(respo

[2020-04-01 12:48] manish-95 commented on #3063
Hi @saikiran521
Please try setting the speak property to true in your channelData as follows:
`response.ChannelData = new{speak=true};`
Please let me know if it works for you.

[2020-04-01 12:51] Amintasn commented on #3061
No worries at all. Thanks for the update!

[2020-04-01 13:39] uppalapraveen commented on #3060
Got the solution here is the link
https://blog.getbizzy.io/persisting-chat-history-of-bot-framework-bots-across-a-user-session-using-javascript-58ee8d2738b3

[2020-04-01 13:39] #3060 closed

[2020-04-01 16:59] compulim commented on #2562
Looking at this one, I am seeing it in 4.8.0.

![image](https://user-images.githubusercontent.com/1622400/78164920-649bac80-73ff-11ea-8fd5-d9aa961abeee.png)

[2020-04-01 17:41] jbgh2 commented on #3063
This maybe related to known problem that the WebChat bot will only use synthesized voices if you speak to it first. See #2211 for proposed solution.

[2020-04-01 18:11] jbgh2 opened #3064 "WebChat 401 when connecting through ngrok"
## Version

Default version of WebChat in Azure portal

## Describe the bug

WebChat receives a '401 Unauthorized' when connecting through Ngrok but the emulator works fine.

## Steps to reproduce

1. Start debugger on local machine
2. Start Ngrok (`ngrok http 3978 --host-header="localhost:3978"`)
3. Change 'Messaging Endpoint' in the azure portal.
4. Save
5. Try Bot using 'Test in Web Chat'
6. In

[2020-04-01 18:16] cleemullins commented on #3063
@jbgh2 We've a design and spec, and the engineering workstream looks to land in early July (as part of our R10 release).

[2020-04-01 18:16] #3063 closed

[2020-04-01 18:20] cleemullins commented on #2974
Based on the comment thread above, the immediate issue is resolved.

[2020-04-01 18:20] #2974 closed

[2020-04-01 18:24] cleemullins commented on #2675
@murcinar We have (as @cwhitten has already said) the work agreed upon - we just haven't had a chance to book it out yet. I'll update this issue once we assign this to a release.

[2020-04-01 19:05] #2933 closed

[2020-04-01 19:59] MichaRedM opened #3065 "full-feature bundle as npm module"
## Feature Request

**Is your feature request related to a problem? Please describe.**

I would like to embed the full-feature bundle without loading it from a different host in a non react app.

**Describe the suggestion or request in detail**

right now i need always to add a script tag like:
```<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js" >...```
to embed th

[2020-04-01 20:34] corinagum commented on #3061
Hi @Amintasn Sorry to say that I'm unable to reproduce this problem. Could you either provide a bot/link that shows this behavior, or provide more detailed reproduction steps?

Are there any console errors when you experience this?

I am using a speech enabled bot, using the multi-turn prompt v4 sample with reprompt text added in. Speech works as expected, and when I speak a non-valid choice (does

[2020-04-01 20:41] corinagum commented on #3064
401 code means unauthorized.

Please verify that your appid and password are correct. https://docs.microsoft.com/en-us/azure/bot-service/bot-service-troubleshoot-authentication-problems?view=azure-bot-service-4.0

 If you continue to have problems, please head to stackoverflow for community support.

[2020-04-01 20:41] #3064 closed

[2020-04-01 20:47] corinagum commented on #3002
@Valentyn-Chornovol
Sorry for the late reply. I am able to reproduce this issue. There have been several accessibility bugs filed recently, and our current milestone will be resolving several bugs. I am bringing this up with our accessibility team and I will report back.

[2020-04-01 21:01] Amintasn commented on #3061
Hi @corinagum , thanks for the fast reply.
I can definitively do that but before we get into that I believe I know why the issue is not presenting to you.
Your test code is probably not using the RetryPrompt option from the PromptOptions list.
The default approach (without the Retry prompt option) works fine.
However, we need to provide a custom message when an unexpected reply has been provided.

[2020-04-01 21:52] compulim commented on #3065
Can you try `npm install botframework-webchat` and include this with your project?

[code]

[2020-04-01 22:22] compulim commented on #2562
Logging here to understand what is happening. It's difficult to get this repro.

![image](https://user-images.githubusercontent.com/1622400/78192248-97a86500-742c-11ea-8e0d-5c41f788bbea.png)

![image](https://user-images.githubusercontent.com/1622400/78192277-a42cbd80-742c-11ea-9948-9a824ff63f18.png)

[2020-04-01 22:35] compulim commented on #2562
![image](https://user-images.githubusercontent.com/1622400/78193073-78123c00-742e-11ea-897c-394910824647.png)

[2020-04-02 01:03] compulim commented on #2562
This is the root cause. In Chrome:

[code]

The code above can sometimes print 99, instead of >= 100. And this is causing the timer not to be rescheduled, because the new scheduled time has not changed.

[2020-04-02 03:27] tdurnford commented on #3038
@congysu You can currently accomplish this by overriding the `sendBoxButton` styles set. Take a look at the code snippet below and the [Manual Styling](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.branding-styling-and-customization/b.idiosyncratic-manual-styles) Web Chat Sample for more details.

@compulim @corinagum @cwhitten What are your thoughts on adding `sendBoxBu

[2020-04-02 04:10] shakil-san opened #3071 "Error: The first argument must be a Cognitive Services audio stream"
Hello,

I am facing issues while trying to use cognitive service for QnA Azure chatbot. I can get answers if i type question. But when I try to get answer using microphone the bot crashes immediately after returning the text spoken at microphone. Same behavior on chrome or firefox browser on desktop as well as Safari browser on IOS.

These are the two errors I see on the console of chrome browser.

[2020-04-02 06:57] MichaRedM commented on #3065
I found the Solution:
1. I needed to install the react peer-dependencies
[code]
2. add tell webpack to resolve extensions:
[code]

Then i became an strange error, which is described in this issue:
https://github.com/globalizejs/globalize/issues/895
as a workaround, i found the possibility to directly install an older Version of globalization:
[code]

afterwards my app compiled just fine.

[2020-04-02 06:57] #3065 closed

[2020-04-02 11:45] #2622 closed

[2020-04-02 11:45] #2969 closed

[2020-04-02 12:28] #2953 closed

[2020-04-02 12:31] compulim commented on #2956
This is fixed in #3003 by @geea-develop.

[2020-04-02 12:31] #2956 closed

[2020-04-02 12:33] compulim commented on #2939
Moving out from R9. This is not required until October release.

[2020-04-02 12:34] compulim commented on #2937
Moving from R9 to Backlog because IC3 do not need this before October.

We will add telemetry measurements slowly, similar to how we add tests today.

[2020-04-02 12:35] compulim commented on #2987
We should do this with #2481.

[2020-04-02 13:47] compulim commented on #2974
@KarlPurk is `rxjs` being resolved locally? AFAIK, `botframework-directlinejs` use `rxjs@5`, and `rxjs-compat` is introduced during `@6`.

Anyway, good to see your problem is resolved.

[2020-04-02 13:57] compulim commented on #3036
Can you try writing an activity renderer that do the following?

- On render of activity:
   - If the function is rendering the last activity and it is from the bot
      - Check if `activity.channelData.speak` turns from `true` to `false`
         - You can use `useState` hook to remember the last value
      - If it become `false`, that means the last activity in the transcript is being spoken

[2020-04-02 13:58] compulim commented on #2926
Sorry, lost this one from my radar, will take a look again.

[2020-04-03 00:58] corinagum opened #3070 "Error: The first argument must be a Cognitive Services audio stream"
@shakil-san commented on [Wed Apr 01 2020](https://github.com/microsoft/botframework-sdk/issues/5793)

Hello,

I am facing issues while trying to use cognitive service for QnA Azure chatbot. I can get answers if i type question. But when I try to get answer using microphone the bot crashes immediately after returning the text spoken at microphone. Same behavior on chrome or firefox browser on desk

[2020-04-03 00:59] corinagum commented on #3070
(Incorrectly moved instead of transferred. Please see #3071)

[2020-04-03 00:59] #3070 closed

[2020-04-03 03:00] gtejeda opened #3072 "Webchat Speech Services in Spanish"
🚨 The issue tracker is not for implementation questions 🚨

Greetings guys,
I managed to connect my bot to speech services, however, I'm trying to get it to recognize and speak Spanish, but it is still sending en-US to cognitive services (sample url:
wss://eastus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1?language=en-US&format=detailed&Authorization=eyJhbGciOiJodH

[2020-04-03 03:54] compulim commented on #3011
Done.

[2020-04-03 03:54] #3011 closed

[2020-04-03 03:58] compulim commented on #3010
The YAML trigger is ready to merge. But we want to wait until everything looks good. Otherwise, merging the YAML will trigger the test, and if the test is not 100% ready yet, it will block the IC3 adapter PR.

[2020-04-03 04:00] compulim commented on #3043
Almost there. The deployment is currently done in the CI (build) pipeline, we need to move the deployment part to the CD (release) pipeline and it should be good.

[2020-04-03 04:02] shakil-san commented on #3071
@corinagum thank you for your reply. Apologies for my ignorance. I am not sure how to check the web chat version. I did go to my chat bot channels->Web chat but did not see any meta tags there. I have created this bot just 3 days back, if it helps.

Also to further investigate, I did create another simple Echo chat bot and integrated it with my HTML page similar to previous one and that integratio

[2020-04-03 11:49] narik1989 opened #3073 "Placeholder of input text box"
Is it possible to change the default placeholder text in sendbox to a custom text of my choice like the screenshot attached?

Thanks in advance.

![image](https://user-images.githubusercontent.com/33231617/78357545-47b5d380-75cf-11ea-873d-00c2ec81ebd7.png)

[2020-04-03 14:27] ggetty opened #3074 "Specific Locale passed into webchat is not being sent to Bot service. (HealthBot)"
## Screenshots

## Version
https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.gzip.js

## Describe the bug
Looks as though if I pass in a locale "es-US", it will send "es-ES" to the HealthBot service when posting activities. It seems the chatbot js only supports es-ES as a locale for it's strings and then therefore sending on this locale to the service. It'd be ideal that the loc

[2020-04-03 14:33] compulim commented on #3073
Yes, please look at our docs on how to override strings here, https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/LOCALIZATION.md#overriding-localization-strings.

Excerpt:

[code]

[2020-04-03 14:33] #3073 closed

[2020-04-03 14:38] compulim opened #3075 "Accessibility: screen reader repeat timestamp multiple times"
## Version

`4.8.0`

## Describe the bug

Some usability on screen reader:

- Screen reader repeat timestamp multiple times
- There is no clear association between the activity text, and its attachment

## Steps to reproduce

1. Turn on Windows Narrator with either Chrome 80 or Edge 80+
1. Type "Hello" to the bot
1. Bot to send a hero card with buttons, in an activity with text

## Expected behavi

[2020-04-03 14:52] compulim opened #3077 "Test: automate accessibility by implementing text alternative computation"
## Feature Request

Implement "text alternative computation" according to W3C, https://www.w3.org/WAI/PF/aria-1.1/roles#textalternativecomputation.

Then, in our test, we can write the following to automate testing for accessibility and reduce regressions:

[code]

[Enhancement]

[2020-04-03 15:47] cwhitten commented on #3032
@bhushanvadgave your scenario appears to be an advanced implementation of the WebChat control that go beyond the scope of our supported samples and documentation. However, I'd guide you to peek into the [Bot Framework Emulator's](https://github.com/Microsoft/BotFramework-Emulator) source code to see how it loads data into the chat control based off of a transcript. It is also React-based and could

[2020-04-03 15:47] #3032 closed

[2020-04-03 16:13] gtejeda commented on #3072
I managed to get the voice speaking proper spanish now,

When I speak to the microphone, it is still recognizing only english, so all I need to do is overwrite browser locale, so that spanish is properly understood, instead of english and that's it :D :D

anybody?

[2020-04-03 16:46] narik1989 opened #3078 "Read More text ability"
Is there a feature in bot chat where the text content is limited to certain characters, post that limit show small link like Read More... or Show More...

Thanks in Advance

[2020-04-03 17:47] #2562 closed

[2020-04-03 18:47] corinagum commented on #3078
There is no feature to this effect. My suggestion would be to investigate using middleware to add this functionality yourself.
https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.custom-components/e.card-components

'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions y

[2020-04-03 19:29] corinagum commented on #3061
Feel free to also take a look at this sample: [`core-bot`](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/13.core-bot/Dialogs/BookingDialog.cs#L43)

[2020-04-03 20:31] compulim commented on #3072
@gtejeda you should set the `locale` prop when calling `renderWebChat`.

For example, I am setting it to `zh-HK` and both speech recognition and synthesis is done in Cantonese (my native oral language in Hong Kong).

[code]

I also verify the network traffic send to Cognitive Services is using correct locale. The network trace below is for STT (speech-to-text, a.k.a. speech recognition).

![image]

[2020-04-03 20:42] gtejeda commented on #3072
WOW @compulim, I had seen this very sample in the docs, tried it and it didn't work... it appears I tested it incorrectly, because I simply added it and it worked perfectly now.
🤦‍♂

Really appreciate your work guys,
keep up the good job!
G

[2020-04-03 20:42] #3072 closed

[2020-04-03 21:11] shakil-san commented on #3071
@corinagum  Thanks for your help

Here is the output from browser console. It seems to be 4.8.0 version

<meta name="botframework-directlinespeech:version" content="4.8.0">↵<meta name="botframework-webchat:bundle:variant" content="full">↵<meta name="botframework-webchat:bundle:version" content="4.8.0">

[2020-04-03 22:27] #3075 closed

[2020-04-03 23:03] corinagum commented on #3071
I am able to reproduce this issue with a QnA bot that has DLS set up. We will need to investigate the cause.

@compulim can we get your eyes on this?

[2020-04-03 23:06] compulim commented on #3071
Will investigate this.

[2020-04-03 23:25] corinagum commented on #3071
@shakil-san, when your bot sends an activity back to DLS, is it setting the `speak` tag on the activity?

In sample 11, the bot sends an activity without first setting the `speak` tag:

[code]

([link](https://github.com/microsoft/BotBuilder-Samples/blob/fd27860bc754528dc180bbd023f9411d1eb1bc35/samples/javascript_nodejs/11.qnamaker/bots/QnABot.js#L46-L50))

When DLS receives an activity without a

[2020-04-03 23:40] shakil-san commented on #3071
@corinagum Thanks for the details. It makes sense. However I am wondering how would I send the speak tag when I am using basic version of  chatbot without sending or receiving the audio stream. Please pardon my ignorance here, as I am learning it newly. Is it that I need to copy latest QnABot.js from sdk, make change to it as you suggested, put it in my root folder where I am using my bot and incl

[2020-04-04 00:38] compulim commented on #3071
Sorry we are not expert at QnA Maker. Let me grab someone from support team and see if they can help you.

[2020-04-04 01:32] compulim commented on #2905
Should add CSS style [`unicode-bidi`](https://developer.mozilla.org/en-US/docs/Web/CSS/unicode-bidi) to the file name:

[code]

[2020-04-04 15:04] Amintasn commented on #3061
Spot on Corina!
Working perfectly now.
Thanks a million for your help!
Take care.

[2020-04-04 15:04] #3061 closed

[2020-04-04 17:08] AndreMantas commented on #3037
@tdurnford any news?

[2020-04-04 21:18] jbgh2 commented on #3064
Maybe of future use to somebody else:
The error was because I didn't have app id and password setup in my appsettings.json.
The emulator will happily connect (if you don't set the app_id or app password in the tool) but webchat requires authentication.

[2020-04-04 23:30] shakil-san commented on #3071
Thank you @compulim .
@stevkan please let me know how I would need to send the speak property to the speech service in the simple html bot I have built (as I mentioned in my previous comment). I am not able to find a way to do that online. Thanks in advance

[2020-04-06 04:34] narik1989 commented on #1846
Hi,

Can this sample be implemented in a normal HTML web chat, in the below sample?

https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/a.full-bundle

If we could can anyone please share the code.

Thanks

[2020-04-06 13:07] corinagum commented on #2886
Dupe of #3079?

[2020-04-06 13:13] manish-95 commented on #3036
@compulim Is this using React Hooks?

[2020-04-06 18:04] arnab-chatterjee-jdas commented on #3046
Any fix for this bug yet?

[2020-04-06 18:09] corinagum commented on #3046
No change. globalizejs has not yet responded to the bug filed on their repo. Please track https://github.com/globalizejs/globalize/issues/895 for updates.

[2020-04-06 18:15] arnab-chatterjee-jdas commented on #3046
Thanks for the workaround @compulim

[2020-04-06 21:24] compulim opened #3080 "Accessibility: A11y_Live Chat Widget_Upload File_Keyboard: When we try to move the mouse to the tool tip then the tool tip disappears."
[1750218_A11y_Live Chat Widget_Upload File_Keyboard.zip](https://github.com/microsoft/BotFramework-WebChat/files/4440862/1750218_A11y_Live.Chat.Widget_Upload.File_Keyboard.zip)

 “Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

Environment Details:

Application Name: Live Chat Widget

#URL:https://xxx.blob.core.windows.net/po

[2020-04-07 03:43] ericmaino opened #3081 "Accessibility: Everytime a response button is selected, there is a focus loss. Pressing tab forces the user to start from the first actionable link on the top of the Health Bot (in our case call 911)."
![image](https://user-images.githubusercontent.com/1005609/78627762-25c68600-7847-11ea-9d72-cff4ab3a9e6b.png)

**Actual**
Select “I Accept” or “Yes” or “No” button. There is a focus loss. Actually the focus is on the Health Bot container (as shown in Red rectangle below) but is not visible. Pressing tab brings the focus to call 911 link at the top of the chat window.

**Expected**
 The focus shoul

[2020-04-07 03:49] ericmaino opened #3082 "Accessibility: The questions and their response buttons should be grouped with <fieldset> and <legend>"
![image](https://user-images.githubusercontent.com/1005609/78628091-13008100-7848-11ea-9549-42c2d5c0a002.png)

**Actual**
A screen reader user with tab navigation just hears the response values such as “Yes” or “No” without hearing the question.  A screen reader user has to use arrow keys to read the corresponding question which is not a desired experience.

**Expected**
Use <fieldset> and <legend

[2020-04-07 03:51] ericmaino opened #3083 "Accessibility: [Screen Reader]: The state of the button (selected or not) is not programmatically associated with the response buttons."
![image](https://user-images.githubusercontent.com/1005609/78628200-5a870d00-7848-11ea-8dd6-7d9d81990cf5.png)

**Actual**
A screen reader user does not know which response button (Yes or No) is selected. He has to come out of the response button group and read the next line of text to get that information

**Expected**
The state of the button should be programmatically associated using aria-checke

[2020-04-07 03:53] ericmaino opened #3084 "Accessibility: [Screen Reader]: Selecting spacebar/enter when the screen reader focus is on container response options, always selects the first response"
![image](https://user-images.githubusercontent.com/1005609/78628310-a3d75c80-7848-11ea-8e9f-07364016905e.png)

**Actual**
With JAWS ON and keyboard tab navigation, notice that the screen reader focus comes to “response container”. JAWS announces all the responses/answers one after the other and then says “press spacebar to select”. When user enters spacebar always the first option is selected.  (s

[2020-04-07 03:56] ericmaino opened #3085 "Accessibility: [Keyboard] Focus loss after pressing "Tab" from Health Bot bar."
![image](https://user-images.githubusercontent.com/1005609/78628461-0cbed480-7849-11ea-84ba-552e52c12c1f.png)

**Expected**
After pressing Tab from Health Bot address bar  (kphelpbot.azurefd.net), the focus should come to first actionable element in DOM which is call 911

**Actual**
The focus is not visible and is present on the non-actionable container (highlighted by red rectangle in the screens

[2020-04-07 03:57] ericmaino opened #3086 "Accessibility: The keyboard focus comes to container element of button groups and are no-op when activated by pressing enter or spacebar."
![image](https://user-images.githubusercontent.com/1005609/78628634-8f479400-7849-11ea-9fec-754c3dbe4d18.png)

**Expected**
The keyboard focus should come to actionable elements which can be invoked by pressing enter/spacebar. There should be no tab stop on non-actionable elements. They should be removed from tab order.

**Actual**
The keyboard focus is present on container element which contains

[2020-04-07 04:03] ericmaino opened #3087 "Accessibility: The highlighted links below does not indicate whether they are internal or external links and whether they open in new window or not"
![image](https://user-images.githubusercontent.com/1005609/78628707-cd44b800-7849-11ea-8dfa-33ac39e93913.png)

**Actual**
In LHS screenshot.
- The first link is internal link and opens in a new window. There is no title attribute = “opens in a new window”. Also “opens in a new window” icon is not present.
- The second and third links are external links and opens in a new window. There is no title

[2020-04-07 04:05] ericmaino opened #3088 "Accessibility: Keyboard: Focus is not clearly visible on I Accept button"
![image](https://user-images.githubusercontent.com/1005609/78628849-565bef00-784a-11ea-8fbd-7cbeace102e4.png)

**Actual**
The focus is not clearly visible when “I Accept” button gets focus.

**Expected**
A thick focus rectangle is required for “I Accept” response button similar to other response buttons (see screenshot on right).

**WCAG Violation**
SC 2.4.7:  Focus Visible
https://www.w3.org/TR/U

[2020-04-07 04:09] ericmaino opened #3089 "Accessibility: [Screen Reader ]: The list of <ul> and <li> structure should be improved."
![image](https://user-images.githubusercontent.com/1005609/78629061-d7b38180-784a-11ea-8453-f92792151b9e.png)

**Actual**
Visually there is  one list with 2 list items but programmatically it is coded as 2 lists with 1 list item

**Expected**
`The programmatic structure should be <ul> <li>  <li>  </ul>    (instead of <ul> <li>  </ul>     <ul>  <li>  </ul>)`

**WCAG Violation**
Info and Relationshi

[2020-04-07 04:11] ericmaino opened #3090 "Accessibility: [Screen Reader]: remove unwanted aria roles such as aria-label"
![image](https://user-images.githubusercontent.com/1005609/78629201-32e57400-784b-11ea-8a47-f5b07992fda4.png)

**Actual**
aria-label is un-necessarily added in markup

**Expected**
As inner text highlighted in “green” is present, aria-label is not needed.

**WCAG Violation**
Parsing 4.1.1
https://www.w3.org/TR/UNDERSTANDING-WCAG20/ensure-compat-parses.html

[2020-04-07 12:51] pkrishnagithub opened #3091 "customize 'Sending' message displayed when user sends a question to bot"
need an idea how to customize this or would like an enhancement in node_modules\botframework-webchat-component\lib\Activity\SendStatus.js

at var localizedSending = (0, _Localize.localize)('Sending', language);
[SendStatus.txt](https://github.com/microsoft/BotFramework-WebChat/files/4444375/SendStatus.txt)

[2020-04-07 13:17] tamerin-tech opened #3093 "Adaptive Card with hyperlink is not rendered correctly on SharePoint"
On the bot emulator /webchat it is being rendered correctly, but on SharePoint integration it appears all as text:

![image](https://user-images.githubusercontent.com/24475275/78673214-1c3e2c00-78e2-11ea-8764-8368bd56e1ee.png)

I send the card as using MessageFactory.Attachment(..)
and the same issue appear also for the QnAMakerDialog class, when the answer contains formated hyper link [text](link

[2020-04-07 16:45] shakil-san commented on #3071
@stevkan @corinagum @compulim  Can you please help as I am still stuck with this issue.

[2020-04-07 17:16] compulim opened #3092 "Accessibilty: logical grouping of activity should be role="group" instead of "region""
https://github.com/microsoft/BotFramework-WebChat/commit/2b77811796e3fcee769140ba54829df7db8f7f11

![image](https://user-images.githubusercontent.com/1622400/78699526-e59feb80-78b8-11ea-8d4b-7763ea104723.png)

[2020-04-07 17:21] corinagum commented on #3081
These are accessibility issues of v3 of Web Chat, which has been deprecated and we no longer support unless there are security risks. For accessible Web Chat, please [migrate to v4](https://github.com/Microsoft/BotFramework-WebChat#migrating-from-web-chat-v3-to-v4).

Additionally, these have already been discussed internally. Is there a reason why they are being filed now?

[2020-04-07 17:21] #3081 closed

[2020-04-07 17:21] corinagum commented on #3082
These are accessibility issues of v3 of Web Chat, which has been deprecated and we no longer support unless there are security risks. For accessible Web Chat, please [migrate to v4](https://github.com/Microsoft/BotFramework-WebChat#migrating-from-web-chat-v3-to-v4).

[2020-04-07 17:21] #3082 closed

[2020-04-07 17:21] corinagum commented on #3083
These are accessibility issues of v3 of Web Chat, which has been deprecated and we no longer support unless there are security risks. For accessible Web Chat, please [migrate to v4](https://github.com/Microsoft/BotFramework-WebChat#migrating-from-web-chat-v3-to-v4).

[2020-04-07 17:22] corinagum commented on #3084
These are accessibility issues of v3 of Web Chat, which has been deprecated and we no longer support unless there are security risks. For accessible Web Chat, please [migrate to v4](https://github.com/Microsoft/BotFramework-WebChat#migrating-from-web-chat-v3-to-v4).

[2020-04-07 17:22] #3084 closed

[2020-04-07 17:22] corinagum commented on #3085
These are accessibility issues of v3 of Web Chat, which has been deprecated and we no longer support unless there are security risks. For accessible Web Chat, please [migrate to v4](https://github.com/Microsoft/BotFramework-WebChat#migrating-from-web-chat-v3-to-v4).

[2020-04-07 17:22] #3085 closed

[2020-04-07 17:23] corinagum commented on #3086
These are accessibility issues of v3 of Web Chat, which has been deprecated and we no longer support unless there are security risks. For accessible Web Chat, please [migrate to v4](https://github.com/Microsoft/BotFramework-WebChat#migrating-from-web-chat-v3-to-v4).

[2020-04-07 17:23] #3086 closed

[2020-04-07 17:23] corinagum commented on #3089
These are accessibility issues of v3 of Web Chat, which has been deprecated and we no longer support unless there are security risks. For accessible Web Chat, please [migrate to v4](https://github.com/Microsoft/BotFramework-WebChat#migrating-from-web-chat-v3-to-v4).

[2020-04-07 17:23] #3089 closed

[2020-04-07 17:25] corinagum commented on #3088
These are accessibility issues of v3 of Web Chat, which has been deprecated and we no longer support unless there are security risks. For accessible Web Chat, please [migrate to v4](https://github.com/Microsoft/BotFramework-WebChat#migrating-from-web-chat-v3-to-v4).

[2020-04-07 17:25] #3088 closed

[2020-04-07 17:25] corinagum commented on #3087
These are accessibility issues of v3 of Web Chat, which has been deprecated and we no longer support unless there are security risks. For accessible Web Chat, please [migrate to v4](https://github.com/Microsoft/BotFramework-WebChat#migrating-from-web-chat-v3-to-v4).

[2020-04-07 18:05] amir-microsoft commented on #3074
Hi @compulim, I think xx-YY won't cover all cases, and combinations like XX-yy should also be accepted.
Take a look at this answer from stackoverflow:
[https://stackoverflow.com/a/48300605](https://stackoverflow.com/a/48300605)

[2020-04-07 18:08] corinagum commented on #3071
@stevkan please take a look

[2020-04-07 18:58] stevkan commented on #3091
@pkrishnagithub, there is a sample that already demonstrates how you can changes like this. The sample is [05.custom-components/g.activity-status](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.custom-components/g.activity-status/) and should meet your needs.

Please note, at this time, the "Try the MockBot" link is broken, but should be fixed before too long.

I'm closin

[2020-04-07 18:58] #3091 closed

[2020-04-07 18:59] psaeuerl commented on #3038
Thank you for your reply!

Our UX Designer also requested to have a change in the send button when hovering.
Do you recommend implementing this via css or via the idosyncratic manual styling (overriding createstylesets)?
Which one is less likely to break?

[2020-04-07 19:07] tdurnford commented on #3038
I'd recommend the idosyncratic manual styling - it is the least likely to break of the two options.

[2020-04-07 19:08] psaeuerl commented on #3038
Thanks!

[2020-04-07 19:08] #3038 closed

[2020-04-07 19:17] compulim commented on #3074
Hi @amir-microsoft. Sorry, for `xx-YY`, I mean, it is one of the below, official from Unicode consortium, including multiple formats, e.g. `zh-Hans-HK`, `agq`, `vai-Latn`.

[code]

[2020-04-07 19:59] compulim commented on #3093
@tamerin-tech can you use Web Chat v4?

The transcript you are showing is using Web Chat v3 and it's on maintenance mode.

[2020-04-07 20:30] tamerin-tech commented on #3093
I cannot change it. I found a workaround by adding a middleware that replaces the formatting
`[text](url)`
 to
`<a href="url">text</a>`
and now it renders fine. Closing issue

[2020-04-07 20:30] #3093 closed

[2020-04-08 04:49] amir-microsoft commented on #3074
Thanks @compulim ,
Can you share where this list is coming from?
looks like common locales are missing (like he-IL).
Also, we see cases of using lower case for the country code, and from the docs, it seems to be permitted - https://stackoverflow.com/a/48300605
any reason why lower case for country code won't be allowed?

[2020-04-08 13:35] stevkan commented on #2998
@xakpc, thank you for your patience. I've continued to try to repro your issue using the web chat index.html file you provided as well as the "BotFramework.Reproduce" project files. The index.html works well enough, however I'm struggling some little bit with the project. For some reason I have yet to figure out, I can't get the bot to recognize any activity is being passed to it.

I'll continue t

[2020-04-08 14:02] stevkan commented on #3071
@shakil-san, thank you for you patience. I apologize for the delay. I thought I had posted a message advising I was researching this, but apparently not. I have been looking this over while trying slight variations in the code in order to get the speech to initialize correctly. First, in my own testing, the error you are receiving will go away if the initial activity sent from the bot following sp

[2020-04-08 17:34] shakil-san commented on #3071
Thanks for the response @stevkan. Your explanation makes sense. However what I am not able to understand clearly is, if I am using QnA chat bot in my simple HTML page with boilerplate code like below, where would I set the speak property in this scenario? As I am a bit new to chatbots I am not able to understand that part

 (async function() {
      const adapters = await window.WebChat.createDire

[2020-04-08 21:29] kmkaliraj commented on #3046
I am also stuck with the same issue? May know when the fix will be ready?

[2020-04-08 23:54] compulim commented on #3074
In Unicode CLDR, `he` is `he-IL`. Similar to `en` is in the list but not `en-US`.

When you pass `he-IL`, we will pass `he-IL` to the bot. But when we try to format date and units using `he-IL`, we will normalize it into `he` before resolve.

This list downloaded by [`cldr-data` package](https://npmjs.com/package/cldr-data) of version 36.

[2020-04-09 01:14] compulim commented on #3080
## Repro steps

1. Move the mouse on upload button
1. Wait until tooltip appear
1. Move the mouse over tooltip

### Expected

Tooltip to continue "hoverable".

[2020-04-09 01:16] compulim commented on #3080
According to MAS 1.4.13, browser tooltip is an exception to this rule.

![image](https://user-images.githubusercontent.com/1622400/78847905-05bcd100-79c5-11ea-98a6-44be1bcb1e6a.png)

[2020-04-09 01:37] compulim commented on #3052
This should be fixed in #3076.

[2020-04-09 01:40] compulim commented on #3055
Repeated narration of timestamp is fixed in PR #3076.

I think this is dupe of #3052

[2020-04-09 01:43] compulim commented on #3053
The issue mentioned this aria attribute, `aria-labelledby="webchat__toaster__header__crqlh"`.

Will need to investigate, but the value in `aria-labelledby` should be an ID of the element, which will probably be a random string.

Will investigate if the issue is talking about the element referenced by `aria-labelledby` is missing, or if that element contains no good alt text.

[2020-04-09 04:42] ericmaino commented on #3090
@corinagum Yes the photos were against v3, however this issue is still present in v4. Please re-open this bug for tracking and tag with Accessibility

[2020-04-09 06:26] compulim commented on #3043
Done.

[2020-04-09 06:26] #3043 closed

[2020-04-09 06:26] compulim commented on #3045
Done.

[2020-04-09 06:26] #3045 closed

[2020-04-09 06:46] compulim commented on #3010
Done, merged #11538.

[2020-04-09 06:46] #3010 closed

[2020-04-09 13:12] Bradrajkumar opened #3094 "how to send the current activity text where feedback button clicked"
hi all,

i need a workaround to send the bot response , UTC time and userID on which user have clicked thumbs up or thumbs down. i am newbie in react so not having much idea.
i am not getting how to put the text of the activity where user clicked the button.

FYI
i am using react webchat.
![Annotation 2020-04-09 184048](https://user-images.githubusercontent.com/34365788/78898600-b1335780-7a91-11ea

[2020-04-09 13:50] #3094 closed

[2020-04-09 13:50] Bradrajkumar commented on #3094
got something by doing workaround.

[2020-04-09 17:01] compulim commented on #3049
This is dupe of #3050.

[2020-04-09 21:50] beyackle commented on #3074
I think the standard way to do a fallback is to just drop the country code entirely. If we don't support `es-US`, then the next language we should look for is just `es`, not necessarily `es-ES`. If it can't find `es` without a country code, then that's a problem - I don't know if there's a policy about this, but I'd expect every language to have a sensible default when the country code is unspecif

[2020-04-09 21:52] compulim commented on #3074
We have this fallback logic in-place already in `normalizeLanguage.js`.

But we do this fallback too early, so the bot is not receiving `he-IL`, but only `he`. I have a PR up, so we are passing the locale as-is to the bot, even it is an invalid locale.

[2020-04-09 22:31] ericmaino commented on #3089
Confirmed this has been address in v4

[2020-04-09 23:21] ericmaino commented on #3087
This issue is still present in v4. I'll investigate and propose submit a PR with a fix

[2020-04-09 23:58] compulim opened #3096 "Accessibility: Use <ScreenReaderText> in favor of aria-label"
## Version

`4.8.0`

## Describe the bug

Support of `aria-label` in screen reader varies. It seems working when assigning to `role="section"`, but not when `role="group"`.

For texts that are intended for screen reader, we should use `<ScreenReaderText>` for offscreen rendering, instead of `aria-label`.

## Steps to reproduce

1. Turn on narrator
1. Type "card breakfast" to the bot
1. Press <kbd>

[2020-04-10 03:42] #3074 closed

[2020-04-10 15:42] bencrabtree commented on #3046
I am not using globalize but am getting the same error since upgrading to 4.8.0. The error traces back to our custom middleware for webchat's store. Our intended behavior is to use the avatar middleware to render custom avatars for multiple users. Full error is documented below:

`number.js:579 Uncaught TypeError: numberToPartsFormatter is not a function
    at Object.numberFormatter (number.js:57

[2020-04-10 17:12] #3096 closed

[2020-04-10 18:32] compulim commented on #3050
Waiting for Charlie to provide a draft implementation on the fix.

[2020-04-10 18:34] compulim commented on #3057
Maybe related to LCW, need to confirm with Charlie.

[2020-04-10 18:37] compulim commented on #3056
## Repro steps:

1. In LCW, upload a file larger than 5 MB, then click Upload
2. LCW will pop up a notification saying this file is too big

### Expected

User focus should move to the dismiss button on the notification.

### Actual

User focus is not moved.

## Additional context

Since the notification toast is *not modal*, we are not moving the focus over there.

We need to look at WCAG/MAS rec

[2020-04-10 18:57] compulim commented on #3054
![image](https://user-images.githubusercontent.com/1622400/79015662-1898e800-7b22-11ea-9632-3deb714ce023.png)

![image](https://user-images.githubusercontent.com/1622400/79015752-4716c300-7b22-11ea-93c4-320dc20fdfb1.png)

![image](https://user-images.githubusercontent.com/1622400/79015816-66155500-7b22-11ea-8729-9b06fce89ddb.png)

We should remove `aria-labelled-by` by when the element it is refer

[2020-04-10 18:58] compulim commented on #3051
This is dupe of #3054.

[2020-04-10 18:59] compulim commented on #3048
Waiting for Charlie to provide a draft implementation on the fix.

[2020-04-10 18:59] compulim commented on #3050
This is dupe of #3048.

[2020-04-10 19:01] compulim commented on #3053
This is dupe of #3054.

[2020-04-10 20:03] compulim commented on #3081
The "I Accept text highlighted in green below" you mentioned is not a clickable nor interactive element. Thus, it is not focusable. We do not expect the user to click on the "I Accept text highlighted in green below".

Thus, there are only 3 things left focusable in your screenshot:

- "call 911" link
- "Terms & Conditions" link
- "Privacy Statement" link

And the first one is "call 911", which is

[2020-04-10 20:04] compulim commented on #3082
This is fixed in #3076.

[2020-04-10 20:05] compulim commented on #3083
This is a bug on Adaptive Cards.

The content author is creating those buttons using hero card, which is rendered through Adaptive Cards.

@corinagum can you find the AC bug and associate this with it?

[2020-04-10 20:06] compulim commented on #3084
This is a bug on Adaptive Cards.

The content author is creating those buttons using hero card, which is rendered through Adaptive Cards.

@corinagum can you find the AC bug and associate this with it?

[2020-04-10 20:09] compulim commented on #3085
This should be fixed in Web Chat v4.

[2020-04-10 20:33] compulim commented on #3086
This is a bug on Adaptive Cards we talked recently.

The AC card (gray bubble in your screenshot) can be set to be clickable. I mean, the whole card can be set to clickable.

If the card is clickable, it should be focusable.

Unfortunately, there is a bug in AC that even the card is not clickable, it is continued to be focusable. That is the term "rogue tabindex" we used in our offline chat.

Thus

[2020-04-10 20:34] compulim commented on #3087
In Web Chat v4, all links will be opened externally in a new tab. Please let us know if this is not true.

[2020-04-10 20:35] compulim commented on #3088
This is the styling of Adaptive Cards. Please contact their team for improving focus indicator.

[2020-04-10 20:37] compulim commented on #3090
This is related to Adaptive Cards.

The content author is creating the bubble content (with 3 buttons) using hero card, which is then rendered by the Adaptive Card library. As you see, the `class` are prefixed with `ac-`, it means Adaptive Cards.

Please contact the Adaptive Card team for this issue.

[2020-04-10 20:37] #3090 closed

[2020-04-10 20:43] compulim commented on #3084
I believe this is because the AC card container is focusable, when it shouldn't be.

In our offline chat, we refer to this phenomena as "rogue tabindex=0". Will file a bug to AC and link it here.

[2020-04-10 20:50] compulim commented on #3083
Although the button looks like a fork in an intersection (if "yes", go to step 1, if "no" go to step 3), the actual design of the button was a single action. These actions are designed to be okay to trigger/click multiple times. It's not a one-off. Thus, the button is not like a radio button or toggle button.

I think the content author should use suggested actions instead. Suggested actions is a

[2020-04-10 21:02] compulim commented on #3088
This is fixed in v4.

![image](https://user-images.githubusercontent.com/1622400/79022901-da0c2900-7b33-11ea-9e08-e62519e217dc.png)

[2020-04-10 21:07] compulim commented on #3090
I have filed bug https://github.com/microsoft/AdaptiveCards/issues/3916 to Adaptive Cards team. Please track there.

[2020-04-12 07:37] compulim commented on #3056
According to WAI-ARIA, we should not move the focus, https://www.w3.org/TR/wai-aria-practices/#alert.

The notification toast is providing a time-sensitive but not workflow interrupting experience. We are not implementing alert dialog experience (a.k.a. modal), thus, we should not change focus.

[2020-04-13 07:56] Kumar3010 opened #3099 "Adaptive Card - Speak tag"
speak tag is not working when set in the content of the json schema of an adaptive card. ~~also we have a scenario where a drop down has to be selected and click on submit. if user just says submit, action is being submitted but the value from the drop down is going as null.~~
any thoughts.
the sample adaptive card is as follows:-
![image](https://user-images.githubusercontent.com/42348194/7910352

[2020-04-13 18:28] jriley15 opened #3101 "Check if web chat has received conversation history from directline"
I'm currently working on a feature for my companies react app where we want a search bar on the landing page of the site to enter a message into the botframework-webchat component. The problem I'm running into is that in some scenarios the webchat hasn't been rendered yet - so I'm looking for some sort of redux action or directline event that I could tap into with middleware that would most reliab

[2020-04-13 19:37] JorgeCupiV commented on #3087
While they open externally, there's still a need for the title property to show that the link is being open externally.

[2020-04-13 23:46] cwhitten commented on #2850
@compulim to look at suggested actions and focus management on other channels in mobile environments (teams, facebook, etc)

[2020-04-14 07:12] Bradrajkumar opened #3102 "customize and brand the feedback option in react webchat putting on html"
hi all,

i have used the feature of feedback and added in suppose(file.html). as onclick of feedback button it is giving the response but i want to make it more rich in look and feel like :- onclick of thumbs up color of thumbs up changes to green and on click on thumbs down color changes to red.
basically i am trying to manipulate these things using jquery but no changes is reflecting.

please pr

[2020-04-14 17:41] compulim commented on #3102
How are you rendering the thumbs up/down button? Are you using Adaptive Cards or hero card?

You should not use JavaScript or jQuery to manipulate our component. It will corrupt our component.

[2020-04-14 17:46] v-kydela commented on #3101
Thank you for the question, @jriley15

Can you explain when you say "webchat has received the initial conversation history from directline"? Are you talking about some kind of welcome message, or is your Web Chat resuming a conversation in progress when they had already been talking to the bot? Is the bot sending the transcripts to Web Chat using [Send Conversation History](https://docs.microsoft.

[2020-04-14 19:57] jriley15 commented on #3101
Yeah so we grab a token for the existing conversation (if the user had started a conversation already) with this [](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-reconnect-to-conversation?view=azure-bot-service-4.0#generate-a-new-websocket-stream-url) and pass that directline token to the webchat component which then receives the full transcripts af

[2020-04-14 21:11] Bradrajkumar commented on #3102
No, it seems like I haven't explained clearly. Hosting with react, the way
your team have provided, I am using the same way, even thumbs up and thumbs
down is also rendering.

But here my requirement is to place it just beside the timestamp and when
user clicks on thumbs up, the icon colour should change to green and if
user clicks on thumbs down , the icon colour should change to red.

Now here i

[2020-04-14 22:16] #3047 closed

[2020-04-14 22:17] #3053 closed

[2020-04-14 22:17] #3050 closed

[2020-04-14 22:17] #3051 closed

[2020-04-14 22:17] #3049 closed

[2020-04-14 22:17] #3080 closed

[2020-04-14 22:17] #3052 closed

[2020-04-14 22:18] #3055 closed

[2020-04-14 22:18] #3056 closed

[2020-04-14 22:19] #3054 closed

[2020-04-14 22:31] JorgeCupiV commented on #3081
I think the bug referred to the fact that when a user clicked on the "I accept" button at the example. And a new message arrived with or without new 'focusable' items, the focus was lost and set to the start point again instead of following the conversation.
However it looks like this was fixed on v4 as @corinagum mentions.

I'm attaching the next screenshots as examples:
Image 1. The focus is at

[2020-04-14 22:39] v-kydela commented on #1402
@compulim
@corinagum

![No display text](https://user-images.githubusercontent.com/41968495/79280596-95e79400-7e65-11ea-943a-817bbd62aa4e.png)

It looks like messageBack displayText is strangely only supported with suggested actions and not hero cards. Can this issue be reopened?

[2020-04-14 23:01] compulim commented on #3057
Close due to no repro.

[2020-04-14 23:01] #3057 closed

[2020-04-14 23:30] v-kydela commented on #3101
@jriley15 - I'm not sure how to reproduce your issue since I don't see your code, but here are a few things you can try.

1. If you want to respond to a Redux action like you said, you can try an action that fires when Web Chat connects like `DIRECT_LINE/CONNECT_FULFILLED` or `DIRECT_LINE/CONNECTION_STATUS_UPDATE` or `DIRECT_LINE/UPDATE_CONNECTION_STATUS`, you can try an action specifically associ

[2020-04-14 23:39] jriley15 commented on #3101
@v-kydela yes, this helps. Thank you.

[2020-04-14 23:39] #3101 closed

[2020-04-15 05:19] tdurnford commented on #3037
@AndreMantas It looks like you are using v4.7.1 of Web Chat. Can you please make sure you are using the latest version of Web Chat - v4.8.0. We made some changes to the default Adaptive Card host config in the last release. To determine what version of Web Chat you are running, open your browser's development tools, and paste the following line of code into the console.
[code]

## Web Chat v4.8.0

[2020-04-15 09:08] Bradrajkumar commented on #3102
i want one more feature to add up there, described below:-

onclick of thumbs up or thumbs down , i want to send the text message for which the feedback is given .

ex:- message bubble is having text as:- "hello how may i help you"
       The thumbs up and thumbs down is also added there.
       suppose user clicked on thumbs up and post activity is sending to the bot, postactivity should
       c

[2020-04-15 09:42] marcasmar94 commented on #1402
Any updates/workaround for making messageBack works on HeroCard/Adaptive cards buttons ?
Thank you

[2020-04-15 14:25] compulim opened #3103 "4.8.1 Release Checklist"
# Checklist

## Build

1. [x] ~Bump to Bot Framework SDK release 4.8.1 RC~
   - https://botbuilder.myget.org/feed/botbuilder-v4-js-daily/package/npm/botbuilder
   - We are releasing QFE 4.8.1, no need to bump
1. [x] Update `CHANGELOG.md` to mark specific changes in `4.8.1`
1. [x] Run `npm version --no-git-tag-version 4.8.1`
   - [x] Merged into `qfe`
   - Commit is `e640dc5`
   - Do not merge any

[2020-04-15 16:29] AndreMantas commented on #3037
As I posted [above](https://github.com/microsoft/BotFramework-WebChat/issues/3037#issuecomment-604703707) in the index.html snippet, I'm importing the latest version of webchat like this:
[code]

How else would I import it?

I dont think my problem is related to that because I always used v4.8

[2020-04-15 16:34] tdurnford commented on #3037
@AndreMantas Can you please try doing a hard refresh and check the version in the browser to confirm?

[2020-04-15 23:48] stevkan commented on #3102
@Bradrajkumar, assuming you are using the same implementation as the [d.reaction-buttons](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.custom-components/d.reaction-buttons) sample, you can achieve a basic form of this by use of the `ActivityStatusMiddleware()` .

The `ActivityStatusMiddleware()` allows you to attach the `BotActivityDecorator` option to the activity stat

[2020-04-15 23:48] #3102 closed

[2020-04-16 00:41] stevkan commented on #3099
@Kumar3010,

First, for the "drop down" question, can you please submit that as a separate issue. I'm going to strike out the text in your question, for clarity.

As for the adaptive card speak issue, can you please post the code you are using for the (1) adaptive card, (2) how you are sending the adaptive card in your bot, and (3) how you are implementing speech in your Web Chat code? Is this "we

[2020-04-16 06:15] thomas023 opened #3104 "Not able to edit Adaptive cards css(button orientation,title color) in React.js"
I'm creating a Bot application using React js and botframework-webchat. I want to change the title color and button orientation of adaptive cards. But i;m unable to do so. Every title in adaptive card is classified into a common class called p and button orientation is also not changing. Heard that i could try it using adaptive card hostconfig in npm but as i'm new to react i don't know how. How c

[2020-04-16 13:54] Jakob-vdH commented on #2427
+1

[2020-04-16 17:40] v-kydela commented on #3104
Hi @thomas023

When you say button orientation, do you mean you want the buttons do display horizontally? Did you follow the instructions here? https://github.com/microsoft/BotFramework-WebChat/issues/2034

I also found a more recent post that implies that you don't need to provide a whole new host config, and it seems to work: https://stackoverflow.com/questions/59382809/adaptivecards-hostconfig-

[2020-04-16 17:59] thomas023 commented on #3104
Hi @v-kydela Yes I want to change the placement of button from vertical to horizontal. And change the color of the Title text.

[2020-04-16 18:04] antondats opened #3105 "Is there any possibility to customize scrollToBottom button?"
Is there any possibility to customize scrollToBottom button? For example, changing the text message or counting of the unread new messages. Is it possible to configure this button in some ways except redefining styles?

[2020-04-16 18:12] axelsrz commented on #3036
Yes

[2020-04-16 18:14] axelsrz commented on #3036
Hey @manish-95 I'm closing this thread due to inactivity, if still experience this issue please feel free to open a new one.

[2020-04-16 18:14] #3036 closed

[2020-04-16 18:17] compulim commented on #3036
You need to write an activity renderer, which is not hook. But inside the renderer, you need to keep the state, which I would recommend using hooks. I believe it is not required to use hooks if you are not used to it, but it will simplify your code. All our samples are using hooks so it will be easier to copy code from our samples too. 😊

[2020-04-16 19:02] rp-dev opened #3106 "[Accessibility] [Keyboard]: Everytime a response button is selected, there is a focus loss and the focus is not visible on any elements in the group"
## Screenshot
![image](https://user-images.githubusercontent.com/50723361/79495762-f5ff4700-7fd9-11ea-8b8d-41b4c98f32ee.png)

2. Using keyboard tab arrive at "I Accept" button and select it.  Notice that it will show next question group.
3. Arrive at the next group and select "Yes".

## Actual

There is a focus loss.   Actually the focus is on selected button but the focus is not visible.
Pressing

[2020-04-16 19:03] rp-dev commented on #3106
It may be same as https://github.com/microsoft/AdaptiveCards/issues/2236 on adaptive cards but need someone to confirm and comment appropriately.

[2020-04-16 20:42] v-kydela commented on #3104
@thomas023 - Did you follow the instructions?

[2020-04-16 21:11] rp-dev opened #3107 "[Accessibility] [Screen Reader]: Multiple readouts of the first message of the chat."
## Screenshots

![image](https://user-images.githubusercontent.com/50723361/79506142-56968000-7fea-11ea-9fac-2a4edee0a6dd.png)

## Version

meta name="botframework-directlinespeech:version" content="4.8.0"
meta name="botframework-webchat:bundle:variant" content="full-es5"
meta name="botframework-webchat:bundle:version" content="4.8.0"
meta name="botframework-webchat:core:version" content="4.8.0"
m

[2020-04-16 23:36] dclaux commented on #1340
I have been looking at this today and here are my findings:
- The apparently desired behavior calls for removing the tab stop on the root card container
- That would indeed be a better for anyone that has no disability and is able read and see the card
- But removing that tab stop makes narrator not stop on the card, and thus not read it. That seems really bad to me when it comes to actual accessi

[2020-04-16 23:54] rp-dev commented on #3107
Did some investigation on this, if I use ericmai/accessibility branch, there is an 'aria-label' on parent div, specifically:
[code]
( with the _aria-label_ set, it makes sense to have child elements under this div with _aria-hidden=true_.)

That _aria-label_ is missing if I use health bot that uses released version of webchat which makes me feel that a 'certain change' is in the pipeline, though I

[2020-04-17 06:18] saikiran521 commented on #3099
On behalf of @kumar3010 am updating the example

Adaptive card for speak is :

{
    "type": "AdaptiveCard",
    "version": "1.0",
    "speak":"<s><select_timezone></s>",
    "body": [
        {
        }
  ]
}

In the dialog replacing the value of <select_timezone> as

StringBuilder stringBuilderJson = new StringBuilder(adaptiveCardPath);
stringBuilderJson.Replace("<select_timezone>", _responseMa

[2020-04-17 08:28] Bradrajkumar opened #3109 "send welcome message in react webchat"
hi all,

when i have implemented the webchat using react and also added the code for backchannel sending some data to the bot as event.
1. here i am facing a situation that event is not triggering at all.
2. if i am just typing something from webchat(not yet sent from webchat) it is triggering to
   OnMembersAddedAsync and reply is coming from bot.
3. one more thing i noticed that channel id is ad

[2020-04-17 11:10] PradipKumarDas opened #3110 "Mic Button Does Not Get Changed to Send Button when Started Typing"
## Version

Web chat being used is from CDN at https://cdn.botframework.com/botframework-webchat/latest/webchat.js.

## Describe the bug

As speech is being supported since long, I was expecting this behavior, but was surprised to see that it is not the case.  Basically when typing, the mic button is not getting changed to send button.

## Steps to reproduce

This could easy be reproduced by integ

[2020-04-17 16:52] compulim commented on #3110
This is by-design. We are working on a new UI/UX design for send box in #2211. The design is going to finish in R9 (~May) and going to implement it in R10 timeframe (~August).

@DesignPolice please consider this when working on #2211.

[2020-04-17 16:53] compulim commented on #3110
Sorry we couldn't make it sooner than we should have. I am closing this issue because it is (kinda) a dupe of #2211.

[2020-04-17 16:53] #3110 closed

[2020-04-17 17:08] compulim commented on #3109
### For your points

(Thanks for using point form, making it super easy to answer. 😉)

1. `conversationStart` activity may not send if the user ID is not "burnt" into the token.
   - Please follow instructions here to "burn" the user ID into the token, https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0
   - If no

[2020-04-17 17:09] #3109 closed

[2020-04-17 17:20] compulim commented on #3105
That's a good suggestion. We have another similar suggestions from internal team as well.

Let me sum it up:
- [P0] Save/restore scroll position
- [P1] Styling of new message button
- [P1] Configurable stickiness, currently is 0 pixels
   - That means, when the scroll view is 0 pixel from the bottom, it is consider sticky and will auto-scroll
- [P2] Scroll certain activity in the view
- [P3] Progr

[2020-04-17 17:25] compulim commented on #3104
1. Changing action orientation, https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/host-config#actionsconfig
1. I am unsure which host config rule to use, please look at the host config documentation to see
   - If there is not such rule, please file one to AC team, at https://github.com/microsoft/adaptivecards/issues

### Changing action orientation

![image](https://user-images.gith

[2020-04-17 17:25] #3104 closed

[2020-04-17 17:31] compulim commented on #3106
@rp-dev can you send me anything that I can test it on my side (thru Teams)? Either the following will work:

- Bot secret
- URL to the Web Chat page
- Instructions to setup a Health Bot

Then I can take a look and see if it is related to AC 2236 or not.

[2020-04-17 17:34] Bradrajkumar commented on #3109
hi @compulim ,

its quite confusing me to understand these.
1. Is react webchat is using the webchat as a channel or directline as a channel?
2. if react is using webchat as channel and i am using directline secret key on place of webchat secret key then how server side code will react for sending event(as  i am seeing that if i am sending the event activity from directline and non-react webchat t

[2020-04-17 17:45] compulim commented on #3107
![image](https://user-images.githubusercontent.com/1622400/79597811-cb73c380-8097-11ea-9ae2-a6a473fd4318.png)

If you expand the node above, you should see the AT-only text inside. And it should contains the text "Bot said, Based on your answers, it's likely ... Sent at April 17 at 10:45 AM.".

This is by-design: AT should read the node I marked, and ignore the (tree of) node you marked in red.

[2020-04-17 18:01] rp-dev commented on #3107
Got it, thanks. I am trying to test it with Jaws (the screen reader that customer is using) today and will respond with what I see. Thanks.

[2020-04-17 18:24] corinagum commented on #3107
@rp-dev side note, apologies in advance for any JAWS problems. Unfortunately we don't officially support it.

[2020-04-17 18:27] compulim commented on #3111
Tracking bug at https://github.com/microsoft/AdaptiveCards/issues/3829.

It is not fixed in `1.2.5`.

[2020-04-17 19:42] corinagum commented on #1340
@dclaux That's a really good point.

@awalia13, would you have time to look at this? Please let us know if we can close the issue on the AC repo as no-op, or if you have suggestions on another way to fix.

[2020-04-17 20:12] Lippy1m1 opened #3112 "WebChat SSO Enterprise returns Bad Request from token.botframework using ITSM skill"
Attempting to sign into the ServiceNow instance using SSO Enterprise webchat after authenticating it returns a request and doesn't allow me to interact with then skill using those credentials.

## Screenshots
![image](https://user-images.githubusercontent.com/22352324/79609387-a5b0e380-80c4-11ea-8fb3-d8439dafcbb9.png)

## Version
I am using the SSO Enterprise example 7.  Advanced Web Chat apps and

[2020-04-18 12:40] Bradrajkumar opened #3113 "send welcome message in react webchat"
hi all,

i am reopening this issue because i didn't get clarification.
please see this issue tracker link below and comment here.

https://github.com/microsoft/BotFramework-WebChat/issues/3109

[2020-04-19 04:57] #3113 closed

[2020-04-19 09:31] edemehmetcan commented on #2996
same issue. Need that feature. It is a huge accessibility issue....

[2020-04-20 02:13] PradipKumarDas commented on #3110
Thanks a lot. I am sure team will prioritize this because this is something customers will notice and report back for sure. We shall wait for this functionality to be available. And of course, I would like to thank each contributor of this web chat project for sharing so feature-rich and useful component with the world.

[2020-04-20 03:32] DesignPolice commented on #3110
Thanks William, yes we are doing some UX research into this now... it seems like such a simple thing, but it does require another level or two of interaction to make the experience as intuitive as possible.

thanks for the feedback PKD
m

[2020-04-20 09:17] feerrenrut commented on #3075
This is most likely a bug in Chrome / Edge. Please use Firefox.

[2020-04-20 11:47] vannela opened #3114 "How to navigate from a Bot to a URL within Host Application (ASP.NET Core MVC)"
🚨 The issue tracker is not for implementation questions 🚨

[Question]
ASP.NET Core MVC application hosts a bot using WebChat channel.
One of scenario is that a URL (that's part of my MVC application) is shown as a response within the bot. So on click of this URL in Bot, how to navigate to this URL within MVC application?

The expectation is that this navigation should be seamless and there shouldn

[2020-04-20 17:22] 1Copenut commented on #3107
@corinagum I have been testing this pattern for a couple of days in several browser + screen reader pairings, and wanted to follow up.

**Screen reader and browser pairings**
* JAWS + Chrome, IE11 on Win 10
* NVDA + Firefox on Win 10
* VoiceOver + Safari on MacOS Catalina
* VoiceOver + Safari on iOS

MacOS Safari + VoiceOver reads out each chat bubble three times when I navigate from point to poin

[2020-04-20 18:13] tonyanziano commented on #3112
@compulim can you please take a look at this issue? Thanks.

[2020-04-20 18:16] tonyanziano commented on #2998
Related to #3039

[2020-04-20 18:23] rp-dev commented on #3107
Agree with a comment above, seeing multiple readouts of the same text with focus not being at the appropriate place. Also starts reading the message with "_BotBot_ said..." which is confusing as to what is BotBot specially when the bot has a personality and announces its name in the first message.

[2020-04-20 18:38] awalia13 commented on #1340
Agreed with @dclaux. hence closing this bug.

[2020-04-20 18:49] tonyanziano commented on #3114
Hi @vannela ,

We don't use issues for asking / answering how-to questions. Please only open an issue for a bug or feature request.

Try looking through the following samples for an answer to your question:

https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api

If you are still having trouble, please ask your question on a help forum such as Stack Overflow.

[2020-04-20 18:49] #3114 closed

[2020-04-20 20:36] compulim commented on #3075
It's a bug on Chromium, https://bugs.chromium.org/p/chromium/issues/detail?id=1067257.

[2020-04-20 20:46] compulim commented on #3112
Need to find someone from service team. Maybe because our token service doesn't play nice with ServiceNow. The OAuth token exchange is being done on the token service.

[2020-04-20 21:16] 1Copenut commented on #2996
I feel like this one could be remediated by changing the following `tabindex="-1"` to 0:

[code]
I tested it locally using just a keyboard (no screen reader) and was able to set focus on the chat bot "container" then scroll inside the container using `DOWN_ARROW` and `UP_ARROW`.

There could be a need for this to be `tabindex="-1"` for cases where the chat bot is being embedded in an iframe or a p

[2020-04-20 21:27] compulim commented on #2997
Dupe of #3047.

This is related to a Chromium bug https://bugs.chromium.org/p/chromium/issues/detail?id=1067257 and an NVDA bug.

[2020-04-20 21:27] #2997 closed

[2020-04-20 21:29] compulim commented on #2999
Dupe of #3048.

[2020-04-20 21:29] #2999 closed

[2020-04-20 21:30] compulim commented on #3002
Dupe of #3048.

[2020-04-20 21:30] #3002 closed

[2020-04-20 21:35] compulim commented on #2996
`tabindex="0"` will make the non-interactive element focusable, which violated a rule in ARIA. So this approach is not possible.

[2020-04-20 21:39] compulim commented on #2996
For accessibility, in Windows Narrator, user can press <kbd>CAPS</kbd> + <kbd>N</kbd> to navigate to the landmark and then press <kbd>CAPS</kbd> + <kbd>DOWN</kbd> to start reading the transcript.

[2020-04-20 22:19] rp-dev commented on #3083
This still repros in customer environment after migrating to v4.

I understand @compulim's response above and however moving to suggested actions would be a change that needs to be taken with health bot team which I am following up on separately.

Note that in the health bot, no text entry is allowed, when user selects Yes, there is no bubble from user showing yes, the button is simply shown as se

[2020-04-20 23:24] rp-dev opened #3115 "[Accessibility][ScreenReader]: Links should be announced as links"
## Screenshot
![image](https://user-images.githubusercontent.com/50723361/79808648-4b618e00-8323-11ea-9315-eef08fbfdd88.png)

## Version
v4

## Describe the bug
The role "link" is not announced.

## Steps to reproduce

JAWS reads " Terms and Conditions"  (without link).

## Expected behavior
JAWS should read "Terms and Conditions link".
Note:  Same is noticed for  "Privacy Statement"  link.

[Bug]

[2020-04-20 23:25] compulim commented on #2876
Repro the first case on 4.8.0.

Cannot repro the second case, `'displayText' of undefined` error.

[2020-04-20 23:30] rp-dev opened #3116 "[Accessibility][ScreenReader]: Screen reader does not read correctly when using keyboard arrows to navigate from link back to text."
## Screenshots

![image](https://user-images.githubusercontent.com/50723361/79808961-2ae60380-8324-11ea-8767-9311461d6e9d.png)

## Version
v4

## Describe the bug

When user arrives at a link, press "up arrow" with JAWS ON to read the prior statement. JAWS does not read.

## Steps to reproduce

Navigate to link in a message and use the up arrow to go back to text.

## Expected behavior

JAWS shoul

[2020-04-20 23:34] rp-dev opened #3117 "[Accessibility][ScreenReader]: Going back to text elements with shift-tab does not read correctly in a screen reader."
## Screenshots

![image](https://user-images.githubusercontent.com/50723361/79809121-9e881080-8324-11ea-8ed9-b98cd988592d.png)

## Version

v4

## Describe the bug

*Arrive at *I Accept Button with JAWS ON and Keyboard Tab. Then press Shift + Tab to arrive at previous links such as "Privacy Statement", "Terms and Conditions"

Actual:  The focus comes to these links but JAWS announces "I Accept" bu

[2020-04-20 23:39] rp-dev opened #3118 "[Accessibility][ScreenReader]: Going back to text elements with shift-tab reads the element you just tabbed from."
## Screenshots

![image](https://user-images.githubusercontent.com/50723361/79809447-4f8eab00-8325-11ea-93b3-355e82512ac3.png)

## Version

v4

## Describe the bug

Actual: With JAWS ON, pressing keyboard tab to arrive at actionable links such as "Coronavirus/Covid-19 How to protect yourself and get care link" and other links,  JAWS announces "No" button for each link label.
Expected:  JAWS should

[2020-04-21 06:23] edemehmetcan commented on #2996
Keyboard users have to able to navigate by messages by using tab button or up/down... this is a core accessibility access

[2020-04-21 07:06] prashanthsridhar opened #3119 "OAuth adaptive card for calendar skill is causing an issue. Throwing render error"
## Screenshots

![image](https://user-images.githubusercontent.com/11289456/79835418-5290a680-83cc-11ea-92dd-0f471156462b.png)

## Version

CDN
4.8.0 js
Using it an angular app

## Describe the bug

trying to invoke calendar skill.
Usually the login OAuth card pops up,but now that card is not being rendered. Cannot use the chat window after the error pops up

## Steps to reproduce

Try invoking ca

[2020-04-21 08:11] compulim commented on #3119
Can you open F12 developer tools and see if there are any console logs?

[2020-04-21 08:14] compulim commented on #2876
https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md#post-back did not specify if both `text` and `value` are not specified, it should send or not send the post back.

But if we are following the same concept of message back, we should. https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activi

[2020-04-21 08:37] compulim commented on #2850
After suggested actions button is clicked, we can focus back to `role="complementary"` as it has `tabIndex="-1"`. It also have `keypress` trap to send focus to send box on `keydown`.

[2020-04-21 08:59] prashanthsridhar commented on #3119
Thank you for quick response :)

[2020-04-21 08:59] #3119 closed

[2020-04-21 18:07] tonyanziano commented on #3111
Currently blocked on [Adaptive Cards bug #3829](https://github.com/microsoft/AdaptiveCards/issues/3829). Follow the status of that bug there.

[2020-04-21 18:07] #3111 closed

[2020-04-21 20:15] stevkan commented on #3099
@saikiran521, @Kumar3010 Can you please tell me which custom speech service you are using or provide the code used for that? Some of the services have different limitations, so it will be useful to know how this is being instantiated.

[2020-04-21 20:53] stevkan commented on #2998
@xakpc, Is this still an issue for you?

If it is, is this reproducible using the [echo bot](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/02.echo-bot), or similar? The files you sent don't appear to be a typical bot construction. As it is, I can't test or reproduce using what you provided.

Also, as mentioned above in the linked issue, there is a known bug

[2020-04-21 21:08] MouadhDos commented on #1427
+1

[2020-04-21 21:17] tonyanziano commented on #3071
@stevkan can you provide an update please?

[2020-04-21 21:45] #2876 closed

[2020-04-22 06:04] Vimarech commented on #1427
+1

[2020-04-22 06:57] saikiran521 commented on #3099
@stevkan  we are using Microsoft custom speech service and the code is as below :

window.WebChat.renderWebChat({
    directLine: window.WebChat.createDirectLine({ token: 'toren' }),
    userID: id,
    username: id,
    locale: 'en-US',
    styleOptions: styleOptions,
    store: store,
    selectVoice: (voices, activity) =>
      global_voiceModel == "BenjaminRUS" ? voices.find(({ name }) => /Ben

[2020-04-22 11:35] cimbis opened #3122 "Session management / Direct Line events"
## Version 4.6.0

The solution I'm currently developing requires me to handle the token expiration of Direct Line. Often users of the chat leave it open for quite some time as they are required to take a photo and upload it. During this time the chat might be left there for longer periods than 30 minutes and the Direct Line session expires, leaving users with unresponsive UI once they return.

So

[2020-04-22 14:07] BeeMaia opened #3124 "Direct line speech channel and selectVoice webchat option"
## Version

latest version on CDN or npm 3.7.1 inside reactjs

## Describe the bug

I have a problem inside a reactjs application that use **direct line speech channel** but I can reproduce running the sample [https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/a.direct-line-speech](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/a.direct

[2020-04-22 14:10] avilde commented on #3122
Not the first time seeing direct-line expired token issues. Some time ago created an [issue](https://github.com/microsoft/BotFramework-DirectLineJS/issues/251) with no resolution.

[2020-04-22 17:26] compulim commented on #3124
I think you are talking about 4.7.1.

The repro steps is detailed and looks legit. 👍🏻

Will triage this fix into next release.

[2020-04-22 18:57] stevkan commented on #3071
@shakil-san, the code snippet I provided would be placed (or the existing code updated) in the bot's files. The code you referenced above is the code for the Web Chat client which is just the interface between your bot and any user.

If you don't know already, you can access your bot's files on Azure. Simply login, locate the resource group for the QnA bot you created, navigate to the bot registra

[2020-04-22 18:57] #3071 closed

[2020-04-22 19:17] compulim commented on #2850
The original fix (no keyboard) was #1971.

But it was reverted because of an accessibility issue #2608.

I am reading the WCAG to see which path should we choose.

[2020-04-22 19:29] Alienroid commented on #2125
blazor wasm is heavy on client and light on server (if there's one). You are referring to Blazor Server Side.

[2020-04-22 22:41] compulim commented on #2125
@Alienroid you are right. Blazor is WASM-ed .NET with ASP.NET server built-in, very heavy on client.

[2020-04-22 23:42] #2987 closed

[2020-04-22 23:42] #2481 closed

[2020-04-22 23:42] #2668 closed

[2020-04-22 23:42] #2886 closed

[2020-04-23 10:12] BeeMaia opened #3125 "WebSocket StatusCode 101 Switching Protocols when send event on direct line speech channel"
## Version

latest version on CDN or npm 3.8.1 inside reactjs

## Describe the bug

I have a problem inside a reactjs application that use **direct line speech channel** but I can reproduce running the sample [https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/a.direct-line-speech](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/a.direct

[2020-04-23 11:37] narik1989 opened #3126 "Direct Line JS or Web Socket connection Status"
Not sure if this the right place to ask the question. but please forgive me if it is wrong. Please find my question below.

1. I create a directling connection

- var dl = window.WebChat.createDirectLine({ token, webscoket: true });

2. using the above directline connection i render a webchat

- window.WebChat.renderWebChat({
                directLine: dl
            }, document.getElementById('w

[2020-04-23 16:09] yapalex opened #3127 "Custom properties in outgoing activity.from"
I am trying to send an activity from the our react webchat client to our hosted bot on azure. The activity is a event, and has custom props in activiy.from that we use to initialize the connection and tell the bot where to start.

I want to use the store to do this, but when I send the activity this way, it strips the from property completly from the object.

[code]
However, if I bypass the store

[2020-04-23 18:13] tonyanziano commented on #3127
@stevkan can you take a look at this please?

[2020-04-23 18:16] tonyanziano commented on #3125
Hi @BeeMaia , what web browser, and what version of the browser are you currently using when experiencing this issue?

[2020-04-23 18:32] tonyanziano commented on #3126
Hi @narik1989 ,

This can be accomplished by using the following sample to add a custom middleware to Web Chat's Redux store.

https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api/j.redux-actions

Then you can listen for incoming Redux actions -- in your case it would be the [`UPDATE_CONNECTION_STATUS` activity](https://github.com/microsoft/BotFramework-WebChat/blob/master/

[2020-04-23 18:32] #3126 closed

[2020-04-23 18:46] stevkan commented on #3099
@saikiran521, can you please try adapting the below code to yours? I was unable to effectively use the code you supplied, however I am able to get speech from the adaptive card when using the below implementation.

In my adaptive card, I have included the "speak" property which is then replaced before being wrapped into an attachment and passed to `sendActivityAsync()`.

[code]

[2020-04-23 20:07] #3125 closed

[2020-04-23 21:46] compulim commented on #3127
The content supported in `from` field is very limited:

- https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md#from
- https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md#Channel-account

Translate the spec to TypeScript:

[code]

Web Chat sanitize the `from` field according to spec,

[2020-04-23 21:46] #3127 closed

[2020-04-24 08:59] stevkan commented on #3122
@cimbis,

It's true that documentation is lacking, however looking at the [code](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/core/src/actions/connectionStatusUpdate.js) for `CONNECTION_STATUS_UPDATE`, there is a note mentioning that this action should be obsolete, in favor of `UPDATE_CONNECTION_STATUS`. It goes on to say that both actions behave differently with `CONNECT

[2020-04-24 10:09] raresv opened #3128 "The links to samples don't work (since yesterday?)"
The links to view the actual sample are not working (404).
samples page here:
https://github.com/microsoft/BotFramework-WebChat/tree/master/samples
Example of link not working:
https://microsoft.github.io/BotFramework-WebChat/01.getting-started/h.minimal-markdown

[2020-04-24 14:20] compulim commented on #2926
Hi @prashanthsridhar, I am still not able to repro.

Can you look at the video I attached below to see if my repro steps are correct or not?

I have been clicking the "Click me" button 5 times to start 3 recordings, and also spam-click on it 5 times.

[bug-2926-1-mp4.zip](https://github.com/microsoft/BotFramework-WebChat/files/4529427/bug-2926-1-mp4.zip)

[2020-04-24 14:55] compulim commented on #2914
@snair123 the 5 seconds you saw is how long your bot take to respond to a message from Web Chat. It could be somewhere between the browser, and the time the bot finished the dialog.

In your case, I see the bot took 5 seconds to respond. And the bot responded in 2 messages, each about 4 seconds apart. For the text-to-speech, it took about 1 second each to convert 2 bot messages into speech.

You c

[2020-04-24 16:46] stevkan commented on #2998
Closing due to the lack of response from customer since customer's last activity. If the issue persists, please feel free to re-open.

[2020-04-24 16:46] #2998 closed

[2020-04-24 17:54] dandriscoll opened #3129 "Readme and docs recommend old speech integration path"
The root Web Chat readme points to a page describing the standalone Cognitive Services speech integration.

https://github.com/microsoft/BotFramework-WebChat#speech-integrate-with-cognitive-services-speech-services, which points to https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/SPEECH.md

Two changes:
1) The Readme should directly suggest Direct Line Speech
2) Anyone landing di

[2020-04-24 19:31] tonyanziano commented on #3128
Hi @raresv ,

Could you please take a screenshot of your browser window so that we can see what the issue is that you are facing?

I just tried to open the link you posted and it is working for me:

![image](https://user-images.githubusercontent.com/3452012/80249889-84517980-8627-11ea-808e-5f3044692675.png)

[2020-04-24 20:45] v-kydela commented on #2667
I don't know why Web Chat would want to differentiate between text messages and attachments when it comes to bubble nubs. Web Chat v3 didn't. You might be interested to see this customer's issue: https://github.com/microsoft/BotFramework-WebChat/issues/2667

[2020-04-24 21:01] compulim commented on #3128
Thanks for reporting. I fixed it this morning. Weird to see from time to time the GitHub Pages get reverted.

[2020-04-24 21:01] #3128 closed

[2020-04-24 21:50] Tiger519 commented on #2667
Yes, that was my issue. I'm interested in this not only for the nub (I think it looks better), but also for the fact that in Web Chat v3 the attachment had it's own white box _inside_ the gray speech bubble with nub. Check out the screenshots in the SO issue Kyle linked above. I felt this was a much better UI. I'm actually trying to figure out how I can somehow replicate the old Web Chat v3 adapti

[2020-04-25 02:39] Kumar3010 commented on #3099
@stevkan - thank you for your response we will try and get back to you. for the other issue i will raise another ticket.

thanks,
Kumar

[2020-04-26 18:57] #2485 closed

[2020-04-27 06:00] SSanjeevi commented on #1050
Hi @omarsourour ,

Is there any version for angular 9 and latest webchat version

[2020-04-27 06:56] Kumar3010 commented on #3099
@stevkan -could you please post your adaptive card json. wanted to look at the json.

[2020-04-27 18:49] compulim commented on #2850
FYI, we have a PR for this now, #3213.

[2020-04-27 19:55] stevkan commented on #3099
@Kumar3010, I'm actually using the [07.using-adaptive-cards](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/07.using-adaptive-cards) sample from the [BotBuilder-Samples](https://github.com/microsoft/BotBuilder-Samples) repo, specifically the "SolitaireCard.json" adaptive card. I added the "speak" property into the card (see below). The above code I included w

[2020-04-28 22:28] #2850 closed

[2020-04-29 00:48] stevkan commented on #3102
Updated `activityStatusMiddleware()` code to the following. This provides toggling between up and down votes, per bot response.

[code]

![toggleFeedbackButtons](https://user-images.githubusercontent.com/18403946/80551471-6f9f1980-8978-11ea-8da3-c11fbdbc2e62.gif)

[2020-04-29 03:23] Nitin2392 commented on #1388
Hey @a-sergeichik , what was the resolution for this error ? I am getting the same with my iframe

[2020-04-29 05:38] saikiran521 opened #3131 "Adaptive Cards - Speak tag - Submit"
Hi All,

I am new to speak functionality in adaptive cards. We have a scenario where a drop down has to be selected and click on submit. if user just says submit, action is being submitted but the value from the drop down is going as null.

Below is the example screenshot of the adaptive card
![Capture](https://user-images.githubusercontent.com/62989402/80563636-3793e700-8a09-11ea-8d2f-95e4e162895

[2020-04-29 13:16] Bradrajkumar commented on #3102
Thank you so much @steve. Before getting this solution I I made it possible
and is working perfect. But thanks for updating me on this and I will also
try to take up your solution.

On Wed, 29 Apr 2020, 6:18 am Steven Kanberg, <notifications@github.com>
wrote:

[2020-04-29 18:14] hcyang commented on #3131
hi @compulim , please take a look. Thanks.

[2020-04-30 10:16] thomas023 commented on #1971
Hi, can i send the message just by clicking on the desired suggestion. Now if i click on any of the suggestion it will come to the text/input area and i have to press enter again to send the message. I'm using react js as front end for calling webchat. Can anyone help me with this.
Webchat version - 4.7.1

[2020-04-30 10:40] thomas023 opened #3132 "Webchat throwing error when sending a Message"
I'm working on a bot application which is now throwing an error when sending a message. But, selecting an option from the suggestion list is working fine. If i try to send anything apart from suggestion is throwing error. so i think the issue is related to my suggestion code as well. Also i want to send message by clicking on the desired suggestion as currently if i select a sugestion it comes to

[2020-04-30 14:03] cwhitten commented on #2926
closing due to inactivity

[2020-04-30 14:03] cwhitten commented on #2914
closing due to inactivity

[2020-04-30 14:41] Lippy1m1 commented on #3112
Any update on this by chance?

[2020-04-30 23:32] compulim opened #3133 "[A11y] [Issue 3] Need clear button labels within chat"
# 3 Severity 1 – Need clear button labels within chat

## Background

After selecting the customer's location from combo box, new set of buttons appears, that announced as "Yes" and "No", with no other context. If user tries to navigate to the message above those buttons in browse mode, screen reader keeps getting kicked out of browse mode and screen reader users are unable to navigate to that mes

[2020-04-30 23:34] compulim opened #3134 "[A11y] [Issue 6] Nothing announced for selectable UI element in first tab away from frame within chat"
# 6 Severity 2 – Nothing announced for selectable UI element in first tab away from frame within chat

## Background

Related to issue 5 for the I agree/don’t agree buttons, when user presses Tab once more after its keyboard focus is on the clickable frame, keyboard focus goes to “I agree” button, but nothing is announced by NVDA. This does not repro with JAWS. If user navigates back (Shift+Tab) t

[2020-04-30 23:36] compulim opened #3135 "[A11y] [Issue 8] Incorrect focus order within chat"
# 8 Severity 2 – Incorrect focus order within chat

## Background

After the answering the consent question and selecting “I agree” button, focus remains on that control instead of moving into the new message with new question/buttons. When pressing tab once, focus goes to “I don’t agree” button (which is still in the previous message where the question has already been answered). After answering

[2020-04-30 23:37] compulim opened #3136 "[A11y] [Issue 10] Focus order after "New messages" button is clicked"
# 10 Severity 2 - Focus Management within chat

## Background

At certain point in the conversation, “New messages” button appears. When the button is activated, focus moves to the first focusable element in the chat window instead of the new message.

## Investigation notes

Explanations:

- When the "new message" button is clicked, the button is removed from the DOM tree. Since the focusing elem

[2020-04-30 23:38] compulim opened #3137 "[A11y] [Issue 11] Selected state not provided within chat"
# 11 Severity 2 - Selected state not provided within chat

## Background

Combo box for state selection does not announce “Selected” state. If screen reader user selects “Washington”, it only announces “Washington” instead of “Washington, selected.”

## Investigation notes

This is owned by Adaptive Cards. After "Washington" is selected, in their DOM tree, the `<option>` does not have `aria-select

[2020-04-30 23:39] compulim opened #3138 "[A11y] [Issue 12] Keyboard navigation skips answer options within chat"
# 12 Severity 2 – Keyboard navigation skips answer options within chat

## Background

Improper focus order on Tab navigation where the tab focus moves from the 40-49 age option into the gender option.  May be related to issue 8 where focus remains on controls from previous answer.

## Investigation notes

This is same as issue 8 (#3135) and issue 10 (#3136).

[Bug]

[2020-04-30 23:40] compulim opened #3139 "[A11y] [Issue 13] ARIA attributes have invalid values within chat"
# 13 Severity 2/3 – ARIA attributes have invalid values within chat

## Background

Accessibility Insights issues

1. Element path: #cdc-covid19-healthbot;.css-sph49o
Snippet: <div aria-labelledby="webchat__toaster__header__1adkb" aria-live="polite" aria-relevant="additions text" class="css-sph49o css-6wwnjx webchat__toaster" role="log">
Fix all of the following: Invalid ARIA attribute value: aria

[2020-04-30 23:41] compulim opened #3140 "[A11y] [Issue 5] Extra focusable element that adds confusion to the interaction within chat"
# 5 Severity 2 – Extra focusable element that adds confusion to the interaction within chat

## Background

Unnecessary and confusing Tab stop around “I agree” and “I don’t agree” buttons, as well as the age, country and state controls. For I agree/don’t agree, the screen reader announces “Frame clickable main landmark complimentary landmark list with one item I agree button I don’t agree” It is n

[2020-05-01 06:32] pwilliams2020 commented on #1185
Any updates on text to speech in web view

[2020-05-01 16:12] Nitin2392 opened #3141 "WebChat OAuth SSO doesn't continue after Login"
Hey,

The issue we're having right now is that once we click on the `Login` button in the OAuthPrompt from the webchat, the SSO takes over and the Sign in Happens but when the flow returns to the webchat, nothing happens and the bot just hangs.

In the Microsoft Bot Framework (v4) bot that we're building, we have implemented the new SSO OAuth features that were recommended in this blog [here](http

[2020-05-01 17:36] compulim commented on #3131
@saikiran521 Can you use the bug template and tell us about versions?

[2020-05-01 17:46] compulim commented on #3131
@saikiran521 I try to repro your case by uploading an Adaptive Card JSON, and I am seeing the value from the dropdown being sent correctly to the bot.

![image](https://user-images.githubusercontent.com/1622400/80827589-034f3080-8b99-11ea-831c-d74643680e2b.png)

[code]

[2020-05-01 17:54] compulim commented on #3141
This is related to SDK instead of Web Chat, because it is about the code on the bot side, not browser side.

[2020-05-01 18:08] compulim commented on #3132
https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/core/src/reducers/sendBoxValue.js#L8

According to this line, looks like you are passing `undefined` when dispatching the action. I.e. the `newValue` below is `undefined`.

[code]

[2020-05-01 18:08] hcyang commented on #2675
At the moment, we are still looking to prioritize this issue. This will be at least R10 or after, not for the impending release.

[2020-05-01 18:43] Nitin2392 commented on #3141
Thanks @compulim . I've created a Stack Overflow Question to go with this - https://stackoverflow.com/questions/61548711/webchat-oauth-sso-doesnt-continue-with-dialog-flow-after-login

Keeping this issue open just in case someone has a workaround.

[2020-05-01 19:14] rosenjcb opened #3142 "Is there a way to connect the client WebChat to a websocket directly?"
We have infrastructure that connects to our bot via a websocket. We use this so our mobile platforms can connect without the use of a direct line (and actually we want a layer between the bot itself and the client, so that certain scenarios can only be entered according to our rules). Is there a way to configure the JS webchat to connect directly to a websocket url? That means no directline.

EDIT

[2020-05-01 20:07] compulim commented on #3141
Thanks @Nitin2392.

I am also asking the team to transfer this issue to SDK to better surface the question and answers.

[2020-05-02 01:50] arman-g opened #3143 "Isn't Adaptive Card's AdaptiveContainer's Spacing = padding should add padding to the container?"
I am trying to add a padding to an AdaptiveCard **AdaptiveContainer** so I set its Spacing = "Padding". This seems to have no effect, so my question is:
isn't setting the Spacing = "padding" should add padding to the container?

[2020-05-02 20:09] JonnathanLS commented on #1129
Updating the TypeScript version globally worked for me.

[2020-05-03 06:00] thomas023 commented on #3132
Hi @compulim thanks for the reply. so you mean i should pass null value. Let me check that. And how can i send the message while clicking the suggestion?

[2020-05-04 09:31] compulim commented on #1427
Will do it this week. 😉

[2020-05-04 09:51] avilde commented on #1427
https://tenor.com/uuRX.gif :)

[2020-05-04 11:13] saikiran521 commented on #3131
@compulim - thank you for your response we will try and get back to you

[2020-05-04 12:18] jelmuei commented on #2998
@stevkan
Not sure if this helps but I can't successfully load transcript files in the bot emulator older than 2 days. A work around for me was to change the system time of my windows machine to a date before the timestamp of the conversation and to restart the bot emulator.

You can reproduce it with one of the official transcript files which will not load (white screen of the webchat) in the late

[2020-05-04 17:44] v-kydela commented on #3143
Hi @arman-g

Perhaps you could help clear up some confusion. Your title says Space = padding but then your question says Spacing = "Padding" and Spacing = "padding". These inconsistencies make me worry that maybe you're not setting the property correctly. Can you show us what your code actually looks like?

[2020-05-04 17:53] cleemullins commented on #3142
@v-kydela Could you dive in here?

[2020-05-04 17:54] cleemullins commented on #3141
Transferring to JS Repo, and will traiage there.

[2020-05-04 17:58] cleemullins commented on #3122
@cimbis Does the answer by @stevkan resolve your issue? It seems like it would.

[2020-05-04 18:06] arman-g commented on #3143
Hi @v-kydela sorry for the confusion. I corrected the title and it is spacing. Below I provide C# code of adaptive card where I set the "Spacing" property to "Padding" for a container and column set. They have no effect on webchat.

[code]

[2020-05-04 18:10] v-kydela commented on #3142
Hi @rosenjcb

Can you explain why this issue would be better placed in the BotFramework-DirectLineJS repo even though you don't want to use Direct Line? Are you using the DirectLineJS library for something?

[2020-05-04 18:31] rosenjcb commented on #3142
@v-kydela Now that I think about it, there might not be a point asking in the other repo. The entry point for a webchat instance pivots on the `createDirectLine()` function, so I thought their repo might be a more appropriate place to ask about getting around the DirectLine token.

Either way, you're right that I want to get around using DirectLine altogether.

[2020-05-04 18:56] v-kydela commented on #3143
@arman-g - Thank you for the clarification

Web Chat uses the out-of-the-box HTML renderer from the Adaptive Cards Node.js SDK, so this issue might have been better suited for the Adaptive Cards repo. From my examination of the [source code](https://github.com/microsoft/AdaptiveCards/tree/master/source/nodejs/adaptivecards), there doesn't seem to be anything special about the "padding" value that

[2020-05-04 19:22] v-kydela commented on #3142
@rosenjcb

I believe `createDirectLine` does create an object to communicate with Direct Line using DirectLineJS, but I think you can still use it even if you don't want to go through the actual Direct Line servers. You can set the `domain` property of the [argument](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-webchat-overview#web-chat-api-reference) to specify your own endpoint

[2020-05-04 19:33] UncleZen opened #3144 "Local time format in French (fr-CA) wrong"
## Screenshots

## Version

Using CDN v. 4.8.1
https://cdn.botframework.com/botframework-webchat/latest/webchat.js

## Describe the bug

When locale set to fr-CA, the time portion is being formatted as 3:35 PM which is obviously wrong

## Expected behavior

Display the time using 24-hour notation. I.e. instead of 4 mai à 3:35 PM display 4 mai à 15h 35.

## Additional context

See the attachment.

[2020-05-04 19:35] arman-g commented on #3143
@v-kydela,

Using Adaptive Cards Designer and changing container spacing has no effect. I guess this is a question to AdaptiveCards team.
Thank you for your response and help.

[2020-05-04 19:35] #3143 closed

[2020-05-05 05:36] Hari-c4 opened #3145 "Direct Line Speech throw "actions of null" error when bot is on unsupported region"
I was using this [example](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/a.direct-line-speech) to implement directline speech in webchat. Here is the script I used

[code]

seems like "...adapters" is not supported in Edge or IE, How can I change it so that it will be working in Edge and IE ?

[2020-05-05 06:01] cimbis commented on #3122
Hi @stevkan, @cleemullins,

Thanks for your replies!

While the explanation provided by @stevkan might indeed be a good solution for keeping session alive, it does not really help with the case I mentioned.

Namely, once the user opens chat and then leaves it for *x* amount of time and, e.g., closes the lid of laptop - the auto-renewal won't work because there's no live connection for requests to

[2020-05-05 07:30] stevkan commented on #3132
@thomas023, in order to use `SET_SEND_BOX`, `payload.text` cannot be undefined, an empty string, etc. It requires a real value even if it is just a white space value (i.e. ' '). In your code, at some point you are passing an undefined value in for `newValue` which is resulting in the error.

[2020-05-05 07:36] stevkan commented on #3099
Closing this issue due to lack of activity. If the issue persists, please feel free to reopen.

[2020-05-05 07:36] #3099 closed

[2020-05-05 07:45] compulim commented on #3145
The sample code we provided is for latest version of JavaScript. Both Edge and IE11 do not support the latest syntax. You will need to transpile it down to the version you need (IE11 support up to ES5).

There are multiple ways to do it, we are outlining two popular choices here:

1. For development, you can use `@babel/standalone` to transpile on-the-fly
   - This is strictly used for development

[2020-05-05 07:50] compulim commented on #3144
This is expected because Web Chat is not localized in `fr-CA` specifically. When an unknown language is selected, it will fallback to closest it can get, `fr-FR`.

For internationalization (unit and date/time formatting), we use a library called `globalize` and it use Unicode CLDR, the official internationalization database.

Please follow the [documentation on adding a new language](https://githu

[2020-05-05 07:50] #3144 closed

[2020-05-05 07:51] thomas023 commented on #3132
@stevkan hi, ok i tried by assigning newValue = ''; but now if i click the suggestion nothing happens. i.e. if i type h and select one suggestion by clicking, nothing is happening. Its blank. the message is not send and nothing is in the text area as well. Is there any other changes should i make?

[2020-05-05 08:11] stevkan commented on #3132
To be clear, you tried "_" where the underscore is a blank / white space, yes? Your comment above looks like you sent "" (i.e. an empty, non-blank/non-white space value).

Can you elaborate on what you are expecting to happen? I believe I understand the flow, but I would rather be certain. What should happen when `newValue` has a text value and when `newValue` does not (both an undefined/empty str

[2020-05-05 08:24] thomas023 commented on #3132
@stevkan what i'm trying to achieve is that, i want the message to be sent - when i click on the suggestion or by selecting the suggestion using arrow keys and then pressing enter . Now, if i click or select the suggestion using arrow keys - the suggestion value comes to the text box and then i have to press enter to send the message, and i just want to change that.

[2020-05-05 09:44] stevkan commented on #3122
@cimbis, thank you for the clarification. I'm not aware of a method that would allow for this, but let me do a little research / testing and see what I may find.

[2020-05-05 10:41] UncleZen commented on #3144
@compulim
Is it possible to override the timestamp format string when rendering webchat, like:

[code]

Thanks!

[2020-05-05 18:15] rosenjcb commented on #3142
@v-kydela

Thank you for the references. At this point, I think there are two options for a possible integration with `BotFramework-WebChat`

1.) Create a hosted directLine source that works with websockets only (`offline-directline` uses REST only so we can only use it as a reference)
2.) Fork `Botframework-WebChat` and get the client to accept either a directLine or websocket url.

Any suggestio

[2020-05-05 20:24] v-kydela commented on #3142
@rosenjcb

My understanding is that WebSockets are [already built into](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-start-conversation#response) Direct Line and Web Chat. Try using the `webSocket` and `streamUrl` of the `createDirectLine` argument: https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/API.md

[2020-05-06 08:54] compulim commented on #1427
Teaser...

There are still some kinks but reasonable okay as this will be a sample, not production code. I want to spend some more time think about this approach.

![recording](https://user-images.githubusercontent.com/1622400/81153452-c9cf4a00-8f37-11ea-91f0-35d17ea94138.gif)

Kinks:

- We will also disable "show card" actions in Adaptive Cards
- To be fair, we would like to able to disable all l

[2020-05-06 18:01] rosenjcb commented on #3142
@v-kydela
I don't think it's as simple as that. You can feed in `streamUrl` and `webSocket` args but it will fail immediately. First, it'll try to POST to the directline domain but it'll fail with a 403 error. If you change the domain to something local (e.g. the top level domain of the websocket I'm trying to connect to), then it'll then make POST requests to `/conversations` `/conversations/:id/

[2020-05-07 00:28] compulim commented on #1427
Working on the tab order of "New message" button after the AC card is disabled. It's not trivial as we are not allowed to touch `tabindex`. We can only influence by reordering DOM nodes.

`tabindex` is global and introduce pollutions. tl;dr we are component, not app, so we don't own the global environment, we must not pollute it. One reason why components are much harder to write than apps.

p.s.

[2020-05-07 00:37] v-kydela commented on #3142
@rosenjcb - I have a few questions to make sure I understand correctly

1. You mentioned having an infrastructure that connects to your bot via a WebSocket. You also said you want a layer between the bot itself and the client. Are the infrastructure and the layer the same thing?
2. If your infrastructure is itself running on a server, couldn't it connect to the bot using HTTP/HTTPS and still achie

[2020-05-07 05:41] Hari-c4 commented on #3145
@compulim I'm embedding webchat with directline speech. So I chose the second option. Here is my updated code

[code]
 It was working fine in all browsers till yesterday. Today when I check I see this error.
![issue-webchat](https://user-images.githubusercontent.com/56388643/81258024-5cfca280-9052-11ea-9756-a7e330acdec8.JPG)
I haven't published or made any changes in bot yesterday. Bot is working

[2020-05-07 07:28] BeeMaia commented on #1427
Hi compulim,

thank you very much for your work.
I have a question, is it possible to disable only some type of card action?
For example, if I want to keep enabled OpenUrl action because it doesn't change the flow.

Thanks a lot,
Andrea

[2020-05-07 09:54] stevkan commented on #3122
@cimbis, It appears that the essence of what you are wanting can be achieved by use of the browser's built-in `navigator.onLine` API. When the browser goes online or offline, either by simulation (as shown below) or by sleeping/waking the machine (closing the laptop) or a loss of internet connectivity, an "online"/"offline" browser event is emitted setting the above API to a truthy value.

This va

[2020-05-07 11:59] compulim commented on #3145
@Hari-c4 I tried your code with my bot's region + subscription key and it works normally.

I am searching through the code for potential `'actions' of null` error.

Could it be related to a malformed Adaptive Cards or suggested actions?

[2020-05-07 12:12] Hari-c4 commented on #3145
@compulim  Thanks for the quick response. Directline webchat without speech is also working fine for me. Issue happens when I use directline speech. Here is the working code for directline webchat

[code]

If it is working for you, can you tell me your speech resource's region ? Mine is central India.

[2020-05-07 12:13] compulim commented on #1427
@BeeMaia it will be quite difficult to do it today. Will you consider using Markdown to present an hyperlink to the user?

Are you rendering a hero card or Adaptive Cards?

[2020-05-07 12:23] compulim commented on #1427
I am still working on the tab order and completed the code to reorder DOM node. Scroll-to-bottom is difficult. 😑

### Good flow

![recording (2)](https://user-images.githubusercontent.com/1622400/81293439-3292f100-9022-11ea-9f0f-43c6b7029c4d.gif)

### Bad flow

The `New message` button didn't go away. I am working on this now. Chrome didn't fire `scroll` event when a new element is added, and the

[2020-05-07 12:47] compulim commented on #3145
Mine is `westus2`.

[2020-05-07 13:36] 1Copenut commented on #3116
@rp-dev I noticed this same behavior this morning. I was running some checks using the [axe browser plugin](https://deque.com/axe) and it threw an error `ARIA hidden element must not contain focusable elements`.

After some investigation, it has to do with the `div[aria-hidden="true"]` that wraps each response. The text being read by screen readers is actually a visually hidden `<span>`, so the li

[2020-05-07 13:59] thomas023 commented on #3132
can i use sendMessage action in handleSuggestionClick to achieve what i'm looking for?

[2020-05-07 14:08] BeeMaia commented on #1427
@compulim we are using hero card and adaptive cards.

[2020-05-07 17:00] rosenjcb commented on #3142
@v-kydela

No problem, I can help clarify!

1.) They're the same thing. Basically the architecture looks like this: Client (Android, iOS, Web) <-> Middleware <-> Bot Service. Basically a client will send messages over websocket to the middleware service and that middleware will talk to bot service to create new conversations and manage existing ones. We do this to simplify the request that the cli

[2020-05-07 17:22] 1Copenut opened #3147 "[A11y] Form elements must have labels"
## Screenshots

![Screen Shot 2020-05-07 at 12 17 24 PM](https://user-images.githubusercontent.com/934879/81324655-e31de680-905c-11ea-95c7-fa6e90d5cbc8.png)

## Version

[code]

## Describe the bug

## Steps to reproduce

1. Verify you have the Deque [axe browser plugin](https://deque.com/axe) installed on Firefox or Chrome
1. Go to https://www.va.gov/coronavirus-chatbot/
1. Click on **My current

[2020-05-07 17:41] cimbis commented on #3122
Thank you so much @stevkan! This looks like something I'm after.

I'll try out your proposed ideas next week - will let you know how it goes!

[2020-05-07 17:57] v-kydela commented on #3142
@rosenjcb - Thank you for the information. It sounds like you're using the word "middleware" differently from how we use it, but it sounds like that's what you're calling your infrastructure so I'll do the same.

Based on your answers, I'm worried that you're conflating two different things. You answered questions 2 and 3 as though I was asking about the difference between sending and receiving, w

[2020-05-07 18:22] arman-g opened #3148 "Aria-label is not set in Chrome browser"
## Screenshots

#### In Chrome
![chrome](https://user-images.githubusercontent.com/22778273/81321908-05f1d000-9048-11ea-8601-6ab2bcdac175.png)

#### In Edge
![edge](https://user-images.githubusercontent.com/22778273/81321963-1d30bd80-9048-11ea-8f6e-ad1c5ae7c465.png)

## Version

WebChat CDN v4.8.1
Edge v81.0.416.68
Chrome v81.0.4044.138
Firefox v76.0

## Describe the bug

I am not sure if this is

[2020-05-07 20:51] rosenjcb commented on #3142
@v-kydela

Apologies: I didn't like my use of the word "middleware" either. To be honest, I googled it just to make sure I wasn't flubbing it up but the definition seems to be fluid in the industry (it's a curse of business jargon).

Yes, I do understand the difference.

Yes and I'll explain here:

Our middleware service makes the require REST calls and connects to the generated websocket url. Thi

[2020-05-07 23:11] v-rampul commented on #2669
#A11ySev2; #A11yMAS; #Accessibility; #HCL; #HCL_BotFramework_WebChat; #MAS1.3.1

[2020-05-07 23:19] v-kydela commented on #3142
@rosenjcb - I don't think you'll need to host a Direct Line source and I don't think you'll need to fork Web Chat. I can think of two avenues to explore, though both would involve some extensive examination of the source code on your end.

1. You could create your own alternative DirectLineJS object that you could pass to Web Chat's `directLine` parameter. This object would need to expose all of t

[2020-05-08 00:16] nt-7 commented on #3148
It seems that the issue is caused by the following workaround for chrome.

https://github.com/microsoft/BotFramework-WebChat/blob/cc5f275e25e547098fc0081b03b82635332b8f1a/packages/component/src/ScreenReaderText.js#L27

[2020-05-08 06:19] compulim commented on #1427
Still working on focus management, understanding cross browser behavioral differences to see if this sample will work on daily UX.

In the animation below, we will focus on the element but not clicking on them. Yellow indicate what elements has the focus. And we want to see:

- What element will get focused after the current one is disabled
- Which one will get focused after pressing <kbd>TAB</kbd

[2020-05-08 09:52] Hari-c4 commented on #3145
@compulim I changed my speech resource to one in `westus2 `region. Its working now!

[2020-05-08 10:44] compulim commented on #1427
Going to finish the day here. I think we go down the wrong path. In accessibility, disabled button should still be able to <kbd>TAB</kbd> to it, shouldn't lose focus.

[2020-05-08 16:16] rosenjcb commented on #3142
@v-kydela I noticed that the directLine object contains functions yesterday. I'll try writing an alternative DirectLineJS object that does everything through websocket.

[2020-05-08 18:02] arman-g commented on #3148
@nt-7 thanks, yes that workaround is setting the attribute value to ' ' in Chrome. I am a little bit confused about what that workaround achieves.

[2020-05-08 21:13] ericchansen opened #3149 "Mockbot isn't working for full bundle"
## Screenshots

Not necessary.

## Version

Version doesn't matter.

## Describe the bug

I don't think Mockbot is working.

## Steps to reproduce

1. Go to https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/a.full-bundle
1. Click on [Try out Mockbot](https://microsoft.github.io/BotFramework-WebChat/01.getting-started/a.full-bundle)
1. A page opens and nothing

[2020-05-09 01:20] compulim commented on #3145
Good to know!

Let me rename this bug so we don't surface a hard-to-guess error message.

[2020-05-09 01:26] compulim commented on #3147
Thanks @1Copenut.

I will investigate if our recent fix #3146 will also fix this one automatically. If it's not, I will communicate with Adaptive Cards team to see if we can inject an `aria-label` to their `select` element.

[2020-05-11 05:28] #3133 closed

[2020-05-11 08:35] sw353552 commented on #1427
I would also upvote for @BeeMaia's idea not to disable OpenURL buttons in the adaptive card.

[2020-05-11 09:37] BeeMaia commented on #3145
Hi,
today we have same problem with **westeurope** region but we are unable to change the region of service.
Until saturday I'm sure that it works, any help?

Thanks

[2020-05-11 09:43] Hari-c4 commented on #3145
I'm also facing this issue again, I have raised a support request from Azure. Will keep you updated, if i get to resolve this.

[2020-05-11 11:13] saleemnasa commented on #2289
Hi

--------------------------------------------------------------------------------------------------------------
Hi @tdurnford This helped me Thank You for this answer.
This solution worked for normal text messages from bot. But,
Can you help me in markdowning text in Cards?

Thank You.

[2020-05-11 18:50] compulim commented on #3138
Duplicate of #3135.

[2020-05-11 18:50] #3138 closed

[2020-05-11 20:09] #3103 closed

[2020-05-11 20:52] tdurnford commented on #3149
@ericchansen Thanks for reporting. It looks like the CDN URL is set incorrectly.

[code]

https://github.com/microsoft/BotFramework-WebChat/blob/6462ef4caccb5b77c5dd858df98911f86638f8aa/samples/01.getting-started/a.full-bundle/index.html#L11

[2020-05-11 21:37] bdlawrence13 opened #3153 "Web page / direct URL does not render cards and prompts"
🚨 The issue tracker is not for implementation questions 🚨

When I run my bot in the bot emulator or the test web chat in the Azure portal, the initial card, information, and prompts come up. However, when I run either through the direct URL or from a web app I've published, the first screen is just a "Type your message" prompt and the user has to type something to get the opening card and prompts

[2020-05-11 23:11] compulim opened #3155 "[Direct Line Speech] Throw `'map' of null` and `'actions' of null` error"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/81619605-d3750980-939e-11ea-882a-14ca8d0e9775.png)

## Version

`4.8.1`

## Describe the bug

Direct Line Speech is sending various fields as `null` instead of `undefined`. The coalesces logic in Web Chat use [JavaScript default function parameters](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions

[2020-05-11 23:32] v-kydela commented on #3142
@rosenjcb - Sounds good. Would you consider this issue resolved?

[2020-05-12 00:25] rosenjcb commented on #3142
@v-kydela

Sure, if I run into any problems I'll be open a new ticket but this looks self explanatory now.

[2020-05-12 03:07] #3155 closed

[2020-05-12 04:09] #3149 closed

[2020-05-12 07:45] stevkan commented on #3122
Closing the issue as resolved. Please feel free to reopen if the issue persists.

[2020-05-12 07:45] #3122 closed

[2020-05-12 08:06] Bradrajkumar opened #3156 "Need Chat Persistent across across all the browser"
Hi All,
hope you all are doing good.
i want chat persistent feature on react webchat as well as simple webchat.
the feature can be described as:-
1. user opened the webchat on browser(either react or simple webchat version).
2. user did some conversation.
3. in between the conversation flow user opened a new tab in browser and load the same webchat(in this scenario the conversation happened in 1st

[2020-05-12 11:01] didaskein commented on #2850
Thank you guys ! :)

[2020-05-12 11:44] compulim commented on #3156
(I am not the expert in this area, it's on the service side. But I kind of know how it should work.)

tl;dr as long as the token retains the same conversation ID, Web Chat (or Direct Line channel, to be specific), will restore the conversation history, up to ~23 hours.

To survive <kbd>F5</kbd> or any types of page navigation:

- On page load after navigation (including <kbd>F5</kbd>), the browser

[2020-05-12 11:53] Bradrajkumar commented on #3156
@compulim  thanks for your comment. please forward this to your service team to have a look once, i am eagerly waiting for correct and perfect approach.

[2020-05-12 11:54] compulim commented on #3156
Yes, I pinged both @ckkashyap and @swagatmishra2007 in another thread. 😉

[2020-05-12 17:10] #3142 closed

[2020-05-12 18:24] MamadouABah opened #3157 "Cursor issue with clickable widgets on Bot UI WebChat v4"
When you hover over the menus, links or any clickable controls, you don't see the cursor showing as pointer, it shows the default standard arrow. That is bad user experience we need fix for our production Bot.

[2020-05-12 23:24] mchelen-gov commented on #2511
This would have a significant positive impact on the ability to use the bot framework through NPM package :+1:

[2020-05-13 03:19] nathanlindorff commented on #3053
@compulim I'm not so sure this is a complete dup of 3054. I'm getting the same issue when running cypress tests on our bot in webchat, and the issue seems to be the fact that it doesn't like the role of 'region' on a 'ul' element.

Here is the console output from the cypress error inspector

Command:      a11y error!
Id:           aria-allowed-role
Impact:       minor
Tags:         Array(2)0: "cat

[2020-05-13 06:51] compulim commented on #3157
This is by-design.

Please see the discussion here, https://github.com/microsoft/BotFramework-WebChat/issues/1767.

[2020-05-13 06:51] #3157 closed

[2020-05-13 11:50] MamadouABah commented on #3157
Seems that this behavior was and still is supported in Webchat v3

[2020-05-13 18:12] cleemullins commented on #3153
@v-kydela Could you take a look?

[2020-05-13 18:13] cleemullins commented on #3148
@cwhitten Could you triage and assign to the right person on your team?

[2020-05-13 18:15] cleemullins commented on #3112
@swagatmishra2007  Please address immediately.

[2020-05-13 18:24] swagatmishra2007 commented on #3112
Apologies..didnt see this earlier...
@Lippy1m1 i am assuming that you are able to sign into ServiceNow via webchat and SSO on skill does not work and the skill is unable to signin via SSO? What i don't understand is why is there a request to token.botframework.com in there? Can you describe a bit about your setup?
i am not very familiar with servicenow, but does it use AAD underneath?
Currently, w

[2020-05-13 18:38] Lippy1m1 commented on #3112
So ServiceNow's authentication mechanism is Generic OAuth V2 which works with the BotFramework, but when I tried to add a button on the SSO example for it, I get the screen shot you see above.

I am attempting to have the ability to sign into ServiceNow via Webchat such that they don't have to copy and paste the token into the bot to interact with ServiceNow.  Another solution would be to somehow

[2020-05-13 18:58] v-kydela commented on #3153
@bdlawrence13 - We have a sample that shows how to provide a welcome message in Web Chat: https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api/a.welcome-event

Does this resolve your issue?

[2020-05-13 20:05] bdlawrence13 commented on #3153
Not really. I’m pretty new to these. I’m using a sample bot - #13 – Core bot. And sorry, but this phrase in #4:

On your bot, you will need to add a filter to post the welcome message when webchat/join activities are detected.
Mock Bot welcome message:
if (context.activity.name === 'webchat/join') {
  await context.sendActivity(
    `Got \`webchat/join\` event, your language is \`${(context.activi

[2020-05-13 21:17] v-kydela commented on #3153
Hi @bdlawrence13

I want to clear up some possible confusion. While the Web Chat sample I linked to you is sample 4a, you need to understand that the Web Chat samples are totally separate from the Bot Builder samples and use a different numbering system. The Core Bot sample is Bot Builder sample 13 and not Web Chat sample 13, and the welcome event sample is Web Chat sample 4a and not Bot Builder s

[2020-05-13 22:36] bdlawrence13 commented on #3153
Got things to work. Thank you for taking the time to point me to the information needed.

[2020-05-13 22:45] v-kydela commented on #3153
I'm glad to hear it. Closing now.

[2020-05-13 22:45] #3153 closed

[2020-05-14 08:31] zp1112 opened #3158 "how to send an end event beforeunload?"
I want to send an end event like this:
[code]
but it didn't work for me. As i know,unload will block xhr request,is there other way to resolve this problem?

[2020-05-14 13:21] Amintasn opened #3159 "Synchronized Voice and Text via Webchat"
## Synchronized Voice and Text via Webchat
I'm using Direct Line, MS Speech Service and Webchat on bot running on Botframework V4.
The application is fully voice based and is working fine.
However, the text and voice motion is not in sync.
In other words, after the first text+voice interaction, the next text is displayed before the previous speech service has been finished - so on and so forth.
He

[2020-05-15 15:25] UncleZen opened #3160 "Override the timestamp format in the webchat"
I have posted a question to SO: https://stackoverflow.com/questions/61775075/override-the-timestamp-format-in-the-webchat.

But since, I have not gotten an answer yet, I am posting it here too:
When setting the timestamp format to 'absolute', the webchat with locale set to fr-FR prints the time portion of the timestamp using the 'short' time format of globalizejs library as 8:36 AM. See: https://g

[2020-05-15 16:44] c-eiser13 opened #3161 "ReactWebChat error in SPFx and IE11 with Polyfills"
## Version
4.4.2 of botframework-webchat
1.10 (latest) of SPFx

## Describe the bug
First off, thanks for a solution that is very easy to integrate with React and directline, component works great everywhere except IE11. I've reviewed the other posts in the issues list related to IE11 and SPFx, most notably #2030, where the list of polyfills is pointed out. I've installed core-js and imported the

[2020-05-15 17:26] compulim commented on #3158
Hi @zp1112.

Although [W3C HTML standard on page unload](https://html.spec.whatwg.org/multipage/browsing-the-web.html#unloading-documents) does not specifically disable network traffic, as you observed, browser may opt to disable network traffic after these unload event, maybe due to privacy concern.

You can consider sending heartbeat/ping to the bot. But they could still be false positive due to

[2020-05-15 17:36] compulim commented on #3159
Do you mean?

1. Bot send a response with speech > 5s
2. After 2s, the bot send another response with speech

As the speech of first response took > 5s to complete, the text of the second response will arrive sooner (after ~2s). And the second response show on the screen as soon as it arrive.

Can you confirm my explanation above match your description?

[2020-05-15 17:38] compulim commented on #3148
Hi @arman-g,

It is fixed in WebChat 4.9.0. The `aria-label=" "` was introduced to remediate a bug specifically in Chrome few months back. And it has been taken off as Chrome already fixed the issue.

[2020-05-15 17:38] #3148 closed

[2020-05-15 17:42] #2994 closed

[2020-05-15 22:13] #2995 closed

[2020-05-15 23:49] stevkan commented on #3160
Hi @UncleZen, as this is a "how to" question, I will respond to you over in SO. I'm going to close this in the mean time, but if it needs to be re-opened for some reason, we can.

[2020-05-15 23:49] #3160 closed

[2020-05-16 00:52] UncleZen commented on #3160
Thanks @stevkan!

[2020-05-16 14:41] Amintasn commented on #3159
Thx for you usual support @compulim
We have variable speech times actually.
Some are >5s some are <5s.
The point is text messages keep coming before the speech service has finished speaking which generates out-of-sync motion.
Hope it helped to clarify your question.

[2020-05-18 13:12] raresv commented on #3128
Thank you!

[2020-05-18 18:30] stevkan commented on #3158
@zp1112, I have found the following to work for me. Place it in your page where the Web Chat store is accessible. In my case, I'm persisting conversations which is how I'm able to see the posted message in Web Chat.

I can't say that it will work in every situation for every browser or version (I'm using Chrome and have run successfully on a multitude of versions), but it's a jumping off point, at

[2020-05-18 18:31] stevkan commented on #3158
Closing again as resolved.

[2020-05-18 18:31] #3158 closed

[2020-05-18 19:23] paulcam206 commented on #1340
@awalia13 - you might consider reopening this issue, as we've made a fix over on the AdaptiveCards side (see microsoft/adaptivecards#4019). Narrator is indeed able to read cards correctly without a tabstop. To adopt this fix in your codebase, you'll need to make a small change to enable the desired behavior.

[2020-05-18 20:17] stevkan opened #3165 "Text wrapped or partially wrapped in curly braces do not render"
## Screenshots

![image](https://user-images.githubusercontent.com/18403946/82255395-64049a00-9909-11ea-8e08-dc2f6933fed6.png)

![image](https://user-images.githubusercontent.com/18403946/82255414-6c5cd500-9909-11ea-87b6-0395e91f0465.png)

## Version

CDN 4.9.0

## Describe the bug

If the text sent from the bot to the user is fully wrapped or partially wrapped in curly braces, then the text is no

[2020-05-18 20:52] turbozapekanka opened #3166 "Card image is not displayed in WebChat (but works in Emulator)"
I guess this is self-explanatory,
Not sure if there is any limitation on the image size. The image size is ~70kb

Card image:
<img width="308" alt="CardImage" src="https://user-images.githubusercontent.com/20775323/82258447-7e497280-991f-11ea-8ba6-e7b19a1819c7.png">

Screenshot below:

WebChat:
![image](https://user-images.githubusercontent.com/20775323/82258185-febba380-991e-11ea-91d7-c0d55d7c246

[2020-05-18 21:20] compulim commented on #3166
There is no limit on image size.

Can you share the Adaptive Card with a working public URL to the image?

And can you check F12 and network tab to see if it is fetching the image?

[2020-05-19 00:36] stevkan commented on #3132
@thomas023, looking at your code closer and trying some things out, I get the impression that you aren't using suggested actions as a feature of BotFramework. Am I correct?

Unless I'm mistaken, I don't see any reference to your capturing the incoming activity from the bot. It looks like you are generating a suggested action client-side through your own code versus passing a suggested action from

[2020-05-19 00:36] #3132 closed

[2020-05-19 08:02] ras232 opened #3167 "scroll bar position issue"
Hi All,
I am facing issue in scrollbar position.
In my webchat i am loading 5 adaptive cards as attachments and i set the attachment layout as List type.
now when the message is loading the scrollbar is moving to bottom. so to view the cards i need to scroll up.
i want to set the scrollbar to the 1st card or starting of the new response.
Please suggest how to do that.

[2020-05-19 09:26] saikiran521 commented on #3131
@compulim  below is the adaptive card JSON ..

{{
  "type": "AdaptiveCard",
  "version": "1.0",
  "speak": "<s>Select the Time Zone</s>",
  "body": [
    {
      "type": "Container",
      "items": [
        {
          "type": "TextBlock",
          "text": "Select the Time Zone",
          "id": "HeaderTimeZone",
          "size": "Medium",
          "color": "Dark",
          "weight": "default

[2020-05-19 15:01] turbozapekanka commented on #3166
It is NOT fetching the image.
here is the card from LG file:

[card.lg.txt](https://github.com/microsoft/BotFramework-WebChat/files/4651267/card.lg.txt)

[2020-05-19 17:21] v-kydela commented on #3166
@turbozapekanka - We can see that you're trying to embed the image. You should only do that for very small images. When in doubt, always use uploaded images. Direct Line has a limit on how big your activity can be, and it works in Emulator because Emulator bypasses Direct Line.

Does this resolve your issue?

[2020-05-19 17:25] v-kydela commented on #3167
Hello @ras232

Can you give us some information about how you're coding your Web Chat page? Are you using React/Node.js for example?

[2020-05-19 18:16] ras232 commented on #3167
i am using js implementation
<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>

<script>
      (async function() {

window.WebChat.renderWebChat(
          {
            directLine: window.WebChat.createDirectLine({ token })
          },
          document.getElementById('webchat')
        );

        document.querySelector('#webchat > *').focus();
      }

[2020-05-19 18:51] v-kydela commented on #3167
Thank you, @ras232 (You can edit your own comments and [format code blocks using three backticks](https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks): ```` ``` ````)

I have a few more questions.

1. Is your bot able to send the attachments as part of the same activity?
1. Would it be desirable for you to send the attachments as a [carousel](https://docs.micr

[2020-05-20 05:53] ras232 commented on #3167
Hi Kyle,Thank you for your quick response.

   - Is your bot able to send the attachments as part of the same activity?  -> yes
   - Would it be desirable for you to send the attachments as a carousel?  ->  we have search functionality in the bot. For user's query it will hit api and prepare cards as per the api response and attach these cards as attachment to the response. we are using carousel n

[2020-05-20 09:50] zp1112 commented on #3158
@stevkan Thanks! It works!

[2020-05-20 11:27] mounikac16 opened #3168 "tweak the build of webchat to get webchat.js with least size."
Can you provide a way for tweaking the build of the webchat to reduce the size of the build file to as minimum as possible. The bundle should support adaptive cards and cognitive services like speech-to-text are not required.

[2020-05-20 18:10] benbrown commented on #3168
Thanks for the request, @mounikac16.

@compulim can you comment on this request? what type of options exist for building the webchat?

[2020-05-20 18:19] MaximCoppieters commented on #3161
Hello, I've also struggled with making BotFramework-Webchat work with SPFX for IE11. After trying out a lot of configurations, I've finally found one that works for me.

I'll start out with the versions I'm using. This is what my package.json file looks like (minus irrelevant packages and information):
[code]
Besides adopting these versions, I'd also add the target and browserlist fields if they a

[2020-05-20 20:10] v-kydela commented on #3167
Hello @ras232

It doesn't look like Web Chat provides any options for you to customize the scrolling behavior. You might be interested in this issue: https://github.com/microsoft/BotFramework-WebChat/issues/2884

Since you're just using the Web Chat CDN rather than using Node or making your own React app, I'm guessing you won't want to try any advanced techniques to get your desired behavior. Web

[2020-05-20 20:23] stevkan commented on #3167
Per @v-kydela request, closing as resolved.

[2020-05-20 20:23] #3167 closed

[2020-05-20 20:56] compulim commented on #3161
Thanks @c-eiser13 for super details and investigations?

For the `externals` in `config/config.json`, can you point it to https://cdn.botframework.com/botframework-webchat/4.4.2/webchat-es5.js? This one will contains polyfills required for IE11.

Also, in the <kbd>F12</kbd> console of the web part, can you type `[].includes` in the console to see if it is being polyfilled correctly?

BTW, I am new

[2020-05-21 00:09] compulim commented on #3168
Today, we have a minimal bundle which is about 460 KB after gzip. It does not include Markdown, Adaptive Cards, and Cognitive Services.

You can use this sample to get started with the minimal bundle, https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/b.minimal-bundle.

You can use [Webpack Visualizer](https://chrisbateman.github.io/webpack-visualizer/) to stu

[2020-05-21 00:43] compulim commented on #3166
Thanks @turbozapekanka.

It seems DL channel (the services) stripped out that particular string when the content is too large.

For example, when the production bot (not Emulator) send the AC card to Web Chat, the network traffic have the image `content` stripped.

@v-kydela can you follow up with the channel team? Or transfer the bug to `botframework-services`?

#### Content of `card.lg.json` by

[2020-05-21 04:37] turbozapekanka commented on #3166
I'm fine with placing the image on a website.
Does it take relative URLs by any chance?
p.s. what is the size limit for embedded images?

[2020-05-21 10:30] MaximCoppieters commented on #3161
@compulim Logically spoken, it does indeed make sense to include the es5 bundle. I tried this with multiple versions of the botframework. This breaks the web part with the following error:
[code]
This also occurs when the corejs polyfills are removed from the webpart entrypoint (this is needed because the es5 bundle applies its own polyfills)

I'm not sure about running it locally. In our workflow

[2020-05-21 11:40] Sandeepmahala opened #3169 "[Directline] Sorry message in bot script"
We have a bot running on directline channel. It throws an error message intermittently as below

![image](https://user-images.githubusercontent.com/24646692/82554837-48f18e80-9b84-11ea-9557-782ab62915a3.png)

We have located this error message to _SEND_FAILED_KEY_ in our bot script files. These script files we are generating from a [React solution on GitHub](https://github.com/Microsoft/BotFramewo

[2020-05-21 13:49] c-eiser13 commented on #3161
@MaximCoppieters thanks a ton for your information, I will review this and give it a try.
@compulim I also tried including the webchat-es5.js CDN reference in the externals section of a basic (non-react based) SPFx web part, thinking this would be the solution I would use for IE11 support, but this also crashed the web part. I was getting the "Out of stack space" error when just including the es5

[2020-05-21 14:07] Amintasn opened #3170 "Webchat Value Exchanging Issue on Botframework V4"
I'm using Direct Line, MS Speech Service and the Webchat.js on bot running on Botframework V4.
I start the bot from a web page using webchat.js passing values to the back end app like that https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api/d.post-activity-event
Code used to instantiate the bot on web channel:
`<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <

[2020-05-21 14:19] c-eiser13 commented on #3161
@compulim I still had my sample project with basic web part and es5 bundle in externals section, and here is the code and results:
![image](https://user-images.githubusercontent.com/42096464/82567352-dc09d480-9b42-11ea-8fd6-ab3e1aa3713c.png)

![image](https://user-images.githubusercontent.com/42096464/82567649-4458b600-9b43-11ea-8071-d184cee8f48f.png)

IE console:
![botes5-1](https://user-images.g

[2020-05-21 15:42] v-kydela commented on #3166
Hello @compulim - can you explain what you want me to say to the channel team? And I'm sorry but you'd have to be the one to transfer this issue because I've lost my permissions.

@turbozapekanka - yes, you would use the image URL. And there is no size limit for embedded images. There is a size limit for activities, which is why you don't want image data expanding the activities. See [here](https:

[2020-05-21 16:02] MaximCoppieters commented on #3161
@c-eiser13 I didn't find a way to make the es5 bundle work for our web part, and I tried a lot of things. The normal version at `https://cdn.botframework.com/botframework-webchat/4.4.2/webchat.js` together with the corejs imports I stated in my initial post did it for me, alongside the babel-loader configuration in gulpfile.js.

[2020-05-21 16:21] turbozapekanka commented on #3166
Thanks!
Yes you can close this. I will use hosted image.

[2020-05-21 16:51] compulim commented on #3166
@v-kydela I don't have permissions either. 😂

Few things:
- The card the customer presented is valid, sized 97.8 kB, and well under the limit of 150 kB
- If the card is considered erroneous to handle due to its size, the whole card should be discarded and an error must be raised to the bot
   - We are seeing only part of the card is discarded, this is considered *both* "user data loss" and "silent

[2020-05-21 17:11] compulim commented on #3169
It could possibly be one of the followings:

- The message failed to deliver to the bot
   - Browser not able to deliver to the service and the bot
      - Can you open Developer Tools and investigate the traffic of "POST https://directline.botframework.com/conversations/..." and see if the HTTP request is success or not?
      - If this failed, it could means either the service, or the bot, is fa

[2020-05-21 17:22] compulim commented on #3170
Can you follow the steps here to use Emulator sidecar debugging to see if the external value get posted to your bot?

You can see the steps to set it up here, https://github.com/Microsoft/BotFramework-Emulator/issues/1393.

[2020-05-21 18:16] compulim commented on #3166
I filed the bug, https://github.com/microsoft/BotFramework-Services/issues/214. Will close this one now.

@turbozapekanka if you are interested in tracking the bug, please subscribe to the bug.

[2020-05-21 18:16] #3166 closed

[2020-05-21 20:33] tdurnford commented on #3037
Closing due to inactivity. @AndreMantas if you are still experiencing this problem, please feel free to reopen this issue.

[2020-05-21 20:33] #3037 closed

[2020-05-22 08:44] ashish315 commented on #1340
@corinagum As we checked, the bug still repro's at our side.
Still our focus lands on the non interactive card which doesn't have any functionality. Please refer the attached video "[focus lands on non interactive card.zip](https://github.com/microsoft/BotFramework-WebChat/files/4666989/focus.lands.on.non.interactive.card.zip)"

Uploading focus lands on non interactive card.zip…
Correct URL: https

[2020-05-22 09:46] compulim commented on #3139
This is fixed in #3098.

[2020-05-22 09:46] #3139 closed

[2020-05-22 10:25] amistry79 opened #3171 "Hamburger menu in Webchat"
We would like to add the Hamburger menu into WebChat Directline channel. How can we achieve this in WebChat? This will be the static menu available next to input button of webchat.

![image](https://user-images.githubusercontent.com/3864971/82658397-8b7aa000-9c44-11ea-8749-fe29feaa9796.png)

[2020-05-24 14:45] Bradrajkumar commented on #3156
hi @compulim ,

i haven't heard from @ckkashyap and @swagatmishra2007 yet. will you please help me out to have a conversation or please share me the thread where you have pinged both of them so that i will be able to do one-to-one communication.

thanks

[2020-05-25 07:29] Mkurkow opened #3172 "Activity middleware hooks - Angular"
I would like to change some of the UI parts of the bot in a bit more extensive way than just styling available via stylingOptions (placing user/bot name and timestamp at the top, using full timestamp instead of just X time ago). Can I modify UI by adding angular components through activity middleware hooks?
Also would it be possible to add additional actions to input box? I.e. I want to override u

[2020-05-25 13:44] shanugit opened #3173 "Webchat userID value passing problem from webpage to bot. Botbuilder V4"
Hi Team,

I am integrating one chatbot to my web application and i did it according to the webchat integration docs - https://github.com/microsoft/BotFramework-WebChat#integrate-with-javascript.

It was working fine and i was able to receive the userID value in the following object - stepContext.context.activity.from.id

Now i am getting conversation Id in that object and the userID value is not p

[2020-05-26 00:11] v-kydela commented on #3172
Thank you for the questions, @Mkurkow

Web Chat does have an Angular sample here: https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/f.host-with-angular

You can see an example of using activity middleware in this sample here: https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.custom-components/c.user-highlighting

And I don't see a way t

[2020-05-26 09:58] Mkurkow commented on #3172
Thank you for the response @v-kydela
I am well aware about angular sample and it got me up and running with webchat via angular. Now I am trying to add some more customization to it, and it seems that natively, through react, it can be done using activites middlewares, but all examples of these are in react using ReactDOM renderer.

I have not seen any examples of using Angular and activity middle

[2020-05-26 12:05] agriniex opened #3174 "[Accessibility] [Screen-Reader] Screen reader starts reading from beginning of chat on new message"
## Version
 NPM;
meta name="botframework-directlinespeech:version" content="4.9.0"
meta name="botframework-webchat:bundle:variant" content="full"
meta name="botframework-webchat:bundle:version" content="4.9.0"
meta name="botframework-webchat:core:version" content="4.9.0"
meta name="botframework-webchat:ui:version" content="4.9.0"

## Describe the bug

Some screen reader combinations read whole cha

[2020-05-26 12:12] cimbis commented on #3174
Currently am looking into WebChat a11y issues as well and am experiencing similar behaviour.

[2020-05-26 12:56] Sandeepmahala commented on #3169
@compulim we are getting below POST traffic details for failed messages
![image](https://user-images.githubusercontent.com/24646692/82903104-15e13d80-9f7e-11ea-9605-bc7f0190b3f5.png)
What's more quizzing is that, we can see the question in our bot conversation logs (custom logging we do), but the the script file is triggering send failed key.

[2020-05-26 16:54] mkulgeorge commented on #951
Hi Team,

Is the option to enable camera in the WebChat enabled?

Thanks,
George.

[2020-05-26 17:19] Amintasn commented on #3170
Thanks @compulim. We've ended up finding a solution for the issue. So I will closing the case. Cheers

[2020-05-26 17:19] #3170 closed

[2020-05-26 17:52] Amintasn commented on #3159
Hi @compulim, just wondering if you have any update or advice about this case. Thx!

[2020-05-26 18:28] stevkan commented on #3173
Hi @shanugit, can you please list which version of Web Chat you are using? You can get the version by pasting this into your browser's dev console:

`[].map.call( document.head.querySelectorAll( 'meta[name^="botframework-"]' ), function ( meta ) { return meta.outerHTML; } )`

Can you also include your Web Chat code (hiding any secrets/tokens)? Lastly, can you tell me what the user / bot interactio

[2020-05-26 18:30] gabog commented on #3171
@amistry79, thank you for opening this issue.  For product behavior, how-to, or general understanding questions, please use Stackoverflow.

https://stackoverflow.com/search?q=bot+framework

[2020-05-26 18:30] #3171 closed

[2020-05-26 18:32] gabog commented on #3174
Hi @cwhitten, can you take a look at this one?
Thanks

[2020-05-26 18:34] gabog commented on #3147
Hi @compulim, do you have any updates on this one?

[2020-05-26 18:44] shanugit commented on #3173
Hi @stevkan   following is the version of the web chat -

 ["<meta name="botframework-directlinespeech:version" content="4.9.0">", "<meta name="botframework-webchat:bundle:variant" content="full">", "<meta name="botframework-webchat:bundle:version" content="4.9.0">", "<meta name="botframework-webchat:core:version" content="4.9.0">", "<meta name="botframework-webchat:ui:version" content="4.9.0">"]

[2020-05-27 07:45] shunyh commented on #3173
@shanugit

Just do a debug by bot-emulator, and I can get the User info from conversation update activity:

![image](https://user-images.githubusercontent.com/7311188/82991543-6b762280-a030-11ea-818f-c77593df937b.png)

The difference is the first activity is from the client(bot-emulator) to bot-service instead of from bot to the user.

Hope helps.

[2020-05-27 10:33] shanugit commented on #3173
@shunyh  -

For the bot emulator i am also getting the same activity. It have the conversation Id and name.

But when i am sending conversation update for the first time (from bot to user) i am looking for the userId from the font end integration code (from user to bot).

After user starts the chat, its having the userID and name parameter in the activity.

My requirement is to get the userId in t

[2020-05-27 13:32] palancana opened #3175 "TypeError on console using CDN, Angular and Cognitive Speech Services (o.finally is not a function)"
## Screenshots

![Screenshot 2020-05-27 at 17 14 32](https://user-images.githubusercontent.com/9049420/83023275-bb0f1b00-a03d-11ea-920a-a132e53d4770.png)

## Version

Using latest CDN with Angular. Happens in Chrome and Firefox as well.
`<script crossorigin="anonymous" src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>`
[code]
## Describe the bug

I'm using Cogniti

[2020-05-27 14:31] UncleZen commented on #3115
Any updates on this issue? Will there be a fix any time soon?

[2020-05-27 18:39] primesagar commented on #2289
`const markdownIt = new MarkdownIt({ html: true, linkify: true, typographer: true });`

MarkdownIt showed an error "ReferenceError: MarkdownIt is not defined"
How to use it then?

[2020-05-27 19:02] swagatmishra2007 commented on #3112
That does not seem like a supported scenario for SSO via BotFramework. Currently, we only support AAD V2 provider for SSO. your second solution might be something you can do, if you can find a way to provide the token to webchat via a middleware.
The current SSO sample does something similar - where the aadv2 token from the hosting website is accessed by webchat, but that is for aadv2 only and use