[2020-08-19 02:43] arman-g opened #3423 "CDN integrity hashing is not correct."
## Screenshots
![img](https://user-images.githubusercontent.com/22778273/90585968-e90e8200-e18a-11ea-98f2-d4b6c19d71e0.png)

## Version

CDN 4.10.0

## Describe the bug

Please correct the CDN integrity attributes' hashing values.

[2020-08-19 04:51] peterinnesmsft commented on #3416
@felixvanleeuwen I have submitted a PR to fix this - please see the link above to track status on resolution of this issue.

[2020-08-19 05:09] corinagum commented on #3423
Thank you. The hash values have been updated. https://github.com/microsoft/BotFramework-WebChat/releases/tag/v4.10.0

[2020-08-19 05:09] #3423 closed

[2020-08-19 07:33] collegewap opened #3426 "DirectLine Speech (DLS): username and userID is not being sent to bot"
## Screenshots

### DLS

![image](https://user-images.githubusercontent.com/9767383/90604588-b44a0b80-e21a-11ea-8193-5cb9d3caebdd.png)
When the user types a message
![image](https://user-images.githubusercontent.com/9767383/90604702-dcd20580-e21a-11ea-9dca-35fa06ac90fe.png)

When the user speaks, 'from' field itself is not present

![image](https://user-images.githubusercontent.com/9767383/9060498

[2020-08-19 13:38] CHuijsman opened #3427 "Ability to customize avatar image in conversation"
## Feature Request
**Is your feature request related to a problem? Please describe.**
User experience is one of the most important KPI’s for our entire website and thus for our product. This includes the ease at which users can read the information the chatbot provides them with. In our Web Chat V3 application we adjusted the source code, so we can show the avatar image only when it is the last me

[2020-08-19 16:41] scheyal commented on #2197
Getting Cx requests for this. FYI.

[2020-08-19 18:32] compulim opened #3428 "4.10.0 Post-release checklist"
These are chores that we should do before starting the cycle to reduce ripple effects if we do it in mid-cycle.

Tips:

- Clean your repo before start
- Remove `node_modules` from all folder
   - `git clean -fdx`
- Never delete `package-lock.json`
- If you mess it up, tableflip and redo
- In `component/package.json`
   - Remove reference to `botframework-webchat-core` by hand-modifying `package.js

[2020-08-19 18:52] #3416 closed

[2020-08-19 19:52] compulim commented on #3256
I created a minimal Webpack + Web Chat repo here to see how things work, without too much emissions, https://github.com/compulim/webchat-bundle-size-webpack.

By switching this line of code, [`src/index.js:3`](https://github.com/compulim/webchat-bundle-size-webpack/blob/main/src/index.js#L3), I am able to switching between a full build and minimal build. For instance, full build include speech sup

[2020-08-19 20:45] v-kydela commented on #3394
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-08-19 20:45] #3394 closed

[2020-08-19 22:55] #3408 closed

[2020-08-20 00:04] compulim opened #3429 "Add tests for multiple bundlers"
## Feature request

Add integration tests to make sure Web Chat works in minimal setup of these bundlers:

- Webpack, see the [minimal setup here](https://github.com/compulim/webchat-bundle-size-webpack/)
- [Parcel](https://parceljs.org/)
- [Rollup](https://rollupjs.org/)

[2020-08-20 07:39] prashanthsridhar commented on #3357
Hi @compulim , i hope my findings were useful,any luck on reproducing this?

[2020-08-20 09:09] Harika456 commented on #3425
Hi Lauren, could you please let me know if this issue has been shifted to any other group or where can I find comments for it?
Please help.

[2020-08-20 18:05] lolo8304 commented on #3256
Thx @compulim - I will talk with our web pack specialist to see how we can fix our build.

This is great news.  And i will also use the newest version.

[2020-08-20 18:07] peterinnesmsft commented on #3411
@collegewap we will investigate and handle this issue as part of our next upcoming release cycle.

[2020-08-20 18:09] peterinnesmsft commented on #3366
Closing due to inactivity!

[2020-08-20 18:09] #3366 closed

[2020-08-20 18:12] compulim commented on #3390
As we demonstrated the issue with W3C WCAG 2.1 sample, it seems Safari has a bug on `live="region"` and causing the speech to be interrupted. FYI, the sample is a golden standard on how various accessibility feature should work. And seems they failed the bar.

As this problem live outside of Web Chat, there are limited options we could do here:

1. File a bug to Safari team
1. Find a workaround

F

[2020-08-20 18:14] compulim commented on #3256
Thanks @lolo8304.

[2020-08-20 18:44] compulim commented on #3389
We are using [lerna](https://github.com/lerna/lerna#readme) for monorepo management. It handle `npm link` and other symlink/junction automatically. When you run `npm run bootstrap`, it run `lerna bootstrap`, which actually do the following:

- Go to every `packages/*` folder, then run the following
   - Backup `package.json`
   - Remove peer packages from `package.json`
      - For example, in `pa

[2020-08-20 20:23] compulim opened #3431 "First welcome message is delayed for 5 seconds"
## Version

`4.10.0`

## Describe the bug

The first welcome message coming in is being delayed for 5 seconds. Probably due to recent accessibility fix that would delay message up to 5 seconds if their "reply-to-id" activity was not arrived yet.

## Steps to reproduce

1. Go to MockBot2
1. You should see "Hello and welcome!"

## Expected behavior

Instead, the "Hello and welcome!" arrive 5 seconds

[2020-08-20 22:30] compulim commented on #3389
I tested the fresh clone and build inside a brand new Linux box and it works. @cimbis could you see if there are any variations from your building steps?

FYI, we have few active development environments: Windows 10, Linux via WSL2, and Linux via Docker (for CI only). And all looks good to us.

Do you think this issue is specific to macOS?

[2020-08-21 08:27] compulim commented on #3411
Sorry for late response. I am starting to investigate and will post my investigation notes here.

[2020-08-21 08:30] compulim commented on #3411
## Minimal repro

- Connect using DLSpeech to any bots
   - For example, /samples/01.getting-started/d.es5-direct-line-speech/index.html
- After connected, click on microphone button and remain silent
   - This should trigger `InitialSilenceTimeout` event on the service side
- The bot will say "Unknown command: ''. Type help to learn more."
- Click on microphone button again
- Expected: the microp

[2020-08-21 23:23] stevkan opened #3434 "Dispatched event, postBack, or messageBack + activityMiddleware causes fatal error"
## Screenshots
![image](https://user-images.githubusercontent.com/18403946/90941691-b7362f00-e3c7-11ea-87e4-19139ac92e26.png)

## Version
CDN: v4.10.0

## Describe the bug
Error occurs when `store.dispatch()` is used to send a `SEND_EVENT`, `SEND_POST_BACK`, or `SEND_MESSAGE_BACK` activity and `activityMiddleware` is also utilized.

## Steps to reproduce
1. Run the [05.custom-components/c.user-hig

[2020-08-24 12:15] SeanDarlingBiomni opened #3435 "suggestedActionsStackedMaxHeight Style Option"
## Feature Request

suggestedActionsStackedHeight is a good recent addition to the style options. It would be better to have suggestedActionsStackedMaxHeight which sets the maximum height of the suggested actions area but leaves it only growing to fit it's contents when that would be less than the max height.

**Is your feature request related to a problem? Please describe.**

Currently the webcha

[2020-08-24 18:03] lauren-mills commented on #3435
We will put this on the backlog and evaluate it for an upcoming release. Thanks!

[2020-08-24 18:07] lauren-mills commented on #3427
Hi, we have added this to the backlog and will evaluate it for a future release.

[2020-08-24 18:29] lauren-mills commented on #3425
HI @Harika456, upon review this question seems best suited for our Stack Overflow community at [here](https://stackoverflow.com/questions/tagged/botframework). Our support team regularly reviews them and should be able to give you some ideas on how to get this working.

You can also find some additional samples here that may be helpful: https://github.com/microsoft/BotFramework-WebChat/tree/master

[2020-08-24 18:29] #3425 closed

[2020-08-24 20:11] corinagum commented on #3427
This feature was implemented and released in 4.10.0. Please see the Activity Grouping PR: https://github.com/microsoft/BotFramework-WebChat/pull/3365

[2020-08-24 20:12] #3427 closed

[2020-08-24 20:48] tdurnford commented on #3434
@stevkan I believe this is due to a breaking change in Web Chat v4.10. Take a look the [Breaking Changes](https://github.com/microsoft/BotFramework-WebChat/blob/master/CHANGELOG.md#change-in-general-middleware-design) in the Change Log for more details.

@compulim Can you please weigh in.

[2020-08-24 23:01] stevkan commented on #3434
@tdurnford, thanks for the info. That did seem to fix it. Originally, I had a different implementation that, with v.4.10.0, was failing. I went to the samples and updated according to those which, as you can see, still wasn't working. Late on a Friday, I hadn't thought to check the change log.

[2020-08-24 23:13] tdurnford commented on #3434
I'm going to reopen this since the sample is still breaking.

[2020-08-24 23:22] stevkan commented on #3434
@tdurnford, good call on re-opening. Just tested the sample referenced above, again, and yes it is still broken.

The readme shows the below code which, presumably, MockBot still uses as it also breaks when calling the hero card and clicking the `postBack` button.

[code]

[2020-08-25 14:29] arjendevries commented on #1760
@a-b-r-o-w-n , any current samples to look at for IE 11?  Both resources you posted have been removed.

[2020-08-25 16:16] a-b-r-o-w-n commented on #1760
@compulim are there any samples of documentation for IE11?

[2020-08-26 06:53] arya-ayush opened #3436 "Teams SSO Not Working in Task Module"
Teams SSO is working fine in Teams Tab and task module of Messaging extension but getting below error in Teams Bot task module while fetching client token

ExtensionTabService: getAuthTokenForApp: Failed with error - Definition not found

Using below code to open task module in teams bot with help of hero card -

https://teams.microsoft.com/l/task/${appId}?url=${modalUrl}&height=${height}&width=${

[2020-08-26 09:14] nt-7 opened #3437 "Unable to display botAvatarImage without botAvatarInitials"
## Screenshots
Latest Web Chat is unable to display botAvatarImage without botAvatarInitials.

![image](https://user-images.githubusercontent.com/20683785/91283417-8853fa80-e7c5-11ea-90b8-2a32cd2a728c.png)

## Version
`4.10.0 (current latest)`

## Describe the bug
Web Chat is unable to display botAvatarImage without botAvatarInitials in current latest version.
Is this expected behavior?

[code]

M

[2020-08-26 09:36] Amit8527510735 commented on #3284
#FirstParty:CSEO; CSEO:WebChat;

[2020-08-26 11:37] rvinothrajendran commented on #3400
I have checked the both code only difference in the app.py file.
I used old way of coding and echo sample used a new way. old way of coding style was working fine in old emulator ( ref the Screenshots)

[2020-08-26 12:43] LucaMele commented on #3256
Hello @compulim, I have not red all the inputs and saw in detail your webpack build but have one question: Is your build export which have smaller size compatible with IE11?

[2020-08-26 17:58] compulim commented on #3437
We recently updated the avatar.

To show an image on the bot side, please provide the initials through `botAvatarInitials`. You can also provide an empty string in case your bot doesn't have an initial.

Please let us know how it works. 😉

[2020-08-26 19:00] compulim opened #3438 "Toast: Toast and transcript scroll bar looks continuous on Omnichannel"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/91344804-5164f100-e793-11ea-8926-3c4671d290a8.png)

## Version

`4.10.0`

## Describe the bug

The scroll bar of toast and transcript seems visually merged together.

This only repro on Omnichannel because they restyled the scroll bar.

## Steps to reproduce

1. Go to '...'
1. Click on '....'
1. Scroll down to '....'
1. See

[2020-08-27 06:20] stevengum opened #3439 "Inconsistent return types in CardActionContext.getSignInUrl()"
Line 118 returns a Promise, but line 125 returns a string or undefined:

https://github.com/microsoft/BotFramework-WebChat/blob/906de7753b140d0925c22e0043628127cc90e070/packages/component/src/Composer.js#L108-L125

This causes an exception in `createDefaultCardActionMiddleware()` where it expects getSignInUrl to return a Promise:

https://github.com/microsoft/BotFramework-WebChat/blob/b47cdac3d10b

[2020-08-27 08:04] SeanDarlingBiomni commented on #2745
Is there any plans to introduce this feature? It is quite common to see in other chat components. The webchat component currently has terrible UX if there are too many suggested actions but this feature would solve it! Thanks.

[2020-08-27 11:18] Unders0n commented on #1835
Guys any update on this? I would appreciate any of the solutions (stacking and just vertical) , the one that implemented now i think is the worst. Can we have an option to make this without herocards?

[2020-08-27 13:34] Tartua opened #3440 "BotFramework-WebChat Version 4.10.0 doesn't support adaptive card version 1.3"
Microsoft has recently updated to adaptive card version 1.3 to add validation to the cards.

Here is the message that is displayed in the webchat.
{
  "message": "The specified card version (1.3) is not supported. The maximum supported card version is 1.2"
}

Currently versions on site:
meta name="botframework-directlinespeech:version" content="4.10.0"
meta name="botframework-webchat:bundle:varian

[2020-08-27 18:02] compulim commented on #3426
@collegewap `userID` and `username` works differently in DLSpeech. I believe forcibly passing it to DLSpeech channel may not work.

For the missing "role", we will investigate.

[2020-08-27 19:00] stevengum commented on #3439
As an aside, using this resulted in a partially successful OAuthPrompt flow when using Direct Line ASE. (The signInUrl link worked as expected)

However, attempts to use the magic code post-successful login through the OAuth provider failed.

[2020-08-27 20:22] corinagum commented on #1835
@Unders0n vertical stacking has been available since 4.7. Please feel free to use it!

[2020-08-27 20:23] corinagum commented on #3438
@compulim please add repro steps

[2020-08-28 04:41] collegewap commented on #3426
@compulim Could you please let me know how do I pass `userID` and `username` to DLSpeech and capture it in the bot side? I didn't find any related documents.

[2020-08-28 18:30] dmvtech commented on #3400
Thanks @rvinothrajendran Just so I'm clear; did you try the new way and have it work?

[2020-08-28 21:40] stevkan commented on #3389
Closing due to a lack of activity. If the problem persists, please feel free to reopen.

[2020-08-28 21:40] #3389 closed

[2020-08-29 03:27] rvinothrajendran commented on #3400
@dmvtech yes

[2020-08-31 05:54] nikheelneelay commented on #1964
Hi, is there a sample code on how to use these changes?

[2020-08-31 18:08] pavolum commented on #3307
This is a duplicate and is being tracked here: https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/221

[2020-08-31 18:08] #3307 closed

[2020-08-31 22:15] kmkaliraj commented on #3182
Hi,
  I tried using the new style options to set height and overflow for the suggested actions container. It's always fixed height whereas we want it to be flexible so that max-height should is what we want to set. As shown here in the gif, for few number of buttons we just want to show them only the content height.

![stacked actions](https://user-images.githubusercontent.com/23566351/91773991-ae

[2020-09-01 03:24] kmkaliraj opened #3444 "Suggested Actions container height is not flexible"
I tried using the new style options to set height and overflow for the suggested actions container. It's always fixed height whereas we want it to be flexible so that max-height is what we want to set. The height should fit the content if the container have few buttons and doesn't overflow
styleOptions={{
              botAvatarInitials: true,
              userAvatarInitials: true,

[2020-09-01 12:20] HesselWellema commented on #3437
Also struggling with avatar for Bot.
Avatar for user is showing corretly all the time
Avatar for bot does not show. It does show gutter
Unless the bot shows a caroussel of cards. In that case the bot avatar image does show.
Is used the styleoptions as shown in Sample - d.display-sender-images

Hope this helps a bit. Maybe later I will be able to spend more time on a reproducable example

[2020-09-01 16:01] prashanthsridhar commented on #3357
@munozemilio i see that the status is still waiting for customer. Please do the needful.

[2020-09-01 18:01] compulim commented on #3315
I believe this is a feature we missed.

[2020-09-01 18:03] compulim commented on #3440
We will bump to Adaptive Cards 2.x library, which is on 1.3 schema, in R11.

[2020-09-01 18:04] compulim commented on #3357
Thanks for the ping.

Will continue my investigation later this week. We are working on a security fix for 4.10.1 currently. 💪🏻

[2020-09-01 18:13] compulim opened #3445 "[Content Security Policy] Add `nonce` support for `<img>` and other tags"
## Feature Request

In #3393 (PR #3443), we added a new prop `nonce`. This prop is currently used for injecting `<style>` element.

We should expand this prop to support `<img>` and other media elements that requires nonce to operate.

## What it will change

(This CSP is not exhaustive, just to illustrate the differences.)

### Today

Developer must use a URL-based source for `<img>` and other me

[2020-09-01 19:04] corinagum commented on #3182
@kmkaliraj  ah, thanks for reporting this. Definitely a bug - could you file a new issue? I'll add it to our TBD list.

[2020-09-01 19:06] corinagum commented on #3444
Thanks for catching this bug. I'm adding it to our TBD list.

[2020-09-01 19:18] compulim commented on #3445
Currently, `<img>` element is not nonceable.

![image](https://user-images.githubusercontent.com/1622400/91896141-3855b780-ec4d-11ea-8976-655c6ae4459b.png)

[2020-09-01 21:03] compulim commented on #3445
Looks like this is not doable until browser support `nonce` attribute in `<img>` and other media elements.

[2020-09-01 21:03] #3445 closed

[2020-09-01 21:11] compulim opened #3446 "[Content Security Policy] Restrict `blob:` in `connect-src`"
## Feature Request

Today, we require this directive: `connect-src blob:`.

This is because [`botframework-directlinejs`](https://npmjs.com/package/botframework-directlinejs) use blob URL to retrieve `ArrayBuffer` for uploading attachments. The code is at https://github.com/microsoft/BotFramework-DirectLineJS/blob/master/src/directLine.ts#L807.

## To-do

To remove this directive, we need to modif

[2020-09-01 21:34] compulim opened #3447 "[Content Security Policy] Set a baseline policy for all tests"
## Feature Request

After #3393 is resolved (PR #3443 is merged), we can start enabling CSP on all of our tests, to make sure we don't violate some of the directives in the future.

The baseline policy is documented at [`docs/CONTENT_SECURITY_POLICY.md`](https://github.com/microsoft/BotFramework-WebChat/tree/master/docs/CONTENT_SECURITY_POLICY.md). We will need to relax it a bit, for example, allo

[2020-09-01 23:26] bzbetty opened #3448 "Adaptive Card Designer - toolbar buttons missing html type attribute"
Similar to https://github.com/microsoft/BotFramework-WebChat/issues/594, the buttons in the adaptive card designer are missing the type="button" attribute which means if it's embedded in a html form tag it tries to submit the form anytime buttons like the "new card" button is pushed.

Version 1.3

[2020-09-01 23:27] bzbetty commented on #3448
erm, somehow posted in wrong git repo

[2020-09-01 23:27] #3448 closed

[2020-09-02 18:49] compulim commented on #3431
Talked to SDK and looks like it is technically impossible to have the `replyToId` from the first activity removed. I.e. even the first activity is essentially, *the first*. It is replying to something "earlier than the first activity".

We will use a shorter timeout for the first activity.

[2020-09-02 19:11] compulim commented on #3083
# Problem statement

Currently, we have carousel (default) and stacked. But it is not enough. People move to Hero Card because they prefer inline buttons that are one-off and disable on submit.

HealthBot also use Hero Card as the solution for QnA messages.

# Work needed

## Design a new "inline" layout for suggested actions

This will replace the need of Adaptive Cards for simpler question-and-a

[2020-09-02 19:17] compulim commented on #2793
Instead of hooks, I think it's more intuitive to use props to inject channel data. For example,

[code]

We should also reserve some names. For example, channel data `speaking` and `state` is currently used in Web Chat.

[2020-09-02 19:18] compulim commented on #2818
I think @timenick is working on this.

[2020-09-02 19:23] compulim commented on #3440
@Tartua we already have an issue #3392 for bumping Adaptive Cards in Web Chat. I will close this one as dupe.

[2020-09-02 19:23] #3440 closed

[2020-09-02 21:36] corinagum opened #3449 "Component package: turn on react/display-name eslint rule back on"
PR https://github.com/microsoft/BotFramework-WebChat/pull/3442 explicitly turns `react/display-name` eslint rule off. We want to turn it back on and make related linting fixes.

[2020-09-03 07:21] Unders0n commented on #1835
@corinagum can you please guide me on how to do that (if that's important - for webchat control). Wasn't able to google that

[2020-09-03 09:00] KAU-KING-ABDULAZIZ opened #3451 "http://www.linkedin.com/in/studentAnnouncement"
## Screenshots

## Version

## Describe the bug

## Steps to reproduce

1. Go to '...'
1. Click on '....'
1. Scroll down to '....'
1. See error

## Expected behavior

## Additional context

[Bug]

[2020-09-03 10:00] CHuijsman commented on #3038
We are also interested in style options for the sendboxbutton background and on hover effect. Besides we were wondering if an option like sendboximage can be added for full user experience customization

[2020-09-03 17:20] #3417 closed

[2020-09-03 17:49] sandeepreddy0987 opened #3452 "Duplicate welcome messages when the chat is initialized from directline channel."
![image](https://user-images.githubusercontent.com/33647692/92149702-9b755480-eddb-11ea-8986-20c321bf9d47.png)

## Describe the bug
Our bot is built in bot composer and deployed to azure bot channel. Using a direct line channel we are connecting it to the chatbot in our cross-platform mobile application (xamarin, C#). we are using a secret key for conversation.
we are using the syncfusion sfchat p

[2020-09-03 18:29] corinagum commented on #3038
@CHuijsman This customization is available by creating your own sendboxbutton component. Please take a look at [customizing the UI](https://github.com/microsoft/BotFramework-WebChat#customizing-the-web-chat-ui).

[2020-09-03 18:30] corinagum commented on #1835
@Unders0n please take your implementation questions to Stack Overflow. Thanks!

[2020-09-03 18:39] corinagum commented on #3451
This appears to be spam. If you need to report a bug, please fill out the provided report/reproduction steps.

[2020-09-03 18:39] #3451 closed

[2020-09-03 18:43] corinagum commented on #3428
Partial fix by PR #3442

[2020-09-03 21:09] stevkan opened #3453 "Sending .txt or .csv file results in empty chat bubble in Web Chat, Emulator"
## Screenshots
![image](https://user-images.githubusercontent.com/18403946/92165679-455cdd00-edec-11ea-9dbe-3cf20f305367.png)

![image](https://user-images.githubusercontent.com/18403946/92166592-b2bd3d80-eded-11ea-9eb2-70c6cf794feb.png)

## Version
v4.10.0 CDN

## Describe the bug
A customer reports that sending a .txt or .csv file via the send attachment button results in an empty chat bubble. L

[2020-09-04 06:27] #3393 closed

[2020-09-04 21:47] dmvtech commented on #3400
Ok, are you ok to go ahead with the new code/way? Is this resolved for you? I don't know what has changed, but likely there was a bunch of fixes/changes/etc that happened somewhere.

[2020-09-05 03:22] rvinothrajendran commented on #3400
yes  , better we can close this issue

[2020-09-06 03:23] #3400 closed

[2020-09-07 06:23] harimadhavk opened #3454 "Send an activity of type "event" from React WebChat"
Is it possible to send an activity from the React WebChat as below. This is to inform the bot with additional payload as an one time activity for the particular conversation.

{
    "type": "event",
    "name": "userInformation",
    "from": {
        "id": "postman-client",
        "name": "postman-client"
    },
    "value": {
        "sender":"emulator",
        "auditorId": "123456",
        "

[2020-09-07 06:28] harimadhavk opened #3455 "Display conversation from a static blob or activity json"
🚨 The issue tracker is not for implementation questions 🚨

We have a requirement to show the conversation between a user and an bot as a view only mode. The bot is storing the conversation information as Blob in Azure Blob storage.

Is it possible to display the data as read only using the React WebChat component or which portion of code can i strip to display the chat log (Activity JSON eg
`"[{"t

[2020-09-07 20:11] v-kydela commented on #3452
@sandeepreddy0987 - Are you still working on this?

[2020-09-07 23:22] sandeepreddy0987 commented on #3452
yes, I can still see the issue with the duplicate welcome message. @v-kydela if it is possible to contact me in teams or skype, I can show you the issue.

[2020-09-08 17:47] v-kydela commented on #3452
@sandeepreddy0987 - I can see the issue just fine in your screenshot, thank you. I just need to see the relevant code in order to help you fix it. Can you show me the code that handles welcome messages both on the bot side and the client side?

[2020-09-08 18:06] GeoffCoxMSFT commented on #3455
harimadhavk, thank you for opening this issue.  For product behavior, how-to, or general understanding questions, please use Stackoverflow. Asking a question there can help you determine if this is possible.

[2020-09-08 18:07] #3455 closed

[2020-09-08 18:07] GeoffCoxMSFT commented on #3454
harimadhavk, thank you for opening this issue.  For product behavior, how-to, or general understanding questions, please use Stackoverflow.

[2020-09-08 18:07] #3454 closed

[2020-09-08 21:40] tonyanziano commented on #3165
I was able to reproduce this using `https://cdn.botframework.com/botframework-webchat/latest/webchat.js`:

![image](https://user-images.githubusercontent.com/3452012/92530296-f8f51100-f1e0-11ea-93d6-e1c590d284a9.png)

Bot code:

[code]

[2020-09-08 21:58] sandeepreddy0987 commented on #3452
Below is the code for welcome dialog in bot composer. please let me know if anything required.
{
  "$kind": "Microsoft.AdaptiveDialog",
  "$designer": {
    "$designer": {
      "name": "deploymentbot",
      "id": "Z15R6G"
    }
  },
  "autoEndDialog": true,
  "defaultResultProperty": "dialog.result",
  "recognizer": "deploymentbot.lu",
  "triggers": [
    {
      "$kind": "Microsoft.OnConversati

[2020-09-08 22:40] v-kydela commented on #3452
@sandeepreddy0987 - Now that you've provided that JSON, I can see the problem. Please refer to any Composer sample to see the correct way to send a welcome message:

![image](https://user-images.githubusercontent.com/41968495/92534154-ef6fa700-f1e8-11ea-9c03-a7a51ce6524e.png)

Depending on how your Direct Line client is configured, your bot may receive one or two conversation updates when a new co

[2020-09-09 00:20] sandeepreddy0987 commented on #3452
Thank you @v-kydela. There is a bug in calling the method in app. we have fixed it. Issue resolved

[2020-09-09 00:20] #3452 closed

[2020-09-09 10:05] lorenz-haenggi-axa commented on #3256
hi @compulim  - we are working on the topic in this next sprint and would like to ask you if you have a short feedback to the question of @LucaMele ? he is one of our FE mastermind

[2020-09-09 19:26] compulim opened #3460 "Release of 4.10.1"
# Checklist

## Build

1. [x] ~Bump MockBot to Bot Framework SDK release 4.10.3~
   - ~https://www.npmjs.com/package/botbuilder/v/4.10.3~
   - We are not bumping for patch release
1. Bump `botframework-directlinejs`
   - Bump `botframework-streaming` dependency to `4.10.3` (Is this the correct version? Need to ask Steven.)
   - Bump version to `0.13.1`, PR is #XXX
   - Wait for release on NPM
1. [

[2020-09-09 21:19] corinagum commented on #3360
@compulim in your second bullet under __Potential Solutions__, you said "I think we fixed that in 4.9.2". What do you mean? The `<ScreenReaderText />` component is still in use. Do you mean the following:

Should we consider setting the `dangerouslySetInnerHTML` property in `<ScreenReaderText />` in order to honor the markdown/html for the screenreader? I see we're already using it for `BasicToast

[2020-09-09 21:55] compulim commented on #3360
For the "we fixed that in 4.9.2", IIRC:

- We separated transcript into 2 parts: live region and interactive/navigable. Both of them show similar set of activities
   - Live region: activity only show up for ~1s, then removed (hack for screen readers). This activity will have Markdown stripped using Remark. This is done through `<ScreenReaderActivity>` component. Goal: "end-user can listen to inco

[2020-09-09 22:34] corinagum opened #3462 "Playground update"
## Version

4.10.1

## Steps to reproduce

Run playground and see that many features are unavailable/not working.

## Expected behavior
Playground needs to be updated in order to test and verify previously working features. Stretch goal would be to add more options

## Steps
- [x] Remove History
- [x] Start convo - official MockBot
- [x] Start convo - local MockBot
- [x] Locale
- [x] Direction
- [

[2020-09-10 02:05] compulim opened #3463 "[Edge UWP] Scroll-to-bottom is losing stickiness sometimes - related to #3597"
## Screenshots

(Will add)

## Version

`4.9.2`, `4.10.0`, `4.10.1`

## Describe the bug

On Edge UWP (44.20206.1000.0), we are seeing the transcript may lose stickiness when new messages coming in too fast or the messages are too long.

We also repro on `4.9.2` and `4.10.0`, which we already tested and didn't spot the issues at the time. May be related to browser testing, more verifications is re

[2020-09-10 02:06] compulim opened #3464 "[CI/CD] Add SDL extensions for code scanning"
## Feature Request

For security compliance, add SDL extensions to our CI/CD pipeline for code scanning.

This must be done by early October.

[Enhancement]

[2020-09-10 09:05] grimz11 opened #3465 "Directline token won't work even saving the token to the server."
**Version**
"botframework-webchat": "4.9.0",

**Issue**
I saved the generated token from the createdirectline the first time it was initialized. I don't know which issue I read that the token should be saved to the server, not on the browser. But after 1 hour I can't still load and unable to connect. It will work if it is not passed to the 1-hour mark.

[code]

[2020-09-10 11:28] nfreear opened #3466 "Request: I need to lengthen the dictation / "Listening" timeout"
## Feature Request

**Is your feature request related to a problem? Please describe.**

We're developing a speech-Bot where we have some open-ended questions, where we expect the user to respond with several sentences.

We expect them to pause to think as they respond.

At the moment, a very short pause ends speech recognition prematurely, which causes us a problem.

**Describe the suggestion or r

[2020-09-10 17:18] stevengum commented on #2693
The error stems from the return type issue identified in https://github.com/microsoft/BotFramework-WebChat/issues/3439

[2020-09-10 17:19] stevengum commented on #2693
Temporarily assigning to myself...

[2020-09-10 18:45] compulim commented on #3466
@cwhitten could you help route this feature request to Speech team? On Web Chat side, we can't set the "initial silence timeout" duration. This silence detection is a service-side feature.

This ask also related to the "push-to-talk" scenario.

[2020-09-10 19:39] compulim opened #3468 "Update README.md to surface recent feature highlights"
## Feature Request

Add a new section in README.md so we can tell developers what features we shipped and how to leverage them. Especially on CSP because it is a security feature, promoting it will help reduce attacks.

- Add Content Security Policy

[Enhancement]

[2020-09-10 19:40] compulim commented on #3428
We will fix it on post-4.10.1.

[2020-09-10 19:40] #3428 closed

[2020-09-10 19:43] compulim opened #3469 "4.10.1 Post-release checklist"
These are chores that we should do before starting the cycle to reduce ripple effects if we do it in mid-cycle.

Tips:

- Clean your repo before start
- Remove `node_modules` from all folder
   - `git clean -fdx`
- Never delete `package-lock.json`
- If you mess it up, tableflip and redo
- In `component/package.json`
   - Remove reference to `botframework-webchat-core` by hand-modifying `package.js

[2020-09-10 21:36] compulim commented on #3426
To pass user ID to a DLSpeech bot, you will need to pass it thru `createAdapters()`, for example:

[code]

However, `username` is not supported by DLSpeech channel.

We will update our docs to show how to set a custom user ID.

[2020-09-10 21:36] #3426 closed

[2020-09-10 21:38] stevkan commented on #3465
Hi @grimz11, I posted a response to your posted question on Stack Overflow (located [here](https://stackoverflow.com/questions/63823755/botframework-create-directline-get-token-from-server)). I'm closing this as a duplicate.

[2020-09-10 21:38] #3465 closed

[2020-09-10 21:40] compulim commented on #3426
One more note on the `from` field.

According to the spec, the `from` field should not be sent to the service. It is up to the bot to find out the role of the sender based on `from.id`.

[2020-09-10 23:24] #3124 closed

[2020-09-11 00:03] #3444 closed

[2020-09-11 01:36] nathanlindorff opened #3473 "Activity Status not being rendered when adding reactions as per sample"
Adding reaction buttons as per https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.custom-components/d.reaction-buttons/ results in the Activity Status (eg "5 minutes ago") not being rendered. Running the demo page associated with the sample shows the same issue (See screenshot)

I came across the issue while upgrading an older webchat from version 4.5 to 4.10. In the debuggin

[2020-09-11 02:18] nathanlindorff commented on #3473
I can confirm that after converting the React Component to use the new style the same issue occurs

![image](https://user-images.githubusercontent.com/899380/92843472-1c5dcd00-f428-11ea-9ab2-f6b8d4e61a42.png) ![image](https://user-images.githubusercontent.com/899380/92843563-3a2b3200-f428-11ea-8226-f7052ab145b4.png)

[2020-09-11 02:51] nathanlindorff commented on #3473
Dropping back to 4.9.2 everything has started working as expected again. I suspect the issue may have something to do with the breaking changes mentioned in [4.10.0 release notes](https://github.com/microsoft/BotFramework-WebChat/releases/tag/v4.10.0) given the mention of StackedLayout, but our code makes no direct reference to them.

[2020-09-11 10:04] nfreear commented on #3466
Thanks.

To add, I think I'm concerned with the `SpeechServiceConnection_EndSilenceTimeoutMs` (not the `InitialSilence`):

 * https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/502

Thanks,

Nick

[2020-09-11 11:55] naser-baig-au4 opened #3474 "Unable to generate token from secret, throws a 403 forbidden error"
Hi there,

I am trying to connect my React webchat client to my local bot and as per [this tutorial](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-webchat?view=azure-bot-service-4.0), I made a GET request in this format:

[code]
It doesn't process my request and throws a 403 forbidden error. The secret I am supplying is from WebChat channel. I also tried DirectLine

[2020-09-11 18:00] corinagum commented on #3468
Is this for the 'Version notes' section? Or somewhere else?

[2020-09-11 18:02] corinagum commented on #3473
Thanks for filing this issue, @nathanlindorff. I'm adding it to our Investigate list for R11, for which the planning meeting is happening today.

[2020-09-11 18:03] corinagum commented on #3469
Closing as complete

[2020-09-11 18:03] #3469 closed

[2020-09-11 19:28] compulim commented on #3468
Version note looks good.

[2020-09-11 19:32] compulim commented on #3466
Thanks for the pointer. Someone from our team should look into it:

- Is it supported in their latest version of JS SDK?
- Is it supported in both Speech Services and Direct Line Speech?

[2020-09-11 20:12] corinagum commented on #2908
From team discussion: what is the user impact here? @tdurnford

[2020-09-11 21:58] stevkan commented on #3474
@naser-baig-au4,

The `api/tokens` endpoint is a [Direct Line API 1.1](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-1-1-authentication?view=azure-bot-service-4.0) protocol which returns a string.

As such, I believe you are errantly passing in the string version of the token, including the surrounding quotes. Use `JSON.parse()` on the token to get a co

[2020-09-11 23:16] tdurnford commented on #2908
If someone tries to use any of the hooks outside of the Web Chat context, Web Chat will not throw an error. Since a lot of our newer samples utilize hooks I think it's important to throw errors when they're being used incorrectly.

[2020-09-11 23:45] NickEricson opened #3475 "Activity from bot renders then immediately disappears"
## Screenshots

## Version

WebChat via the Azure Portal in UsGov environment loaded in Chrome 85.0.4183.102 (Official Build) (64-bit) (cohort: 85_83_Win)
webchatjs version: https://cdn.botframework.com/botframework-webchat/4.9.0/webchat-es5.js

## Describe the bug

Via webchat send a message to a bot ("hi"). The bot responds and you see the response in the WS traffic in the browser. For < 1 secon

[2020-09-12 07:12] naser-baig-au4 commented on #3474
Hi @stevkan,

Thank you for the reply. I don't have any issues parsing the token. I am unable to fetch the resource for the token as I am greeted with a 403 forbidden error.

Also tried with the 3.0 protocol and it's the same story.

Perhaps this screenshot might help:

![Screenshot 2020-09-12 12 39 36](https://user-images.githubusercontent.com/56202963/92989906-5648d500-f4f5-11ea-9a8e-cd4a538b6d3

[2020-09-12 07:15] naser-baig-au4 commented on #3474
Could somebody please open this issue again?

[2020-09-13 11:59] RenaudDemarneffe opened #3476 "Display image into conversation after a suggested action based on image is selected"
## Feature Request
When an image is used into a suggested action, the webchat send a message (hidden behind the image) to the bot when the suggested action is selected.
Into the conversation, the message sent back to the bot is displayed astext but the image used as suggested action is not displayed.

**Describe the suggestion or request in detail**
It could be very nice if, when a user selects a

[2020-09-13 16:32] anandk95 commented on #1427
I understood and got the solution. But can you explain how to do the same thing with Angular9, I'm tring to achive the same thing with Angular9 but getting nowhere.

[2020-09-14 06:07] anandk95 opened #3477 "BotFramework-WebChat - Customize Suggestion Buttons user experience"
I would like to have a customizable suggestion butons. The Suggested buttons appear scroll-able, but i would like to have them stacked over one another, because during scrolling person may accidentally click on buttons, which is a design flaw. so, can you please help me with this situation or point me in the direction where i can look for answers.

<img width="288" alt="Capture" src="https://user-

[2020-09-14 07:03] naser-baig-au4 opened #3478 "Unable to generate token from secret, throws a 403 forbidden error"
This is a follow up issue for [this previous issue](https://github.com/microsoft/BotFramework-WebChat/issues/3474) that was closed abruptly.

Hi @stevkan,

Thank you for the reply. I don't have any issues parsing the token. I am unable to fetch the resource for the token as I am greeted with a 403 forbidden error.

Also tried with the 3.0 protocol and it's the same story.

Perhaps this screenshot

[2020-09-14 11:31] LiorArmiev commented on #3409
Hi, can you help me with one question,
does this 'event recived' is like the proactive message? if not do you know how to create proactive alerts with the Composer?

[2020-09-14 12:07] Jibin12345 opened #3479 "Speech Issue"
We are using Microsoft webSpeechPonyfillFactory, In console we are getting the following warnings.
![image](https://user-images.githubusercontent.com/44056324/93083479-4c1f0600-f6b0-11ea-941d-6df76c3ca7fc.png)
So tried using the "**cognitive-services-speech-services-js**" from the speech list but when tried to open "**Speech Services with JS Demo**" (https://microsoft.github.io/BotFramework-WebCha

[2020-09-14 16:24] tdurnford commented on #3477
@anandk95 You should be able to set the `suggestedActionLayout` to `'stacked'` in the style options. Please take a look at the [Branding Web Chat Styling]() sample for help using the style options.

### Web Chat v4
[code]

### Additional Context

https://github.com/microsoft/BotFramework-WebChat/blob/1559ab52158e1b3d0e523d1c2b8b66c462e0494c/packages/component/src/Styles/defaultStyleOptions.js#L115

[2020-09-14 16:36] tdurnford commented on #3315
Related to https://github.com/microsoft/BotFramework-DirectLineJS/issues/180

[2020-09-14 16:58] anandk95 commented on #3477
Thank you, It was very much helpful.

[2020-09-14 18:36] #3477 closed

[2020-09-14 18:39] tdurnford commented on #3476
@stevkan Can you take a look at this?

[2020-09-14 18:54] corinagum commented on #3479
Thanks for filing this. The correct link should be: https://microsoft.github.io/BotFramework-WebChat/03.speech/b.cognitive-speech-services-js/ , which works for me. These are linked correctly in the sample list right now.

Could you tell me where you ran into the URL you linked? I'll get this fixed so everyone gets routed to the correct place.

[2020-09-14 19:04] arman-g opened #3480 "Webchat is not rendering on IE 11 starting v4.10.0"
## Screenshots

![IMG1](https://user-images.githubusercontent.com/22778273/93170950-0a588480-f6dd-11ea-8b6a-2ce1a54f03a6.png)

## Version

WebChat CDN v.4.10.1
Asp.Net Core 3.1
Angular 10
IE 11

## Describe the bug

Wen the chatbot is deployed as an Azure Web App, the chatbot does not render on IE 11 and shows white page (please see the image provided above), but It renders in my local machine. Th

[2020-09-14 20:09] tonyanziano commented on #3315
So to clarify, @tdurnford, Web Chat currently supports this with Bots connected via DirectLine?

If that's the case, there's basically a lack of parity here between Emulator and Web Chat and the ask would be to implement images with audio cards in the Emulator?

[2020-09-14 20:39] stevkan commented on #3478
Hi @naser-baig-au4, I am going to close this in favor of re-opening the [original issue](https://github.com/microsoft/BotFramework-WebChat/issues/3474) you filed in order to better maintain the conversation's continuity.

[2020-09-14 20:39] #3478 closed

[2020-09-14 21:00] tdurnford commented on #3315
@tonyanziano Not quite. If Web Chat receives an Audio Card with an image, it will render the poster correctly. However, if the bot sends an Audio Card with an image and it is sent through DirectLine, DirectLine will remove the image. Web Chat/DirectLineJs and the Emulator current exhibit the same behavior.

### Additional Context
https://github.com/microsoft/BotFramework-WebChat/blob/1559ab52158e1

[2020-09-14 21:24] corinagum commented on #3475
I'm working on getting access to testing this bot. Questions I'm investigating:
- Does it repro on 4.10.0?
- Is this related to `<EmptySpeakTag>`, introduced in 4.10?
- Repro locally / embed etc, (pending subscription access)

[2020-09-14 21:27] arturl commented on #3466
@ovishesh, any comments?

[2020-09-14 23:17] compulim commented on #3475
@NickEricson

- Does it repro outside of Azure.us?
- Can they put all the messages exchanged over Web Socket here (with certain info redacted)?
- Are they using Echo Bot? In short, how can we write a bot to repro the scenario?

[2020-09-15 01:54] sandeepreddy0987 opened #3481 "Cannot use property values in the if else condition"
## Steps to reproduce

1. bot asks a few questions to the user like age, gender, etc. depending on the user answer we assign a value to a property (user.point1=2, user.point2=4).
2. I want a total score of all the answers given by the user, by adding all the property values
-> user.total=${int(user.point1+user.point2)}.
we can show the total value using ${user.total}

3. write an if/else condition

[2020-09-15 02:22] stevkan commented on #3476
@RenaudDemarneffe, a few questions for you to fully understand:

- Can you share with me the code you are using for sending/processing the suggested action both from your bot and in web chat?
- Which version of Web Chat are you using?
- Is this a new issue or did this previously work and only recently stopped (i.e. worked on 4.8.0, but not in 4.10.1)?
- What is the image you are trying to send? Ca

[2020-09-15 09:07] RenaudDemarneffe commented on #3476
@stevkan , thank you for taking my issue into acount. Here are the responses to your questions:

- Can you share with me the code you are using for sending/processing the suggested action both from your bot and in web chat?

   The code from the bot is the following:
[code]
   I don't add code to WebChat to handle the suggested action.
   Here is a screen cap of the suggested actions into WebChat.

[2020-09-15 13:44] HesselWellema opened #3482 "a.minimizable-web-chat. README.md not consistent with source code"
handleFetchToken  in the README.md is showing an effort to implement reconnecting to an existing conversation. It is not finalized however. The actual sourcecode lacks this support completely.

I would really appreciate a working sample that shows how to reconnect to an existing conversation (leveraging local or sessionStorage) since implementing it has shown to be really hard  (for me that is).

[2020-09-15 17:43] tsuwandy commented on #3437
@compulim, could you take a look?  @HesselWellema, were you able to get more info?

[2020-09-15 17:56] compulim commented on #3357
I am working on this today.

[2020-09-15 17:58] compulim commented on #3437
Will look at this today.

[2020-09-15 18:01] corinagum commented on #3460
Closing as complete

[2020-09-15 18:01] #3460 closed

[2020-09-15 18:05] tsuwandy commented on #3480
@stevkan, could you take a look?

[2020-09-15 18:11] v-kydela commented on #3480
Thanks for the report, @arman-g

The first thing to understand is that Web Chat is separate from your bot. You're giving us details about where your bot is running but I feel like those details may be irrelevant. We need to know more about your Web Chat client code than your bot code.

There are some JavaScript language features that aren't available in IE 11, such as arrow functions. I notice tha

[2020-09-15 19:07] arman-g commented on #3480
Hi @v-kydela I have strip the code to its bare minimum leaving only Web Chat code, the issue is still there. Here is the angular component code below. Please note that Web Chat renders in IE only if app is run locally, it does not render when it is running on azure after the deployment.
[code]

[2020-09-15 19:35] HesselWellema commented on #3437
Nope. Did not find the time yet

[2020-09-15 19:44] v-kydela commented on #3480
@arman-g - I feel like Angular may be the culprit here. Can you try taking that Web Chat code out of the Angular component and testing it in an HTML script element directly? You can follow the [samples](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/a.full-bundle) for help with that.

Also, you still have arrow functions in your call to `subscribe`. I thin

[2020-09-15 20:34] corinagum commented on #3482
To reduce complication, the sample is not intended to provide reconnection code, and instead is provided in a separate article, linked in Further Reading.

I'm not sure what you mean about how the readme is not consistent with the source code. We address the topic here: https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.recomposing-ui/a.minimizable-web-chat#reconnecting-to-a-

[2020-09-15 20:37] corinagum commented on #3475
Currently waiting on repro from NickEricon

[2020-09-15 20:44] corinagum commented on #3462
Related to: https://github.com/microsoft/BotFramework-WebChat/issues/2339

[2020-09-16 01:06] gudatcomputers opened #3483 "IE11 windows opened by Action.OpenUrl from an Adaptive Card is not resizable or scrollable"
## Screenshots

## Version

4.9.1+ - downloaded from CDN, hosted locally

We are using webchat-es5.js with HealthBot.

When using IE11 (11.1685.16299.0), when choosing `Action.OpenUrl` from an Adaptive Card the opened window is fixed size with no scrollbars.

Not sure if the fix [#3223] is the cause, but this issue occurs first in 4.9.1

## Steps to reproduce

1. Open any HealthBot scenario with a

[2020-09-16 03:49] arman-g commented on #2268
It seems the issue still exist in v4.10.1

[2020-09-16 04:58] HesselWellema commented on #3482
Annexample. This part in the README.md is nog in the code:

f (conversationId) {
      const res = await fetch(`https://directline.botframework.com/v3/directline/conversations/${conversationId}`, {
        method: 'GET',
        headers: {
          'Authorization':
        }
      })
    }

[2020-09-16 14:41] test438 opened #3484 "[Screen Reader - Identity Diagnostics - Virtual Assistant (Preview)] Screen reader doesn't announce updated message information which is provided by 'Virtual assistant'."
**User Experience:**
Properly defined information & relationship of an UI element helps people with different disabilities by allowing user agents to provide proper navigation & content according to the needs of individual users.

**Note:** User credentials should NOT be included in the bug.

**Repro Steps:​**
1. Launch the URL: https://aka.ms/dxp-ux  and login with credentials.
2. Navigate to the

[2020-09-16 15:03] ivanELEC opened #3485 "Setting up Direct Line Speech using webSpeechPonyFillFactory prop, not getting Microphone"
Versions:
 botframework-directlinejs: 0.13.1
 botframework-webchat: 4.10.1
 reactjs: 16.13.1

## Describe the bug

I am trying to add speech to my bot via Azure Cognitive Speech services using the webSpeechPonyFillFactory  prop in the ReactWebChat component - when the component loads I do not get a microphone to indicate speech is available.

## Steps to reproduce (Code flow)

1. Create direct lin

[2020-09-16 15:52] arman-g commented on #3480
@v-kydela I did try the sample you mentioned and it gives an error on IE. "Error: Expected ')'" please see the image below.

On the other note I think we can take arrow functions out of the equation since they are used in other components and there is no problem rendering the pages in IE. The app builds for differential loading so it generates all necessary polifills.

Have you guys tested WebChat

[2020-09-16 16:36] arman-g commented on #3480
Just to add some more info on this, here is the Azure publish log under CI pipeline if this might give any clue. We can see that it creates ES5 packages for differential

![IMG4](https://user-images.githubusercontent.com/22778273/93366479-0ffabb00-f800-11ea-86ec-b25229916cda.png)
 loading too.

[2020-09-16 17:18] v-kydela commented on #3480
@arman-g - I feel like you're still not understanding the point I tried to make about the bot being separate from Web Chat. If you think the problem is in your bot then you should be posting in one of the SDK repos, but if the problem is on the Web Chat side then it's irrelevant where your bot is deployed or if it's running locally. You could deploy your bot in an Azure app service and then deploy

[2020-09-16 17:38] arman-g commented on #3480
@v-kydela I just tried your posted [example ](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/c.es5-bundle) in the same application. What I found is that it works in IE 11 for WebChat CDN v4.9.2 but it does not work starting v4.10.0.
It seems something is changed in WebChat v4.10.0.

[2020-09-16 18:08] tsuwandy commented on #3483
@corinagum, could you take a look?

[2020-09-16 18:09] arman-g opened #3487 "Consider supporting AdaptiveCards with schema 1.3"
## Feature Request
Currently WebChat does not support AdaptiveCards with schema 1.3

Consider supporting AdaptiveCards with schema 1.3. AdaptiveCards have some updates to Input.Text in [schema ](https://adaptivecards.io/explorer/Input.Text.html)1.3 that provide input validation on the client side (errorMessage, isRequired, label etc). I am sure many are waiting for this feature to come to WebChat.

[2020-09-16 18:09] tsuwandy commented on #3485
@compulim, is this related to the other direct line speech issues?  Could you take a look?

[2020-09-16 18:37] arman-g commented on #3480
@v-kydela to farther isolate angular dependency I put the code into an html file and run in IE 11. Up to WebChat v4.9.2 it renders Webchat on IE but starting v4.10.0 it does not.

[Test.zip](https://github.com/microsoft/BotFramework-WebChat/files/5234220/Test.zip)

[2020-09-16 19:06] #3482 closed

[2020-09-16 19:11] corinagum commented on #3483
@gudatcomputers please provide the Adaptive Card you are using that reproduces this scenario.
What question flow on the Health Bot needs to be followed in order to produce the Adaptive Card?

[2020-09-16 19:16] gudatcomputers commented on #3483
Here's the card content.. basic card.  As far as having a public version of it, I had to roll it back to 4.9.0 to address the issue. Is that crucial?
[code]

[2020-09-16 19:25] corinagum commented on #3483
@gudatcomputers First let me try and get a repro on our Web Chat bot first, and I'll get back to you. :)

[2020-09-16 19:57] compulim commented on #3437
@HesselWellema I mean I will look at this.

[2020-09-16 20:11] HesselWellema commented on #3437
I know 👍

[2020-09-16 22:04] corinagum commented on #3483
I'm able to reproduce this outside of Web Chat on IE11, using `noopener` with the following:
`window.open('https://github.com/Microsoft/BotFramework-WebChat', '_blank', 'noopener')`

Ideas/options:
1. Remove rel if browser is IE11 - not recommended, since this is a security change
1. Remove target if browser is IE11
1. No action, means continued broken behavior in IE11 only.

Currently, I am inves

[2020-09-16 22:18] v-kydela commented on #3480
@arman-g - I have reproduced your issue using the code you've just uploaded. All you must do to fix the problem is to make sure your page contains the appropriate CSS, as seen in the sample I linked to:

[code]

It seems the latest version of Web Chat will not render if it has no height attribute.

Does this resolve your issue?

[2020-09-16 22:31] gudatcomputers commented on #3483
Thanks @corinagum we're, obviously,  functional on 4.9.0 for now.  Thanks for looking into alternatives.

[2020-09-16 22:50] corinagum commented on #3484
I verified that this is running 4.10.0 Web Chat.
![image](https://user-images.githubusercontent.com/14900841/93398628-c8d8ee00-f830-11ea-96cb-d976f5106e0b.png)
Testing on Chrome 85.0.4 with NVDA

Here is the log from NVDA:
![image](https://user-images.githubusercontent.com/14900841/93400031-b1e7cb00-f833-11ea-9843-0bb5aec35b6e.png)

To note, the announcement flow is interrupted by a URL (not sure

[2020-09-17 03:51] arman-g commented on #3480
@v-kydela sure it did, great finding thanks for tracking this down. I am not sure if this spouse to be considered a bug or not so I leave it to you to close this issue. Thanks again!

[2020-09-17 16:35] anandk95 commented on #2361
Is it possible to achieve the same thing  using Angular9?

[2020-09-17 17:33] #3480 closed

[2020-09-17 18:03] tsuwandy commented on #3487
@corinagum, is this something you could take a look at?

[2020-09-17 23:06] stevkan commented on #3474
@naser-baig-au4, can you verify the actual value of the token being passed in either by console logging, setting break points, or some other? My concern is that, while the steps you are performing are correct the value, itself, may still be formatted wrong.

[2020-09-18 10:57] agriniex opened #3489 "Assistive technologies start reading Bot message with "Bot undefined said""
When using assistive technologies, announcer reads bot message as "Bot _undefined_ said: {message}". Previously this was just "Bot said:  {message}".

It seems like this issue was introduced after 4.9.2 version of botframework-webchat.

Reproduced on
- Chrome using NVDA screen reader on Windows
- Chrome using VoiceOver screen reader on MacOS

In React example demo:
https://microsoft.github.io/BotF

[2020-09-18 17:26] corinagum commented on #3489
Can you update to 4.10.1 and see if the problem persists?

[2020-09-18 17:28] corinagum commented on #3489
I'm getting the `undefined` as explained above. I'll investigate further.

[2020-09-18 18:16] tsuwandy commented on #3487
@arman-g, this will be handled in the upcoming release.  Thanks!

[2020-09-18 18:17] corinagum commented on #3484
I'm actually confirming this bug on Mock Bot in the browser as well. Looks like we have two a11y issues that need to be resolved: https://github.com/microsoft/BotFramework-WebChat/issues/3489

[2020-09-18 18:20] tsuwandy commented on #3485
@ivanELEC , did you take a look at this sample?
https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech

[2020-09-18 18:25] naser-baig-au4 commented on #3474
@stevkan, please check the screenshot above. I am unable to generate the token in the first place, let alone properly pass it to webchat via directline.

[2020-09-18 19:39] corinagum commented on #3174
Adding this to the repro list since the issue in chromium appears to have been addressed.

[2020-09-18 20:04] stevkan commented on #3485
@ivanELEC, are you receiving any errors in the dev console when you try to run? If so, can you list them? Also, have you verified that `botPonyfill` actually has a value and is not undefined or some other?

Have you had a chance to look over the above sample? As I have re-verified that that implementation does work, are you able to simplify your set up to match the sample as closely as possible wi

[2020-09-18 21:55] stevkan commented on #3474
@naser-baig-au4, apologies. You stated you "don't have any issues parsing the token". I took that to mean you were actually receiving one. I'll take another peak at the process and get back to you.

[2020-09-19 18:29] stevengum commented on #3439
Update: I've successfully tested this fix along with a fix for https://github.com/microsoft/botbuilder-dotnet/issues/4673 and the workaround mentioned in https://github.com/microsoft/botbuilder-dotnet/issues/4674 with Direct Line ASE and Direct Line Speech. The OAuth flow works as expected.

Note: No magic-code OAuth flows are not supported outside of regular Direct Line with Enhanced Authenticati

[2020-09-20 11:40] naser-baig-au4 commented on #3474
No worries. Please take your time :)

[2020-09-20 19:27] arman-g commented on #2213
Is there an example of setting typingAnimationBackgroundImage through the defaultStyle?

[2020-09-21 05:05] agriniex commented on #3489
I was able to reproduce this issue with version 4.10.0 of botframework-webchat.

[2020-09-21 21:25] compulim commented on #3390
If you do not agree W3C WCAG sample is good for benchmarking, can you come up with a HTML + JS sample that would work on Safari + VoiceOver and Chrome + ChromeVox? We can adopt the approach.

The sample need to be simple and exhibit the problem:

- Simple
   1. Using `<ul>` and `<li>`, or `<div>` only
   1. Only use `setTimeout` to mimic incoming messages, do not fetch over the network. This is to

[2020-09-21 22:24] compulim commented on #3256
Good to know, @lorenz-haenggi-axa.

Yes, everything need to be imported from `/lib/index-minimal`, otherwise, it will import the full version.

Let me know if you have any suggestions on reducing the package size. We love to make Web Chat smaller while maintaining a healthy feature set.

[2020-09-21 22:24] #3256 closed

[2020-09-22 00:08] compulim commented on #3111
Done some investigations today, tl;dr reinforcing what we believe:

1. Bot send the JSON out to the channel, with `value` property of `string`
1. The channel converted the `value` property into `number`
1. Web Chat receive the `value` property as number and send it to `AdaptiveCard.parse()`
1. `AdaptiveCard.parse()` returned with a structure of `value` equals to `undefined`

We try to hack the cod

[2020-09-22 07:58] MatthiasGwiozda opened #3490 ""Recomposing the Whole UI" - how to change just some of the components"
In [this documentation](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.recomposing-ui/d.plain-ui#customizing-web-chat-with-a-plain-html-ui) there is the following sentence:

I see no example specifically for this purpose.

The examples that were given [here](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.recomposing-ui) only explain how to create

[2020-09-22 10:15] nfreear commented on #3466
Hi .. thanks @compulim, @artul, @cwhitten, @ovishesh ... for the comments and actions so far.

Do you have any idea about the timescale for a possible fix please, so I can report back to colleagues?

Just to note, we're now migrating to `webchat` v4.10.1, and the "_newer_" `createDirectLineSpeechAdapters` method.

Thank you,

Nick

[2020-09-22 17:16] corinagum commented on #3479
Closing this issue due to inactivity. If anyone stumbles on the incorrect URL listed above, please leave a comment here and I'll get it updated asap. Thanks.

[2020-09-22 17:16] #3479 closed

[2020-09-22 17:21] corinagum commented on #3483
After doing some research, I think the best solution is to isolate a separate behavior for IE11, which would be to assign `noreferrer`, but not `noopener`, then manually set `window.open` to null, which resolves original issue when tested.

[2020-09-22 19:30] stevkan commented on #3474
@naser-baig-au4, I'm still not encountering the same issue you are. Could you post you web chat code (hiding any secrets or keys) so I can attempt a repro?

[2020-09-22 21:18] arman-g opened #3492 "Adaptive cards input focus and Webchat scrolling issue (IE11) - Potentially related to #3463"
## Screenshot
![IMG1](https://user-images.githubusercontent.com/22778273/93937547-d385fe00-fcdc-11ea-8555-95763751228f.png)

## Version

WebChat CDN 4.10.1
IE 11
Firefox 80.1.1

## Describe the bug

Setting the focus at the first input box of an adaptive card does not scroll the chat conversation all the way to the bottom. It stops at the focused input box. This does not happen in Chrome and the n

[2020-09-22 21:26] stevkan commented on #3490
@MatthiasGwiozda,

The sample is located in the link you provided, [06.recomposing-ui/d.plain-ui#customizing-web-chat-with-a-plain-html-ui](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.recomposing-ui/d.plain-ui). To access the sample, clone the repo and then navigate to this folder to run.

Regarding Question 1, functionality already exists that allows you to handle man

[2020-09-22 23:21] corinagum commented on #3431
@compulim looks like this one is still causing errors in IcM 203406335

[2020-09-23 05:32] naser-baig-au4 commented on #3474
Hey @stevkan,

I have used [this sample](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.recomposing-ui/a.minimizable-web-chat) as a starting point and just made the change in the URL to the directline URL mentioned above. Everything else is the same.

I have an update for you. I was able to connect to my bot locally using [offline directline](https://www.npmjs.com/package

[2020-09-23 06:27] PoojaGidd opened #3493 "In WebChat, Is it possible to open button URL in same window?"
## Describe the bug

In WebChat, Is is possible to persist the chat and the chat window while we redirect the users in the background (in the same website) upon clicking a button URL. The redirect url is also in the same website where the WebChat is hosted and the WebChat is available in all the pages of the website.

If this is not possible, Is there an alternate way for the same experience?

[2020-09-23 07:52] kevheim opened #3494 "How do I use the styleOptions in the minimizable-web-chat sample?"
Hi everyone,

I would like to know how to use the styleOptions ui modification option in the minimizable-web-chat sample. Specifically, where and how do I pass it? I would want to hide the upload button and change several other colors and dimensions but I am having trouble with this. In the example in the documentation about ui customization the styleOptions is passed to a function called window.W

[2020-09-23 07:53] MatthiasGwiozda commented on #3490
Thanks for the detailed answer.

I find that

[2020-09-23 10:25] nfreear opened #3495 "Missing: need to set 'username' in 'createDirectLineSpeechAdapters' function"
## Screenshots

(_n/a_)

## Version

 * WebChat version __4.10.1__, via CDN (_and local copy of compiled JS_).

[code]

## Describe the bug

## Steps to reproduce

  1. Call the [`createDirectLineSpeechAdapters()` as documented](https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/DIRECT_LINE_SPEECH.md#render-web-chat-using-direct-line-speech-adapters);
  2. See that the `userID` and

[2020-09-23 16:40] srinutamada opened #3496 "Web chat event are not working after page refresh"
I am using web chat and implemented chat persistence by doing DOM manipulation.

I am able to show previous history on page refresh or navigating the different pages. But if user click on events like button which were present in the history then those event are not working. Even I extended my logic to trigger click events and event then send message is not working.

I see no errors. So, let me kno

[2020-09-23 17:20] tdurnford commented on #3494
You can add style options to the object passed to the `createStyleSet` function in the `webchat.js` file.

https://github.com/microsoft/BotFramework-WebChat/blob/31e92bd62db72d016411ba2ccd15454381c02aaf/samples/06.recomposing-ui/a.minimizable-web-chat/src/WebChat.js#L11

In the future, **how to** questions such as this one are better suited for Stack Overflow. Please feel free to post other questi

[2020-09-23 17:20] #3494 closed

[2020-09-23 18:13] tdurnford commented on #3495
@stevkan Can you repro this?

[2020-09-23 18:13] tdurnford commented on #3496
@stevkan Can you repro this?

[2020-09-23 18:15] tdurnford commented on #3492
@compulim Can you take a look at this?

[2020-09-23 18:20] corinagum opened #3497 "Update Web Chat labels to Bot Framework guide"
https://github.com/microsoft/botframework-sdk/blob/main/docs/BF%20Labeling%20Guide.md

- Update labels and descriptions
- Add documentation / reference with alterations

[2020-09-23 19:27] corinagum commented on #3431
When updating the playground, I noticed that there is around a 5 second delay for when the typing indicator is shown when `sendTypingIndicator` is sent to true. Is it related to this change?

[2020-09-23 19:58] corinagum commented on #3106
I'm closing this as stale since we don't have repro steps. If this comes up again, please provide repro steps and we can re-approach.

[2020-09-23 19:58] #3106 closed

[2020-09-23 20:50] tdurnford commented on #3493
@PoojaGidd Closing as duplicate of https://github.com/microsoft/BotFramework-WebChat/issues/2892

[2020-09-23 20:50] #3493 closed

[2020-09-23 21:51] anirudharpatil opened #3498 "HTML Tag support in web Chat html tags not rendering"
Is there any way to support the HTML Tags while printing the response from the bot which is in html format in webchat channel ?

I can see the MS Teams renders the bot responsive very well for Service Now KB articles and some Html tags in the Response. But when I fetch the same from webchat it shows the response with raw html tags.

Getting raw html response in wechat as below

![Screenshot_202009

[2020-09-23 22:48] corinagum commented on #2401
The content of the card belongs to adaptive cards team, so it would be better to keep the styling responsibility on that of the Adaptive Card templating.

[2020-09-23 22:52] corinagum commented on #2340
All embeds are now v4

[2020-09-23 22:52] #2340 closed

[2020-09-23 22:54] corinagum commented on #2212
Related to #2232

[2020-09-23 22:57] corinagum commented on #2197
Blocked by speech sdk -- we do not yet have this feature available to us. Also related to #2211

[2020-09-23 22:59] corinagum commented on #2119
This would help the service side let us know how many customers are using different versions of Web Chat.

[2020-09-23 23:01] corinagum commented on #1839
Backburner until #2211 is scoped / completed.

[2020-09-23 23:06] corinagum commented on #1595
Duplicate of #3462

[2020-09-23 23:07] #1595 closed

[2020-09-23 23:09] corinagum commented on #1570
Close - our current solution for this problem is to add new samples to our release notes -- update the CDN after the release is out.

[2020-09-23 23:09] #1570 closed

[2020-09-23 23:10] #1553 closed

[2020-09-23 23:14] corinagum commented on #1293
Related to #2211

[2020-09-23 23:14] corinagum commented on #1292
Dupe of #1293

[2020-09-23 23:14] #1292 closed

[2020-09-23 23:17] corinagum commented on #814
Closing, as this will not be supported by DLJS in the near future.

[2020-09-23 23:17] #814 closed

[2020-09-23 23:18] corinagum commented on #951
Completed.

[2020-09-23 23:18] #951 closed

[2020-09-24 06:29] srinutamada commented on #3496
The issue is resolved. I removed DOM manipulation from the logic and used DirectLine properties by setting
conversationId: <previous conversation id> and DirectLine:false.

I tested and it worked like a charm.

[2020-09-24 06:29] #3496 closed

[2020-09-24 14:13] plattenschieber commented on #3105
@corinagum @compulim Are there any news on your side?

[2020-09-24 16:44] v-kydela commented on #3498
Hello, @anirudharpatil

Web Chat does not support HTML in messages. I recommend using [Markdown](https://www.markdownguide.org/) instead, which will work in both Teams and Web Chat. You can see a discussion of this here: https://github.com/microsoft/BotFramework-WebChat/issues/2289

Does this resolve your issue?

[2020-09-24 18:04] stevkan commented on #3495
@nfreear, attempting a repro. Will have a response shortly.

[2020-09-24 20:45] arman-g opened #3503 "Typing indicator is out of its place on IE"
## Screenshots

![IMG2](https://user-images.githubusercontent.com/22778273/94197687-fba36780-fe6a-11ea-9e5c-9152a9c429bd.png)

## Version

WebChat CDN v4.10.1
IE 11

## Describe the bug

When WebChat action buttons has their text set to wrap in IE the typing indicator shows out op its place (please see the image above).

## Steps to reproduce

1. In WebChat, set button text to wrap.
1. Run WebChat

[2020-09-25 00:01] HuaTang92 opened #3506 "[Question] How to display data in Table format with Webchat/Directline channel and .NET SDK?"
Hi,

I have a similar question to this one: https://github.com/microsoft/botframework-sdk/issues/2785 but with a different channel and SDK.
I have some table data can be presented in either html or markdown. Is it possible to have it render in bot as a table without implementing my own converter from html/markdown table to ColumnSet?

I've tried these but it doesn't work.
[code]

Thanks

[2020-09-25 05:28] arman-g commented on #3503
@corinagum this is not a question but a bug report. I posted an image that shows clearly what the issue is. Not sure why you would remove the "Bug" label, any explanation how is this not a bug but a question?

[2020-09-25 06:41] droidriz opened #3504 "Calendar Input not static to iframe"
## Screenshots

![Image of Yaktocat](https://s1.gifyu.com/images/2020-09-25_12-09-45.gif)

## Version

using this version - https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js

embedding into the website using iframe

<meta name="botframework-directlinespeech:version" content="4.10.1">
<meta name="botframework-webchat:bundle:variant" content="full-es5">
<meta name="botframework

[2020-09-25 09:58] naser-baig-au4 opened #3505 "How to use custom React components or modify existing WebChat components?"
Hi there,

I was able to make many modifications to the webchat client by following the detailed samples available on repository. The only thing which I feel that the samples don't make is how to modify existing WebChat components or use our own components in place of them.

For example, the upload button...

We have an option to hide the upload button in SendBox from StyleOptions but what if we w

[2020-09-25 11:24] stevkan commented on #3495
@nfreear, I’m still repro’ing and will have a response later today.

For clarity, per your Expected Behavior comments, using Direct Line Speech isn’t necessarily the preferred or recommended method. Rather, it is the recommended method for developers that don’t require making many speech customizations and would benefit from a largely simplified implementation.

[2020-09-25 17:34] v-kydela commented on #3506
Hello, @HuaTang92

When you say you don't want to implement a converter to ColumnSet, are you referring to Adaptive Cards?

Please have a look at this Stack Overflow answer and let me know if that helps: https://stackoverflow.com/a/57813450/2122672

[2020-09-25 17:35] corinagum commented on #3503
I was unable to repro on IE11 with the CSS and repro steps you provided.

[2020-09-25 17:36] compulim commented on #3431
## Investigate 1

It only affect typing activities. It *does not* affect message activities.

We are testing against https://microsoft.github.io/BotFramework-WebChat/05.custom-components/b.send-typing-indicator/.

When user type, we receive the echoback activity of typing *without* `replyToId`. Let's call this *activity 1*.

![image](https://user-images.githubusercontent.com/1622400/94297825-ff41f

[2020-09-25 17:59] arman-g commented on #3503
@corinagum I am not sure what you have tried but I am providing you with the url below so you can observe the behavior.

1. Open the url in IE 11
2. Resize the browser so the button text starts to wrap.
3. Click on buttons to iterate through dialogs.
4. Observe the typing indicator location.

https://lascchatbotclientcicd.azurewebsites.net/lacc

Please let me know if you see the issue now.

[2020-09-25 18:21] ninggao commented on #3504
@compulim Can you take a look at this please?

[2020-09-25 18:24] jwiley84 commented on #3505
The bot framework team prefers that **How-To** questions be asked on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) using the 'botframework' tag. I'm going to close this issue, please reopen on Stack Overflowl

[2020-09-25 18:24] #3505 closed

[2020-09-25 18:32] ninggao commented on #3506
The bot framework team prefers that How-To questions be asked on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) using the 'botframework' tag. I'm going to close this issue, please reopen on Stack Overflow.

[2020-09-25 18:32] #3506 closed

[2020-09-25 23:44] HuaTang92 commented on #3506
Hi @v-kydela Thanks for replies.
Yes, we're currently using Adaptive Cards and found it's not supported to show table with Adaptive Cards TextBlock. So we're trying to find any alternative options other than implementing our custom converter.

By checking the link you shared, it looks that sending table data in markdown format with message text works with V4 node SDK. But when I tried something si

[2020-09-26 23:12] stevkan commented on #3503
Hi @arman-g, I am able to repro the issue. Testing the different versions, it looks like it was introduced with v4.8.0. Can you share the code you are using for sending the typing activity and is this in JS or C#? I'm getting slightly different results when I switch between sending a typing activity vs. using the `ShowTypingMiddleware()` middleware package.

Also, when inspecting the HTML for the

[2020-09-26 23:40] arman-g commented on #3503
Hi @stevkan, the code for sending typing activity is in C# using Microsoft.Bot.Builder v4.10.3 Nuget package.
[code]

I am using webchat-es5.js and webchat.js to support IE and all other modern browsers each browser selecting the one they need. I now I can have only es5 version od webchat.
I just did a test and commented out the webchat.js leaving only webchat-es5.js and the issue is still there.

[2020-09-28 05:06] naser-baig-au4 commented on #3505
Done. Here's the link: https://stackoverflow.com/questions/64077866/how-to-use-custom-react-components-or-modify-existing-webchat-components

[2020-09-28 16:27] ninggao commented on #3492
@compulim Can you take a look at this please?

[2020-09-28 17:49] #2693 closed

[2020-09-28 17:49] #3439 closed

[2020-09-28 18:37] #3497 closed

[2020-09-28 18:42] compulim opened #3507 "Investigate: `regeneratorRuntime` not working in strict mode"
## Version

`4.10.1`

## Describe the bug

When using [Salesforce Lightning Locker](https://developer.salesforce.com/blogs/developer-relations/2016/04/introducing-lockerservice-lightning-components.html), it said `regeneratorRuntime` violated "no global" rule.

The [Locker Service Console](https://developer.salesforce.com/docs/component-library/tools/locker-service-console) can be used for quick d

[2020-09-28 21:33] corinagum commented on #3468
Updated our release checklist with this item: https://github.com/microsoft/BotFramework-WebChat/issues/3417

[2020-09-28 21:33] #3468 closed

[2020-09-28 22:10] #3281 closed

[2020-09-28 23:08] v-kydela commented on #3498
@anirudharpatil - Are you still working on this?

[2020-09-29 05:57] MatthiasGwiozda commented on #3490
Thanks for the detailed Answer.

We managed to position the reaction - buttons like in your example. It's hacky because we used negative margins to solve the problem. Additionaly Carousel - Attachments needs special treatment because the height is rendered different from the other messages. But it worked - Thanks for the hint.

I saw this example. But I disagree with the statement that we can "**j

[2020-09-29 14:02] ivanELEC commented on #3485
Hello @stevkan unfortunately there are 2 differences in my infrastructure which means I may not be able to follow the link above exactly (or that this would lead to an unsatisfactory experience):

1. Since I am using the ReactWebChat component exposed by the botframework-webchat module, the only prop of that component that allows me to enable speech is assigning webSpeechPonyFillFactory via creati

[2020-09-29 17:56] HesselWellema opened #3509 "Optimize a.minimizable-web-chat sample"
With user experience metrics like Largest Contentful Paint (LCP) becoming a ranking factor for SEO the size of the webchat bundle is becoming important for my customers that rely on high rankings in search engines like Bing and Google.

The minimizable web chat sample is a great starting point for most use cases but from a performance perspective it seems not the best approach. After building, the

[2020-09-30 11:26] ivanELEC commented on #3485
Update: I can confirm that the following code works (the main difference being that I do not check for status = 200 anymore - I simply check for the fail state to return errors, this means that speech would work on this particular bot service with this speech service. However the result I am trying to achieve is adding speech to the ReactWebChat component via the  createCognitiveServicesSpeechServ

[2020-09-30 14:17] prakanshurockss commented on #1961
can be add a virual keyboard to the bot?

[2020-09-30 14:19] prakanshurockss opened #3510 "can be add a vitual keyboard to write in the bot"
## Screenshots

## Version

## Describe the bug

## Steps to reproduce

1. Go to '...'
1. Click on '....'
1. Scroll down to '....'
1. See error

## Expected behavior

## Additional context

[Bug]

[2020-09-30 14:20] prakanshurockss commented on #3510
virtual keyboard

[2020-09-30 16:38] ninggao commented on #3504
@compulim Did you get a chance to look at this?

[2020-09-30 18:07] ninggao commented on #3509
@compulim Can you take a look at this please?

[2020-09-30 18:11] ninggao commented on #3510
@prakanshurockss Could you please describe more on the virtual keyboard scenarios that you want? In order to consider this as a new feature request, we would need more details.

[2020-09-30 21:00] corinagum opened #3512 "Add job description to root README"
https://careers.microsoft.com/us/en/job/867519/Senior-Software-Engineer

[2020-09-30 21:05] #3355 closed

[2020-10-01 16:58] ivanELEC commented on #3485
I can confirm that using the method of bringing in Speech via webSpeechPonyfillFactory property of the ReactWebChat component object does load the function to the prop when the component is loaded (and I have code that prevents the component from loading before the state for that prop is populated  - however since this prop expects a function as an input, i'm not entirely sure what a successful in

[2020-10-01 21:58] corinagum commented on #3475
@NickEricson any updates?

[2020-10-01 22:37] corinagum commented on #3512
https://github.com/microsoft/BotFramework-WebChat/pull/3513

[2020-10-01 22:37] #3512 closed

[2020-10-01 22:59] corinagum opened #3514 "SDLC security tool PoliCheck"
[INFO] adding `needs-team-attention` label to discuss punting other R11 issues in favor of this one.

I haven't delved into the scope of the work I need to do here, but here are William's notes:

One of the SDLC security tool "PoliCheck"[url redacted] flagged the language we used in our code comments are not appropriate. As <corinagum> is responsible for docs, could you please look at the PoliChec

[2020-10-02 12:02] #3509 closed

[2020-10-02 12:04] HesselWellema commented on #3509
I concluded this is more a packaging issue and not related to this sample or webchat itself. Any suggestions wrt tree-shaking and webpack configuration that will help to minimize these bundles are more than welcome.

[2020-10-02 16:02] cwhitten commented on #3510
@prakanshurockss we'll be closing this as we haven't heard from you. Please create a new ticket if you are still having issues.

[2020-10-02 16:02] #3510 closed

[2020-10-02 16:56] arturl commented on #3466
Need input from @nisheetjain and @ovishesh

[2020-10-02 18:08] compulim commented on #3514
For example, one of the PoliCheck result can be found at, https://fuselabs.visualstudio.com/BotFramework-WebChat/_build/results?buildId=171404&view=artifacts&type=publishedArtifacts.

[2020-10-02 20:28] corinagum commented on #3487
We are placing this on our backlog due to time constraints for R11.

[2020-10-02 20:48] corinagum opened #3515 "Investigate Web Chat Editor, playground, and Web Chat Designer"
- Compare the three projects and plan to bring alignment & reduce overlapping work
- Expand scope of playground with action items for the following:
  - a demo app/playground
  - Composer extension
  - future hosting surfaces yet to be defined

Current resources:

- https://github.com/pavolum/WebChat-Editor
- https://webchateditor.azurewebsites.net/
- Web Chat Designer:
[code]

[2020-10-02 21:33] corinagum opened #3516 "Concise list of ways to increase team agility"
- Corina to compile notes and existing issues here; take a look at `team-agility` label
- High priority to tooling that will help team members onramp for debugging & setting up projects more efficiently
- Make available to compulim for additions/edits
- Present to Web Chat team.

- Private internal repo for hosting Web Chat project combos (e.g. Cordova, Sharepoint), to be available to all team mem

[2020-10-02 21:37] corinagum commented on #3487
@Jeffders @p-nagpal FYI.

[2020-10-02 21:37] corinagum commented on #3392
@Jeffders @p-nagpal FYI.

[2020-10-02 22:11] v-kydela commented on #3498
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-10-02 22:11] #3498 closed

[2020-10-03 07:47] konagallasushmitha opened #3517 "Bot is not working in Iphone Devices after deployed into production environment"
Everything is working fine while inspecting in dev tools also. But unable to find out y this bot is not allowing to type anything and scrolling issues. Can u pls help me y its happening like this

[2020-10-05 16:57] corinagum commented on #3077
I'm interested in doing this one, when we get to it.

[2020-10-05 17:00] corinagum commented on #2826
Closing this as resolved.

[2020-10-05 17:00] #2826 closed

[2020-10-05 17:02] corinagum commented on #2910
Closing this as resolved.

[2020-10-05 17:02] #2910 closed

[2020-10-05 17:09] lzc850612 commented on #3517
@stevkan  can you please take a look? Thanks

[2020-10-05 17:28] SanjuJayakumarNair opened #3518 "Speech Refresh token issue"
I Have implemented the speech using the sample provided  "https://microsoft.github.io/BotFramework-WebChat/03.speech/b.cognitive-speech-services-js/". and updated the credentials  like below
   credentials: {

                             authorizationToken: SpeechToken,

                             region: '',   // provided the region

                             token: SpeechToken

[2020-10-05 17:56] stevkan commented on #3517
@konagallasushmitha, a few questions for you:

- Are you able to post your Web Chat code so I can see how you are implementing (hiding any tokens/secrets)?
- Just verifying that you are experiencing this issue when using the Safari browser on iOS? In case it should matter, can you tell me the version of the OS (and browser, if that has a separate version number)?
- The image looks public-facing. A

[2020-10-05 18:35] lzc850612 commented on #3504
@stevkan could you take a look at this issue? Thanks.

[2020-10-05 18:38] lzc850612 commented on #3390
Closing due to inactivity. @cimbis  feel free to reopen if needed.

[2020-10-05 18:38] #3390 closed

[2020-10-05 18:41] lzc850612 commented on #2595
Closing due to inactivity.

[2020-10-05 18:41] #2595 closed

[2020-10-05 21:00] stevkan commented on #3474
@naser-baig-au4, thank you for your patience.

No, you can run a bot locally and connect to outside services as long as you use a service like ngrok and also have a bot registration created on Azure. Ngrok, and other similar options, provide a tunnel between your local host machine and your bot registration / service running on Azure.

Do you have a bot registered on Azure, as described in the ste

[2020-10-05 21:05] corinagum commented on #1427
Update 05.l (L) sample

[2020-10-05 21:15] #3317 closed

[2020-10-05 21:15] corinagum commented on #3317
Closing as resolved

[2020-10-05 21:22] corinagum commented on #3180
Punting due to time constraints.

[2020-10-05 21:22] compulim commented on #3464
Done.

[2020-10-05 21:22] #3464 closed

[2020-10-05 21:24] corinagum opened #3519 "Rename master branch to main branch."
- [x] Look at work status from GitHub team
   - https://github.com/github/renaming
   - We might want to wait until their work is ready, to lower our workload
- [x] Create `main` from master
- [x] Update CI pipeline (ADO) and check all scripts to use `main`
- [x] (GitHub actions)
- [x] change default branch to `main`
- [x] Update branch protection rules
- [ ] delete `master`

[2020-10-05 21:26] corinagum opened #3520 "Add preview release to NPM"
- [x] Convert this to an issue
- [x] Find out the version scheme from SDK
   - `4.10.1-main.20200123.a1b2c3d`
- [ ] Update CD pipeline

[2020-10-05 21:41] corinagum commented on #3437
Closing - workaround information provided.

@HesselWellema Your problem doesn't seem to be related to the original issue. If you're still experiencing problems, please provide repro steps for the bug, or file a new question on Stack Overflow.

[2020-10-05 21:41] #3437 closed

[2020-10-05 21:53] stevkan commented on #3490
Honestly, it is going to depend entirely on what you want to customize on the business logic layer as to whether or not forking the repo will be necessary. You will only know the answer to that after closer inspection of the code. It _is_ possible to affect some business logic via middleware and custom direct line implementations. But, it will just depend on your needs.

As for updating the text p

[2020-10-05 22:11] compulim opened #3521 "[A11y] Narrate attachment content inside live region"
## Version

`4.10.1`

## Describe the bug

Today, for live region, we narrate:

"Bot said, Hi I am Clara! One attachment."

Tomorrow, we want to narrate:

"Bot said, Hi I am Clara! I agree button. I don't agree button."

Also true for card with dropdowns.

## Steps to reproduce

1. Go to MockBot
1. Turn on Windows Narrator
1. Type "herocard qna 1"

## Expected behavior

The narration should be:

"

[2020-10-05 22:20] corinagum opened #3522 "Web Chat tooling - support repo for projects with long setup times"
-  `P0` Private internal repo (e.g. BotFramework-WebChat-Support) for projects with long setup times
     - SharePoint / SPFX -- will need hosting
     - Dynamics 365 -- will need hosting
     - Cordova
     - Angular
     - Xamarin
     - (All speech enabled)

[2020-10-05 23:26] breamikel opened #3523 "Adding minimize and close button"
Hi,

I'm looking for a way to add a simple minimize and closing button to the top bar on the right hand corner of the web chat. Is there maybe a setting that can be customized to include these buttons?

Thanks

[2020-10-06 15:55] konagallasushmitha commented on #3517
@stevkan Can I have your mailid please so that  I can ping you privately ........

[2020-10-06 16:56] corinagum commented on #3523
Please take a look at our samples, particularly the minimize Web Chat sample in section 6.

[2020-10-06 16:56] #3523 closed

[2020-10-06 17:38] corinagum commented on #2475
I'm switching this from feature request to a bug, since there's no timeline for #2211 at the moment and this is technically a parity issue.

[2020-10-06 18:01] stevkan commented on #3495
@nfreear, I have been unable to repro this issue. Can you provide more details of the specific code you are using?

[2020-10-06 18:19] stevkan commented on #3503
@arman-g, thank you for your patience while I continue to look into this. I'm currently testing to see if there is a workaround for this or if a correction to the SDK is the only solution. Please let me know if you have any questions in the mean time.

[2020-10-06 18:31] stevkan commented on #3517
@konagallasushmitha, you can find me email listed in my GH profile. I will keep an eye out for your email.

[2020-10-06 19:01] stevkan commented on #3518
@SanjuJayakumarNair, did you set up your Web Chat instance like it is demonstrated in the [03.speech/b.cognitive-speech-services-js](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/b.cognitive-speech-services-js#completed-code) doc?

The `authorizationToken` and `region` properties are passed into `createCognitiveServicesSpeechServicesPonyfillFactory()` which is use

[2020-10-06 21:54] stevkan commented on #3476
@RenaudDemarneffe, thank you for your patience. I'm looking into how this could be implemented. Whether there is a possibility of a temporary workaround or is only achievable via a change to the SDK.

[2020-10-06 22:28] stevkan commented on #3504
@ninggao, can you list which version of Web Chat you are using? And, could you post the code you use for creating the adaptive card you send? I will try and repro without, but I generally like to use the actual code when and where I can.

[2020-10-06 22:39] #3489 closed

[2020-10-06 23:10] corinagum commented on #2339
Closing as dupe of #3462 and #3515

[2020-10-06 23:10] #2339 closed

[2020-10-07 05:30] MatthiasGwiozda commented on #3490
Well, I have the informations I need. Thanks for the feedback!

to replace some of the UI - components I have to fork the repository. So in this context it is 100% save that we have to maintain our version of the webchat.

The sentence states:

[2020-10-07 05:30] #3490 closed

[2020-10-07 05:38] MatthiasGwiozda opened #3526 "Optimizing the documentation for the customization of the webchat."
## Feature Request

**Is your feature request related to a problem? Please describe.**
The feature request is based on [this question](https://github.com/microsoft/BotFramework-WebChat/issues/3490).

**Describe the suggestion or request in detail**
I find that there is some informations missing in [this documentation](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.recompo

[2020-10-07 05:41] JahedS commented on #3113
Hello @Bradrajkumar , Have you got solution?

[2020-10-07 17:40] ivanELEC commented on #3485
Hi @stevkan  @tsuwandy any idea on the above? I have tested that speech works using the basic example - but speech should also work via the property in ReactWebChat. Is there any place that I can maybe add some console logs in the js files of the botframework-webchat module to diagnose this further?

[2020-10-07 18:02] lzc850612 commented on #3526
@MatthiasGwiozda can you explain more on the user scenarios that you're trying to achieve? What specifically do you have to do today to achieve this? That'll help us understand more on what's missing on the docs. Thanks.

[2020-10-07 18:09] lzc850612 commented on #3492
@arman-g the team is prioritizing on this item.

[2020-10-07 20:01] stevkan commented on #3517
@konagallasushmitha, unfortunately, I am not having any issues displaying the embedded iframe DSM Web Chat (tested on: iPhone X using Chrome and Safari, and simulated iPhone X using Chrome desktop).

I took a peak at some of the underlying code and I _think_ you are altering some of the Web Chat elements using CSS...? For instance, the inclusion of `position` and `bottom` which I see on the DSM We

[2020-10-07 21:09] stevkan commented on #3485
@ivanELEC, per your post on 9/29, I can confirm that the 3rd code sample works for me, as well. The 2nd wouldn't, initially, because of the below code. In the `.then()` you need to either return `res` after the `console.log()` or remove the `.then()`, all together (which is why the 3rd worked as it doesn't have the `.then()`.

[code]

I'm attempting a repro / build in a React project and will let

[2020-10-07 21:18] compulim commented on #3526
I think we cover a pretty wide range of stuff that you can customize without forking the repository.

You can customize it pretty wildly like one of our sample, https://microsoft.github.io/BotFramework-WebChat/06.recomposing-ui/c.smart-display/.

## Customizing the timestamp message

There are two ways you can customize the timestamp message:

1. Override the localization strings
2. Customize usin

[2020-10-07 22:06] corinagum commented on #3526
Added this thread to our FAQ

[2020-10-08 05:37] konagallasushmitha commented on #3517
yes steven, we have made changes in node_modules webchat component......
I have documented all the node modules library changes

Botframework webchat component -->

node_modules\botframework-webchat-component\lib\Styles\StyleSet\SendBox.js

·         The styles for .main class  - the send box styles

node_modules\botframework-webchat-component\lib\Styles\StyleSet\SendBoxButton.js

·         The st

[2020-10-08 06:03] MatthiasGwiozda commented on #3526
Here are some examples of what we tried to achieve: [https://github.com/microsoft/BotFramework-WebChat/issues/3490#issue-706161520](https://github.com/microsoft/BotFramework-WebChat/issues/3490#issue-706161520)

while this might be true, it is not possible to "replace just a handful of components as needed" with every possible scenario. @compulim im not doubting that you implemented many customiza

[2020-10-08 10:10] MatthiasGwiozda commented on #3431
We have this problem with Version **4.10.1**:

When[ showing the chat history](https://github.com/microsoft/BotFramework-WebChat/issues/365#issuecomment-382363639) to the user and combining this with the [reaction buttons](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.custom-components/d.reaction-buttons/), the reaction - buttons and the welcome - messages are delayed by

[2020-10-08 12:21] felixvanleeuwen commented on #3038
@corinagum None of the example specify how to pass a custom renderer. I've been digging through some javascript files in the NPM packages to try to find out how this would be possible (`FullReactWebChat.js` in `botframework-webchat` & `BasicWebChat.js`
 in `botframework-webchat-component`).
It looks like the only control we have over this part of the UI is what we can send down to it through the `

[2020-10-08 17:03] corinagum commented on #3038
https://github.com/microsoft/BotFramework-WebChat/issues/3526#issuecomment-705199136 Listed in our FAQ

[2020-10-08 17:19] corinagum commented on #3526
Reopening this issue since there's continued discussion.. it's an extremely low cost to update one sentence in our documentation if that clarity will help a little. I'll assign this to myself, but I might not get to it right away. Since it's in our FAQ, hopefully other people will also come across it if they need the info.

[2020-10-08 21:37] #3462 closed

[2020-10-08 22:08] stevkan commented on #3485
@ivanELEC, after a little investigating, I was able to figure out what was needed to get your React project version of Web Chat + CS speech to work. There were two things I needed to change, however the primary focus is on the first. Also, note that I don't have a TS + React project up and running, so this is in pure JS which _shouldn't_ be an issue.

1. The `webSpeechPonyfillFactory` (which shoul

[2020-10-08 22:32] stevkan commented on #3517
Customer responded by email on 10/7 with the following:

I have documented all the node modules library changes

node_modules\botframework-webchat-component\lib\Styles\StyleSet\SendBox.js
·         The styles for .main class  - the send box styles

·         The styles for the send button

·         The styles for text content - font sizes of messages from bot.

·         The upload button will be

[2020-10-09 07:17] konagallasushmitha commented on #3517
Hi steven, I just got to know that this is not allowing to type anything as sendbox was not appearing to do that @safari browser for iphone XS
![tested-in-safari-iphone](https://user-images.githubusercontent.com/30227679/95554298-92f0e900-0a2d-11eb-9cdc-dbe89f189d8d.PNG)

[2020-10-09 09:53] dstvishnu commented on #2930
@tdurnford Is it because of the directline?

[2020-10-09 13:11] felixvanleeuwen opened #3528 "Is Contributing.md still up to date?"
Tried following the steps but ran into some errors during npm start:
`botframework-webchat: [webpack] ERROR in ../component/lib/Localization/getLocaleString.js
botframework-webchat: [webpack] Module not found: Error: Can't resolve '../Utils/PrecompiledGlobalize' in '<mypath>\BotFramework-WebChat\packages\component\lib\Localization'
botframework-webchat: [webpack]  @ ../component/lib/Localization/g

[2020-10-09 13:13] felixvanleeuwen opened #3529 "Is CONTRIBUTING.md still up to date?"
Tried following the steps but ran into some errors during npm start:
[code]
Is this a bug or is this something on my end?

I noticed the build pipeline is red on the current master.
Are this and that the same issue?

## Screenshots
N.A.
## Version
0c21c2df21246877bb58e4c80c1deee0fb4db6ab
## Describe the bug
`npm start` throws errors
## Steps to reproduce
1. Fork and clone repo
2. Run `npm ci`
3. R

[2020-10-09 14:14] #3528 closed

[2020-10-09 14:15] felixvanleeuwen commented on #3528
whoops duplicate, please delete

[2020-10-09 17:03] corinagum commented on #3529
Looks like something on your end. I just did a fresh clone and ran into no problems. @stevkan can you support?

[2020-10-09 18:41] corinagum commented on #3174
I tested this on Chrome x NVDA and Edge Canary x Narrator, and I'm no longer reproducing this bug. Closing as resolved.

[2020-10-09 18:41] #3174 closed

[2020-10-09 19:34] stevkan commented on #3517
@konagallasushmitha, I suspect that some of the style changes you are making to the components are what are causing the rendering issues for you. Though, why for you and not for me when visiting the same site, I don't know (see image below). There is also the outside possibility that the issue is specific to your phone. Have you tested on another?

If the issue persists, I would also suggest that

[2020-10-09 19:38] tdurnford commented on #2930
Yes, this is an issue with DirectLine

[2020-10-09 22:31] stevkan commented on #3529
@felixvanleeuwen, I can't confirm your specific error but when I follow those specific steps shown above, I get a whole host of errors. However, if I run the following steps, having added `npm run build`, I still get a number of warnings, but the SDK does appear to build and run. Serving `webchat.js` from "http://localhost:5000" seemingly works without error.

Can you try these steps, as a possibl

[2020-10-12 07:58] felixvanleeuwen commented on #3529
@stevkan I tried the extra commands and it is working 👍

[2020-10-12 16:12] scheyal opened #3533 "Accessibility: submit buttons, focus corrections"
Filed for tracking. Please close if addressed/won't fix or comment accordingly.

The following accessibility issues are filed on behalf of customer/1P.

## Issues reported by customer via 1P (HealthBot):

* __Forms within the chat do not contain submit buttons__. (Chris: Those actions are automatic and don’t allow the user to key through the options prior to committing a response. Screen reader us

[2020-10-12 21:42] corinagum opened #3534 "Remove 2020 deprecations"
There are a number of 2020 deprecated features that we haven't removed from Web Chat yet.

![image](https://user-images.githubusercontent.com/14900841/95792804-0e0a0780-0c99-11eb-9cf7-82c15f42e419.png)

1. ~`activityStatusRenderer`~
1. ~`attachmentRenderer`~
1. ~`avatarRenderer`~
1. ~`typingIndicatorRenderer`~
1. `styleSet.bubbleBorderColor`
1. `styleSet.bubbleFromUserBorder`
1. `suggestedActionBo

[2020-10-12 22:24] corinagum commented on #3533
- **Forms within the chat do not contain submit buttons.**:
   - I don't have quite enough context, so I'll defer to what Chris says and recommend potentially engaging with Adaptive Cards. @scheyal is it possible to get more details/screencaps? (I don't think I'm a part of this thread)
- **Focus is not advanced to the current step in read order**:
  - By default Web Chat does not focus on message

[2020-10-12 23:00] corinagum opened #3535 "Web Chat Technical Support Guide"
From https://github.com/microsoft/BotFramework-WebChat/issues/3516:
Detailed TSG of how to investigate Web Chat problems before escalation.
- Searching through FAQ.
- Adding to FAQ
- Searching through open/closed issues
- Stack Overflow
- Reproducing error on MockBot/Web Chat loader/Web Chat playground
- Writing explicit repro steps
  - Activity/attachment json if applicable
  - version of Web Cha

[2020-10-12 23:16] compulim commented on #3529
Looks like it's working.

[2020-10-12 23:16] #3529 closed

[2020-10-13 12:27] induyadavusi opened #3536 "Welcome message not loading on page load while using Iframe using secret"
I have set one welcome which is suppose to come when page loads but when page load welcome message never come on page load when I will enter something in box after that welcome message comes and then response of earlier type message.
![AzureCoE](https://user-images.githubusercontent.com/50861621/95860289-792d0a00-0d7d-11eb-9a2c-d7b3ac49d2f6.JPG)

[2020-10-13 12:34] droidriz commented on #3504
![image](https://user-images.githubusercontent.com/6308418/95861042-84346a00-0d7e-11eb-8346-74ee44392f26.png)

^Webchat version
also adaptive card is simple with datepicker and drop down

[2020-10-13 17:54] stevkan commented on #3474
Closing due to a lack of activity. If the issue persists or you have new information to provide, please feel free to reopen.

[2020-10-13 17:54] #3474 closed

[2020-10-13 17:55] v-kydela commented on #3536
@induyadavusi - If you want to use an iframe then you'll need to provide a token with a user ID. If you want to use a secret then you can't use an iframe because you'll need to get Web Chat to send a backchannel event. Please refer to [this comment](https://github.com/microsoft/BotFramework-WebChat/issues/2120#issuecomment-516056614) for more information.

Closing as expected behavior.

[2020-10-13 17:55] #3536 closed

[2020-10-13 17:56] stevkan commented on #3503
@arman-g, updating to let you know that I am still looking into a workaround. I have been discussing this with a colleague and am waiting on a response to a couple questions.

[2020-10-13 18:01] stevkan commented on #3495
@nfreear, thank you for your patience. I'm still trying to determine what is intended behavior or not. I hope to have a response to you within the next day or two.

[2020-10-13 18:05] stevkan commented on #3485
Closing this as resolved.

[2020-10-13 18:05] #3485 closed

[2020-10-13 18:07] stevkan commented on #3518
Closing due to a lack of activity. If the issue persists or you have additional questions or details to provide, please feel free to reopen.

[2020-10-13 18:07] #3518 closed

[2020-10-13 21:38] Varshazz opened #3537 "Accessibility issue : Ensure aria-roledescription is only used on elements with an implicit or explicit role"
[edit by @corinagum 11/9/2020]

See latest [comment](https://github.com/microsoft/BotFramework-WebChat/issues/3537#issuecomment-724381338): I have reopened this bug due to 'layout double' and 'layout carousel' still showing as breaking accessibility in Accessibility Insights.

/end edit

---

Running a fast pass on WebChat bot, getting this error

Path | #webchat__stacked-layout__id--i5ta9

<div a

[2020-10-13 21:39] corinagum commented on #3537
@Varshazz could you add the screencaps from the email chain? Thanks.

[2020-10-13 21:48] Varshazz commented on #3537
Done. Some of the text is smudged, please ignore that.

[2020-10-13 22:39] corinagum commented on #3537
Adding this to team discussion for scheduling.

[2020-10-14 14:52] ivanELEC commented on #3485
Sorry for the late reply on your comment - thank you so much for your help as using the non capitalised F in the property and also passing in via forcing the input to be a function worked.

Much appreciated

[2020-10-14 17:59] stevkan commented on #3495
@nfreear, as you noted, `userID` is used by DL Speech internally by assigning `Conversation_From_Id`, however there is no matching/available property in DL Speech that could be applied to `username`. Because properties are propagated by DL Speech when the adapter is created, there is no way to include `username` as a property in `renderWebChat()`.

[2020-10-14 19:40] stevkan opened #3538 "Move user ID into options of DirectLineJS, instead of Web Chat"
## Feature Request

"TODO" comment in DirectLineSpeech.js, [line 72](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/directlinespeech/src/DirectLineSpeech.js#L74), states:

Doing so would enable `userID` accessible and would produce parity with the Direct Line implementation.

**Additional context**

Related to #3495, Cx is requesting access to both the `userID` and `usernam

[2020-10-14 19:43] stevkan commented on #3495
@nfreear, additionally, though `userID` and `username` exist in the `create()` method of createAdapter.js, they exist primarily to catch either properties being passed into the adapter when using `createDirectLineSpeechAdapters()`. Hence, the console message stating 'Custom "userId" and "username" are currently not supported and are ignored.'

That being said, `userID` is technically accessible al

[2020-10-14 19:43] #3495 closed

[2020-10-14 21:27] cwhitten commented on #3411
Moving from R11 with the understanding that we won't have enough lead time to integrate a drop of the speech sdk

[2020-10-14 21:31] cwhitten commented on #3397
@agriniex we cannot reproduce this, and neither have some large customers of web-chat using the control in a very distributed, high throughput scenario.

Can you update your version of the control to the latest and see if the issue continues to persist?

[2020-10-15 00:32] stevkan opened #3540 "createDirectLineSpeechAdapter 'userID' prop overwrites internal value, should be inaccessible"
## Screenshots

**'userID' not passed in as property**
![image](https://user-images.githubusercontent.com/18403946/96057249-57935780-0e3d-11eb-9a45-af1c2b0d1ed9.png)

**'userID' passed in as property**
[code]

![image](https://user-images.githubusercontent.com/18403946/96057769-8958ee00-0e3e-11eb-8844-1269c87ea614.png)

## Version

CDN v4.10.1

## Describe the bug

createAdapter.js exports the `cr

[2020-10-15 17:04] corinagum commented on #3538
Can you add the link to this issue to `DirectLineSpeech.js` like we discussed? Thanks.

[2020-10-15 20:04] stevkan commented on #3540
@compulim, I started creating a PR that would address this issue by clearing any value passed into the `userID` property before being read by the adapter. However, after speaking with Pooja on the Services team, regarding IcM #[205385137](https://portal.microsofticm.com/imp/v3/incidents/details/205385137/home), she indicated that she had spoken with you on this subject. She suggested from that con

[2020-10-15 21:17] stevkan commented on #3538
@corinagum, added link via PR #3542

[2020-10-16 11:16] agriniex commented on #3397
We cannot reproduce this issue as well anymore, though there has been quite a lot of changes from our side, might be that some of those changes fixed this issue. Closing this

[2020-10-16 11:16] #3397 closed

[2020-10-16 15:21] kdubious commented on #2817
In Azure, edit the App Service, API > CORS and add your custom domain

[2020-10-17 00:06] stevkan commented on #3517
Closing due to a lack of activity. If the problem persists or there are new details you can provide, please feel free to reopen the issue.

[2020-10-17 00:06] #3517 closed

[2020-10-19 16:22] nfreear commented on #3466
Hi All,

As I'm not sure of your and the speech team's time-scales, I'm trying to develop a `SpeechRecognition` _ponyfill_ for WebChat, using _dictation_ mode in the Speech SDK, `initialSilenceTimeoutMs` and `endSilenceTimeoutMs`.

I am drawing inspiration from @compulim's [`createSpeechRecognitionPonyfill`](https://github.com/compulim/web-speech-cognitive-services/blob/master/packages/component/s

[2020-10-19 17:22] corinagum commented on #3519
Status update: right now this is not scoped for R11, but I am bringing it up in Web Chat's team meeting today.

The current intent is to wait for GitHub's seamless move in order to reduce team workload. I'll update this comment later today based off of our meeting.

1. Bring to R11? What do we scope out?
1. If not R11, do we wait for seamless update?
1. R12?

@mrivera-ms FYI :)

[2020-10-19 17:39] corinagum commented on #3466
@nfreear thanks for checking in. At the moment we don't have a status update. I've tagged @ovishesh and @nisheetjain - let's see what they say.

In terms of your technical ask, @compulim is best equipped to answer your question. Another option you might look into is filing a question on Stack Overflow - one of our support engineers may be able to help.

Some questions:
1. What (if any) errors are

[2020-10-19 17:45] nisheetjain commented on #3466
Increasing the "listening" timeout isn't supported for direct line speech channel. We understand the requirement and we will internally discuss and get back to you. Please note that the solution for this isn't straight forward, so I wouldn't expect a quick resolution on this.

@nfreear please note that for using direct line speech channel, you must use `dialogServiceConnector` object. `SpeechConfi

[2020-10-19 17:50] corinagum commented on #3466
@ovishesh GH is not letting me assign this to you, so for now I've only assigned this to @nisheetjain

[2020-10-19 18:06] corinagum commented on #2689
Untagging @trrwilson - was sent incorrect issue. This feature-request is still in backlog.

[2020-10-19 18:07] nisheetjain commented on #2689
@compulim can you describe the scenario here possibly with some samples?

[2020-10-19 18:07] corinagum commented on #3377
Assigning to @trrwilson per @nisheetjain

[2020-10-19 20:15] #3310 closed

[2020-10-19 20:15] #3371 closed

[2020-10-19 20:15] #3526 closed

[2020-10-19 20:32] corinagum opened #3546 "Autodeploy Offline MockBot"
Right now, TJ has to manually publish OMB when changes are populated. Automating this will speed up workflow.

[2020-10-19 20:41] stevengum commented on #1675
Tracking issue for the core issue in WebKit: https://bugs.webkit.org/show_bug.cgi?id=208667
It was indicated that the bug should have been fixed in iOS 13.4 beta 1, but a [cross-linked bug](https://bugs.webkit.org/show_bug.cgi?id=208788) indicates that it's still an issue as of iOS 13.4 beta 4.

[WebKit Bugzilla 2020/10/19 Search results](https://bugs.webkit.org/buglist.cgi?quicksearch=getUserMedi

[2020-10-19 20:52] #3214 closed

[2020-10-19 23:04] corinagum commented on #3484
TLDR: I am closing this bug as "by design / won't fix"

* I am no longer reproducing the long url that is read, which interrupted the speech flow of AT

After taking a look at the source code, I believe __not reading the attachment__ is __intentional behavior__. The current ideal workflow is thus:

![image](https://user-images.githubusercontent.com/14900841/96520693-75d5ca80-1224-11eb-9f3e-676397f

[2020-10-19 23:04] #3484 closed

[2020-10-19 23:09] corinagum commented on #3484
Oops. It looks like this is a dupe of #3521.

To recap: This behavior is **intended** but we want to update it in the feature-request linked above. Sorry for the confusion, folks. I'll keep this one closed in favor of the other, since that issue has a little more context.

[2020-10-20 06:54] compulim opened #3547 "[Accessibility] Custom render attachment for screen reader"
## Feature Request

Today, in live region, we render activity and attachment as "Bot said, Hi I am Clara. 1 attachment."

Tomorrow, we want to render attachment with a bit more details: "Bot said, Hi I am Clara. Card: I agree button. I don't agree button."

We will need to add a middleware pipeline dedicated for rendering attachment in live region, which will be read by screen reader. The DOM tree

[2020-10-20 14:19] ShtirlicC4 opened #3549 "scrollToEnd is not a function when i use custom SendTextBox"
When i use a custom TextBox created with connectSendTextBox on onKeyPress Enter, an error "scrollToEnd is not a function" appears.

[code]

[2020-10-20 15:53] nfreear commented on #3466
Hi @corinagum and @nisheetjain,

Ah. __This is a crunch question for me__. If a custom _ponyfill_-based approach with existing speech services won't work, then I'll stop what I'm attempting, and report back to my team ;).

Yes, I'd appreciate more input from @compulim as and when he has the time.

Unfortunately, I'm not getting errors! I'm probably going to have to step through with a debugger to

[2020-10-20 17:18] corinagum commented on #3547
This is a dupe of #3521

[2020-10-20 18:00] v-kydela commented on #3549
Thank you for the report, @ShtirlicC4

I'm not sure I'll be able to reproduce the problem using only the information you've provided. Can you link to any samples or documentation you've followed?

[2020-10-20 21:24] corinagum opened #3550 "Web Chat as a widget should remember last focused element"
## Feature Request

If user leaves the chat, the focus is lost. Re-entry of the Chat moves focus to the top of the UI. Only the items present in the viewport from the start position of the chart are available to the screen reader. The must user arrow down to hear elements but will not be able to see the what question they’re answering

When Web Chat developers use Web Chat in a widget capacity, mo

[2020-10-20 21:26] corinagum commented on #3533
After discussing with the a11y team, returning focus to the same place in the widget is a responsibility of Web Chat as a P1 feature. Filed at https://github.com/microsoft/BotFramework-WebChat/issues/3550

Web Chat as a widget should be added as a scenario to a11y audits.

Closing this issue. Please continue widget focus memory conversation linked above.

[2020-10-20 21:26] #3533 closed

[2020-10-20 21:37] ShtirlicC4 commented on #3549
Hi.
i used "botframework-webchat": "^4.5.1" after updated to 4.10 version i get this error.

I write message in my custom textBox component and press Enter, after that in console an error with this text appears

scrollToEnd is not a function at onKeyPress (TextBox.js:266) and etc.

Sorry but i can`t find tutorial anymore, before with botframework-webchat: "4.5.1" i used that method [connectSendTex

[2020-10-20 22:32] v-kydela commented on #3549
@ShtirlicC4 - Your code doesn't seem to be valid JSX. Is that the actual code you're trying to run or did you perhaps not copy and paste it correctly?

[2020-10-21 06:30] ovishesh commented on #3466
Hi @nfreear - I'm the product PM for Direct Line Speech (DLS). As Nisheet pointed out, we have optimized DLS for conversational scenarios, where we typically expect turns to be often shorter and also ensure the end-users get a much better voice UX as a result of this constraint. There is a lot of science that goes behind the scenes to ensure we have generalized solution where we try to balance for

[2020-10-21 20:57] compulim commented on #3431
## Investigations

The problem is, we didn't put "activity of type *typing*" inside the transcript. Thus, the "typing" activity from the bot will never able to find the activity it is replying to.

But for "message" activities, I tested it with current build and it actually looks good.

I have a prototype working, by "don't skip the typing activity, always put it in transcript".

Before finalizing

[2020-10-21 22:16] corinagum commented on #3475
Closing this due to inactivity. We can reopen if more info comes up.

[2020-10-21 22:16] #3475 closed

[2020-10-22 00:08] compulim commented on #3431
@MatthiasGwiozda I think you might be hitting a different issue. We are only seeing the issue related to typing activity.

When loading chat history, for activities that have `replyToId` specified, are those referenced activities appears in the chat history too?

In code, that means,

[code]

If you see anything show up, they are "activities that are replying to another activity that does not exis

[2020-10-22 01:18] compulim commented on #3550
According to MDN, `tabindex="0"` means:

It will not surface that element as the "first focusable element" when the user <kbd>TAB</kbd> into Web Chat widget.

As I mentioned during our offline discussion last week:

- I would ask the accessibility team: I see nav bar share commonality with Web Chat as an UI landmark. How <kbd>TAB</kbd> works on nav bar?
- We could use a focus-listening element to

[2020-10-22 17:08] nfreear commented on #3466
Hi All,

I'm happy to say that yesterday I got my dictation-mode speech recognizer working with our Chat-bot,

 * https://github.com/nfreear/dictation

It turned out that I needed:

 1. A `try ... catch` block to catch any errors in the `this.onresult(event);` calls (resulting from a buggy `event.results` object ~ [Line 429+](https://github.com/nfreear/dictation/blob/main/src/createDictationRecogn

[2020-10-22 17:19] corinagum commented on #3550
Thanks, yeah a11y team says it's easier than it sounds, but I have my doubts. This list helps. I'll set up another meeting with them.

[2020-10-22 17:52] stevkan commented on #3503
@arman-g, thank you for your patience. I'm still researching a workaround. It's not looking promising at this moment, but I still have a couple ideas to try out. I will keep you updated.

[2020-10-22 18:24] sam-sam-med commented on #2745
would it be possible to also add the ability to configure, if the text of the buttons get too long, be able to word wrap?

[2020-10-22 18:27] keshansandeepa commented on #2745
@sam-sam-med  You can do it from Css trick for right now

[2020-10-22 18:31] sam-sam-med commented on #2745
@keshansandeepa I was hoping there be something out-of-the-box that can do this without having to use custom css.  the custom css is sort of like a workaround to get the text to word wrap.

[2020-10-22 19:41] darshans0200 opened #3555 "npm ERR! Failed at the abort-controller-es5@1.1.0 postinstall script."
i am trying to install 'botframework-webchat' with npm install botframework-webchat, but getting errors : ------  npm ERR! code ELIFECYCLEnpm ERR! errno 4294967234
npm ERR! abort-controller-es5@1.1.0 postinstall: `npx -p webpack-cli@3.3.11 -p webpack@4.43.0 webpack-cli --config webpack-lib.config.js`
npm ERR! Exit status 4294967234
npm ERR!
npm ERR! Failed at the abort-controller-es5@1.1.0 postins

[2020-10-22 20:28] corinagum commented on #2745
@sam-sam-med Could you file a new `feature-request` and add that link to this conversation? I think button word wrap is a good option to have, but due to time limitations I'm not sure compulim would be able to add that to this change.

[2020-10-22 21:15] stevkan commented on #3504
@droidriz, thank you for your patience. Unfortunately, I am unable to reproduce the issue you have described. I have placed an iframe into a hosting page. The iframe source is a separate HTML document housing the Web Chat instance. With every click of the calendar drop down and/or scroll of the main page or iframe, the calendar always appears positioned correctly.

Can you include the CSS you are

[2020-10-23 00:36] v-rampul commented on #1305
#HCL_BotFramework_WebChat

[2020-10-23 10:06] felixvanleeuwen opened #3556 "ActivityMiddleware loops through activities in reverse"
## Screenshots
![image](https://user-images.githubusercontent.com/64589372/96988363-876cea00-1524-11eb-8b85-82fac994cbe0.png)

## Version
4.10.1
[code]

## Describe the bug
Activities pass through the middleware in the opposite order that they arrived in.

## Steps to reproduce
1. Send an activity to the frontend.
2. 1st Activity passes through activity middleware.
3. Send another activity to the

[2020-10-23 14:11] cwhitten commented on #2884
@CHuijsman we're continuing to work on this feature, however it will not make it into our November release. It remains a high priority feature.

[2020-10-23 14:55] cwhitten commented on #3547
Closing as a duplicate

[2020-10-23 14:55] #3547 closed

[2020-10-23 14:57] cwhitten commented on #2818
Moving to R12 as the PR is in draft state and incomplete

[2020-10-23 18:15] stevengum commented on #3555
@stevkan can you investigate and see if you can get a repro?

[2020-10-23 19:27] compulim opened #3557 "Clean up tests"
## Feature Request

This is an "umbrella" bug that list all clean up works we should done for tests.

### `mediaBuffered.js`

[code]

[Enhancement]

[2020-10-23 20:32] compulim commented on #3487
When implementing this one, fix `useParseAdaptiveCardJSON` by finding/using a newer signature to parse Adaptive Cards.

Inside `useParseAdaptiveCardJSON.js`:

[code]

[2020-10-23 21:48] v-kydela commented on #3549
@ShtirlicC4 - Are you still working on this?

[2020-10-26 07:03] felixvanleeuwen commented on #3556
The code we use is proprietary.
I'm going to clone one of the examples and try to get it to work there.
This might take some time to prioritize but I'll post back once I have it.

[2020-10-26 08:24] felixvanleeuwen commented on #3556
That was easy!
I took one of the samples and added an `activityMiddleware` that prints the activity ID.

Here's the result:
![image](https://user-images.githubusercontent.com/64589372/97149379-f9d00b00-176c-11eb-8280-a797194b85ce.png)

And the code:
[code]

[2020-10-26 09:55] benjaminsommerfeld opened #3558 "How to send activity event from Composer to Webchat and recognize it correctly in Webchat"
According to this issue:

https://github.com/microsoft/BotFramework-WebChat/issues/3409

It should be possible sending an activity event from Composer to Webchat. I've tried that in several ways, but Webchat unfortunately does not recognize the event, yet. Could you give me a concrete example, how I have to format the response in Composer so that Webchat recognizes it?

My responses I tried in Com

[2020-10-26 14:47] #3558 closed

[2020-10-26 14:55] HesselWellema commented on #2745
Hi team. What  happened with this feature  request? Do you still plan to implement it or should I stick with custom css for now?

[2020-10-26 17:02] sam-sam-med commented on #2745
hi @corinagum , how do I file a new `feature-request` ?  i've never done one on github before.  thank you.

[2020-10-26 18:06] compulim commented on #3521
Done.

[2020-10-26 18:06] #3521 closed

[2020-10-26 19:01] corinagum commented on #2745
@HesselWellema this item is still high priority on our list. It has been moved to our next milestone.

@sam-sam-med Please see the GitHub tutorial: https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/creating-an-issue

[2020-10-26 20:14] compulim commented on #3540
Searching codebase of Web Chat, I can't see any of our code are trying to overwrite `recipient.from.id`.

Do you think it's a service-side issue?

[2020-10-27 02:34] stevkan commented on #3556
@felixvanleeuwen, the descending order of displayed activities is expected behavior. It is used in some of the rendering of grouped components.

If you want the activities to display in an ascending order, as a product of the activity middleware, you can utilize the following code to achieve this:

[code]

![image](https://user-images.githubusercontent.com/18403946/97249767-c370ab00-17c1-11eb-8df9

[2020-10-27 02:34] #3556 closed

[2020-10-27 02:58] stevkan commented on #3555
@darshans0200, I am unable to repro the issue you are experiencing. Can you provide me with a few details...

- What is the version of the Node/npm you have installed?
- Is this a new install of the package or a re-install?
- What type of project are you attempting to install into?
- In case it matters, what terminal are you using? Bash, PowerShell, etc.?

[2020-10-27 07:43] felixvanleeuwen commented on #3556
Thanks for the info

[2020-10-27 10:18] Amit8527510735 opened #3559 "[Screen Readers-Intelligent Support Experience-Start Over]: Voiceover focus is not moving to the multiple buttons that displayed after typing Start Over in the chat box while navigating using right swipe."
**Note:**
Same issue repros through out the iris chatbot where similar type of control is present.

**PWD Impact:**
Users who rely on keyboard and screen readers are impacted as Voiceover focus is not moving to the multiple buttons displayed after typing Start Over in the chat box while navigating using right swipe.

**Test Environment:**
Device: iphone X
OS: iOS version 13.6.1
Microsoft Teams: 14

[2020-10-27 16:02] ivanELEC opened #3560 "Bot Ponyfill Factory Speech Replies Twice"
## Version

Node Versions:
botframework-directlinejs: 0.13.1
botframework-webchat: 4.10.1

Versions in Browser:
<meta name="botframework-directlinespeech:version" content="4.10.1">
<meta name="botframework-webchat:bundle:variant" content="full">
<meta name="botframework-webchat:bundle:version" content="4.10.1">
<meta name="botframework-webchat:core:version" content="4.10.1">
<meta name="botframewo

[2020-10-27 17:15] corinagum commented on #3559
Hi, your screencaps and specs indicate this is a Teams bug, not Web Chat. Is this accessibility bug for Teams, or the Web Chat team?

[2020-10-27 17:22] corinagum opened #3561 "Remove MyGet mentions from samples"
Although MyGet information has been removed from our root `README.md`, the related information in all samples still need to be removed.

![image](https://user-images.githubusercontent.com/14900841/97337863-053f3700-183e-11eb-8f87-ec6a1513d67b.png)

related to: https://github.com/microsoft/BotFramework-WebChat/issues/3355

[2020-10-27 18:04] corinagum commented on #3358
Closing this issue as no repro. If @Stevenic or another user is able to provide JSON that reproduces this issue please post that here and let's reopen.

[2020-10-27 18:04] #3358 closed

[2020-10-27 18:17] corinagum commented on #2310
Updated to remove Context vs Composer items that have been addressed.

[2020-10-27 18:37] corinagum commented on #2591
Looks like this has been addressed.

[2020-10-27 18:37] #2591 closed

[2020-10-27 21:34] sam-sam-med opened #3562 "Request for Configurable Option to Word Wrap Text of Suggested Action Buttons"
## Feature Request

**Is your feature request related to a problem? Please describe.**

The feature request being requested is related to a problem.  The current problem is that when the text for the suggested action buttons are long, the text does not word wrap.  The text is cut off instead.  The user is not able to read the full text of the suggested action buttons.

**Describe the suggestion or

[2020-10-27 21:45] sam-sam-med commented on #2745
hi @corinagum , thank you for the link to the info on creating an issue.  i have just created [issue 3562](https://github.com/microsoft/BotFramework-WebChat/issues/3562).

[2020-10-27 21:50] #3316 closed

[2020-10-27 22:42] corinagum commented on #3562
Thanks for filing this issue! I've added the feature request label. If any one else would like this feature, please thumbsup the original comment above.

[2020-10-27 23:50] compulim commented on #3316
Now, the packaging became:

![image](https://user-images.githubusercontent.com/1622400/97373993-7d285400-1874-11eb-9cbe-6b4b41f7b889.png)

[2020-10-28 10:29] sharatssj4 commented on #365
@smit-1999 I am facing the same issue did you find the solution?
https://stackoverflow.com/questions/64553794/how-to-display-saved-bot-transcripts-on-the-bot-how-to-retrieve-the-right-trans
I asked this question in stackoverflow. Would be nice if someone can help with this.
Thanks

[2020-10-28 18:22] corinagum commented on #3560
- Where did you see instructions to update node_modules?
- Are you saying this only repros on a ReactWebChat app (as opposed to CDN)? I am not able to repro on our webspeech sample.
- Please provide your Adaptive Card json.

[2020-10-28 18:44] corinagum commented on #3473
Quick update: I'm still investigating the cause of this issue. My initial assumption was that it would be a sample fix, but that is incorrect. This most likely won't make the R11 release.

Note that this also affects the user highlighting sample.

[2020-10-28 20:03] corinagum commented on #2988
This has been implemented.

[2020-10-28 20:03] #2988 closed

[2020-10-28 21:15] corinagum commented on #3562
Quick note, @sam-sam-med posted a screencap of Adaptive Cards (which is not Web Chat's domain), but **this change is intended for Web Chat's Suggested Actions buttons**.

[2020-10-29 10:51] ivanELEC commented on #3560
Hi, the ticket I am referring to was [this one](https://github.com/microsoft/BotFramework-WebChat/issues/1863) -
I can also see a similar issue occurring in [this ticket ](https://github.com/microsoft/BotFramework-WebChat/issues/2243). Both tickets are closed after an update is added to the build so I assumed that they were internal issues that had been fixed.

However I don't know for definite th

[2020-10-29 15:43] wvpm opened #3565 "Strikethrough (<s>) is removed on sanitize"
## Version
https://cdn.botframework.com/botframework-webchat/4.10.1/webchat.js

## Describe the bug
When sending markdown text `"~~test~~"` to the customer from the bot without a textFormat property in the activity (so it defaults to markdown), the WebChat shows "test" instead of "~~test~~".

## Additional context
Based on https://github.com/microsoft/BotFramework-WebChat/blob/bbbaeb9c2c46ec61ad10

[2020-10-29 18:58] compulim opened #3566 "4.11.0 Release checklist"
# Checklist

## Build

1. [x] ~Bump MockBot to Bot Framework SDK release 4.11.0~
   - https://www.npmjs.com/package/botbuilder/v/4.11.0
   - We are not bumping for patch release
1. [x] ~Bump `botframework-directlinejs` to `0.13.0`~
   - PR is XXX
   - We did not bump `botframework-directlinejs`
1. [x] Bump to `4.11.0`
   - [x] Update `CHANGELOG.md` to mark specific changes in `4.11.0`
   - [x] Run

[2020-10-30 03:26] Aleimar commented on #789
Hi, it's now 2020 (almost 2021). Do we have an update about file size limit now?

[2020-10-30 18:35] corinagum commented on #3565
wow, interesting that we added `<strike>` but not `<s>`. Thanks for the catch! Putting this on our potential list for R12, for which planning will happen in the next few weeks.

[2020-10-30 19:21] tejamora opened #3567 "Accessibility issue : Elements that have scrollable content should be accessible by keyboard"
Running a fast pass on WebChat bot, getting this error

Path | .react-scroll-to-bottom--css-qgskw-1n7m0yu

Fix ONE of the following:
Element should have focusable content
Element should be focusable

## Screenshots

![accessbility issue](https://user-images.githubusercontent.com/73717431/97748854-5acc4b80-1aab-11eb-985b-b6eede48b033.jpg)

![minimizechatbot](https://user-images.githubusercontent.co

[2020-10-30 20:16] D-3lf opened #3568 "Outdated dependency CVE-2020-7753"
## Screenshots

## Version

4.10.1 NPM package

## Describe the bug

Web Chat depends on Remark version 10.0.1 which contains a package with the CVE-2020-7753 vulnerability.
The path to the vulnerable library is:
Web Chat <- botframework-webchat-component <- remark 10.0.1 <- remark-parse 6.0.3 <- trim 0.0.1

## Steps to reproduce

N/A it exists in the latest version

## Expected behavior

Not havi

[2020-10-30 20:41] corinagum commented on #3568
Thanks for filing this issue. This is potentially related to https://github.com/microsoft/BotFramework-WebChat/issues/3360, depending on if we move away from this package or not. Assigning to @compulim since he is assigned dev for 3360

[2020-10-30 21:27] corinagum commented on #3560
Hi, sorry for the delayed reply. I took your Adaptive Card and added it to Mock Bot. The speak text is only being read once. It looks like this isn't a Web Chat issue. @stevkan, could you or another support engineer assist? Thanks.

[2020-10-30 22:02] sam-sam-med commented on #3487
for adaptive card version 1.3 support, when will this be made available to the community?  thank you.

[2020-10-30 22:50] v-kydela commented on #3549
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-10-30 22:50] #3549 closed

[2020-11-02 18:28] CezaryMarcjan commented on #3504
Closing due to no activity, please reactivate if follow up is needed.

[2020-11-02 18:28] #3504 closed

[2020-11-02 19:09] CezaryMarcjan commented on #3567
Hi @tejamora the team will review and follow up on this. Thanks for the report.

[2020-11-02 19:13] corinagum commented on #3567
This needs a team discussion, as right now the transcript intentionally only allows focus on interact-able elements.

[2020-11-02 20:36] Murali-Kwikee commented on #3555
yeah, I'm getting this too. There are my settings.

node
v14.15.0

npm
6.14.8

react
17.0.1

webpack
5.3.2

[2020-11-02 21:39] compulim opened #3570 "AC: Not fully narrated in screen reader"
https://adaptivecards.io/explorer/AdaptiveCard.html

We should narrate `card.speak` for the content of AC.

[2020-11-02 21:39] compulim opened #3571 ""card abc" should hide red box in production mode"

[2020-11-02 21:39] murcinar opened #3572 "Narrator Issues with Bot Framework/Webchat"
## Screenshots

## Version

Microsoft Bot Framework v4:
Microsoft.Bot.Builder 4.6.2 Nuget package

## Describe the bug

while using Narrator with Microsoft WebChat Bot framework, we have identified the following issues:

*after posting a message, Narrator reads the conversation from the beginning which it already read the previous messages.
* Narrator announces "group" over and over again many tim

[2020-11-03 01:18] compulim opened #3574 "Speech does not work in macOS/iOS Safari"
Speech SDK 1.12.0 to 1.13.1 disabled support of macOS/iOS. The support is brought back on 1.14.0.

Since we bumped to 1.13.1, it was not working.

[2020-11-03 01:31] compulim opened #3575 "Bump to Cognitive Services Speech SDK 1.14.0 or higher - related to #3666"
## Feature Request

### Remove workaround

When we bump to 1.13.1, we hit an issue, https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/256.

The issue is because the Speech SDK dropped `webkitAudioContext`. But macOS/iOS is still using vendor prefix for Web Audio.

We temporarily hacked the code. When we bump to 1.14.0, it should have the issue fixed. We will need to remove those

[2020-11-03 02:43] corinagum commented on #3572
- What version of Web Chat are you using? Note that Web Chat and Bot Builder are non-coupled. If your version of WC is not 4.10.1, please update to that version and let us know if you are experiencing the same issues.
- What browser are you testing Narrator with? Right now the recommended browser is Microsoft Edge, so there may be some behavior differences if you're using Narrator with Chrome, for

[2020-11-03 09:54] Amit8527510735 opened #3580 "[Forms and Validations-Intelligent Support Experience-Credit Request]: All the form elements of chat bot messages are not associated with their respective labels."
**Note:**
Issue is observed for all the form fields of Iris chat bot

**User Impact:**
Users who rely on screen readers will face difficulty in filling the inputs of the chat bot messages if form elements are not associated with their respective labels.

**Test Environment:**
OS : Windows 10 2004 (OS Build 19041.450)
Browser: New Edge 84.0.522.63, Chrome 84.0.4147.135
URL: https://servicesuat.micr

[2020-11-03 10:01] #3574 closed

[2020-11-03 10:07] Amit8527510735 opened #3581 "[Screen Reader-Intelligent Support Experience-Rate your experience]: Screen readers (NVDA and JAWS) are not narrating the name and state for the star rating controls present in 'Rate your experience' message section."
**User Impact:**
Screen readers users will face difficulty while navigating over the star rating controls if NVDA and JAWS doesn't narrate the name and state. Hence users might not be able to understand the functionality and the purpose of these controls.

**Test Environment:**
OS : Windows 10 2004 (OS Build 19041.450)
Browser: New Edge 84.0.522.63, Chrome 84.0.4147.135
URL: https://servicesuat.mi

[2020-11-03 10:46] #3570 closed

[2020-11-03 10:46] #3571 closed

[2020-11-03 10:56] MeenakshiBalekar opened #3582 "[Webchat modification required] : https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.custom-components/l.disable-adaptive-cards"
I was working on one repro and encountered that the : https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.custom-components/l.disable-adaptive-cards has an extra line of code added on line 205 :               disabled={disabled}

## Screenshots

## Version

## Describe the bug

## Steps to reproduce

1. Go to https://github.com/microsoft/BotFramework-WebChat/blob/master/sample

[2020-11-03 22:25] compulim commented on #3581
This is a narration inside Adaptive Cards, https://github.com/microsoft/adaptivecards.

@anusharavindrar please send this issue to the Adaptive Cards team instead. Thanks!

[2020-11-03 22:25] #3581 closed

[2020-11-03 22:28] compulim commented on #3580
@anusharavindrar this issue belongs to [Adaptive Card team](https://github.com/microsoft/adaptivecards). In this case, the bot sent an Adaptive Cards and Web Chat use the AC renderer. But their renderer has accessibility issues.

Please send this issue to their team. Thanks!

[2020-11-03 22:28] #3580 closed

[2020-11-03 22:49] compulim commented on #3567
A previous issue on "should not focus on non-interactive element" (#1340) and [WCAG 2.4.3](https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-focus-order.html).

Since this accessibility issue is conflicting to one we previously fixed, we should raise this issue to internal accessibility team and ask them to clarify, and possibly a correct/reference implementation.

For instance, Wha

[2020-11-04 00:02] corinagum commented on #3582
Thanks for filing this issue. I will add this to the R11 milestone for investigation.

[2020-11-04 10:36] ivanELEC commented on #3560
Hi all, is there a major difference in the implementation of the WebChat implementation via the ReactWebChat component that we are using that might be causing the issue?

[2020-11-04 12:20] ivanELEC commented on #3560
Also just to confirm, this issue occured without using the ReactWebChat component and using the renderWebChat function in a vanilla html page also, here's the code with keys and emails starred out:

[code]

Here's also another example of an adaptive card that repeated it's response on speech twice:

[code]

[2020-11-04 19:53] stevkan commented on #3560
@ivanELEC, I've attempted to repro the issue using the adaptive cards you have supplied, but have been unable to do so.

Can you include any of your bot's relevant code that handles the adaptive cards being sent (event handlers, dialogs, triggers, etc.)? I'd like to rule out that the card simply isn't being sent twice because of how / when it is being called.

[2020-11-04 23:12] corinagum commented on #3111
Per https://github.com/microsoft/AdaptiveCards/issues/3829, this is no longer blocked and requires Web Chat to update to AC 2.x. That work can be tracked at: https://github.com/microsoft/BotFramework-WebChat/issues/3392

[2020-11-04 23:15] corinagum commented on #3392
This bump will fix the bug brought up in #3111 (reference: https://github.com/microsoft/AdaptiveCards/issues/3829)

[2020-11-05 10:36] Amit8527510735 opened #3591 "Links in Azure chat bot adaptive cards given aria-label="undefined""
**Accessibility 161215:** Links in Azure chat bot adaptive cards given aria-label="undefined"

Product name, version, and build: Azure Chat Bot, Edge/Chrome v.86

**OS version and build:** Windows 10

**AT version and build (if applicable):** JAWS 2020, NVDA 2020.3

Does this repro with other AT? (If applicable) Yes, Narrator and NVDA

**Share access to the environment (if applicable):**

**Prereq

[2020-11-05 10:41] Amit8527510735 commented on #3591
#A11yMAS;#Accessibility;#MAS1.3.1;#HCL;A11yeDAD;#HCL_BotFramework_WebChat;

[2020-11-05 10:51] Amit8527510735 opened #3592 "Kaiser Permanente: Azure chat bot improperly using aria-roledescription attribute - missing semantic role"
**Accessibility 161217: Kaiser Permanente:** Azure chat bot improperly using aria-roledescription attribute - missing semantic role

**Product name, version, and build:** Azure Chat Bot, Edge/Chrome v.86

**OS version and build:** Windows 10

**AT version and build (if applicable):** JAWS 2020, NVDA 2020.3

Does this repro with other AT? (If applicable) Yes, Narrator and NVDA

**Share access to th

[2020-11-05 10:55] Amit8527510735 commented on #3592
#A11yMAS;#Accessibility;#MAS4.1.2;#HCL;A11yeDAD;#HCL_BotFramework_WebChat;

[2020-11-05 16:20] RaviMadddulajfs commented on #2892
We are using the following HTML markup tag in an answer with and without follow-up adaptive cards:

•	<a href="#" onClick="navigateToPage('frmBeforeHearing');">BEFORE A HEARING</a>

When used without a follow-up adaptative card the page in being rendered exactly as we coded it. That is the html element is rendered as <a href="#" onClick="navigateToPage('frmBeforeHearing');">BEFORE A HEARING</a>.

[2020-11-05 18:19] corinagum commented on #3592
This is a duplicate of https://github.com/microsoft/BotFramework-WebChat/issues/3537, and is fixed in our R11 release, of which the CDN version is planned to be released today.

[2020-11-05 18:19] #3592 closed

[2020-11-05 18:47] stevkan commented on #3555
@darshans0200, @Murali-Kwikee

v4.11.0 was just released. Can you try with the new version and let me know your results?

[2020-11-05 18:57] compulim opened #3593 "4.11.0 Post release checklist"
These are chores that we should do before starting the cycle to reduce ripple effects if we do it in mid-cycle.

Tips:

- Clean your repo before start
- Remove `node_modules` from all folder
   - `git clean -fdx`
- Never delete `package-lock.json`
- If you mess it up, tableflip and redo
- In `component/package.json`
   - Remove reference to `botframework-webchat-core` by hand-modifying `package.js

[2020-11-05 19:10] Murali-Kwikee commented on #3555
Sorry, I'm on webpack 3.8.1. And this new update didn't work either. Do I need to update webpack?

[2020-11-05 20:47] stevkan commented on #3503
@arman-g, I was able to come up with a workaround that appears to work when testing. If you add the below to the CSS for the page, it will force the typing indicator to always display in the bottom left corner. Setting the `bottom` value to `15px` places it about in line with the chat bubble's status element. Naturally, you can adjust to fit your needs.

[code]

![positionTypingIndicator-IE](https

[2020-11-05 22:33] compulim commented on #3591
@Amit8527510735 This is possibly a bug on Adaptive Cards team.

Trying to follow your steps (ZIP code = 97478, service type = "Additional Services") but couldn't repro.

![image](https://user-images.githubusercontent.com/1622400/98303881-c31ba100-1f73-11eb-8f67-185be91e2c78.png)

For issues related to Adaptive Cards, please use this tool and copy-and-paste the Adaptive Card there. If it repro, it'

[2020-11-06 00:21] stevkan commented on #3555
@Murali-Kwikee, I'm not sure if I have a project that includes webpack, atm. If I do not, would you be willing to share your code so I can try to repro the issue?

[2020-11-06 01:26] stevkan commented on #3555
@Murali-Kwikee, I do have a React project that uses webpack in which I have Web Chat as a component. It was an older version of Web Chat so it was ripe for testing; I was able to install the latest version without incident.

Here are my devDependencies, in case you want to try aligning yours to mine:

[code]

My `webpack.config.js` file is pretty sparse. I don't know if there is something in yours

[2020-11-06 01:57] arman-g commented on #3503
Hi @stevkan, thank you for the workaround. I definitely will give this a try. Will this be addressed in the future releases?

[2020-11-06 02:06] Murali-Kwikee commented on #3555
Hi, I had ejected the react app so it was a little tricky to update. I have since installed a new create-react-app and moved all my project files there and tried to install again and it worked. But here is my old webpack.config.dev.js file anyway.

`'use strict';

const autoprefixer = require('autoprefixer');
const path = require('path');
const webpack = require('webpack');
const HtmlWebpackPlugin

[2020-11-06 05:35] sanjayror opened #3595 "How to get old version code of BotFramework-WebChat I need to generate webchat.js from approx. 6 month old code"
🚨 The issue tracker is not for implementation questions 🚨

[Question]
Hi Team
How to get old version code of BotFramework-WebChat I need to generate webchat.js from approx. 6 month old code

Thanks!

[2020-11-06 20:10] stevkan commented on #3503
There is no ETA at this time. You can track what items have been added or updated via the [change log](https://github.com/microsoft/BotFramework-WebChat/blob/master/CHANGELOG.md) as new releases occur.

Closing this as resolved. If the issue persists, please feel free to re-open.

[2020-11-06 20:10] #3503 closed

[2020-11-06 20:11] compulim commented on #3591
Investigations completed, unassigning myself.

[2020-11-07 01:08] stevkan commented on #3555
Thank you for the extra details. As your issue has been resolved, I am closing this.

[2020-11-07 01:08] #3555 closed

[2020-11-09 15:23] ivanELEC commented on #3560
Hi - below is the dialog we have associated with this response - beyond that I'm not sure what else I could provide - please let me know if this helps with the diagnostics:

[code]

[2020-11-09 18:10] corinagum commented on #3591
Closing this issue. Please keep an eye on #3392 for updates.

[2020-11-09 18:10] #3591 closed

[2020-11-09 19:34] cwhitten commented on #3374
If there are multiple video cards in the conversation history we wouldn't want to auto-play all of them

[2020-11-09 19:35] stevkan commented on #3595
@sanjayror,

If you are using the CDN, you can simply change the "latest" directory element of the URL to specify the version you need. For example, change

`<script crossorigin="anonymous" src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>`

to

`<script crossorigin="anonymous" src="https://cdn.botframework.com/botframework-webchat/4.9.0/webchat.js"></script>`.

I

[2020-11-09 19:35] #3595 closed

[2020-11-09 20:45] #3278 closed

[2020-11-09 20:45] #3534 closed

[2020-11-09 20:45] #3561 closed

[2020-11-09 21:31] corinagum commented on #3435
@SeanDarlingBiomni This issue was fixed in PR https://github.com/microsoft/BotFramework-WebChat/pull/3456
You can update to 4.10.1 (or 4.11, latest) to see this change in Web Chat. Sorry for the delayed close.

[2020-11-09 21:31] #3435 closed

[2020-11-09 22:29] corinagum commented on #3572
Closing due to inactivity. Please feel free to respond to the above questions and I will reopen.

[2020-11-09 22:29] #3572 closed

[2020-11-09 22:35] cwhitten opened #3597 ""New message" toast disappears when changing mobile screen orientation"
## Version

4.11.0 iOS/Android

## Describe the bug

Customer is reporting this issue only for mobile devices when they change the phone orientation.
the "New message" button will show in browsers automatically when the user gets new response and is not in the bottom of the page.

assume he is using horizontal screen now and gets "new message" button, if he switch to use vertical screen now, in so

[2020-11-09 23:29] nathanlindorff commented on #3473
@corinagum It may actually end up being a sample/documentation change. A colleague was having the same issue on a similar project and wasn't keen on dropping back a version. After a bit of digging into the webchat code, and looking through some other samples, It appears that the middleware/renderer for StackedLayout has changed from requiring one argument (children) to two (renderAttachment, props

[2020-11-10 01:04] corinagum commented on #3537
Reopening issue -- unfortunately the Mock Bot commands 'layout double' and 'layout carousel' are still not showing the activities with implicit/explicit role.

[2020-11-10 18:44] corinagum commented on #3473
@nathanlindorff thanks for the info!

You're right, since my last update I figured out that this **is** a quick sample update from when our middleware format changed. I definitely plan on getting the fix in R12. In the meantime, check out the middleware design change for more info: https://github.com/microsoft/BotFramework-WebChat/blob/master/CHANGELOG.md#breaking-changes-1 Hope that helps you out

[2020-11-10 19:11] mrivera-ms commented on #3568
@compulim could you please take a look?

[2020-11-10 21:09] corinagum commented on #3593
Closing as complete

[2020-11-10 21:09] #3593 closed

[2020-11-10 22:27] corinagum commented on #2996
This is a high-priority item for our next release, R12.

[2020-11-10 22:30] corinagum commented on #2996
Notes from #3567 (dupe)
@tejamora says

---
Comment from @compulim:

[2020-11-10 22:32] corinagum commented on #3567
For consolidation, I am closing this issue in favor of #3567. Sorry for the inconvenience.

[2020-11-10 22:32] #3567 closed

[2020-11-10 22:38] corinagum commented on #3566
Closing as complete

[2020-11-10 22:38] #3566 closed

[2020-11-11 10:26] rajgohel opened #3600 "Unable to open pdf in new tab of browser from Microsoft web chat bot framework."
I am unable to open pdf in a new tab of browser by passing URL using Attachment in Web chat bot framework. My code snippet as below.
[code]
-----In helper------
[code]

[2020-11-11 19:19] mrivera-ms commented on #3559
@corinagum seems like there is no answer. Can we close this due to inactivity?

[2020-11-11 19:30] #3537 closed

[2020-11-11 21:02] corinagum commented on #3559
@mrivera-ms thanks for the catch.

Closing due to inactivity. @Amit8527510735 Please feel free to file a new issue with Web Chat repro steps if this is still a problem.

[2020-11-11 21:02] #3559 closed

[2020-11-11 21:49] stevkan commented on #3560
Can you share your code for the following bits:

- `userViewCard`
- `GenerateActivityForLocale()` and/or the returned value of `replyMessage`
- Your "bot".cs file located in your Bots folder (assuming you have maintained a similar directory structure)

[2020-11-11 23:42] #3473 closed

[2020-11-12 00:38] stevkan commented on #3600
As a matching issue was posted on SO that already has some activity, I am going to close this in favor of the other.

[2020-11-12 00:38] #3600 closed

[2020-11-12 05:44] rajgohel commented on #3600
I have sent attachment with card from bot to my web application it contains some text messages by clicking on that text i want to open pdf in new tab of browser. My code gives me hyperlink but by clicking on that it navigates to new blank tab in browser it not redirect to "ContentUrl" which i have passed from bot.

[2020-11-12 09:53] Monomoy88 opened #3602 "Bot avatar image is not coming if latest webchat.js is used"
Bot avatar image used to appear till the version 4.11.0 is released.
Here is my code
[code]
In my html I have referred below uri:
https://cdn.botframework.com/botframework-webchat/latest/webchat.js

If I change it to https://cdn.botframework.com/botframework-webchat/4.10.1/webchat.js then avatar image is coming but when I changed the version to 4.11.0 or latest then images are not coming.

[2020-11-12 19:10] mrivera-ms commented on #3476
@stevkan , what is the status of this item? Could you please update it? Thank you.

[2020-11-12 23:46] stevkan commented on #3602
@Monomoy88, it does appear that some regression was introduced with 4.11.0 as I am able to repro the issue when using `createStyle()`.

That being said, the recommended (and supported) method for changing Web Chat's style is to use `styleOptions` (see below). You can read more about why in this doc section, [Overriding `createStyleSet`](https://github.com/microsoft/BotFramework-WebChat/tree/master

[2020-11-12 23:59] stevkan commented on #3602
@corinagum - needing triage

[2020-11-13 00:28] n0sleep opened #3603 "hideUploadButton: true not working with createStyleSet"
## Version
I'm using the latest CDN version of the Web Chat:
`<meta name="botframework-directlinespeech:version" content="4.11.0">`
`<meta name="botframework-webchat:bundle:variant" content="full-es5">`
`<meta name="botframework-webchat:bundle:version" content="4.11.0">`
`<meta name="botframework-webchat:core:version" content="4.11.0">`
`<meta name="botframework-webchat:ui:version" content="4.11.0

[2020-11-13 07:08] konagallasushmitha opened #3604 "Bot behaviour in IE11"
Hi, I am using botframework webchat for developing a bot which contains so many customizations works well in chrome but not working properly in IE11 . We have embedded out bot inside a webpage using an iframe. And this send button icon was showing weird as twisted and some times bot is not showing as well in IE11. Attaching the screenshots here that helps you understand what the problem is.....
![

[2020-11-13 08:27] Amit8527510735 opened #3605 "Vispero: Add role="log" to bot framework messages so JAWS users don't need to switch modes"
**Accessibility 161417:** Vispero: Add role="log" to bot framework messages so JAWS users don't need to switch modes

**Product name, version:** Azure Bot Framework, Edge/Chrome v.88

**OS version and build:** Windows 10 19042.572

**Bot Framework Version:** 4.11

**AT version and build (if applicable):** JAWS 2020

**Does this repro with other AT? (If applicable):** No

**Share access to the envi

[2020-11-13 08:29] Amit8527510735 commented on #3605
#Accessibility;#WCAG1.3.1;#HCL;#HCL_BotFramework_WebChat;#A11ySev2;#Benchmark

[2020-11-13 17:50] stevkan commented on #3603
Possibly related to #3602

[2020-11-13 18:48] corinagum commented on #3603
Please use `styleOptions` instead of `createStyleSet` for non-breaking support.
The following sample is our recommended way to customize Web Chat: https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.branding-styling-and-customization/a.branding-web-chat

[2020-11-13 18:52] corinagum commented on #3602
As @stevkan pointed out, I also confirmed that this is some kind of behavioral regression from 4.10.1. However, we don't guarantee lack of breaking changes in `createStyleSet`, and I strongly recommend using `styleOptions` as shown above.

It looks like the regression happened in PR https://github.com/microsoft/BotFramework-WebChat/pull/3543 My natural assumption is that the break was unintentiona

[2020-11-13 18:55] corinagum commented on #3604
'How to'/implementation questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat tag](https://stackoverflow.com/questio

[2020-11-13 18:55] #3604 closed

[2020-11-13 19:00] stevkan commented on #3476
@RenaudDemarneffe, apologies for the delay. I may have the solution worked out but need to check a couple aspects of it. If I not today, I should have an update by early next week.

[2020-11-13 19:03] corinagum commented on #3605
The `plain-ui` sample is for demo purposes only and not intended to be accessible, or to be used as a final iteration for an app. For accessibility in custom components (such as this), the onus is on the developer to ensure their entire app is a11y compliant. If your issue is in regards to this sample specifically, this problem is a no-op.

Are you saying the requirement to switch modes is occurri

[2020-11-13 19:04] mrivera-ms commented on #3605
This will addressed in the R12 release.

[2020-11-13 22:43] 1Copenut opened #3606 "[A11y] Axe browser plugin is reporting aria-roledescription must be added to elements with a semantic role"
## Screenshots

![Screen Shot 2020-11-13 at 4 38 21 PM](https://user-images.githubusercontent.com/934879/99127779-c1368b00-25ce-11eb-8292-3b9377dce9d9.png)

## Version

[code]

## Describe the bug

The [axe browser plugin](https://deque.com/axe) is reporting multiple aria-roledescription errors for because the attribute is being used on DIVs. These elements don't have an explicit or implicit seman

[2020-11-13 23:43] corinagum commented on #3606
There were several accessibility updates (including `aria-roledescription`) in the 4.11.0 release. Please bump your version and let us know if you are still experiencing the same problem. Thanks!

[2020-11-16 14:28] 1Copenut commented on #3606
Thank you @corinagum . I've passed your feedback along to the team and will review again when the latest updates are rolled into our production instance.

[2020-11-16 19:11] mrivera-ms commented on #3606
@1Copenut this issue will be closed as resolved. Please create a new issue if you're still experiencing any problems. Thank you.

[2020-11-16 19:11] #3606 closed

[2020-11-16 23:58] corinagum commented on #3605
@Amit8527510735 ping:

[2020-11-17 09:09] Amit8527510735 commented on #3605
@compulim : We have given you a sample application link(https://microsoft.github.io/BotFramework-WebChat/06.recomposing-ui/d.plain-ui/) to repro the issue. But issue also exists on Bot framework chat window.

[2020-11-17 10:32] konagallasushmitha opened #3609 "How can I make the entire bot conversation and sendbox in the middle of the page with some fixed width and responsiveness?"
Hi, I am using botframework webchat for developing a bot in which backend is using nodejs and frontend as reactjs. Initially if I render the bot bydefault it's coming in left side. Now I want to customise it in the middle of my page with fixed send box button and need it to be responsive.Can you suggest me how can I achieve it via style options or any other workaround. Help me in this it means a l

[2020-11-17 10:36] konagallasushmitha opened #3610 "Is it possible to do some auto suggestions for sending msgs to the bot?"
Hi, we are  using botframework webchat for developing a bot in which  backend is nodejs and frontend is reactjs. We want something like when user types anything in the sendbox it would suggest with available suggestions. How can this be achieved pls help me .

[2020-11-17 11:36] Amit8527510735 commented on #1410
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 11:44] Amit8527510735 commented on #1408
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 11:44] Amit8527510735 commented on #1387
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 11:45] Amit8527510735 commented on #1386
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 11:53] Amit8527510735 commented on #1379
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG2.4.4

[2020-11-17 11:55] Amit8527510735 commented on #1376
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG2.4.3

[2020-11-17 12:05] Amit8527510735 commented on #1368
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 12:06] Amit8527510735 commented on #1362
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 12:07] Amit8527510735 commented on #1355
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.2.10

[2020-11-17 12:32] Amit8527510735 commented on #1353
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG2.1.1

[2020-11-17 12:52] Amit8527510735 commented on #1352
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.1.2

[2020-11-17 12:54] Amit8527510735 commented on #1349
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 12:55] Amit8527510735 commented on #1338
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 12:56] Amit8527510735 commented on #1319
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 13:27] Amit8527510735 commented on #1318
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG1.3.1

[2020-11-17 13:33] Amit8527510735 commented on #1316
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 14:09] Amit8527510735 commented on #1317
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 14:13] Amit8527510735 commented on #1315
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 14:14] Amit8527510735 commented on #1310
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 14:15] Amit8527510735 commented on #1308
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 14:15] Amit8527510735 commented on #1307
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yUsable

[2020-11-17 14:17] Amit8527510735 commented on #3284
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG3.3.1

[2020-11-17 14:26] Amit8527510735 commented on #2669
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG1.3.1

[2020-11-17 14:37] Amit8527510735 commented on #1426
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG1.4.1

[2020-11-17 14:38] Amit8527510735 commented on #1411
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG1.4.3

[2020-11-17 14:39] Amit8527510735 commented on #1409
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.1.2

[2020-11-17 14:40] Amit8527510735 commented on #1380
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.1.2

[2020-11-17 14:41] Amit8527510735 commented on #1378
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.3.1

[2020-11-17 14:42] Amit8527510735 commented on #1374
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG2.1.1

[2020-11-17 14:44] Amit8527510735 commented on #1373
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG2.4.7

[2020-11-17 14:46] Amit8527510735 commented on #1365
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG2.4.3

[2020-11-17 14:48] Amit8527510735 commented on #1363
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG1.1.1

[2020-11-17 14:50] Amit8527510735 commented on #1361
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.1.2

[2020-11-17 15:04] Amit8527510735 commented on #1360
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG2.4.1

[2020-11-17 15:11] Amit8527510735 commented on #1358
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.2.1

[2020-11-17 15:14] Amit8527510735 commented on #1351
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG3.2.4

[2020-11-17 15:15] Amit8527510735 commented on #1350
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.1.2

[2020-11-17 15:16] Amit8527510735 commented on #1348
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.1.2

[2020-11-17 15:17] Amit8527510735 commented on #1347
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.1.2

[2020-11-17 15:17] Amit8527510735 commented on #1346
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.1.2

[2020-11-17 15:18] Amit8527510735 commented on #1345
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.1.2

[2020-11-17 15:19] Amit8527510735 commented on #1343
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.3.1

[2020-11-17 15:20] Amit8527510735 commented on #1342
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG2.4.7

[2020-11-17 15:21] Amit8527510735 commented on #1341
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG1.4.3

[2020-11-17 15:21] Amit8527510735 commented on #1340
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG2.4.3

[2020-11-17 15:22] Amit8527510735 commented on #1339
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.1.2

[2020-11-17 15:22] edemehmetcan commented on #3567
Please fix this problem asap. The government in Europe is asking that the chatbot is fully compatible with WCAG

[2020-11-17 15:23] Amit8527510735 commented on #1335
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG2.4.3

[2020-11-17 15:23] Amit8527510735 commented on #1334
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.1.2

[2020-11-17 15:24] Amit8527510735 commented on #1314
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.1.2

[2020-11-17 15:25] Amit8527510735 commented on #1313
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG4.1.2

[2020-11-17 15:25] Amit8527510735 commented on #1312
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG2.4.7

[2020-11-17 15:26] Amit8527510735 commented on #1311
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG2.4.3

[2020-11-17 15:26] Amit8527510735 commented on #1306
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG2.4.7

[2020-11-17 15:27] Amit8527510735 commented on #1305
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG1.4.3

[2020-11-17 17:26] stevkan commented on #3609
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework-WebChat Github](https://github.com/microsoft/botframework-webchat/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

[2020-11-17 17:26] #3609 closed

[2020-11-17 19:30] v-kydela commented on #3610
Thank you for the question, @konagallasushmitha

We do prefer that how-to questions are asked on Stack Overflow, but since you're here I can tell you that Web Chat does not currently have an autosuggest/autocomplete feature and according to this issue there are no plans to implement it: https://github.com/microsoft/BotFramework-WebChat/issues/476

There are already several related questions on Sta

[2020-11-17 19:30] #3610 closed

[2020-11-17 22:35] corinagum commented on #3140
Closing this as resolved.

[2020-11-17 22:35] #3140 closed

[2020-11-17 23:29] #3483 closed

[2020-11-17 23:31] corinagum commented on #3535
11/17 the guide is undergoing peer-review :)

[2020-11-18 13:44] MatthiasGwiozda commented on #3431
The bug is not fixed for me with the following components. The delay with 5 seconds still persists:

**This is the welcome - Bot :**

[https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/typescript_nodejs/03.welcome-users/src](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/typescript_nodejs/03.welcome-users/src)

**and this is the frontend with the newest webchat -

[2020-11-18 14:03] MatthiasGwiozda commented on #3431
There are replyToId's that doesn't seem to exist. This is the case for the first message where the replyToId seems to be in a different format then the other activity - id'd:

"**malformed first message replyToId**": AZdTGlUdbui
"**not malformed replyToId**": F4Mi2hwvvWVJAvq3YuZ19a-o|0000000

[2020-11-18 17:44] stevkan commented on #3560
Closing due to a lack of activity.

[2020-11-18 19:10] corinagum commented on #3431
reopening for investigation. @compulim could you take a look?

[2020-11-18 22:22] cwhitten commented on #1354
#HCL;#Accessibility;#HCL_BotFramework_WebChat;A11yMAS;WCAG1.4.3

[2020-11-19 01:47] corinagum commented on #1572
Closing this issue - somewhere down the line this issue got resolved. :)

If the following card (version 1.3; currently unsupported) is displayed by Web Chat, the (default) AC fallbackText will be displayed. (see bottom for screencap)
[code]

Result:
![image](https://user-images.githubusercontent.com/14900841/99609987-caa46680-29c5-11eb-899a-1953786678c7.png)

[2020-11-19 01:47] #1572 closed

[2020-11-19 09:00] dantist1122 opened #3612 "Carousel option is unclickable for option with short name"
## Screenshots

![Annotation 2020-11-19 004808](https://user-images.githubusercontent.com/44105538/99642924-eed16900-2a00-11eb-80fc-bae8847c5a44.png)

## Version

npm package v: "4.10.0"

## Describe the bug

Carousel option is unclickable for option with short name

## Steps to reproduce

Need to add as much option for the user to see the carousel (provide name as short as you can, one letter for

[2020-11-19 17:07] ivanELEC commented on #3560
The following files should answer the questions above:

ShowDashboardDialog.cs

[code]
OnboardingCardResponse.cs
[code]

OnboardingResponses.lg (note needed to add \ characters to avoid markdown being acknowleged)

[code]
Result of replyMessage:
[code]

[2020-11-19 19:30] johnataylor commented on #3612
We will prioritize this in our upcoming release.

[2020-11-19 20:13] corinagum commented on #3560
Reopening issue @stevkan, friendly ping

[2020-11-19 20:17] corinagum commented on #3612
Thanks for filing this issue. This is a fix that would need to happen in the [`react-film` package](https://github.com/spyip/react-film), which is managed by @compulim and @spyip. Please feel free to file an issue above and include the link in this thread. This will remain open as a tracking ticket.

I will assign this to compulim. @cwhitten FYI.

[2020-11-19 23:41] stevkan commented on #3560
@ivanELEC, thanks for the files. I'll start reviewing and see if I'm able to repro the issue.

[2020-11-20 10:07] Casey6624 commented on #2637
Will this work for additional messages or just the current user messages which are displayed?

[2020-11-22 00:09] edwgj commented on #3411
Hi, another bug is reproduced here:

[2020-11-23 09:29] ivanELEC commented on #3560
Thank you - the help is much appreciated please let me know if you have any further questions

[2020-11-23 12:08] Yagorundy opened #3614 "Adaptive card conditionals don't work"
## Screenshots

How it looks in the Adaptive Cards Designer
![image](https://user-images.githubusercontent.com/37158158/99959017-00b16400-2d93-11eb-829a-ea3f9e96046e.png)

How it looks in the WebChat
![image](https://user-images.githubusercontent.com/37158158/99959176-36eee380-2d93-11eb-8961-3d61a67da7e1.png)

How it looks in the Emulator
![image](https://user-images.githubusercontent.com/37158158

[2020-11-23 17:40] v-kydela commented on #3614
@Yagorundy - Adaptive Card conditionals are a part of Adaptive Card templates. Adaptive Card templates should be evaluated on the bot side and have nothing to do with Web Chat. You can read more about Adaptive Cards templating here: https://docs.microsoft.com/en-us/adaptive-cards/templating/

If you have any questions about how to use Adaptive Card templates after reading the documentation you can

[2020-11-23 17:40] #3614 closed

[2020-11-24 00:05] compulim opened #3615 "Strip Markdown also stripped sub-bullets"
## Version

`4.11.0`

## Describe the bug

We are using `remark@10.0.1` for stripping Markdown syntax, but it has an issue when dealing with `\r\n`.

## Steps to reproduce

The Markdown text below was extracted from an activity. It is put inside a minimal repro to isolate the problem of Web Chat.

[code]

## Expected behavior

`remark` and `strip-markdown` is expected to produce:

[code]

In fact,

[2020-11-24 01:35] corinagum opened #3616 "[Accessibility] Update activity timestamp grouping to match visual UI"
(Filed internally from Web Chat customer)

Currently, AT will read every date/time after each activity, regardless of `grouptimestamp` style option

## Version

4.11.0

## Description
- Currently on AT, each activity is read with the accompanying timestamp, regardless of the visual UI.
- By default, the visual UI groups all uninterrupted activities from a single user with one timestamp.

## Reques

[2020-11-24 01:35] corinagum commented on #3616
Currently being investigated by compuilim

[2020-11-24 05:07] alishajain7 opened #3617 "The adaptive cards are not getting spoken. The article that I am following is: https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/SPEECH.md"
🚨 The issue tracker is not for implementation questions 🚨

[Question]

I have below code snippet added in my DirectLine HTML:

[code]

It should ideally also have text-to-speech enabled on BOT and should read out the adaptive cards. This is actually not working. Any help will be appreciated.

[2020-11-24 19:07] compulim commented on #3568
We will need to take out `remark@10` as we tested `@11` doesn't work with IE11. And we also have an accessibility bug related to `strip-markdown` (and `remark`) that it is incapable of removing HTML tags from Markdown.

[2020-11-24 19:10] axelsrz commented on #3617
Hey @corinagum could you take a look at this and clarify the correct behavior for webchat? Thanks.

[2020-11-24 20:26] corinagum commented on #3617
Do you have speech text applied to the Adaptive Card? Please share the Adaptive Card code and I will test it out.

[2020-11-25 00:57] corinagum opened #3618 "Adaptive Card links should not be disabled even if the card is disabled"
## Version
4.11.0

## Describe the bug

Currently, published behavior is that Web Chat's anchors will not work on first click, but will redirect to the url on second click. The original intention was to disable all element clicks, not just the first one. This behavior needs to be fixed.

When Adaptive Cards are disabled after use (when they are no longer the most recent activity), buttons and inpu

[2020-11-25 05:14] alishajain7 commented on #3617
Sure my Adaptive Card looks like:

Attachment outputAttachment = (Attachment)output;
                            var reply = MessageFactory.Attachment(outputAttachment);

                            if (outputAttachment?.ContentType != "application/vnd.microsoft.card.hero")
                            {
                                AdaptiveCard adaptiveCard = (AdaptiveCard)reply.Attachments[0].

[2020-11-25 10:14] Amit8527510735 opened #3619 "[Screen Reader-Intelligent Support Experience-Feedback]: JAWS is announcing as "Attachment" while navigating using cursor mode over the button controls of 'Feedback'."
**Note:**
Issue is observed with JAWS through out Iris chat window while navigating in cursor mode.

**User Impact:**
Screen reader users who navigate using JAWS cursor mode will be confused if JAWS is narrating as "Attachment" while navigating over the button controls of 'Feedback' instead of reading as button.

**Product name, version, and build:** Intelligent Support Experience/Chrome v.84
**OS

[2020-11-25 10:20] Amit8527510735 commented on #3619
#Accessibility;#WCAG4.2.1;#HCL;#HCL_BotFramework_WebChat

[2020-11-25 10:32] Amit8527510735 opened #3620 "[Screen Readers-Intelligent Support Experience-Rate your Experience]: Talkback focus is not sequential on invoking any of the Star rating buttons in 'Rate your Experience' section while navigating using right swipe"
**User Impact:**
Screen Reader dependent users who navigate using Talkback right swipe are misguided as Talkback focus is not sequential on invoking any of the Star rating buttons in 'Rate your Experience' section while navigating using right swipe

 **Product name, version, and build:** Intelligent Support Experience/Chrome v.83
Device: Android
OS : Version 10
Browser: Chrome version 83.0.4103.10

[2020-11-25 10:33] Amit8527510735 commented on #3620
#Accessibility;#WCAG1.3.2;#HCL;#HCL_BotFramework_WebChat

[2020-11-25 10:42] Amit8527510735 opened #3621 "[Screen Reader-Intelligent Support Experience-Rate your experience]: Voiceover/Talkback is not narrating the name and state for the star rating controls present in 'Rate your experience' message section."
**User Impact:**
Screen readers users will face difficulty while navigating over the star rating controls if Voiceover doesn't narrate the name and state. Hence users might not be able to understand the functionality and the purpose of these controls.

**Product name, version, and build:** Intelligent Support Experience/Chrome v.84
OS : iOS version 13.6.1,version 10
Device: iPhone X, Android
Brows

[2020-11-25 10:43] Amit8527510735 commented on #3621
#Accessibility;#WCAG4.1.2;#HCL;#HCL_BotFramework_WebChat

[2020-11-25 10:53] Amit8527510735 opened #3622 "[Screen Reader-Intelligent Support Experience-Feedback]: Voiceover/Talkback are not narrating the state(selected) for the buttons present in the Tell us about your experience chat while navigating using right swipe."
**User Impact:**
Users who rely on Screen reader are not knowing the state if Voiceover is not narrating the state(selected) for the buttons present in the Tell us about your experience chat while navigating using right swipe.

**Product name, version, and build:** Intelligent Support Experience/Chrome v.83/Safari
Device: iPhone X, Android
OS : iOS version 13.6.1,version 10
Browser: Safari, Chrome

[2020-11-25 10:53] Amit8527510735 commented on #3622
#Accessibility;#WCAG4.1.2;#HCL;#HCL_BotFramework_WebChat

[2020-11-25 17:24] arman-g commented on #3431
I have the same problem, is there any fix for this?

[2020-11-25 18:48] corinagum commented on #3617
Could you share the Adaptive Card json? Thank you!

[2020-11-25 18:50] corinagum commented on #3620
Thank you for filing this issue. @compulim could you test this on Android?

[2020-11-25 18:51] corinagum commented on #3622
Thank you for filing this issue. @compulim could you take a look on Android?

[2020-11-25 18:53] corinagum commented on #3621
Thank you for reporting this issue. @compulim could you take a look?

[2020-11-25 18:57] corinagum commented on #3619
@Amit8527510735 Thanks for filing this issue. It looks like the images were not attached with the comment. Could you add those? Thank you.

[2020-11-25 18:59] corinagum commented on #3615
Adding this to R12 for planning.

[2020-11-26 05:50] alishajain7 commented on #3617
[AdaptiveCardJSON.txt](https://github.com/microsoft/BotFramework-WebChat/files/5600740/AdaptiveCardJSON.txt)
Please find attached the JSON
Also, is it possible to have a quick sync up anytime suitable to you for troubleshooting?

[2020-11-26 14:14] Amit8527510735 commented on #3619
@corinagum i have added screenshot in the comment.

[2020-11-26 19:32] arman-g opened #3623 "Timed out while waiting for activity"
## Screenshots

![IMG4](https://user-images.githubusercontent.com/22778273/100385999-11531b80-2fd9-11eb-94f8-233f00193535.png)

## Version

WebChat 4.11.0

## Describe the bug

Webchat times out and shows a waring message under the browser console for the first welcome message. Due to timed out it takes some time to show the welcome message.
It appears the reply to message has a wrong id or none e

[2020-11-27 17:26] ivanELEC commented on #3560
Hello, thanks for all the help so far - could I ask if there's any update on this?

[2020-11-30 10:07] UtkarshSinghal17 commented on #3560
I also facing the same issue when I added speak property to the adaptive card then it speaks two times.

[2020-11-30 10:36] DennyWithAnE opened #3624 "hideUploadButton not hiding buttong when set to true"
## Screenshots
`      const styleOptions = {
        hideUploadButton: true,
        bubbleBackground: "white",
        bubbleBorderStyle: "solid",
        bubbleBorderRadius: "10px",
        bubbleFromUserBackground: "#5ce9ff",
        bubbleFromUserBorderRadius: "10px",
        groupTimeStamp: 3000,
        emojiSet: true,
        timestampFormat: 'relative',
        timestampColor: "red",

[2020-11-30 15:10] Casey6624 commented on #2637
Our Front-End is in Vue, and we ended up making the avatar dynamic by using CSS variables.

We have an updateAvatar method which runs when the prop getAvatarFullUrl prop is changed.

[code]

which programatically updates CSS of

[code]

[2020-11-30 19:32] corinagum commented on #3623
Assigning to @stevkan for repro support. Feel free to remove the Support label and assign back to me if there's a repro.

@hcyang FYI.

[2020-11-30 19:53] corinagum commented on #3619
Quick update: I don't yet have JAWS on my machine but will look into this as soon as I am able.

[2020-11-30 19:55] corinagum commented on #3624
Hi @DennyWithAnE, our hide upload button sample appears to be working. It looks like this is an implementation issue.
Link: https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.branding-styling-and-customization/f.hide-upload-button

@stevkan could you or another support engineer help out? Thanks.

[2020-11-30 20:32] corinagum commented on #3617
Hi @alishajain7, it looks like there are formatting errors in your card. I was able to get the following to work with speech:

[code]
@v-kydela, could you provide support on this issue?

[2020-11-30 20:48] corinagum commented on #3602
I confirmed with @compulim that this is an intended breaking change. Previously, avatar images were set with css (background-image), but now are set in HTML with <img>. Please use `styleOptions` as indicated above.

[2020-11-30 20:48] #3602 closed

[2020-11-30 22:01] v-kydela commented on #3617
Sure, @corinagum

@alishajain7 - Go ahead and try Corina's JSON to see if it works for you

[2020-12-01 00:00] corinagum commented on #3605
I spoke with @compulim about this last week. The reason we are unable to assign `role="log"` to the Accessibility transcript (`<ScreenReaderText>`) is due to `aria-live="polite"` being the value for elements with role of log.

However, `role="log"` *is* assigned to `BasicTranscript.js`:

![image](https://user-images.githubusercontent.com/14900841/100678323-be9f9980-3321-11eb-9b06-dcd9f9529166.png)

[2020-12-01 01:28] DennyWithAnE commented on #3624
Thanks for the clarification on the issue!

[2020-12-01 01:28] #3624 closed

[2020-12-01 03:46] alishajain7 commented on #3617
@corinagum  @v-kydela  Thank you for the input. Indeed there was some formatting issue. I have updated my JSON, and the adaptive cards are now getting spoken. Thanks for all the input. Closing the ticket.

[2020-12-01 03:46] #3617 closed

[2020-12-01 06:52] DennyWithAnE commented on #1571
I am just curious if the ability to customize the timestamps, would the devs be able to customize the timestamp to display above the chat bubbles like in V3?

[2020-12-01 17:54] tonyanziano commented on #3620
@compulim please provide an update.

[2020-12-01 19:54] corinagum commented on #1571
@DennyWithAnE Yes, you could build a custom transcript where the timestamp component is above the bubble(s). Take a look at our recomposing-ui samples :)

[2020-12-01 21:06] stevkan commented on #3623
@arman-g, is the code you supplied part of a test you are running? I see the `.equalsTo()` bit of code, but I'm unsure why that is being used.

[2020-12-01 21:15] corinagum commented on #3623
FYI, the replyToId, from the SDK, is always random and never associated with a true activity. This is not something Web Chat is able to change.

[2020-12-01 22:27] arman-g commented on #3623
Hi @stevkan, no it is not a test code. The ".equalsTo()" is just a function that compares two string ignoring the case.
[code]

[2020-12-02 01:06] DennyWithAnE commented on #1571
@corinagum Thanks for the pointers, sorry if I have been asking the obvious with my past few questions. Appreciate the help 💯

[2020-12-02 15:58] abelfubu commented on #3623
Having the same issue here...

[2020-12-03 07:00] Amit8527510735 commented on #3559
#A11yMAS;#A11ySev2;#Accessibility;#WCAG1.3.2;#HCL;#HCL_BotFramework_WebChat;#Linked:BUG6380928;#LinkedBug

[2020-12-03 19:12] stevkan commented on #3560
@ivanELEC, thank you for your patience. Nailing down the specific issue is proving a bit troublesome. I need to connect with a colleague over this, and will keep you updated.

[2020-12-03 20:50] selvaduraiece commented on #1397
I am also looking for. Can u help me with the syntax

[2020-12-03 21:23] corinagum commented on #1397
Please see https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/WELCOME_MESSAGE.md

[2020-12-04 15:56] martinoss opened #3625 "4.11.0 minimal bundle => No renderer for attachment for screen reader of type XY"
## Screenshots

![image](https://user-images.githubusercontent.com/2587942/101178469-51ee0d00-3649-11eb-9b54-dda25815304e.png)

![image](https://user-images.githubusercontent.com/2587942/101178872-ccb72800-3649-11eb-957f-56c464ef952e.png)

## Version

4.11.0 / NPM ('botframework-webchat/lib/index-minimal') / (but it also happening using CDN minimal bundle)

## Describe the bug

We're using the min

[2020-12-04 17:39] iaulakh opened #3626 "how to send Adaptive Card from HTML UI (using store.dispatch): microsoft/BotFramework-WebChat"
I am trying to figure out how to send Adaptive Card from HTML UI.

![image](https://user-images.githubusercontent.com/73618019/101196265-5e587280-3615-11eb-8f9b-2352617c1d92.png)

I can send message by a button click from UI (outside chat component).

[code]

My requirement is to send adaptive card(button from HTML UI): like below

[code]

Looks like below event can be useful, but this seems to be

[2020-12-04 19:33] corinagum commented on #3625
Hi @martinoss, thanks for filing this issue. I have a repro of this, and will investigate the problem. I don't think I'll get an answer to this thread today, but I will get it in as soon as possible early next week.

[2020-12-04 19:35] v-kydela commented on #3626
Closing here to address on Stack Overflow

[2020-12-04 19:35] #3626 closed

[2020-12-04 21:03] eyadon commented on #3431
I believe I am having this problem too.
When I connect to the bot in Chrome, mobile or desktop, it comes up right away.
When I connect to the bot in a webview in my Xamarin app, there is a clear 5 second delay between the "Connecting..." indicator and when the first message appears.

[2020-12-05 18:38] hcyang commented on #3623
@stevkan, any update?

[2020-12-07 05:43] chung-ting opened #3627 "Direct Line App Service Extension Websocket error 500"
## Describe the bug

I implemented the  Direct Line App Service Extension(Node.js version) according to the official website suggestion, but I encountered some problems during the implementation. (https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/i.protocol-direct-line-app-service-extension)

I successfully got the token, but encountered a websocket error whe

[2020-12-07 16:16] edemehmetcan opened #3628 "Handle ExpiredToken (DIRECT_LINE/UPDATE_CONNECTION_STATUS)"
Screenshots

![image](https://user-images.githubusercontent.com/28989498/101375816-202aaf80-38b0-11eb-8a99-50e4c98d864f.png)

![image](https://user-images.githubusercontent.com/28989498/101375941-418b9b80-38b0-11eb-8842-55de342d6b33.png)

![image](https://user-images.githubusercontent.com/28989498/101391830-31ca8200-38c5-11eb-949d-04139cc6df9c.png)

Version
Webchat Version: latest (4.11.0)
Platfor

[2020-12-07 19:37] stevkan commented on #3623
I haven't been able to repro. Just double checking, @arman-g and @abelfubu,  do either of you have the 'Always on' feature enabled in your bot's configuration in ABS?

[2020-12-07 21:49] arman-g commented on #3623
hi @stevkan, I did not specifically set that feature. On the bot side I am using [Microsoft.Bot.Builder.Dialogs](https://github.com/microsoft/botbuilder-dotnet/tree/main/libraries/Microsoft.Bot.Builder.Dialogs). I like to test it if you could show me where and how to set that setting.
The warning is shown  in Webchat v4.11.0 but not in previous versions. Now, it might be that problem still exist i

[2020-12-08 00:16] corinagum commented on #3625
`Composer.js`:
![image](https://user-images.githubusercontent.com/14900841/101418456-cbcd0300-38a2-11eb-8621-b8a90d08e759.png)

A couple of things:
1. I agree that these errors should be suppress-able, particularly for situations like using minimal bundle. It looks like you can disable the warning by adding the following middleware: (code from `__tests__/html/middleware.liveRegionAttachment.noWarn

[2020-12-08 00:56] corinagum commented on #3627
Due to the above, I am changing this from Bug to Question.

- [x] Remove `Support` label / change to `Question`
- [ ] Add this topic to FAQ
- [ ] Mock Bot token feedback TBDiscussed here
   - Note: we already have an action item regarding token documentation at: https://github.com/microsoft/BotFramework-WebChat/issues/2343

[2020-12-08 16:34] martinoss commented on #3625
@corinagum Thank your for investigating this. Your suggestion successfully suppress the errors, many thanks for this.
I also want to let you know that I had to implement the same workaround for activity type "messageReaction" in the activity middleware.

[code]

[2020-12-08 17:17] selvaduraiece opened #3639 "DirectLine 'event trigger' makes the last message to be disappeared/deleted"
I come across a strange issue. I trigger an event using DirectLine and based on the event name I am posting back the message to the user.

But after triggering the message my last message which is already sent got deleted/disappeared. I am not sure why this is happening. Please refer the screenshot.
![image](https://user-images.githubusercontent.com/40558980/101518194-9958fe00-39a7-11eb-85bc-dc6cb

[2020-12-08 18:34] stevkan commented on #3628
I don't fully understand the flow you are trying to achieve. If the token is expired, then there isn't a way to send a message via Web Chat (thru the bot) to notify the user as Web Chat relies on having a valid token. You would need to message the user via the client when the token expires.

Is it at this point that you are questioning how to catch an expired token?

[2020-12-08 18:54] corinagum commented on #3625
Thanks for reporting back. 👍

Web Chat doesn't natively support `messageReaction`, so this is the expected behavior when receiving that activity type.

[2020-12-08 19:01] stevkan commented on #3623
@arman-g, unfortunately, I'm not receiving the warning even after multiple refreshes / hard refreshes. I did verify that each site is running the version of Web Chat you had specified. I'm not sure what else to offer to help repro this and find why it's proving an issue for you.

As for the 'Always on' feature, navigate to your bot's app service, click on 'Configuration' on the left, under' Settin

[2020-12-08 22:45] arman-g commented on #3623
hi @stevkan, that is very wired indeed. It would be good is someone could confirm this since I am still seeing the warning. Here a screenshot of the two instances side by side in Edge browser.
![IMG2](https://user-images.githubusercontent.com/22778273/101550348-fcc13c80-3963-11eb-86e0-fdc515d569d3.png)

[2020-12-09 07:52] edemehmetcan commented on #3628
@stevkan this is what I want to achieve yes! (I am using C# btw) Do you have a code example which would help me ?

[2020-12-09 11:04] abelfubu commented on #3623
Yes, We have the "Always On" option activated.

[2020-12-09 13:58] ivanELEC commented on #3560
Hello @stevkan  thank you for the response. Has there been any new findings on this particular issue?
@utkarsh2827 do you have any more information regarding how the bug was reproduced for you?

[2020-12-09 19:49] arman-g commented on #3623
@stevkan for these two app services we are using "D1 Shared" app service plan so always on is off. But this should not matter since the two servers has the same setting and only one of them always shows the warning message.

[2020-12-09 22:15] corinagum commented on #3535
https://gist.github.com/corinagum/af6345698649c8f921ccd3512d411e01 Please feel free to leave comments on the gist. My plan is to wait a little bit more for peer feedback, then add the md file to Web Chat's repo docs.

[2020-12-09 23:35] stevkan commented on #3623
@arman-g, @abelfubu - Ok, I was finally able to repro the issue on my own using the [04.api/a.welcome-event](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api/a.welcome-event) sample coupled with the (03.welcome-users)[https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/javascript_nodejs/03.welcome-users].

What I discovered is that the below code, which se

[2020-12-10 00:22] nisheetjain commented on #3466
closing the issue since @nfreear is unblocked now :)

[2020-12-10 00:22] #3466 closed

[2020-12-10 14:34] martinoss opened #3632 "Reaction buttons example and activity id"
## Version

4.11

## Describe the bug

First, I'm not sure if this is the best category for my input.

In the sample for [reaction buttons](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.custom-components/d.reaction-buttons) the activityId is passed in the MessageReaction object which does not seem to be part of the [specification](https://docs.microsoft.com/en-us/azure/b

[2020-12-10 15:20] abelfubu commented on #3623
Yes! this did the trick for me, thanks @stevkan !!

[2020-12-10 18:29] corinagum commented on #3632
Thanks for bringing this up. I recall the same thought occurring to me in the past but I failed to follow-up. Your suggestion makes sense to me, and of course we don't enforce any of the code suggestions we make in our samples, so you are free to follow your example code. 🙂

I will bring this up as team discussion to reach a consensus to decide if we want to update the sample.

[2020-12-10 19:02] tonyanziano commented on #3632
We will look to prioritize this in the upcoming release.

[2020-12-10 19:03] stevkan commented on #3623
FYI, I don't think the `action.type` matters as much as the first message happening while the bot is already preoccupied and waiting for it to finish processing. In other words, the issue may be present in your code without, specifically, using `CONNECT_FULFILLED` and/or `CONNECT`.

[2020-12-11 08:34] vojtechkacmarik opened #3633 "Markdown text is not rendered in ReactWebChat"
## Screenshots

![screen01](https://user-images.githubusercontent.com/19559588/101880075-a128c600-3b92-11eb-8b98-87e396295616.png)
![screen02](https://user-images.githubusercontent.com/19559588/101880079-a2f28980-3b92-11eb-924e-2d9c0c927b25.png)
![screen03](https://user-images.githubusercontent.com/19559588/101880082-a38b2000-3b92-11eb-9878-c1e0f1983fe7.png)

## Version

Client
"botframework-direc

[2020-12-11 08:58] vojtechkacmarik opened #3634 "Welcome message render problem in ReactWebChat after first initialization"
## Screenshots

![screen04](https://user-images.githubusercontent.com/19559588/101882392-1ea20580-3b96-11eb-8a07-281e927dc9d4.png)
![screen05](https://user-images.githubusercontent.com/19559588/101882395-206bc900-3b96-11eb-85b8-5cb3525eb9e1.png)

## Version

Client
"botframework-directlinespeech:version" content="4.11.0"
"botframework-webchat:bundle:variant" content="full"
"botframework-webchat:bu

[2020-12-11 09:45] Jitendra4735 opened #3635 "Issue in rendering phone number as a hyperlink"
## Screenshots

## Version

## Describe the bug

## Steps to reproduce

1. Go to '...'
1. Click on '....'
1. Scroll down to '....'
1. See error

## Expected behavior

## Additional context

[Bug]

[2020-12-11 09:46] #3635 closed

[2020-12-11 10:23] vojtechkacmarik commented on #3634
I tried the same scenario in dirrefent browser - Edge
More information was provided by console message, see screen
![screen06](https://user-images.githubusercontent.com/19559588/101892080-3764e800-3ba3-11eb-94f0-9c58a78382ca.png)

[2020-12-11 10:25] vojtechkacmarik commented on #3634
I reported also a different issue related to Makrdown formatting, https://github.com/microsoft/BotFramework-WebChat/issues/3633
Maybe there is some relation between rendering of Welcome message and Markdown render issue.

[2020-12-11 18:45] stevkan commented on #3633
@vojtechkacmarik, I am unable to repro the issue. I do see that it appears you are using Direct Line to post activities which _may_ be the problem. Using DL in this way isn't necessarily bad, however, DL is already baked into Web Chat with a variety of methods built around it to support and extend its functionality. Using DL on top of Web Chat could somehow be causing interference.

Rather than us

[2020-12-11 18:52] stevkan commented on #3634
@vojtechkacmarik, please read the response I posted in issue #3623. I don't know if this is the cause, in your case, but it possibly could be.

Also, I commented about your use of Direct Line for posting activities alongside Web Chat in #3633. Please read that as I believe it applies here since it appears to be the same Web Chat instance.

[2020-12-12 13:47] vojtechkacmarik commented on #3633
Thank you for response. I checked current behavior of DL related to MemberAdded and this activity (conversationUpdate) is sent correctly to Bot (I'm using token with userID). So I completely removed code posting activity webchat/join using DL.
Unfortunatelly the behavior is the same.
Although welcome text is received at Client side no message displayed and rendering error 'Cannot read property 'de

[2020-12-12 13:56] vojtechkacmarik commented on #3634
I commented in https://github.com/microsoft/BotFramework-WebChat/issues/3633