[2020-01-02 19:17] mdrichardson commented on #2792
I don't have permissions to remove labels :(

[2020-01-02 19:26] vishwacsena commented on #2638
@cessareoo we are unable to reproduce the issue. Can you please take a look and provide us detailed repro steps if you can continue to reproduce this issue on the latest webchat?

[2020-01-02 19:30] vishwacsena commented on #2633
Closing due to available workaround.

[2020-01-02 19:30] #2633 closed

[2020-01-02 19:32] vishwacsena commented on #2763
Let's close this one and file a different tracking issue for the feature request.

[2020-01-02 19:38] cessareoo commented on #2638
No, in the last webchat we don't have the problem

[2020-01-02 19:38] #2638 closed

[2020-01-02 19:52] cwhitten opened #2793 "Hook to customize channelData"
## Feature Request

see https://github.com/microsoft/BotFramework-WebChat/issues/2763#issue-539865806

This issue tracks the ability for a user to hook into outgoing channelData and modify it.

[Enhancement]

[2020-01-02 19:52] cwhitten commented on #2763
closing, see https://github.com/microsoft/BotFramework-WebChat/issues/2793 for the feature request

[2020-01-02 19:52] #2763 closed

[2020-01-02 19:57] cwhitten commented on #410
No roadmap plans to implement this. Closing.

[2020-01-02 19:57] #410 closed

[2020-01-02 20:01] #896 closed

[2020-01-02 20:02] #941 closed

[2020-01-02 20:03] #987 closed

[2020-01-02 20:03] #1073 closed

[2020-01-02 20:05] #1228 closed

[2020-01-02 20:07] #1295 closed

[2020-01-02 20:08] #1399 closed

[2020-01-02 20:09] #1632 closed

[2020-01-02 20:10] cwhitten commented on #1811
Closing as stale

[2020-01-02 20:10] #1811 closed

[2020-01-02 20:13] #1892 closed

[2020-01-02 21:34] #2789 closed

[2020-01-02 22:38] cwhitten commented on #2171
Closing this as it's not a WebChat issue, but a ABS Portal issue. @bwamie and @tonyanziano did the work to consume the new speech token in the Emulator. @bwamie can you cut an action item in the Portal project to allow testing of Speech in the "Test in WebChat" blade?

[2020-01-02 22:38] #2171 closed

[2020-01-02 22:43] cwhitten commented on #2237
@maggi1129 we suggest using the following supported screen reader technology. We do not officially support JAWS.

**Narrator** on MS Edge (non-chromium)
**NVDA** on Chrome, Firefox, MS Chromium Edge
**VoiceOver** on Safari

[2020-01-02 22:44] #2237 closed

[2020-01-02 22:44] cwhitten commented on #2346
Closing due to lack of detail.

[2020-01-02 22:44] #2346 closed

[2020-01-02 22:48] cwhitten commented on #2605
Closing due to inactivity.

[2020-01-02 22:48] #2605 closed

[2020-01-02 23:21] corinagum commented on #2560
Investigating this now! Hope to have updates soon.

[2020-01-02 23:46] tdurnford commented on #2792
@mdrichardson what version of Web Char are you using? The stacked suggested action layout was introduced in v4.6, but the latest cdn is currently pointing to v4.5.3 due to an issue with DirectLineJs. This will probably be resolved after we rerelease v4.7.1.

[2020-01-03 00:12] mdrichardson commented on #2792
@tdurnford Gotcha. What's the easiest way to test the lastest? I was using cdn's "latest"

[2020-01-03 03:49] tdurnford commented on #2792
You can add this code snippet to the script in the HTML file
[code]
The resulting console log should look like this:
![image](https://user-images.githubusercontent.com/17039790/71706304-e21c3600-2d98-11ea-924b-e045a221f9e3.png)

[2020-01-03 04:04] tdurnford commented on #2779
@HesselWellema What version of Web Chat are you using? The Bubble Nub was introduced in v4.6, but the latest cdn is currently pointing to v4.5.3 due to an issue with DirectLineJs. This will probably be resolved after we rerelease v4.7.1.

You can add this code snippet to the script in the HTML file to check what version of Web Chat you are using.
[code]
The resulting console log should look like t

[2020-01-03 04:05] corinagum commented on #2792
*facepalm* this has to be it

[2020-01-03 04:12] tdurnford commented on #2792
The stacked suggested actions layout is working fine using the latest bits. This issue will be resolved after we rerelease v4.7.1.

![image](https://user-images.githubusercontent.com/17039790/71706873-18a78000-2d9c-11ea-993b-ca8873b07ab1.png)

[2020-01-03 07:27] HesselWellema commented on #2779
@tdurnford thank you It is pointing  at 4.5.3
Guess I just have to be patient.
Any ETA on 4.7.1 jou are willing to share with me?

[2020-01-03 16:27] #2792 closed

[2020-01-03 16:34] mdrichardson commented on #2789
@keshansandeepa In case you didn't see...it's a known bug and it's actually fixed in a version that isn't live on the CDN yet.

[2020-01-03 18:10] corinagum opened #2794 "Investigate change locale sample"
Looks like the demo does not match the README. Needs to be fixed.

Original comment: https://github.com/microsoft/BotFramework-WebChat/pull/2762#discussion_r362902253

[2020-01-03 18:13] corinagum commented on #2779
We don't have an ETA at this time. As a stop-gap, I recommend using the `webchat.js` file available in the release section of this repo. Once the patch goes out, you can switch back to the CDN so you continue to get the latest updates.

https://github.com/microsoft/BotFramework-WebChat/releases/tag/v4.7.1

[2020-01-03 19:26] tdurnford commented on #2647
I was able to reproduce this error. It looks like the width prop type in the `CroppedImage` component needs to be updated.

[code]

https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/component/src/Utils/CroppedImage.js#L38

[2020-01-03 19:38] #2641 closed

[2020-01-03 22:53] stevkan commented on #2790
@naveenwinsome, to be clear, are you wanting the embedded tile to display as part of the web chat conversation (i.e. within web chat)? Or, are you wanting the embedded tile to display on the page as a result of the user requesting it from the bot?

[2020-01-03 23:46] #2647 closed

[2020-01-04 00:11] #2747 closed

[2020-01-04 05:44] naveenwinsome commented on #2790
@stevkan I'm looking for embed tile to be displayed as a part of webchat conversation.

Thanks,
Naveen

[2020-01-04 09:17] keshansandeepa commented on #2789
@mdrichardson  In React Version , That bug was fixed,  I just tried css trick for now . But within one month, i will try to  implement style version, lets see , thanks for the reply :)

[2020-01-05 03:48] corinagum commented on #2783
After investigation, this one will be fixed once the CDN is reverted back to 4.7.1

[2020-01-05 03:49] corinagum commented on #2782
After investigation, this one will be fixed once the CDN is reverted back to 4.7.1

[2020-01-05 03:58] corinagum commented on #2781
This bug will be fixed once the CDN is reverted to 4.7.1

[2020-01-06 03:10] Kumar3010 commented on #2637
@stevkan this helps. thanks a ton

[2020-01-06 08:30] cheahengsoon opened #2799 "ChatBot retrieve data from SharePoint On Premise Issue"
🚨 The issue tracker is not for implementation questions 🚨

[Question]
Hi all, need your advice.
Currently, I developed an ChatBot that retrieve the data from SharePoint On Premise.
When I debug in Local Emulator , the ChatBot success retrieve data from SharePoint On Premise, but after I deploy the source code to Azure Bot Services, the ChatBot Show me the error.
![Slide1](https://user-images.githu

[2020-01-06 10:51] sw353552 commented on #1427
+1
any update on this yet?

[2020-01-06 16:18] cwhitten commented on #2799
Hello @cheahengsoon - Stack Overflow is the correct place to ask your question. Closing this issue.

[2020-01-06 16:18] #2799 closed

[2020-01-06 16:19] marcasmar94 opened #2800 "Direct Line ( WebChat) - Send Voice Note"
Can we let the user send a Voice Note just like in Facebook Messenger or Whatsapp in Direct Line (WebChat) ?

What the samples currently have is an implementation of speech-to-text where whatever the user says on the microphone gets sent as a text to the bot.

What we need is the actual **audio message** sent by the user.

Is there a way to achieve this in the currently available WebChat ?

Thank

[2020-01-06 17:24] corinagum commented on #2769
Could you please share your html files (with secrets, etc removed) so we can reproduce the issue?

Thank you!

[2020-01-06 18:10] corinagum commented on #2760
Closing as duplicate.

[2020-01-06 18:44] stevkan commented on #2800
This is achievable by utilizing features of Web Chat, yes.

First, when the user is given the option to provide an audio message and selects to do so, the bot can send an event to the web page. When the page receives the event a service can be initiated allowing the user to record a message. When the recording is stopped the audio file can then be sent back to the bot as an activity attachment.

I

[2020-01-06 19:29] srinaath commented on #2790
@stevkan Can you take a look at the comments when you get a chance

[2020-01-06 19:32] srinaath commented on #2770
Closing it as feature is being tracked in https://github.com/microsoft/AdaptiveCards/issues/3691

[2020-01-06 19:32] #2770 closed

[2020-01-06 20:34] corinagum commented on #2636
@WHJmaxne, thank you for your patience.

I did some investigation and found out that this is due to the Chrome language settings. The default 'Chinese' setting (no demarcation for Traditional, Simplified, or Hong Kong) sets the language as `zh`, which is not a supported language in Cognitive Services.

![image](https://user-images.githubusercontent.com/14900841/71846838-5a784500-3080-11ea-98f8-606

[2020-01-06 20:34] #2636 closed

[2020-01-06 21:02] #2510 closed

[2020-01-06 21:02] #2794 closed

[2020-01-06 23:24] stevkan commented on #2790
@naveenwinsome, this is possible using `activityMiddleware` to update the HTML associated to an activity.

In this example, I am sending an adaptive card from the bot that carries a flag. When the flag is caught by Web Chat, the Power BI embed code is appended which then displays for the user to interact with.

**First step:** I send a basic adaptive card that contains a button ("Request Assistanc

[2020-01-06 23:25] stevkan commented on #2790
Closing this issue as resolved.

[2020-01-06 23:25] #2790 closed

[2020-01-07 05:27] naveenwinsome commented on #2790
@stevkan - Thanks for the solution. Let me try out and get back to you if I need anything else.

Thanks,
Naveen

[2020-01-07 08:39] marcasmar94 commented on #2800
@stevkan
Why will the bot need to send an event to the web page, can't we make it like when the user is given the option to provide an audio message (presses the mic icon), We start recording and that audio message is sent back as an activity attachment directly ?

Isn't the action of recording an audio message controlled from the client side ?

Is there a sample showing how to initiate an audio r

[2020-01-07 09:49] wehnicde opened #2802 "Cognitive Speech not working in West Europe"
## Screenshots
![image](https://user-images.githubusercontent.com/57532084/71885054-db474780-3139-11ea-829b-375dcf3acdfd.png)

## Version
I use 4.7.1, but it doesn't work on 4.6.0 too.

[code]

## Describe the bug

When I click on the microphone this error occurs.

On 19.12.2019 everything worked fine and when I tried on 20.12.2019 **WITHOUT** changing anything at the code it wouldn't work.

This

[2020-01-07 11:35] Ganeshdino opened #2803 "IE11 render issue : botframework-webchat@master"
🚨 The issue tracker is not for implementation questions 🚨

[Question]

[2020-01-07 11:37] Ganeshdino commented on #2803
I am running BotFramework-WebChat using npm install botframework-webchat@master . Its working with chrome. But in IE11, its not rendering after initial render. when we type text, its getting response from bot and not rendering in the UI.

[2020-01-07 16:13] geea-develop commented on #1976
@corinagum hi, I see it has been added to todo for R8. let me know if you need me to assist as I don't see a pull request or work in process that has started.
thanks.

[2020-01-07 19:16] stevkan commented on #2803
@Ganeshdino, as demonstrated in ["How to use"](https://github.com/microsoft/BotFramework-WebChat#how-to-use), can you switch over to `@latest` instead of `@master` and give it a try?

`@master` does not reflect the most up-to-date published version.

[2020-01-07 20:38] corinagum commented on #1976
Thanks, will do!

[2020-01-07 23:51] stevkan commented on #2802
Hi @wehnicde, I have a couple clarifying questions for you:

- Which browser are you running Web Chat in? It looks like you are using Chrome but you are utilizing the `webchat-es5.js` package (vs. the regular `webchat.js` package). Can you try the regular package?
- Is this the React version of Web Chat? Your code suggests it isn't, but the rendered web chat component in your image looks a lot lik

[2020-01-08 05:53] Ganeshdino commented on #2803
Thanks  @stevkan. I will try with @latest.
But I have already tried with CDN link with latest es5 bundle https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js . Its not working with IE11.

[2020-01-08 07:04] wehnicde commented on #2802
I am running in Chrome but I need IE support too, thats why I use es5. (Does it have any disadvantages?)
I tried the normal package too, but it doesn't work either.

It isn't. The "taskbar" on top is simple html by me (using style.display = none), it is the standart webchat.

Didn't help :(

Didn't change anything.

I will try to generate a fresh bot and try to repro it by myself again. My problem

[2020-01-08 07:56] narik1989 commented on #2775
Hi,

This happens always. I have integrated chat bot in my application. The application is running in IE. When i logout and login in the application the webchat-es5.js always shows security error. I am using version 4.6.0. Is there any resolution for this?

Thanks
Kiran

[2020-01-08 11:19] Ganeshdino commented on #2803
I have downloaded the botframework-webchat@latest and executed it.
IE11 issue is still the same.. No improvement.

![image](https://user-images.githubusercontent.com/39691416/71974165-c8666d00-3236-11ea-92ce-9342acb27281.png)

[2020-01-08 11:34] didaskein commented on #2769
Html send by email

[2020-01-08 17:21] corinagum commented on #2769
All of the links provided are using 4.6 of Web Chat, so I'm not able to see the styling error.

How is the code written? Is it in an HTML file, JavaScript, etc? Please share that code with me, as opposed to the links to the deployed site. I am hoping to looking at the Web Chat-specific code to see what implementation differences there might be. I don't currently need to see the live site deployed

[2020-01-08 18:07] corinagum commented on #2560
Update: I have a repro of this problem and am hunting around looking for the source code. :) thanks for your patience!

[2020-01-08 21:33] corinagum commented on #1976
@geea-develop for now, would you be able to provide your latest `he-IL.js` file? :)

[2020-01-09 06:42] manishams10 opened #2804 "Using the npm version of botframework-webchat causes an issue with browserify-sign package during bundling."
Hi,
I have been using the CDN version of botframework-webchat in my app without any issues, but recently decided to switch to the npm version. However, ever since I installed the npm version, I get a strange error in my console `Uncaught TypeError: First argument must be a string, Buffer, ArrayBuffer, Array, or array-like object.` as shown below:-
<img width="1435" alt="Screenshot 2020-01-09 at 11

[2020-01-09 07:12] manishams10 commented on #2804
The issue originates from node-libs-browser dependency of webpack on inclusion of botframework-webchat package.
Here's the path to it:-
webpack:///./node_modules/node-libs-browser/node_modules/buffer/index.js?

Also here's a screenshot of the exact line where the issue occurs:-
<img width="1423" alt="Screenshot 2020-01-09 at 12 40 31 PM" src="https://user-images.githubusercontent.com/31473298/7204

[2020-01-09 08:27] geea-develop commented on #1976
https://gist.github.com/geea-develop/938f1a44267fb17164b41b7ecd2cfece

[2020-01-09 08:47] marq47 commented on #2475
Hi,
I agree with @alokraj68. The behavior of the sendbox is not intuitive when the user writes on the input text and even less on mobile devices. We thought that interface redesign would come out with the 4.6 version.
We need some solution for this. Do you have some suggestion or temporary patch? When do you think sendbox redesing will be complete?

Thank you very much!!

[2020-01-09 14:24] Tamoormughal commented on #1976
through js file of direct line we can handle RTL and LRT

On Sat, 5 Oct 2019, 6:55 p.m. Guy Ambar, <notifications@github.com> wrote:

[2020-01-09 14:33] didaskein commented on #2769
Sorry, now it's fixed in the page and i send you an email. sorry :)

[2020-01-09 18:53] corinagum commented on #2800
Closing this as answered. Feel free to continue discussion. :)

[2020-01-09 18:53] #2800 closed

[2020-01-09 18:55] corinagum commented on #2804
Hi @manishams10, thanks for the information. We'll get a repro going on our side and get back to you.

[2020-01-09 19:04] corinagum commented on #2560
I'm reassigning this to @compulim. I believe the fix is going to be in his package: https://github.com/compulim/web-speech-cognitive-services

[2020-01-09 19:16] srinaath commented on #2772
@arman-g We intend to fix this in our next release. Please follow https://github.com/microsoft/BotFramework-WebChat/issues/2145 for any updates on this feature.

[2020-01-09 19:35] tdurnford commented on #2772
After looking into this further, this issue is actually unrelated to #2145.

Our default [Adaptive Card HostConfig](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/bundle/src/adaptiveCards/Styles/adaptiveCardHostConfig.js) is missing [Container Styles](https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/host-config#containerstylesconfig). Adding the `containerSty

[2020-01-09 19:46] waltec888 opened #2805 "Additional Messages Received Upon Reopen of Chat Window Using 15.d.backchannel-send-welcome-event"
I am testing a webchat client that sends a backchannel event to our bot using the method proposed in this sample, [15.d.backchannel-send-welcome-event](https://github.com/microsoft/BotFramework-WebChat/tree/3aba60483eea016816b2423a0dfcf529120324a2/samples/15.d.backchannel-send-welcome-event).

I am having some difficulty with one scenario, which results in a 'webchat/join' event being sent to the

[2020-01-09 21:17] CoHealer commented on #2646
Adding @dmvtech to assist. @corinagum, how can we help?

[2020-01-09 22:42] cwhitten commented on #2765
Closing as unable to reproduce

[2020-01-09 22:42] #2765 closed

[2020-01-09 22:45] cwhitten commented on #2697
@arman-g we can't reproduce this behavior. Is it possible the video is loading very slowly in your environment?

[2020-01-09 22:57] cwhitten commented on #2668
note to fixer: if for some reason getUserMedia fails we should not show the microphone button in the control

[2020-01-09 23:01] cwhitten commented on #2494
Closing as no work to be done

[2020-01-09 23:01] #2494 closed

[2020-01-09 23:08] cwhitten commented on #2595
@leolorenzoluis if the warning is saying that the timestamp field on the activity is undefined when it should not be, are you sure the timestamp is not missing?

[2020-01-09 23:23] cwhitten opened #2806 "Show onBehalfOf example for OBO Token/SSO"
Provide sample code/documentation for the scenario when an OAuthCard comes in from the bot: a hook notifying and allowing the hosting application to capture this event and associated token to make a external service call and provide the resulting credential in to the control for SSO.

[2020-01-10 01:52] stevkan commented on #2769
@didaskein, I was able to repro the issue and determined that the issue is around the `document.querySelector()` and `selector.lastChild.scrollIntoView()` functions.

Starting with `scrollIntoView()`, the `block` value should be set from "start" to "end" (bot.cshtml, line #432). When set to "start", we are effectively telling the page to go to the last child of the list (correct) but then scroll u

[2020-01-10 02:03] tdurnford commented on #894
Closing as this is resolved in the latest version of Web Chat - v4.7.1.

[code]

[2020-01-10 02:03] #894 closed

[2020-01-10 13:04] deepanigi opened #2808 "Bot does not proceed further after typing activity randomly?"
## Code

[code]

### Welcome dialog

[code]

### INTRO DIALOG2 DIAOG

[code]

## Version

- Using Direct line Nodejs
- 4.7.0

## Expected behavior

Scenario
I am calling a welcome dialog in the bot in intro based on a web event if (context.activity.name === 'webchat/join') and I am displaying suggestive options in that dialog.
when the user clicks on any of the suggestive buttons. I am replacing t

[2020-01-10 17:41] arman-g commented on #2697
Hi @cwhitten, I don't think it is related to the video loading. The problem can only be reproduced on iPhone and safari on IOS.

- On iPhone, when the play button is tapped we get the screen that I provided in the below image. Video will start only if I tap on full screen icon or tap on pause and play again.

- On Safair on IOS, when play button is clicked we get similar screen like the image prov

[2020-01-10 18:15] v-kydela commented on #2808
@deepanigi - The parentheses in your code didn't match up so I fixed that for you but I'm not sure the code you provided is accurate. It will be very difficult to diagnose your issue without seeing the actual code you're running that is causing the faulty behavior. Screenshots will help too.

That being said, I can see some problems with your code. `sendActivity` returns a resource response, and y

[2020-01-10 19:58] waltec888 commented on #2805
I am not sure if there is a recommended approach for how to ensure a webchat/join event is only sent once; however, I did find a way to modify our code to ensure the action is only dispatched for the initial opening of the chat overlay.

If this differs from the recommended way, or there is a better way to achieve this functionality, please let me know!

`const store = window.WebChat.createStore(

[2020-01-10 20:46] compulim opened #2811 "Update README.md for minimizable sample"
## Version

`master` (this is related to sample, unrelated to production code)

## Describe the bug

We updated the code for minimizable sample, but the README.md is not in sync.

## Steps to reproduce

Look at `README.md` at https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.recomposing-ui/a.minimizable-web-chat, and compare with `index.html`.

## Expected behavior

The `REA

[2020-01-10 22:02] stevkan commented on #2800
@marcasmar94, your original ask was for the ability to send a voice note (something similar to WhatsApp, for example). However, Web Chat isn't designed with that feature in mind. When the microphone is pressed in Web Chat, it is recording your dialog which it then forwards immediately to the bot as an activity. The dialog, as part of this process, is converted from STT.

Now, it may be that you ca

[2020-01-10 22:13] stevkan commented on #2803
Apologies, I think I misunderstood your question, to start. This is looking like it is related to the styling of Web Chat on the page. Can you add/replace the following CSS on your page and see how it affects the rendering?

[code]

[2020-01-10 22:48] tdurnford commented on #2805
@waltec888

There are currently two ways to trigger a welcome message in Web Chat. The first option is to dispatch a welcome event when DirectLineJs connects to the bot. As  you noticed, this triggers the welcome message every time Web Chat renders. https://github.com/microsoft/BotFramework-WebChat/issues/2750 is currently discussing changing this behavior.

The second option is to generate a Dire

[2020-01-10 22:48] #2805 closed

[2020-01-10 23:33] #2772 closed

[2020-01-10 23:33] #2145 closed

[2020-01-11 00:03] stevkan commented on #2802
@wehnicde, I'm a little confused on whether you are trying to get this to work in Chrome, IE, or both. If you are having issues with Chrome, I'm certain we can get it working. Your implementation is slightly different but really should work. And, if not, we can play with the code.

As for IE 11, as stated [here](https://github.com/microsoft/BotFramework-WebChat/blob/master/SPEECH.md#requirements),

[2020-01-13 05:48] wehnicde commented on #2802
Sorry for the confusing. I want to have the webchat working on all browsers, but I know that speech isn't possible with IE11. Writing with the bot should work on every browser, speech only with Chrome/Firefox. Thats why I need to implement the es5 file (Am I right about that?)

What do you mean by "Your implementation is slightly different but really should work"? How is my implementation differen

[2020-01-13 12:50] Jhiertz commented on #1427
+1

[2020-01-13 16:12] gtejeda commented on #2745
+1 on the need for flow layout (or a workaround please)

[2020-01-13 17:28] corinagum commented on #2646
Sorry for the late reply. Thanks @CoHealer and @dmvtech We've had SharePoint problems filed in the past that dmvtech helped customers work through. Do you think you could do similar for this one? SP is not one of our test scenarios unfortunately.

[2020-01-13 18:00] dmvtech commented on #2646
@manjunathangv You mentioned modern page, but how exactly are you implementing? Is this being done in a SPFx (web part, extension)? or in a custom page? or something else?

[2020-01-13 18:04] corinagum commented on #2697
Hi @arman-g, I'm not reproducing your scenario unfortunately. When I press the play button, the video goes into fullscreen mode but immediately starts playing. This is on both Safari and Chrome. My understanding is that your video doesn't play unless you tap twice, is that correct?

![ezgif-5-2b7b0a9585fa](https://user-images.githubusercontent.com/14900841/72279894-fad3e980-35eb-11ea-98b4-ba3382f6

[2020-01-13 18:14] tdurnford commented on #2697
@corinagum The [Mock Bot Video](https://github.com/compulim/BotFramework-MockBot/blob/ae401cbc791e344221360ae92e8aa5e5dba4e3f7/src/commands/Video.ts#L38) command is a video card. This issue is related to videos in Adaptive Cards. I'm working on trying to repro the issue outside the scope of Web Chat to see if it's an issue with Adaptive Cards.

[2020-01-13 18:48] v-kydela commented on #2808
@deepanigi - Are you still working on this?

[2020-01-13 19:12] tdurnford commented on #2697
@arman-g This appears to be an issue with Adaptive Cards - not Web Chat. I've opened an issue in the Adaptive Cards Repo and you can track the progress of the issue [here](https://github.com/microsoft/AdaptiveCards/issues/3723). Thanks for reporting the issue!

[2020-01-13 19:12] #2697 closed

[2020-01-13 20:59] compulim opened #2812 "Missing padding between bot avatar and bot bubble"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/72291461-42ff0600-3604-11ea-8790-85607f20d1d0.png)

## Version

[code]

## Describe the bug

Showing avatar for bot side only, the padding between the bot avatar and bot bubble is missing.

## Steps to reproduce

1. Host Web Chat using `packages/embed` and add `&v=4.7`

## Expected behavior

There should be padding between

[2020-01-14 00:19] corinagum commented on #2783
4.7.1 has been redeployed to CDN and I confirmed this sample as working again.

[2020-01-14 00:19] #2783 closed

[2020-01-14 00:20] corinagum commented on #2782
4.7.1 has been redeployed to CDN and I confirmed this sample as working again.

[2020-01-14 00:20] #2782 closed

[2020-01-14 00:35] corinagum commented on #2781
4.7.1 has been redeployed to CDN and I confirmed these samples as working again.

[2020-01-14 00:35] #2781 closed

[2020-01-14 00:37] tdurnford commented on #2779
The CDN has been updated to v4.7.1. Bubble Nubs should be working fine with the latest CDN.

[2020-01-14 00:37] #2779 closed

[2020-01-14 00:44] #2760 closed

[2020-01-14 05:41] YeisonsUarez commented on #882
In case someone is still looking for
https://stackoverflow.com/questions/56474336/how-to-fix-issue-of-html-page-for-web-chat-bot-developed-in-c-sharp-using- sdk-v4

[2020-01-14 06:20] manjunathangv commented on #2646
@dmvtech , yes we build a spfx package but its not purely done in react we used webchat-es5.js .

Atleast, i should see window.Webchat, window.renderWebChat in IE browser console but Chrome i can see.

[2020-01-14 08:17] HesselWellema commented on #2779
And it does. Thank you

[2020-01-14 08:20] HesselWellema commented on #2745
Adding a 'flow' layout in stead of carousel will also allow for styling on :hover of a suggested action resulting in a more pleasant user experience.

[2020-01-14 09:48] FabienFrancini commented on #2769
@stevkan , Hello Steven.
We have added this code to fix a scrolling issue of the bot. we have noticed a scroll issue on mobile phone, sometime the bot is not scrolling at the Bottom of the conversation after receiving a new activity. (speciflcly when the user reply to an hero card or adaptive card)
Is it still the case with the latest version of the bot? Maybe this code is not necessary anymore.
C

[2020-01-14 15:27] waltec888 commented on #2805
It looks like this behavior has been fixed last night. I see it listed in the [changelog](https://github.com/microsoft/BotFramework-WebChat/blob/master/CHANGELOG.md) (2nd bullet under Fixed), but I do not see that there has been a [release](https://github.com/microsoft/BotFramework-WebChat/releases).

I am new to github, and want to make sure I'm looking in the right place. Is 4.7.1 still the late

[2020-01-14 16:39] tdurnford commented on #2805
@waltec888 We released v4.7.1 of Web Chat in mid-December, and our next major release - v4.8.0 - should be released some time around March.

It looks like the change you are referring to was made to the Minimizable Web Chat Sample. Our samples are updated on a regular basis, and you are always free to pull the latest changes from our GitHub Repo.

[2020-01-14 16:53] waltec888 commented on #2805
That makes sense. Thank you for clarifying!! :) There must have been a change on our side to how we are handling minimize that is now causing minimize/maximize to work properly.

[2020-01-14 18:50] deepanigi commented on #2808
Yes, I will send you email about the issue with more detailed screnshots

[2020-01-14 19:22] v-kydela commented on #2808
@deepanigi - I received your gif. It looks like your bot may be encountering an error, but it's impossible to diagnose your specific problem based only on the information you've given. Do you only encounter this issue when the bot is deployed, or do you encounter the problem locally as well? Are you using memory storage?

Why are you unable to use remote debugging? Have you tried ngrok? https://bl

[2020-01-14 19:42] navzam opened #2813 "Broken links/formatting in README sample list"
## Version

`master`

## Describe the bug

The samples lists in [README.md](https://github.com/microsoft/BotFramework-WebChat/blob/master/README.md#samples-list) and [samples/README.md](https://github.com/microsoft/BotFramework-WebChat/blob/master/samples/README.md#samples-list) have a few broken links and formatting issues:
- 02/b demo link is broken
- 02/c demo link is broken
- 04/h demo title i

[2020-01-14 20:44] stevkan commented on #2803
Closing this issue as resolved. If the issue persists or you have new information to provide, please feel free to re-open.

[2020-01-14 20:44] #2803 closed

[2020-01-14 21:08] #2813 closed

[2020-01-14 21:25] stevkan commented on #2769
@didaskein, which mobile OS and which browser (and version) are you seeing this on?

[2020-01-15 01:06] #2459 closed

[2020-01-15 01:10] corinagum commented on #2394
Closing as dupe of #2748

[2020-01-15 01:10] #2394 closed

[2020-01-15 05:08] markbschramm commented on #2802
I am getting the same problem in IE, Chrome, Edge Chrome.
webchat.js:2 WebSocket is already in CLOSING or CLOSED state.
I can provide a URL to a test page that shows the issue if you want.  Any chance to DM that?
I'm still using the token generation to make it work.  It did work but no longer does so some change was pushed on your end that broke it (we pushed no changes)

[2020-01-15 11:15] rvallireply commented on #2802
Adding my voice: getting same error in Chrome, a couple days ago Speech was working, now without changing anything in the code I'm getting webchat.js:2 WebSocket is already in CLOSING or CLOSED state.
Using westeurope region too.

I noticed this issue was just closed (10 hours ago): anything to do with it maybe? (regression?)
https://github.com/microsoft/BotFramework-WebChat/issues/2459

[2020-01-15 13:48] didaskein commented on #2769
@stevkan : we see it on a lot of different phone (Android Chrome, Edge & Iphone Safari)

[2020-01-15 14:33] Rykimaruh opened #2817 ""Send welcome event" sample is blocked by CORS policy when deployed in Azure as a web app"
Hello,

I am trying to test out the "Send welcome event" sample by deploying it on a web app in Azure and I get the following error:

This works fine when running locally on my computer...

Any ideas how to solve this issue?

I am aware I had this issue before, but I dropped it and now I'm picking it up again to see if I can finally finish solving something on my end with this "solution". It was i

[2020-01-15 16:12] #2748 closed

[2020-01-15 16:25] compulim commented on #2817
@Rykimaruh you will need to host a bot yourself.

Our MockBot (the bot behind all samples), will only hand out Direct Line tokens for our hosted samples. If you are hosting Web Chat on your site, you will need to host your own bot as well.

[2020-01-15 16:25] #2817 closed

[2020-01-15 16:34] Rykimaruh commented on #2817
is there a documentation to doing this?

[2020-01-15 16:51] p-nagpal opened #2818 "[Embed package] Pass userid to token generation logic"
## Version
4.7.1

## Describe the bug

The logic in Embed package should pass in userid (included in query parameters) to create conversation/token generation. Today the userid and username is passed as query parameter but not included in the token.

Could you help to enhance embed\src to include this?

[Bug]

[2020-01-15 16:58] stevkan commented on #2802
@wehnicde, yes, the es5 version will work in all web browsers the same. Outside of the file package size if that is a concern, you should be just fine.

Never mind my comment about implementation. You're is just fine and acceptable. I thought I saw you doing something slightly different, but I was mistaken.

I did go ahead and create a new CS Speech service a second time (and a new bot for a clean

[2020-01-15 17:04] corinagum commented on #2802
Thanks @stevkan for the repro. Adding @compulim to the thread.

[2020-01-15 17:46] tdurnford commented on #2818
@p-nagpal You can currently generate a DirectLine token that includes a user id and a username and pass that to the iFrame as a url parameter. Take a look at the [Generating a DirectLine Token](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0#generate-token) and [Embedded Web Chat](https://github.com/microsoft/

[2020-01-15 18:07] #1673 closed

[2020-01-15 18:16] corinagum opened #2819 "IC3"

[2020-01-15 18:27] tdurnford commented on #2812
@compulim Can you add the image url you are using? I can't get this repro in v4.6.0 or v4.7.1.

![image](https://user-images.githubusercontent.com/17039790/72460428-a19dbe80-3781-11ea-8217-f81ea315b4a0.png)

[2020-01-15 20:28] CoHealer commented on #2802
Reassigning @stevkan for azure reporting only

[2020-01-15 20:43] tdurnford commented on #2818
Unintentionally closed. Opened by Microsoft internal.

[2020-01-15 22:15] iwasn opened #2820 "Pass in a prop to override screen reader text for chat messages i.e. "Bot Says..." -> "{name} Says...""
## Feature Request

### Use the ['Enhancement' query](https://github.com/microsoft/botframework-Webchat/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Aenhancement) to search for the most popular feature requests.

### The [Sample tag](https://github.com/microsoft/botframework-Webchat/issues?q=is%3Aissue+is%3Aopen+label%3ASample) also lists examples and implementations that have already been

[2020-01-15 23:27] compulim commented on #2802
This bug is very similar to https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/127.

West Europe services is returning "Specified grammar type is not supported!" when we pass LUIS reference grammar ID.

![image](https://user-images.githubusercontent.com/1622400/72480081-1fc28b00-37ab-11ea-983d-703fac97d689.png)

![image](https://user-images.githubusercontent.com/1622400/72480043

[2020-01-15 23:49] iwasn opened #2821 "[Accessibility] Make boundaries of Chat visible on High Contrast mode"
## Screenshots

![image](https://user-images.githubusercontent.com/54422491/72480966-d7f13300-37ad-11ea-979a-decca4996cbd.png)

## Version

4.5.2

## Describe the bug

Boundaries of Chat should be visible in high contrast mode so that the use of this accessibility component is not disrupted.

## Steps to reproduce

Render WebChat and view the page on High contrast mode on a Windows machine

## Exp

[2020-01-16 00:02] compulim opened #2822 "Speech should accept authorizationToken in string format"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/72481619-f5270100-37af-11ea-965f-48811b741989.png)

## Version

`master`

## Describe the bug

When creating a ponyfill with `authorizationToken` and `region` as a string, it is throwing an error saying, "web-speech-cognitive-services: Authorization token must be a string."

This is because the `createCognitiveServicesSpeec

[2020-01-16 01:55] corinagum commented on #2820
This can be done by creating a custom component. This isn't merged in yet, but feel free to take a look at the follow PR sample that will help you get started in creating a component through middleware to update your accessibiliy: https://github.com/microsoft/BotFramework-WebChat/pull/2788/files#diff-9fd0520ac53a2319209abb7777886b90

Since it's not published yet, feel free to take a look at our ot

[2020-01-16 02:09] corinagum commented on #2821
Web Chat does not have control over the border of it's container. If you need to have high contrast borders, you will have to modify your app's Web Chat container styles.

I believe as a browser app, Web Chat is not responsible for ensuring High Contrast. Styling Web Chat to have a High Constrast mode would be the responsibility of the package users. To others experiencing this scenario, please no

[2020-01-16 02:10] #2821 closed

[2020-01-16 06:13] wehnicde commented on #2802
@compulim I am not using LUIS for my bot. Or does Cognitve Speech use LUIS by itself?

[2020-01-16 11:04] compulim commented on #2802
Although you may not using LUIS in your bot, Direct Line channel do provides a LUIS ID and requires Web Chat to pass it to Cognitive Services. The ID is called "LUIS reference grammar ID".

Even in your case, you are not using LUIS, Direct Line channel still send us the LUIS ID, so we still pass it to Cognitive Services. And I believe Cognitive Services has some issues handling LUIS ID in West Eur

[2020-01-16 12:03] wehnicde commented on #2802
Oh okay. Thanks for the clarification. And thanks for the investigation.

[2020-01-16 19:35] kagJacky opened #2823 "v3 is not building because of incompatible @types/node/repl.d.ts with TypeScript 2.7"
We are using
"name": "botframework-webchat",
"version": "0.11.4",

It used to build successfully. After the holiday, there is a bug occur when we run "npm i" under this folder:  src\websites\BotFramework\BotFramework-WebChat>

The error is:

node_modules/@types/node/repl.d.ts(356,36): error TS1005: '=' expected.
node_modules/@types/node/repl.d.ts(362,36): error TS1005: '=' expected.
node_modules/@

[2020-01-16 20:23] v-kydela commented on #2808
@deepanigi - Do you still need help?

[2020-01-16 20:50] iwasn commented on #2820
@corinagum Is there a types support for writing the middleware in typescript? Also, looking at the sample code, do you have any suggestions to enable focus on the chat within a React component, and not in a dom call after using ReactDOM.render?

[2020-01-16 23:07] stevkan commented on #2802
@compulim, created a ticket earlier today in Cognitive Services Speech Uservoice account, [here](https://cognitive.uservoice.com/forums/912208-speech-service/suggestions/39452500-luis-reference-grammar-id-fails-west-europe-when-i).

[2020-01-17 04:05] markbschramm commented on #2802
@stevkan The error seems different today.  Not sure if you changed anything, I did not: (It's similar)
3SCRIPT12002: SCRIPT12002: WebSocket Error: Network Error 12002, The operation timed out

[2020-01-17 04:39] compulim commented on #2802
Web Chat only own the client-side. I believe the service team is working on a fix.

[2020-01-17 10:10] phenaxkian commented on #2802
I'm receiving a similar issue but my Speech is set to the UK South region. Would that also be affected by this?

[2020-01-17 13:30] alokraj68 commented on #2672
I Am getting this same in chrome in en-us. Any fix for this?

[2020-01-17 13:36] alokraj68 commented on #2802
Hi, I am getting this same WebSocket issue in locale:en-US and speech region: eastus

Is there any fix for this? We are not able to use speech service because of this.

[2020-01-17 18:21] compulim opened #2826 "ESLint doesn't report error on CI pipeline"
## Version

`master`

## Describe the bug

ESLint running on Azure DevOps does not catch any code problems.

## Steps to reproduce

1. Submit a PR with code problems that would trigger ESLint
1. Monitor the Azure DevOps pipeline

## Expected behavior

The CI pipeline should fail.

## Additional context

[Bug]

[2020-01-17 18:24] #2822 closed

[2020-01-17 19:32] kagJacky opened #2827 "MessageReceivedAsync will not get called sometimes"
## Screenshots

## Version

## Describe the bug

## Steps to reproduce

We follow the examples here:
https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-dialogs?view=azure-bot-service-3.0

public async Task StartAsync(IDialogContext context)
    {
        context.Wait(MessageReceivedAsync);
    }

    public virtual async Task MessageReceivedAsync(IDialogContext context, I

[2020-01-17 19:58] compulim commented on #2823
We need to add @types/node@11.13.0 to package.json.

[2020-01-17 22:23] kagJacky commented on #2823
Thanks compulim!

[2020-01-17 22:23] #2823 closed

[2020-01-17 23:12] #2753 closed

[2020-01-17 23:24] gtejeda commented on #2769
Greetings,
I too have a similar issue with the rendering on iOS and IE/Edge
[https://fast2aibotweb.azurewebsites.net/Home/Webbot](https://fast2aibotweb.azurewebsites.net/Home/Webbot)

I tried @stevkan' suggestion above to no avail (or I'm doing it wrong).
any help would be greatly appreciated.

Thanks,
Geo

[2020-01-18 00:22] compulim opened #2828 "Sample "04.api/h.clear-after-idle" is causing build break"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/72654659-4c120f00-3945-11ea-9d48-93884d867124.png)

## Version

`master`

## Describe the bug

1. The `initConversation` and `useTimer` to depending on each other, which will cause build to fail
1. `setTimeRemaining` need to be added to deps list of `initConversation`

## Steps to reproduce

1. Clone the repository
1. Under

[2020-01-18 01:47] iwasn commented on #2820
Hi @corinagum I have been looking at the source code, and it seems that any additional dom elements that we will render in a custom middleware would wrap a component returned by the CoreActivityMiddleware file.

The CoreActivityMiddleware file would render the StackedLayout component where the Aria Label 'bot says {message}' is being controlled. https://github.com/microsoft/BotFramework-WebChat/bl

[2020-01-18 12:50] Tamoormughal opened #2829 "hi is it possible personality chat add and run off line in bot framework V4 in C# through text file??"

[2020-01-19 04:14] corinagum commented on #2769
@gtejeda This is a styling issue from the hosting page. I wrote down some notes below. I think the code stevkan provided above is not related to your particular problem, so I recommend removing that code. :)

- The 'main' container in Web Chat (Send Box) is causing a problem. It looks like you are inserting the menu button into the Connectivity Status container, and this is stretching to take up m

[2020-01-20 05:31] sw353552 commented on #1427
@avilde Can u please show a sample of how u checked if the activity.id is the last message received?

In my case, I will have to only enable the last adaptive card received and disable all the others so that the user can't click on a previously rendered adaptive card and disturb the flow.

Thanks in advance.

[2020-01-20 05:49] corinagum commented on #2812
@tdurnford did you try this on embed?

[2020-01-20 05:52] corinagum opened #2833 "Specify dockerfiles into /dockerfile/ folder"
## Feature Request

https://docs.docker.com/engine/reference/commandline/build/#specify-a-dockerfile--f

Move dockerfiles to a subdirectory to clean up root folder a bit.

[2020-01-20 11:48] Antti-Leskinen opened #2834 "Adaptive card rendering issue in the newest version, when customization is applied."
## Screenshots
Old version:
![image](https://user-images.githubusercontent.com/59018989/72723096-8c150400-3b88-11ea-8ffc-217e7dc6f4a2.png)

New version:
![image](https://user-images.githubusercontent.com/59018989/72723138-a51db500-3b88-11ea-8453-0579c5cb9558.png)

## Version

All the versions are NPM packages. Using React:
Old version:
Botframework-webchat 4.4.2. Where the adaptive cards package i

[2020-01-20 12:16] didaskein commented on #2769
Onmobile we also detect a regression on the keyboard management in the lastest version of the Webchat.
With 4.7.1 & 4.7.0 the keyboard keeps opening up after each question.
With 4.6 we need to set the focus on the textbox in order to show up the keyboard. It's was better in order to maximize the size of the screen for the conversartion rendering.

Thank in advance,

[2020-01-20 16:15] tdurnford commented on #2812
@corinagum I don’t believe you can set style options for embedded.

[2020-01-20 16:50] gtejeda commented on #2769
Thanks for your answer @corinagum,

I did follow the samples provided as best as possible to come up with this one.
**Where do you see I'm not following the samples?**

I am not modifying the container or anything related to the webchat via javascript.

the only thing I customized, which can be seen in the previous link i sent here, is that I changed the width of the suggested actions in the javas

[2020-01-20 17:52] rvallireply commented on #2802
Any news about the "WebSocket is already in CLOSING or CLOSED state." issue? I tried with northeurope and it seems to fail too.
By the way, I am now confused about the right javascript code to use when connecting to cognitive speech. I saw a warning "We are deprecating authorizationToken, region, and subscriptionKey. Please use credentials instead." Could someone provide an up-to-date sample about

[2020-01-20 18:12] Virtual-Josh commented on #2829
Hi @Tamoormughal,

I'm happy to help, but I don't understand your question. Can you provide more information/context so I can better understand your question?

[2020-01-20 18:27] Tamoormughal commented on #2829
I want to run personality chat off line instead off service call ...

On Mon, 20 Jan 2020, 11:12 p.m. Josh, <notifications@github.com> wrote:

[2020-01-20 18:44] Virtual-Josh commented on #2829
What do you mean personality chat? If you're using our documentation can you link me to it?

[2020-01-20 19:06] Tamoormughal commented on #2829
https://www.microsoft.com/en-us/research/project/personality-chat/

On Mon, 20 Jan 2020, 11:44 p.m. Josh, <notifications@github.com> wrote:

[2020-01-21 10:19] prashanthsridhar opened #2835 "Need a way to stop webchat."
## Feature Request

**Is your feature request related to a problem? Please describe.**

`webchat.renderwebchat` is being called multiple times. The result is that when the bot talks back,we can hear multiple voices. This is because there are multiple instances running at the same time.

**Describe the suggestion or request in detail**
Need a `webchat.disconnect()` which de-allocates all resources

[2020-01-21 16:41] 01 opened #2836 "Dynamically Set Avatar on a Per Message Basis"
**Is your feature request related to a problem? Please describe.**

I am looking for a way to dynamically set the avatar for a message. Currently have implemented a multi user chat functionality but not able to determine course for dynamically setting avatar. Using react but seems current implementation is locked into "bot" and "not bot"

[2020-01-21 17:25] stevkan commented on #2835
Can you please provide the code for your Angular html page? Be sure to hide any sensitive data before doing so.

[2020-01-21 17:48] corinagum commented on #2833
On reflection, I think our root folder is fine.  Closing.

[2020-01-21 17:48] #2833 closed

[2020-01-21 17:50] tdurnford commented on #2836
@01 You are correct, Web Chat currently only supports setting the avatar for the user and the bot, and there currently isn't a way to set the avatar on a per message basis. However, you can use the activity middleware to customize how the activity is rendered and add your own avatar for each activity. I would recommend looking at the [Reaction Button](https://github.com/microsoft/BotFramework-WebC

[2020-01-21 18:04] tdurnford commented on #2812
@compulim Can you explain how to set the bot avatar through embedded? It's not included in the [embedded](https://github.com/microsoft/BotFramework-WebChat/tree/master/packages/embed) docs.

[2020-01-21 18:06] #2836 closed

[2020-01-21 18:35] compulim commented on #2560
This is still scheduled for R8. Please stay tuned.

[2020-01-21 18:40] corinagum opened #2837 "Question from @gtejeda"
This question was originally posted by @gtejeda in issue 2769. I'm opening a new conversation to avoid confusion between different convos.

- from @gtejeda

- My response:

- Geo:

Response below.

[Question]

[2020-01-21 18:49] corinagum commented on #2837
@gtejeda
- I recommend sticking to the original CDN `webchat.js` file. Your change to the js file will not propagate a difference in behavior. You created a new property, but it is not hooked up to make changes to the suggested actions code.
- If you need a width for the suggested actions, you will need to write a new component based off of the original suggested actions. At the moment the default

[2020-01-21 18:49] corinagum commented on #2769
@gtejeda please see #2837 and continue our conversation there.

[2020-01-21 19:38] v-kydela commented on #2808
Closing due to inactivity

[2020-01-21 19:38] #2808 closed

[2020-01-21 20:23] #2751 closed

[2020-01-21 20:35] corinagum commented on #2820
There's no types support at this time.

Please take a look at the [hooks documentation](https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/HOOKS.md) for focus, etc.
You can also take a look at our plain-ui sample on creating your own versions of components.

[2020-01-21 20:42] HesselWellema commented on #2427
Today I had another customer asking for a button only chatbot for starters (MVP purpose). After a good pilot they will upgrade to a ‘real’ chatbot. Any new thoughts on this feature request or a good work around is much appreciated.

[2020-01-21 21:42] stevkan commented on #2769
@didaskein, with regards to your keyboard regression issue, I am going to move that conversation offline as it is unrelated to the current issue being discussed. Please look for a response to the email you have sent me.

[2020-01-21 23:20] iwasn commented on #2820
@corinagum Re-implementing several layers of the bot framework is infeasible for our team, especially in order to solve a valid accessibility use case for our customers. From what I gather, the easier option for us to solve this problem would be to pass an optional aria label, add it to the a React Context from which we can use a hook to obtain the value in the component that renders the aria labe

[2020-01-22 01:54] compulim opened #2838 "Concat middleware failed to run next middleware twice"
## Version

`master`

## Describe the bug

When writing a new (attachment) middleware that render the same downstream middleware twice, it failed.

For example, the following code using `concatMiddleware.js` will fail to return the correct value (`210`). It "skipped" the `next(value + 1)`, thus, returned `12` instead.

[code]

## Steps to reproduce

1. Write a new attachment middleware that call `

[2020-01-22 02:08] gtejeda commented on #2837
@corinagum,
initially, I was having a scrolling issue on my page, which I solved by using this code as per this SO:
https://stackoverflow.com/questions/55614457/auto-scroll-not-working-on-microsoft-bot-framework-python-sdk-based

(I'll admit this was at the very beginning and before I started using 4.7.1)

as per the custom webchat js, I went this way because unfortunately I don't know react, and

[2020-01-22 05:07] corinagum commented on #2837
@gtejeda

Thanks for your email. :) I responded in a reply, and I'm very sorry for how long it is.

For the benefit of future users with similar questions, I will copy-paste summary I made about Direct Line and Direct Line Speech below.

- Direct Line Speech is one of the channels available to Bot Framework users.
- Direct Line is another channel, and is the original channel that Web Chat supports

[2020-01-22 06:29] rajathhs opened #2840 "Not able to customize webchat sendbox(Form field)."
Hi, I want to customize webchat send input field, by adding label tag above the input field and remove the placeholder and add send text instead of icon using react.

Currently, I have tweaked using javascript(Es6)

![Screen Shot 2020-01-22 at 11 58 08 AM](https://user-images.githubusercontent.com/60170422/72870596-9bbe5500-3d0e-11ea-96d6-b343338be191.png)

[2020-01-22 06:37] wehnicde commented on #2802
Closing this issue as it is working now. Thanks for the investigation.

[2020-01-22 06:37] #2802 closed

[2020-01-22 07:04] prashanthsridhar commented on #2835
The code is spread across multiple files. The gist of it is: there is a bot icon,when clicked a bot component is activated and onInit of that component.
RenderWebchat is inside onInit of that component.
[code]

when close bot icon is clicked,i need a way to disconnect from bot.

[2020-01-22 09:13] ppatalong opened #2841 "Reducing botframework 4.7 footprint"
Hi
I've rewritten our bot from 0.17 to 4.7.x, removed jquery & other stuff, just pure react. However, even in webpack production build (using terser plugin), our vendor bundle is ~3.7MB! This is twice the previous size.

Please see bundle analyzer image:
https://imgur.com/a/WVU6lfn
Is it possible to remove speech-sdk (if one is not using it), or any other way to reduce final size?

[2020-01-22 16:52] dmvtech commented on #2646
Thanks. I am looking into this further.

[2020-01-22 17:22] compulim commented on #2802
Thanks @wehnicde for reporting the problem.

[2020-01-22 17:51] didaskein commented on #2769
@stevkan i send you a new email as i have not received your reply.

[2020-01-22 17:57] stevkan commented on #2840
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [BotFramework-WebChat](https://github.com/microsoft/BotFramework-WebChat/) Github repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

I'm going to close this issue, however I will monit

[2020-01-22 17:57] #2840 closed

[2020-01-22 18:04] iwasn commented on #2820
From the documentation of `activityMiddleware`:

A chain of middleware, modeled after Redux middleware, that allows the developer to add new DOM components on the currently existing DOM of Activities. The middleware signature is the following: `options => next => card => children => next(card)(children).`

This lets us only build on top of existing DOM components rendered by the `StackedLayout` co

[2020-01-22 18:28] dmvtech commented on #2646
@manjunathangv If you have a sanitized repo of your SPFx code/reproduction that I could use, that might make things go a little faster/easier for me.

[2020-01-22 18:31] corinagum commented on #2837
Offline, gtejeda and I were able to debug the problem as being the lack of `<!DOCTYPE html>` :) Adding this resolves so that Edge will render correctly. Closing as resolved.

[2020-01-22 18:31] #2837 closed

[2020-01-22 18:34] asvishnyakov opened #2842 "Builds for botframework-directlinespeech-sdk is missed in MyGet since 18 Dec 2019"
## Screenshots

![72922682-4c5c4100-3d6f-11ea-9c4e-47dda151f389](https://user-images.githubusercontent.com/6369252/72996607-d44c5480-3e1c-11ea-85a3-6e7340337a10.png)

## Version

4.7.2-master-99906-f834af1

## Describe the bug

It seems like myget builds for botframework-directlinespeech-sdk is missed since 18 Dec 2019.

[code]

Last version of botframework-directlinespeech-sdk is `4.7.2-master-96

[2020-01-22 18:39] corinagum commented on #2841
Are you using the CDN or npm package? If CDN, you can consider using the minimal bundle to reduce package size. Take a look at our `01.getting-started/` minimal bundle sample.

As for npm, in the past we have seen users build their own Web Chat bundle in order to pick and choose the features they need, and remove the features they don't in order to reduce file size. You can start by taking a look

[2020-01-22 19:05] corinagum commented on #2820
I'm reopening this issue for further discussion within the team. We'll get back to you shortly. :)

[2020-01-22 22:48] corinagum opened #2845 "Remove `sendTyping` deprecation code (see Composer)"
this code was deprecated January 13, 2020. We can remove it for R8

[2020-01-22 22:54] murcinar commented on #2675
Today I have upgraded the Bot Framework to version 4.7.1 and when I deployed the changes and ran the Accessibility Insights tests again, I saw the same errors coming up again:

TestContext Messages:
Issue description: Ensures buttons have discernible text found in the following code:
 Issue description: Ensures <img> elements have alternate text or a role of none or presentation found in the follo

[2020-01-22 23:23] corinagum commented on #2675
Is <TestContext> a component you have created? Can you share that code?

[2020-01-22 23:38] iwasn commented on #2820
Hi @corinagum I wrote a pr that demonstrates how we would overwrite the aria-labels in the `StackedLayout` component. Please keep us updated on how the team decides to move forward with this issue. Thank you!

https://github.com/microsoft/BotFramework-WebChat/pull/2846

[2020-01-22 23:49] murcinar commented on #2675
Sure, it is pretty much as following:
private PromptOptions promptOption;
promptOption.Prompt.SuggestedActions.Actions.Add(ThumbsUpAction.Create(Images.ThumbsUpIconPath));
//similarly for thumbs down and etc..

ThumbsUpAction.Create returns the following:
return new CardAction(type: ActionTypes.PostBack,
                                  title: " ",
                                  value: CommonA

[2020-01-23 00:09] corinagum commented on #2675
Hmm, I see what you mean about the image not having alt text. Normally, the title (button text) functions as the label, but your button doesn't have a title.

However, I don't see the accessible solution implemented by Web Chat working for your case. The role should be set to none for the image, since it is supplemental to the title of the button. However, since your promptOption has no title, the

[2020-01-23 00:56] compulim commented on #2568
@alokraj68 are you trying to stop all speech synthesis?

If yes, this sample will help, https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.speech/d.cognitive-speech-services-speech-recognition-only.

This sample build a partial adapter that enable speech recognition but disable speech synthesis, which will aid in your case if you are stopping all speech synthesis.

[2020-01-23 02:06] #2838 closed

[2020-01-23 07:05] rajathhs commented on #2840
StackOverflow link https://stackoverflow.com/questions/59873091/not-able-to-customize-webchat-sendboxform-field

[2020-01-23 13:57] mrmokilok opened #2847 "Language override doesn't work"
Setting language property on renderWebChat doesn't override browser selection anymore. This creates a problem, especially as the cognitive speech uses the same language.

[2020-01-23 14:03] mrmokilok opened #2848 "Connection statuse, 4 not triggered with directline connection"
Have subscribed connection status changes (.connectionStatus$.subscribe) with vanilla js. Other statuses get called, but statuse 4 (Failed to connect) doesn't get triggered, when directline connection fails.

## Version
Latest

[2020-01-23 17:03] tdurnford commented on #2847
Are passing the language to Web Chat through the `local` prop? Take a look at the [Change Local](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.branding-styling-and-customization/g.change-locale) Sample for more details.

[code]

[2020-01-23 17:24] didaskein opened #2850 "The keyboard opens automatically after clicking on a suggestion action button on Webchat with version 4.7.1 or 4.7.0 or latest"
Issue with webchat version : 4.7.1 or 4.7.0 or latest
On Mobile Anroid (Samsung S9), or Iphone (8)

Sample of the issue (the keyboard open automatically after clicking on a suggestion action button)
Before clicking on the suggest action button "Oui"
![image](https://user-images.githubusercontent.com/13362276/73007684-3ef59400-3e0d-11ea-8ea6-95c6916b4645.png)

After clicking on the suggest action b

[2020-01-23 19:14] Virtual-Josh commented on #2835
@stevkan can you provide an update on this ticket? Thanks.

[2020-01-23 19:15] Virtual-Josh commented on #2834
@stevkan can you provide an update on this ticket? Thanks.

[2020-01-23 19:24] Virtual-Josh commented on #2829
@Tamoormughal

We don't support any offline scenarios for bots so this isn't something we can support.

[2020-01-23 19:24] #2829 closed

[2020-01-23 22:00] corinagum commented on #2847
You may also need to specify locale to Cognitive Services. Please take a look at our speech documentation: https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/SPEECH.md

[2020-01-23 22:10] asvishnyakov commented on #2100
Any progress on this guys? I have a project with react-based webchat which use typescript and I can't use the power of it. For example, I can't normally work with redux, just because you don't declare or export any types and most consts like INCOMING_ACTIVITY. It will be very useful if you will provide typings for project or rewrite it with typescript. I was very confused when found Microsoft proj

[2020-01-24 01:10] corinagum opened #2852 "timestampClassName is marked as required in SendStatus"
## Screenshots

![image](https://user-images.githubusercontent.com/14900841/73037148-c984c600-3e02-11ea-8fc7-1553e44ca55c.png)

## Version

latest bits

## Describe the bug
`timestampClassName` is listed as a required prop in `SendStatus`.

## Steps to reproduce

1. Open Mock Bot
1. type `carousel`
1. See failed prop type error in console

## Expected behavior

[Bug]

[2020-01-24 06:18] mrmokilok commented on #2847
Changing prop to "locale" from "language" worked. Btw, if the prop in vanilla js initialisation has been changed the instructions should be changed:
![image](https://user-images.githubusercontent.com/60223790/73047354-240f3800-3e7e-11ea-8316-c79f148e2994.png) (and probably the old prop should have a deprecation period)

@corinagum , the speech documentation says that the display language for  shou

[2020-01-24 06:18] #2847 closed

[2020-01-24 12:20] ppatalong commented on #2841
Thanks for answer, this will definitely help.

[2020-01-24 12:20] #2841 closed

[2020-01-24 16:17] rvallireply opened #2853 "Debug site shows microphone, site deployed to Azure does not"
## Version
Cdn latest (4.7.1)

## Describe the bug

Launching a Virtual Assistant template webchat in debug from Visual Studio shows the cognitive speech services microphone and works.

Deploying the page to Azure and opening it does not show the microphone and in console we have a warning:

[code]

## Steps to reproduce

launch page with webchat and cognitive speech services enabled from Visual S

[2020-01-24 17:57] tdurnford commented on #2850
@didaskein It looks like this behavior is intended. The suggested action `onClick` handler calls `focusSendBox` which should trigger the keyboard to appear. However, I do agree that this creates a clunky user experience for mobile devices. @compulim @corinagum We should consider changing this behavior for mobile or only focus on the send box if it had focus prior to the user clicking the suggested

[2020-01-24 17:58] corinagum commented on #2850
There are at least 2 issues related to this topic in previous issues. Can we try and pull those up?

[2020-01-24 18:09] corinagum commented on #2847
`language` is actually an error in the docs, so I will definitely get that updated. Thanks for pointing it out.

[2020-01-24 18:13] cwhitten commented on #2842
hello @asvishnyakov and thank you for the issue. The team is looking at this right now and we will report back with an update when we have it.

[2020-01-24 19:05] stevkan commented on #2769
@didaskein, I appreciate the call we had the other day. If I remember correctly from our discussion, it appears this particular issue has been resolved (i.e. auto-scrolling). I'm going to go ahead and close this. Please feel free to reopen if the issue returns.

[2020-01-24 19:05] #2769 closed

[2020-01-24 22:07] murcinar commented on #2675
Thanks for your help! By when do you think we can expect to have a fix for this?

[2020-01-24 22:12] iwasn commented on #2820
Hi @corinagum any updates?

[2020-01-24 22:57] corinagum commented on #2820
@iwasn For changing 'Bot said X" and 'User said X', are the phrases that you want to replace them with static? The team right now is leaning towards being able to set these phrases inside the `styleOptions` in the Web Chat factory. Would this work for you and your team?

[2020-01-24 23:04] iwasn commented on #2820
@corinagum We want to replace 'Bot' in 'Bot said...' and 'Bot sent' aria labels, with something static yes. That said, we would still like the announcement of the chat message/attachment after 'Bot says...' to be kept the same.

[2020-01-24 23:30] corinagum commented on #2820
Great, thanks for the clarification. This is definitely doable in `styleOptions`. I believe we will be able to add this to our R8 milestone, which is set to release in March :)

For now, I'm thinking that the *entire* phrase will be replaced, so that if your `styleOptions` has the prop (e.g. `a11yBotSaid`), the setting you would have to be is
`a11yBotSaid = 'Alice says '`  (not sure about the spac

[2020-01-24 23:35] iwasn commented on #2820
@corinagum Just to make sure, by entire phrase, you mean aria label before the chat message? If so that should work for us.

[2020-01-25 00:00] corinagum commented on #2820
Yep, entire phrase. :) great!

[2020-01-27 06:34] stevkan commented on #2834
I was able to repro the issue using an "on click" event listener. The issue appeared when Adaptive Card, version 1.2.0 or greater, was used whereas version 1.1.3 did not produce the issue. I tested Web Chat version 4.4.2 and 4.7.1.

I decided to test the issue by visiting the Adaptive Cards [Designer](https://adaptivecards.io/designer/). I selected "Preview Mode", opened the developer's console, c

[2020-01-27 06:34] #2834 closed

[2020-01-27 10:03] scch1002 commented on #2840
Hi @stevkan, This is not a how to question. This is a feature request. The ask here is for a more customisable interface. The hope here is to have the ability to customize parts of the interface similar to that of middleware, activities and attachments. Similar to what is presented in this page https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-webchat-customization?view=azure-bot-serv

[2020-01-27 10:12] stevkan commented on #2835
Hi @prashanthsridhar,

First, you will want to fix a single closing quote that is missing in the following line: `selectVoice: () => ({ voiceURI: 'sample })`.

Regarding the various parameters / variables (speechToTextPonyfillFactory, SpeechGrammarList, etc.) you include in `webSpeechPonyfillFactory`, are you able to post the definitions you are using for these? In order to repro the issue, I'd li

[2020-01-27 18:33] tdurnford commented on #2840
@rajathhs This issue seems to be a duplicate of https://github.com/microsoft/BotFramework-WebChat/issues/1833 which is currently being tracked along with several other `SendBox` DCRs by https://github.com/microsoft/BotFramework-WebChat/issues/1839.

[2020-01-27 18:40] anusharavindrar commented on #2853
@rvallireply looks like the issue is similar to [this](https://github.com/MicrosoftDocs/bot-docs/issues/1385) one already reported. Can you attach the documentation/tutorial(detailed steps) you are following? Also, what OS and which version of the Chrome are you currently using?

[2020-01-27 19:27] compulim commented on #2842
We should fix our CI pipeline to push DLSpeech to MyGet.

[2020-01-27 19:31] cwhitten commented on #2842
Hi @asvishnyakov we'll take an action item into our current release (R8) that will address this. We should have this addressed no later than March 2020 and quite possibly much earlier.  Unfortunately there is no workaround for this until we fix this up.

[2020-01-27 20:26] rambabuk1222 opened #2855 "TypeError: Super expression must either be null or a function"
Deployed angular site with webchat. It's working fine in Edge browser but not in chrome and firefox.
console showing following error message. Is anyone used angular with webchat?

![image](https://user-images.githubusercontent.com/12018103/73210938-2e158d00-4143-11ea-8862-46ed3362df9b.png)

[2020-01-27 21:45] compulim opened #2856 "Chore: Update CHANGELOG.md"
This is a list of stuff we need to update CHANGELOG.md:

### Customizable timestamp

Previously, we use `timestampClassName` to control if the activity should show timestamp or not. The `timestampClassName` should be add as a `class` attribute the DOM element which contains the timestamp.

Today, we pass `activity` and `nextVisibleActivity` to the middleware, so the `activityRendererMiddleware` ma

[2020-01-27 23:27] #2313 closed

[2020-01-28 00:15] tdurnford commented on #2213
Just a note that we can currently change the typing indicator gif through the style options.

https://github.com/microsoft/BotFramework-WebChat/blob/38a2c78221806f57c7ee82f1f13d9dc516aa81b8/packages/component/src/Styles/defaultStyleOptions.js#L139

[2020-01-28 00:16] compulim opened #2857 "[IC3] Per-message avatar"
## Feature Request

Add a per-message avatar, so every activity can have different avatars.

## User stories

- Retrieving avatar image and initials from `channelData`.
- Show avatar on different activity, hide on some
- Free-sized avatar (probably very tall)
- ~Avatar grouping (show 1 avatar for X number of activities)~ (#2939)
- Animated avatar
- Updateable avatar (online/offline status)
- ~Avat

[2020-01-28 00:32] tdurnford commented on #2836
@01 https://github.com/microsoft/BotFramework-WebChat/issues/2857 is tracking this Enhancement.

[2020-01-28 00:35] compulim opened #2858 "Code: Expose `core/definitions/speakingActivity` for use in `BasicTranscript.js`"
## Feature Request

In `BasicTranscript.js`, we have this to-do:

[code]

Today, we don't expose any definitions/selectors from `core` package.

Two ways:
- We expose and reuse it here
- We are moving speak-related stuff out from `core`, so we might not need to take it

[Enhancement]

[2020-01-28 00:42] compulim opened #2859 "Code: Move `createXXXRenderer` into `<Composer>`"
## Feature Request

In our code:

[code]

Today, `<Composer>` accept `activityRenderer` only but not `activityMiddleware`. But `<BasicWebChat>` accept `activityMiddleware`.

Tomorrow, we should allow `<Composer>` to accept `activityMiddleware` too. If both `activityMiddleware` and `activityRenderer` is passed to `<Composer>`, we should give a warning and use `activityRenderer` instead.

This is al

[2020-01-28 00:44] compulim opened #2860 "Code: Move <BasicWebChat> to functional component"
## Feature Request

Today, our `<BasicWebChat>` is still using class component. We should consider moving to functional component.

This is also related to #2859.

[Enhancement]

[2020-01-28 02:08] tdurnford commented on #2860
I think @corinagum is doing this in her RTL PR

[2020-01-28 04:59] Vish-H opened #2861 "Adaptive card sent to outlook email using power automate - Issue"
Hi,

I've designed an actionable card and sending it to users over outlook email using flows.
The card is not displayed to the users, But when i send it to myself i'm able to see the card and able to input the field and submit it.

Please suggest me if i'm missing anything and anyone has faced the same issue.

[2020-01-28 10:05] rvallireply commented on #2853
@anusharavindrar my current OS is Windows10, and Chrome is Version 79.0.3945.130 (Official Build) (64-bit).

Here I paste the page code to test (to use with the default.htm of the Virtual Assistant template):

[code]

[2020-01-28 11:42] compulim opened #2862 "Test reliability: Activity order could be swapped"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/73260925-dcd7be80-417f-11ea-82ef-782982b54758.png)

https://webchattest.blob.core.windows.net/travis-result/2020/01/28/c2x4d/__image_snapshots__/chrome-docker/__diff_output__/carousel-js-carousel-with-avatar-initials-4-attachments-and-no-message-1-diff.png

## Version

`master`

## Describe the bug

Racing conditions betwee

[2020-01-28 13:10] amt-work commented on #1571
@compulim Is there an ETA when this will be finished? Thanks!

[2020-01-28 13:19] 01 commented on #2836
@tdurnford fantastic very excited for this feature thank for the update

[2020-01-28 15:48] tdurnford commented on #2861
'How to' questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with an Adaptive Card implementation, you can post a question to the [Adaptive Card](https://stackoverflow.com/questions/tagged/adaptive-cards) tag. Thank you!

[2020-01-28 15:48] #2861 closed

[2020-01-28 18:27] compulim commented on #1571
This is on the final round of PR review, #2788. After merged in, you can try it out through daily build.

The next release train is on mid-March. This PR will be on that train.

[2020-01-28 18:36] corinagum commented on #2860
Yep, will be done in RTL

[2020-01-28 18:56] compulim opened #2864 "[IC3] Activity.attachments[].contentUrl should be used for allowing download attachments or not"
## Feature Request

Some channels allow end-users to download their uploaded files.

## Designs

### Using `activity.attachments[].contentUrl` to filter

Today:
- Web Chat will not allow anyone to download any uploaded files
- Direct Line channel will set "contentUrl" to a dummy URL

Tomorrow:
- Web Chat Redux store will have a helper to filter out the dummy URL from Direct Line, and set `contentU

[2020-01-28 19:28] stevkan commented on #2855
Hi @rambabuk1222, if you could provide a few items, that would be great for my helping diagnose the problem:

- package.json
- The Botbuilder version you are using
- A link to the code, repo, or other, you used to build your app
- Any docs you were following or referring to

Thanks!

[2020-01-28 22:15] compulim commented on #2853
Most browsers disabled microphone support on insecure HTTP site.

Please browse your website with HTTPS.

[2020-01-28 22:18] corinagum commented on #2853
This note is unrelated to speech:
@rvallireply, you can remove `language: 'it-IT'` from your `renderWebChat` function. `language` was a documentation mistake that has now been modified in our docs. `locale` is the correct prop. Sorry for the confusion!!

[2020-01-29 01:03] scch1002 commented on #1031
Hi @cwhitten, this work around causes a bug in the latest version of the ReactWebChat component. The chat window is resized to less than the containing element. This results in a large empty space.

[2020-01-29 01:39] scch1002 commented on #1031
Also, this solution will stop working correctly if the webchat ever switches to recycling dom elements and only showing a snapshot of messages. I don't think the typical chat has enough messages where this would make sense. It is just something that comes to mind.

[2020-01-29 04:35] #2720 closed

[2020-01-29 09:05] rvallireply commented on #2853
Thanks @compulim ! That was it.
Closing the issue.

[2020-01-29 09:05] #2853 closed

[2020-01-29 10:47] jbkcmouli opened #2867 "webchat URL - redirection with gemini"
🚨 The issue tracker is not for implementation questions 🚨

[Question]
Hi,
Some one can please let us know why
webchat URL in the below format
https://webchat.botframework.com/embed/<botname>?s=<secret>
is redirecting to new one with slight change with gemini added in URL
https://webchat.botframework.com/embed/<botname>/gemini?b=<botname>&s=<secret>

this redirection is causing issues for our integ

[2020-01-29 11:58] compulim opened #2869 "Code: DirectLineJS should empty out contentUrl if it is a placeholder"
## Feature Request

In `core/src/reducers/activities.js`, we have some code to empty out `contentUrl` if the attachment should not be downloadable. This code should be moved to DirectLineJS.

[code]

[Enhancement]

[2020-01-29 14:35] amt-work opened #2870 "Automatic scroll when a new message comes in isn't working"
Version: v4 from npm

botframework-webchat:bundle:variant" content="full"
"botframework-webchat:bundle:version" content="4.6.0"
"botframework-webchat:core:version" content="4.6.0"
"botframework-webchat:ui:version" content="4.6.0"

Bug: When a new message comes in the webchat isn't scrolling to the bottom automatically. My structure is a div with height 94vh and width of 390px, then another div whi

[2020-01-29 14:57] #2870 closed

[2020-01-29 17:37] corinagum commented on #2869
do we have a DLJS item tracking this one? :)

[2020-01-29 18:43] amt-work commented on #2836
@tdurnford Just to be clear, I want a feature like this as well to make it appear as if a message is coming from a specific bot. So when a message comes in from the bot I can change the avatar for that message and then the future messages until I want to change it again, but it will preserve the avatar for all previously sent messages. Will this be possible with this feature?

[2020-01-29 20:49] CoHealer commented on #2646
Closing due to lack of user activity.

[2020-01-29 20:49] #2646 closed

[2020-01-30 05:45] arman-g opened #2871 "Hiding The SendBox Hides Typing Animation"
## Screenshots
None

## Version

CDN 4.7.1

## Describe the bug

In the webchat when **hideSendBox** option is set to false under **StyleOptions** to hide the **SendBox**, it hides the typing animation too.

## Steps to reproduce

1. Set **hideSendBox** option to **false** in StyleOptions.
2. Send Typing from bot.
3. Observe no typing animation is shown to the user.

## Expected behavior

If **hid

[2020-01-30 12:31] uppalapraveen opened #2872 "WebSocket Connection Error in GraphBot SPFx Extension"
## Screenshots

## Version

## Describe the bug

I have the Microsoft GraphBot extention running in the SPFx site.
I am facing an issue with WebSocket
here is the issue in console error
**WebSocket connection to wss://directline.botframework.com/v3/directline/conversations/conversation-id/stream-watermark' failed: Error during WebSocket handshake: Unexpected response code: 403**

After the error i

[2020-01-30 13:13] moxched opened #2873 "would there be any release of the react source version code anytime soon ?"
🚨 The issue tracker is not for implementation questions 🚨

[Question]

[2020-01-30 14:26] crisvilares opened #2874 "Tear down bundle size"
Hi devs... We're facing some performance issues because of the big bundle-size of the botframework-webchat bundle. Is there any possibility to tear it down to the essential features? Or is there maybe a bundle available with just the minimal features on npm? Thx for your answer.

[2020-01-30 16:00] diegorodriguesvieira commented on #666
@karangarg45 hey bro, just if you need it yet
this can help you

[2020-01-30 17:07] tdurnford commented on #2871
@arman-g As you noticed, the typing indicator is contained in the send box, so hiding the send box will hide the typing indicator as well - this also true for the connectivity status and suggested actions. @compulim and I have discussed possibly moving the typing indicator to the transcript which would keep it from being hidden by the `hideSendBox` style option.

[2020-01-30 18:08] arman-g commented on #2871
Hi @tdurnford, yes I agree the typing indicator as well as the connectivity status should be outside of the sendbox. They are simply different things and have no direct relations with each other. This becomes a huge problem if chatbot uses adaptive/hero cards only. Hiding the sendbox by default hides other things too that has no connection to sendbox.

[2020-01-30 18:51] corinagum commented on #2874
Hi @crisvilares, please take a look at this reponse:
https://github.com/microsoft/BotFramework-WebChat/issues/2841

[2020-01-30 19:05] tonyanziano commented on #2873
@moxched can you please clarify what you mean?

Do you mean the source code of React, the library?

[2020-01-30 19:30] #2173 closed

[2020-01-30 22:15] murcinar commented on #2675
Also, I have found out another issue where on the CardAction class, there is no way to provide either an alt text or an aria-label. Title is the only field that goes in the button as a text but we already have an image that specifies the button so we don't want any text on the button. But from the accessibility stand point, screen readers like narrator announce "button" only in this case and does

[2020-01-30 23:14] corinagum commented on #2675
Unfortunately it's not scoped out right now. I hope to get to this soon.

[2020-01-31 07:47] moxched commented on #2873
yes the available options i find them insufficient and it would be nice not to have rewrite the whole ReactWebChat

[2020-01-31 16:32] dmvtech commented on #2872
@uppalapraveen Can you try disabling websockets.
[code]

See more info here:
https://stackoverflow.com/questions/59983223/sporadic-timeouts-from-directline-endpoint/59993344#59993344

[2020-01-31 17:24] cwhitten commented on #2874
Closing, see #2841 for on-going discussion and suggestions

[2020-01-31 17:24] #2874 closed

[2020-01-31 17:25] cwhitten commented on #2873
@moxched what options do you find missing? Are you using the ReactWebChat component with the DirectLine channel?

[2020-01-31 17:51] cwhitten commented on #2872
@uppalapraveen can you also verify that your token/credentials are correct? This is what we would expect when you receive a 403

[2020-01-31 18:07] compulim commented on #2855
@rambabuk1222 do you know which version of Web Chat you are using? This will greatly help us on identifying the issue.

[2020-01-31 18:20] corinagum commented on #2871
Related to a couple of issues:
https://github.com/microsoft/BotFramework-WebChat/issues/2427 - move suggested actions out of send box so that hiding send box doesn't affect suggested actions
https://github.com/microsoft/BotFramework-WebChat/issues/2323 - create a notification center for the suggested actions typing indicator, and connectivity status separate from the sendbox
https://github.com/mic

[2020-01-31 18:31] compulim commented on #2842
@asvishnyakov this should be fixed now, https://botbuilder.myget.org/feed/botframework-webchat/package/npm/botframework-directlinespeech-sdk.

[2020-01-31 20:09] rambabuk1222 commented on #2855
@stevkan
Hi Steve, Thanks for your response. please find the package.json below

[package.txt](https://github.com/microsoft/BotFramework-WebChat/files/4141218/package.txt)

Bot Builder version: 4.6.3
I have fallowed [this article](https://github.com/tompaana/intermediator-bot-sample)

@compulim
Hi Compulim,

I'm using below version of webchat.js
https://cdn.botframework.com/botframework-webchat/4.

[2020-02-02 19:06] cwhitten commented on #2675
@murcinar thanks for the issue. We take accessibility seriously and are coordinating on a change in the `CardAction` schema definition to include an alt text property for these scenarios. Thanks for your patience as this propagates through the appropriate Bot Framework teams.

[2020-02-03 07:22] pastapure opened #2875 "minimizable-web-chat changing voice when Minimize and then Maximize"
I am using minimizable-web-chat sample and added **createCognitiveServicesSpeechServicesPonyfillFactory()** function and also I implemented implemented **speechSynthesis.getVoices = function (){...}** with I set always female voice which I want in my apllication and it is working fine. but while speaking when I minimize chat and then maximize I getting different voice and also it changing gender f

[2020-02-03 07:24] prashanthsridhar commented on #2835
Hi @stevkan
Here is the package.json

[code]

[2020-02-03 09:01] prashanthsridhar commented on #2835
@stevkan On further testing, i noticed that,for every input i give there is one
 activities call to /v3/directline/conversations
and multiple calls to /cognitiveservices/v1

Additional info:
[code]
and so on. Find screenshot below
The renderWebchat function is listed in the  first comment
![Capture](https://user-images.githubusercontent.com/11289456/73639047-99a2b180-4691-11ea-85bf-097c951be33f.JP

[2020-02-03 09:15] prashanthsridhar commented on #2835
Hi @compulim , is this something within the scope of how the cognitiveservices call is happening via webChat.

[2020-02-03 12:31] alokraj68 commented on #970
Hi @compulim,

After 4.7.1 upgrade we are getting a similar error as follows:

https://reactjs.org/docs/error-decoder.html/?invariant=321

Could you please help?

[2020-02-03 13:34] edreux commented on #2120
I'm trying to implement this to pass parameters when a chat session starts.

const store = window.WebChat.createStore(
		  {},
		  function() {
			return function(next) {
			  return function(action) {
				if (action.type === 'DIRECT_LINE/POST_ACTIVITY') { // tried various type such as DIRECT_LINE/CONNECT_FULFILLED
					action = window.simpleUpdateIn(
						  action,
						  ['payload', 'activity'

[2020-02-03 14:57] gsoper78 commented on #2757
Is this a duplicate of #1657 ?

[2020-02-03 16:31] tdurnford commented on #2120
@edreux
'How to' questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the Web Chat tag. Thank you!

[2020-02-03 16:43] edreux commented on #2120
ok, thanks.
Regarding botframework, I have never got any answer to any questions in stackoverflow, only "ticket" management wher months later I've been asked if I had still the problem and the project had been given up due to the impossibility to address the issue.
Same issue here. More than 50 hours of human work for nothing.

[2020-02-03 16:53] edreux commented on #2120
I know this is not the right place to complain sorry, but dvt around BotFramework is a big moment of loneliness :-)

Here ar the links for this question at stackoverflow.
https://stackoverflow.com/questions/60039588/pass-parameters-to-botframework-when-chat-session-starts
https://stackoverflow.com/questions/60006176/cannot-send-channeldata-in-postactivity

+ other past problems with noanswers.
htt

[2020-02-03 19:10] dmvtech commented on #2872
hi @uppalapraveen Have you been able to confirm token/credentials or any other updates?

[2020-02-03 19:14] daveta commented on #2850
Hi @didaskein :  @tdurnford gave a response.  Please reopen if you have any further questions.  Thanks.

[2020-02-03 19:44] tdurnford commented on #2850
Reopening to track this work item

[2020-02-03 19:48] compulim commented on #2850
Prefer not to detect whether it is mobile or not, but put the behavior across both platforms (not focus on send box after click). Because if you use Surface on tablet mode, it could suffer the same problem too.

[2020-02-03 19:49] compulim commented on #2850
Please link two issues with this so we can understand the bigger picture.

[2020-02-03 21:01] compulim opened #2876 "Investigate: clicking on hero card throw `'displayText' of undefined` error"
## Version

`4.6.0-es5`

## Describe the bug

When clicked on the following hero card, it does not invoke the expected submit.

[code]

Then send another hero card,

[code]

Click on it will say, `'displayText' of undefined` error.

## Steps to reproduce

1. Bot to send the hero card payload as above
1. Click on the button
1. Expect postback to the bot, but not happened
1. Bot to send the second h

[2020-02-04 01:44] tdurnford opened #2877 "Cognitive Speech Samples throwing Credentials must be specified error"
## Screenshots
![image](https://user-images.githubusercontent.com/17039790/73706081-615c9c80-46ac-11ea-9c73-05793dfb2189.png)

## Version
[code]
## Describe the bug
All of the Cognitive Speech Web Chat samples are throwing a "Credentials must be specified error"

## Steps to reproduce
1. Open any of the Cognitive Speech samples

[Bug]

[2020-02-04 01:55] tdurnford commented on #2875
@pastapure Can you please add code snippets for your `selectVoice` function and the code you added to the Minimizable Web Chat sample for `createCognitiveServicesSpeechServicesPonyfillFactory`?

[2020-02-04 05:13] pastapure commented on #2875
Thanks for your quick response,

**see below code used in WebChat.js**

[code]
// in render()
[code]

**and In MinimizableWebChat.js used below code.**

[code]

[2020-02-04 09:03] sw353552 commented on #1831
Is there a maximum size limit for the GIF file? I tried to change the animation but it didn't accept.

[2020-02-04 11:42] alokraj68 opened #2879 "Inconsistent React Error when running webchat using botchat.js"
## Screenshots

![react error](https://user-images.githubusercontent.com/9208731/73742006-70595280-4771-11ea-98a3-64d2a1a2babd.png)

## Version

4.7.1 botchat.js

[code]

## Describe the bug

We are getting an inconsistent react error as per the screenshot. It points to the URL https://reactjs.org/docs/error-decoder.html/?invariant=321

This further breaks the functionality and chatbot will not wo

[2020-02-04 16:56] daveta commented on #2855
Thanks @rambabuk1222.  FYI: @stevkan is taking a look..

[2020-02-04 16:59] tdurnford commented on #2875
It looks like you are using an old version of the Minimizable Sample. What version of Web Chat are you using?

[2020-02-04 17:14] corinagum commented on #1831
@sw353552 was there an error message in the console or anything? As far as I know there isn't a size limit, but if there is we should document it. Thanks for bringing it up.

Also, did you link a gif or convert it to base64?

[2020-02-04 18:02] stevkan commented on #2879
Can you clarify which version of Web Chat you are using? You mention using `botchat.js` which is the v3 version but the meta data you provide indicates you're using 4.7.1 which is v4. Unfortunately, v4 is not backwards compatible if you are trying to use v3 methods of instantiating Web Chat.

You either need to use the botchat.js CDN or migrate your Web Chat code to v4 methods and implementations.

[2020-02-04 18:34] alokraj68 commented on #2879
Hi, please excuse the typo its. It's 4.7.1. I am using the same as
indicated in the meta data.

Thank you for pointing that out.

On Tue, 4 Feb, 2020, 11:32 pm Steven Kanberg, <notifications@github.com>
wrote:

[2020-02-04 18:41] compulim opened #2880 "Support Speech Recognition intent endpoint for Bot/LUIS priming"
## Feature Request

Today, Direct Line pass LUIS reference grammar ID (a.k.a. bot/LUIS priming) to Web Chat and we send it to Cognitive Services (via their SDK).

But the endpoint URL do not support bot/LUIS priming. Thus, it was ignored.

Tomorrow, when we detect bot/LUIS priming is needed, we should configure SDK to use a different endpoint.

[Enhancement]

[2020-02-04 18:44] pagoru commented on #2049
I'm in the same situation... and I don't know what to do.
Works fine on the local machine, but not on the azure server.

The link is down...

[2020-02-04 19:10] daveta commented on #2873
Hi @moxched , please reopen if you have more details.
Thanks! -Dave

[2020-02-04 19:10] #2873 closed

[2020-02-04 21:51] stevkan commented on #2835
@prashanthsridhar, I'm still unable to reproduce the issue. Furthermore, I'm not seeing any calls coming thru that match or even look similar to the ones you have identified up above (i.e. `v1?deploymentId...`). I'm inclined to think that there is some other process in your code that is resulting in those calls being made. I'm also inclined to think that these additional calls are interrupting you

[2020-02-04 21:52] corinagum opened #2881 "Add more bubble nub tests"
Right now bubble nub tests do not cover all scenarios. Add the following:

- Only bot initials
- Only bot nub
- Only bot initials + nub
- Only user initials
- Only user nub
- Only user initials + nub

[2020-02-04 22:01] corinagum commented on #2049
we have documentation on [welcome messages](https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/WELCOME_MESSAGE.md#tokens-user-ids-and-iframes). Could you go through these docs and verify your implementation? Please let me know your results.

[2020-02-04 23:38] stevkan commented on #2879
A few questions for you:

- Can you tell me which version of React your project is using?
- Have you implemented any custom components, activityHandlers, or middleware that interacts with or relies on Web Chat?
- Are you able to post, or otherwise make accessible, the code you are using (keeping any secrets/tokens hidden)? It would make diagnosing an easier process.

[2020-02-05 04:48] pastapure commented on #2875
**using bellow version** but I have to resolve that voice issue and continue with the same version

"name": "sample-customization-minimizable-web-chat",
  "version": "0.1.0",
  "private": true,
  "homepage": "https://microsoft.github.io/BotFramework-WebChat/12.customization-minimizable-web-chat/",
"dependencies": {
    "botframework-webchat": "~4.5.1",
     "memoize-one": "^5.0.2",
    "react": "1

[2020-02-05 06:14] sw353552 commented on #1831
@corinagum there was no error in the console, but Webchat only allows GIF files less than 4KB. Should this be the case?
If we want a better animation, is there a way that we can change the size limit?

I did convert it to base64.

[2020-02-05 07:28] moxched commented on #2873
hi @cwhitten  about the options, updating the ReactWebChat without rerendering the whole component, for instance i need to hide the send box when an button action is demanded i managed to do so through javascript css change and the option activityMiddleware but it would be great not having to depend on javascript to do so just instruct my component to rerender its behavior if one of the style Opti

[2020-02-05 09:00] eduardmartos opened #2882 "The brand needs the Avatar of the Bot to be a square instead of a circle"
**Describe the suggestion or request in detail**

The brand needs the Avatar of the Bot to be a square instead of a circle

**Describe alternatives you have considered**

Currently we are changing this style with jQuery command:

[code]
But sometimes webchat is not rendering as we like and happens this:

![image](https://user-images.githubusercontent.com/54709623/73826050-641ad700-47fd-11ea-9311-2

[2020-02-05 11:59] alokraj68 commented on #2879
@stevkan ,

Here are the answers to your questions.

### Can you tell me which version of React your project is using?

We are not using react anywhere in our project.

We are only consuming the webchat.js from CDN.

### Have you implemented any custom components, activityHandlers, or middleware that interacts with or relies on Web Chat?

Yes, We have webspeechponyfillfactory and dispatch stores t

[2020-02-05 15:45] pagoru commented on #2049
Yeah, now works fine, but it's a little bit tricky. I'm currently working on a port from v3 to v4.

[2020-02-05 18:00] tdurnford commented on #2875
@pastapure It looks like select voice works with the latest version of Web Chat and the most recent sample.  I recommend that you work from the most up to date [Minimizable](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.recomposing-ui/a.minimizable-web-chat) Sample. Take a look at the code snippet below for help getting started.

[code]

[2020-02-05 18:00] #2875 closed

[2020-02-05 18:19] tdurnford commented on #2882
@eduardmartos You can currently modify the style set to change the avatars border radius. Take a look at the code snippet below.

### Screenshot
![image](https://user-images.githubusercontent.com/17039790/73870418-e658ca80-4800-11ea-8a35-349a41cece20.png)

### Web Chat v4.7.1

[code]

@corinagum @compulim  Should we consider adding `userAvatarBorderRadius` and `botAvatarBorderRadius` to the defaul

[2020-02-05 18:22] stevkan commented on #2879
Thank you for the information.

As I'm unable to reproduce the error, can you test using v4.7.0 (CDN link [here](https://github.com/microsoft/BotFramework-WebChat/releases/tag/v4.7.0))? I'd like to know if the issue is specific to 4.7.1 or not.

[2020-02-05 18:35] corinagum commented on #2882
@tdurnford my vote is yes :)

[2020-02-05 18:44] eduardmartos commented on #2882
Ok. If I understand your code...

With this:

const styleSet = window.WebChat.createStyleSet(styleOptions);

styleSet.avatar = {
  ...styleSet.avatar,
  borderRadius: 0
};

you can override all the values you need of every styleSet?
And the process is always the same?

styleSet.[ClassName] = {
[“ThreeDots”]styleSet.[ClassName],
cssAttributeToOverride1: newCssAttributeValue1,
cssAttributeToOverride

[2020-02-05 18:51] tdurnford commented on #2882
@eduardmartos If you're overriding the style set, you can add the style depending on if it's from the user or not. Adding the style options is a better option though.
### Screenshot
![image](https://user-images.githubusercontent.com/17039790/73872929-7ac52c00-4805-11ea-8bc1-c4f6ffc256f8.png)

### Style Set
[code]

[2020-02-05 18:55] corinagum commented on #2882
should we close this as duplicate in favor of #1977?

[2020-02-05 18:56] tdurnford commented on #2882
Closing as dupe of #1977

[2020-02-05 18:56] #2882 closed

[2020-02-05 19:16] compulim commented on #1831
@sw353552 what is the size of the GIF file you are using?

According to Stack Overflow, https://stackoverflow.com/questions/695151/data-protocol-url-size-limitations, for Chrome, the limit is 2 MB. For IE/Edge, it is 4 GB. Safari is 128 KB.

If your image is large, you can try converting it into blob URL by `URL.createObjectURL` and pass it to Web Chat.

[2020-02-05 19:32] corinagum commented on #2850
https://github.com/microsoft/BotFramework-WebChat/pull/2087
https://github.com/microsoft/BotFramework-WebChat/issues/1789
@tdurnford could you take a look at these?

[2020-02-05 22:56] stevkan commented on #2879
Thank you for making the code accessible for testing. As it is, I have been able to run the web chat code successfully and unable to reproduce the error. There are some functions that are called that I had to comment out (i.e. showTyping(), scrollOnNewMessage(), etc.) that I don't have the code for. I'm suspecting one of these may be the source of the error.

I'm hoping I can get the code for thes

[2020-02-06 00:47] stevkan commented on #2855
At this moment, I'm unable to repro the issue. Can you tell me which version of Chrome and Firefox browser you are using, in case it is a factor?

[2020-02-06 06:42] pastapure commented on #2875
Thank you very much dear ! its working fine...

[2020-02-06 06:56] sw353552 commented on #1831
@compulim I am using a 2.7KB GIF, but now the indicator is not even displayed.

Will try `URL.createObjectURL` also.

[2020-02-06 09:52] compulim commented on #2855
Me neither. I did the follow steps.

## Create Angular 7 app

[code]

## Modify `src/app/app.component.ts`

[code]

## Modify `src/app/app.component.html`

[code]

## Modify `src/index.html`

[code]

## Screenshot

![image](https://user-images.githubusercontent.com/1622400/73925677-44c68d00-4883-11ea-803a-af5ce352916f.png)

[2020-02-06 10:00] compulim commented on #2855
After enabling Cognitive Services, now I am seeing the same error.

![image](https://user-images.githubusercontent.com/1622400/73926385-64aa8080-4884-11ea-9c85-f850d3436512.png)

[2020-02-06 10:03] rambabuk1222 commented on #2855
@stevkan
Hi Steven,

Im using chrome version 79.0.3945.130
I hosted this angular site in azure and rendering this azure site from wordpress site iframe. If I run azure site directly, its working without ussue.

Thanks and Regards
Ram

[2020-02-06 10:30] CHuijsman opened #2884 "Feature Request: Ability to customize scroll behaviour in WebChat V4"
**Is your feature request related to a problem? Please describe.**

User experience is one of the most important KPI’s for our entire website and thus for our product. This includes the ease at which users can read the information the chatbot provides them with. To this end, we feed our users small chunks of text. Most responses consist of multiple text bubbles. By default, the WebChat scrolling b

[2020-02-06 10:31] compulim commented on #2855
There are 2 problems, when combined, it become what you saw in F12.

## Problem 1: bad error message

In Web Chat 4.5.1, if speech is enabled but not supported, it throw `Super expression must either be null or a function`. The error message is fixed >= 4.6.0.

## Problem 2: Feature Policy is not set

When you host a page under `<IFRAME>`, by default, Chrome and Firefox will block microphone acces

[2020-02-06 10:48] #2864 closed

[2020-02-06 11:59] alokraj68 commented on #2879
@stevkan, Since it was a react hook error, and I saw this `Resolves #2753. Added support for updating an activity by the ID, by @compulim in PR #2825`

I guess this will solve this issue with hook call?

[2020-02-06 13:34] asvishnyakov commented on #2842
@compulim I don't see any new packages in MyGet

[2020-02-06 14:38] gsoper78 opened #2885 "Narrow formatting of card responses in embedded version"
We're embedding https://webchat.botframework.com/embed/ in a mobile app and I'm observing that card responses are formatted unnecessarily narrowly compared to returned answers. The following screenshot should illustrate my point:

![webchat botframework com_embed_CivicaConferenceApp-Bot_s=jHBNXGn94l0 RjR1uvEaNdZYQfAzrG1dOVffZJMPRNESIImobKdAeJg(iPhone X)](https://user-images.githubusercontent.com/3

[2020-02-06 16:40] #2855 closed

[2020-02-06 17:55] corinagum commented on #2885
Hi @gsoper78,
Based on your screencaps, you are using the deprecated v3 of Web Chat which is no longer supported beyond security fixes.

I recommend you migrate to v4, where you can use the CDN or npm package of Web Chat to customize your Adaptive Card hostconfig to wrap button title text in the card. Please see the following: https://github.com/microsoft/AdaptiveCards/issues/3416

Please note tha

[2020-02-06 18:43] corinagum commented on #2479
Our daily build of Web Chat, including the bundled `webchat*.js` files, is now available on our releases page: https://github.com/microsoft/BotFramework-WebChat/releases/tag/daily

[2020-02-06 18:44] #2479 closed

[2020-02-06 19:09] arman-g commented on #2871
@corinagum I hope this will get into near future releases.

[2020-02-06 19:47] tdurnford commented on #2871
@arman-g PR https://github.com/microsoft/BotFramework-WebChat/pull/2883 is adding a notification bar to Web Chat, and part of that work includes moving the typing indicator from the send box to the transcript. This should be resolved in our next release. Thanks for your patients.

[2020-02-06 20:54] compulim opened #2886 "Bump Cognitive Services SDK to 1.9.1 due to a bug in Electron"
## Please also bump Jest

## Version

`4.7.1`

## Describe the bug

Direct Line Speech failed to load in Electron due to a bug in Cognitive Services Speech SDK. It is fixed in 1.9.1.

https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/138
https://github.com/microsoft/cognitive-services-speech-sdk-js/pull/126

## Steps to reproduce

1. Put Web Chat inside an Electron app (Chrome 6

[2020-02-06 21:24] corinagum commented on #2871
As far as I know #2883 is only adding a notification bar. Did yesterday's discussion include moving typing indicator and/or suggested actions?

[2020-02-06 21:30] corinagum commented on #2885
I have added this question to the Web Chat FAQ list regarding changing the length of button title in Adaptive Cards. Closing this issue as answered.

[2020-02-06 21:30] #2885 closed

[2020-02-06 22:24] tdurnford commented on #2871
@corinagum Yes, @compulim and I had an offline discussion about moving the typing indicator, and we recapped it again briefly in standup on Wednesday. You can also look at the changes #2883 is making to `basicTranscript.js` and `basicSendBox.js`

[2020-02-06 22:31] compulim opened #2887 "Using Markdown for outgoing messages"
## Feature Request

### Should we enable Markdown for outgoing messages?

More and more users are comfortable on sending Markdown, because WhatsApp and other messaging platform introduced it. For example, `*abc*` will emphasize the text "abc". And `~abc~` will cross it out.

Bot don't understand rich formatting, but human do, e.g. IC3 agents.

Today, when the user send a message, we explicitly mar

[2020-02-06 23:11] corinagum commented on #2871
@compulim need to add mention of these in the summary

[2020-02-06 23:29] compulim commented on #2884
I am open to having a better scroll behavior.

Today, in Web Chat v4, we implement "sticky bottom" behavior:

- If the scroll view is currently at the bottom, we stick to it
- If the scroll view is not at the bottom
   - If a new message come from the bot, don't scroll
   - If the user send a new message, scroll to bottom
- The stickiness has zero pixel tolerance, which means, the scroll view is c

[2020-02-07 06:24] prashanthsridhar commented on #2835
Hi @stevkan ,i am using custom speech and voice. I think the "v1?deploymentId" call is  for custom speech.

[2020-02-07 06:25] sw353552 commented on #1831
The issue was with the `typingAnimationHeight` and `typingAnimationWidth`.

@compulim Yes you were right, the size limit is 2 MB for Chrome.

Thnx!

[2020-02-07 09:25] HesselWellema commented on #1427
+1

[2020-02-07 09:29] CHuijsman commented on #2884
It is great to hear that you are open to improve the scroll behaviour.

We checked your sample with the `proactive` message, this works when the user scrolls up (which they normally don’t do).
The problem is best illustrated when you send `help` in the sample, in this case you need to scroll all the way up to start reading the bot reply. This is caused by the behaviour you described:

Then, when t

[2020-02-07 10:04] MatthiasGwiozda commented on #243
Why is this issue closed? We need to debug an activity that we send from the webchat and are not able to debug it locally. Will there be a convenient way to do it in the future?

[2020-02-07 16:19] waltec888 opened #2888 "Webchat stuck on "WEB_CHAT/SET_REFERENCE_GRAMMAR_ID""
## Version:

latest using: https://cdn.botframework.com/botframework-webchat/latest/webchat.js

## Describe the bug

We have a webchat window on our website that can be minimized/reopened (this keeps the same token, if still valid) or closed/reopened (this ensures we retrieve a new token). Our bot should greet us when we dispatch an event to the bot. When following a specific pattern, the webchat

[2020-02-07 17:50] dmvtech commented on #2872
Hi @uppalapraveen We haven't heard back from you in some time. If you are still having this problem, please reopen the issue and address the questions we have posed. Thanks, and have a great day!

[2020-02-07 17:50] #2872 closed

[2020-02-07 17:54] carlosscastro opened #2889 "SSO: Create single sign-on sample"

[2020-02-07 18:33] tdurnford commented on #2889
Related to https://github.com/microsoft/BotFramework-WebChat/issues/2806

[2020-02-07 19:10] daveta commented on #2888
@corinagum : Can you take a look?

[2020-02-07 19:22] corinagum commented on #2888
@waltec888, Please take a look at our minimizable Web Chat sample. [sample 06.a](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.recomposing-ui/a.minimizable-web-chat). This is using React.

For recomposing the UI, Web Chat only officially supports doing so via React, seen on our [README.md](https://github.com/microsoft/BotFramework-WebChat#customize-web-chat-ui)

For furt

[2020-02-07 19:22] #2888 closed

[2020-02-07 19:35] #2889 closed

[2020-02-08 01:35] scch1002 opened #2892 "Embedded links for same domain open in the same tab instead of in a new tab"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Embedded web links in messages that are for the same domain open in new tabs. It would be nice to be able to control whether an embedded link in the same domain opens in a new tab or in the same tab.

For example,

If the webchat is active in the web domain of 'test' and an embedded link is for a domain 'test1'

[2020-02-09 16:21] faridmovsumov commented on #476
I recently implemented an auto-complete feature on the bot creation tool that I am working on. I was wondering if I am one who invented it actually because I have never seen this feature in any other chatbot platform before. If you are interested you can check it here https://botmake.io/page/faq-chatbot

![chatbot](https://user-images.githubusercontent.com/1541412/74105704-847dc500-4b60-11ea-906d-

[2020-02-10 09:53] EdwinOtten commented on #2892
We added this feature in our custom version of WebChat V3 and very much support this feature request. Please also consider allowing `target="_parent"` for those who run WebChat in an iframe 🤫

I'm not sure if this is already possible using cardActionMiddleware in V4 though.

[2020-02-10 10:16] manish-95 opened #2893 "Adaptive Card Input Hint property not working"
## Version
4.7

## Describe the bug
I have an adaptive card for which I am setting the inputHint value as "expectingInput". However, the mic is not automatically turned on, after the adaptive card speak property text is spoken.

## Expected behavior
WebChat has to respect the inputHint property of the adaptive card and turn on the mic once the speech has ended.

## Additional context

We are using

[2020-02-10 13:03] alokraj68 commented on #2479
Thanks @corinagum That's a great move

[2020-02-10 13:26] prashanthsridhar commented on #2893
I am facing the same issue too

[2020-02-10 19:10] clearab commented on #2893
@compulim & @tdurnford: Can one of you please take a look at this?

[2020-02-10 19:17] clearab commented on #2892
@tdurnford Can you please take a look at this?

[2020-02-10 19:23] HesselWellema opened #2895 "Guidance on embedding sample a.minimizable-web-chat in Wordpress site"
Most of my webchat implementations start from this react-sample. After customizing the UI, I disable code splitting and I build the react-app (npm run build). This results in two files like this:

[code]

These are embedded in a wordpress (or any site) via some lines of html:

[code]

Straightforward but it works in all environments.

However, the files are very large and impact website performanc

[2020-02-10 20:40] scch1002 commented on #2892
@EdwinOtten that would work for the action buttons on cards but not embedded links.

[2020-02-10 20:51] EdwinOtten commented on #2892
Would it be possible to have some kind of markdownMiddleware that allows to customize how embedded links are rendered?

[2020-02-10 21:41] scch1002 opened #2896 "Standard setup for a robust webchat"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Specific situation:
If a conversation lasts longer than 15 minutes then the directline token is automatically updated. There does not exist a way in which to retrieve this updated directline token. The updated token is needed in the case of a page refresh so that the webchat state can be restored. Custom code c

[2020-02-11 00:27] tdurnford commented on #2893
@manish-95 It looks like everything is working as expected. Per the [Input Hint](https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/SPEECH.md#using-input-hint) section in the Speech Documentation, the microphone should only open if the last message from the user was sent using the microphone.

If you use the microphone to send a message to bot and the bot responds with an activity

[2020-02-11 00:27] #2893 closed

[2020-02-11 02:23] compulim opened #2897 "Test: Attaching snapshot diff as attachment on VSTS"
## Feature Request

This article outlined how to support attachments for test results, up to 2 GB.

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-test-results?view=azure-devops&tabs=yaml#attachments-support

[Enhancement]

[2020-02-11 03:46] tdurnford commented on #2895
'How to' questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat](https://stackoverflow.com/questions/tagged/web-chat) tag. Thank you!

[2020-02-11 03:46] #2895 closed

[2020-02-11 13:06] manish-95 commented on #2893
@tdurnford My requirement is to turn on the mic after the welcome adaptive card, before the user has had a chance to previously use the mic.

[2020-02-11 17:41] stevkan commented on #2879
Closing the issue as resolved, in the meantime. Please feel free to reopen if the issue persists (after the above PR becomes published code) or if you have new information to provide.

[2020-02-11 17:41] #2879 closed

[2020-02-12 05:21] nathanlindorff commented on #1582
Any update on this one?

[2020-02-12 05:43] prashanthsridhar commented on #2835
Hi @stevkan ,implementing webchat with angular and custom web speech will be ideal to reproduce this issue.

[2020-02-12 13:38] compulim commented on #2884
(Sorry I am tightened up with some work so my reply is slow. You should already see me finishing some pretty big PRs recently.)

This is very interesting.

Need to think a bit more about "if multiple bot messages is received", because Direct Line is pretty asynchronous. My gut feeling is that is should be technically doable in a neat way, but need some thoughts on the architecture.

With your expl

[2020-02-12 15:08] pkrishnagithub opened #2898 "chatbot using Direct Line is mixing responses between users"
## Screenshots

## Version
4.5.1

## Describe the bug
when two users are posing questions to the chatbot using Direct Line, after few questions, the answer of first user's question is being sent to second user and vice-versa

## Steps to reproduce

1. Go to '...'
1. Click on '....'
1. Scroll down to '....'
1. See error

## Expected behavior
Each user should get response of his own question and not

[2020-02-12 17:12] tdurnford commented on #2892
@scch1002 I think the Web Chat team would be open to adding an `openInExistingWindow` style option; however, we'd need to investigate if a style option is capable of covering all of the possible cases such as markdown, Adaptive Cards buttons and tap actions, and file download links.

In terms of markdown links, Web Chat implements a custom markdown renderer that sets the target to `_blank`. Develo

[2020-02-12 17:25] tdurnford commented on #2896
This is a duplicate of https://github.com/microsoft/BotFramework-WebChat/issues/2343. The Web Chat development team is working on putting together a sample that should handle the scenarios you mentioned above.

Web Chat takes a dependency on [Direct Line JS](https://github.com/microsoft/BotFramework-DirectLineJS) which handles all of the token refresh logic and would have to be responsible for emi

[2020-02-12 17:25] #2896 closed

[2020-02-12 17:46] scch1002 commented on #2343
The issue you have linked does not cover my above problem. From what I can tell there are no samples detailing how directline should be properly integrated into the webchat. Currently the webchat does not handle fundamental use cases. Neither are there cohesive samples demonstrating how your product should be used in a really world scenario. There are basic scenarios that need to be addressed.

[2020-02-12 17:46] scch1002 commented on #2896
The issue you have linked does not cover my above problem. From what I can tell there are no samples detailing how directline should be properly integrated into the webchat. Currently the webchat does not handle fundamental use cases. Neither are there cohesive samples demonstrating how your product should be used in a really world scenario. There are basic scenarios that need to be addressed.

[2020-02-12 17:52] tdurnford commented on #2898
@pkrishnagithub Can you add code snippets of your Web Chat implementation? Also, make sure you are using a unique user id for each conversation.

[2020-02-12 17:53] scch1002 commented on #2896
I am really looking for a demonstration of how this product was designed to be setup in a really world scenario. That includes restoring the chat histories of webchats after a page refresh. Particularly a page refresh after the initial token has expired and been replace by a new token.

[2020-02-12 18:18] scch1002 opened #2899 "Unable to retrieve refreshed token to restore state after page refresh."
## Describe the bug

From what I can tell there does not exist a way to retrieve a refreshed token from webchat. The approach used to restore a conversation history after a page refresh is to store the token in sessions storage. The problem is that the token is refreshed after 15 minutes to keep the conversation open. This leaves the original token expired.

There needs to be a way to retrieve the

[2020-02-12 18:41] scch1002 commented on #2898
Does the webchat automatically assign a random user id?

[2020-02-12 18:54] jiruss commented on #2896
This looks like it is still on the Bot PG radar being tracked with a number of similar issues https://github.com/microsoft/BotFramework-DirectLineJS/issues/124.

[2020-02-12 19:03] tdurnford commented on #2898
@scch1002 Yes, if the developer does not provide a token through either Web Chat's props or does not generate a Direct Line token with a user id, then Web Chat will generate a random user id.

https://github.com/microsoft/BotFramework-WebChat/blob/17f406974253eac292637a33f87d6ce07092fb8d/packages/core/src/sagas/connectSaga.js#L40

If the developer uses the same user id whether it is through Web Ch

[2020-02-12 19:19] scch1002 commented on #2896
It seems like there is more work that could be done to make the directline connectivity logic more complete and stable.

[2020-02-12 20:06] corinagum commented on #2899
Are you using Enhanced Authentication?

Please see the answer to issue "[Web chat history not loading](https://github.com/microsoft/BotFramework-WebChat/issues/2396#issuecomment-530931579)"

[2020-02-12 20:19] scch1002 commented on #2899
No, I am not. I need a way to retrieve the updated token from the webchat when the token is refreshed. The refreshed token is needed so that the webchat can be re-instantiated correctly after a page refresh.

[2020-02-12 20:20] scch1002 commented on #2899
I also do not need to use the reconnection api, if I have the refreshed token. Which I should be able to retrieve.

[2020-02-12 20:28] scch1002 commented on #2899
It also seems like it would make sense if there was a sample detailing how the webchat should maintain state between page refreshes. Especially after 15 minutes when the directline token is refreshed.

[2020-02-12 21:57] EricDahlvang commented on #2899
Hi @scch1002

You are correct.  A stored token is not useful for re-connecting to an existing conversation, since it is potentially expired.  This is why the reconnection api exists: https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-reconnect-to-conversation   Please have a look at this, and let us know if it will help you accomplish your goals.

(Also,

[2020-02-12 23:53] scch1002 commented on #2899
@EricDahlvang I have taken a look at the reconnection api and [Web chat history not loading](https://github.com/microsoft/BotFramework-WebChat/issues/2396#issuecomment-530931579)

That is a solution that can be used. 🎉

Though the more optimal solution would be to retrieve the live token in the webchat.

[2020-02-13 00:00] compulim commented on #2820
@iwasn, do you think this PR #2894 will help you?

For example, you can override the localized strings to turn "Bot said" into "Alice said". But we cannot override it on a per activity basis, i.e. this bot activity will say "Alice said", the other bot activity will say "John said".

You can read more here.

https://github.com/microsoft/BotFramework-WebChat/blob/8afade3b8595a3af3bd2872ad14e50227ebe

[2020-02-13 00:21] scch1002 commented on #2899
I think the problem I had was understanding the documentation for the reconnect api and how that should be integrated with webchat.

[2020-02-13 00:44] EricDahlvang commented on #2899
There is actually a lot involved in "correctly" restoring WebChat to a previous state.  Some things to consider:

- The cache of messages provided by the Direct Line connector service are intended to be only for connection reliability, and not a conversation history store.  Activities are deleted after 24 hours.  So, even if you do reconnect to the existing conversation, this will only enable retr

[2020-02-13 01:04] scch1002 commented on #2899
My use case does not exceed 4 hours and I am only using the stored messages to maintain the conversation between page refreshes.

[2020-02-13 01:13] scch1002 commented on #2892
Ok, I will take a look at creating a custom markdown renderer.

I am also interested in the openInExistingWindow style option. :)

[2020-02-13 01:18] iwasn commented on #2820
This will suffice for our needs. Thank you!

[2020-02-13 02:17] EricDahlvang commented on #2899
Ok, good. The reconnect api should work.

Let us know if you run into issues.

[2020-02-13 02:17] #2899 closed

[2020-02-13 06:23] deenaMaistering commented on #2835
I am also facing a similar issue.

[2020-02-13 09:13] Bradrajkumar commented on #2619
hi Team,

still onclick on block button in popup and again clicking on mic button is vanishing the webchat.
here is the screnshot.
![Screenshot (18)](https://user-images.githubusercontent.com/34365788/74418931-2f4af780-4e6f-11ea-9aa7-4f4f62013374.png)
![Screenshot (19)](https://user-images.githubusercontent.com/34365788/74418939-3114bb00-4e6f-11ea-975f-3fbf4450f3c0.png)

[2020-02-13 10:36] jineshpg opened #2900 "Create react component for scrollToEnd custom button and add them to WebChat using a Composer"
I'd like to customize the ScrollToEnd button using the React component and composer in webchat. Right now I downloaded the BotFramework webchat code and modified the below file and its working. The same functionality I would like to implement using React component.

working code
------------------
import {
  StateContext as ScrollToBottomStateContext
} from 'react-scroll-to-bottom';

import classN

[2020-02-13 11:09] HesselWellema opened #2901 "Add groupAvatar to styleOptions"
When a bot needs to share a large chunk of information, I like to send it in short messages (with a typing indicator) to feed the information to the user in a gentle, natural way.

Currently I am able to not show the timestamp with every message. The Avatar however is shown with every message in one turn. It would be better if it is shown only with the last message of the bot.

Example:

![image](

[2020-02-13 15:25] AndrewNagulyak commented on #1427
+1

[2020-02-13 16:41] EdwinOtten commented on #2884
Hi, I'm replying on behalf of @CHuijsman (we're on the same team).

I have discussed this with our designers. We __don't__ expect the WebChat to scroll to the bottom of new message.

Our C# bot is currently at V4 and our WebChat is still on V3. And while we're still unsure about some smaller details*, our stakeholders require us to at least implement the 'improved scroll behaviour' that we current

[2020-02-13 17:21] corinagum commented on #2900
'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat tag](https://stackoverflow.com/questions/tagged/web-c

[2020-02-13 17:21] #2900 closed

[2020-02-13 22:22] compulim opened #2902 "RTL: Padding around typing indicator"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/74482963-59e68180-4e6a-11ea-8a36-140f75caaedb.png)

## Version

`corinagum/1976-RTL`

## Describe the bug

Typing indicator on RTL is not padded correctly.

## Steps to reproduce

1. Open Web Chat in RTL mode
1. Type `typing` to MockBot

## Expected behavior

![image](https://user-images.githubusercontent.com/1622400/744838

[2020-02-13 22:49] compulim opened #2903 "User side only button nub"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/74485500-c1530000-4e6f-11ea-8cd0-3246e8153f1d.png)

## Version

`corinagum/1976-RTL`

## Describe the bug

If only user-side bubble nub is enabled, it show weirdly.

## Steps to reproduce

[code]

Use this code to enable user-side bubble nub.

## Expected behavior

This is LTR, also buggy.

![image](https://user-images.gith

[2020-02-13 23:13] compulim opened #2904 "RTL: Bubble nub with border radius"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/74486968-2cea9c80-4e73-11ea-9127-17c0fdf030c7.png)

## Version

`corinagum/1976-RTL`

## Describe the bug

Bubble nub + border radius is not correctly set.

The border radius on the bubble nub corner is tuned to be smaller.

## Steps to reproduce

[code]

## Expected behavior

This is LTR.

![image](https://user-images.gith

[2020-02-14 01:01] hshahbaz commented on #1775
Has this issue been solved? @corinagum

[2020-02-14 01:02] hshahbaz commented on #1775
i am experiencing the same issue. I am saving user chat in a table and every time I get the User id hence it is difficult to differentiate between chats. I do not experience this issue if I use Direct Line

[2020-02-14 01:02] stevkan commented on #2901
Hi @HesselWellema, this is possible largely by manipulating the DOM directly. I should warn you that this is not recommended as future changes in Web Chat could result in changes to the surrounding Web Chat elements.

For this to work, you will be using Web Chat's `styleOptions` and `activityMiddleware`.

As you can see below, `styleOptions` is used to preserve the location and shape of the avatar

[2020-02-14 01:02] #2901 closed

[2020-02-14 03:31] corinagum opened #2905 "RTL fix: English files should display proper filename order"
## Screenshots

![image](https://user-images.githubusercontent.com/14900841/74498772-9203b980-4e96-11ea-9207-4972bafbb50f.png)

## Version
RTL

## Steps to reproduce

1. Turn on RTL
1. on Mock Bot: upload an image
1. currently, file is displayed as `png.filename`

## Expected behavior

files should be displayed like `filename.png` for English

[Bug]

[2020-02-14 05:19] #1976 closed

[2020-02-14 05:19] #2902 closed

[2020-02-14 05:19] #2903 closed

[2020-02-14 07:28] uppalapraveen commented on #2872
Thanks for the support Dana V...!

I have resolved the issue in other way by enabling the WebSocket as true.
Storing the conversation history in local storage and retrieving it back on some click events.

Its working for me perfectly..!

[2020-02-14 07:36] HesselWellema commented on #2901
Hi @stevkan,
Thank you! This looks pretty straightforward and  fun to implement.
One short question if you allow me: classes like "css-1gu5p96" look random to me. How are they created?

[2020-02-14 09:18] MatthiasGwiozda opened #2906 "Adaptive Cards doesn't render Input.Number - values"
## Screenshots
**Activity:**

![activity_card_field](https://user-images.githubusercontent.com/22172694/74517415-5b6b8480-4f12-11ea-989f-aa50fe9bb1b1.png)
**result:**

![inputField](https://user-images.githubusercontent.com/22172694/74517413-5ad2ee00-4f12-11ea-9b2d-36160090220d.png)

**expected result:**

![inputField_2](https://user-images.githubusercontent.com/22172694/74517649-cb7a0a80-4f12-11e

[2020-02-14 09:18] MatthiasGwiozda opened #3111 "Adaptive Cards doesn't render Input.Number - values"
## Screenshots
**Activity:**

![activity_card_field](https://user-images.githubusercontent.com/22172694/74517415-5b6b8480-4f12-11ea-989f-aa50fe9bb1b1.png)
**result:**

![inputField](https://user-images.githubusercontent.com/22172694/74517413-5ad2ee00-4f12-11ea-9b2d-36160090220d.png)

**expected result:**

![inputField_2](https://user-images.githubusercontent.com/22172694/74517649-cb7a0a80-4f12-11e

[2020-02-14 11:32] #2755 closed

[2020-02-14 11:32] #2871 closed

[2020-02-14 11:40] prashanthsridhar opened #2907 "How to use WEB_CHAT/STOP_SPEAKING"
Suppose i want to the bot to stop  talking  mid way based on flag. How do i trigger the WEB_CHAT/STOP_SPEAKING .

Additional info:
version :4.7
using it in Angular app

[2020-02-14 11:58] compulim commented on #2860
This is done in recent RTL PR #2890.

[2020-02-14 11:58] #2860 closed

[2020-02-14 19:12] clearab commented on #2562
We're currently tentatively targeting a fix for this in the R9 release.

[2020-02-14 19:52] tdurnford commented on #2906
@matthewshim-ms I was able to reproduce the issue in the latest version of Web Chat, and I confirmed that it doesn't repro in the Emulator. There were some changes to the Adaptive Card Renderer in v4.7.1 that may be causing the issue, but I'll have to investigate this issue further.

### Bot Framework SDK v4 (Node)
[code]

### Additional Context
Possibly related to https://github.com/microsoft/Ada

[2020-02-14 19:57] tdurnford commented on #2907
@prashanthsridhar You can dispatch a `'WEB_CHAT/STOP_SPEAKING`' action to Web Chat's Redux store to stop Web Chat from speaking.

### Web Chat v4
[code]

In the future, 'How to' questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with

[2020-02-14 19:57] #2907 closed

[2020-02-14 21:36] tdurnford opened #2908 "Error in useWebChatUIContext hook never gets thrown"
## Version
v 4.7.1

## Describe the bug
The `useWebChatUIContext` hook never throws an error if the context is `undefined` because the context has a default value and is never `undefined`.

#### useWebChatUIContext.js
[code]
#### WebChatUIContext.js
[code]

## Expected behavior
The error should be thrown when the hook is used outside of the scope of `Composer`.
[Bug]

[2020-02-14 21:52] v-kydela commented on #2898
@scch1002 - Has your issue been resolved?

[2020-02-14 22:15] turbozapekanka opened #2909 "Is there a possibility to send a conversationUpdate activity using webChat?"
I know I can send messages and events using webchat's store dispatch() method.
Is there a possibility to send conversationUpdate activity?

Any documentation available related to the webChat store features?

[2020-02-14 22:20] tdurnford commented on #2909
Take a look at https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/WELCOME_MESSAGE.md

[2020-02-14 22:20] #2909 closed

[2020-02-15 06:56] HesselWellema commented on #2427
+1

[2020-02-16 07:50] compulim opened #2910 "Test: Change timeout to 20s from 60s to fail faster"
## Feature Request

Most tests right now finish within 10 seconds and the maximum time is 13 seconds.

I think it make sense to lower it from 60s to 20s. So, if a test failed waiting for some elements, it will fail at 20s. If multiple tests are failing, we will see the result 3x faster.

![image](https://user-images.githubusercontent.com/1622400/74600992-b950b700-504d-11ea-8850-b6d06c48698f.png)

[2020-02-16 16:28] Bradrajkumar opened #2911 "Adaptive card rendered in webchat V4 needs to remove or update"
hi Team,

hope you are doing good. i need a feature to use in web chat for adaptive card.
here is the summary:-
1. user said "want to give feedback".
2. bot rendered an adaptive card in web chat for getting input from user.
3. user filled the values and clicked on submit.
4. now here what i am doing is like bot sending another new adaptive card with same values user have entered and asking for if

[2020-02-16 19:30] tdurnford commented on #2911
@Bradrajkumar Direct Line does not support currently support updating or deleting an Activity in the conversation. Take a look at https://github.com/microsoft/BotFramework-WebChat/issues/2426 for more details.

[2020-02-17 09:33] prashanthsridhar commented on #2835
Hi @stevkan please find sample to reproduce this issue here :
[https://github.com/prashanthsridhar/WebchatSample](https://github.com/prashanthsridhar/WebchatSample)
substitute the keys as required.
Once you are on localhost,click the "click me" button, say hi,click on it again to hide the chat window. Follow this three times. The third time the reply will be hello  voiced out three times

[2020-02-17 12:20] gparimala opened #2913 "Delete WebChat Channel using Azure CLI"
[Question]
I want to delete webchat channel using Azure CLI but unable to find any command, similar to az bot webchat or az bot webchat show.
Please help !
Thanks in advance

[2020-02-17 15:33] nt-7 commented on #2913
According to the followings, Azure CLI does not seem to have the feature to delete webchat channel yet.

- https://docs.microsoft.com/ja-jp/cli/azure/bot/webchat?view=azure-cli-latest)
- https://github.com/Azure/azure-cli/blob/56dc0661067496e28575bd9cd99eb7f362479a0c/src/azure-cli/azure/cli/command_modules/botservice/commands.py#L80

[2020-02-17 16:49] tdurnford commented on #2913
'How to' questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the Web Chat tag. Thank you!

[2020-02-17 16:49] #2913 closed

[2020-02-17 23:03] v-kydela commented on #2898
@pkrishnagithub - Has your issue been resolved?

[2020-02-18 09:51] sharat9211 commented on #2811
Looks like a straightforward issue, can I take it up?

[2020-02-18 09:55] snair123 opened #2914 "Speech delay"
Hi,
Experiencing a speech to text delay of  more than 4sec in our bot.
We are using https://microsoft.github.io/BotFramework-WebChat/03.speech/b.cognitive-speech-services-js/
![Error](https://user-images.githubusercontent.com/61184575/74724820-e4f8ba80-5262-11ea-832d-396dd0f37731.jpg)
 this approach.
Here the code is updated  to fetch the credentials that we are not currently following.  Please no

[2020-02-18 18:12] corinagum commented on #2910
As long as it doesn't cause more timeouts.. :/

[2020-02-18 18:56] #2911 closed

[2020-02-18 19:00] compulim commented on #2914
This is partly dupe of #2877, and #2916 is the PR to fix the sample.

For 4 seconds delay, can you investigate by looking at Network tab on the Dev Tools, see it is caused by network delays?

[2020-02-18 19:27] corinagum commented on #2811
@sharat9211 absolutely!! We would love your contribution. :D Feel free to leave comments if you have any questions for us.

[2020-02-18 20:24] greg-thrive opened #2917 "Exit Event / Welcome Event Not Firing"
Greetings,

We're trying to get some events/messages to post when a user exits a chatbot window (or the site) (or a welcome message), but so far the events are not firing.

I can see within Inspector tools:
![Screen Shot 2020-02-18 at 3 15 39 PM](https://user-images.githubusercontent.com/51711619/74774412-a57d9e80-5261-11ea-9240-24ad2cf43378.png)

Various activities/conversations are created, the

[2020-02-18 20:58] stevkan commented on #2917
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [BotFramework-WebChat](https://github.com/Microsoft/BotFramework-WebChat/) Github repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

Closing this issue, per the above. If you post your

[2020-02-18 20:58] #2917 closed

[2020-02-19 05:11] prashanthsridhar commented on #2835
Hi @stevkan ,any update on this issue?

[2020-02-19 05:16] thomas023 opened #2919 "How to Add Autosuggestion/Autocomplete in Bot framework Web-chat using React js?"
I want to implement autosuggestion whenever i type something to the input area of my web-chat. It should fetch data from my azure table. I'm using react js as my front end and .net core as back end to generate token and calling bot-framework web-chat to the front end. How to add autosuggestion to this?

[2020-02-19 07:56] Bradrajkumar opened #2920 "simple-update-In.production.min.js stops working."
hi Team,

i am very curious to know that all of a sudden this cdn link stops working and it is showing some kind of message while opening in browser.
here is the attached image: -
![Screenshot (22)](https://user-images.githubusercontent.com/34365788/74813270-2056c000-531b-11ea-879d-26472f42edfc.png)

even the example in github is giving 404 not found error for mockbot.
please help me out with this

[2020-02-19 09:15] iMicknl opened #2921 "Update README and clarify userID generation"
## Describe the bug
I have spoken to some people who faced the same problem where there user state was shared, because they just used the example from [README.md](https://github.com/microsoft/BotFramework-WebChat/blob/master/README.md#integrate-with-javascript). This example already states that `userID` is an optional parameter, however it doesn't clearly state that sharing user state is a securit

[2020-02-19 10:18] snair123 commented on #2914
Hi,

When we inspect network tab we observe the following result:

[cid:image001.jpg@01D5E73B.FD5B3F40]

Thanks & Regards
[cid:image002.gif@01D5E73B.FD5B3F40]

Sanju Nair | Client Serving Contractor | Advisory Digital  | Global Delivery Services
Ernst & Young Pvt Ltd
Drishya, KINFRA Film & Video Park, Sainik School , P.O , Kazhakuttom,  Thiruvananthapuram, Kerala 695585, GSS - India
Mobile: 899970

[2020-02-19 18:07] v-kydela commented on #2919
Hello @thomas023 - I understand that you'd like more help with this issue: https://stackoverflow.com/questions/60223610/how-to-add-autocomplete-autosuggestion-in-microsoft-botframework-webchat-using-r/60271292

I'm happy to help if you let me know what information you need that hasn't already been provided. If I've already answered the question and you have more questions, feel free to post more q

[2020-02-19 18:07] #2919 closed

[2020-02-19 18:09] corinagum commented on #2921
@iMicknl, thanks for the suggestion. I agree that this seems to be a common pain point so we should make the information readily available.

For now, I'm going to add this to our FAQ list, and I've assigned the issue to myself. This won't be a part of our current milestone, but hopefully I can get the docs updated soon!

[2020-02-19 18:14] sharat9211 commented on #2811
I went through the code & Readme and I am thinking, we need to explain the code contained in two files MinimizableWebChat.js and WebChat.js or just WebChat.js

[2020-02-19 18:43] carlosscastro commented on #2920
@tdurnford could you please take a look?

[2020-02-19 18:45] carlosscastro commented on #2675
@corinagum any updates on this one?

[2020-02-19 18:46] carlosscastro commented on #2850
@tdurnford @corinagum could you please update this issue? Thanks :)

[2020-02-19 18:47] murcinar commented on #2675
Thank you Chris, I really appreciate your help!

From: Chris Whitten <notifications@github.com>
Sent: Sunday, February 2, 2020 11:07 AM
To: microsoft/BotFramework-WebChat <BotFramework-WebChat@noreply.github.com>
Cc: Murat Cinar <Murat.Cinar@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/BotFramework-WebChat] Accessibility - PromptOptions not supporting alt text for i

[2020-02-19 18:49] tdurnford commented on #2920
@Bradrajkumar It appears to be working fine. Can you please check again and let me know if you are still experiencing the same behavior..

### Screenshot
![image](https://user-images.githubusercontent.com/17039790/74865049-63a63400-5305-11ea-986b-d33efc218541.png)

### Additional context
https://unpkg.com/simple-update-in/dist/simple-update-in.production.min.js

[2020-02-19 19:17] v-kydela commented on #2898
Closing due to lack of activity

[2020-02-19 19:17] #2898 closed

[2020-02-19 19:32] corinagum commented on #2675
Right now we are discussing internally whether or not adding an alt-text to the activity is a viable resolution. The alt-text would be used to add to the image `alt`, so therefore developers can differentiate between what is read by the screenreader if the img conveys information that is not in the button text.

@murcinar 's use case is a good example, where there is no button text, but the upvote

[2020-02-19 19:55] corinagum commented on #2669
I am considering using an access key to accommodate this a11y deficiency. I will summarize in bullets to be as concise as possible:

-  [Access keys](https://www.w3schools.com/jsref/prop_html_accesskey.asp) allow for focusing on specified DOM elements.
- An example string that the screenreader would announce would be: "There are new messages available. Press Alt + f to respond."
- This is cross-br

[2020-02-19 20:04] compulim commented on #2914
@snair123, could you post the attachment on GitHub.com? GitHub couldn't pick up your attachments when replied via email.

[2020-02-19 20:12] compulim opened #2923 "Download file hyperlink should have "download" attribute"
## Feature Request

When downloading a file, we could use the `activity.attachment[].name` as the filename.

[code]

![image](https://user-images.githubusercontent.com/1622400/75573637-149d8480-5a12-11ea-8838-ed3c77218d82.png)

[Enhancement]

[2020-02-19 20:22] #2877 closed

[2020-02-19 21:05] #2845 closed

[2020-02-19 21:22] vksantoshsunny opened #2924 "Z-index not working when deployed on to a dynamics web portal"
## Screenshots

![image](https://user-images.githubusercontent.com/26269568/74877600-95cd9980-53ca-11ea-93f1-176e043e3102.png)

As per the screenshot the chat component is not on top of the footer. I have checked the z-index if thee are any and none of the components on the dynamics 365 portal have a z-index. Not sure how the bot component end up behind the other components.

[2020-02-19 21:31] compulim commented on #2924
Web Chat don't use `z-index`. We are a component and we are forbidden to use something that cannot be scoped in the container, e.g. `z-index` and `tabindex` are both forbidden to us.

[2020-02-19 21:31] #2924 closed

[2020-02-19 21:36] #2756 closed

[2020-02-19 22:16] #2757 closed

[2020-02-20 00:30] compulim commented on #2923
Planning for R9.

[2020-02-20 05:07] Bradrajkumar commented on #2920
no thank you @tdurnford it starts working after 5 mins when i raised the issue.

[2020-02-20 05:07] #2920 closed

[2020-02-20 05:17] Bradrajkumar opened #2925 "Speech service is giving error"
hi team,

i don't know why this unexpected behavior i am facing in speech service.
here is the screenshot for the same:-
![Screenshot (23)](https://user-images.githubusercontent.com/34365788/74902859-5785a980-53cd-11ea-9d90-625d15b0ba4b.png)
clicking on mic is giving this error on chrome in normal mode and in incognito mode and on edge also.
i am using the es5 bundle of webchat.js file. Even also

[2020-02-20 05:37] prashanthsridhar commented on #2925
Have you used this
`this.audioConfig = this.speechSDK.AudioConfig.fromDefaultMicrophoneInput();`

[2020-02-20 05:53] prashanthsridhar opened #2926 "Speech is echoed when implemented with angular"
## Screenshots

Multiple calls being made to the custom speech endpoint
![image](https://user-images.githubusercontent.com/11289456/74904490-f1e7ec00-53d1-11ea-9814-fbbc04905a97.png)

## Version

Using webchat.js 4.7.0
Using it in angular

## Describe the bug

The output speech is getting echoed when the component is

## Steps to reproduce

activities call to /v3/directline/conversations
and multi

[2020-02-20 06:11] Bradrajkumar commented on #2925
here is the code snippet i am using : -

![Screenshot (24)](https://user-images.githubusercontent.com/34365788/74906072-eb5b7380-53d5-11ea-9a75-a604c878c0f6.png)

[2020-02-20 06:43] prashanthsridhar commented on #2925
i had a similar problem but then i realized my system mic was faulty. Check if the mic is properly setup.
This might be the issue.

[2020-02-20 06:58] v-madhal opened #2927 "Sending the ChannelData with postActivity method from JavaScript"
Hi,
I am using the Bot WebChat V3 version in my project. I am getting an exception in of of my scenario where BOT receives the ChannelData as null from the webchat framework from the JavaScript file. After doing a lot of analysis, I came to know that WebChat is not sending the channel specific data to the bot framework and hence the scenario is failing.

So I simply want to get existing ChannelDat

[2020-02-20 07:05] thomas023 commented on #2919
Hi kyle, for your understanding please find the code i used for React, that is attached above with the question. What i'm trying is to implement autosuggestion whenever i type something to the input area of my web-chat. It should fetch data from my azure table. I'm using react js as my front end and .net core as back end to generate token for calling bot-framework web-chat to the front end. The bo

[2020-02-20 15:10] gsoper78 opened #2928 "Inconsistant behaviour when submitting question while bottom of chat not visible."
## Version
4.7.1 CDN IE11 compatible version

## Describe the bug

Submitting a question by typing enter / return while the bottom of the chat is not visible causes the chat to scroll to the bottom of the chat and the new answer. Submitting a question by pressnig the submit icon while the bottom of the chat is not visible does not causes the chat to scroll to the bottom of the chat and the new ans

[2020-02-20 16:58] tdurnford commented on #2928
@gsoper78 You are correct - the behavior between pressing the send button and using the enter key to send activities to the bot is inconsistent, and I agree that both should scroll the transcript to the bottom of the conversation. To align the differing behaviors, the `SendButton` should use the `useTextBoxSubmit` hook which sends the message to the bot, scrolls the conversation to the end, and fo

[2020-02-20 17:22] v-kydela commented on #2919
No, there is not. Please refer to the linked issue for more information.

[2020-02-20 17:29] corinagum commented on #2928
I would just want to make sure this change is tested on both mobile OS's. We've made changes in the past related to the sendbox/submit actions for mobile but don't have the ability to test the behavior right now.

Both submitting via send button and return should have behavior where (if the keyboard is closed), the keyboard either opens in an understandable way or doesn't open. We don't want the k

[2020-02-20 17:45] corinagum commented on #206
Second bullet will be resolved with https://github.com/microsoft/BotFramework-WebChat/pull/2922

[2020-02-20 17:45] stevkan commented on #2925
@Bradrajkumar, did the suggestion from @prashanthsridhar fix your issue?

To be clear, the `AudioSourceErrorEvent` error is produced from within Cognitive Services Speech which Web Chat utilizes, but does not own. It seems to suggest, as mentioned in the attached image, a device error on your machine.

[2020-02-20 17:47] corinagum commented on #1571
Closing as resolved; will be released mid-March.

[2020-02-20 17:47] #1571 closed

[2020-02-20 18:23] Bradrajkumar commented on #2925
I got it ... my bad.... I was using faulty microphone.

On Thu, 20 Feb 2020, 11:15 pm Steven Kanberg, <notifications@github.com>
wrote:

[2020-02-20 19:10] #2925 closed

[2020-02-20 21:15] stevkan commented on #2835
Hi @prashanthsridhar, I was able to repro using your code and I believe the issue is your inclusion of two properties that shouldn't be supplied.

In both `speechToTextPonyfillFactory` and `textToSpeechPonyfillFactory` you only need to pass in the `subscriptionKey` and `region`. If you look at the available properties able to be passed in (see [here](https://github.com/microsoft/BotFramework-WebCh

[2020-02-20 21:15] #2835 closed

[2020-02-20 21:23] stevkan commented on #2926
Hi @prashanthsridhar, please see the proposed solution in issue #2835. It should fix the issue you are experiencing. If not, please continue the conversation in that thread.

Thanks.

[2020-02-20 22:10] turbozapekanka opened #2930 "WebChat does not pass locale property with conversationUpdate activity"
## Screenshots
![image](https://user-images.githubusercontent.com/20775323/74983216-389e0c00-53fb-11ea-904c-de02c933f1ea.png)

## Version
CDN 4.7.1

## Describe the bug
Locale property is set to null for conversationUpdate activity being sent to the bot. This results in welcome message being displayed in default language, instead of the language being passed to WebChat.createDirectLine:

[2020-02-21 01:07] tdurnford commented on #2930
@turbozapekanka The Direct Line Connector Service is responsible for sending the conversation update event to the bot when the conversation is established, and unfortunately, when the service sends the conversation update event it does not have access to the locale.

I would recommend sending a backchannel welcome event when the Direct Line Connection is fulfilled and sending the welcome message f

[2020-02-21 01:07] #2930 closed

[2020-02-21 02:30] turbozapekanka commented on #2930
@tdurnford looks like a workaround.
Why not pass the locale over to the Direct Line Connector Service?

[2020-02-21 05:24] prashanthsridhar commented on #2835
Hi @stevkan the link you provided has those properties as seen below

![image](https://user-images.githubusercontent.com/11289456/75006562-28883a00-5498-11ea-9c73-f657dac0a471.png)

Moreover the issue exists even after removing those properties.

Please reopen the issue.

[2020-02-21 05:29] prashanthsridhar commented on #2926
Hi @stevkan  @tdurnford , the solution provided does not solve the issue.
Removing speechRecognitionEndpointId and speechSynthesisDeploymentId from the code basically means no custom voice and custom speech. As provided in the additional context in the bug details we are using both. Even after removing the said properties the bug exists.

[2020-02-21 07:44] Bradrajkumar opened #2931 "data storage in browser for webchat"
hi all,

i want to know that is there any store where the conversation is saving in webchat internally or in background.
i am asking this question because i have a situation which is explained below:-
1. i am rendering the adative card with extra parameter in card which will be hidden.
2. i have validation in adaptive card and checking it all values are correct if user is submitting the fields to

[2020-02-21 18:14] bisercic89 opened #2933 "Issue with hero card template and message back action - missing display text in chat"
## Version

Version 01.getting-started/a.full-bundle -  Full Bundle Demo - localhost
(google chrome - Version 80.0.3987.116 (Official Build) (64-bit) browser)

name="botframework-directlinespeech:version" content="4.7.1"
name="botframework-webchat:bundle:variant" content="full"
name="botframework-webchat:bundle:version" content="4.7.1"
name="botframework-webchat:core:version" content="4.7.1"
name=

[2020-02-21 18:24] tdurnford commented on #2930
@turbozapekanka Correct, this is a workaround. Fixing this would require a change to the [BotBframework Services](https://github.com/microsoft/botframework-services), I don't believe they have this as a priority on their timeline.

[2020-02-21 18:54] corinagum commented on #2497
Checking this code on latest, I am seeing on Android that the arrows no longer appear when unnecessary for suggested actions. Feel free to try out our latest `webchat.js` to test, and if you are having any further problems, please comment here. Thank you!

[2020-02-21 18:54] #2497 closed

[2020-02-21 19:04] corinagum commented on #2933
@bisercic89 Thank you for the detailed report. I am reviewing your content now and will get back to you shortly.

[2020-02-21 19:52] corinagum commented on #2933
Related to #1582

[2020-02-21 20:01] compulim commented on #2933
This is a bug we should fix, will triage.

IMO, this is different than #1582, because that bug talks about "switching from `postBack` to `messageBack`". But this bug talks about "the `messageBack` behavior is incorrect".

[2020-02-21 20:02] compulim commented on #1582
Sorry, this is still in backlog because of prioritization.

If you know anyone who are interested in this feature, please vote on this one. It will definitely bump up the priority.

[2020-02-21 20:04] corinagum commented on #2933
I've added this as a triage item to discuss what milestone we'll be able to address this.

[2020-02-21 21:30] EricDahlvang commented on #1582
The following statement is confusing to me:

From https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md#message-back

Adaptive Cards have no concept of 'text response'.  Depending on how an AdaptiveCard is defined, the Action.Submit will send a message to the bot where the activity.Value is either a json object, or a string:
![image](https:/

[2020-02-21 23:06] attozk commented on #814
+1

[2020-02-22 10:33] compulim opened #2937 "Telemetry: add measurements"
## Feature Request

Count how many instance of Web Chat has customized the following properties:

- `activityMiddleware`
- `activityStatusMiddleware`
- `attachmentMiddleware`
- `cardActionMiddleware`
- `toastMiddleware`
- `styleOptions`

[Enhancement]

[2020-02-22 10:38] compulim opened #2938 "Test reliability chores"
## Upgrade Selenium

### `chrome.dockerfile`

[code]

### `docker-compose-wsl2.yml`

[code]

## Unreliable tests

### `__tests__/html/newMessageButton.tabOrder.js`

[code]

<details>
<summary>Click to show screenshot</summary>

![image](https://user-images.githubusercontent.com/1622400/118035669-5fa66d80-b320-11eb-8b1c-00dd40b10a64.png)

</details>

### `__tests__/html/carousel.navigation.tab.card

[2020-02-24 03:21] compulim opened #2939 "OC: Timestamp and avatar grouping (Jul 1)"
## Feature Request

Currently, timestamp grouping is based on `nextVisibleActivity` (the activity rendered below the current one). For example, if the next visible activity fall into the same timestamp group (e.g. within 5 minutes of each other), only one timestamp will be shown.

Avatar is more-or-less the same, but it requires `prevVisibleActivity` (the activity rendered above).

Today, the acti

[2020-02-24 05:14] prashanthsridhar commented on #2926
Hi @stevkan @tdurnford ,this has been an issue for us for more than a month.Can you please confirm if this issue exists in webchat.

[2020-02-24 12:47] priyanka-shetty commented on #2926
I am facing something like this as well. It started behaving like this sometime in january.

[2020-02-24 15:07] nvikey opened #2940 "Normal https://webchat.botframework.com stopped working in IE 10. syntax error webchat-es5.js"
I am using sdk v4 bot embedded in sharepoint 2016 page using iframe webchat https://webchat.botframework.com/embed/.......... url. It stopped working in IE 10. I remember it worked before 3 weeks. Please help as we put the bot in production.

[2020-02-24 16:53] stevkan commented on #2931
The short answer is no. Web Chat does not have a data storage layer that would, specifically, meet your needs. If you are using the React-based flavor (`window.ReactDOM.render()`), it is possible to utilize some React state management controls, but only within a React component. Not as part of the overall web application.

I think you would best be served by posting this question on [Stack Overflo

[2020-02-24 16:53] #2931 closed

[2020-02-24 18:11] Tiger519 commented on #2772
@tdurnford This has gotten me closer to replicating the "old" (non-gemini) webchat adaptive cards, but I still can't figure out how to get a few things the same. I can't get the gray background around the container back, and I can't make the buttons interactive (border changing to blue). Are there settings available, either in adaptiveCardHostConfig or styleOptions, that would allow me to replicat

[2020-02-24 18:22] tdurnford commented on #2772
@Tiger519
'How to' questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the Web Chat tag. Thank you!

[2020-02-24 18:42] dmvtech commented on #2940
Are there errors in the browsers developer tools console? If so, can you please share those?

[2020-02-24 18:52] nvikey commented on #2940
The error was one line.
Syntax error at webchat-es5.js

[2020-02-24 19:11] compulim opened #2941 "Doc: Add docs/*.md to /README.md"
## Feature Request

Add references of `docs/*.md` to root `README.md`:

- `LOCALIZATION.md`
- `NOTIFICATION.md`
- `TELEMETRY.md`

[Enhancement]

[2020-02-24 19:41] compulim opened #2942 "Typing indicator should not show up on oneself"
Probably related to recent typing indicator PR #2912.

## Version

`master` as of today.

## Describe the bug

When `sendTyping` is set to `true`, the typing indicator should not show up for oneself.

## Steps to reproduce

1. Go to https://microsoft.github.io/BotFramework-WebChat/05.custom-components/b.send-typing-indicator/
1. Type something

## Expected behavior

The typing indicator should not

[2020-02-24 23:28] tdurnford commented on #2942
@compulim I don't believe there is an issue with the typing indicator. The `echo typing` command makes Mock Bot echo typing activities sent from the user, so the typing activities that are being displayed are for the bot - not the user. If you set `sendTypingIndicator` to true and don't send the the `echo typing` command, the typing indicator is not displayed when the user types.

It should be not

[2020-02-25 10:55] biohazard999 commented on #814
@attozk it wasn't that hard to implement after all:
Share the DL token between users and bot.
Use some trickery about username and initials (the initials portion could come from a bot middleware, but i implemented it by fetching the initials via http
Implement a middleware and do some basic css hacking, voliâ

`ChatWindow.tsx:`

[code]

[2020-02-25 11:25] prejeanb commented on #2497
![image](https://user-images.githubusercontent.com/31588178/75243243-85853800-5797-11ea-95ce-e82152b7e1cb.png)

It looks like this is still occurring based on the screen above from an android device

[2020-02-25 19:22] cwhitten commented on #2884
Hi @CHuijsman. I like your proposal. I will work with @compulim and team to formalize this API. Realistically we'd be looking at a May '20 or August '20 release that introduces this behavior.

[2020-02-25 19:23] cwhitten commented on #2892
Hi @scch1002. `openInExistingWindow` style option seems totally reasonable. I'll work with the team to formalize this API. Realistically we'd be looking at a May '20 or August '20 release that introduces this behavior.

[2020-02-25 20:27] compulim opened #2944 "Add new languages to embed/locale.js"
## Feature Request

We may need to update [embed/locale.js](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/embed/src/locale.js) after adding 21 new languages:

- `toAzureLocale`
   - Redo `zh-*` by doing the following
      - `yue` to `zh-hant.zh-hk`
      - `zh-Hans` -> `zh-hans.zh-cn`
      - `zh-Hans-SG` to `zh-hants.zh-sg`
      - `zh-Hant` to `zh-hant.zh-tw`
      - `z

[2020-02-25 20:31] compulim commented on #2820
@iwasn, #2894 is merged! It should fix this issue.

You can read this doc on how to override the string, https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/LOCALIZATION.md#overriding-localization-strings.

Please open a new issue if it doesn't work for you. 😉

[2020-02-25 20:31] #2820 closed

[2020-02-25 20:45] compulim commented on #2904
Will be fixed in PR #2943.

[2020-02-25 20:51] compulim commented on #2881
Will be fixed in #2943.

[2020-02-25 21:05] compulim opened #2945 "Notification toast expander overlapped"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/75287487-4d99e700-57cf-11ea-964e-b0b3486e138b.png)

![image](https://user-images.githubusercontent.com/1622400/75287542-65716b00-57cf-11ea-898b-64e24e2c6d84.png)

## Version

`master` as of today.

## Describe the bug

The notification should have `min-height: 32px` instead of `height: 32px`.

## Steps to reproduce

1. Add

[2020-02-25 22:34] compulim opened #2946 "Internationalization: sr-Cyrl.json should be sr-Cyrl-CS.json"
## Version

`master` as of now. Targeting R8.

## Describe the bug

The strings from localization team use `sr-Cyrl-CS.json` instead of `sr-Cyrl.json`. We should use the correct JSON file.

Related files:
- `he-IL.js` to be removed
- `sl-SI.json` is the correct name, `sl-SL.json` to be removed
- `sr-Cyrl-CS.json` is the correct name, `sr-Cyrl.json` to be removed
- `sr-Latn-CS.json` is the correct

[2020-02-26 01:13] #2754 closed

[2020-02-26 01:18] compulim commented on #2804
I am looking at this one now.

[2020-02-26 02:32] compulim commented on #2804
I repro it. 🤔

[2020-02-26 02:40] compulim commented on #2804
`botframework-webchat` call `jsonwebtoken`, which call `jws`, which call `jwa`.

`jwa` call Node.js `crypto`, which Webpack auto-polyfilled with `node-libs-browser`, thus calling `crypto-browserify`, which call `browserify-sign`. And fail from there.

[2020-02-26 03:20] compulim commented on #2804
Nailed it!

In your `webpack.config.js`, your `.json` module resolver is loading files thru `file-loader`. It should be loaded from `json-loader`.

Since JSON files are not loaded properly, [this line in `browserify-sign`](https://github.com/crypto-browserify/browserify-sign/blob/master/browser/index.js#L7) will not load the `algorithms.json` properly.

You can look at the repro with the fix at ht

[2020-02-26 03:20] #2804 closed

[2020-02-26 05:43] DevikaLakshmeesha opened #2947 "directline Ajax call Not working only for Safari"
Hi all,

here is how i am using webchact ajax call to get token

step1:- doing ajax call to get token
const res = await fetch('https://directline.botframework.com/v3/directline/tokens/generate', {
        method: 'POST',
        headers: {
          'Authorization': authorization
        }
      });

here i am able to get the token in all the browsers except safari . I tried adding cache:false, wi

[2020-02-26 06:20] prashanthsridhar commented on #2744
Hi @compulim ,i am using webchat in angular, is there a way to stop in angular?

[2020-02-26 11:30] nvikey commented on #2940
Please help. I checked below code too. It still did not work. My production bot is impacted. I want to work in IE 10.

<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="X-UA-Compatible" content="IE=10">
      <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"/>
	  <script src="https://cdn.botframework.com/botframework-webchat/4.2.0/webchat-es5.js"/>
   </head>

[2020-02-26 11:44] compulim commented on #2655
I have repro-ed the issue in test and found the main cause in this code instead, `detectSlowConnectionSaga.js`.

The code did not take account into `RECONNECT_FULFILLED` or `RECONNECT_REJECTED`.

I am working on a proper fix and test case.

[code]

[2020-02-26 13:00] #2655 closed

[2020-02-26 13:31] ashokduddukuri opened #2948 "MockBot URL's are broken and interlinking of samples are broken"
References to Mockbot is broke in several samples.
Interlinking of samples are also broken.

This is one of the sample, the links are broken:
https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api/e.piping-to-redux

[2020-02-26 17:55] corinagum commented on #2948
Yep - I found the same this morning. Investigating the cause.

[2020-02-26 17:59] corinagum commented on #2948
@ashokduddukuri I'm not finding a repro of the interlinking samples being broken. The link you provided works for me. Could you send another interlinking sample that's not working?

[2020-02-26 18:55] ksuchy commented on #2940
Running into the same issue. Getting similar syntax error / exception in console logs as nvikey. Please help as this is impacting production.

[2020-02-26 19:02] corinagum commented on #2948
for the github pages samples, I am rerunning the CD as it failed this morning ~3am PST

[2020-02-26 19:42] corinagum commented on #2947
'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat tag](https://stackoverflow.com/questions/tagged/web-c

[2020-02-26 19:43] #2947 closed

[2020-02-26 22:19] compulim commented on #2669
Also, please contact localization team as they have concern on using `accesskey` attribute.

[2020-02-26 22:21] compulim commented on #2948
Thanks for reporting. Instead of re-run, I re-created a new CD and it should be fixed.

I am expecting it may fail again next week. Please keep the log by re-creating a new CD, so we can look at the log. Re-run will overwrite the log.

[2020-02-26 22:21] #2948 closed

[2020-02-26 22:50] #2942 closed

[2020-02-26 22:51] jbgh2 opened #2951 "Hosted MockBot speech service samples don't work on Chrome 80"
## Version

Following the link to the hosted example on GitHub.

## Describe the bug

The hosted MockBot example links in examples b,c and d don't work on Chrome 80 on Windows 10.

Clicking on the microphone icon causes it to briefly flash but no speech is detected.

## Steps to reproduce

1. Open Chrome 80 on Windows 10
2. Follow link to MockBot: https://microsoft.github.io/BotFramework-WebChat/0

[2020-02-27 01:06] iwasn commented on #2820
@compulim Is a new version with this change ready to be consumed?

[2020-02-27 01:47] compulim commented on #2820
It is in daily development build now, https://github.com/microsoft/BotFramework-WebChat/releases/tag/daily. This build is not thoroughly tested on browser other than Chrome.

We are planning to release Web Chat 4.8 on early March.

[2020-02-27 02:58] compulim commented on #2951
Thanks, will take a look at that.

I loaded Web Chat 4.7.1 on a page outside of the sample and it works. I am guessing something on the page itself.

[2020-02-27 03:40] compulim opened #2953 "DLSpeech: Should not error out if bot did not send "speak" property,"
## Version

`4.7.1`

## Describe the bug

When bot did not send an activity with speak property, DLSpeech channel will not send the WAV stream. Web Chat or Speech SDK should handle this scenario.

## Steps to reproduce

1. Connect to MockBot
1. Say "tell me a story"
   - The returned activity does not have `speak` field set

## Expected behavior

Web Chat will not synthesize the activity without "

[2020-02-27 03:52] nathanlindorff commented on #1582
Our use case is to trigger an action based on the button clicked. We would like the value of the button output to the transcript as though the user had typed it (eg, look like an imBack), but send an object value (eg a postback) to the bot so that we can jump directly to an intent without having to pass it to LUIS to reclassify (We already know the intent).

We are currently migrating one of our v

[2020-02-27 06:49] ashokduddukuri commented on #2948
@corinagum

- proceed to the link for overview section - https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api/e.piping-to-redux#overview
- All the links referring to other sample are broken, you can validate it by clicking on `06.recomposing-ui/a.minimizable-web-chat`

[2020-02-27 07:29] compulim opened #2954 "Test reliability: offline MockBot randomize activity order"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/75421654-9ba60c00-58ef-11ea-8de5-360a48850173.png)

## Version

Not production code.

## Describe the bug

Activity timestamped on bot/user activity could be the same and lead to randomized activity order.

## Steps to reproduce

1. Run Docker
1. Browse to http://localhost:5080/
1. Type 1, 2, 3 successively

## Expected beh

[2020-02-27 08:48] snair123 commented on #2914
Hi,

When we inspect network tab we observe the following result:
<img width="947" alt="SpeechNetwork" src="https://user-images.githubusercontent.com/61184575/75427199-0c8b0980-596c-11ea-9277-1313e423232b.PNG">

[2020-02-27 13:05] nvikey commented on #2940
I got to know something from F12 -> Network in IE browser.

All urls from botframework.com like conversations, acitivity, js and css files are getting redirected to something called gateway.zscloud.net. I donno what it it is or is it related to bot?

If it is some proxy, does botframework.com support request from such proxies?

![redirect2](https://user-images.githubusercontent.com/30201557/754475

[2020-02-27 17:09] corinagum commented on #2948
@ashokduddukuri, thanks for the extra info. I'll get a quick fix out today.

[2020-02-27 18:02] #2945 closed

[2020-02-27 18:08] dmvtech commented on #2940
Webchat is not supported with IE10. Per Bill's answer [here](https://stackoverflow.com/questions/60378733/normal-https-webchat-botframework-com-stopped-working-in-ie-10-syntax-error-w), you can try and host your own build of webchat (es5) and to see if you can remedy/workaround the issue. Additionally, you can message @p-nagpal to put your bot in as an exclusion to see if that would remedy the iss

[2020-02-27 20:23] EricDahlvang commented on #1582
Hey @nathanlindorff

Thank you for this explanation.  It is much clearer to me now.

However, I'm wondering if the place for this feature to originate would be better in the adaptive cards repository?   or a BotBuilderSDK/AdaptiveCards integration library?  It seems there should be changes either in the AdaptiveCards spec (to support different SubmitAction behavior) or the BBSDK, to flag Adaptive

[2020-02-27 22:10] #2946 closed

[2020-02-27 22:35] p-nagpal opened #2956 "[Webchat/Emulator][Customer Reported] If a CardAction of type MessageBack doesn't have the value property initialized the button is not clickable"
## Version

4.6.0 but also reproduces with the version in latest emulator.

## Describe the bug

A customer has reported an issue in WebChat/Emulator, where if a CardAction of type MessageBack doesn't have the  value property initialized (value is null) the button is not clickable (no action when clicked). Since some channels do not expect object types (such as Facebook), we encourage developers t

[2020-02-27 22:57] tdurnford commented on #2906
@MatthiasGwiozda @tsuwandy

Web Chat v4.6.0 took a dependency on Adaptive Cards v1.2.0 which supported using a number for the input value. Web Chat has since updated to Adaptive Cards v1.2.4 which per https://github.com/microsoft/AdaptiveCards/issues/3287#issuecomment-548552338 now requires all values to be a string. In theory, converting the value from a number to a string in the bot should work

[2020-02-27 23:13] compulim commented on #2560
Working on this one now. Repro on 4.7.1 and latest Angular@8.2.14.

[2020-02-27 23:14] compulim commented on #2951
Quick fix, line 83 of https://github.com/microsoft/BotFramework-WebChat/blob/master/samples/03.speech/b.cognitive-speech-services-js/index.html#L83.

[code]

tl;dr, `region` must be a `string`, cannot be a `Promise`.

[2020-02-27 23:59] compulim opened #2957 "Angular: Cognitive Services Speech Services does not work on Angular"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/75497579-807fde80-5979-11ea-85ad-7e004b221718.png)

## Version

`4.7.1`

## Describe the bug

Angular/zone.js polyfilled `defineProperties` with a bugged version, [their bug](https://github.com/angular/angular/issues/31750).

## Steps to reproduce

1. Use the Angular sample with speech
1. Click on microphone button and say

[2020-02-28 00:03] compulim commented on #2560
This bug is same as the one mentioned in our FAQs (#1961), i.e. speech will fail on Web Chat 4.6 when running under Angular, due to an unresolved bug in Angular that opened since 2016.

I have create a new bug with workaround steps, along with background and "how to fix".

Please follow the workaround steps in #2957.

[2020-02-28 00:03] corinagum commented on #2956
I'm confused. The spec says that value may be of any type. Does sending a string in the value not work?

[2020-02-28 00:12] compulim opened #2958 "Sample: Customizing Adaptive Cards Host Config"
## Feature Request

Currently, we don't have a sample to customize AC host config.

A bit hacky now, we should expose `createDefaultAdaptiveCardHostConfig` just like `createStyleSet`.

[code]

[Enhancement]

[2020-02-28 00:16] compulim commented on #2906
Agree, this sounds like bug on the channel, not Web Chat.

[2020-02-28 01:41] hshahbaz opened #2959 "Bot using IFrame stopped working suddenly. Throws Operation returned an invalid status code error"
SDK: v4
platform: .net core 2.2
Channels: Webchat (both directline and Iframe)

I have a chat bot that was working fine till 2 days ago.  I am using web chat with both DirectLine and Iframe implementation covering different scenario. The web page where I have embedded the bot through IFrame is throwing the above error.

I have customized the webchat by following this:[https://stackoverflow.com/que

[2020-02-28 02:53] p-nagpal commented on #2956
Hi @corinagum, thank you for help. We found that sending in a string in the value works. However sending in a 'null' or uninitialized value does not (the button is not clickable).

[2020-02-28 03:02] compulim commented on #2926
I am trying out Web Chat 4.7.1 + Angular 8.2.14, no Custom Speech.

![image](https://user-images.githubusercontent.com/1622400/75506632-77037000-5993-11ea-88aa-075337b6031c.png)

Is it related to Custom Speech?

[2020-02-28 03:11] compulim commented on #2956
We tried in Web Chat with:
- `CardAction` in suggested actions
- `text` set to a string
- `value` is null

And it works.

Repro:
- Type `suggested-actions` with MockBot
- Click the very last suggested action, named "Message back as string with display text"

![image](https://user-images.githubusercontent.com/1622400/75507060-d1e99700-5994-11ea-9a60-34a39cc4d024.png)

![image](https://user-images.g

[2020-02-28 03:21] prashanthsridhar commented on #2926
I don't think it's related to custom speech, because when I tried after removing the keys, it was reproduced in the default tts

[2020-02-28 03:25] prashanthsridhar commented on #2926
Please check the repo mentioned in the description for easily reproducing the issue.

[2020-02-28 06:53] compulim opened #2961 "4.8.0 Release checklist"
# Checklist

## Build

1. [x] ~Bump to Bot Framework SDK release 4.8.0 RC~
   - https://botbuilder.myget.org/feed/botbuilder-v4-js-daily/package/npm/botbuilder
   - We are releasing 4.8 before SDK cut RC build
1. [x] Update `CHANGELOG.md` to mark specific changes in `4.8.0`
1. [x] Run `npm version --no-git-tag-version 4.8.0`
   - [x] Merged into `master`, the PR number is #2981
   - Commit is `f15

[2020-02-28 06:54] compulim opened #2962 "4.8.0 Post-release checklist"
These are chores that we should do before starting the cycle to reduce ripple effects if we do it in mid-cycle.

Tips:

- Clean your repo before start
- Remove node_modules from all folder
   - `git clean -fdx`
- Never delete `package-lock.json	`
- If you mess it up, tableflip and redo
- In `component/package.json`
   - Remove reference to `botframework-webchat-core` by hand-modifying `package.jso

[2020-02-28 12:17] nvikey commented on #2940
Yes, webchat iframe works without issue in IE 11.

Other channels like directline channel does not work for us, because conversation & other cdn files from botframework domain are not working with zscaler proxy in our organization. Does botframework urls support zscaler proxy?

![redirect2](https://user-images.githubusercontent.com/30201557/75547895-f5bee280-5a51-11ea-902e-8a23d3d76492.PNG)

[2020-02-28 13:23] Mangopony commented on #2426
Any news on this?

[2020-02-28 18:25] compulim commented on #2926
![image](https://user-images.githubusercontent.com/1622400/75575134-69da9580-5a14-11ea-8e65-7966fe2ef516.png)

@prashanthsridhar still didn't see it from your repo.

I didn't enable Custom Speech and custom voice font. It will take us some time to setup because we don't have any sample models.

Can you verify if it is Custom Speech or voice font?

[2020-02-28 18:32] corinagum commented on #2956
@p-nagpal please provide customer code.

[2020-02-28 18:43] hshahbaz commented on #2959
**UPDATE:**

Emulator shows me this message:

![image](https://user-images.githubusercontent.com/32860200/75577557-14ec4e80-5a17-11ea-839c-1dafbeb60023.png)

[2020-02-28 19:18] compulim commented on #2923
![image](https://user-images.githubusercontent.com/1622400/75580112-094f5680-5a1c-11ea-9efa-4d2334e1aa8c.png)

Looks like `download` attribute isn't working, tested on Edge Anaheim.

[2020-02-28 19:30] #2560 closed

[2020-02-28 21:04] #2923 closed

[2020-02-28 21:25] bwamie commented on #2956
Fails if you send it as an attachment (HeroCard button)

[code]

[2020-02-28 21:42] compulim commented on #2956
## Screenshot

![image](https://user-images.githubusercontent.com/1622400/75589415-8a641900-5a2f-11ea-9cc5-89edc9d5ded8.png)

The bug is in this code, it didn't send `text` field.

## Technical background

Hero card is rendered thru `AdaptiveCardBuilder`, which turn into an Adaptive Card for visualization only (not logic, i.e. not submit).

For data submission, since AC only support `Action.Submit

[2020-02-28 21:50] compulim commented on #2211
Punting this to R9.

[2020-02-28 22:11] DesignPolice commented on #2211
Thanks @compulim - I think we will need to do some testing on how best to do this, given the number of different settings that WebChat is used.

[2020-02-28 22:29] #2856 closed

[2020-02-29 01:06] #2857 closed

[2020-02-29 01:06] #2881 closed

[2020-02-29 01:06] #2904 closed

[2020-02-29 02:51] #2944 closed

[2020-03-01 02:01] compulim opened #2966 "Toast: Collapsed toast should clip at 2 lines"
## Screenshots

This is the figma for the design.

![image](https://user-images.githubusercontent.com/1622400/75618059-45b6ab80-5b1d-11ea-8cca-7843d68f6306.png)

## Version

`master`

## Describe the bug

The design of collapsed toast should allow 2 lines of text, and clip afterward.

## Steps to reproduce

1. Create a single toast with 2 lines of text

## Expected behavior

Both lines of text sho

[2020-03-01 23:57] nathanlindorff commented on #1582
I had assumed the changes would be in the WebChat, although maybe that would mean additional changes elsewhere.

I guess to clarify, to what extend does Web chat support message back? As I mentioned, I also tried sending a Hero card with buttons/CardAction explicitly typed as messageBack, but the behaviour was much the same as the adaptive cards submit action. Is it only the suggested actions that

[2020-03-02 03:46] #2966 closed

[2020-03-02 09:18] prashanthsridhar commented on #2926
Hi @compulim, just to be extra sure, click the click me button five times before actually testing.

i tried the same without putting the recognition and speech ids.
Here are the results.
![image](https://user-images.githubusercontent.com/11289456/75661904-2ee69500-5c94-11ea-9d5c-5bb4ebbe1105.png)

[2020-03-02 16:53] hshahbaz commented on #2959
anyone?

[2020-03-02 18:35] stevengum commented on #2959
@stevkan can you provide an update?

[2020-03-02 19:03] dmvtech commented on #2927
Closing this for now. Working with @v-madhal through email.

[2020-03-02 19:03] #2927 closed

[2020-03-02 19:29] dmvtech commented on #2940
There are no specific implementations around zscalar. You can try hosting your own webchat instead of using the CDN.

As IE10 is not supported, I am closing this issue.

[2020-03-02 19:29] #2940 closed

[2020-03-02 19:40] mkulgeorge commented on #1501
Hi Team, The document links which are specified in the first response are not working.
Can you please check and update it. so that I can refer those examples?

Thanks,
George.

[2020-03-02 19:48] corinagum commented on #1501
Several of those samples have been deprecated. Please take a look at our samples directory: https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples

[2020-03-02 19:51] corinagum commented on #736
Closing, as Bing Speech has been deprecated. If Cognitive Services is showing a similar problem, please file a new issue in the appropriate rep.

[2020-03-02 19:51] #736 closed

[2020-03-02 20:10] corinagum commented on #2683
https://github.com/microsoft/BotFramework-Emulator/pull/2079

Closing as resolved

[2020-03-02 20:10] #2683 closed

[2020-03-02 20:19] #2714 closed

[2020-03-02 20:32] corinagum commented on #1412
Closing as dupe of #2343

[2020-03-02 20:32] #1412 closed

[2020-03-02 20:35] tdurnford commented on #1507
Closing as https://github.com/microsoft/BotFramework-WebChat/issues/2343 is being used to track this issue

[2020-03-02 20:35] #1507 closed

[2020-03-02 20:50] tdurnford commented on #2343
The token server sample should include adding a user id to the Direct Line token request to support [enhanced authentication]() and [traditional welcome messages]() in Web Chat.

[code]

### References
- [Direct Line Authentication](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0#request)
- [Enhanced Authentic

[2020-03-03 00:46] #2921 closed

[2020-03-03 00:46] #2941 closed

[2020-03-03 01:27] AngryVirginian opened #2969 "Azure Gov WebChat: Cognitive Speech API points to commercial"
## Screenshots

![image](https://user-images.githubusercontent.com/28601813/75733722-06768f00-5cc4-11ea-9839-f064cd6b2a9b.png)

## Version

4.7.1 (through NPM)

## Describe the bug

The bot is hosted in Microsoft Azure Government (MAG). Cognitive Speech API in webchat always points to the commercial endpoint.  E.g., wss://virginia.stt.speech.**microsoft.com** instead of wss://virginia.stt.speech.*

[2020-03-03 01:52] AngryVirginian opened #2970 "Azure Gov WebChat: DirectLine Enhanced Authentication resulted in magic number authentication"
## Screenshots
Bot channel registration directline settings
![image](https://user-images.githubusercontent.com/28601813/75734089-fad79800-5cc4-11ea-9b4b-86258ac2b40e.png)

Load bot from trusted URL
![image](https://user-images.githubusercontent.com/28601813/75737212-337b6f80-5ccd-11ea-8c71-3a4f1d73f266.png)

OAuthPrompt card displayed in webchat
![image](https://user-images.githubusercontent.com/2

[2020-03-03 02:27] AngryVirginian commented on #2959
@hshahbaz  the LUIS error you see can also be from that the you are using a LUIS trial key and the key may already be exhausted/expired.  IIRC, you can only perform up to 1,900 LUIS operations with the trial key (can't remember the exact number).

[2020-03-03 15:43] asvishnyakov opened #2971 "#2842 isn't fixed"
I can't reopen issue in this repository, so I just will create new one. Everything described in #2842 is still be actual, no changes in packages deployment

[2020-03-03 15:55] stevkan commented on #2959
@hshahbaz, @AngryVirginian is right that you should look over they type of key you are using. If that is not the source of your issue, can you tell me how you have LUIS integrated into your bot?

[2020-03-03 16:03] stevkan commented on #2959
Also, I'm a little confused when you mention changing your own HTML page away from `<iframe id="webchat" src='Iframe.html'></iframe>`. In this scenario, how you initiating Web Chat without the key in the "src"? Or is this the [BotFramework-WebChat](https://github.com/microsoft/BotFramework-WebChat) version, but you are passing it in an iframe window still?

[2020-03-03 17:36] corinagum commented on #2971
Thanks for letting us know, @asvishnyakov. I have reopened the original issue and will close this one as a duplicate.

@CoHealer, I assigned @stevkan to the #2842; FYI.

[2020-03-03 17:36] #2971 closed

[2020-03-03 17:36] corinagum commented on #2842
Reopening

[2020-03-03 17:37] hshahbaz commented on #2959
Hi @stevkan I think the LUIS error is misleading. I am using two channels with my bot. One is DirectLine and other is Webchat.

The reason I am saying that this error is misleading because the DirectLine channel works perfectly and I have already created a new Key but I still get the same error.

![image](https://user-images.githubusercontent.com/32860200/75802887-55f3a400-5d32-11ea-8e3d-0c6d7ada4

[2020-03-03 17:39] corinagum commented on #2969
@AngryVirginian, could you share your `directLineConnection` code? Does it have `domain` assigned?

[2020-03-03 17:42] corinagum commented on #2969
@p-nagpal is there a rep from the service side who could help with Azure Gov issues?

[2020-03-03 17:45] CoHealer commented on #2971
Ack, thx @corinagum

[2020-03-03 17:55] hshahbaz commented on #2959
Here is my take on it: I am using version 3 of webchat and Microsoft recently pushed webchat v4 version. Since then mine did stop work. If I take the latest embed code from Azure for webchat my bot starts working. The new webchat uses webchat-es5.js and the old one used webchat.js. I guess the old webchat.js does not work anymore.

If i use the new version of webchat I cannot modify the UI of the

[2020-03-03 21:10] compulim opened #2972 "IE11: Fixing polyfills and behaviors"
## Version

`master` for R8.

## Describe the bug

Some features are not implemented in IE11, need to bring in a polyfill or use legacy way to do stuff.

- `Set` is not a full implementation, missing `Symbol.iterator`
   - Use `core-js` to polyfill `Set`
- `CustomEvent.constructor` is missing
   - Use `document.createEvent` and `Event.initEvent` instead

## Steps to reproduce

Host Web Chat on IE1

[2020-03-03 21:11] cmnisal commented on #808
Has anyone completed this Google Speech Integration with Webchat Speech?

[2020-03-03 21:21] compulim commented on #808
As long as the service you are integrating conform with W3C Web Speech API standard, it should be fine.

The standard can be found at https://wicg.github.io/speech-api/.

[2020-03-03 22:15] #2972 closed

[2020-03-04 06:40] Pratiktarade commented on #622
facing same issue

[2020-03-04 13:30] KarlPurk opened #2974 "Compilation errors when using non-CRA build"
## Version

`botframework-webchat@4.7.1` via `npm`

## Describe the bug

I'm having problems getting the npm version to work with our build setup.  We're using a default [nx](https://github.com/nrwl/nx) generated React app.  When trying to run the build I'm seeing lots of `Module not found` errors.

Please see `Build Errors` below for the full output.

## Steps to reproduce

1. Clone the [minimal

[2020-03-04 23:16] p-nagpal commented on #2969
We have opened [this issue](https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/154)  to get advice from cognitive-services-speech-sdk-js about the STT endpoints.

[2020-03-05 08:34] compulim commented on #2957
Fixed in #2960.

[2020-03-05 08:34] #2957 closed

[2020-03-05 09:53] prashanthsridhar opened #2975 "mic not getting turned off automatically"
## Version

Using webchat.js 4.7.0
Using it in angular

## Describe the bug

Mic should get turned off after 5-10s of no input. That was happening till February. Now it just keeps the mic on.

## Steps to reproduce

Click on mic , it just does'nt turn off

## Expected behavior

mic turns off after 5s of no input

[2020-03-05 11:39] compulim opened #2977 "I18n: Cannot load `sr-Cyrl` and `sr-Latn`"
## Version

`master` of now.

## Describe the bug

In `packages/component/src/Utils/normalizeLanguage.js`:

[code]

## Steps to reproduce

1. Set `locale` prop to `sr-Cyrl`

## Expected behavior

It should display Serbian (Cyrillic). Instead, it display English (US).

## Additional context

[Bug]

[2020-03-05 12:23] compulim opened #2979 "Lock Cognitive Services SDK to 1.9.1"
## Screenshot

When using Cognitive Services SDK 1.10.0 with Web Chat NPM, we are seeing:

![image](https://user-images.githubusercontent.com/1622400/75983884-35e0f380-5e9e-11ea-9505-dbf0186d87ae.png)

![image](https://user-images.githubusercontent.com/1622400/75984552-80af3b00-5e9f-11ea-8f3c-f4a7817f1542.png)

![image](https://user-images.githubusercontent.com/1622400/75984671-af2d1600-5e9f-11ea-

[2020-03-05 13:22] compulim commented on #2974
Can you build with Webpack or include `node-libs-browser`?

Currently, when compile, it include Webpack's [`node-libs-browser`](https://www.npmjs.com/package/node-libs-browser) to polyfill some Node.js libraries to use in browser. Primarily from the `jsonwebtoken` dependency. I am unsure why it also fail on RxJS.

[2020-03-05 18:17] p-nagpal commented on #2969
@compulim , could you help add the FromHost solution to WebChat (see the [related speech SDK issue](https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/154))

[2020-03-05 20:31] #2977 closed

[2020-03-05 21:20] #2979 closed

[2020-03-06 01:34] stevkan commented on #2975
Has anything changed in the project regardless of how small, recently? I just tested an angular app I have that has web chat and speech integrated into it and it is working normally.

Can you post the speech and directline components so I can see how you are implementing?

[2020-03-06 04:39] EricDahlvang commented on #1582
@v-kydela and @mdrichardson have worked on some adaptive card integration libraries, blog posts, and extensions... do either of you have anything to add here?

[2020-03-06 07:19] stevkan commented on #2959
@hshahbaz, unfortunately there is no way to alter the CSS of any element when using the v4 iframe Web Chat. This is on purpose as the iframe Web Chat is intended to be minimal and out-of-the-box ready. If customizations are desired, then the Direct Line version of Web Chat should be used. It will require some elbow grease to initially setup, but in the long run I think you'll find it easier to wor

[2020-03-06 09:43] compulim commented on #2842
![image](https://user-images.githubusercontent.com/1622400/76071858-ca555f80-5f4b-11ea-9f9e-d8d3a07af5f4.png)

It is published, but the interface is not showing in chronological order.

[2020-03-06 09:43] #2842 closed

[2020-03-06 17:02] hshahbaz commented on #2959
Thank you @stevkan I have moved to DirectLine

[2020-03-06 17:02] #2959 closed

[2020-03-06 17:15] arman-g opened #2984 "Subresource Integrity Problem"
## Screenshots

![image](https://user-images.githubusercontent.com/22778273/76105286-8aad6880-5f89-11ea-9d5c-7415623f79ab.png)

## Version

Webchat CDN v.4.8.0

## Describe the bug

I replaced webchat cdn urls v 4.7.1 in my project with the new webchat cdn urls with v 4.8.0 and they throw http status code 404 (Not Fount). Please see the screenshot above.

## Code
[code]

## Steps to reproduce

1.

[2020-03-06 18:42] corinagum commented on #2984
Hi @arman-g unfortunately I'm not able to reproduce this problem. When I specify 4.8.0, Web Chat loads for me normally.
![image](https://user-images.githubusercontent.com/14900841/76112043-4d9ba300-5f96-11ea-8cbd-2bc37d4e9a7c.png)

If you remove the `integrity` attribute, does the behavior stay the same, or are there any changes?

[2020-03-06 18:52] stevengum commented on #2928
@corinagum and @tdunford any updates?

[2020-03-06 18:57] arman-g commented on #2984
Hi @corinagum, unfortunately removing the `integrity` does not help. I wonder What is the difference between v4.7.1 and v4.8.0? Please see the image below, I have no problem seeing the `/4.7.1/webchat.js` file content in the browser but there is an error for `/4.8.0/webchat.js`.

![image](https://user-images.githubusercontent.com/22778273/76113448-04008780-5f99-11ea-93be-ba4c9a2dc2e2.png)

[2020-03-06 19:03] compulim commented on #2984
4.8.0 is not on CDN yet. It will be released coming Monday noon.

Thus, the SRI for 4.8.0 is not working yet.

@arman-g thanks for being cutting edge.

[2020-03-06 19:06] arman-g commented on #2984
@compulim Thank you! I thought I am going crazy :)

[2020-03-06 19:08] p-nagpal commented on #2970
I am able to reproduce the failure and am in the process of collecting additional logs to get to the bottom of the issue. I will post an update as soon as I have more information. Thank you for your patience.

[2020-03-06 19:10] corinagum commented on #2984
Closing as resolved. @compulim thanks for jumping in xD

[2020-03-06 19:10] #2984 closed

[2020-03-06 19:29] v-kydela commented on #1582
Adaptive Cards in Web Chat currently support what you might call `imBack` and `postBack`, referred to as string submit actions and object submit actions in my blog post: https://blog.botframework.com/2019/07/02/using-adaptive-cards-with-the-microsoft-bot-framework/

To "switch" from postBack to messageBack would presumably mean to make object submit actions visible in the chat history. I don't kno

[2020-03-06 19:57] compulim commented on #1582
Internally in Web Chat, we are also using the `data` field very similar to Teams' "minischema" approach. And IMO, this "minischema" approach is more versatile.

[2020-03-06 20:10] compulim opened #2987 "Converge all versions of microsoft-cognitiveservices-speech-sdk"
# Feature Request

## Background

As `microsoft-cognitiveservices-speech-sdk` has stable release for Direct Line Speech, we should converge all versions used in Web Chat to a single one, reducing out footprint.

Marked are 3 copies of `microsoft-cognitiveservices-speech-sdk` in `webchat.js`.

![image](https://user-images.githubusercontent.com/1622400/76124705-28b42980-5fb0-11ea-982f-edff67ddacf5.p

[2020-03-06 20:15] compulim commented on #2926
Will look at this one over the next couple of days.

[2020-03-06 20:21] compulim commented on #2852
This is obsoleted after we done the "customizable activity status" feature.

[2020-03-06 20:21] #2852 closed

[2020-03-06 20:23] compulim commented on #2812
This should be fixed by now.

@tdurnford you can't set it in embed. Original plan, style options can be part of query parameters, thus we design style options to be super-flat-and-primitive.

[2020-03-06 20:23] #2812 closed

[2020-03-06 20:26] compulim commented on #2745
Looks like quite some votes.

Will bring this one up on our next planning meeting. Next vehicle is May, then Aug.

[2020-03-06 20:26] #2731 closed

[2020-03-06 20:32] compulim commented on #2667
Assigning to @DesignPolice.

Marc, can you consider this case when you are restyling Web Chat? Throwing some random thoughts, not really something I want, but things that might drive our directions.

- Should we have different bubble style for activity vs. attachments?
   - Bubble for activity could have lighter gray, and attachment is white
   - Bubble for activity is more round, while attachment

[2020-03-06 20:34] compulim commented on #2622
We should be able consume this very soon, probably in R9.

[2020-03-06 20:37] compulim commented on #2594
We added new `styleOptions.sendTimeout` and `styleOptions.sendTimeoutForAttachments`. You can look at it here, https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/component/src/Styles/defaultStyleOptions.js#L118.

IMO, DirectLineJS should use browser timeout, i.e. 120s most of the time.

[2020-03-06 20:37] #2594 closed

[2020-03-06 20:41] DesignPolice commented on #2667
Sure I can take a look at that... looking at all of it right now. If there are any other things we should look at let me know! @compulim

[2020-03-06 20:44] compulim commented on #2386
Closing as German is now officially translated by Microsoft internal team.

[2020-03-06 20:44] #2386 closed

[2020-03-06 20:54] compulim opened #2988 "RFC: Update to CSS BEM system"
## Feature Request

Update to CSS BEM system.

### Proposed CSS

[code]

### Notes

- Block name is always prefixed with `webchat__`
   - For example, block name for send box is `webchat__sendBox`
- Use `camelCasing`
- No more `.parent > .child`
   - Only 1 level deep
   - 90% of rules should be either one of the following:
      - `.webchat__block`
      - `.webchat__block .webchat__block__elemen

[2020-03-06 21:08] compulim commented on #2329
@DesignPolice please think about this when doing the redesign.

[2020-03-06 21:08] compulim commented on #2323
Done.

[2020-03-06 21:08] #2323 closed

[2020-03-06 21:09] #2264 closed

[2020-03-06 21:10] #2174 closed

[2020-03-06 21:13] compulim commented on #1904
This can be done in the new "customizable per-message avatar" feature, released in 4.8.0.

[2020-03-06 21:13] #1904 closed

[2020-03-06 21:16] #1861 closed

[2020-03-06 21:16] compulim commented on #1851
Closing this and grouped this to #2100.

[2020-03-06 21:16] #1851 closed

[2020-03-06 21:16] compulim commented on #1840
Done.

[2020-03-06 21:17] #1840 closed

[2020-03-06 21:17] compulim commented on #1657
This is done in 4.8.0.

[2020-03-06 21:17] #1657 closed

[2020-03-06 21:21] compulim commented on #684
This is done.

[2020-03-06 21:21] #684 closed

[2020-03-06 21:24] compulim commented on #206
This issue is partly resolved. See [`TELEMETRY.md`](https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/TELEMETRY.md)

Web Chat will do measurements, but not collecting any telemetry. It's just a no-op.

Bot developer can write code to collect measurements. The current set of measurements is very limited, pending a talk to CELA team to understand what we can measure.

In future, we

[2020-03-06 21:35] corinagum commented on #2987
Related to #2886?

[2020-03-07 02:06] compulim opened #2989 "`observeOnce` should use ES Observable call pattern"
## Version

`4.8.0`

## Describe the bug

In [`core/src/sagas/effects/observeOnce.js`](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/core/src/sagas/effects/observeOnce.js), the call pattern for `Observable.subscribe` is using older format (RxJS) instead of ES Observable.

The new signature is being used in `observeEach.js`.

This is causing test running in Jest not able to

[2020-03-07 05:43] compulim commented on #2897
![image](https://user-images.githubusercontent.com/1622400/76137560-77cf7e00-5ff3-11ea-958d-78d2d323e76b.png)

[2020-03-07 08:23] compulim commented on #2954
Fixed in MockBot.

[2020-03-07 08:23] #2954 closed

[2020-03-07 08:26] compulim opened #2991 "Use activity.replyToId as a hint for sorting"
## Feature Request

In addition of using `activity.timestamp`, we could also use `activity.replyToId`.

But also note that `activity.id` and `activity.replyToId` could be `undefined`/`null`.

## Additional Context

This is not trivial to solve due to Direct Line protocol issue that is out of our control.

- Bot activities are in random order due to distributed nature of the system
- Although activ