[2019-01-28 15:14] sanoorvishwa opened #1652 "pollingInterval and conversationId update in createDirectline.js"
@compulim We have requirement to update the directline polling interval when the bot is minimized and maximized. Could you please update the createDirectline.js interface for the same? Any reason why these are omitted in the initial release though the directline supports it?

Thanks,
Vishwa

[2019-01-28 16:08] neetu-das commented on #1652
I think fix for #1613 has added 'conversationId' in createDirectline.js interface. Similarly pollingInterval can also be added

[2019-01-28 16:53] sanoorvishwa commented on #1650
@SushanthMandarthi Answer to additional questions in [#1639](https://github.com/Microsoft/BotFramework-WebChat/issues/1639) should clarify this.

[2019-01-28 17:20] corinagum commented on #1639
You can check out [12.customization-minimizable-web-chat](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/12.customization-minimizable-web-chat) for a jumpstart on implementing a header for your Web Chat component. :)

[13.customization-speech-ui](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/13.customization-speech-ui) - This tutorial will get you sta

[2019-01-28 17:22] corinagum commented on #1650
Hi @SushanthMandarthi, as @sanoorvishwa mentioned, please see my answer from #1639 :)

[2019-01-28 17:22] #1650 closed

[2019-01-28 18:04] corinagum commented on #1454
@RamPrasadMeenavalli That sample will not work on IE11 by default because it is not using the es5 polyfill. To test it in IE11, please change the CDN package being used in the `index.html` to the es5 polyfill. :)

[2019-01-28 19:20] #1635 closed

[2019-01-28 22:39] thedrew12 opened #1654 "Where can I find documentation for all the props that can be passed into the React Component?"
I can't seem to find anywhere all the available options for customizing the chatbot. This is what I have so far, but I think there are more props.
[code]

[2019-01-28 23:03] compulim commented on #1654
Sorry for not having a good doc.

You can find all the props here, [`packages/component/src/Composer.js`](https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/component/src/Composer.js#L378).

BTW, on your code, try not to use `{{ id: '', name: '' }}`. Because every time this component is rendered, React will think the props has changed and cause a needless re-render (a.k.a. wast

[2019-01-28 23:09] thedrew12 commented on #1654
Thanks for the response. That doesn't seem like all the props, what about `styleOptions`? I saw something like `activityMiddleware` listed somewhere. Do you have documentation on what those props are used for?

[2019-01-28 23:13] thedrew12 commented on #1654
I guess I'm asking is there a way to clear messages if there is no activity in the chatbot? I want to clear messages in the chatbot after an idle time of 15min.

[2019-01-28 23:31] compulim commented on #1652
@sanoorvishwa Because we try to whitelist stuff in, instead of blacklist stuff out. 😉

And also, today, what we can pass to DLJS is also quite arbitrary IMO. We need to revisit reconnecting story in DirectLineJS to make sure it work as expected (what I heard from people is that it is not quite working.)

Please feel free to file a PR for this fix (`pollingInterval`). I can help you work on CHANGEL

[2019-01-28 23:40] compulim commented on #1651
@neetu-das thanks for taking the time drilling into the code.

I think I fixed minimizable sample in https://github.com/Microsoft/BotFramework-WebChat/pull/1631/. We introduced `WEB_CHAT/SEND_EVENT` and it will use `postActivity` that will fill `action.meta.method` automatically.

The `method` is mainly to determine how the message is sent, e.g. is it from keyboard? Or is it from microphone?

And

[2019-01-28 23:49] #1645 closed

[2019-01-29 02:07] gabog commented on #1529
I agree with the request, in most localized sites, the user preferences take preference over the browser settings, the language should be independent of that. I am working with a customer that needs this and this is blocking us from upgrading to the latest webchat so we can use Azure Speech Services. Bing speech is discontinued and we can't move forward until we have parity with the previous webch

[2019-01-29 02:11] gabog commented on #1559
With the previous webchat it was possible to dispose the webchat and recreate it on the page and that would generate a new conversationId, is this not possible with the new webchat? We need to be able to start a new conversation every time the webchat control is instantiated without having to refresh the page.

[2019-01-29 03:53] JasmeetVirdi commented on #1566
@corinagum  I found that,oauth signin card is also not working as desired,so probably an issue with the cards.
PFB the screenshot
![image](https://user-images.githubusercontent.com/13176977/51883043-44113600-23a7-11e9-9bdb-baec53ab5c35.png)

[2019-01-29 06:21] neetu-das commented on #1651
@compulim Thanks for the update. Yes PR  #1631 solved the problem.

[2019-01-29 06:21] #1651 closed

[2019-01-29 10:27] JasmeetVirdi opened #1656 "Oauth signin card - 400 Error on getsessionId"
I am using Oauth Signin card ,which is render in webchat channel using iframe.
When i click on signin button i get 400(bad request) error as follows:
![image](https://user-images.githubusercontent.com/13176977/51901708-522e7900-23de-11e9-9112-38b0087e07ca.png)

The detailed message is
[code]
I am using AAD1 sample code from github.
I am not sure what is causing this?Probably some issue in the code

[2019-01-29 10:37] ljubomirsinadinovski commented on #1640
I am customizing it with manipulation of the CSS. For example if I want to change all the font I am using:
`.chat-wrapper-ljs * {
  font-family: "Ariel" !important;
}`
and I pass that as a className to the component:

` <ReactWebChat
        className="chat-wrapper-ljs"
        //write the rest of the props you need to pass here
}`

Also you can manipulate only paragraphs/input/labels with somethi

[2019-01-29 10:43] ljubomirsinadinovski commented on #1622
Check my comment here maybe it could help you out: https://github.com/Microsoft/BotFramework-WebChat/issues/1640#issuecomment-458491356

[2019-01-29 13:35] anevjes commented on #1564
HI team, I too am facing the exact single sign on requirements without having the oAuth card thrown? @compulim / @cwhitten any updates as per above?

[2019-01-29 14:05] xinfli opened #1657 "Scroll to bottom feature does not differentiate between new messages and 'read' messages"
The "New messages" always show when I scroll up, even I already read all messages.
Is it possible to mark all messages as read, or can I hide the "New messages"?
Thanks.

[2019-01-29 15:35] ljubomirsinadinovski opened #1658 "Add message bubble arrows CSS"
I want to have message arrows on the sides of each message (the user ones are on the right border and the bot bubbles on the left border). I tried implementing something like this, but I cannot get my :after css to work. This is a non working sample, please help me.

[code]

BTW: got the idea of using styleSet.bubble from here: https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages

[2019-01-29 17:13] #1640 closed

[2019-01-29 17:19] corinagum commented on #1657
Hi @xinfli, the "New messages" notification actually indicates there are new messages at the _bottom_ of the chat (most recent messages). Could you test and see if it disappears when you scroll to the bottom of the chat? Is this a feature you would still prefer to hide?

[2019-01-29 17:43] xinfli commented on #1657
Hi @corinagum Thanks, the notification works fine as design (When scroll to bottom, it will disapper), but not as I expected.
I think it should only indicate that there are new message UNREAD arrived, then I should scroll to bottom to read it;
But now the notification will always show when ever I scroll up, that makes us confused.
If this notification only indicate that I'm not reading the newest

[2019-01-29 18:16] mewa1024 commented on #1523
@corinagum @DesignPolice @compulim sorry, I don't know why I didn't see this bug before. Can we use the same message design as in #1521 but instead of "Web Chat is unable to connect." say "Connection interrupted." ? Same rules about force retry apply as in that bug.

(unassigning myself)

[2019-01-29 18:19] mewa1024 commented on #1522
@corinagum Again, sorry I didn't see this bug. Can we follow the instructions in #1521? I think you have designs from @DesignPolice, yeah?

(unassigning myself)

[2019-01-29 18:24] compulim opened #1659 "Sample: Update minimizable sample with multiple polling interval"
Currently, our minimizable sample save resources by not initiating Direct Line connection before it is restored.

It would be great to add a way to tweak polling interval when it is minimized or restored.

[2019-01-29 18:25] mewa1024 commented on #1524
@compulim @corinagum @DesignPolice Can we do use the same message UI as in #1521 but change the message to "Connecting..." while Web Chat is trying to connect and then disppear when the connection is successful?

[2019-01-29 18:33] corinagum commented on #1656
Hi @JasmeetVirdi, what sample are you using? Is this a Bot Framework provided sample?

[2019-01-29 18:40] neetu-das commented on #1659
Please elaborate

[2019-01-29 18:54] mewa1024 commented on #1657
I think issue 2 above is accurate, and that this should be the behavior: "New messages" should disappear once the new/unseen message has scrolled into view, but it should not reappear when that message scrolls out of view again.

[2019-01-29 19:36] DesignPolice commented on #1657
I would agree with @mewa1024 as well.

[2019-01-29 21:59] corinagum commented on #1657
We've had more offline discussion -- this issue is related to https://github.com/compulim/react-scroll-to-bottom/issues/10 - both issues will need to be resolved at the same time.

**We want to have a 'read' marker where all messages are marked as read when the user hits the bottom of the container.**

I'm keeping this issue open for tracking both.

[2019-01-29 22:09] corinagum commented on #1622
Closing - stale.

[2019-01-29 22:09] #1622 closed

[2019-01-29 22:11] corinagum commented on #1639
@sanoorvishwa I'm going to close this issue, but if you have more questions please feel free to comment and I can re-open. :)

[2019-01-29 22:47] mekinney opened #1660 "Scrolling error with suggested action cards"
Selecting a suggested action prompt when the chat window is scrolled to the bottom, causes the window to stop scrolling correctly.  Maybe I have the webchat CSS incorrectly setup, but it's pretty simple.  Any help appreciated.

Update: Tested with both master and latest.  Both have this problem.

Update #2: Once the webchat control is in the bugged state (not updating scrolling correctly), if the

[2019-01-30 03:59] JasmeetVirdi commented on #1656
Hello @corinagum i am using the sample code provided at below github link:
 https://github.com/Microsoft/BotBuilder-V3/tree/master/CSharp/Samples/AadV1Bot

[2019-01-30 06:47] dalvirsaini opened #1661 "Disable Reply Text Field"
Hi ,

I would like to disable the Reply text field if suggestion/option are already showing to the user.
I want user to choose from there instead of typing in text area.
![image](https://user-images.githubusercontent.com/5260369/51963250-f1a84600-2488-11e9-83ae-c0f084bf50b5.png)

any help here?

[2019-01-30 08:45] sanoorvishwa commented on #1639
@corinagum , I am merging the custom component logic in [10. card components sample](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/10.a.customization-card-components) with custom store update sample project [14. piping to redux](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/14.customization-piping-to-redux).

[code]
[code]
Does the middleware iterati

[2019-01-30 09:32] darrenj commented on #1564
A sample showing how a enterprise/intranet scenario using WebChat can retrieve a (AAD token) from the browser session (already authenticated) and pass through channelData will be key for our enterprise customers to get started. Unclear from the above if httpOnly will need to be enabled for this scenario so would be good to clarify - perhaps by having a section for Intranet/Enterprise scenarios?

[2019-01-30 11:29] raghukrishnamoorthy opened #1662 "Webchat JS code does not work on IE"
I'm using the sample code from the Readme page with the secret for my bot in my web page. works fine on chrome and firefox. In IE, I get a Promise related error and the bot does not load.

[2019-01-30 11:34] raghukrishnamoorthy commented on #1662
This is the error that I get on the web developer console:

.......
'Promise' is undefined
.......

[2019-01-30 14:00] nt-7 commented on #1662
Is your target IE11? Do you use Web Chat CDN?

In case of ES5 browsers like IE11, you need to use Web Chat CDN with ES5 polyfills (webchat-es5.js).

[Sample - Getting started with Web Chat CDN with ES5 polyfills](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/01.b.getting-started-es5-bundle)

For example, you should rewrite such us the following code, so I guess it works.
[c

[2019-01-30 15:21] xinfli commented on #1657
Thanks all for your quick response 👍
I'd like if there is a new feature to mark message as read, by now I will hide it in our product :-)

[2019-01-30 17:21] jackiebecker opened #1664 "Error messages in webchat, emulator are unhelpful"
When using the emulator and webchat, sometimes my bot throws errors (resulting in HTTP 500 responses). However all I see in the chat is "failed to send - retry" which doesn't help me to debug what the problem might be--I have to go into Visual Studio & enable breaking on all 'Common Language Runtime Exceptions' to get to where the error is actually being thrown & see the message, which is not some

[2019-01-30 17:35] corinagum commented on #1662
thanks @nt-7 for the help.
Please see https://github.com/Microsoft/BotFramework-WebChat/issues/1489 for more information.

[2019-01-30 17:37] corinagum commented on #1639
@compulim deferring to your expertise here. :)

[2019-01-30 17:42] corinagum commented on #1640
Please note that the Web Chat team does not recommend using `!important`, since this can cause specificity overrides, and complications when making further styling adjustments on the app.

[2019-01-30 17:54] ikivanc opened #1665 "Webchat doesn't fire conversation updated event until first message"
I expected my bot's code to behave as it does in the emulator when I deployed it to its App Service and tested it in webchat. However, I immediately noticed that it would not greet me as a user (following the greet the user sample) until I first sent it a message. Our emulator should emulate our channels more closely especially the channels we ship by default (webchat) and provide quick testing fo

[2019-01-30 17:54] ikivanc opened #1666 "Unable to "restart conversation" in channels like Teams, Skype, etc"
This functionality is very easy in the emulator (click the button) and in Webchat (reload the page) but seems not possible in Skype, Teams, and perhaps other channels. We should provide guidance on this in our developer/testing documentation even if that involves writing additional code to support it.

[2019-01-30 17:57] ikivanc opened #1667 "Teams channel registration completion page not useful"
After creating a Teams channel registration, the 'Messaging' page you end up on provides little value; there's no direction on how you then interact with the bot via Teams which would be helpful and add value here. Furthermore the 'learn more' link on this pane takes you to a Skype Bots page.

There should be guidance what's next after registration. Maybe a link to "start conversation" button.

[2019-01-30 17:59] ikivanc opened #1668 "Webchat unreliable"
When going through deploying even a bare-bones Web App Bot from the Azure portal, there were times when webchat would report "failed to send - retry" when this was an out-of-the-box deployment.

[2019-01-30 18:01] ikivanc opened #1669 "Azure deployments unreliable"
Multiple times while trying to deploy a Bot Registration, App Service, or Web App Bot in Azure I ran in to "failed to get deployment status" resulting in an incomplete deployment of resources, or times when deployment would seemingly complete but not everything would be there.

[2019-01-30 18:17] corinagum commented on #1661
Hi @dalvirsaini
This is possible by checking all incoming activities for a non-null value in `suggestedActions`. Then you can toggle a boolean to enable the disabled (`<input disabled />`)  attribute. Hope that helps!

[2019-01-30 18:17] #1661 closed

[2019-01-30 18:44] corinagum commented on #1669
This is issue not related to Web Chat. Problems you are facing related to the Azure Portal should be brought up with Azure Support.

[2019-01-30 18:44] #1669 closed

[2019-01-30 18:44] corinagum commented on #1667
This is issue not related to Web Chat. Problems you are facing related to the Azure Portal should be brought up with Azure Support.

[2019-01-30 18:44] #1667 closed

[2019-01-30 18:51] corinagum commented on #1665
There an ongoing discussion about this and can be tracked here: https://github.com/Microsoft/BotFramework-Emulator/issues/643

I will leave this issue open for tracking purposes.

[2019-01-30 18:54] corinagum commented on #1668
Because this regards an out-of-the-box deployment, I recommend also taking this issue to Azure Support. If you have Web Chat related error messages that you can provide to us, we can reopen this issue and explore how our team can help you.

[2019-01-30 18:54] #1668 closed

[2019-01-30 19:23] andybeak opened #1734 "Duplicate welcome message for Direct Channel"
## Sample information
1. Sample type: samples
2. Sample language: nodejs
3. Sample name: 03.welcome-users

## Describe the bug
The problem described at https://blog.botframework.com/2018/07/12/how-to-properly-send-a-greeting-message-and-common-issues-from-customers/ occurs when using the sample code with the example provided at https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/

[2019-01-30 21:55] ljubomirsinadinovski commented on #1640
Fair enough, thank you for the advice. However I managed to overwrite some of your styling by using css attribute selectors (https://www.w3schools.com/css/css_attribute_selectors.asp) on the weird named classes ( `<div class="xzy2kds">` ). For example I was required to change the background of the adaptive card that I was receiving... what do you think about that approach @corinagum ???

[2019-01-30 23:16] corinagum commented on #1640
Web Chat uses CSS-in-JS, which automatically generates the classes into CSS. This is why the class names are nonsensical. If the features you want to change are not available in defaultStyleSetOptions (shown here:) https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/05.a.branding-webchat-styling, please use the idiosyncratic styling method here: https://github.com/Microsoft/BotFr

[2019-01-31 05:32] SushanthMandarthi opened #1671 "Passing parameter to middleware for customiztion"
Hi,

I need to pass some parameters including store to attachmentMiddleware for customizing components from outside webchat. Can anyone help me know how to pass parameters to such middlewares...

Thanks

[2019-01-31 06:41] sanoorvishwa commented on #1652
Thank @neetu-das and @compulim . Both pollingInterval and conversationId are now available in createDirectline.js constructor.

Thanks and closing this issue.

[2019-01-31 06:41] #1652 closed

[2019-01-31 09:03] ljubomirsinadinovski commented on #1640
The problem with idiosyncratic-manual-styling is that there is no list of available styles to overwrite. For example (as in sample/05.b) `styleSet.textContent = {..}` textContent is available, but how about the other style... for example the background of the adaptive cards, or the margin between the adaptive cards... etc... By my logic I found a list here: https://github.com/Microsoft/BotFramewor

[2019-01-31 09:18] ljubomirsinadinovski opened #1673 "Suggested actions navigation arrows should indicate focus visually"
After clicking on the horizontal navigation arrow in the quick answer area, if you don't click anything else and move the cursor away we get this behavior:

1. The CLICKED arrow doesn't disappear (still visible)
2. The other arrow disappears (becomes invisible)

For better understanding I am including this screenshot:
![screenshot at jan 31 10-17-19](https://user-images.githubusercontent.com/24614

[2019-01-31 10:00] raghukrishnamoorthy commented on #1662
After replacing the new cdn link for es5 i'm getting a "Refused to set unsafe header "User-Agent" error on chrome on every message sent to the bot.

Also, the CSS classes for all the controls are completely different from the CSS classes that you get when you use the non es5 cdn link.

What do i do now?

[2019-01-31 15:58] ljubomirsinadinovski commented on #1031
I have a better solution... Move your code into activityMiddleware, you get much better user experience ;)

[2019-01-31 16:12] raghukrishnamoorthy opened #1674 "How to preserve conversation state"
I've looked around there seem to be a lot of confusing answers over a couple of years. I will ask again.

My use case is simple. I have a bot rendered using webchat control. Everything works fine. When i navigate to a new page on my application which also had the webchat control embedded, I want to resume from where the conversation was left off in the previous window. Right now, the conversation

[2019-01-31 16:14] raghukrishnamoorthy commented on #1662
Also the es5 cdn has a missing feature that is present in the latest/webchat.js cdn link. It has new directLine method signature with conversation Id and secret/token as parameters instead of just secret/token. Which CDN do i use now?

[2019-01-31 17:06] ljubomirsinadinovski commented on #1674
You can, just use the redux storage that is importable from the botframework and keep it in local storage. Like this:

[code]

[2019-01-31 17:14] ljubomirsinadinovski commented on #1665
Accidentally I copied my logic in this issue, so I guess it can be re-used, it is much better approach: https://github.com/Microsoft/BotFramework-WebChat/issues/1630#issue-402333440 (this will fire the event in the background)

[2019-01-31 17:40] raghukrishnamoorthy commented on #1674
Sorry cannot use React. Just plain JS with Webchat control is what we've got now. :(

[2019-01-31 17:42] raghukrishnamoorthy commented on #1674
Just to be clearer. I need to somehow persist the same conversationId to get related user data from the backend when the user opens the HTML page with the webchat control in multiple tabs.

Also, the webchat control will come from the CDN.

[2019-01-31 17:57] corinagum commented on #1673
Confirmed repro of this bug on MockBot:
![image](https://user-images.githubusercontent.com/14900841/52074188-304c0800-253e-11e9-91dc-75c8b6662512.png)
Related to your second comment, we already have https://github.com/Microsoft/BotFramework-WebChat/issues/1586 open for tracking this issue.

Your last bug has been resolved and can be utilized in the latest bits. https://github.com/Microsoft/BotFram

[2019-01-31 18:08] corinagum commented on #1662
@raghukrishnamoorthy could you share both CDN links that you were using?

Regarding your comment about the CSS classes, I'm not sure what would cause this. Is it possible you used `/botchat-es5.js/` instead of `/webchat-es5.js/`? For your second comment, it sounds like you may be using `/latest/` for the webchat.js and `/master/` for the es5 build, but I'd like to confirm.

@compulim could you wei

[2019-01-31 18:21] raghukrishnamoorthy commented on #1662
This was the CDN giving me the user agent error on chrome.

<script src="https://cdn.botframework.com/botframework-webchat/master/webchat-es5.js"></script>

This was the CDN I was already using

- <script src="https://cdn.botframework.com/botframework-webchat/master/webchat.js"></script>

And this is the recommended CDN for direct line that takes the conversation ID parameter in addition to secret

[2019-01-31 18:34] Dpetters opened #1675 "Unable to use cognitive services speech in iOS webview"
I enabled cognitive speech services in our webchat view and it worked when testing in Chrome on desktop but when viewing through the iOS simulator where the same web page is loaded in a webview, I get a `TypeError: Super expression must either be null or a function` error. I attempted to dig into it a bit but am not sure if the issue is in this package or "web-speech-cognitive-services". Please se

[2019-01-31 18:36] corinagum commented on #1662
Thanks @raghukrishnamoorthy.

Regarding your comment quoted above, I believe this has to do with using `/latest/` versus `/master/`. We have had a few PR's improving the DL signature [here ](https://github.com/Microsoft/BotFramework-WebChat/pull/1614) and [here](https://github.com/Microsoft/BotFramework-WebChat/pull/1655).

Latest reflects our most recent _official_ release (4.2), and does not inc

[2019-01-31 19:05] corinagum opened #1677 "Tests occasionally fail on artificial scroll-to-bottom"
![stacked-js-stacked-with-avatar-initials-4-attachments-1-diff](https://user-images.githubusercontent.com/14900841/52078443-10214680-2548-11e9-82cc-9cfefafae34f.png)

We should wait a little bit longer before taking the screenshot.

[2019-01-31 19:21] corinagum commented on #1675
Can you test the application in the following scenarios?
1. Safari
1. Chrome or Edge on iOS
1. The app you are developing

Because apps on iOS don't have full support of WebRTC, I suspect this problem will occur in Chrome, Edge, and your own app, but won't happen in Safari.  Unfortunately this is a limitation of iOS, and Cognitive Services will not work on any app (other than Safari).

Please let

[2019-01-31 19:32] corinagum commented on #1674
@raghukrishnamoorthy you can refer to [this sample](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/22.conversation-history) for resuming a conversation. The idea is that when the user connects, the bot sends the user back the entire history.

But on the other hand, you will need to provide your own storage for the conversation history. This raises concerns re

[2019-01-31 19:32] #1674 closed

[2019-01-31 19:36] Dpetters commented on #1675
Thanks Corina. This issue does not occur on Chrome or Safari on desktop, or Safari on iOS. It does occur on Chrome and Edge on iOS, as well as in our WKWebView in the app.

If you happen to know of any mitigation that would enable us to render the page in some kind of web view on iOS, please do let me know.

[2019-01-31 19:38] corinagum commented on #1671
Are you creating new middleware and appending it into Web Chat? If yes, can you put the options in when you create the middleware? (This is assuming that your options are mostly static and don't change.)

If you have dynamically changing parameters, could you explain what these are?

[2019-01-31 19:51] corinagum commented on #1675
Good to know the root cause.

According to [this bug on Chromium](https://bugs.chromium.org/p/chromium/issues/detail?id=752458), Google is waiting for Apple to add WebRTC to `WKWebView`.

If you are willing to write native code (Objective C++ or Swift), you can consider this approach:

- Use [`SFSpeechRecognizer`](https://developer.apple.com/documentation/speech/sfspeechrecognizer) to implement sp

[2019-01-31 19:51] #1675 closed

[2019-01-31 19:57] corinagum commented on #1665
`conversationUpdate` behaves differently between Emulator and Azure Bot Services.

It is suggested to send a custom event (as opposed to `conversationUpdate`) when Web Chat connects. You can find a [sample here](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/15.d.backchannel-send-welcome-event).

The benefit for this approach is that you can pass extra arguments when you are

[2019-01-31 19:57] #1665 closed

[2019-01-31 20:09] tdurnford commented on #1660
Hi @mekinney -

I wasn't able to reproduce your error. I did, however, notice when the SuggestedActions are displayed on the screen, the conversation div moves up to make room for the SuggestActions div. This would mean you have to move your mouse up onto the conversation div to scroll, but this doesn't sound like the error you described above. Can you please elaborate on the issue, and, as @corin

[2019-01-31 20:37] corinagum commented on #1522
@mewa1024 sorry for the late reply - I don't have an example of a meta retry button. :D

If both of you agree this is not needed, I'm happy to close the issue!

[2019-01-31 20:47] compulim commented on #1031
@ljubomirsinadinovski This is a good workaround 👍. And we still need to fix it in our code.

[2019-01-31 20:49] mekinney commented on #1660
Attached Zip file has a video in it.  I basically type menu to bring up the suggested actions.  And then hit contact over and over.

[video.zip](https://github.com/Microsoft/BotFramework-WebChat/files/2818958/video.zip)

[2019-01-31 20:52] corinagum commented on #1662
Regarding the User-Agent issue, this is a bug in the DirectLine JS https://github.com/Microsoft/BotFramework-DirectLineJS/issues/152 and  will be resolved in the `/master/` bits once we get this PR merged in: https://github.com/Microsoft/BotFramework-WebChat/pull/1676

[2019-01-31 21:02] mekinney commented on #1660
Hi @tdurnford,
Just shot you an e-mail at your @microsoft account with the index.html that includes the secret for my hosted test bot.  Should make the repo easier. :)

Best,
Mike

[2019-01-31 21:09] compulim commented on #1640
1. Adaptive Cards requires different way to style, so you will need to use [`AdaptiveCardHostConfig`](https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/host-config). But in our experience, styling is pretty limited with Adaptive Card
2. `glamor` uses the hash to generate the name and this is what we want to achieve too
   - We don't want to set CSS class name because we don't want to

[2019-01-31 21:11] compulim commented on #1622
#1670 might be fixing this.

[2019-01-31 23:31] #565 closed

[2019-01-31 23:36] corinagum commented on #1609
Closing due to inactivity

[2019-01-31 23:36] #1609 closed

[2019-01-31 23:37] compulim opened #1680 "Tests occasionally fail when running on Travis CI"
Tests occasionally fail the `driver.wait(botConnected())` test, suspecting either slow network or CPU causing the issue.

Retry is not easy because `botConnected()` is in every of our tests. The reason why we prefer `botConnected()` in every test:

- Some tests can use bots other than MockBot
- We will partition MockBot into multiple bots:
   - Using BotAdapter to create a bot that run inside the

[2019-01-31 23:37] corinagum commented on #1589
Closing due to inactivity

[2019-01-31 23:37] #1589 closed

[2019-01-31 23:40] corinagum commented on #1572
Adding some context - Adaptive Cards uses fallbackText to explain the card if for whatever reason it can't be displayed. Right now we don't expose fallbackText, so there is an error message without detail of what the Adaptive Card should render.

[2019-02-01 00:13] DesignPolice commented on #1572
I think having both would make it clear they have an issue, and gives people the option to give an explanation of what is up.

[2019-02-01 00:34] GeekTrainer opened #1681 "Fix accessibility of anchors in across repo (including README's)"
Several of the links are either "here", or lists of links which are simply labeled "demo". This is not accessible design. Screen readers offer the ability to read a collection of links for easier scanning of a document; in the case of the list of demos all that would be read is "demo", "demo", "demo"...

[2019-02-01 00:58] tdurnford commented on #1660
Hi @mekinney -

Thank you for sharing it your code. Much easier than trying to reproduce it.

It looks like the chat window doesn't automatically scroll to the bottom while WebChat is displaying suggest actions. This issue is probably related to https://github.com/Microsoft/BotFramework-WebChat/issues/1031.

[2019-02-01 01:37] stevkan commented on #1656
Hi @JasmeetVirdi, can you verify for me that you are using the iframe option presented in the Channels => Web Chat control? I ask as both the Test in Web Chat and iframe version of Web Chat do not support the OAuth card. If trying to display, you would see this:

![image](https://user-images.githubusercontent.com/18403946/52096789-082fc980-257d-11e9-9bde-2c1c34ac8ec0.png)

As for the getsessionid

[2019-02-01 01:52] compulim opened #1683 "Tests occasionally fails on "sending" vs. "just now" timestamp"
Need to add a new `Condition` to wait until all outgoing activities are sent.

![image](https://user-images.githubusercontent.com/1622400/52097686-e6d0dc80-2580-11e9-9f90-353bc6d156db.png)

[2019-02-01 06:54] JasmeetVirdi commented on #1656
Hi @stevkan ,i am using IE v11 as my browser. I tried using CDN webchat but ended up with some js errors and the Oauth card dint work for IE.
So i went ahead with the solution provided by @compulim in issue #1106 according to which it should have worked and it did i.e. Oauth card is visible (Perhaps the solution is deprecated)
![image](https://user-images.githubusercontent.com/13176977/52106775-ec

[2019-02-01 09:21] ljubomirsinadinovski commented on #1640
@compulim I will write you a short mail now ^_^

[2019-02-01 11:00] erkkil opened #1684 "How to use different language in speech synthesis"
Hi,

I tested the hybrid speech sample using webspeech for speech recognition and speech services for text to speech.
The sample works fine in english but as we are not from english spoken country how it possible to use e.g. Finnish language in speech synthesis?
The speech recognition side seems to work in Finnish.

Any samples would be appreciated.

[2019-02-01 16:40] mekinney commented on #1660
Thanks for the response.

FYI, the webchat code included with "https://webchat.botframework.com/embed..." doesn't have this bug.  I'm not sure how the codebases are related, but thought might help track it down.

[2019-02-01 17:25] corinagum commented on #1684
Hi @erkkil, I believe this is a known issue of Web Chat not sending the language to speech services, as detailed #1529
@compulim can you confirm? If so I think we can close this as a duplicate.

[2019-02-01 18:42] Dpetters commented on #1267
+1 on this, as I was about to file an issue for the same. When I initially used the component I thought I was doing something wrong because it wasn't taking up the whole div as it does in all of the samples. It took me a little while to realize that I was missing these styles. Having them as defaults and letting users override them would probably be the way to go.

[2019-02-01 20:17] cwhitten commented on #1664
Hey @jackiebecker - I'm going to transfer this issue to the [Emulator](https://github.com/Microsoft/BotFramework-Emulator) project as a feature request. The information you will see in the log pane when connected via the Emulator is what we have available to us right now.

[2019-02-01 21:49] corinagum commented on #1656
@JasmeetVirdi please share the errors you are receiving on IE and we can take a look at them. If there are User-Agent alerts that you are recieving, this is a known issue that should be resolved in master bits as soon as possible, and released with 4.3 to latest.

[2019-02-01 22:21] corinagum commented on #1071
I found that `charset` in `<script>` is deprecated on [MDN script element page](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#Deprecated_attributes)

We will have to change server-side settings to set utf-8 during deployment.

[2019-02-01 23:20] omarsourour commented on #1423
I updated the [Angular WebChat Example](https://github.com/omarsourour/ng-webchat-example) repo here. However it is dependent on the next release of WebChat that would contain the fix in #1686.

@corinagum Please confirm if anything else is needed. If not, please go ahead and close this issue.

[2019-02-02 08:20] vinayak99999 opened #1687 "Modification of hero card using HTML"
I have added HTML code and custom CSS for the same inside text element of hero card see below code for reference. I have added buttons also. So the issue is how do I trigger button to certain intent or dialog using onclick function.(what I have done below is not right...I want to know if its possible).
Sorry I cannot paste code as it directly renders HTML instead of code.
Is it possible to? Any he

[2019-02-02 18:56] sanoorvishwa opened #1688 "Token issue with my Azure bot"
Hi,
From my local:3000, I am able to connect to the mock bot using
[code]
and I am able to get the token.
But, if I change the url to connect to my dev bot on Azure, it is not connecting and throws error
`POST https://directline.botframework.com/v3/directline/conversations 403                          tryCatch.js:9 `

Any idea what setup need to be done on my Azure dev bot to solve this?

Thanks,

[2019-02-03 07:08] raghukrishnamoorthy commented on #1662
Any idea on when this merge might happen?

[2019-02-04 09:07] JasmeetVirdi commented on #1656
The errors on console are below
![image](https://user-images.githubusercontent.com/13176977/52198748-e179d780-2889-11e9-9c42-e7366984bfa4.png)

I used to below code:
<!DOCTYPE html>
<html>
  <body>
    <div id="webchat" role="main"></div>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat-minimal.js"></script>
    <script>
      window.WebChat.renderWebChat({

[2019-02-04 10:34] kosset opened #1689 "Not set up the BotChat object until the UI is opened"
Hi,

We are using BotFramework Webchat v0.13.1 to attach a webchat UI on a customer webpage. The webchat UI is attached using plain Javascript (not ReactJS). Also, we did some CSS modifications so that the Webchat UI starts minimized as a bot icon and expands to the normal state when the user clicks on it.

Our aim is to initialize the `BotChat.App()` after the bot icon gets clicked. Is there a wa

[2019-02-04 12:23] SimSpfx commented on #1648
If i am not mistaken it is an update in the adaptive cards. They do not longer support the function "processMarkdown".

In version | Change description
-- | --
1.1 | Due to a security concern, the processMarkdown event handler has been **REMOVED**. Setting it will throw an exception that will halt your code. Please change your code to set the onProcessMarkdown(text, result) event handler instead (

[2019-02-04 12:48] raghukrishnamoorthy opened #1690 "Using the Redux store to store conversation history and then retrieve it"
Hi,

I need to save the conversation history between bot being opened in different tabs. Something I'm considering right now is storing the result of store.getItem on to localstorage. This would store the result of store.getItem() onto the localstorage.

Now, when I open the bot in the subsequent tab, I would like to render the activities i have stored in localstorage. So that it looks like the co

[2019-02-04 12:58] raghukrishnamoorthy commented on #365
Any updates on how this could be done? I'm struggling with getting this implemented using localStorage and the Redux store.

[2019-02-04 13:02] jamiemaguiredotnet commented on #365
It's look like there is interest in a blog post regarding this, I'll look into pulling something together on my blog at www.jamiemaguire.net which covers the basics.

[2019-02-04 16:06] raghukrishnamoorthy commented on #365
@jamiemaguiredotnet Is it okay if i shoot you an email about this?

[2019-02-04 16:21] jamiemaguiredotnet commented on #365
Sure.

[2019-02-04 16:40] mewa1024 commented on #1572
Hmm. What does our documentation say about fallbackText? If it's purpose is to allow the bot experience to degrade gracefully across channels, then I don't think we should show the error message. Could showing the error messages be something the developer could configure in Web Chat?

[2019-02-04 16:43] raghukrishnamoorthy commented on #365
Done. Thank you.

[2019-02-04 17:13] corinagum commented on #365
@jamiemaguiredotnet Please share you post with the community when it's ready!

[2019-02-04 17:15] jamiemaguiredotnet commented on #365
For sure! Incredibly busy myself but will get a blog post out, I have about 20 topics for bot framework blog posts as I've learned a lot in these last 12 months moving from BFv3 to BFv4!

[2019-02-04 17:19] corinagum commented on #1690
Hey @raghukrishnamoorthy! It looks like you've already found #365 and there is already some community participation -- I'm going to close this issue as a duplicate. For a Web Chat sample, please feel free to check out [17.chat-send-history](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/17.chat-send-history) to get started on storing history.

[2019-02-04 17:19] #1690 closed

[2019-02-04 17:34] corinagum commented on #1688
Hi @sanoorvishwa, Mock Bot is implemented with an API that allows fetching a token. This API is implemented per bot, and would need a separate implementation for your bot. We have an issue filed https://github.com/Microsoft/BotFramework-WebChat/issues/1534 to show users how to implement a token server. Please feel free to track that issue if you are interested!

Although it hasn't been merged into

[2019-02-04 17:34] #1688 closed

[2019-02-04 17:46] corinagum commented on #1662
#1676 was merged in a few days ago and `master` bits will have updated DLJS. `latest` will have these changes at our 4.3 release in a few weeks.

[2019-02-04 17:46] #1662 closed

[2019-02-04 17:52] corinagum commented on #1656
@JasmeetVirdi [Promises are not natively supported in IE11](https://caniuse.com/#search=Promise), so you will need to use the es5 ponyfill in order to support Web Chat on IE11 via the CDN. From your last comment it looks like you are using the minimal cdn. Please use the [es5 sample](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/01.b.getting-started-es5-bundle) as reference

[2019-02-04 17:57] raghukrishnamoorthy commented on #365
@corinagum Hi, the example shows creating an actual react app. I simply want to use the CDN and get this done. Is that possible?

I'm able to go as far as
[code]

The item in sessionStorage has the entire saved state. I'm stuck at plugging that state back in to the store when i render the webchat in a new tab. Is it possible to restore state this way?

[2019-02-04 17:59] corinagum commented on #1572
[Adaptive Cards Schema ](https://docs.microsoft.com/en-us/adaptive-cards/authoring-cards/card-schema) actually says the following:

I guess this is kind of ambiguous -- I think this could be interpreted as the equivalent of an 'alt' attribute in an image, but also could be even more generic as an error message saying the version of the card doesn't match the client's.

[2019-02-04 18:00] raghukrishnamoorthy commented on #365
Thanks for pointing the sample out but it involves creating the bot in React. I just want to use the CDN and store history.

I've gone as far as creating the store and persisting it to sessionStorage. This has all the conversation data. I simply cannot figure out how to restore the state again when I open it in a new tab.

[code]

[2019-02-04 18:06] raghukrishnamoorthy commented on #1674
@corinagum Thank you very much. I'll see if this works out for me. Cheers!

[2019-02-04 18:46] stevengum commented on #1687
@vinayak99999 if you use triple-back ticks and js it should render properly, e.g:

and the formatting in use:

[code]

[2019-02-04 21:13] brandonh-msft commented on #1669
@corinagum instead of closing this issue, can we transfer it to the relevant repo where the pages/flows showing up in ABS are created? Thanks!

cc @cmayo, @sgellock, @ovishesh

[2019-02-04 21:14] brandonh-msft commented on #1669
@corinagum instead of closing this issue, can we transfer it to the relevant repo where these deployments are implemented (internal or external)? Thanks!

cc @cmayo, @sgellock, @ovishesh

[2019-02-04 21:26] navzam opened #1693 "README is not clear about secrets/tokens"
The README includes snippets containing lines like

`directLine: window.WebChat.createDirectLine({ secret: 'YOUR_BOT_SECRET_FROM_AZURE_PORTAL' })`
`directLine: window.WebChat.createDirectLine({ token: 'YOUR_BOT_SECRET' })`
`this.directLine = new DirectLine({ token: 'YOUR_BOT_SECRET' })`

but "bot secret" is misleading. There are a lot of secrets and tokens in Bot Framework: DirectLine secrets, Dir

[2019-02-04 23:44] corinagum commented on #1687
Hi @vinayak99999 Please take a look at the [rich card attachment docs](https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-send-rich-cards?view=azure-bot-service-3.0) for an example of how Hero Cards can be implemented.

Because you are rendering your own buttons in your example, these buttons are not hooked up to Web Chat to perform any action. If you want to continue usi

[2019-02-04 23:44] #1687 closed

[2019-02-04 23:53] compulim commented on #1684
Yes, this is a dupe.

[2019-02-04 23:53] #1684 closed

[2019-02-05 00:02] compulim commented on #1689
@kosset you can just call `BotChat.App()` when the "bot icon" is clicked (but don't call it more than once). Although we have a sample in v4, it is doing a bit more than that:

- Lazy-load Web Chat UI (you can do it in v3, v4, with/out React)
- Show a red dot when a message come when UI is minimized (you can do it in v3, v4, with/out React too)
   - It is easier to code it using v4, because we exp

[2019-02-05 00:07] corinagum commented on #1689
Hi @kosset,
Please let us know if you have any questions or concerns (via your customer) about upgrading to v4 of Web Chat. We understand that it's a large undertaking, but we hope to enable all of our customers to make the jump with as few pain points as possible.

Unfortunately Web Chat doesn't support lazy loading of the bot.

[2019-02-05 00:21] compulim commented on #1693
Will fix in #1695.

[2019-02-05 02:34] compulim commented on #609
In v4, we moved to another carousel component and this is no longer an issue.

On the other hand, we are using [`object-fit: cover`](https://css-tricks.com/almanac/properties/o/object-fit/) strategy. So depends on the content, the left/right hand side might be clipped to center the image.

[2019-02-05 02:34] #609 closed

[2019-02-05 06:57] raghukrishnamoorthy commented on #1674
@corinagum

The sample does not work for me.

I downloaded the sample and plugged in the blob storage config details. When i run the program I can see that the chat history is saved to the blob storage. However

[code]

does not seem to do anything. I can see that the activities are stored in the activities variable but the following line does not seem to do anything.

[code]

I'm not getting any

[2019-02-05 06:59] raghukrishnamoorthy commented on #365
I'm doing 2, 3 and 4 and found it to be a bit hacky. But this seems like the only working solution as of now. Thank you @jamiemaguiredotnet

[2019-02-05 11:11] dalvirsaini opened #1697 "Scroll Issue on Firefox"
I am facing scroll issue on Firefox and mobile. here i shared screen shot of chrome and Firefox. for chrome its fine but for Firefox its not working.

Here is example of Chrome. here scroll is working:
![image](https://user-images.githubusercontent.com/5260369/52269428-0b9fc800-2964-11e9-9c83-985767e99839.png)

Here is Example of Firefox where scroll not working
![image](https://user-images.github

[2019-02-05 18:01] corinagum commented on #1697
Hi @dalvirsaini, looking at your screencaps, it looks like the issue you are reporting is the lack of scrollbar in the second one. Is this correct? I tested our Mock Bot on Firefox (v65) just now and didn't see the same issue.

I have a few questions, if anyone who is repro-ing this issue could add their information that would be great.

1. It looks like this is v4 of Web Chat, is that correct? Ar

[2019-02-05 18:51] #1693 closed

[2019-02-05 18:53] #1533 closed

[2019-02-05 20:03] khmerforce commented on #936
@compulim hi compulim, are you still using working on storing the history so whenever the users reload the page, the conversation resume? Thanks!

[2019-02-05 20:08] khmerforce commented on #946
@shanthisri0222 @compulim  hi did you use this to get the token? because it is not working for me. Please help thanks. What is your 'hdnFieldToken'?
var xhr = new XMLHttpRequest();
			xhr.open('GET', "https://directline.botframework.com/v3/directline/tokens/generate",true);
			xhr.setRequestHeader('Authorization', 'Bearer ' + 'DIRECTLINE_SECRET');
			xhr.send();
			xhr.onreadystatechange = process

[2019-02-05 20:55] compulim commented on #1321
@rosskyl we fixed it in `4.2.1-master.0b60abf`.

If you pass, `username` as a props to Web Chat, we will pass it to the bot as `activity.from.name`. We won't use this username to generate user initials, because of I18N reasons.

Hope this will help you in your project. :)

[2019-02-05 20:55] #1321 closed

[2019-02-05 22:55] omarsourour commented on #1423
Sure thing @corinagum, will do. Do you want that out when the mime code fix is merged?

[2019-02-06 10:40] sanoorvishwa opened #1701 "Multi line text on typing area not converting to multi line on the bot message"
Hi There,
We have customized the typing area to have our own and attached it to Reactwebchat. We have multi line text input capability (using shift + enter). But this is not getting translated to multi line when posted to bot. It concatenates the text into one or two lines only based on the number of words available.
Do we have any way to achieve multi line text on bot?

Thanks,
Vishwa

[2019-02-06 10:42] sanoorvishwa commented on #1639
@compulim can you pl help me here?

[2019-02-06 17:57] corinagum commented on #1701
Hi @sanoorvishwa,
Multi-line text is a planned feature for Web Chat in our 4.4 release. You can track that issue over at: #124

If you need this implemented on your bot in the meantime, I recommend looking at Stack Overflow where the community can help you with "How to" questions. I found this questions which should help you get started: [Preserve line breaks in textarea](https://stackoverflow.com

[2019-02-06 17:57] #1701 closed

[2019-02-06 18:13] corinagum commented on #1423
That would be great! :) Thanks so much for the help @omarsourour

[2019-02-06 21:37] tonyanziano commented on #1267
Addressed in #1702

[2019-02-06 21:37] #1267 closed

[2019-02-06 22:44] khmerforce commented on #1091
@corinagum can the v4 webchat store the botchat history? for example, if you refresh the page, the chat will resume instead of clearing. Thank you!

[2019-02-06 22:57] khmerforce commented on #1674
@corinagum @raghukrishnamoorthy I have the same issue. I need the solution for this. ragkukris did you store the conversation to blobstorage like this? Thanks            storeItems["UtteranceLog"].UtteranceList.push(utterance);

https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0&tabs=javascript

[2019-02-06 23:34] corinagum commented on #1091
Please see #365 and #1674 for storing history feature :) It's not provided by Web Chat yet, but there are a few people who are implementing it themselves. If you need further support in building your bot and surrounding app, please consider asking how to questions on Stack Overflow.

[2019-02-06 23:36] corinagum commented on #1674
@raghukrishnamoorthy sorry for the late reply.
If the sample does not work for you, please feel free to file a bug in the BotBuilder-Samples repo. Alternatively, if you need further help with building your bot, please consider asking for help on Stack Overflow, where the community at large can help answer your questions. :)

[2019-02-06 23:52] compulim opened #1705 "SEND_FAILED_KEY is not defined"
Looks like related to offline UI change recently.

![image](https://user-images.githubusercontent.com/1622400/52381617-0192cd80-2a27-11e9-91fb-b02ce985b911.png)

![image](https://user-images.githubusercontent.com/1622400/52381643-20915f80-2a27-11e9-8341-09134b855644.png)

[2019-02-07 00:09] corinagum commented on #1705
:O

[2019-02-07 05:03] raghukrishnamoorthy commented on #365
@khmerforce you can get the conversationId from the directline object you create on the frontend JS.

This would be mydirectlineObj.ConversationId

Does that answer your question?

[2019-02-07 05:12] raghukrishnamoorthy commented on #1674
@khmerforce I am using the code at https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/22.conversation-history

If you go through the sample, whatever is there already takes care of storing and retrieving the conversation history when you pass in the conversation ID.

The only problem is with the sendconversationhistory method which does not seem to do anything. I

[2019-02-07 16:55] cwhitten commented on #1371
@ryanvolum @compulim this is known and pending a larger conversation with the Bot Framework Service teams in a consistent message on how to achieve this. The documentation you reference does not align with the modern suggested methods. We should have some direction on this next week.

[2019-02-07 17:11] cwhitten commented on #1596
this is addressed in https://github.com/Microsoft/BotFramework-WebChat/pull/1686

[2019-02-07 17:11] #1596 closed

[2019-02-07 17:15] cwhitten commented on #1437
moving to the DLJS project. cc @dandriscoll @ckkashyap this looks to be a platform problem.

[2019-02-07 17:31] GApaniagua opened #1707 "Carousel does not work when it contains a <ul>"
Hi, I'm having a problem with the displacement of the carousel with adaptive cards, inside the adaptive card, I have a **"TextBlock"** that is showing a list **'-'**. but when I try to change this card, I won't let you. This only happens when the list is a **'ul'** otherwise if I add a **'ol'** the scrolling works correctly, attached video of the problem.

[Error ul Video.zip](https://github.com/M

[2019-02-07 17:37] compulim commented on #568
Fixed in #1698. To prevent greedy focus, add `autoFocus` props and set it to `false`.

[2019-02-07 17:37] #568 closed

[2019-02-07 17:38] compulim commented on #1371
Moving to 4.4.

[2019-02-08 10:16] keshavnagpal commented on #1697
Hi @corinagum , I was facing a similar scrolling issue. where when i try to scroll up, it is not letting me and automatically scrolling at the bottom of the chat.
This keeps occurring on touch screen laptops/pc
when i move the same window to a non-touch monitor it works fine.
Please inform me when this is fixed.
Thanks

[2019-02-08 17:22] corinagum commented on #1705
Fixed by #1709

[2019-02-08 17:22] #1705 closed

[2019-02-08 17:30] corinagum commented on #1697
@compulim I don't have a touch screen laptop, could you investigate this?

[2019-02-08 17:36] corinagum commented on #1707
Hi @GApaniagua, thanks for reporting this. It looks like you're having this issue on iPhone simulation. Does this issue occur in other browsers or platforms?
Could you verify that you are using v3 of Web Chat?

Are you able to share your carousel code so that we can test this?

[2019-02-08 18:19] corinagum commented on #1671
Closing due to inactivity.

[2019-02-08 18:19] #1671 closed

[2019-02-08 23:40] GApaniagua commented on #1707
Hello @corinagum the problem occurs in any browser, I'm implementing the web chat in an html. the version I'm using is the latest, attached html and carousel.
[Files.zip](https://github.com/Microsoft/BotFramework-WebChat/files/2847274/Files.zip)

[2019-02-09 00:15] #1057 closed

[2019-02-09 03:19] SwedhaBalasubramanian commented on #454
Is there a way how to include the hyperlink in Workplace/Facebook?

[2019-02-10 15:37] sanoorvishwa opened #1712 "Messages move from bottom to top"
Hi There,
The default framework implementation for stacking the messages on bot area is bottom to top. Is there any way or configuration to get the messages stacked from top to bottom for the size i setup for bot message area?
Thanks,,
Vishwa

[2019-02-10 16:47] FRANZKAFKA13 opened #1713 "Start different bot dialogs determined by index.html"
Hi,

I am planning to render my bot on two different pages.

On one page, the bot should work like a normal conversational UI - the user chats with the bot (let's call it "input mode"). On another page, the bot should solely display information to a user (let's call it "display mode").

Therefore, I need a way to communicate to my bot whether it should start its "input mode" or "display mode". I p

[2019-02-10 16:58] Amintasn opened #1714 "Text to Speech Randomly Working"
Using Webchat v4 with Botframework v3.
In most of the case the bot stops speaking in the middle of a phrase.
Speech-to-Text works fine though.
Also getting special characters in the bot reply like 'Good afternoon! Iâ€™m Aila, a Microsoft Virtual Conversational AI Agent. How can I help you today?'
Thoughts?
[code]

[2019-02-11 01:23] nicholasamiller commented on #1697
I am also seeing this issue, with Chrome, with MockBot, using this:

 https://microsoft.github.io/BotFramework-WebChat/06.a.cognitive-services-bing-speech-js/

See vid:

https://1drv.ms/u/s!AqLTBxPBk_dXhux7ksIgD45D6LDu-g

Not touch screen.

I am also seeing the issue in my customised WebChat.

Is there some dependency I should revert to avoid this?

[2019-02-11 02:34] khmerforce commented on #365
@raghukrishnamoorthy  yes I did that but it is empty. Do you know why? I looked in Blob, a conversationId is being stored

[2019-02-11 02:41] khmerforce commented on #1674
@raghukrishnamoorthy I am using node.js. Do you know where I can find the nodejs version?

[2019-02-11 04:22] raghukrishnamoorthy commented on #1674
@khmerforce Sorry, I cannot find a nodejs sample for the conversation history workflow. I'll tell you what I'm doing. I created a blob storage account on Azure. After that, I configure the middleware like shown in the .NET example I'm using above. This intercepts all incoming and outgoing messages and pushes it to blob storage. When i retrieve it, I use the conversationId to get the relevant histo

[2019-02-11 05:58] raghukrishnamoorthy commented on #1212
What's the expected timeline on this in case this might get implemented?

[2019-02-11 06:01] raghukrishnamoorthy commented on #465
Why is this happening? Is @compulim 's suggestion the only current known workaround? Can someone facing the same problem report back on what you've done so far to get this fixed?

[2019-02-11 06:05] raghukrishnamoorthy commented on #1571
+1

[2019-02-11 08:47] sanoorvishwa opened #1715 "Minimum bundle node-module availability for custom projects"
Hi,
I am building custom project with ReactWebChat component included in it.
[code]
I import ReactWebChat from 'botframework-webchat' node-module.

`import ReactWebChat, { createDirectLine, createStore } from 'botframework-webchat';`

My react-app build is creating huge file 1.2a3be8a7.chunk.js(1.9MB). Is there any custom node-module for **botframework-webchat** which will bring minimal required f

[2019-02-11 10:13] keshavnagpal commented on #1697
Thanks @nicholasamiller  for posting the video
I'm seeing exactly same issue.

[2019-02-11 11:37] keshavnagpal commented on #1640
![image](https://user-images.githubusercontent.com/10372931/52560560-ba3d8000-2e1e-11e9-9e40-3137b712a355.png)
image div inside the "ac-container" doesn't have a class
previously the div containing the image had "ac-image" class
but now div doesn't have that class and the img tag inside the div has the class="ac-image"
wouldn't it be better if div has the ac-image class?

i'm using master/webchat-

[2019-02-11 13:54] Jhanbury opened #1716 "Choice prompt UI changes depending on Text size?"
I have noticed that the Prompt UI changes based on the size of the option text:

- "Home" - is displayed fine

- "Do some other action that is bigger" - is displayed as a list in the response

In order for me to select the large option, the user must type out the text.
Is there already a workaround for this?

If not I think this would be a valuable feature to look at, let me know your thoughts

[2019-02-11 17:19] corinagum commented on #1716
@Jhanbury do you have screenshots or a working bot example that displays your issue? If you could provide code that creates this issue that would be great as well.

[2019-02-11 17:25] corinagum commented on #1697
@nicholasamiller Thank you very much! Let me look into this and get back to you guys.

[2019-02-11 17:37] corinagum commented on #1713
Hey @FRANZKAFKA13, great to see you're still working on your bot. :) Questions like these fall under the "How to" category, and actually would best be asked on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework). Over there, the community at large can help you with your Bot Framework / React questions. I've already alerted one of our support engineers about your question so s

[2019-02-11 17:37] #1713 closed

[2019-02-11 17:40] corinagum commented on #1712
Hi @sanoorvishwa, this isn't a current feature of Web Chat, however, the building blocks of our app allow users to pick and choose which components they want to build, and if you would like you are welcome to create your own transcript display. For starters on how to detach components, please take a look at our sample [13.customization-speech-ui](https://github.com/Microsoft/BotFramework-WebChat/t

[2019-02-11 17:40] #1712 closed

[2019-02-11 17:45] corinagum commented on #1714
Hey @Amintasn, thanks for reporting this. Do you have any repro steps for the text-to-speech issue? In case this isn't repro'd on MockBot, are you able to share your published bot to test this out on?

As for the special characters, this strikes me as an encoding issue. As a quick test, could you try setting your [`charset` to utf-8](https://github.com/Microsoft/BotFramework-WebChat/issues/1071#is

[2019-02-11 17:47] FRANZKAFKA13 commented on #1713
Hello @corinagum,

thank you for the hint, I will post the question and other "HowTo" questions on StackOverflow.

I have another question that, I hope, doesn't fall under the "How to" category and can be answered with the same two code snippets that I posted.

When rendering the bot with the webchat client, the initial dialog is started twice (await dc.beginDialog('welcome');), while when using t

[2019-02-11 18:02] corinagum commented on #1212
@raghukrishnamoorthy This feature is currently slated for our April 15th release, though we haven't solidified our next release schedule yet. :)

[2019-02-11 18:07] corinagum commented on #1713
Hi @FRANZKAFKA13 your question is related to this thread: https://github.com/Microsoft/BotFramework-WebChat/issues/1371. It's an ongoing discussion with our team and does not yet have a confirmed plan of action for resolution. :)

[2019-02-11 18:29] #1656 closed

[2019-02-11 22:48] compulim opened #1718 "Travis CI: Use multiple stages to improve CI speed"
## Background

As more `create-react-app` project is installed, the build is becoming slower. 4 sample projects took 295 seconds to build, or 73 seconds per project.

We could use build stages in Travis to build samples simultaneously. But sharing files between stages will need to use external storage, e.g. Azure Blob. We can add a feature to our existing [build curator](https://github.com/compuli

[2019-02-11 23:00] Amintasn commented on #1714
Hey @corinagum, thanks for the quick reply.
While speaking to the bot it sometimes replies by voice, sometimes stays quiet or in some situations starts speaking and then stops in the middle of the answer.
You can try it out at https://bit.ly/2RXMWdw
Try saying:
. Hi
. What can you do for me?
. What's a chat bot?
BTW, I'm using https://cdn.botframework.com/botframework-webchat/latest/webchat.js
On

[2019-02-12 03:06] #1681 closed

[2019-02-12 08:33] raghukrishnamoorthy commented on #365
Post an event to the bot using directline.postActivity. In the subscribe part try to get the conversation Id. See if it comes up empty then.

Yes, conversationId is how the corresponding history gets fetched.

[2019-02-12 08:35] raghukrishnamoorthy commented on #1212
Ah that's a bit far in the future. Are there any current workarounds that you'd recommend? My limited google-fu ends up with links in the results redirecting me back to this thread.

[2019-02-12 08:37] raghukrishnamoorthy commented on #1662
@corinagum Fantastic. Thank you.

[2019-02-12 09:01] #368 closed

[2019-02-12 09:45] Jhanbury commented on #1716
@corinagum my apologies here is the UI results of what's happening:

Here is the normal scenario where the action text is under 20 characters:

![image](https://user-images.githubusercontent.com/11406932/52625649-5e6c0900-2ea9-11e9-8c8a-c668525f0768.png)

And here is the result of what happens when the action's text is > 20 characters:

![image](https://user-images.githubusercontent.com/11406932/5

[2019-02-12 10:01] Jhanbury commented on #1716
Could this be the source of the issue:

[suggestedAction: Line 7](https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/component/src/Styles/StyleSet/SuggestedActionsStyleSet.js)

What does the flipperSize represent?
Apologies I am not very familiar with the internals of the repository

[2019-02-12 13:36] sivanandh commented on #365
Hi @raghukrishnamoorthy, we have followed your steps to resume MS chatbot conversation, but here we are facing some issues - all conversation data (User Input and Bot replies) are displaying only for User Input. In the attached screenshot all the text with "User Input" annotation should be display with user icon (right hand side).
![chat_conv_issue](https://user-images.githubusercontent.com/224324

[2019-02-12 17:03] corinagum commented on #1212
At the moment I do not, sorry. I recommend checking out Stack Overflow and posting over there for community help. Hopefullly you find an answer! Please feel free to share back on this thread if you do.

[2019-02-12 17:30] mekinney commented on #1031
Any chance for a non-React workaround example?

[2019-02-12 18:34] FRANZKAFKA13 commented on #1713
Is there any workaround on how to prevent the "double activity"?

[2019-02-12 20:03] corinagum commented on #1716
@Jhanbury Thanks for the details!

Looking at the [botbuilder code](https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botbuilder-dialogs/src/choices/channel.ts#L93), it appears there is a 20 character max on suggested actions. I don't know of a workaround, but I have forwarded this issue to the SDK team for further insight. Hope that helps!

[2019-02-12 21:51] compulim commented on #1697
Looking into this too. The bug looks very legit. But I am struggling trying to repro.

Trying combination of a few things:
- Hi-DPI on/off
- Zoom ratio 100% vs 150%
- Firefox
- Mouse dragging scroll handler

Will be great if someone can give me some tips.

[2019-02-12 21:54] corinagum commented on #1714
@Amintasn, glad the temporary workaround works for you. Please keep an eye on #1071 for the fix. :)

Let me get back to you about text-to-speech after I investigate.

[2019-02-12 22:25] compulim commented on #1719
@bwamie this is a dupe of #1402. Resolved in PR #1581 and released as dev build on and after 4.2.1-master.77b466e.

You should see it in 4.3 soon. 😉

[2019-02-12 22:25] #1719 closed

[2019-02-12 22:51] corinagum commented on #1660
hey @mekinney, it's very much looking like this is the same error as over on #1697. We're still working on getting a consistent repro, but we have @compulim prioritizing this fix now. Thanks for your patience. :)

[2019-02-12 23:34] stevengum commented on #1716
@Jhanbury can you provide more code on how you're creating the prompt? If you change the `Style` attribute on your `ChoicePrompt` instance, you can specify SuggestedActions by using [ListStyle.SuggestedActions](https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Choices/ListStyle.cs#L35).

[code]

Let me know if this solves the issue,, thanks!

[2019-02-13 00:46] compulim commented on #1697
I kind of understand the problem.

Technically speaking:

- "scroll to bottom" means, "if I am sticky, and I am not at the bottom, scroll to bottom"
- "I am no longer sticky" means,
   - "scroll event emitted due to user gesture, and the `scrollTop` value is no longer at bottom"
- "I become sticky" means,
   - "scroll event emitted, `scrollTop` value changed to the bottom value"

We prefer this be

[2019-02-13 01:37] bwamie commented on #1719
Thanks @compulim  :)

[2019-02-13 02:06] nicholasamiller commented on #1697
Also in Chrome - see my vid.

On Wed., 13 Feb. 2019, 11:46 William Wong <notifications@github.com wrote:

[2019-02-13 06:58] SwedhaBalasubramanian commented on #1607
May I know when you will support AdaptiveCards for Facebook/ Workplace??

[2019-02-13 08:36] Jhanbury commented on #1716
@stevengum your solution is correct,I was not explicitly setting the style.

The result is the actions buttons are displayed with a cut off as shown in the photo:

![image](https://user-images.githubusercontent.com/11406932/52697945-6e97ed00-2f6a-11e9-9f73-cb275b5348d5.png)

If you wish to see the full title you just have to hover over the button for the tooltip (nice feature).

Thanks @corinagum

[2019-02-13 08:36] #1716 closed

[2019-02-13 09:30] compulim commented on #1071
Since blobxfer does not support setting `x-ms-blob-content-type` during upload, after deployment, we need to run an additional script to modify the content type for uploaded JavaScript files, setting it to `text/javascript; charset=utf-8` should work.

We can adopt the following code as the base of the script.

[code]

[2019-02-13 09:41] compulim commented on #1659
@neetu-das elaborated. 😉

[2019-02-13 09:42] compulim commented on #1636
This is done in PR #1704.

[2019-02-13 09:42] #1636 closed

[2019-02-13 09:44] compulim commented on #1507
@blrchen you can look at #1218 (which I accidentally closed), and the comment in [BotBuilder#4632](https://github.com/Microsoft/BotBuilder/issues/4632#issuecomment-441957719). It should explain how to prevent magic code from showing up.

[2019-02-13 09:56] compulim commented on #1298
@20112077 this is done. You can look at sample [15.c.programmatic-post-activity](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/15.c.programmatic-post-activity) for details.

[2019-02-13 09:56] #1298 closed

[2019-02-13 10:02] compulim commented on #1072
Since the `markdown-it-emoji` plug-in may not handle different skin colors and other selections, we need to document clearly that this sample is not a full replacement for emoji, but a quick-and-reduced substitute to OS emoji keyboard. The dev who adopt this sample will need to understand the reduced functionality.

[2019-02-13 10:27] compulim commented on #1683
Added now.

[2019-02-13 10:27] #1683 closed

[2019-02-13 10:38] compulim commented on #1658
We should have a few different samples or styleSet for arrows/nubs. Anyone have a chance to capture some message bubble screenshots here?

- Center-aligned to the first line of text (Skype)
- Extends on the top left (like WhatsApp desktop app)
- Extends on the bottom left (like iMessage)

[2019-02-13 10:43] compulim commented on #1697
Need some community help here because I cannot reliably repro on my box (repro chance = 1-in-50). I don't know if my fix really works or not.

@dalvirsaini @keshavnagpal  @nicholasamiller could you guys help me by trying out the following pages?

- https://webchattest.blob.core.windows.net/scroll-test/index.html should have the fix
- https://webchattest.blob.core.windows.net/scroll-test/repro.html

[2019-02-13 10:46] compulim commented on #1689
I am scrubbing thru the issues and come with #941.

I think in order to minimize effort for developers, we can think about using #941 to show one of the many good UX to lazy-load Web Chat.

[2019-02-13 13:12] keshavnagpal commented on #1697
@compulim
I tried your solution it seems to work on my machine
and i was able to reproduce the issue several times in the same machine on repro.html

I went ahead and copied your webchat.js file and used in my solution, it fixed the issue
(although when trying to scroll while new messages are coming it's not as smooth)

I need to use webchat-es5.js
Can you try the same fix in webchat-es5 as well?

[2019-02-13 14:55] vishnu2017 opened #1722 "Embed Bot into Sharepoint 2013 on prem with directline inte"
Hi,

I am developing a Bot for a customer using v4 SDK. My end goal is to deploy this BOT on to a sharepoint 2013 environment.

I get this wierd error when I try to deploy stuff into a sharepoint site.

![image](https://user-images.githubusercontent.com/20475543/52719901-91f38400-2fcc-11e9-99ae-8f476a37995f.png)

This works on a normal web application but fails when deployed on a sharepoint site.

[2019-02-13 15:35] gabog opened #1720 "How do I pass a locale to webchat?"
Webchat seems to be taking the locale from the browser, is there a way of setting this in code like we used to be able to do in the previous version?

[2019-02-13 15:49] gabog opened #1721 "Where are the parameters for renderWebChat and createDirectLine"
I am hosting webchat using javascript, where can I find documentation on the parameters for "createDirectLine" and "renderWebChat" so I know what can pass?

Are the methods and parameters supported by the WebChat object documented somewhere? (I am also interested in createCognitiveServicesSpeechServicesPonyfillFactory.

[2019-02-13 17:21] corinagum commented on #1720
Hi @gabog,

You can indicate language by adding the locale key to your renderWebChat() implementation, like so:

[code]

Our list of currently available languages can be found in our [Localization folder](https://github.com/Microsoft/BotFramework-WebChat/tree/master/packages/component/src/Localization)

If the language you are looking to use is not there or incomplete, we would LOVE to have commun

[2019-02-13 17:21] #1720 closed

[2019-02-13 17:29] corinagum commented on #1721
Hi @gabog, unfortunately we don't have documentation with these kind of details at the moment. This question has been discussed over at #1654. We're keeping that one open for now since we're still having discussions about how to address documentation with the team.

Right now you can look at the [`createDirectLine.js`](https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/bundle/s

[2019-02-13 17:29] #1721 closed

[2019-02-13 17:37] gabog commented on #1721
Thanks. Having a page documenting the parameters and other constants would be great.

[2019-02-13 17:50] corinagum commented on #1722
Hi @vishnu2017 - I had this issue transferred over from BotBuilder since this is a Web Chat question.
Could you clarify a few questions for me?

- It looks like you are using v4 syntax, but you mention that you are using `botchat.js` (and have tried `botchat-es5` and `webchat-es5`). `webchat.js` indicates use of the v4 CDN - could you let me know which version of Web Chat you intend to use? We mig

[2019-02-13 17:55] Amintasn commented on #1714
@corinagum Great. Thanks a lot for the support.

[2019-02-13 19:20] EricDahlvang commented on #365
@sivanandh Are you using the **sendConversationHistory** method to send the history?   https://github.com/Microsoft/botbuilder-js/blob/master/libraries/botframework-connector/src/connectorApi/operations/conversations.ts#L153

[2019-02-13 20:02] corinagum commented on #1607
I don't know that the Bot Framework team has any control over third party adaptation of Adaptive Cards. @craigjensen, do you have any information on supporting Adaptive Cards on third party channels?

[2019-02-13 20:22] MickeyMehta commented on #1571
+1

[2019-02-13 22:30] vishnu2017 commented on #1722
Hey Corinagum,

Thanks for the quick response.

Firstly, here's my code just for reference.

[code]

So I use the same logic in a MVC application and everything works as expected.

When I move the same to embed it on a web page of sharepoint 2013 on prem environment, it pops out with an error.

So just wanted to understand, Is botchat.js compatible with SP2013?

Answering your questions :
1. Lates

[2019-02-13 22:53] corinagum commented on #1566
Hi @JasmeetVirdi, I'm sorry about the delay in getting back to you!
I looked into this issue, and unfortunately I'm not able to repro it in v3. I used the thumbnail code you provided me and got it to display as expected in v3
![image](https://user-images.githubusercontent.com/14900841/52749435-05ca6800-2f9e-11e9-8333-0975affc3d5a.png)

The only thing I can think of that may be causing this issue i

[2019-02-13 22:53] #1566 closed

[2019-02-13 23:06] gabog opened #1724 "How do I pass user ID and userName to webchat?"
Hi, what is the syntax to pass user ID and username to webchat using JS?

I tried the following:

        window.WebChat.renderWebChat({
            directLine: bot,
            userID: 'MyID',
            username: 'MyName',
            locale: 'en',
            botAvatarInitials: 'VA',
            userAvatarInitials: userInitials,
            webSpeechPonyfillFactory: speechFactory
        }, do

[2019-02-13 23:11] corinagum commented on #1722
It looks like your intent is to use v3 of Web Chat, not v4. Your screencap of the MVC application and your code indicate that to me.
First, I would make sure that your copy of the CDN is the correct file -- if you are using `webchat.js`, you are likely using the incorrect file. You should be using a `botchat.js` file, unless you have renamed it. (There are significant differences between v4 and v3

[2019-02-13 23:25] #1444 closed

[2019-02-13 23:44] corinagum commented on #1714
@Amintasn, Unfortunately I'm not able to repro this bug. I tried taking a look at your bot, but it looks like your bot is offline and I'm unable to connect.  I also tried this out a few times on Mock Bot, and never came to an problem where the bot stopped speaking mid-utterance.

Do you happen to have any console errors when you run into this issue?

I spoke with @compulim about your problem and h

[2019-02-13 23:56] #1697 closed

[2019-02-13 23:59] corinagum commented on #1707
Hi @GApaniagua, sorry for the late reply. I'm still having trouble reproing this problem. Could you tell me what commands I should type to prompt the carousel?

[2019-02-14 00:07] compulim commented on #1707
Web Chat UI is rendered by React. If you modify anything using DOM (`textContent` in your case), they will get reverted at random time.

And in this case, looks like you should use a custom attachment renderer to do the job. We have [a sample here](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/10.a.customization-card-components) that will teach you how to get it done. :)

[2019-02-14 00:14] corinagum commented on #1724
Hi @gabog, this is a recent issue that was merged [only a week ago](https://github.com/Microsoft/BotFramework-WebChat/pull/1682/files). Your implementation looks good to me.

Are you using `/lastest/` webchat.js? If so, adding the username isn't available yet. If you need this immediately, feel free to use the `/master/` CDN. Otherwise this will be available at our next release.

[2019-02-14 00:28] gabog commented on #1724
Thanks @corinagum, the issue doesn't repro on master. Is there a place where I can subscribe when this gets released so I can switch back to latest?

[2019-02-14 00:32] corinagum commented on #1724
Unfortunately we don't have any kind of feed right now... That's one of the things that's marked in our backlog on https://github.com/Microsoft/BotFramework-WebChat/issues/1399.
I can tell you that the release is currently scheduled for the end of February, so I would hope that if you check back on March 1st, the release of 4.3 will be published.

[2019-02-14 00:32] #1724 closed

[2019-02-14 00:51] compulim commented on #1660
Hi @mekinney. We have updated our scroll-to-bottom component in PR #1621 and PR #1725. Looks like the issue is fixed. Can you try our latest dev build and see if it repro?

In your HTML file, modify the following line will use dev build.

[code]

We use `react-scroll-to-bottom` component to provide stick-to-bottom functionality. We bumped to 1.3.0 then eventually 1.3.1, which provide a more reliab

[2019-02-14 05:04] keshavnagpal commented on #1660
@compulim
is it fixed in master/webchat-es5.js as well ?
can i use it now

Thanks

[2019-02-14 05:23] gabog opened #1728 "ConversationUpdate is sent three times by webchat (in master), 1 time in latest and 2 times from BF emulator"
Hello, we rely in conversationUpdate messages to determine when to display a startup dialog in a bot.

When I use webchat from latest, I only get 1 conversation update from web chat when it is first instantiated and the next one comes in after the user replies to the bot (these conversationUpdate messages have the From.Id set to the conversation ID and my bot UserState doesn't initialize correctly

[2019-02-14 05:28] gabog opened #1729 "How do I change the voice font to be used with WebChat?"
In the previous version of webchat (v3), we were able to set the voice font the synthetizer would use ("Microsoft Server Speech Text to Speech Voice (en-US, Jessa24kRUS)", "Microsoft Server Speech Text to Speech Voice (en-US, Guy24kRUS)", etc.)

I don't seem to see that parameter in the current call to window.WebChat.createCognitiveServicesSpeechServicesPonyfillFactory in the new webchat.

How do

[2019-02-14 05:35] gabog commented on #1396
Hi, any updates on this one?

Thanks

[2019-02-14 05:44] gabog commented on #1724
OK @corinagum , I'll check back at the end of the month.

[2019-02-14 06:12] ashay-maheshwari commented on #465
I faced a similar situation. I am using Node JS SDK 3.0 and deployed my bot on Web Chat channel.
I tried chatting to bot after a gap of almost 24 hours and observed that messages are not sent to bot with an error of "Could not send, please retry". I tried this almost for 4 times when finally I got a response from bot. Seems like bot sleeps if no one talks to it.

[2019-02-14 07:10] gabog opened #1863 "QnAMaker responses are said twice when using webchat"
**Project**
Virtual Assistant

**Description**
When you use speech, QnAMaker responses seem to be read twice when using webchat (this doesn't seem to happen in the emulator)

**To Reproduce**
1. Deploy VA to webchat with speech enabled.
2. Say "What is your name" using speech
3. You'll hear "My name is the Virtual Assistant! Nice to meet you :)" twice.

**Expected behavior**
It should only say the

[2019-02-14 07:53] sanoorvishwa commented on #1715
Adding to the above question: In the custom project [14.customization-piping-to-redux](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/14.customization-piping-to-redux) (with 'botframework-webchat' included), how do I build it to es5 bundle. With the regular build, my bot is not working in IE11.

[2019-02-14 11:38] vishnu2017 commented on #1722
Hi Corinagum,

I actually bumped into this link [https://github.com/Microsoft/BotFramework-WebChat/issues/1326](https://github.com/Microsoft/BotFramework-WebChat/issues/1326)

I have used v4 logic and here's my code-
`<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Web Chat: Full-featured bundle with ES5 polyfills</title>

    <script src="https://cdn.botframework.com/botframework-webchat/

[2019-02-14 11:45] vishnu2017 commented on #1722
n.n=function(e){**var t=e&&e.__esModule?function(){return e.default**} --- Column 1028 as per the above screenshot.

@corinagum

It is breaking at this return statement, not sure what's going wrong.

[2019-02-14 14:06] dalvirsaini opened #1730 "HttpClient throws unexpected ThrowForNonSuccess when calling v3/directline/conversations"
Hi,
My following code is not working in the webAPi project which has target framework 4.5

[code]
This error coming:
at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
   at OlyBot.Api.BLL.Handoff.<GetConversa

[2019-02-14 14:25] saurav2107 commented on #1217
Hi Team,
Is there any update on using Speech Services in Web Chat v3, can you please point me to the solution.

[2019-02-14 16:28] xenflux opened #1731 "SEND_EVENT not working"
Hello,

I am trying to trigger built-in welcome event when a user clicks chat button. I am using Dialogflow for the NLU platform. Latest webchat is not sending event request as shown in the sample. I followed [15.d.backchannel-send-welcome-event](https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples/15.d.backchannel-send-welcome-event/index.html) sample. Dialogflow has WELCOME even

[2019-02-14 16:57] xenflux opened #1732 "Severe UI issues on Chrome and Safari"
Hello,
UI looks fine on Firefox but completely messed up on Chrome and Safari, I'm using latest webchat. Below are some of the examples with screenshots attached.

- **Type your message** text is not centered vertically which looks ok in Firefox but hides send box's top border in Chrome and Safari.

**Firefox screenshot**:
<img width="406" alt="firefox_type_your_message" src="https://user-images.g

[2019-02-14 17:09] corinagum commented on #1732
Hi @xenflux, please see workaround at https://github.com/Microsoft/BotFramework-WebChat/issues/1228

[2019-02-14 17:09] #1732 closed

[2019-02-14 17:14] corinagum commented on #1729
Hi @gabog, as far as I can tell this is a duplicate of your filed issue #1396. This feature is currently slated for our 4.4 release.

[2019-02-14 17:14] #1729 closed

[2019-02-14 17:14] xenflux commented on #1732
@corinagum Thanks. Seems like [#1228 ](https://github.com/Microsoft/BotFramework-WebChat/issues/1228) is for the button UI issue and doesn't mention 'Type your message' UI issue. I'll open another issue.

[2019-02-14 17:17] corinagum commented on #1728
@gabog, this is an ongoing discussion here: https://github.com/Microsoft/BotFramework-WebChat/issues/1371#issuecomment-461508847
Please feel free to bring your points up in that issue.

[2019-02-14 17:17] #1728 closed

[2019-02-14 17:19] xenflux opened #1733 "UI issues on Chrome and Safari"
Hello,
UI looks fine on Firefox but completely messed up on Chrome and Safari, I'm using latest webchat. Below are some of the examples with screenshots attached.

- **Type your message** text is not centered vertically which looks ok in Firefox but hides send box's top border in Chrome and Safari.

**Firefox screenshot**:
<img width="406" alt="firefox_type_your_message" src="https://user-images.g

[2019-02-14 17:32] xenflux commented on #1733
<!DOCTYPE html> fixed it as mentioned in [#1228](https://github.com/Microsoft/BotFramework-WebChat/issues/1228). Thanks @JasonSowers

[2019-02-14 17:33] #1733 closed

[2019-02-14 17:37] gabog commented on #1729
Hi @corinagum, #1396 is about the emulator, my request here was about webchat and JS, are these the same thing?

[2019-02-14 17:39] corinagum commented on #1729
@gabog, the changes will need to be made on Web Chat before they can be made on emulator. Thanks for asking. :)

[2019-02-14 17:40] gabog commented on #1729
ah, ok, thanks sorry for the noise, I see that both webchat and emulator are mentioned in the thread. Our main priority is emulator.

Thanks

[2019-02-14 18:06] compulim commented on #1731
Your code looks good to me. And I also tested sample `15.d` thru [the demo link](https://microsoft.github.io/BotFramework-WebChat/15.d.backchannel-send-welcome-event/) and looks good.

Few things to investigate:

1. Are you using `/master/webchat.js` build? The `SEND_EVENT` is not in `/latest/webchat.js` (production 4.2.0) yet. But only on `/master/`, a.k.a. dev build.
2. Open development tools, g

[2019-02-14 18:07] compulim commented on #1707
For `ul` vs. `ol`, there is a bug on the carousel component, will fix it.

[2019-02-14 18:18] xenflux commented on #1731
@compulim Thank you for the quick response. My responses below,
1. Yes, I tried both master and latest.
2. Yes, I see the POST call to /activities/. Here is the screenshot,
<img width="520" alt="screen shot 2019-02-14 at 12 13 06 pm" src="https://user-images.githubusercontent.com/47638187/52807850-3cfa5100-3052-11e9-82af-2c604700f93f.png">

Here is the network screenshot of the POST call,
<img wid

[2019-02-14 18:21] Amintasn commented on #1714
@corinagum Hi Corina, thanks for your support. I guess you probably didn't notice the bot windows given it was full maximized. Now I've placed in a visible screen position.  :)
Please try again at https://bit.ly/2RXMWdw when you can.
I've tried the cognitive service app and it worked well with my key.
While running the app on the browser I see the following console message.
webchat.js:67 Web Chat:

[2019-02-14 18:21] corinagum commented on #1715
@sanoorvishwa in that case, I would recommend you bring in your own polyfills into the project. To see what polyfills Web Chat uses, take a look at the [es5 bundle index.ts](https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/bundle/src/index-es5.ts).

[2019-02-14 18:27] corinagum commented on #1722
@vishnu2017 it looks like you have errors in your script. the `Expected identifier` error appears to be related to line 23 of your code.

[2019-02-14 18:40] compulim commented on #1731
Everything looks good to me too.

I assume one of the POST `/activities/` is your event, right?

Could you do 2 more investigations?

- Find the POST call that send the event. Could you screenshot/dump us the request payload?
- On your bot side, can you dump all activities in console.log to make sure it is not received?

[2019-02-14 18:57] xenflux commented on #1731
Right.

- Here is the screenshot with request and response details for the POST sending event,

<img width="731" alt="screen shot 2019-02-14 at 12 46 21 pm" src="https://user-images.githubusercontent.com/47638187/52810025-3de1b180-3057-11e9-90e7-d49f3f6f53f3.png">

- Since I am using Dialogflow for the NLU platform, I can't access bot side code and can't see backchannel activities (as far as i kno

[2019-02-14 19:58] compulim commented on #1371
Moved back to 4.3.

[2019-02-14 20:07] compulim commented on #1728
Background: in some points of time in `master` (not `latest`/`4.2.0`), we decided to synthesize a `conversationUpdate` so we believe it should fix some annoying issue. But last week, we discover it will create more confusion, and we are reverting our PR in #1685 (still open now, will merge very soon).

So in your 5 code snippets. Reverting our PR will cause the 5th snippet to go away. 1st to 4th s

[2019-02-14 20:40] vishnu2017 commented on #1722
@corinagum my bad. Thanks for pointing it out, I forgot to paste in the function name while I was moving stuff.

[@rysantos](https://github.com/rysantos)

![image](https://user-images.githubusercontent.com/20475543/52815470-c8142f00-30c4-11e9-8808-9dedec21de06.png)

![image](https://user-images.githubusercontent.com/20475543/52815613-23deb800-30c5-11e9-9c54-abd1de549994.png)

![image](https://user

[2019-02-14 20:52] justinwilaby commented on #1714
@Amintasn - I'm helping @corinagum get to the root of this problem while she focuses on our 4.3 release going into code freeze soon.

- Using your bot on Chrome 73, I went over the scenario 4x with no text-to-speech issues.
- Safari did not work for text-to-speech at all
- Firefox with an ad blocker did not work.
- Firefox with the ad blocker turned off did work flawlessly in all attempts.

To rul

[2019-02-14 21:25] mekinney commented on #1660
This change does fix my test harness.  I'll push it to our main app and hopefully it will work there also.

Thank you!

[2019-02-14 21:47] gabog commented on #1371
Thanks @compulim for prioritizing this for 4.3, I agree with @ryanvolum that the emulator and webchat should be consistent, the "custom welcome event" sample is useful but not obvious and it will take people a while to discover it. At the very least for light bots, emulator and webchat should behave the same and have a consistent conversationUpdate message that contains the user ID and allows us t

[2019-02-14 21:50] corinagum commented on #1722
@vishnu2017 I just messaged you on Teams -- let's meet over a screen share and chat in real time. I think this issue would be more quickly solved that way. :)

[2019-02-14 21:50] gabog commented on #1371
Also, for the custom event, it would be nice to have an explicit parameter in the webChat API where the dev can pass a function to be executed on startup so it is consistent and we don't have to reference a sample.

[2019-02-14 21:58] corinagum commented on #1660
@mekinney please let us know how it goes!

[2019-02-15 00:11] compulim commented on #1371
Closed accidentally by PR merge. There are a few documentation work need to be done.

(Thanks @corinagum for reminding me.)

[2019-02-15 01:36] compulim commented on #1031
You can copy ljubomirsinadinovski solution [above](https://github.com/Microsoft/BotFramework-WebChat/issues/1031#issuecomment-459397736). On the very last line, instead of using `<ReactWebChat activityMiddleware={ activityMiddleware } />`, you can pass the `activityMiddleware` to `renderWebChat()` call, like the one below:

[code]

[2019-02-15 01:42] compulim commented on #1371
@gabob we refrain from doing that for a few reasons, here is one of them.

- Browser can identify if a function is called due to an user action or not (e.g. clicking on a button)
   - Browser will deny certain privacy-related functions if they are not called as a result of an user action
- If we provide the "startup" function, it is probably not being called as an user action

Over the cons, the "

[2019-02-15 01:49] compulim commented on #1371
For `conversationUpdate`, it is generated by the Direct Line platform. Thus, there is no way to modify that. We synthesized one, but we reverted it.

Welcome message is interesting pattern, we discover multiple pieces of information that might be interesting to the bot:

- If the hosting page has SSO, the auth token from the page
- Browser language
- Latitude/longitude, we strongly recommend askin

[2019-02-15 02:03] compulim commented on #1564
In my experience, Intranet/enterprise means a custom scenario and not necessarily AAD. Please correct me if I am wrong.

We can setup a section specifically for AAD.

[2019-02-15 02:08] darrenj commented on #1564
AAD is a safe assumption given our customers.

[2019-02-15 02:18] compulim commented on #1639
Sorry for late response, we finally wrapped up 4.3 and I can put more focus on answering issues.

The code snippets looks correct to me. There are two middleware, one is `attachmentMiddleware`, another is for Web Chat Redux store. For middleware, there is [an excellent article](https://medium.com/@jacobp100/you-arent-using-redux-middleware-enough-94ffe991e6) talking about the middleware pattern we

[2019-02-15 02:20] compulim commented on #1648
@SimSpfx I think we [switched to the newer `onProcessMarkdown` function](https://github.com/Microsoft/BotFramework-WebChat/commit/83b99560ccd4dd95c858cba2cc620db2942f7f45#diff-29515e702067d45af072c18321029cbb) when we bump 1.1.2. Need to find out why it still pump the warning.

Will be great if anyone can help investigate.

[2019-02-15 02:24] compulim commented on #1673
If the button is focused, it won't slide away, for accessibility reason. That's why the button is still there.

Maybe we use a non-keyboard gesture to click on it, we should blur the focus. Need to investigate a good and reliable solution to differentiate between keyboard focus and mouse click focus.

[2019-02-15 02:33] compulim commented on #1715
## Bundle size

Looking at [Webpack visualizer stats](http://cdn.botframework.com/botframework-webchat/master/stats.html) (it is a multi megabyte huge file), it suggest that `postcss` is taking quite some space, followed by Adaptive Cards.

If we are not using Adaptive Cards (minimal bundle), we are still bundling part of it due to typing. We need to completely remove Adaptive Cards from minimal b

[2019-02-15 02:35] compulim commented on #1660
@keshavnagpal yes, it should be on our development build at https://cdn.botframework.com/botframework-webchat/master/webchat-es5.js now.

@mekinney thanks for your report. Please do let us know any further issues. We love to squash any bugs found. 💪

[2019-02-15 02:41] compulim commented on #1731
Sorry got caught from something this afternoon.

It seems this screenshot does not have the POST body. For example, this is one I captured from Chrome on my side.

![image](https://user-images.githubusercontent.com/1622400/52831012-d001ae00-3087-11e9-9f3c-59f2bb661b46.png)

I am new to Dialogflow for the NLU platform. Do you have any pointer I can take a quick look at it and understand the issue?

[2019-02-15 05:27] sivanandh commented on #365
Thanks @EricDahlvang , but not getting clear view, because currently we are using version3 and nodejs. here I couldn't able to find the sendConversationHistory, but we are tried few conversation method(privateConversationData, conversationData). Here we are sharing our code snippet [https://github.com/sivanandh/chatbot-code/blob/master/chat_code](https://github.com/sivanandh/chatbot-code/blob/mast

[2019-02-15 05:33] gabog commented on #1371
Thanks for explanation @compulim , I am personally OK with using conversationUpdate and "custom event pattern" going forward. Will this change go out in the release you guys are planning for the end of the month?

[2019-02-15 05:54] JasmeetVirdi commented on #1566
@corinagum The screenshot you provided is from webchat or emulator?The thumbnail appears fine in emulator but not in webchat for me.

[2019-02-15 05:59] gabog opened #1735 "Speech: Hitting on the mic icon doesn't stop speech"
Hitting on the mic while webchat is speaking doesn't stop the speech and webchat ends up listening to itself.

In v3 a user was able to stop the speech by starting to type something in the chat textbox. It would be good if that was possible today and if hitting on the mic would also stop speech.

Thanks

[2019-02-15 10:06] SimSpfx commented on #1648
I am using v4.2.0 and it is still in the file AdaptiveCardRenderer.js,

![image](https://user-images.githubusercontent.com/47321821/52849541-94132b00-3111-11e9-8c96-5b0cf4cc94b8.png)

perhaps did not commit? Or i am doing something wrong :)

[2019-02-15 10:40] Michaelvsk commented on #1648
Observed the same issue with [2.customization-minimizable-web-chat](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/12.customization-minimizable-web-chat) after setting botframework-webchat to 4.2.0 (didn't work at all with checked-in package*.json files).

After replacing `.processMarkdown` with `.onProcessMarkdown` in AdaptiveCardRenderer.js:144 and AdaptiveCardRenderer.js:

[2019-02-15 11:12] compulim commented on #1735
This is a known issue on Speech Services. The problem is the Speech Services SDK has no official API for stopping the microphone (nor event for detecting if any sound was heard).

There is an unofficial API for this feature and we will implement it as a workaround in 4.4

[2019-02-15 12:28] gabog commented on #1735
How about pressing the space bar or some other mechanism to stop speech while the prompt is being read?

[2019-02-15 15:40] xenflux commented on #1731
@compulim No worries :)

Sorry, Firefox shows it differently. Here is the screenshot with params captured on Firefox,

<img width="323" alt="screen shot 2019-02-15 at 9 24 17 am" src="https://user-images.githubusercontent.com/47638187/52866168-baca6500-3103-11e9-9ca7-f3a172b01528.png">

I understand. Here is the documentation on Dialogflow's events [Dialogflow Events](https://dialogflow.com/docs/e

[2019-02-15 17:19] corinagum commented on #1566
The screenshot is in v3 Web Chat. :)

[2019-02-15 17:31] EricDahlvang commented on #365
@sivanandh sendConversationHistory is in the latest BotBuilder V3 node sdk as well: https://github.com/Microsoft/BotBuilder-V3/blob/master/Node/core/lib/botbuilder.d.ts#L4381

Note the method description:

Using this method to send conversation history to WebChat will ensure the items are displayed as they should be (bot on left, user on right).

[2019-02-15 17:48] Amintasn commented on #1714
@justinwilaby - Thanks for your help.
I've actually found the root cause of the issue after reflecting on your points.
Yes, it fails in some browsers but it partially works on Chrome and Edge which are the most important platform for us.
Now the main cause of the text-to-speech speaking failure is that the bot at https://bit.ly/2RXMWdw  asks the user if he/she has additional questions after the ma

[2019-02-15 18:10] justinwilaby commented on #1714
@Amintasn - Good call with queuing messages for text-to-speech. We'll look into that. I'm glad you found a workaround and thanks again for bringing this issue to our attention.

[2019-02-15 18:13] compulim commented on #1371
Yes, this PR is in. 😉

Will close this one, and open another one for docs work around "welcome event".

[2019-02-15 18:13] #1371 closed

[2019-02-15 20:34] Amintasn commented on #1714
@justinwilaby Thanks!

[2019-02-15 22:40] corinagum commented on #1714
Opening a new issue for the queuing text-to-speech discussion. :)

[2019-02-15 22:40] #1714 closed

[2019-02-15 22:48] corinagum opened #1736 "Speech: Queuing messages for text-to-speech"
Reference: https://github.com/Microsoft/BotFramework-WebChat/issues/1714

Customer had an issue where text-to-speech has been cutting out on Web Chat. To quote the conclusion:

A workaround for now is to stop using "additional questions" type messages.
On the other hand **it would be great if the webchat.js could queue messages to read in queued fashion**.

(emphasis mine)

Queuing messages would

[2019-02-15 22:53] corinagum commented on #1389
Closing due to inactivity.

[2019-02-15 22:53] #1389 closed

[2019-02-16 09:22] Amintasn commented on #1714
@corinagum You rock Corina! :) Thanks

[2019-02-17 11:25] SanaWaseem commented on #859
The links are broken

[2019-02-18 06:27] r-meh opened #1737 ""Error: Conversation ended" when switching to another component from webchat/bot"
We are migrating our bot from v3 to v4 and encountered an issue where if I move from bot component to any other component in our angular app, below uncaught error is thrown by bot framework:

    ERROR Error: Uncaught (in promise): Error: conversation ended
    Error: conversation ended
        at Object.<anonymous> (webchat-es5.js:67)
        at n (webchat-es5.js:1)
        at Object.<anonymous>

[2019-02-18 10:23] squarenotch opened #1738 "Message content scrollbars not appearing and input box disappearing off the bottom of the page"
When using the sample code:

[code]
The scrollbars displayed are on the outside of the entire webchat and not just the messages window. Also the input box seems to be aligned to the top of the page and moves down with the messages until it disappears off the bottom of the page. [
![issue2](https://user-images.githubusercontent.com/16525324/52944398-35df8580-3367-11e9-8c30-d61c22d5d03a.png)
![issue

[2019-02-18 11:11] AndreMantas opened #1739 "Suggested actions with image/icon"
Any way or plans to add images to suggested actions buttons?

Something similar to Facebook Quick Replies

![image](https://user-images.githubusercontent.com/7627975/52945248-2e20e080-3369-11e9-99b9-3ac39f0ec482.png)

Currently I'm trying to set the Image property of the CardActions given to the SuggestedActions but without success.

[2019-02-18 12:09] sivanandh commented on #365
Hi @EricDahlvang thanks for your updates,
we have tried with sendConversationHistory but some promises rejection-warning is happening when i try with the method(sendconversation history). and i am following below github URL's for sample codes:
csharp updated the conversation history ( 22.conversation-history -
 [https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/

[2019-02-18 17:10] corinagum commented on #859
Links fixed.

[2019-02-18 17:16] corinagum commented on #1738
@squarenotch could you share your #webchat container's css? Since you are using `/latest/` CDN, not assigning 100% height and width to the `<div>` may cause styling issues.

If you don't mind, could you try temporarily changing to `/master/` bits and see if you still get the same errors? Please see this [related PR](https://github.com/Microsoft/BotFramework-WebChat/pull/1702). This version should

[2019-02-18 17:21] khmerforce commented on #1674
@raghukrishnamoorthy  did you get it to work? https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0&tabs=csharp this is the code I use to store in the blob. Is that what you use?

[2019-02-18 17:21] corinagum commented on #1737
Hi @r-meh, glad the fix is available to you on `/master/` bits. Unfortunately we don't have a feed for announcing our releases yet. We have issue #1399 for tracking ideas on how to communicate releases with our customers. Please feel free to add ideas or your +1 over there. :)
Our 4.3 release should be publicly available early March. Please check back then!

[2019-02-18 17:21] #1737 closed

[2019-02-18 17:50] khmerforce commented on #365
@raghukrishnamoorthy I can't use Directline. When I called it, it said it is undefine. I am using webchat v4 to call my bot now. Please help me people. How can I get the conversationID? Thanks

window.WebChat.renderWebChat({
        directLine: window.WebChat.createDirectLine({ secret: 'USER SECRET' }),
        userID: 'USER_ID',
		botAvatarImage: 'https://docs.microsoft.com/en-us/azure/bot-servic

[2019-02-18 18:02] corinagum commented on #1739
Hey @AndreMantas, great question. I'm not actually sure -- [Mock Bot](https://github.com/compulim/BotFramework-MockBot/blob/master/src/commands/SuggestedActionsCard.ts#L43) has suggested actions with images but there is [no support to display them](https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/component/src/SendBox/SuggestedActions.js#L49) on Web Chat.
@compulim, do you ha

[2019-02-18 21:51] EricDahlvang commented on #365
@sivanandh Correct, the node conversation-history sample is currently 'planned or in progress':

From https://github.com/Microsoft/BotBuilder-Samples on 2.18.2018:
![image](https://user-images.githubusercontent.com/11055362/52977846-b44a2080-3383-11e9-980a-6f9df7a5ffc8.png)

[2019-02-18 23:26] khmerforce commented on #365
@EricDahlvang  do you know when it will be completed for NodeJS?

[2019-02-19 12:11] squarenotch commented on #1738
@corinagum Thank you! Setting the #webchat container to 100% width and height along with using the master branch fixes the problem! We would like to use the Microsoft CDN. Is there any estimation on when the latest version will be available?

[2019-02-19 15:13] EricDahlvang commented on #365
@khmerforce I do not know when the NodeJS Conversation-History sample will be completed.  Please open an issue on the Samples Repository to pursue further: https://github.com/Microsoft/BotBuilder-Samples/issues

[2019-02-19 16:34] Jhanbury opened #1741 "ScrollToEndButton causes page to refresh"
### Problem
I'm using the master build for web chat at the moment and I have noticed that clicking the ScrollToEndButton causes the parent webpage to refresh.

However, I cannot reproduce on 4.2.0, so I think its just affecting the master build.

![image](https://user-images.githubusercontent.com/11406932/53031044-f185df80-3463-11e9-8f18-14c41d49f0ef.png)

### Temporary Workaround
I have a workaro

[2019-02-19 17:08] corinagum commented on #1738
@squarenotch glad we figured it out. :) Our 4.3 release is scheduled for public availability at the beginning of March. We don't have a feed announcing our releases yet, but if you could check back March 1 or so, `/latest/` should be updated with the 4.3 release and the styling fixes linked above.

Closing this issue, but please let me know if you have any questions.

[2019-02-19 17:08] #1738 closed

[2019-02-19 18:44] kevinclarkneudesic opened #1742 "Rewrite in TypeScript"
This is 2019 and this is an official Microsoft library.  Why is it not written in TypeScript.  Especially if other pieces of your framework like botframework-directlinejs (https://github.com/Microsoft/BotFramework-DirectLineJS) are written in TypeScript.  This makes it much harder to integrate into a modern React/TypeScript project.  I actually have to go in your source code to see how to use diff

[2019-02-19 19:15] corinagum commented on #1741
@Jhanbury thanks for filing this. :) It looks like the scrollToEndButton was missing a type="button" in PR https://github.com/Microsoft/BotFramework-WebChat/pull/1743

[2019-02-19 20:14] kevinclarkneudesic commented on #1742
Also all the demos are in vanilla JS...which is great if you know the library intimately or if there are a lot of comments in the code....which there AREN'T....it is no helpful having samples that only the writers of the code understand.  I.e. https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/13.customization-speech-ui/src

[2019-02-19 22:43] compulim commented on #1742
Few things:

- Although we are from Microsoft, that doesn't preclude us to use JavaScript
- Most packages we are using, UI or not UI, are not TypeScript with the exception of
   - `adaptivecards` is pure TypeScript, done by another Microsoft team
   - `microsoft-speech-browser-sdk` is pure TypeScript, also done by another Microsoft team
   - `typescript`, is of course, written in TypeScript
   - `

[2019-02-19 22:43] #1742 closed

[2019-02-19 22:55] kevinclarkneudesic commented on #1742
LOL.  All good dude... you are probably one of those JavaScript devs like Dan Abramov who have never even used TypeScript so you don't understand the benefits, ESPECIALLY when creating a library that is 3rd party.  Your own internal applications, go nuts, but when you are creating a library that is an official Microsoft library trying to get users to adopt the bot framework you should make it easi

[2019-02-20 10:50] sivanandh commented on #476
Is there any way to achieve auto suggest or auto complete in Bot framework(Web chat) V3 and nodejs.

[2019-02-20 17:32] #1741 closed

[2019-02-20 18:16] corinagum commented on #1527
Did some research - it doesn't look like prettifying markdown inside a .json file is possible.

[2019-02-20 18:16] #1527 closed

[2019-02-20 18:20] corinagum commented on #1722
@vishnu2017 Hi Vishnu, I'm going to close this issue since we have it figured out offline. :)

To summarize our offline findings: after making sure the project was using the es-5 version of Web Chat, we added a prettified version of the .js file to debug. Sharepoint was breaking when hitting Adaptive Cards, related to https://github.com/Microsoft/BotFramework-WebChat/issues/1510, which is a fix th

[2019-02-20 18:20] #1722 closed

[2019-02-20 18:21] #1715 closed

[2019-02-20 18:28] corinagum commented on #1739
@AndreMantas, I had an offline conversation with @compulim about this - Web Chat does not currently support images in suggestedActions, but this is something that the team does want implemented. I'm going to use this issue to track the work for that. :) Please let us know if you have any questions.

[2019-02-20 18:34] corinagum commented on #1660
Sounds like this issue may be resolved so I'm going to close it -- @mekinney please feel free to get back to us with feedback or other questions you might have. I can always reopen this issue. :)

[2019-02-20 18:34] #1660 closed

[2019-02-20 18:35] corinagum commented on #1639
Closing due to inactivity. :) Please feel free to leave another comment if needed and I can reopen.

[2019-02-20 18:35] #1639 closed

[2019-02-20 18:46] corinagum commented on #1648
After reading @SimSpfx and @Michaelvsk 's comments, I believe this is an issue because the fix is in '/master/' bits but not on '/latest/' yet. When looking at the latest bits `adaptiveCardRenderer.js`, the project is using `onProcessMarkdown`. We will keep this issue open until 4.3 is available to the public to confirm that the bug is fixed in our next release.

For those looking for an immediate

[2019-02-20 20:39] #1482 closed

[2019-02-20 20:39] corinagum commented on #1472
duplicate of https://github.com/Microsoft/BotFramework-WebChat/issues/1564

[2019-02-20 20:39] #1472 closed

[2019-02-20 22:16] xenflux commented on #1731
Hi @compulim, were you able to find anything?

[2019-02-20 23:24] mekinney commented on #1660
This fix worked in our main code base also.  Thank you.

[2019-02-21 01:07] khmerforce commented on #1583
@sanoorvishwa hi I'm having the same issue. I can't find /packages/bundle/src/createDirectline.js. please help because it won't load the history for me

[2019-02-21 04:09] SushanthMandarthi opened #1746 "Last message with suggested action gets repeated after bot refresh."
Hi All,
I have the following scenario and an issue, can someone help me in resolving this.

**Scenario**: Bot page having plain text and a suggested action as last message.
**Action**: Page refreshed with same token.
**Issue**: Directline call bringing last message again (twice) and suggested action missing

Attached the screenshots below for clarity. First picture is of before bot refresh and nex

[2019-02-21 07:00] EricDahlvang commented on #365
@khmerforce  Here is a node conversation-history sample: https://github.com/EricDahlvang/BotBuilder-Samples/blob/eric/node_conversationHistory/samples/javascript_nodejs/22.conversation-history/README.md

[2019-02-21 13:39] biohazard999 commented on #814
This would be absolutely amazing! 👏👍
Basically, I need exactly this functionality.
For now, I think I have to dig into customizing the control.

[2019-02-21 17:09] corinagum commented on #1746
Hi @SushanthMandarthi, what version of Web Chat are you using? Does this scenario repro on restart conversation in the Emulator?

[2019-02-21 18:26] khmerforce commented on #1091
@corinagum @compulim sorry to bother you but I got the history to work on webchat v3 but I want to make it work on v4 because I like the front-end for v4. This is my code:

      var convoCookie = sessionStorage.getItem("conversationId");
    var botContainer = document.getElementById('WebChat');

    if (convoCookie == null || convoCookie == 'undefined') {
        console.log("conversationId not

[2019-02-21 19:28] khmerforce commented on #365
@EricDahlvang
 I got the history to work on webchat v3 but I want to make it work on webchat v4. This is my code:

  var convoCookie = sessionStorage.getItem("conversationId");

if (convoCookie == null || convoCookie == 'undefined') {
    console.log("conversationId not available " + convoCookie);
   var chatbot = new WebChat.createDirectLine({
		secret: BOT_SECRET,
		webSocket:false,
		pollingInt

[2019-02-21 21:56] grkrama opened #1748 "Passing User Data from HTML to chat bot"
hi,
I am trying to pass few user specific value to bot framework.
except 'userID' I am not able to pass few other important user data to chat bot framework.
In other directline i can send some thing like this

user: { id: 'test', name: 'john doe', region: 'US'}

I may have miss some parameter, can you suggest is there anyway i can send it using this directline code.
Also where can i find the list

[2019-02-21 23:28] corinagum commented on #1748
userID, username and locale can be indicated within the rending of the Web Chat object.

[code]

You can take a look at #1724 for more information. This isn't on `/latest/` bits yet so you will need to use `/master/` Hope that helps!

[2019-02-21 23:28] #1748 closed

[2019-02-22 04:14] compulim commented on #1483
Done.

[2019-02-22 04:14] #1483 closed

[2019-02-22 04:54] Ashish-Jovial opened #1749 "WebChat is is not adding in webBrowser control within windows form"
I have created a windows based application. In one form i have added the webBrowser control and set my web chat url as webBrowser.Url. But it is not working, it is giving following error scripts and not loading.

First error message
--------------------------
An error has occurred in the script on this page.
Line: 1
Char: 573
Error: Expected identifier
Code: 0
Url: https://webchat.botframework.com

[2019-02-22 04:58] Ashish-Jovial commented on #864
I am facing same issue, i raise the issue at following link.
https://github.com/Microsoft/BotFramework-WebChat/issues/1749

[2019-02-22 09:53] Kagigz opened #1750 "README is not clear about UI customization"
Finding how to customize the webchat UI is currently not straightforward.
Some of the style options are available here:
https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/component/src/Styles/defaultStyleSetOptions.js
But it's complicated to find for example how to set the height of the chat window, or change completely the aspect of the webchat (apart for colors etc.)

There a

[2019-02-22 11:23] sanoorvishwa opened #1751 "IE11 Issue: Message sending from bot results in js error"
Hi All,
We have issue with our custom app in IE11 browser.

### Setup
[code]

We import ReactWebChat from 'botframework-webchat' node-module.

`import ReactWebChat, { createDirectLine, createStore } from 'botframework-webchat';`

We have also used the polyfill file in the HTML <head> for es6 built files to work in IE11.

`document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features

[2019-02-22 15:14] bhavya-dhingra commented on #1423
This is done? Can i refer a sample?

[2019-02-22 16:29] grkrama commented on #1724
@corinagum thanks for input on #1748 .. one recommendation.. when you fix it for username , don't limit with username, allow to add more name:value pair, because there few things which would be helpful to pass the value from html to bot framework...

[2019-02-22 16:31] compulim commented on #1746
Can you check on the network traffic side, is Direct Line channel send 2 "May i help you?" or just once?

For suggested actions, the logic to show them up (or not) is at [`incomingActivitySaga.js:30`](https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/core/src/sagas/incomingActivitySaga.js#L30). If anything related to suggested actions, can you check if the logic over there is

[2019-02-22 17:15] compulim commented on #1751
Hi @sanoorvishwa,

(This file](https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/bundle/src/index-es5.ts) contains the list of polyfills required for IE11. We don't include it in NPM because your project probably have some already. Having both is not a great idea.

And for some features, we are using ES7 too.

[2019-02-22 17:26] corinagum commented on #1750
What do you mean by "embed *that* into a webpage"?
You can use `rootHeight` and `rootWidth` to adjust the size of the Web Chat container.

There is currently an issue open to update the root `README.md` at #1625. I will get to that as soon as possible.

[2019-02-22 17:26] compulim commented on #1750
Agree on the style options. It has been an ongoing challenge for us because there are easily 50+ things you can customize. We are extracting everything that is customizable into this file. We are thinking to make a Codepen, so dev can easily try out different things.

For the height of the chat window, since it is an UI component, it is up to the container to decide what the size the Web Chat UI s

[2019-02-22 17:26] EricDahlvang commented on #1749
Please share the code you are using to embed WebChat in the WebBrowser control.

[2019-02-22 17:29] compulim commented on #1749
Also, could you verify if the web component used in your Windows Form app is compatible with IE11?

[2019-02-22 17:46] corinagum commented on #1423
Hey @bhavya-dhingra, sorry this is not available yet. We had complications a few weeks ago omarsourour and I need to re-sync.

@omarsourour, the mime code fix is merged in and available in `/master/` bits. It won't be available in latest bits until the end of the month because of the push on 4.3 release. You can also use our latest master build via npm: `4.2.1-master.db34ce4`. Do you think this go

[2019-02-22 18:07] compulim commented on #1731
😵 Love to make it work. Challenge accepted. 💪

So, you want to send a custom POST request, via Web Chat, to Dialogflow API. And the POST request looks like,

[code]

Is that correct?

I am a bit disconnected here. You want to use Web Chat to connect to Dialogflow platform, that talk a totally different protocol, right? And if they are different protocol, why "SEND_MESSAGE" currently work in your c

[2019-02-22 19:55] dividor commented on #1731
@compulim Just to note - this feature works perfectly for me in the dev branch, thanks!  Looking forward to its release.

[2019-02-22 21:42] EricDahlvang commented on #365
@khmerforce  The client side javascript you've shared here is attempting to re-connect to a conversation, not replay a conversation's history.

[Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) is a better forum for usage type questions.  Please ask there, and I will provide a more formal answer.

[2019-02-22 23:30] EricDahlvang opened #1753 "WebChat V4 does not utilize conversationId"
This works as expected in WebChat V3 (Direct Line cached messages are automatically retrieved):

[code]

This does NOT work in WebChat V4:

[code]

[2019-02-22 23:31] EricDahlvang commented on #365
@khmerforce  I think you've found a bug.  WebChat V4 does not use the conversationId when constructing the DirectLine object.  I've filed a new issue for this here: https://github.com/Microsoft/BotFramework-WebChat/issues/1753

[2019-02-22 23:32] corinagum commented on #1753
@compulim, is resuming a conversation something that has been intentionally removed for v4? Or do we need to implement this to bring parity between v3 and v4?

[2019-02-23 00:17] khmerforce commented on #365
@EricDahlvang thank you so much Eric. Do you know when the bugs will be fixed? I tried to put the conversationId inside the render. It also doesn't restore the history.
WebChat.renderWebChat({
    directLine: chatbot,
    conversationId: sessionStorage.getItem("conversationId"),
    userID: 'USERID',
     botAvatarInitials: ' ',
  }, document.getElementById('webchat'));

[2019-02-23 00:20] khmerforce commented on #1753
@corinagum @EricDahlvang Please fix this. I really like the frontend for v4. How it has the bot icon and the suggested action doesn't block the message.

[2019-02-24 13:55] bhavya-dhingra commented on #1423
Hey @corinagum , thanks for the update. Can we expect this anytime soon? Since I have a angular 6 application in which chatbot has to be integrated.

[2019-02-24 18:47] Unders0n commented on #1619
still not seems to be fixed? Btw 4.3 was planned for 14 feb but i stil can't see it in nuget updates, am i missing smth? thanks

[2019-02-24 19:10] Unders0n commented on #1427
will it also include disabling cards and buttons in it after submitting? Cos now its not very obvios after button click that it was actually cliked and if clicked twice by default we have 2 events and messages dublicated. There's a backend workaround for that: https://stackoverflow.com/questions/51701003/microsoft-bot-framework-webchat-disable-adaptivecards-submit-buttons-of-previou , but it seems

[2019-02-25 03:01] rainmakerho opened #1754 "User's message will disappear when bot reply activity contain clientActivityId"
I use bot sdk v3 echobot with webchat v4.

User's message will disappear when bot reply activity contain clientActivityId.

The codes like,
`
private async Task MessageReceivedAsync(IDialogContext context, IAwaitable<IMessageActivity> result)
{
	var message = await result;
	var replyMessage = context.MakeMessage();
	var welcomeMsg = $"You said「{message.Text}」";
	replyMessage.Text = welcomeMsg;
	//

[2019-02-25 03:01] rainmakerho opened #1756 "User's message will disappear when bot reply activity's channelData contain clientActivityId from user's activity"
I use bot sdk v3 echobot with webchat v4.

User's message will disappear when bot reply activity contain clientActivityId.

The codes like,
[code]

index.html codes (webchat set webSocket to false),
[code]

[2019-02-25 08:15] bhushanvadgave opened #1755 "Help needed to use BotFramework-WebChat as internal module rather than as a NPM dependency"
We have been using BotFramework-WebChat v0.11.4 code by keeping the source in our codebase and using BotFramework-WebChat v0.11.4 as an internal module.

BotFramework-WebChat v4.2.0 works fine if our React app uses BotFramework-WebChat v4.2.0 as NPM dependency but since the amount and level of customizations that we need is high, we cannot go with this approach.

Hence, we want to keep the BotFram

[2019-02-25 11:27] alokraj68 commented on #651
Is there any place we can get more explanation for all these status codes and error messages? @compulim, @danmarshall

[2019-02-25 15:32] xenflux commented on #1731
@compulim I want the SEND_EVENT to work with Dialogflow, not send the POST request (POST was just an example to give you an idea on how i got the WELCOME event response). Everything on webchat seems to be working fine with Dialogflow except SEND_EVENT and i was wondering if you could find anything related to that.

So there is not possible? and no simple way to achieve this?

[2019-02-25 15:33] xenflux commented on #1731
@dividor What are you using for NLU platform? Is it Dialogflow?

[2019-02-25 17:04] corinagum commented on #1619
4.3 has been pushed back to March 4th. These changes are available in `/master/` bits but not `/latest/`.

[2019-02-25 17:25] corinagum commented on #1756
Hey @rainmakerho Can you try deleting the clientActivityId from the channelData before assigning it to `replyMessage.ChannelData`? Please let me know if the message is still being deleted.

[2019-02-25 17:34] corinagum commented on #1755
Hey @bhushanvadgave, could you clarify what problems you are running into? What are you trying that doesn't work? You are welcome to fork Web Chat to make the customization you need, but our team is focused on developing new features and customers who are using Web Chat as a dependency.

[2019-02-25 18:02] mewa1024 commented on #1091
(Removing the "Design needed" label. Chris's comment above describes behavior.)

[2019-02-25 19:12] EricDahlvang commented on #1753
It looks like this has already been fixed with https://github.com/Microsoft/BotFramework-WebChat/commit/beabb417ea9bb7d20bea83e17030f9885de80216#diff-db9380a3e8a1078e72acda6485454171

When will this fix be released?

[2019-02-25 19:13] EricDahlvang commented on #365
@khmerforce  The fix for this is already complete: https://github.com/Microsoft/BotFramework-WebChat/commit/beabb417ea9bb7d20bea83e17030f9885de80216#diff-db9380a3e8a1078e72acda6485454171  It just has not been released yet.

[2019-02-25 20:37] corinagum commented on #1753
@khmerforce it looks like Eric and I had a miscommunication when we talked about this on Friday. This is fixed, as noted in the PR Eric linked above. You can use `/master/` cdn or npm to access the change immediately, or wait until the 4.3 release in the beginning of March. Sorry for the confusion!

[2019-02-25 20:37] #1753 closed

[2019-02-25 20:40] #1625 closed

[2019-02-25 21:44] corinagum commented on #1750
@Kagigz I have updated the READMEs, hope that helps! Thanks for your submission.

https://github.com/Microsoft/BotFramework-WebChat/pull/1752

[2019-02-25 21:44] #1750 closed

[2019-02-25 23:20] corinagum commented on #1423
@bhavya-dhingra unfortunately I can't give you any timelines since this is a sample omarsourour is working on, but this is the tracking issue so please keep on eye out here! :)

[2019-02-25 23:21] omarsourour commented on #1423
@bhavya-dhingra I will have this ready by tomorrow, and sync with @corinagum. If all goes well, it should be ready by this Wednesday.

[2019-02-26 02:51] rainmakerho commented on #1756
Hi @corinagum ,
The message will display if I delete clientActivityId from channelData.
[code]

[2019-02-26 09:29] bhushanvadgave commented on #1755
Following are the major features for which we have customized BotFramework-WebChat v0.11.4.
- Bubble-shaped Carousel cards indicator below the carousel. This is used for navigating cards (user can directly jump to any card of carousel) in carousel and indicates the position of current card.
- Different logic of opening the button's tap-url in New Tab/Same Tab/New Window.
- Persistent Menu (besides

[2019-02-26 11:14] Jhanbury opened #1759 "ChoicePrompt Slider Button causes page refresh"
## Issue

seems very similar to #1741

The slider buttons for the choice options are causing the page to be refreshed.

![image](https://user-images.githubusercontent.com/11406932/53408818-66529f80-39b7-11e9-99f8-73aa67d67ebf.png)

I'm currently using the master branch.

[2019-02-26 13:18] darrenj opened #1760 "Piggybacking on outgoing activities does not work in IE11"
As per #1564 and [15.a.backchannel-piggyback-on-outgoing-activities](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/15.a.backchannel-piggyback-on-outgoing-activities) this code works on Edge/Chrome but fails on IE11 browsers which are still the mainstay of many enterprises.

This initial example works fine on Edge/Chrome but causes the webchat control to not render on IE11,

[2019-02-26 14:41] deepanigi opened #1761 "Sample : Customization minimizable-web-chat Adaptive card Markdown issue"
Hi All,

I am trying to run the sample minimizable react app in my local environment. I am getting the following error.

![image](https://user-images.githubusercontent.com/31543067/53420784-bbed7300-39dc-11e9-910a-b3c32c7eb718.png)

How can I set the Markdown in this react app?

Sample link

[https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/12.customization-minimizable-web-cha

[2019-02-26 14:43] FRANZKAFKA13 opened #1762 "master branch issues with cosmosDB. How to use specific Webchat release"
Hi,

I was using the "master" branch for a while, but suddenly my connection to the Azure CosmosDB was not working anymore. Then I tried the "latest" version, which made my connection to my DB working again. Unfortunately, I lost several styleOptions such as BotAvatar.

How can I use an older branch (somewhere between "latest" and "master"), since this should solve my issue.

`<script src="https:/

[2019-02-26 15:32] hansmbakker opened #1763 "Can I distinguish users from different sites in ITurnContext?"
The webchat channel allows to register multiple sites having different secrets.

Imagine that a webchat is embedded on the intranet of different companies. Recognizing / authenticating users on personal level is not a requirement. However, I do want to serve them content relevant to the company that the user belongs to.

I want to avoid the companies having to use Azure AD.

The embed codes are di

[2019-02-26 15:45] vidya091209 opened #1764 "change bot avatar dynamically."
I have created a bothandoff using https://github.com/tompaana/intermediator-bot-sample.
i am using a customized webchat  using directline. after handoff to agent i want to display the agent image.
how i can change the   botAvatarImage dynamically.

[2019-02-26 16:14] subhamawasthi opened #1765 "Direct Line channel writes out the CardAction value on first interaction"
I getting Postback value of card action in directline channel for the very first time. after this the postback value is not getting displayed it works fine.
while in webchat channel this is working fine.
attaching the image
![error2](https://user-images.githubusercontent.com/35591741/53427724-78f8c300-3a0f-11e9-8a6c-58e11050d173.png)
![error1](https://user-images.githubusercontent.com/35591741/534

[2019-02-26 18:58] a-b-r-o-w-n commented on #1760
Hey @darrenj this is a problem with all of our sample. They are currently written using javascript features that only exist in newer browsers. To immediately unblock you, I have created an IE11 compatible version of this sample for you to base your solution off of. [Link](https://gist.github.com/a-b-r-o-w-n/ac4f030a7bfce2716bf99aa40d9c9607)

We will discuss how to what we want to do concerning the

[2019-02-26 18:58] #1760 closed

[2019-02-26 23:47] cwhitten commented on #1755
Hello @bhushanvadgave. Take a look at https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/05.b.idiosyncratic-manual-styling/ & https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/05.a.branding-webchat-styling to see if this interface will support your style needs. [here](https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/component/src/Styles/

[2019-02-27 06:03] dalvirsaini opened #1766 "Show Photo of Agents"
Hi All,
From my bot now end users can talk to Human agents..
and now I need to show photos of the agents in bot to show with replies.
See
![image](https://user-images.githubusercontent.com/5260369/53469296-586a5080-3a83-11e9-80e9-76f5bae9e045.png)

how it can be possible??
Thanks

[2019-02-27 08:03] abishekreddy opened #1767 "Should Web Chat buttons display the cursor as pointer on buttons?"
Clickable elements like buttons, etc. should have a pointer type cursor on mouse hover so that the user gets to know that the element is clickable.

Repro steps:
1. Open sample bot from https://microsoft.github.io/BotFramework-WebChat/01.a.getting-started-full-bundle/
2. Type help.
3. Buttons are displayed.
4. Use your mouse to hover over one of the buttons.
5. The cursor is of default type giving

[2019-02-27 08:53] sivanandh commented on #622
I also faced this issue, then I created the message with below formats in MS bot Code(app.js).

    var customMessage = new builder.Message(session)
            .text("I didn't quite get that. For us ......")
            .textFormat("plain")
            .textLocale("en-us");
        session.send(customMessage);

Refer Official URL for V3: [https://docs.microsoft.com/en-us/azure/bot-service/nodejs/

[2019-02-27 08:55] sivanandh commented on #553
I also faced this issue, then I created the message with below formats in MS bot Code(app.js).

    var customMessage = new builder.Message(session)
            .text("I didn't quite get that. For us ......")
            .textFormat("plain")
            .textLocale("en-us");
        session.send(customMessage);

Refer Official URL for V3: [https://docs.microsoft.com/en-us/azure/bot-service/nodejs/

[2019-02-27 09:38] darrenj commented on #1760
Perfect, thanks Andy - this worked a treat.

For the purposes of our scenario (ASP.NET hosting page) I refined it slightly to remove the request to `directLine/Token`  as the secret/token exchange is done server-side with the token being passed in as part of the view controller as shown below. I also removed the setSendBox code as I suspected this was more for debug purposes. Let me know if this m

[2019-02-27 09:42] abishekreddy opened #1768 "Need style option to modify border of send box"
The send box style options can be used to change the background color and height but there isn't a style option to change the border size, color, etc. A default value of 'solid 1px #E6E6E6' is set as border-top.

Can you please add styleOption(s) to modify the border properties?

[2019-02-27 09:43] subhamawasthi commented on #1765
anyone has faced this faced issue?
Or if there is any workaround for this?

[2019-02-27 13:07] ECocca commented on #465
I tried unsuccessfully the workaround.
![test](https://user-images.githubusercontent.com/38532329/53492355-f1f02d00-3a98-11e9-90cf-d561e8482b8a.jpg)

[2019-02-27 15:19] JMRR9 opened #1769 "Sending message with attachments fail"
I am trying to use an external button from the webchat to post a message with attachments using Directline client. When the _activity_ only contains **text** the message is successfully sent, however when I want to send a **file** (filling the attachment property inside the activity) I always get a CORS error.

I am **not using a local URL** of the image to avoid any kind of access problems.
[code

[2019-02-27 17:08] tdurnford commented on #1763
It is possible to supplement outgoing messages from WebChat with additional information by configuring a custom middleware and adding data to the activity's `channel_data`. You can then access the `channel_data` in the activity on the bot side. See the example below.

[code]

For a more detailed example about adding custom data to outgoing messages in WebChat, checkout this [sample](https://github

[2019-02-27 19:36] EricDahlvang commented on #465
This is not an issue with WebChat. There are a number of things that can cause a 'couldn't send retry'.  Generally, not returning HttpStatusCode.OK from the bot within 15 seconds is the primary cause.  Returning some other status code, a long running process within the bot, a fatal exception within the bot, cold start issues (solved with 'Always On' in Azure), etc.  There is not a single resolutio

[2019-02-27 19:58] FRANZKAFKA13 commented on #1762
I found it - list with versions is here under "Versions"

https://www.npmjs.com/package/botframework-webchat

[2019-02-27 19:58] #1762 closed

[2019-02-27 23:51] leolorenzoluis opened #1770 "Text to speech not speaking texts even if it was told to do so in v4"
Referencing https://github.com/Microsoft/BotFramework-WebChat/issues/1179

Is this still possible in v4? I can't seem to find **lastInputViaSpeech** in the repository. How do I tell the bot to always speak whatever it is trying to say?

[2019-02-28 08:22] annapraveen opened #1773 "There was an error sending this message to your bot: HTTP status code BadRequest"
Hi Jason,

i have developed chatbot in July'18 and it was working till 26th Feb'19.

Now it's not working and getting below error code.

"There was an error sending this message to your bot: HTTP status code BadRequest"

Bot Info
SDK Platform: C#
Bot Builder Version: 3.8.0.0
Active Channels: Web chat
Deployment Environment: Azure VM

Issue Description:
Found bot no response from Web CHat. Last wor

[2019-02-28 08:30] ryanvolum commented on #1371
@compulim as of now it appears that the emulator is using the version of webchat that has your original fix. This means that webchat is manufacturing a new conversationUpdate _and_ the emulator shell is manufacting a conversationUpdate. We have some developers using the preview emulator, and it's causing them to receive too many conversationUpdates.

When is your rollback supposed to go live? Is t

[2019-02-28 08:51] hansmbakker commented on #1763
@tdurnford thank you for the feedback. So if I understand correctly, this is using a backchannel.

Does this mean it is **not** possible to recognize a user's webchat site by the secret that was used?

[2019-02-28 12:08] SushanthMandarthi opened #1771 "User Messages going top of conversation messages on sending messages."
Hi All,

Sometimes in bot(webchat v4 version), when the user types and sends the message, they will be posted somewhere in the middle of the conversation or at the top of the bot as first message, but i would be getting back the appropriate response in proper place(towards end of conversation in bot).

Can someone help me resolve the issue of user messages not getting posted towards conversation e

[2019-02-28 13:14] adalfa commented on #465
@EricDahlvang : the issue stated is that the 'couldn't send retry' is raised even if the message i received by the bot. If you try with a long running operation (even a Thread.Sleep) you always receive 'couldn't send retry', but the message is received by the bot code. What we do not understand from @compulim is if the typing Activity sent every 3 sec should get rid of 'couldn't send retry'  or is

[2019-02-28 15:07] FRANZKAFKA13 opened #1772 "Webchat interference with CosmosDB"
I'm using a CosmosDB with different bots.

Everything works fine when using Emulator or Test Webchat (Azure Portal).

Unfortunately, when using WebChat, the userState and conversationState don't seem to persist (while keeping the ID constant).

I could solve the issue by removing two things from the index.html file:

`dispatch({
              type: 'WEB_CHAT/SEND_EVENT',
              payload: {

[2019-02-28 17:38] cwhitten commented on #1771
Hi @SushanthMandarthi - do you have video or example demonstrating the issue? From there we can attempt a repro.

[2019-02-28 19:31] RAHarris opened #1774 "Words or links that are longer than the text box is wide don't wrap in message boxes"
Repro steps: go to the demo page https://microsoft.github.io/BotFramework-WebChat/01.a.getting-started-full-bundle/ and for the user message type "https://subdomain.domain.com/pathname0/pathname1/pathname2/pathname3/pathname4/". The last part of the URL doesn't show up in the user or bot message boxes.

This could be fixed by adding "word-break: break-all;" as a style to .row.message elements

[2019-02-28 20:30] khmerforce commented on #1753
@corinagum This is what I use but it still doesn't work. Should that have the latest code?
<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>

[2019-02-28 21:07] rosskyl opened #1775 "IFrame version of webchat provides the same user id"
I am using the IFrame version of the web chat (https://webchat.botframework.com/embed/{bothandle}?s={secret}) and am trying to count the number of users. The messages always show that they are from the same user "LnCq57Xe5Zd".

[2019-02-28 22:24] wiazur opened #1776 "hideUploadButton=true does not work"
I confirmed with another developer in addition to my own experience, that this option does not work. All of my other style options do, though.

Sample usage:

[code]

[2019-03-01 01:02] v-kydela commented on #1773
Hi @annapraveen

I'm guessing you have a Web App Bot in the Azure portal and you're using the "Test in Web Chat" blade and are viewing the errors in the Channels blade. Is that correct?

I have a few ideas for you to try

1. Please update your BotBuilder NuGet packages to 3.20
2. Please try running your bot locally and testing it in the Azure portal using an [ngrok](https://blog.botframework.com/2

[2019-03-01 14:10] B7A9F commented on #1776
I confirm also that hideUploadButton does not work.

However, the button may be hidden in the following way :

`const styleSet = createStyleSet({
 });`

`styleSet.uploadButton = { ...styleSet.uploadButton,
  display: 'none'
};`
...
`render() {`
`    return (`
`      <ReactWebChat styleSet={styleSet}   directLine={ this.directLine } userID="" />);
`
`}`

[2019-03-01 15:41] #1764 closed

[2019-03-01 15:42] vidya091209 commented on #1764
i am able to fix it.

[2019-03-01 16:42] xenflux commented on #1776
@wiazur `hideUploadButton: true` is working fine for me (screenshot below). Are you using production build - /latest/webchat.js ? . It may not be in production build yet. Try using dev build - /master/webchat.js

<img width="402" alt="screen shot 2019-03-01 at 10 39 35 am" src="https://user-images.githubusercontent.com/47638187/53652537-c1320400-3c0e-11e9-941b-411a70eb7d9e.png">

[2019-03-01 20:25] EricDahlvang commented on #465
@adalfa Sending a typing activity will not result in also responding with HttpStatusCode.Ok within the required 15 seconds.

The connector service will hold the connection open for 15 seconds (even if the message has been received and is being processed bot side).  It holds the connection open until it receives an HttpStatusCode.Ok (200).  If it does not receive the 200, it assumes the message was

[2019-03-02 00:53] wiazur commented on #1776
Thanks @xenflux that worked! It gott rid of my other webchat formatting, but this will be great until it reaches production. Do you know when that might be? I can share this with my team. Thanks.

[2019-03-02 05:34] adalfa commented on #465
@EricDahlvang thanks for the response. I understand that we are talking of a sort of violation from the bot code to the connector. what I fail to understand is @compulim suggestion

your statement make me think that this is not a viable resolution from the bot side so I ask you what is expected in 4.4 version: an update to the documentation or any change to the webchat code or anything else?
you s

[2019-03-02 13:43] iammelvin commented on #1423
I was waiting for this but I completed this is in angular(Ionic) with directlinejs API and custom UI.But would love to see a sample of web chat in angular.

[2019-03-02 15:25] bhavya-dhingra commented on #1423
Thanks @omarsourour. Please let me know once angular-6 sample can be referred :)

[2019-03-02 17:31] pekspro opened #1777 "Questions about translations"
I’m considering contribute with some translations but I’m having a couple of questions first:

* In which context are **Tax** and **VAT** used? Some samples would be appreciated. I’m a bit surprised finding strings like this in the project :-)
* Should the functions **botSaidSomething** and **userSaidSomething** be translated? I only see them used in [en-US.js](https://github.com/Microsoft/BotFram

[2019-03-03 09:17] pekspro opened #1778 "Is it possible to customize the color of the subtitle of a ThumbnailCard?"
I’m sending a **ThumbnailCard** to my users, with a title, subtitle and buttons. The title has the color defined in **bubbleTextColor**, but the subtitle always has color **rgb(102,102,102)**. Is it possible to change this? I have tried both **suggestedActionTextColor** and **suggestedActionDisabledTextColor** but these didn’t affect this. It not, I would prefer **bubbleTextColor** is used.

I’m u

[2019-03-04 02:17] rainmakerho commented on #1756
It have the same problem in BFv4(.net core) .
Please ref below,
[code]

[2019-03-04 15:18] xenflux commented on #1776
@wiazur Great! Glad that helped. Regarding when it'll be in production, that would be something @compulim or @corinagum can answer.

[2019-03-04 17:01] phale98 opened #1779 "Branding styling with React implementation"
I'm attempting to use the branding styling while hosting the application with react

[code]

But the website produced when I start the development server does not include the initials in the styleOption.

![botchat](https://user-images.githubusercontent.com/26072528/53749295-b1aff680-3e6c-11e9-8a82-c97818f22a52.png)

Is this intentional, a feature that just hasn't been added, or am I doing somethi

[2019-03-04 17:38] benbrown commented on #1779
I believe the issue may be the parameter name - pass in `styleOptions` rather than `styleSetOptions`

[2019-03-04 17:44] phale98 commented on #1779
I just tried and this did not add the initials either.

[2019-03-04 17:49] EricDahlvang commented on #465
I'm not sure why @compulim suggested that.  He is out today.

It is fine to continue the discussion here, I'm just trying to clear up any confusion about why developers see 'couldn't send retry' in WebChat when in fact the message was received by the bot.  Future developers who come across this issue should be aware of how the underlying protocol works.

[2019-03-04 19:19] leolorenzoluis opened #1780 "Suggested actions are not spoken"
Given the server returns a reply that has SuggestedActions with Speak property populated. The WebChat wouldn't speak the given reply by the server.

[2019-03-04 20:45] volvochatbotteam opened #1782 "VideoCard in Web Chat"
Hello Team,
Greetings of the day!
I have a situation for chat bot. I have a video which i am showing to user through a video card. Is there a way to add a piece of script in botchat.js so that I can trigger an event like posting a data to a api when the video will be completly played.

Thanks in advance.

[2019-03-04 23:21] v-kydela commented on #1773
@annapraveen - Are you still working on this?

[2019-03-05 00:02] tdurnford commented on #1763
@hansmbakker this is just adding which site the message originated from to the activity's channel data. I'm unsure if you can recognize which site the user is on based on the secret that was used.

[2019-03-05 02:47] compulim opened #1786 "Clean up non-prefixed samples"
We have just published 4.3.0. Please start cleaning up non-prefixed samples (remove `1.a`, in favor of `01.a`, etc.)

[2019-03-05 04:19] compulim opened #1789 "Focus back to send box after tapping on the send button"
Especially on iOS, the current behavior will hide/show the keyboard which cause some up/down jumps.

[2019-03-05 04:34] Dongata commented on #1423
Will it work on ionic 4?

[2019-03-05 04:45] Dpetters commented on #1789
@compulim do you think there is any way to work around this in 4.3?

[2019-03-05 05:45] SwedhaBalasubramanian commented on #622
I am also facing the same issue. I am taking the botchat.js from this link  https://webchat.botframework.com/scripts/webchat-stable/botchat.js and using beautifier.io changing to appropriate js file. I am getting special (â€™) instead of ' (apostrophe) character.

[2019-03-05 05:57] SwedhaBalasubramanian opened #1790 "Still special character (â€™) instead of ‘ (apostrophe) character"
I am facing the same issue. I am taking the botchat.js from this link https://webchat.botframework.com/scripts/webchat-stable/botchat.js and using beautifier.io changing to appropriate js file. I am getting special (â€™) instead of ' (apostrophe) character. I included <meta> tag in index.html but still facing the same issue

[2019-03-05 06:30] sivanandh commented on #476
Hi, I achieved basic auto suggest using **HTML5** and **datalist**(HTML5 feature) or we can use **Jquery** **Flexdatalist** for basic auto suggest.

[2019-03-05 08:25] abishekreddy opened #1791 "Console errors while sending message from Microsoft Edge"
We see the following errors on the browser console while sending a message from Microsoft Edge:
1) Unable to get property 'isPersonal' of undefined or null reference
2) Unable to get property 'SavePersonalAndPaymentData' of undefined or null reference

Screenshot:

![image](https://user-images.githubusercontent.com/24618556/53789933-b0a1c680-3f4b-11e9-87c1-6faf33add58d.png)

Repro steps:
1) Open t

[2019-03-05 08:46] hansmbakker commented on #1763
Yes, I understood. Thank you for thinking along anyway.

If anybody else would know, I would still be curious to hear.

[2019-03-05 09:57] iammelvin commented on #1423
Yes but you will have to have your custom UI ready and use the directline API to send http request for posting/polling activities.

[2019-03-05 13:12] annapraveen commented on #1773
HI,

I have tried as per your recommendations,but still we are getting below issue.

Upgraded Bot builder version to 3.20
Tried to test the bot using ngrok and getting below error.

Error Message : Operation returned an invalid status code 'MethodNotAllowed'
Error Stack Trace:
   at Microsoft.Bot.Connector.BotState.<GetConversationDataWithHttpMessagesAsync>d__8.MoveNext()
--- End of stack trace fr

[2019-03-05 14:50] abishekreddy opened #1792 "Unable to get property 'actions' of undefined or null reference"
Getting an `Unable to get property 'actions' of undefined or null reference` error if the `suggestedActions` property of the activity object, sent by the bot to the webchat, is set to `null`.
This error is immediately followed by a `SCRIPT12030: WebSocket Error: Network Error 12030, The connection with the server was terminated abnormally` error, post which the user cannot send or receive any mess

[2019-03-05 15:35] rosskyl commented on #1556
I'm using a modal and am having the same problems with the messages and timestamps being cut off. I was able to fix it similar to how FRANZKAFKA13 did. However, the id's from his fix are different then mine. I ended up removing them and using the other classes to fix it. Why is this happening? Below is my code.

[code]

This is a screenshot of what the modal looks like with only the #chatWindow st

[2019-03-05 17:29] #1779 closed

[2019-03-05 17:30] phale98 commented on #1779
Seems to be fixed with 4.3.x

[2019-03-05 17:43] v-kydela commented on #1773
@annapraveen - I can see from the stack trace that the error is occurring on line 27 in your bot's MessagesController.cs file. Can I see your code, or at least that line?

[2019-03-05 19:48] khmerforce commented on #365
@EricDahlvang thank you Eric. I got it to work now but please help me with storing the history conversation to Blobstorage using Node.Js. Right now, everything is being stored into a 1 list but I want each users to have their own history conversation storage.

const { BotFrameworkAdapter, ConversationState, MemoryStorage } = require('botbuilder');
const restify = require('restify');

// Create ser

[2019-03-05 23:43] EricDahlvang commented on #365
This **[conversation history](https://github.com/Microsoft/BotBuilder-Samples/pull/1266)** example demonstrates using the **AzureBlobTranscriptStore** provided by **[botbuilder-azure](https://www.npmjs.com/package/botbuilder-azure)** and **TranscriptLoggerMiddleware**

[code]

[2019-03-06 00:07] khmerforce commented on #365
Wow thank you again @EricDahlvang ! You're amazing but why are there so much files? Is there a way that it can be only 1 file so it is easy for me to track the conversation?

[2019-03-06 00:32] khmerforce commented on #365
Thank you so much @EricDahlvang. This is great but is there a way I can store a suggestedAction that is a type 'OpenUrl'? So that I know what action the user clicked on. Thanks

[2019-03-06 05:10] annapraveen commented on #1773
Hi,

Please find the below line 27.

`await Conversation.SendAsync(activity, () => new Dialogs.RootDialog()); `

Full Method code

public async Task<HttpResponseMessage> Post([FromBody]Activity activity)
        {

            if (activity.Type == ActivityTypes.Message)
            {
                try
                {
                    await Conversation.SendAsync(activity, () => new Dialogs.

[2019-03-06 12:43] bhushanvadgave commented on #1755
@cwhitten @corinagum
The amount and level of customizations we need and have done (with previous versions of BotFramework-WebChat) are high. These customizations include changes in look-n-feel (changes in CSS and structure of HTML elements) and actions (changes in Typescript logic).

We want to implement the same customizations in BotFramework-WebChat v4.2.0. There is no way we can do this without

[2019-03-06 15:20] EricDahlvang commented on #365
@khmerforce This issue is about supplying history on startup of WebChat.

If you need assistance with Suggested Actions, please ask a question on Stack Overflow using the Bot Framework tag https://stackoverflow.com/questions/tagged/botframework The Bot Framework Support team monitors Stack Overflow and will gladly answer your question there.  Ref: https://docs.microsoft.com/en-us/azure/bot-service

[2019-03-06 17:13] v-kydela commented on #1773
@annapraveen - This sounds like a state storage issue. What kind of state storage are you using? Can I see the code that handles your state?

Also, how old is your bot? Were you perhaps using the deprecated default state storage?

https://blog.botframework.com/2017/12/19/bot-state-service-will-soon-retired-march-31st-2018/
https://blog.botframework.com/2018/04/02/reminder-the-bot-framework-state-s

[2019-03-06 17:15] #1751 closed

[2019-03-06 17:29] corinagum commented on #1756
Hi @rainmakerho, sorry for the late reply!

From your message from last week, this does not look to be a bug in Web Chat or in the SDK. It's not necessary for you to set up `ChannelData` to copy a previous activity - by setting the `clientActivityId`, Web Chat is detecting the new activity as the same as the previously received message, which is why it is not showing up.

The standard usage is tha

[2019-03-06 17:29] #1756 closed

[2019-03-06 17:30] corinagum commented on #1746
Closing due to inactivity

[2019-03-06 17:30] #1746 closed

[2019-03-06 17:30] corinagum commented on #1749
Closing due to inactivity

[2019-03-06 17:30] #1749 closed

[2019-03-06 17:32] corinagum commented on #1759
@Jhanbury thanks for reporting this! I'll investigate and get back to this issue asap.

[2019-03-06 17:38] corinagum commented on #1761
Hi @deepanigi,

Please see this issue: https://github.com/Microsoft/BotFramework-WebChat/issues/1722#issuecomment-465695873

This fix should now be released in the `/master/` bits. Please reply here if you find otherwise, and we can investigate further.

[2019-03-06 17:38] #1761 closed

[2019-03-06 17:57] corinagum commented on #1763
Hi @hansmbakker, it sounds like you are using v3 of Web Chat right now, since you are using embed codes. Right now using the Azure Portal-provided embed with secret doesn't allow for many of the modern changes (like using middleware) that are available in v4 of Web Chat. Please feel free to track the progression of updating Azure Portal to v4: https://github.com/Microsoft/BotFramework-WebChat/issu

[2019-03-06 18:10] corinagum commented on #1766
Are there 2 or 3 participants in the chat?
From your screencaps, it looks like there are two participants, the bot (owl) and the user (speaker). If this is the case, you can simply add the user avatar as shown in [sample 04.b.display-user-bot-images-styling](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/04.b.display-user-bot-images-styling)

If there are 3 participants, I w

[2019-03-06 20:04] corinagum commented on #1765
@subhamawasthi could you provide the code that creates this issue? I'm still unclear what problem you are facing. If you could elaborate on this happening on DirectLine but not Web Chat channel that would be great as well.

[2019-03-06 20:23] corinagum commented on #1767
After a little bit of research it looks like this may be a debated topic: the pointer is intended for links, not buttons, because [links have low affordance](https://medium.com/simple-human/buttons-shouldnt-have-a-hand-cursor-b11e99ca374b). According to this article, buttons should NOT have the pointer because they buy nature are more noticeably a clickable object.

Your request is also something

[2019-03-06 20:24] Dongata opened #1793 "New directline js update tries to render non message type activities"
Hello everyone, im having this message when i send a custom message type to our backend (passing thru directline)

![image](https://user-images.githubusercontent.com/7729931/53910864-b1158c80-4033-11e9-82c8-ffc36aa20b58.png)

## Steps to reproduce
1. Have a cdn base webchat
2. Use DirectLine to send a custom activity
Result: Error appears and then the message from backend bot
Expected Result: Noth

[2019-03-06 21:11] corinagum commented on #1770
`lastInputViaSpeech` appears to be a Web Chat v3 feature that is no longer compatible with v4. I'm inclined to say this was intentionally removed because the intended action of a bot is to use speech only when spoken to, see [Enable Web Chat docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-webchat-speech?view=azure-bot-service-3.0) (second paragraph)

However th

[2019-03-06 21:25] cwhitten commented on #1755
@bhushanvadgave can you provide a screenshot of the type of customizations you are looking to achieve?

[2019-03-06 22:13] DesignPolice commented on #1767
I will defer to MSFT link above- weak affordance of links vs buttons.

This quote from Adam Silver I agree with.
"A well-designed button does not need a hand cursor to help the user realize it does something. "

If we need to look at our button design and if it needs hover states to make it a better button I think that would be a different issue.

[2019-03-06 22:26] corinagum commented on #1769
Hi @JMRR9, I have a workaround but I'm not sure why this is occurring.

If you change the type of the activity to event, the attachment will be sent without error.

[code]

@compulim: @EricDahlvang and I are stumped. Do you have any input?

[2019-03-06 22:29] compulim commented on #1793
@Dongata sorry, but this is expected behavior.

For custom activities, we always recommend using activity type of `event` with a custom `name` and `value` property. This guarantee the behavior to works consistently across multiple channels.

You can find a list of activity types that are officially supported in this article, https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework

[2019-03-06 22:29] #1793 closed

[2019-03-07 02:29] leolorenzoluis commented on #1770
What's the design reason as to why you only want the bot to speak if microphone was used by the user? To me that's a limiting functionality. I want the not to speak at a welcome chat or always talk for accessibility issue without having to require the user to speak. What if the user can't talk but requires to hear what the bot is saying?

[2019-03-07 06:33] annapraveen commented on #1773
HI,

We have deployed our bot code in our own Azure VM Server and having own Azure SQL DB server for this.
My bot was deployed on July'18 and it was working till 3rd week of Feb'19.
Created bot using below URL and find the below details.

My Bot Name :  CAPBot
BotHandle : SampleHelloBot_Test
APP ID : 6bd1ba4b-9827-41e2-9cee-6304a2b00d5a

[2019-03-07 11:42] hansmbakker commented on #1763
@corinagum thank you for the feedback.

Yes I was using the iframe embed option from Azure Portal, but also I have "Enable preview" checked. However it is not really clear to me that this results in usage of webchat v4 and what new features are in there.

I understand that it is better to use temporary tokens than the semi-fixed secrets. However I would expect that tokens, generated from different

[2019-03-07 16:41] thedrew12 opened #1794 "Modify the payload to /directline/conversations/{id}/activities"
I'm using the React component to work with the bot framework and I need to modify the `entities` array to send along more information when a user asks a question. Is this possible? I've been trying to work with the `activityMiddleware` prop, but that doesn't seem to work.

[2019-03-07 17:31] thedrew12 commented on #1794
I found this example, https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples/15.a.backchannel-piggyback-on-outgoing-activities/README.md, and that seems to work, but it seems like you should be able to tap into the `activityMiddleware` to do this instead of creating a store.

[2019-03-07 19:05] corinagum commented on #1763
@hansmbakker v4 of Web Chat is not available on Azure Portal (yet). If you are using an embed code, right now that means you are using v3 of Web Chat.
I've reopened this issue and tagged @compulim and @EricDahlvang who can hopefully provide more insight. :)

[2019-03-07 19:33] compulim commented on #1763
@hansmbakker I am not the expert in this area. If I understand this correctly from @corinagum, you want to have a single secret but able to identify multiple sites.

By looking at type definition file of BotBuilder SDK, especially around `ConversationAccount`, `ConversationReference`, and `TurnContext`, I don't see there is any identifiable information to partition a bot across multiple sites.

[2019-03-07 19:55] hansmbakker commented on #1763
@compulim I do not need a single secret.

The point is, that you can create different secrets for different sites (both in DirectLine and in WebChat). You can also revoke or regenerate the secrets independently per site. Based on each secret, you can generate tokens.

My idea is to create multi-tenanted Web App Bot that is accessible from different companies, like in this screenshot:
![image](http

[2019-03-07 20:29] corinagum commented on #1772
Hey @FRANZKAFKA13, sorry for the late reply.
Could you clarify what version of Web Chat you are using? latest or master?  I'm not sure what you mean by 'while keeping the ID constant.'

Could you share your related code?

[2019-03-07 20:35] corinagum commented on #1774
Thanks for reporting this find.

![image](https://user-images.githubusercontent.com/14900841/53987123-f047ea00-40d4-11e9-8be8-f2895ddc4240.png)

To clarify for the fixer, the string must have no spaces for it to repro on (a) word. There seems to be a max of about 70-80 characters before the string gets cut.

[2019-03-07 20:56] corinagum commented on #1556
Hey @rosskyl it looks like you don't have a width applied to `#chatWindow`. does adding `width: 100%` fix your problem?

Please keep in mind that we strongly encourage our users to use glamor instead of CSS to change stylings.

You can look at the samples [05.a.branding-webchat-styling](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/05.a.branding-webchat-styling) or [05.b.id

[2019-03-07 21:03] corinagum commented on #1775
Hi @rosskyl, if a user id is not specified in the embed code, the user id will be generated and saved to the browser's cookies. The next time the bot is loaded in the browser, the user id will be recycled. If you need to work around this please feel free to generate a new user id every time.
[code]

[2019-03-07 21:04] corinagum commented on #1776
This is now released in `/latest/`! Thanks for the help @xenflux

[2019-03-07 21:04] #1776 closed

[2019-03-07 21:05] compulim commented on #1763
If you take the token route (generate token from secret), in the JWT, you can see the site ID there. I don't know how that site ID infer to the site name here. And if the site ID is passed to the bot via Bot Builder SDK.

If the site ID is somehow passed, then you will have a piece of identifiable information to partition your bot. But I don't see that site ID in the [`BotFramework.Schema` project

[2019-03-07 21:08] rosskyl commented on #1775
How do I specify the user id with an iframe though? I am adding it using the below code.

`<iframe src="https://webchat.botframework.com/embed/mybot?t=mytoken"></iframe>`

[2019-03-07 21:15] rosskyl commented on #1556
I set the width of `#chatWindow` to 100% and that didn't fix it. I set the `rootWidth` to 75% and that didn't fix it either. Below is a picture with both of those set.

![image](https://user-images.githubusercontent.com/9472151/53989544-d534a480-40eb-11e9-8f3f-f3eadaf37056.png)

[2019-03-07 21:19] hansmbakker commented on #1763
Yes, that sounds good. The purpose of the bot is just an faq that should have company-branded messages so I suppose that, until I need to distinguish users, it is enough to do dl_company1, dl_company2 etc?

Or do users still need to be separated as well so that they don't get answers to questions posed by their immediate colleagues?

[2019-03-07 21:23] corinagum commented on #1775
My apologies, I totally provided you the wrong code >.<

You can specify the user id through embed like so:

[code]

Please keep in mind that for security reasons we don't recommend this since anyone could find the userID and impersonate the original user.

[2019-03-07 21:32] rosskyl commented on #1775
Thank you. I still feel this should be fixed. At least with v4 of webchat if you don't specify a user id it generates one randomly.

[2019-03-07 21:39] corinagum commented on #1777
@pekspro Thanks for asking, we welcome localization support from our community, so please feel free to make a PR when you are ready!

- Tax/VAT (Value Added Tax) are used for receipts and monetary calculations that may include state/federal tax. I believe another term would be 'consumption tax'. I know that in some countries like in the tax is calculated into the price of the object and the calcul

[2019-03-07 21:41] corinagum commented on #1775
If you are able to bump to v4 I absolutely recommend it! Please let us know if we can support you in doing so.
Thanks for the feedback. Unfortunately v3 is in sunset right now, and most of our resources are being spent on improving v4.

[2019-03-07 21:41] #1775 closed

[2019-03-07 21:43] rosskyl commented on #1775
Do you know if or when the iframe version will be switched to v4?

[2019-03-07 22:53] corinagum commented on #1775
That's one of our major ticket items for the next release. Please keep an eye on #1086 to track this issue. We're very excited about it!

[2019-03-07 22:56] compulim commented on #1774
I tested the following HTML code:

[code]

It is not wrapped, but scrolled/clipped. I would prefer to follow default behavior of HTML.

So I would prefer to either:

1. Keep it as-is (clipped)
2. Add a scroll bar inside the bubble

On the other hand, if you prefer `word-break: break-all`, you can set it thru `styleSet`.

[2019-03-07 23:00] compulim commented on #1763
I would prefer to use a random user ID + suffixed company name, in case you accidentally persisted personalized information to user state and found user are sharing states.

[2019-03-07 23:53] v-kydela commented on #1773
@annapraveen

Why is the `Post` handler in your recent `MessagesController` comment completely different from the one in your original comment? One uses `Conversation.SendAsync` while the other uses `connector.Conversations.ReplyToActivityAsync`. Can you explain?

Also, what kind of Azure VM are you using? Is it Windows or Linux?

In any case, I will need to see the code that handles your bot's st

[2019-03-08 08:17] annapraveen commented on #1773
HI,
iam using **Azure VM Windows OS** and find the below code is updated one which we are using now.
And also i have attached Messagecontroller.cs file.
[MessagesController.txt](https://github.com/Microsoft/BotFramework-WebChat/files/2944908/MessagesController.txt)

public async Task<HttpResponseMessage> Post([FromBody]Activity activity)
        {

            if (activity.Type == ActivityTypes.Me

[2019-03-08 08:36] bhushanvadgave commented on #1755
@cwhitten Can you share your email address with me? I can't share the screenshots in public page.

[2019-03-08 08:53] xiaolangxyz opened #1795 "follow "How to run locally", but not work"
I want to run samples/06.d.speech-web-browser/.
I followed the steps [here](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/06.d.speech-web-browser#how-to-run-locally). But it's not working.\
I tried:
   http://localhost:5000/samples/06.d.speech-web-browser/index.html
   http://localhost:5000/
But the results are the same. The result is like below.
![image](https://user-image

[2019-03-08 11:32] mindmodel opened #3766 "When message sent to bot has multiple lines, each line beginning with a number, Emulator changes the number"
Version 4.3.0.

JSON copied directly from Emulator:

 "text": "0) [All Cuisines: Highest Ratings]\n\r\n1) American (New)\r\n2) American (Traditional)\r\n3) Asian Fusion\r\n4) Bakeries\r\n5) Barbeque\r\n6) Bars\r\n7) Beer Bar\r\n8) Brazilian\r\n9) Breakfast & Brunch\r\n10) Breweries\r\n11) Buffets\r\n12) Burgers\r\n13) Caribbean\r\n14) Chinese\r\n15) Cocktail Bars\r\n16) Coffee & Tea\r\n17) Coffee

[2019-03-08 17:20] thedrew12 opened #1796 "How to handle Directline API errors"
Occasionally I have gotten 500 errors from the directline API in regards to the bot has timed out or general error response. How do I go about handling those to display a helpful message to the user? I was thinking of tapping into this action `DIRECT_LINE/INCOMING_ACTIVITY`, but I don't know how the payload gets passed to the action.payload.activity. I'm using the ReactWebChat component to work wi

[2019-03-08 17:37] v-kydela commented on #1773
@annapraveen - Can I see the code that handles your bot's state?

[2019-03-08 18:07] cwhitten commented on #1755
christopher.whitten@microsoft.com

[2019-03-09 07:36] annapraveen commented on #1773
Hi,
I already attached my code in previous response.Kindly look into 8th Mar
response.

On Fri 8 Mar, 2019, 11:07 PM Kyle Delaney, <notifications@github.com> wrote:

[2019-03-09 17:13] pekspro commented on #1777
Thanks for the clarifications. Translation was easy :-) Created #1797.

[2019-03-09 17:13] #1777 closed

[2019-03-11 10:06] ferv95 opened #1798 "Security problem with React component in IE11"
Hi. I have an app that uses the React component for a bot. In Chrome works fine but it doesn't work correctly in IE 11. I've tried adding the followings polyfills, but now it gives me a security error.

![image](https://user-images.githubusercontent.com/39621687/54115833-acfbbd00-43ed-11e9-9dee-26b88d11e0e0.png)

![image](https://user-images.githubusercontent.com/39621687/54115803-99505680-43ed-11

[2019-03-11 12:15] bhushanvadgave commented on #1755
@cwhitten I have shared with you the set of our webchat screenshots. Can you now educate me on how I can build BotFramework-WebChat v4.2.0 source code and integrate with my React webchat application?

[2019-03-11 12:26] Carriebots opened #1799 "Stability issues with buttons"
We are having problems with stability issues, where when clicking a button it 'sometimes' calls in another dialogue or fails completely. Buttons in cards and suggestion buttons. It is not replicable every time either. Any help or ideas would be greatly appreciated!

[2019-03-11 13:21] impactro opened #1800 "How do I connect to a previous conversation"
How do I connect to a previous conversation using the watermark?

https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-reconnect-to-conversation?view=azure-bot-service-4.0

I need this to retrieve the conversation history that is always based on the same conversation.id

[2019-03-11 17:58] v-kydela commented on #1773
@annapraveen - You've only shown me your messages controller. The code that handles your bot state is likely in Global.asax.cs. You might see something like this:

[code]

If you'd like to share code with me privately, feel free to email me

[2019-03-12 09:36] ShivaniAggarwal2112 opened #1801 "i could just creatae a basic UI of microosft web chatot. It is exchanging messages, but i need to enhance it's functionality. Could you prvide some video link or somthing?"

[2019-03-12 20:13] compulim opened #1802 "Ibiza: "Upload file" button is not narrated"

[2019-03-12 21:51] compulim opened #1805 "Ibiza: New incoming activities are not narrated"

[2019-03-13 02:01] #1795 closed

[2019-03-13 17:58] DanteNahuel opened #1807 "Can't get the chat window inside the main body"
Hi
I'm trying to add the webchat in the main body but the chat window appears on top of the main body div's containers, overriding everything. The examples show how to use the bot code as a complete website, but I want to use it as a smaller chat popup window.
How should my HTML look like in order to fix this?

[2019-03-13 18:25] corinagum commented on #1767
Based off feedback we'll use this item to track the changes of making sure that all Web Chat buttons do not change the pointer to a cursor.

[2019-03-13 18:26] corinagum commented on #1766
Closing due to inactivity

[2019-03-13 18:26] #1766 closed

[2019-03-13 18:27] corinagum commented on #1765
Closing due to inactivity. @subhamawasthi please feel free to reply at any time and we can reopen this issue.

[2019-03-13 18:27] #1765 closed

[2019-03-13 18:29] corinagum commented on #1531
4.3 is out and this should be resolved. Please feel free to open a new issue or comment here if there are ongoing problems. :)

[2019-03-13 18:29] #1531 closed

[2019-03-13 18:37] corinagum commented on #1790
Hi @SwedhaBalasubramanian what same issue are you facing?
Please refer to https://github.com/Microsoft/BotFramework-WebChat/issues/1790 as I believe this are related.

[2019-03-13 18:37] #1790 closed

[2019-03-13 19:24] ImKator commented on #1556
@rosskyl This does not completely fix the problem, but I was able improve the bubble look at little with some styling like this.   I have not been able to get the timestamp to appear correctly.  Also the bubbles are missing either a left or a right border.  annoying...

				const styleSet = BotChat.createStyleSet({
					bubbleBackground: 'rgba(192,192,192,0.3)',
					bubbleFromUserBackground: 'rgb

[2019-03-13 22:02] corinagum commented on #1792
Just to verify, is this v4 of Web Chat? Please share your repro code and I will take a look.

[2019-03-13 22:06] corinagum commented on #1556
@rosskyl sorry for the late reply - if you're still having problems with this, please send me your webchat file so I can take a look. If you prefer to do that over email, you can send to v-corgum@microsoft.com

Thanks!

[2019-03-13 22:07] corinagum commented on #1807
Please take a look at our samples: [12.customization-minimizable-web-chat](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/12.customization-minimizable-web-chat)

[2019-03-13 22:07] #1807 closed

[2019-03-13 22:09] corinagum commented on #1801
Please take a look at our samples which provide a lot of context on how to customize web chat. If you are looking to make changes that require a fork off the repository, please use Stack Overflow for further 'How to' support. :)

[2019-03-13 22:09] #1801 closed

[2019-03-13 22:19] corinagum commented on #1794
Hey @thedrew12, `activityMiddleware` is for changing how Web Chat renders specific activities. This doesn't change how the activity is sent to the bot. Using 15.a.backchannel-piggyback-on-outgoing-activities and creating a new store is right. :)

[2019-03-13 22:19] #1794 closed

[2019-03-13 22:39] corinagum commented on #1799
Hi @Carriebots unfortunately we're going to need repro steps and / or screenshots or a video of the failure to help you out. What version of Web Chat are you using? Please provide as much detail as possible and we can try to help!

[2019-03-13 22:40] ImKator commented on #1556
@corinagum @rosskyl if you have a good solution to the cut off bubbles I would appreciate it if you would post the solution.

[2019-03-13 22:40] #1798 closed

[2019-03-13 22:43] corinagum commented on #1796
Hey @thedrew12 I think this is related to your other question where middleware only affects the rendering of activities, and doesn't affect how it's passed to the bot. So you could create UI for those errors but not affect how it is sent to the bot. Hope that makes sense, please feel free to add more questions and I can reopen this issue if necessary. :)

[2019-03-13 22:43] #1796 closed

[2019-03-13 22:56] corinagum commented on #1556
@ImKator please feel free to send me your web chat page also so I can take a look :)

[2019-03-13 23:13] ImKator commented on #1556
Sent

[2019-03-14 05:01] annapraveen commented on #1773
Hi ,

Please find the attached requested file(Global.asax.cs).

On Mon, Mar 11, 2019 at 11:28 PM Kyle Delaney <notifications@github.com>
wrote:

--
Thanks &Regrads,

Praveenkumar.A

﻿using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Http;
using System.Web.Routing;

namespace CUBE_Online_Support
{
    public class WebApiApplication : System.Web.Ht

[2019-03-14 05:36] baldrin opened #1808 "What Activity Types does Web Chat officially support? Currently, "No renderer for this activity" is shown when ActivityType endOfConversation is received"
When the ActivityType.EndOfConversation is received, the error "No renderer for this activity" is displayed in the user's WebChat window. We have made no changes to the C# Bot code or the WebChat code. I should note this is not in the emulator but on our site. I saw some references to the same error but related to the emulator

![image](https://user-images.githubusercontent.com/26777245/54333488-a

[2019-03-14 12:06] Akkilz opened #1809 "es5 Cognitive speech in Bot Web chat not working in IE"
Below code is working in Chrome not in IE, hope the my code is wrong...
Please guide me to resolve this issue.

Getting error in IE "Super expression must either be null or a function".

<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js"></script>

var webSpeechPonyfillFactory;
        var region = "westeurope";

        var authorizationToken;
        var direct

[2019-03-14 12:14] Akkilz commented on #1326
I need to enable webSpeechPonyfillFactory in es5, but the code is working fine in chrome and firefox not in IE.

Below is the code I am using, plz guide me to fix the issue in IE.
Code:
<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js"></script>
 var webSpeechPonyfillFactory;
        var region = "westeurope";

        var authorizationToken;
        var directL

[2019-03-14 12:27] Akkilz commented on #1809
My initial code was below but it was not working in both Chrome and IE

window.fetch('/BotTest/GetBothToken', { method: 'POST' })
            .then(function (res) {
                return res.json();
            })
            .then(function (json) {
                authorizationToken = json.speechToken;
                directLineToken = json.directLineToken;

                window.WebChat.render

[2019-03-14 15:04] jereh16 commented on #1707
The same problem seems to appear when using an Audio or Video card. E.g. a carousel containing (in this order) a HeroCard, VideoCard, HeroCard, HeroCard only scrolls to the VideoCard.

[2019-03-14 15:16] sanoorvishwa opened #1811 "How to reduce size of my custom build"
This is in continuation to [Issue #1715](https://github.com/Microsoft/BotFramework-WebChat/issues/1715)
We are trying to reduce the size of custom built project that uses node module botframework-webchat 4.2.1-0.
We found that the size of the file webchat.js in [cdn](https://cdn.botframework.com/botframework-webchat/latest/webchat.js) is 1.74MB where as size of file webchat-minimal.js in [cdn](htt

[2019-03-14 15:57] corinagum commented on #1782
Hey @volvochatbotteam! Sorry for the late reply, I'm catching up after a vacation and a cold.

You can achieve this by using `attachmentMiddleware` in your custom code.  Please take a look at our sample [10.a.customization-card-components](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/10.a.customization-card-components). You'll want to implement your own version of `HTMLVid

[2019-03-14 15:57] #1782 closed

[2019-03-14 16:16] corinagum commented on #1772
@FRANZKAFKA13 Closing due to inactivity, but if you respond I'll be happy to reopen this issue. :)

[2019-03-14 16:16] #1772 closed

[2019-03-14 16:18] corinagum commented on #1763
Closing due to inactivity. Happy to reopen if new questions come up.

[2019-03-14 17:52] v-kydela commented on #1773
@annapraveen - When you reply to GitHub notification emails, you're not actually emailing me. You're just leaving replies on the GitHub issue page, and your attachments are discarded. If you actually want to email me you need to find my email address on my GitHub profile.

[2019-03-14 19:09] compulim commented on #1811
I really want to do so. Will be great if you could help.

You can look at this sunburst chart to understand more, https://cdn.botframework.com/botframework-webchat/master/stats.html. (The sunburst chart is 30+ MB)

Few things:
- Move Adaptive Cards out of bundle (#1302, -251 KB)
- (Full bundle only) We are taking a big size hit by `postcss`, which is included by our sanitizer (`sanitize-html`)

[2019-03-14 19:12] compulim commented on #1802
Fixed in #1804.

[2019-03-14 19:12] #1802 closed

[2019-03-14 19:12] compulim commented on #1805
Fixed in #1806.

[2019-03-14 19:12] #1805 closed

[2019-03-14 19:26] corinagum commented on #1808
Hi @baldrin,
This issue is related to https://github.com/Microsoft/BotFramework-Emulator/issues/1358 on the Emulator repo.

Currently Web Chat has a state of flux around this topic -- we need to confirm with the SDK team what Activity Types we support across all channels, and then determine how/if we render those supported Activity Types and block all other types.

As a current workaround, you are

[2019-03-14 19:44] corinagum commented on #1774
@mewa1024  and @DesignPolice, do we have a design preference on whether the text of URLs is clipped, scrolled, or wrapped? It looks like @compulim's preferred way is to keep it clipped.

[2019-03-14 20:00] corinagum commented on #1808
Document created by @johnataylor is here: https://github.com/Microsoft/BotBuilder/issues/5294

I will expand on the link shortly.

[2019-03-14 20:48] mewa1024 commented on #1774
@corinagum I don't have a strong preference off the top of my head, but I think enabling the user to word-break by customizing WebChat seems fine as a P1. Sometimes truncation has a tooltip that shows the full value, but that would only for links, not for reallylongwordsthatarenotlinksandthereforehavenohoverstatetooltips.

[2019-03-14 20:53] corinagum commented on #1774
Thanks for the input. Temporarily assigning @compulim so he can add in a rebuttal, if he wishes.

[2019-03-14 21:11] #1786 closed

[2019-03-14 21:28] stevkan commented on #1658
Attempted to add arrows/nubs to the bubbles. Ran into several issues:

- When using pseudo-elements, "content" must be specified in the .css. Unlike elsewhere, in React, "content" cannot take an empty ("") value otherwise it will not display. It must either have an empty string (" "), at a minimum.
- Even though the pseudo-elements (:before and :after) are appended to the bubble, either thru the "

[2019-03-14 21:30] #1423 closed

[2019-03-14 21:32] v-kydela commented on #1773
@daveta - This issue seems to have been mistakenly transferred to the WebChat repo. I believe it belongs in https://github.com/Microsoft/BotBuilder-V3

[2019-03-14 22:06] compulim commented on #1774
Agree with @mewa1024, tooltip is tricky here:

- Tooltip can be added everywhere in HTML using `<span title="This is tooltip">pneumonoultramicroscopicsilicovolcanoconiosis</span>`
- But we can't easily differentiate which area need to add tooltip (no clear boundary)
- Conclusion, can't add tooltip

I see Teams is also breaking up long words. Didn't check other messaging apps yet.

I am okay to add

[2019-03-14 22:22] corinagum commented on #1771
Closing due to inactivity. @SushanthMandarthi if you are able to provide more information, I'll be happy to reopen this issue. :)

[2019-03-14 22:22] #1771 closed

[2019-03-15 12:34] Mironiny opened #1815 "Long delay before receiving welcome message"
Hi.
I need to show a users the welcome message. I've implemented it this way:

[code]
The problem is that the first loading takes a lot of time when **nothing happens**. It's around 10 seconds before showing the welcome message and that is annoying because the user doesn't see anything. Is there any better (and faster) way how to implement the welcoming user? Or is there the possibility to show us

[2019-03-15 15:10] Shariele opened #1816 "Is it possible to disable text-to-speech while keeping speech-to-text?"
Hello!

I want to use speech-to-text in my webchat when pressing the microphone but not have it read out loud the answer from the bot. I have tried to delve into the code and customize what I think would change it but to no avail. Is there anyone with knowledge on the matter that can help me?

I provide an image below of the code I am using  to create the webchat, if you need something else please

[2019-03-15 16:24] corinagum commented on #1800
Hi @impactro, unfortunately this isn't available quite yet -- the watermark and streamUrl parameters are missing in the DLJS constructor, but I have added them both in this PR: https://github.com/Microsoft/BotFramework-WebChat/pull/1817

Once the merge is in, please feel free to use it via `/master/` bits until our next release, 4.4 which is scheduled for mid-April. Thanks for reporting this one!

[2019-03-15 16:49] Carriebots commented on #1799
Hi @corinagum thanks for your response! We are using the latest version of web chat from CDN. I can't provide screenshots due to the confidential nature of the content within the bot, however, I hope the below helps explain a little better (see image attached too)!

The customer is in a dialogue and is presented with a carousel of cards. Each card has a button which will take the customer to the n

[2019-03-15 17:15] Carriebots commented on #1799
@corinagum here is a screenshot of an example of it failing again.
![Button issue](https://user-images.githubusercontent.com/48440548/54449411-e4e46680-4745-11e9-9b1c-b4f16f0bb216.jpg)

[2019-03-15 17:53] corinagum commented on #1799
@Carriebots unfortunately this looks like a problem that we would need to dig into your code to figure out. If you are unable to share code publicly, are you willing to discuss this offline? Please feel free to email me v-corgum@microsoft.com
I will also be pulling @EricDahlvang in to help with this issue :) I can add him to our thread if I get an email from you.

If you have App Insights on your

[2019-03-15 17:53] #1800 closed

[2019-03-15 18:21] v-kydela commented on #1773
@annapraveen - I received your Global.asax.cs file now. It's almost empty, and that might be your problem. You said:

Where is the code that connects your bot to this DB? [Please make sure you're familiar with how state is handled in the Bot Framework.](https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-state?view=azure-bot-service-3.0)

If your bot was working and now it

[2019-03-15 18:41] corinagum commented on #1809
@Akkilz, I tried out the [Speech Services](https://microsoft.github.io/BotFramework-WebChat/06.c.cognitive-services-speech-services-js/) sample in IE by changing the CDN to `webchat-es5.js` with no problems.
Could you verify you are using the correct speech token? Please keep in mind that Bing Speech and Speech Services are not compatible, and Bing Speech is deprecated. Therefore you will need to

[2019-03-15 18:45] EricDahlvang commented on #1815
Hi @Mironiny

10 seconds is a long time.  This is not the normal behavior.  Is this happening when the application first loads for the first user accessing the bot, or is this happening for every user when they first access the bot?

Based on your description, it is not clear if this is a Web Application cold start issue, or if something else is happening.

Is Application Insights configured for t

[2019-03-15 19:27] corinagum commented on #1522
Closing this issue - there doesn't seem to be much interest in an implementation. :) We can always reopen if folks have a change of heart.

[2019-03-15 19:27] #1522 closed

[2019-03-18 13:40] Tosters opened #1818 "Move to functional components with React Hooks"
Hi,
This is not really an issues, but is there any info on if there are plans to add react 17.0.0 dependency to webchat? As some of the lifecycle methods will be removed from react 17?
Thanks.

[2019-03-18 16:42] corinagum commented on #1818
Thanks for bringing this up! [Update on Async Rendering](https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html)

We actually have a note for this already in our code:  [`BasicWebChat.js`](https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/component/src/BasicWebChat.js#L39) but we can use this issue to track the topic as the team discusses it.

I did some research b

[2019-03-18 17:21] corinagum commented on #1648
I have had offline confirmation that this fix is working for our customers. If you find you are still having this issue, please leave a comment on this thread and I will reopen as we investigate. Thank you everyone!

[2019-03-18 17:21] #1648 closed

[2019-03-18 17:35] Tosters commented on #1818
Hey, thanks for the reply.
I didn't quite understand if webchat itself will have dependency on react v17 (whenever it might be).
As it sounds more logical that you would follow react updates and won't stay on the 16.x.x version forever.

[2019-03-18 21:02] corinagum commented on #1808
Okay! This conversation has been really enlightening and I hope to share information in a way that's beneficial both to the team and our customers.

@johnataylor's chart above has to do with the Bot Framework REST API Protocol. This is a good basis for Web Chat as a client to decide which Activity Types we want to support, ignore, and/or render a "No renderer" message for. To summarize the chart,

[2019-03-19 10:00] Akkilz commented on #1809
Yes, I am using Cognitive Speech Service.

I am using windows 7 IE and this browser is not supported for speech but chat window should render.
Its not rendering due to js code break.

For now, have coded browser specific,  if its IE not enabling speech option, In chrome enabling the speech option.

which version of IE supports speech option ?

kindly let me know if any.

[2019-03-19 15:52] Carriebots commented on #1799
Hi @corinagum thank you so much for your response and offer to help. I have spoken with our dev and product owner, they think they may have had a breakthrough. However, if this doesn't work we'd love to see if you can help. Please leave it with me and I'll be in touch shortly. Many thanks again.

[2019-03-19 16:15] corinagum commented on #1809
Unfortunately we're only backwards compatible to Internet Explorer 11. Speech works on this version, but any version before that is not supported, whether speech or Web Chat in general.

[2019-03-19 16:15] #1809 closed

[2019-03-19 16:18] corinagum commented on #1799
Great, glad to hear the dev team got it figured out. Closing this issue.

[2019-03-19 16:18] #1799 closed

[2019-03-19 16:24] corinagum commented on #1778
Related to #1259

[2019-03-19 16:27] corinagum commented on #1791
![image](https://user-images.githubusercontent.com/14900841/54623587-0fc20980-4a29-11e9-9521-9c827b5da1f0.png)

I believe this error is caused by the AutoFormFill extension in Edge, and not related to Web Chat.

[2019-03-19 16:27] #1791 closed

[2019-03-19 16:32] corinagum commented on #1689
Closing due to inactivity.

[2019-03-19 16:32] #1689 closed

[2019-03-19 18:10] corinagum commented on #1818
We can do this at the same time we bump to React 17. :)

[2019-03-19 18:27] corinagum commented on #1780
According to the [documentation](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0#cardaction-object), there is no Speak property on the Suggested Actions schema.

Could you recommend scenarios where the Speak property is necessary? If so, this will help us  to plan for this feature.

[2019-03-19 21:26] corinagum opened #1820 "Web Chat does not work on Java SWT browser plugin"
This problem appears to be in both v3 and v4 of Web Chat.

We have an internally-reporting customer saying that on Feb 15, the customer v3 Web Chat stopped working on Java SWT. According to the report "No errors, the web chat just don't do anything". Customer bumped to v4 of Web Chat, but faced the same problem. Today, 3/19, Web Chat started working again even though no further changes were made b

[2019-03-19 21:36] Rykimaruh opened #1821 "issues accessing the bot directline, nothing happens when i run the index.html"
I followed the steps in the documentation, but when I tried to use it on my own published bot that is in Azure, nothing happens.

await fetch('https://mybot.azurewebsites.net/directline/token', { method: 'POST' });

In fact I checked console and I got the following error messages:

Access to fetch at 'https://mybot.azurewebsites.net/directline/token' from origin 'null' has been blocked by CORS pol

[2019-03-19 22:10] corinagum commented on #1821
Hi @Rykimaruh, what documentation steps are you following?

It looks like you are following the Web Chat example of creating a token server for your bot. Do you have that server implemented at the https://mybot.azurewebsites.net/directline/token API?

#1534 is a tracking issue for a sample that the team will implement to show users how to create the token server. In the mean time, you can take a l

[2019-03-19 22:24] Rykimaruh commented on #1821
@corinagum Following the documentation in this [link](https://github.com/Microsoft/BotFramework-WebChat)

No, I do not. I require to have a server for the custom webchat?

[2019-03-19 22:27] corinagum commented on #1821
If you wish to hide your secret and retrieve tokens via a token server to connect to Web Chat, then yes you do. Otherwise if you keep your secret on the bot-side of your code, you will not be presenting security issues. Please take a look at our [samples](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/01.a.getting-started-full-bundle) for more information.

[2019-03-19 22:27] #1821 closed

[2019-03-19 22:45] Rykimaruh commented on #1821
@corinagum still get this error message, I don't know what it is.

[2019-03-19 22:49] Rykimaruh commented on #1821
@corinagum Checked up on the sample and tried to replicate it, but nothing. Still get the error messages:

POST https://mybot.azurewebsites.net/directline/SYah71uBb20.cwA.isk.THKguRBha4Un77U_Jh-Uz2TSxNxszLLvxu_24YV9D7Q 404 (Not Found)

indexchat.html:1 Access to fetch at 'https://mybot.azurewebsites.net/directline/SYah71uBb20.cwA.isk.THKguRBha4Un77U_Jh-Uz2TSxNxszLLvxu_24YV9D7Q' from origin 'null'

[2019-03-20 08:40] shuninghuang commented on #1281
I am confused.

 I should not use /latest/botchat*.js if I prefer to use v3, is that right?

[2019-03-20 09:18] jacyuan opened #1822 "(please close this question) IE Compatibility"
**Last Update:**
I think I've identified where my problem comes from.
It seems that, when using Microsoft/BotFramework-DirectLineJS with a customized domain, under IE, it does not poll new messages from the specified domain.
I'm not in the right place for this question...
So please close this question.

----------------------
Hello everyone,

I'm facing a compatibility issues while using webchat u

[2019-03-20 15:45] Akkilz opened #1823 "WebSocket handshake/connection faild to cognitiveservices in webchat-es5.js"
[code]

In few chrome is working but in few chrome browser its failing not sure how to resolve this.

(Edited by @compulim for formatting and removing sensitive content)

[2019-03-20 16:28] #1822 closed

[2019-03-20 16:30] #1767 closed

[2019-03-20 16:45] Rykimaruh opened #1824 "Code not working in Sharepoint Online and IE 11"
Hello,

So i have deployed custom webchat following this documentation [here](https://github.com/Microsoft/BotFramework-WebChat/tree/latest/samples/01.a.getting-started-full-bundle)

Here's the code:

[code]

I don't know if there is something missing here or what

[2019-03-20 16:47] corinagum commented on #1808
https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-end-conversation?view=azure-bot-service-4.0
I wanted to add some points. Although the doc above says Direct Line channels may handle `endOfConversation` however desired, I think it's still important for us to have a clear understanding of the functionality of this activity in Cortana before making our de

[2019-03-20 19:49] corinagum commented on #1824
Please take a look at our [es5 sample](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/01.b.getting-started-es5-bundle). For Web Chat to work you will need to use `/webchat-es5.js/`

[2019-03-20 20:00] compulim commented on #645
We are now using a new carousel component. Thanks CR2d2.

[2019-03-20 20:00] #645 closed

[2019-03-20 20:01] compulim commented on #1707
Will be fixed when we bump `react-film@1.2.0`.

@corinagum could you help on this?

[2019-03-20 20:01] compulim commented on #1759
Will be fixed when we bump to `react-film@1.2.0`.

@corinagum could you help?

[2019-03-20 20:29] corinagum commented on #58
Closing as a dupe of #1091

[2019-03-20 20:29] #58 closed

[2019-03-20 21:02] corinagum opened #1827 "Remove "No renderer for this activity""
- Web Chat will no longer display a red error message for non-regular activity types that the client receives.
- All incoming activity types other than Message, Event, and Typing will be ignored by Web Chat, unless the bot implementer adds their own visual component to the activity.

For those wishing to create their own component,  please take a look at [incoming activities](https://github.com/Mi