[2018-09-06 16:42] #1075 closed

[2018-09-06 16:59] Kartik1607 commented on #1135
@Primtek How to questions are usually better off at stack overflow.

[2018-09-06 17:34] DanielTizon opened #1137 "New Speech Recognizer"
Hi,

Currently, I am using Webchat with Bing Speech Recognizer, and I use this script in the webchat:

[code]

But this speech recognizer is doing a bad "speech to text" with some spanish phrases, so
I would like to use the new Microsoft Speech Service (with the hope of a better performance):

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/

But when I change the subscrip

[2018-09-06 20:48] compulim commented on #1137
@DanielTizon I think this is the [related bug](https://github.com/Azure-Samples/SpeechToText-WebSockets-Javascript/issues/85) on `microsoft-browser-speech-sdk` which Web Chat depends on.

And there is a [PR](https://github.com/Azure-Samples/SpeechToText-WebSockets-Javascript/pull/82) to get the customizable endpoint.

Since Web Chat is depending on `microsoft-browser-speech-sdk`, we need them to g

[2018-09-06 20:48] #1137 closed

[2018-09-06 21:06] #1111 closed

[2018-09-06 21:13] compulim commented on #1106
Do you mean the "Filled by BotFramework" is something like https://token.botframework.com/...?

When you send an OAuthCard over the wire, on the Web Chat side, it became:

[code]

And after you click on the link, it will:
1. Open a new window without URL (about:blank)
2. Call `getSessionId()` on DirectLineJS, to get the URL out
3. Point the new window to the URL retrieved from step 2
4. The new wi

[2018-09-07 01:40] Primtek commented on #1135
Hi @Kartik1607
I need your advice about your comment..

and my apologize if my question looks stupid or wierd.
what's wrong with my question? (I edited just now to remove 'NOT' before stuck word)

I knew, I have limited know how in node.js that's why I have this question, I m learning, googling, searching many things, including asking here..
no one in this globe will have all of IT skills..

I sai

[2018-09-07 03:39] Primtek commented on #1135
noted for stack overflow
just want to make sure..
is it right for me to start this with samples/backchannel?

[2018-09-07 05:27] Primtek commented on #1133
any body can help on this?

[2018-09-07 08:11] erkkil opened #1138 "Speech recognition starts too fast"
We have implemented webchat based chatbot solution which uses speech recognition and speech synthesis.
The solution works fine except that if speech synthesis is playing relatively long text the speech recognition is switching on and listens the synthesis playback.
It looks like that speech recognition starts automatically too early, it should wait untils syntesis is finished.
This problem does no

[2018-09-07 08:13] Primtek commented on #1135
Noted..

So, I should able to send event “WELCOME” request to Dialogflow there? Cmiiw

Thanks

From: Kartik Sharma [mailto:notifications@github.com]
Sent: 07 September 2018 14:24
To: Microsoft/BotFramework-WebChat
Cc: Primtek; Mention
Subject: Re: [Microsoft/BotFramework-WebChat] How to trigger "WELCOME" event (#1135)

Above code for backchannel is to send an event from UI frontend to bot. The bot

[2018-09-07 12:27] Kartik1607 commented on #1138
Is the speech recognition event automatic? Or are you trigerring it by clicking mic button?

Action to stop audio is sent when speech listen event is started. probably what is happening is speech recognition starts immediately while the event to stop audio takes a bit time.

Instead of sending event to start recognition it should wait until audio has successfully stopped.

[2018-09-07 12:29] Kartik1607 opened #1139 "Custom speech recognition support"
Is there a plan to add custom speech recognition via custom speech API in v4?

Also, currently webchat is using Bing speech to text and TTS, while a newer API is available. Is adding support for them on the roadmap?

[2018-09-07 15:36] sandtemp01 opened #1141 "Speech is not working in Firefox"
There is no mic button appearing in Firefox. Speech is working in webchat on chrome perfectly (using bing speech api).
I read in another question that it is not supported on IE. Does it work only on chrome?
Please suggest

[2018-09-09 05:49] Kartik1607 commented on #1135
@Primtek By "dialogflow" do you mean, dialogflow bot framework by Google, or, do you mean the botbuilder library by Microsoft?

[2018-09-09 07:34] erkkil commented on #1138
Hi,

Recognition is triggered by clicking mic button.
This is complete description.
1. Open Webchat with CognitiveServices speech recognition enabled
2. Click mic button
3. Speak and mic recognition converts speak to text and sends the the text to bot app
4. Bot app replies with text reply
5. The speech synthesis starts to speak the bot reply text
6. Before the synthesis finishes speaking the spee

[2018-09-09 07:48] Primtek commented on #1135
botbuilder library by Microsoft

[2018-09-09 08:39] erkkil commented on #1138
OK. Think I found the problem. Our bot is sending occasionally two separate answers.
It seems that if there are more than one answer message the recognizer is activated too early.

We will fix our bot to use one reply message in all situations.

[2018-09-09 08:39] #1138 closed

[2018-09-09 11:02] Kartik1607 commented on #1135
ah. ok. Then yes, you only need to check for activity of type 'event' in this case.

[2018-09-09 11:31] robdmoore commented on #1001
Can confirm I'm also getting about:blank when using 0.14.0-0.14.2 with the iframe embed.

[2018-09-09 11:56] Primtek commented on #1135
Yeah.
If the event name is what we defined then execute a command to trigger dialogflow “WELCOME” event.
Thats what I dont know how to do that.

Thanks & Regards

Winanjaya
+62 817 145779

================
Sent from my iPhone
================

[2018-09-09 15:02] Kartik1607 commented on #1138
@erkkil the webchat auto listens when it finds that bot is awaiting reply. You can send multiple messages, just make sure that only last message awaits for user reply.

[2018-09-09 15:28] sandtemp01 commented on #1141
Hi,
Is speech really not supported on firefox? Can anybody please confirm. Following are logs when I checked the console log of firefox:
[code]

[2018-09-09 18:12] RealLucasMeyer commented on #1001
The solution proposed by @Piao08 worked for me with 0.14.3 (using the "master" tag).

[2018-09-10 05:31] Kartik1607 commented on #1141
The problem is that the code searches for `window.navigator.getUserMedia` which is [dropped from firefox](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/getUserMedia) and is deprecated. Probably will be removed from chrome as well.

I do think, we need to update the Cognitive Services module to handle the situation and need to use `navigator.mediaDevices.getUserMedia()` instead.

[2018-09-10 05:54] Kartik1607 commented on #1135
You should follow the [guide present here](https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-backchannel?view=azure-bot-service-3.0)

To notify bot you need to listen for activity of type 'event'

In Webchat
[code]

In you bot code
[code]

[2018-09-10 12:47] UsamaAslam commented on #1098
Still not working . I do it according to the link you share but not working . can you share working code or any guide line that can help that will be great .

[2018-09-10 12:47] mmenti commented on #1123
Thanks! I'll take a look.

[2018-09-10 12:47] #1123 closed

[2018-09-10 14:05] chintan3100 opened #1142 "When i write http request to get conversation id before bot initialization code , Bot sending two time message"
When i write http request to get conversation id before bot initialization code , Bot sending two time message.

[code]

(Edit: formatted for code clarity)

[2018-09-10 17:02] #1115 closed

[2018-09-11 05:14] JasmeetVirdi opened #1143 "Pass logged in user details to the microsoft bot hosted in an application"
My Webchat bot is hosted in an application in which the user is already logged in.I want to make a transaction for which the logged in user details are required but i dont want the user to log in again for the bot.So,how can i pass the logged in user information from the application to the bot.
I have searched alot for this and many articles are there but i am not able to find a clear solution.

[2018-09-11 05:49] liang-zigeng-aiit opened #1144 "Move to the bottom of the page when I click carousel button in IOS safari"
I create a html page to show a chatbot via iframe. When I click a carousel button  it replies as normal in PC But  in IOS safari(iphone) page scrolled to the bottom of the page.

ifarme.html
[code]

chat.html
[code]

[2018-09-11 12:37] ThomasMaes opened #1146 "Issues with redux when importing Chat in existing react App"
Hi,

I am trying to include the webchat in an existing (pretty big) react application.
The control renders and the bot sends it's welcome message, but it is also throwing a message in the browser.

Uncaught TypeError: action$.ofType(...).map is not a function
    at updateSelectedActivityEpic (Store.js:388)
    at combineEpics.js:26
    at Array.map (<anonymous>)
    at combineEpics.js:25
    at M

[2018-09-11 15:37] rosskyl commented on #1098
This is a stripped down version of what I use.

[code]

[2018-09-11 19:04] compulim opened #1147 "PoC: Command-and-observe using Redux actions"
# Goal

Write and host a bot that would send activity and consumed by Redux directly.

[code]

[2018-09-11 19:09] compulim opened #1148 "PoC: Custom attachment"
# Goal

Show stargazers number on a custom attachment.

https://developer.github.com/v3/repos/#response

[2018-09-11 19:10] compulim opened #1149 "PoC: Upvote buttons as decorators"
# Goal

Add upvote/downvote 👍👎 button next to an activity. The button click should either trigger a new activity, a RESTful call, or an event which can be consumed by the page host.

[2018-09-11 19:12] compulim opened #1150 "PoC: Highlight activities as decorators"
# Goal

Highlights an activities by putting a red/green band next to some activities, marked by `channelData`.

[2018-09-11 19:12] compulim opened #1151 "PoC: Disable interactivity"
# Goal

Disable interactivity for everything:
- Send box
- Adaptive Card
- Audio/image/video card

[2018-09-11 19:13] compulim opened #1152 "PoC: Handsfree mode"
# Goal

Re-enable microphone record after Web Chat completely spoken an activity.

[2018-09-11 19:14] compulim opened #1153 "PoC: Use core bundle"
# Goal

Use core bundle and allow user to bring in their own stuff, including:
- Adaptive Card
- Markdown-It

And optionally,
- Sanitize engine
- Web Speech engine

[2018-09-11 19:16] compulim commented on #1120
Looks like a question on the [Emulator](https://github.com/Microsoft/BotFramework-Emulator) side than Web Chat, can you repost it over there?

[2018-09-11 19:16] #1120 closed

[2018-09-11 19:17] compulim commented on #1146
Can you check if `rxjs` is correctly loaded and usable in your project? `.map` things is from `rxjs`, via `redux-observable`.

[2018-09-11 19:20] compulim commented on #1141
Firefox does not support speech recognition. You will need to [use Cognitive Services Bing Speech instead](https://github.com/Microsoft/BotFramework-WebChat#enabling-speech-capabilities).

https://caniuse.com/#feat=speech-recognition

![image](https://user-images.githubusercontent.com/1622400/45382379-e0839900-b5bc-11e8-86a0-62fcbf22c3e4.png)

[2018-09-11 19:36] compulim commented on #1134
Thanks @rosskyl.

Yea, in short, don't use the secret. Exchange Web Chat secret into a token first, and don't leak the secret to the client.

One more note (from ABS team):
- Within 24 hours of inactivity: activities will be sent back on connect
- 24h to 2 weeks: activities will not be sent back on connect
- 2 weeks+: conversation ID will be gone and cannot be reused

[2018-09-11 19:36] #1134 closed

[2018-09-11 19:40] compulim commented on #1143
In short, you will need to have the token on the bot side.

The right way to do it is thru OAuthCard. But I need to double-confirm if it is SSO or not. Using OAuthCard, you will get the access token that you can use on the server-side for many stuff.

Agree, although this path is supported, it's not clearly documented.

Let me know if you need some help on the code. You definitely use Web Chat wit

[2018-09-11 19:40] compulim commented on #1124
Done.

[2018-09-11 19:40] #1124 closed

[2018-09-11 19:41] compulim commented on #1122
I think the problem right now is: there is no way to terminate Direct Line connection unless you do page refresh.

We need more work on that area.

[2018-09-11 19:50] ThomasMaes commented on #1146
![image](https://user-images.githubusercontent.com/29087723/45383851-a2ae6100-b60c-11e8-86d0-bd325874c574.png)

Everything seems to be in the webpack yes. Is there something i must configure or something?

[2018-09-12 04:45] JasmeetVirdi commented on #1143
Thanx alot @compulim .Using OauthCard seems to be a good way.I will try that.

[2018-09-12 04:45] #1143 closed

[2018-09-12 07:52] UsamaAslam commented on #1098
okay what about Firefox browser . On Firefox mic is not displaying . Is their any limitation or how can i make mic working on Firefox as well. On chrome and internet explorer it work fine.

thanks for your help .

[2018-09-12 08:18] soso-maitha opened #1154 "Speech is not working on Airwatch Mobile Browser"
Hello,

I managed to run Speech Recognition and Text to Speech successfully on the Bot WebChat using DirectLine. It works on Chrome Desktop. However, for mobile apps we are using Airwatch Mobile Browser, but unfortunately the mic icon is not appearing. I would like to ask if there is any solution or workaround to this problem or if Airwatch Mobile Browser is going to be one of the supported browse

[2018-09-12 12:03] matmatos commented on #478
Hi everyone,
Is there any solution to the errors  that @prijil, @anthony-elhaddad and @LyraelRayne  showed ("Cannot find namespace 'JSX'" and "Cannot find type definition file for 'react')?
I'm trying to get webchat to run in angular 6, but get these errors when i try to run the app, i followed every suggestion i could find, but every time i get stuck at these errors...
I'm using Angular 6, and bo

[2018-09-12 12:07] arunthirumani1 commented on #478
version 0.11.4 works fine with angular 5, that is one workaround I could see if we are not looking at specific feature in 0.1.4.2.

[2018-09-12 12:16] matmatos commented on #478
You are right, i don't have any more build errors but now i get this in the browser console:
`Uncaught TypeError: Observable_1.Observable.bindCallback is not a function
    at Object../node_modules/botframework-webchat/built/Store.js (Store.js:260)
    at __webpack_require__ (bootstrap:76)
    at Object../node_modules/botframework-webchat/built/Chat.js (Chat.js:7)
    at __webpack_require__ (boots

[2018-09-12 12:29] arunthirumani1 commented on #478
Looks like rxjs version compatibility issue.

[2018-09-12 12:42] matmatos commented on #1050
Any updates on the issue?

[2018-09-12 18:03] sandtemp01 commented on #1141
Hi,
The issue is marked as closed, with reason "You will need to use Cognitive Services Bing Speech instead."
However, as per my problem, i am using bing speech itself, but still same thing is not working on firefox. Please suggest me steps to troubleshoot. To repeat, i am using bing speeach api for speech recognition, it is working on chrome but not on Firefox

[2018-09-12 20:40] compulim commented on #1141
I tried on Firefox 62.0 and the microphone works with Cognitive Services.

Few questions:
- Are you using the latest Web Chat build? I don't recall we change anything, but anything within last 2 months should be good
- Are you using IFRAME, CDN or NPM to get the Web Chat?
- Did you see the microphone access dialog? If you click block on it, I think microphone will be blocked forever until you clea

[2018-09-12 20:58] compulim opened #1156 "React say HistoryRef is unmounted when we try to focus it"
Related to https://github.com/Microsoft/BotFramework-Emulator/issues/837.

When `ReactDOM.findDOMNode(this.historyRef)` is called, `react-dom` throw an exception saying `historyRef` is unmounted. This only appears on installed version of Emulator, not on development build.

I double-checked `this.historyRef`, it was not unmounted, and we did not miss any `saveRef` calls. It feels so weird to me: i

[2018-09-12 21:05] compulim commented on #1154
This is a limitation between Airwatch Mobile Browser and iOS.

iOS put a limitation on WebRTC or Web Speech API in third-party browsers. That means, on Chrome/Edge/Firefox on iOS, speech will not work. It will only works with Mobile Safari.

Not particular a limitation/bug on Web Chat side. It's an OS thing.

[2018-09-12 21:05] #1154 closed

[2018-09-12 23:45] #1156 closed

[2018-09-12 23:48] compulim commented on #1146
Sorry I can't debug into your bigger project, but I will try my best to guide you to debug on your side.

From what I look at here, `action$.ofType(...).map` is not a function. And you got `rxjs` installed.

I would try put a breakpoint near the line and see if I can create a new rxjs/Observable and do the `ofType` and `map`. I am suspecting if there is a version conflict over here.

TBH, the rxjs

[2018-09-13 00:37] #1153 closed

[2018-09-13 00:43] compulim commented on #1129
I agree we should not lint anything under `/node_modules/`. But I am not seeing it on a fresh clone on my side, and neither on [Travis CI](https://travis-ci.org/Microsoft/BotFramework-WebChat/jobs/427933433#L632).

Can you give me some more pointers so I can repro the issue?

[2018-09-13 06:18] ThomasMaes commented on #1146
Hi, Thank you for helping me. But I have to apologize here, I am not familiar with rxjs at all.
I tried to create a new rxjs/Observable, but don't really now the syntax or the object that I need to create.
I looked it up and saw I need to do something like Observable.create, but i do not seem to have that function.

![image](https://user-images.githubusercontent.com/29087723/45470258-60307580-b72d

[2018-09-13 10:39] nmssalman commented on #616
yes it's working..great job.thanks

[2018-09-13 18:10] sgellock commented on #1148
William has this one done

[2018-09-13 18:10] #1148 closed

[2018-09-13 19:37] compulim commented on #1146
Can you try if the following code works?

[code]

This should log `1230`.

[2018-09-13 19:58] ThomasMaes commented on #1146
Hmm,

This is failing as well. I have now installed exactly the same versions of rxjs, redux and observable.

![image](https://user-images.githubusercontent.com/29087723/45512506-277db400-b7a0-11e8-8cbe-2b497fce1779.png)

[2018-09-13 20:08] compulim commented on #1146
So I think this prove it is unrelated to Web Chat but more on the bundling side, same as what we believe.

One liner for Observable: you can think of observable as an event stream. You subscribe to its event. And apart from events, the stream can also say "I am done, no more events", or "I got error and closing now".

The question is, why `Observable.of()` is not returning an object that contains

[2018-09-13 20:29] compulim commented on #1146
Looks weird to me that you need to import manually.

- Store.js is calling `.delay()` on `action$`
- I believe `action$` is something from `redux-observable`, it is a stream of Redux actions exposed as Observable

The question is, why the import statement at [`Store.ts` line 538](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Store.ts#L538) is not prototyping `.delay()` for `Obs

[2018-09-13 20:33] ThomasMaes commented on #1146
Has to be something with the webpack and the polyfill filters maybe?
This is uncharted teritory for me unfortunately. I have added delay to the import and now it is complaining about filter.

Store.js:405 Uncaught TypeError: action$.ofType(...).map(...).filter is not a function
    at sendTypingEpic (Store.js:405)
    at combineEpics.js:26

[2018-09-13 20:34] ThomasMaes commented on #1146
Hmmm this is going to be a lot of trial and error this way. I must be missing something.

filter added. Throttletime now.
Uncaught TypeError: action$.ofType(...).map(...).filter(...).throttleTime is not a function
    at sendTypingEpic (Store.js:406)
    at combineEpics.js:26

[2018-09-13 20:56] ThomasMaes commented on #1146
Allright it works. It actually works. Now to find out if there is a better way, because it just bloated my bundle with about 3mb worth of files..

Thank you for your help anyways. :)

[2018-09-13 20:56] #1146 closed

[2018-09-13 21:05] DMZ011 opened #1158 "Getting an error on npm install"
I cloned the repo and ran npm install, however it failed and gave me this error:

Here's a gist of the full result am seeing:

https://gist.github.com/DMZ011/5eaa3886cd605cd8c11ba76001c768c2

My development operating system is Windows Server 2012, and am using Node v 6.0.0.

[2018-09-13 22:46] compulim commented on #1146
Good to know.

Yea, `rxjs` is huge and we are considering moving away from it:
1. Web Chat v4 will be free of `rxjs`, we will use `redux-saga` for business logic
2. Direct Line JS will move to `zen-observable` and only use minimal set defined in [ES Observable](https://github.com/tc39/proposal-observable)
   - When ES Observable arrive, or when it is in `core-js`/`babel-runtime`, we will remove `z

[2018-09-13 22:49] compulim commented on #1158
Can you try bump it to Node 10+ and NPM 6+?

On the other side, TypeScript should not be compiling/looking into `/node_modules/` folder, kind of weird to us.

[2018-09-13 23:01] DMZ011 commented on #1158
@compulim I can't upgrade node and npm because I want to develop a SPFx webpart on SharePoint 2016, and it requires Node v6. Is there any other way to use it or that's  the only way and we should consider it a limitation?

[2018-09-13 23:06] compulim commented on #1158
The error is TypeScript trying to do typechecking on `/node_modules/bluebird`. It shouldn't because we set `skipLibCheck: true` in our `tsconfig.json`.

Can you check why TSC is still doing typechecking?

[2018-09-13 23:08] DMZ011 commented on #1158
@compulim umm, how do I do that? I didn't install TypeScript compiler globally.

[2018-09-13 23:19] DMZ011 commented on #1158
@compulim I installed TSC -g, and tried again, same issue. What do I need to do to debug it?

[2018-09-14 05:43] Danieladu commented on #1106
Thanks for your reply @compulim.

This is exactly what we are confused about.

The difficulty is that we just use the iframe value from bot service of Azure. (Embed code from webchat channel). So botchat.js and directLine.js is loaded by <iframe> automatically.

To us, webchat is a show window totally, not a developer tool. No code-writing and change would be made in it.

Absolutely open a window

[2018-09-14 06:34] UsamaAslam commented on #1141
here is the code . Thanks to @rosskyl

working for me now on firefox.

`/*! modernizr 3.6.0 (Custom Build) | MIT *
 * https://modernizr.com/download/?-getusermedia-speechsynthesis !*/
!function (e, n, s) { function i(e, n) { return typeof e === n } function o() { var e, n, s, o, a, f, d; for (var c in t) if (t.hasOwnProperty(c)) { if (e = [], n = t[c], n.name && (e.push(n.name.toLowerCase()), n.op

[2018-09-14 06:49] UsamaAslam commented on #1098
thanks @rosskyl  by this code speech is working on firefox but it's still not working on safari browser.

giving me error on this 2 lines . Can you help me out how do you solve this 2 issues .

Error 1:
'undefined' is not an object (evaluating 'window.navigator.mediaDevices.getUserMedia')

and
Error 2:
'undefined' is not an object (evaluating 'document.getElementsByClassName("wc-mic")[0].addEventL

[2018-09-14 07:09] #1150 closed

[2018-09-14 07:09] #1149 closed

[2018-09-14 07:33] #1098 closed

[2018-09-14 07:36] compulim commented on #1158
The `skipLibCheck` we set will skip all `*.d.ts` files, but I am seeing TSC is typechecking `bluebird/index.d.ts`. That's the weird part for me.

I looked at this [Stack Overflow question](https://stackoverflow.com/questions/38656955/allow-implicit-any-only-for-definition-files), it said `skipLibCheck` is added `typescript@>=2.0.0`.

Can you run `tsc --version` to see what's the version you have i

[2018-09-14 07:51] compulim commented on #1106
Looks like there are some fixes coming to fix the OAuth card in `<iframe>`. It's currently broken in `0.14.2`.

Can you try hit your bot using `<iframe src="https://webchat.botframework.com/embed/YOUR_BOT?s=YOUR_KEY&v=master">`?

The extra `&v=master` will point you to the latest `master` branch as on GitHub, which I verified it is working with OAuth card.

[2018-09-14 07:54] compulim commented on #1129
Same as #1158.

@Edwardenis can you see what version of TypeScript you are using?

We have `skipLibCheck: true` in `tsconfig.json`. According to the doc, this flag (introduced in `typescript@>=2.0.0`) will skip all `*.d.ts` files.

But according to your log, TypeScript is trying to typecheck `/node_modules/bluebird/index.d.ts`, which the flag should avoided it.

[2018-09-14 07:55] rafaelmaeuer commented on #990
is this issue going to be fixed?

[2018-09-14 07:56] #1081 closed

[2018-09-14 07:56] #1082 closed

[2018-09-14 08:01] compulim commented on #1077
Browser limits what website can use microphone. I think all modern browsers now block microphone access on non-HTTPS website, there is no way to workaround browser security check.

To enable speech options, you will need to secure your website using HTTPS certificate. LetsEncrypt.org offer free SSL certificates you can use for your site.

[2018-09-14 08:01] #1077 closed

[2018-09-14 08:02] compulim commented on #1133
Can you explain a bit more on the topic?

[2018-09-14 08:05] compulim commented on #1032
Currently, for the current version of Web Chat (a.k.a. v3), there is no plan to upgrade to React 16. PR is always welcomed.

However, we are preparing the next version of Web Chat (a.k.a. v4), it will be running on React 16.5.0.

[2018-09-14 08:05] #1032 closed

[2018-09-14 08:06] compulim commented on #1130
Fixed in #1131

[2018-09-14 08:06] #1130 closed

[2018-09-14 08:10] enessoylu opened #1159 "Question: What is your plan about this V4?"
Hi @compulim,

It seems you are rewriting WebChat from scratch, what is the reason for that and what is the plan actually, if I may ask?

[2018-09-14 09:55] Danieladu commented on #1106
Thanks, @compulim.  It works. Maybe the latest version fixes this problem. I can get the magic code after login in.

[2018-09-14 10:02] Danieladu commented on #1106
#1104

[2018-09-14 10:27] UsamaAslam commented on #1051
hello , i am using .net for adaptive card . can you share any documentation or link that can help me to find the solution for this problem ..

Is this possible ??

[2018-09-14 13:52] DMZ011 commented on #1158
@compulim I ran tsc -- version, I got this:

I modified my tsconfig.json file, now it looks like this:

[code]

But am getting the same error when I do npm i:

[2018-09-14 18:18] compulim commented on #1158
TypeScript 1.5.3 seems too old to make it works. Web Chat is using 2.3 and the latest is 3.0.3.

Can you investigate why `typescript`/`tsc` is 1.5.3 but not 2.3?

[2018-09-14 18:27] compulim commented on #1141
Can you do me a quick favor?

In Chrome, click the microphone button and say "testing 123".

If Web Chat send out "testing 123" (t in lower case), it is using the browser speech engine.

If Web Chat send out "Testing 123." (T in upper case with period at the end), it is using Bing Speech.

[2018-09-14 18:28] compulim commented on #1106
Wonderful! Closing this for now.

Let us know what you think about the OAuth, we have more stories around authentication coming at Ignite conference next-next Monday.

[2018-09-14 18:28] #1106 closed

[2018-09-14 18:52] compulim commented on #1159
Thanks for asking this, I have been waiting for people to dig up the mysterious v4 branch for quite some time.

Many things for sure, rewrite is hardly a good thing for our users. But we believe we have very good reasons to do it.

In short, we are trying to fulfill wishes we gathered from the GitHub issue log:
- Customization stories
   - "I don't want to fork Web Chat to customize it, I want to

[2018-09-16 05:26] sandtemp01 commented on #1141
@compulim : this was a good one :)
while speaking it converts to "testing 123" to "testing 123"... but while posting it is "Testing 123"
Another utterance posted as -> "**T**his is a simple statement"

[2018-09-17 09:54] UsamaAslam commented on #357
hello .. @billba  can you convert this code into c# so i can also use this code.

[2018-09-17 10:04] billba commented on #357
@UsamaAslam sorry I only speak JavaScript :-(

[2018-09-17 18:16] Edwardenis commented on #1129
Hi @compulim,

I had Typescript version 2.1 installed globally. Now I updated it to 3.0.3 and it's working.

Thank you for the help. :)

[2018-09-17 19:15] compulim commented on #1129
Wonderful!

I think we install TypeScript locally. We will investigate why it was using globally-installed TypeScript instead of the local version.

But anyway, great to hear it works now.

[2018-09-17 19:15] #1129 closed

[2018-09-17 21:28] corinagum opened #1164 "Accessibility for clickable activity"
https://github.com/Microsoft/BotFramework-WebChat/blob/41d14fd5744ca2cc47656d8758fdc00404c5f81a/src/History.tsx#L313

Use similar code:

[code]

[2018-09-18 11:11] enessoylu commented on #1159
Cool! Why you gave up from using TypeScript and redux-observable?

[2018-09-18 15:35] eskivelevolution opened #1165 "Mixed messages"
Hello!

I just downloaded master branch and compiled it, and the messages are mixed:

![image](https://user-images.githubusercontent.com/19326711/45698737-12f24080-bb3f-11e8-99af-1cccb5057d54.png)

Could you help me, please?

Thank you.

[2018-09-18 16:27] alexvingg commented on #1165
I have the same problem, can you help me?

[2018-09-18 17:07] compulim commented on #1159
We are still going back to TypeScript. But coding in JavaScript is much faster when the team is small (imagine we scrap out the code 3-5 times until we satisfy with the coding pattern). We will migrate the code back to TypeScript soon.

`redux-observable`:
- RxJS bloated up the package
- Debuggability is bad (how one action is chained to another?)

We opted for `redux-saga` instead:
- We use it to

[2018-09-18 17:37] compulim commented on #1159
If you have more questions, keep them coming.

p.s. head down on one thing and not looking elsewhere may make us building a beast.

[2018-09-19 07:40] compulim commented on #1165
#1127 is meant to fix it, waiting for code review.

If you need something more urgent, you can revert to commit 2cc3c7541b00d0dfb06ea69758bd7be4f1b629d8.

[2018-09-19 16:35] eskivelevolution commented on #1165
Thx @compulim

[2018-09-20 13:31] matmatos commented on #859
@compulim  Any updates on the always-on option for the microphone?

[2018-09-21 02:05] blrchen commented on #1159
Thanks @compulim for the awesome work. How soon can we expect first v4 release rolling out?

[2018-09-21 02:40] compulim commented on #1159
We are expecting v4 preview release to be dropped within days. 😉

[2018-09-21 02:40] compulim commented on #1164
Fixed in #1166.

[2018-09-21 02:40] #1164 closed

[2018-09-21 06:40] shikelong commented on #882
+1

[2018-09-21 18:59] guilhermegjr commented on #1050
+1

[2018-09-21 21:46] compulim commented on #1158
This is more or less similar to #1129.

I am closing this due to inactivity.

[2018-09-21 21:46] #1158 closed

[2018-09-21 21:48] compulim commented on #1151
Done.

[2018-09-21 21:48] #1151 closed

[2018-09-21 21:57] compulim commented on #1142
If your commenting out the top line prevents error, that means there is something wrong with the `getLogedin` function. I would recommend stepping thru that code to find out what's going on.

If you have how-to questions, the [Bot Framework tag on Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) is a helpful resource.

[2018-09-21 21:57] #1142 closed

[2018-09-21 21:59] compulim commented on #1141
@sandtemp01 is it still not working in Firefox. Two things:
- Can you confirm you are using latest Firefox?
- Did you block microphone access on Firefox before?

[2018-09-21 22:00] compulim commented on #1135
Close due to inactivity.

If you have how-to questions, the [Bot Framework tag on Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) is a helpful resource.

[2018-09-21 22:00] #1135 closed

[2018-09-21 22:00] compulim commented on #1133
Close due to inactivity.

If you have how-to questions, the [Bot Framework tag on Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) is a helpful resource.

[2018-09-21 22:00] #1133 closed

[2018-09-21 22:01] compulim commented on #1127
Code reverted.

[2018-09-21 22:01] #1127 closed

[2018-09-21 22:01] compulim commented on #1126
Close due to inactivity.

[2018-09-21 22:01] #1126 closed

[2018-09-21 22:08] compulim commented on #1125
In [`AdaptiveCardContainer.tsx:170`](../tree/master/src/AdaptiveCardContainer.tsx#L170), we are setting `version` on a `number`, thus, we are getting that error.

We want to make sure exceptions are caught and passed to line 228.

@corinagum can you look at it?

[2018-09-21 22:13] compulim commented on #1122
I am creating a new issue at Microsoft/BotFramework-DirectLineJS#94 to track this.

[2018-09-21 22:13] #1122 closed

[2018-09-21 22:18] compulim commented on #1097
403 termination issue is fixed in #1131.

[2018-09-21 22:18] #1097 closed

[2018-09-22 07:53] compulim commented on #1159
Preview release is now under [`preview`](https://github.com/Microsoft/BotFramework-WebChat/tree/preview) branch. 🎉

[2018-09-24 09:31] sandtemp01 commented on #1141
Hi,
Just updated the firefox to latest one.. still Mic icon is not appearing.
Checked in settings.. Microphone is not blocked..
Did cross checking again.. Mic icon is appearing for same URL in chrome

[2018-09-24 09:36] Kartik1607 commented on #1141
@sandtemp01 are there any errors in console?

[2018-09-24 09:48] sandtemp01 commented on #1141
Yes.. There are errors...mentioned earlier in the thread..
- Sending reply through email

[2018-09-24 16:28] Kartik1607 commented on #1141
@sandtemp01 Can you run these commands in console in firefox and let me know the output of each
`window.navigator.getUserMedia`
`window.navigator.mediaDevices`
`window.navigator.mediaDevices.getUserMedia`

[2018-09-24 17:01] compulim commented on #1147
Done.

[2018-09-24 17:01] #1147 closed

[2018-09-25 07:33] sandtemp01 commented on #1141
**window.navigator.getUserMedia**
undefined

**window.navigator.mediaDevices**
MediaDevices
​
ondevicechange: null
​
<prototype>: MediaDevicesPrototype { getSupportedConstraints: getSupportedConstraints(), enumerateDevices: enumerateDevices(), getUserMedia: getUserMedia(), … }

**window.navigator.mediaDevices.getUserMedia**
getUserMedia()
​
length: 0
​
name: "getUserMedia"
​
<prototype>: function

[2018-09-25 08:38] Kartik1607 commented on #1141
Ah-hah. The version of Cognitive Services you are using (https://webchat.botframework.com/scripts/webchat-stable/CognitiveServices.js) is only checking for *window.navigator.getUserMedia* , which is **undefined** in case of firefox.

[code]

What you need to do is update the src url to `https://cdn.botframework.com/botframework-webchat/latest/CognitiveServices.js` for cognitive services and `https

[2018-09-25 09:53] sandtemp01 commented on #1141
Great... Mic started appearing after changing the cognitiveService.js url.. will deploy on server and test
However, the JS file needs to be updated by MS guys.. I got that from some of MS given links of webchat.

[2018-09-25 10:16] UsamaAslam opened #1173 "Email is not working in Bot."
Hello.
I am using .net bot framework. I create an email function it is working on emulator but when i go live bot bot sending email and go to exception . please help me out how can i solve this issue.

`using System.Net;
using System.Net.Mail;

var fromAddress = new MailAddress("from@gmail.com", "From Name");
var toAddress = new MailAddress("to@example.com", "To Name");
const string fromPassword =

[2018-09-25 20:32] rosskyl commented on #995
Just a note that this will only work for the browser speech synthesizer. It does not work for the cognitive services speech synthesizer.

I tried to prime it like above by creating an audio context and playing a tone but that does not work. I can get the tone to play on the mic tap, but can't get it to work programmatically.

[2018-09-26 10:52] pedrosalider opened #1174 "Store refresh token in a cookie"
Hello.

I am initializing the chat through a token obtained calling to DirectLine Api (POST/v3/directline/tokens/generate). I store this token in a cookie and use it to resume a conversation.
My problem is that the direct line automatically refreshes the token after 30 minutes and I didn't find a way to save the new token.
Does anyone know how I can save the new token?

Thanks in advance

[2018-09-26 14:30] Kartik1607 commented on #1174
Hi, to resume a conversation you need to pass conversation id along with token and stream url. You can all these fields from conversation in a activity.
[code]

Once you generate a token by `POST/v3/directline/tokens/generate).` you **do not** need to save this. You only need to pass this token to [Directline JS library](https://github.com/Microsoft/BotFramework-DirectLineJS). The library will man

[2018-09-26 14:41] Kartik1607 commented on #1174
Hi, to resume a conversation you need to pass conversation id along with token and stream url.
To reconnect to a conversation you need to generate a new websocket url
[code]
 Then you can pass this token to [Directline JS library](https://github.com/Microsoft/BotFramework-DirectLineJS). The library will manage the refreshing of token.

[code]

[2018-09-26 17:19] mato1092 opened #1175 "Reversed bot answers"
Hello.

We build a chatbot with the BotbuilderJS.
Further we tested our bot with the bot emulator. All is working fine.

Instead of the bot emulator we want to use the webchat. We implemented our solution based on the backchannel sample. Every client use a unique userID, conversationID and token. Only the botID is shared between the different clients.

The problem is the following:
We have to Clie

[2018-09-27 04:17] Kartik1607 commented on #1175
How do you define 'same time'. Is it within same minute? Could you please clarify the scenario a bit more?

[2018-09-27 04:41] mato1092 commented on #1175
With ’same time‘ I mean that both Clients request the bot in the same second. If you wait a little bit more, round about 5 seconds, every Client get the right response.

[2018-09-27 07:41] Kartik1607 commented on #1175
So if there are 2 clients with each having different conversation Id, and they both send a message to bot, they should get the same response?
What if the message they sent is different? Say Clint A asks bot about weather in New York and other client B asks bot about weather in London.

What should the bot return? I am not able to visualise the use case of your issue. Can you guide me the use case

[2018-09-27 10:00] darrenj opened #1177 "Speech not working on preview webchat"
I'm trying to use the latest preview webchat and enable speech. The documentations seems to indicate that the default bundle has cognitiveServices contained within it however this doesn't appear to work so I had to add the CognitiveServices.js package in (latest - doesn't seem to be available on preview).

Here is the code I'm using and testing using Edge. No errors are shown in developer tools.

[2018-09-27 10:05] darrenj opened #1178 "Resizing not working correctly on Edge"
I am creating a preview webChat control within my page and testing on Edge using the following code:

[code]

However the sizing doesn't seem right - the left hand slide is clipped off and potentially the right hand side too. The code above is largely what's provided in the docs so assuming resize:Detect is the right approach? Same results on Chrome.

![image](https://user-images.githubusercontent

[2018-09-27 16:44] mato1092 commented on #1175
Say we have two Clients. Client A asks bot about the weather of london. Client B asks bot about the weather about New York. Client A and Client B ask the bot in the same second. Client A response is the weather of London. The problem is, that Client B response is also the weather of London.

[2018-09-27 23:29] Toemsel commented on #1177
Same issue here. Trying with de-DE, de-AT or even en-US.

[2018-09-27 23:37] Toemsel opened #1179 "Text to Speech not working"
Web App Bot v3 doesn't speek out loud the text it is supposed to do.
Language German DE/AT on windows 10 installed. (Including the speech packages)
Tried on Edge and Chrome.

     <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>

    <script src="https://cdn.botframework.com/botframework-webchat/latest/CognitiveServices.js"></script>

      const speechOp

[2018-09-28 04:42] Kartik1607 commented on #1175
This should not happen. Are you managing sending request to bot yourself? You mentioned using back channel mechanism, what is the use case for that? Normally back channel mechanism is used for sending events containing additional information to bot. For other requests (say asking bot about weather) it is not needed.

Are you trying to manage conversation id and messaging yourself?

[2018-09-28 04:47] Kartik1607 commented on #1179
The bot only starts speaking if **lastInputViaSpeech** is true . It is **false** by default. You need to click microphone to send message to bot via speech to enable text to speech. Instead, if you want the bot to always speak you would have to update [this line](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Store.ts#L603) to true always.

[2018-09-28 15:14] nmssalman commented on #422
Internet Explorer and Edge have errors while chat system. specially javascript not working

[2018-09-28 16:13] Toemsel commented on #1179
How am I able to set this value? I use the DirectLine while including

    <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/CognitiveServices.js"></script>

Couldn't find a reference in both scripts to this file.

[2018-09-28 16:15] Toemsel commented on #1179
Ok, I modified the **lastInputViaSpeech** value in the .js. Thanks for your help

[2018-09-28 19:03] fberasategui opened #1180 "How do I pass parameters to the Bot API using V4?"
So, I'm currently using this:

[code]

and it works fine, however I have multiple (user defined) bot and QnA configurations and I would like to pass a single string parameter which can be accessed by my code based on the Bot Framework API.

Is there any way to do that?

[2018-10-01 10:33] aaeeP opened #1181 "Bot answer with iframe"
Hi, I would like to have a bot that can embeed content from other websites in the answers using iframes. Does anyone know if this is possible? I have done as is said in this post: https://blog.botframework.com/2017/09/07/html-not-supported-web-chat/ but I still can't use iframes. Anyone has done it or has a clue of how to do it?

Any help is very appreciated.

Thank you!

[2018-10-01 16:44] Stardox opened #1182 "[Question] Multiline input textbox"
Is it possible to enable the multiline support / text wrap of the textbox (_wc-shellinput_)? If so is it possible out-of-the box, for example via a setting / WebChat parameter?

After a short research I found [following issue](https://github.com/Microsoft/BotFramework-WebChat/issues/17), however it seems that it has been abandoned long time ago.

I have tried to replace the input itself with texta

[2018-10-01 19:19] compulim commented on #1177
Web Chat preview changed how it consume Cognitive Services. In short, instead of using custom `SpeechModule.ts`, we are simplifying the architecture by consuming a standard Web Speech ponyfill.

I am working on this sample now, hopefully it will be in soon.

[2018-10-02 17:19] #1179 closed

[2018-10-03 15:14] debnathSD opened #1185 "How to enable Speech in BotFramework inside Android WebView"
Hi,

I am loading a bot URL inside an android application WebView. I have recently added speak feature in my bot, I have tried and tested in Native Browser - it works perfectly.

But when I am trying to use the same feature in a WebView, the Microphone icon itself is not coming and nothing is spoken by the bot.

P.S., I am using **.BrowserSpeechRecognizer()** and **.BrowserSpeechSynthesizer()**

[2018-10-03 21:05] dkonyayev opened #1186 "How safe is DirectLine?"
I have seen a number of posts where developers want to have their clients talk to their Bot directly without using DirectLine, or alternatively emulate DirectLine within their intranet. The most common reason is that their companies are not cloud-ready.

Instead of asking HOW, I want to ask for more information about DirectLine that I can present back to my technology committee. How is direct line

[2018-10-04 15:55] skandyrocks opened #1187 "Sum up multiple messages"
we recognized that our customers often send more than one message to describe their intent.
So our idea was to sum up some message until the customer stops typing for about 3 seconds or so. We used the postActivity-Middleware to achieve this. So we are caching all messages that the customer sends and we want to send them in one message after he stopped typing. We recognized that we cannot post act

[2018-10-04 23:15] compulim commented on #1177
#1190 this is the sample I am working on for this issue.

I broke down some components, reasons/details inside the PR.

[2018-10-05 10:30] compulim commented on #1185
`WebView` may have limited supported on speech because they are not a full browser. Unfortunately, [CanIUse.com](https://caniuse.com) don't list `WebView`, so it's difficult to tell which OS version support what APIs.

For WebRTC support, can you try if WebRTC is working properly in WebView? If yes, Cognitive Services will probably work in `WebView`.

For Web Speech API support, can you visit http

[2018-10-05 10:31] #1185 closed

[2018-10-05 10:32] compulim commented on #1182
Stay tuned. It is coming in Web Chat v4.

[2018-10-05 10:35] compulim commented on #1180
The easiest and supported way, use need multiple bot registrations and bot endpoints. You can still host bot on the single server with different routing.

Another way, shortly after starting a conversation, send an event to the bot to tell the bot what settings to load (a.k.a. "pseudo bot ID"). You keep this "pseudo bot ID" in bot state, so your bot code know what settings to load on every request

[2018-10-05 10:35] #1180 closed

[2018-10-05 10:41] compulim commented on #1174
According to [this line of code](https://github.com/Microsoft/BotFramework-DirectLineJS/blob/master/src/directLine.ts#L305) in DirectLineJS, the `token` property is private and you may not able to retrieve it.

You can hack DLJS to make it public so you can steal it but it is unsupported. We are working on preserve history functionality and will revisit resume conversation story in DLJS soon.

I w

[2018-10-05 14:31] fberasategui commented on #1180
@compulim the problem is that it needs to be dynamic. Meaning people can register into our platform and configure their own bot, which means I'd have to create bot registrations dynamically on Azure. I don't know if that's possible.

As for the other approach, how do I send an event to the bot? you mean client side?

[2018-10-05 14:34] Stardox commented on #1182
Thanks both of you for the responses!

In the meantime I have managed to workaround it by hiding the original `wc-shellinput` and rendering my own `TextArea` element in its place. Next up, I have hooked up my own event listener on the send button which will move the text from my own `TextArea` into the original `wc-shellinput` React component. Not the pretties approach, but will do for now. :-)

C

[2018-10-05 14:34] #1182 closed

[2018-10-05 17:35] debnathSD commented on #1185
Hi @compulim , I was tracking this [chromium bug thread](https://bugs.chromium.org/p/chromium/issues/detail?id=487255) which says that Support for Web Speech API in Android WebView is not present till date.

I will try some alternatives and update the thread if I get it working!

Thanks!!

[2018-10-06 13:28] Kumar3010 commented on #759
@stephaneey - we do have scenario to use custom speech service to recognise the domain specific words. we have trained the lang model and acoustic model in cris.ai. wuld you please help me in suggesting and point to a sample to consuming the cris in web chat. appreciate your help.

[2018-10-07 09:23] shmuelgutman opened #1194 "Make SEND_TIMEOUT in PostActivitySaga configurable"
**Branch: Preview**

In some use case my bot send multiple messages in a row and with typeing-delay of 2 seconds, the entire turn takes more than 5 seconds.

Can we make this configurable?
https://github.com/Microsoft/BotFramework-WebChat/blob/e6eed9b80c8c3b942a651a75f8d8c9f0931777b6/packages/core/src/sagas/postActivitySaga.js#L27

[2018-10-07 18:11] Al-mck opened #1195 "Random positioning of the proactive message"
Hello,

I am developing a chatbot. I want to integrate a welcome message so that the bot initiates the conversation but this message sometimes appears at the top of the chat :

![image](https://user-images.githubusercontent.com/16591957/46585011-38ea7100-ca6b-11e8-9c2c-c2c479b52bf4.png)
and sometimes at the bottom :
![bug](https://user-images.githubusercontent.com/16591957/46585120-e3af5f00-ca6c-1

[2018-10-08 12:35] mato1092 commented on #1175
We are using the conversationId we get from the directlineAPI (https://directline.botframework.com/v3/directline/conversations).

We evaluated our whole project a second time. Therefore I created a little architecture overview image. I hope this helps to clarify the scenario.

Step 1: We send a message to the BotFramework/Gateway. It dosen't matter how our client is implemented ( iframe, backchann

[2018-10-09 12:35] shmuelgutman commented on #970
@compulim I see your commit:
https://github.com/Microsoft/BotFramework-WebChat/pull/1157
We might do the same "catch" for this also
 https://github.com/Microsoft/BotFramework-WebChat/blob/05fd47637b877b9baef244ba3692d2c386754d3d/src/Chat.tsx#L162

[2018-10-09 15:58] sgellock opened #1196 "Download link opens Windows Store and fails to download"
_From @paulio on August 8, 2018 15:19_

Create an embedded text document launches the Windows Store rather than download the file
[code]

_Copied from original issue: Microsoft/BotFramework-Emulator#752_

[2018-10-10 01:01] compulim commented on #1177
Fixed in #1190.

You can find the sample at [`speech-cognitive-services-bing-speech`](https://github.com/Microsoft/BotFramework-WebChat/blob/preview/samples/speech-cognitive-services-bing-speech/index.html).

In this sample, we fetch the speech token in HTML. This is not secure and is for demonstration purpose. You should fetch the token on the server (to keep your subscription key secure).

So, i

[2018-10-10 01:01] #1177 closed

[2018-10-10 01:14] compulim commented on #1178
In v4 preview, we no longer need any resize detection logic, everything is built using flex box and is responsive by default (including carousel).

Can you share the DOM/CSS tree and see what's going on?

You can also play the demo at https://microsoft.github.io/BotFramework-WebChat/full-bundle/. This one just set `width`/`height` to `100%` and is responsive by default.

[2018-10-10 01:16] compulim commented on #1195
We didn't observe this behavior. Which browsers are you using? For the padded space, can you inspect the DOM tree and see what is causing it?

[2018-10-10 08:28] filipyoo opened #1198 "Adaptive Card error when integrating with build create-react-app"
Hello !

So I'm integrating a custom build of the Webchat as a React component in my React Website.
So far so good, everything works smoothly on localhost, but when I build my project using create-react-app `npm run start`, and got a `main.someHash.js` everything is working fine, except when I want to click on the list of choice of the adaptive card. The clicked choice is not sent as a text, and I

[2018-10-11 03:08] glbeast63 commented on #1177
Would there be any difference, if I were wanting to use this with react? I get the error "TypeError: webSpeechPonyfillFactory is not a function"

thanks

[2018-10-11 03:59] compulim commented on #1177
This is the same for React route. `renderWebChat()` is more-or-less a wrapper for `ReactDOM.render()`.

I have added an example in [this PR](https://github.com/Microsoft/BotFramework-WebChat/pull/1200). You can find it [here](https://github.com/Microsoft/BotFramework-WebChat/blob/preview/samples/speech-cognitive-services-bing-speech-react/index.html).

[2018-10-11 09:23] ArnabHCL opened #1201 "OAuthCard is not working on Chrome or IE using latest BotChat.js"
•	We are trying to change our BOT (Bot Framework V3) authentication mechanism from AuthBoT to Sign-in card based AAD authentication, as per recent recommendation from Microsoft. Authentication mechanism has been configured as per the documentation available.
•	But, we are facing issue with default web chat as well as custom web chat. Sign-in card is not rendering properly on these (for custom web

[2018-10-11 14:49] telltokichu commented on #1198
I am also getting the same error , please push some fix asap.

[2018-10-11 14:56] Snekha-Shivakumar commented on #680
@mrPrateek95  Thank you for this. But, it works in chrome and firefox and not in IE. Any idea on this?

[2018-10-11 15:36] mrPrateek95 commented on #680
@Snekha-Shivakumar What version of IE are you using? I have tested it on IE11. Seems to be working there.

[2018-10-11 16:34] compulim commented on #1201
We love to help. Can you tell us a little bit more about "not rendering properly"? Can you take a screenshot of what is actually showing up (and expected, if you can get it from Edge)?

[2018-10-11 16:47] compulim commented on #1198
Working on a repro.

[2018-10-11 20:53] compulim commented on #1198
I have made a repro using `create-react-app@^1` with `react-scripts@^1.1.5` and `botframework-webchat@^0.14.2` to create a new React web app. Source code at https://github.com/compulim/BotFramework-WebChat-Repro-1198. It's plain vanilla CRA + Web Chat, so we believe it is more-or-less reflecting the scenario you talked about.

The live repro demo is at https://compulim.github.io/BotFramework-WebCh

[2018-10-12 00:48] compulim commented on #970
Working on this right now, will get it fix asap. Dupe of #1198.

Prelim investigation suggest Web Chat is relying on React 15, and when it run on React 16, `findDOMNode` is returning `null`/`undefined`.

[2018-10-12 01:38] filipyoo commented on #1198
Thank you for your quick cooperation !

[2018-10-12 01:50] compulim commented on #1198
PR is out, need to wait for my peers to review to get it in.

[2018-10-12 01:52] compulim commented on #970
The problem is:

- Web Chat depends on `react@15.6.1` and `react-dom@15.6.1`
- Host page using React of other versions (I tested `@16.5.2`)
- I guess, there is a version mismatch between `react` and `react-dom`
   - `ReactDOM.findDOMNode()` always throw and say the component is unmounted
   - In fact, the component was not unmounted
       - I guess it is because the different version of `react`/`

[2018-10-12 04:30] glbeast63 commented on #1177
Thanks for the quick response! I noticed that in your example, you did not use renderWebChat(). I guess I am not quite sure how to use it?

[2018-10-12 06:18] paulio commented on #1196
I'm not sure why this has been moved from the Emulator as it works perfectly in the Webchat?

[2018-10-12 07:00] Snekha-Shivakumar commented on #680
@mrPrateek95  I'm also using IE11 and I'm using this piece of code for auto complete. Here is my code:

var availableTags = [
.........
.........
];
    $('body').on('click', '.ui-menu-item', function() {
        var input = document.getElementsByClassName("wc-shellinput")[0];
        var lastValue = input.value;
        input.value = $('input.wc-shellinput.ui-autocomplete-input').val();
        v

[2018-10-12 10:04] ArnabHCL commented on #1201
Hello William,

Thanks for your reply. Please find attached the screenshots. One with OAuthcard is rendered on Edge and the blank one is from Chrome.
![edge_customchat](https://user-images.githubusercontent.com/44054726/46863148-3c4b7700-ce34-11e8-9f58-bddb557b6ac7.png)
![chrome_customchat](https://user-images.githubusercontent.com/44054726/46863149-3d7ca400-ce34-11e8-88c1-e6a46b31ce73.png)

[2018-10-12 10:09] Snekha-Shivakumar commented on #680
@mrPrateek95 Yeah I found the issue. new CustomEvent() is not working in IE. Just added a polyfill before the custom event and it works fine now. Here is the polyfill:

        (function () {
            function CustomEvent ( event, params ) {
            params = params || { bubbles: false, cancelable: false, detail: undefined };
            var evt = document.createEvent( 'CustomEvent' );

[2018-10-12 12:00] mrPrateek95 commented on #680
@Snekha-Shivakumar Checked on my client. I have also added this polyfill. Slipped my mind earlier.

[2018-10-12 12:54] aumanjoa opened #1204 "Module not found: Error during build"
I tried to use the preview version of the BotFramework with react and yarn and get following erros when i run yarn build

I use the following versions:
yarn => 1.7.0
node => v8.11.1
npm => 5.6.0

[2018-10-12 14:37] jaiswati commented on #413
In our webchat, we have enabled BotAuth , so that user should be able to login using Azure AD credentials (as follows) await context.Forward(new AuthDialog(new MSALAuthProvider(), options), async (IDialogContext authContext, IAwaitable authResult) => { aresult = await authResult; .... }

To enable voice, we are using Directline client as described here https://docs.microsoft.com/en-us/azure/bot-se

[2018-10-12 15:12] sgellock commented on #1196
Emulator uses WebChat, I'd like the WebChat team to look at it.  if it ends up being an emulator issue, we can move it back.

[2018-10-12 19:15] compulim commented on #1201
@ArnabHCL can you open F12 developer tools in Chrome to see if there is any errors over there?

I am trying to get a repro but couldn't. I am not able to repro with our MockBot which will connect to GitHub via OAuth, in Chrome.

Do you know which steps I am missing here?

![image](https://user-images.githubusercontent.com/1622400/46889319-1b752880-ce18-11e8-88c0-ba7bd43120e3.png)

[2018-10-12 22:48] justinwilaby opened #1205 "React Error when Rendering Adaptive Cards"
The following error is output to the console when rendering an adaptive card:

[code]
The transcript that repros this is here:

[code]

[2018-10-13 05:18] darrenj opened #1207 "Virtual Assistant Web Chat Experience"
## Virtual Assistant Web Chat Experience

Key features for the basic web-chat experience are below.

- [ ]  Ability to "sign-in" using the built in website/ad signin capabilities (see linked accounts in the GitHub repo for an example. The UserId retrieved as part of this is set on the webChat. Example already done [here](https://github.com/Microsoft/AI/tree/master/solutions/Virtual-Assistant/src/c

[2018-10-13 13:37] jaiswati opened #1208 "Enable speech on webchat with Azure AD botauth dialog"
Hi

We have enabled speech as per  the instructions as given in this repository. (using C# Azure Bot, and then adding reference to webchat.html that enables speech)
To authernticate users to perform graph operations (like sending emails), We have configured the BotAuth dialogs in this C# bot
For the first time user is authenticated and email is sent with his id
but for the second time & second use

[2018-10-13 14:47] Al-mck commented on #1195
Hello,

My bad, it happens that way because i call the client code without having created the display div.
Thanks you for you very nice work 👍

[2018-10-13 14:47] #1195 closed

[2018-10-13 14:52] Al-mck commented on #1067
Hi,

I have the same issue when I open the chat on IE. I using the v3. It's works on IE with v11 and document-modes = 11 or edge but when document-modes = 10, I have the same display like crazyGenexz.

[2018-10-13 19:32] compulim commented on #1067
Thanks @Al-mck, will investigate.

In short, I am unsure if we should continue to support IE10 (circa 2012). Do you think you can use <meta> tag to set document mode to 11?

[2018-10-13 20:50] halfer commented on #1208
The begging in the title is just as unwelcome here, @jaiswati. I suggest you remove it, given that you are addressing volunteers.

While projects on GitHub operate their own rules, the following article is still a recommended read for you: it demonstrates that when volunteers offer a service, very few people think it is reasonable to let people barge to the front of the queue. Please read: [Under

[2018-10-15 05:27] filipyoo opened #1209 "Not working on IE 11 when integrating as a React component with a create-react-app website"
Hello !

So I'm trying to integrate a custom webchat as a React component with a create-react-app website.
Everything works fine with Firefox and Chrome but obviously, it doesn't work on IE 11.

In the past, I've successfully got the IE compatibility worked on another non-React website, where I integrated the webchat via the bundle file (using `botchat.js` and for IE 11 the `botchat-es5.js` file)

[2018-10-15 06:09] filipyoo commented on #1209
Okay so I found a solution !

First, just get rid of all polyfills modules from both the create-react-app website and the webchat project itself described like above.

And instead, just add this one line in the `index.html` (because the closing `head` tag) of your create-react-app project to use a polyfill CDN:
`<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototy

[2018-10-15 06:09] #1209 closed

[2018-10-15 11:48] yodobrin commented on #470
added the below short js to address any new responses from the bot and scroll to the last one. (part of a direct-line implementation)
window.addEventListener('DOMNodeInserted', function (e) {
            if (e.target.className == 'ac-container') {
                setTimeout(function () {
                    try {
                        e.target.scrollIntoView();
                    }

[2018-10-15 13:38] hhasenauer commented on #1159
Is there any roadmap for this? When can we expect the first stable version?
I'm really torn between building an integration with this preview, or the old version.

[2018-10-15 16:43] deepumi commented on #1159
Are you guys planning to write some docs that how to migrate V3 to V4 specific to APIs and other interfaces?.

[2018-10-15 22:19] compulim commented on #1159
@hhasenauer We try not to announce a public schedule until we are very certain about it. The date won't be far. I can share you things we need to do to get it to stable:
- Accessibility test pass
- Documentations and [more samples](https://github.com/Microsoft/BotFramework-WebChat/tree/preview/samples)

When we design Web Chat v4, we focus deeply on developer experience (DX). We want to make sure

[2018-10-16 13:45] jaiswati commented on #1208
Done..Will keep this in mind.. thank you

[2018-10-16 13:50] rosskyl commented on #1064
I used the following to change the default voice for all of the browsers I tested. This only works for the browser speech recognizer.

[code]

[2018-10-16 23:35] halfer commented on #1208
@jaiswati: the title here is still asking to queue-jump. Please remove `[Please reply asap,it is urgent]`.

[2018-10-17 03:29] parag-nikhal opened #1212 "Display both date and time for every message"
Wanted to show Date and time for every message that sent. What I do see is just timestamp. Can We have something like this for every message "MM/DD/YYYY HH:MM:SS"

[2018-10-17 06:19] Tamoormughal commented on #1064
hi
thank you for your participation .. . but this code is not working on my
side . can you send me full page of the code i will be very thanks full to
you

On Tue, Oct 16, 2018 at 6:50 PM rosskyl <notifications@github.com> wrote:

[2018-10-17 06:35] #1208 closed

[2018-10-17 07:00] compulim commented on #1198
Fixed in [`botframework-webchat@0.14.3-master.72bfef9`](https://www.npmjs.com/package/botframework-webchat/v/0.14.3-master.72bfef9).

[2018-10-17 07:00] compulim commented on #970
Fixed in [`botframework-webchat@0.14.3-master.72bfef9`](https://www.npmjs.com/package/botframework-webchat/v/0.14.3-master.72bfef9).

[2018-10-17 07:10] compulim commented on #1212
Sorry, we don't support customizing the timestamp.

I marked this as enhancement so we can follow up with it.

[2018-10-17 07:35] UsamaAslam commented on #1064
same issue i have help us @rosskyl  @compulim @corinagum @peterblazejewicz

[2018-10-18 00:17] #1205 closed

[2018-10-18 06:45] Tamoormughal commented on #1064
thanks this code is properly working on all end except i phone safari pick up male voice ... so how i can i change default voice male of safari iPhone?????
 this is the code
................................................................

        /*! modernizr 3.6.0 (Custom Build) | MIT *
        * https://modernizr.com/download/?-getusermedia-speechsynthesis !*/
        !function (e, n, s) { fun

[2018-10-18 07:10] UsamaAslam commented on #1064
Thanks for your help @rosskyl . do you know how can we add custom speech (LUIS custom speech) in our code using the code you send me ?
I create custom speech using : https://westus.cris.ai/Home/CustomSpeech
Now i want to add it and work like bing speech .

Do you have any details about this ?

Thank in advance .

[2018-10-18 12:10] Tamoormughal opened #1216 "how to add custom speech in botframe work"
I am working on Custom speech in bot framework.I add Bing simple speech it is working on my website: here is link :https://envolvebot.azurewebsites.net/

but now i want to know how can we add custom speech (LUIS custom speech) in our webchat bot? I create custom speech using : https://westus.cris.ai/Home/CustomSpeech Now i want to add it and want it to work like bing speech .

i am using following

[2018-10-18 12:11] Tamoormughal commented on #877
I am working on Custom speech in bot framework.I add Bing simple speech it is working on my website: here is link :https://envolvebot.azurewebsites.net/

but now i want to know how can we add custom speech (LUIS custom speech) in our webchat bot? I create custom speech using : https://westus.cris.ai/Home/CustomSpeech Now i want to add it and want it to work like bing speech .

aNY BODY Know how to

[2018-10-18 14:03] thejasondt opened #1217 "Switch from Bing Speech API to Speech Services in Web Chat"
I am using the following code in the webchat:

[code]

from:

https://docs.microsoft.com/en-gb/azure/bot-service/bot-service-channel-connect-webchat-speech?view=azure-bot-service-3.0

However, I have been told to switch from Bing Speech API to Speech Services API.

I am unsure where I can find documentation on how to do so in my bot service webchat.

I have tried using my new Speech Services API K

[2018-10-18 14:06] peltemm commented on #871
i found this place a good alternative
.format-markdown{
        background-image: url(../../src/assets/img/svg/myAvatar.svg);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 30px 30px;
    }
    .format-markdown>p {
        margin-bottom: 0px;
        padding: 30px;
    }

[2018-10-19 03:35] alexknipfer commented on #1146
@ThomasMaes I’m running into the same issue of map not being a function, did you happen to find a better solution than manually importing them?

[2018-10-19 07:52] ThomasMaes commented on #1146
No sorry not at the moment, I am planning to integrate the new version of the webchat control in the future. This should also solve this issue as they are no longer using the packages that i needed to add as import.

[2018-10-19 10:49] compulim commented on #1146
@ThomasMaes do let me know if you run into any issues. If you don't know how to do any customizations, let me know, I might actually write you a sample for it and host it live here.

[2018-10-19 10:55] compulim commented on #1217
It's on roadmap, but it might not hit Web Chat v3. Speech Services team just GA and release their SDK on 9/24 and we are busy GA-ing Web Chat v4.

The missing piece: convert Speech Services SDK into W3C Web Speech API ponyfill, then consume it in Web Chat (targeting v4). Web Chat v4 support anything that is compliant to the W3C standard.

Since Web Chat v3 also support W3C Web Speech API, the pony

[2018-10-19 10:57] compulim commented on #1216
The existing SDK we consume is based on Bing Speech. And unfortunately, their SDK does not support CRIS.

Speech Services team just release a new SDK at Ignite (9/24). Their new SDK support their recently GA-ed Speech Services and CRIS. There are some works for us to do in order to consumer their new SDK.

[2018-10-19 11:50] thejasondt commented on #1217
OK, will stick with Bing Speech API for now

[2018-10-20 19:37] ottomp24 commented on #894
I was having the same issue, and I got it to work by setting the Speak property on the message which contains the AdaptiveCard rather that in the AdaptiveCard directly; something like:

`var reply = context.MakeMessage();
 reply.Speak = "Hello";
 reply.Attachments.Add(attachment);`

[2018-10-21 15:16] prajwalsimha94 opened #1223 "DirectLine token is getting expired and I'm not able to generate a new one(using websocket)"
I'm using BotFramework DirectLine websocket to post and receive messages with the bot. While it works fine, the directline token expires in about half hour, forcing my app to generate a new token. I'm using the following code to subscribe to "Token Expired" event:

[code]
The problem is, case "BotChat.ConnectionStatus.ExpiredToken" is not getting triggered even if the token is expired. But while u

[2018-10-22 08:00] martinabbott commented on #1001
Same issue, I can get the CDN WebChat working with the OAuth card, but don't know how to configure it to not pass back the magic code. I'm just using DirectLine with a very basic Default.htm that has the following...

 BotChat.App({
        directLine: { secret: direct_line_secret },
        user: { id: 'userid' },
        bot: { id: 'botid' },
        resize: 'detect'
      }, document.getElement

[2018-10-23 06:10] iamgraviteja commented on #736
@danmarshall @compulim any updates on this issue? I'm facing this issue many times. I say "Find a part", it shows the same in input but, sending as "Find a path".

[2018-10-23 12:36] mralnis opened #1227 "Uploaded images on refresh disappear"
I am using V3 bot. Problem is with uploading images when you do it image shows up in chat, but when you press f5(refresh) it disappears like in the example below.
![image](https://user-images.githubusercontent.com/13486436/47360503-5ad52c00-d6d8-11e8-9196-7b80255f820b.png).

And the link form the blob storage that is in image source do not work directly
Example:
![image](https://user-images.github

[2018-10-23 17:03] compulim commented on #1094
Resolved.

[2018-10-23 17:03] #1094 closed

[2018-10-23 17:03] compulim commented on #1089
We are opting for another approach.

[2018-10-23 17:03] #1089 closed

[2018-10-23 17:03] compulim commented on #1088
Done.

[2018-10-23 17:03] #1088 closed

[2018-10-23 17:03] compulim commented on #1087
Done.

[2018-10-23 17:03] #1087 closed

[2018-10-23 17:18] sgellock commented on #410
consider doing the initial work

[2018-10-23 17:28] sgellock commented on #353
The team doesn't believe it will address this issue at this time.

[2018-10-23 17:28] #353 closed

[2018-10-23 17:28] compulim commented on #232
Will write up a sample on how to do this in v4, as a code snippet.

[2018-10-23 17:30] sgellock commented on #208
we switched to a new component so this issue no longer applies.

[2018-10-23 17:30] #208 closed

[2018-10-23 17:30] sgellock commented on #207
agree with @billba feedback.

[2018-10-23 17:30] #207 closed

[2018-10-23 17:41] sgellock commented on #109
different component now being used for this behavior.

[2018-10-23 17:41] #109 closed

[2018-10-23 17:45] sgellock commented on #40
functionality exists in v3

[2018-10-23 17:45] #40 closed

[2018-10-23 17:46] compulim commented on #17
Prerequisite of #124.

[2018-10-23 17:51] sgellock commented on #1223
This issue was moved to Microsoft/BotFramework-DirectLineJS#101

[2018-10-23 17:51] #1223 closed

[2018-10-23 17:53] sgellock commented on #1216
dup of #1217

[2018-10-23 17:53] #1216 closed

[2018-10-23 17:55] compulim commented on #1212
We need to support customizing timestamp without too much code. 😉

[2018-10-23 18:01] sgellock commented on #1196
@corinagum can you work on a repro please?  thanks

[2018-10-23 18:03] sgellock commented on #1187
The team has discussed and we are planning on adding multi-line support to help address this and related use cases

[2018-10-23 18:03] #1187 closed

[2018-10-23 18:05] sgellock commented on #1181
@compulim can you provide a sample?

[2018-10-23 18:05] compulim commented on #1181
You can look at this sample to how to do it. In short, you can send a custom attachment and you can render it using `<IFRAME>`.

https://github.com/Microsoft/BotFramework-WebChat/blob/preview/samples/custom-attachment-github-repository/index.html

[2018-10-23 18:05] #1181 closed

[2018-10-23 20:12] JasonSowers opened #1228 "Blocked: Web Chat rendering huge buttons"
I can provide a repro. The issue seems to be this property is being added to the button `flex: 0 1 100%;`  when I change it to `flex: 0 1 auto;` the issue goes away

relater PR in adaptive cards repo https://github.com/Microsoft/AdaptiveCards/pull/1795/files

Webchat is rendering my signin card like this:
![image](https://user-images.githubusercontent.com/6301037/47387716-070d1780-d6c5-11e8-96d7-8

[2018-10-23 20:53] corinagum commented on #1228
Thanks Jason. I'll look into this. :)

[2018-10-24 13:41] alexdalecki opened #1229 "React component: "TypeError: Object doesn't support property or method 'map'""
I've created an app with create-react-app and included the Chat component. When I start the application, I get the following error:

[code]

[2018-10-24 16:07] corinagum commented on #1228
Seems to be repro of #933

[2018-10-24 17:20] compulim commented on #1228
Steps to do:
- Bump Adaptive Cards to a version that contains the fix
- Verify Adaptive Cards in Web Chat

[2018-10-24 17:50] lauren-mills opened #1230 "Adaptive Card with Text Inputs get submitted each time a field is clicked"
I've tested in the emulator and the published webchat version and see the same behavior. When I have an adaptive card with text input fields and I click in the field to fill it out, it submits the entire form with empty values.

Here is the json definition of my card:

[code]

[2018-10-24 18:05] compulim commented on #1228
@JasonSowers I tried to bump to Adaptive Cards 1.1 (in this [PR](https://github.com/Microsoft/BotFramework-WebChat/pull/1231)), which I believe they should have this fix (AC 1.1 released just weeks ago, and their fix to this issue released in August).

But unfortunately, looks like they didn't fix it yet. I have commented on their PR and ask them to review it.

So I need them to verify if they rea

[2018-10-24 19:28] compulim commented on #430
This should be fixed in v4 (overflowing <pre> will show a scroll bar).

[2018-10-24 19:28] #430 closed

[2018-10-24 19:30] compulim commented on #444
Closed because we now have a [full-blown feature around OAuth](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-authentication?view=azure-bot-service-3.0).

[2018-10-24 19:30] #444 closed

[2018-10-25 03:24] Rykimaruh opened #1234 "Problems embeding webchat to modern sharepoint site"
When I copy and paste the embed code to the embed webpart in the modern site, the following message appears:

![image](https://user-images.githubusercontent.com/5460795/47474169-c2c46900-d7e3-11e8-843f-1f06189ee32b.png)

I don't know if something changed since then, but a few months back I could literally just dump the embed code there and the webchat UI would appear...

[2018-10-25 03:44] #1234 closed

[2018-10-25 16:15] UsamaAslam commented on #1042
I'm creating a bot which accept text and voice input and also can answer in both mode. The bot works really good but i have to click always the button of microphone to speak with the bot. Do you know it is possible to make microphone always on and to recognize the voice without clicking the button of microphone ?
@corinagum @Kartik1607 @compulim @serpino

[2018-10-25 16:21] UsamaAslam commented on #1217
I'm creating a bot which accept text and voice input and also can answer in both mode. The bot works really good but i have to click always the button of microphone to speak with the bot. Do you know it is possible to make microphone always on and to recognize the voice without clicking the button of microphone ?

@compulim @sgellock

[2018-10-25 16:28] Kartik1607 commented on #1042
Sure, I'll give out an example. But you'll have to wait till tomorrow morning. I am on mobile right now.

[2018-10-25 16:28] UsamaAslam commented on #1042
okay .. no problem

thanks

[2018-10-25 16:54] rosskyl commented on #1098
Because of the way iOS is designed you need to click on the microphone each time. However, with other browsers if you set an input hint of ExpectingInput on each message it will listen after speaking.

[2018-10-25 19:17] UsamaAslam commented on #1098
@rosskyl  can yo share code example for better understanding? how can i set input hint as ExpectingInput  on each message,

Thanks in advance.

[2018-10-25 22:51] corinagum opened #1236 "Add info for CDN bundles"
- table detailing features of the different bundles

[2018-10-25 22:54] corinagum opened #1237 "Create migration guide"
- create migration guide using v3 sample to v4 full-bundle sample
- use diff code blocks with +/- story

[2018-10-26 04:59] martinabbott opened #1238 "OAuth flow always requires magic code when using OAuthCard"
According to the [documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=csharp#notes-on-the-token-retrieval-flow) WebChat is supposed to work without requiring a magic code.

Using the basic Authentication Bot from the SDK [samples](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/18.bot-aut

[2018-10-26 07:11] martinabbott commented on #1238
UPDATE: The key is the use of the Direct Line token rather than secret, so I think I have this working now...

I'll revert back to here when fully tested with the steps I used.

[2018-10-26 12:58] UsamaAslam commented on #1098
Still waiting for you comment @rosskyl

thanks

[2018-10-26 12:59] UsamaAslam commented on #1042
Still waiting for you comment @Kartik1607

thanks

[2018-10-26 13:42] Kartik1607 commented on #1042
Hi. Sorry for late reply. I got busy doing a side project to build UI for bot dispatcher. I believe you are using webchat v3.

For auto listen part, have a look at [this line](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Store.ts#L522)

[code]

This shows that webchat will enable mic automatically if any one of the above conditions is met in message.

To add inputHint in the m

[2018-10-26 13:47] Kartik1607 commented on #1229
Can you please share some code and let us know how you are trying to integrate the component?

[2018-10-26 13:52] Kartik1607 commented on #1230
Hi, this is because you have specified `"type": "Action.Submit",` on the fields itself.  Change the adaptive card JSON to this to solve your query.

[code]

[2018-10-26 14:38] saurav2107 opened #1240 "Issue with custom events, using backchannel"
To open a Feedback survey, after an user is ideal for x minutes, I want to open up a feedback survey dialog.
I keep track of time on client side (html), and once x min is passed, I fire a custom event, using below code (which works fine)

`botConnection
                .postActivity({
                    from: 'me',
                    name: 'displayFeedbackDialog',
                    type: 'even

[2018-10-26 15:37] lauren-mills commented on #1230
Thanks, @Kartik1607! I completely missed that.

[2018-10-26 15:37] #1230 closed

[2018-10-26 15:40] Kartik1607 commented on #1230
@lauren-mills No problem. Just for future reference, you can and should use the [adaptive card designer](https://adaptivecards.io/designer/)

[2018-10-26 15:46] lauren-mills commented on #1230
@Kartik1607 oh, I did! I just did it wrong apparently 😁

[2018-10-26 17:18] compulim commented on #1238
One more tip: if your user's browser has set to block 3rd party cookies, we will fallback to magic code flow.

We desperately need a graph to explain how it works. Will ask the team.

p.s. I built my own OAuth sample (out of public docs), you can try https://microsoft.github.io/BotFramework-WebChat/full-bundle/ and then type `oauth`.

[2018-10-26 23:44] chaha126 commented on #789
@danmarshall Hi Dan, we are developing a feature which allows our users to attach a media file (image, video, audio etc.) to their notes. Is there any way that we can configure the maximum file attachment size? Otherwise, the file icon on the bottom-left of webchat window will be not so helpful since most files (images, videos etc.) in current phones will exceed 4MB.

[2018-10-27 01:07] compulim commented on #1240
@saurav2107 looks like you are asking questions about BotBuilder SDK (C#), instead of Web Chat.

Please file a bug to [`botbuilder-dotnet`](https://github.com/Microsoft/botbuilder-dotnet/issues/) repository. There are support people on that repository targeting SDK related questions.

[2018-10-27 01:07] #1240 closed

[2018-10-27 14:09] alexdalecki commented on #1229
Of course.

I just created a new CRA app, installed the botframework-webchat package and its peer dependencies, and edited App.js:

[code]

MY_SECRET is of course just the placeholder for my real direct line secret.

Am I missing something or doing something wrong?

[2018-10-28 23:45] compulim opened #1241 "Accessibility: missing label for carousel flipper"

[2018-10-28 23:45] compulim opened #1242 "Accessibility: missing label for scroll to bottom button"

[2018-10-28 23:46] compulim opened #1243 "Accessibility: missing focus indicator for carousel flipper"

[2018-10-28 23:49] compulim opened #1244 "Accessibility: name for Vimeo IFRAME"

[2018-10-28 23:49] compulim opened #1245 "Accessibility: name for YouTube IFRAME"

[2018-10-28 23:50] compulim opened #1246 "Accessibility: landmark role"

[2018-10-28 23:52] compulim opened #1247 "Accessibility: missing label for microphone button"

[2018-10-28 23:53] compulim opened #1248 "Accessibility: extraneous element for upload button"
Only repro in Edge.

[2018-10-28 23:54] compulim opened #1249 "Accessibility: remove redundant narratives for download attachment"

[2018-10-28 23:54] compulim opened #1250 "Accessibility: contrast ratio for carousel flipper"

[2018-10-28 23:55] compulim opened #1251 "Accessibility: missing focus indicator for send box buttons"
- Upload button
- Microphone button
- Send button

[2018-10-28 23:56] compulim opened #1252 "Accessibility: cropped image is hidden under IE11"
IE11 hide background image.

[2018-10-29 06:31] techie921 commented on #877
Hi @Tamoormughal,

I have implemented Bing speech in one of my project but it is not working. Could you please provide working code base to me.

Thanks in Advance

[2018-10-29 07:20] Tamoormughal commented on #877
@techie921  send me code  i will update your code

[2018-10-29 08:42] techie921 commented on #877
@Tamoormughal
The Same code we used for invoking the Speech Service from webchat but when i click the Mic Button in webchat its not being invoked. No Response or action taking place. help in this regard would be greatly appreciated.

[2018-10-29 09:16] Tamoormughal commented on #877
@techie921
publish URL must be https not http
if this is not working then send me that part of code

[2018-10-29 09:36] curia-damiano commented on #1029
Hi Kartik1607,
I've already submitted the PR https://github.com/Microsoft/BotFramework-WebChat/pull/1140 to fix this issue in Portugese and other languages too.
Regards, Damiano

[2018-10-29 10:14] techie921 commented on #877
We have tried with https, still it is not working. When we keep BrowserSpeechRecognizer and sent voice command then it is working. But when we keep below code with same configurations, it is not working and mic button is not enabled and getting websocket connection is failed in WebSocketMessageAdapter.ts file. Any help on this will be appreciated.

const speechOptions = {
        speechRecognizer:

[2018-10-29 10:18] Tamoormughal commented on #877
@techie921
send me url where you publish it

[2018-10-29 10:58] techie921 commented on #877
We are running it from local tomcat by deploying index.html (webchat)

[2018-10-29 11:02] techie921 commented on #877
@Tamoormughal
We are getting below error while clicking on mic button. Any help on this will be appreciated.
WebSocket connection to 'wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1?format=simple&language=en-US&Ocp-Apim-Subscription-Key=6f9971474e0041b7aa40d122dc0fb145&X-ConnectionId=AF89B5FFD67145929DD038EDC475FC65' failed: Error during WebSocket handshake: Unex

[2018-10-29 11:38] Tamoormughal commented on #877
@techie921  hope your key is valid

[2018-10-29 11:45] techie921 commented on #877
We are using Speech service API key here. We don't have Bing Speech service API Key. We are unable to create it.

[2018-10-29 12:45] Tamoormughal commented on #877
@techie921 kindly use the azure services .and WebSocket  turn into true from index.html

[2018-10-29 14:21] techie921 commented on #877
@Tamoormughal
Could you please drop your contact no to techknowledge921@gmail.com as we are unable to resolve the issue.

Thanks in Advance.

[2018-10-29 16:18] vivekkranjan opened #1253 "Access bot using Direct Line API"
I am curious about how I can unit test the bot without using an emulator. Either it can be hosting the bot in unit test project with the in-memory server hosting or communicate the bot with Direct Line API. In both ways, the bot should run locally.

I can't host the bot with Microsoft.AspNetCore.Hosting in my test framework(if hosted, don't know what endpoint the bot communicates).

If I use the b

[2018-10-30 03:37] #1241 closed

[2018-10-30 03:37] #1242 closed

[2018-10-30 03:37] #1243 closed

[2018-10-30 03:37] #1244 closed

[2018-10-30 03:37] #1245 closed

[2018-10-30 03:37] #1246 closed

[2018-10-30 03:37] #1247 closed

[2018-10-30 03:37] #1248 closed

[2018-10-30 03:37] #1249 closed

[2018-10-30 03:37] #1250 closed

[2018-10-30 03:37] #1251 closed

[2018-10-30 03:37] #1252 closed

[2018-10-30 04:15] compulim commented on #1253
This is an advanced topic (for now). You can look at one of our internal tool, called "Emulator Core CLI", https://github.com/Microsoft/BotFramework-Emulator/tree/master/packages/emulator/cli.

Emulator Core is the server that emulate Direct Line service. You can use it without Emulator app (via the CLI). And it's exactly the same copy we bundle in Emulator app.

Today, we don't publish the CLI be

[2018-10-30 04:15] #1253 closed

[2018-10-30 06:41] compulim commented on #1236
| | Minimal | Full | Full with ES5 polyfills |
| - | - | - | - |
| [Adaptive Cards](https://adaptivecards.io/) | | Yes | Yes |
| [Cognitive Services Bing Speech](https://azure.microsoft.com/en-us/services/cognitive-services/speech/) | | Yes | Yes |
| [DirectLineJS](https://npmjs.com/package/botframework-directlinejs) | Yes | Yes | Yes |
| [Markdown-It](https://npmjs.com/package/markdown-it/) | | Y

[2018-10-30 07:16] techie921 opened #1257 "WebSocket Connection Failed"
We are getting below error while clicking on mic button. Any help on this will be appreciated.
WebSocket connection to 'wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1?format=simple&language=en-US&Ocp-Apim-Subscription-Key=6f9971474e0041b7aa40d122dc0fb145&X-ConnectionId=AF89B5FFD67145929DD038EDC475FC65' failed: Error during WebSocket handshake: Unexpected respons

[2018-10-30 10:32] compulim commented on #1175
@mato1092 can you verify the conversation ID send from the bot is correct? Sounds like there are concurrency issue on the backend.

Bot Framework use conversation ID to secure the relationship between bot and user. If the bot is replying London to client B, probably you might have mixed up the request on the backend side.

[2018-10-30 10:36] compulim commented on #1175
This sounds unrelated to Web Chat, but how the bot is handling the request (thru Bot Builder SDK). I am closing this issue for now.

For questions related to Bot Builder SDK, you can post it on Stack Overflow with "azure-bot-service" tag. For bugs/issues on Bot Builder SDK, you can post it on the repository corresponding to the programming language. You can find list of Bot Builder SDK repositorie

[2018-10-30 10:36] #1175 closed

[2018-10-30 10:39] compulim commented on #1174
Since this issue is related to DirectLineJS than Web Chat, I am closing this issue for now.

I created a new issue on DirectLineJS repository to track this issue.

[2018-10-30 10:39] #1174 closed

[2018-10-30 10:42] compulim commented on #1159
Closing this issue. We are shipping stable very soon.

[2018-10-30 10:42] #1159 closed

[2018-10-30 10:43] compulim commented on #1152
Done in #1226.

[2018-10-30 10:43] #1152 closed

[2018-10-30 10:46] compulim commented on #1114
Fixed in #1233.

[2018-10-30 10:46] #1114 closed

[2018-10-30 10:50] #1090 closed

[2018-10-30 10:52] compulim commented on #1083
Will track by individual issues.

[2018-10-30 10:52] #1083 closed

[2018-10-30 10:53] #1079 closed

[2018-10-30 10:58] compulim commented on #1076
Currently, Bot Framework does not support multiple users.

[2018-10-30 10:58] #1076 closed

[2018-10-30 11:04] compulim commented on #1072
You could add emoji to Markdown-It via this [plugin](https://www.npmjs.com/package/markdown-it-emoji).

You can refer to [this sample](https://github.com/Microsoft/BotFramework-WebChat/tree/preview/samples/minimal-bundle-with-markdown) to customize Markdown-It in Web Chat.

I am leaving this issue open, so we can add a new sample for [`markdown-it-emoji`](https://github.com/Microsoft/BotFramework-

[2018-10-30 11:07] compulim commented on #1062
@corinagum can you check if this is related to the issue we talked about?

Also look at the documentation around [Input.ChoiceSet](https://adaptivecards.io/explorer/Input.ChoiceSet.html).

[2018-10-30 11:15] compulim commented on #1059
Unfortunately, the current UI will not be maintained.

Please follow [this](https://github.com/Microsoft/BotFramework-WebChat/tree/preview/samples/custom-style-options) or [this sample](https://github.com/Microsoft/BotFramework-WebChat/tree/preview/samples/custom-style-set) for styling Web Chat. The new UI also support deep-customization. You can follow [samples here](https://github.com/Microsoft/

[2018-10-30 11:15] #1059 closed

[2018-10-30 11:16] compulim commented on #1058
Note to myself: check if this behavior is correct in v4 or not.

[2018-10-30 11:17] compulim commented on #1048
Fixed in v4.

[2018-10-30 11:17] #1048 closed

[2018-10-30 11:17] riddick4u opened #1258 "Communication between two bots (Direct Line)"
Hi Team,

We have a use case where we have initialized two web chat bots with direct line channel.

Now we are trying to achieve the following:

1.. Display Bot B message to Bot A directly, Bot B messages we are receiving in JS event. Need to send these message to Bot A web chat window.
2.  For certain condition prevent the user message to post server side. We want to handle this with Web Chat cod

[2018-10-30 11:21] compulim commented on #1050
In Angular, can you dedicate a DOM element and everything under that DOM element will not be controlled by Angular?

You can refer to [this sample](https://github.com/Microsoft/BotFramework-WebChat/tree/preview/samples/full-bundle) to integrate Web Chat in non-React environment.

[2018-10-30 11:28] compulim commented on #1258
1. Do you mean: inside a browser tab, it is connected to two bots. But the result from two bots are aggregated in the same UI?
2. What do you mean by "post server side"?

Can you give an example how it would work?

[2018-10-30 11:29] compulim commented on #1004
This is fixed in v4.

[2018-10-30 11:29] #1004 closed

[2018-10-30 11:30] Chitma commented on #871
I tried to change botchat.js and botchat.css, It works but the same image is being shown for user and bot. I just wanted it for bot. Since, minified botchat.js is tough to debug and modify, can anyone please guide me how do I add bot icon only for each bot message in webchat using Directline. bot image is constant and will be only hosted on webchat.
@compulim

[2018-10-30 11:36] techie921 commented on #1257
Hi @compulim,

There is no option to create Bing Speech API Key since it has replaced with new speech service and the webchat is not compatible with newer one. Any help in this case will be appreciated.

[2018-10-30 12:40] riddick4u commented on #1258
@compulim
 Thanks for your reply.

for your question #1, yes we initialized two chatbots in one page. Bot A and Bot B, Bot B chat window will hide and if user type in Bot A for certain condition we are sending the message to Bot B. Bot B reply messages we are receiving in the CallBack function of JS with activity object.

With this we are trying to do the following:

1. Bot B reply messages to be

[2018-10-30 17:14] sgellock commented on #470
we need to validate whether this is fixed in the current bits or not and then based on that, decided if there is an issue here to address

[2018-10-30 17:21] sgellock commented on #513
implemented in v4

[2018-10-30 17:21] #513 closed

[2018-10-30 17:22] #516 closed

[2018-10-30 17:31] sgellock commented on #533
We only support this scenario using the npm version of WebChat.  The embedded IFRAME version is not supported at this time as it required a speech api key for the speech subscription to work, which is outside of the abilities of the simple embed scenario.

[2018-10-30 17:31] #533 closed

[2018-10-30 17:33] sgellock commented on #1238
closing due to inactivity.  please open a new issue if the above guidance doesn't address your issue.

[2018-10-30 17:33] #1238 closed

[2018-10-30 17:37] sgellock commented on #1228
We are blocked until the following AC bug is fixed:
https://github.com/Microsoft/AdaptiveCards/issues/1794

Once fixed, we can pick up that version of AC, and push out an updated WebChat

[2018-10-30 17:39] sgellock commented on #1073
We will consider providing a sample that will show how to implement this functionality

[2018-10-30 17:41] sgellock commented on #1071
need to verify against v4 bits

[2018-10-30 17:42] sgellock commented on #1067
The team has made the decision not to support IE10.

[2018-10-30 17:42] #1067 closed

[2018-10-30 17:50] sgellock commented on #1056
If the provided workaround doesn't address your issue, please open a new issue so we can consider how to help

[2018-10-30 17:50] #1056 closed

[2018-10-30 17:54] sgellock commented on #1050
@compulim check with Omar who can help with Angular issues

[2018-10-30 17:56] sgellock commented on #1042
point them to the sample we have that shows how to do this

[2018-10-30 18:47] #957 closed

[2018-10-30 18:57] corinagum commented on #1001
Up for discussion:
- How to do OAuth without magic code
- Why magic code is presented, how we skip magic code
- How Web Chat call Bot Framework and OAuth provider for a secure login experience

[2018-10-30 19:00] compulim commented on #1103
We might already have this one fixed in v4. And we might already have this "empty-with-suggested-actions" command in MockBot.

[2018-10-30 19:07] compulim commented on #1125
Please verify if it repro in v4. If you need to write a bot to do the job, please use the [MockBot](https://github.com/compulim/BotFramework-MockBot/) and add a new command there. So we can easily track regressions there.

[2018-10-30 19:49] compulim commented on #1204
@aumanjoa we tried to repro the issue with `create-react-app` and `yarn` and could not repro.

Here is the `Dockerfile` and corresponding files. Then we tested it in a browser, pointing to http://localhost:5000/.

Please let us know if there is any different in your setup.

[code]

### Dockerfile

[code]

### App.js

[code]

### index.css

[code]

[2018-10-30 20:29] compulim commented on #1227
Could not repro. We tested on Web Chat v3 and authenticated by Direct Line token. The uploaded image survived thru <kbd>F5</kbd>.

The photo uploaded will be kept in our storage but it only last for 24 hours. After 24 hours, the image link will be expired.

Can you check the HTTP response to see what status code it responded with?

[2018-10-30 20:38] compulim commented on #1062
I think this one belongs to [Adaptive Cards repository](https://github.com/Microsoft/AdaptiveCards/).

Although Web Chat use renderer from Adaptive Cards, the settings on ChoiceSet is confusing (`style: "compact"` vs. `isMultiSelect: true`) and looks like the renderer they provided to Web Chat does not implement compact + multi-select via `<select multiple>`.

@FilipFilipov can you file a bug on A

[2018-10-30 20:38] #1062 closed

[2018-10-30 20:45] compulim commented on #1196
- Write a command for the MockBot to repro this
- We currently don't support opening hyperlinks apart from browser default behavior
   - We do support ponyfilling `window.open`, but this is hyperlink
   - Check the behavior of Data URI in a normal browser
      - If browser open in a new browser tab
         - Verify if Electron (Emulator app) is not following the default behavior of the browser

[2018-10-30 20:54] FilipFilipov commented on #1062
Did it months ago.
https://github.com/Microsoft/AdaptiveCards/issues/1744

[2018-10-30 21:04] compulim commented on #1062
Looks like they have not change their mind yet, unfortunately.

IMO, using browser native controls and honoring them is important. For example, mobile phone can show up different UI that help the user to easily multiselect things.

[2018-10-30 21:17] compulim opened #1259 "Move rich card from Adaptive Cards to native HTML"
# Background

We use Adaptive Cards to simplify composition of rich card. There are number of reasons we would like to move away from Adaptive Cards:

- Cosmetics
   - Adaptive Cards cannot be styled to remove pictures padding
- Users on minimal build will be able to use rich card
   - Minimal build does not contains Adaptive Cards, so they cannot use rich card too
- We have limited number of rich

[2018-10-30 21:52] compulim commented on #1196
Use this data URI:

[code]

[2018-10-31 00:34] compulim opened #1261 "Bug: padding is missing below"
@seaen

![image](https://user-images.githubusercontent.com/1622400/47758691-5de89300-dc69-11e8-9eb7-8520954def94.png)

[code]

[2018-10-31 00:36] compulim commented on #1261
The HTML file is missing `<!DOCTYPE html>`. Thus, Chrome/Edge does not treat this as HTML5 and it break the UI. E.g. `<form>` in HTML5 is margin-less, while in HTML4, it has `margin-bottom: 1em`.

[2018-10-31 00:39] compulim opened #1262 "Bug: photo uploading by the user should show a preview"
![image](https://user-images.githubusercontent.com/1622400/47758961-a5bbea00-dc6a-11e8-9507-852bf321b90b.png)

[2018-10-31 00:44] compulim opened #1263 "Bug: download attachment hit target is too big"
![image](https://user-images.githubusercontent.com/1622400/47759094-3f839700-dc6b-11e8-9a05-05bcf21b21f7.png)

We should reduce the size of the hit target for the download attachment. Clicking on either one of the marked areas will trigger download, but not the whole box.

## Behaviors in v3

![image](https://user-images.githubusercontent.com/1622400/47759306-3a731780-dc6c-11e8-9738-5ecf28f8cdc5.p

[2018-10-31 00:45] compulim opened #1264 "Bug: change the attachment icon from picture to a clip"
If it show a photo icon, the user should not be able to upload non-photo attachment, e.g. ZIP files.

![image](https://user-images.githubusercontent.com/1622400/47759174-97ba9900-dc6b-11e8-8dcd-926a20a58add.png)

## Comparison to v3

![image](https://user-images.githubusercontent.com/1622400/47759331-54acf580-dc6c-11e8-9ed0-b9edd30e3314.png)

[2018-10-31 00:46] compulim commented on #1264
v3 also use the same icon, for both photo and non-photo.

[2018-10-31 00:48] compulim opened #1265 "Bug: we should show "uploading" when sending attachment"
![image](https://user-images.githubusercontent.com/1622400/47759248-ecf6aa80-dc6b-11e8-9a79-d19629d48a84.png)

Instead of timing out thru the regular 5 seconds rule, we should show "uploading" and allow more time to complete.

[2018-10-31 00:55] compulim opened #1266 "Bug: "send envelope" button does not work on click"
![image](https://user-images.githubusercontent.com/1622400/47759448-e61c6780-dc6c-11e8-96dc-20a3c7a1db25.png)

[2018-10-31 01:05] compulim opened #1267 "Bug: put width/height 100% styles in Web Chat"
![image](https://user-images.githubusercontent.com/1622400/47759744-3647f980-dc6e-11e8-9f99-1aced95ed075.png)

Can we put width/height in Web Chat to reduce boilerplate code?

[2018-10-31 01:06] compulim commented on #1267
This boilerplate code is different for every website. In this sample, we are using full-screen for Web Chat, thus, it's 100%/100%. Developers may do it differently and using different values.

Will build a sample around this to show how to resize Web Chat dynamically.

[2018-10-31 01:09] compulim opened #1268 "Bug: file upload always failed"

[2018-10-31 01:37] martinabbott commented on #1001
Okay so here is a solution using WebChat that seems to work with AAD and no magic code.

NOTE: The magic code is part of the [RFC](https://tools.ietf.org/html/rfc7636#page-5) and is there to add an extra factor. By removing the magic code, there is an increased security risk. This is in part mitigated through the use of Direct Line enhanced security that allows the setting up of "valid" domains th

[2018-10-31 01:44] martinabbott commented on #1238
I've added comments and code to [#1001](https://github.com/Microsoft/BotFramework-WebChat/issues/1001) on how I solved this, so linking here to close the loop.

[2018-10-31 02:01] compulim commented on #1238
Thanks @martinabbott, your solution is very detailed. And your link to RFC is awesome.

[2018-10-31 05:14] compulim commented on #1194
Will fix in #1260.

## Usage

### Via React

[code]

### Via Redux store

[code]

[2018-10-31 05:17] GayathriR2018 commented on #859
Is there any update on this. We need to enable the mic on chat bot for intervals of time also. Is there any workarounds for this?

[2018-10-31 05:37] compulim commented on #1029
Fixed in #1269.

[2018-10-31 05:37] #1029 closed

[2018-10-31 05:58] compulim commented on #1058
@seaen Verified this is fixed in v4. 😉

[2018-10-31 05:58] #1058 closed

[2018-10-31 06:53] compulim commented on #859
BTW, we coded a "speech button" sample that show how you can write new UI and use API to turn on/off microphone. It's powered by Web Chat minus the UI.

You can play the live demo at https://microsoft.github.io/BotFramework-WebChat/breakaway-speech-button/, and source code at https://github.com/Microsoft/BotFramework-WebChat/tree/preview/samples/breakaway-speech-button.

[2018-10-31 07:32] compulim commented on #748
Timestamp in v4 can now localizable.

[2018-10-31 07:32] #748 closed

[2018-10-31 07:33] compulim commented on #788
Web Chat v4 can now change language on-the-fly via React props. Try this [live demo](webchat-playground.azurewebsites.net/) and click "Start conversation with official MockBot". Then try changing the language drop down and see.

[2018-10-31 07:33] #788 closed

[2018-10-31 08:21] punitganshani commented on #1125
Still facing this issue with Webchat and blows out the Emulator. Any fix?

![image](https://user-images.githubusercontent.com/1032553/47774791-f265fa80-dd28-11e8-8868-50c0dbe8b1b9.png)

[2018-10-31 10:11] davidjrh commented on #787
While the issue is closed, this fixed it for me:

`    body {
        -webkit-overflow-scrolling: touch;
      }`

PS: I needed to set it at body level, trying to set it to whatever DIV element didn't work. Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling

[2018-10-31 10:30] filipjakov opened #1273 "User messages rendered as bot's"
Hi guys,

Tried this using:
- http://unpkg.com/botframework-webchat/botchat.css and http://unpkg.com/botframework-webchat/botchat.js
- build botchat.js and botchat.css: https://github.com/Microsoft/BotFramework-WebChat/releases/tag/v0.14.1 (and one old version built for a previous project)

I have the current chat scenario:
![issue](https://user-images.githubusercontent.com/22882813/47781157-4eb32

[2018-10-31 11:34] compulim commented on #985
This feature is now in v4. And here you can find the [sample code](https://github.com/Microsoft/BotFramework-WebChat/blob/preview/samples/timestamp-grouping/index.html) to use this feature.

You can group it by:
- Do not group (show timestamp on every activity)
- Group by X milliseconds
- Do not show timestamp at all

[2018-10-31 11:34] #985 closed

[2018-10-31 11:35] compulim commented on #959
Bumped.

[2018-10-31 11:35] #959 closed

[2018-10-31 11:35] compulim commented on #909
Done.

[2018-10-31 11:35] #909 closed

[2018-10-31 11:39] compulim commented on #837
This is now doable in Web Chat v4 without forking the codebase. There are [some samples here](https://github.com/Microsoft/BotFramework-WebChat/tree/preview/samples#customization) for adding/replacing activity/attachment, or decorating them.

[2018-10-31 11:39] #837 closed

[2018-10-31 11:46] compulim commented on #832
We now expose API on Web Chat v4. You can access the API via two ways:

- Via React UI
   - [Sample here](https://github.com/Microsoft/BotFramework-WebChat/blob/preview/samples/activity-decorator-button/index.html)
   - For this approach, you are going to create some new React UI components that talk to Web Chat
- Via Redux store
   - [Sample here](https://github.com/Microsoft/BotFramework-WebChat

[2018-10-31 11:47] compulim commented on #740
Closing due to inactivity.

[2018-10-31 11:47] #740 closed

[2018-10-31 11:55] paulio commented on #1196
FYI Works as expected in the browser, i.e. it downloads the file.

[2018-10-31 11:59] compulim commented on #1273
Probably the user ID sent by Bot Framework (a.k.a. Direct Line service) does not match to what you set on Web Chat.

For example, in your graph, 5 is what we sent to Bot Framework (show up on right hand side). And 6 is what Bot Framework echoed back. The message echoed back is almost the same as the one we sent, thus, when we receive this echo back message, we will replace it with the existing one

[2018-10-31 12:32] Kartik1607 opened #1274 "styleSet is not defined"
Was going through samples and ran [Full-featured e5 bundle](https://microsoft.github.io/BotFramework-WebChat/es5-bundle/) sample.
Using `show animation, audio, video ` (content-multimedia) produces error.

[code]

Haven't looked into source code yet to figure out root issue.

[2018-10-31 14:00] filipjakov commented on #1273
@compulim Thank you for your elaborate reply. I found the bug to be the number literal assigned to the id field of the user object (`user: { id: id, name: name}`), which was fed to the `BotChat.App`. When I convert it to a string, everything works as planned.

[2018-10-31 16:38] corinagum commented on #1125
@punitganshani We are working on a fix and plan to have it for the next milestone. Thanks for your patience!

[2018-10-31 17:31] compulim commented on #1273
Good to know it fixed. :)

[2018-10-31 17:31] #1273 closed

[2018-10-31 17:32] compulim commented on #1273
Oh, and if you have time, feel free to try out the new Web Chat. There are some live demos on [this page](https://microsoft.github.io/BotFramework-WebChat/).

[2018-10-31 17:35] compulim commented on #1196
Thanks @paulio for trying it out.

We need to find how to tweak Electron not to do it. And/or should we allow developers to intercept the click event on `<a>`? We do it today for `window.open` cases, but I try not to do that because one should configure their host (a.k.a. browser) to do the job. 🤔

[2018-10-31 17:45] compulim commented on #1274
Thanks for catching the last-minute bug. Will be fixed in #1260.

[2018-10-31 17:50] compulim commented on #1228
@JasonSowers @corinagum Could you help me to verify one thing?

On your web page that you got this problem, can you check if you have `<!DOCTYPE html>` specified? If no, can you add it and see if it workaround the problem?

It seems rendering in HTML5 might workaround it.

[2018-10-31 18:01] alexknipfer opened #1275 "Chat window showing empty message bubble on load"
Anybody ever had any issues of seeing an empty chat bubble when the chat first loads up (see screenshot below)? It goes away after ~1 sec or so then loads up our bot welcome message. However, if I clear cache and hard reload, this empty bubbly just stays there and the connection with the bot never seems to establish. Please let me know if there are any more details I can provide and if you have an

[2018-10-31 18:07] JasonSowers commented on #1228
`<!DOCTYPE html>` Fixed it 👍

[2018-10-31 18:59] compulim commented on #1261
Will fix.

[2018-10-31 19:11] compulim commented on #1275
@corinagum can you look at this one when you are working on #1103? Maybe they are dupe.

[2018-10-31 19:49] compulim commented on #1261
Fixed in #1260.

[2018-10-31 19:49] #1261 closed

[2018-10-31 19:49] compulim commented on #1194
Fixed in #1260.

[2018-10-31 19:49] #1194 closed

[2018-10-31 19:49] compulim commented on #1268
Fixed in #1260.

[2018-10-31 19:49] #1268 closed

[2018-10-31 19:49] compulim commented on #1266
Fixed in #1260.

[2018-10-31 19:49] #1266 closed

[2018-10-31 19:50] compulim commented on #1262
Fixed in #1260.

[2018-10-31 19:50] #1262 closed

[2018-10-31 19:56] corinagum commented on #933
Hi everyone to those continuing to have this issue: we have found a workaround in bug #1228 that causes the buttons to render as expected!

TLDR: verify that your html page starts with `<!DOCTYPE html>` as opposed to `<html>`

[2018-10-31 21:13] shmuelgutman commented on #1194
many thanks @compulim

[2018-11-01 04:28] abhishekkant opened #1281 "Directline Issue: Botchat is not defined: v3"
Since today, all my bots are coming out empty. All the styling elements are also missing.

In the browser console, I can see the error:  Botchat is not defined. This error happens on the line where the BotChat is initialized:
`const botConnection = new BotChat.DirectLine({})`

My bot is developed in .NET v3, hosted in Azure and using Directline.

When testing from the Azure "Test in Webchat" or if

[2018-11-01 05:58] Ryu0514 opened #1282 "uncaught referenceerror botchat is not defined"
after v4.1.0 relaeased, my code return
"uncaught referenceerror botchat is not defined".
I'm sure I've not made any change on my code.

Could you confirm which version is released on latest cdn?

previously, I use
`<script src="https://cdn.botframework.com/botframework-webchat/latest/botchat-es5.js"></script>`

About 3 hours ago, it went wrong; cant initialize chat window with the error below.
"un

[2018-11-01 06:40] maqankitat opened #1283 "BotChat not defined error"
Last checked : 12 hrs ago
It worked fine, now my code returned
"uncaught referenceerror botchat is not defined"
I have not made any code changes
I tried:
<script src="https://cdn.botframework.com/botframework-webchat/latest/botchat-es5.js"></script>
<script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
Still it did not work

[2018-11-01 07:18] priysn opened #1284 "ssss"
sss

[2018-11-01 08:07] #1284 closed

[2018-11-01 08:08] Ryu0514 commented on #1283
seems relate to this, could you confirm it?
#1282

[2018-11-01 08:11] compulim commented on #1283
#1281, #1282, and #1283 are the same issue. We are aware of the issue and is fixed.

Please read the explanation at #1281 for details. Closing this due to dupe.

[2018-11-01 08:11] #1283 closed

[2018-11-01 08:11] compulim commented on #1282
#1281, #1282, and #1283 are the same issue. We are aware of the issue and is fixed.

Please read the explanation at #1281 for details. Closing this due to dupe.

[2018-11-01 08:11] #1282 closed

[2018-11-01 08:32] compulim commented on #1281
When we deploy the new Web Chat v4 few hours ago, we deployed to https://cdn.botframework.com/botframework-webchat/latest/, it include 4 files, `botchat.js`, `botchat-es5.js`, `botchat-minimal.js`, and `stats.html`.

For sites that use Web Chat via CDN, if they are configured to use `/latest/botchat*.js`, they will be using new v4 bits.

Since Web Chat v4 use a new API `window.WebChat.renderWebCha

[2018-11-01 09:36] compulim commented on #1258
You can write a new `DirectLineJS` class, namely, `DirectLineJSRouter`. And the new class route to two underlying `DirectLineJS` object.

Since `DirectLineJS` only expose a handful of events (observables) and functions, it is definitely possible to rewrite it in a short period of time. The new `DirectLineJSRouter` will do the routing (your step 2) and activity aggregation (your step 1) internally

[2018-11-01 13:19] abhishekkant commented on #1281
Thanks for sorting it out.

[2018-11-01 13:19] #1281 closed

[2018-11-01 21:41] eskivelevolution opened #1288 "Intermittent Service"
Hi,

We received this error 'ERR_SSL_VERSION_INTERFERENCE'
and 'ERR_CONNECTION_RESET' when my chat is trying to connect.

Sometimes the direct line get the connection..

Direct Line has problems?

Thank you.
![image](https://user-images.githubusercontent.com/19326711/47881729-c1a7c300-de05-11e8-9925-129617f9cae6.png)

[2018-11-02 00:38] vincec-msft commented on #1288
Yes, sorry for the pain. We are seeing a very high volume of traffic to our East US datacenters and are working on a hotfix to deploy tonight.

See also https://ms.portal.azure.com/#blade/Microsoft_Azure_Health/AzureHealthBrowseBlade/serviceIssues

[2018-11-02 02:29] parag-nikhal opened #1289 "Sample: Text remaining"
Wanted to show text remaining counter then user types anything in textbox. e.g. max text is 100 char is limit so if user type "hi" then text remaining should show 98 char

[2018-11-02 03:05] vincec-msft commented on #1288
A hotfix has been deployed and Direct Line is looking healthy again.

https://portal.azure.com/#blade/Microsoft_Azure_Health/AzureHealthBrowseBlade/serviceIssues hasn't been updated yet. We're still watching to make sure the system is happy.

[2018-11-02 12:10] riddick4u commented on #1258
@compulim

Thanks for your reply.

My understanding is as follows based on your comments:

1. DirectLineJSRouter will be responsible for both direct line channels communication.
2.  For Bot B we already have some callback methods where we receiving some events, so I believe we can consume those events in  DirectLineJSRouter methods?

According to the production grade and prototype timeline, it see

[2018-11-02 13:10] rodrigorodriguez commented on #970
@compulim, thanks for your support.
After switching to 0.14.3-master.72bfef9:

[code]
Dependencies:
[code]

[2018-11-02 18:26] compulim opened #1291 "Sample: Add logo/text to title bar"
We don't have title bar on v4. So steal some HTML/CSS code from "minimize mode", turn it into HTML instead of React.

[2018-11-02 18:26] compulim opened #1292 "Sample: Add a settings gear icon to the send box"
We can also re-use this sample for beautifying playground.

[2018-11-02 18:28] compulim opened #1293 "Sample: Add a persistent menu to the send box"
A simple `<ul>` menu. On click, do a `WEB_CHAT/SEND_MESSAGE`.

Study how Persistent Menu in Facebook Messaging works, and see how we can adopt it with a similar JSON/protocol, so the bot developer don't need to develop two ways to do the same stuff.

[2018-11-02 18:29] compulim opened #1294 "Sample: Render location via Google Maps"

[2018-11-02 18:31] compulim opened #1295 "Sample: Add a Spotify music player control"

[2018-11-02 18:31] compulim opened #1296 "Sample: Refresh CLI only sample"

[2018-11-02 18:33] compulim opened #1297 "Sample: Online store omni search box double as bot send box"
- [ ] Make a dummy online store page
- [ ] Change the omni search box into a bot

[2018-11-02 18:41] compulim commented on #1258
You can't touch the DOM because it is maintained by React, it will just get reverted from time to time.

How about:
- Aggregation: use `store.dispatch({ type: 'DIRECT_LINE/INCOMING_ACTIVITY', payload: { activity } })`
- Routing outgoing activity: use Redux middleware to intercept actions of type `DIRECT_LINE/POST_ACTIVITY`, and then manually route it to bot B

But in this approach, it is more pron

[2018-11-02 19:27] compulim commented on #1146
After some investigations, now I understand what is going on.

Dependency graph:

- Web Chat use `redux-observable@0.13.0` and `rxjs@5`
- `redux-observable` requires `rxjs@5.0.0-beta.10` as peer dependency
- `create-react-app` somehow requires `inquirer`, which requires `rxjs@6`

So in your `node_modules` folder, it looks like:

- `/inquirer`
- `/rxjs@6`
- `/redux-observable@0.13.0`
- `/botframewo

[2018-11-02 21:08] rodrigorodriguez commented on #1146
Thank you.
After updating https://github.com/pragmatismo-io/BotServer/tree/azure-arm-automation/packages/default.gbui with the Workaround(rxjs@5), the error now is the one described here: https://github.com/Microsoft/BotFramework-WebChat/issues/970.
I'm still available for screen sharing.

[2018-11-02 21:32] compulim commented on #1146
Sorry I can't do screen sharing for now. Need to read some guidelines if I am allowed to do so. You know, looking at your intellectual property (source code) without reading our support guidelines is a bit worry to me.

I still love to help over GitHub, so everything is transparent.

Looking at it now.

[2018-11-02 21:36] rodrigorodriguez commented on #1146
It's not IP, it's AGPL-3.0.

[2018-11-02 21:45] compulim commented on #1146
I should learn how to run/build your stuff. And maybe I could do a brownbag to our team to demo your stuff. We love customers.

(I am in a meeting, multiple back-to-back, response may be slower.)

[2018-11-02 22:03] compulim commented on #970
I am not seeing it.

## Steps I repro

- Run `create-react-app`
- Open `package.json`, replace `dependencies` with your snippet
- Delete `node_modules` and `package-lock.json`
- Run `npm install` again
- Run `npm run build`
- Host the `/build` folder

And I modified `App.js`, here is mine:

[code]

The [error](https://reactjs.org/docs/error-decoder.html/?invariant=130&args[]=undefined&args[]=) fro

[2018-11-03 01:15] rodrigorodriguez commented on #970
The `<SomeClass>` is in fact `import { Chat } from "botframework-webchat"` take a look at this video. The piece:
[code]
Was hard coded to reproduce your sample code. It was switched on and off to see the error been thrown while it was being rendered to the page.

![bug](https://user-images.githubusercontent.com/14840374/47946547-efffce00-deeb-11e8-92f1-25a67d7d8ebd.gif)

[2018-11-03 01:30] rodrigorodriguez commented on #970
I'm sorry, tested again: `"botframework-webchat": "0.14.3-master.72bfef9"` solved the problem. Thank you @compulim .

![image](https://user-images.githubusercontent.com/14840374/47946756-ecba1180-deee-11e8-877f-3bcfae5eefd1.png)

[2018-11-03 01:37] rodrigorodriguez commented on #970
That picture with no bug was from the `<Chat directLine={{ secret: 'YOUR_SECRET_HERE' }} user={{ id: 'user_id', name: 'user_name' }} />` code when is changed back to a <Chat> which uses this notation:
[code]
It throws:

[code]

[2018-11-03 02:56] 20112077 opened #1298 "Sample: Create a simple HTML/JS Sample to send a string via backchannel"

[2018-11-03 02:57] d0ggyRul3z opened #1299 "Readme is not updated"
## Branch
**Master**

## Describe the bug
Missing documentation, short of not being able to commit my contribution, here are the details.

## Expected documentation
Note : Adapted from the Emulator project

### Install global dependencies

[code]

### Install local dependencies

[code]

 `bootstrap` command.

### Build all packages

[code]

[2018-11-03 03:04] d0ggyRul3z opened #1300 "Master branch does not compile"
## Branch
**Master** latest commit - #1290

## Describe the bug
Master branch giving error during compile time

## To Reproduce
Steps to reproduce the behavior:
1. Get https://github.com/Microsoft/BotFramework-WebChat
2. Build solution but do not run "npm install". Note: see https://github.com/Microsoft/BotFramework-WebChat/issues/1299
3. Build errors at packages/component/src/Utils/AdapterCardBui

[2018-11-03 04:48] d0ggyRul3z commented on #1300
@compulim

[2018-11-03 08:57] compulim commented on #1300
Can you try these steps after fresh clone?

[code]

If you need bundle (`*.js`), then you need few additional steps

[code]

If it doesn't work, can you send me a longer log?

[2018-11-03 11:35] d0ggyRul3z commented on #1300
hey @compulim , i tried the instructions as prescribed.

here are my steps
1. Git pull from Master branch into a new directory
2. ran "npm install" - ran to completion with 1 warning
3. ran "npm run bootstrap" - failed see below

![image](https://user-images.githubusercontent.com/6459010/47951724-bcd74080-dfb8-11e8-9bea-a50ec73593f4.png)

Hope this helps.

Kind regards
Zac

[2018-11-03 12:46] d0ggyRul3z commented on #1300
hey @compulim ,

As it turns out, a cold restart of my machine did the trick and the instructions that you prescribed worked a treat.

Kind regards
Zac

[2018-11-03 12:46] #1300 closed

[2018-11-03 12:49] d0ggyRul3z commented on #1299
Hi all,

Please see comments by @compulim at #1300

Kind regards
Zac

[2018-11-03 12:49] #1299 closed

[2018-11-03 14:33] rodrigorodriguez commented on #970
Done.
I'm sorry, my mistake. Reason: a global text replacement changed directLine (MSFT terminology) to just line (General Bots terminology) and that was it, until it was changed to botConnection and everything went fine. I will try some kind of type checking on React level to warn about unknown attributes.

Thank you again, @compulim. In a few weeks I will send a pitch video for you about how to

[2018-11-03 20:58] compulim commented on #1300
Thanks for your feedback. I have updated the [README.doc](https://github.com/Microsoft/BotFramework-WebChat/blob/master/README.md#building-the-project) in #1301 to include build steps.

[2018-11-03 21:47] compulim opened #1302 "Move Adaptive Cards attachment renderer to bundle"
# Background

Although Adaptive Cards is still bundled in Web Chat (except minimal bundle), it is no longer a core component for Web Chat.

Moving Adaptive Cards related features to `bundle` will help reduce the file size of minimal build.

[2018-11-04 01:57] d0ggyRul3z commented on #1300
hey @compulim , always happy to contribute.
Thanks for updating the documentations.

[2018-11-04 09:28] priysn opened #1305 "[MAS1.4.3] Luminosity Contrast Ratio of 'Upload File' and 'Send' button icons is less than required."
**Actual Result:**
Luminosity Contrast Ratio of 'Upload File' button icon is 2.8:1 and 'Send' button icon is 1.7:1.

**Expected Result:**
Luminosity Contrast of 'Upload File' and 'Send' button icons should be greater than or equal to 4.5:1.

**Repro Steps:**
1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](url) in Edge browser.
2. Notice 'Upload File' and 'Send' button i

[2018-11-05 05:57] priysn opened #1306 "[MAS2.4.7] Focus indicator is not visible on "Upload File" and "Send" buttons."
**Actual Result:**
Keyboard focus indicator is not visible on "Upload card" and "Send" buttons.

**Note:**
Same issue repro at -
1. Url -> Type "accessibility" in text box -> Press Enter -> Navigate to "New message" button on the page by using Tab key - Focus indicator is not visible on “New Messages” button. Please refer the attachment **"MAS2.4.7_New message button."**

**Expected Result:**
Keyb

[2018-11-05 06:37] priysn opened #1307 "[Usable] 'Send' button is not accessible in scan mode."
**Actual Result:**
'Send' button is not accessible in scan mode.

**Expected Result:**
'Send' button should be accessible in scan mode.

**Repro Steps:**
1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/full-bundle/) in Edge browser.
2. Notice 'Send' button icons present in bottom of screen.
3. Open Narrator (Using Ctrl +

[2018-11-05 07:01] priysn opened #1308 "[Usable] Focus lands on "Upload File" button twice while navigating in scan mode."
**Actual Result:**
Focus lands on "Upload File" button twice while navigate in scan mode.

**Note** - Behavior is same with NVDA screen reader.

**Expected Result:**
Focus should not lands on "Upload File" button twice while navigate in scan mode.

**Repro Steps:**

 1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle](https://microsoft.github.io/BotFramework-WebChat/full-bun

[2018-11-05 07:54] priysn opened #1310 "[Usable] Does not get the notification about 'Full screen to Exit full screen' action on video clip."
**Actual Result:**
Narrator does not provide information about 'Full screen to Exit full screen' action on video clip, Narrator is silent when select full screen button and exit full screen button.
Does not get the notification about 'Full screen to Exit full screen' action on video clip.

**Expected Result:**
Should get the notification about 'Full screen to Exit full screen' action on video clip

[2018-11-05 08:55] riddick82 commented on #1258
@compulim

I have tried your suggested approach but could not make it work properly and sometimes it is giving me the error.

So I have decided DirectLineJSRouter approach as you mentioned earlier. Can you please help me into this for the pointer for start or to work on this POC, so that I can achieve the desired output.

Thanks for all your help.

[2018-11-05 08:57] priysn opened #1311 "[MAS2.4.3] Backward navigation is not same as forward navigation while navigate on the Audio/Video clips present on the page."
**Actual Result:**
Focus directly lands on the whole audio clip while navigate in the backward navigation.
Forward navigation is not same as backward navigation while navigate on the Audio/Video clips present on the page.

**Note:** Same issue repro on all Video clip with normal mode(Tab) and scan mode.(Throughout).

**Expected Result:**
Backward navigation should be same as forward navigation whi

[2018-11-05 09:07] priysn opened #1312 "Dual focus indicators are visible on Audio/video clips present on the page."
**Actual Result:**
When focus lands on the audio/video clip then dual focus indicators are visible on the clips.

**Expected Result:**
Dual focus indicator should not be visible on the audio and video clips.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/full-bundle/ ) in Edge browser.
2.  Notice 'Uplo

[2018-11-05 09:19] priysn opened #1313 "[MAS4.1.2] Name of Audio clip section is not properly defined."
**Actual Result:**
Name of Audio Clip section is not properly defined. So, Screen reader is reading 'Audio' twice for Audio clip present on the page.

**Expected Result:**
Name of Audio Clip section should be properly defined. So, Screen reader should read 'Audio' once only with proper description for Audio clip present on the page.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFr

[2018-11-05 09:36] priysn opened #1314 "[MAS4.1.2] Name property is not properly defined for Audio/Video clips."
**Actual Result:**
When focus lands on the audio clip then narrator is reading 'audio' and when focus lands on the video clip then narrator is reading 'microsoft..', Narrator is not reading proper name for audio/video clips.
Name property does not properly define for Audio/Video clips.
Name of Audio Clip section is not properly defined. So, Screen reader is reading 'Audio' twice for Audio clip pre

[2018-11-05 09:45] priysn opened #1315 "[Usable] Inside controls(mute,play etc..) of the Audio/Video clips are not accessible while navigate in scan mode."
**Actual Result:**
Inside controls(mute,play etc..) of the Audio/Video clips are not accessible while navigate in scan mode.

Expected Result:
Inside controls(mute,play etc..) of the Audio/Video clips should be accessible while navigate in scan mode.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/full-

[2018-11-05 10:05] priysn opened #1316 "[Usable]Name for 'Download icon' button is not properly defined."
**Actual Result:**
When focus lands on 'download icon' in scan mode then narrator is reading "Empty paragraph".
Name property is not properly defined for 'Download icons'.

**Note -** Same issue repro at -
1. URL -> Help -> Document Data URI button/File attachments Button -> Download button icon - When focus lands on 'download icon' forward navigation of scan mode then narrator is reading "Empty p

[2018-11-05 12:23] priysn opened #1317 "[Usable]Reading whole message in one go while navigate in the scan mode."
**Actual Result:**
Narrator is reading all information(which appears after hit the hi input) in one go while navigate in the scan mode.

**Note** - Same issue repro at -
1. URL -> Help -> Show a reminder using Adaptive cards button -> New Content -> Showing Reminder Text - Narrator is reading whole information in one go while navigate in scan mode. Attachment **"Usable_reading whole message in one

[2018-11-05 12:39] priysn opened #1318 "Screen reader is not providing any information about 'Sent' message."
**Actual Result:**
After sending the "hi" message narrator is silent, not reading anything when message is in Sending state.
Narrator is not providing any information about the sent message.

**Note:** Same issue repro at -
Upload File button - After Uploading Image narrator not give information that Image has been uploaded.
Attachment -"Usable_Image uploading Information".

**Expected Result:**
N

[2018-11-05 13:21] priysn opened #1319 "[Usable] Focus persist on the same control after activate "Accessibility" Group's button."
**Actual Result:**
After activate the "Accessibility Button" focus persist on the same control.
Focus does not land on the related content after perform the action.

**Note** - Same issue repro All buttons which are appears after hit the 'Help' message.
2. URL[https://apac01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fmicrosoft.github.io%2FBotFramework-WebChat%2Fspeech-cognitive-services-b

[2018-11-07 00:54] williamw2 opened #1320 "Speak audio is interupted when second message arrives"
When a bot sends multiple messages with a Speak value the client will no longer finishing playing the text-to-speech audio before starting the second message. Instead the first message is cut off when the second arrives.
Using master/webchat.js with Bing Text to Speech service. Happens in Chrome and Edge.
Previous versions of webchat would finishing playing the first message before starting the se

[2018-11-07 16:27] rosskyl opened #1321 "Set the user name in from in new version"
I was able to set the user ID in the new version of web chat, but I can't figure out how to set the user's name. I've got some logic that relies on the user's name in a bot and need to set this before migrating to webchat v4. Is there a way to set this?

[2018-11-07 22:53] williamw2 opened #1322 "SSML tags automatically added to Text to Speech payload"
The SSML content for text to speech synthesis destined for the Bing Text to Speech API (Cognitive Services) is being automatically wrapped in a <speak>, <voice>, and <prosody> tag even when those tags already exist in the SSML content. This is resulting in SSML syntax errors. Is there any way to turn this off?

Using https://cdn.botframework.com/botframework-webchat/latest/webchat.js and window.We

[2018-11-08 06:03] chinnivyshnavi opened #1326 "Latest WebChat : IE11 Compatibility"
Hi

I am using the latest version of the webchat framework. I took the full-bundle sample from the github repository.

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Web Chat: Full-featured bundle</title>

    <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat-es5.js"></script>
	<script src="https://cdn.botframework.com/botframework-webchat/master/webchat.js"></

[2018-11-08 14:09] rosskyl commented on #1326
It looks like to use IE11 you need to register it differently. Below is the sample from https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples/es5-bundle/index.html

[code]

[2018-11-08 19:31] compulim commented on #1326
@rosskyl Thanks for answering this, you are correct IE11 doesn't support `async` keyword and need to use thenable instead. 😉

@chinnivyshnavi You only need `webchat-es5.js`, not both `botchat-es5.js` and `webchat.js`.

[2018-11-08 19:32] compulim commented on #1321
We obsoleted the user name in the UI and prefer using avatar initials.

Do you think a customizable timestamp will work for you?

[2018-11-08 19:39] compulim commented on #1320
Working on it while we are baking the new W3C adapter for Unified Speech SDK (which support Custom Speech). Bing Speech will be deprecated by Cognitive Services team in 2019 October.

Expect a drop, private or public, in mid-December for the new SDK. Few reasons we might not able to go public: not enough testing on Web Chat, Cognitive Services did not ship their SDK in NPM by this date.

We are no

[2018-11-08 19:42] compulim commented on #898
Closed because we are sunsetting v3. And we will code this in a new adapter.

[2018-11-08 19:42] #898 closed

[2018-11-08 19:46] rosskyl commented on #1321
Currently I set the user name to the logged in user's Azure AD username to pass this to the bot to use it in some searches. Basically I need a way to do that in the new version. I don't need it displayed just passed to the bot. I could pass it in the back channel but would prefer not to because that would require saving it.

Thinking about it a bit more I could probably use the user ID instead. Is

[2018-11-08 20:48] eljodon opened #1328 "Speech: Microphone not respecting input hint"
The microphone keeps activating and listening after a message is received, ignoring the message input hint value. This behavior is happening in the latest Chrome and Edge browsers at least.

I am using the the latest full bundle:
https://cdn.botframework.com/botframework-webchat/latest/webchat.js

[2018-11-08 23:14] compulim commented on #1321
You mean why we don't set user ID to user@contoso.com?

This blog post explain about "tamper-proof user IDs", https://blog.botframework.com/2018/09/01/using-webchat-with-azure-bot-services-authentication/. The main idea is an unguessable and unforgeable user ID. Sorry it's so hidden in our docs.

[2018-11-08 23:40] compulim commented on #1227
Closing due to inactivity.

[2018-11-08 23:40] #1227 closed

[2018-11-08 23:46] compulim commented on #1275
@alexknipfer do you know if the bot is sending any activities on first load? If you are on Chrome, you can go to Dev Tools > Network tab, there might be some activities information there.

[2018-11-08 23:51] alexknipfer commented on #1275
@compulim I apologize for not reporting back, I thought this was an issue related to the botframework code, but it was an issue on my end. I have resolved the issue and this can be closed, I don't believe this is related to #1103.

[2018-11-09 00:10] corinagum commented on #1275
@alexknipfer awesome! Glad you figured it out. Closing this issue, but you can always file a new one if a different problem arises. Happy bot-ing!

[2018-11-09 00:10] #1275 closed

[2018-11-09 08:38] riddick82 commented on #1258
@compulim
Can you please help me into this for the pointer for start or to work on this POC related to DirectLineJSRouter solution, so that I can achieve the desired output.

Appreciate your help.

[2018-11-09 13:02] enessoylu opened #1329 "Plans on V3?"
Hi @compulim,

What is your plan regarding the V3? Will there be any update like bug fixes, features, etc...

[2018-11-09 19:06] odysseus1973 opened #1330 "Word break in webchat when rendering AdaptiveCards facts"
H!

Strange behavior when I trying to use AdaptiveCards Facts in webchat. How it looks
![- microsoft azure - google chrome 2018-11-09 21 26 01](https://user-images.githubusercontent.com/7000262/48282569-1c2aca00-e46b-11e8-8c71-ca139e0304b2.png)

Should look like this
![- microsoft azure - google chrome 2018-11-09 21 27 54](https://user-images.githubusercontent.com/7000262/48282595-31075d80-e46b-11

[2018-11-09 20:08] alexknipfer commented on #1275
@corinagum Great, thank you for your support!

[2018-11-09 20:46] compulim commented on #1321
Your approach would work, using a database to associate Direct Line user ID and email.

When I code bot, I try to make them as stateless as possible. So I am throwing another approach so you can weigh between them.

The another approach, I am outlining in [this sample](https://github.com/Microsoft/BotFramework-WebChat/pull/1331) is using Redux middleware to inject email in the `activity` sent from

[2018-11-09 20:49] compulim commented on #1328
Got it, will work on it. 😉

[2018-11-09 20:53] compulim commented on #1329
We are sunsetting v3.

Similar to other open source projects, we will continue to provide limited fixes, but there won't be any new features.

Let me know if there are anything that v4 couldn't work out for you. For example, if you don't know how to port some of your cool customizations from v3, let us know. We are happy to point you to sample or write some new samples so you can just copy-and-pas

[2018-11-09 20:53] #1329 closed

[2018-11-09 21:11] compulim commented on #1330
Looks like Adaptive Cards problem.

Do you think you can style it thru CSS or [Host Config](https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/host-config)?

[2018-11-10 10:13] chinnivyshnavi commented on #1326
Thank you guys... there are no errors in the IE console but the message is not posting in the conversation.

my updated code:
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Web Chat: Full-featured bundle</title>

    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js"></script>
    <style>
      html, body { height: 100% }
      body { margin: 0 }

[2018-11-10 15:52] rodrigorodriguez commented on #970
@compulim, here is the video: https://www.youtube.com/watch?v=AfKTwljoMOs.

[2018-11-10 16:45] sgellock opened #1332 "Web Chat sample names are not informative"
When jumping into Web Chat v4, it's difficult to tell (just based on names) what samples to use. Consider summarizing each sample and referencing them from the main Web Chat README.

(Edited by @compulim for branding corrections)

[2018-11-10 17:45] odysseus1973 commented on #1330
Thanks! But I use embed code (iframe) from Azure Bot Service channel registration page, so I can't modify any config.

[2018-11-11 06:16] djpirra opened #1333 "Adaptive Card not rendering correctly when showing images"
Web Chat control not rendering AdaptiveCard correctly when showing an image.
When using the emulator and directline tests everything works fine.
![webcontrolproblem](https://user-images.githubusercontent.com/15980662/48309818-da00a600-e59a-11e8-9149-76472d137baf.JPG)

[2018-11-11 06:18] djpirra commented on #1333
This is the adaptive card schema I am using:

`{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "version": "1.0",
  "body": [
    {
      "type": "TextBlock",
      "size": "default",
      "text": "1. Right click on the report menu and select open from the task list:",
      "wrap": true,
      "maxLines": 0
    },
    {
      "type": "Image",

[2018-11-12 11:50] priysn opened #1334 "[MAS4.1.2]Name property is not properly defined for 'Accessibility' Group."
**Actual Result:**
Name property is not properly defined for "Accessibility" Group.
When focus is landing on "Accessibility" group, narrator is reading only 'group'.

**Note** - Issue repro on all controls which appearing after hit the 'Help' message.
2. URL -> Help -> Hero Card Button -> New content loaded -> Name property is not properly define and narrator reading group when focus is landing on

[2018-11-12 12:39] priysn opened #1335 "[MAS2.4.3] Focus is not landing on the interactive data on the page after activating the 'Show Bing Sports' using Adaptive cards button."
**Actual Result:**
Focus is not landing on the interactive data on the page after activating the 'Show Bing Sports' using Adaptive cards button.

**Expected Result:**
Focus should land on the all interactive data which appear on the page after activating the 'Show Bing Sports' using Adaptive cards button.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle]

[2018-11-12 17:55] corinagum commented on #1264
@mewa1024 Not sure if this is a you or Marc request, he said he would touch base with you!

[2018-11-13 00:06] compulim opened #1336 "Tracking: Web Chat + new Cognitive Services Speech SDK"
## Background

Web Chat use W3C Web Speech API to provide speech recognition and synthesis capability. Cognitive Services Speech Services has published their own API to provide speech recognition and synthesis capability.

This work is to create an adapter that turns Speech SDK into a W3C Web Speech API compliant so Web Chat (and other web apps) can consume.

For the deprecated Bing Speech, we hav

[2018-11-13 02:01] compulim opened #1337 "Translation: Add he-il"
There is a PR against v3 at, https://github.com/Microsoft/BotFramework-WebChat/pull/1309.

[2018-11-13 04:55] priysn opened #1338 "[Usable] 'Showing markdown' Content is not completely visible after navigating to "www.bing.com?.." link."
**Actual Result:**
'Showing markdown' Content is not completely visible after navigating to "www.bing.com?.." link.

**Expected Result:**
'Showing markdown' Content is not completely visible after navigating to "www.bing.com?.." link.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle](https://microsoft.github.io/BotFramework-WebChat/full-bundle) in Edge b

[2018-11-13 06:57] priysn opened #1339 "[MAS4.1.2] Name/ Alt-text property is not proprly defined for Images."
**Actual Result:**
When focus lands on the Image then narrator is reading 'Group'.
Name property does not defined properly for 'Image'.

**Note -** Same issue repro at -
1. URL-> Help-> Show a simple  Adaptive cards button - Name property does not defined proerly for uploaded content after activate the Show a simple  Adaptive cards button button, narrator reading 'Group' while focus lands on the C

[2018-11-13 07:23] priysn opened #1340 "[MAS2.4.3]Focus is landing on non-interactive elements after activating the 'Show a simple' Adaptive cards button."
**Actual Result:**
Focus is landing on non-interactive elements after activating the 'Show a simple' Adaptive cards button.

**Expected Result:**
Focus should not land on non-interactive elements after activating the 'Show a simple' Adaptive cards button.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/

[2018-11-13 07:52] jawand commented on #1257
@compulim the key i am using is perfectly fine.

if i make a call to this endpoint

`https://eastus.api.cognitive.microsoft.com/sts/v1.0/issuetoken`
`Ocp-Apim-Subscription-Key: MY_KEY`
`Method: POST`

 i am getting a token from above API call.
and this token is used in below call to Cognitive service.

`WebSocket connection to
wss://speech.platform.bing.com/speech/recognition/interactive/cognitive

[2018-11-13 08:33] elena20ruiz commented on #1333
Hi @compulim,  about adaptive card multi-choice, I am using v4, and tried with master version. But I will try to generate my own Adaptive Card Host Config file. Thanks.

[2018-11-13 09:26] priysn opened #1341 "[MAS1.4.3]Luminosity Contrast Ratio of 'Heading text' which appears after ''Adaptive cards that is broken because of invalid language' button is less than required."
**Actual Result:**
Luminosity Contrast Ratio of  'Text'  which appears after ''Adaptive cards that is broken because of invalid language' button is 4.0:1.

**Note** - Same issue repro at -
1. 'Text'  which appear after ''Adaptive cards that is broken because of invalid Version' button is 4.0:1.
2. Text 'No renderer for this attachment' appear after activating "Show an attachment of unknown type" b

[2018-11-13 10:31] soso-maitha commented on #1216
what does GA mean? Go Ahead?

[2018-11-13 10:35] soso-maitha commented on #1216
I have same requirement. I found a project with Custom Speech code in github https://github.com/Microsoft/BuildAnIntelligentBot but it needs some work  to integrate with your bot which i am currently working on.

[2018-11-13 11:19] soso-maitha commented on #1216
@compulim  Do you have any idea when Bot Framework will be supported with Custom Speech? I need this importantly.

[2018-11-13 11:43] priysn opened #1342 "[MAS2.4.7] Focus indicator is not clearly visible on 'Date' and 'Time' Flyout elements."
**Actual Result:**
Focus indicator is not clearly visible on 'Date' and 'Time' Flyout elements..

**Note** - Same issue repro at -
1. "Show a rich message using Adaptive cards button" - Date flyout - Focus not clearly visible on flyout's elements. (Throughout the pages where Date and Time flyout's will appear)

**Expected Result:**
Focus indicator should be clearly visible on 'Date' and 'Time' Fly

[2018-11-13 12:20] soso-maitha commented on #1216
@Tamoormughal also check this tutorial https://aischool.microsoft.com/en-us/conversational/learning-paths/building-an-intelligent-bot/adding-custom-speech-support

[2018-11-13 12:20] priysn opened #1343 "[MAS4.3.1] Links appearing after activating the 'Show Markdown using Adaptive cards' button are not able to adopt the high contrast theme."
**Actual Result:**
Links appearing after activating the 'Show Markdown using Adaptive cards' button are not able to adopt the high contrast theme.

**Note:** Same issue repro with High contrast white mode.

**Expected Result:**
Links should be able to adopt the high contrast modes.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.gith

[2018-11-13 22:58] lauren-mills opened #1344 "WebChat "default-user" causes shared user state"
I noticed during some testing using UserState that each time I opened webchat it would pull down the same state object in each instance.

Webchat uses "default-user" as the id for all anonymous users which means all users will share the same user state. This seems like a security risk.

Can we change to use a random user id for all anonymous users?

[2018-11-14 00:40] lauren-mills commented on #1344
Also, I'm this is my code:

[code]

[2018-11-14 04:11] priysn opened #1345 "[MAS4.1.2] Name property is not properly defined for 'all card inputs' data."
**Actual Result:**
When focus lands on the whole data, Narrator is reading irrelevant information.
Name property does not defined properly for “all card inputs” data.

**Expected Result:**
Name property should be properly defined for 'all card inputs' data.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebCha

[2018-11-14 04:31] compulim commented on #1216
@soso-maitha this is the top priority work in our current cycle. We want to be as transparent as possible on this work. We are tracking the effort at #1336 and we will keep updating the work item as we progress thru.

I don't have a definite date for now because we are still early in development stage. We want to target 12/15 but there are some risks involved, which is outlined in the issue #1336.

[2018-11-14 04:39] priysn opened #1346 "[MAS4.1.2] Value property is not properly defined for 'Quantity' text box of all card input data."
**Actual Result:**
When focus lands on the 'Quantity' text box, Narrator is reading 'Quantity editable text, min value 0 and max. value 0 Quantity editable text'.
Value property is not defined properly for 'Quantity' text box.

**Note:** NVDA is reading 'Quantity spin button 0 Quantity' when focus lands on the 'Quantity' text box.

**Expected Result:**
Value property should be properly defined for

[2018-11-14 04:56] priysn opened #1347 "[MAS4.1.2] Name property does not defined for “Date" and "Time" editable text boxes from all card inputs data."
**Actual Result:**
When focus lands on “Date" and "Time" editable text boxes then narrator is not reading name, only reading values which showing on the text box.
Name property does not defined for “Date" and "Time" editable text boxes.

**Note** - Same issue repro at -
1. URL -> Help -> Receipt card -> Name property does not define properly for controls which define as a button. Attachment "MAS4.

[2018-11-14 05:59] priysn opened #1348 "[MAS4.1.2]Label is not properly associated with controls defined under 'What color do you want'."
**Actual Result:**
When focus lands on 'What color do you want' combo box, radio buttons and check boxes then narrator is not reading label 'What color do you want' associated with the controls.
Labels are not associated with controls defined under 'What color do you want'.

Note - Same issue repro at -
1. URL -> Help -> Show breakfast review using  Adaptive card -> Snooze for combo box - Label "S

[2018-11-14 06:20] priysn opened #1349 "[Usable] Reading 'Group' between the text boxes while navigating in scan mode."
**Actual Result:**
Narrator is reading 'Group', on Gap between the text boxes while navigating in scan mode.

**Note** - Same issue repro at -
1. URL -> Help -> Show Restaurant information using  Adaptive card Button ->New Content -> Call Restaurant - Narrator is reading 'Group', Gap between the text boxes while navigating in scan mode.
Attachment **"Usable_Reading Group".**

**Expected Result:**

[2018-11-14 06:59] priysn opened #1350 "[MAS4.1.2] Incorrect role is define for 'View details' control."
**Actual Result:**
Incorrect role is define for 'View details' control.
When press Enter on the 'View details' control then new Tab will open instead of loading new content below in the same page.

**Note:** Same issue repro at -
1. URL -> Help ->Show a rich message using Adaptive cards -> New loaded content -> Set due date button -> New data loaded -> OK - Incorrect role is define for 'OK' contro

[2018-11-14 09:47] priysn opened #1351 "[MAS3.2.4] Meaningful sequence is not correct at 'Depart and Arrive' text content while navigating in scan mode."
**Actual Result:**
When focus lands on the Depart and Arrives text, narrator is not reading whole content sequentially.
Meaningful sequence is not correct at ''Depart and Arrive' text content while navigating in scan mode.

**Note** - Same issue repro at -
1. URL -> Help -> Show Flight Update using  Adaptive card button -> New uploaded data -> Passengers and Seat - Narrator is not reading whole co

[2018-11-14 10:37] priysn opened #1352 "Incorrect max value defined for volume controller."
**Actual Result:**
Incorrect max value defined for volume controller.

**Note** - Same issue repro on where video and audio clips are present.

**Expected Result:**
Correct max value should be defined for volume controller.

**Repro Steps:**
1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/full-bundle/) in Edge browser.
2.

[2018-11-14 10:53] priysn opened #1353 "Tool tip which appears on mouse hover (on controls of music bar) does not appear using keyboard."
**Actual Result:**
Tool tip which appears on mouse hover (on controls of music bar) does not appear using keyboard.

**Note** - Same issue repro on Video clips also.

**Expected Result:**
Tool tip which appears on mouse hover (on controls of music bar) should also appear using keyboard.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft

[2018-11-14 10:57] priysn opened #1354 "MAS 1.4.3: Elements must have sufficient color contrast (div:nth-child(1))"
**Issue Details**
Elements must have sufficient color contrast
color-contrast

**Repro Steps:**
1.	Open URL [](https://microsoft.github.io/BotFramework-WebChat/full-bundle/) in Edge browser.
2.	Notice 'Upload File' and 'Send' button icons present in bottom of screen.
3.	Type 'Help' in the input control at the bottom of the screen and hit enter (or click on send button).
4.	Content will upload, Nav

[2018-11-14 11:33] priysn opened #1355 "In scan mode narrator focus gets lost after volume controller."
**Actual Result:**
In scan mode narrator focus gets lost after volume controller.

**Note:**
1. Narrator focus again moves back to music bar on forward navigation.
2. On backward navigation, correct name property is not defined for music bar and narrator focus jumps to time text present under 'audio'.

**Expected Result:**
In scan mode narrator focus should visible on every control.

**Repro Steps

[2018-11-15 06:27] priysn opened #1358 "State property is not defined for Play/Pause button."
**Actual Result:**
State property is not defined for Play/Pause button.

**Note:**
Same issue reproducible for Mute/Un-mute button and video clips buttons (throughout).

**Expected Result:**
State property should be defined for Play/Pause button.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/full-bund

[2018-11-15 07:04] priysn opened #1359 "[MAS1.1.1] Alt is not descriptive for Images which appears after hit the 'Images on emulated slow network' button."
**Actual Result:**
Alt is not descriptive for all 4 Images.
Screen reader focus is landing on ‘Decorative images' and reading as 'Microsoft surface'.

**Note:**
Same issue also reproducible for images of Layout control.

Expected Result:
Alt should be more descriptive for all 4 Images.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.

[2018-11-15 09:45] soso-maitha commented on #1216
@Tamoormughal Hi! I found a solution.
Please follow these steps:

1. Copy the all the code from CognitiveServices.js file from this project https://github.com/Microsoft/BuildAnIntelligentBot  and replace it with the original CognitiveServices.js you have from WebChat
(for me I prettified the code using https://www.prettifyjs.net/ in order to understand it first . You will notice that it considers

[2018-11-15 09:46] priysn opened #1360 "No main region landmark is implemented on the page"
**Actual Result:**
No main region landmark is implemented on the page.

**Expected Result:**
Main region landmark should be implemented on the page.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/full-bundle/) in Edge browser.
2. Start Narrator by pressing "Ctrl + Win + Enter" key.
3. Navigate to 'Type

[2018-11-15 09:47] priysn opened #1361 "[MAS4.1.2] Name property does not properly define for 'Phone No' on 'Show Restaurant information using Adaptive card' button's content."
**Actual Result:**
When focus lands on the phone no., Narrator is only reading number "(206) 838-7388" which appearing on the screen.
Name property does not properly define for  'Phone no'.

**Expected Result:**
Name property should be properly define for  'Phone no'.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFrame

[2018-11-15 09:58] soso-maitha commented on #759
I also found the solution please read it here https://github.com/Microsoft/BotFramework-WebChat/issues/1216

[2018-11-15 10:04] priysn opened #1362 "[Usable] Name property does not properly define for 'mm/dd/yyyy' editable text box while navigate in scan mode."
**Actual Result:**
When focus lands on the 'mm/dd/yyyy' editable text box, Narrator is reading same information twice
Name property does not properly define for 'mm/dd/yyyy' editable text box  while navigate in scan mode.

**Note:**
Same issue also reproducible for text 'I am going to send 5 messages at different time' after activating button of 'Timestamp grouping'.

**Expected Result:**
Name pro

[2018-11-15 10:40] priysn opened #1363 "[MAS1.1.1] Alt is not descriptive for '3 **** (856)$$$$' text which appears after hit the 'Show review using Adaptive card' button."
**Actual Result:**
Alt is not descriptive for '3 **** (856)$$$$' text.
When focus lands on the '3 **** (856)$$$$' text then narrator is reading '3(856)$$$$', Not give the information about the starts.

**Expected Result:**
Alt should be more descriptive for for '3 **** (856)$$$$' text.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.

[2018-11-15 12:52] ShujaathKhan commented on #373
This should answer what you're looking for
https://github.com/compulim/BotFramework-Samples-Template/blob/master/packages/bot/src/index.js#L59

[2018-11-15 21:55] andersponders commented on #1336
i would like to help with this, have you guys found the source for the new SDK? when are they gonna throw it on NPM?

[2018-11-16 06:06] priysn opened #1364 "All videos and music start playing together at same time."
**Actual Result:**
All videos and music start playing together at same time.

**Expected Result:**
Videos and music should not start playing together at same time.

**Repro Steps:**
1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/full-bundle/) in Edge browser.
2. Navigate to 'Type your message' text box present in bottom

[2018-11-16 06:49] priysn opened #1365 "Focus does not remain on 'Full screen/Exit full screen' control after pressing enter key on it."
**Actual Result:**
Focus does not remain on 'Full screen/Exit full screen' control after pressing enter key on it.

**Expected Result:**
Focus should remain on 'Full screen/Exit full screen' control control after pressing enter key on it.

**Repro Steps:**
1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/full-bundle/) in E

[2018-11-16 09:59] priysn opened #1367 "[Functional] No action will perform while press 'Alt+ Enter' key on Video clip."
**Actual Result:**
No action will perform while press 'Alt+ Enter' key on Video clip.

**Note** - Same issue repro at all areas where video clip are present.

**Expected Result:**
Action should be perform while press 'Alt+ Enter' key on Video clip.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/full-bu

[2018-11-16 10:18] priysn opened #1368 "[Usable] 'SurfacePro4 and Surface Pro 4 (2)' controls define as a button but visually looks like an Image on 'Receipt card' content."
**Actual Result:**
'SurfacePro4 and Surface Pro 4 (2)'  Buttons are visually looks like an Image but define as a button.

**Expected Result:**
'SurfacePro4 and Surface Pro 4 (2)'  Buttons should not be looks like an Image.

Repro Steps:

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/full-bundle/) in Edge browser.
2. Nav

[2018-11-16 10:30] priysn opened #1369 "'Blue', 'Red' and 'Green' button present on the page disappears after activating any button."
**Actual Result:**
'Blue', 'Red' and 'Green' button present on the page disappears after activating any button.

Note: Same issue repro at -
URL -> Help -> Postback messages Button -> + Im back as string button/ + Post back as string button/ + Post back as Jason button-> Select any button from them button - button present on the page disappears after activating any button.

**Expected Result:**
'B

[2018-11-16 10:36] baldrin commented on #1333
I'm having the same issue when creating either a ChoicePrompt or ConfrimPrompt in the v4 .Net Core C# SDK. Always get '(1) Yes (2) No' in the browser, but it works fine in the emulator.

[2018-11-16 11:28] ShujaathKhan opened #1370 "Wakeup Bot, First load says welcome with exception"
We're using DirectLine bot

Scenario:
1. Load page where bot is integrated.
2. Bot replied with sour exception in very early morning (First time of that day)
3. Re-load page again
4. Now happy **hi** message comes.

**Already done : Always On turned on for BOT in Azure portal for bot service**

**Bot Built with C#**

[2018-11-16 19:15] ryanvolum opened #1371 "Revert synthesized "conversationUpdate" activity"
### Github issue for [C#](https://github.com/Microsoft/botbuilder-dotnet/issues) /[JS](https://github.com/Microsoft/botbuilder-js/issues)

## Sample information
1. Sample type: Sample
2. Sample language: All languages
3. Sample name: welcome-users

## Describe the bug
In the emulator and _most_ other channels, the welcome-users sample proactively welcomes the user when the conversation is initiate

[2018-11-16 21:54] vishwacsena commented on #1371
we need to make sure that the webchat/ directline behavior has conversation update for user sent up without requiring the user to send a message.

[2018-11-17 01:02] khalid-halo commented on #1050
Has anyone successfully completed the integration? Would love to see a sample.

[2018-11-18 16:57] designineer opened #1372 "I'm getting a "Type 'number' is not assignable to type 'ColumnWidth'" error when building"
I'm currently using node version 6.1.10 and npm version 3.10.10. When building a clone of the current release, I get the following build error.

'''Type 'number' is not assignable to type 'ColumnWidth'

This points to line 69 of /utils/AdaptiveCardBuilder class:

'''column.width = size;

Can someone point me to what could be causing this issue? I have a feeling it's got something to do with my typ

[2018-11-18 20:51] baldrin commented on #1333
I was able to resolve my issue. In the v4 C# SDK.  After some debugging it appears the Choice.Style defaults to 'Auto'. The result is when using the directline channel it causes the choice to appear as '1) Yes 2) No'. I changed my code from

`AddDialog(new ChoicePrompt(VerifyInfoPrompt));`
to
`AddDialog(new ChoicePrompt(VerifyInfoPrompt)
{
    Style = ListStyle.SuggestedAction,
});`

The above cod

[2018-11-19 07:03] priysn opened #1373 "Focus indicator is not visible on 'vimeo' link."
**Actual Result:**
Focus indicator is not visible on 'vimeo' link.

**Expected Result:**
Focus indicator should be visible on 'vimeo' link.

**Repro Steps:**
1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/full-bundle/) in Edge browser.
2. Navigate to 'Show a video attachment from Vimeo' button and activate it.
3. Video w

[2018-11-19 09:37] priysn opened #1374 "Video progress bar is not accessible using keyboard."
**Actual Result:**
Video progress bar is not accessible using keyboard.

**Note:**
Controls present under settings are not accessible using narrator.

**Expected Result:**
Video progress bar should be accessible using keyboard.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/ ](https://microsoft.github.io/BotFramework-WebChat/full-bundle/) in Edge brows

[2018-11-19 09:58] GayathriR2018 opened #1375 "502 badgateway with response 401 status code - Issue only when Auth for App service turned on"
We have an app-service default.htm page to which we are loading the chat bot using direct-line keys. PFB code used for same in default.html scripts.

 BotChat.App({
        bot: bot,
        locale: params['locale'],
        resize: 'detect',
        // sendTyping: true,    // defaults to false. set to true to send 'typing' activities to bot (and other users) when user is typing
        speechOpti

[2018-11-19 11:27] priysn opened #1376 "Scan mode focus stay twice on video pane."
**Actual Result:**
Scan mode focus stay twice on video pane.

**Note:**
Same issue also reproducible for video slider bar, 'vimeo' link and 'Like' button.

**Expected Result:**
Scan mode focus should stay once on video pane.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/full-bundle/) in Edge browser.

[2018-11-19 19:00] dmvtech commented on #940
Hey Sammy. I apologize that this question wasn't addressed earlier. Hopefully you've got an answer before now.

To quickly answer:
"Suggested actions enable your bot to present buttons that the user can tap to provide input. Suggested actions appear close to the composer and enhance user experience by enabling the user to answer a question or make a selection with a simple tap of a button, rather

[2018-11-19 19:12] dmvtech commented on #961
Hi @samvanlier. Apologies that this was never answered. Please let me know if this is still an issue for you.

[2018-11-19 20:38] CoHealer commented on #867
@billba, apologies this went stale. If this is still an open issue for you, please let me know and we'll get a support engineer to investigate

[2018-11-19 20:41] CoHealer commented on #1013
@UsamaAslam, apologies on this going stale. If you still want assistance, please let us know

[2018-11-19 20:46] #940 closed

[2018-11-20 06:55] deva96 commented on #1217
Hey i cant even create a bing speech api service now ?

[2018-11-20 08:49] priysn opened #1378 "Video controls are not visible in high contrast white mode."
**Actual Result:**
Video controls are not visible in high contrast white mode.

**Note:**
Text of 'Watch later' and 'Share' button of YouTube video is not visible in high contrast white mode

**Expected Result:**
Video controls should be visible in high contrast white mode.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/Bo

[2018-11-20 09:15] priysn opened #1379 "Link present on the video is visible as text."
**Actual Result:**
Link present on the video is visible as text.

**Expected Result:**
Link present on the video should be visible as link. Link should be implemented with proper underline.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/full-bundle/) in Edge browser.
2. Navigate to 'Show a video attach

[2018-11-20 09:57] priysn opened #1380 "Name property is not defined for 'Mute', 'CC' and 'Settings' button."
**Actual Result:**
Name property is not defined for 'Mute', 'CC' and 'Settings' button.

**Note:**
Incorrect time information is defined for 'seek slider'.

**Expected Result:**
Name property should be defined for 'Mute', 'CC' and 'Settings' button.

**Repro Steps:**
1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle/](https://microsoft.github.io/BotFramework-WebChat/full-bu

[2018-11-20 09:58] priysn commented on #1306
As part of internal bug review, closing this bug.

[2018-11-20 10:01] #1306 closed

[2018-11-20 20:13] ryanlengel commented on #1207
For timezones, maybe a dropdown of all valid names that .NET accepts would be best.
https://stackoverflow.com/questions/7908343/list-of-timezone-ids-for-use-with-findtimezonebyid-in-c

[2018-11-20 23:16] #1103 closed

[2018-11-20 23:16] tonyanziano commented on #1103
This is fixed in v4

[2018-11-20 23:46] stevkan commented on #1217
@UsamaAslam, the 'always on' microphone feature is being reviewed. There is no ETA at this time. You can review the current discussion in issue [#859](https://github.com/Microsoft/BotFramework-WebChat/issues/859). Hopefully this answers some of your questions.

[2018-11-21 12:04] mrThirsty opened #1382 "user id provided being ignored."
When connecting to the bot via directline we set the user object with a custom ID as it is for logged in users. however, the chat bot always recieves the default values in the From tag, this means that we can't persist custom user data specific to the user logged in.

Below is the JS we have on the page:

`var userId = "2D8E3603-62ED-E811-8154-5065F38B1651";
            var user = { id: userId, na

[2018-11-21 13:37] xinfli opened #1383 "No option to hide upload button in v4.1"
An option "showUploadButton" was added to hide upload button for issue [#883](https://github.com/Microsoft/BotFramework-WebChat/pull/883), but in v4.1.0 there is no such option.

So now is it possible to hide the upload button on rederWebChat()?

[2018-11-21 18:50] DesignPolice commented on #1264
ping

[2018-11-21 19:04] mewa1024 commented on #1264
@DesignPolice paper clips seems fine to me. Looks like some messenging apps breakout all the files types, but that probably won't scale for Webchat.

[2018-11-21 21:24] #1291 closed, assigned to tonyanziano

[2018-11-21 21:54] benbrown opened #1384 "Add support for deleteActivity and updateActivity"
Adding support for these methods in WebChat will bring support for these methods to the emulator, which is important to allow developers to truly test their applications which may rely on these methods!

According to @compulim this would involve a few lines here:

https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/core/src/reducers/activities.js#L83

[2018-11-22 06:55] priysn opened #1386 "[Usable] Focus is going to hidden content while navigate in scan mode."
**Actual Result:**
After Email editable text box focus is going to the hidden content while navigate in scan mode.

**Expected Result:**
Focus should not going to the hidden content while navigate in scan mode.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle](https://microsoft.github.io/BotFramework-WebChat/full-bundle) in Edge browser.
2. Navigate to '

[2018-11-22 07:10] priysn opened #1387 "[Usable] Tooltip does not defined for 'More' button."
**Actual Result:**
Tooltip does not defined for 'More' button.

**Expected Result:**
Tooltip should be define for 'More' button.

**Repro Steps:**

1. Open URL [https://microsoft.github.io/BotFramework-WebChat/full-bundle](https://microsoft.github.io/BotFramework-WebChat/full-bundle)  in Edge browser.
2. Navigate to 'Type your message' text box present in bottom of screen, type 'help' and press en

[2018-11-22 08:04] a-sergeichik opened #1388 "OAuth prompt does not accept validation code"
I'm trying to embed webchat into web site using iframe

<iframe src='https://webchat.botframework.com/embed/tcoithelpdeskchatbotqa?s=YOUR_SECRET_HERE'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>

For some reason we are unable to authenticate in bot using OAuth card: it doesn't accept verification (magic) code, but it worked fine a couple of days ago. The only error I can s

[2018-11-22 11:47] pedrosalider commented on #1321
Hi @rosskyl,
How did you set the userID? I still haven't found a way to set the userId in v4.
Thanks in advance

[2018-11-22 13:09] mrThirsty commented on #1382
I managed to figure out how to set the user id:

`(async function(){
            const res = await fetch("https://botapi.azurewebsites.net/api/token", { method: 'POST', body: JSON.stringify({ UserID: userId }) });
            const { token } = await res.json();

            var botConnection = new window.WebChat.createDirectLine({
                token: token
            });

            window.We

[2018-11-22 13:09] #1382 closed

[2018-11-22 13:19] mrThirsty opened #1389 "Conversation Item order is not correct"
The items in the webchat are not showing in the correct order.

The last user message will always be at the bottom of the chat, even after a reply has been sent by the bot.

 example conversation:

User: Hi
Bot: Hi how are you?
User: I am good thanks.
Bot: How can I help?

would display as such in the webchat window:

Bot:Hi how are you?
User: Hi
Bot: How Can I help?
User: I am good thanks.

You c

[2018-11-22 15:30] pedrosalider commented on #1382
Hi @mrThirsty I tried you suggestions and it isn't working for me. MY bot always receives "default-user" as the From detail.

[2018-11-22 16:55] pedrosalider opened #1390 "referrer"

[2018-11-22 16:55] #1390 closed

[2018-11-22 22:49] pedrosalider opened #1391 "Get URL Referer"
I'm using a directline inside my website and I was wondering if there is anyway to get the URL of the website inside my bot code. Previously, in v3, I was initializing the chat with:
[code]
and I was able to get the referrer with this line of code `activity.From.Properties["referrer"].ToString()`, but in v4 I can't find a way to get the referrer inside the bot.

[2018-11-23 13:47] jamiemaguiredotnet commented on #365
any c# examples of restoring chat history in web chat? :)

[2018-11-23 14:54] fberasategui opened #1392 "Help needed"
Hi.

How can I adapt [this code sample](https://blog.botframework.com/2018/07/12/how-to-properly-send-a-greeting-message-and-common-issues-from-customers/) to the V4 of WebChat? mostly the "workable solution" part, which uses `BotChat.App()`, which (as far as I understand) belongs to V3 and is not available in V4.

[2018-11-23 17:09] fberasategui commented on #1392
@jwiley84 thanks for your response.

To be honest, I've been having a really hard time trying to figure out how to properly implement the WebChat. I'm more of a backend guy, and I'm not familiar with React at all.

My intention is to have a basic Bot working. I've already set everything up in the backend, and so far it's working fine. I can deal with the .NET part of it just fine.

For the fronten

[2018-11-23 23:51] Rykimaruh opened #1393 "Enabling speech function on webchannel inside modern SharePoint Online"
I'm having this problem where I have my chatbot deployed and embedded in a modern SharePoint Online site. How do I enable the microphone so users can speak into? Most answers I find talk about using html and js to do it

[2018-11-25 18:30] vsusloparov opened #1394 "Modern SharePoint Online Page: jump to middle (focus)"
Hello,

I added the iframe with custom WebChat to middle of modern SPO page. When I reloading the page SP page jumping to middle. I was checking custom html page that initialized the WebChat js plugin. Without WebChat plugin on page it's working right - page not jumps to the middle. After it I checked the MS iframe from channels panel of "Channel registration" application (or App Bot Web) of Azure

[2018-11-26 10:23] priysn commented on #1313
Closing this bug as part of internal Bugs review.

[2018-11-26 10:23] #1313 closed

[2018-11-26 11:35] priysn commented on #1317
Closing this bug as part of internal bugs review.

[2018-11-26 11:35] #1317 closed

[2018-11-26 18:31] dmvtech commented on #961
Closing since it doesn't seem to be a current problem. Please reopen if assistance still needed.

[2018-11-26 18:31] #961 closed

[2018-11-26 19:10] gabog opened #1396 "Change default voice font for the emulator"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to test my bots with voice, the current monotone font used by the emulator is very inexpresive and boring... (it matters if you use it all day :))

**Describe the solution you'd like**
Would it be possible to change the default font to use Jessa or Guy?, having the ability to change the font in settings would be

[2018-11-26 19:10] vishwacsena commented on #1396
transferring this from emulator repo since this requires work in webchat. @seaen, @compulim please triage.

[2018-11-26 19:37] compulim commented on #1396
# Note to fixer

Custom voice font support is done by changing the URL endpoint, documented here, https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-apis#text-to-speech-api.

[2018-11-26 19:48] DanielTizon opened #1397 "Greeting Message Web Chat v4 - Sending events from bot"
Hi,
I am migrating from Webchat v3 to Webchat v4, and I am having problems when I post an event activity for welcome trigger. I was using the workable solution given in official botframework blog:

https://blog.botframework.com/2018/07/12/how-to-properly-send-a-greeting-message-and-common-issues-from-customers/

[code]

But when I try to do it in Webchat v4 React version, using the next code:

[co

[2018-11-26 19:59] compulim commented on #1387
This is not a bug from Web Chat. After sign-in button is clicked, the flow goes to Microsoft Account page.

Could you file this bug to the team that owns Microsoft Account page?

[2018-11-26 19:59] compulim commented on #1386
This is not a bug from Web Chat. After sign-in button is clicked, the flow goes to Microsoft Account page.

Could you file this bug to the team that owns Microsoft Account page?

[2018-11-26 19:59] compulim commented on #1380
This is not a bug from Web Chat. The video content is an IFRAME owned by YouTube.

[2018-11-26 19:59] compulim commented on #1379
This is not a bug from Web Chat. The video content is an IFRAME owned by Vimeo.

[2018-11-26 20:00] compulim commented on #1378
This is not a bug from Web Chat. The video content is an IFRAME owned by Vimeo.

[2018-11-26 20:00] compulim commented on #1376
This is not a bug from Web Chat. The video content is an IFRAME owned by Vimeo.

[2018-11-26 20:00] compulim commented on #1374
This is not a bug from Web Chat. The video content is an IFRAME owned by Vimeo.

[2018-11-26 20:01] compulim commented on #1373
This is not a bug from Web Chat. The video content is an IFRAME owned by Vimeo.

[2018-11-26 20:04] compulim commented on #1369
@priysn This is expected behavior. Suggested actions are one-off button that is designed to go away after the user click on it or send a text message.

If we need the buttons to disappear, is there any ARIA tags that could help us in this scenario?

[2018-11-26 20:06] compulim commented on #1368
@priysn this is by design. It is designed to let the user to drill into individual receipt item.

What is your recommendation on allowing the user to drill into the individual item?

[2018-11-26 20:07] compulim commented on #1367
- [ ] Investigates if full-screening a standard HTML5 `<video>` element is doable

[2018-11-26 20:09] compulim commented on #1365
We don't customize the HTML5 `<video>` tag, we don't bring our own playback controls to it.

- [ ] Investigates if this is an Edge or Chrome bug

[2018-11-26 20:12] compulim commented on #1364
- [ ] Set `autoPlay` to false in MockBot
- [ ] Add documentations to our media cards to hint the dev that `autoPlay` multiple media is not a good UX
   - [ ] We cannot stop animation from `autoPlay` because it is a GIF

[2018-11-26 20:17] compulim commented on #1363
There seems no way to put "screen reader only" content in a Markdown:
- Although Markdown honor some HTML, I think it don't honor inline style inside the HTML for obvious reason

We could probably leverage `fallbackText` from Adaptive Card JSON, https://docs.microsoft.com/en-us/adaptive-cards/authoring-cards/card-schema#schema-adaptivecard.

# Note to fixer
- [ ] Modify MockBot to include `fallbac

[2018-11-26 20:20] compulim commented on #1362
This could be a bug on Adaptive Cards project.

- [ ] Checks if `name` attribute (or similar) can be found in [this schema](https://docs.microsoft.com/en-us/adaptive-cards/authoring-cards/card-schema#inputdate)
   - [ ] If yes, implement it on MockBot and see if it works as a resolution
      - [ ] If it work, resolve this bug
      - [ ] If it doesn't work, this bug should belongs to Adaptive Car

[2018-11-26 20:36] compulim commented on #1359
- [ ] Update MockBot to make the alt text descriptive

[2018-11-26 20:37] compulim commented on #1358
We did not customize the playback controls from the browser. If this bug repro on Edge, this bug should goes to their bucket.

@corinagum please try it on Chrome, to fulfill our curiosity. :)

[2018-11-26 20:38] compulim commented on #1355
We did not customize the playback controls from the browser. If this bug repro on Edge, this bug should goes to their bucket.

Related to #1358.

[2018-11-26 20:40] compulim commented on #1354
@corinagum please change it to `#EF0000`.

[2018-11-26 20:41] compulim commented on #1353
We did not customize the playback controls from the browser. If this bug repro on Edge, this bug should goes to their bucket.

[2018-11-26 20:50] compulim commented on #1351
@corinagum see if we can fix it in our MockBot, to use a single column container for the text.

[2018-11-26 20:57] compulim commented on #1350
This bug should belongs to Adaptive Card team.

The content is generated by Adaptive Card and it should have `<div role="link">` instead of `<div role="button">` for those tappable image (and same as `<button>`).

[2018-11-26 21:00] compulim commented on #1349
The whole card (including the input text boxes) are generated by Adaptive Card. This bug should belongs to Adaptive Card project.

[2018-11-26 21:00] #1349 closed

[2018-11-26 21:06] compulim commented on #1348
This bug should belongs to Adaptive Cards project.

[2018-11-26 21:06] #1348 closed

[2018-11-26 21:08] compulim commented on #1347
This looks like a bug on Adaptive Cards. Today, they don't have a JSON property to put the name on [their schema](https://docs.microsoft.com/en-us/adaptive-cards/authoring-cards/card-schema#inputdate).

Please file this bug to Adaptive Cards.

[2018-11-26 21:10] compulim commented on #1346
Investigations:
1. Write a simple HTML with `min` and `max`
1. Open in Edge and Narrator and see how it speak them out
- If it speak correctly, investigate Web Chat or Adaptive Cards
- If it doesn't speak correctly, this bug should belongs to Edge team

[2018-11-26 23:05] gabog commented on #1396
Hi, I know that this can be done in webchat, my ask is for the BF Emulator.

Thanks

[2018-11-26 23:08] compulim commented on #1396
@gabog Understand this is an ask for Emulator. We are trying out GitHub new issue transfer to get the work done.

The issue is being transferred to BotFramework-WebChat, get it fixed here, and then will transfer back to BotFramework-Emulator for the UI part.

We need a better diagram/dependency graph or to-do list so the issue author (or participants) know what's going on.

[2018-11-26 23:10] gabog commented on #1396
Ah, OK, thanks.

From: William Wong <notifications@github.com>
Sent: Monday, November 26, 2018 6:09 PM
To: Microsoft/BotFramework-WebChat <BotFramework-WebChat@noreply.github.com>
Cc: Gabo Gilabert <Gabo.Gilabert@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/BotFramework-WebChat] Change default voice font for the emulator (#1396)

@gabog<https://na01.safelinks.protec

[2018-11-27 06:49] compulim commented on #1336
Their new SDK is on a ZIP file now, and it's a Webpack bundle. I am working on it in [another repo](https://github.com/compulim/web-speech-cognitive-services/tree/feat-unified-speech) and progress is pretty good. Speech recognition works as expected (plus automated tests), and now working on speech synthesis.

I am targeting 12/15 for a development build. I probably can't release as a production b

[2018-11-27 08:10] compulim commented on #1397
The code looks good to me. Web Chat v4 is still using the very same version of DirectLineJS.

Will investigate the code. But since I am locked down on something else more urgent (#1336), my response may be slow.

p.s. we are drafting PR #1286 to make the "send welcome event" story more standard. You can peek into it for details.

[2018-11-27 08:17] compulim commented on #1333
@baldrin that's a good one. I know that is a bug on the SDK but I never know it can be workaround-ed.

I always dig into the (JavaScript) source code whenever I hit some obstacles.

1. I am always the expert of my own problem
1. If I found the bug in the code, I can just point it to the authors and they can fix it right away
1. Talking in code is easier than talking in English, the "code -> Englis

[2018-11-27 08:55] godwin3737 commented on #365
There should be an official implementation for this feature. Meanwhile, any pointers to achieve this over C#

[2018-11-27 09:02] compulim commented on #365
@ckkashyap can you tell more about the story?

[2018-11-27 12:41] alok-kumar commented on #374
I am using latest botchat CDN but unable to render HTML with iFrame in output. Example: Expected output is "Domestic travel related document</br><iframe src='https://onedrive.live.com/embed?resid=SDFSFSDSDF%211062' width='200' height='346' frameborder='0' scrolling='no'></iframe>"

But it is getting converted to "<p>Domestic travel related document&lt;/br&gt;&lt;iframe src=‘<a href="https://onedri

[2018-11-27 15:06] xinfli commented on #1397
We got same error on sending greeting message, with botchatDebug enabled and override DirectLine.end(), we found that seems the DirectLine conversation ended on creating WebSocket connection.

We reverted to v3 since we did not find solution for this problem.

[2018-11-27 19:00] sgellock commented on #1080
opening a new issue to track the specific 429 work, once the service supports it

[2018-11-27 19:00] #1080 closed

[2018-11-27 19:05] sgellock commented on #1229
this is a dup.  please refer to https://github.com/Microsoft/BotFramework-WebChat/issues/1229 for a workaround

[2018-11-27 19:11] dandriscoll commented on #1080
The service supports 429 already. We populate the retry-after header per the spec.

[2018-11-27 19:14] dandriscoll commented on #1375
Hi @GayathriR2018, the issue is that the webpage and bot's endpoint are on the same service. When you enable AAD authentication to protect the webpage, it's enabling AAD auth for the bot's endpoint as well. This won't work because the service-to-service auth used to protect the endpoint is different from user authentication.

To enable AAD authentication on your website, you will need to move your

[2018-11-27 19:47] compulim commented on #1342
Adaptive Cards is using standard HTML5 controls `<input type="date">` and `<input type="time">`. And the flyout element is owned by Edge team.

[2018-11-27 19:52] compulim commented on #1340
Adaptive Cards is setting `tabIndex="0"` to the root container, regardless whether the card is clickable or not. Some cards do support clicking on, but the "simple card" mentioned in this issue should not be clickable.

If you visit https://adaptivecards.io/samples/, you will see the DOM tree looks like the following screenshot.

![image](https://user-images.githubusercontent.com/1622400/49107501-

[2018-11-27 20:27] corinagum opened #1399 "Look into ways to show developer story"
Research different options, talk to Egor, etc.
Ideas: Twitter, blogs, GH, etc. Use this area for notes.

[2018-11-27 20:31] corinagum commented on #1371
@ckkashyap this issue is related to past history scenario. Tagging because they're related.

[2018-11-27 20:36] corinagum commented on #1343
@priysn It appears that the links you have indicated in your screenshot are actually visited links, which is why they are displaying as green. Visiting other websites in high contrast mode reflect this behavior, where visited links become green after click.

[2018-11-27 20:36] compulim commented on #1343
We observe the same behavior (yellow on unvisited, green on visited link) when we are constructing a standard HTML5 `<a>` and showing it on Edge. We used the sample here, https://www.w3schools.com/html/tryit.asp?filename=tryhtml_links_w3schools.

[2018-11-27 20:39] compulim commented on #1338
On `card markdown`, we clipped the content horizontally, need to fix the layout.

![image](https://user-images.githubusercontent.com/1622400/49110131-797f9300-f241-11e8-88cc-b0dfda06e947.png)

[2018-11-27 20:40] compulim commented on #1341
Please change the red color to `#EF0000`.

[2018-11-27 20:40] corinagum commented on #1341
Related to #1354

[2018-11-27 20:49] compulim opened #1400 "New speech feature from Cognitive Services Speech Services"
This is the work item for additional features from Speech Services. The original feature on-par work is #1336.

- [ ] P0: Custom speech
- [ ] P1: Reference grammar ID (for LUIS)
- [ ] P1: Biased word list (a.k.a. dynamic priming)
- [ ] P2: Custom voice font
- [ ] P2: Continuous mode
   - Blocked
- [ ] P2: Push-to-talk
   - `recognizeOnceAsync` do not have a cancellation mechanism, we need to inves

[2018-11-27 20:50] corinagum commented on #1336
This bug is to bring the speech adapter for v4 on par with current v3. On par is on track for 4.2.
Other features in addition to this will be added to a bug tracked for 4.3. You can view these items on #1400

[2018-11-27 20:50] corinagum commented on #1400
@seaen @sgellock Preference check: would you prefer these to be split into multiple bugs or kept as one?

[2018-11-27 20:58] dandriscoll commented on #1384
Before adding support, let's please discuss the design -- we added messageUpdate and messageDelete for this but the behaviors can be tricky so we should make sure we're thinking about them the same way.

[2018-11-27 21:11] compulim commented on #1328
More information about the input hint at https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-3.0#activity-object.

[2018-11-27 21:13] compulim commented on #1228
The tracked bug https://github.com/Microsoft/AdaptiveCards/issues/1794 is still open.

[2018-11-27 21:15] corinagum commented on #1217
This is being tracked over at #1336

[2018-11-27 21:15] #1217 closed

[2018-11-27 21:17] compulim opened #1401 "Sample: Always on microphone"
Build a sample that prime the speech and enable always-on microphone (sit-back-and-talk).

[2018-11-27 21:18] compulim commented on #1217
@UsamaAslam we created a new issue #1401 for the "always-on microphone".

[2018-11-27 21:19] corinagum commented on #1057
@tonyanziano hey are you working on this atm? Could you let us know your status? :)

[2018-11-27 21:31] compulim commented on #1039
This is dupe of #1371. We will create a sample showing how this can be done.

[2018-11-27 21:31] #1039 closed

[2018-11-27 21:33] compulim commented on #1038
This is duplicate of #1371. We will create a new sample showing how this can be done.

[2018-11-27 21:33] #1038 closed

[2018-11-27 21:41] compulim commented on #470
It repro in v4.

### Repro steps

- Navigate to https://microsoft.github.io/BotFramework-WebChat/full-bundle/
- Type `card inputs inputs`
- On the first card, click on "Show Card" button

[2018-11-27 21:46] compulim commented on #1196
My bad, we currently don't support ponyfilling `window.open`. There is a tracking item #368 for this.

[2018-11-27 21:49] compulim commented on #1196
### Steps

- [ ] Bump Web Chat in Emulator to v4
- [ ] Test if this repro
   - If this repro, transfer this issue back to BotFramework-WebChat
   - If this does not repro, resolve this bug

[2018-11-27 21:53] compulim commented on #355
We will limit the number of visible activities to 1,000 by default. And it will be configurable by the user.

We don't have a plan to limit the number of activities kept in the memory because we don't see big performance hit over the memory yet.

[2018-11-27 22:10] compulim commented on #193
We can try out the time zone library at https://www.npmjs.com/package/time-zone
.

[2018-11-27 22:12] corinagum commented on #135
@mewa1024 Sorry for tagging and untagging you so many times -- (Can't find Marc to assign him). Do you think you or Marc may be able to address this?

[2018-11-27 22:15] corinagum commented on #50
The only remaining work item is the avatar, which is being tracked #43

[2018-11-27 22:15] #50 closed

[2018-11-27 22:30] compulim commented on #1360
- [ ] Put `role=complementary` on the top container of Web Chat
- [ ] Put `role=form` on the send box of Web Chat
- [ ] Put `role=region` on the transcript of Web Chat
- [ ] On all the samples, add `role=main` to first child of `<body>`

[2018-11-27 22:36] compulim opened #1402 "Add `messageBack` support"
### Background

It will support:
- `displayText` (optional string for text to display on transcript)
- `image` (optional image for the button)
- `text` (optional string to send back to the bot, invisible to the user by default)
- `title` (optional string for the text of the button)
- `value` (optional JSON to send back to the bot, invisible to the user)

Although all properties are optional, we ha

[2018-11-27 22:37] compulim commented on #1402
@bwamie this is the work item for `messageBack`.

[2018-11-27 23:01] compulim commented on #1339
There are two issues here.

#### Bug on Adaptive Cards

If we didn't define `alt` in the image, Adaptive Cards generated `<img alt="undefined">`. We repro-ed this bug on https://adaptivecards.io/samples/SportingEvent.html.

![image](https://user-images.githubusercontent.com/1622400/49117311-15ff6080-f255-11e8-88c4-608e213e237a.png)

#### Not able to repro

We used Narrator on Edge. We heard "image

[2018-11-27 23:16] corinagum commented on #1332
reference: https://github.com/Microsoft/Botbuilder-samples table

[2018-11-27 23:36] corinagum commented on #1364
This is a bot-specific issue, not related to Web Chat implementation. Set `autoPlay` to false to resolve.

[2018-11-27 23:38] corinagum commented on #1363
Bot-specific implementation, we will fix MockBot

[2018-11-27 23:40] dandriscoll commented on #193
Note that we have `localTimezone` in addition to `localTimestamp` as well now

[2018-11-27 23:41] dandriscoll commented on #1402
Why is `value` dropped?

[2018-11-27 23:49] corinagum commented on #1354
Closed as duplicate of #1341

[2018-11-27 23:49] #1354 closed

[2018-11-27 23:54] corinagum commented on #1351
Investigating either as bot-specific, or part of Adaptive Cards

[2018-11-28 00:08] compulim commented on #1335
This is by-design.

The card has 3 hot spots to click on:
- The whole container
- The left column (the panther and the word "CAR")
- The panther image

So the <kbd>TAB</kbd> is going thru correct tab order.

[2018-11-28 00:08] #1335 closed

[2018-11-28 00:30] corinagum commented on #1311
Unable to repro

[2018-11-28 00:39] compulim commented on #1305
`#767676` is the minimal gray for 4.5:1. We were using `#999999`.

[2018-11-28 00:44] compulim commented on #1397
@xinfli if there is any JavaScript errors inside the business logic of Web Chat, we will close the Direct Line connection. This is a new behavior.

I believe the code that call `directLine.postActivity()` is causing JavaScript errors in Web Chat. We need to dig into that error.

[2018-11-28 00:51] compulim opened #1403 "Sample: Selectable activity"
This work is required for Web Chat integration in Emulator.

- [ ] If activity can be selected programmatically, will be nice to scroll the activity into view on select

[2018-11-28 00:59] corinagum commented on #1267
also: need to update samples

[2018-11-28 01:00] corinagum commented on #1265
@mewa1024  - placeholder for Marc

[2018-11-28 01:04] #1263 closed

[2018-11-28 01:10] compulim commented on #1071
Probably problem on the bundler. Checks if it is fixed in v4.

[2018-11-28 01:14] corinagum commented on #465
Investigate if fixed in v4. If not, mark as P3 or P4

[2018-11-28 01:15] corinagum commented on #459
Related to messageBack #1402

[2018-11-28 01:15] #459 closed

[2018-11-28 01:17] corinagum commented on #355
Related to #1118

[2018-11-28 01:18] compulim commented on #1118
Duplicate of #355.

[2018-11-28 01:18] #1118 closed

[2018-11-28 02:08] seaen opened #1404 "Dial back Web Chat retries (code 429)"
Related to #1080 - focused on the remaining code 429

----------------- Original text ------------------
Web Chat aggressively retries under two conditions:

When Web Chat is polling with GET and receives a 404, it continues polling. A 404 is unlikely to be resolved as the resource is gone.
If Web Chat receives an HTTP 400 when opening a websocket connection, it retries very quickly
There may be o

[2018-11-28 03:16] compulim commented on #1402
@dandriscoll When I talk to @bwamie, he said `messageBack` will only have two properties: `text` and `title`. Direct Line service do accept `value` property, but it may drop the actual content.

[2018-11-28 09:12] compulim commented on #1403
Design is needed for Emulator. To speed things up, I will make this sample first, then align with designer afterward.

[2018-11-28 11:48] xinfli commented on #1397
@compulim Thanks, I guess it's caused we transfer customized value in activity and caused this problem, but: 1. same code works fine with v3; 2. in v4 it failed random, sometime it works.

And, how can we catch the error caused the DirectLine connection closed?

Below is our code:
[code]

[2018-11-28 18:03] mewa1024 commented on #135
Forwarding to mysterious Marc (until he gets set up with GitHub).

From: William Wong <notifications@github.com>
Reply-To: Microsoft/BotFramework-WebChat <reply@reply.github.com>
Date: Tuesday, November 27, 2018 at 5:25 PM
To: Microsoft/BotFramework-WebChat <BotFramework-WebChat@noreply.github.com>
Cc: Melanie Wang <mewa@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/

[2018-11-28 18:30] corinagum commented on #1125
Merged

[2018-11-28 18:30] #1125 closed

[2018-11-28 18:34] compulim commented on #1397
Fix is coming in, #1405. More details over there.

(@xinfli, your code is very useful)

[2018-11-28 18:34] corinagum commented on #1057
Note from Tony: this is already in codebase and test needs to be written. Leaving as 4.2

[2018-11-28 18:37] compulim commented on #1402
@bwamie do you know how other channels works with form submissions on Adaptive Cards?

[2018-11-28 19:03] baldrin commented on #1344
@lauren-mills Where you ever able to come up with a solution to this issue? I've been having the same problem.

Here is what I've found. If I do this in a dialog

`UserData userData = await BotAccessors.UserDataAccessor.GetAsync(stepContext.Context, () => new UserData());`

And I look in my CosmosDB for the Document that was created, I find this

`"id": "directline*2fusers*2fdefault-user",`

I'm a

[2018-11-28 19:04] compulim commented on #1125
@punitganshani I am fixing the CI/CD, it wasn't working for v3 for a while. Stay tuned, should get a build out soon.

[2018-11-28 19:34] compulim commented on #1125
@punitganshani it is in `@0.15.1-v3.4da20d6`. You can either do `npm install botframework-webchat@legacy`, or `npm install botframework-webchat@0.15.1-v3.4da20d6` to get the fix. Please let us know if it doesn't work for you, we are happy to help.

[2018-11-28 20:02] xinfli commented on #1397
Great! waiting for the new release :-)

[2018-11-28 20:45] compulim commented on #1344
@lauren-mills @baldrin found the issue in [`connectSaga.js`](https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/core/src/sagas/connectSaga.js).

The problem is, if the user is using Direct Line secret, it is always using `"default-user"`. We need to change it to accept user ID from `renderWebChat` call. And the user can provide whatever user ID they want. We might want to put a

[2018-11-28 20:47] compulim commented on #135
Marc is @designpolice.

[2018-11-28 20:53] lauren-mills commented on #1344
Thanks, William!

[2018-11-28 21:06] compulim commented on #1387
Reopening so we can confirm from the accessibility team.