[2019-10-22 21:25] compulim commented on #2485
IMO, your Teams emoji design is targeting user-to-user conversation, but not user-to-bot conversation. So I don't think 80% or more users are going to benefit from this feature. Making this feature in production doesn't make sense to me.

The sample linked by @tdurnford makes sense to me because it is upvote/downvote button. It will benefit bot designers to get feedback about their bots. And this

[2019-10-23 06:54] alokraj68 commented on #2469
Hi,

I tired out the latest bits and the issue is not coming in it. but I am not able to cancel the pending speech. The speech synthesis is working for every message after I give the cancel. Is the clear all method missing for speech synthesis?

Expected: Speech synthesis should not speak out once the cancel or stop is called.

Actual: It continued to work for every subsequent messages. Also, the

[2019-10-23 07:22] alokraj68 commented on #1736
How to stop the bot from speaking and clear all the queues? This was available in v3 as we could reset the queue. in v4, the queue seems empty and this functionality seems missing.

This is not a how-to question, this is a missing functionality in v4.

[2019-10-23 08:08] sanjeevgaut commented on #1453
Hi
It worked for me also in localhost/emulator. but when i deployed in azure it is not working.
i can see there is delay in the response but typing is not coming.
below is my code.

await step.context.sendActivities([
                                { type: 'typing' },
                                { type: 'delay', value: 3000 },

                            ]);

[2019-10-23 10:18] vsusloparov opened #2488 "WebChat adaptive cards button with mailto url"
## Screenshots

Error message:
![image](https://user-images.githubusercontent.com/13465370/67380236-b1e33a80-f592-11e9-9004-50d097254d2f.png)

Expected result:
![image](https://user-images.githubusercontent.com/13465370/67471016-65156780-f657-11e9-98a8-fce7773a2a9f.png)

"message": "An Action.OpenUrl must have its url property set."

## Version

Used: WebChat NPM package V4.

## Describe the bug

[2019-10-23 17:23] corinagum commented on #1453
@sanjeevgaut,

Talking with a few team members, there has been no change in the Emulator code base that would make a delay work. I am currently waiting to hear from an SDK member about the activity type, but I think this is going to take some tracking down. Could you please file a new issue and answer the minimum repro questions?

As a workaround in the meantime, please feel free to use the code b

[2019-10-23 17:43] gitbash-basher commented on #1453
you can use this in .NET

`await stepContext.Context.ShowTypingIndicator(1000);`
`await stepContext.Context.SendActivityAsync("This message should display after a second");`

[2019-10-23 18:00] corinagum commented on #2488
Hi, @vsusloparov, thanks for filing.
1. Please provide your Adaptive Card json
1. What minor version of Web Chat are you using? Did you recently bump Web Chat versions, which may have caused this behavior change?

[2019-10-23 18:27] compulim opened #2489 "Rename `bubbleBorderWidth` to `bubbleFromBotBorderWidth`"
## Feature Request

Rename the followings:

- `bubbleBackground` to `bubbleFromBotBackground`
- `bubbleBorderColor` to `bubbleFromBotBorderColor`
- `bubbleBorderRadius` to `bubbleFromBotBorderRadius`
- `bubbleBorderStyle` to `bubbleFromBotBorderStyle`
- `bubbleBorderWidth` to `bubbleFromBotBorderWidth`
- `bubbleNubOffset` to `bubbleFromBotNubOffset`
- `bubbleNubSize` to `bubbleFromBotNubSize`
- `b

[2019-10-23 21:18] compulim opened #2490 "Lists out differences between protocols in FAQs"
## Feature Request

As we start planning to support different protocols, we should consider their differences and how Web Chat could adapt:

- File upload
   - We only support uploading a single file at a time
   - We don't support text message piggybacked to the file upload activity

[Enhancement]

[2019-10-23 22:12] corinagum commented on #2481
Sample: https://github.com/corinagum/audioconfig-to-ponyfill-webchat
PR incoming, though changes will not be usable until Speech SDK bug is fixed.

[2019-10-24 09:18] vsusloparov commented on #2488
Hi @corinagum ,

1. Added the "Adaptive card example" and "Expected result" image to first post .
2. The version that we are use is about the six month ago version. We not updated the WebChat version (js files).

[2019-10-24 13:02] alokraj68 commented on #1736
Please do let me know once it's in the latest bits so that we can test it.

[2019-10-24 19:06] stevkan opened #2493 "Typing indicator fails to display in Test in Web Chat"
## Screenshots

![noTypingIndicator](https://user-images.githubusercontent.com/18403946/67516154-fc2cf000-f654-11e9-94d7-0ed84a7f0631.gif)

## Version
Test in Web Chat

## Describe the bug
As reported by a customer in [this](https://stackoverflow.com/questions/58518661/typing-indicator-in-chatbot) Stack Overflow post: Sending the typing indicator in `sendActivities()` fails to display in Test in W

[2019-10-24 20:05] tdurnford commented on #2493
I was able to reproduce this issue; however, it works fine in the latest version of Web Chat. We just need to bump Test in Web Chat to v4.6 after our next release.

[2019-10-24 20:28] corinagum commented on #2488
@vsusloparov it looks like the error message you are receiving is correct. This is actually an Adaptive Card error that you are hitting. I tried various changes to the adaptive card using the url prop like so: `"url": "mailto:test@gmail.com?subject=aklsjdl%20kasd",` and there were no rendering problems. When clicked, the new email message formatted as expected, with the mailto set as well as a sub

[2019-10-24 20:28] #2488 closed

[2019-10-24 21:21] gabog opened #2494 "Add support to Emulator to render OAuthCards for skills without having to use magic number"
See https://github.com/microsoft/botframework-sdk/issues/5654 for details

[2019-10-24 21:54] tdurnford commented on #2493
After further investigation, the delay activity is handled properly by the connector service; however, Test in Web Chat is not displaying the typing activity. @compulim Will updating Test in Web Chat ot v4.6 resolve that issue?

[2019-10-24 23:31] arman-g opened #2495 "TypeError: Object doesn't support property or method 'includes'"
Using botframework-webchat latest cdn does throw an error on IE and early versions of Edge.

IE v11.737.17763.0.
Edge v15 or earlier.
Bot Framework-webchat CDN: Latest.

Error message: TypeError: Object doesn't support property or method 'includes'

![webchat](https://user-images.githubusercontent.com/22778273/67532379-dc102780-f67a-11e9-980d-f475467088e4.PNG)

[2019-10-25 00:18] corinagum commented on #2495
Duplicate of https://github.com/microsoft/BotFramework-WebChat/issues/2449

This error will be fixed in our upcoming release.  If you need these changes immediately, please see our documentation on pointing to our MyGet feed for [latest bits](https://github.com/microsoft/BotFramework-WebChat#how-to-test-with-web-chats-latest-bits). You can also reference the `CONTRIBUTING.md` to build your own sto

[2019-10-25 00:18] #2495 closed

[2019-10-25 00:30] arman-g commented on #2495
#2444 is not exactly the same error but I hope it will be fixed along the way in your upcoming release.

[2019-10-25 03:02] Hrushikesh92 commented on #1571
+1

[2019-10-25 03:09] CyberColsar commented on #1571
+1

[2019-10-25 15:01] prejeanb opened #2497 "Suggested actions navigation arrows appear unnecessarily"
## Screenshots
![image](https://user-images.githubusercontent.com/31588178/67580579-8d16d080-f714-11e9-86fd-49ad612c1c74.png)

## Version
Latest ES5 version from CDN... https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js

## Describe the bug
On certain Android phones in Chrome, the Suggested Actions navigation arrows appear unnecessarily.

The Suggested Actions navigation arrow

[2019-10-25 16:25] corinagum commented on #2497
@prejeanb thank you for filing this issue.

I will have to hunt down an Android to test this out, but until then, could you clarify the behavior for me?
From your screencap it looks like you are pointing out that the < > buttons are showing even though the length of suggested-actions does not need to scroll from side to side. Is that correct?

[2019-10-25 16:33] prejeanb commented on #2497
@corinagum Yes, that is exactly the behavior I'm reporting

[2019-10-25 16:34] corinagum commented on #2497
@prejeanb great, thanks for the clarification :)

[2019-10-25 16:46] corinagum commented on #2490
Related to file upload: https://github.com/microsoft/BotFramework-WebChat/issues/628

[2019-10-25 16:50] corinagum commented on #1289
@rdosanjh sorry for the late reply! Please by all means implement a sample and share with the community. :) thank you!

[2019-10-25 18:19] compulim opened #2498 "4.6.0 Release checklist"
## Build

1. [x] Update `CHANGELOG.md` to mark specific changes in `4.6.0`
1. [x] Run `npm version --no-git-tag-version 4.6.0`
1. [x] Run daily pipeline manually, set "generate release version number" to `true`
   - (This will not push to NPM or CDN)
   - The build number is `87362` and commit is `dd80827`
1. [x] Download build artifacts
1. [x] Setup hosting apps
   1. [x] Hosting apps
      - [x]

[2019-10-25 21:58] compulim opened #2499 "Bump dependencies"
## Feature Request

Bump dependencies for pre-release packages and `botframework-directlinejs@0.11.6`.

[Enhancement]

[2019-10-28 14:31] hassidchen opened #2502 "Invalid formats of DateTime fields are not defined in TemplateUsage: NotUnderstood"
## Screenshots

![image](https://user-images.githubusercontent.com/57063922/67634763-ac565f00-f8c8-11e9-87d5-4a7f291b0d80.png)

## Version
link href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css"

## Describe the bug

There are some invalid formats of DateTime that are not defined in TemplateUsage: NotUnderstood which makes the chat-bot crash.
Example:  "nd Oct 11:22 PM(UTC

[2019-10-28 17:21] dmvtech commented on #2502
Are you using LUIS or [Microsoft.Recognizers.Text](https://github.com/microsoft/Recognizers-Text/)? What language is your bot written in?

[2019-10-28 17:25] vikramdadwal opened #2503 "When is the next release (6.0)?"
🚨 The issue tracker is not for implementation questions 🚨

[Question]

[2019-10-28 18:27] sgellock commented on #2503
@vikramdadwal our roadmap has us releasing 4.6 bits by the end of this month.

[2019-10-28 18:27] #2503 closed

[2019-10-28 20:50] #2499 closed

[2019-10-28 21:50] compulim opened #2505 "Reminder for React versioning and incompatibilities"
## Feature Request

1. Warning when using older version of React that is incompatible with Web Chat
1. Steps to investigate React Hooks rules violations
1. Show breaking change in npm install
1. Add error boundary to scope errors within Web Chat

[Enhancement]

[2019-10-28 22:02] tonyanziano commented on #2505
[Here](https://github.com/zloirock/core-js/blob/master/packages/core-js/postinstall.js#L14) is the code responsible for creating the post-install banner for `corejs`.

And it is invoked via [node in the `postinstall` npm hook](https://github.com/zloirock/core-js/blob/master/packages/core-js/package.json#L51) in `package.json`.

[2019-10-29 02:45] #2420 closed

[2019-10-29 17:13] naukhezolayee commented on #1831
changing the typing indicator is possible in directline by simply adding below code in your webchat code,
** convert a gif to base64 format and replace "ConvertedCodeOfImageInbase64Format"

const styleSet = window.WebChat.createStyleSet({
typingAnimationBackgroundImage: "url('data:image/gif;base64,ConvertedCodeOfImageInbase64Format')"
});

Hope it helps anyone who requires..

[2019-10-29 17:26] krishna0209 commented on #2490
# IC3 Client - TODO

* Heartbeat/Presence
* Handling of disconnect (online/offline)

[2019-10-29 17:28] krishna0209 opened #2506 "Feature Request - IC3 Client"
* Disconnects (online/offline)
* Heartbeat/Presence
* Update/Edit messages
* Acknowledgement on sent messages

[2019-10-29 22:12] corinagum commented on #2490
re-adding the customer tags since this is coming directly from a customer.

[2019-10-29 22:13] corinagum commented on #2506
I will close this in favor of #2490, which contains more detail.

[2019-10-29 22:13] #2506 closed

[2019-10-30 00:09] compulim opened #2510 "Host sample 23.a.hybrid-react-npm"
## Version

`master`

## Describe the bug

Sample `23.a.hybrid-react-npm` was added in PR #2509 but it lacked of hosting. We should host it.

That means, user reaching to https://microsoft.github.io/BotFramework-WebChat/samples/23.a.hybrid-react-npm will see the demo. We have hosted other `create-react-app` based samples. Look at `lerna.json` to get started.

## Expected behavior

A hosted demo of

[2019-10-30 00:32] compulim opened #2511 "Better polyfilling for IE11 in NPM"
## Feature request

Currently, the polyfilling story isn't great on NPM via `create-react-app`.

- It requires use to copy bunches of line from `index-es5.js` into their project to load the polyfills

One approach is to follow what `create-react-app` does. To make CRA works in IE11, you will need to `import 'react-app-polyfill/ie11';` and it will bring all polyfills required to make the CRA app wo

[2019-10-30 00:39] corinagum opened #2512 "Internet Explorer 11: invalidCard command (MockBot) produces error"
## Screenshots

![image](https://user-images.githubusercontent.com/14900841/67819529-bb791080-fa72-11e9-9e40-052b77256d28.png)

## Version
latest bits

## Describe the bug
- On Internet Explorer using MockBot, typing the command `invalidCard` throws the app instead of showing the Adaptive Card error component

## To Reproduce
Steps to reproduce the behavior:

1. Open Mock Bot in Internet Explorer

[2019-10-30 01:37] compulim opened #2513 "IE11: Cannot load Array[Symbol.iterator] polyfill"
## Version

`master`

## Describe the bug

It seems `core-js` is loaded incorrectly. This is causing `sagas/effects/forkPut.js` to fail after Webpack in IE11. This bug is introduced when we bump `core-js@2` to `core-js@3` in PR #2195, because `core-js@3` changed the import signature.

Instead of loading using `import 'core-js/modules/es.symbol'`, we should load it using `import 'core-js/features/s

[2019-10-30 02:07] compulim opened #2515 "Update root README.md with breaking changes"
## Feature request

We should surface 4.6 breaking changes to README.md so people can self-help.

[2019-10-30 06:06] #2513 closed

[2019-10-30 06:26] compulim opened #2516 "Safari: Expecting input hint should not block microphone access"
## Version

`master`

## Describe the bug

On Safari (Mac and iOS), if the microphone is being opened without user interactions, Safari will block the access.

### Technical details

To detect whether Safari block or not:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Go to sample 06.c
1. Click on microphone
1. Say "input hint expected"
1. Wait until the bot response completed synt

[2019-10-30 13:55] hassidchen commented on #2502
I am using LUIS, and the bot is written in C#.

[2019-10-30 15:11] Lewin8687 commented on #365
@SamuelTassell  Hi, may i ask if there is an example that I can follow for "conversationhistory"? Not sure what the format is for activities.

Here is what I have, but it doesnt show up.
const store = window.WebChat.createStore(
    {
        activities: '{"type":"message","id":"conversationId|000002","timestamp":"2019-10-26T15:26:14.0829475Z","channelId":"directline","from":{"id":"botid","name":"

[2019-10-30 19:29] compulim commented on #2516
The check function is not reliable across platforms.

This is because on Firefox, it will always be "suspended" even resumed, until the user clicked agree on the microphone consent dialog.

[2019-10-30 22:58] compulim opened #2518 "Synthesis of "input hint expecting" should be interrupted by typing or microphone button"
## Version

`master`

## Describe the bug

When an activity with `inputHint: 'expectingInput'` is being synthesized, it should be:
- Turn on the microphone after synthesis completed
- Synthesis is being interrupted when start typing on the keyboard
- Synthesis is being interrupted when the user click on microphone button again

## To Reproduce

Steps to reproduce the behavior:

1. Navigate to play

[2019-10-30 23:02] compulim opened #2519 "Safari: Input hint expecting should be working and will turn on microphone"
## Version

`master`

## Describe the bug

After the bot respond with `inputHint: 'expecting'` completed synthesis, the microphone should be re-opened in Safari.

## To Reproduce

Steps to reproduce the behavior:

1. On Safari, navigate to playground
1. Say "input hint expecting"
1. Wait until the synthesis of bot response completed

## Expected behavior

The microphone should be turned on and sta

[2019-10-30 23:42] #2516 closed

[2019-10-30 23:42] #2518 closed

[2019-10-30 23:42] #2519 closed

[2019-10-31 01:23] compulim opened #2521 "IE11: Build not working after importing microsoft-cognitiveservices-speech-sdk"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/67911012-23e2f300-fb42-11e9-9930-34a0d5f61adf.png)

## Version

`master`

## Describe the bug

After importing from `microsoft-cognitiveservices-speech-sdk` from commit `8d06a54`, we are bundling non-ES5 code in `webchat-es5.js`.

## To Reproduce

Steps to reproduce the behavior:

1. Host `webchat-es5.js` and browse it unde

[2019-10-31 01:57] #2521 closed

[2019-10-31 05:53] compulim opened #2524 "Output build should have correct version number burnt"
## Version

`master`

## Describe the bug

For the burnt version number, it appears to be `undefined` instead of `4.6.0`.

In PR #2182, we moved from vulnerable `babel-plugin-version-transform` to `babel-plugin-transform-inline-environment-variables`. The environment variable should be in lowercase, `npm_package_version`, instead of `NPM_PACKAGE_VERSION`. Thus, the Babel plugin did not pick up and

[2019-10-31 09:37] #2524 closed

[2019-10-31 17:37] compulim opened #2527 "4.6.0 Post-release checklist"
These are chores that we should do before starting the cycle to reduce ripple effects if we do it in mid-cycle.

## Applies to all releases

1. [x] Bump `package.json` to `4.6.1-0`
   - #2528
1. [x] Verify the build works minimally
1. [x] ~On QFE branch, make sure `CHANGELOG.md` is cherry-picked to `master`~

## Applies to major/minor releases

- [x] Bump all dev tool chain to latest version
   -

[2019-10-31 18:35] vikramdadwal opened #2529 "Adaptive cards do not work with minimal bundle"
## Screenshots
![image](https://user-images.githubusercontent.com/10174566/67975944-51777d00-fbd2-11e9-932f-26ff421004a1.png)

## Version
4.6.0

## Describe the bug
After updating to 4.6.0 version the Adaptive card stopped working.

**NOTE:**: Things are working fine when moved back to 4.5.3.

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '.

[2019-10-31 18:40] compulim commented on #2529
Are you using `/4.6.0/webchat.js` or `npm install botframework-webchat` to load Web Chat?

Are you loading with `webchat.js` or `webchat-minimal.js`?

[2019-10-31 18:45] #2498 closed

[2019-10-31 20:46] corinagum commented on #2527
working on verifying the builds

[2019-10-31 21:34] vikramdadwal commented on #2529
The issue occurs when using `webchat-minimal.js` version of webchat. Things are working fine with `webchat.js`.

[2019-10-31 21:54] tdurnford commented on #2529
The [Minimal Bundle](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.a.getting-started-minimal-bundle#description) does NOT include Adaptive Cards, Cognitive Services, or Markdown-It dependencies.

[2019-10-31 21:56] #2529 closed

[2019-10-31 22:50] vikramdadwal opened #2531 "suggestedActionBoarderWidth not working as expected in 4.6.0"
## Screenshots
![image](https://user-images.githubusercontent.com/10174566/67991298-02434380-fbf6-11e9-9d32-7e80b5dde0ca.png)

![image](https://user-images.githubusercontent.com/10174566/67991315-07a08e00-fbf6-11e9-83ca-d69e271f228f.png)

## Version
4.6.0

## Describe the bug
We were using  suggestedActionBorder: `solid 1px #c6c6c6`, property earlier and the suggested action Border was displaying

[2019-10-31 23:27] corinagum commented on #2531
@vikramdadwal based off of your submission, it looks like `suggestedAction*Border*Width` is misspelled.

Spelled correctly, the prop functions as expected:

[code]
![image](https://user-images.githubusercontent.com/14900841/67992740-27868080-fbfb-11e9-8579-1350b55a3ca6.png)

[2019-11-01 07:30] compulim opened #2534 "Bump to adaptivecards@1.2.3"
## Feature Request

Bump to `adaptivecards@1.2.3` once both Mockbot and offline Mockbot changed "input card" with a string value from a number value. This is due to a bug in Adaptive Cards, https://github.com/microsoft/AdaptiveCards/issues/3287.

- [ ] Offline Mockbot PR
   - https://github.com/tdurnford/BotFramework-Offline-MockBot/pull/4
- [ ] Mockbot PR

[Enhancement]

[2019-11-01 07:35] compulim opened #2535 "Bump to latest Selenium"
## Feature Request

Bump Selenium Docker image to `3.141.59-xenon` and verify all image snapshots.

[code]

Then, run:

1. `docker-compose up --build`
1. `npm test -- --update-snapshot`
1. Verify all updated snapshots are legit due to slight difference of rendering

[Enhancement]

[2019-11-01 12:09] san540 opened #2537 "Suggested Actions buttons CSS got changed in 4.6.0 BotFramework-WebChat"
Suggested Actions Button (yes and No) text color and background color got effected in newer version please find below attached screenshot.

## Screenshots
![issuse](https://user-images.githubusercontent.com/5953714/68024703-dba60b00-fcd0-11e9-926a-d831f95e2053.png)

## Version
    4.6.0

## Describe the bug

Suggested Actions Button (yes and No) text color and background color got effected in newe

[2019-11-01 17:47] tdurnford commented on #2531
It looks like `suggestedActionBorderWidth` is misspelled in the default style options. It's fine everywhere else.

[2019-11-01 17:49] vikramdadwal commented on #2531
@tdurnford  My bad, its working fine.

[2019-11-01 17:49] #2531 closed

[2019-11-01 18:37] corinagum commented on #2537
Hi @san540,
Based on your styleOptions, it looks like `accent` as white is interfering with the suggested action styling. If you would like to style suggestedActions independently, please feel free to use any of the following styles:

[code]

[2019-11-01 18:39] #2537 closed

[2019-11-01 22:08] #2515 closed

[2019-11-01 22:24] compulim opened #2539 "Move to Redux Hooks"
## Feature Request

- [ ] Expose customization hooks
- [ ] Add deprecation notes for Context/HOC-based access
- [ ] Add test for reference grammar ID
   - Mock DirectLineJS to return `referenceGrammarID`
   - Expect: Web Chat should pass `referenceGrammarID` to `webSpeechPonyfillFactory`

### Expose customization hooks

- General hooks
   - [ ] `useActivities`
   - [ ] `useAdaptiveCardsHostConfig`

[2019-11-01 23:44] #2534 closed

[2019-11-03 10:10] compulim commented on #2029
Closing this due to external issues. There is nothing we could do on Web Chat. The hosting app is blocking Web Chat from using any media capabilities.

[2019-11-03 10:10] #2029 closed

[2019-11-03 10:13] compulim commented on #1770
This is also related to #2211. When we implement the feature, it will fix this issue.

[2019-11-03 10:14] compulim commented on #1519
This is done.

[2019-11-03 10:14] #1519 closed

[2019-11-03 10:15] compulim commented on #1322
Synthesized text are no longer automatically wrapped in SSML if they looks like SSML.

This is fixed in #2243.

[2019-11-03 10:15] #1322 closed

[2019-11-03 10:20] compulim commented on #1912
Fixed in #2429.

[2019-11-03 10:21] #1912 closed

[2019-11-04 09:54] narik1989 opened #2555 "Username to be displayed in web chat"
Hello Team,

I recently migrated to bot V4 from V3. In the older V3 the user name was getting displayed under each message. In V4 i am not getting the username under the message, only the timestamp is being displayed. Is the feature removed or am i missing some config value? Please find below the connection object.

window.WebChat.renderWebChat({ directLine: dl, groupTimestamp: groupTimestamp, sty

[2019-11-04 14:36] baki32 opened #2556 "Autoscroll not working with hideScrollToEndButton:true style option"
## Version
latest (4.6.0)

## Describe the bug

## To Reproduce

Steps to reproduce the behavior:

1. Set up webchat with hideScrollToEndButton:true styling option
2. Generate more responses
3. Scroll up and click on action (adaptive card submit) that sends JSON value to bot (no user bubble rendered)
4. When response from the bot lands auto scroll doesn't happen

## Expected behavior
Chat to scrol

[2019-11-04 17:09] corinagum commented on #2556
Hi @baki32, I believe the `scrollToEnd` button is intended to act instead of an autoscroll feature. As far as I know Web Chat does not have another autoscroll behavior.

Is there a version of Web Chat that you are comparing current behavior with? If so, what is that version?

If not, this may be a feature request but I don't believe it is a bug.

[2019-11-04 17:12] tdurnford commented on #2555
Unfortunately, there is not a style option to display the username for each activity in Web Chat v4; however you can use the activity middleware to render your own message bubbles that append the username. The code snippet below uses store middleware to mark which messages should display the username and the activity middleware to add the useraname above the message. Take a look at the [Custom Red

[2019-11-04 17:14] corinagum commented on #2555
Changing labels to feature request.

[2019-11-04 17:41] baki32 commented on #2556
Hi @corinagum autosroll does happen when user writes a message so logically I would expect similar behavior on any kind of message landig to chat. If this shall be feature request happy to reclassify.

[2019-11-04 17:42] baki32 commented on #2556
Also when there's option to disable that button what should be alternative way to scroll to bottom?

[2019-11-04 18:13] corinagum commented on #2556
I see what you mean about a new activity from the user scrolls to the bottom of the chat. I was testing via pressing a button in an Adaptive Card, which does NOT scroll to bottom. If anything there's some discrepancy of behavior here that we need to figure out.

I could be wrong, but my understanding was that the ability to remove the `scrollToEnd` button was implemented due to popular request. Ho

[2019-11-04 18:49] compulim commented on #2263
We bumped to `adaptivecards@1.2.3` in #2532, will verify in IE11.

[2019-11-04 19:38] waleedabuyahia opened #2557 "How can I wrap the title of adaptive card action in Microsoft chatbot? I need the tittle to be in multiple line. I'm using webchat channel"
🚨 The issue tracker is not for implementation questions 🚨

[Question]

[2019-11-04 19:41] waleedabuyahia opened #2558 "I'm using Direct line channel with webchat-es5.js but still does not work on IE 11"
Below is my HTML
<!DOCTYPE html>
<html>
<head>
    <title>My Company Name Chatbot</title>
    <link href="ChatBootStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div id="webchat" role="main" style="min-height:850px;min-width:500px;width:100%; white-space:normal;height:850px;" ></div>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js"></script>
    <sc

[2019-11-04 20:44] tdurnford commented on #2558
IE 11 does not support the spread operator. Use `Object.assign` instead.

[code]

[2019-11-04 20:50] tdurnford commented on #2557
You can set the Text Block's `wrap` property to true. For more details, take a look at the Text Block's [schema ](https://adaptivecards.io/explorer/TextBlock.html) or use the [Adaptive Card Designer](https://adaptivecards.io/designer/) to create your Adaptive Card.

In the future, 'how to' questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you

[2019-11-04 20:50] #2557 closed

[2019-11-04 20:51] #2558 closed

[2019-11-04 21:02] corinagum commented on #2555
Related to https://github.com/microsoft/BotFramework-WebChat/issues/1571

[2019-11-04 23:25] corinagum opened #2559 "Current master bits: es5 bundle breaks due to non-transpiled dependencies"
## Version 4.6.1

## Describe the bug
Web Chat does not work in IE11; with errors:
![image](https://user-images.githubusercontent.com/14900841/68166075-0c2ab680-ff16-11e9-80f1-4175b042023b.png)

## To Reproduce

Steps to reproduce the behavior:

1. Run 01.b.getting-started-es5 sample
2. Open in Internet Explorer
3. Open console
4. See errors match screenshot above

## Expected behavior

Web Chat s

[2019-11-04 23:47] corinagum commented on #2556
@baki32, I got a chance to discuss this issue with the Web Chat team - let me summarize below.

- Due to the user experience, auto-scrolling to the bottom of the transcript whenever the bot sends a message to the user is not a feature that the app will expose by default. This is due to the fact that a user might be reviewing previous messages, and every time a new message comes in from the bot, th

[2019-11-04 23:47] #2556 closed

[2019-11-05 04:20] narik1989 commented on #1571
+1

[2019-11-05 04:22] narik1989 commented on #2555
Thanks @tdurnford tdurnford will use the approach until the #1571 is released.

[2019-11-05 04:22] #2555 closed

[2019-11-05 09:05] alokraj68 commented on #2207
Is it working now?
Cannot set `bubbleFromUserBorderColor: 'rgb(89,101,109)'` in style options.
Only the default `#e6e6e6` is working.
Using **4.5.3** version of the webchat.

[2019-11-05 09:29] prashanthsridhar opened #2560 "Custom voice (or speech?) is getting picked up in text box but not displayed in the chat history"
## Screenshots
![image](https://user-images.githubusercontent.com/11289456/68191099-c123a880-ffd4-11e9-83fa-6d48a304c379.png)

## Describe the bug
whatever the user says is being captured in the input text box but it's not being propagated to the chat window.

[2019-11-05 10:06] narik1989 commented on #2207
i am using in the below mentioned way and it is working fine. I am also using 4.5.3 only.

bubbleFromUserBackground: 'rgba(0, 255, 0, .1)',

[2019-11-05 11:14] alokraj68 commented on #2306
How about changing the font size of the send text box? In V3 it was 14 px in V4 it is 13 px. Should we use manual CSS override for the time being?

[2019-11-05 13:01] waleedabuyahia commented on #2558
I have changed it to Object.Assign but still it is not working.

<!DOCTYPE html>
<html>
<head>
    <title>XXXXXChatbot</title>
    <link href="ChatBootStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div id="webchat" role="main" style="min-height:850px;min-width:500px;width:100%; white-space:normal;height:850px;" ></div>
    <script src="https://cdn.botframework.com/botframework-webchat/lat

[2019-11-05 17:27] corinagum commented on #2306
Yep, font size can be assigned to the parent container of Web Chat, and the entire app will inherit that and calculate the smaller font size based on that.

[2019-11-05 17:32] corinagum commented on #2560
Please use our bug report template to provide the information we will need in order to help you.

What, if any, are your console errors?

[2019-11-05 17:44] waleedabuyahia commented on #2558
Same result:

<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <link href="ChatBootStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div id="webchat" role="main" style="min-height:850px;min-width:500px;width:100%; white-space:normal;height:850px;" ></div>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js"></script>
    <script>

        cons

[2019-11-05 17:57] waleedabuyahia commented on #2558
I'm getting the following error:

![image](https://user-images.githubusercontent.com/31237675/68232735-bfa1b280-ffcb-11e9-95bc-c4727e09ca2e.png)

[2019-11-05 18:34] tdurnford commented on #2558
This works fine for me.

[code]

[2019-11-05 18:47] waleedabuyahia commented on #2558
It might be some setting in my explorer. do you have any idea which settings I have to check?

[2019-11-05 18:50] waleedabuyahia commented on #2558
I found the issue, My IE was set to use IE compatibility, once I disable it it is working fine now.

[2019-11-05 19:10] compulim commented on #2388
@Zack-Strife we will close this for now for inactivity. Please create a new issue referencing this one for continuation.

[2019-11-05 19:10] #2388 closed

[2019-11-05 20:53] dkonyayev opened #2561 "WebChat Not Working for IE11 with New Error"
## Screenshots

Attached.

## Version

Latest. See attached code.

## Describe the bug

On IE11 we are implementing the changes recommended in #1760. However, we are getting an error that nobody has reported yet

uncaught at anynymous SecurityError
SCRIPT5022: SecurityError
webchat-es5.js (1,123143)

## To Reproduce

I am attaching sample HTM file.

## Expected behavior

No error. It works correct

[2019-11-05 20:55] dkonyayev commented on #2561
<img width="394" alt="webchat-error" src="https://user-images.githubusercontent.com/15344498/68245234-95a8ba00-ffe4-11e9-8a71-9ed58fd7ec9d.PNG">

Sample Code:
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js"></script>
    <script src="h

[2019-11-05 21:19] compulim commented on #2561
Will look at this later today or tomorrow.

Before jumping into it, can you try restarting IE11? Also make sure `iexplore.exe` in Task Manager is gone.

I remember when we do development on IE11 for a few times, we saw "SecurityError" and it mysteriously gone after restarting IE11.

BTW, thanks for the code, it looks complete and easy-to-host on our side. 😉

[2019-11-05 23:44] #2344 closed

[2019-11-05 23:48] corinagum commented on #2152
Closing as resolved :)

[2019-11-05 23:48] #2152 closed

[2019-11-06 00:00] corinagum commented on #2282
I think we can go ahead and close this issue. No one has posted bugs asking about the problem and there hasn't been any customer activity on this issue. Since there is a way to change the default voice, I don't think a 'fix' is necessary.

[2019-11-06 00:24] corinagum commented on #2263
Verification currently blocked by #2559

[2019-11-06 00:44] CoHealer commented on #2502
@hassidchen do you still require assistance or shall we consider the issue resolved?

[2019-11-06 03:43] arman-g opened #2562 "Incorrect Message Time Reporting"
## Screenshots
![UML1](https://user-images.githubusercontent.com/22778273/68266372-cb10d000-0003-11ea-8d1d-3bf87cf3cbf9.png)

## Version
Webchat CDN v4.6/latest

## Browsers
Edge v44.18362.387.0
IE v11.418.18362.0
Firefox v70.0
Chrome v78.0.3904.87

## Describe the bug

The message reported timing is not showing correctly.

## To Reproduce

Steps to reproduce the behavior:

1. Run the webchat.
2.

[2019-11-06 06:46] handsomeyao77 opened #2563 "How to withdraw the wrong message?"
Hi Team,

Does the WebChat have an api to withdraw the message if sending by mistake?

Or is there a workaround for this scenario?

Expected: the message sent in 2mins can be recalled.

Thanks.

[2019-11-06 07:11] alokraj68 commented on #2282
Hi! same issue here, Voice changed to a male voice in 4.6 from the female voice it had before.

[2019-11-06 09:18] bpz opened #2564 "Add lists (<ul> elements) to defaultStyleOptions"
## Feature Request

We have a chatbot that displays some **Adaptive Cards** which uses bullets inside them; they look like this using the [card designer](https://adaptivecards.io/designer/):

![image](https://user-images.githubusercontent.com/4050508/68462947-efd89380-020d-11ea-844f-dd317be32959.png)

where the json of the card is:
[code]

And in several channels they look pretty similar.

However

[2019-11-06 10:47] alokraj68 commented on #2469
@corinagum, the issue I was saying is still there in 4.6 Version.

[2019-11-06 12:01] alokraj68 commented on #2282
For time being we can use the following workaround to set the old default voice.

[code]

Let this help people who have this issue right now.

[2019-11-06 14:03] dkonyayev commented on #2561
I restarted the IE11 and it seems to be working now. My goal with this code was to post an event to trigger bot greeting message. That doesn't work, but I will open a separate case for this.

[2019-11-06 14:03] #2561 closed

[2019-11-06 14:29] prashanthsridhar commented on #2560
Hi Corina,
**steps to reproduce:**
The snippet is as folows:
selectVoice: () => ({ voiceURI: 'sample' }),
            webSpeechPonyfillFactory: await this.WebChat.createCognitiveServicesSpeechServicesPonyfillFactory({
                region: 'westus2',
                speechSynthesisDeploymentId: 'sample',
                subscriptionKey: 'sample'

**Console output**
![image](https://user-images.g

[2019-11-06 17:30] corinagum commented on #2563
Hi @handsomeyao77,

There is no way to withdraw a message already sent to the bot in Web Chat. If desired, you can programmatically remove a message from the UI by using activity middleware (take a look at our samples) to add new buttons/UI that will delete an activity from the screen. At the moment deleting or modifying activities is not supported in Web Chat/DirectLine, but is an [item in our Ba

[2019-11-06 17:31] #2563 closed

[2019-11-06 17:36] corinagum commented on #2282
Yes. For those looking for more detail, please see our sample https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.g.select-voice

[2019-11-06 17:39] #2282 closed

[2019-11-06 17:56] dkonyayev commented on #1427
Hi, any updates on this feature. We have observed that users always try to scroll up to click on hero card buttons when the response is no longer expected. If would be great if hero card was disabled once it is not longer last activity element.

[2019-11-06 17:57] corinagum commented on #2564
Hi @bpz, are you using Adaptive Cards for your lists? This is my assumption based of your 'Card Title' above. This is technically an Adaptive Cards issue, and is not controlled by Web Chat.

I was able to use Fact Sets in AC to create custom bullets, like so:
[code]

Could you share how you're editing your CSS? Have you had any problems with this method?

[2019-11-06 18:12] corinagum commented on #1427
Hi @dkonyayev, we do not have updates at this time. Others who are looking for this feature are welcome to add their +1 to increase traction.

[2019-11-06 18:16] dmvtech commented on #2502
Closing as no action at this point. Please reopen as needed.

[2019-11-06 18:16] #2502 closed

[2019-11-06 18:21] corinagum commented on #2560
@compulim assigning to you (since I don't have a custom voice to test with xD)

[2019-11-06 18:57] corinagum commented on #2469
@alokraj68, unfortunately I am not able to reproduce your issue on latest bits using one of our speech samples.

[2019-11-06 19:19] compulim commented on #2562
@arman-g Thanks for reporting. We will take a look at this bug shortly.

[2019-11-06 19:21] corinagum commented on #2474
Closing this issue for organizational purposes. For further discussion, please feel free to say something on #2211 Thank you!

[2019-11-06 19:21] #2474 closed

[2019-11-06 19:30] compulim commented on #2564
I think having the text clipped is bad. We should look at why Web Chat bubble clipped the content of an AC card with bullets.

On the other hand, unfortuantely, Adaptive Cards offer no CSS support. So, the only way is to customize AC Host Config and pass it to Web Chat.

[2019-11-06 22:59] compulim opened #2565 "Adaptive Cards do not inherit style options properly"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/68345011-35c61800-00a5-11ea-922b-ee7afe7bcf64.png)

## Version

`4.6.0`

## Describe the bug

When we are creating Adaptive Cards host config, we are not using a default-merged style options.

If the dev did not specify style options, we show the card title in `#000` color (inherited from default style options).

But if the

[2019-11-06 23:08] #2535 closed

[2019-11-06 23:09] compulim commented on #2527
All items finished.

[2019-11-06 23:09] #2527 closed

[2019-11-06 23:42] #2565 closed

[2019-11-07 00:50] mmalaiarasan-conga opened #2567 "Need audible equivalent for typing indicator sent by bot"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Currently when a user uses speech input method - webchat speaks the response sent from the bot. But the typing indicator is not marked a speakable activity and it is ignored when a bot sends a typing indicator to user in a voice conversation.

**Describe the suggestion or request in detail**

For a speech enable

[2019-11-07 01:14] ManjulaMalaiarasan commented on #1427
+1

[2019-11-07 01:28] corinagum commented on #2567
I think there are a number of workarounds you can consider without needing wait for a Web Chat update.

1. On the bot side, send an audible typing indicator *with* the typing activity or as a part of the group. On a high level:
   - Send an activity with the speak property set to "Please wait, calculating"
   - Send  the typing activity
   - Repeat as necessary until bot's final response is ready

[2019-11-07 01:36] #2539 closed

[2019-11-07 02:31] Naveenbc commented on #1427
+1

On Thu, 7 Nov 2019, 6:44 am ManjulaMalaiarasan, <notifications@github.com>
wrote:

[2019-11-07 03:02] corinagum commented on #1085
Closing this, since v4 is over 1 year old now xD

[2019-11-07 03:02] #1085 closed

[2019-11-07 03:03] corinagum commented on #1841
Closing - v3 sunset has ended

[2019-11-07 03:03] #1841 closed

[2019-11-07 05:37] avilde commented on #1427
In our project this was is a must have feature.
We however made a workaround with our Redux store to save last message id (activity.id).In a React component we would check if it is the last message so we do not show the action buttons and those cannot be pressed twice (e.g. authentication).

[2019-11-07 06:10] alokraj68 opened #2568 "Speech Synthesizer behavior change in V4"
## Version
4.6 vis CDN

## Describe the bug

In V3, we had an option to stop the speech from code and after that, the speech synthesizes won't work until the user again uses speech recognizer.

In V4, this behavior has changed. The bot speaks out every message even after stoping it from code.

## To Reproduce

Steps to reproduce the behavior:

1. Go to any voice-enabled samples.
2. Click on mic
3.

[2019-11-07 06:10] alokraj68 commented on #2469
Hi, I will open this as a new issue since it seems different from this one. #2568

[2019-11-07 06:11] alokraj68 commented on #2568
@corinagum, Can you please follow these steps and help me out resolve this?

[2019-11-07 07:05] Adityagrao opened #2569 "Need an alternative way to Send Text to the Text Bot and Submit"
## Feature Request

I am using an external form to get the user input and sending that text to the Webchat Textbox and submitting the data

I want a way to trigger the submit button (Enter button) after the form data is loaded to the text box

I am using
`document.getElementsByClassName("css-16qahhi css-n2zczk css-4ix4a1 css-1fe8kfc")[0][0].setAttribute("value", "1231231hjnh")`
and
`document.getEl

[2019-11-07 07:16] prashanthsridhar commented on #2560
### Additional Information
botConnection:-
[code]

verbatim code without keys:
[code]
### Description:
We are using custom speech and whatever we say is getting picked up and displayed in the text area, but it is not going to the chat window. If we type the text and hit enter it moves to the chat window .

[2019-11-07 15:11] dkonyayev opened #2570 "WebChat Not Displaying UTF-8 Characters"
## Screenshots

see attached
<img width="230" alt="webchat-error-01" src="https://user-images.githubusercontent.com/15344498/68400888-c6086980-0146-11ea-9d96-5d3d73456e15.PNG">

## Version

Latest

## Describe the bug

Our Bot is multi-lingual and user can switch between English and Spanish. However, the Webchat control does not display special characters correctly.

Our <head> does contain the fo

[2019-11-07 16:50] tdurnford commented on #2569
You can create a custom store and dispatch a set send box action to Web Chat's Redux Store. For more details take a look at the code snippet below and the [Custom Redux Actons](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/11.customization-redux-actions) Web Chat sample.
[code]

[2019-11-07 17:49] corinagum commented on #2570
Hi @dkonyayev, unfortunately I am not able to reproduce your problem:

![image](https://user-images.githubusercontent.com/14900841/68413777-c5220880-0143-11ea-889d-2e28ca03aab3.png)

Could you provide details of your activity to see if we can figure out what the problem is? Please also share your Web Chat app's code so we can take a look at that as well.

[2019-11-07 17:50] #2569 closed

[2019-11-07 18:34] dkonyayev commented on #2570
@corinagum Thanks, we figured out the issue. We are loading bot responses from JSON file and did not specify correct encoding, so our responses contained incorrect characters even before they got to WebChat.

[2019-11-07 18:34] #2570 closed

[2019-11-07 18:59] corinagum commented on #2570
Great, thanks for reporting back. Glad you figured it out. :)

[2019-11-07 20:22] compulim opened #2571 "Direct Line Speech: Ability to say an utterance than a string of text"
## Feature Request

Direct Line Speech will deliver in-band synthesized waveform data.

Today, in Web Chat, we ask the synthesizing engine to turn text to waveform data and send it out thru the speaker.

Tomorrow, we should be able to ask the synthesizing engine to directly play waveform data to the speaker with the same synthesis queue as of today.

[Enhancement]

[2019-11-07 20:25] compulim opened #2572 "Direct Line Speech: A way to prevent recognized text to be sent thru DirectLineJS"
## Feature Request

Today, Web Chat ask the speech recognition engine to recognize text. The recognized text will send thru DirectLineJS.

Tomorrow, as Direct Line Speech will send the recognized text to the bot on behalf of us, the existing mechanism of sending text thru DirectLineJS deemed unnecessarily and will become a duplicate. We need to find a good way to prevent Web Chat sending the recog

[2019-11-07 20:29] compulim opened #2573 "Direct Line Speech: Find out discrepancies between Direct Line and Direct Line Speech"
## Feature Request

Direct Line Speech channel is a new protocol and it works very differently than Direct Line channel.

For example, how Adaptive Cards and OAuth works in existing Direct Line channel, may change drastically compare to Direct Line Speech channel.

We need to write up a doc talking about the difference of expectations and user stories both channel fit in. And suggests the user how

[2019-11-07 20:31] compulim opened #2574 "Direct Line Speech: Renewing speech authorization token"
## Feature Request

According to this doc, the token valid only for 10 minutes. We need to find a way to renew the speech authorization token on-demand. This interface is currently not available on DLJS.

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-speech-to-text#authentication

[Enhancement]

[2019-11-07 20:48] compulim commented on #2568
1. The API of `speechServicesPonyfill.speechSynthesis` conforms to [Web Speech API spec](https://developer.mozilla.org/en-US/docs/Web/API/SpeechSynthesis). Since the `speechSynthesis.queue` is not specified in the spec, calling `queue.stop` is not a supported feature and intended to change from time to time
1. In Web Chat, instead of using `SpeechSynthesis` to control the queue (e.g. stop/suspend/

[2019-11-07 21:00] compulim opened #2575 "Adaptive Cards: Add cards to our tests suite"
## Feature Request

Today, we test Adaptive Cards in Web Chat. Our channel also test Adaptive Cards in a different test suite.

Recently, they discovered an issue in Adaptive Cards 1.1.2 that caused bad rendering of cards. The issue have been fixed in Adaptive Cards 1.2.0.

It will be great to include some of the bad cards in Web Chat test suite. So we can also catch and report those problems soon

[2019-11-07 21:37] corinagum commented on #2568
Closing this issue for organizational purposes. For those wanting to add anything, please take your discussion to #2211. Thank you!

[2019-11-07 21:37] #2568 closed

[2019-11-07 22:22] tdurnford commented on #2493
This is an issue with the Direct Line Connector Service. When using Direct Line with Web Sockets enabled, the typing indicator works as expected; however, when we use polling instead, the typing indicator activity never reaches the client. The Test in Web Chat blade in the Azure Portal uses polling instead of Web Sockets, so fixing the issue in the service will resolve this issue.
[code]

[2019-11-07 23:57] corinagum commented on #2263
Confirmed this as fixed :)

[2019-11-07 23:57] #2263 closed

[2019-11-08 03:12] corinagum commented on #2559
Fixed by #2578

[2019-11-08 03:12] #2559 closed

[2019-11-08 03:26] #2337 closed

[2019-11-08 06:06] alokraj68 commented on #2568
@compulim,
In V3 we had a method call `speechOptions.speechSynthesizer.stopSpeaking();` Which will stop the utterance speaking and `speechOptions.speechSynthesizer._requestQueue = [];` which will stop the synthesizes from speaking out any more utterance from the bot. When the user presses the mic button again, the synthesis will again be turned on.

I am looking for the same equivalent since this

[2019-11-08 09:51] bpz commented on #2564
Hi, @compulim

The clipping is happening when displaying several cards like the one I mentioned in a carrousel. So the size of the cards is reduced and you can notice this padding issue. You have it at any card size, but with a smaller card you can notice it easier.

![image](https://user-images.githubusercontent.com/4050508/68465751-5a400280-0213-11ea-864a-2c01685d4c89.png)

[2019-11-08 09:54] Adityagrao commented on #2569
@tdurnford , I could do the same with my approach also, my issue is with submitting to the BOT

[2019-11-08 09:55] Adityagrao commented on #2569
@tdurnford , My issue is submitting to the Bot, I was able to send the message to the text box via my approach also

[2019-11-08 10:01] bpz commented on #2564
After editing my first comment and adding more info in another comment, I don't really know what can be the solution to this issue, or wheter if it can be solved by Adaptive Cards' or by WebChat.

[2019-11-08 12:18] alokraj68 opened #2579 "UI cards behavior change in V4"
## Screenshots
![image](https://user-images.githubusercontent.com/9208731/68475927-6ea1f080-024f-11ea-97e7-0f2e6a82c739.png)

## Version

4.6 Via CDN

## Describe the bug

In V3 Hero cards, there was no spacing between text and button action set. Now there is a visible gap between both and is treated as different objects. This is causing a major change in UI when upgrading from V3 to V4.

## To Re

[2019-11-08 13:41] BeschtPlaier opened #2580 "Change color of heroCard titles"
hey, sorry if i am not into the guidelines, it is my first post here.
I am currently working on a qnabot and i am using it per direct line on the web.

I use HeroCards for some decisions and I am not able to change the font color of the heroCard title.

Would be nice if the whole HeroCard css stuff would be editable like the chatbubbles or the suggestedActions

[2019-11-08 18:40] compulim commented on #2580
We currently do not support customizing the color of hero card and all rich cards.

All rich cards are rendered using Adaptive Cards renderer. And the AC renderer generate complicated DOM tree. Thus, it's impossible to change the color of the title using CSS.

Since we generate hero card using Adaptive Cards, could you use Adaptive Cards instead? There is an option which you could use to specify c

[2019-11-08 18:44] compulim commented on #2579
In v4, the design was updated and a gap was introduced to improve readability, especially on activities with multiple attachments.

From what I observed from your screenshot, could you try sending an Adaptive Cards instead of hero card? Adaptive Cards has very flexible content, thus, you can add title before an image and action buttons.

You can read more about Adaptive Cards here, https://adaptiv

[2019-11-08 18:44] #2579 closed

[2019-11-08 18:49] tdurnford commented on #2569
You can use the `'WEB_CHAT/SEND_MESSAGE'` action instead of the `'WEB_CHAT/SET_SEND_BOX'` action.

[2019-11-08 23:00] tdurnford commented on #2564
It looks like @bpz is using markdown to create the unordered lists, so I think it would have to be a customization to the [Markdown-it](https://github.com/markdown-it/markdown-it) renderer used by both Web Chat and Adaptive Cards. I don't see a great way to do this through style options.

[2019-11-09 07:01] alokraj68 opened #2581 "Bot name or users name not shown bellow messages"
## Version
Latest version From CDN 4.6

## Describe the bug

In V3 the time stamp indicator had a prefix showing The bot name for the message and user name for messages from the user. This seems omitted in V4. Now only the time Relative or non-relative is shown.

## To Reproduce

Steps to reproduce the behavior:

1. Go to any web chat
2. Send a message
3. See the behavior of timestamp.
4. See erro

[2019-11-09 19:24] tdurnford commented on #2581
Duplicate https://github.com/microsoft/BotFramework-WebChat/issues/2555

[2019-11-09 21:44] #2581 closed

[2019-11-11 16:45] lelgouacem commented on #2449
Has this been addressed? We checked out chat in IE this morning and do not see any fix from when we deployed on Friday.

[2019-11-11 17:26] corinagum commented on #2449
@lelgouacem, I checked out Internet Explorer and it looks like the embed page is not working. However since the error messages are different I am going to open a new issue to track further progress.

[2019-11-11 17:31] corinagum opened #2582 "Test in Web Chat / Embed does not work on Internet Explorer 11"
Extended from #2449, originally customer-reported.
## Screenshots

![image](https://user-images.githubusercontent.com/14900841/68607483-9074c080-0465-11ea-93a4-e735847368e9.png)

## Version
gemini on Azure Portal, in Internet Explorer 11

## Describe the bug
When loading the 'Test in Web Chat' panel in Azure Portal, Web Chat does not load and the console shows the error 'Promise is not defined

##

[2019-11-11 19:03] #2580 closed

[2019-11-11 20:17] compulim opened #2583 "Playground is not loading because of dependencies problem with React"
## Version

`4.6.0` (`master`)

## Describe the bug

This bug only affect users who "npm install" Web Chat with `devDependencies`, e.g. playground or any packages that use `npm link` or `lerna` to include Web Chat in their build.

When `botframework-webchat` is installed with `devDependencies`, it installed React 0.14.9 due to transient dependencies from `webpack-visualizer` plugin.

`botframework

[2019-11-11 20:31] compulim commented on #2568
@alokraj68, for stop speaking, can you implement point 3 as in [this comment](https://github.com/microsoft/BotFramework-WebChat/issues/2568#issuecomment-551257220)?

[2019-11-11 20:48] compulim commented on #1780
More clarifications over my previous comment.

I think `role="status"` is conflicting with `aria-live="polite"`. But as @corinagum pointed out, two `aria-live="polite"` should not conflict with each others.

[2019-11-11 21:01] #2583 closed

[2019-11-11 21:23] corinagum commented on #2564
@bpz is using a fact set in Adaptive Cards a viable workaround for you, instead of using Markdown in the Adaptive Cards? It looks like AC has some inconsistencies in rendering markdown so you may want to avoid the AC/Markdown combo altogether.

I'm going to remove the Investigate label and keep this in the Backlog as a discussion item, but as of right now I don't see this becoming an action item f

[2019-11-11 22:57] corinagum commented on #2582
This issue has been addressed with the Bot Framework Services team and will be available as soon as possible - hopefully by Monday 11/18. We will keep this issue open and update with further details as available.

[2019-11-12 00:17] compulim opened #2588 "Add test for `useLocalizeDate`"
## Feature Request

### Description

While we are adding the `useLocalizeDate` hook, we found out we didn't test `getLocaleString` function at all.

But when we try to add the test, we are hitting timezone problem. Timezone of the CI box and local box could be different.

To mitigate the problem, we need to add some code in production codebase to allow the user to select timezone. For example, the

[2019-11-12 09:04] mouhannadali opened #2589 "Resume Bot Framework V4 dialog from external service"
🚨 The issue tracker is not for implementation questions 🚨

[Question]
Hi,

I am trying to implement payment dialog in Bot Framework V4 and direct line to connect to the bot. The payment should work as the following:
in the chatbot, the user click on a "pay now" button and the payment web page will popup. after the the payment finish, should resume the Bot Framework V4 dialog and here where I am st

[2019-11-12 13:56] bpz commented on #2564
I understand, @corinagum

For our case, the FactSet is not a solution as that would imply knowing first how many items would have the card text, but I can see it can be a solution for other scenarios.

[2019-11-12 17:09] corinagum commented on #2589
'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat tag](https://stackoverflow.com/questions/tagged/web-c

[2019-11-12 17:09] #2589 closed

[2019-11-12 17:27] pdemro commented on #2582
@corinagum @a-b-r-o-w-n @hristp I have created a very simple sample project which reproduces the issue with IE11.  The only reason I am posting this is because the error I see in console is different from the OP

https://github.com/pdemro/botframework-webchat-ie11-bug

![image](https://user-images.githubusercontent.com/5431128/68694747-b7a3be80-0547-11ea-8104-044b3cb0b7ec.png)

[2019-11-12 23:31] #2512 closed

[2019-11-12 23:38] tdurnford commented on #2510
Sample 17.b.clear-after-idle also needs to be hosted

[2019-11-13 00:38] #497 closed

[2019-11-13 01:54] corinagum opened #2591 "Request: Support Redux DevTools extension (Chrome) in Web Chat"
## Feature Request

https://github.com/zalmoxisus/redux-devtools-extension#usage

It would greatly help development if the playground functioned with Redux DevTools.

Preliminary testing creating a store did not work:

[code]

**Additional context**

[Enhancement]

[2019-11-13 08:39] pradeeprajendran opened #2592 "Ability to set voice with Web Speech API in webSpeechPonyfillFactory"
Can we have an updated webSpeechPonyfillFactoryto allow us to set lang, pitch, voice, etc?

I am using example  https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.f.hybrid-speech **however** I am using WebSpeechAPI for speechSynthesis as well

[2019-11-13 19:30] axelsrz commented on #2592
@corinagum can you take a look at this?

[2019-11-13 19:38] compulim commented on #2592
@pradeeprajendran you should use SSML to set the `lang`, `pitch`, `rate`, and `volume`. You can refer to this [Speech Synthesis Markup Language article](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-synthesis-markup) on how to set it up. You should pass it as `speak` property to the activity sent from the bot.

For `voice`, you can refer to this [select voice samp

[2019-11-13 19:38] #2592 closed

[2019-11-13 22:36] corinagum commented on #2582
Hi @pdemro, please see our getting started es5 sample to see details on getting Web Chat to function in IE11. Thank you!

[2019-11-14 00:01] leolorenzoluis commented on #1265
@compulim  I want to add a suggestion, please let us set the default timeout in the config. I don't see any reason why the devs can't override the timeout themselves.

[2019-11-14 03:43] leolorenzoluis opened #2594 "sendTimeOut not respected"
## Screenshots
<img width="850" alt="Screen Shot 2019-11-13 at 10 41 04 PM" src="https://user-images.githubusercontent.com/15150044/68825029-bf0db980-0666-11ea-99c1-cbc15e8ffb2c.png">

## Version
4.6.0

## Describe the bug
When I upload an attachment and network is slow. The send time out is not respected. I explicitly cloned and build from tag 4.6.0 and explicitly change timeouts from 20000 to 30

[2019-11-14 04:22] leolorenzoluis opened #2595 "Warning on react checkproptypes activity.timestamp"
## Screenshots

## Version 4.6.0/master

Steps to reproduce the behavior:

1. Checkout tag/v4.6.0 or master
2. Build all packages
3. Reference the bundled dist
4. See error
[code]

## Expected behavior
No warnings present

## Additional context

[2019-11-14 06:20] alokraj68 commented on #2568
@compulim, I did implement the same. But once we send a Proactive message, It is also spoken by the bot which we do not want. Also, we tried to run it via piggybacking from webchat like this:

` var StartActivity = {
        from: {
            id: "id",
            name: "name",
            role: "user",
         },
        name: 'startConversation',
        type: 'message',
        value: 'Welco

[2019-11-14 17:56] corinagum opened #2597 "Clean up scripts"
## Feature Request

I would like a tableflip command please thank you.

[Enhancement]

[2019-11-14 18:08] RajneeshVerma commented on #1571
+1

[2019-11-14 18:23] #2597 closed

[2019-11-14 18:28] tdurnford commented on #2595
@leolorenzoluis this issue seems to be resolved in master.

It's worth noting the timestamp property is marked as required in the [`Timestamp`](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/component/src/Activity/Timestamp.js) component; however, if the property is falsy, we just return false so it's not actually required. I'm pretty sure we added this check for an issue w

[2019-11-14 18:31] ManjulaMalaiarasan commented on #2567
@corinagum thank you for the response,
- speak property on typing indicator is ignored.
- send a msg activity with speak text like 'please wait' - will not work efficiently since sometimes typing indicators show up just for a second, while sometimes up to a few tens of seconds and sending the text and reading it aloud for smaller indication will only delay our actual response.
- I am trying to wri

[2019-11-14 18:45] tdurnford commented on #2594
@leolorenzoluis Where did you change the timeout value? It looks like you can set the `sendTimeout` value already through Web Chat's props.

[code]

[2019-11-14 18:57] dkonyayev opened #2600 "ChannelData Is Empty on Server Side"
## Screenshots

n/a

## Version

lastest

## Describe the bug

We are posting an event via DirectLine with channeldata. However, the channel data is empty on the bot side. I feel like I am missing something very basic but I cannot figure out what it is.

## To Reproduce

CLIENT-SIDE
[code]

SERVER-SIDE
[code]
## Expected behavior

turnContext.Activity.ChannelData should contain object with data.

[2019-11-14 19:44] compulim commented on #2595
@tdurnford I prefer to patch the activity to have `timestamp` by timestamping it on `incomingActivity` saga. Thoughts?

Upside: there will always be a timestamp and the order of activities are mostly correct.
Downside: if some activities have server timestamp on, clockskew may bring them out of order.

[2019-11-14 19:45] compulim commented on #2594
BTW, #1265 is the bug to bring another timeout value just for file upload.

[2019-11-14 19:55] getangar opened #2601 "OnMembersAddedAsync method is not getting triggered when someone is added to a chat in the Web Chat channel"
## Screenshots

## Version
4.6.2

## Describe the bug
I followed the MS Tutorial: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/tutorial-voice-enable-your-bot-speech-sdk and what I have seen is that while in the Web Chat Test & Bot Framework Emulator everything works as expected, once published to Azure, the OnMembersAddedAsync method is not triggered when someone is add

[2019-11-14 20:17] mSigson opened #2602 "Out of date React dependency in CDN preventing ReactWebChat component render"
## Version

**4.6.0**

## Describe the bug

We're an Ember.js shop using Microsoft Bot Framework to implement a new bot in our web app.  However, to render custom components through WebChat we've added React/ReactDOM to our build to be able to use the `ReactWebChat` component.

We want to make sure our version of React is as up to date as possible and due to the version locks in 4.6.0 our bot won'

[2019-11-14 20:40] leolorenzoluis opened #2603 "What's the flow of using streamUrl and websockets?"
When WebChat is created if I give in `streamUrl` and `token`, then DirectLine produces a warning that requires `conversationId`. Does this mean that before initializing the WebChat that the client explicitly calls Start conversation in order to get a `conversationId` to pass it to the WebChat?

Assuming that is the case, does the client also require to explicitly call `GetActivities` (after initia

[2019-11-14 21:17] tdurnford commented on #2601
@getangar Please take a look at https://github.com/microsoft/BotFramework-WebChat/issues/2120#issuecomment-516056614 for details on how to properly trigger a Welcome Message in Web Chat.

[2019-11-14 21:26] corinagum commented on #2602
Please see our sample and information on React and React Hooks https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/23.a.hybrid-react-npm

This includes helpful documentation and our justifications for locking React.

[2019-11-14 21:26] #2602 closed

[2019-11-14 22:06] #2601 closed

[2019-11-15 03:55] leolorenzoluis commented on #2594
@tdurnford This is when initializing WebChat with DirectLine. The sendTimeout is not used when calling DirectLine. I think this should be configurable by the devs.

[2019-11-15 03:57] leolorenzoluis commented on #2595
@tdurnford I don't think this is resolve in master, I checked out master yesterday and bundled it. I get the warnings when I use the bundled output. This is not with the emulator, this is just direct web chat.

[2019-11-15 04:00] leolorenzoluis commented on #2594
@compulim I think that's 120 seconds vs 20 seconds is subjective. We have to consider when clients have a slow bandwidth. 120 seconds is not enough if it's in a dial up connection or in a very slow environment. There's two timeout places that are watche. One in webchat an one in directline. `sendTimeout` is only used in webchat but not propagated in DirectLine which does the ajax calls to the Dire

[2019-11-15 07:24] narik1989 opened #2604 "Update Web Chat Samples to v4.6.0"
Hi,

When sending an attachment from User to Bot. The user is unable to download the attachment. It opens a default placeholder url.

Steps to reproduce
1. https://microsoft.github.io/BotFramework-WebChat/12.customization-minimizable-web-chat/
2. Send any attachment (*.docx or *.doc)
3. See the response from the bot for uploaded url.

Please find below the screenshot attached for reference.

![Dow

[2019-11-15 13:47] Bradrajkumar commented on #2425
@corinagum  please do let me know the fixes done and releases with feature in speech service. please do let me know where i can see the changes done.

[2019-11-15 14:49] gorner commented on #2602
@corinagum Thanks for that response, we understand the need to lock to a single version >=16.8 but that page doesn't explain why you've locked the CDN build to 16.8.6 when the current version is 16.11.0.

Part of our team's broader point was that, because we were pointing to the "latest" CDN URL (as suggested in the [documentation](https://github.com/microsoft/BotFramework-WebChat#how-to-use)), ou

[2019-11-15 17:13] tdurnford commented on #2595
@leolorenzoluis Can you add the bot code you are using that triggers the warning message? I'm not able to reproduce your error.

[2019-11-15 17:52] dkonyayev commented on #2600
Any input?

[2019-11-15 18:23] compulim commented on #2602
We are not locking on a single version (16.8.6) specifically. We support React >= 16.8.6. I will verify to make sure Web Chat 4.6.0 can be loaded in React 16.11.0.

Are you integrating Web Chat inside a React app? If yes, is there a reason not using NPM version of Web Chat but CDN?

If you are loading Web Chat inside a React app, and prefer to load it via CDN. You should expose your instance of Re

[2019-11-15 18:35] compulim commented on #2602
I tested loading Web Chat 4.6.0 CDN JS file inside two environments of React:

- React 16.11.0 loaded via unpkg.com
- React 16.11.0 loaded via NPM via `create-react-app`

Both works.

[2019-11-15 18:36] vikramdadwal opened #2605 "setImmediate"
## Screenshots

## Version

4.0

## Describe the bug

I have a Adaptive card where we are dispalying some content and two Submit button as following:

"actions": [
    {
      "type": "Action.Submit",
      "id": "yesid",
      "title": "Yes",
      "data": "Yes"
    },
    {
      "type": "Action.Submit",
      "id": "noid",
      "title": "No",
      "data": "No"
    }

We tested our end and whe

[2019-11-15 18:48] stevkan commented on #2604
@narik1989, I just tested this using Chrome, Version 78.0.3904.97, with no issue. Tried with a .json and a .docx file with success on both attempts. Can you clear your browser cache and try again?

[2019-11-15 19:11] compulim commented on #2425
Hi @Bradrajkumar could you verify if this is fixed in Web Chat 4.6.0?

https://github.com/microsoft/BotFramework-WebChat/releases/tag/v4.6.0

[2019-11-15 19:23] axelsrz commented on #2605
@compulim could you take a look at this one?

[2019-11-15 19:24] axelsrz commented on #2600
@compulim could you take a look at this one?

[2019-11-15 19:27] stevkan commented on #2600
Consider using Web Chat's store to update an activity when posted, as demonstrated in the [15.a.backchannel-piggyback-on-outgoing-activities](https://github.com/microsoft/BotFramework-WebChat/blob/master/samples/15.a.backchannel-piggyback-on-outgoing-activities/index.html) sample.

_**Please note:** There are security considerations when posting potentially sensitive data from the page to the bot.

[2019-11-15 19:34] tdurnford commented on #2605
@vikramdadwal I'm not able to reproduce this issue. What version of Web Chat are you using - there isn't a v4.0?

[2019-11-15 19:38] vikramdadwal commented on #2605
its 4.6.0

[2019-11-15 19:42] ankitvarmait commented on #2605
You can try clear cache at client side (user's machine) then it will resolve this problem.
It happens when we change/modify script used on BOT.

- Try steps below
1. Open BOT on chrome, F12 then disable cache
2. Reload then it should work

[2019-11-15 19:45] tdurnford commented on #2604
@narik1989 The [Minimizable Web Chat](https://microsoft.github.io/BotFramework-WebChat/12.customization-minimizable-web-chat/) Sample uses Web Chat v4.5.1, and there were a number of changes to how attachments are handled since that release. One of the changes removes the ability for users to download attachments they have uploaded. This should be resolved in v4.6.0.

[2019-11-15 19:49] tdurnford commented on #2605
@vikramdadwal can you try @ankitvarmait's recommendation? I'll continue to investigate this.

[2019-11-15 20:02] tdurnford commented on #2600
@dkonyayev It looks like you are trying to trigger a Welcome message from the bot. I would recommend looking at the [Backchannel Welcome Message Sample](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/15.d.backchannel-send-welcome-event) which shows how to trigger welcome message with custom data from the client. I would also recommend looking at https://github.com/microsoft/

[2019-11-15 20:02] #2600 closed

[2019-11-15 20:29] tdurnford commented on #2604
Using this issue to track bumping the samples to the latest version of Web Chat.

[2019-11-16 06:30] nith-co commented on #1964
-

1. @ @

[2019-11-17 18:31] rambabuk1222 opened #2607 "403 error while passing token to directline"
## Screenshots

<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="BotFrameWebChat._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
     <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <style>
      html,
      body {

[2019-11-18 12:43] ShikhaMishra11 opened #2608 "[Accessibility][Keyboard][bot name-Test in Web Chat]: Focus is not visible after activating the "New Messages" button."
**Re-Purposing this bug to mean:**
Fix the tab order of the Test in Web Chat Pane. It is still an accessibility issue just more global then what the OP tester wrote.

**User Impact:**
Users who depend  on keyboard would face feel difficulty if focus is not visible after activating the 'New messages' button.

**Test Environment:**
OS: Version: 1903(OS Build 18956.1000)
URL: [https://ms.portal.azure

[2019-11-18 14:24] baki32 commented on #2556
Hi, I wasn't able to find a way how to call scrollToEnd() as I'm doing this from vanilla JS. Here's how I did it:

[code]

[2019-11-18 14:50] karimkhadro96 opened #2609 "Minimizable sample should not reconnect"
Direct line reconnects to the bot framework after minimiz and maximiz the bot window in the browser

- The impact :
 The user will receive a welcome message after every time he changes the window size

- Test environment:
 1- Download the [minimizable web chat example](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/12.customization-minimizable-web-chat)
 2- Then update web c

[2019-11-18 16:52] dkonyayev commented on #2600
So I did a little more testing. I start to get channel data after the bot sends at least 1 message back to the client. In my code I check for channeldata in OnMembersAddedAsync function, which in turn is activated by DirectLine.PostActivity (as per another example on GitHub). In this function I determine if I know who the user is (based on channeldata information), or if I need to ask them for the

[2019-11-18 17:05] tdurnford commented on #2600
The backchannel welcome event you are sending with the `postActivity` method will trigger the `onEvent` handler in the bot not `onMembersAdded`.

[2019-11-18 17:27] corinagum commented on #2556
@baki32, unfortunately you will need to make these changes in React - this falls under customization that is [not supported](https://github.com/microsoft/BotFramework-WebChat#customize-web-chat-ui) in vanilla JavaScript.

[2019-11-18 19:32] cwhitten commented on #2609
@corinagum can you please take a look at this?

[2019-11-18 19:43] tdurnford commented on #2609
The sample dispatches a backcahnnel welcome event on each `DIRECT_LINE/CONNECT_FULFILLED` action which is triggered each time the chat window is expanded. We should add a state variable to track if the backchannel welcome event has already been triggered before we send it to the bot.

[2019-11-18 20:47] dkonyayev commented on #2600
Ok, I see it now. IT was confusing because Emulator and DirectLine trigger events differently. I moved my welcome code into OnEvent, and for specific Event Name I process user context.

[2019-11-18 20:48] stevkan commented on #2607
I tried your code and with a few minor adjustments it works fine for me.

First, I uncommented the `expireAfter` and `lastResult` variables as that was generating an error without being defined:

[code]

Next, I'm not sure why you are acquiring a token twice. I commented out the `directLineTokenResponse` fetch and associated code. However, if this code is necessary, then you need to change

[code]

[2019-11-18 22:59] EricDahlvang opened #2610 "Embed Code Confusion"
Reading through
https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/embed/README.md#how-to-use

It is not clearly stated how to use the Gemini embed link (although it is mentioned):
https://webchat.botframework.com/embed/b/gemini?s=YourWebchatSecret&b=YourBotHandle

[Bug]

[2019-11-18 23:26] compulim commented on #2610
After a few round of discussions, I think we are going to hide this URL and ask everyone to use the embed URL from Azure Portal, which is not ready until around EOY.

[2019-11-18 23:45] samazadi opened #2611 "Custom UI sample error (21.customization-plain-ui) - hooks from 'botframework-webchat-component' not defined"
## Screenshots

## Version

## Describe the bug

Running [21.customization-plain-ui ](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/21.customization-plain-ui)throwing undefined errors for all hooks. Not sure if I'm missing a package, but I'm assuming the sample should work out of the box.

## To Reproduce

Steps to reproduce the behavior:

1. git clone [BotFramework-WebChat

[2019-11-19 00:20] corinagum commented on #2609
I'll try to patch this up tonight.

[2019-11-19 00:46] corinagum commented on #2609
@compulim told me he's going to be making changes to this sample over the next week for ic3 work, so I will reassign this to him.

[2019-11-19 00:49] compulim opened #2612 "Test reliability: Timestamp change on-the-fly"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/69106452-3c4c7c00-0a23-11ea-8343-177294dbc269.png)

## Version

`master`

## Describe the bug

"Change timestamp language on-the-fly" tests sometimes fail. We need to find a good event to indicate React finished rendering, before we can take the screenshot.

[Bug]

[2019-11-19 02:37] leolorenzoluis commented on #1780
Just following up, does this mean the app will need a narrator in order for the person to hear what the bot says? It still won't speak the first time it starts a conversation?

[2019-11-19 12:18] marq47 commented on #2611
I think not all hooks are completed yet, but if you use latests bits you can test the sample (removing suggested actions component by the moment). Almost every day the list of completed hooks is growing.

My problem testing the sample is that using and connecting with our own bot I always get activities as an empty list (useActivities hook). Is there someone experiencing the same? How can I test i

[2019-11-19 17:09] jvanderbiest opened #2614 "Clicking a button does not scroll down"
## Video

https://youtu.be/YRauljaSgg4

## Version

4.6.0

## Describe the bug

When the bot displays buttons and the user has scrolled up, upon clicking a button he needs to manually scroll down.

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://microsoft.github.io/BotFramework-WebChat/01.a.getting-started-full-bundle/
2. Type help
3. Scroll up and click a button.
4. The user n

[2019-11-19 17:28] corinagum commented on #1780
This issue is in regards to the accessibility of Suggested Actions. Yes, customers will need an Assistive Technology to be alerted of a change in Suggested Actions. This is not related to speech. As discussed above, Suggested Actions to not have a speak property and therefore will not be spoken by the (speech) bot by design.

[2019-11-19 17:32] corinagum commented on #2614
Interesting - I hadn't seen the second issue you linked. I will mention this to the team. However, as discussed in https://github.com/microsoft/BotFramework-WebChat/issues/2556, this is not currently a feature that Web Chat is planning on implementing.

[2019-11-19 17:49] corinagum commented on #2614
@jvanderbiest Thanks for bringing this up. I spoke with our team about possibly bringing v3 parity on this issue. However, we've seen enough instances of people NOT wanting this feature that we think modification through React is a great compromise.

For those interested in scrolling to the bottom, we have a [PR](https://github.com/microsoft/BotFramework-WebChat/pull/2552) that will allow users to

[2019-11-19 17:49] #2614 closed

[2019-11-19 18:34] jvanderbiest commented on #2556
thanks for the prompt reply, I will use some customization then!

[2019-11-19 18:34] jvanderbiest commented on #2614
thanks for the prompt reply, I will use some customization then!

[2019-11-19 21:56] #2604 closed

[2019-11-19 22:01] tdurnford commented on #2611
@marq47 The `useActivities` hook should return an array where the first element in the array is a list of activities.

[code]

[2019-11-19 22:16] #2607 closed

[2019-11-19 23:10] compulim commented on #2611
@samazadi thanks for reporting, we should write automated tests for our samples so they don't break from time to time. 🙇🏻‍♂️

@marq47 thanks for trying out our new hooks. :)

We try to scope our hooks into 2 types:

- Value/setter, following `React.useState` pattern
   - They will have a signature of `useXXX(): [value, (nextValue) => void]`, same as `React.useState`.
   - `useSendBoxValue: [value:

[2019-11-20 04:01] dnyati opened #2615 "How to integrate with Bot developed in C#"
🚨 The issue tracker is not for implementation questions 🚨

I am new to REACT App. I am not sure how can I integrate this module with Bot developed in c#. It would be helpful if steps are more detailed and clear, Thanks.

[Question]

[2019-11-20 04:16] narik1989 commented on #2604
Thanks for the update @tdurnford. But i am still not able to download the document from the chat window.

Scenario
1) User sends an attachment to Bot
2) Bot responds with uploaded document

Issue:
The message sent by bot works as it has the proper URL to download the file. But the url of the document/ image sent by the user turns to default placeholder image.

My Chat Service
User 1 will be able t

[2019-11-20 05:41] Bradrajkumar commented on #2425
@compulim  thank you for your quick reply.
i just want an another information that does these changes are already added to webchat latest version?
"https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js"

[2019-11-20 08:55] ZaherAirout opened #2616 "SendMessageback is interrupting speech dialog"
## Screenshots
![image](https://user-images.githubusercontent.com/11921609/69221370-c6115c00-0b7f-11ea-8b8b-7156a57c7c18.png)

## Version
CDN latest package.

## Describe the bug
I need to send a specific data to the bot behind the scenes. to tell the bot which options the user can selects, I tried SEND_EVENT but its sending in another dialog not the current one, So I'm using SEND_MESSAGE_BACK to

[2019-11-20 10:20] rambabuk1222 commented on #2607
Thanks for your response. I will make changes as you suggested.

[2019-11-20 10:21] dnyati opened #2617 "Can we style Hero card buttons as rounded corners?"
I have PromptOptions with ListStyle as HeroCard,. By detault it comes as rectangle. Can we style it look like rounded corner & change color & thickness' of borders? Bot developed in SDK 4 C#.
Need this for web chat channel. Thanks!

## Screenshots

## Version

## Describe the bug

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See e

[2019-11-20 10:34] Bradrajkumar commented on #2406
not accepting to use microphone or speech option should not vanish the bot completely, atleast it should be available for chatting.
i am attaching 3 steps of testing and experienced this, please look into this.
step 1:- asking to allow and i clicked on "block".
![Screenshot (435)](https://user-images.githubusercontent.com/34365788/69231390-00462200-0baf-11ea-88d3-a89239a46c1b.png)
step 2:- its blo

[2019-11-20 11:44] paulnearney opened #2618 "403 Forbidden sending a proactive message to an existing, active WebChat conversation using ContinueConversationAsync"
## Version

I'm embedding (IFrame) using "https://webchat.botframework.com/embed/..."

## Describe the bug

My required flow is:

- User starts a web chat conversation with my Bot Framework v4 bot
- A dialog runs - the user is prompted with 3 questions and answers them
- An async background process runs, this can take around 30 seconds. The user leaves the webchat conversation open
- The bot respo

[2019-11-20 15:42] paulnearney commented on #2618
I've resolved this. I hadn't realised that Activity had a GetConversationReference method, so I rolled my own as an extension method on TurnContext. This had an issue, in that I was using a hard-coded Bot reference which referred to the Bot on the teams channel, rather than the webchat channel.

The fix was to use turnContext.Activity.GetConversationReference to retrieve the conversation reference

[2019-11-20 15:42] #2618 closed

[2019-11-20 16:45] tdurnford commented on #2604
@Kiran can you check which version of Web Chat you are using? Users should only be able to download attachments sent from the bot - not attachments they have sent to the bot.

[2019-11-20 17:04] arman-g commented on #2427
+1

[2019-11-20 17:20] corinagum commented on #2151
@Kaiqb we are still waiting on the tokens and secret docs to be updated from v3 docs. Is there an estimate of when this will be available? Until then there's no action for the Web Chat team.

[2019-11-20 17:26] dmvtech commented on #2615
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

That being said, if your bot is C#, then it is hosted either

[2019-11-20 17:26] #2615 closed

[2019-11-20 17:42] arman-g commented on #2427
Can you please let me know what package should I use for **useState** and **createStore**. I am using angular to host webchat? Thank you!

[2019-11-20 18:06] corinagum commented on #2427
Hi @arman-g  Are you asking whether you should you use CDN or NPM?

`createStore` is available in both CDN and NPM. If you are using CDN, `createStore` should be available to you in the Web Chat object on the browser. `window.WebChat.createStore...`.

`useState` is a React feature, and I believe Web Chat, in our hooks adoption, will not have a function called `useState`, so I'm not quite sure what

[2019-11-20 18:20] samazadi commented on #2611
@compulim no worries, i know how it goes. Any instructions on how I can fix it and test out the sample? Or any idea of when it can be fixed?

[2019-11-20 18:29] arman-g commented on #2427
Hi @corinagum thank you for your response. I am using the WebChat CDN inside angular project. I was wandering if I could hide the send input box if a suggestion action is shown not allowing the user to input text but force them to select from the suggestions.
I am trying to test the workaround code above and was not sure where the createStore() and useState() come from. Yes I am able to use window

[2019-11-20 18:39] corinagum commented on #2427
Hi @arman-g, first let me apologize. I said that hooks are not available in CDN but that's not true. Heavier customization like [recomposing the UI](https://github.com/microsoft/BotFramework-WebChat#customize-web-chat-ui) would require a React project, but using hooks that are already available is achievable in CDN.

Based on this conversation, creating your own components is what you're looking f

[2019-11-20 18:46] corinagum commented on #2617
Assigning to @CoHealer in lieu of @stevkan, please feel free to update if there are status changes.

[2019-11-20 18:50] corinagum commented on #2616
Assigning to @CoHealer in lieu of @stevkan.

[2019-11-20 18:56] arman-g commented on #2427
@corinagum, thank you for the clarification! I was looking for this hook and I am so glad that webchat supports it in CDN. I will defiantly look into plain-ui.

[2019-11-20 19:01] corinagum commented on #2427
Please see https://github.com/microsoft/BotFramework-WebChat/tree/master/packages/component/src/hooks to learn more about what hooks are currently available (in master bits). Hooks are not yet released in latest on CDN, but you can look into MyGet to test latest bits.

Please see our documentation on pointing to our MyGet feed for [latest bits](https://github.com/microsoft/BotFramework-WebChat#how

[2019-11-20 19:15] compulim opened #2619 "Clicking on microphone after blocking microphone will throw JavaScript error - related to #3666"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/69269715-7a15e580-0b86-11ea-9bf3-faee5ca56e9f.png)

## Version

`4.6.0`

## Describe the bug

After the microphone access is blocked in the browser (Chrome), clicking on the microphone button again will throw JavaScript error saying "Speech recognition is not supported".

Few things to do:

- [ ] Investigates why it is caus

[2019-11-20 19:17] compulim commented on #2406
@Bradrajkumar the bug you mentioned just here is legit. Since this thread is closed and the original bug is different than the latest one, I just opened a new bug (https://github.com/microsoft/BotFramework-WebChat/issues/2619). Please track it over there.

[2019-11-20 19:32] leolorenzoluis commented on #2595
@tdurnford I still get the same error.
1. I checked out master.
2. Run npm run build at the root project
3. Grab webchat-instrumented.js from packages/bundle/dist
4. Create a simple index.html with a reference to that script.

[2019-11-20 19:50] tdurnford commented on #2595
Are you using MockBot or your own bot? What is the activity that is causing the issue? If I strip out the timestamp from incoming activities I can reproduce the issue; otherwise, I'm not getting an error.

[2019-11-20 20:21] leolorenzoluis commented on #2595
I'm using my own bot.  If I use the bundled src from CDN then I don't get any errors. No code changes.

[2019-11-20 20:39] tdurnford commented on #2595
Can you provide some additional details about your bot so I can debug this issue further? Are you using the Javascript or the C# BotBuilder SDK? What version of the SDK are you using? Can you add the bot code that is causing the timestamp issue in Web Chat?

[2019-11-20 20:44] leolorenzoluis commented on #2595
I'm using the following code
[code]

In combination of offline-directline package from npm for mocking directline. Other than that, nothing else. The bot responds back the activities just fine. It's just the warning on the client.

[2019-11-20 20:50] tdurnford commented on #2595
Is the bot just an echo bot? This is most likely an issue with Offline-DirectLine not adding the timestamps correctly.

[2019-11-20 20:51] leolorenzoluis commented on #2595
Yeah just a simple bot. Well, if that's even true then why don't I get warnings if I use the CDN version without changing anything on the code? I explicitly return a timestamp too from the response

[2019-11-20 20:55] tdurnford commented on #2595
Can you clarify what you mean by "I explicitly return a timestamp too from the response?"

[2019-11-20 23:10] #2277 closed

[2019-11-20 23:10] #1780 closed

[2019-11-20 23:10] #2285 closed

[2019-11-20 23:36] corinagum opened #2620 "Update Chinese localization files"
There were some updates to localization. Please diff with `en-US.js`.

Please note the change in `uploadFileWithFileSize`, which had a bug

[2019-11-21 01:56] leolorenzoluis commented on #2595
I hijacked the directions and explicitly turned a timestamp property on
activities

On Wed, Nov 20, 2019 at 15:55 TJ Durnford <notifications@github.com> wrote:

[2019-11-21 09:59] compulim opened #2622 "Tracking: Cognitive Services SDK to fix audio device ID (Bluetooth)"
This is a tracking bug for Cognitive Services SDK issue related to fixing audio device ID.

https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/96.

[Bug]

[2019-11-21 10:37] dnyati commented on #1738
Facing the same issue. Is this resolved?

[2019-11-21 11:21] narik1989 commented on #2604
Hi @tdurnford, i am just using the sample provided by Microsoft, please find the link below, in this if you upload any  (.doc, .docx, .png, .jpg) the document sent is not able to be downloaded.

https://microsoft.github.io/BotFramework-WebChat/12.customization-minimizable-web-chat/

Thanks
Kiran

[2019-11-21 12:06] mountju commented on #2560
have the same issue

[2019-11-21 17:21] tdurnford commented on #2604
Correct, the user should only be able to download attachments sent by the bot to the user. It's redundant to allow a user to download an attachment they sent to the bot since it is already on their machine.

[2019-11-21 17:52] corinagum opened #2624 "Bump react-film package"
Still waiting on release. Once the release is complete, we need to bump for R7.

[2019-11-21 17:54] tdurnford commented on #1673
Bumping the react-film dependency to the next version and adding the `flipperBlurFocusOnClick` to the suggested actions and attachment carousel film strip should resolve this issue.

[2019-11-21 17:55] corinagum commented on #1673
react-film has been updated, now we need release and bump.

[2019-11-21 18:01] #1229 closed

[2019-11-21 18:10] corinagum commented on #1534
Closing this as a dupe of #1412

[2019-11-21 18:10] #1534 closed

[2019-11-21 18:13] bradrlaw opened #2625 "Hosted Webchat in Iframe & VA template does not trigger welcome message"
## Version
Embedding via IFrame

## Describe the bug
When connecting to a bot using the Virtual Assistant template, the welcome message is not displayed until the user sends some input.

The VA is looking for the MembersAdded event to send the welcome message.

## To Reproduce
Use the IFrame to connect to a bot using the virtual assistant template and the welcome message will not be displayed unti

[2019-11-21 18:45] corinagum commented on #2625
Please see the information on welcome messages as described by @tdurnford here: https://github.com/microsoft/BotFramework-WebChat/issues/2120#issuecomment-516056614

[2019-11-21 18:45] #2625 closed

[2019-11-21 19:07] corinagum commented on #1904
All that's left for this one is initials color.

[2019-11-21 19:28] corinagum commented on #2339
@tdurnford it's a race.

[2019-11-21 20:37] stevkan commented on #2617
@dnyati, you can use the following hack to alter the styling of a card. A few things to note:

- You need to match to a value that is passed in the card, not in the activity. This allows you to identify the specific card(s) in the html document to be styled. I'm matching on the button text value, for simplicity.
- Hero cards, with respect to the document, are rendered as adaptive cards which is wh

[2019-11-21 20:38] stevkan commented on #2617
I'm closing the issue as resolved. Please feel free to reopen should you encounter additional challenges related to this.

[2019-11-21 20:38] #2617 closed

[2019-11-21 23:52] corinagum commented on #2318
Hi @adn-aceres, sorry for the delay in getting back to you. I did a test of basic functionality of Web Chat, including the accessibility changes that have been recently made, and I did not encounter abnormalities. If you have more specific details on what is not accessible, please feel free to file a new issue.

Thank you!

[2019-11-21 23:52] #2318 closed

[2019-11-22 01:43] stevkan commented on #2616
The option you want to use is `DIRECT_LINE/POST_ACTIVITY` which allows you to alter the activity from the user before it is sent to the bot. Once you have the below configured to how you want, then just pass `store` as a property to `window.ReactDOM.render()` (or `window.WebChat.renderWebChat()`). When it is received by the bot, you can pass the data into a new activity/prompt.

**index.html:**
[c

[2019-11-22 01:45] stevkan commented on #2616
As for `WEB_CHAT/SEND_MESSAGE_BACK`, I will attempt to repro.

[2019-11-22 01:48] corinagum commented on #2497
If this repros on a carousel, we should consider filing an issue with react-film and using this issue for tracking. @compulim @tdurnford, thoughts? I'll try and test a repro in the next week.

[2019-11-22 02:23] #2608 closed

[2019-11-22 04:47] Jenny-ma123 opened #2629 "Insecure Randomness"
Can we implement the more secure implementation?

**Current Insecure   implementation**
Math.random

**More  secure implementation**
/* Assume that window.cryto.getRandomValues is available   */     function secureMathRandom() {       return   window.crypto.getRandomValues(new Uint32Array(1))[0] / 4294967295;     }

**Reference   URL**
https://developer.mozilla.org/en-US/docs/Web/API/Crypto/getRan

[2019-11-22 06:44] narik1989 opened #2630 "Timestamp format across browsers"
Hi,

I am using bot framework 4.6.0. I created a sample chat application. In the time stamp config i have set it as absolute. In chrome the format is working fine. In IE there is a comma missing in between the date and time. Also can the time be configurable between 12 hour and 24 hour format?

Please find screenshot attached below for both the browsers

![Chrome](https://user-images.githubusercon

[2019-11-22 18:25] #1835 closed

[2019-11-22 18:31] gorner commented on #2602
Just to close the loop on this - our team (on which @mSigson was until very recently a member) investigated this week and discovered that this was due to another issue configuration issue that apparently was never noted until after this update.

In short (I won't go into much depth since this was mostly specific to our primarily Ember.js-based project) - React and ReactDOM were available globally,

[2019-11-22 18:51] corinagum commented on #2630
This is a browser difference, not anything that Web Chat renders. Web Chat simply passes in the timestamp and the browser decides how to render it. We don't have control over the comma.

If anything, I would recommend looking into creating a middleware where you can manually format the timestamp string.

[2019-11-22 18:53] corinagum commented on #2629
It would be great if you could fill out the Bug template, which will provide us the information we need to address your concern.

Could you elaborate on what this is in reference to? Please also link JavaScript documentation since this is a JS repo. Thank you!

[2019-11-22 20:52] tdurnford commented on #2630
@narik1989 Web Chat uses the [`Intl.DateTimeFormat`]() method to generate the Absolute Timestamp, and it appears to have different behaviors across browsers.

Web Chat currently doesn't support custom timestamps at the moment; however, there is a [feature request](https://github.com/microsoft/BotFramework-WebChat/issues/1571) to add a timestamp middleware which would allow developers to create the

[2019-11-22 21:56] #2630 closed

[2019-11-22 22:02] compulim commented on #2629
We included a library called [`math-random`](https://npmjs.com/package/math-random) that do secure random if the browser support P/RNG.

The only production code which use `random()` is `packages/core/src/utils/uniqueID.js`. And we already secured it using `math-random`.

We have insecure random but they are used in sample (19 and 22) and test harness. So they do not impose any security risks on W

[2019-11-22 22:02] #2629 closed

[2019-11-23 00:03] #2151 closed

[2019-11-24 13:42] ZaherAirout commented on #2616
thank you @stevkan. that's working, now I'm sending a new `DIRECT_LINE/POST_ACTIVITY` with no text to hide the message from the web chat. but the problem still exist in `WEB_CHAT/SEND_MESSAGE_BACK`
[code]

[2019-11-24 22:54] vksantoshsunny opened #2633 "Blocked: Web Chat Message and reply swapped the positions due to modified Date object"
Hi

We are running the below html script on one of our MS Dynamics 365 portals. Facing a weird problem regarding the chat component. When we run the script on a plane HTML page we see no issues. But when we are running the script on a dynamics 365 portal page We are seeing the reply message before the user message. I have attached the screenshot for reference. I am running out of ideas of why this

[2019-11-25 07:40] Bradrajkumar commented on #2485
@compulim  if you are not able to provide me the javascript solution please provide me the react code with the requirement i want i.e. feedback as well as reactions for every mesages rendering from bot side(if possible).

**FYI**
i tried adding feedback for the message using react and it rendering for only text responses, not for any rich responses. so is it possible that for all the responses the

[2019-11-25 11:04] #2620 closed

[2019-11-25 11:41] WHJmaxne opened #2634 "webchat.js load very slowly in china，What shall I do?"
🚨 The issue tracker is not for implementation questions 🚨

[Question]
webchat.js load very slowly in china，What shall I do?

[2019-11-25 17:06] CoHealer commented on #2633
@stevkan can you please attempt a repro?

[2019-11-25 18:02] corinagum commented on #2634
Please consider cloning the repo, running the build, and hosting `webchat.js` on your own server rather than using the CDN.

[2019-11-25 18:02] #2634 closed

[2019-11-25 19:10] corinagum commented on #2497
@prejeanb, I believe this issue has been resolved with out `react-film` bump! Do you think you could help us verify? Please clone the Web Chat repo, and run the following commands:

- `npm i`
- `npm run bootstrap`
- `npm run start`

Then navigate to `BotFramework-WebChat/packages/bundle/dist/` and copy paste one of the `.js` files in place of the CDN link on your project.

I tested this on an Andr

[2019-11-25 19:49] corinagum commented on #2497
😂 Apparently I jumped the gun and the react-film PR isn't even merged in yet. Reopening this until #2632 is verified as a fix.

[2019-11-25 20:58] compulim commented on #2633
@vksantoshsunny We are very interested in fixing this bug, there are few reports about message ordering but we can't repro them on our side.

Could you capture network trace as a HAR file (or Fiddler's SAZ file) and send it to us Please remove PII if it contains any.

[2019-11-25 21:20] vksantoshsunny commented on #2633
We have had a little progress on this issue. I could see the below script that is running on the dynamics 365 portal is causing the message ordering issue. Screenshot attached. If we block the marked script from running then the message ordering is correct as expected.

![image](https://user-images.githubusercontent.com/26269568/69578869-31eb3d00-1036-11ea-93f6-54e1d42de2db.png)

https://content.p

[2019-11-25 21:44] compulim commented on #2633
Will prettify this file and understand what is going on. Thanks for debugging, super helpful. 🥰

[2019-11-25 22:55] corinagum commented on #2610
Resolved by #2627

[2019-11-25 22:55] #2610 closed

[2019-11-25 23:32] #94 closed

[2019-11-25 23:35] #587 closed

[2019-11-25 23:37] #872 closed

[2019-11-25 23:43] corinagum commented on #1212
This is now available with the absolute timestamp style option. See #2295 for more details

[2019-11-25 23:43] #1212 closed

[2019-11-25 23:43] #1259 closed

[2019-11-25 23:44] #1296 closed

[2019-11-25 23:44] #1297 closed

[2019-11-26 00:14] #1428 closed

[2019-11-26 00:24] #1600 closed

[2019-11-26 03:22] WHJmaxne opened #2636 "Error during WebSocket handshake: Unexpected response code: 400"
![image](https://user-images.githubusercontent.com/24425190/69596784-bb9f0880-103e-11ea-9b4f-72eec3c2d75b.png)
![image](https://user-images.githubusercontent.com/24425190/69596818-de312180-103e-11ea-906f-7026fbb40825.png)

[2019-11-26 04:05] Kumar3010 opened #2637 "Change user avatar dynamically with out reload of webchat using bot.js and not react component"
As a user i need to change the user avatar dynamically with out reloading the web chat component. the web chat has to be loaded not using react component.
currently we can set the botavatar and useravatar in styleoptions and provide these are params to the web chat component. once the chat component gets loaded there is no way to change the avtars. we would like to change avatar with out reload of

[2019-11-26 08:54] cessareoo opened #2638 "Webchat deletes '0' from the beginning of a string"
When we type a string of number which the initial character is a zero, depending of string characters number, in the process of send the string to backend, is eliminated the initial zero.
[Bug]

[2019-11-26 09:17] stevkan commented on #2616
@ZaherAirout, can you post an example of the `result` object that you are passing to the `text` property?

Also, just verifying that you were using the v4.6.0 of Web Chat?

[2019-11-26 11:33] compulim opened #2639 "`aria-hidden` is expecting boolean, but passed as string"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/69626338-4bbc5e00-0ffd-11ea-9bfc-b0c5f0f75f3b.png)

## Version

`master`

## Describe the bug

In [`CarouselFilmStrip.js`](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/component/src/Activity/CarouselFilmStrip.js) line 134, it is passing string `"true"` to `<Bubble>`.

![image](https://user-images.g

[2019-11-26 17:27] corinagum commented on #2637
Hi @Kumar3010, Please see our [customize the Web Chat UI docs](https://github.com/microsoft/BotFramework-WebChat#customize-web-chat-ui). Recomposing the UI is unfortunately not supported in non-React Web Chat.

Please take future implementation questions to Stack Overflow. Thank you!

[2019-11-26 17:27] #2637 closed

[2019-11-26 18:10] corinagum commented on #2638
Please fill out our bug report form and include the requested information such as reproduction steps and Web Chat version so that we can help you with this bug.

[2019-11-26 18:14] corinagum commented on #2636
Please fill out our bug report form and include the requested information such as reproduction steps and Web Chat version so that we can help you with this bug.

[2019-11-26 18:51] corinagum commented on #2639
🤦🏻‍♀️

[2019-11-26 19:13] benbrown commented on #2562
@arman-g This is scheduled for our next release. Updates will be posted here!

[2019-11-26 19:14] benbrown commented on #2605
@vikramdadwal Any more info you can provide? Were you able to try the recommendation?

[2019-11-26 19:39] #2639 closed

[2019-11-26 22:28] corinagum opened #2641 "Reorganize the samples list"
proposed subsections: (parenthesis list current sample numbers that would belong in the new subsection)
- getting started (1,2,3, pre-12)
- styling and customization options (4,5,22)
- speech (6)
- custom components (7,8,9,10,11)
- programmatic changes (15,16,17,18)
- advanced web chat apps (12, 14, +)
  - SSO
- recomposing the UI (13,21)

[2019-11-26 23:34] compulim commented on #2633
Still investigating. I included part of the `postpreform.js` which polyfilled JavaScript `Date`. And I am seeing it.

Trying to scope down on what goes wrong.

[2019-11-26 23:48] stevkan commented on #2637
@Kumar3010, this is possible as a hack/work-around, but it does come with a couple styling caveats. First, there is a visible, though short, delay in the user avatar updating. The amount of delay is approximate to the amount of time it takes for the user's message to post. When the message posts, then the image is displayed. Second, because of the delay, the space the avatar is set to occupy is em

[2019-11-26 23:58] compulim commented on #2633
I found the discrepancies, `postpreform.js` polluted `Date.parse`.

In a standard browser:

[code]

With `postpreform.js`:

[code]

Can you confirm if this `postpreform.js` is added by Dynamics 365 but not any of your custom code running inside the portal?

If yes, I can escalate it to Dynamics 365 team, but it won't unblock you immediately.

Can you put an IFRAME to host Web Chat in a clean envir

[2019-11-27 00:21] vksantoshsunny commented on #2633
Thank you for your analysis. Yes it was added by the Dynamics 365 product but not any of out Web chat code. Please forward this request to fix the postpreform.js to Dunamics team. Thank you.

[2019-11-27 01:07] compulim commented on #2633
Sure, I will find internal contacts to forward the bug to.

The custom `Date.parse` is incompatible with the W3C standard. I doubt it can be fixed easily because of the broad impact.

BTW, can you host Web Chat on IFRAME to unblock?

[2019-11-27 01:30] vksantoshsunny commented on #2633
I am trying to do it the iFrame way so that the chat will be isolated from the postpreform.js script. Previously I have deployed a React component on to the dynamics portal. So now moving that to iframe would be a bit extra work and we are close to the release date. Are there any recommendations I should take if I am taking the iFrame approach.

[2019-11-27 02:37] compulim commented on #2633
You can try this hack, I am unsure if it will work or break any other Dynamics 365 Portal code.

If the input string contains letter "T", i.e. it is parsing an ISO-formatted time. Then use `new Date(str).getTime()`. Otherwise, use their original `Date.parse`.

[code]

[2019-11-27 02:45] vksantoshsunny commented on #2633
Does the React web chat component use any of the dates inside it?
If I am using the above script how do I make sure that my react component uses the above d365DateParse .
Where do I copy the above script? Could you please help.

[2019-11-27 03:23] compulim commented on #2633
It's difficult to guarantee what React component is using the browser's implementation.

The code will only guarantee, if it is parsing a date string with a letter T, it will return a number (instead of `null`).

I am new to Dynamics 365 Portal. Do you have any places to drop a `<script>` tag on the page?

[2019-11-27 04:25] vksantoshsunny commented on #2633
Hi

Yes we do have a script tag under which we are copying the  build version of the react component js.  Want to know how I can run the above hack

[2019-11-27 08:11] wal88 commented on #916
I'm also having problems with adaptive cards in IE 11. After downgrading to 1.0 adaptive cards it finally renders but AdaptiveTimeInput and AdaptiveDateInput don't work, they're just text inputs. I've tried directline with botchat-es5.js and also many different versions with iframe ("&v=0.14.0", also tried master, latest, 0.12.0, 0.13.0). I really need the time and date input to work as I don't wa

[2019-11-27 08:27] ZaherAirout commented on #2616
I'm using the [latest version of web chat](https://cdn.botframework.com/botframework-webchat/latest/webchat.js).
I'm sending the result as a JSON string.
like this code:
[code]
![image](https://user-images.githubusercontent.com/11921609/69706462-6fb49800-1100-11ea-82b3-63e84732e479.png)

[2019-11-27 08:58] compulim commented on #2633
Can you try add the script after `postpreform.js` is loaded?

[2019-11-27 10:23] narik1989 commented on #1571
Hi,

Is there any timeline expected for this feature to be available? Also till then can someone please provide me some help on how to customize the middle-ware for timestamp. I want to change the time from 24 hr format to 12 hour format. Any help would be appreciated.

Thanks
Kiran

[2019-11-27 11:06] prashanthsridhar commented on #2560
Hi @compulim, this is a major blocker for us. It will be really helpful if this is picked up ASAP.

[2019-11-27 21:52] vksantoshsunny commented on #2633
Sorry we are not in control to do the delay as above.. Is there any way I can control / swap the last two messages in the webchat react app..

[2019-11-27 22:48] compulim commented on #2633
Sorry there is no way to just swap two messages.

Web Chat need to sort activities when they arrive. We do insertion sort to minimize the cost.

The main reason we need to sort is because Direct Line channel to send messages out-of-order. If you look at the network traffic, you will see user's message come *later* than the bot's response. This OOO behavior is a design in the platform, similar to r

[2019-11-27 23:21] compulim commented on #2636
Since Chrome network tab do not report the actual response of 400 on WSS, can you use Fiddler or other debugging proxy to troubleshoot the problem?

I guess the problem is the language set to use for speech recognition is `zh`, instead of [supported languages](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support), e.g. `zh-CN`, `zh-HK`, and `zh-TW`.

[2019-11-28 02:39] stevkan commented on #2616
I'm not able to repro the issue. When I click the microphone and speak, I can do so uninterrupted (I even tested by speaking a long paragraph).

I also tested by speaking once followed immediately by another speech input. Both inputs registered along with the `SEND_MESSAGE_BACK` payload for each. Again, speech was not interrupted by waiting for keyboard input.

One thing I noticed is the number an

[2019-11-28 07:14] WHJmaxne commented on #2636
![image](https://user-images.githubusercontent.com/24425190/69784626-3019a900-11f1-11ea-9b36-f302ed8ede3b.png)
This is my code,Using subscriptionkey or authorizationtoken will get the same error,I set the language to zh-CN, but it is still zh at the time of request. How can I set the language? Thanks

[2019-11-28 07:28] WHJmaxne commented on #2636
When I use Firefox, everything is OK

[2019-11-28 19:41] cesarmoralesona commented on #2638
webchat version is the latest and Microsoft bot framework too. for example when is typed 01249790120

[2019-11-29 06:11] compulim opened #2643 "`core`: consider exporting our selectors from"
In `BasicTranscript.js`, we did not use `core`'s selector for selecting speaking activity. We should consider exporting those selectors.

[code]

[2019-11-29 11:47] nt-7 commented on #2636
Hi @WHJmaxne,
Could you try to add locale property as below when calling renderWebChat?

_locale: 'zh-CN'_

[code]

[2019-11-30 03:39] WHJmaxne commented on #2636
Add locale: 'zh CN' to get the same error

[2019-11-30 03:47] WHJmaxne opened #2645 "How to use azure.cn Cognitive Services Speech Services?"
🚨 The issue tracker is not for implementation questions 🚨

[Question]
How to use azure.cn Cognitive Services Speech Services?

[2019-11-30 21:42] tdurnford commented on #2645
'How to' questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat](https://stackoverflow.com/questions/tagged/web-chat) tag. Thank you!

[2019-12-01 04:58] nt-7 commented on #2638
I cannot reproduce it although I typed 01249790120 using the following Web Chat sample and some browsers like Firefox, Chrome...
https://microsoft.github.io/BotFramework-WebChat/01.a.getting-started-full-bundle/
![image](https://user-images.githubusercontent.com/20683785/69909661-ebd11780-1441-11ea-8b0e-8eb5aa040b15.png)

As @corinagum said, please fill out their bug report form such as reproducti

[2019-12-01 05:45] WHJmaxne commented on #2645
OK,Thanks

[2019-12-01 05:45] #2645 closed

[2019-12-01 07:47] manjunathangv opened #2646 "Bot not loading in Modern SharePoint online IE browser"
I verified #1824. I dint find any solution for this.
I'm using **/webchat-es5.js/** CDN.
Is there any solution for Bot not loading in IE but the same is getting loaded in Chrome and Edge.

`window.WebChat.renderWebChat({
                    directLine: window.WebChat.createDirectLine({ token: '---------' }),
                    userID: ID,
                    username:Uer',
                    loc

[2019-12-02 03:08] neilpalima opened #2647 "Warning on react prop `height` of type `string` supplied to `CroppedImage`"
## Screenshots

## Version

4.6.0

## Describe the bug

Using `botAvatarImage` in `styleOptions` or `styleSet` causes the warning.

Warning:
[code]

## Expected behavior
No warning

[2019-12-02 17:53] corinagum commented on #2636
@WHJmaxne thank you for filing this issue. Based on the information above I was able to reproduce on Mock Bot. I am adding the Investigate tag so our team can figure out what is causing the problem.

[2019-12-02 19:43] samazadi commented on #2611
Any update on these hooks?

[2019-12-02 20:27] corinagum commented on #2646
Hi @manjunathangv, could you post all of your HTML? Based off of the errors I would say that perhaps the CDN is not linked correctly. Latest bits seem to be working fine, though not tested in SharePoint.

[2019-12-02 20:34] corinagum commented on #2647
@neilpalima, I believe this is a syntax error where instead of `'90px'` (for example, you want to provide `90`. This is due to [glamor](https://github.com/threepointone/glamor/blob/master/examples/css.js) syntax, which is slightly different from CSS. If you turn the string into a number, the error should be resolved.

Just to be sure, could you share your code in both instances (`styleOptions` and

[2019-12-02 20:49] corinagum commented on #2562
@arman-g, sorry for the delay in getting back to you on this. Unfortunately I haven't been able to reproduce this problem on Mock Bot.

![image](https://user-images.githubusercontent.com/14900841/69994023-d4f1fa00-1501-11ea-8c4f-ebda78ff9db9.png)

Is your bot hosted somewhere that I can test for reproduction purposes? Or would you be able to provide me temporary access to the bot? Please feel free

[2019-12-02 20:56] corinagum commented on #2611
@samazadi sorry for the delay. I am very hopeful that hooks will be fully implemented before the end of this week. We will circle back to this sample once the final PRs are in.

[2019-12-02 21:01] samazadi commented on #2611
Sounds good, thanks you! :)

[2019-12-02 21:31] corinagum commented on #2562
@arman-g scratch my notes above; I was able to reproduce this problem!

![image](https://user-images.githubusercontent.com/14900841/69996919-e50cd800-1507-11ea-9c24-7e3fecfef1bc.png)

I still haven't found the cause, but I am investigating. For now, all I know is that the absolute time is still accurate (based off of the aria-label), but the relative time component may be causing the issue.

[2019-12-02 22:32] compulim opened #2650 "Show a warning when using styleSet because of potential DOM tree change"
## Feature Request

We should consider adding a warning to dev build if developers are using `styleSet` to customize. This is because our DOM tree is inherently unstable. E.g. accessibility fixes would requires us to change it drastically.

[Enhancement]

[2019-12-02 22:35] corinagum opened #2651 "es5 bundle needs ends-with package from corejs"
## Describe the bug
This bug was originally filed internally. IE11 fails and needs another polyfill

Fix: add https://github.com/zloirock/core-js/blob/master/packages/core-js/features/string/ends-with.js to index-es5.ts

[Bug]

[2019-12-02 22:36] tdurnford commented on #2595
@leolorenzoluis It sounds like we are going to patch the timestamp on incoming activities if it's missing.

[2019-12-03 00:18] leolorenzoluis commented on #2595
@tdurnford But the timestamp is not missing in this case.

[2019-12-03 01:58] rambabuk1222 commented on #2607
I have tried your suggestions. This time webchat is able to get token and region from my api and I saw microphone icon is enabled. When I try to speak it is giving some javascript errors as shown in the screenshot below.

![image](https://user-images.githubusercontent.com/12018103/70013661-4e283600-1570-11ea-8678-38ae69d19129.png)

![image](https://user-images.githubusercontent.com/12018103/700135

[2019-12-03 02:25] neilpalima commented on #2647
@corinagum , I used this in styleOptions
[code]

what should be the correct way?

[2019-12-03 02:29] compulim opened #2653 "Test reliability: `useScrollToEnd.js`"
## Feature Request

Improves test reliability for `useScrollToEnd.js` test "calling scrollToEnd should scroll to end".

The highlighted line is timing out.

It could be because `scrollToBottomCompleted` condition check is not effective if it is running immediately after the activity is being shown.

![image](https://user-images.githubusercontent.com/1622400/70015243-a429b900-1531-11ea-988c-54a0a05

[2019-12-03 03:01] compulim commented on #2345
All hooks are merged and 100% of production code internally use hooks instead of HOC. 🎉🙌🏻🍾🥂

[2019-12-03 03:01] #2345 closed

[2019-12-03 03:34] arman-g commented on #2562
I see you are able to produce the problem after all. To your questions:
1. No there are no console warnings.
2. Yes it is a new bot that is in development.

[2019-12-03 08:13] corinagum commented on #2647
The code above doesn't produce a warning when I test it. What does your icon variable look like? Based on the warning, it looks like you might have been trying to establish dimensions, is that correct?

The following code applies an avatar for the bot:

[code]

Please give me more detail on what you are trying to achieve and I'll do my best to help. :)

[2019-12-03 08:16] corinagum commented on #2562
@arman-g the triangles are bubble nubs. You can take a look at `packages\playground\src\App.js` to see how they are implemented. :)

No progress yet on finding cause. I'll continue to investigate.

[2019-12-03 12:57] neilpalima commented on #2647
It was just an imported icon like this

[code]

even after using the styleOptions you used on my end, I can still get the error.

[2019-12-03 13:08] neilpalima commented on #2647
using `bubbleBorderWidth: ''` causes a warning as well.

[code]

[2019-12-03 13:23] keremcubuk commented on #2647
Hi, I'm having same issue. When I try to use `botAvatarImage` like below. I'm getting `CroppedImage` warning.

[code]

Error:
![Screen Shot 2019-12-03 at 16 20 06](https://user-images.githubusercontent.com/29661833/70054547-d4805e80-15e8-11ea-8b5d-00fc489410e1.png)

[2019-12-03 15:33] Curiousite opened #2655 "Race condition: "Taking longer than usual to connect""
## Version
NPM: "botframework-webchat": "^4.6.0"

## Describe the bug
When Web-chat loses connection to the server but connection is reestablished within 15 seconds (before the "Taking longer than usual to connect" message is shown) then the message will appear after the chat is connected again and never disappear.

The error appears to originate from a call to "sleep" within detectSlowConnectionS

[2019-12-03 17:18] #2651 closed

[2019-12-03 18:53] corinagum opened #2657 "New Mockbot commands"
- Markdown image
- Split markdown command into multiple
[Enhancement]

[2019-12-03 19:03] #1944 closed

[2019-12-03 19:07] corinagum opened #2658 "IE11 does not respect max-width of markdown images"
Related to #1944

## Steps to reproduce

1. Open a bot in IE11
1. Use a bot that sends a markdown image to the user
1. Note that there's a large gap above the sendbox

## Expected behavior

Image should not cause empty space after commands.

## Additional context

[Bug]

[2019-12-03 19:20] cwhitten commented on #2655
Hi @Curiousite. Thank you for the issue and the contribution! We'll review the pull request soon. See #2656 for updates.

[2019-12-03 20:50] corinagum commented on #2647
What browser(s) are you using? Could one of you provide a URL to a bot that exhibits this behavior? Thank you.

[2019-12-03 22:11] #2658 closed

[2019-12-03 23:14] corinagum commented on #2605
Closing due to inactivity.

[2019-12-03 23:17] tdurnford commented on #2605
@corinagum we are still investigating this issue, so we are not ready to close it yet.

[2019-12-04 00:47] compulim commented on #2340
This work should be done on docs.microsoft.com, not Web Chat repos. We filed here to track the work for the docs team.

[2019-12-04 00:55] Kaiqb commented on #2340
It references the samples. Which samples?

[2019-12-04 01:10] compulim commented on #2340
https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-webchat?view=azure-bot-service-4.0

For example, in this article, it is showing Web Chat v1. There are few things it could be updated:

- Update the screenshot, because IFRAME should be showing v3 by default
- The embed script is hosting Web Chat v3, but latest version of Web Chat is v4 (4.6.0)

https://docs.microsoft.c

[2019-12-04 04:09] compulim opened #2660 "DLSpeech: Stop renewing token if the connection has ended"
## Feature Request

Related to DLSpeech, `/packages/directlinespeech/src/createAdapters.js` line 122. If the dev passed an token, we will renew it every 2 minutes.

Today, we don't have a way to detect if the connection is dropped and renewal should be stopped.

We should ask the Cognitive Services team for an event (e.g. authorization failed) and implement the stopping mechanism.

[Enhancement]

[2019-12-04 04:16] compulim opened #2661 "[Tracking] DLS: Use continuous mode when Speech SDK support it"
## Feature Request

In Web Chat, internally, we use continuous mode for speech recognition.

Since Speech SDK does not support continuous mode (a.k.a. `startContinuousRecognitionAsync` function), it only support interactive mode (a.k.a. `listenOnceAsync`), we polyfill-ed the `startContinuousRecognitionAsync` using `listenOnceAsync`.

We should ask Speech SDK to support continuous mode and use it i

[2019-12-04 04:24] compulim opened #2662 "DLSpeech: User ID cannot be specified"
## Feature Request

Currently, we cannot specify user ID for the Direct Line Speech session.

Speech team is working to enable custom user ID. This is a tracking bug for them.

Code at `/packages/directlinespeech/src/createAdapters.js`.

[Enhancement]

[2019-12-04 04:28] compulim opened #2663 "DLSpeech: Read receipt for outgoing message"
## Feature Request

Currently, Direct Line Speech do not ACK any outgoing message, including recognized speech or simple text message.

Since outgoing activities are not ACK-ed, we do not have the activity ID or the correct timestamp.

We workaround it by timestamping all incoming activities with local timestamp, and faking a read receipt (a.k.a. echo back activity).

Code at `/directlinespeech/sr

[2019-12-04 05:36] manjunathangv commented on #2646
Hi @corinagum ,its a SPFX build. I have include the link and its working good in chrome and Edge.

[2019-12-04 05:47] compulim opened #2664 "DLSpeech: Support abort recognition"
## Feature Request

Today, Speech SDK do not support abort recognition, a.k.a. `stopContinuousRecognitionAsync`.

The `stopContinuousRecognitionAsync` in the Speech SDK can be used to stop both continuous mode (a.k.a. `startContinuousRecognitionAsync`) and interactive mode (a.k.a. `listenOnceAsync`).

[Enhancement]

[2019-12-04 06:42] compulim opened #2665 "Clearing DirectLineJS responsibility"
## Feature Request

Today, some of Web Chat code is used to clean up the result from DLJS. We should clearing up these responsibilities and put them back to DLJS, or put it in a shim that wrap DLJS.

This is the list of responsibilities we should move to DLJS. This issue will be expanded into multiple work items:

- Rectifying user ID
   - In `connectSaga.js`, we will tell downstreamer (on CONNECT

[2019-12-04 10:28] compulim opened #2666 "DLSpeech: Not synthesizing on Safari (Mac and iOS)"
## Version

`feat-dlspeech` or `master`

## Describe the bug

Safari requires audio buffer of 22100 Hz or larger. But Cognitive Services return PCM at 16000 Hz only.

We need to upscale it to 22100 Hz or 32000 Hz.

## Steps to reproduce

1. On iOS, try out Direct Line Speech sample
1. Say "What's the weather" to the bot

## Expected behavior

The bot should synthesize this "This is the forecast fo

[2019-12-04 13:50] keremcubuk commented on #2647
I'm using Google Chrome and Internet Explorer 11. I haven't a public project for showing the error.

[2019-12-04 17:31] corinagum commented on #2646
This is IE11, correct? What version of Web Chat are you using?

[2019-12-04 17:47] manjunathangv commented on #2646
Yes IE11.
I tried master, latest and 4.5.3 webchat versions.

[2019-12-04 17:58] corinagum commented on #2647
reassigning to @tdurnford to help load balance me a little. Thanks for the help

[2019-12-04 18:00] corinagum commented on #2646
`master` is deprecated, so there's no longer a need to test that CDN. :) If you want latest bits, you can build Web Chat and use any of the bundles in `packages/bundles/dist/`

Could you post your code so I can take a look? Thank you!

[2019-12-04 18:45] arman-g opened #2667 "Request: Add bubble nub to attachments"
##
Right now, attachments (carousel, adaptive card, image, etc) will not show a bubble nub even when bubblenub is enabled. This is by design. The request is to enable the user to choose to include a nub on the attachments or not.

---

## Screenshots

![nub](https://user-images.githubusercontent.com/22778273/70170641-ed891e00-1681-11ea-82b9-6023c7a0fd4b.PNG)

## Version

CDN v4.6.0

## Describe th

[2019-12-04 20:38] drparam commented on #2607
Appreciate any update on this JS error.

[2019-12-04 21:17] arman-g commented on #2562
@corinagum I added more information about my findings.

[2019-12-04 21:18] arman-g commented on #2667
@corinagum I added more information about my findings.

[2019-12-04 21:53] corinagum commented on #2667
ah! @arman-g your investigations are exactly what we needed :) I thought they weren't working for any from-bot activities.

When implementing the bubblenub feature, the design decision was to *not* include attachments as having a bubblenub. This means that any kind of activity that is considered an attachment (carousel, adaptive card, image, herocard) will not show a nub, and is not intended to. A

[2019-12-04 22:17] #2571 closed

[2019-12-04 22:17] #2572 closed

[2019-12-04 22:17] #2574 closed

[2019-12-04 22:43] arman-g commented on #2667
Thanks for the update. I understand that it is by design but this is not solving my problem since we can't have bubble nubs show on some and not show for the others. This means I have to create it manually which defeats purpose of having this option. Not sure if this decision was made before adaptive cards came out but for sure it needs rethinking. Anyways I opt to this future, thank you.
+1

[2019-12-05 00:52] srinaath opened #2668 "getUserMedia Support on network address"
## Screenshots
![UserMedia](https://user-images.githubusercontent.com/13004779/70193787-17a80380-16b5-11ea-99fd-2be41c9c55ce.png)

![network address](https://user-images.githubusercontent.com/13004779/70194019-e3811280-16b5-11ea-9ebf-98eec980800c.png)

## Version
Master Branch Latest Bits

## Describe the bug
Directline Speech icon click works fine on localhost whereas on the network URL served it

[2019-12-05 01:05] compulim commented on #2668
Is it because microphone access to the browser is blocked?

[2019-12-05 04:05] corinagum commented on #2668
I am able to repro, and no my browser had microphone permissions.

[2019-12-05 06:05] manjunathangv commented on #2646
@corinagum
PFA screenshots.

![2](https://user-images.githubusercontent.com/54570517/70208156-cea68c80-1752-11ea-829f-5a08d5ca9669.png)
![1](https://user-images.githubusercontent.com/54570517/70208157-cea68c80-1752-11ea-87b4-964faf9d7e21.png)

[2019-12-05 07:23] ShikhaMishra11 opened #2669 "[Accessibility][Screen Readers][bot name - Test in Web Chat]: Screen reader is not providing the descriptive information when focus is on "New Messages" button."
Original: https://github.com/microsoft/BotFramework-Emulator/issues/1978

**User Impact:**
Users who depends on screen reader will get confuse if screen reader is not providing the descriptive information when focus is on "New Messages" button.

**Test Environment:**
OS: Version: 1903(OS Build 18956.1000)
URL: https://ms.portal.azure.com/#@microsoft.onmicrosoft.com/resource/subscriptions/8d5ceb22-

[2019-12-05 09:55] compulim commented on #2668
Is it because http vs https?

Browser don't offer media recording capability when web page is served over HTTP instead of HTTPS.

[2019-12-05 12:14] wal88 commented on #2614
I have a need to scroll down the messages when the user has scrolled up. I tried the workaround but it's not ideal at all. For most messages, it scrolls the whole page so that the last message from the bot is at the top of the browser. Suddenly the whole chat is out of view except the latest message so this isn't practical.
![image](https://user-images.githubusercontent.com/28649222/70234448-1a206

[2019-12-05 12:40] deepanigi opened #2670 "Suggestive Actions within Waterfall Dialog not getting triggered ?"
## Screenshots
![image](https://user-images.githubusercontent.com/31543067/70235880-200b4780-1764-11ea-8f07-975eec249d7d.png)

## Version
4.6.0
Using directline to use in website

## Describe the bug
I am trying to trigger a waterfall dialog during the intro of the bot session. I want to show a few suggestive card options along with an intro and use waterfall to follow those steps. But unfortunate

[2019-12-05 15:50] tdurnford commented on #2670
'How to' questions such as this one are better suited for Stack Overflow, and since you’ve already asked this question on Stack Overflow, I’m going to close this issue. One of the Bot Framework Support Engineers will help you address your [question](https://stackoverflow.com/questions/59198495/suggestive-actions-within-waterfall-dialog-not-getting-triggered?r=SearchResults) there.

[2019-12-05 15:50] #2670 closed

[2019-12-05 17:37] corinagum commented on #2646
Could you share the code you use to fetch the token? If that code has arrow functions, they won't work in IE11.

[2019-12-05 19:16] corinagum commented on #2668
@gabog, @srinaath is a team member xD Removing tags

[2019-12-05 21:04] compulim commented on #2646
@manjunathangv do you see any console errors that prevents `webchat-es5.js` to be loaded?

[2019-12-05 21:23] compulim opened #2672 "DLSpeech: Using in Firefox put Web Socket in infinite reconnection loop"
This is a tracking bug.

## Version

`master`, not on production yet.

## Describe the bug

Firefox default language ID to `en` instead of `en-US`.

Since Cognitive Services do not support `en`, but `en-US` and `en-GB`, thus, it error-ed out.

Speech SDK keep reconnecting whenever their service return error.

## Steps to reproduce

This can be reproduced on any browsers with unsupported language i

[2019-12-05 21:26] compulim opened #2673 "DLSpeech: Spamming microphone button will cause Speech SDK to stop working"
## Version

`master`, not on production yet.

## Describe the bug

When the user keep spamming the microphone button, the engine may stop. Requires <kbd>F5</kbd> to resume.

## Steps to reproduce

1. Open `06.i.direct-line-speech` sample
1. Click on microphone button
1. While it is recording, keep spamming the button and say "Testing"
1. Keep spamming the button for extended time after recognition

[2019-12-05 21:56] corinagum commented on #2646
@compulim I believe we've established previously that SharePoint doesn't report Web Chat's errors. However, still a good question, especially if I'm wrong and there are errors xD

[2019-12-05 22:15] p-nagpal opened #2674 "[Docs] Remove references to version parameter (v=) in Embed docs since it will be deprecated"
## Screenshots

n/a

## Version

n/a

## Describe the bug

Remove references to version parameter (v=) in Embed docs since it will be deprecated. The recommended way to pin to a webchat version is to use the CDN based webchat.

## Steps to reproduce

n/a

## Expected behavior

n/a

## Additional context

n/a

[Bug]

[2019-12-06 00:34] murcinar opened #2675 "Accessibility - CardActions not supporting alt text for images and buttons."
## Screenshots

![image](https://user-images.githubusercontent.com/58231579/70285350-0f66cb80-177c-11ea-9a68-164877efc52e.png)

## Version

Microsoft Bot Framework v4:
Microsoft.Bot.Builder 4.6.2 Nuget package

## Describe the bug

Through Accessibility Scan, we have received the following issues where we could not found a solution to implement using Bot Framework PromptOptions:
**Issue descriptio

[2019-12-06 05:07] corinagum commented on #2675
https://github.com/microsoft/BotFramework-WebChat/pull/2613

Using PromptOptions doesn't have a direct impact on the accessibility of what's rendered in Web Chat. A PR has already been merged to make Suggested Actions accessible, and will be a part of the December 10 release.

[2019-12-06 06:29] manjunathangv commented on #2646
@corinagum , I have hard coded the token value.

Atleast, i should see **window.Webchat**, **window.renderWebChat**  in IE browser console but Chrome i can see.

I tried loading below script also,I'm seeing window object with **renderWebChat** & **Webchat** in chrome and other IE sites. but only in SharePoint site where i deployed custom bot, i'm facing this issue.

`var cdnScript = document.creat

[2019-12-06 06:37] jvanderbiest commented on #2614
@wal88 depends on your page layout. Try without selecting the `lastChild` on the `ul` element
`document.querySelector('ul[role="list"]').scrollIntoView({behavior: 'smooth', block: 'start'});`

[2019-12-06 07:16] yogimogi opened #2676 "To use WebChat with complete on-premise deployment of Bot Framework"
Hello,
We want to have a 100% on-premise deployment of a MS Bot Framework based bot to be used with BotFramework-WebChat channel.
Consider we have written our bot using Python MS Bot Framework SDK. We were thinking of adding WebSocket support to Django based bot and BotFramework-WebChat can talk to this end-point as opposed to  directline.botframework.com.
Are there any plans/sample code where we

[2019-12-06 07:48] compulim commented on #2676
Hi @yogimogi,

As long as you can write an adapter for your Django-based bot with the interface defined here ([`BotConnection`](https://github.com/microsoft/BotFramework-DirectLineJS/blob/master/src/directLine.ts#L383)), you can pass it to Web Chat (as `directLine` option) and it will just work. You will need to translate from our `IActivity` to your message structure. Internally, we have few prot

[2019-12-06 07:48] #2676 closed

[2019-12-06 08:52] compulim opened #2677 "DLSpeech: Reconnect will send another `conversationUpdate` activity"
## Feature Request

After idling for 5 minutes, the Web Socket connection will be disconnected. If the client is still active, we will try to reconnect. On every reconnect, a `conversationUpdate` activity will be sent.

[Enhancement]

[2019-12-06 08:53] compulim opened #2678 "[Tracking] DLSpeec: Text normalization option is not supported"
## Feature Request

Currently, there is no options to specify different text normalization options, including inverse text normalization (ITN), masked ITN, lexical, and display.

[Enhancement]

[2019-12-06 08:54] compulim opened #2679 "[Tracking] DLSpeech: Page refresh will start a new conversation"
## Feature Request

Web Chat do not persist conversation information (conversation ID and connection ID). Thus, on every page refresh, the conversation will be created as a new conversation.

[Enhancement]

[2019-12-06 08:55] compulim opened #2680 "[Tracking] DLSpeech: Cannot piggyback additional data for speech recognition"
## Feature Request

When using text-based experience, we allow developers to piggyback additional information to outgoing messages. This is demonstrated in [sample 15.a "piggyback data on every outgoing activity"](15.a.backchannel-piggyback-on-outgoing-activities).

With Direct Line Speech, you can no longer piggyback additional data to all speech-based outgoing activities.

[Enhancement]

[2019-12-06 08:56] compulim opened #2681 "[Tracking] DLSpeech: Cannot switch recognition language on-the-fly"
## Feature Request

You can only specify speech recognition language at initialization time. You cannot switch speech recognition language while the conversation is active.

[Enhancement]

[2019-12-06 08:57] compulim opened #2682 "[Tracking] DLSpeech: Proactive message is not supported"
## Feature Request

[Proactive message](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message?view=azure-bot-service-4.0&tabs=csharp) is not supported when using Direct Line Speech.

[Enhancement]

[2019-12-06 08:57] compulim opened #2683 "[Tracking] DLSpeech: Emulator is not supported"
## Feature Request

Currently, Emulator only support Direct Line protocol. We are planning to add Direct Line Speech protocol to Emulator.

[Enhancement]

[2019-12-06 08:58] compulim opened #2684 "[Tracking] DLSpeech: Custom Speech is not supported"
## Feature Request

Custom Speech is a feature for developers to train a custom speech model to improve speech recognition for uncommon words. This is not supported when using Direct Line Speech.

[Enhancement]

[2019-12-06 08:59] compulim opened #2685 "[Tracking] DLSpeech: Dynamic priming is not supported"
## Feature Request

Dynmic priming (a.k.a. pharse list) is a feature to improve speech recognition for words with similar pronunciations. This is not supported when using Direct Line Speech.

[Enhancement]

[2019-12-06 08:59] compulim opened #2686 "[Tracking] DLSpeech: Reference grammer ID is not supported"
## Feature Request

Reference grammar ID is a feature to improve speech recognition accuracy when pairing with LUIS. This is not supported when using Direct Line Speech.

[Enhancement]

[2019-12-06 09:00] compulim opened #2687 "[Tracking] DLSpeech: Custom Voice is not supported"
## Feature Request

Custom Voice is a feature for developers to perform synthesis using a custom voice font. This is not supported when using Direct Line Speech.

[Enhancement]

[2019-12-06 09:01] compulim opened #2688 "[Tracking] DLSpeech: Synthesis audio quality is not configurable"
## Feature Request

When using Direct Line Speech, you cannot specify the audio quality and format for synthesizing speech.

[Enhancement]

[2019-12-06 09:01] compulim opened #2689 "[Tracking] DLSpeech: Attachments are not synthesized"
## Feature Request

Attachments are not synthesized. The bot should provide a `speak` field for speech synthesis.

As attachments are not synthesized, `speak` property in Adaptive Cards are ignored. The bot should provide a `speak` field for speech synthesis.

[Enhancement]

[2019-12-06 10:06] compulim opened #2691 "Test reliability: `textbox.js`"
## Feature Request

On every test reliability problems, please copy-and-paste the log here.

### `useTextBox.js`

#### Log

[code]

#### Screenshot

![image](https://user-images.githubusercontent.com/1622400/70314782-06521a80-17cd-11ea-9520-ca4d7f8483fb.png)

[Enhancement]

[2019-12-06 10:17] compulim opened #2692 "Rename sample 17.chat-send-history to 17.a.chat-send-history"
## Feature Request

Rename sample `17.chat-send-history` to `17.a.chat-send-history`, because we have `17.b.clear-after-idle`.

After renaming the folder, modify these files:

- `/CHANGELOG.md`
- `/lerna.json`
- `/README.md`
- `/samples/17.a.chat-send-history/package.json`
   - Modify `homepage`
- `/samples/17.a.chat-send-history/README.md`
- `/samples/README.md`
- `/scripts/deploy_pages`

[Enhanc

[2019-12-06 19:08] corinagum commented on #2677
This seems like a bug, is that not true?

[2019-12-06 21:29] #2662 closed

[2019-12-06 21:29] #2666 closed

[2019-12-06 21:31] stevkan commented on #2616
Closing due to lack of activity. If this continues to be an issue, please feel free to reopen adding any new details you can supply.

[2019-12-06 21:31] #2616 closed

[2019-12-06 21:37] corinagum commented on #2560
@prashanthsridhar, sorry for the delay. I've managed to test both custom voice and custom speech and do not encounter any errors. Could you provide more detail about your Cognitive Services set up so that we can try to reproduce the problem? First it would be great if you could clarify which is causing you issues, since your bug reports custom voice originally, but you are using both in your examp

[2019-12-07 00:41] lzc850612 opened #2693 "[DLS] OAuth card SignIn button doesn't work"
currently when a bot enables speech channel, the OAuthCard that renders comes with a SignInLink that's retrieved on the bot side. When clicking on SignIn button it only opens up a blank page. I checked the network trace and the SignInLink is returned so WebChat should open the SignIn page.

## Screenshots

## Version

## Describe the bug

## Steps to reproduce

1. Setup a bot with DLS enabled. Cre

[2019-12-07 03:42] corinagum opened #2694 "Uncaught (in promise) bug on samples"
This doesn't prevent the app from running, but the console is showing an Uncaught error.
## Screenshots

![image](https://user-images.githubusercontent.com/14900841/70364551-d09b4900-1841-11ea-8af2-8f316063d91b.png)

## Version
latest bits

## Describe the bug

## Steps to reproduce

1. Open any sample
1. check the console

## Expected behavior
should not show a console error

## Additional contex

[2019-12-07 04:40] compulim commented on #2646
In the console log, do you see any warnings or errors when the script is loaded?

[2019-12-07 04:42] prashanthsridhar commented on #2560
Hi @corinagum, we are using both.The issue that we faced was with custom speech

[2019-12-08 05:10] wal88 commented on #2614
@jvanderbiest, thanks for help. I tried that and it's scrolling to the top of chat div which is good, but also scrolling to the beginning of the messages. I think it might be work for most people because they have it absolute position in the corner but I'm embedding it in the page (using webchat not iframe)

[2019-12-08 09:39] wal88 commented on #2614
Finally found something that works. The div that scrolls is parent to it and I just scroll that div to its scrollHeight which seems to work well, it doesn't scroll the page only the webchat. This is what I'm using:

			{},
			({ dispatch }) => next => action => {
				if (action.type === 'DIRECT_LINE/POST_ACTIVITY_FULFILLED') {
					var scrollDiv = $('ul[role="list"]').first().parent();
					scroll

[2019-12-09 11:06] prashanthsridhar commented on #2560
Hi @mountju , did you get a workaround or are you still facing the issue? Are you using it in an angular app as well?

[2019-12-09 12:53] sw353552 commented on #2427
Is there an update on this yet?

[2019-12-09 12:54] mountju commented on #2560
hi @prashanthsridhar
I'm using it in Angular App as well

[2019-12-09 17:50] arman-g opened #2697 "Adaptive media does not start after play button click - Safari browser"
## Screenshots

After adaptive media load:
![Inkedpre-play](https://user-images.githubusercontent.com/22778273/70458213-7d561000-1a66-11ea-9e63-cb1a2266d2f1.jpg)

After play button clicked:
![Inkedafter-button-click](https://user-images.githubusercontent.com/22778273/70458264-9ced3880-1a66-11ea-897a-76701a201055.jpg)

## Version

CDN v4.6.0
iPhone

## Describe the bug

After clicking the play butt

[2019-12-09 18:00] tdurnford commented on #2697
@arman-g Can you please add the JSON for your Adaptive Card?

[2019-12-09 18:06] corinagum commented on #2560
@prashanthsridhar it would be great if you could check out the latest bits. Please check out our `Contributing.md` guidelines, which will tell you have to build the project. After you run `npm build`, you can take out the webchat file from `packages/bundle/dist/` and link that in your app to test latest bits.

Since you are both using Angular, we'll add that to the list of possible reasons that th

[2019-12-09 18:07] corinagum commented on #2427
No update yet :)

[2019-12-09 18:17] arman-g commented on #2697
Added, thanks.

[2019-12-09 19:01] corinagum opened #2698 "Accessibility: Fix incorrect role / New messages button (from Emulator repo)"
This is a duplicate of #2669. Closing this issue.

**Actual Result:**
The chat boxes are defined in the list but they are not accessible by up/down arrow key whereas they are accessible by tab only, due to tab access on each chat boxes the user will not be able to reach "New Message" button.

**Expected Result:**
The chat boxes should be accessible by up and down arrow and on pressing tab from cha

[2019-12-09 19:20] #2692 closed

[2019-12-09 21:06] tdurnford commented on #2697
@arman-g Where is your video hosted - YouTube, Vimeo, self-hosted?

[2019-12-09 21:20] #2674 closed

[2019-12-09 22:17] arman-g commented on #2697
It is self hosted.

[2019-12-09 22:17] compulim commented on #2693
@lzc850612 Could you finish up the repro steps?

[2019-12-09 22:21] corinagum commented on #2633
@compulim I'm going to reopen this issue and label it as blocked. I think other users may come across this problem, and we'll want them to be able to find this information relatively easily. I think it's also a good idea for us to track the problem, so in the future we can approach Dynamics with more data if there are more people affected by this problem.

[2019-12-09 22:49] arman-g commented on #2697
@tdurnford just curios how do you use YouTube in a adaptive media?

[2019-12-10 00:44] tdurnford commented on #2697
@arman-g When I reproduce your issue it looks like the video is taking a long time to load. If you let the chat sit for a couple of minutes, does the video start to play? I'll need to investigate further if this is a Web Chat, Adaptive Card, or video hosting issue.

 I'm not sure if Adaptive Cards supports YouTube Media; however, Web Chat supports Video Cards that support both YouTube and Vimeo Vi

[2019-12-10 01:57] compulim opened #2699 "[DLS] Bundle not working in IE11"
## Version

`master`

## Describe the bug

Bundle do not work with IE11 because we bundled `abort-controller` and `p-defer`, which both of them does not have ES5-compatible code referenced in their package. We need to adopt them manually.

## Steps to reproduce

1. Open full bundle sample with IE11

## Expected behavior

All bundle should work under IE11.

## Additional context

[Bug]

[2019-12-10 02:01] compulim opened #2700 "<SayComposer> and Adaptive Cards are not working when recomposing UI"
## Feature Request

Today, while developers are recomposing our UI, they cannot use `<SayComposer>` and Adaptive Cards because the DOM architecture doesn't allow them to do.

This is uncovered while we are working on Smart Display sample, which we recompose Web Chat UI with speech and Adaptive Cards.

[Enhancement]

[2019-12-10 02:06] compulim commented on #2573
Fixed in #2621.

[2019-12-10 02:06] #2573 closed

[2019-12-10 05:14] compulim opened #2701 "4.7.0/4.7.1 Release checklist"
# Checklist

## Build

1. [x] Bump to Bot Framework SDK release 4.7 RC4
   - https://botbuilder.myget.org/feed/botbuilder-v4-js-daily/package/npm/botbuilder
1. [x] ~Update all samples to use `4.7.0`~
   - Moved to post-release checklist
1. [x] Update `CHANGELOG.md` to mark specific changes in `4.7.1`
1. [x] Run `npm version --no-git-tag-version 4.7.1`
   1. [x] Merge into `master`, the PR number i

[2019-12-10 05:15] arman-g commented on #2697
@tdurnford on desktop using chrome, edge or firefox it works as excepted. Starts playing as soon the overlay play button is clicked. The problem happens on iPhone and I am not sure if this is a safari problem or iPhone. One think for sure, on iPhone when you play a video it automaticly goes to full screen. I think it has something to do with this. I mean maybe in order for this to work on iPhone w

[2019-12-10 06:50] sw353552 commented on #2427
Is there a workaround for this?

[2019-12-10 07:47] #2699 closed

[2019-12-10 07:47] #2700 closed

[2019-12-10 10:10] compulim opened #2702 "Android: playback of audio muted when recording is ending"
## Version

`master`

## Describe the bug

This applies to Android 10 and is platform-specific. It also applies to any web apps which is not using Web Chat.

In Chrome or Edge on Android 10, speech synthesis could be interrupted by speech recognition. For example, when speech recognition stopped and speech synthesis start immediately, the synthesis could be muted for 1-2 seconds.

## Steps to repr

[2019-12-10 13:54] prashanthsridhar commented on #2560
Hi @corinagum ,i compiled the js file from the repo  and used it in my app. The issue still exists.

[2019-12-10 18:39] tdurnford opened #2703 "iOS Safari: Timestamp font size on carousel layout is larger than font size on stacked layout"
## Screenshots

![img](https://user-images.githubusercontent.com/17039790/70558005-dd1ceb80-1b38-11ea-8b47-6af23f55030c.png)

## Version
Local build from Master

## Describe the bug

## Steps to reproduce

1. Open Web Chat on iOS Safari
1. Send `layout single` and `layout double` twice to Mock Bot
1. The timestamp on the `layout double` response should be larger than the other timestamps

## Expec

[2019-12-10 18:47] arman-g commented on #2427
@sw353552 I hide the sendbox with jQuery on the host app. There are tree very important middlewares that are not documented anywhere which you could possibly use for this. I use CDN and those middlewares are essential for me to interact with chatbot activity. Below is the list of the middlewares:

- activityMiddleware

- cardActionMiddleware

- attachmentMiddleware

my implementation below using a

[2019-12-10 22:21] drparam commented on #2607
Hi @stevkan or any other members, could you please look into this error and further advise. Waiting for some time.
Regards

[2019-12-11 07:58] rvallireply commented on #2570
Hello,
I have the same problem, how did you solve this? how/where do you specify the encoding for the json?
thanks

[2019-12-11 09:57] vishnuramero commented on #2560
I'm also facing the same issue, compiled the js file from the repo and used it in my app.

[2019-12-11 11:48] neilpalima commented on #2647
Did you guys able to replicate the issue? Unfortunately, I cannot provide a URL.

[2019-12-11 13:45] dkonyayev commented on #2570
In our case we load our bot expressions from JSON file, and we were reading that JSON file with incorrect encoding. Had nothing to do with bot. However, the web page where webchat is hosted must have meta tags for UTF8

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

[2019-12-11 14:06] rvallireply commented on #2570
I set those meta in head, but nothing changes. The question marks appears anyway.
Like you we have bot responses in JSON files, we have two languages too, one is english and the other italian with accented letters. How/where do we correct the encoding?

[2019-12-11 14:41] dkonyayev commented on #2570
Here's roughly what I am doing. The encoding part is what we were missing.

using (var stream = GetType().Assembly.GetManifestResourceStream(resource))
                {
                    using (var reader = new StreamReader(stream, **Encoding.GetEncoding("iso-8859-1"))**)
                    {
                        json = reader.ReadToEnd();

                    }
                }

[2019-12-11 15:09] rvallireply commented on #2570
that's actually quite unrelated with our code...thanks anyway

[2019-12-11 18:12] arman-g commented on #2697
@tdurnford My farther test shows that this happens on Safari browser only. So this is not a iPhone issue but Safari.

[2019-12-11 18:46] #2582 closed

[2019-12-11 19:12] tracyboehrer commented on #2638
Is this still an issue?  We can't reproduce.

[2019-12-11 20:43] corinagum commented on #2694
Turns out this is an extension issue. Verified with @compulim and @tdurnford

[2019-12-11 20:43] #2694 closed

[2019-12-11 21:14] tdurnford commented on #2647
@neilpalima What bundle are you using? I'm assuming the es5 bundle since you are using IE 11.

[2019-12-11 21:14] corinagum commented on #2560
Thanks for reporting. @vishnuramero, are you also using an Angular App?

[2019-12-11 21:21] compulim opened #2708 "4.7.1 Post-release checklist"
These are chores that we should do before starting the cycle to reduce ripple effects if we do it in mid-cycle.

Tips:

- [x] Clean your repo before start
- [x] Remove node_modules from all folder
   - [x] git clean -fdx
- [x] 	Never delete package-lock.json
- [x] If you mess it up, tableflip and redo
- [x] 	In component/package.json
   - [x] Remove reference to botframework-webchat-core by hand-m

[2019-12-11 23:26] compulim opened #2709 "Reduce wasted render on every incoming/outgoing activities"
## Screenshots

### Before

![MicrosoftTeams-image](https://user-images.githubusercontent.com/1622400/70669049-213be900-1c2a-11ea-8ef9-90d48fc1f6d9.png)

### After

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/1622400/70669053-24cf7000-1c2a-11ea-828c-ab9f3a4095dd.png)

## Version

`master`

## Describe the bug

On every incoming activities, `<BasicTranscript>` is re-render

[2019-12-11 23:26] neilpalima commented on #2647
I haven't tried it on IE. I encountered the error on chrome. Btw, I'm using this [boilerplate](github.com/react-boilerplate).

[2019-12-11 23:32] corinagum commented on #2647
@neilpalima the link seems to be malformed, could you check and fix?

[2019-12-11 23:35] neilpalima commented on #2647
@corinagum sorry for that. I updated it.

[2019-12-11 23:49] compulim opened #2711 "Performance: <BasicTranscript> should use useMemoArrayMap() to memoize the result"
## Feature Request

Excerpt from the code.

[code]

## Implementation

- Modify `useMemoArrayMap(array, mapper)`
   - Change it to `useMemoArrayMap(array, mapper, getDeps = (item, index) => [item])`
   - `getDeps` allow the mapper to cache the per-item deps
   - Modify `prevResult = prevMapperCalls.find()` to look for an array of `deps`, instead of `value`

[Enhancement]

[2019-12-12 00:03] compulim opened #2713 "Accessibility: Suggested actions are not narrated"
## Version

`master` (4.7 RC)

## Describe the bug

Suggested actions are not narrated via Assistive Technology.

## Steps to reproduce

1. Turn on Narrator
1. Use Edge and browse to Web Chat on MockBot
1. Type "suggested-actions"

## Expected behavior

AT should narrate the content of suggested actions.

## Additional context

[Bug]

[2019-12-12 00:15] compulim opened #2714 "Remove copy-and-paste code in `SuggestedActions.js`"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/70671551-4122db00-1c31-11ea-8508-2d71a1e00ee8.png)

## Version

`master` (4.7.0 RC)

## Describe the bug

The highlighted code in [`SuggestedActions.js`](https://github.com/microsoft/BotFramework-WebChat/tree/master/packages/component/src/SendBox/SuggestedActions.js) should not be copy-and-paste.

If there are any discrepan

[2019-12-12 01:09] compulim opened #2716 "Test reliability: `basic.js` "Absolute timestamp" test is timing out"
## Feature Request

We are seeing the `basic.js` "absolute timestamp" test is causing a timeout.

[code]

[Enhancement]

[2019-12-12 01:16] compulim opened #2717 "Test reliability: suggestedActions.js "should show response from bot and text from user on messageback""
## Feature Request

[code]

[Enhancement]

[2019-12-12 01:43] #2709 closed

[2019-12-12 02:17] #2713 closed

[2019-12-12 04:39] cmevawala commented on #2703
+1

[2019-12-12 06:54] tanejajatin1 opened #2721 "WebChat Doesn't work in IE but it works for Chrome shows Botchat Undefined Err"
Hello People,

We have developed a chatbot which uses webchat as channel. It works completely fine for chrome but throws error for IE.
Below is the CDN and script we are using.

[code]

After going through multiple forums, I found different CDNs and used them as well but those also works for Chrome not in IE.

Tried CDNs

[code]

[code]

Any leads would be appreciated.
Thanks in Advance

[2019-12-12 08:06] compulim commented on #2716
Fake negative.

[2019-12-12 08:06] #2716 closed

[2019-12-12 09:05] compulim opened #2718 "ES5 bundle should load Object.is polyfill"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/70697955-56bcf280-1c7b-11ea-9667-de9909523b6d.png)

## Version

`master` (4.7.0 RC)

## Describe the bug

`Object.is` was recently added to PR #2710 but polyfill was not added.

## Steps to reproduce

1. Load Web Chat in IE11

## Expected behavior

No errors and Web Chat should load correctly.

## Additional context

[Bug]

[2019-12-12 10:59] vishnuramero commented on #2560
@corinagum  yes, the same issue, pure HTML file works but when I'm trying to integrate with angular speech to text is not working, it's recognizing the voice but not sending anything. is there any fix??

[2019-12-12 14:26] manish-95 commented on #2560
Hi, I am attempting the same in my angular App using the sample provided in [03.b.host-with-angular](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.b.host-with-angular). To this sample, I have tried to use my Azure Cognitive Service Speech subscription key to add Speech and voice capabilities following the instructions provided [here](https://github.com/microsoft/BotFrame

[2019-12-12 14:46] manish-95 commented on #2560
**Update:** I have tried the same setup, but with Browser Speech instead of Cognitive Services, and I am able to see that the message picked up by STT is sent to the Bot successfully.

[2019-12-12 15:40] amt-work commented on #1833
@compulim @corinagum Has this been implemented yet? If so, how do we override it?

[2019-12-12 17:42] #2718 closed

[2019-12-12 18:42] compulim opened #2720 "[IC3] Customizable timestamp"
## Feature Request

Ability to customize timestamp based on:

- End-user: "Me 12:34 AM"
- Bot: "Bot 12:45 AM"
- End-user: "Send failed, retry"

Retry functionality can be customized by the developer and re-built different.

## Implementation

Probably, the signature will be

[code]

[Enhancement]

[2019-12-12 19:00] corinagum commented on #2720
is this for sample? If so, related to: https://github.com/microsoft/BotFramework-WebChat/issues/1571

[2019-12-12 19:03] corinagum commented on #2714
Working on this, will goal it for R8

[2019-12-12 19:29] corinagum commented on #2145
Let's just choose accent blue (Emulator blue) and the dark accessible red Web Chat is already using for other error messages and get this one out. When design gets to it, it will be really quick to just update the colors.

[2019-12-12 19:59] tdurnford opened #2722 "The timestamp in the carousal layout should be moved out of the the film strip"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Currently, the carousal layout's timestamp sits inside of the film strip, and, as a result, when the user scrolls through the attachments, the timestamp scrolls off the page.

![scroll](https://user-images.githubusercontent.com/17039790/70744241-2a828f80-1cd6-11ea-95eb-690cf9f03087.gif)

**Describe the suggestio

[2019-12-12 20:06] DesignPolice commented on #2722
Got it! I will put this on the list, lots of things are wrapping up - so it will get done pretty soon.

[2019-12-12 22:17] compulim opened #2723 "Minimal bundle error when rendering text because renderMarkdown is undefined"
## Version

`master` (4.7.0 RC)

## Describe the bug

After loading the minimal bundle, on render, we should not call `renderMarkdown` as it is `undefined`.

This will make sure we render the text as plain text, instead of HTML.

## Steps to reproduce

1. Load `webchat-minimal.js`
1. Type `echo **123**`

## Expected behavior

The bot response should show up as `**123**` instead of bold 123.

## Ad

[2019-12-12 22:47] #2723 closed

[2019-12-13 01:49] vksantoshsunny commented on #2633
The script below fixed the issue until Dynamics team gives a resolution. This is a work around.

<script>

window.onload = function() {
  var d365DateParse = Date.parse;

  Date.parse = function(str) {
    if (typeof str === "string" && ~str.indexOf("T")) {
      return new Date(str).getTime();
    } else {
      return d365DateParse(str);
    }
  };
};

</script>

[2019-12-13 03:59] corinagum opened #2728 "4.7.1 Release checklist"
## Build
1. [x] Bump to Bot Framework SDK release 4.7 RC4
   - https://botbuilder.myget.org/feed/botbuilder-v4-js-daily/package/npm/botbuilder
1. [x] ~Update all samples to use `4.7.0`~
   - Moved to post-release checklist
1. [x] Update `CHANGELOG.md` to mark specific changes in `4.7.1`
1. [x] Run `npm version --no-git-tag-version 4.7.1`
   1. [x] Merge into `master`, the PR number is #
   1. Do n

[2019-12-13 05:33] manjunathangv commented on #2646
@compulim I'm not getting any errors and warning while loading.

[2019-12-13 11:28] vishnuramero commented on #2560
got it fixed, changes webchat.js file a bit.

created a new array and pushed the data from speech to the array.

![botchatCodeFix](https://user-images.githubusercontent.com/14331629/70797063-add0dd80-1dc9-11ea-9c97-ceacf5137b23.PNG)

[2019-12-13 16:51] compulim opened #2730 "Remove preview warning for Cognitive Services Speech Services"
## Feature Request

Today, we show a warning for preview support of Cognitive Services Speech Services.

As we completed the parity work for Speech Services, it is now on par of Bing Speech.

We should remove the preview warning.

[Enhancement]

[2019-12-13 17:39] #2730 closed

[2019-12-13 17:41] compulim opened #2731 "Add core, component and directlinespeech-sdk as bundled dependencies"
## Feature Request

http://npm.github.io/using-pkgs-docs/package-json/types/bundleddependencies.html

Bundled dependencies will help packing a tarball with other dependencies inside. So, install one tarball will install multiple.

[Enhancement]

[2019-12-14 13:02] prashanthsridhar opened #2736 "customizable scroll bar -need a way to specify css class for scroll or override the existing one"
## Feature Request

Need a way to incorporate custom scroll in webchat. The regular one looks dull and pulls away from the design of the app.

[2019-12-14 18:55] #2728 closed

[2019-12-14 18:56] #232 closed

[2019-12-14 18:57] #355 closed

[2019-12-14 22:46] compulim opened #2737 "Test reliability: `focus.js` should not focus send box after clicking on send button"
## Feature Request

[code]

[Enhancement]

[2019-12-14 23:08] compulim commented on #2701
Add release works has been done.

[2019-12-14 23:08] #2701 closed

[2019-12-16 16:29] samazadi commented on #2611
Hi @corinagum just wanted to see if there's been any progress? We're migrating to V4 and I really want to use these hooks in our implementation

[2019-12-16 16:34] tdurnford commented on #2611
@samazadi All of the hooks were included in last weeks v4.7.1 release. Updating your `botframework-webchat` dependency to the latest version should unblock you.

[2019-12-16 18:20] corinagum commented on #2736
I think we've already decided this as a no-op: https://github.com/microsoft/BotFramework-WebChat/issues/2215. I'll leave this issue open for now to see if team members want to chime in with a different opinion.

Could you elaborate on why you're unable to make these css changes in the root of the app?

[2019-12-16 18:23] lzc850612 commented on #2693
Done. @corinagum feel free to ping me for a repro.

[2019-12-16 18:58] compulim commented on #2609
Will work on this later today.

[2019-12-17 00:13] samazadi commented on #2611
@tdurnford quick side question... If I wanted to add custom data to the channelData of my messages, whats the best way to do that using the new hooks?

[2019-12-17 00:18] compulim commented on #2731
This is QOL because it will make install tarballs for release testing easier.

[2019-12-17 03:06] shunyh opened #2741 "Adaptive Card render error: Invalid or missing card type. Make sure the card's type property is set to \"AdaptiveCard\""
Hi team,

We want to implement  stars rating feedback for our bot service, and I am using the emulator to debug AdaptiveCard message but got a rendering issue:

![image](https://user-images.githubusercontent.com/7311188/70960473-149c1280-20ba-11ea-9eef-1793301e1e81.png)

Emulator version: 4.7.0
AdaptiveCard JSON: [Card Json](https://github.com/shunyh/sharefiles/blob/master/SurveyStar.json)

Refere

[2019-12-17 03:20] #2611 closed

[2019-12-17 03:20] #2708 closed

[2019-12-17 05:01] raviKsah commented on #1185
@debnathSD  do you have any update to enable speech-text in an android web view through botframework V4 webchat?

[2019-12-17 05:21] joshm998 opened #2742 "Sample 21.customization-plain-ui is not working"
## Screenshots

![image](https://user-images.githubusercontent.com/1779737/70966877-89844200-20e4-11ea-8f61-87fe8820bb9c.png)

## Version
4.5.1

## Describe the bug
Throws "m.hooks is undefined" and the sample does not load

## Steps to reproduce

1. Go to 'https://microsoft.github.io/BotFramework-WebChat/21.customization-plain-ui/'
1. See blank page

## Expected behavior

Working plain UI webchat

[2019-12-17 05:35] joshm998 opened #2743 "HideUploadButton doesn't seem to be working in React"
## Screenshots
![image](https://user-images.githubusercontent.com/1779737/70967575-87bb7e00-20e6-11ea-921d-ac5f002a0461.png)

## Version
4.7.1 React

## Describe the bug
I have added hideUploadButton to StyleOptions as stated in this [issue comment](https://github.com/microsoft/BotFramework-WebChat/issues/1972#issuecomment-490974236) and it is still showing.

## Steps to reproduce
[See CodePen](ht

[2019-12-17 10:29] prashanthsridhar commented on #2736
Hi @corinagum ,i have added the custom scroll class in the root app and in the component where webchat is embeded. It is not reflected in the chat window.

[2019-12-17 11:52] prashanthsridhar opened #2744 "Stop the bot from talking when needed."
## Feature Request

Imagine a scenario when the voice assistant is speaking and the chat window is closed. The voice should stop as soon as the window is closed. Currently in webchat, i have not been able to implement the hard stop. We found a workaround in botchat by using :
`BotChat.Speech.SpeechSynthesizer.stopSpeaking();`

Is there such a solution in webChat. If not i think this would be a val

[2019-12-17 15:03] HesselWellema opened #2745 "Show suggested actions horizontally with line-break"
Stacking the suggested actions takes up to much real estate. Most efficient way to show multiple suggested actions is horizontally with line-breaks with the option (nice to have) to align right, middle or center.
Good example sceenshot is in https://github.com/microsoft/BotFramework-WebChat/pull/2596

![](https://user-images.githubusercontent.com/4937124/70055231-713b0000-15d9-11ea-9bae-e7831c5d32

[2019-12-17 16:02] samazadi commented on #2742
@joshm998 get the latest for both the `botframework-webchat` and the `botframework-webchat-component` and it should resolve the missing hooks:

`npm i botframework-webchat@latest`
`npm i botframework-webchat-component@latest`

I found some issues with the sample like message not sending, but you can fix that directly in the code and it should be fine.

[2019-12-17 16:23] tdurnford commented on #2611
@samazadi using a custom store middleware is probably still the best way to add custom channel data. Take a look at the [Piggyback Data on Every Outgoing Activity](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/15.a.backchannel-piggyback-on-outgoing-activities) Web Chat sample.

[2019-12-17 17:23] corinagum commented on #2744
BotChat is the object for v3 of Web Chat. Are you using v3 or v4? If v3, that version has reached sunset and is no longer supported beyond security fixes.

[2019-12-17 17:25] AskYous opened #2746 "How can I send extra information to the direct line endpoint?"
🚨 The issue tracker is not for implementation questions 🚨

How can I send extra information to the direct line endpoint? I'd like to send the current URL of the web chat to the back end. I want to do something like this:

[code]

[2019-12-17 17:27] corinagum commented on #2743
`HideUploadButton` needs to be set to `true`, not `false`.

'How to' or code support questions are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web

[2019-12-17 17:27] #2743 closed

[2019-12-17 17:29] corinagum commented on #2742
This is fixed in latest bits as of last night. To verify, please clone Web Chat, follow the contributing instructions to build the repo, and use the `webchat.js` file in `/packages/bundle/dist/` to test. If you're still having problems, please leave another comment on this issue. At the moment I am able to build and run with no problems. :)

[2019-12-17 17:32] corinagum commented on #2746
Please feel free to peruse our [samples](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples), which provide a lot of ideas and foundation for customizing your version of Web Chat.

'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own fea

[2019-12-17 17:32] #2746 closed

[2019-12-17 17:43] corinagum commented on #2736
Embeded versions of Web Chat are not style-able, save a few options like `username`. Please try using a CDN or npm package version of Web Chat if you want to make stylistic changes.

To see what kind of customizations you can make, please take a look at [Customizing Web Chat](https://github.com/microsoft/BotFramework-WebChat#customize-web-chat-ui)

[2019-12-17 17:43] #2736 closed

[2019-12-17 17:50] tdurnford opened #2747 "Move Timestamp into SendStatus Component"
## Feature Request
Moving the `Timestamp` component into the `SendStatus ` component would reduce duplicate code in the `StackedLayout` and`CarousalLayout` components. We should also remove the the `Timestamp` style set because it is almost identical to the `Timestamp` style set.

**Describe alternatives you have considered**
No.

**Additional context**
Simplifies #2722

[Enhancement]

[2019-12-17 18:14] samazadi commented on #2611
@tdurnford thank you! Any chance there is documentation or examples on how to do this using React?

[2019-12-17 18:45] corinagum commented on #1072
I built an unofficial sample showing users how to implement `markdown-it-emoji`. Please see the sample at my [WebChat-Samples repo](https://github.com/corinagum/WebChat-Samples/tree/master/emoji).

## Notes:

1. For now, this sample renders emoji in the transcript, both from the user and the bot.
2. Emoji working in the SendBox is TBD! Stay tuned. :)

[2019-12-17 18:45] #1072 closed

[2019-12-17 20:19] compulim commented on #2745
Looks like a suggestion for a new suggested actions layout. We have "carousel" and "stacked" today. This one is "flow" layout.

[2019-12-17 20:35] compulim commented on #2721
@tanejajatin1 we have tried the `botchat-es5.js` and it works in IE11. This is the slight tweak version of your code:

[code]

However, the version of Web Chat you are using is v3. We strongly recommend to upgrade to v4. You can find tutorial on hosting Web Chat v4 on IE11 in this sample, https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.b.getting-started-es5-bundle.

p.s. p

[2019-12-17 20:35] #2721 closed

[2019-12-17 20:44] compulim commented on #2744
You can call `useShouldSpeakIncomingActivity` hook to stop the synthesis.

[code]

Full documentation at https://github.com/microsoft/BotFramework-WebChat/blob/master/HOOKS.md#useshouldspeakincomingactivity.

[2019-12-17 20:44] #2744 closed

[2019-12-17 21:23] compulim opened #2748 "Make build scripts better"
## Feature Request

## Implementations

### Make build scripts simpler

- [x] `npm start` will do development build + watch
- [x] `npm run prepublishOnly` will do production build
- [x] `npm test` will run Jest + watch
   - ❓ ~How about Docker Compose? And how to update `webchat.js` inside the Docker efficiently?~ (Moved to #2766)
- [x] `npm tableflip` will run stuff from NPX

#### Development bui

[2019-12-17 21:58] compulim opened #2750 "Discuss: Who should call directLine.connect() and directLine.disconnect()"
## Feature Request

Today, we call `directLine.connect()` when the React component is up. Technically, `<Composer>` will call `useEffect` to dispatch a connect action to saga. And call dispatch a disconnect when `<Composer>` is being unmounted.

## Problems

### Minimizable scenario

This affect minimizable scenario. In minimizable scenario, we want the Web Chat UI to be complete/almost gone from

[2019-12-17 22:32] joshm998 commented on #2742
Thanks its fixed now 🙂

[2019-12-17 22:34] #2742 closed

[2019-12-17 22:35] #2698 closed

[2019-12-17 23:38] corinagum opened #2751 "Move main .md files to /docs folder"
see above

[2019-12-18 01:42] compulim opened #2753 "[IC3] Update message content"
## Feature Request

Allow the protocol to send a more recent version of the activity. And Web Chat UI should update the message content accordingly.

[Enhancement]

[2019-12-18 01:43] compulim opened #2754 "[IC3] Pluggable telemetry"
## Feature Request

Web Chat should send telemetry data points to DirectLineJS object.

We will discuss more about what data points. And it will be up to DirectLineJS object to decide what to do with the telemetry data (e.g. queueing/batching, etc.)

## How to hook

[code]

## Data points

(TBD)

- Typing
- Send event
   - Also log: activity size
- Send message
   - Also log: activity size, conten

[2019-12-18 01:45] compulim opened #2755 "[IC3] Customizable info/error messages"
## Feature Request

Adapter should have a way to show a persisted or toaster to Web Chat.

Discuss points:
- How are they stacked (ranking order)?
- Are they dismissable or configurable by developer?

## Designs

- `dismissAt` to allow automatically dismissing notifications, e.g. "Connected." notification will have `dismissAt` set to an earlier time
- `notificationMiddleware` to allow customizatio

[2019-12-18 01:47] compulim opened #2756 "[IC3] Localization"
## Feature Request

- Support a preset list of languages
  - Today, Web Chat is translated by the community, we need to check which strings are missing
- Support list of overrideable strings
- Convert existing `en-US.js` into `en-US.json`, without per-language logics (and other languages)
   - Consider using this package, https://www.npmjs.com/package/make-plural
   - https://www.npmjs.com/package

[2019-12-18 01:48] compulim opened #2757 "[IC3] New message indicator"
## Feature Request

User story:
1. Chat as normal
1. The end-user scroll somewhere up
   - The new message indicator should *not* show up
1. The bot/agent send a new message
   - The new message indicator will show up
1. Clicking on the new message indicator, or scrolling to bottom, will dismiss the indicator
   - The indicator only show up when the user is not at the bottom and a new message come

[2019-12-18 02:52] shunyh commented on #2741
WOW! I fixed this issue, it caused by the type for `Attachment.Content`, it should be `AdaptiveCard.FromJson(cardText).Card` instead `AdaptiveCard.FromJson(cardText)`

`AdaptiveCard.FromJson` return a type `AdaptiveCardParseResult`, this type has a property `AdaptiveCard` named `Card`.

![image](https://user-images.githubusercontent.com/7311188/71051608-d3703500-2183-11ea-88de-70ecbc8ea959.png)

H

[2019-12-18 02:52] #2741 closed

[2019-12-18 04:53] compulim commented on #2609
@karimkhadro96 we are fixing it in #2758.

This is not an ideal fix. I opened a discussion issue #2750 and resolving it would unblock the ideal fix.

As #2750 described, we can't mount/unmount Web Chat without connect/disconnect Direct Line. So currently, we can only hide Web Chat but not releasing the memory.

There are few hacks, but I would prefer to resolve the bug in an ideal way.

[2019-12-18 09:50] manjunathangv opened #2760 "How to increase the listening time in speech feature in webchat js"
I'm using below https://cdn.botframework.com/botframework-webchat/4.6.0/webchat-es5.js.

when user clicks on speech icon, starts speaking its stop listening when user leaves gap more than a second.

Is it possible to increase the listening time.

Please find the below code.

[code]

Thanks in advance.

[2019-12-18 12:42] prashanthsridhar opened #2761 "multiple calls to directline/conversations"
## Screenshots
![image](https://user-images.githubusercontent.com/11289456/71087264-c2461900-21c1-11ea-84e0-3b65c6214728.png)

![image](https://user-images.githubusercontent.com/11289456/71087338-f4577b00-21c1-11ea-8e21-3b752872edcd.png)

## Version
CDN 4.7

## Describe the bug
There are multple calls being made to directline/conversation

## Steps to reproduce

`

       window.WebChat.renderWebC

[2019-12-18 19:01] cwhitten commented on #2761
hi @prashanthsridhar - thanks for opening the issue. we'll do some investigation on our end and report back.

[2019-12-18 19:14] samazadi opened #2763 "Hook to customize channelData"
## Feature Request

I think we should be able to customize the channelData via a simple hook. We pass custom data via the channelData for our messages. I want to be able to easily mutate the channelData both on a per message basis and on init.

**Is your feature request related to a problem? Please describe.**

We rely on channelData to determine our vendor and other information on the client. I w

[2019-12-18 19:43] compulim commented on #2761
I believe this is correct behavior.

We have 2 modes in Direct Line: (short) polling and Web Socket.

Looks like you are connected via our polling mechanism, thus, there will be a poll call every second.

When you call `createDirectLine`, if you did not set `webSocket: false` explicitly, it should start as a Web Socket connection.

p.s. Direct Line does not support long polling.

[2019-12-18 20:26] compulim commented on #2763
Interesting idea!

[2019-12-18 21:21] compulim opened #2764 "Test: Add test for Cognitive Services ponyfill factory"
## Feature Request

Today, we test speech by mocking the Web Speech API. We don't test against Cognitive Services.

We should also test with the real Cognitive Services ponyfill factory.

We can reuse part of the test harness from `/packages/directlinespeech/`.

[Enhancement]

[2019-12-18 21:45] tdurnford commented on #2763
We don't currently have a way to modify channel data with hooks, but you can add a store middleware to the [Customization Plain UI](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/21.customization-plain-ui) sample that adds custom channel data by passing a custom store as a prop to the `Composer` component. For more details, take a look at the [Piggyback Data](https://github.

[2019-12-19 03:15] compulim opened #2765 "Markdown table is not working on 4.5+"
## Screenshots

The first screenshot is 4.4.2. The second screenshot is 4.5.2.

![image](https://user-images.githubusercontent.com/1622400/71141947-a09d5f80-21ca-11ea-8cd9-b6ea0ca9bd57.png)

![image](https://user-images.githubusercontent.com/1622400/71141953-a98e3100-21ca-11ea-8c73-872fbaf8a58f.png)

## Version

`4.5.2`, and possibly `4.5.0`.

## Describe the bug

In 4.4, the `markdown` command wi

[2019-12-19 03:23] compulim opened #2766 "Make build scripts better for Docker Compose"
## Feature Request

Today, we use Docker Compose to set up headless Chrome for testing.

Few improvements:

- ❓ npm commands to start/stop Docker Compose
- npm command to update the bundle file inside the container

[Enhancement]

[2019-12-19 06:34] samazadi commented on #2763
Thanks for that example, I was able to test it out and it accomplished customizing our channelData.

[2019-12-19 06:39] prashanthsridhar commented on #2761
@compulim , thank you for the quick response.

[2019-12-19 06:39] #2761 closed

[2019-12-19 09:32] compulim opened #2768 "Discussion: Move PR validation CI to GitHub Actions, but leave other on VSTS"
## Feature Request

Today, it is difficult for our contributors to understand what caused build errors.

Since our PR CI validation pipeline contains no secrets, we could potentially move PR CI validation pipeline to GitHub Actions.

We will leave the daily builds and other pipelines on VSTS for compliance.

[Enhancement]

[2019-12-19 16:33] tdurnford commented on #2765
Markdown tables seem to work fine in Web Chat v4.7.1.

**Bot Framework SDK v4 (Node)**
[code]

**Screenshot**
![image](https://user-images.githubusercontent.com/17039790/71190785-12f95880-223a-11ea-9041-9a1224496f39.png)

The Mock Bot command is probably malformed.

[2019-12-20 16:23] didaskein opened #2769 "White area in the middle of the Webchat with version 4.7.1 or 4.7.0 or latest"
Issue with webchat version : 4.7.1 or 4.7.0 or latest
![image](https://user-images.githubusercontent.com/13362276/71268504-6c05e100-234d-11ea-81b8-9f9786626d4d.png)

Sample of the issue (the scrollbar end in the middle of the webchat)
![image](https://user-images.githubusercontent.com/13362276/71268379-15000c00-234d-11ea-93df-b0b0ea190031.png)

No issue with version : 4.6.0

Thank you in advance,

[2019-12-23 03:42] shunyh opened #2770 "WebChat rating star feedback interactive UI"
## Feature Request

WebChat rating feedback interactive UI

Hi team,

We want to improve our service and try to get feedback from the customer. Then we have a survey card to the customer as below:

![image](https://user-images.githubusercontent.com/7311188/71334096-976c1400-2577-11ea-9811-43e8e421223e.png)

But there is a little imperfect, this is a static picture, nothing will be changed after cl

[2019-12-23 17:49] tdurnford commented on #2770
If you want a more custom and interactive card experience, I would recommend creating your own card attachment using React. Take a look at the [Card Customization](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/10.a.customization-card-components) Web Chat sample, which shows how to create your own interactive cards using the `attachmentMiddleware`.

[2019-12-24 02:53] shunyh commented on #2770
@tdurnford Thanks for getting back to me.

Should I create a ticket to the AdaptiveCard team on GitHub? I have seen the plan for developing this new feature on [their websites](https://portal.productboard.com/adaptivecards/1-adaptive-cards-features/tabs/5-roadmap)

![image](https://user-images.githubusercontent.com/7311188/71390452-6e14bc00-263b-11ea-9698-28620cd8d9a7.png)

[2019-12-24 17:05] tdurnford commented on #2770
Since a rating control is already on their road map and there is an open issue for the design change request, I don't think it's necessary to open another ticket in the Adaptive Cards repo.

[2019-12-24 18:38] arman-g opened #2772 "Adaptive Card Containser's Style is not Respected"
## Screenshots

![Capture](https://user-images.githubusercontent.com/22778273/71422647-9818af00-2638-11ea-833e-deaf95f09dc1.PNG)

## Version

CDN v4.7.1

## Describe the bug

Adding style to the container does not have any effect. For example "style": "good" is entered in the bellow code but webchat does not set the container background to light green or any color.

## Steps to reproduce

1. Use t

[2019-12-25 03:42] compulim opened #2773 "Use ES5 version of non-ES5 modules"
## Feature Request

Few of the packages we are using do not offer ES5 modules. We can use Webpack + Babel to pre-transpile them before importing in.

- `abort-controller`
- `event-target-shim`
- `p-defer`

[Enhancement]

[2019-12-25 21:48] dkonyayev opened #2775 "SecurityError in Internet Explorer"
I am getting a SecurityError in my code when running in IE11. This works fine for Chrome. I am attaching the sample HTML code. Just replace <token> with valid DirectLine token and try it in IE11.

## Error Messages
Invoking bot application with userId: 5b33e99a-a8f6-4cbf-936f-c7f798730d76
Domain: tools
SCRIPT5022: SecurityError
webchat-es5.js (1,110795)
uncaught at anonymous SecurityError
uncaught

[2019-12-26 17:34] tdurnford commented on #2145
Unintentionally closed issue

[2019-12-26 17:49] tdurnford commented on #2772
This is potentially related to https://github.com/microsoft/BotFramework-WebChat/issues/2145. I'll investigate further.

[2019-12-27 18:19] #2773 closed

[2019-12-27 19:55] #2609 closed

[2019-12-27 20:17] compulim opened #2776 "Test reliability: `styleOptions.js`"
## Feature Request

[code]

![image](https://user-images.githubusercontent.com/1622400/71531279-c699c280-28a2-11ea-8a5b-b3a1521c9ca6.png)

[Enhancement]

[2019-12-28 01:54] dkonyayev commented on #2775
Restarted IE and issue went away.

[2019-12-28 01:54] #2775 closed

[2019-12-29 19:13] compulim commented on #2731
Preliminary testing showed a tarball of about 100 MB because it include everything under `/node_modules/`. Need more investigation about `bundledDependencies`.

[2019-12-29 20:34] #2483 closed

[2019-12-29 20:34] #2612 closed

[2019-12-29 20:34] #2653 closed

[2019-12-29 20:34] #2691 closed

[2019-12-29 20:34] #2737 closed

[2019-12-29 20:34] #2776 closed

[2019-12-30 03:28] Junlol commented on #2775
This problem sometimes happens.

[2019-12-30 12:47] HesselWellema opened #2779 "bubbleNub stopped working"
Yesterday I noticed that the bubbleNubs are not rendered anymore in webchat
I am using 'https://cdn.botframework.com/botframework-webchat/latest/webchat.js'

[code]
results in:

![image](https://user-images.githubusercontent.com/23032884/71582507-d0256380-2b0a-11ea-8cc2-01ceacf6fd27.png)

[2019-12-30 17:52] arman-g opened #2780 "Phone number auto detection and rendering as a hyperlink"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Currently webchat does not detect phone numbers in a message and relies on a browser auto detection which might be a browser configuration setting. It also not consistent from browser to browser.

**Describe the suggestion or request in detail**

A better solution and It will be desired to have auto detection o

[2019-12-30 17:52] cwhitten commented on #2779
Hello @HesselWellema. Thank you for the issue. We'll investigate and report back.

[2019-12-30 17:56] cwhitten commented on #2780
Hi @arman-g. If we added auto-detection to WebChat's core logic and did what you suggested, what would the hyperlink link to? Keep in mind the need to support desktop browsers and mobile environments.

We have the activity middleware mechanism to allow consumers to consume and render activities in any way they would wish, and as its designed this would be the way to support what you are looking to

[2019-12-30 18:01] arman-g commented on #2780
@cwhitten I was just thinking about using middleware for this. Thanks for confirming this.
In general would be good to have it as a build in setting option.
For example (321) 789-4623 would be rendered to `<a href="tel:3217894623"></a>`

[2019-12-30 20:36] arman-g commented on #2780
@cwhitten I can't find how to effect the rendering of the message from activity middleware. I don't think it is even possible to effect the rendering of the html unless it is just a simple text change. If I change (321) 789-4623 to <a href="tel:3217894623">(321) 789-4623</a> it shows error under emulator.

[2019-12-30 23:17] tdurnford commented on #2780
Web Chat uses the [Markdown-it]() npm package to render markdown into HTML which by default supports the tel protocol. However, Web Chat also uses the [sanitize-html]() npm package to sanitize the resulting HTML from the markdown renderer, and we currently don't have the tel protocol listed as an allowed schema. As a result, the sanitizer removes the link.

There are two options to enable the tel

[2019-12-31 00:22] arman-g commented on #2780
@tdurnford thank you for the information. I am using the CDN and not sure if I can add 'tel' to sanitize options. Can this option be added in the next release of the webchat?

[2019-12-31 00:25] tdurnford commented on #2780
The tel protocol would have to be added the ‘allowedSchema’ in a PR.

[2019-12-31 02:42] corinagum opened #2781 "DLS samples not working"
Using latest release, but also tested locally in latest bits.

Both DLS samples below fail: (also tested locally)
https://microsoft.github.io/BotFramework-WebChat/01.d.getting-started-es5-direct-line-speech/
https://microsoft.github.io/BotFramework-WebChat/06.i.direct-line-speech/

Error:
![image](https://user-images.githubusercontent.com/14900841/71608191-29ee5380-2b34-11ea-94c1-1c523d82be5f.png)

[2019-12-31 02:56] tdurnford commented on #2781
Can you check using the latest bits? I think the CDN is pointing to v4.5.3.

[2019-12-31 02:57] corinagum opened #2782 "Custom reaction buttons sample not working"
Tested on deployed sample (latest release), but also tested locally on latest bits

09.customization-reaction-buttons/ sample does not work, and produces the error:

![image](https://user-images.githubusercontent.com/14900841/71608427-26f46280-2b36-11ea-9fe2-3dbe2b02f78d.png)

[2019-12-31 02:57] corinagum commented on #2781
I did?

[2019-12-31 03:00] corinagum opened #2783 "Password input sample not working"
Password input sample fails on latest release and locally with latest bits
http://localhost:5000/samples/05.custom-components/f.password-input/index.html

![image](https://user-images.githubusercontent.com/14900841/71608523-b1d55d00-2b36-11ea-8b57-fb0d58655ee9.png)

[2019-12-31 04:34] tdurnford commented on #2781
Nevermind....

[2019-12-31 04:49] rasithupamal commented on #478
Hi,
i need to add web chat into angular project.But it gives me this errors..
Angular 8
botframework-webchat ^4.7.1

`ERROR in ./node_modules/botframework-webchat-component/lib/WebChatUIContext.js
Module not found: Error: Can't resolve 'react' in 'E:\Rasith\01\test\BotBuilder\chat-admin\kf-bot-admin\node_modules\botframework-webchat-component\lib'
ERROR in ./node_modules/botframework-webchat-compo

[2019-12-31 04:51] rasithupamal commented on #478
Hi,
i need to add web chat into angular project.But it gives me this errors..
Angular 8
botframework-webchat ^4.7.1

`ERROR in ./node_modules/botframework-webchat-component/lib/WebChatUIContext.js
Module not found: Error: Can't resolve 'react' in 'E:\Rasith\01\test\BotBuilder\chat-admin\kf-bot-admin\node_modules\botframework-webchat-component\lib'
ERROR in ./node_modules/botframework-webchat-compo

[2019-12-31 08:03] keshansandeepa opened #2784 "How can I add Button Hover Effect to Suggestions and to adaptive cards"
<img width="405" alt="Screenshot 2019-12-31 at 13 30 57" src="https://user-images.githubusercontent.com/28889041/71614469-d3375700-2bd1-11ea-864f-24126cb4e457.png">
How can i add hover and active effects to the adaptive cards and suggestions  buttons. I'm using React for building web chat

[2019-12-31 10:40] prashanthsridhar opened #2785 "Need to voice out welcome card"
## Version
4.7 CDN

## Describe the bug
i understand that there has to be voice input to invoke the synthesizer,but if we need the data in the welcome card to be spoken out there must be a way to initialize this.

## Additional context
Using webchat in an angular app.

[Bug]

[2019-12-31 12:45] keshansandeepa commented on #2784
.ac-pushButton{
    border-radius: 20px;
}
.ac-pushButton:hover{
    background-color: #008AF9;
    color: #fff;

    border-color:#008AF9!important;
}

.ac-pushButton:active{
    background-color: #00498e !important;
    color:#ffffff!important;
}

mm, I did some trick using css , but can't i  get a direct styles from js file ?

[2019-12-31 16:56] tdurnford commented on #2785
If you want to Web Chat to speak the contents of a rich card, you will have to set the `speak` property in the activity to what you want to be spoken - Web Chat does not convert rich cards to speech. See https://github.com/microsoft/BotFramework-WebChat/issues/1863 for details.

[code]

Also, if you want Web Chat to speak an incoming activity without having to have the user speak first, you can se

[2019-12-31 17:23] cwhitten commented on #2780
@tdurnford that makes sense to me - seems `tel` may have been an oversight in the original list.

[2019-12-31 18:23] #2780 closed

[2019-12-31 19:19] xtianus79 commented on #478
@billba and @rasithupamal you can use this
https://github.com/xtianus79/ngx-microsoft-bot-framework#readme

[2020-01-01 05:04] compulim commented on #1571
@narik1989 it is coming, #2788.

[2020-01-01 07:54] rasithupamal commented on #478
Thanks @xtianus79 it works..

[2020-01-01 08:41] keshansandeepa opened #2789 "How to Customize Suggested Actions Layout"
Hi,
I just wondering is there any method to customize the suggested actions container.
Right now my Suggested Actions Layout look like this .

<img width="364" alt="Screenshot 2020-01-01 at 14 04 48" src="https://user-images.githubusercontent.com/28889041/71639628-bd906300-2c9f-11ea-8f9f-7376cf09fe84.png">

But i need to customize like this . Any method to implement ?

<img width="386" alt="Screen

[2020-01-01 17:05] mdrichardson commented on #2789
@keshansandeepa I recommend reviewing the [styling sample](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.b.idiosyncratic-manual-styling/). Your `styleOptions` can modify the following for suggested actions:

[code]

[2020-01-02 06:16] keshansandeepa commented on #2789
@mdrichardson
I want to edit position of suggestions bar , Currently its all centered , but i need to add justifiy-end make a right align , mm, do you have any solution for that ?

[2020-01-02 06:18] keshansandeepa commented on #2745
@compulim  Any Update regarding this ? ,
In stacked option can't we make it align left  ? so suggestions  all wrap like this ??
<img width="386" alt="Screenshot 2020-01-01 at 14 07 16" src="https://user-images.githubusercontent.com/28889041/71654094-c93e6100-2d55-11ea-9a2e-ffc8a7a309e8.png">

[2020-01-02 07:17] #2785 closed

[2020-01-02 10:23] prashanthsridhar commented on #2560
@corinagum will this be added in a release or patch?

[2020-01-02 10:49] omroczkowski commented on #1735
It worked for me 2 weeks ago. Doesn't work anymore. Tested on 06.c.cognitive-services-speech-services-js and my bots.

[2020-01-02 12:16] naveenwinsome opened #2790 "PowerBI Tile on WebChat"
Hi,

Can we embed PowerBI Tile as bot's response? If Yes, how can we do that. I have looked into PowerBI Embed integration to web applications. Can we use anything similar to embed PowerBI tile into webchat?

Thanks,
Naveen

[2020-01-02 13:38] prashanthsridhar commented on #2760
https://github.com/microsoft/BotFramework-WebChat/issues/2468
apparently it is not possible.

[2020-01-02 16:59] stevkan commented on #2784
Hi @keshansandeepa,

Presently, there are no styling options available via Web Chat for adding a hover effect to buttons. The method you have selected is your best option, at this time.

Please feel free to create a new issue as a feature request, if you feel this would benefit the greater community.

[2020-01-02 16:59] #2784 closed

[2020-01-02 17:26] corinagum commented on #2560
@prashanthsridhar at this time there's no plan for a patch. Unfortunately we still have to investigate the fix :/

[2020-01-02 17:57] mdrichardson opened #2791 "Connecting to bot opens Azure Gov webpage"
## Screenshots

![image](https://user-images.githubusercontent.com/40401643/71682944-0ac71000-2d46-11ea-947f-73b294880eb9.png)

## Version

4.7.0

## Describe the bug

Connecting to bot opens Azure Gov webpage if both: using appId/pass AND pressing enter/return instead of clicking Connect

## Steps to reproduce

1. Click Open Bot
2. Enter endpoint, appid, and pass
3. Press enter or return instead

[2020-01-02 17:59] mdrichardson commented on #2791
Sorry, it seems I don't have permissions to remove the labels.

[2020-01-02 18:00] corinagum commented on #2791
Shouldn't this be an Emulator issue?

[2020-01-02 19:14] mdrichardson commented on #2789
@keshansandeepa Using `suggestedActionLayout: 'stacked'` should get you pretty close (although there's currently a bug, so it doesn't work right now). Beyond that you'd need to either:

1. Make custom CSS edits. The css class names may change in the future, so I don't necessarily recommend this. Or
2. Build and customize WebChat, then include it in your site, or
3. [Submit this as a feature reques

[2020-01-02 19:17] mdrichardson opened #2792 "suggestedActionLayout: 'stacked' not working"
## Screenshots

![image](https://user-images.githubusercontent.com/40401643/71686861-44e9df00-2d51-11ea-850e-d0e2c0599474.png)

![image](https://user-images.githubusercontent.com/40401643/71686865-46b3a280-2d51-11ea-9921-ef92b437bfa7.png)

![image](https://user-images.githubusercontent.com/40401643/71686868-4915fc80-2d51-11ea-9b03-93ef42ac8682.png)

## Version

latest

## Describe the bug

suggest