[2017-04-11 12:02] IanBoggs opened #423 "Hosting On IIS7"
Hi,

not sure if this is the right place to ask or not.

I'm trying to host the web chat client internally on an IIS7 machine. I'm using the code from /samples/fullwindow/index.html in order to display.

The web site works fine when I run it under IIS Express from Visual Studio 2015 (by pressing run). THe web site loads up and the chat control displays fine. However, if I deploy the project to IIS

[2017-04-11 14:36] siddiq-rehman commented on #243
Hi,

I am not sure about that, but one thing that I can suggest is, there is a user variable in index.html to which you can pass your cookie. when you check the req.body in ChatConnector file of bot builder module, you can see your user details passed.

This is the basic idea i got. Please reply back if you got any other option.

[2017-04-11 15:45] billba commented on #243
First of all, this sort of question belongs on StackOverflow.

@siddiq-rehman That's not really what the `user` property is for.

A better approach is to use the [backchannel](https://github.com/Microsoft/BotFramework-WebChat/#the-backchannel) to send authentication information from your web page to your bot.

[2017-04-11 16:58] danmarshall commented on #423
Can you try in a different browser, also try clearing your browser cache to retrieve the latest CSS.

[2017-04-11 18:40] siddiq-rehman commented on #243
@billba Thanks for the correction.

[2017-04-11 22:31] bpug opened #425 "Building WebChat Errors"
Hi,

cannot build webchart

Could you help me please

node.js - 7.9.0
npm - 4.4.4

I become an error:

[code]

[2017-04-11 22:56] billba commented on #425
Fixed by #426, sorry about that.

[2017-04-11 22:56] #425 closed

[2017-04-11 23:21] bpug commented on #425
Thank you for the fast answer!

[2017-04-13 12:22] nehapop opened #427 "Bot is sharing session response"
I have integrated bot on my website using nodejs SDK and I have injected the webchat on my page using "Easy: In your non-React website, run WebChat inline" method from here : https://github.com/Microsoft/BotFramework-WebChat

But the problem is, when more than 1 person is talking with bot in-parallel. In this scenario bot is taking the input from user 1 and validating that from database after that

[2017-04-13 13:09] billba commented on #427
This sounds like a question for StackOverflow, so please ask there. I'm going to close this issue, but as a  parting thought I'm going to speculate that you are using the same user id when creating the WebChat, and  that your bot is storing info in userData.

[2017-04-13 13:09] #427 closed

[2017-04-14 08:01] HardikShah289 opened #428 "Token or Secret key in cookie or session or header instead of Querystring"
As per my testing, token can be shared and same token can be used on embed the chat on multiple site, I would like to pass token in cookie or session or header instead of querystring. So that, it is difficult to get token value.  What are changes needs to done here to implement that.

[2017-04-14 23:07] billba commented on #428
WebChat doesn't use the querystring at all. Tokens are passed in solely via JavaScript. The samples do use the querystring for convenience, but you don't need to do it that way.

[2017-04-16 10:31] HardikShah289 commented on #428
Hi, like microsoft provided webchat interface using link...
https://webchat.botframework.com/embed/QuizHS?t=[secret_token]

So, if it is just JavaScript then how to get token and update token in html page using JavaScript. Any sample code, because if i use this code, i need to pass token in querystring or params, where html page use it.

[2017-04-16 10:32] HardikShah289 commented on #428
If you have JavaScript code which do that way, please share. Thanks for your support.

[2017-04-16 11:14] billba commented on #428
Ah, you are talking about the WebChat *channel*, which is Microsoft's hosted vesion of the WebChat control. It does, in fact, rely on putting the secret/token on the querystring. @danmarshall what do we say to people who want to embed the WebChat channel but don't want to publish their secret or even a token?

[2017-04-18 05:02] HardikShah289 commented on #428
@danmarshall, any suggestions to solve this?

[2017-04-18 07:10] danmarshall commented on #428
The generated token *is* the way to solve this, because you can always generate a new token, and remove a token that you feel has been exploited.

[2017-04-18 09:12] raviranjan20 opened #429 "Webchat mobile view issues"
Hi,

I am using web chat as channel in this case. When I create a hero control in bot and click the button, it by default opens keyboard on mobile device making bot window size by half. Is there any option to block the keyboard until I specifically click text box to write something ?

[2017-04-18 13:06] billba commented on #429
Ah, this is because we now set the focus to the edit field after clicking a button. This will be hard to get right.

[2017-04-18 13:55] HardikShah289 commented on #428
Right. But is there any way we can use below link without passing token in querystring.
https://webchat.botframework.com/embed/QuizHS

Because, token in this webchat is not specific to one user or browser. it is getting shared. And if someone has passed the webchat url with token, another person can open and see the chat.

[2017-04-18 15:13] billba commented on #428
I don't understand the threat. How can a second party see the token from the first party without going to their browser and viewing the source?

[2017-04-18 15:20] danmarshall commented on #428
The 2ns person will not see the chat. Try opening the page in a different browser or device. Or in private / incognito mode.

[2017-04-18 16:20] HardikShah289 commented on #428
Let's say I copy the link with token and forwarded to my friend who is not part of my organization.
He will able to open link and will able to see chat and respond to that. Same message will be display to first person too.

I already tested that. I opened the same link from my laptop browser and mobile browser, both were in different network, and i was able to chat.
If you want, i can share screen

[2017-04-18 16:24] HardikShah289 commented on #428
Ideally, token should be specific to request, if you open it in incognito mode, it should not allow u to chat. But it is not happening. That's the problem, threat of loosing confidential data through bot.

[2017-04-18 16:36] HardikShah289 commented on #428
Here is the snapshot of the same. One is opened in chrome browser and another one in Incognito mode.
![image](https://cloud.githubusercontent.com/assets/20954239/25141893/b96413ee-2482-11e7-9ce5-abb64488a3bc.png)

Even after 2-3 mins, I have opened in Microsoft Edge, I was able to see entire chat.
![image](https://cloud.githubusercontent.com/assets/20954239/25142028/21b9f648-2483-11e7-8eaa-7c05f46

[2017-04-18 16:47] HardikShah289 commented on #428
we can do one thing also, I am online another 30 mins, if you want to do live testing, let me know. I will generate token and create link and will forward it to here.  You navigate to that link and check.
thoughts?

[2017-04-18 16:51] billba commented on #428
Forwarding a link to a friend is not much of a security hole. I still don't see the threat.

[2017-04-18 17:00] HardikShah289 commented on #428
@billba, I have created bot to help with new joiner employee which will help him/her to understand the company policies. Now, these policies are confidential and can't be shared. Now, this person copy the link and send it to his/her friend who is HR in another company. Now, 2nd person can see the chat, ask the question to bot and bot will answer. We don't want that. the definition of security hole

[2017-04-18 17:01] danmarshall commented on #428
@HardikShah289 the token is not a "per user" token, it is only a token to limit access to your bot. All users can use the same token. Once a user visits webchat.botframework.com, they are given a cookie with a unique id. Users should not be in the same conversation. If you can see the same conversation between different users, this is a bug either in the framework or in your bot. How are you manag

[2017-04-18 17:23] HardikShah289 commented on #428
I will check user state handling code and let you know.

[2017-04-19 07:06] raviranjan20 commented on #429
Thanks for the quick reply, is there any way to over ride this behavior ?

[2017-04-19 07:58] HardikShah289 commented on #428
@danmarshall, I verified the same on Microsoft's developed bot like "Your Face". The Same token is being used on multiple browser and conversation is shared. I think this is a problem with bot framework.

[2017-04-19 08:17] anandvm opened #430 "Code Sample formatting issue in webchat bot"
Hi,

I am using webchat bot to show code sample to the user. Code sample which is shown to the user is not properly formatted. Below is the snapshot of the response in Bot. Could someone please help in resolving the issue?

Note : We have enabled Preview mode in https://dev.botframework.com/ for this Bot.

![codesample_bot](https://cloud.githubusercontent.com/assets/27763702/25169982/9270569c-2506

[2017-04-19 13:21] zxr90 opened #431 "Token security"
Hi all,

I am developing a custom web chat based off this repository for an enterprise client. Currently i have my own web service that holds the directline secret and exposed an API to the web chat to obtain the token and conversation id. Then using the token, i will initialize the directline object in the [webchat](https://github.com/Microsoft/BotFramework-DirectLineJS#create-a-directline-object

[2017-04-19 17:44] danmarshall commented on #428
@HardikShah289 when you say "multiple browser" do you mean the same browser (IE or Chrome or Firefox) and in a new tab or window? If so, then this is the same cookie, and therefore the same user, and same conversation. Try with a different browser, or use InPrivate/Incognito mode - which does not use the same cookie.

[2017-04-19 19:24] HardikShah289 commented on #428
@danmarshall, I mean different browser like IE & Chrome. Even, I tried with Incognito mode of Chrome. I was able to see responses of the chat. you can give it try. Below link is created for me from bot framework for YOUR FACE bot.

https://webchat.botframework.com/embed/yourface?t=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IlRCSlBsZkFyQlpJODVicGdnVjhlTUFmelZVMCIsIng1dCI6IlRCSlBsZkFyQlpJODVicGdnVj

[2017-04-19 19:49] HardikShah289 commented on #428
Another link, if previous one is expired.

https://webchat.botframework.com/embed/yourface?t=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IlRCSlBsZkFyQlpJODVicGdnVjhlTUFmelZVMCIsIng1dCI6IlRCSlBsZkFyQlpJODVicGdnVjhlTUFmelZVMCJ9.eyJib3QiOiJ5b3VyZmFjZSIsImNvbnYiOiIxYTAzOWE2YmYwYjA0Mzc0YmU5NmJmODg5NmU1NzllYyIsImlzcyI6Imh0dHBzOi8vYm90cy5ib3RmcmFtZXdvcmsuY29tLyIsImF1ZCI6Imh0dHBzOi8vd2ViY2hhdC5ib3RmcmFtZX

[2017-04-19 19:58] HardikShah289 commented on #431
you can monitor #428 for the same. I think, we both facing same issue. But you gave better description of issue 👍

[2017-04-19 20:06] dandriscoll commented on #428
Hi @HardikShah289, the behavior you're seeing is correct, but I'm not sure it's problematic. Let's take a closer look.

For purposes of this discussion, we're going to treat secrets and tokens to be the same thing. We can go into detail on those later if you want. I'll refer to them as "secret/token" for now.

To access a conversation, you need the secret/token and a conversation ID. These values

[2017-04-19 20:11] dandriscoll commented on #431
A necessary step in this exploit is that the user must disclose the Direct Line token to the attacker.

If the user sends their Direct Line token to an attacker, the attacker will have access to the conversation.

This is similar to other cases:
- If the user extracts their e.g. Facebook signin cookie and sends it to an attacker, the attacker will have access to their Facebook account.
- If the us

[2017-04-19 20:18] HardikShah289 commented on #428
If I understood correctly, I need to create my own custom web-chat interface to encapsulate secret/token and use Direct Line services Web API. Because, in JS too I need to mention some sort of keys which can be accessible in View Source, which I don't want. May be something server side coding and hide values from the user. There is no way, I can use ready made web chat bot UI. Right?

[2017-04-19 20:22] dandriscoll commented on #428
Ultimately, you can't hide the secret/token from clients.

If you want to remove it from the URL, you can host the JS control on your own.
If you want to remove it from page source, you can pass the value in a cookie and read it in JS in your webpage.

However, in all cases, the value will be available in memory.

[2017-04-19 21:22] danmarshall commented on #429
Hi @raviranjan20 thanks for reporting this issue. It was caused by a feature change in #411 , I am going to close this issue #429 and we can continue tracking in #411.

[2017-04-19 21:22] #429 closed

[2017-04-19 21:24] danmarshall commented on #411
We have implemented this feature. Yay! But, it has caused an issue on mobile devices which makes the device keyboard appear when the textbox gets focus. Perhaps it should be an optional behavior.

[2017-04-19 21:37] billba commented on #411
I believe this would benefit from a holistic analysis. Native chat clients have sophisticated integration of keyboard, focus & scroll behavior. We may be limited in what we can accomplish, but let's not rush into adding an option when the answer might be to have better heuristics.

[2017-04-20 11:45] ubreddy commented on #43
Any update on bot icon and welcome message appearing on web channel by default as it was available in earlier version?

[2017-04-20 14:39] #431 closed

[2017-04-20 18:57] danmarshall commented on #43
Hi @ubreddy - let's separate the two issues, for your"welcome message" issue, I believe this is covered in #173 . Here we can discuss the icon feature. As it turns out, this feature is not quite as simple as it appears.
For example, to enable group conversation, we need a strategy for this icon to be distinct for each user. So we are working out the complexities, and can have a release once we hav

[2017-04-21 02:41] pvanaarde opened #434 "Different webchat results in different browsers"
Hi,

I have implemented the ExcelBot example as available [here](https://github.com/microsoftgraph/botframework-csharp-excelbot-rest-sample).
Depending on which browser I use, the behaviour of the webchat is different, as per the below screenshot. On the left is using Edge (incorrect behaviour), and the right is using Chrome, which has the expected behaviour.
![capture](https://cloud.githubusercon

[2017-04-21 13:46] billba commented on #434
Wow that is unexpected!

[2017-04-21 13:48] billba commented on #430
Is your point that the second code sample goes outside the box?

[2017-04-21 13:49] billba commented on #428
Closing as @dandriscoll seems to have settled the issue.

[2017-04-21 13:49] #428 closed

[2017-04-21 19:55] danmarshall commented on #430
@anandvm - can you be specific about the issue in the top message?

[2017-04-21 21:41] ryanvolum opened #435 "Rendering Issue with Backchannel sample"
Cloned repo and ran backchannel sample. Seeing rendering issue in entry bar (see image)
![image](https://cloud.githubusercontent.com/assets/3891951/25297069/77c6d834-26a0-11e7-96a6-aed6a2f11497.png)

[2017-04-21 21:49] danmarshall commented on #435
is your browser caching CSS? try clearing your browser cache / incognito

[2017-04-21 22:00] ryanvolum commented on #435
and there you have it :) thanks for the quick response, Dan

[2017-04-21 22:00] #435 closed

[2017-04-24 13:04] anandvm commented on #430
@danmarshall , @billba  :  There are two issues highlighted in the screenshot

1. In "code sample for string.join in c#" , the code being shown is not well indented.
2. In the second highlighted segment, part of the code goes outside the box. This issue exist for non-code sample answers as well.

[2017-04-25 01:13] stevengum97 opened #437 "Improper Placement of Images (.PNG) in Webchat"
As indicated in the screen cap below, there is an image placement issue when using the WebChat UI.

![webchatui_cap_placement](https://cloud.githubusercontent.com/assets/14935595/25357283/1c86e118-28f2-11e7-86ae-6465fd95f665.png)

[2017-04-26 10:27] ankitbko opened #438 "Webchat event when user socket connection breaks"
Not sure if this is the right place to ask the question or should have raised this issue on DirectlineJs repo.

Does Directline/Webchat send any event/notification to the bot when socket connection breaks (when user closes browser or network failure)?

[2017-04-26 15:22] andreiciungan commented on #365
@billba & @danmarshall is it possible somehow to send in a JSON serialized the list of messages to the chat component? If yes, can you tell me please on what props? Or is there another method? I keep the messages in DB, but I want to display them when the chat is initialized.
Thanks!

[2017-04-26 15:24] billba commented on #365
No. The purpose of this proposal is to measure demand for such a feature, and discuss exactly how it might be exposed to the developer.

[2017-04-26 16:51] radennis opened #439 "How to add txt with newlines in webchat"
We are working on a bot that helps users create support tickets, using WebChat channel.

In some of the fields **users** would want to add multiple line information, for instance:
“I have problems with the following:
1. Number one
2. number two”

Currently when a user wants to add a text with newlines it just sends the message. Is there some kind of combination such as SHIFT+ENTER that allows addi

[2017-04-26 17:52] danmarshall commented on #439
Hi @radennis , this is a duplicate of issue #124

[2017-04-26 17:52] #439 closed

[2017-04-26 23:06] billba commented on #438
By definition, this is not something that WebChat (or DirectLineJS) *could* send to the bot. However the Direct Line service could detect that the connection has been broken and notify the bot. What say you, @dandriscoll?

[2017-04-28 04:24] disha-s commented on #413
Any updates on this?

[2017-04-28 13:36] billba commented on #413
Not yet. Please stay tuned.

[2017-04-30 15:28] ancashoria commented on #365
We're also interested in such a feature. Would save us some time since we don't have to render the history somewhere else and the UX is much better. Please let us know if you plan on supporting this feature or give us some tips on how to do it ourselves.
Thanks ;)

[2017-05-01 22:01] axnserv opened #440 "There is no initial greeting message"
Web Chat control used to have an initial greeting. It was something like "to start say “hi” " but its been removed now. There should be a default or a parameter to set it to something the developer wants.

[2017-05-01 22:02] axnserv opened #441 "Incorrect message displayed when token expires"
When token expires the Web Chat control displays “You do not have permission to view this directory or page”. It should tell user what actually happened and prompt to refresh the page to get a fresh token instead.

[2017-05-01 22:02] billba commented on #440
Duplicate of #298. Just have your bot send the message.

[2017-05-01 22:02] #440 closed

[2017-05-01 22:04] billba commented on #441
Closing as this is actually a problem with the WebChat channel and not the control (in other words, there is nothing that can be done in this repo to solve this problem). @danmarshall I believe this is an open issue elsewhere, true?

[2017-05-01 22:04] #441 closed

[2017-05-01 22:05] billba commented on #367
Closing due to lack of response on the part of OP.

[2017-05-01 22:05] #367 closed

[2017-05-01 22:05] billba commented on #423
Closing due to lack of response on the part of OP. Also not a WebChat bug.

[2017-05-01 22:05] #423 closed

[2017-05-01 22:07] billba commented on #350
Closing due to lack of response on the part of OP.

[2017-05-01 22:07] #350 closed

[2017-05-01 22:07] danmarshall commented on #441
@billba true

[2017-05-01 22:08] billba commented on #351
Closing as not a WebChat bug.

[2017-05-01 22:08] #351 closed

[2017-05-03 03:09] pvanaarde opened #444 "Embedded <iframe> of WebChat using oauth results in error in IE11"
Hi,

I implemented a bot using AuthBot and have this bot embedded in a page using an <iframe>.
The behaviour of the bot and the authentication functionality is as expected in Chrome & Edge, but when trying to run it in IE11, it fails.
When hitting the "Authentication Required" button in the bot, a new tab is opened containing the code that you need to copy and paste back in the chat. When doing th

[2017-05-04 00:16] danmarshall commented on #444
Thanks for reporting. Is the domain that hosts your webchat in a "security zone" in IE settings?

[2017-05-04 01:29] pvanaarde commented on #444
Hi @danmarshall, the domain was not in any "security zone" in IE settings. I have added the domain to Trusted Sites, but still no luck.

[2017-05-04 07:52] bhushanvadgave opened #445 "install fails with typescript error"
Cloned the repo. Ran `npm install`. Got below error.

[code]
Using nodejs 6.10 and npm 4.2.

[2017-05-04 08:22] ancashoria commented on #365
@billba @danmarshall  I know you guys are trying to figure out a solution that integrates nicely with all the botframework systems, but we are doing message saving ourselves and we just need to be able to pass previous messages to the chat component using props.
We're actually thinking about hacking the component ourselves since we need that asap. What would be the best approach?
Do you think we c

[2017-05-04 08:39] sharmadine opened #446 "Sending context with actions"
Sending context with actions - SKYPE

It can be useful to send context back to your bot (e.g. a request ID) without showing this information to the user in a message. To do this you can append hidden XML to the visible string shown to the user, which is only seen by your bot.

**Visible message &lt;context hiddenId='10'/&gt;**

How to achieve the same behavior in WebChat | Emulator?

[2017-05-04 13:22] billba commented on #446
WebChat doesn't support this behavior.

[2017-05-04 13:22] #446 closed

[2017-05-04 13:25] billba commented on #445
Works fine on OS X using npm version 3.10.9 - sounds like npm 4.2 is causing problems. Adjusted title accordingly.

[2017-05-04 13:26] billba commented on #438
Closing this issue as it pertains to the back end system.

[2017-05-04 13:26] #438 closed

[2017-05-04 13:43] ankitbko commented on #438
@billba Umm.. I am really looking forward for a solution to this. It is a critical problem in human handoff scenario where agent chat window is web channel. Do we have a workaround or expected timeline for this?

[2017-05-04 13:50] billba commented on #438
Got it, but this is not the right forum to pursue it as this is for issues with WebChat, of which this is not one. Hey @dandriscoll where *should* @ankitbko file an issue having to do with the back end?

[2017-05-04 13:55] billba commented on #365
I don't think anyone in Microsoft is actively working on this feature. It is a great candidate for a contribution from the community.

In broad strokes the idea is to add a property to `ChatProps` containing an array of messages and use that to initialize the `activities` field of the `history` store. The devil, as always, will be in the details.

[2017-05-04 14:53] ancashoria commented on #365
@billba I was amazed how straightforward it was to build this feature by wrapping `Chat` component in an obvious `SuperChat` component that overrides the constructor and dispatches `Receive_Message` action for each message from history.

[code]

To build the proper `activity` object I used react inspector to see how the actual messages were creating their `activity` object.

Works flawlessly so fa

[2017-05-04 15:32] billba commented on #365
Hah! I never would have considered doing it that way! Why not build it into Chat itself?

[2017-05-04 16:03] sharmadine commented on #446
Any alternative to achieve this behavior?

[2017-05-04 16:36] mehdikalhori opened #447 "Sending proactive event message"
I need to use Backchannel to send events to client.
I defined a listener on the client as mentioned in the document:

        botConnection.activity$
            .filter(activity => activity.type === "event" && activity.name === "myAct")
            .subscribe(activity => myActivity(activity.value))

and for sending event in the response of a message on the bot side, I can do it by:

       sessio

[2017-05-04 17:06] billba commented on #446
You can write some client code and use the backchannel to communicate with the bot.

[2017-05-04 17:27] mehdikalhori commented on #447
I found the solution from https://github.com/ryanvolum/backChannelBot :
    var msg = new builder.Message().address(address);
    msg.data.type = "event";
    msg.data.name = eventName;
    msg.data.value = value;
    bot.send(msg);

[2017-05-04 20:07] billba commented on #447
Great!

[2017-05-04 20:07] #447 closed

[2017-05-04 21:31] sachinsbucket commented on #243
Hi ,
Anyone has got any solution for this. I am struggling with the same issue. I want to connect bot with my custom chat window UI.

[2017-05-05 02:31] danmarshall opened #448 "Cannot build with TypeScript 2.3.x"
Many build errors with a fresh install. Workaround is to pin to TS 2.2, but we wouldn't want to do that now would we?

[2017-05-05 02:36] danmarshall opened #449 "Latest @types/react-redux breaks the build"
Looks like we need to pin the versionof @types/react-redux to 4.4.38, a fresh install grabs 4.4.40 which doesn't build.

https://github.com/Microsoft/BotFramework-WebChat/blob/master/package.json#L29

[2017-05-05 08:44] bhushanvadgave commented on #445
Even with npm 3.10.9 I'm facing the same issue. Don't know if the root cause of the problem is only in my system but I tried reinstalling the nodejs as well.

[2017-05-05 08:57] bhushanvadgave commented on #445
@billba Can you try removing the node_modules, cleaning the npm cache and then running "npm install"? I guess new release of some dependency might be causing this issue.

[2017-05-05 17:16] billba commented on #445
We are indeed experiencing build issues due to new TypeScript and some other dependencies. We will clear them out in the near future.

[2017-05-05 17:21] wsb252 commented on #445
same issue on npm 4.5

[2017-05-05 17:27] billba commented on #445
Problems are generic. Updated title accordingly.

[2017-05-05 17:29] wsb252 commented on #445
FYI - Found a workaround.  Updated package.json to explicitly use typescript 2.2.2 and everything builds successfully.

Change:
"typescript": "^2.2.2"

To be:
"typescript": "2.2.2"

[2017-05-06 04:06] bhushanvadgave commented on #445
Yes it solved. Thank you @wsb252

[2017-05-09 09:47] mk12345dfbfgn6 opened #451 "tsc && npm run build-css && webpack --progress failed while runing npm install"
this is the snippet of errors
npm ERR! code ELIFECYCLE
npm ERR! errno 2
npm ERR! botframework-webchat@0.10.6 build: `tsc && npm run build-css && webpack --progress`
npm ERR! Exit status 2
npm ERR!
npm ERR! Failed at the botframework-webchat@0.10.6 build script 'tsc && npm run build-css && webp
 --progress'.
npm ERR! Make sure you have the latest version of node.js and npm installed.
npm ERR! If yo

[2017-05-10 00:51] gauravrattan1980 opened #454 "Hyperlinks are opening in Web Chat."
Hi All,

I am using Web Chat Channel with Microsoft Bot Framework and its opening Hyperlinks posted inside chat in Web Chat Channel itself.
Note: This functionality was working fine till yesterday and it was opening different browser window for hyperlinks posted inside chat. We are using this from last 1 month and it suddenly stops's working.

Please help?

Thanks
Gaurav

[2017-05-10 01:12] danmarshall commented on #454
Hi @gauravrattan1980 - thank you for reporting this. We recently switched markdown libraries, I'm suspecting this may be the cause. Are your links sent in markdown?

[2017-05-10 01:17] gauravrattan1980 commented on #454
Yes you are correct. We have used markdowns for out hyperlinks...

Thanks
Gaurav

[2017-05-10 01:22] gauravrattan1980 commented on #454
Can u give me idea, how long it will take to fix this issue.

Thanks in advance....

[2017-05-10 01:23] danmarshall commented on #454
I will be working on this quite soon :) are you building your own WebChat? Or are you retrieving botchat.js off a CDN ?

[2017-05-10 01:25] gauravrattan1980 commented on #454
For our demo purpose, I have just enabled Web Chat channel from Microsoft Bot framework. In future we are thinking to build our own WebChat.

Thanks
Gaurav

[2017-05-10 01:58] danmarshall commented on #454
Hi Guarav - We should be deploying this sometime soon. Meanwhile I have sent a PR containing the fix https://github.com/Microsoft/BotFramework-WebChat/pull/455

[2017-05-10 03:27] gauravrattan1980 commented on #454
Thanks for your swift response...

[2017-05-10 03:29] danmarshall commented on #454
Hi Guarav, it may not be deployed until late tomorrow at the earliest, so can you please use a temporary workaround: shift-click the links. Sorry about the inconvenience.

[2017-05-10 07:34] macrozone commented on #411
@danmarshall this is annoying if you use a lot of buttons. Is there an option to turn this off?

[2017-05-10 07:44] macrozone commented on #364
@billba I would also be interested in that feature, can you show an example how to do it with the current version?

[2017-05-10 11:54] macrozone commented on #411
I added an option in a PR to disable this: https://github.com/Microsoft/BotFramework-WebChat/pull/456

[2017-05-11 10:38] mohdkhan786 commented on #243
@siddiq-rehman   @abhishan @billba
Even I am Struggling with the same issue to enable bot completely private to organization.
If someone finds a solution pls do share ..

[2017-05-11 20:52] rylengel opened #458 "Will the custom WebChat support adaptive cards soon?"
I recognize this is a brand new feature, but are you working on implementing the adaptive card schema? I might piece together my own implementation but it would help to know if this is coming down the pipeline.

Thanks!

[2017-05-11 21:19] GeekTrainer commented on #458
I'd say "keep your eyes open". :-)

[2017-05-11 21:20] bhushanvadgave opened #459 "Display button title (instead of value) in chat window with imBack"
I understood that button of postBack type (when clicked) sends the value of the button to the bot without displaying it on chat window AND button with imBack does the same but displays the button value as on chat window.
With my webchat I wanted it to work like "When imBack button is clicked button value should be sent as message but button title should be displayed on chat window". This same thin

[2017-05-12 07:16] gauravrattan1980 commented on #454
Hi Dan,
Any idea when will above changes get deployed? Thanks...

[2017-05-12 08:41] qdoop opened #461 "Any plans to make it available as a Vue component?"

[2017-05-12 17:51] danmarshall commented on #363
This behavior as prescribed causes issues on mobile devices, where focusing the textbox causes the native keyboard to slide up.

Also, usability/accessibility may be violated because the tab order is interrupted.

When a button has focus, the user may trigger a click by:
* pressing Enter
* pressing the spacebar

The user may de-focus by pressing Tab.

So I am proposing that we have a keypress list

[2017-05-12 17:55] danmarshall commented on #411
@macrozone which of these 2 features are you referring to?:
* Scrolling to the bottom
* Focusing the textbox

[2017-05-12 18:19] danmarshall commented on #58
Might be nice to enable "dev mode" where this and other features light up.

[2017-05-12 19:55] anth12 commented on #58
I would really like to have support for this, specifically for use within the emulator. But yeah, it should be disabled by default.

[2017-05-12 20:23] danmarshall commented on #454
Hi @gauravrattan1980 - it should deploy on Monday. We did not want to deploy during //build

[2017-05-13 02:15] ubreddy opened #462 "Event for webchat control pageload"
Could not figure out the event the bot server receives on the webchat control load on the page, so that the bot can send an initial greeting message.
Is there an event that gets triggered on load of webchat component on the webpage?

[2017-05-17 05:11] gauravrattan1980 commented on #454
Any information on above issue??

[2017-05-17 05:54] zxr90 opened #464 "How to send event from Bot to webchat?"
From the backchannel app example,

[code]
An event was created and sent back to the webchat. However when i was trying out this example, msg.data is a Protected property and cannot be assigned any value. If so, how do i send event from bot to webchat?

[2017-05-17 06:33] alokraj68 opened #465 "Web Chat shows retry but message is really sent to bot"
Hi,
The web chat is showing could not send please retry, but the message is really sent to bot. what really goes wrong is that user will press retry and the bot will get the message every time the retry is pressed.

[2017-05-17 11:21] macrozone commented on #411
@danmarshall: i am referring to focusing the textbox, which opens the keyboard on ios. That makes it really hard to read all options if you have several buttons / options

[2017-05-18 03:05] gauravrattan1980 commented on #454
Thx mate... It's working now...

[2017-05-18 06:58] OmShrivastava opened #466 "How to Refresh WebChat Token"
Hi I am using Webchat in my web site application
I am generated Token using WebChat Secret, **Not using DirectLine**

I am not able to find API and process to Refresh token after 30 min for my Webchat
due to this chat session is expired after 30 min and stop responding

If I regenerate token with secret my conversation data will lost

[2017-05-18 18:25] kalykodu opened #467 "Adaptive Card Render function for WebChat"
Hi,

I am trying to use an adaptive card to add images on a button . Is there a render function for the webchat so that i can leverage that for the use case i am trying?

Thanks,
Kalyani

[2017-05-18 18:26] kalykodu commented on #459
I have a similar use case. Can you update if you found any solution?

[2017-05-18 18:31] kalykodu commented on #365
I am using webchat and directline and i am hoping to achieve the same functionality. The chat bot is embedded as an iframe on the footer of my website. When i navigate across to another tab , i would like to retain the chat history.
Can anyone please help if they were able to achieve similar functionality using webchat?

[2017-05-18 21:41] kalykodu opened #469 "Extending a hero card for a webchat"
I need some additional fields to be displayed on the hero card. I need help to understand how can i add the  styles to the rendered hero card to reflect on a web chat.

[2017-05-18 21:49] kalykodu commented on #411
@danmarshall  can you please help me . I am trying to achieve the same.

[2017-05-18 23:53] danmarshall commented on #467
Hi Kalyani, we are working on an integration with Adaptive Cards, please stay tuned for an upcoming PR.
Thanks!

[2017-05-18 23:56] danmarshall commented on #469
Hello again, I think Adaptive Cards will be your best bet! I am going to close this issue since we already have an issue for that. Thanks 👍

[2017-05-18 23:56] #469 closed

[2017-05-19 15:02] duanekord opened #470 "Auto scroll not working on Adaptive Card with expandable part"
I have an adaptive card with three buttons. The 'Support Option' button opens another card that gives the user two more buttons to choose from.

Unfortunately when I click on the button - the card opens below but my window does not scroll down automatically to show the rest of the card.  I have to scroll down to see the rest of my card. On the reverse, if I am scrolled to the bottom of the card an

[2017-05-19 18:58] forceamp commented on #465
I am having the same issue.  My bot is doing image analysis so it could take up to 10 seconds to respond.

[2017-05-19 19:49] danmarshall opened #472 "SCSS build creates an "includes" folder in the root"
During the build process. This folder is being shipped to NPM.

[2017-05-20 05:35] alokraj68 commented on #465
Yeah! And also, if we open the same web chat in 2 tabs lets say the bot is
present over a website it will throw 412 precondition failed. Which again
breaks the conversation.

On 20-May-2017 12:28 AM, "forceamp" <notifications@github.com> wrote:

[2017-05-22 18:31] billba commented on #472
Fix is to add that folder name to the `.npmignore` file.

[2017-05-22 23:28] #472 closed

[2017-05-23 02:27] zxr90 commented on #464
any updates on this?

[2017-05-23 08:22] adriantan08 opened #474 "Web Chat - Bot Initiates Conversation"
Hi, Guys.

Is there a way to make the bot in the Web Chat initiate the conversation itself? i.e. say when the page (iframe) loads?

[2017-05-23 08:22] adriantan08 commented on #474
(reference in this site: https://botchattest.herokuapp.com/)

[2017-05-23 08:30] EricDahlvang commented on #474
In the c# sdk you can respond to the ConversationUpdate activity type:

[code]
Here's a node example as well:
[code]

Note: not all channels send a ConversationUpdate event.

[2017-05-23 11:27] ravievontech opened #475 "Prepublish not running on forked"
i forked this package and customized. I pushed the changes to my forked repo. When i use my forked repo in my package json file, i can see the package being installed in my node_modules. However prepublish  script not fired. I cant see generated botchat.js and css file. Can you help me in this?

[2017-05-23 17:18] danmarshall commented on #475
Hello, what error message do you see?

[2017-05-23 17:56] ohmusama commented on #465
Other channels allow 15 seconds to respond. It would be nice if webchat abided this timeout too.

[2017-05-23 18:08] billba commented on #475
`botchat.js` will not be built if you are including WebChat as a dependency. This is correct, as you wouldn't be using the bundled file. However you will still need the css files, and so you're correct that it's a problem that they aren't being built. @danmarshall we may need to check them in.

[2017-05-23 18:25] danmarshall commented on #475
I'm still trying to understand this scenario. Is this about **prepublish** ? [Prepublish runs in 2 cases](https://docs.npmjs.com/misc/scripts):
* when installing with `npm install`
* when publishing to a registry

@ravievontech - are you publishing your package?

[2017-05-24 09:41] ravievontech commented on #475
@billba  thanks for your reply. Yeah i figured it. Your comments helped a lot. @danmarshall: thanks i got the issue. When i see my dependency fork in node_modules, i don't see build folder there. Looks like i have to check in build folder to use it as a dependency.

[2017-05-24 12:37] billba commented on #475
@ravievontech please see my updated comment above

[2017-05-24 12:55] ravievontech commented on #475
@billba thanks, i did same in my forked one.

[2017-05-24 13:21] #475 closed

[2017-05-24 13:23] billba commented on #466
Please see the [Direct Line API docs](https://docs.botframework.com/en-us/restapi/directline3/).

[2017-05-24 13:28] billba commented on #465
How quickly is "retry" shown? Which SDK are you using?

WebChat actually does have a 15 second timeout. If it's showing "retry" before then, there's a different problem.

[2017-05-24 13:31] billba commented on #465
@alokraj68 I don't quite understand your scenario but it sounds like a different bug. Please open a new issue for it.

[2017-05-24 23:50] TomHulme commented on #445
I tried all of the above but still had the issue. Even upgraded from VS2015 to VS2017 and nothing changed. BUT deleting this folder seemed to fix it on my machine.
`C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\{VERSION_NUMBER}\TypeScript `

[2017-05-25 11:37] ryzam opened #476 "Any plan to enable auto suggest or auto complete when user typing"
Hi,

One of the good features for web chat if it can support auto suggestion when user is typing. This kind of feature really benefit to guide user what type of questions can be asked in general.

[2017-05-25 14:15] billba commented on #476
How would that work? Where do the suggestions come from? Where do they go?

[2017-05-25 16:39] ryzam commented on #476
the suggestions can come from external data source(database) access through web api, Let say for close domain chat bot that handle trouble shooting network answer, we can predefined suggestion questions that can be asked by users.

[2017-05-25 17:20] billba commented on #476
Can you be more specific? You seem to have a clear picture in your mind but I'm not really sure what you're suggesting. As a piece of user experience what does this look like? When are suggestions proffered? Where do they appear?

Most bots do suggestions as messages to the user, e.g. "you can say 'sell stock' or 'buy stock". We can already show suggested answers to questions, e.g. "What would you

[2017-05-25 22:55] ryzam commented on #476
![autosuggestion](https://cloud.githubusercontent.com/assets/597759/26473832/21c6c826-41e0-11e7-855d-945aec2bff87.png)

Something like this ...

[2017-05-26 06:49] reddy12345678 opened #477 "BotFramework Carousel CardAction Button Doesn't OpenUrl in Skype Channel"
Hi,

unable open link in skype channel.. I need to open http only.. can u please suggest?

[2017-05-26 13:23] billba commented on #477
I'm sorry, this is just for WebChat issues. Please use Stack Overflow for general Bot Framework questions.

[2017-05-26 13:23] #477 closed

[2017-05-26 15:25] jdnichollsc opened #478 "Angular support"
Hi guys,
What do you think to support **Angular** too? Can I help you? 👍
Regards, Nicholls

[2017-05-26 15:33] billba commented on #478
So far as I know there's no reason WebChat can't be used inside an Angular app (or any other web page) today, using the BotChat.App function. It would be great if you could get this to work, and contribute some sample code.

[2017-05-31 09:13] bhumin3i opened #480 "wc-message-from is not displayed proper"
![image](https://cloud.githubusercontent.com/assets/25737987/26624725/5b03ce1c-460f-11e7-84f8-04f24fc096ea.png)

[2017-05-31 12:54] billba commented on #480
Please provide more information than a title and a screen shot.

[2017-05-31 12:59] billba commented on #476
That's an interesting mashup of bots and autocomplete. I'm not sure how to have a bot easily generate a list of possible questions. I suppose, as you say, it could just be a list of predefined questions in a database. I'd be interested in what others had to say about this proposed feature.

[2017-05-31 13:00] billba commented on #474
Closing as this question appears to have been answered.

[2017-05-31 13:00] #474 closed

[2017-05-31 13:01] billba commented on #466
@OmShrivastava did this answer your question?

[2017-06-01 04:13] ryzam commented on #476
I have a set of questions to train in LUIS . Let say i train this question - "What is the weather in Paris?" as get weather intent. User can ask for example "Give me the current weather in Sydney" or "What is the weather tomorrow?" which is also have same intent as get weather intent, so once the intent is correct then we will save it into database as possible questions.

When user type "What is t

[2017-06-01 07:03] Chitma opened #481 "Unable to Add Bot Icon in Custom Web-Chat."
Hi Guys,

I have created my customized version of web-chat from the botchat.css and botchat.js provided in the description.
https://unpkg.com/botframework-webchat/botchat.css
https://unpkg.com/botframework-webchat/botchat.js

I just copied those two files and saved it my project.
I have noticed that botchat.js is minified version. Can I get a developer version for it to add bot icon ?

Is there so

[2017-06-01 09:42] bhumin3i commented on #480
my index.html

[code]

![cust_error](https://cloud.githubusercontent.com/assets/25737987/26674005/769ae1c4-46dc-11e7-9d3c-fc0e997eaa18.png)

[2017-06-01 10:17] billba commented on #481
Closing as duplicate of #43 - please follow that issue for progress on this feature

[2017-06-01 10:17] #481 closed

[2017-06-01 10:20] billba commented on #480
This is correctly showing the `user.id` you provided. If you want to show a friendlier user name, provide `user.name`, e.g. `user: { id: 'your id', name: 'friendly name'}`

(Please note that I redacted the Direct Line secret in your code above.)

Closing as this is correct behavior.

[2017-06-01 10:20] #480 closed

[2017-06-02 10:12] jamesemann opened #482 "Is it possible to change the IBotConnection after the control has been initially rendered?"
Is it possible to change the IBotConnection after the control has been initially rendered?

Scenario: I have a list of conversations that I'd like to switch between in my React app.  I've created a custom IBotConnection to pull conversation history from persistent store, this is is bound to the Chat control using the botConnection attribute.

- If I create another instance and rebind it seems to s

[2017-06-02 10:44] PrasenjitSaha opened #483 "Speech is not working in IE 11 & partially working in MS Edge"
Hi, I have downloaded code from https://github.com/Microsoft/BotFramework-WebChat/tree/speech
I am using "**cognitive_speech_api**" key to enable speech feature.

1. But speech is working in Chrome.
2. In Edge, it is working partially, after speech recognition it is showing in text message writing bar not in body. So, need to click post button.
3. It is not working in IE 11

[2017-06-05 10:14] OmShrivastava commented on #466
yes your response helped me to resolved issue

**I am generating token for my web-chat using below URL**
https://webchat.botframework.com/api/conversations

**and refreshing with direct-line it's working**
https://directline.botframework.com/v3/directline/tokens/refresh

[2017-06-05 10:14] #466 closed

[2017-06-05 11:55] CabuxaMapache opened #485 ""iconUrl" property not found in "activity.from" when receiving a message from bot"
I'm using DirectLine channel to test my bot. I followed example ["Easy: In your non-React website, run WebChat inline"](https://github.com/Microsoft/BotFramework-WebChat#easy-in-your-non-react-website-run-webchat-inline)
When the bot send a message there is no property "iconUrl" in activity.from property. However, if the user sends a message, the property is present and has the value set during Ap

[2017-06-05 15:41] billba commented on #485
This is correct behavior. Only the `id` and `name` are sent to the bot.

The icon URL's are currently ignored and may go away entirely.

[2017-06-05 15:41] #485 closed

[2017-06-05 16:21] CabuxaMapache commented on #485
Uummm not sure about this...i'm talking about the bot response. How can i show the bot icon in the webchat?

[2017-06-05 16:26] billba commented on #485
This feature is not yet implemented. Feel free to contribute to the discussion about how it should be implemented in https://github.com/Microsoft/BotFramework-WebChat/issues/43

[2017-06-05 16:26] billba commented on #485
Also, just for future reference, please be clearer in your issue report. It sounds like your issue was that your wanted to show the bot icon, but that information is nowhere to be found in the title or body of your report.

[2017-06-06 06:05] CabuxaMapache commented on #43
I'm really interested in showing the bot icon, but It's not present in the activity.from prop. In the fork mentioned by @danmarshall the bot icon url is not part of the user props...why?

[2017-06-06 06:22] danmarshall commented on #43
Hi @CabuxaMapache we've still got some design to work through this in DirectLine. Stay tuned, I'll be getting to this after we finish up AdaptiveCards. Appreciate your patience!

[2017-06-07 11:22] billba commented on #482
No. A better idea is to create multiple instances of Chat and switch between them.

[2017-06-07 13:10] jamesemann commented on #482
Thanks for the info.

[2017-06-07 13:10] #482 closed

[2017-06-07 20:52] photodesignch commented on #369
I've tried with markdown syntax and pure html linkage with varies of window sizes. I can not repro hyperlink into the chatbox, and return message from server is breaking words evently at end of the chat bubble. I can not reproduce the same situation and looks like it's been fixed.

[2017-06-07 22:13] #369 closed

[2017-06-08 22:08] shahidkhuram commented on #483
(#3) Lack of support for IE11 is a currently a known limitation. The WebChat uses the following Speech SDK which depends on navigator.getUserMedia  https://github.com/Azure-Samples/SpeechToText-WebSockets-Javascript

I can't reproduce (#2) is this a consistent issue for you or sporadic? Speech recognition relies on a websocket connection to cognitive speech, looking at the last few messages on tha

[2017-06-09 01:46] pvanaarde commented on #451
I have the same problem. Any feedback on this yet?

[2017-06-09 04:16] danmarshall commented on #451
It may be related to a fix for the typescript 2.3 compiler. Can you delete typescript from your node)modules folder, and npm install again ?

[2017-06-09 04:38] pvanaarde commented on #451
@danmarshall Thanks for the reply. Tried it, but doesn't work. The node_modules folder is just repopulated with the typescript folder during npm install.
Apologies if I am missing something here... Still new in the node & npm world....

[2017-06-09 04:40] PrasenjitSaha commented on #483
@shahidkhuram thank you for your reply.
Actually I have downloaded **MS BOT Webchat** code from https://github.com/Microsoft/BotFramework-WebChat/tree/speech. Speech is working in Chrome but not in Edge completely.

[2017-06-09 04:42] danmarshall commented on #451
@pvanaarde no worries, and sorry I missed a step:
`git pull`
Then, can you look at your package.json and see if it specifies typescript 2.2.2
Then, look at your node_modules/typescript/package.json and see if it is 2.2.2

[2017-06-09 04:44] eanders-MS commented on #451
@pvanaarde depending on your platform, the `tsc` command may be resolving to a globally installed version of typescript.  Could you try running this: `./node_modules/.bin/tsc && npm run build-css && webpack --progress`?

[2017-06-09 08:20] mohit-jcc opened #496 "How to use Javascript SDK for Bing Speech API in webchat?"
I'm trying to have speech input in the WebChat using Javascript WebSocket method as explained here : https://docs.microsoft.com/en-in/azure/cognitive-services/speech/getstarted/getstartedjswebsockets

This documentation suggests using the JS SDK to have run time speech recognition that requires a UI element to start audio input. For speech input, it's important to have a microphone element in the

[2017-06-09 09:41] pvanaarde commented on #451
@danmarshall @eanders-MS I have noticed that my errors appear to be a little bit different to the original listed in this issue, so might be a different issue altogether. Full error as per below:

'rm' is not recognized as an internal or external command,
operable program or batch file.

npm ERR! Windows_NT 10.0.14393
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\

[2017-06-09 10:09] theDavidOlasupo opened #497 "Sample: Clear chat history after user idle"
It will be nice to be able to specify a time in which the past messages are clear. Say every 2 minutes or something

[2017-06-09 11:16] pvanaarde commented on #451
Seems like the 'rm' command is the issue on a Windows device. Was able to successfully run install on a Mac.

[2017-06-09 20:43] sowsan opened #498 "ConversationUpdate Activity Event issue"
System Information (Required)

SDK Language: .NET/C#

SDK Version: Latest
Channels : WebChat & Emulator

Development Environment: LOCALHOST

Issue Description

I have a simple bot created to send a welcome message with menu selection using adaptivecard as activity attachment. I'm using the ConversationUpdate event to send this welcome message. Now, once user click on any menu item it's always comi

[2017-06-09 21:33] shahidkhuram commented on #483
I understand your scenario, please see the 2nd paragraph in my previous response with the question for you:

[2017-06-10 05:51] PrasenjitSaha commented on #483
this a consistent issue in edge
________________________________________
From: shahidkhuram [notifications@github.com]
Sent: 10 June 2017 03:03
To: Microsoft/BotFramework-WebChat
Cc: Prasenjit Saha; Author
Subject: Re: [Microsoft/BotFramework-WebChat] Speech is not working in IE 11 & partially working in MS Edge (#483)

I understand your scenario, please see the 2nd paragraph in my previous respon

[2017-06-12 01:04] amit6257 opened #499 "Can a FormBuilder display list of strings instead of elements from a enum"
I want the user to choose one or more items from a list. As of now I am able to use an Enum as the data source to get the options. But I want to use custom data to get the options.
In a form at the run time, I would like to have a list of strings and ask user to chose one or more from that list. Also, at the OnCompletion method call, I would like to get the user selected value just as I would get

[2017-06-12 09:35] hanselke opened #500 "npm@5 install on mac doesnt work"
npm WARN prepublish-on-install As of npm@5, `prepublish` scripts are deprecated.
npm WARN prepublish-on-install Use `prepare` for build steps and `prepublishOnly` for upload-only.
npm WARN prepublish-on-install See the deprecation note in `npm help scripts` for more information.

src/ActivityView.tsx(1,24): error TS2307: Cannot find module 'react'.
src/ActivityView.tsx(2,56): error TS2307: Cannot

[2017-06-12 13:32] billba commented on #497
Can you say more about this scenario? When would this be useful?

[2017-06-12 13:59] theDavidOlasupo commented on #497
@billba, Say am building a banking bot, and I'd like to have transfers and balance requests and basically any transaction history wiped off automatically from the chat probably 5 minutes after the chats. Just for security.

[2017-06-12 15:05] billba commented on #497
I see.

In the near future bots will have the ability to ask WebChat to delete or edit messages. That sounds like a better solution because you can tactically remove or edit sensitive details while retaining the overall history. Make sense?

Meta comment: PLEASE DON'T USE ALL-CAPS WHEN NAMING ISSUES BECAUSE IT LOOKS LIKE YOU'RE YELLING

[2017-06-12 16:18] theDavidOlasupo commented on #497
Thanks Bill. My bad with the caps.

[2017-06-13 11:54] ITM3 opened #502 "Text of clicked buttons not echoed to chat window"
When a user clicks a button of a rich card sent by the bot in the webchat window, the text of the button on which the user clicked does not appear in the chat window as if the user would've typed it himself, unlike in messenger for example.

The problem with this is that if the user scrolls up in the conversation, all he sees is text written by the bot and it makes it hard for him to see what choi

[2017-06-13 13:32] billba commented on #502
This depends on the action type of the button. If it's "imBack" then the text is displayed in the history. If it's "postBack" then it's sent to the bot silently. Not every messaging client supports both, but WebChat does.

This appears to be correct behavior so I'm closing this issue.

[2017-06-13 13:32] #502 closed

[2017-06-13 13:34] ITM3 commented on #502
Thank you, you are absolutely right, using imBack does exactly what you describe. Cheers!

[2017-06-13 21:56] matts310 commented on #365
+1. Option of having pagination with scroll would be great too.

[2017-06-13 22:13] billba commented on #365
@matts310 This seems like a very different issue. How would this be different than the built-in pagination you get with every OS?

[2017-06-13 22:38] matts310 commented on #365
@billba There may be a lot of history being loaded at startup. It may be better to load chunks either from memory or external requests when scrolling to older portions of the history. I was envisioning this through some form of pagination.

[2017-06-14 03:33] DL-LiveTiles commented on #498
@sowsan We solved this by forking the project and adding a ConversationUpdate event using the back channel.
Detail here:
https://github.com/Microsoft/BotFramework-WebChat#the-backchannel
https://docs.botframework.com/en-us/restapi/directline3/

[2017-06-14 16:19] sowsan commented on #498
Thank you , how can I test and verify it ?

[2017-06-14 17:19] billba commented on #498
@sowsan I don't understand the issue. What do you mean hy "once user click on any menu item". What menu items do you mean?

[2017-06-14 17:21] sowsan commented on #498
in the welcome message I'm sending an adapative card with few buttons (menu buttons). You can check the code that I have shared

[2017-06-14 17:28] sowsan commented on #498
https://github.com/sowsan/Bot/tree/master/Bot-Demo/Bot-Demo

[2017-06-14 17:28] billba commented on #498
@danmarshall @dandriscoll this sounds like a bug but I'm not sure whose fault it is, except that it's definitely not mine. IT'S NOT MY FAULT.

[2017-06-14 17:57] danmarshall commented on #498
@sowsan does this behavior affect other channels as well?

[2017-06-14 17:58] sowsan commented on #498
@dandriscoll I have tested it only with the emulator & webchat and issue is there only with webchat. There is an active thread going on here as well on the same : https://github.com/Microsoft/BotBuilder/issues/2919

[2017-06-14 18:22] danmarshall commented on #454
@GeekTrainer can we get a new npm package to close this issue?

[2017-06-14 19:20] GeekTrainer commented on #454
Just published.

[2017-06-14 20:41] #454 closed

[2017-06-15 21:59] GeekTrainer commented on #496
It's currently on the speech branch. We're evaluating it now, and trying to determine the best way to incorporate it into the control. It's coming soon. :-)

[2017-06-16 08:55] Nostreum commented on #243
Does anyone find a solution at this time ?

[2017-06-16 17:09] rylengel opened #513 "Autoscroll/notification when new message is received"
Hi all,

I've got a request from my customer for if a user is reading some text previously in a conversation and the bot send a new message (or, user clicks a button from higher up in the canvas and bot sends a message replying to that), the chat canvas scrolls down to the new message. Is this meant to be the expected behavior of the autoscroll function in History.tsx? If this is not feasible, I w

[2017-06-16 18:14] danmarshall commented on #513
Thanks @rylengel that would be a good feature, it will go into our planning.

[2017-06-18 06:43] mohdkhan786 commented on #243
I think no one able to find solution for this so far...

[2017-06-18 09:51] LyraelRayne commented on #478
One barrier to using this in Angular is the fact that you can't import the node module in Typescript as it has a hard dependency on React/JSX.

I'm not well-versed enough in node to know how to make JSX an optional dependency, but it'd certainly help a lot for that to be done.

[2017-06-18 10:05] LyraelRayne opened #515 "React component crashes react when loaded in a display:none div."
I have a React application which shows/hides the webchat when a user clicks its header. By default the application starts hidden (i.e. the parent of the Chat has display:none).

A few seconds after the page finishes loading I get this

[code]

This does not happen if the application starts up with the chat showing, even if display:none is set afterwards.

Currently I work around it by doing
[code]

[2017-06-18 14:34] billba commented on #478
I don't quite understand the issue. Can you give more details? Error messages?

________________________________
From: LyraelRayne <notifications@github.com>
Sent: Sunday, June 18, 2017 2:51:30 AM
To: Microsoft/BotFramework-WebChat
Cc: Bill Barnes; Comment
Subject: Re: [Microsoft/BotFramework-WebChat] Angular support (#478)

One barrier to using this in Angular is the fact that you can't import th

[2017-06-19 02:32] pvanaarde commented on #451
Was able to resolve this by updating the package.json to use the 'rimraf' command instead of 'rm -rf'.
The rimraf component is already included in the package.json as a dependency, so not sure why it's not being used in the file.
Updated lines from the package.json as follows:
`    "build-css": "node-sass ./src/scss/ -o . && rimraf ./includes/",`
`    "clean": "rimraf built",`

[2017-06-19 12:55] LyraelRayne commented on #478
in version 0.10.6 I got the below:

[code]

I tried reproducing this in a minimal application, and the new app happened to import 0.10.7 where that issue doesn't exist anymore :)

Minimal working component below

[code]

The only real problem is that this essentially includes a copy of react in the angular app's vendor.bundle.js, which is a little bit chunky for a single component.  I guess that c

[2017-06-19 13:45] bhanu2507 opened #516 "Simple Webchat for BotFramework - Using Node/Angular"
https://github.com/bhanu2507/ngwebchat

[2017-06-19 17:56] danmarshall commented on #515
The component needs to do some measuring when it is initialized. Perhaps you can refrain from initializing it until you are ready to display it?

[2017-06-19 17:59] danmarshall commented on #516
@bhanu2507 Thank you for this example!

[2017-06-19 18:36] danmarshall commented on #478
This particular issue regarding `Cannot find namespace 'JSX'` and `Cannot find type definition file for 'react'` is fixed on 0.10.7 - can you upgrade and try again?

[2017-06-19 18:46] danmarshall commented on #451
@pvanaarde which shell are you using? Most shells I use seem to resolve the UNIX style commands.

[2017-06-19 18:57] billba commented on #478
@danmarshall Yes @LyraelRayne already mentioned above that this works with 0.10.7

It is true that using WebChat requires including a copy of React.

This all appears to be working correctly, so I'm closing this issue.

[2017-06-19 18:57] #478 closed

[2017-06-19 20:11] danmarshall commented on #499
Hi @amit6257 - are you referring to the C# SDK? If so, this question might be better for https://github.com/Microsoft/BotBuilder or StackOverflow.

If you want to build custom UI, you might try looking at [Adaptive Cards](http://adaptivecards.io/)

[2017-06-19 23:09] pvanaarde commented on #451
@danmarshall I tried the default Command Prompt, the Developer Command Prompt triggered from within Visual Studio, as well as the NPM Task Runner extension for Visual Studio that is then run via the Task Runner Explorer window. All of these were tried on multiple Windows machines.

[2017-06-19 23:11] danmarshall commented on #451
I see. Would you mind sending a PR?

[2017-06-19 23:14] pvanaarde commented on #451
A Pull Request for my version of this repo?
Apologies if a stupid question, still new with Git, npm and front-end...

[2017-06-19 23:22] danmarshall commented on #451
@pvanaarde Oh I see. If you're feeling adventurous, and you'd like to be a code contributor to this project, you can join the fun here on GitHub. Since you already have the fix you describe above.
The easiest way is to go to package.json and find the "edit" button. GitHub will guide you through from there :)

[2017-06-19 23:38] pvanaarde commented on #451
@danmarshall Thanks! Done.... https://github.com/Microsoft/BotFramework-WebChat/pull/517

[2017-06-20 11:35] LyraelRayne commented on #515
I can probably make the render of the JSX component conditional on the user having selected to show it at least once, but it'd be a little awkward and I'd probably only consider that a workaround not a fix. It'd be a great improvement to the robustness of the component if it didn't crash the entire application when the measurements failed (perhaps logging to the console that it detected a failure

[2017-06-20 21:00] husseinsa opened #519 "Web Chat not working with Edge"
I added a WebChat channel to my registered bot, and paste in the supplied <iframe> code.

[code]
It's working on Google Chrome:
- If the user press 'Ok' for the first question he received, then he gets the next question.

However,  that is not working on Microsoft Edge.
- Pressing the 'Ok' of the first question recieved, return 'Ok' back to the user
 However, if I browse the web chat directly  on

[2017-06-20 21:56] danmarshall commented on #458
Adaptive cards code has been merged into master, so you can grab the code and build your own WebChat. The NPM package will be coming soon.

[2017-06-20 21:56] #458 closed

[2017-06-21 04:19] ankurMalhotra commented on #516
How would you handle refreshing of the token?

[2017-06-21 04:40] ankurMalhotra opened #520 "Embedded web chat: refresh token"

[2017-06-21 05:52] nupurkamble opened #521 "How to obtain url of the website?"
Using the Backchannel sample I've written the following to send a value to the backend every time the page is loaded . But I'm trying to send the url(direct line endpoint) as the value. Is there a way to do that?

    <body onload="postLoadMessage()">
	<div id="BotChatGoesHere" class="wc-narrow"></div>
	<script src="botchat.js"></script>
    <script>
            var params = BotChat.queryParams(lo

[2017-06-21 06:51] #520 closed

[2017-06-21 07:37] #521 closed

[2017-06-21 12:43] billba commented on #516
@ankurMalhotra WebChat refreshes the token for you automatically

[2017-06-21 17:21] photodesignch opened #522 "Can't build the current build"
Hey guys,

The latest change currently won't make a successful build. "npm run build" command will have exceptions as following ::

../../src/Chat.tsx(122,9): error TS90010: Type 'Subscription' is not assignable to type 'Subscription'. Two different types with this name exist, but they are unrelated.
  Property '_parent' is protected but type 'Subscription' is not a class derived from 'Subscriptio

[2017-06-21 17:28] billba commented on #522
Can you please report OS and npm versions

[2017-06-21 17:32] photodesignch commented on #522
npm : 4.6.1
OS : Windows 10 ENterprise 1607
OS Build : 14393.1198
Node : 6.10.2

[2017-06-21 18:59] danmarshall commented on #522
can't repro on 3 clean installs. Thanks

[2017-06-21 18:59] #522 closed

[2017-06-22 01:33] ankurMalhotra commented on #516
ok I see. Using the token instead of the secret would still not prevent other developers to copy the bot onto their page right? Recommendations on how to do that?

[2017-06-22 10:04] mohit-jcc opened #526 "How can I change the voice for the Text to speech feature?"
I am using the Speech recognition feature from the 'Speech' branch and I am able to do the conversion from text-to-speech as well as text-to-speech back.

However, I wish to be able to modify the voice used for the text-to-speech part as it is very robotic and unpleasant right now. Are there options to chose from? If not could you please provide some instructions on how to go about customising it.

[2017-06-22 10:05] bhanu2507 commented on #516
Token is refreshed from DirectLine token generator everytime you load the chat window.

[2017-06-22 18:34] danmarshall commented on #526
@shahidkhuram @w-Yuan can you help?

[2017-06-22 18:54] shahidkhuram commented on #526
@mohit-jcc  take a look at CognitiveServices.SpeechSynthesizer in latest sample
sample: https://github.com/Microsoft/BotFramework-WebChat/blob/speech/samples/speech/index.html

This uses cognitive services for text to speech. You can pass the voiceName property to ICognitiveServicesSpeechSynthesisProperties to control which voice is used.

For the set of voices supported by cognitive services, ple

[2017-06-22 19:49] Rashree138 opened #527 "How to can send message from any webclient application to chat bot?"

[2017-06-22 19:50] Rashree138 commented on #527
Below is the sample code which is using and this is not send any mesage in WebChat.

 HttpClient client = new HttpClient();
            Uri uri = new Uri("https://directline.botframework.com/v3/directline/conversations");
            // Add an Accept header for JSON format.
            client.DefaultRequestHeaders.Accept.Add(new System.Net.Http.Headers.MediaTypeWithQualityHeaderValue("application/

[2017-06-23 15:00] nwhitmont commented on #500
[NPM v5 Breaking Changes](http://blog.npmjs.org/post/161081169345/v500)

**Breaking Changes**

Existing npm caches will no longer be used: you will have to redownload any cached packages. There is no tool or intention to reuse old caches. (#15666)

npm install ./packages/subdir will now create a symlink instead of a regular installation. file://path/to/tarball.tgz will not change – only directorie

[2017-06-23 15:25] watilde commented on #500
I couldn't reproduce the original issue, but I got another issue.
Here is my debug.log: https://gist.github.com/watilde/efa7833a60a68a3bf39cfbc3dbd65d02

[2017-06-23 21:07] danmarshall commented on #500
@watilde from your log it appears that the React typings aren't compiling. Can you tell us what version of @types/react and typescript were installed?

[2017-06-23 21:14] eanders-MS commented on #500
I think there are two at play problems here:
1. WebChat's dependency criteria are too loose, allowing for minor revisions. This allows breaking changes in. When building from a clean directory, an incompatible version of @types/react/index.d.ts is downloaded (I can repro this locally). A few solutions exist: Use ~ semver operator, allowing only bugfix revisions. Or, use something like NPM ShrinkWr

[2017-06-23 23:44] danmarshall commented on #500
As for 2, all test dependencies should be in devDependencies. I don't think they need a separate package.json, but I could be convincable.

[2017-06-24 00:17] eanders-MS commented on #500
The problem is that `npm install` installs devDependencies, resulting in a broken build.

[2017-06-24 05:14] danmarshall commented on #500
oic :-)
Would it help to use the compiler option `--skipLibCheck` :Skip type checking of all declaration files (*.d.ts). ?
https://www.typescriptlang.org/docs/handbook/compiler-options.html

[2017-06-24 13:22] vivekcek opened #533 "When can we have the speech feature available in IFRAME"
Hi,

Now i am using Web chat with IFRAME. But i don't have speech feature available now.
When can i expect this. I am not planning to download web chat code and include in my site.

[2017-06-26 15:22] starlord-daniel opened #534 "Duplicate of root dialog welcome message if using proactive message node js"
The behavior occurs when I add a proactive message to the bot which greets the user every time a new user is added:

[code]

The emulator works fine, but when I test it in the Web Chat, after I do a choice in the root dialog, the message just reappears. Is there any way to circumvent this behavior? Root code:

[code]

Best,
Daniel

[2017-06-26 15:37] billba commented on #534
This is not a bug in WebChat but instead a difference between Direct Line and the Emulator's emulation of Direct Line. This is a very common report. @eanders-MS maybe we should make the Emulator follow the behavior of Direct Line until @dandriscoll fixes the underlying problem?

[2017-06-26 15:37] billba commented on #534
Closing as not a bug in WebChat.

[2017-06-26 15:37] #534 closed

[2017-06-27 05:05] DL-LiveTiles opened #536 "Cannot access the bot user data on backchannel post activity"
Hello,
We want to post a ConversationUpdate activity using the backchannel when the WebChat load.
The ConversationUpdate is triggered correctly using the code below, but the from.id received by the bot is different to what is sent and therefore the user bot data store is different.

I tried setting the user and from properties on both the bot connection and post method, but neither is working.

Ho

[2017-06-27 05:06] DL-LiveTiles commented on #364
@billba We need this feature, but is this not the purpose of the backchannel?
I am trying to use the backchannel, but getting stuck on one issue: https://github.com/Microsoft/BotFramework-WebChat/issues/536

[2017-06-27 06:05] nupurkamble commented on #411
@billba

has this problem been solved ? my bot is deployed using directline. and the bot does not scroll automatically to the bottom.

[2017-06-27 09:25] akasranjan005 opened #537 "How can i make the Webchat Responsive"
I have embedded the WebChat on my website, i want to make it responsive as the website requirements. Can i use bootstrap feature in order to achieve this or i will have to rewrite the css of webchat?

[2017-06-27 09:30] akasranjan005 commented on #465
I am also facing the same issue, the bot responds with "couldn't send retry" but actually the conversation proceeds. How can i fix this?

[2017-06-27 11:08] nupurkamble opened #538 "Outlook is not opening in BackChannel"
I have deployed a bot using backchannel. I have written the following code for a bot. Email opens in Bot Emulator. but throws an error when the bot is working on the website.
Is there any way to solve this ?

            private async Task ConnectWithPractice(IDialogContext context)
        {
            List<CardAction> buttons = new List<CardAction>();
            CardAction button1 = new CardAc

[2017-06-27 14:30] ohmusama commented on #465
We fixed this by immediately returning from the message controller with HttpOK. And start the bot in a async void background thread.

From: Akash Ranjan
Sent: Tuesday, June 27, 2017 2:30 AM
To: Microsoft/BotFramework-WebChat
Cc: ohmusama; Comment
Subject: Re: [Microsoft/BotFramework-WebChat] Web chat shows retry but messageis really send to bot (#465)

I am also facing the same issue, the bot resp

[2017-06-27 15:31] billba commented on #536
ConversationUpdate is a synthetic activity sent by the bot framework connector. You shouldn't send it from the client. I would suggest sending an Event activity instead. That's how Backchannel works.

________________________________
From: Douw Loots <notifications@github.com>
Sent: Monday, June 26, 2017 10:05:10 PM
To: Microsoft/BotFramework-WebChat
Cc: Subscribed
Subject: [Microsoft/BotFramework

[2017-06-27 16:04] billba commented on #465
I would still like to know more about this problem. WebChat/DirectLineJS has a 20 second timeout. Are you all seeing faster fails than that? If so it's (probably) not on the client side.

[2017-06-27 16:06] billba commented on #538
This looks to me like the bot itself is opening Outlook. Since the bot is running on the server, this will not work.

The simplest way to open email on the client is to use a "mailto:you@company.com" hyperlink.

[2017-06-27 16:07] billba commented on #537
Here is some information on WebChat responsiveness: https://github.com/Microsoft/BotFramework-WebChat#card-sizes--responsiveness

[2017-06-27 16:10] ohmusama commented on #465
In telemetry we were seeing intermittent 15s timeouts, but it appeared to the client faster on occasion. We assumed it was our fault.

From: Bill Barnes
Sent: Tuesday, June 27, 2017 9:04 AM
To: Microsoft/BotFramework-WebChat
Cc: ohmusama; Comment
Subject: Re: [Microsoft/BotFramework-WebChat] Web chat shows retry but messageis really send to bot (#465)

I would still like to know more about this pr

[2017-06-28 03:46] DL-LiveTiles commented on #536
The event activity does have access to the user bot data and I was able to trigger a "fake" conversation update using below:

WebChat:
`botConnection
    .postActivity({ type: "event", from: user, name: "ConversationUpdate", value: "" })
    .subscribe(id => console.log("Conversation updated"));`

Bot
`if (context.Activity.Type == ActivityTypes.Event)
            {
                IEventActivity e

[2017-06-28 03:46] #536 closed

[2017-06-28 03:57] billba commented on #536
Yup, that's the way we designed it. Glad it's working for you.

[2017-06-28 07:01] nicekiwi commented on #515
+1

[2017-06-28 07:13] alokraj68 commented on #465
Hi guys,
Am also receiving a similar error in telemetry. am using .net SDK.
This error started to creep in recently. we are not able to identify what causes this error.

[2017-06-28 07:27] akasranjan005 commented on #537
But it does not make it mobile friendly, anything for making it mobile responsive just like bootstrap does by resizing the div based on the screen size?

[2017-06-28 07:30] akasranjan005 commented on #465
I am using rest api on python, maybe the case is of timeout but how  can i handle it if the processing work takes more than 20 sec?

[2017-06-28 07:38] nupurkamble commented on #538
Okay I'll try that. @billba Thank you.

[2017-06-28 07:38] #538 closed

[2017-06-28 07:49] alokraj68 commented on #465
but in our case, the processing is not taking that long when we do the testing,

[2017-06-28 13:51] billba commented on #537
@danmarshall can you provide some guidance?

[2017-06-29 05:59] nupurkamble commented on #411
@LarsLiden

has this issue been solved ?
my bot is deployed using backchannel. and the bot does not scroll automatically to the bottom every time a button on richcard is clicked.

[2017-06-29 14:11] miscalencu commented on #467
I see that Adaptive Cards have been implemented. But this is still not available in the sources available at https://unpkg.com/botframework-webchat, is this correct? Because I get a "[File of type 'application/vnd.microsoft.card.adaptive']" error using unpkg resources. Any idea when this will be updated?

[2017-06-29 16:11] photodesignch commented on #467
@miscalencu I believed that the adaptive cards integration is in the adaptivecards branch right now. It just hasn't merged into the master yet.

[2017-06-29 16:22] photodesignch commented on #411
@nupurkamble This issue has been raised. We were discussing for the solution. It will be fixed soon.

[2017-06-30 07:19] pr3d1ction opened #540 "How to change - Say "hi" if you'd like to chat"
Hi folks,
We want to change the "welcome message" that appears next to the Bot Picture:

How can we change this? Where is it coming from?

Thanks!

[2017-06-30 11:29] PrasenjitSaha commented on #467
@photodesignch can you please share the code base location?

[2017-06-30 11:42] marconsilva opened #541 "Getting bat gateway error when using Webchat only if when using the In your non-React website, run WebChat inline initialization and not when using the IFrame"
Hi guys, I'm having some problems with an integration of the WebChat Client Application on a webpage. When I'm using the IFrame all works well but I want to do some changes to the title bar of the webclient and the IFrame integration wont permit that, so I followed the steps in the readme to use the integration referenced as "Easy: In your non-React website, run WebChat inline".

my page code look

[2017-06-30 12:02] billba commented on #541
I'm not sure this is the problem, but your shouldn't be using the same secret. The WebChat *channel* requires a WebChat secret, but the WebChat *control* requires a Direct Line secret. Confusing, I know.

[2017-06-30 12:39] marconsilva commented on #541
A bit... given that it is bottom line a WebChat as well :) non the less I generated a new DirectLine Secret and it didn't work as well... same behaviour...

[2017-06-30 17:39] dirugadr commented on #451
Hi, I've downloadad the code (instead of clone it) and when I ran NPM install, I got this error message:

`> tsc && npm run build-css && webpack --progress --config webpack.production.config.js

node_modules/@types/react/index.d.ts(195,27): error TS1005: ',' expected.
node_modules/@types/react/index.d.ts(195,29): error TS1005: '>' expected.
node_modules/@types/react/index.d.ts(195,31): error TS112

[2017-06-30 17:40] photodesignch commented on #540
The conversational logic should be in your own bot.

[2017-06-30 17:45] photodesignch commented on #467
@PrasenjitSaha

[Adaptive card branch](https://github.com/Microsoft/BotFramework-WebChat/tree/adaptivecards) has the most up-to-date adaptive cards' integration to webchat.  However, it's heavily depend on the adaptive card module in the node_module.  If you want to integrate the most up-to-date adaptive cards. You should go to [Adaptive Cards repo](https://github.com/Microsoft/AdaptiveCards) and

[2017-06-30 17:59] photodesignch commented on #451
Yesterday when we bumped into this issue, we realized the package.json versions aren't matching with the building version.  Please at least try following:

1. npm install @types/react@15.0.21  (downgrade your react to 15.0.21)
2. npm install @types/react-redux@4.4.38 (downgrade your react-redux to 4.4.38)

These exceptions we saw on adaptivecards branch, but they are identical errors from @dirugad

[2017-06-30 18:47] billba commented on #540
If you are seeing the bot picture and the "say Hi" text you are running the old version of WebChat. The modern version doesn't include a welcome message (as @photodesignch points out, you provide that with your bot).

@dandriscoll I thought we upgraded everyone to the new WebChat?

[2017-06-30 20:02] dirugadr commented on #451
Well, I could perform the first step, but second one failed, the error was that there was not such 4.4.38 version for react-redux.
I tried to run the build again, but it is still failing.
Thanks!

[2017-06-30 21:34] photodesignch commented on #451
@dirugadr  Sorry! have you tried **npm install @types/react-redux@4.4.38**?

[2017-06-30 23:03] nwhitmont opened #543 "[Bug] Cannot display SVG images with MIME type "image/svg+xml""
Relates to: https://github.com/Microsoft/BotFramework-Emulator/issues/237

SVG images don't display as images when added to message attachments, Node SDK for botbuilder.

Example:
[code]

Expected result:
SVG image is displayed in chat message.

What actually happened:
SVG image not displayed, shows only text `[File of type 'image/svg+xml']`

<img width="1439" alt="screen shot 2017-06-30 at 12 10

[2017-07-03 06:15] pr3d1ction commented on #540
I just deactivated the preview versions in the webchat settings.
Is this being to be deactivated then in the near future? I personally like it with the picture there at the start.

Is there also a plan to let the users just change the color of the upper blue border? I would like to avoid to republish for every new web chat bot. :)

Thanks!

[2017-07-03 11:26] bhanu2507 opened #544 "Using runkit.com for BOTFramework Message Endpoint"
[code]

[2017-07-03 13:19] billba commented on #544
What is the issue?

[2017-07-03 13:31] bhanu2507 commented on #544
Errors in channel health but code works fine with skype channel

​

On Mon, Jul 3, 2017 at 6:49 PM, Bill Barnes <notifications@github.com>
wrote:

[2017-07-03 15:25] billba commented on #544
Okay so if you'd like some help on this issue then you have to be more expansive. Your original report doesn't even mention errors. What errors are you seeing? I'm not familiar with runkit.com, so you might need to fill in some gaps there.

[2017-07-03 17:20] nwhitmont commented on #544
@billba - duplicate of https://github.com/Microsoft/BotBuilder/issues/3075

[2017-07-03 17:23] #544 closed

[2017-07-03 17:36] nwhitmont opened #545 "[Bug] CDN version of botchat.js does not support Adaptive Cards"
I tried to deploy webchat using the following example: [Easy: In your non-React website, run WebChat inline](https://github.com/Microsoft/BotFramework-WebChat#easy-in-your-non-react-website-run-webchat-inline) but in the CDN linked version, Adaptive Cards do not work. But Adaptive Card renders w/o errors in iframe provided by WebChat channel in bot dev portal.

[code]
![webchat iframe vs directlin

[2017-07-03 18:14] billba commented on #545
Correct. The channel is running a one-off version of WebChat with Adaptive Cards and Speech support. We are in the process of carefully migrating these features to the main branch.

[2017-07-03 18:15] #545 closed

[2017-07-03 18:18] billba commented on #540
The old version is going away. You can customize the border color and other display options by deploying this control (following the directions in the README) with a custom .CSS file. At the moment there is no way to customize the WebChat channel.

[2017-07-03 18:18] #540 closed

[2017-07-03 18:19] billba commented on #537
A quick note: if you make the WebChat full screen it will resize with the screen size. Otherwise you need to work harder.

[2017-07-04 00:24] nicksav commented on #451
Can't build as well. The same issues as @photodesignch

[2017-07-04 00:48] nicksav commented on #451
Ok. Got this working. Updated React to React v15.0 and also TypeScript to 2.3

[2017-07-04 07:29] akasranjan005 commented on #537
i got the point of working harder :P , full screen also doesnt help as the carousel size and text size also needs to be increased as per device screen,
Anyways thanks for giving us this platform.

[2017-07-04 21:15] danmarshall commented on #537
Hi @akasranjan005, can we look at your issues one by one and just address each issue specifically? Also, is your WebChat in an iframe or directly in a div on your page?

[2017-07-05 01:23] junpark12 opened #547 "attachment file in IE."
Hi I'm testing webchat inside html page.
when i try to upload image files to the page, following code handles the request.

private async Task MessageReceivedAsync(IDialogContext context, IAwaitable<object> result)
{
       try
       {
              var activity = await result as Activity;
              var attachment = activity.Attachments.First();    <--- issue line...

when i use chrome to upl

[2017-07-05 02:54] punitganshani commented on #451
can someone please post the final `package.json` file?

[2017-07-05 16:13] EricDahlvang commented on #541
This appears to be due to the difference between the iframed botchat.js and the cdn botchat.js.

https://webchat.botframework.com/scripts/adaptive/botchat.js <--iframe's botchat
https://unpkg.com/botframework-webchat/botchat.js <--cdn's botchat

Once the cdn botchat.js is updated to the latest version, there will be parity between the two and this error will no longer occur.

[2017-07-06 00:24] nwhitmont opened #548 "v0.10.6 this repo vs v0.10.7 on NPM?"
Why does this repo master branch list WebChat at 0.10.6 when NPM is showing the latest version as 0.10.7?

This repo, package.json:
![0 10 6 botframework webchat package json at master microsoft botframework webchat](https://user-images.githubusercontent.com/3075047/27890302-b9e4bcc2-61a6-11e7-8f6e-22475f621062.png)

NPM:
![0 10 7 npm botframework webchat](https://user-images.githubusercontent.com

[2017-07-06 02:05] nwhitmont opened #549 ""npm run build" fails with multiple errors"
### System Information
- macOS 10.12.5 Sierra
- Node.js 6.10.2
- npm 3.10.10
- Typescript (global install) 2.3.4

### Problem Description
Following the build instructions on this repo, `npm run build` fails with error.
[code]

[2017-07-06 04:15] danmarshall commented on #548
It means that the version was bumped on @GeekTrainer 's local machine package.json when it was published, and this wasn't checked in.

[2017-07-06 06:21] Chitma commented on #467
Hello All,

I am implementing custom webchat for my bot. I have linked .css and .js files as shown in documentation by providing directline secret. My bot contains adaptive cards to be rendered but i get "[File of type 'application/vnd.microsoft.card.adaptive']" error could anyone please tell me am I doing it right? or is it something I am missing?

I have read some comments above but couldn't get

[2017-07-06 06:57] ravi2808 opened #550 "Loop carousel"
I need to loop through the carousel, If I click right arrow on last card, it should go to first and vice-versa

[2017-07-06 06:58] danmarshall commented on #550
@jecristi thoughts?

[2017-07-06 10:01] 82antu commented on #445
Same Issue Here;

2.2.2 Version seems work.

[2017-07-06 14:20] mansoorcheema commented on #549
Also fails on

- Widows 10
- Nodejs 6.11.0-x64
- npm  v3.10.10

Error Message:
node_modules/@types/react/index.d.ts(199,27): error TS1005: ',' expected.
node_modules/@types/react/index.d.ts(199,29): error TS1005: '>' expected.
node_modules/@types/react/index.d.ts(199,31): error TS1128: Declaration or statement expected.
node_modules/@types/react/index.d.ts(199,41): error TS1109: Expression expecte

[2017-07-06 15:30] billba commented on #550
What do other channels do? The problem with looping is that you may not know you have wrapped around. @ravi2808 why do you "need" to loop through?

[2017-07-06 16:34] GeekTrainer commented on #549
This should now be resolved. There was a TypeScript version issue.

[2017-07-06 16:34] #549 closed

[2017-07-06 16:35] GeekTrainer commented on #548
This should now be resolved.

[2017-07-06 16:35] #548 closed

[2017-07-06 16:36] GeekTrainer commented on #533
The current plan is to get that implemented soon.

[2017-07-06 16:38] GeekTrainer commented on #500
If you set the version of TypeScript to 2.3, which is now done in the current version in GitHub, it should resolve this issue.

[2017-07-06 16:45] nwhitmont commented on #549
Thanks for the update @GeekTrainer

[2017-07-06 16:47] rylengel commented on #513
Hey @danmarshall , I've got a similar request from my customer on this issue...some bot responses are very lengthy and require the user to scroll up in the chat canvas to read the beginning. They'd prefer to have the top of a new message displayed in the view rather than having to scroll.  Any advice on where I could tweak this behavior? I'm guessing something with the autoscroll() function in His

[2017-07-06 17:09] GeekTrainer commented on #499
Closing, as this appears to be a bot design issue, rather than a client issue.

[2017-07-06 17:09] #499 closed

[2017-07-06 17:15] GeekTrainer commented on #547
Right now, this is the known behavior in IE 11. At the moment, we do not have an official browser support matrix. I have added this issue to the backlog, and we will determine next steps from there.

[2017-07-06 18:30] nwhitmont opened #553 "[Bug] Adaptive Cards > Error rendering quote chars in message.text"
**Problem Description**
Testing newest build of [webchat 0.10.8](https://www.npmjs.com/package/botframework-webchat) via unpkg CDN link, there appears to be an error rendering `"` characters. Works fine in WebChat "Channel" iframe. see attached.

**Expected:**
`You can request the current weather forecast for CITY_NAME by typing: “what is the weather in Miami?”`

**Actual:**
`You can request the c

[2017-07-06 18:39] nwhitmont opened #554 "[Adaptive Cards] Different rendering of card Direct Line + unpkg/botchat.js vs WebChat channel iframe embed code"
**Problem Description**
Testing new build of botframework-adaptive cards via unpkg CDN URL, the Adaptive Cards are rendered differently when using Direct Line + unpkg `botchat.js` vs iframe embed code provided by WebChat channel in Bot Portal channels page.

**Demo**
- http://nils-luis-weather-bot.azurewebsites.net/directline
- http://nils-luis-weather-bot.azurewebsites.net/webchat

**Actual**
Car

[2017-07-06 18:41] danmarshall commented on #554
The WebChat channel is part of the BotFramework and has a separate release cycle. We will try to get this updated soon.

[2017-07-06 18:54] nwhitmont commented on #451
TypeScript version issue breaking the build has been updated today and is in NPM release v0.10.8

[2017-07-06 19:19] danmarshall commented on #467
Hi @Chitma the latest release 0.10.8 may fix this for you. Can you get the latest version and try again?

[2017-07-06 19:20] danmarshall commented on #467
Hi @miscalencu the latest version 0.10.8 may fix this for you. Can you get the latest version and try again?

[2017-07-06 19:25] #451 closed

[2017-07-06 19:35] rohantare commented on #549
Thanks a ton @GeekTrainer , issue seems to be resolved!

[2017-07-06 19:46] #448 closed

[2017-07-06 19:46] #449 closed

[2017-07-06 19:54] danmarshall commented on #541
@marconsilva - the CDN version has been updated, can you make sure you have latest and see if the error still occurs?

[2017-07-06 20:00] danmarshall commented on #550
Hi @ravi2808 thank you for the feature request, but this is not something that we will take on at this time. Cheers

[2017-07-06 20:00] #550 closed

[2017-07-06 20:08] danmarshall commented on #527
Do you have a conversationID ?

[2017-07-06 20:13] danmarshall commented on #513
@rylengel this may become tricky when there are multiple new messages. Which would be the correct message to scroll to?

[2017-07-06 20:16] rohantare commented on #320
@billba  @danmarshall  I am also having ASP.NET MVC website, the styling works for me very well. I want to add speech to text to webchat control. As per instructions, i think i need to have REACT website.  Is it possible to include custom build of webchat control in ASP.NET MVC website?

[2017-07-06 20:17] rylengel commented on #513
@danmarshall the first message in that sequence.

[2017-07-06 20:20] rohantare opened #555 "Webchat control custom build in ASP.NET website"
I have ASP.NET website , which have webchat control. I have configured DirectLine channel. The styling works well, as i include botchat.css in my content folder.
Now I need to include speech to text capabilities. I know there is separate branch which I need to download, build and refer.
The instructions say it is possible in REACT website.

My question : How can i add speech to text build in my AS

[2017-07-06 20:58] danmarshall commented on #320
@rohantare yes, just build from source. Then copy the botchat.js and css files to use as in the readme https://github.com/Microsoft/BotFramework-WebChat#easy-in-your-non-react-website-run-webchat-inline

[2017-07-06 21:00] danmarshall commented on #555
Please see the samples in the speech branch here: https://github.com/Microsoft/BotFramework-WebChat/blob/speech/samples/speech/index.html

[2017-07-06 21:03] danmarshall commented on #513
We don't have the "new messages" functionality yet of course, but yes I think you'd look at https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/History.tsx#L74 and adjust the calculation to subtract the height of the last unread messages.

[2017-07-07 14:20] hofman-p commented on #272
I have got the same problem. I'd like to render Youtube / Vimeo video clips, but that doesn't work with video cards, neither with more classical attachment as @billba solution (I'm not using Typescript, so don't the `as builder.IAttachment`).

So my 'ugly' solution is to use carousel of HeroCards with buttons openUrl to videos

[2017-07-07 17:44] danmarshall opened #557 "Need unit tests for raw attachments and more cards"
Raw attachments:
- [ ] Audio
- [ ] Image
- [ ] Video

Cards:
- [x] Audio card
- [x] Animation card
- [x] Hero card
- [x] Signin card
- [x] Thumbnail card
- [ ] Video card

[2017-07-07 21:17] danmarshall commented on #498
@sowsan I am going to close this issue here in the WebChat repo since it is also being tracked in BotBuilder and is more related to DirectLine behavior than WebChat itself.

[2017-07-07 21:17] #498 closed

[2017-07-07 21:56] danmarshall commented on #201
@jecristi can we get the design from you?

[2017-07-08 21:33] danmarshall commented on #547
I'm going to re-open this and assign to myself  just that I might have a chance to see if there may be an easy fix or workaround.

[2017-07-08 21:33] danmarshall commented on #547
@reyesrico - perhaps we can add multiple browser tests?

[2017-07-09 00:09] miscalencu commented on #467
I can confirm that everything is OK now. The card is displayed.

[2017-07-10 06:32] akasranjan005 commented on #537
I am using it inside a div and not an iframe.
So, i need to write css for every component, like carousel, textbox, fontsize etc etc for various screen size

[2017-07-10 11:07] miscalencu opened #561 "Internet Explorer compatibility"
Does The Backchannel (https://github.com/Microsoft/BotFramework-WebChat#the-backchannel) works in IE11? Because as soon as I added an event it stopped displaying the chat window and I have no console errors. But in other browsers (Chrome for ex.) everything is still OK.

[2017-07-10 13:29] 20112077 commented on #43
Hi @danmarshall,
do you have any idea when the bot icon will be probably available in the web chat?

[2017-07-10 13:31] billba commented on #561
Can you give us some code?

________________________________
From: George Miscalencu <notifications@github.com>
Sent: Monday, July 10, 2017 4:08:00 AM
To: Microsoft/BotFramework-WebChat
Cc: Subscribed
Subject: [Microsoft/BotFramework-WebChat] Internet Explorer compatibility (#561)

Does The Backchannel (https://github.com/Microsoft/BotFramework-WebChat#the-backchannel<https://na01.safelinks.protec

[2017-07-10 14:14] miscalencu commented on #561
This code works perfectly in Chrome:

[code]
But in IE11 I cannot see the chat window. Plus, there is no error in the console.
If I remove the `subscribe` part, the chat will initialize, but the event will not be triggered. Again, no error in the console.

[2017-07-10 14:19] miscalencu commented on #561
OK, I'm stupid. It turns out that I had an error in the console after all....
I changed:
`.subscribe(id => console.log("user initialization success"));`
with:
`.subscribe(function (id) { console.log("user initialization success"); })`
and everything is OK now.

Thanks for your help.

[2017-07-10 14:32] billba commented on #561
No worries, I keep making that mistake with IE11 as well - I have to go back in time and write paleo-JS. Glad it's working for you now!

[2017-07-10 14:32] #561 closed

[2017-07-10 14:36] billba commented on #555
The client code will be the same whether you are using ASP.NET, Node, Rails, etc. For the most part your  web server won't be involved at all except for serving up the HTML + JS. However if you want your client to use the more secure Token approach then your server will have to generate that and provide it to the client. @danmarshall @GeekTrainer @dandriscoll we'll have to decide where sample code

[2017-07-10 17:41] danmarshall commented on #537
@akasranjan005 - perhaps you should be using a [mobile viewport meta tag](http://www.javascriptkit.com/dhtmltutors/cssmediaqueries3.shtml) in your page:

[code]
For an example, see https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples/fullwindow/index.html#L20

[2017-07-10 17:49] maheshksingh commented on #243
Any solution found for intranet bots

[2017-07-10 19:19] reyesrico commented on #411
@LarsLiden merge has been done. The autoscroll will be triggered when there is any action from the user. Can you please confirm?

[2017-07-10 23:55] reyesrico opened #562 "Need unit test for markdown double newline"
Need unit test for markdown double newline

[2017-07-11 00:31] reyesrico opened #564 "Receipt Cards are not rendered with design margins for mobiles."
![capture 2](https://user-images.githubusercontent.com/10733155/28046038-a0cc0d1a-6595-11e7-9901-846e67b7a196.JPG)

[2017-07-11 01:40] danmarshall opened #565 "Use of Microsoft Cognitive Services Speech should show policy"
If Microsoft Cognitive Services are used for speech recognition, something like the following should appear for a brief moment:

![image](https://user-images.githubusercontent.com/11507384/28047479-29450bb6-659f-11e7-942d-9d98ae618365.png)

[2017-07-11 04:59] akasranjan005 commented on #537
Thank you soo much 👍
One more query, can i give a cross(X) button on the header of my chat window to minimize it (kind of).

:)

[2017-07-11 05:04] #537 closed

[2017-07-11 07:04] GaiaAnn opened #567 "[WebChat Carousel] doesn't display right scroll button"
## System Information (Required)
* SDK Language: .NET/C#
* SDK Version: 3.8.2
* Development Environment: LOCALHOST

## Issue Description
I used the standard Bot Framework WebChat channel to get an IFRAME of mybot and embeded in my website.
This is my Carousel. It doesn't show the right button.

<img width="693" alt="2017-07-10 10 32 40" src="https://user-images.githubusercontent.com/17616235/28001

[2017-07-11 07:07] danmarshall commented on #567
Can you please share the JSON of your message which contains the carousel?

[2017-07-11 07:24] GaiaAnn commented on #567
[code]

[2017-07-11 14:52] amitbend commented on #64
Any update @danmarshall ?
This can be very helpful.

[2017-07-11 17:51] danmarshall commented on #64
@amitbend no updates at this point.

[2017-07-11 18:51] craigomatic opened #568 "React chat component greedy focus"
## Background

I have a vertically scrolling page where the chat component is placed inline, at the bottom of the page below the fold, like this:

====================
 menu, text, image, etc

 --------------fold--------------
 more text

`<Chat />`

====================

When the page loads in both Edge and Chrome, focus is placed on the chat input box and the page jumps immediately to the bottom

[2017-07-11 19:25] billba commented on #568
Yeah, that's a good idea. I think 95% of our testing is in full-page mode and we don't sufficiently take into account the differences when WebChat is an embedded in a page.

[2017-07-11 21:02] #195 closed

[2017-07-11 21:29] nwhitmont commented on #553
@reyesrico The code used to trigger this error is:
[code]

[2017-07-12 00:16] reyesrico commented on #553
@nwhitmont make sure to set the charset=UTF-8 in the bot server and in the bot client:

- For the webserver (i.e. IIS, Azure, etc) set the Content-Type: text/html; charset=UTF-8
- For the client (index.html) set the <meta charset="UTF-8" />inside the <head> tag.

[2017-07-12 10:25] jazzedge opened #571 "Adaptive card not working on Emulator"
Hi, despite guidance to the contrary, it looks like the adaptive card isn't working on the Emulator. I get the following error: [File of type 'application/vnd.microsoft.card.adaptive'] when trying to display the card from this repo: https://github.com/Microsoft/BotBuilder-Samples/blob/master/Node/cards-AdaptiveCards/app.js#L138-L153.  Any suggestions?

The code is as follows:

var bot = new builde

[2017-07-12 11:01] 20112077 opened #572 "Welcome Message from Bot language"
Hello,
 I send the user a welcome message when the conversation is updated. The string for this message comes from a ressource file. The message is available in English and German, but the bot always sends the welcome message in English. With the following messages the bot always uses the right language, depending on the browser settings. Is it possbile to also get the first message in the right l

[2017-07-12 14:35] billba commented on #572
I would guess the problem is that the user locale (like the user name) is only sent to the bot with a user message. @dandriscoll it would be nice to send these when starting the conversation.

As a workaround, you can use the [backchannel](https://github.com/Microsoft/BotFramework-WebChat/#the-backchannel) to send the an event containing the locale to the bot.

[2017-07-12 16:34] ryanlengel opened #573 "[Adaptive Cards] Expanded choice input is rendering as a dropdown rather than radio buttons"
I'm building out adaptive cards with the .NET SDK and trying to have radio buttons rendered rather than dropdowns. If I switch between a ChoiceInputStyle of Compact or Expanded, both are returned as dropdowns in the webchat. Is this functionality available yet, or am I missing a property in the card?  Thanks!

![image](https://user-images.githubusercontent.com/2483151/28128457-a747024e-66e4-11e7-8

[2017-07-12 17:51] danmarshall commented on #573
Can you try your JSON in the [Adaptive Cards online visualizer](http://adaptivecards.io/visualizer/), do you see the radio buttons there?

[2017-07-12 17:58] ryanlengel commented on #573
Yep!
![image](https://user-images.githubusercontent.com/2483151/28132224-0d3f59fa-66f1-11e7-948b-a6e034f7b713.png)

`{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "0.5",
    "body": [
        {
        "type": "Container",
        "separation": "none",
        "style":"normal",
        "items":[
            {
            "type": "

[2017-07-12 17:58] danmarshall commented on #571
Hi @jazzedge - I will guess that you might not have the latest emulator. What version are you using?

Also, you may want to post in https://github.com/Microsoft/BotFramework-Emulator

[2017-07-12 18:08] jazzedge commented on #571
Latest version downloaded today, so not that. I'll do as you suggest and post on the emulator thread, thanks.

[2017-07-12 18:08] #571 closed

[2017-07-12 18:18] danmarshall commented on #573
can you paste your JSON here?

[2017-07-12 18:38] ryanlengel commented on #573
[code]

[2017-07-12 23:00] danmarshall commented on #567
Thanks @GaiaAnn . I could not reproduce the error. Is this the first message in the chat? Perhaps there is a previous message that is not word-wrapping and forcing a wide layout?

[2017-07-13 07:38] GaiaAnn commented on #567
No this is not the first message.We have two message without attachments before Carousel.

[2017-07-13 08:20] danmarshall commented on #567
Ok, can you tell me:
* Is this on Localhost? If so, is this in the emulator?
* Is this in the Iframe from BotFramework?
  * If so, what is your bot Id?
  * can you tell me how can I get to the carousel?
  * which browser is this?
  * what type of page is hosting the iframe?

[2017-07-13 08:53] GaiaAnn commented on #567
- Is this on Localhost? If so, is this in the emulator?
    * I had test on Localhost too. In emulator it works fine.
    * I also test on Server.
- Is this in the Iframe from BotFramework? If so, what is your bot Id?
    * Yes, id is **FB_Conn**
    * You can use my web chat here(key any word) :https://tdd-2012-2/webchat/
    * I use Safari & Chrome. Both not working.
    * html

[2017-07-13 08:58] GaiaAnn commented on #567
My code in **RootDialog.cs**
Just create the same Hero card.

[code]

*Thank you for your prompt  reply !*

[2017-07-13 17:42] #210 closed

[2017-07-13 23:42] danmarshall opened #576 "Autoscroll not working when Markdown contains image"
Expecting that the last message is fully in view.

[2017-07-13 23:47] danmarshall commented on #573
Hi @ryanlengel , thanks for the JSON. I have verified that the behavior work correctly in the WebChat built from source of this repo, and that it is not working as you expect in the BotFramework hosted version of the WebChat. I will be updating the hosted version soon, thanks for your patience.

[2017-07-14 00:12] reyesrico commented on #567
@GaiaAnn another couple of questions:
1. Which browser are you using?
2. Are you changing the width (CSS) from the iFrame or any other outside div?

[2017-07-14 00:25] rachelbransom commented on #467
How can I go about getting the latest version 0.10.8? All my Microsoft.AdaptiveCards packages in Visual Studio say they are up to date (e.g. Microsoft.AdaptiveCards is at version 0.5.0)

[2017-07-14 01:11] danmarshall commented on #467
@rachelbransom if you are creating a web-based project you can get it by running `npm install botframework-webchat`. However it sounds like you may be in a C# project?

[2017-07-14 01:16] rachelbransom commented on #467
Yes, i'm writing a bot using .NET

[2017-07-14 01:18] danmarshall commented on #467
@rachelbransom - so then you are using the Iframe-based WebChat. I am working to get the latest WebChat bits up to the BotFramework site. I'm hoping it will be just a couple days.

[2017-07-14 01:56] GaiaAnn commented on #567
Hi @reyesrico

1. **Safari** & **Chrome**
2. Yes. But the right button still not working if I remove all css.
3. This is not happen only in my web chat . It also happened in bot framework's test web chat.
4. It's very weird. I try it in bot framework's test web chat today.It shows right button at the first time. After I refresh my page, button disappear again !
<img width="300" alt="2017-07-14 9 5

[2017-07-14 02:06] danmarshall commented on #567
Hi @GaiaAnn - Safari & Chrome - on a Mac or PC? I'm guessing Mac since Safari on PC is no longer supported :)

[2017-07-14 02:09] GaiaAnn commented on #567
Yes I'm using **Mac**. But my friend use PC also have the same problem.
So, you test my web chat also can see the right button?
https://tdd-2012-2/webchat/

[2017-07-14 02:11] danmarshall commented on #567
The URL https://tdd-2012-2/webchat/ is not accessible to me. I can repro your error on a Mac. It works correctly on my PCs.

[2017-07-14 02:14] GaiaAnn commented on #567
Sorry my bad.
This URL you can try again https://tdd-2012-2.gss.com.tw/webchat/

[2017-07-14 02:25] GaiaAnn commented on #572
@20112077 Hi,
Can you send the welcome message on web chat ?

[2017-07-14 03:03] ryanlengel commented on #573
@danmarshall that's odd. I'm using the webchat in this repo (latest now) and still getting the same issue. I'm building my card in .NET, maybe I should just convert the JSON for now? Could that make a difference?

[2017-07-14 03:28] danmarshall commented on #573
@ryanlengel I would not think that it would make a difference, but it might be worth a shot... I used the JSON that you sent. How did you create it?

[2017-07-14 04:01] ryanlengel commented on #573
I've just changed my code to use the .NET SDK & JSON, both render with dropdowns. Is https://botchattest.herokuapp.com/ up to date? They are dropdowns in that as well.

![image](https://user-images.githubusercontent.com/2483151/28197862-7d4d32f8-680e-11e7-89f2-c55940cbd202.png)

[2017-07-14 05:53] vinod83k commented on #43
Hi @danmarshall , we are also looking to display bot icon in web chat. Please suggest as when this feature will be available..

[2017-07-14 08:26] 20112077 commented on #572
@GaiaAnn Hi,
The welcome message is working on webchat, I send the message with this code:
`  else if (message.Type == ActivityTypes.ConversationUpdate)
            {
                // Handle conversation state changes, like members being added and removed
                // Use Activity.MembersAdded and Activity.MembersRemoved and Activity.Action for info
                // Not available in all

[2017-07-14 17:49] compulim opened #577 "npm 5 installing old botframework-directlinejs@0.9.7 because package-lock.json is not updated"
`package-lock.json` should be updated to `0.11.0` and it should reference `botframework-directlinejs@0.9.8` instead of `@0.9.7`.

Currently, `npm install` on npm 5 will install `botframework-directlinejs@0.9.7` and causing a build break.

[code]

[2017-07-14 17:56] #577 closed

[2017-07-14 17:58] danmarshall commented on #576
Actual result:
![image](https://user-images.githubusercontent.com/11507384/28224249-43bd57c8-6883-11e7-85a6-922769ef22b4.png)

Expected:
Bottom of message to be docked to the bottom, scrollbar at the bottom.

[2017-07-14 18:14] danmarshall commented on #573
@ryanlengel can you try with the botchat.js from https://unpkg.com/botframework-webchat@0.11.0/botchat.js

[2017-07-14 18:49] danmarshall commented on #573
@ryanlengel also, can you give me your bot ID?

[2017-07-14 21:05] ryanlengel commented on #573
@danmarshall so it appears that an "expanded" style is not being parsed back to the botchat.js, but compact is. So the default behavior is to set it as compact.

**Setting style to Expanded**
![image](https://user-images.githubusercontent.com/2483151/28230719-11c5e20c-689d-11e7-9fc0-d500ed404dbc.png)

**Setting style to Compact**
![image](https://user-images.githubusercontent.com/2483151/28230881-

[2017-07-14 22:55] danmarshall commented on #573
@ryanlengel so, this was indeed in the C# then?

[2017-07-15 01:53] nwhitmont commented on #553
@reyesrico I set the encoding to utf-8 in the HTML meta tag but I'm still seeing special characters in place of quite chars.

Example:
http://divefinder-node.azurewebsites.net/chat

Message JSON:
[code]
Actual:
![single quote char replaced with special chars - contoso dive finder](https://user-images.githubusercontent.com/3075047/28235582-aeffa9d6-68c5-11e7-89cd-8fbe983b7753.png)

[2017-07-15 13:31] GaiaAnn commented on #572
Thanks for your reply.
I'll try this!

[2017-07-15 16:59] sathees3101 opened #581 "Bot - Webchat hosting on the own server"
Hello,
I have a question considering hosting the bot myself.
Well my real target is to change the styling of the bot. Since I cannot adapt the following css [https://webchat.botframework.com/css/adaptive/botchat.css]  I learned that I need to host the bot. I did develop a simple bot and test it on the emulator. Everything was fine.  Now I am struggling to host and run it on my server.
I followed t

[2017-07-15 17:44] ryanlengel commented on #573
@danmarshall it seems so, should I file an issue on the adaptive cards repo then?

[2017-07-15 21:46] danmarshall commented on #573
@ryanlengel yes, please!

[2017-07-15 21:46] #573 closed

[2017-07-15 21:50] danmarshall commented on #581
I believe you may want "[Easyish](https://github.com/Microsoft/BotFramework-WebChat#easyish-in-any-website-iframe-your-webchat-instance)" instead of "Easy" :-)

Please see the sample at https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples/fullwindow/index.html

You can copy this index.html and upload it to your server. Then upload the js and css files that you have built.

[2017-07-16 15:30] sathees3101 commented on #581
Thanks!
I added my coded in the .vs folder. Afterwards I did build the project. Then I added botchat.js and botchat.css .I created an index.html and copied the code adapting the secret and the references to the .js and .css.
Now I get the chat window on my index.html. However I get the following error on the browser.
“Failed to load resource: the server responded with a status of 403. { "message":

[2017-07-17 03:05] nupurkamble opened #582 "Does internet explorer support bot deployed using backchannel?"
I've deployed a bot written in c# using **backchannel**. It works fine on all the browsers including chrome, edge and mozilla firefox except for **internet explorer.** It just does not open. Is there a solution for this ?

This is the backchannel html code which I run.

    <html>
    <head>
    <meta charset="UTF-8" />
    <title>Bot Chat</title>
    <link href="botchat.css" rel="stylesheet" />

[2017-07-17 05:02] arunredhu opened #583 "Speech in React Component"
Hi,

I just implemented BotFramework-WebChat react component with custom build. I want to implement the speech functionality also. As I see it is available in the web-chat sourcebut I didn't find any way to implement this in react. I found there is no export for Cognitive service. Can you please suggest the best way to implement?

Thanks :)

[2017-07-17 15:34] billba commented on #582
IE does not support the "fat arrow" syntax for lambda functions. You'll need to translate to the "function" syntax, e.g.
    const postLoadMessage = function() { ... }

[2017-07-17 15:34] #582 closed

[2017-07-17 15:36] billba commented on #576
This was working...

[2017-07-17 17:29] danmarshall commented on #576
@billba - true: https://github.com/Microsoft/BotFramework-WebChat/blob/b6219c815068efc12ce898a7c0b0c55f3fa4be64/src/FormattedText.tsx#L228

No we are just _dangerously_ setting the html instead of creating a React component for every tag.

[2017-07-17 17:36] billba commented on #576
Yup, `renderMarkdown` now just ignores `onImageLoad`.

[2017-07-17 18:25] danmarshall commented on #583
@shahidkhuram can you provide a React-based example?

[2017-07-17 22:18] nwhitmont commented on #553
resolved

[2017-07-17 22:18] #553 closed

[2017-07-17 22:44] sathees3101 commented on #581
Using the following link [https://botchattest.herokuapp.com/]() and entering my secret the bot works.

[2017-07-17 22:52] soonwong commented on #243
I have achieved this (testing local webchat on local hosted bot).  To do this, you need to:
* Run ngrok locally.
* Log into dev.botframework.com, and update the API callback URL of your bot to https://ngrock.io:xxxx/api/message

This will route your chatbot UI back to your localhost instance :)

[2017-07-17 23:22] danmarshall commented on #581
what is the URL that gives you a 403?

[2017-07-17 23:34] sathees3101 commented on #581
Failed to load resource: the server responded with a status of 403 (Forbidden)

directline.botframework.com/v3/directline/conversations

[2017-07-17 23:40] danmarshall commented on #581
@sathees3101 that usually means that the secret or token is invalid.

[2017-07-17 23:56] sathees3101 commented on #581
hmmm...let me summarize what I did.
1. I have created a bot on bot portal.
2. I have downloaded the Bot Framework WebChat. I have added my code to the folder .vscode and then I have built the project. I have uploaded it to the folder https://myurl.com/bot/.
3. I have created  https://url.com/index.html (with the code you suggested in the beginning) adapting the secret and the link to css and js fi

[2017-07-18 01:20] danmarshall commented on #581
It seems ok, I think you just need to make sure that you copied/pasted the secret completely.

[2017-07-18 03:18] mohdkhan786 commented on #243
Dear soonwonng

Good that you have achieved it. Could you please share some code or steps to configure this.

Thanks

[2017-07-18 03:19] maheshksingh commented on #243
Amazing, Great stuff soonwong, could you please elaborate or have any reference WEB URL which I can follow to run the ngrok... Thanks

[2017-07-18 05:55] soonwong commented on #243
Righto.  On my local computer, I do the following:
* Configure my webchat front end to be hosted on IIS. (e.g. https://localhost:80).
* Configure my webchat to use the direct line API.
* Configure my API to be hosted on IIS.  I ensure that a binding to https://localhost:1234 works.  Note the port number is arbitrary, I wanted it to be not port 80 to be certain of connectivity.

I then locate ngrok

[2017-07-18 06:10] maheshksingh commented on #243
Geat work and nice way of telling the steps.... only one thing... how secure is it to expose the local intranet to internet thru ngrok? does it provide any security features?

[2017-07-18 07:46] soonwong commented on #243
This should only be done for debugging a development environment.  The tunnel will only be running so long as the command line instance of ngrok is running.  If you're going to be deploying a production instance of the bot onto an intranet, you will need to find another means of connecting your bot to the botframework in Azure.

[2017-07-18 16:44] ramgesg commented on #476
There is this new API (in preview) Web Language Model (WebLM) API that can be used to automate a variety of natural language processing tasks, such as word frequency or next-word prediction, using advanced language modeling algorithms.

Maybe this could help you achieve this...
[https://westus.dev.cognitive.microsoft.com/docs/services/55de9ca4e597ed1fd4e2f104/operations/55de9ca4e597ed19b0de8a50](u

[2017-07-18 17:00] billba commented on #476
I don't think the blocker here is the underlying autocomplete technology. It's more to do with who the client is communicating with, and how. Is it talking to LUIS? The bot? A third thing?

I don't think it makes sense to define any of that. Let the developer decide where the responses are coming from, and how.

I think the right solution would be to add a new property to [ChatProps](https://githu

[2017-07-18 17:40] ramgesg commented on #476
Agree with you on that @billba, it should be a developer's call. It is a good to have feature as it would ease the user from typing and more importantly guide the user for apt inputs so that the bot can actually narrow down the intent more quickly and precisely... So voting in for this feature too..

[2017-07-18 20:28] danmarshall commented on #496
The speech branch has been merged to master, and you will see a microphone icon when speech is configured. Please see https://github.com/Microsoft/BotFramework-WebChat#enabling-speech-capabilities

[2017-07-18 20:28] #496 closed

[2017-07-18 20:30] #526 closed

[2017-07-18 20:51] danmarshall commented on #283
@hailiu2586 do you still need this functionality?

[2017-07-18 20:53] danmarshall commented on #413
Hi @disha-s we now have a solution for speech input - please see https://github.com/Microsoft/BotFramework-WebChat#enabling-speech-capabilities

[2017-07-18 20:53] #413 closed

[2017-07-18 22:15] danmarshall commented on #464
Hi @zxr90 since this issue is in the SDK on the server-side of your bot, I am going to close it. Can you please file this issue at https://github.com/Microsoft/BotBuilder

[2017-07-18 22:15] #464 closed

[2017-07-18 22:17] danmarshall commented on #464
@zxr90 you may also want to ask on StackOverflow

[2017-07-18 23:04] danmarshall opened #587 "Add API for setting focus"
A page which is iframing the WebChat may want to set the focus on the input textbox.

[2017-07-19 01:59] Robjam opened #588 "Npm watch script fails: missing build-css-watch"
While probably not that pertinent to this issue, here's my system info just in case:
- Windows 10 (1703 - creators update)
- npm version: 3.8.1
- node version: 6.9.1
- Visual Studio 2017 (15.3) preview 3

Steps to reproduce:
- download BotFramework-WebChat as zip
- unzip to directory in project
- open command prompt in directory
- npm install
- npm run watch

Error from console:

[code]

Current w

[2017-07-19 08:16] zxr90 commented on #464
okay, thank you!

[2017-07-19 10:29] Morraa opened #589 "npm install error"
I just downloaded the BotFramework-WebChat-master framework. When I do "npm install" I get the following:

src/Attachment.tsx(163,29): error TS2339: Property 'content' does not exist on type 'Attachment'.
  Property 'content' does not exist on type 'Media'.
src/Attachment.tsx(166,28): error TS2339: Property 'content' does not exist on type 'Attachment'.
  Property 'content' does not exist on type

[2017-07-19 11:23] Morraa commented on #589
I solved it by changing "botframework-directlinejs": "^0.9.8"  to   "botframework-directlinejs": "0.9.8"

[2017-07-19 11:23] #589 closed

[2017-07-19 11:37] assaf-cream commented on #43
Hi,
I want to make sure I'm following the correct discussion - is the requirement here addresses adding an icon next to the bot messages in the conversation flow?

I would also like to know if there is an option to add icon next to the user side of the discussion (could be some general icon in case of an unrecognized user)

[2017-07-19 16:31] guangw opened #590 "Any recommendation on passing thru user authentication from the main site to the bot web chat?"
botchat.js and botchat.css provides easy way to embed a bot web chat into a web site. The question is how we can prevent security issues by spoofing the javascript. We only allow certain type of users to access the bot and user auth is done in the server side of our main site. Users are logged in to our site and we do not want users to log in again from the bot dialog box which sample codes from b

[2017-07-19 16:52] billba commented on #590
This is a fairly sophisticated subject, and it depends a great deal on how your specific auth works. For instance, if a web page gets an auth token from the server, you can use the [Backchannel](https://github.com/Microsoft/BotFramework-WebChat/#the-backchannel) to send an auth token from the hosting web page to the bot.

The more you can say about your scenario, the more guidance we can give.

[2017-07-19 17:39] ryanvolum commented on #243
@soonwong, @maheshksingh @mohdkhan786 I've created an npm package that pulls the connector service offline to be run anywhere:

[NPM package](https://www.npmjs.com/package/offline-directline)
[Github Repo](https://github.com/ryanvolum/offline_dl)

[2017-07-19 18:23] guangw commented on #590
thanks for quick reply, @billba. Using backchannel sounds a way worth looking into.

[2017-07-19 18:57] maheshksingh commented on #243
Hello Ryan.. I am still struggling to get a proper solution.. Could you please elaborate your solution please... Thanks for the help...

[2017-07-19 19:02] ryanvolum commented on #243
have you checked out the readme? If you're not a node guy it might be a bit confusing. If you have node running on your computer you can npm install this package and run the directline command mentioned in the readme, passing in the port where you want to host your connector and the endpoint where your bot lives.

[2017-07-19 20:02] billba commented on #243
@maheshksingh The right place to ask questions about Ryan's solution is that GitHub repo: https://github.com/ryanvolum/offline_dl

[2017-07-19 23:02] SarahSexton commented on #365
My current approach is from the web "push notification" in the browsers, actually, rather than from the chat framework itself. This WebChatPush project can recall chat history from previous windows by clicking on desktop push notifications: [https://github.com/doristchen/WebChatPush](https://github.com/doristchen/WebChatPush)

[2017-07-20 02:02] danmarshall commented on #588
Thanks for reporting, this should be fixed now.

[2017-07-20 02:02] #588 closed

[2017-07-20 04:27] ravi2808 opened #592 "Attachments in the carousel are not getting rendered properly for multiple clicks"
When we click the side arrows multiple times, the attachment is not seen properly. But if we click and wait until the animation is completed and click next the attachment is seen properly. Is there a way we can handle multiple clicks until first click completes it's animation.
![screenshot 244](https://user-images.githubusercontent.com/19426990/28400588-c39c6db4-6d31-11e7-8cbc-e2e5c3b03086.png)
![

[2017-07-20 08:30] buluttokat commented on #405
I had the same issue with botframework-webchat@0.11.0 prepublish. npm was downloading DirectLineJs 0.9.9 because of the dependency string "botframework-directlinejs": "^0.9.8" in package.json. Fixing the version to 0.9.8 by removing "^" solved the issue for me.

[2017-07-20 10:00] #592 closed

[2017-07-20 13:22] amitgobare23 opened #593 "WebChat thumbnail card title text size showing very big which is not looking good"
![webchat](https://user-images.githubusercontent.com/25148394/28419462-9a49bca0-6d7c-11e7-92a0-0e7148d11a38.png)

[2017-07-20 17:55] danmarshall commented on #593
Can you share your JSON?

[2017-07-20 19:06] amitgobare23 commented on #593
I am just using thumbnail card and displaying it....that's it....not using any JSON

[2017-07-20 23:00] danmarshall commented on #593
Is there any markdown in your title field?

[2017-07-20 23:38] EricDahlvang commented on #541
After looking into this further, it seems like your bot code is expecting the "name" field to be present for the user.  The iframe'd version supplies this automatically.  Please try changing your unpkg version to something like this (include **name** for user and bot):

[code]

[2017-07-21 00:07] #557 closed

[2017-07-21 00:08] #411 closed

[2017-07-21 00:08] #445 closed

[2017-07-21 00:23] nwhitmont opened #594 "[Bug] Generated button HTML tag is missing type attribute"
Missing `type="button"` attribute on HTML `<button></button>` tags generated for Adaptive Cards buttons causes button to fall-back to default type of `submit`.

Adaptive Cards users report that clicking on button without `type="button"` attribute causes "submit" action to unintentionally execute, and in some cases, causes page reload, which is undesirable.

From MDN > <button> > Attributes > type:

[2017-07-21 00:59] danmarshall commented on #594
Wow, good find Nils. Can you create this bug in the Adaptive Cards repo?

[2017-07-21 01:38] nwhitmont commented on #594
sure, no problemo

[2017-07-21 02:47] mohdkhan786 commented on #243
Hello Ryan
Thats great...
My problem is that my bot is in. Net.  Will your solution works for. Net bot also or only to node bot?

[2017-07-21 02:48] Robjam commented on #588
So `npm run watch` no longer watches for scss changes?

[2017-07-21 07:06] amitgobare23 commented on #593
my code for thumbnail is like this:
new ThumbnailCard
			{
			Title = "Apple iPhone 7 Plus",
			Subtitle = "(Black, 128GB)",
			Text = "Rs. 70000.00",
			Images = new List<CardImage> { new CardImage("http://ecx.images-amazon.com/images/I/51qlxcCXNxL.jpg") },
			Buttons = new List<CardAction> { new CardAction(ActionTypes.OpenUrl, "Buy Now", value: "http://www.amazon.in/Apple-iPhone-Plus-Black-128GB

[2017-07-21 09:48] marconsilva commented on #541
That is correct Eric, thank you very much, it solved the issue!
Cheers
MS

[2017-07-21 09:48] #541 closed

[2017-07-21 11:26] mohdkhan786 commented on #243
For me it is getting error when  I run
npm run directline 3000 localhost://127.0.0.1:3979/api/messages

May be because of firewall in company. Is there any alternative to install this with firewall.

I tried with setting proxy as well but no success

[2017-07-21 17:40] danmarshall commented on #588
@Robjam , no. We are now using scss to build the [Adaptive Cards Host Config](https://github.com/Microsoft/BotFramework-WebChat/blob/master/package.json#L11). You can always run your own watcher with `node-sass ./src/scss/ -o . -w`

[2017-07-21 17:53] danmarshall commented on #593
Are you using the Iframe version of WebChat, or are you using it in a `div` on your own page? When using it in a `div`, there might be cascading CSS styles.

[2017-07-21 18:27] billba commented on #243
@mohdkhan786 again, please go to that repo to ask questions. This repo is for WebChat itself.

[2017-07-21 21:47] premaarya commented on #581
I had same issue, needed to style the bot with our theme.. I was able to host the code after building it in azure website. I should ask which web server are you using to host the webchat code you customized.

[2017-07-21 22:01] danmarshall opened #596 "Empty message bubbles render incorrectly"
![image](https://user-images.githubusercontent.com/11507384/28484089-763c0490-6e25-11e7-9063-afae83c0ecc8.png)

[2017-07-21 22:02] premaarya opened #597 "speech options loading multiple times"
I am have a requirement: to have the response to be displayed as text(not spoken out). this should be controlled by a check box "Audio Response". I am using the speech feature.
I have a check box click handler in which just recreate the BotChat.App{} ... with getSpeechOption... passing the value of speechSynthesizer with null or proper value.
[code]
   As BotChat.App is called multiple times as us

[2017-07-21 22:09] danmarshall commented on #597
Hi @premaarya, `BotChat.App` is meant to be called only once per instantiation of the page.
Your scenario is unique in that we haven't anticipated your use case. I don't suppose that we will have a quick solution.

@shahidkhuram - do you have any insight on this?

[2017-07-22 01:04] premaarya commented on #597
I am using the BotChat.App in an Iframe so just reloading the page with a query parameter for speechSynthesizer .. it is working .. however loosing the chat history ..which is also ok. Will keep an eye on this thread for better solution.

[2017-07-23 22:48] achrafbenalaya commented on #272
I tried this , on webchat works fine , i used my vidéo "http://iitbot.000webhostapp.com/IIT.mp4" and it works fine , but when tried it on messenger , it gives me :Sorry, my bot code is having an issue.
back to the bot i found this , "{"error":{"message":"(#100) Invalid data","type":"OAuthException","code":100,"error_subcode":2018032,"fbtrace_id":"E1LyycaFN8g"}} " and There was an error sending thi

[2017-07-24 04:47] danmarshall commented on #272
Hello @achrafbenalaya since your issue functions correctly with WebChat and is nonfunctional on messenger, can you please file your issue with the BotBuilder repo? https://github.com/Microsoft/BotBuilder

[2017-07-24 09:57] telkomops commented on #243
another option is implement a customer middle ware, which replicates direct line protocol. you can point to your own implementation of directline protocol

[2017-07-24 15:35] billba commented on #243
@telkomops of course you can put a Direct Line endpoint on anything. Ryan's repo puts one on any bot using Bot Builder.

[2017-07-24 21:34] danmarshall commented on #467
The Bot Framework is now hosting the latest version of the WebChat. Thanks all 👍

[2017-07-24 21:34] #467 closed

[2017-07-24 22:57] achrafbenalaya commented on #272
@danmarshall  i found out the problem , that facebook do not allow 000webhostapp.com files or sites. thank you =)

[2017-07-24 22:58] nwhitmont commented on #594
@danmarshall Fix is in for Adaptive Cards repo https://github.com/Microsoft/AdaptiveCards/issues/501

[2017-07-24 23:00] danmarshall commented on #594
Thanks @nwhitmont Nils! I'm still working with @dclaux on this - we still have an outstanding work item to get the v0 branch to be backward compatible.

[2017-07-24 23:13] prannayb opened #598 "Move React, react-dom and @types to npm peerDependencies"
Our parent project uses react 15.6.1 and latest @types/react 15.0.39. But the botframework-webchat package lists react and the types as dependencies. This causes react and the 15.0.38 typings to get installed under the bot package and conflict with the typings in my project, and doesn't compile. Please move react and its typings package to peerDependencies so that it can use the ones already insta

[2017-07-25 01:12] nwhitmont commented on #422
Is WebChat iframe tested with Firefox?  User reports problems sending messages via WebChat iframe in Firefox and IE.

Relates to:
https://github.com/Microsoft/BotBuilder/issues/3181

[2017-07-25 02:07] danmarshall commented on #422
@nwhitmont - not yet. We are working to use a robust testing service which will test against many platform/browser combinations, stay tuned.

[2017-07-25 03:40] danmarshall commented on #598
Hi @prannayb thank you for reporting this. I'm not certain that we can move our typings to peerDependencies. Would this force others to manually install each of the peer dependencies manually?

FYI we just recently locked to exact version numbers because some updates were breaking our build. We may be able to revisit this for React.

[2017-07-25 14:53] telkomops opened #599 "WebChat v0.11.0 fails build with DirectLine 0.9.10"
WebChat v0.11.0 fails build with directline 0.9.10
src/Attachment.tsx(163,29): error TS2339: Property 'content' does not exist on t
ype 'Attachment'.
  Property 'content' does not exist on type 'Media'.
src/Attachment.tsx(166,28): error TS2339: Property 'content' does not exist on t
ype 'Attachment'.
  Property 'content' does not exist on type 'Media'.
src/Attachment.tsx(167,28): error TS2339: Pro

[2017-07-25 22:31] sathees3101 commented on #581
I am using one (one.com) to host the my website and the webchat code

[2017-07-25 23:07] #305 closed

[2017-07-25 23:08] #283 closed

[2017-07-25 23:18] danmarshall commented on #462
See the "Get Members of a Conversation" example in https://github.com/Microsoft/BotBuilder-samples

[2017-07-25 23:18] #462 closed

[2017-07-26 04:39] bramhechatejas commented on #454
Hi, the same problem arising now. Hyperlinks are opening in a chat window instead of opening it in another window. Please help!

[2017-07-26 05:06] danmarshall commented on #454
Hi @bramhechatejas thank you for reporting this. Can you please tell me how your WebChat is hosted? Is it an iframe of webchat.botframework.com or is it your own hosted WebChat page?

[2017-07-26 05:20] bramhechatejas commented on #454
@danmarshall I have hosted webchat using iframe

[2017-07-26 05:35] danmarshall commented on #454
@bramhechatejas are you using the "enable preview" option on the WebChat configuration page? If so, this may be the older WebChat control. Otherwise, can you provide a sample of the markdown with hyperlinks and can you tell me if it is on a card attachment or directly in the message?

[2017-07-26 05:52] bramhechatejas commented on #454
@danmarshall Hi, yes, I'm using enable preview option in WebChat configuration page. what I have done here is added embed code of Microsoft bot framework in my wordpress page. Updated the changes.

[2017-07-26 08:27] danmarshall commented on #454
@bramhechatejas can you copy your markdown with the links so that we can reproduce the error? Or perhaps share your link?

[2017-07-26 08:46] bramhechatejas commented on #454
@danmarshall
<html>
<head>
</head>
<body>
    <iframe height="400px" src='https://webchat.botframework.com/embed/wp-hospitalbot?s=y04CQSzM2KU.cwA.MB4.qtul5Prya5KnfEbiQmtGiOK3A4QnrHspy5b5DdvUTEQ'></iframe>
</body>
</html>

[2017-07-26 08:46] bramhechatejas commented on #454
@danmarshall Please test & let me know

[2017-07-27 06:55] ankitc1010 opened #601 "Not Able to send proactive message in React Component because of directlineJS re-initialization"
I am trying to send a pro-active message using the React Webchat component. Following are the steps:
[code]
I sent a backchannel message using the directline object to inform the chatbot server about the address of the webchat in order to send a pro-active message ( can be found in the componentDidMount method) .

But the conversation id changes for the directline property on the <Chat /> componen

[2017-07-27 07:03] ankitc1010 commented on #601
I overlooked the botConnection property. My bad.
This is the right way to do it I guess:
[code]

Closing the issue.

[2017-07-27 07:03] #601 closed

[2017-07-27 08:24] billba commented on #601
Even that simpler code still doesn't seem right. I think maybe you're trying to have your web page send a backchannel message to the bot before the user has typed a message, so that the bot can then send a proactive message to the right address. Is that correct? If so, that is a very common pattern.

[2017-07-27 10:20] ankitc1010 commented on #601
Yes. That's absolutely correct.

[2017-07-27 12:58] billba commented on #601
Great, then that code is correct. I want to make sure you know that you don't need to do `class Webchat extends Component` unless you're doing so for other reasons.

[2017-07-28 18:37] danmarshall commented on #454
Hi @bramhechatejas thank you for that link. I was able to reproduce your error. Your bot was sending an html bit inside the message:
[code]
the `<a>` tag should **not** be supported, we will need to disable this functionality. You can use markdown to enable this:
[code]

[2017-07-28 18:40] danmarshall opened #604 "HTML should be sanitized in messages"
A customer [reported](https://github.com/Microsoft/BotFramework-WebChat/issues/454#issuecomment-318731107) that a message containing HTML tags was being rendered:
[code]

[2017-07-28 20:27] YanXuHappygela opened #605 "Change speechSynthesizer voicename in Node js"
I have created a bot in node js and it can now talk. How can I change its voce it JessaRUS for example? Is there a bot.set('speechOptions', speechOptions)? and set voiceName: 'Microsoft Server Speech Text to Speech Voice (en-US, JessaRUS)'? Thank you!

[2017-07-28 20:54] danmarshall commented on #605
@shahidkhuram can you help?

[2017-07-30 19:35] tiloc opened #607 "Speech sample is downloading Google jquery code from non-secure URL"
in samples/speech/index.html, there is a download of jquery code from Google at http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js

Unfortunately, if one hosts the webchat on a secure website, this leads to Chrome complaining about "unsafe scripts", and subsequently to a failure of the speech recognition.

I changed this to download from http**s**, which is also the URL that Google is

[2017-07-30 20:29] danmarshall commented on #607
Good catch @tiloc, would you mind sending the fix as a pull request?

[2017-07-30 23:26] billba commented on #607
The ideal thing would be to get rid of jquery completely. It's only used in some commented-out code to make an HTTP call which can easily be done in modern browsers with `fetch`...

[2017-07-31 04:24] bramhechatejas commented on #454
@danmarshall Hi, will you please let me know how to disable this functionality inorder to get links work properly?

[2017-07-31 04:29] billba commented on #454
@bramhechatejas the actual bug here is that HTML tags should be ignored in the text. The only way your bot should communicate links is via Markdown syntax. This bug is being fixed (see https://github.com/Microsoft/BotFramework-WebChat/pull/606) and once it's merged, if you don't change to Markdown syntax, your behavior will go from "links open in chat window" to "links don't work at all."

[2017-07-31 04:38] bramhechatejas commented on #454
@billba @danmarshall Thanks for your support, markdown worked for me.

[2017-07-31 05:03] iamgraviteja opened #608 "Don't show the time-stamp if the messages received / sent within 1 min difference."
Is there a way to show the time-stamp on messages with time difference of 1 or more minutes as for the messages in iPhone

[2017-07-31 06:13] junqi commented on #599
I encountered same fails.

FYI:
I could suppress error messages as temporary solution by below changes to Attachment.tsx
1. change [here](https://github.com/Microsoft/BotFramework-WebChat/blob/e573a740a3b7f5a19ef615b3dfae8b6c24f967ed/src/Attachment.tsx#L3) to `import { Attachment, CardAction, KnownMedia } from 'botframework-directlinejs';`
2. change [here](https://github.com/Microsoft/BotFramework

[2017-07-31 10:17] telkomops commented on #599
Thanks @junqi , i wanted to point out that, this version was using 0.9.10, the tag is not available on directline github repo. Looks like 0.9.10 , is being upgraded at the same time for speech and next version.

[2017-07-31 14:32] 20112077 opened #609 "ThumbnailCard image not displayed completely"
Hi
I am sending a thumbnail card to the user. In the bot emulator it looks fine
![botemulator](https://user-images.githubusercontent.com/9118855/28782510-9c3b6ede-760d-11e7-96da-a7fa717b4527.PNG)

But when open in the browser(at least in safari and chrome) with webchat.botframework.com/embed/... it is cut off on the right side.

![bildschirmfoto 2017-07-31 um 16 32 04](https://user-images.githubus

[2017-07-31 15:40] billba commented on #608
At present that would be something you would have to customize yourself by changing the code in History.tsx, perhaps starting here: https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/History.tsx#L214

[2017-07-31 17:56] danmarshall commented on #599
Hi @telkomops can you delete the directlinejs from your node_modules folder and re-install ?

[2017-07-31 17:57] danmarshall commented on #609
Hello @20112077 can you provide the JSON and url to the image?

[2017-07-31 18:04] 20112077 commented on #609
@danmarshall, here is the json with the image link:
{
  "type": "message",
  "timestamp": "2017-07-31T17:59:36.209Z",
  "serviceUrl": "http://127.0.0.1:50678",
  "channelId": "emulator",
  "from": {
    "id": "b44a767caiihjm1hf",
    "name": "Bot"
  },
  "conversation": {
    "id": "9l06kid958583k2f"
  },
  "recipient": {
    "id": "default-user"
  },
  "membersAdded": [],
  "membersRemoved": [],

[2017-07-31 18:13] 20112077 commented on #43
@danmarshall is there any information when the bot icon will be available? I have a customer waiting for it?

[2017-08-01 04:45] Wedeo95 opened #611 "Broken layout and links are not showing up"
The text layout on the BotFramework-Webchat is not the same as Test in QnA Maker.

This is what's produced on the BotFramework-Webchat:

on time.\n\n options:\n\n* Direct Debit Variable\n* Credit Card Variable*\n* One off Credit Card payments*\n\nAlternative payment options:\n\n* Direct Debit For Home\n* Telephone banking\n* Internet banking\n* Automatic payment\n* Credit/Debit card*\n* New Zealan

[2017-08-01 05:51] annevah commented on #467
@danmarshall  I am using direct line and i am getting the same error [File of type 'application/vnd.microsoft.card.adaptive']. Please help me out :(

[2017-08-01 15:29] GeekTrainer commented on #611
Can you please post the full markdown so I can better see what's happening?

[2017-08-01 21:53] Wedeo95 commented on #611
You can pay your Genesis Energy bill in a number of ways and we offer prompt payment discounts for every bill that is paid in full and on time.\n\n Log into [My Account](https://myaccount.genesisenergy.co.nz/web/myaccount) for the following payment options:\n\n* Direct Debit Variable\n* Credit Card Variable*\n* One off Credit Card payments*\n\n[Alternative payment](https://www.genesisenergy.co.nz/

[2017-08-02 00:56] nwhitmont commented on #605
duplicate of: https://github.com/Microsoft/BotBuilder/issues/3231

[2017-08-02 12:00] Sonatina opened #613 "Webchat cross browser compatibility"
Hi Team,

Is webchat fully supported on FF/IE browser.  I've used webchat node.js code, it is working in google chrome but not able to submit input in chatbot window in FF/IE browser.

Below is the screenshot
![ui error](https://user-images.githubusercontent.com/24564494/28872767-3b310fc6-77a8-11e7-9ba9-da6f1b99eb90.png)

[2017-08-02 22:19] nwhitmont commented on #613
relates to https://github.com/Microsoft/BotBuilder/issues/3181#issuecomment-319583379

[2017-08-02 22:19] nwhitmont commented on #613
relates to https://github.com/Microsoft/BotBuilder/issues/3181

[2017-08-02 22:20] nwhitmont commented on #422
relates to https://github.com/Microsoft/BotFramework-WebChat/issues/613

[2017-08-02 22:20] nwhitmont commented on #422
relates to https://github.com/Microsoft/BotBuilder/issues/3181

[2017-08-02 22:21] danmarshall commented on #613
Hi @Sonatina - can you provide repro steps, and browser version? It works in my Firefox 54.

[2017-08-02 22:24] nwhitmont commented on #422
@danmarshall I'm guessing you mean [Sauce Labs](https://saucelabs.com/) or [BrowserStack](https://www.browserstack.com/)? I have worked with BrowserStack extensively, let me know if you want any help setting up test automation.

[2017-08-02 22:35] nwhitmont commented on #613
Works fine for me on Firefox Developer Ed. 55.0b14 (64-bit) (macOS 10.12.6)

[2017-08-03 00:13] compulim commented on #581
@sathees3101 I tried your site at https://botchattest.herokuapp.com/ and didn't spot any JS error or 403. Is it fixed?

[2017-08-03 00:18] billba commented on #581
@compulim that's my generic test site. You would need @sathees3101's secret in order to test his bot.

[2017-08-03 00:24] compulim commented on #607
A quick search over `$.ajax` or `$.getJSON`, it only appears at [samples/speech/index.html:101](https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples/speech/index.html#L101).

@billba do you mean changing this call from `$.ajax` to `fetch`?

[2017-08-03 00:27] billba commented on #607
@compulim that is what I'm proposing. Death to jQuery!

[2017-08-03 01:04] compulim commented on #568
Our plan: don't focus on textbox when the chat window is inserted. We will provide an API to set the focus on whenever the page owner think it's ready.

[2017-08-03 03:41] danmarshall commented on #604
1.	Sanitize the html to remove any scripting
2.	Whitelist to only the tags that we support
3.	Add “target=_blank” to hyperlinks.

[2017-08-03 07:54] UtkarshBehre opened #616 "Buttons not showing complete text"
Buttons in PromptDialog.Choices() as well as in other Rich cards are not showing complete texts. But instead it only shows whatever it can fit in 1 line followed by ... in web channel meanwhile working fine in bot emulator. I went through the code and it seems that the style of button has property White-Space=nowrap;
About 2 weeks ago complete text was coming on buttons in the web channel as well

[2017-08-03 08:26] tiloc commented on #607
@danmarshall it seems that @compulim is far more familiar with modern-day Javascript than I am. I propose he does the honors of fixing this.

[2017-08-03 13:55] billba commented on #604
Do other chat clients allow any HTML at all in their markdown?

(Here I'm ignoring the "xml" message format, which supports just a handful of whitelisted tags.)

[2017-08-03 14:00] billba commented on #568
I think this property should actually default to true, because that preserves current behavior. However the very existence of a `setFocus` callback would be cue enough to start WebChat without setting the focus.

[2017-08-03 19:01] compulim commented on #607
Will take it.

[2017-08-03 20:17] danmarshall commented on #604
@billba no, they don't.

[2017-08-03 20:21] billba commented on #604
Then rather than sanitize, I vote we strip HTML out entirely.  I think that's what we did before.

[2017-08-03 20:26] danmarshall commented on #604
I agree personally, we are circulating the idea internally.

[2017-08-03 20:30] eanders-MS commented on #604
HTML support in markdown varies widely from client to client. GitHub has pretty rich support for it. Telegram supports basic font formatting tags; Skype too.

[2017-08-03 22:44] #607 closed

[2017-08-03 23:07] billba commented on #604
Oh okay, so what Dan said is not true. It is supported in some clients. That changes my opinion.

DAN WHY MUST YOU LIE SO

[2017-08-04 09:18] SiddheshwarKore commented on #613
how about IE?doesnt work well in IE @danmarshall

[2017-08-04 13:26] punitganshani opened #619 "Different UserId for ConversationUpdate and Message"
The webchat is hosted using standard code to define the user id as below,

[code]

When the conversationUpdate event is triggered, the `activity.From.Id` is something cryptic (like `Kq3YtJ7KkL7upmnPpzke`) instead of `myuser` until the user sends a message to the bot.

Once the user sends a message to the bot, `activity.From.Id` gets assigned to `myuser`. Is this because `ConversationUpdate` is a s

[2017-08-04 14:39] billba commented on #619
Duplicate of https://github.com/Microsoft/BotFramework-WebChat/issues/536 - see there for a workaround using backchannel.

@danmarshall this is probably our most frequently asked question. It would be great to update the docs to talk about how to get around this specific shortcoming of Direct Line. @dandriscoll FYI.

[2017-08-04 14:39] #619 closed

[2017-08-04 18:58] danmarshall commented on #616
Hi @UtkarshBehre this changed when we integrated [Adaptive Cards](http://adaptivecards.io/). This change will be rolled out in the new Emulator also.

I have filed an issue with the Adaptive Cards project to see if this can be resolved soon.

[2017-08-04 19:21] danmarshall commented on #613
Hello @SiddheshwarKore and @Sonatina - can you please give us details so that we can reproduce the error? It would be helpful if you can provide:
* Platform / os
* Browser type / version
* A URL to your chat if possible
* The message which reproduces the error condition
Thanks!

[2017-08-04 19:33] danmarshall commented on #613
Hello all, from other similar issues I am going to guess that this issue may be caused when the WebChat is initialized while it is not displayed. The WebChat will need to be able to measure it's bounding rectangle at the time it is initialized. See https://github.com/Microsoft/BotFramework-WebChat/issues/515

[2017-08-04 21:03] compulim opened #621 "Update samples"
# Background

Bring better coding style for `samples` folder.

# Tasks

* [ ] Add React samples
* [ ] Clean up existing samples
* [ ] Make sure we have samples for every entrypoints
  * [ ] `<iframe>`
  * [ ] JavaScript dist packages
  * [ ] React with package from npm registry

# Coding style

For clean up, I also suggest we should have consistency coding styles. At least samples for now:

* Inde

[2017-08-04 21:10] danmarshall commented on #621
This is cool William! Can I propose a feature? I think it would be easy for everyone if we use VSCode's "autoformat" feature. This way we let the tool do the work to deliver consistency. There is a keyboard shortcut: ALT+SHIFT+F

[2017-08-04 21:27] compulim commented on #621
Sure, will try adding VSCode workspace settings. We need VSCode extension for vertical colon alignments.

[2017-08-04 21:28] eanders-MS commented on #621
I'm partial to just going with VSCode's generic formatting, unless it looks really broken which can happen in some cases. I'd like to avoid the need for extra plugins.

[2017-08-04 21:54] billba commented on #621
I don't understand what this means:

Either you don't add them, or you explicitly add them. In HTML 5 you can skip them both, and that's been working out fine...

[2017-08-04 22:01] sathees3101 commented on #581
Submitting my secret that I see on "direct line" I receive the following error  POST https://directline.botframework.com/v3/directline/conversations/809WUR9Q4bZAdcPxeQQFBK/activities 502 (Bad Gateway)

[2017-08-04 22:17] compulim commented on #621
I mean explicit, my bad.

[2017-08-04 22:20] danmarshall commented on #581
@sathees3101 502 from DirectLine means a 500 from the bot.

[2017-08-04 22:48] billba commented on #621
@compulim to what end? By which I mean, "solving what problem?" Is there a major browser (inc. IE) that requires the extra info?

[2017-08-07 02:49] ac-vikram opened #622 "showing special character (â€™) instead of ‘ (apostrophe) character"
We are updating the latest version of botchat.js (0.11.0 ) with our some customized code. However, we are getting one issue, it is showing special character (â€™) instead of ‘ (apostrophe) character. It was working fine with previous botchat.js. We want to use Adaptive card functionality that is why we need latest version of botchat.js Please suggest how can we handle this issue?

[2017-08-07 12:02] macrozone opened #623 "Clicking on a Button should not open keyboard on mobile"
https://github.com/Microsoft/BotFramework-WebChat/issues/411 leads to a (imho) huge usuability problem on mobile devices: clicking on a button opens the mobile keyboard, because the text-input gains focus.

This was mentioned in other issues, but i did not found an issue which describes exactly this problem, so i decided to open this new issue.

I did an attempt to disable this behaviour in https:

[2017-08-07 15:10] punjabimundaaa opened #624 "Focus goes to the Button"
I am having a hero card added in web chat control. The focus is automatically set to the first CardAction in button. This is annoying as the user cannot press enter for subsequent chat .
The enter opens skype for business instead.

No auto focus should be set on button in Web Chat Control

[code]

[2017-08-07 16:43] danmarshall commented on #622
Hello, can you please provide a sample message that exhibits this behavior?

[2017-08-07 17:56] danmarshall commented on #616
Hi @UtkarshBehre, revisiting your scenario, I would not recommend using buttons with long text anyways. For example, in your computer OS, desktop or mobile, can you see many examples of buttons with long text? Buttons are best with short text.

Here is an article that may be related to what you are building: a knowledge bot: https://docs.microsoft.com/en-us/bot-framework/bot-design-pattern-knowled

[2017-08-07 18:24] danmarshall commented on #604
@reyesrico - can you create a matrix of which channels support HTML?

[2017-08-07 18:57] reyesrico commented on #604
Channel | HTML Support
------------ | -------------
Slack | No
Facebook | No
GroupMe | No
Twillio (Web) | No
Kik | No
Telegram | No
Email | Yes

[2017-08-08 02:38] ac-vikram commented on #622
Actual - Here it isâ€¦ Floating holiday for New Yearâ€™s Day on Sunday, 1-Jan-2017
Expected- Here it is... Floating holiday for New Year's Day on Sunday, 1-Jan-2017

[2017-08-08 05:00] danmarshall commented on #622
ok, can you provide the actual code or JSON with this string?

[2017-08-08 16:23] 20112077 opened #625 "Every URL as hyperlink"
Hello,

is it possible that when the bot posts a message with a valid url to not show this as a clickable link?

[2017-08-08 19:31] danmarshall commented on #625
Yes, if you build your own WebChat, you can set `linkify: false` on [this line](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/FormattedText.tsx#L28)

[2017-08-08 21:05] danmarshall opened #626 "URL within parentheses are broken"
When a markdown link is within parentheses the link and text are malformed.
example markdown:
[code]
result:
![image](https://user-images.githubusercontent.com/11507384/29094577-aa242ff0-7c42-11e7-8788-32dc36ddb0e9.png)

[2017-08-08 23:30] #626 closed

[2017-08-09 00:51] compulim commented on #363
I am going to disable JavaScript-based `setFocus` on these scenarios:
* Click/tap send button
* Click/tap action button
* Click/tap upload file button, then select a file

It will not affect the following scenario:
* Press ENTER after typing a message, the focus will continue to stay inside the textbox

And then implement @danmarshall suggestion by adding a `onKeyPress`/`onKeyDown` and then puttin

[2017-08-09 01:50] compulim opened #628 "UX: Should we keep message in textbox after uploading a photo?"
Repro:

1. Type "Hello" in the chat textbox, without pressing <kbd>ENTER</kbd>
2. Click "Upload" button
3. Select a file to upload

After the file is selected and being uploaded, the textbox is emptied. In additional to upload file, the textbox is also emptied when clicking on an action button.

Should we keep "Hello" in the textbox?

[2017-08-09 05:34] ac-vikram commented on #622
We are using inline webchat like - **https://github.com/Microsoft/BotFramework-WebChat#easy-in-your-non-react-website-run-webchat-inline** done here. There is no other change. Just we are updating the botchat.js from https://unpkg.com/botframework-webchat@0.11.0/botchat.js. It was working fine with previous botchat.js.

[2017-08-09 05:56] UtkarshBehre commented on #616
Thanks @danmarshall  for the clarification and help. I will look into the carousel control and try to redesign accordingly. I hope this results in better design overall as well.
Just for information though should i expect a fix for the button display that was changed in adaptive cards? Since that was the initial proposal for my project and it'll be little better if it stays that way.

[2017-08-09 06:29] cimpoesub commented on #567
Hello.

I am having the same issue as above. The right arrow out of bounds and not visible. Scrolling with the mouse wheel/touchpad_swipe works, just the button is not visible. On windows, all browsers.

Have you found any solution for the problem yet?

[2017-08-09 07:17] Sonatina opened #629 "carousel card height issue"
Hi,
I need to reduce carousel card height so that it will well fit to chat window. I tried providing height property in the div but image and buttons inside carousel card  are not getting adjusted as per the carousel card height.

[2017-08-09 10:41] compulim commented on #623
@macrozone is it something like #363?

I am working on a fix to disable "force focus" on textbox, thus the mobile keyboard should not pop up as frequent.

[2017-08-09 10:46] compulim commented on #587
The set focus API should be usable under 3 supported entrypoints:
* `<iframe>`, with a postMessage interface
* `<script type=".../botchat.js">` and then created thru `BotChat.App({})`
* Install [BotFramework-WebChat](https://www.npmjs.com/package/botframework-webchat) thru npm and then created using React `<Chat directLine=...>`

[2017-08-09 10:54] compulim commented on #583
In our `<script src="...">` scenario, it works because the user would implicitly include 2 entrypoints like this:

[code]

But in React scenario, our entrypoint is `BotChat.ts`. But unfortunately, `BotChat.js` does not export `CognitiveServices/SpeechRecognition.ts` and `CognitiveServices/SpeechSynthesis.ts`. Thus, `CognitiveServices/*` was not able to use under React.

[2017-08-09 12:32] macrozone commented on #623
@compulim yes. Not as the original issue poster suggested, but exactly like you and @danmarshall described the problem.

I see that there are conflicting behaviours on mobile and on desktop. Desktop should keep focus on text-box as most as possible, while on mobile, focus on text-box should only be set when user actually taps in the text-box

[2017-08-09 17:54] compulim commented on #623
@macrozone Could you try out my build at [compulim/BotFramework-WebChat/feat-focus](https://github.com/compulim/BotFramework-WebChat/tree/feat-focus)? I throw out all JS-based `focus()` code. And added one `focus()` for desktop (or device that have an always-on keyboard).

Or you could wait a couple days when I have my PR in master.

[2017-08-09 18:38] danmarshall commented on #628
I'm thinking that we should keep it. Imagine if I was on a mobile device, I would not want to type again.

[2017-08-09 19:03] danmarshall commented on #616
Hi @UtkarshBehre I cannot say for sure at this time if that change will go through.

[2017-08-09 19:06] danmarshall commented on #622
Well, the "actual" that you provided also has that same issue:
![image](https://user-images.githubusercontent.com/11507384/29139235-09c2d9bc-7cfb-11e7-9cdb-f6579f2783e5.png)
So I don't have a way to get the real message that is causing the issue.

[2017-08-09 20:07] danmarshall commented on #567
@compulim - can you take a look at this?

[2017-08-09 20:08] danmarshall commented on #587
Yes. We don't need to provide the `<iframe>` version here.

[2017-08-09 20:24] danmarshall commented on #629
Hello, can you provide a sample JSON of the card, and a screenshot?

Generally, a Hero card will display all text that you provide. If you want to limit the display, you can use an [Adaptive Card](http://adaptivecards.io/), where you design and create your own layout constraints. For [TextBlock](http://adaptivecards.io/explorer/#TextBlock), there is a `maxlines` property that may be useful in your

[2017-08-10 06:08] RaoVenka commented on #515
We created bot using  .net code and hosted on cloud platform. Please find below the link
http://sonataharmonysite.azurewebsites.net/#

Web Chat is not working in internet explorer 11 browser.Could you please help me on this.
Please find below error screenshot.

![image](https://user-images.githubusercontent.com/28774238/29156589-5c578ce8-7dc0-11e7-8f43-7b3a22788acd.png)

[2017-08-10 09:27] macrozone commented on #623
@compulim i am on it, but i did not manage to install it directly from github. i try yarn link now

[2017-08-10 12:01] macrozone opened #631 "Can't translate "Total" and "Tax" in receipt-card"
Altough these values are declared in src/Strings.ts, they are not used. "Total" and "Tax" is hardcoded in Attachment

[2017-08-10 16:12] ac-vikram commented on #622
Actual means, currently it's showing like this - (Here it isâ€¦ Floating holiday for New Yearâ€™s Day on Sunday, 1-Jan-2017) with new botchat.js. Expected means, earlier it was showing like this - ( Here it is... Floating holiday for New Year's Day on Sunday, 1-Jan-2017)  with previous botchat.js and we want it now with new botchat.js.

[2017-08-10 17:11] danmarshall commented on #515
Hello all, the guidance is to use CSS `visibility:hidden` instead of `display:none` until further notice. We would like to fix this issue, but we will not be able to get to it soon, so please try the workaround and let us know. Thanks :)

[2017-08-10 17:14] #631 closed

[2017-08-10 17:33] danmarshall commented on #622
Hello @ac-vikram - I am not able to reproduce the error:
![image](https://user-images.githubusercontent.com/11507384/29183188-97c512aa-7db6-11e7-9454-615f85ef0325.png)

So let's get more technical :-) please provide a code sample. Also, can you tell me if you are using the iframe WebChat from Bot Framework, or hosting your own web page with the WebChat.

If you are hosting your own page, make sure

[2017-08-10 20:22] compulim commented on #623
Great to hear it works, @macrozone.

There are some cross browser issues we need to fix before checking in the PR. Stay tuned.

In the meanwhile, please track #363. I will close this bug by duplicate.

[2017-08-10 20:22] #623 closed

[2017-08-11 02:31] eanders-MS opened #634 "CognitiveServices.js failing continuously, with verbose logging"
Speech to text was working working earlier today for my bot, but I'm now seeing the following error in the Bot Framework Emulator's log stream. This log message quickly filled the log output window, freezing the emulator:
![image](https://user-images.githubusercontent.com/12176807/29199467-0916e6d6-7e02-11e7-8e10-4f9773e3ad42.png)

[2017-08-11 05:27] eanders-MS commented on #634
This happened again after emulator restart. I believe these are the repro steps:
1. Connect to your bot with the emulator.
2. Use speech-to-text.
3. Wait for a long time, leaving the emulator open but idle (an hour or so).
4. Try to use speech again.

Result: You see the error above.
Expected: Speech-to-text operates without error.

[2017-08-11 05:56] danmarshall commented on #634
@shahidkhuram @w-Yuan can you look into this?

[2017-08-11 19:12] mrctito opened #635 "My Bot is not receiving audio recorded by microphone icon."
My Bot is not receiving audio recorded by microphone icon.

When I press microphone icon and start to talk, the emulator imediatly translate what I am sayng to text and show it inside text writing box. Therefore, the bot emulator does not call my ApiController, as it should do.

Thus, my method "public async Task Post([FromBody]Activity activity)" is never called.

Thank you!

[2017-08-11 21:07] michael-golfi opened #636 "Sending empty suggestedActions causes issues"
Hi, I worked with @eanders-MS to figure this out.

I'm writing a bot using REST endpoints and implemented my own connector in go. The messages don't render in the bot emulator webchat if there's an empty suggestedActions struct.

I didn't find any documents that state what fields are necessary or optional for sending messages... So I wasn't completely sure what was going on, there's a more detaile

[2017-08-11 21:10] danmarshall commented on #636
Hi @michael-golfi , can you eliminate the `suggestedActions` property, if the `to` is null, and the `actions` is null?

[2017-08-11 21:11] michael-golfi commented on #636
Ya that's exactly what I did and it works now. But it wasn't clear from the docs or log that this field being present but unused would cause issues.

[2017-08-11 21:14] eanders-MS commented on #636
The crash is happening in this code from MessagePane.tsx:
[code]

`lastActivity.suggestedActions.actions` is assumed to be a valid array type, but it can be null. This is where I saw it fail in my repro case, but it's possible this isn't the only place in the codebase where this assumption is made.

[2017-08-11 21:16] michael-golfi commented on #636
I was more wondering if it's possible to emit an error message when this stuff happens, I didn't notice anything obvious in the logs when I was crashing the emulator/webchat.

It also seems that once the webchat crashes, no further messages appear or work.

[2017-08-12 20:08] jessegoraya opened #637 "Web Chat Stuck on Sending"
Hello,
I am trying to embed  WebChat into a react site I'm building.  When I put the Direct Line secret into the BotChatTest it works as expected.  However when I call it from my application it just states "Sending" and never pulls anything up.  Here is the only line of code that I added to my react site based on the React sample...

 <Chat directline={{secret: 'Direct Line Secret string'}} user={

[2017-08-13 21:54] #637 closed

[2017-08-14 11:11] jessegoraya opened #638 "Build Error"
Hello,
I would like to make some changes to WebChat in order to make it work with the Grommet design component library.  I have cloned the WebChat git library and get the following error.

Does anyone have any ideas on how best to resolve this so that I can properly build the cloned project?

error TS5023: Unknown compiler option 'importHelpers'.
error TS5023: Unknown compiler option 'jsx'.
error

[2017-08-14 14:52] billba commented on #636
@michael-golfi what we ought to be doing on unexpected errors like this is to (a) log the error and (b) recover from it. In other words, malformed data should not take down WebChat.

[2017-08-14 15:22] billba commented on #628
Here's an alternative (for discussion, I don't actually like it): on "Upload" send the text as well as the attachment.

[2017-08-14 16:09] rachita0311 opened #639 "Typing indicater not coming in webchat"
I have a scenario in which I have to preserve my conversations in chat window. For this I have saved the conversation Id in local storage and set web socket = false. Setting web socket to false has stopped my typing indicator to come.

[code]

if I set websocket to true, the chat history goes away. Could anyone please help me know how to get typing indicator in such scenario

[2017-08-14 16:12] billba commented on #639
I don't understand. Can you provide more details in a "when the user does this, I expect this, but instead this happens" format?

[2017-08-14 17:03] compulim commented on #638
@jessegoraya Can you give us some version information?

What's your npm/node version? `npm --version` and `node --version` would help.

If you have a globally installed TypeScript, can you print it here too? (Run `tsc --version`)

[2017-08-14 18:16] rachita0311 commented on #639
Basically the scenario is like when user writes something, the response from bot is taking time as it fetches data from database. During that time I want to show typing indicator gif playing.
But as I have to maintain my chat history I have to send web socket as false. So my typing indicator is not working

[2017-08-14 18:26] danmarshall commented on #639
Are you "toggling" the webSocket flag in the middle of a conversation? If so, you shouldn't.

The "typing" feature requires webSocket to be true. It should be set to true when you initialize the WebChat control. There is no further interaction with the WebChat options.

[2017-08-14 18:56] billba commented on #639
Yes, unfortunately 'typing' is only sent with webSockets. So for now you'll have to choose between one or the other.

[2017-08-14 22:43] jessegoraya commented on #638
compulim thank you for your assistance.  Below is the information you requested.

npm version: 3.10.10
node version:  6.10.2
tsc version: TS6029: Version 1.5.3

[2017-08-15 00:05] compulim commented on #638
I am not exactly sure, but TSC `1.5.3` seems a bit too old to me. Try latest one like `2.4.x`. 😉

[2017-08-15 00:14] billba commented on #638
WebChat is currently locked to TypeScript 2.3.0. You probably need to build with that specific version.

Closing as not an issue with WebChat.

[2017-08-15 00:14] #638 closed

[2017-08-15 04:50] MRowley1 opened #640 "SuggestedActions pushes the top of the chat behind the header bar"
When the div for suggested actions buttons is present, the message group ~~content~~ div is displaced upwards but doesn't take into account the header being there. So the top part of the first message will be stuck behind it, even if the user scrolls to the very top. It returns to normal once the suggested actions have disappeared.

- [Before Suggested Actions, scrolled to top](https://user-images

[2017-08-15 04:56] MRowley1 commented on #640
For the record, the screenshots were taken in Chrome but the same issue occurs in IE.

[2017-08-15 05:50] eanders-MS commented on #636
It may be appropriate to validate incoming activities against a JSON schema representing what a well-formed Activity should look like.

[2017-08-15 11:53] jessegoraya opened #641 "NPM 404 Error Upon Build"
Cloned WebChat Repo through GitHub
In Node.JS navigated to the folder with the cloned repo and did a NPM Install
Received an error stating "Refusing to install package with name "botframework-webchat" under a package also called "botframework-webchat"
So I went to package.json and changed the name to "botframework-webchat-jgfork"
Try NPM install again and get the error below...

C:\Users\jgora\One

[2017-08-15 15:58] billba commented on #641
when you say "did a NPM Install" do you mean you just typed "npm install"?

[2017-08-15 16:00] billba commented on #636
I'd still want to make the code as bulletproof as possible, and `catch()` any errors, at which point I'm not sure such validation would add anything.

[2017-08-15 17:04] michael-golfi commented on #636
The schema seems to be already in place in [Direct Line](https://github.com/Microsoft/BotFramework-DirectLineJS/blob/master/src/directLine.ts). The actions field on SuggestedAction is required but when it's null it seems to crash the webchat based on the condition check @eanders-MS posted.

In the type def below, suggestedActions is optional (intentional) but actions inside suggestedActions is req

[2017-08-15 17:59] jessegoraya commented on #641
That is correct.  I just typed `npm install`

[2017-08-15 20:39] danmarshall commented on #640
Hi @MRowley1, yes the top of the message scrolls behind the header, the same as when you have many messages to be scrolled.We want the bottom message to be visible when suggested are displayed.

[2017-08-15 21:21] billba commented on #636
TypeScript is purely compile-time. Setting strict null checking won't change runtime behavior, which is what we're seeing here.

[2017-08-16 02:06] MRowley1 commented on #640
My point is that it's stuck behind the header, it's impossible to view the top of the first message while the suggested action bar is showing. That fourth image is as far up as you can scroll, the first line is completely obscured.

[2017-08-16 07:55] punitganshani commented on #609
We faced similar issue when we window is resized. The card or the left/right buttons in carousel doesn't resize or shift

[2017-08-16 12:20] ankitc1010 opened #642 "Simple conversation not working in react component."
The dialog is not proceeding to the next step in the waterfall and is restarted.
Here is the server code.

[code]

Here is the client side code.
[code]

This is the output we get -
![screen shot 2017-08-16 at 5 46 28 pm](https://user-images.githubusercontent.com/10996279/29362813-0d9323ac-82ab-11e7-8306-e982222397ef.png)

The same thing seems to be working on the emulator.
![screen shot 2017-08-16

[2017-08-17 06:50] edwin-huber commented on #58
This would really have helped us this week.
Does anyone know why this has not been done?
Is there an architectural issue preventing it's implementation in the emulator?

[2017-08-17 10:58] ankitc1010 commented on #642
I got the problem. The History component is not able to get the reference with empty id and name. Specifying id and name fixes the problem.

[2017-08-17 10:58] #642 closed

[2017-08-17 17:27] billba commented on #58
@edwin-huber It hasn't been done because no one has done it, and that is mostly because no one has particularly made a strong case for it. As you can see above, a former member of the team was even flatly against it. I don't think anyone has even checked all the other chat clients to see if this feature exists anywhere else. If you are passionate about it, it would be great for you to do this foot

[2017-08-17 18:30] Krumelur commented on #395
@billba I just came across this and wonder if you could complete the example without the "...."? What would the code have to look like if I wanted to intercept all `postActivity` calls and add some channel data like an object with two keys and value?

[2017-08-17 19:48] billba commented on #395
@Krumelur That is exactly what this code does. `channelData` can be any JSON object.

[2017-08-17 20:06] Krumelur commented on #395
Oh. Says a lot about how well I know Javascript! Tried it and it does not fail. But it never hits the line `postActivity: activity => dl.postActivity({` when sending a message in the web chat. All I get in my bot is the default channel data `{{
  "clientActivityId": "1503000315680.543842980207524.2"
}}`

[2017-08-17 20:09] billba commented on #395
Not sure what to tell you. Worked when I tried it. Suggest you add some debugging code, i.e.

[code]

[2017-08-17 20:25] Krumelur commented on #395
Awesome, got it to work. Thanks!

[code]

[2017-08-18 05:07] rachita0311 opened #643 "User Name coming empty in activity.From.Name"
I am initializing my chat bot . I am sending username as 'Agent Bot'👍

  var user = {
                id: 'userid1',
                name: 'AgentBot '
                };

            var bot = {
                id: params['botid'] || 'botid',
                name: params["botname"] || 'botname'
            };

            window['botchatDebug'] = params['debug'] && params['debug'] === "true";

[2017-08-18 18:45] danmarshall opened #644 "Ability to postBack a string"
I had one [customer report](https://github.com/Microsoft/AdaptiveCards/issues/558) that they would like to use postBack with a string value. Their workaround was to use an internal variable override, which might not be supportable in the long term.

[2017-08-18 19:32] billba commented on #643
See https://github.com/Microsoft/BotFramework-WebChat/issues/536 for a discussion and workaround. Closing as duplicate.

@dandriscoll here is your weekly notification that this is our #1 issue report.

@danmarshall we should probably document this workaround in the README, maybe in an "Identity" section that talks about the DL identity system or lack of same.

[2017-08-18 19:32] #643 closed

[2017-08-18 20:38] reyesrico opened #645 "Carousel left and right flippers does not go away if clicking fast and repeatedly"
While testing carousel, it was identified that clicking fast and repeatedly on the flippers will never make the flippers go out.

[2017-08-18 22:19] danmarshall commented on #643
@rachita0311 see [this C# sample fro getting the members of a conversation](https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-GetConversationMembers)

[2017-08-18 22:27] billba commented on #643
@danmarshall the problem is that no messages have been sent, so the bot has no user ID to access.

[2017-08-18 22:33] danmarshall commented on #643
@billba OIC. Purely speculating, could this be solved if the WebChat sent a backchannel message upon startup?

[2017-08-18 23:53] billba commented on #643
That is the workaround linked to above, but it still requires custom code on the bot. The correct solution is to pass the user identity when connecting to the conversation. But that is a protocol level change.

If you're suggesting building the workaround into WebChat, I'm disinclined to institutionalize a hack.

[2017-08-21 10:54] #641 closed

[2017-08-21 14:20] jalkanen commented on #622
I can reproduce this reliably for things like three dots in a row (...), on Safari and Chrome on OSX, and probably for a number of other character combinations as well.

However, for me setting <meta charset="UTF-8"> on the client index.html fixes the issue.

[2017-08-21 16:23] danmarshall commented on #622
Similar issue: #553 also solved with the UTF-8 meta tag. Closing this for now, as this seems to be the solution.

[2017-08-21 18:13] billba commented on #622
Looks like our samples all set UTF-8 so I'm comfortable leaving it at that.

[2017-08-22 00:39] nwhitmont commented on #604
@danmarshall What's the latest?

[2017-08-22 10:26] jessegoraya opened #646 "Rearranging Web Chat Component parts layout"
I have added the Web Chat component to my React site and it works great. However the component itself seems to be laid out incorrectly as it applies the styling of the overall parent design library (Grommet) but pieces of the component itself are laid out in disarray. See picture below.

Picture of Web Chat component within my React Site![web chat changes](https://user-images.githubusercontent.com

[2017-08-22 14:39] vademecumx opened #647 "HeroCard does not work on webchat but works perfectly on the emulator"

[2017-08-22 15:35] billba commented on #647
A bug report is more than a title.

There is ample evidence that HeroCard does work in WebChat, so you'll need to provide data to show otherwise. Ideally you'd show us the JSON for the message in question.

Also "does not work" can mean any number of things. Be specific. What results do you expect, and what results are you getting?

What form of WebChat are you using - the channel? The npm package

[2017-08-22 15:40] billba commented on #604
@reyesrico I'm having trouble parsing this table. I think the actual question we are asking is "For each channel that supports Markdown, does it render embedded HTML in Markdown?"

[2017-08-22 16:05] vademecumx commented on #647
Thanks for your answer.
![code](https://user-images.githubusercontent.com/25336177/29575339-72baa76a-8764-11e7-87cf-d239d591f991.png)

Thus, i don't use the JSON implementation. My app is deploy on Heroku .

![webpage](https://user-images.githubusercontent.com/25336177/29575178-0680663e-8764-11e7-843c-58252df03fb2.png)
![emulator](https://user-images.githubusercontent.com/25336177/29575179-06823bd

[2017-08-22 16:59] danmarshall commented on #604
@billba - I see. Yes I can just re-order the columns. And then put n/a in the HTML cell if markdown isn't supported on that channel.

[2017-08-22 17:33] danmarshall commented on #646
Hi @jessegoraya you should be able to look at our css file to see how we do it, then apply similar css in your solution.  Will that work for you?

[2017-08-22 17:35] danmarshall commented on #647
Hi @vademecumx can you tell me how you are using the WebChat? Is this an iframe of webchat.botframework.com, or are you hosting your own? Is this happening in all types of browsers?

Also, can you open you browser's debugger and see if you have any errors in the console.

[2017-08-22 23:04] danmarshall commented on #604
Table has been updated.

[2017-08-22 23:37] jessegoraya commented on #646
@danmarshall thanks for reaching out.  So within the CSS I  can control things such as the placement of the buttons and the spacing?  If so that's great, I'll take a look at the CSS.

Once again thanks for the help.

[2017-08-22 23:42] danmarshall commented on #646
@jessegoraya yes, I suggest that you start with our stylesheet as-is, then remove things that you don't want/need. That may be easiest.

[2017-08-23 02:33] vademecumx commented on #647
Thanks every one. I finally succeed to fix my problem using JSON implementation.

[2017-08-23 09:15] billba commented on #604
Much clearer, thanks!

[2017-08-23 11:35] jessegoraya commented on #646
@danmarshall.  Thanks will do.

[2017-08-23 21:07] MathBunny commented on #604
Hello, how would I render a table then inside a WebChat? Is it possible? I previously used to render tables through my bot

[2017-08-23 21:23] persianturtle opened #648 "Is there a way to prevent autocorrections on a user defined list of words and phrases?"
I was hoping there could be an option that would accept a list of words and phrases to "add to dictionary."

[code]

[2017-08-23 21:30] JasonSowers commented on #648
Could you explain a little more about your use case here?

Is there an HTML 5 feature that does this?  The webchat control wouldn't have access to the OS autocorrect.

[2017-08-23 21:40] persianturtle commented on #648
For completeness, my use case is the following:

Currently, using the out-of-the-box [webchat client](https://github.com/Microsoft/BotFramework-WebChat) & Chrome browser on Mac OS X, typing in words that are not recognized get a red line underneath.

<img width="170" alt="screen shot 2017-08-23 at 5 36 17 pm" src="https://user-images.githubusercontent.com/3474647/29639708-afc25eee-8829-11e7-9bc3-2

[2017-08-23 21:44] persianturtle commented on #648
It looks like adding the following attributes to `.wc-textbox` does the trick nicely:

[code]

source:
https://stackoverflow.com/questions/254712/disable-spell-checking-on-html-textfields

[2017-08-24 21:56] GeekTrainer commented on #621
@compulim FWIW, to what @billba is saying, [W3 Schools](https://www.w3schools.com/htmL/html5_syntax.asp) (which I'd say is as good a resource as any) says the `type` attribute is optional, and leaves it off their examples in their style guide.

[2017-08-25 10:34] vinod83k opened #650 "Need to prevent form.submit on click of buttons in the AdaptiveCards in WebChat"
We are using WebChat as a control in our website which is a CMS(Kentico), which by-default has Form.Submit functionality on every page. I have included both botchat.js and botchat.css in my project and able to render the control properly by making some changes in the botchat.css file. But, when we click on any of the button of the Adaptive cards being rendered, it takes it as a PostBack and my who

[2017-08-28 12:07] srijiths opened #651 "Getting exception when using Bing Speech API"
CognitiveServices.js:11222 2017-08-28T12:05:41.098Z | RecognitionEndedEvent | eventId: 7D383BD4ADB14B50BEEC7729A91F874D | eventTime: 2017-08-28T12:05:41.098Z | eventType: 3 | metadata: {} | eventName: RecognitionEndedEvent | requestId: D6B059BEEAA64AFE8F064DF8EBE14900 | audioSourceId: 0FAD26DD300241C397039B9F1E6E30F5 | audioNodeId: A93E7D703A5644369E7B22B0DC833BAB | connectionId: <NULL> | authFetc

[2017-08-28 17:00] danmarshall commented on #651
@shahidkhuram do you have any insight on this issue?

[2017-08-28 17:21] danmarshall commented on #650
Related to #594

[2017-08-28 23:38] danmarshall opened #653 "[botchat.js] Expose bundled Rx as global"
*This only relates to the CDN / Webpacked botchat.js*

If someone wants to use both WebChat and some additional RxJS on the page, they will need to re-download a copy of RxJS, even though it is already bundled.

Can we expose RxJS [the same way as Adaptive Cards](https://github.com/Microsoft/BotFramework-WebChat/blob/master/webpack.production.config.js#L39)?

[2017-08-29 09:33] srijiths commented on #651
The problem occurs when we are using Cognitive Bing Speech option. I have tried with Browser's default speech option and it works.

[2017-08-29 13:20] srijiths opened #654 "Uncaught exception in Speech re initialization"
If we click on the Mic multiple times by mistake , there is an uncaught exception which is causing issues. Due to this issue , bot is getting in to a loop and never coming out with out a refresh page.

botchat.js:1426 Uncaught DOMException: Failed to execute 'start' on 'SpeechRecognition': recognition has already started.
    at BrowserSpeechRecognizer.startRecognizing (http://IP/sample_files/botc

[2017-08-29 16:56] danmarshall commented on #653
@billba I've had 2 customers with this scenario. I know they can just rebundle their own way.

[2017-08-29 17:07] billba commented on #653
Yay people who use RxJS!

I tend to think of the CDN/bundle as something to use atomically, where there isn't a client app. If they are building a client app, they are already creating their own bundle, and at that point it's a lot more efficient for them to pull WebChat into their build/bundle, and share a common instance of RxJS.

[2017-08-29 17:57] #653 closed

[2017-08-29 20:56] danmarshall commented on #654
@shahidkhuram - can you look into this?

[2017-08-30 04:53] vinod83k opened #656 "Adaptive card buttons causing postback to page"
I already have this updated repo, but I am still getting the same problem of Form submit on click on any button in the Adaptive cards. So, I changed the following in AdaptiveCardContainer.jsx...

_AdaptiveCardContainer.prototype.onClick = function (e) {
if (!this.props.onClick)
return;
//do not allow form elements to trigger a parent click event
switch (e.target.tagName) {
case 'A':
case 'AUDIO':

[2017-08-30 14:39] shahidkhuram commented on #651
@RaviPidaparthi can you please take a look? this appears to be coming directly from the Cognitive services js SDK. Webchat doesn't explicitly manage the mic.

@srijiths can you please share repro steps?

[2017-08-30 14:44] shahidkhuram commented on #654
I can repro the issue. From a quick look it appears that stopping a recognizer isn't a synchronous operation so attempting to stop & start in quick succession is leading to this exception. stop() doesn't return a promise. One solution would be to throttle/debounce the start listening operation. I tried that quickly and I appears to resolve the problem. I'll try to send out a PR in the next day or

[2017-08-30 14:56] billba commented on #654
This is literally the sort of async nonsense that RxJS was designed to do!

[2017-08-30 16:15] RaviPidaparthi commented on #651
Need more details here. What is the error that is being observed ? Can you provide a repro ? Does browser console show any errors ?

[2017-08-30 16:29] srijiths commented on #651
Just followed these steps in  https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples/speech/index.html

Option 3 is selected , provided Cognitive Bing Speech Key ( Its working when i tested in a CURL command ) and used Direct Line key enabled for my bot as in the read me.

 directLine: {
          domain: params['domain'],
          secret: params['s'],
          token: params['t'],

[2017-08-31 00:49] punitganshani commented on #567
+1 facing this same issue, any quick fix on recommended width to make it work on Chrome/IE?

[2017-08-31 22:55] v-ducvo opened #658 "Should <br/> be rendered in Markdown mode in Emulator?"
When textFormat is set to "markdown", the code converts br tags to "\n\r"...to keep things straight, XML tags should not be accepted when textFormat is set to "markdown". Here is where that replace happens in the code:

https://github.com/Microsoft/BotFramework-WebChat/blob/ac769d76121134c9280d70909ffaf1b0e1acaf48/src/FormattedText.tsx#L57

----

Also - a related issue is that multiple line breaks

[2017-09-04 05:41] UtkarshBehre commented on #567
I have the same issue as above. Right arrow does not show in both the azure test chat and web channel as well. Is there a fix for this out yet?

[2017-09-05 19:51] danmarshall commented on #650
Closing this as a duplicate of #594 , fix is in PR #661  right now

[2017-09-05 19:51] #650 closed

[2017-09-05 19:51] danmarshall commented on #656
Closing this as a duplicate of #594 , fix is in PR #661 right now

[2017-09-05 19:51] #656 closed

[2017-09-05 19:55] #594 closed

[2017-09-05 21:18] danmarshall opened #663 "Need "tap" property on card images"
CardImage objects should have a "tap" property which is a CardAction.
This applies to any image in a card.

[2017-09-06 10:01] karangarg45 opened #666 "How to use in react native app"
Is it possible to use this in react native app without using iframe?

[2017-09-06 16:21] premaarya opened #667 "Cannot use the latest release 0.11.1 in SPFX"
We upgraded the botframework-webchat module to the latest version 0.11.1 in a SharePoint WebPart - SPFx project. The Project builds successfully, however getting following error when the page loads.
TypeError: Cannot read property 'offsetWidth' of null
    at HistoryView.componentDidUpdate (History.tsx:48)
    at measureLifeCyclePerf (react-dom.js:4529)
    at react-dom.js:5183
    at CallbackQueu

[2017-09-06 17:17] danmarshall commented on #666
Hi @karangarg45 if you are a React Native developer, please try it out and let us know :)

First, I can say that we aren't using the `react-native` compiler switch in [TypeScript's JSX](https://www.typescriptlang.org/docs/handbook/jsx.html).

Second, I don't know if React Native supports HTML tags. There seems to be Native elements like [`<ScrollView>`](https://facebook.github.io/react-native/docs

[2017-09-06 17:21] karangarg45 commented on #666
Hi @danmarshall i already trying integrating it with a react-native app.But i am getting some error and it's not working. I suspect it's because there is no such concept of dom in react-native and i am getting the error around react-dom library only.

[2017-09-06 17:37] billba commented on #666
From what little I understand, a React Native version of WebChat would require substantial code differences from the Web version. It would be an interesting project, and I'd love to see what common code could be extracted out for use by both, but we have no plans to develop such a thing internally.

[2017-09-06 22:43] alisrael commented on #476
I could use this feature in the current bot I'm creating where I need to ask the user what school they need contact information for.

[2017-09-06 23:02] billba commented on #476
This is an interesting UX question. On the one hand we have cards that let you suggest options to the user. But I can see that when the potential result set is large - e.g. thousands of schools - then autocomplete is the only way to go.

[2017-09-06 23:17] compulim opened #671 "Refactoring types and action factories from Chat.tsx into their own files"
Currently, [`test/history.ts`](../blob/master/test/history.js) is depending on [`Store.ts`](../blob/master/src/Store.ts), and is depending on [`Chat.tsx`](../blob/master/src/Chat.tsx). And that means our Mocha tests that target Redux, is also loading React code, before running the test in Node.js.

The [code in `Store.ts`](../blob/master/src/Store.ts#L2) that import [`Chat.tsx`](../blob/master/src

[2017-09-06 23:41] billba commented on #671
Makes sense. I favor:
* pulling `sendMessage`/`sendFiles` into Store.ts with all the other redux stuff
* putting `FormatOptions`, `ActivityOrId` and other types into a new Types.ts
* putting `konsole` into a new Konsole.ts (or Utilities.ts) file

[2017-09-06 23:44] compulim commented on #671
That's what I am thinking too.

What do you think about splitting up `Store.ts` into `Actions.ts`, `ActionFactories.ts`, `Reducers.ts`, and `Store.ts`?

[2017-09-06 23:46] danmarshall commented on #671
Perhaps `Actions.ts` might be `ReduxActions.ts` for disambiguity of BF buttons.

[2017-09-06 23:50] compulim commented on #671
Or in its own folder, like `Redux/Store.ts`?

[2017-09-06 23:51] billba commented on #671
I like the strategy of not creating more structure than is necessary. There's not really a problem having all the Redux stuff in one file. Makes its easy to jump around between actions and factories and reducers and epics. They're all pretty interrelated. So since it's not causing a problem... I say leave it as it is for now.

[2017-09-06 23:57] premaarya commented on #667
I did come across the #515, we are not using any custom css. Just packaging the  botframework-webchat module to be used from sharepoint. Figured out we also need to add the react-dom package.  Is there a list of packages that need to added along with version for using the latest version of botframework-webchat?
if i use the the 15.4.2 version of react and react dom the error is fixed but the prope

[2017-09-07 12:16] anumeshyerigeri opened #674 "botchat.js is not working in IE(internet explorer)10"
Hi,

My bot is not working properly in IE 10. it is working fine in another browsers. the problem is i have hero card with buttons. buttons have the areas that bot able to answer user questions. my hero card have 5 buttons. onclick of the button user will choose the area. it is working fine in another browsers, but in IE 10 and below it is not working , it is taking only one value the is first but

[2017-09-07 12:30] EnnamGopaulen opened #675 "Last button not appearing on HeroCard in IE11 on SharePoint"
Hi,

The last button is not displaying in HeroCard on IE11 but works fine on Chrome and Microsoft Edge.
Note that it is on SharePoint in an iframe.

**Code Below:**
Function
[code]
**Calling the function**
[code]

Output:
Should be
![img2](https://user-images.githubusercontent.com/24710468/30161301-0b300246-93e1-11e7-963d-fbf5e0018aa2.png)

Instead of
![img1](https://user-images.githubusercontent.

[2017-09-07 12:32] EnnamGopaulen opened #676 "Image size increases compare to original size in HeroCard on SharePoint"
Hello,

I have a carousel that display a set of choices with images using adaptive card. But the size of the images have increased compare to its original size (150px **x** 150px)

Note that it is on SharePoint in an iframe.

Find below code and picture:

[code]

Extract of code below:

[code]

![img4](https://user-images.githubusercontent.com/24710468/30161941-bc31ee90-93e3-11e7-9f0f-4e34e87cbe69

[2017-09-07 12:35] EnnamGopaulen opened #677 "Text on button in HeroCard appears 2 times on IE11 - SharePoint"
Hello,

The first text appears when clicked on the button and the second text appears after the user enter a text. Please see image.

Note that it is on SharePoint in an iframe and working fine in other browser, tested on chrome and Microsoft edge.

**Code Below:**
Function
[code]
**Calling the function**
[code]

![img3](https://user-images.githubusercontent.com/24710468/30162753-1cd5149a-93e7-11e

[2017-09-07 16:53] compulim opened #678 "Mock_dl server is not reliable because missing ACK feature"
Me and @reyesrico hit some issues when writing new tests and found that mock_dl does not implement Direct Line watermark/ACK feature correctly, leading to dropped messages and unreliable tests in Chrome.

I am proposing to revamp the message queue to support ACK and multiple conversation ID so it works with multiple browsers opened against the single server.

[2017-09-07 17:18] danmarshall commented on #677
Hi @EnnamGopaulen - can you use the browser's F12 element inspector, and see if the duplicate messages contain the same `data-activityid` attribute value?

[2017-09-07 17:20] danmarshall commented on #676
Hi @EnnamGopaulen - does this repro outside of SharePoint, in other browsers?

[2017-09-07 17:21] danmarshall commented on #675
Hello @EnnamGopaulen does this repro outside of the Iframe in IE11 ?

[2017-09-07 17:22] danmarshall commented on #674
Hello @anumeshyerigeri, can you please see if there are any errors in the JavaScript console?

[2017-09-07 17:32] danmarshall commented on #667
Hi @premaarya I'm not familiar with SPFX. Can you tell if it is hiding the Web Chat component temporarily? Perhaps you can try to set a breakpoint on that line to see if the chat is visible.

[2017-09-07 23:34] #678 closed

[2017-09-07 23:36] ramgesg opened #680 "wc-shellinput value does not change after programatically injecting new value"
`$(".wc-shellinput").prop({value: "Welcome"})` changes the display value of the text box but does not make changes in value of input class...

`<input class="wc-shellinput" type="text" placeholder="Type your message..." value="" autocomplete="off">`

[2017-09-08 05:12] EnnamGopaulen commented on #675
Hi @danmarshall , thanks for your reply.

No, it does not repro. Only on SharePoint in IE11.

[2017-09-08 05:17] EnnamGopaulen commented on #676
Hello @danmarshall, thanks for your reply.

Yes this repro outside of SharePoint in Chrome and Ms Edge.

[2017-09-08 05:25] EnnamGopaulen commented on #677
Hello @danmarshall, thanks for your reply.

Please find below `data-activityid` value for the duplicate messages.

First message: Gn8TzB3hEDP1W6PtxOsldg|0000005

Second message: Gn8TzB3hEDP1W6PtxOsldg|0000008

[2017-09-08 05:44] anumeshyerigeri commented on #674
Hi Dan Marshall,

This is the error in console.
SCRIPT12030: WebSocket Error: Network Error 12030, The connection with the
server was terminated abnormally

Thanks and Regards,
Anumesh Y.

On Thu, Sep 7, 2017 at 10:53 PM, Dan Marshall <notifications@github.com>
wrote:

[2017-09-08 08:44] UtkarshBehre commented on #567
Please provide any updates on this issue if possible.

[2017-09-08 09:05] cimpoesub commented on #567
The issue still manifests itself. Nothing seems to have changed from the node module's side. I have not found any workaround so far.

[2017-09-08 12:52] billba commented on #680
This is a React app, so it maintains DOM state internally and updates from there. Manipulating the DOM directly will have unexpected results. Don't do that.

[2017-09-08 12:52] #680 closed

[2017-09-08 17:53] danmarshall commented on #680
Agree this is not a bug. But, it could be a feature request. @ramgesg can you provide a scenario where you would inject text on the user's behalf?

[2017-09-08 17:58] danmarshall commented on #674
Hello @anumeshyerigeri - can you please get latest code and build a new botchat.js to see if this has been fixed? I have a hunch it may be related to #594 which has been fixed but not yet published.

[2017-09-08 18:15] ramgesg commented on #680
@dan, this is for injecting onselect value from autosuggest.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Dan Marshall<mailto:notifications@github.com>
Sent: Friday, September 8, 2017 11:23 PM
To: Microsoft/BotFramework-WebChat<mailto:BotFramework-WebChat@noreply.github.com>
Cc: Ramakrishnan S<mailto:ramgesg@hotmail.com>; Mention<mailto:mention@noreply.gith

[2017-09-08 18:27] danmarshall commented on #648
Thanks @persianturtle. I don't suppose all developers will want this by default. You can also set this in source code [here](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Shell.tsx#L94) in your own build.

[2017-09-08 18:27] #648 closed

[2017-09-08 18:28] danmarshall commented on #680
Related to #476

[2017-09-08 18:29] danmarshall commented on #680
We can continue this conversation in #476

[2017-09-08 18:34] danmarshall commented on #476
If people are implementing their own autocomplete solutions, we may need to provide a way for them to programmatically populate the textbox.