[2018-03-24 17:29] puripuneet commented on #894
I figured out how to test both `bot.js` and `index.html` together over `localhost` using ngrok as described [here](https://github.com/Microsoft/BotFramework-WebChat/issues/243#issuecomment-315908054).

I'm not sure if it would help to test a WebChat hosted by you remotely, since the `index.html` that I'm using already sources your `botchat.js` file.  Maybe what might help (if it is doable) is if y

[2018-03-26 12:35] padmavatierp commented on #465
Hello every once i am working on microsoft bot, direct line,
and deployed on my personal server on IIS,
If i test it threw emulator it is working fine, but if i test it threw I Frame in my website it si giving me 502 Bad Gateway error

POST https://webchat.botframework.com/v3/directline/conversations/HyZVX4cBPGh115QwKfStKj/activities 502 (Bad Gateway)

this is in channel page:
There was an error s

[2018-03-27 16:00] telkomops opened #920 "HowTo: Custom Control with its own state and backend"
We ended up creating a custom card control, which has to hook directly into the backend. If we trigger a postback or message event, we are sending a custom message back which treats this as a different message on the chat. Is there a hook up directly to the backend leveraging a custom activity on directline. I see that botconnection is passed into the MessagePane of Chat.tsx Component, but not pas

[2018-03-28 05:42] ttma1046 opened #921 "npm install error: SyntaxError: Unexpected token ”..."
BotFramework-WebChat-Demo\webpack.production.config.js:5
    ...config,
    ^^^

SyntaxError: Unexpected token ...

[2018-03-28 05:48] ttma1046 opened #922 "npm install error: webpack.production.config.js:5 “...config”, SyntaxError: Unexpected token ”..."
I run npm install right after git clone:

NPM error:
···
BotFramework-WebChat-Demo\webpack.production.config.js:5
    ...config,

SyntaxError: Unexpected token '...'
···

Question:

Which part of config/node packages handles the 'rest spread operator' in this webpack.production.config.js ??

Since I didn't see any ts config or any babel to handle this ?

[2018-03-28 05:48] #921 closed

[2018-03-28 07:44] DanielTizon commented on #43
I can't believe... this issue is open for almost 2 years, and still there isn't bot icon.

It is a so basic feature, that I'm really surprised.

is Microsoft leaving this project or Microsoft haven't enough cash to hire devs?

[2018-03-28 13:51] TestUsetGitHubUser commented on #43
@DanielTizon  I added inside botchat script manually it works for me.

[2018-03-28 14:48] petrformanek opened #923 "Adaptive Cards: Column width is not set correctly"
Hello,
I'm playing with adaptive cards in web chat and I'm facing an issue with setting of column width. See code and screenshots.
It works well in the [visualizer](https://adaptivecards.io/visualizer/index.html?hostApp=Bot%20Framework%20WebChat).
Please can you fix the issue or help me to workaround it?

Sample code:
[code]

Emulator/WebChat result - incorrect result:
![image](https://user-images

[2018-03-28 20:15] telkomops commented on #837
Few guidelines. Fork DirectLine, create your custom card spec. Implement the custom card spec in the Attachment View, for best experience wrap your custom control around adaptive container.
For events triggered, invoke doCardAction from the custom control to keep the Action behavior the same. I will add details once i find a better approach for custom controls handling their own async calls

[2018-03-29 11:54] Alaiven commented on #922
Updating to the newest node.js version resolved the issue for me on Windows

[2018-03-29 19:54] ernestoguimaraes opened #924 "Upload Button"
Hi, I've just pulled the last version of chat and can't find the upload button.
Is there any issue about it?

[2018-03-30 07:36] DanielTizon commented on #43
@TestUsetGitHubUser what script? It is a long 2-years old conversation with a lot of links.

[2018-03-30 08:38] TestUsetGitHubUser commented on #43
Download this script locally  <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
And find this code below and create this img element.

[code]
.botIcon {
    float: left !important;
    border-radius: 50%;
    height: 39px !important;
    width: 39px !important;
}
[code]

[2018-03-30 08:51] youtoofan opened #925 "Scrollbar with herocard on IE and Firefox"
When my webpage is loaded, an event is sent to the backend.
A welcome message in the form of a hero card is shown to the user.

In Google Chrome the card is displayed correctly, but in IE, EDGE and Firefox, a vertical scrollbar appears on the right, and half of the hero card is hidden from view.

This problem occurs since the latest version of the webchat library.

[2018-03-30 09:12] youtoofan opened #926 "Injecting history"
Hi,

I have my backend pushing activity history to my webchat client when someone connects or reconnects.
In my javascript I have the following:

    var lastActivityId;

    const handleConversationHistory = function (activities) {

        if (activities.length <= 0)
            return;

        var container = document.createElement("div");
        container.className = "wc-message-group-conten

[2018-03-30 15:51] GauravKatariya opened #927 "Context.Done() in StartAsync Method leading to infinite loop of startAsync calls"
Microsoft.Bot.Builder version 3.14.1.1.
Here is brief snap of my code ..
**MessageController** :-
if (activity.Type == ActivityTypes.Message)
{  await Conversation.SendAsync(activity, () => new AdaDialog());   }

**AdaDialog()**:-
public async Task StartAsync(IDialogContext context
{ await context.PostAsync("Hi");
  context.Done(this);
}

I am getting **infinite "Hi"** on bot chat window.
Please h

[2018-04-02 06:43] praveenchouhan411 commented on #431
Hello Friends,

I want to use Web Chat framework of Microsoft i just wants to know is there any security for this.
I have below points on this:
1. If i am using that web chat then where all my instant messages will store is that store in Microsoft Server if yes then any security crack for this.
2. How to make sure that my all users data is safe and secure.

Kind Regards,
Praveen Singh

[2018-04-02 16:33] JasonSowers commented on #926
I made a project a while back that injects chat history into the webchat control.  It may help you https://github.com/JasonSowers/ChatHistoryBot-Public

[2018-04-03 00:15] sakthiganeshTroy commented on #864
Hi, Is this issue resolved? I am facing the same issue when using IE-11. Thanks.

[2018-04-03 04:27] padmavatierp opened #928 "Bot Framework Directline channel, Bot titile Logo and welcome message"
I am using microsoft bot framework, everything is working fine, if i use iframe with direct line secret then its working fine, once i use custom UI for the same it doesn't show Bot icon and welcome message

[2018-04-03 09:29] Falansh commented on #864
Hi, I'm still getting error with IE 11 and sharepoint. It is working fine in all other browsers. For work around we created a different html page which will be given as hyperlink in the Sharepoint page and we will pass the user details from Sharepoint page to the redirected page.

[2018-04-03 14:03] deepanigi opened #929 "Adaptive Card does not trigger next flow"
Hi all,

I have dialog called "form search"  which has an adaptive card. when i click submit button the control doesn't go to the next flow but ends with error . But if use herocard the button click is triggering the next flow.I have used the same code snippet from the samples. what might be the issue.

[code]

Error
![image](https://user-images.githubusercontent.com/31543067/38254053-805c0bc6-375

[2018-04-03 16:13] EricDahlvang commented on #927
This code is closing the dialog in the StartAsync method.  That is not the intended use of the StartAsync method, it is generally for setting up the dialog.

Please review the samples here: https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp  and https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples  there is also documentation here: https://docs.microsoft.com/en-us/azu

[2018-04-03 16:14] JasonSowers commented on #929
Duplicate of https://stackoverflow.com/questions/49632292/adaptive-card-action-not-triggered

[2018-04-04 08:28] fplaten opened #930 "Cannot build current version"
Hey guys,

I have some issues building the latest release. I `git cloned`, `npm installed` sucessfully. `npm run build` however is exiting with the following errors:

[code]

OS: MacOS 10.12.6
node version: 9.10.1
npm version: 5.8.0
tsc version: 2.8.1

Is this a known issue or am I doing something wrong?

[2018-04-04 09:51] Mozart100 commented on #365
@billba,  any updates?

[2018-04-04 20:06] torynfarr commented on #923
I've been running into exactly the same thing. It seems like the AdaptiveCards v1.0.0 package doesn't handle the "width" property of columns correctly when loading and rendering an adaptive card from a JSON file. That, or it's the web chat channel itself. Either way, there's an easy work-around.

When you define your column width as auto, stretch, or as a numerical value... specify the same value,

[2018-04-05 04:45] HainanZhao commented on #789
This is annoying, my new phone camera takes 4K photos by default, the photo size goes up to 9MB easily.  And there's no setting to reduce the image resolution. Please fix this. Thanks.

[2018-04-05 08:01] sakthiganeshTroy commented on #864
Falansh, Thank you for the response and workaround. I have this issue when embedding the ChatBot in a html page and loading it in WPF webbrowser control. Will find an alternative workaround to use within the WPF itself.

[2018-04-05 15:04] jakubbares commented on #497
@billba How far is MSFT with the solution you mentioned - editing/deleting messages?

[2018-04-05 17:15] MichaelBartlettGitHub commented on #871
Can someone leave some code for hacking the css in the IFRAME?  I have tried everything and I cannot get this to work.   I am trying to inject the style.

[2018-04-09 07:00] ZeroTiem opened #931 "Who Use My websocket server?"
===============issue====================
Sorry I have a question
Setting webSocket = 'true'
But C# Web Api 2 IsWebSocketRequest Is False
HttpContext.Current.IsWebSocketRequest Is False
Who Use BotFramework-WebChat In My websocket server?

=================Url========================
Url:http://localhost:2805/Home/WebChat?domain=/api/TestWebSocket

==============html======================
BotChat.A

[2018-04-09 14:10] billba commented on #931
Despite its name, Direct Line is not a direct connection between your client and your bot. Instead, the client opens a Web Socket to the Direct Line service, which communicates with your bot via HTTP.

[2018-04-09 14:10] #931 closed

[2018-04-10 04:45] himanshushukla254 opened #932 "enter/send button in webchat window is not working for some browsers"
- SDK Platform:Nodejs
- Active Channels: webchat using iframe tag on website
- Deployment Environment: Azure Bot service

**Issue :**
For some browsers enter/send button in chat bot window is not working.
For eg, It is working for chrome 66 beta but not for chrome 65.
similarly it is not working for Microsoft edge. After typing any text the button should be greyed out.
But it's coming up as expect

[2018-04-10 12:56] Michaelvsk commented on #746
Found this post about the same question I have but not a post on Stack Overflow.
But the behavior is described in [this isse](https://github.com/Microsoft/BotFramework-Emulator/issues/99) and I would like to post it here for reference. The code example is for C# there, but it is probably easy to find the matching function for the nodejs framework as well.

[2018-04-10 20:03] an0o0nym commented on #746
@Michaelvsk I have resolved this problem using [answer on StackOverflow](https://stackoverflow.com/a/48261204/2808371) to my question. You can also find more details in #3901.

Thank you very much Gary!

[2018-04-11 07:37] fplaten commented on #930
I managed to successfully build it. I used `yarn install` before, which seems to have caused the error. Using `npm install` typescript can build just fine. I guess yarn installed some different package versions...

[2018-04-11 14:47] fplaten opened #933 "Adaptive Cards: 100% height is too tall"
Since bumping to Adaptive Cards 1.0.0 I had an issue with the display of PromptChoice dialogs.

The single choice had a height of 100% (see below).
![image](https://user-images.githubusercontent.com/6834102/38624298-096f2510-3da8-11e8-8348-98a7b7204253.png)

I managed to fix it by setting
[code]
Just if anyone is struggling with the same problem :)

[2018-04-12 09:28] Souvik04 opened #934 "Bing speech API does not narrate long text to Chat Bot"
I have created a Web Chat bot using Microsoft QnA Maker service and Azure Web App bot hosted on Azure. I have enabled Web Chat and Direct Line channels on Azure for my bot. It works fine. Now I am trying to integrate Bing Speech API for speech recognition. Below is the code-

Libraries:

[code]

Web app bot creation in JavaScript:

[code]

When I run this on Chrome or Edge, I can click on the micr

[2018-04-12 13:04] Kellym-Kainos commented on #814
Did anyone ever get a solution for this?

[2018-04-12 18:38] larconsultancy opened #935 "Chat bot is 'dancing' loosely within the web chat frame / text message option must disappear"
I'm new to chatbots and GitHub and do not know code - not a good opener! Here's the issue - I've added a scripted chatbot to my site via embed code from the BotFramework but the bot 'dances' around inside the 'frame' of the web chat.  There are current two key things I'd like to fix:
1) the size of the frame is the same as the current decision/choice
2) the message window at the bottom of the chat

[2018-04-13 05:23] ghost opened #936 "Chat history is lost after the page refresh or on the page navigation."
We have implemented chatbot re-connection logic to preserve the chats on page refresh or on the page navigation. Its was working fine with old version of chatbot but with the current version its not working, Kindly help.

[2018-04-13 05:35] canaanites commented on #936
Wanna share a snippet/gist of your code?

[2018-04-13 07:59] slva007420 commented on #936
JS code used for reconnection.
{
            var directLine = new BotChat.DirectLine({
                token: sessionStorage.luisToken,
                conversationId: sessionStorage.conversationId,
            });
            //debugger;
            var botConnection = directLine;
            botConnection.connectionStatus$
                .subscribe(function (connectionStatus) {

[2018-04-13 08:02] slva007420 commented on #936
during the initial connection i will setup the session storage for sessionStorage as below
sessionStorage.luisToken = token;
sessionStorage.streamUrl = botConnection.streamUrl;
sessionStorage.conversationId = botConnection.conversationId;

[2018-04-13 15:56] billba commented on #476
That is a feature of Teams. This proposal is about adding similar functionality to Web Chat.

[2018-04-14 04:26] Kartik1607 commented on #905
Refer to solution here : https://github.com/Microsoft/BotFramework-WebChat/issues/916

[2018-04-14 04:29] Kartik1607 commented on #923
The bot emulator currently renders according to https://github.com/Microsoft/AdaptiveCards/issues/1255 issue. Also, make sure you are using latest webchat to use adaptive card 1.0 schema

[2018-04-14 10:33] compulim commented on #924
There is a fix #938 coming in.

[2018-04-14 10:35] compulim commented on #930
We are still using TypeScript 2.3. Need some work to bump it up, maybe thru `babel-preset-typescript`.

[2018-04-14 10:35] #930 closed

[2018-04-14 15:35] tekh-ne opened #939 "Speech Locale doesn't work in Spanish recognition"
I've been creating bots with Botframework to be used in Facebook messanger and web.

As web chat allows Speech recognition I wonder to promote it, but web chat only recognizes English.

I've tried changing locale parameter to spanish but it does not work.

Does someboy how to modify the html  code?  (I'm using the index.html  sample) Please correct my below code:

BotChat.App({
        bot: bot,

[2018-04-16 04:39] eklavyamirani commented on #476
I was working on implementing this in my fork. Here is an initial change (based on @billba's original suggestion): https://github.com/eklavyamirani/BotFramework-WebChat/pull/1

![Autosuggest control in webchat](https://user-images.githubusercontent.com/1318529/38786219-5fb68658-40db-11e8-8b7c-dc9e642a0582.gif)

Here's the exposed hook to fetch suggestions:
[samples/fullwindow/index.html#L58](https

[2018-04-16 06:12] sammydeprez opened #940 "Documentation about SuggestedAction & History"
Is there any documentation about what the SuggestedActions & History object can do? And how to use it?

[2018-04-16 06:14] sammydeprez opened #941 "Sample: Add a privacy statement"
Is there anyway with the existing react component to easily add a line of text on the bottom of the component with a link to a Privacy Statement?

(Below is added by @compulim)

## Goals

- Explore how to add privacy statement before Web Chat is connected to Direct Line
   - Web Chat will only connect to Direct Line if the user consent
- Expand this sample as an alternative to minimizable UI sampl

[2018-04-16 13:51] larconsultancy commented on #935
Resolved by changing width and height into the iframe code:

<iframe   src="https://webchat.botframework.com/embed/NAME_OF_BOT?s=YOUR_SECRET_HERE"   width="500" height="600"> </iframe>

[2018-04-16 13:51] #935 closed

[2018-04-16 14:33] baki32 opened #942 "AdaptiveCard - Submit action - Additional properties not sent back to bot"
Hi,
I need to pass multiple properties on the background from AdaptiveCard.Submit Action. I'm using BotBuilder C# SDK.

I used DataJson property however that one causes nothing to be rendered on the screen when using WebChat. I've found out that there's one more collection Available - AdditionalProperties, if I analyze incoming message in Fiddler / Emulator JSON sent to webchat contains custom pro

[2018-04-16 18:21] compulim opened #943 "Suggested actions check should skip non-"message" activity"
[`activityWithSuggestedActions.ts`](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/activityWithSuggestedActions.ts) should look at last "message" activity and skip non-"message" activity.

[2018-04-16 18:25] danmarshall commented on #789
FWIW - here's a library that can resize the image prior to uploading: https://github.com/nodeca/pica

[2018-04-16 22:35] rajshrimohanks opened #944 "File '<app>/node_modules/botframework-webchat/src/types/JSpeech.d.ts' not found."
I'm trying to use this package with my Angular 5 app. I installed it as:
[code]

I had some errors pop up when I tried to run complaining about type definitions missing for Reach. So I did a `npm install --save @types/react` which fixed them.

However, the following error still persists:
[code]
And sure enough, the specified file (the whole of the `src/` folder in fact) does not exist in `node_mod

[2018-04-17 07:59] fplaten commented on #930
Well I've checked again and `yarn install` and `npm install` both add typescript@2.3.4, so the issue seems to be with another package.

[2018-04-17 16:13] christian-vorhemus commented on #944
I just came across the same problem. As a workaround you can try to install version 0.12.0 until this is fixed.

[2018-04-17 18:40] bgedik commented on #476
@eklavyamirani in terms of the exposed hook:

- What if I had a few different dialogs, where the auto-completion needs are different. I think the hook needs to have an additional 'context' parameter, that tells the completion service provider what kind of auto-completion is requested.
- Typically, when a certain form of interaction is needed, this is indicated on the chatbot side as part of the di

[2018-04-17 18:53] eklavyamirani commented on #476
@bgedik Your questions makes sense. :)

I have been thinking about this, and (in fact, another comment also points to this), it makes sense to keep this as a different kind of interaction that we (debounce and) send via the conversation channel. I'll modify the PR accordingly.

Thank you!

[2018-04-18 00:19] eanders-ms opened #945 "AdaptiveCards contained in data URLs don't get rendered"
Per @tomlm.

[2018-04-18 06:44] mrPrateek95 commented on #832
Not a clean method but you can use this.

//Fill the input field : Using a Hack. This might break after the next React update
//Source: https://github.com/facebook/react/issues/11488
var input = document.getElementsByClassName("wc-shellinput")[0];
var lastValue = input.value;
input.value = **YOUR TEXT**;
var event = new CustomEvent('input', { bubbles: true });
// hack React15
event.simulated = tru

[2018-04-18 06:46] mrPrateek95 commented on #680
Not a clean method but you can use this.

//Fill the input field : Using a Hack. This might break after the next React update
//Source: https://github.com/facebook/react/issues/11488
var input = document.getElementsByClassName("wc-shellinput")[0];
var lastValue = input.value;
input.value = **YOUR TEXT**;
var event = new CustomEvent('input', { bubbles: true });
// hack React15
event.simulated = tru

[2018-04-18 07:26] mrPrateek95 commented on #476
I think that this feature can benefit by the use of Event Activity (or [backchannel?](https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples/backchannel/index.html))

The bot is the best way to source suggestions as suggestions have to be context specific or else it won't make sense and the bot and client can communicate with each other by passing _event_ activities to and fro.

Let

[2018-04-18 11:48] shanthisri0222 opened #946 "Retaining the BOT conversation during each page load gets failed to connect after 30 mins"
Hi,
We have implemented BOT framework with direct line channel and I'm storing the Conversation ID and token in local storage once the connection is online. On page load, there's a null check against conversation ID and based on that conversation is resumed. The issue is "After 30 mins, when we reload the page, it is giving the connection status value as 4 which means Failed to connect". Can anyon

[2018-04-18 12:04] SamuelTassell commented on #365
You can add the conversationId to the BotChat component in react:
[code]
It remembers the last step and continues on. If you turn off websockets it also loads the entire history of the chat, although I'm unsure how long this will be stored for as it doesn't appear to be stored in my Azure state.

Would be great for some guidance as to whether this history is being pulled from and when it will expi

[2018-04-18 19:19] jpConversa opened #947 "Class attribute in message wrapper element may have conflicts with page styles"
https://github.com/Microsoft/BotFramework-WebChat/blob/15d3b354dda3dfc0621dcf1efa72e0b32d25b72b/src/History.tsx#L285}}

Is this class attribute needed? I do not see any incidence in the code and in some websites is generating a conflict because the styles of the page affect the style of the chat.

[2018-04-20 03:25] telkomops commented on #920
Same as #837

[2018-04-20 03:25] #920 closed

[2018-04-20 03:28] telkomops opened #948 "WebChat RoadMap -Query"
Please let us know the road-map or planned releases.  We have latest v0.12.1 Tagged and Adaptive-Cards 1.0 branch. What is our plan moving ahead?

[2018-04-20 08:31] mrPrateek95 commented on #483
@danmarshall Is there any plan to support Speech in IE11?

[2018-04-20 12:08] christian-vorhemus commented on #476
We are currently working on a customer project where we have added a custom written autocomplete component to the WebChat.

![ezgif-3-9f6f1262f7](https://user-images.githubusercontent.com/3229424/39049867-6d747144-44a3-11e8-9eea-a911afbecc44.gif)

The C# bot sends an event to the GUI so that it knows at which points in the flow the autocomplete component is expected to become visible. The tricky p

[2018-04-20 15:15] Alaiven opened #949 "Markdown rendering not working in hero cards"
I have some markdown in my

 property of the hero card, but the rendering doesn't seem to work... I don't know if this is an issue with the WebChat or AdaptiveCards as a whole

[2018-04-21 10:09] christian-vorhemus commented on #949
Which version of WebChat are you using? I had similar issues with v0.12.1 but it's working fine again with the latest version (see https://cdn.botframework.com/botframework-webchat/latest/botchat.js)

[2018-04-21 15:01] Alaiven commented on #949
I'm using the current version built from code. I also tried [botchattest](https://botchattest.herokuapp.com/)

[2018-04-23 06:50] shanthisri0222 commented on #946
Hi ,
Anyone please help me on this issue.

[2018-04-23 14:18] Klervix opened #951 "Take a picture instead of upload a file"
Hi there!

I would like to use the upload button (or add another one) to access the user's camera. The final goad is to get a picture from the user in order to create a kind of 'ID card'.
- Is there a simple way to change the upload button's action?
- Is there a way to send an image with another button (an API post with the conversation ID for example)?

Has anyone tried?

Thank you! :)

[2018-04-23 16:49] reyesrico commented on #658
@tjoudeh fortunately you can. Below you will see the current server content test where simulates a bot sending messages with different line breaks (you can use \n\n\n\n) and then are validated by the nightmare tests.

https://github.com/Microsoft/BotFramework-WebChat/blob/f3979f0290b10168e80ef88a0ed350a36ca80154/test/server_content.ts#L403

[2018-04-23 17:30] tjoudeh commented on #658
Thank you, looks like this is part of the release [0.11.4](https://github.com/Microsoft/BotFramework-WebChat/releases/tag/v0.11.4) will update to this version and test it out.

[2018-04-24 15:42] GuillermoADC opened #952 "There is a limit in the actions per card ?"
Hi, how are you all?

**Issue**: Doesn't render more than five actions

### Background:

I was doing an integration of the BotFramework-WebChat with SharePoint Framework and all is working fine. But, when I try to display an adaptive card with more than 5 actions inside the WebChat the chat show's me a card with the text "Can't render card" or in some other cases(Another bot backend) only shows th

[2018-04-24 17:10] bauhaux commented on #871
This basic UI feature seems to be sorely missing from the bot framework. There's also no direction on how, if possible, this is done in directline.

[2018-04-24 20:09] GuillermoADC commented on #952
I just try using HeroCard instead of AdaptiveCard.  And in this case when are more than 5 buttons only shows the first 5 buttons. **Maybe this is a limitation?**

[code]

[2018-04-24 22:02] Troesler95 commented on #916
Could you provide the URL at which the `botchat-es5.js` file is located? There doesn't seem to be anything located at [https://cdn.botframework.com/botframework-webchat/latest/botchat-es5.js](https://cdn.botframework.com/botframework-webchat/latest/botchat-es5.js)

[2018-04-25 05:09] reyesrico opened #955 "Install project packages does not install test packages automatically"
In order to build project and tests for the first time (using npm install over the project), it is needed to connect both installers.

[2018-04-25 09:08] enessoylu opened #956 "Formatting rules for codebase"
Is there any plan to define code formatting rules? There is a great need of it IMHO. Integrating TSLint to the project would be great.

[2018-04-25 10:10] arashberlin commented on #949
@Alaiven same issue

What version is used in the latest CDN?

Adaptive Cards with Markdown Url not rendering too.
I have build a fresh v0.12.1 version and with no luck.

I am working on a customized version, so the CDN version is useless for me.

Do I need to include the markdown-it to my web page?

[2018-04-25 14:07] bgedik commented on #476
@eklavyamirani Did you have a chance to find an approach that uses the 'conversation channel'?

[2018-04-25 15:37] electrobabe opened #957 "Encoding issue on message activity"
you have an encoding issue in your Web Chat inline implementation:
occurs when sending an Activity with text e.g. "ÜÖÄüöäß" (German Umlauts) and type="message" back through the framework API https://directline.botframework.com/

fun fact: the encoding of the buttons is FINE :smile:
also texts in HeroCards are well encoded. just plain simple text has the wrong encoding

[2018-04-25 18:09] eskivelevolution opened #958 "URL origin webchat"
Hi,

Has a way to get the URL origin webchat (URL from browser that send and receive the messages). I need validate if the URL origin is the URL that instanced the BotFramework.

If I use for example (**origin**):

[code]

It can be changed in browser, I need get it from header.

Thank you!

[2018-04-25 22:19] #952 closed

[2018-04-26 17:55] compulim opened #959 "Bump hoek>~5.0.3"
Need to:
* Make sure `hawk@^7`, which use `hoek@~5`
  * The latest [`request@2.85.1`](https://github.com/request/request/blob/master/package.json) use `hawk@~6.0.2`, which is vulnerable
  * `node-pre-gyp@0.9.0` dropped `request` in favor of `needle`, in [this commit](https://github.com/mapbox/node-pre-gyp/commit/9a9089b529413d5bdf30f548b217f87fa3c79010#diff-b9cfc7f2cdf78a7f4b91a753d10865a2)

Requi

[2018-04-26 20:01] alexvingg commented on #958
Could anyone help?

I need it too !!

[2018-04-26 20:19] eklavyamirani commented on #476
@bgedik I haven't yet. Unfortunately, I am tied up for a bit and I will pick this up after 2 weeks.

[2018-04-27 05:06] osvald0 opened #960 "Missing 'adaptivecards' file in built."
After run a build command I have an error because Store.js and AdaptiveCardContainer.js is trying to import the missing file ('adaptivecards'). Can you tell me how to solve this issue? I'm trying to include the WebChat in a react website.

Thanks!

[2018-04-27 07:55] samvanlier opened #961 "Unable to start new and clean conversation on other chat/browser"
Hi, I'm using webchat to make make a simple web interface for my bot. My bot has authentication using BotAuth to connect to an Azure Active Directory.
When I log in it works fine but when I start a new converstation on another device it contiues my conversation when it should be a new clean conversation.

I use this for getting my token and I get one but then I don't know why it does not work

[co

[2018-04-27 18:30] #960 closed

[2018-04-30 14:46] dan-cohn opened #962 "Suggested action cover last message on Chrome with non-100% zoom"
When the most recently-received message includes suggested action buttons, those buttons end up covering the message. It seems that the window doesn't scroll up far enough to make the latest message visible. This only happens on Google Chrome on Windows or MacOS when zoom is set to something like 110%. It seems to be OK with a zoom of 100%.

[2018-04-30 18:05] compulim opened #963 "Cognitive Services SpeechRecognizer throw InternalServerError when we send an empty dgi.Groups"
In [`SpeechRecognition.ts:152`](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/CognitiveServices/SpeechRecognition.ts#L152), we should not send an empty array for `dgi.Groups`. Instead, pass an `undefined` to the second argument instead of `JSON.stringify`.

[2018-04-30 18:45] compulim opened #964 "JSpeech.d.ts is not published"
We should move it from `/src/types/JSpeech.d.ts` to `/types` and include that folder in `package.json/files` section.

[2018-04-30 22:36] vincec-msft commented on #850
A fix for this was rolled out on Direct Line earlier this month. If you're still seeing the issue please post a HAR file demonstrating the issue. Thanks.

[2018-05-01 18:45] compulim commented on #942
Do you mean sending both text and data when the user click on the submit button? We currently do not support that.

According to Adaptive Cards schema [here](https://docs.microsoft.com/en-us/adaptive-cards/create/cardschema#actionsubmit). `Action.Submit` only support `type`, `title`, and `data`.

[2018-05-01 21:47] compulim commented on #964
Fixed in #966

[2018-05-01 21:47] #964 closed

[2018-05-01 21:47] compulim commented on #963
Fixed in #965

[2018-05-01 21:47] #963 closed

[2018-05-02 04:31] baki32 commented on #942
Ok, so what is the best practice then to send more data back to the bot while maintaining consistent user experience?

[2018-05-02 12:59] georgetroughton opened #967 "Web Chat React component - channelData"
I basically have the same issue as -

https://github.com/Microsoft/BotFramework-WebChat/issues/395

I just need to know how to do this when using the React Web Chat component.

So, how to add custom channelData in React.

Cheers

[2018-05-02 18:56] compulim commented on #944
Sorry folks, this is fixed in #966 yesterday.

[2018-05-02 18:56] #944 closed

[2018-05-02 22:48] shafi-mohammed commented on #864
@Falansh, That's great you have a work around. Btw, did you use the botchat.js in your new html?
Thanks.

[2018-05-02 23:19] CalvinFengDatacom commented on #967
I got an answer yesterday, but how do I customize the ChannelData within typescript file? Should I modify the ActivityView.ts?

[2018-05-03 11:25] pezholio opened #968 "Examples don't work in IE"
Since the polyfills are no longer bundled with `botchat.js`, the examples no longer work in IE, which tripped me up as I missed the bit about polyfills in the Readme. I go around this by using feature detection, like so:

[code]

Not sure if this is the best solution, but it seems to work for me.

[2018-05-03 11:29] baki32 commented on #942
Thanks for the response, I was already looking into the code of the webchat. But when I was debugging it there was listener subscribed to sendmessage action that also generated POST request down to server which is something that we don't need as we just need the message appear on the screen and data shall be sent over backchannel.

I might be thinking wrong as I'm not superskilled in React and esp

[2018-05-03 12:12] baki32 commented on #850
Hi,
I just tried it and I'm still not getting history after page refresh when web sockets are enabled in web chat.

[2018-05-03 13:37] Falansh commented on #864
@shafi-mohammed Yes we have used botchat.js

[2018-05-03 14:05] vincec-msft commented on #850
Are you sure the 2 instances of webchat are using the same conversation id?

[2018-05-03 14:42] baki32 commented on #850
Yes, it’s working fine as log as I keep webSocket param set to false

Sent from my Windows 10 phone

________________________________
From: vincec-msft <notifications@github.com>
Sent: Thursday, May 3, 2018 4:05:46 PM
To: Microsoft/BotFramework-WebChat
Cc: baki32; Comment
Subject: Re: [Microsoft/BotFramework-WebChat] If websocket is enabled there is no chat history on page reload (#850)

Are you s

[2018-05-03 15:35] vincec-msft commented on #850
Please send the HAR file(s) to vincec@microsoft.com and I'll take a look. Thanks!

[2018-05-03 18:33] compulim opened #969 "Send box in speech listening mode don't auto scroll to far right"
Repro steps:
1. Resize Web Chat window to be as narrow as possible without clipping
2. Click on microphone button
3. Say a very long sentence, like, "A quick brown fox jumped over the lazy dogs"

Expected: when the intermediate result is shown, Web Chat should keep the latest words on the screen by scrolling right
Actual: we only show the first few words, clipped everything else

Investigations:
*

[2018-05-03 21:06] compulim commented on #956
I am not a big fans of `prettier`. But we should do a better job here. Some points we discussed before:
* 2-space indent
* No trailing spaces
* Single empty line at end of file
* Bracelets are required for one-liner `if` statement
* Use `const`/`let` as much as possible
* Sorted `import` for better merging

There are more potentially controversary things that come up in my mind:
* Refactoring into

[2018-05-03 21:28] billba commented on #956
If necessary I will die on the 4-space indent hill.

[2018-05-03 21:30] compulim commented on #956
Okay, respect! Will keep that.

Bill, I have some big ambitions and we should talk after free up. 😉

[2018-05-04 01:41] arrrash opened #970 "Production mode Issues with react version>15.6.1"
Production build of the Bot for react version > 15.6.1 will throw error upon typing in the text area. Seems like some compatibility issues for most recent React versions.

`Uncaught Error: Minified React error #44; visit http://facebook.github.io/react/docs/error-decoder.html?invariant=44 for the full message or use the non-minified dev environment for full errors and additional helpful warnings.`

[2018-05-04 04:16] baki32 commented on #850
Sent

[2018-05-05 21:36] eanders-MS commented on #956
I am all about the 2-space indent these days.

[2018-05-06 13:17] billba commented on #956
@eanders-MS we can't be friends anymore.

[2018-05-07 06:41] baki32 commented on #850
For fellow githubers I'm attaching email thread I've had so far with @vincec-msft

----------------------------

Hi Vince,
I gave it a try without success – also I found this on DirectLineJS github

When I supply watermark 0 it is ignored and no history is returned after refresh.

-------------------------
I'm not familiar enough with the webchat control to answer your question but one of my sourc

[2018-05-07 07:31] baki32 commented on #470
Hi,
we faced similar issue - here's jQuery workaround:

[code]

Not perfect but at least something..

[2018-05-07 08:56] Alaiven commented on #949
Can anyone confirm that this is a bug and maybe propose a solution?

I'm attaching a screenshot from the current [botchattest](https://botchattest.herokuapp.com/), where you can see one of my bots displaying a Hero Card with some buttons. Markdown is not being rendered.

![markdown](https://user-images.githubusercontent.com/11237091/39693663-1991b060-51e5-11e8-988a-afd3fc8ee6c3.png)

[2018-05-07 09:02] rainmakerho opened #971 "resume conversation after call botConnection.end()"
I use "samples/backchannel/index.html" to test stop/start conversation.
How to resume conversation after call botConnection.end() ?
Thanks.

[2018-05-07 09:18] arashberlin commented on #949
Hi there,

I do have the same issue.  I downloaded the 0.13.1 version and compiled it and use the botchat.js in a HTML-Page for the "Web Chat"

Any idea how can I fix the issue?

-->When I use the [CDN](https://cdn.botframework.com/botframework-webchat/latest/botchat.js)  Markdown is OK

![image](https://user-images.githubusercontent.com/12381397/39694404-7e7fb45c-51e7-11e8-94f5-b37391c74cc5.png)

[2018-05-07 11:33] arashberlin opened #972 "Markdown rendering not working in Adaptive Cards in local build"
Hi there,

I am working on a customized version of the Web-Chat [Title, color & logo].

Adaptive Cards with Markdown Url do not render correct, when I use the code and build myself and use the botchat.js

This how do I build [as describen in the [readme](https://github.com/Microsoft/BotFramework-WebChat#building-web-chat)]:

I downloaded the 0.13.1 version
npm install
npm run build

and copy the b

[2018-05-07 11:56] dataoracle opened #973 "Loading no history on startup"
We are interested on a feature that would allow us to load basically no history when the user returns to the chat, but keeping it on the same conversation for audit/log purposes.

This will allow us to load the chat much faster but at the same time recover the whole conversation history if needed.

Any idea or suggestion of how we can achieve this?

[2018-05-07 15:00] billba commented on #973
This would require some sort of new flag in the chat props.

[2018-05-07 21:30] VasiDeus commented on #957
Did you figure this out by chance? I am having the exact same issue.

[2018-05-07 22:55] vincec-msft commented on #850
Hmm, I'm not sure why DirectLineJs doesn't support a watermark on a websocket call. There's explicit code in there to block it that I'm betting could just be commented out. My familiarity is with the server side of things and I know for sure that we fixed a bug there in the last month and that a big customer is using history over websockets today. Sorry I can't be of more help, but maybe the webch

[2018-05-08 19:29] VasiDeus commented on #934
Were you able ti find a solution for this? I am having the exact same problem.

[2018-05-09 04:06] EricDahlvang commented on #869
Conversation Update is sent by the direct line connector once when the bot joins the conversation, and once when the user joins the conversation. In the emulator, these are both sent immediately (not the same behavior of the direct line connector). Using WebChat or directline, the bot's ConversationUpdate is sent when the conversation is created and the user's ConversationUpdate is sent when they

[2018-05-09 05:44] VasiDeus commented on #934
Have you done any research on doing a custom speech engine? I'm trying to find some documentation on how to do that.

[2018-05-09 06:13] victorliafook commented on #869
@EricDahlvang Thanks for the prompt reply. To me it looked like a bug but now it makes more sense. I will implement in the way you suggested. Thanks again.

[2018-05-09 07:15] Termindiego25 opened #974 "React DirectLine chat doesn't works. Cannot find source files..."
Good morning to all, I'm trying to embed my bot to my React website but it is not showing and I can see some errors on Node.js console.
I copied&pasted the sample on my code but now it needs the adaptiveCardsHostConfig and bot attribute, so I tried to add it and it fails.
Please, could you help me to know where I'm wrong?

First of all I executed `npm install botframework-webchat` command on conso

[2018-05-09 07:44] cdagli commented on #956
@billba @eanders-MS What are your plans on that?

[2018-05-09 08:57] NeetaA opened #975 "Slider control in Directline Bot"
Hi,

I want to add Slider control having min and max value to chatbot using directline.

How can I add Slider to bot?

[2018-05-09 10:49] jvanderbiest commented on #957
You could fix it by adding the following tag to your <head> section
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

[2018-05-09 20:35] EricDahlvang commented on #975
The comments on https://github.com/Microsoft/BotFramework-WebChat/issues/837 have some general guidelines describing what would need to be done to add custom controls to webchat.

[2018-05-09 23:12] stevkan commented on #971
Hi @rainmakerho,

Can you provide your code so I can see how you are using the commands?

[2018-05-10 01:46] rainmakerho commented on #971
Hi @stevkan ,
I add 2 button to control stop/resume conversation.

[code]
DirectLine set websocket to false,

[code]
thanks for your help.

[2018-05-10 05:49] achidlow commented on #962
I'm getting this same issue regardless of zoom level.

[2018-05-10 12:08] dan-cohn commented on #962
I’m now seeing this issue on Firefox and sometimes on Safari as well. It depends on the size of the window.

[2018-05-11 08:07] Alaiven commented on #972
Also relates to #949

[2018-05-11 09:35] arashberlin commented on #949
@alavien:
Me too. I do have the problem when I build the code for the custom edition. Do you find any solution?

[2018-05-11 09:56] Alaiven commented on #949
No :( It seems that AdaptiveCards library stopped accepting Markdowns. I hope it is a bug and not a feature...

[2018-05-11 16:55] dan-cohn commented on #962
I'm also seeing this issue on the Emulator now (for MacOS).  I downloaded the latest released version – 3.5.36.

[2018-05-11 17:40] prwani-microsoft opened #977 "Installation Failure on windows 10"
[2018-05-11T10_36_09_562Z-debug.log](https://github.com/Microsoft/BotFramework-WebChat/files/1996261/2018-05-11T10_36_09_562Z-debug.log)

Error attached....

[2018-05-11 18:03] compulim commented on #977
Background: `node-sass` is not pure JavaScript, it requires binaries, either precompiled or compile-on-install.

Node 10 updated its native API and `node-sass@4.7.2` does not have precompiled binaries against Node 10. So node-sass tries to compile the binaries itself and found your box does not have Python + Visual C++ + Windows SDK installed, thus, it failed.

You can either:

1. Install Python +

[2018-05-11 18:03] #977 closed

[2018-05-13 03:12] rainmakerho opened #978 "pollingGetActivity's Authorization header is "Bearer undefined" when directLine's secret is empty string and webSocket is false"
Hi Sirs,
I use "samples/fullwindow/index.html" and directLine's secret set to empty string, webSocket set to false. code are below,
[code]
I found polling request's Authorization header is always "Bearer undefined", because checkConnection method will set directLine's token to undefined (conversation.token is undefined) when secret is empty.
May not set Authorization header when secret and token a

[2018-05-13 03:31] rainmakerho commented on #978
I post issue to [BotFramework-DirectLineJS](https://github.com/Microsoft/BotFramework-DirectLineJS/issues/72)

[2018-05-13 03:31] #978 closed

[2018-05-14 09:19] SpotOnCreative opened #979 "ConversationalUpdate Incorrect userID"
Hi everyone. I want my bot to be able to identify someone as a new, or returning person via the conversation update activity type in Bot framework.

I have this JS code hosted in an azure web app:

`<script>
      BotChat.App({
        directLine: { secret: 'XXXX' },
        user: { id: checkCookie() },
        bot: { id: 'BluePrism_Integration' },
        resize: 'detect'
      }, document.getEle

[2018-05-14 21:27] EricDahlvang commented on #979
ConversationUpdate is sent by the direct line connector when someone (bot or user) joins the conversation.  However, when the connector sends the message it does not include the user.id from BotChat.  There's a workaround described here: https://github.com/Microsoft/BotBuilder/issues/4245#issuecomment-369311452  (Basically, do not rely on ConversationUpdate but send a 'welcome' event activity and

[2018-05-14 23:04] danmarshall commented on #972
Can you provide the markdown that is causing the bug?

[2018-05-15 00:13] stevengum97 commented on #974
Cross linking to SO Post: https://stackoverflow.com/questions/50270368/react-directline-chat-doesnt-works-cannot-find-source-files

[2018-05-15 08:01] SpotOnCreative commented on #979
This works! Thanks EricDahlvang.

[2018-05-15 19:08] sandtemp01 opened #981 "uploadbutton does not get hidden and mic does not get displayed"
Hi,

I am using latest version and still showUploadButton and listening does not seem to pass to javascript.
I have seen the code in https://cdn.botframework.com/botframework-webchat/latest/botchat.js which contains listening attribute in props
https://cdn.botframework.com/botframework-webchat/latest/botchat-es5.js does not exist.

Can someone see if following has any syntax or other error?
The ch

[2018-05-16 07:36] arashberlin commented on #972
Hi @danmarshall thank you for the response. Many thanks to help me.

Is this a bug in **Adapative Card?**, because I get the issue now in the emulator, or has my code an issue?
 :(

Markdown for Url is like this:
![image](https://user-images.githubusercontent.com/12381397/40103011-5fb1d6e8-58ec-11e8-8037-ff271566ed86.png)

This is the methode how I create the Adapative Card:
`
public static Attach

[2018-05-16 08:10] arashberlin commented on #949
found a solution [here](https://github.com/Microsoft/AdaptiveCards/issues/1421). It was deep in some posts.  You need to add the markdown-it.js before your custom  botchat.js

[related also to 972](https://github.com/Microsoft/BotFramework-WebChat/issues/972)

I don't know how to enable it in the emulator. In the Web Chat the rendering is now correct.

[2018-05-16 09:03] Termindiego25 commented on #981
I think you need style reference too:
[code]

[2018-05-16 11:08] sandtemp01 commented on #981
Thanks for reply. The reference is already there. below is complete code..
[code]

[2018-05-16 11:12] Termindiego25 commented on #981
It is showing some error on browser console? Have you tried "speechOptions" attribute?

[2018-05-16 11:17] sandtemp01 commented on #981
Thanks.. adding speechoptions started showing me mic.. will test it more.

Do you see any reason, why following attributes are not working:
showUploadButton: false,
chatTitle: 'helllo',
sendTyping: false

[2018-05-17 10:48] RohitMane opened #982 "I am using WebChat in My web application, I want to open urls in same tab where chat window open"
I am using WebChat in My web application, I want to open urls in same tab where chat window open.
Hey @danmarshall Can you help me on this ?
If you want more information then please let me know.
Thanks in Advance. :)

[2018-05-17 16:09] EricDahlvang commented on #982
Hi @RohitMane

I'm no @danmarshall , but I know you can fork this repository and modify this line to enable opening urls however you prefer: https://github.com/Microsoft/BotFramework-WebChat/blob/617de0a0145aef1f2843c72d7ec4e6818c0bf7fb/src/Chat.tsx#L326

Does this answer your question?

[2018-05-18 20:38] BillStrait opened #983 "Discrepancy between Display Name and Status in web chat."
If I create my bot under the name "Alice" and change the display name to "Bob" web chat will use "Bob" for the standard greeting, and "Alice" for the status. So it'll look like this:

Hi! I'm Bob. Say "hi" if you'd like to chat.
           Alice * Now

[2018-05-21 06:43] RohitMane opened #984 "Open URL in same tab and not new window"
https://github.com/Microsoft/BotFramework-WebChat/blob/617de0a0145aef1f2843c72d7ec4e6818c0bf7fb/src/Chat.tsx#L321

[2018-05-21 07:05] praveens3190 opened #985 "Keep timestamp on every messages"
For first message time stamp is showing but for second message, first messages time stamp was get clear .t
I want to show date and time for every message(send or receive) how to achieve this pls help.
![image](https://user-images.githubusercontent.com/30227071/40294448-448fc5c2-5cf3-11e8-9570-870d6aef0d76.png)
![image](https://user-images.githubusercontent.com/30227071/40294476-5f2ae1d2-5cf3-11e8-

[2018-05-21 20:54] compulim commented on #984
Currently, `openUrl` will open in new window (using `window.open`).

[2018-05-21 20:56] compulim opened #986 "Props to turn off interactivity"
Turn off interactivity:
* [x] Hide send box
* [x] Hide suggested actions
* [x] Disable interactivity in all activities
   * [x] `<Media>`
   * [x] `<AdaptiveCardContainer>`

[code]

[2018-05-22 00:30] danmarshall commented on #982
@RohitMane can you try commenting out [lines 31 to 51 in src/FormattedText.tsx](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/FormattedText.tsx#L31) ?

[2018-05-22 06:32] RohitMane commented on #984
@compulim you are right **"Currently, openUrl will open in new window (using window.open)"** but I want to open url into current tab/page of browser this is a query. Its like enhancement into WebChat.

[2018-05-22 12:36] serpino opened #987 "Sample: Send user location"
## Bot Info
* SDK Platform: .NET Core
* SDK Version: Core
* Active Channels: WebChat
* Deployment Environment: Azure Bot Service, Azure App Service, Bot Emulator

## Issue Description
I need to get information about the user's location, (longitude, latitude, browser data, etc.) either through an API call or by receiving a new message or conversationUpdate.

How can I do it?

Thanks!

## Note to fi

[2018-05-23 08:56] serpino commented on #987
Can you help me? please

[2018-05-24 15:53] magencio commented on #962
I'm also experiencing the same issue on the Emulator v3.5.36, but on Windows. Something broke in the latest update.

[2018-05-24 17:13] stevkan commented on #987
@serpino, please see the response to you question on the botbuilder repo located [here](https://github.com/Microsoft/BotBuilder/issues/4636).

[2018-05-25 08:55] rafaelmaeuer commented on #984
I am looking for this feature too. If you want your chatbot to help you with page navigation by links this is a necessary feature. Opening in a new tab will destroy the navigation workflow.

[2018-05-25 09:13] serpino opened #989 "Keep conversationId and userID when opening chat in new tab"
## Bot Info
* SDK Platform: .NET Core
* SDK Version: Core
* Active Channels: WebChat, DirectLine
* Deployment Environment: Azure Bot Service, Azure App Service, Bot Emulator

## Issue Description
I want to host the chat within our website. In this web there are links that open the web in another tab. When I open the chat in a new tab, I receive in the message type conversationUpdate, a different c

[2018-05-25 10:19] rafaelmaeuer commented on #850
How can we get further help by webchat or directlinejs devs here?

[2018-05-25 11:02] rafaelmaeuer opened #990 "UI issue on Firefox: css property "width" of wc-carousel is not updated on creation or resize"
On Firefox (60.0.1) the width of the wc-carousel element is not updated on creation or resize. Therefore the element is rendered too small and cuts of the inner content. Problem occurs when displaying cards.
![bildschirmfoto 2018-05-25 um 12 59 17](https://user-images.githubusercontent.com/6418459/40541380-d6439676-601b-11e8-83ab-7b8e102d522c.png)

[2018-05-25 17:39] ukphillips commented on #840
I agree with the concern above and would like to know what everyone's opinion is on this. Is the intention of that user identity to be for use when making requests downstream (as a trusted user), or is this just something nice to the bot can display some information about the user early on?

[2018-05-25 17:58] billba commented on #840
In Web Chat `user` is indeed used just for visually attributing a message.

The Bot Framework uses `user.id` is used by is as a key for accessing user-specific data in a conversation. In other words, if you have users A, B, and C  in a single conversation with a pizzabot, and ask everyone to say what they want on their pizza, you can store each of their preferences separately.

Unlike full-fledged

[2018-05-25 18:29] Subabrota opened #991 "To Enable startlistening feature of bing speech in webchat automatically"
Hi, I have already integrated the bing speech api using speechrecognizer. It is working as expected. Now we had a requirement to enable the speech listening capability once an event/action is completed in the webchat.
How can we enable the speech listening automatically?

[2018-05-28 07:12] NicolasHumann opened #992 "ChannelId in Activity is Directline"
Hi,

The channelId of the activity is directline with the webchat control. According the documentation, it should be webchat, right ?

Thanks

[2018-05-28 07:30] serpino commented on #989
Hi.
Can you help me please?

Thanks

[2018-05-28 15:39] rjamesnw opened #993 "Host botchat.d.ts on CDN"
Is there a definition file I can use with TypeScript for the types in the botchat.js file on the CDN, or will I have to convert my site to use React in order to get the needed types? (I don't want to use iframes).

[2018-05-28 20:15] #992 closed

[2018-05-28 21:09] stevkan commented on #971
Hi @rainmakerho,

Please see below. The code I have provided is working for me to pause/resume a conversation using BotChat.

**The html stop/resume buttons take a value of true/false, respectively.**
[code]

**Clicking the buttons pass the values to the stopConversation and resumeConversation functions which set the states for botConnection.activity$.closed and botConnection.connectionStatus$.isS

[2018-05-29 12:41] gimall opened #994 "Customization - Say "hi" if you'd like to chat"
I cannot find any section to customize "Say "hi" if you'd like to chat"

[2018-05-29 12:58] serpino commented on #984
I'm trying to solve this myself.
How to open in a new tab without losing the flow of conversation.

Is there any way that if the chat opens in several tabs within the same browser, keep the conversationID?

[2018-05-29 13:07] RohitMane commented on #984
Hey guys Solution here [https://stackoverflow.com/questions/50444463/azure-bot-c-sharp-webchat-open-url-in-same-tab-of-browser-its-opening-in-new](https://stackoverflow.com/questions/50444463/azure-bot-c-sharp-webchat-open-url-in-same-tab-of-browser-its-opening-in-new)

[2018-05-29 15:13] rainmakerho commented on #971
@stevkan ,
    Thank for your help.
May I set botConnection.activity$.closed and botConnection.connectionStatus$.isStopped like below,

[code]

[2018-05-30 01:09] rodmcleay opened #995 "Sample: Prime speech using a tap-to-dismiss splash screen on Safari"
I'm have a webchat conrol for a bot that that is up and running and working well in Chrome. The link [How to enable speech in Web Chat](https://docs.microsoft.com/en-gb/azure/bot-service/bot-service-channel-connect-webchat-speech?view=azure-bot-service-3.0#custom-speech-service) shows how to set this up and we have done it exactly like this.

It mentioned multiple browsers, but does not specify Sa

[2018-05-30 03:08] MRowley1 commented on #962
I think it may be related to https://github.com/Microsoft/BotFramework-WebChat/commit/e5069bd313c9a61831c994ee5217297e0007375f, the fix for suggested actions pushing the top message out of bounds. In History.tsx the tolerance for scroll detection is set to 40 when a suggested action appears, but I'm seeing values of up to ~51 on that last Math.abs() when there are already messages off-screen (alth

[2018-05-30 05:08] arunthirumani1 commented on #478
This issue is reproducible in latest release 0.13.1, can anyone help me with this?

[2018-05-30 07:31] shubhamchawla opened #996 "Bot Framework Webchat mic not working on iOS"
I'm have a webchat conrol for a bot that that is up and running and working well in Chrome & Edge for windows.  But it is not working on Chrome & Safari on iOS (iPhone and iPad).

We need this working on an iPhone & iOS.

![chrome](https://user-images.githubusercontent.com/7473220/40705784-78bde078-6409-11e8-8d82-211d72978d0d.png)
![safari](https://user-images.githubusercontent.com/7473220/4070578

[2018-05-30 16:40] compulim commented on #942
Yes, currently it is a limitation. The send box is directly connected to send message (a.k.a. POST) so the user cannot actually send one thing, and POST another thing.

[2018-05-30 16:44] compulim commented on #942
Closing this by design.

[2018-05-30 16:44] #942 closed

[2018-05-30 17:02] compulim commented on #996
Dupe of #995. Closing this for now.

[2018-05-30 17:02] #996 closed

[2018-05-30 17:04] compulim opened #997 "offsetParent is null when user applied "display: none""
When the user hide Web Chat using CSS style rules `display: none;`, the `offsetParent` become null and throw an exception. Hitting this line, [`History.tsx:59`](https://github.com/Microsoft/BotFramework-WebChat/blob/15d3b354dda3dfc0621dcf1efa72e0b32d25b72b/src/History.tsx#L59).

[2018-05-30 17:43] dan-cohn commented on #962
I made a similar change on my own, bumping the tolerance to 60.  It's been working well for me, but there could be undesirable side effects – not sure.

Emulator is still an issue.  I think the issue has been [reported](https://github.com/Microsoft/BotFramework-Emulator/issues/607).

[2018-05-31 01:01] M-Rowley commented on #962
Far as I can tell the only impact of bumping up that tolerance is catching people who've scrolled up a tiny amount (~10 px) as being at the bottom of the page too. As long as you don't set it to anything ridiculous, it hopefully shouldn't even be noticeable.

[2018-05-31 05:01] Kartik1607 commented on #994
You seem to be using an older version. In the current version, there is no such message.

[2018-05-31 05:07] Kartik1607 commented on #985
Inside History.tsx you need to update

[code]

to

[code]

[2018-05-31 10:02] Jake1996 opened #998 "offsetwidth error when loading the iframe containing the custom ui on another domain"
botchat.js:sourcemap:12905 Uncaught TypeError: Cannot read property 'offsetWidth' of null
    at HistoryView.componentDidUpdate (botchat.js:sourcemap:12905)
    at commitLifeCycles (botchat.js:sourcemap:31662)
    at commitAllLifeCycles (botchat.js:sourcemap:33325)
    at HTMLUnknownElement.callCallback (botchat.js:sourcemap:21990)
    at Object.invokeGuardedCallbackDev (botchat.js:sourcemap:22028

[2018-06-01 08:06] kofarrell1076 opened #1000 "Multi tenant direct line chat?"
Hi all,
I have a directline chat up and running good.

Is there any support for multiple customers on the same bot? I want any customer to install on their website, add a custom id which we provide them and have all the messages come through our bot. We would then sort out where to send the message server side.

[2018-06-01 11:02] billba commented on #1000
The simplest way to do this is via the user id, e.g. `user: { id: 'Contoso/Fred', name: 'Fred' }`. Then on each message your bot could extract the customer id from the user id.

You could also send such a customer id at the beginning of a session via the backchannel.

One idea for a more robust solution would be for Direct Line to allow you to provide a string when requesting a token, then include

[2018-06-01 11:37] Jake1996 commented on #998
Got the solution. Had to use the botchat-es5.js file

[2018-06-01 11:37] #998 closed

[2018-06-01 11:38] Jake1996 commented on #997
Try using the botchat-es5.js file that you get after the build

[2018-06-01 18:45] kofarrell1076 commented on #1000
Ok thanks for that. I was looking at the user id so am on the right track. We do generate our own tokens which the customer can use so we'll take a look at sending these via the backchannel and see how it works.

thanks for the help

[2018-06-03 08:40] Kartik1607 commented on #997
@Jake1996 This issue has nothing to do with ES6. This happens because a ref to an html element is null as the html element was not present in DOM due to ```display:none;```

[2018-06-03 08:47] Kartik1607 commented on #983
What is your WebChat version?

[2018-06-03 09:46] BillStrait commented on #983
I'm not sure what it was, I used the link provided by Azure. I refreshed the link the other day and the problem appears resolved. Thanks!

[2018-06-03 09:46] #983 closed

[2018-06-04 06:28] shinjiDev commented on #932
I had a similar issue, but It happened because "div" for bot was with display:none. Is it a similar case?

[2018-06-04 07:53] himanshushukla254 commented on #932
No. It's not none for  me

[2018-06-04 10:37] neelamkhilari commented on #476
Is there any update on autocomplete @eklavyamirani ?

[2018-06-04 15:21] shinjiDev commented on #932
Try to check if "development tools" if there is an error.

[2018-06-05 02:48] compulim commented on #995
@rodmcleay, we have just tested it on an iPhone with iOS 11.4, running Safari, and use Cognitive Services Speech. It works.

Can you check for a few things?

1. Your iPhone is running iOS 11+
2. You are using Safari, not Chrome or Edge app
3. Settings app > Safari > Camera & Microphone Access is enabled
4. Your web site is on HTTPS, speech does not work on insecure HTTP
5. You are running on iPhon

[2018-06-05 05:26] Kartik1607 commented on #962
I have modified my code's autoscroll method to always scroll down to latest message by just commenting out the if check. It has worked flawlessly up until now.

[code]

[2018-06-05 06:36] shubhamchawla commented on #995
How to get it working on Chrome for iOS, any help would be greatly appreciated.
Thanks in advance.

[2018-06-05 07:59] compulim commented on #995
@shubhamchawla It doesn't work in Chrome for iOS because Chrome does not support WebRTC on iOS. The only browser on iOS which support WebRTC is Safari right now.

[2018-06-05 09:34] HorvatAntoine commented on #994
If i'm using the web embed version is there any solution ? As i can't just switch version.
I need to change the message for my users are non-english speakers.

[2018-06-05 09:44] gimall commented on #994
It is incredible that there isn't an input to set this kind of message... I'm using the last version on Azure... I created the machine just a week ago...

[2018-06-05 09:50] HorvatAntoine commented on #994
Ok i got something. I'm using a token to embed my bot. If i use the directline secret key in my GET request for the token, i get the "Say hi if you'd like to chat" and the bot icon on top of the iframe.
If i use the webchat secret key, having checked the "use preview version", i get nothing.

So if you don't wan't anything  to show up, and to possibly send your own welcome message, use the WebChat

[2018-06-05 10:40] gimall commented on #994
`
<script>
--
  |  
  | var defaultSendButtonColor = "#000000";
  | var url = window.location.href;
  | var botid = "XXXXXXXX";
  | var tokenOrSecret = "XXXXXXXX";
  | var tokenNeedsRenewal = "false";
  | var botHighlightColor = "#3e92d2";
  | var botAccentColor = "#dbdee1";
  | var botIconBorderColor = "#B3DBF2";
  | var userBackgroundColor = "#808c95";
  | var botBackgroundColor = "#eceff1";
  |

[2018-06-05 11:34] HorvatAntoine commented on #994
I fought of modifying it with JS after page load.
Something like that :
document.getElementById("welcome-message").content-text="your welcome message"

[2018-06-05 13:16] ukphillips opened #1001 "OAuth card does not render in Azure/CDN production build"
application/vnd.microsoft.card.oauth cards are not being rendered and show up as [File of type 'application/vnd.microsoft.card.oauth']. This is when using AAD v2 as the auth configuration. This is a huge blocker for me right now and is preventing validating any down stream bot functionalty based on authentication. This is using the sample: https://github.com/Microsoft/BotBuilder/tree/master/CSharp

[2018-06-05 13:33] pratiksinghchauhan opened #1002 "Create a Multiselect carousel using adaptive cards in Webchat Channel"
I have been trying to Implement a multi-select carousel in webchat channel,
![fireshot capture 18 - visualizer i adaptive cards_ - https___adaptivecards io_visualizer_index html](https://user-images.githubusercontent.com/18171139/40978121-63fe2f94-68f0-11e8-8eeb-6966050998ac.png)

The above picture is what I have already implemented, now  if there are 20 of them and I want to provide a button of s

[2018-06-05 13:41] billba commented on #994
We removed this feature because it's simple to code your bot to send a welcome message in response to a `ConversationUpdate` message if that's the behavior you prefer.

[2018-06-05 13:41] #994 closed

[2018-06-05 13:48] HorvatAntoine commented on #994
Yes i get that. but why does is still exist in directline then ?

[2018-06-05 14:10] HorvatAntoine commented on #994
Well as i said i resolved this by switching to web chat channel.

[2018-06-05 14:20] ernestoguimaraes commented on #756
I was talking with a customer about it. They use this feature to open a on premises page due data governance. So, they can have a bot on cloud with part of the experience happening on premises.

[2018-06-05 14:37] Kartik1607 commented on #1002
There is an Action `Action.ShowMore` which can display another adaptive card when clicked.
As far as 20 items go, there is something wrong with that approach from UI and UX perspective.

Can you narrow down to options? How about showing first 5 choices first along wiith a `suggested action` to load more. If user clicks the action button , then show next 5 in different message.

Try this for showin

[2018-06-05 20:03] pratiksinghchauhan commented on #1002
I am sorry this doesn't work, the method suggested just gives error that card rendering error was there while the other one rendered the top card atleast but the carousel part was not rendered.

[2018-06-05 21:30] compulim commented on #997
Working on a fix that is broader than we thought.

If the user hide it initally (thru `display: none`) and then un-hide it, since the chat component doesn't really know how big it should be, after un-hide, it think it is too narrow and not able to render the first bubble.

![image](https://user-images.githubusercontent.com/1622400/41003828-a4e82d12-68cc-11e8-8e24-1cb99e8a4bbc.png)

But after a mes

[2018-06-06 00:41] compulim commented on #997
@Kartik1607 the fix is in PR #1003.

But we still have a problem with size calculations, and that one could be one huge change:

* Our current measurement will make the screen flash
* We need measurement from time to time (we currently only do at launch)

Thus, we need to redo the measurement part by not making the screen flash. Or not doing measurement if not needed.

[2018-06-06 00:45] compulim opened #1004 "Carousel do not recalculate its size after window size change"
## Repro

1. Connect to MockBot
2. Type "carousel", wait until carousel of cards come in
3. Resize Web Chat programmatically (no `window.onresize` event will fire)

### Expected

Left/right flipper should be visible if not all the cards are shown.

### Actual

Left/right flipper are hidden forever, and no way to scroll the carousel.

## Notes

Also related to #997. If step 3 is hide/show Web Chat

[2018-06-06 02:09] billba commented on #994
If you are seeing the welcome message it's because you didn't select the (now inaccurately named)  "preview" version of the web chat channel.

[2018-06-06 02:44] rodmcleay commented on #995
Hi Compulim,
I don't mind the popup asking access, that is understandable and expected.
I'm using cognitive services, as per the code below, and it is on HTTPS, working fine in Chrome on windows and android phones. iPhone is iOS11.3.1

    const speechOptions = {
        speechRecognizer: new CognitiveServices.SpeechRecognizer({
            fetchCallback: (authFetchEventId) => getToken(),

[2018-06-06 06:04] praveens3190 opened #1005 "Customer to Agent(human bot)--> Chat not initiating properly"
I am using bot human chat which communicate with facebook, there is no  issues when single FB customer with BOT, but while connecting multiple FB customers with BOT we are facing the issue.

The Chat initiated to Agent  but FB customer receiving message us"backchannel"  and Agent trying to chat with customer if he types any messages it is asking the questions configured for customer.
kindly help u

[2018-06-06 06:07] billba commented on #1005
These do not appear to be issues specific to the Web Chat control, but rather integration issues in your larger application. Unfortunately we can't help with those sorts of questions here. I suggest you ask for help on Stack Overflow, where you will definitely need to provide a lot more information and code snippets if you'd like help.

[2018-06-06 06:07] #1005 closed

[2018-06-06 06:27] billba commented on #942
Understood. In that case, the Web Chat repo may not be the best place to discuss this.

[2018-06-06 07:01] ankitbko commented on #916
@compulim Could you update the url for `botchat-e5`?

[2018-06-06 07:46] HorvatAntoine commented on #994
Yes that is correct. That's how I got it fixed. Thanks.

[2018-06-06 16:11] Kartik1607 commented on #997
@compulim by hiding webchat using css, on which css selector is display none applied?

[2018-06-06 16:33] compulim commented on #997
Anything on `<History>` (`.wc-message-groups`) or one of its ascendants up to `<body>`.

What's your scenario?

[2018-06-06 18:06] compulim commented on #1001
Will report investigations here, stay tuned.

[2018-06-06 18:54] AlexanderEllis opened #1006 "Readme anchor links have "webchat" instead of "web-chat""
I noticed this when clicking around the Readme in between section.  Looks like when `webchat` was updated to be `web-chat` these were missed.

Added a PR here https://github.com/Microsoft/BotFramework-WebChat/pull/980 to update them.  Happy to make any necessary changes. Thanks!

[2018-06-06 20:20] compulim commented on #1006
It's in! Thanks for fixing it. 😉

[2018-06-06 20:20] #1006 closed

[2018-06-06 20:27] compulim commented on #1001
@ukphillips Which version of Web Chat are you using? Embed, cdn.botframework.com, or NPM?

If it's CDN, we got an issue and will fix it asap.

[2018-06-06 21:56] kashifkhan commented on #1001
@compulim The bot located [here](https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/AadV2Bot) is in C# and can duplicate the issue. I just re-ran that bot and still see the same issue

[2018-06-06 21:59] compulim commented on #1001
I think this is unrelated to the bot code, but the Web Chat component. (Or may be I am missing something here)

So how do you host the Web Chat component in your HTML page?

[2018-06-06 22:02] kashifkhan commented on #1001
Its the default web chat interface that gets pushed when you deploy the solution. I haven't modified the HTML page in any way.

[2018-06-06 22:02] compulim commented on #1001
Got it! That's my missing piece.

Will take a look at it.

[2018-06-06 22:31] kashifkhan commented on #1001
@compulim I meant the Web Chat link that you get when you go to the Azure portal, select "Bot Registration Channels" and then "Channels"

I also just tried the web chat interface inside Azure portal and its not working there either.

![support](https://user-images.githubusercontent.com/361477/41068505-5eb194c6-69af-11e8-83cf-e66ffb049c7b.JPG)

[2018-06-07 05:06] Kartik1607 commented on #997
In my case, we are using the custom build of webchat in an iframe on another page something like this.

[code]

After getting user information etc, we remove the `display:none` from the `chat-frame` and send the information to the iframe.

At this point we get error at `const maxContentWidth = (this.carouselActivity.messageDiv.offsetParent as HTMLElement).offsetWidth - paddedWidth;`

[2018-06-07 07:35] Arincon opened #1013 "ConversationUpdate with UserState data store issue"
I am working with Bot Framework v4, and I am having a problem with the `ConversationUpdate `Activity.
I think it is related with #536, but i am not sure it is exactly the same.

I am using **UserState** Data Store in CosmosDB, which uses a key like `user/directline/USERID` . It works fine all the time, but I am having a problem with **ConversationUpdate**.
The problem is that I am automatically re

[2018-06-07 08:55] Kartik1607 commented on #1004
Hi, I tried to replicate  the issue using code from master branch, but was unable to do so. Here is the [video](https://www.youtube.com/watch?v=aSn-q41twPk)

Is this specific to certain browser or am I doing something wrong?

[2018-06-07 10:09] serpino opened #1014 "Detect when all messages are loaded with jquery"
I need to detect in some way, from javascript, when the chat has finished loading, whether it is a new conversation or if I retrieve messages from a previous conversation.

I'm using directLine and I've created one using a CSS, a bubble to fold and unfold the chat. What I want to do is that when a new message arrives to the chat if it is hidden, deploy it.

For this the idea is to assign to the ch

[2018-06-07 17:11] #997 closed

[2018-06-07 18:45] compulim commented on #993
We publish `/built/*.d.ts` on NPM, in addition to `botchat.js`.

I can do that, but I wonder, how `*.d.ts` on CDN will benefit in your scenario? We target CDN distribution channel for users who like to use Bot Chat like jQuery (one single import plus one JS call to instantiate).

Can you tell me more about it?

[2018-06-07 22:05] compulim commented on #1014
You can look at our [backchannel sample](https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples/backchannel/index.html#L106) and you can use the same technique to watch the observable when a new message/activity had arrived.

[2018-06-07 22:05] #1014 closed

[2018-06-08 07:34] serpino commented on #1014
Sorry, but that option is not worth it.
That only happens when you press a button. I already have that done for another case.

What I need now is to know when you have finished uploading the chat completely, and to know when a new message is received. all this from javascript.

[2018-06-08 09:11] rjamesnw commented on #993
I didn’t say `d.ts` on CDN. I meant I don’t want to use react to access the TS types. I want to load the .js from the CDN (which is web packed) and just have a definition file with the types in the .js file.

[2018-06-08 12:36] abhishekkant opened #1015 "Adding minimize/close button"
Hi

I am looking to add button to close/ minimize web chat window in the top bar. Is there a setting that can be customized to include these buttons?

I have seen some customization options of webchat e.g. changing the text in the top bar.. However, I believe that it may not be so simple to implement the buttons.

An illustration of what I am looking for is below:
<img width="379" alt="webchatdesi

[2018-06-08 15:13] rosskyl commented on #995
I got it working with Safari and Firefox with the following javascript. I just include this in a javascript file while still using the linked CognitiveServices.js file from the cdn. I use the bing speech recognizer and the browser speech synthesizer.

This works because their current version uses window.navigator.getUserMedia which is being deprecated so change that to use window.navigator.mediaDe

[2018-06-08 15:17] rosskyl commented on #991
You could click the microphone from javascript with `document.getElementsByClassName("wc-mic")[0].click()`.

[2018-06-08 19:54] compulim commented on #1001
@kashifkhan the Azure portal use an older version of Web Chat. We do update it from time to time, but the current version doesn't have OAuth card yet.

@ukphillips unfortunately, the CDN was a bit outdated too (0.11.3 I believe). We fixed that and on the next release, `/latest/` will point to a version with OAuth card. We do publish dev build to CDN, you can try out at [https://cdn.botframework.co

[2018-06-10 10:19] Kartik1607 commented on #1015
You would have to add this yourself. There is no predefined option to do so since chats can be fullscreen as well.

[2018-06-10 10:50] Kartik1607 commented on #1002
Seems to be working. Here is the code I tested this from.

[code]

Output : ![Image Output](https://imgur.com/yKJYFda.png]

[2018-06-11 14:58] ukphillips commented on #1001
@compulim When I use that version of the botchat, I notice that the token server is providing me with a magic code, my understanding was that the magic code was no longer required by the bot service for web chat and directline authentication. Last week when I was doing authentication it was not requiring the magic code, has something changed on the bot service?

[2018-06-13 00:52] compulim commented on #1013
Do you think it's a bug on BotBuilder side?

[2018-06-13 00:55] compulim commented on #1001
@ukphillips AFAIK, I didn't hear anything change. @Jeffders or the support team could have a better answer this question. Looping them in.

[2018-06-13 01:01] compulim commented on #995
@rosskyl this is good hack, without the need to touch the Web Chat code.

Can you explain a little bit more on synthesis part? Do you mean Safari requires touch/tap for both synthesis and recognition part?

[2018-06-13 01:46] Jeffders commented on #1001
@ukphillips Are you using WebChat in your own site or the Bot Framework emulator?

[2018-06-13 03:08] JasonSowers commented on #1013
@Arincon can you walk us through your setup and how you are setting the UserID?

[2018-06-13 07:47] Arincon commented on #1013
@compulim I am not sure. I think that either this is on purpose (so I want to know why it has to be this way), or it is a bug in some part of the directline communication.

@JasonSowers I am doing something like this:

[code]
And I am sending an event to the bot:

[code]
But this is not the problem, because I changed almost everything to try to solve it, and nothing worked.

Thanks in advance.

[2018-06-13 13:27] ukphillips commented on #1001
@Jeffders I am trying with both (also attempted using v3 and v4 of the emulator, with the same results), and the functionality is behaving the same (returning a magic code) in all.

[2018-06-13 13:42] rosskyl commented on #995
The first time you use either the speech synthesis or recognizer, it needs to be triggered by a user touch or tap. After the speech synthesis was triggered once, then I was able to get it to work without needing a touch or tap. Apple requires this to prevent the web page from automatically playing audio or recording audio even though all of the other browsers allow it.

The speech synthesis or rec

[2018-06-13 16:08] compulim commented on #993
Can you point me to a project that did this? I am new to this idea and I have a few questions:
* Where will we store the `d.ts` file? I prefer not to keep it on GitHub
* Do you have pointers to generate the mono `d.ts`?

[2018-06-13 16:10] compulim commented on #995
@rosskyl Thanks for the explanation. I totally understand the recognizer requirement for tap/touch, but it just feel weird to me for the synthesis part. I bet one don't need to tap/touch for WebAudio.

Anyway, it's Apple's requirement then we need to work with it. 😉

[2018-06-13 17:19] rosskyl commented on #995
You could try it without adding the event listener, but I couldn't get it to work without it. You could also write your own custom speech synthesizer and try it with WebAudio. I originally wrote my own that used the speech synthesizer, but ended up with the same problem the BrowserSpeechSynthesizer had. I fixed it with the event listener and figured out it worked with the BrowserSpeechSynthesizer

[2018-06-13 19:50] rjamesnw commented on #993
I’m not sure (I don’t use react) but you can start looking here: https://www.npmjs.com/package/dts-webpack-plugin

You can publish the d.ts file on DefinitelyTyped (https://github.com/DefinitelyTyped/DefinitelyTyped), which is used to find single declaration files for single .js files (typically). You shouldn’t force people to require react for this just to get types to use on a non-react website.

[2018-06-14 07:41] compulim commented on #989
Preservation and continuation of history is not quite working today. We are planning to make it a feature in coming milestone.

In the meanwhile, I think you need to manipulate the DirectLineJS object to achieve that. Instead of passing a `botConnection` into Web Chat, you pass a `directLine` object in.

I have some old code trying to explore the area, may be it is helpful for you.

[code]

[2018-06-14 08:47] compulim commented on #984
Thanks everyone.

I have added this as a planning item for customizability, we are planning some big works over there

@serpino you will need to look inside `directLine` props, you may want to go over this [issue](https://github.com/Microsoft/BotFramework-WebChat/issues/989). In short, it's more on the DirectLineJS side, than on Web Chat side. But we own both anyway.

[2018-06-14 08:47] compulim commented on #982
Dupe of #984.

[2018-06-14 08:47] #982 closed

[2018-06-14 08:50] serpino commented on #984
I have been able to solve it by keeping the conversationID in a localstorage when it is a new conversation.
If when opening the chat again in that browser there is a localstorage with that conversationID, I connect with directLine in another way to recover the previous conversation.

Thank you

[2018-06-14 08:52] compulim commented on #981
Try the latest version, it was recently added.

There are few ways to get Web Chat:
- NPM
  - Latest production (`botframework-webchat`)
  - Latest development (`botframework-webchat@master`)
- CDN
  - Latest production (https://cdn.botframework.com/botframework-webchat/latest/botchat.js)
  - Latest development (https://cdn.botframework.com/botframework-webchat/0.13.1-master.248c723/botchat.js), s

[2018-06-14 08:52] #981 closed

[2018-06-14 08:53] #979 closed

[2018-06-14 08:53] #975 closed

[2018-06-14 09:00] mennolaan commented on #851
I was really hoping for a workaround for this issue. I just have some regular items shown as a list and some items need to have a checkbox or maybe two radiobuttons I like to hide initially, only to be shown if you select an item.. I wanted to prevent a situation where i have to create multiple cards to tackle this.

I would really appreciate if this feature would be allowed as it gives a lot of e

[2018-06-14 09:28] compulim commented on #997
@Kartik1607 oh so you are hiding Web Chat until user profile is loaded?

Instead of using `display: none;`, how about load Web Chat on the page only after profile is loaded?

[2018-06-14 09:28] compulim commented on #974
@Termindiego25 this is bug #997. The current implementation of carousel requires calculation of container width. It's fixed.

[2018-06-14 09:28] #974 closed

[2018-06-14 09:30] compulim commented on #973
Continuation of conversation is something not supported today. On Direct Line side, it use `watermark` to identify which messages it need to load from the service.

If you can keep the `watermark` number, Direct Line won't send you the old history, and thus, Web Chat won't display them.

Does that solve the problem?

[2018-06-14 10:32] compulim commented on #970
@arrrash the error says "findDOMNode was called on an unmounted component."

Can you give us some details on the error? Are you unmounting Web Chat?

[2018-06-14 10:36] compulim commented on #968
We pushed ES5 build to CDN, but it's not a production build yet. Our CI/CD has been reconfigured to push ES5 build from now on.

Currently, you can grab our development build of `botchat-es5.js` from our CDN [here](https://cdn.botframework.com/botframework-webchat/0.13.1-master.248c723/botchat-es5.js).

Thanks for reporting this.

[2018-06-14 10:36] #968 closed

[2018-06-14 10:38] compulim commented on #967
@georgetroughton the sample has been added to the issue #395.

[2018-06-14 10:38] #967 closed

[2018-06-14 10:44] compulim commented on #958
There aren't any secure solution if you are passing it in JavaScript. Maybe you can post it in [BotBuilderSDK](https://github.com/Microsoft/BotBuilder/issues) and ask them for a better solution.

If you are using token (instead of secret, and is generated on the server-side), I think you can use CORS to secure your URL origin.

[2018-06-14 10:44] #958 closed

[2018-06-14 10:58] compulim commented on #955
Yea it is expected. We are separating out the way to install packages. And eventually, breaking many things into many smaller pieces, easier to swallow size.

[2018-06-14 10:58] #955 closed

[2018-06-14 11:16] compulim commented on #948
We are planning more customizability. Instead of forks, we have some cool ideas to let you customize without forking, and less painful to update to latest Web Chat even you have customized it a lot. And lots of samples to show how to customize Web Chat.

For customization, it is not only about color/themeing, but also something like adding new types of bubbles, replacing Markdown engine, replacing

[2018-06-14 17:42] compulim commented on #851
@mennolaan are you using Adaptive Cards for form-filling + validation?

[2018-06-14 18:23] compulim commented on #947
@jpConversa This one looks bad 😢. We didn't do a great job here.

I think we are not using class name in code, but only in CSS. If you don't see it there, it's okay to remove it.

We need to update our CSS to use more child selector instead of descendant selector.

[2018-06-14 18:23] #947 closed

[2018-06-14 18:32] stevkan commented on #971
@rainmakerho, I apologize for not answering. I somehow missed your response. Let me take a look and see if there is anything on polling.

[2018-06-14 18:35] compulim commented on #941
Not easy to do it today, you need to fork.

We are planning on customizability and I added this to the list of ask. 😉

[2018-06-14 18:37] compulim commented on #939
I think you need to write it like this. I guess you should get an error with your code if you turn on JS strict mode.

[code]

[2018-06-14 18:39] compulim commented on #936
@ghost we appreciate your effort.

Preservation/restoration/continuation history is big ask from the community. I have added this to our planning, it's coming. We need to re-architect Web Chat to support this feature without hacks.

[2018-06-14 18:41] compulim commented on #934
This is interesting, I don't think we limit on our side.

I am looping in support team and ask them to do a repro on this. If you have minimal code that show the problem *without* Web Chat, we can forward it to Cognitive Services team and let them fix it.

[2018-06-14 18:42] compulim commented on #933
@fplaten can you share the Adaptive Cards code behind the scene?

[2018-06-14 18:43] compulim commented on #932
Looping support team, can you help me to do a repro on this?

[2018-06-14 18:47] compulim commented on #929
Looping in support. Can you repro this on latest? Is the code doing the right thing?

[2018-06-14 18:48] compulim commented on #928
@padmavatierp do you see anything from the console log? Can you tell us more about how you integrate your custom UI?

[2018-06-14 18:49] #927 closed

[2018-06-14 18:57] compulim commented on #926
@youtoofan [Here](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Store.ts#L361) is the code for appending messages. I think we just add it as-is and I didn't see any sorting code in [History.tsx](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/History.tsx).

BTW, we are planning to complete the preservation/restoration/continuation of history in the next phase.

[2018-06-15 01:49] rainmakerho commented on #971
@stevkan , Thank you.

[2018-06-15 04:04] compulim commented on #939
Sorry, I mistook it.

Your Cognitive Services code should looks something similar to

[code]

[2018-06-15 04:08] #939 closed

[2018-06-15 04:34] compulim commented on #923
@petrformanek I think Emulator v3 is using pretty old version of Web Chat. v4 is in the brew.

@torynfarr do you mean this is bug is on the AC side?

[2018-06-15 04:35] #922 closed

[2018-06-15 04:40] compulim opened #1019 "Add tagged build to CDN"
Also deploy to https://cdn.botframework.com/botframework-webchat/master/botchat.js (and ES5 builds).

[2018-06-15 04:41] compulim commented on #916
We just fixed our CI/CD to deploy ES5 builds to CDN. But since we just enabled that, only pre-release build is on CDN.

The latest pre-release (`master.248c723`) is at https://cdn.botframework.com/botframework-webchat/0.13.1-master.248c723/botchat.js. You can look up for versions at https://www.npmjs.com/package/botframework-webchat?activeTab=versions.

I have a bug #1019, after that one is fixed,

[2018-06-15 04:41] compulim commented on #916
Since CI/CD is fixed, I am closing this for now.

[2018-06-15 04:41] #916 closed

[2018-06-15 04:42] #926 closed

[2018-06-15 04:46] compulim commented on #912
Is the problem fixed now? Looks like your bundler isn't taking the CSS file in, or it scoped the CSS.

We are currently working on revamp of Web Chat, the CSS will be inlined in React components and provide CSS insertion points for devs to add rules to specific components.

[2018-06-15 04:48] compulim commented on #908
Dupe of #985. Since there are more traffic on that bug, I will close this one.

The features has been added to our "customizability" project for planning.

[2018-06-15 04:48] #908 closed

[2018-06-15 04:48] #907 closed

[2018-06-15 04:49] compulim commented on #907
I have added this as a enhancement in our upcoming work.

[2018-06-15 04:49] compulim commented on #905
Thanks @Kartik1607!

[2018-06-15 04:49] #905 closed

[2018-06-15 05:30] dataoracle commented on #973
Thanks @compulim for the idea.

Our challenge is that when Web Chat starts it always begins by sending a `GET` to `/conversations/:conversationID/activities` with no watermark in the query string (&watermark=) and therefore it returns all conversation history in the first `GET` along the watermark for subsequent polling.

Your suggestion looks good, but if I understood correctly we would have to s

[2018-06-15 05:52] compulim commented on #973
I still prefer client-side solution because both of the following are difficult to tackle on a server-side solution and they are important:
* Faster to load
* Less worries on privacy (e.g. server need to flush history after X days)

And one need to think about opening multiple tabs against same web site, handling user ID, etc.

BTW, the official support for conversation preservation is coming, but

[2018-06-15 05:59] #877 closed

[2018-06-15 06:00] compulim commented on #876
Closing because of inactivity.

[2018-06-15 06:00] #876 closed

[2018-06-15 06:03] compulim commented on #872
@EricDahlvang played around with the idea of sending typing indicator as a event activity in [https://github.com/Microsoft/BotBuilder/issues/4663].

Until DL support typing on polling, or we push everyone to WS. We can temporarily point people to Eric's code.

[2018-06-15 07:31] #33 closed

[2018-06-15 07:32] #30 closed

[2018-06-15 07:37] compulim commented on #64
@amitbend I am closing this because dupe of #987. Let's track it over there.

Stay tuned, it's pretty high on our radar now.

[2018-06-15 07:37] #64 closed

[2018-06-15 07:38] #97 closed

[2018-06-15 07:40] #168 closed

[2018-06-15 07:46] compulim commented on #243
I have some demo code running at https://github.com/compulim/docker-bot.

Since we recently refactored some code from Bot Emulator, now you can run the emulator server (a.k.a. Emulator Core) from CLI.

The demo in my repos use 3 Docker containers:

* Web site (hosting Web Chat)
* Bot.js exposed on port 3978
* Emulator Core

Just `docker-compose build` and `docker-compose up`.

[2018-06-15 07:46] #243 closed

[2018-06-15 07:50] compulim commented on #422
I think we are IE11 and modern browsers >= last 2 versions. If anything not working in this combo, please file a bug, we will fix it.

[2018-06-15 07:50] #422 closed

[2018-06-15 07:51] #434 closed

[2018-06-15 07:51] compulim commented on #434
Close because of inactivity.

[2018-06-15 07:53] compulim commented on #444
Maybe this is a security limitation we need to document.

[2018-06-15 07:54] #461 closed

[2018-06-15 07:59] compulim commented on #483
@debajitmukherjee we tested it works in Safari on iOS 11.3 and 11.4. But it is not working on Chrome/Edge on iOS 11.3 or 11.4. This is because WebView component on iOS does not support WebRTC.

@mrPrateek95 since WebRTC and WebSpeech is not supported by IE11. There are no ways we could do to enable that. I am sorry.

@PrasenjitSaha since we reworked on some speech code. If Edge is still repro-ing

[2018-06-15 07:59] #483 closed

[2018-06-15 08:02] compulim commented on #515
Fixed in #1003.

[2018-06-15 08:02] #515 closed

[2018-06-15 08:04] compulim commented on #527
This is similar to #516. The actual work would be separate Web Chat back end and front end so dev can use them separately. In this case, only use the back end.

[2018-06-15 08:09] compulim commented on #547
Since we see files uploaded to C# bot successfully, I am closing this bug as no repro.

[2018-06-15 08:09] #547 closed

[2018-06-15 08:16] compulim commented on #581
Since we did some refactoring work in Bot Emulator, it is possible to host bot locally.

I have some demo code running with Docker, you can find it at https://github.com/compulim/docker-bot.

[2018-06-15 08:16] #581 closed

[2018-06-15 08:17] #590 closed

[2018-06-15 08:18] compulim commented on #593
Closed due to inactivity.

[2018-06-15 08:18] #593 closed

[2018-06-15 08:18] #597 closed

[2018-06-15 08:20] compulim commented on #609
Seems related to carousel measurement issue. Do you have the Web Chat opened initially pretty narrow?

[2018-06-15 08:21] compulim commented on #611
I guess this is because we disabled HTML in Markdown.

[2018-06-15 08:21] #613 closed

[2018-06-15 08:33] compulim commented on #624
Closed due to inactivity.

[2018-06-15 08:33] #624 closed

[2018-06-15 08:34] compulim commented on #634
Seems fixed. Closed now.

[2018-06-15 08:34] #634 closed

[2018-06-15 08:34] compulim commented on #635
Closed due to inactivity.

[2018-06-15 08:34] #635 closed

[2018-06-15 08:40] compulim commented on #639
@rachita0311 Typing in non-WebSocket is not supported on Direct Line, so we are not able to get the "typing" event. There are workaround mentioned by @EricDahvlang in #872.

And since DirectLineJS cannot be stopped/paused once it is up, we currently don't support switching DirectLine object on-the-fly. Even though we preserve the history, you will see multiple network requests done by DirectLineJS

[2018-06-15 08:40] #639 closed

[2018-06-15 08:41] compulim commented on #645
We will be rewriting the carousel part.

[2018-06-15 08:43] compulim commented on #651
Closing due to inactivity.

@srijiths if you have more information (e.g. F12 console log), please file a new bug with reference to this one, and we continue from there. Thanks!

[2018-06-15 08:43] #651 closed

[2018-06-15 08:44] compulim commented on #654
Fixed in #881.

[2018-06-15 08:44] #654 closed

[2018-06-15 08:44] #658 closed

[2018-06-15 09:02] mennolaan commented on #851
@compulim Yes and no, the checkboxes are just part of the total information I'm going to send.

[2018-06-15 09:03] compulim commented on #675
Looks like a CSS bug on SharePoint side and they leaked their CSS styles to Web Chat.

[2018-06-15 09:03] #675 closed

[2018-06-15 09:15] compulim commented on #687
@DanielTizon Chrome/Edge in iOS is a stripped down version of Safari, a.k.a. WebView. As we verified, WebView in iOS does not support WebRTC, thus it does not show the microphone icon.

I will verify Android scenario to make sure it works in Chrome. I think Android has a better support because AFAIK, their WebView is actually a full-blown version of Chrome.

[2018-06-15 09:15] compulim commented on #687
@yazhinichurchill Chrome recently modified IFRAME sandbox security. You will need to add extra tags to enable WebRTC in IFRAME.

[2018-06-15 09:17] compulim commented on #692
This is fixed in #1003. This is because Web Chat is initially set to `display: none` when mounting.

We recommend not to hide Web Chat using `display: none` or `hidden` attribute. Only use `opacity: 0` or `visibility: hidden` (soft hide).

[2018-06-15 09:17] #692 closed

[2018-06-15 09:20] compulim commented on #707
@Paveltarno preserve history is top ask and is coming.

I think we need to rework the autoscrolling. We should better detect if the scrollbar is near bottom (~10px threshold). And if it is, then we do auto scroll. Otherwise, we show a "scroll to bottom" button.

[2018-06-15 09:21] compulim commented on #715
Closing due to inactivity.

[2018-06-15 09:21] #715 closed

[2018-06-15 09:21] compulim commented on #725
I should make this a list on our README.md, people can sign up thru PR. Keeping this issue open until the work is finish.

[2018-06-15 09:23] compulim commented on #733
@hguomin Since we modified quite some code in speech part, can you retry with latest build (~0.13.0) and see if it repro? If it do, please submit the log here and we will reopen this one.

Thanks!

[2018-06-15 09:23] #733 closed

[2018-06-15 09:46] compulim commented on #740
@alansutherland is the problem fixed now?

[2018-06-15 09:46] compulim commented on #748
We should try out HTML Intl API.

[2018-06-15 09:46] compulim commented on #757
Sorry, but IE10 is not supported.

[2018-06-15 09:46] #757 closed

[2018-06-15 09:47] compulim commented on #754
Fixed in #810.

[2018-06-15 09:47] #754 closed

[2018-06-15 09:50] compulim commented on #759
@stephaneey I think it is fixed in #965.

[2018-06-15 09:50] #759 closed

[2018-06-15 09:53] compulim commented on #777
Closed due to inactivity.

[2018-06-15 09:53] #777 closed

[2018-06-15 09:53] compulim commented on #209
Dupe of #787.

[2018-06-15 09:53] #209 closed

[2018-06-15 09:55] compulim commented on #788
@luccasmf Not now, but it's an enhancement we should look at.

[2018-06-15 09:56] compulim commented on #798
Fixed in #883.

[2018-06-15 09:56] #798 closed

[2018-06-15 09:56] compulim commented on #803
Closing due to inactivity.

[2018-06-15 09:56] #803 closed

[2018-06-15 09:57] #811 closed

[2018-06-15 10:00] compulim commented on #817
Fixed in #818.

[2018-06-15 10:00] #817 closed

[2018-06-15 10:01] compulim commented on #824
I think Direct Line filtered it.

[2018-06-15 10:01] #824 closed

[2018-06-15 10:03] compulim commented on #827
We recently added OAuthCard in [0.13.0](https://github.com/Microsoft/BotFramework-WebChat/releases/tag/v0.13.0).

[2018-06-15 10:03] #827 closed

[2018-06-15 10:06] compulim commented on #832
Currently, we do not expose any APIs. But it's something in our plan.

[2018-06-15 10:11] compulim commented on #840
@kushalbhabra it is more like HTTP cookie. If the user have access to JS, they could modify the cookie.

I will do something like this (essentially, the same thing as you would handle user ID on a HTTP cookie):

1. Browser ask server to generate a new user ID
2. Server generate a new ID payload with SHA signature (to prevent modification)

On the server side, every time it read the user ID, it ver

[2018-06-15 10:11] #840 closed

[2018-06-15 10:12] compulim commented on #846
Looping in support team. Can you repro the issue on Mac today?

[2018-06-15 10:16] compulim commented on #850
@rafaelmaeuer We are working on the conversation preservation/restoration/continuation. That will help in the scenario. It is coming, just need some more time.

[2018-06-15 10:21] compulim commented on #851
Customizable activity bubble is coming.

But if you are more into form-filling/validation, it is coming too. But it's a little bit different. It works by filling the form *outside* of the Web Chat component, but on the same page. We think this is better than inline form filling because:

1. Simple form-filling can be done by Adaptive Cards (without logic)
2. Form with logic can be implemented on t

[2018-06-15 10:22] compulim commented on #854
Closing due to inactivity.

[2018-06-15 10:22] #854 closed

[2018-06-15 10:22] compulim commented on #856
Closing due to inactivity.

[2018-06-15 10:22] #856 closed

[2018-06-15 10:23] compulim commented on #861
Closing due to inactivity.

[2018-06-15 10:23] #861 closed

[2018-06-15 10:28] compulim commented on #864
We have two `botchat.js` build right now. One is for IE11 (with ES5 polyfills), another is for modern browsers (without polyfills).

Since we just push the ES5 polyfill to CDN, we don't have a production version on CDN yet, the latest pre-release is https://cdn.botframework.com/botframework-webchat/0.13.1-master.248c723/botchat-es5.js.

When the next version is out, you will find both ES5-polyfill

[2018-06-15 10:28] #864 closed

[2018-06-15 10:33] compulim commented on #867
@EricDahlvang did you mention something similar in other issue? I remember one talked about user ID was actually a conversation ID or something. Can you look at this one?

[2018-06-15 10:38] compulim commented on #869
@victorliafook I added a bug on Emulator side to make sure the behavior match the same as on Direct Line service.

I am closing this for now and tracking it over there. Thanks!

[2018-06-15 10:38] #869 closed

[2018-06-15 10:44] compulim commented on #871
This is coming as a customization feature.

We talked about avatar long time ago, there are multiple things we need to handle:

* Direct Line API does not have a way to retrieve bot icon you saved on the bot channel registration
* Multi channel/user support means Web Chat may need to ask Skype for icons for some users
* If no icon is loaded, we need to use the user initial to generate an avatar ic

[2018-06-15 11:14] starlord-daniel commented on #609
@compulim Unfortunately, this issue appears all the time - regardless of the window size

[2018-06-15 22:33] compulim commented on #1019
Fixed in #1020.

[2018-06-15 22:33] #1019 closed

[2018-06-15 22:37] compulim commented on #916
Just got a fix in #1020. The latest pre-release can be downloaded from  https://cdn.botframework.com/botframework-webchat/master/botchat.js. No more commit tags in the URL. Please mind that the caching latency is 15 minutes.

[2018-06-15 22:46] compulim commented on #1015
When working on the minimize function, because there is a bug on carousel, try not to use `display: none` or `hidden` attribute. Until that carousel is replace with a better component, please use `visibility: hidden`.

[2018-06-15 22:56] compulim commented on #1013
@Arincon it sounds like a bug on [BotBuilder](https://github.com/microsoft/botbuilder/issues) side. But I cannot find any similar issues using the keyword `conversationUpdate` and `id`.

Can you post the question over there? I think they will be able to answer your question much more quickly.

[2018-06-15 22:58] compulim commented on #1004
Thanks @Kartik1607.

If I remember my repro correctly, I think I mean resizing it programmatically using JavaScript.

[2018-06-16 04:58] compulim commented on #1001
Even with Emulator v4, the Web Chat could be outdated (we develop asynchronously, merge from time to time). It will be more accurate if you could try out pre-release build, either thru:

* CDN at https://cdn.botframework.com/botframework-webchat/master/botchat.js
* NPM via `npm install botframework-webchat@master`

[2018-06-16 05:00] #1000 closed

[2018-06-16 05:10] compulim commented on #995
Thanks @rosskyl. I will make this a bug.

BTW, we are planning to polyfill HTML WebSpeech API using Cognitive Services. So we don't need to maintain two different APIs, and we can bring Cognitive Services to platforms that does not support WebSpeech (e.g. Edge, desktop Firefox).

As always, we welcome contributions, and we will take quality projects as dependencies.

Anyway, note to bug fixer:

*

[2018-06-16 18:51] billba commented on #1013
This is correct behavior, but it's not desirable. It's a longstanding issue.

Direct Line doesn't have a first-class notion of identity. Each activity sent from the client contains a `from` object, and the `id` from that object is used as part of the key for the user state. Pass a different `id`, get different state.

Meanwhile, `conversationUpdate` is a synthetic event sent from Direct Line to th

[2018-06-16 19:00] billba commented on #867
This code is not correct:

1. The `from.id` in your backchannel message should match the `user.id` you used when calling `Bot.App`
2. The point of using the backchannel is to work around the failings of `conversationUpdate` so don't put your code there. Instead, use your `bot.on('chatInit', ...)` handler to do something with the user language. You may not need to handle `conversationUpdate` at all

[2018-06-16 19:42] billba commented on #993
I'm still trying to understand this scenario.

I think you are saying that you want to use TypeScript to build a client app using Web Chat. But instead of incorporating Web Chat directly into your app via npm package, you want to load it from the CDN, e.g.

### index.html
[code]

I don't think DefinitelyTyped is the answer here. It exists to provide types for npm packages that lack their own. But

[2018-06-18 17:40] kashifkhan commented on #1001
Do you know when the update will be pushed in to the next release ?

[2018-06-18 18:17] compulim commented on #1001
@kashifkhan do you mean the Web Chat in Azure or NPM or CDN?

[2018-06-18 18:27] compulim commented on #971
Worked with @stevkan offline. Looks like DirectLineJS doesn't like the idea to pause the polling. @stevkan will follow up.

[2018-06-18 18:40] kashifkhan commented on #1001
@compulim CDN

[2018-06-18 18:53] compulim commented on #1001
Within this week. :)

[2018-06-18 20:58] compulim commented on #949
Note to fixer: in order to use Markdown in Adaptive Cards, user need to load `markdown-it.js`.

[2018-06-18 20:58] compulim commented on #972
Note to fixer: in order to use Markdown in Adaptive Cards, user need to load markdown-it.js.

[2018-06-18 21:05] compulim commented on #957
Support: can you see if it is still repro on CDN pre-release build? https://cdn.botframework.com/botframework-webchat/master/botchat.js.

[2018-06-18 21:07] compulim commented on #948
@telkomops please look at our GitHub [Projects](https://github.com/Microsoft/BotFramework-WebChat/projects) page, we are currently triaging issue that target IGNITE event.

[2018-06-18 21:07] #948 closed

[2018-06-18 21:13] compulim commented on #929
Answered in Stack Overflow.

[2018-06-18 21:13] #929 closed

[2018-06-18 21:20] compulim commented on #915
Support: can you repro the issue using Web Chat and Bing Speech?

[2018-06-18 21:28] compulim commented on #867
Seems dupe of #1013

[2018-06-18 21:33] compulim commented on #850
I think it is as-is for now. Web Socket does not need watermark (it's persistent connection), only HTTP Comet need watermark, thus Direct Line server preserve some history for HTTP Comet.

@rafaelmaeuer we are working on this one, you can track it in our [Projects](https://github.com/Microsoft/BotFramework-WebChat/projects) page.

[2018-06-18 21:36] compulim commented on #848
Possibly due of #1013.

@rafadorado we remove ES5 polyfill from main build recently, you will need to bring in your ES5 polyfill or use one of the polyfill-ed build from us. Please refer to [this section](https://github.com/Microsoft/BotFramework-WebChat#easy-in-your-non-react-website-run-web-chat-inline) in our README.md.

[2018-06-18 21:38] compulim commented on #835
Closing due to inactivity.

[2018-06-18 21:38] #835 closed

[2018-06-19 06:14] rafadorado commented on #848
Thanks  @compulim, that makes sense, we were using an older version. By the way we solved this use case by sending custom events with DirectLine.

[2018-06-19 18:29] GeekTrainer commented on #611
Tagging @danmarshall

I remember this issue with an update to QnA Maker somewhere along the way that caused the markdown being returned to be in a format that the parser we're using didn't like. I am 99% certain a PR was submitted for this and the issue resolved (I wrote the code), but I can't seem to find it in the history. Not sure if Dan has any better memory of this than I do.

[2018-06-19 19:09] danmarshall commented on #611
@GeekTrainer I believe it was the regex here: https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/FormattedText.tsx#L64

We have unit tests around this, so if this case is getting through we can add a test for it.

[2018-06-19 20:27] GeekTrainer commented on #611
@danmarshall I think you're right. In that case, we can just close this; the issue was opened in September. (I'll let you close it)

[2018-06-19 22:32] EricDahlvang commented on #850
@compulim The DirectLine connector issue with WebSocket watermarks was fixed (a few months ago).

This PR fixes the issue with watermark and websockets in DirectLineJs (which would also fix the functionality in WebChat): https://github.com/Microsoft/BotFramework-DirectLineJS/pull/66

[2018-06-21 04:59] himanshushukla254 commented on #932
any support needed from my end @compulim

[2018-06-22 06:58] SHUBHAMARORA731 commented on #651
I am facing the same issue, has anyone got the resolution?

Thanks!

[2018-06-22 12:35] AndrewTilson commented on #1001
Any update on when this will be fixed?

[2018-06-22 15:00] aes421 opened #1419 "Up arrow to reproduce last line"
When testing bots I find that I constantly type the same sentences into the emulator while I tweak the code.

It would be useful if the emulator worked similar to command prompt where clicking the up arrow would auto populate the last submitted sentence.  This would greatly reduce the amount of typing and increase efficiency when developing bots.

[2018-06-26 13:39] amirt-microsoft commented on #972
Is there any updates on this issue @danmarshall ?

The solution suggested by @arashberlin is not applicable for me because I have customer's html pointing to my build of botchat.js, that should support markdown.

I see that when I'm using:
https://cdn.botframework.com/botframework-webchat/latest/botchat.js
markdown rendering is working fine for cards, while my own build from the latest master bran

[2018-06-26 22:56] compulim commented on #1001
0.14.0 is now published on [NPM](https://www.npmjs.com/package/botframework-webchat) and CDN at https://cdn.botframework.com/botframework-webchat/0.14.0/botchat.js (and also botchat-es5.js).

@AndrewTilson Sorry we have some last minute deploy script change.

[2018-06-26 22:58] compulim commented on #972
@amirt-microsoft This is interesting. The build we publish to NPM and CDN is exactly the same as on GitHub. We build it on Travis CI so everything is very transparent.

[2018-06-26 22:59] compulim commented on #972
@amirt-microsoft This is interesting. The build we publish to NPM and CDN use the source code from GitHub and built on Travis CI.

Can you attach a minimal repro of your Adaptive Cards JSON so I can repro it?

[2018-06-26 23:03] compulim commented on #972
@amirt-microsoft Is it dupe of #949?

[2018-06-27 03:50] dhinag commented on #1013
@billba I am following exactly what you have mentioned above and as you said, conversationUpdate does not have a notion of the userid, so I am triggering an event to send my userid so that I would like the bot to reply "hello, <username>".

I have setup switch cases for "conversationUpdate" and "event" and the code to execute is one and the same.

[code]

The problem is that the await client.Conve

[2018-06-27 08:46] amirt-microsoft commented on #972
1. @compulim , yes, this is indeed a duplicate of  #949

2. @compulim attaching a json for you to try:
[adaptiveCard.txt](https://github.com/Microsoft/BotFramework-WebChat/files/2140426/adaptiveCard.txt)

3. @compulim , can you share your build process definition for me to compare?

[2018-06-27 12:35] pankajGODB commented on #851
Can you please tell me why adaptive cards is not working for facebook as same is working in Emulator?
And also button list in facebook getting break after count of three?
![buttonemulator](https://user-images.githubusercontent.com/30646163/41974116-9f70d630-7a34-11e8-9197-4ec9341ef465.png)
![buttonfb](https://user-images.githubusercontent.com/30646163/41974118-9fa725dc-7a34-11e8-8782-bd50218fe563.

[2018-06-27 18:21] compulim commented on #972
For build process, look at [.travis.yml](https://github.com/Microsoft/BotFramework-WebChat/blob/master/.travis.yml). It is as simple as:

[code]

You can look at the latest build log on [Travis CI](https://travis-ci.org/Microsoft/BotFramework-WebChat). Although it build on Linux, I always build on Windows.

[2018-06-27 18:29] compulim commented on #851
@pankajGODB is it Adaptive Cards or a [rich card](https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-add-rich-card-attachments?view=azure-bot-service-3.0#add-a-hero-card-to-a-message) (hero card) for the first one?

Facebook did not adopt Adaptive Cards so you can't use it over there. We do best effort to render as close as we could.

[2018-06-27 20:27] jrios6 opened #1027 "Error during WebSocket handshake: Unexpected response code: 400"
I followed the example by creating a html file with the following code:

<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" />
  </head>
  <body>
    <div id="bot"/>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
    <script>
      BotChat.App({
        directLine: {

[2018-06-27 20:36] rosskyl opened #1028 "IOs speech recognition does not work with an input hint of expecting input"
I am using the direct line with the code below. I have speech recognition working with IOs but when a response with the input hint set to expecting input comes back, speech recognition becomes unusable until I send something back. This often happens with `PromptDialog.Confirm`. Since IOs does not allow audio recording unless done from a direct user tap/click, I am guessing the problem is with the

[2018-06-28 04:12] pankajGODB commented on #851
@compulim button designed using hero card and below is the code

`var msg = new builder.Message(session)
	.attachments([
	new builder.HeroCard(session)
		.title("Space Needle")
		.subtitle("The Space Needle is an observation tower in Seattle, Washington, a landmark of the Pacific Northwest, and an icon of Seattle.")
		.buttons([
				builder.CardAction.imBack(session, "select:100", "Select"),
				b

[2018-06-28 06:15] Kartik1607 commented on #1027
Does your bot work in Azure 'Test in Web Chat' ?

[2018-06-28 13:37] enessoylu opened #1029 "Bug in the timeLine formatting for some languages"
![bug](https://user-images.githubusercontent.com/20838344/42037315-c6874846-7af0-11e8-9385-099545a739c4.png)

There is an unwanted %2 on the timeline string.

https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/History.tsx#L281

The code replaces %1 with the time string inside the language specific timeSent string. But for some languages the timeSent string has an extra %2 which is n

[2018-06-28 14:33] jrios6 commented on #1027
HI @Kartik1607, it doesn't work for 'Test in Web Chat' as well. (with the same Websocket error on the Azure page). However, it works for the iFrame solution. Do you have any idea why it's failing?

[2018-06-28 15:17] Kartik1607 commented on #1029
Strange. That file is the only place where %2 is used. It was added in [this](https://github.com/Microsoft/BotFramework-WebChat/commit/3eba711f9d8525cd0f3163020cd285ed5e8cb137#diff-7033d1b5b24001987e75925ebd825da1) commit.

Thanks for pointing out the issue. It would be a quick fix.

[2018-06-28 17:11] danmarshall commented on #851
@pankajGODB see https://docs.botframework.com/en-us/channel-inspector/channels/Facebook?f=HeroCard&e=example1

[2018-06-28 20:36] jiayexie commented on #970
I am seeing the same error with just setting up a sample web chat; nothing out of the ordinary. It doesn't repro with dev build, but only production build, so it's very hard to track down the actual issue.

[2018-06-29 15:11] deepumi opened #1030 "Hero Card - Markdown rendering not working with latest release"
Previously "Hero Card" support markdown content to create a hyperlink with tool tip, it works fine.. However, I've noticed recent release (3 days ago) stopped parsing the markdown and it display as plain text.

### Markdown code to create hyperlink
```[Google](https://www.google.com "Click here")```

### Out put to
[Google](https://www.google.com "Click here")

JS version - https://cdn.botframewor

[2018-06-29 18:14] jiayexie commented on #970
If it helps, this is the error I get when I start typing in the chat box:

reactProdInvariant.js:31 Uncaught Error: Minified React error #44; visit http://facebook.github.io/react/docs/error-decoder.html?invariant=44 for the full message or use the non-minified dev environment for full errors and additional helpful warnings.
    at e.exports (reactProdInvariant.js:31)
    at Object.e.exports [as f

[2018-06-30 06:45] Kartik1607 commented on #1030
Markdown code is incorrect. Try using `[Click here](https://www.google.com)`

[2018-07-02 08:37] Klervix commented on #1030
Same observation for bold text and lists (Hero Cards content)...

[2018-07-02 11:03] amirt-microsoft commented on #972
Hi @compulim ,
The issue has escalated.
now after you have released 0.14, and updated the build, it's also not rendering markdown in cards using the link below:
https://cdn.botframework.com/botframework-webchat/latest/botchat.js

so now both local and using your latest build is not working.

This is a blocker for our team, Is anyone looking into this issue?

Thanks

[2018-07-02 12:44] deepumi commented on #1030
@Kartik1607 Thanks!

The syntax works fine, I don't see any issue, you can see below image or you can try copy paste the same snippet over here  https://dillinger.io/

## Snippet (hyperlink with tool tip)
`[Google](https://www.google.com "Click here")`

![image](https://user-images.githubusercontent.com/554039/42163910-4af00120-7dd2-11e8-85c6-05b3e2342e5c.png)

Looks like chat bot JS version disco

[2018-07-02 13:16] Klervix commented on #1030
@deepumi Thank you so much! It works perfectly!

[2018-07-02 13:33] deepumi commented on #1030
@Klervix You are welcome.

[2018-07-02 15:15] dontiamar opened #1031 "Click of button in adaptive card does not scroll down to view the new message automatically"
If we scroll up to a previously displayed adaptive card and click on an option/button the chat is not automatically scrolled down to view the new message.

[2018-07-02 23:57] riteshbhoi opened #1032 "Any plans to upgrade to react16?"
Team, our react app is react@16 and we are running into issues while integrating chat module, due to multiple package versioning issues. Do you have any plans to upgrade to react 16?

[2018-07-03 02:32] stevkan commented on #971
@rainmakerho, I was just revisiting this thread and it looks like a message I posted sometime ago never actually posted. Please accept my apology for the delay in response.

As was mentioned above, DirectLineJS doesn't have an ability to pause polling, at this time. It'm listing it as a bug, but there is no ETA on when a solution might become available.

[2018-07-03 06:18] rainmakerho commented on #971
@stevkan , Thanks.
My temporary solution is below,
save current conversationId then call botConnection.end() and remove webchat when stop conversation.
re-create webchat when start conversation.
like [BotChatUI.ts](https://github.com/rainmakerho/WebChatCustomization/blob/master/BotChatClient/Botchat/TypeScripts/BotChatUI.ts)

[2018-07-03 06:38] Kartik1607 commented on #1032
What kind of issues are you facing? You can build the WebChat as a different project and then used the compiled botchat.js in your react 16 app.

[2018-07-03 08:33] compulim commented on #1030
Adaptive Cards team decided to pull out the Markdown-It in the bundle at Adaptive Cards 1.0 (adopted in Web Chat 0.12.0). In order to use Markdown in Adaptive Cards in Web Chat, one have to bring their own Markdown-It engine via `window.markdownit` (i.e. from their [CDN](https://github.com/markdown-it/markdown-it#install)).

What's more, our legacy cards (hero card, thumbnail card, receipt card) a

[2018-07-03 08:34] compulim commented on #949
Will fix in PR #1034.

[2018-07-03 08:35] compulim commented on #972
Will fix in PR #1034. Since we bundled Markdown-It in Web Chat already, we will expose it to `window.markdownit` so Adaptive Cards can use it.

[2018-07-03 11:44] baki32 commented on #1030
Hi @compulim can you please explain more? We are using Adaptive Cards 1.0 .Net nuget package and markdown is broken, pretty much everything is broken with latest release, new adaptivecards host config schema is not documented, even the code on the Adaptive cards github page does not seem to mach with what is referenced in webchat. I can't get padding to work on AdaptiveCard container that is insid

[2018-07-03 11:45] amirt-microsoft commented on #972
Thanks @compulim !
looking forward to get a new release with the fix

[2018-07-03 11:56] deepumi commented on #1030
@baki32 You are absolutely correct, I had the same experience And had to search in GitHub for a work around solution I mentioned above.

Since Azure bot service WEB CHAT is a subscription based service (Premium channel), team should have some courtesy to document this properly.

It drove me crazy for some time because LIVE adaptive card visualizer still support markdown!

https://adaptivecards.io/

[2018-07-03 12:46] michel-weber commented on #43
@TestUsetGitHubUser I used your hack to implement it. What a shame that this very basic functionality has not been implemented yet.

[2018-07-03 21:31] compulim commented on #1030
@baki I drilled into [AdaptiveCards/card-elements.ts](https://github.com/Microsoft/AdaptiveCards/blob/master/source/nodejs/adaptivecards/src/card-elements.ts#L3541). Looks like they have an HostConfig entry for [`ContainerStyleConfig.padding`](https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/host-config#containerStyleconfig)

@deepumi we are redesigning Web Chat to allow devs to bri

[2018-07-05 17:22] deepumi commented on #1030
@compulim Thank you!

[2018-07-05 20:43] #1027 closed

[2018-07-06 15:16] uniper-scott commented on #1001
Hello, is there any update on this issue.  We are experiencing the same problem (.NET) and would really like to get this functionality working.  For information, we are currently using the magic number produced by BotAuth for authentication... however understandably this is not ideal from a usability point of view so are really looking for a better experience for when we go live in a few weeks tim

[2018-07-09 02:28] rodmcleay opened #1036 "Is it possible to set the rate speech/prosody rate"
Is it possible to set the rate the bot speaks back to you in the WebChat Control.

[code]

[2018-07-09 05:41] rodmcleay commented on #526
is there a way to change the rate the voice speaks at?

[2018-07-10 04:21] shahidkhuram commented on #526
You can control that using using the SSML that's sent to the speech service. Specifically, you can use the rate attribute on the prosody element: https://msdn.microsoft.com/en-us/library/office/hh361583(v=office.14).aspx

You can control this from your bot so that the SSML returned in the response contains the correct attribute. Alternatively, (thought not recommended), you could inspect and updat

[2018-07-10 11:27] kootenpv opened #1037 "Unclear how to minify"
I was expecting to get minified files when I use `npm run prepublish`.

EDIT: But it appears the current `npm run prepublish` does not work?

[2018-07-11 07:18] Kartik1607 commented on #1037
No, I ran `npm run prepublish` on a fresh new clone.
`botchat.js -> 504KB`
`botchat-es5.js -> 590KB`
were produced.

[2018-07-11 07:52] anthony-elhaddad commented on #478
issue is reproducible in 0.14.0 as well, any solutions to embed the bot framework in an angular 6 app?

[2018-07-11 13:00] pikskip opened #1038 "Display a message when a new window with bot conversation is displayed"
Hi , i can't displayed a message when my  converdation window is launched

Description ;
In my main page, i have an input field used to start a conversation.
When user click on the button, a popup is display.

I would like to display input field content in popup. For the moment, the input message is taking into account by bot but the message is not displayed.

[code]

I tried the following solutio

[2018-07-11 14:32] huajunzhao opened #1039 "Sample: Send the greeting message in ActivityTypes.Event type activity"
We're using the botframework-Webchat in React app. I have added the following code to use the backchannel functionality, postLoadMessage method is called when the Webchat is loaded.

  postLoadMessage = () => {
    var botConnection = new DirectLine({
      secret: this.props.botDirectLineSecret
    });
    botConnection
      .postActivity({ type: "event", value: "Greetings", from: { id: this.sta

[2018-07-11 15:32] fjlogrono commented on #478
The problem I have is that I do not know how to stop sending activities.

![image](https://user-images.githubusercontent.com/12831769/42582748-369ab3c2-8530-11e8-9208-a6736ecd0bb3.png)

[2018-07-11 16:58] EricDahlvang commented on #1039
Hi @huajunzhao

I think we would need to see more of your code in order to determine what is going wrong.  Based on what you've shared, it looks like you might be creating the DirectLine object multiple times?  Also, are you providing the DirectLine object to BotChat.App when it is being constructed?

The botConnection should be created just once.  An example of how to do this can be found here: h

[2018-07-11 18:33] billba commented on #478
You're not sending activities. You are polling for activities. If you set `watermark: true` then that won't happen either.

[2018-07-11 20:48] EricDahlvang commented on #478
@billba Did you mean  `webSocket: true` ?

[2018-07-11 22:01] billba commented on #478
Yes, sorry.

[2018-07-12 04:34] Primtek opened #1040 "can I use this with DialogFlow"
can I use this with DialogFlow?

[2018-07-12 05:58] emadelwany opened #1041 "Webchat does not work in IE 11 when sending events and channel data"

[2018-07-12 06:00] emadelwany commented on #1041
When using the directline code to send custom channel data in every message, we face an issue where the code does not work in IE11. On using jquery and replacing the use of Object.assign with $.extend, we are able to load the webchat in IE11, but the messages still don't get sent.

[2018-07-12 06:38] UsamaAslam opened #1042 "Is it possible to make speech option by default option instead of text in bot framework"
i was searching for the method to make speaker by default like only voice bot no text like alexa in Microsoft Bot framework. How can i make the bot that start with voice message by default and user don't have to press the speaker option form chat BOT window for reply back just like siri and other . Please help me .

[2018-07-12 14:53] Kartik1607 commented on #1041
You need to use botchat-es5.js instead of botchat.js

[2018-07-12 14:59] Kartik1607 commented on #1042
Whenever you receive a message from user,  you would need to dispatch the `start_listening` action.

To remove the text box you would need to update the render method in shell.tsx

[2018-07-13 00:40] corinagum commented on #1042
There's currently no way for speak by default on Web Chat, but it is on the way from Web Chat v.Next.

If you would like to implement a temporary fix yourself, you can navigate to [Store.ts L589](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Store.ts#L589) on your own build and make the check always-true so that the bot is always listening after speak.

[2018-07-13 06:25] gagana-hg opened #1044 "Can't render adaptive card on Internet Explorer"
Hello Everyone,

I'm facing an issue in displaying adaptive card(date,time input) on internet explorer, but its working on other browsers . It is displaying **can't render cards**.
The below is the image in browser
**In Internet Explorer**

![image](https://user-images.githubusercontent.com/22505151/42675656-b0049710-8692-11e8-8beb-5e95bffd3631.png)
**In Chrome**

![image](https://user-images.gith

[2018-07-13 18:43] compulim commented on #1044
@corinagum can you see if there are any errors in F12?

[2018-07-13 19:03] compulim opened #1045 "IE11 file upload twice"
In [Shell.tsx:65](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Shell.tsx#L65), when we reset file upload button, another `onChange` event is fired.

[2018-07-13 19:13] compulim commented on #1045
Quick fix: filter out `onChange` event with zero file attachments (`this.fileInput.files.length === 0`).
Better fix: find a better way to hide the second `onChange` event.

[2018-07-14 17:10] Kartik1607 commented on #1044
Internet explorer does not support input type date, which is why your adaptive card is not rendered. I am not aware if adaptive card uses any polyfill for this issue.

[2018-07-16 13:04] luciodale opened #1047 "Welcome message and icon disappeared for Web Chat channel"
The chat bot style on the web channel changed from this:
[https://i.imgur.com/1KoLLvv.png](https://i.imgur.com/1KoLLvv.png) (the left chat)
to this:
[https://i.imgur.com/vKTgQ3w.png](https://i.imgur.com/vKTgQ3w.png) (still the left one)

*to see the screenshots copy and paste manually in browser*

I do not know why but the web chat and direct line channels look the same now. **How do I get the wel

[2018-07-16 22:34] billba commented on #1047
That's the old Web Chat.

[2018-07-17 06:10] kootenpv commented on #1037
I see!

[2018-07-17 06:10] #1037 closed

[2018-07-17 19:07] compulim commented on #1044
@corinagum please repro this on IE11 with a non-minified build so we can look into where we throw `Invalid argument`.

[2018-07-17 21:57] luciodale commented on #1047
@billba Thanks so much for the answer!
@compulim as long as I upgraded the JKD, the left look changed, as it was in an old version.

[2018-07-17 21:57] #1047 closed

[2018-07-18 13:59] abhilashr1 commented on #1041
Using botchat-es5.js makes it work in IE11. However, we still face the issue in IE9 and IE10

[2018-07-18 22:51] compulim opened #1048 "Should not hide messages without `clientActivityId`"
https://github.com/Microsoft/BotFramework-Emulator/issues/649

For example, transcript is a list of activities without `clientActivityId`.

[2018-07-19 03:51] Kartik1607 commented on #1041
@compulim I have personally found css grid more friendly to manage, make ui responsive, and easier to upgrade in future over flex boxes.

Is new web chat incorporating grids as well?

[2018-07-19 04:55] khs3141 commented on #808
Please refer to the following site.
https://gcpdemo.gridcell.io/

[2018-07-19 06:22] UsamaAslam opened #1049 "how to get user current location in web based bot using direct line c#"
hi,
i am working on a bot in which i have to display offers to the user according to their current location.
i use this method to get user IP address :

String ip = HttpContext.Current.Request.ServerVariables["HTTP_X_FORWARDED_FOR"];
            if (string.IsNullOrEmpty(ip))
            {
                ip = HttpContext.Current.Request.ServerVariables["REMOTE_ADDR"];
            }

but user IP th

[2018-07-19 07:52] Kartik1607 commented on #1049
How about sending the IP/location to bot through channel data or an event type activity?

[2018-07-19 09:15] UsamaAslam commented on #1049
after IP fetch i am using :https://ipinfodb.com/ this site to convert IP into location .
Bot is deployed on azure with location of central US. Open i call the function that fetch ip and inform location it give me wrong location . like if i am in London it must have to give me location of London but code will reply me new York or Singapore .

[2018-07-19 09:45] UsamaAslam commented on #1049
don't able to get location on starting page and pass through channel or event . if you know how to do it by this method please help me ..i will be thankful to you

[2018-07-19 09:50] prijil commented on #478
Hi team,

I am using angular 5. When i will try to integrate botchat am getting

ERROR in node_modules/botframework-webchat/built/Attachment.d.ts(1,23): error TS2688: Cannot find type definition file for 'react'.
node_modules/botframework-webchat/built/Attachment.d.ts(14,7): error TS2503: Cannot find namespace 'JSX'.
node_modules/botframework-webchat/built/Chat.d.ts(1,23): error TS2688: Cannot fin

[2018-07-19 10:06] prijil opened #1050 "BotFramework-WebChat is not working with Angular 5"
Hi Team,

I am using the latest botframework (0.14.0). My angular configurations are below.

.html
[code]

.js:
[code]

am getting the blow error when compiling

[code]

(Edited by @compulim for code formatting)

[2018-07-19 10:22] UsamaAslam commented on #1049
@Kartik1607 thanks for the idea.  Now able to get the location using geolocation and pass the value to bot through channel data.

[2018-07-19 10:28] UsamaAslam opened #1051 "Speech feature is not working in case of cards (Adaptive Card & other cards)"
Hi,

i am developing Bot in which user communicate to bot through speech . i use azure  text to speech  api. conversation work fine in text as well as speech but when card display speech don't work on card ..
can you help me please .
thanks

[2018-07-19 15:02] Kartik1607 commented on #1051
Hi, can you please post a part of snippet for JSON of adaptive card you are using?

[2018-07-19 15:52] Wenish commented on #461
i know its closed.
But if someone wants an easy solution for vue.

[code]

then create a vue component like this:

create a folder in your components folder called WebChat.

after that create those files in the folder

index.vue
[code]

WebChat.component.js
[code]

WebChat.component.html
[code]

WebChat.component.css
[code]
Thats all u need for the component.
Now u can use the component.
Dont forg

[2018-07-19 23:11] compulim commented on #1044
It is fixed in AC 1.0 but not 0.9. So people using our NPM/CDN build will not get an error for DatePicker. People who use <iframe> embed code will still get it because the <iframe> version is pretty old.

Closing this for now as it did not repro on AC 1.0 (latest build). Will notify when new Web Chat build lands on for <iframe> users.

[2018-07-19 23:11] #1044 closed

[2018-07-20 16:38] electrobabe opened #1052 "IE11 issue: JS Error when using Webchat as Inline JS in Internet Explorer"
## Issue Description
We integrated a webChat-version of a bot, once as iFrame and another as inline JS:
- IFrame https://albertbot.chatbotsagency.com/albertbot.html
- Inline JS https://albertbot.chatbotsagency.com/albertbot-inline.html

The later DOES not work in Internet Explorer, it throws a JS error:

![screenshot of IE11 - sorry for the German...](https://user-images.githubusercontent.com/4595

[2018-07-21 04:35] Kartik1607 commented on #1052
You need to use botchat-es5.js

[2018-07-21 14:39] electrobabe commented on #1052
@Kartik1607 workaround fixes this problem. thanks

[2018-07-21 14:48] electrobabe commented on #957
@jvanderbiest works with the meta tag. thanks!

[2018-07-22 15:32] amirt-microsoft commented on #972
Hi @compulim, the pull request has been open for 3 weeks now. are you going to complete it anytime soon?
are you going to issue a new release anytime soon?
Thanks!

[2018-07-22 21:33] compulim commented on #972
@amirt-microsoft Sorry can't make it sooner, waiting for people to review the PR. I just pinged and added a few, hope it will speed up the PR. 😓

[2018-07-23 06:20] pratyushdhanuka commented on #623
I have found the solution to this by updating the botchat.js a little bit

around line 6951 in botchat.js
you will find this function

[code]

here in setfocus() should not be triggered for mobile views
I had another function to check for mobile devices
using
[(https://stackoverflow.com/questions/3514784/what-is-the-best-way-to-detect-a-mobile-device-in-jquery)]
`    if (/Android|webOS|iPhone|iPad

[2018-07-23 13:05] amirt-microsoft commented on #972
Thanks @compulim

[2018-07-24 04:27] anton-bot opened #1055 "V3 - Incorrect locale for date/time displayed under each message"
In the webchat window, there is date and time displayed under each message.

When my preferred language in the browser settings (Firefox) is set to `"zh-hk"` or `"zh-tw"`, the timestamp should display Traditional Chinese. The correct text is defined in `Strings.ts` under the locales `"zh-yue"` and `"zh-hant"` respectively.

However, instead of the Traditional Chinese, the message is shown in Simpl

[2018-07-24 07:53] UsamaAslam commented on #1049
i am using below code to pass the value to bot ActivityTypes.ConversationUpdate but i am not able to get any value in bot under ActivityTypes.ConversationUpdate. Can you help me ? Don't able to pass the value.
Full address is local variable on html page that have value like in this i-e if i want to pass London to bot and in conversation start bot display London .

<script type="text/javascript">

[2018-07-24 07:56] UsamaAslam commented on #536
i am using below code to pass the value to bot ActivityTypes.ConversationUpdate but i am not able to get any value in bot under ActivityTypes.ConversationUpdate. Can you help me ? Don't able to pass the value.
Full address is local variable on html page that have value like in this i-e if i want to pass London to bot and in conversation start bot display London .

[code]

[2018-07-24 07:57] UsamaAslam commented on #1013
i am using below code to pass the value to bot ActivityTypes.ConversationUpdate but i am not able to get any value in bot under ActivityTypes.ConversationUpdate. Can you help me ? Don't able to pass the value.
Full address is local variable on html page that have value like in this i-e if i want to pass London to bot and in conversation start bot display London .

[code]

[2018-07-24 08:10] Arincon commented on #1013
@UsamaAslam
What you are doing semms a little weird to me. First, I think is a little strange to 'force' all the messages to be typed as "ConversationUpdate", and to modify its text.
Next, I am not sure if it is your problem, but if you don't send a message from the user to bot, you are not going to see anything in the bot, because what you are doing is modifying the method that posts the activity

[2018-07-24 08:10] UsamaAslam commented on #778
i am using below code to pass the value to bot ActivityTypes.ConversationUpdate but i am not able to get any value in bot under ActivityTypes.ConversationUpdate. Can you help me ? Don't able to pass the value.
Full address is local variable on html page that have value like in this i-e if i want to pass London to bot and in conversation start bot display London .

[code]

[2018-07-24 08:16] UsamaAslam commented on #1013
i just want to send variable value to bot . i want to send location without any button click like . i don't know how to to do. i tried this method as well but don't able to get any value in bot activity event .

i don't have any button click .

var dl = new BotChat.DirectLine({secret});

BotChat.App({
    botConnection: dl,
    // other Chat props go here
});

[code]

[2018-07-24 08:21] Arincon commented on #1013
@UsamaAslam
But I think this is similar to what you want to do.
Forget the button click event, what you have there is a function, that you can execute when you want (if directline is already initialized), that sends a message, with these properties, to the bot.
For example, what you can do is execute this function inmediately after bot initialization. However, you have to have in mind that the typ

[2018-07-24 10:38] UsamaAslam commented on #1013
i use the method that you describe . and now the problem is that when i run the code first time my conversation type is conversationupdate and after that if i type then message .. activity type Event never run. how can i solve this i don't have any button on my html page . can you guide me how can i get activity event ?

[2018-07-24 12:40] morrisond91 commented on #372
Could you help me work something out?

We are not using web-chat, we have built our own react front end and using directlineJs.

We have an API that retrieves a token through https://directline.botframework.com/v3/directline/conversations. Upon API response we connect to DirectLine.

Everything works fine, however the token dies in 30 minutes and the conversation locks up.

What we are now trying

[2018-07-24 14:04] SeanVSpr commented on #933
I have encountered the same issue (inline directline Web Chat). However (for me atleast) it was a browser specific issue, when viewed in Chrome I would have this problem but it would not occur in other browsers like firefox/edge.
I also encountered this with adaptive card Images so I think there are multiple affected elements, not sure which ones though. The workaround posted by fplaten did fix th

[2018-07-24 18:20] egregius313 opened #1056 "Speech playback not functional on iOS Safari"
I have been working on adding speech recognition/playback to my project. Currently, the availability seems to be:

|                       | Chrome          | Firefox               | Edge               | Safari        |
|----------------|----------------|------------------|-----------------|-------------|
| Windows 10  |  Functional      | Functional*       | Functional       | n/a             |
|

[2018-07-24 19:20] compulim commented on #1056
For iOS, Edge/Chrome (WebView) is not supported. For Safari, the user need to "prime" the WebRTC or `SpeechRecognition`/`SpeechSynthesis`, that means, it must be triggered from a manual user action.

More discussion and hack at #995.

We are working on the next version of Web Chat that will prime speech properly, until then, the priming hack from #995 should works.

[2018-07-24 21:26] stevengum opened #1057 "SuggestedActions that are accidentally sent to the bot are being rendered for the user"
The v4 Emulator which uses [0.13.1-master.6da7b6c](https://github.com/Microsoft/BotFramework-Emulator/blob/v4/packages/app/client/package.json#L91) will show the user SuggestedActions that were sent to the bot. Testing this using the iFrame also renders the same result, SuggestedActions that should be only "seen" by the bot are showing for the user.

On other channels like Skype, if the suggestedA

[2018-07-25 07:41] Kartik1607 opened #1058 "Mobile : Clicking Submit button hides soft keyboard."
Clicking on submit button (not the enter key on keyboard, but the submit button in the shell component), hides the keyboard. To reply to new message, user would again need to tap on input field to show keyboard. This hinders the user chat experience.
Instead, once a soft keyboard is shown, it should remain visible, unless user explicitly closes it.

[2018-07-25 15:39] JpEncausse opened #1059 "WebChat Browser Compatibility"
Hi,

Following this issue (2017)
https://github.com/Microsoft/BotFramework-WebChat/issues/422

Is there a browser compatibility chart (or best practices)? One of our customers use WebChat on a Mobile Web Site with issues on iOS/Android related to screenpixel to device pixel ratio.

It can be fixed in CSS but I'l like to know if mobile web site (aka chrome/safari on iOS/Android) are targeted by Bot

[2018-07-26 16:07] billba commented on #372
This is a great question, but it is not an issue with either Web Chat or DirectLineJS. If you will ask it on Stack Overflow with tag `botframework`, and post a link to the question here, I will answer it there.

[2018-07-27 06:34] compulim commented on #1042
One more thing. On iOS, Safari requires user interaction to enable speech support. That means, without asking the user to click a button, speech recognition/synthesis will not work.

[2018-07-27 08:19] pratyushdhanuka commented on #567
Further debugging a bit, i found out that `this.root.offsetWidth` sometimes gives incorrect values for carousel, likely when we have only 2 elements
because of that the scroll function does not trigger

[2018-07-27 08:30] pratyushdhanuka commented on #567
Could the above be happening if the images are not loaded before we do this calculations ?
once image is loaded, the window resizes but it dont call the update function again

[2018-07-27 08:57] chintan3100 commented on #1039
How to display greeting msg to web chat? It's look like it post greeting call but greeting msg not visible to UI

[2018-07-27 11:57] pratyushdhanuka commented on #567
so after going through hours tying to understand how to call the element's updateComponentWidth() when image loads, i did a hot fix instead

The hack was
for hero cards, i added a css to have a minimum width of 175px, in botchat.css file
works for my bots because iframe width never crosses 400px for our chatbots and my carousel has a upper limit for 320

you can custom set the width depending on y

[2018-07-27 12:58] mlipinski commented on #1001
When will this update make its way to Azure as well?

[2018-07-27 20:04] compulim commented on #933
@corinagum could you look at this and try to come up with the JSON?

It will be great if you can also try it out on older Web Chat with older Adaptive Cards, e.g. [http://cdn.botframework.com/botframework-webchat/0.11.4/botchat.js](http://cdn.botframework.com/botframework-webchat/0.11.4/botchat.js) is the last version we use AC 0.9.

[2018-07-27 20:04] ryanvolum commented on #877
@vsusloparov I need the same functionality - did you end up developing something? I'll probably get started on something and contribute it back.

[2018-07-29 14:28] kootenpv opened #1060 "Handover to agent"
I'm wondering what integrations are already available for handing over to a human.

[2018-07-30 14:22] FilipFilipov opened #1062 "Adaptive Card multiselect ChoiceSet"
At the moment a ChoiceSet in an adaptive card with `isMultiSelect: true` is rendered as a group of checkboxes regardless of the `style` property. For `style:compact` shouldn't that be a `<select multiple>` instead?

[2018-07-30 14:31] JpEncausse commented on #365
Hi, +1 for this feature !

Should we wait for an official implementation or try to follow the path of SuperChat ?

It seems the `store.dispatch()`  is private, it would be great to also expose this method to allow external script to inject messages in the html view

[2018-07-30 15:37] Kartik1607 commented on #1062
This is related to and should be raised at https://github.com/Microsoft/AdaptiveCards
Also, as a personal choice I prefer checkboxes that `select multiple`

[2018-07-30 15:38] billba commented on #365
It's up to you whether you wait or use a short term hack. However it would be bad practice to make `store.dispatch()` public, as the use of Redux is an implementation detail. A future version of Web Chat might not use Redux at all.

[2018-07-30 16:18] FilipFilipov commented on #1062
Isn't card rendering implemented at the channel level?

[2018-07-31 17:53] compulim commented on #934
@Souvik04 I think there is a good chance you hit this 1024-character limit on Bing Speech.

https://docs.microsoft.com/en-us/azure/cognitive-services/Speech/API-Reference-REST/BingVoiceOutput#InputParam

[2018-07-31 17:54] compulim commented on #934
Closing this because it is a limitation we can't fix.

Please let me know if it isn't the case, we can reopen this.

[2018-07-31 17:54] #934 closed

[2018-07-31 17:55] compulim commented on #928
@padmavatierp The bot icon and welcome message was on very old build of Web Chat, we have removed them.

[2018-07-31 17:55] #928 closed

[2018-07-31 17:56] compulim commented on #925
@corinagum can you repro it on latest version?

[2018-07-31 17:57] compulim commented on #846
@corinagum can you try to repro this?

[2018-07-31 18:53] rosskyl opened #1064 "iOS speech recognition stops after device is locked"
In Safari on an iOS device, speech recognition stops working if the device is locked then unlocked. The mic button will still change to purple, but the browser will not actually record audio. Reloading the page does not fix it and only opening a new tab and navigating to the same page fixes it. I can tell it isn't actually recording audio because there is no red mic icon in the address bar like th

[2018-07-31 21:49] compulim commented on #1044
Embed build should land this Friday (or earlier).

You will be able to use different versions of Web Chat in embed by appending `&v=0.14.0` to your query string.

For example, https://webchat.botframework.com/embed/YourBotName?s=your-secret&v=0.14.0, you will be talking to `YourBotName` using Web Chat 0.14.0.

All the versions can be found at our [NPM page](https://www.npmjs.com/package/botframewo

[2018-07-31 21:51] compulim commented on #1001
@mlipinski it should be landing this Friday. See #1044 for details on how to specify versions using URL params.

[2018-07-31 21:56] compulim commented on #1030
Web Chat [0.14.1](https://www.npmjs.com/package/botframework-webchat/v/0.14.1) is out with the fix #1034.

[2018-07-31 21:56] #1030 closed

[2018-07-31 21:57] compulim commented on #972
Web Chat [0.14.1](https://www.npmjs.com/package/botframework-webchat/v/0.14.1) is out with the fix #1034.

[2018-07-31 21:57] #972 closed

[2018-07-31 21:57] compulim commented on #949
Web Chat [0.14.1](https://www.npmjs.com/package/botframework-webchat/v/0.14.1) is out with the fix #1034.

[2018-07-31 21:57] #949 closed

[2018-07-31 21:58] compulim commented on #1045
Web Chat [0.14.1](https://www.npmjs.com/package/botframework-webchat/v/0.14.1) is out with the fix #1046.

[2018-07-31 23:44] compulim commented on #1050
Looks like TypeScript errors.

I never try cross-compile it with Angular, does it works with other projects? Or how about building a BotChat.js and consuming it use JavaScript instead of React?

[2018-07-31 23:45] compulim commented on #1052
Looks like it's fixed, closing now.

[2018-07-31 23:45] #1052 closed

[2018-07-31 23:53] compulim commented on #1055
We read it from `window.navigator.userLanguage`, fallback to `window.navigator.language`, at [`Chat.tsx:67`](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Chat.tsx#L67).

I think we missed a lowercase transformation there. In Firefox, it says `zh-HK`.

![image](https://user-images.githubusercontent.com/1622400/43493240-cda9f366-94e1-11e8-88f5-90c4e4df03e9.png)

### Notes to fix

[2018-08-01 00:00] compulim commented on #1057
For activities with "receipient = bot" and contains suggested actions, Web Chat should not show suggested actions. Is that right?

### Notes to fixer

* [ ] Modify [`activityWithSuggestedActions.ts:10`](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/activityWithSuggestedActions.ts#L10) to filter out activities not targeting the current user
   * The "from me" check can be found

[2018-08-01 00:02] compulim commented on #1058
### Notes to fixer

- [ ] Send focus back to textbox after click send
   - Check on iOS/Android to see if the soft keyboard flash or not
   - Send focus code can be found at [`Chat.tsx:168`](Chat.tsx#L168)
- [ ] Add test

[2018-08-01 00:05] compulim commented on #1059
Mobile web site is important market for Web Chat.

We are building a new UI that is responsive and tested on mobile browsers intensively (including speech capability). Stay tuned.

[2018-08-01 00:09] compulim commented on #1060
I think this is a topic on BotBuilder side. Web Chat is downstreamer in this story. And I guess multi-user support is required to enable handover.

Try posting on StackOverflow or their [GitHub repos](https://github.com/Microsoft/BotBuilder-js/issues).

[2018-08-01 00:09] #1060 closed

[2018-08-01 00:10] compulim commented on #1062
@FilipFilipov the card is render at channel level. But unlike other Skype or other channels, Web Chat use the renderer written by Adaptive Cards team.

Can you repro the issue on [Adaptive Cards Visualizer](http://adaptivecards.io/visualizer/)? We use the same engine, just different `host config` file.

[2018-08-01 00:11] compulim commented on #1064
@corinagum do you think it's related to #995? Let me know if you need any device to test it out.

[2018-08-01 01:26] deepumi commented on #1030
@compulim Thanks!

[2018-08-01 06:50] prijil commented on #1050
Yes. We are using BotChat.js and building our angular app using ng build commands. But it's working with old versions of boatchat framework

[2018-08-01 07:11] uniper-scott commented on #1001
@compulim  Will this fix the rendering issue for the sign in card on the webchat?

[2018-08-01 13:03] RealLucasMeyer commented on #1001
@ukphillips I was able to remove the need for magic codes in the emulator v3 by unchecking the "Use a sign-in verification code for OAuthCards" in Settings. To access Settings, click the three dots near the URL bar. The image below shows the Settings:

![image](https://user-images.githubusercontent.com/1373609/43522997-01de9ace-9569-11e8-9320-22d65915a50e.png)

The CDN is still not working for me

[2018-08-01 17:30] CrazyGenexz opened #1067 "IE : Adaptive Card Issue"
Hello
So, the problem is that my adaptive card shows normally in Chrome, Firefox and Edge, but when i use Internet Explorer the text displays like this:
![captura](https://user-images.githubusercontent.com/42007541/43537956-52e5bfa2-9586-11e8-9592-41b476be61cf.jpg)
I need to use IE for my project unfortunately, so i would appreciate a lot the info (compatibility, code, etc.)

[2018-08-01 19:47] RafaelVenancioGD opened #1068 "How to finish my work with BotFramework (dot Net)?"
Hi,

The simple question is, there is a way to publish my own version of Embed Web chat into Azure ? Let me explain my situation.

For the last month I've done all tasks needed to chatbot cicle, qnaMaker service, Luis integration, complete chat cicle, save and retrieve user data in azure cosmo DB. Actually I'm using Web chat channel (Embed) to test the bot, the only problem is the Iframe Layout, b

[2018-08-01 20:33] compulim commented on #1001
@uniper-scott do you mean the OAuthCard is rendered as unknown card (showing `[File of type 'application/vnd.microsoft.card.oauth']`)? If yes, you are probably using Web Chat < [0.13.0](https://github.com/Microsoft/BotFramework-WebChat/blob/master/CHANGELOG.md#0130---2018-04-26)

Let me do some clarifications here:

* OAuthCard is new in `0.13.0`
   * If you see `[File of type 'application/vnd.mic

[2018-08-01 23:44] corinagum commented on #1067
@CrazyGenexz What version of webchat are you using currently?

[2018-08-02 11:26] pratyushdhanuka commented on #1068
you can perhaps override the css by calling your own css after botchat.css file
this way perhaps you can custom all the css,

few inline css are created in botchat.js file
but that also can be over-ridden using important!

this is how I have done it for my project
though I have only changed very minor stuffs so far

[2018-08-02 15:26] CrazyGenexz commented on #1067
![frame1](https://user-images.githubusercontent.com/42007541/43593897-8fe25682-963e-11e8-9934-115fbb933a49.png)
![frame2](https://user-images.githubusercontent.com/42007541/43593899-90d39614-963e-11e8-8ec1-150249b2d70d.png)

[2018-08-02 16:33] corinagum commented on #1067
Hi @CrazyGenexz, thanks for the information. I'm actually hoping to find out what version of webchat you're using. Are you using a CDN? If yes, you can find the version you're using in the url: it might say *latest* like so:"https://cdn.botframework.com/botframework-webchat/latest/botchat.css". It might also be a number like this: 0.11.4 or 0.14.1.
If you're using an embed, that means you're using

[2018-08-02 17:28] corinagum commented on #933
@SeanVSpr Can you share the adaptive card code you used that caused this bug? Thank you!

[2018-08-02 20:29] RafaelVenancioGD commented on #1068
I've download the last version of botchat js and css to create my own version and publish in my Azure. Thanks for the help.

[2018-08-02 20:29] #1068 closed

[2018-08-03 02:31] Kartik1607 commented on #1062
@compulim even in visualizer they are rendered as check boxes

[2018-08-03 11:10] uniper-scott commented on #1001
@compulim   Thank you for taking the time to reply to me, it was very helpful.  We are indeed using the latest version 3 of the bot builder (3.15.3).  We were using the standard embed iframe markup that is supplied by the Azure portal for webchat.

I have updated our iframe to use the v=0.14.0 url parameter and we are now getting the sign in card :D

Admittedly it still doesn't work fully, as when

[2018-08-03 12:13] mlipinski commented on #1001
William,

What time on Friday will this be release?

Matt…

From: William Wong <notifications@github.com>
Sent: Wednesday, August 1, 2018 4:34 PM
To: Microsoft/BotFramework-WebChat <BotFramework-WebChat@noreply.github.com>
Cc: Lipinski, Matt T. (RET-DAY) <Matt.Lipinski@relx.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/BotFramework-WebChat] OAuth card does not render in Azure/

[2018-08-03 13:50] RealLucasMeyer commented on #1001
@uniper-scott I got the same issue as you - when I use v=0.14.0, whenever I click "Sign In", it takes me to "about:blank". I tried to use v=0.13.1 to match the emulator (that works) and I get a blank chatbot.

I've also tried v=0.14.1 and get the same about:blank as v=0.14.0.

Other than the emulator, did anyone make this work in any other way?

[2018-08-04 23:50] compulim commented on #1001
Let me try out the `OAuthCard` over the weekend and see.

But at least, we have some ways to push fixes sooner to everyone. :smile:

[2018-08-05 22:56] jramos-br opened #1069 "Issue opened in the wrong project. Sorry."

[2018-08-05 22:59] #1069 closed

[2018-08-06 07:35] SeanVSpr commented on #933
@corinagum below is the adaptive card code which I've used for the cards I posted earlier.

### **The one with the image:**
[code]

### **The one with buttons:**
[code]

[2018-08-06 07:55] serpino commented on #995
Hi rosskyl
I have the chat inside an iframe and without using your javascript code, the voice conversation works correctly, except for IOS.

If I add your code to the project, it gives me an error when I press the microphone. Can you please help me?

The error I get in Chrome is this:

[code]
And in Firefox is:
`TypeError: 'get state' called on an object that does not implement interface BaseAudio

[2018-08-06 10:37] serpino commented on #1042
@compulim Do you have an example in Javascript so that the voice conversation works in Safaria / IOS?
Thanks

[2018-08-06 10:41] chintan3100 commented on #478
Hi All,
Any update on Angular JS ? Can i use webchat with NG 5 ?

[2018-08-06 14:37] JobaDiniz commented on #395
even with the proposed workaround, when my server receives a _ConversationUpdate_, the `ChannelData` property is always null.

[2018-08-06 17:35] EricDahlvang commented on #395
@JobaDiniz  You are correct.  Channel Data is not sent with ConversationUpdate.  The workaround is to not rely on ConversationUpdate.  This blog post goes into more detail: https://blog.botframework.com/2018/07/12/how-to-properly-send-a-greeting-message-and-common-issues-from-customers/

[2018-08-06 17:42] JobaDiniz commented on #395
Great article!

[2018-08-07 07:16] serpino commented on #995
@rosskyl This works much better, at least for the rest of browsers.
I'm going to try safari.

Thank you very much!

[2018-08-07 17:49] blrchen commented on #1059
@compulim will current UI version still be maintained?

[2018-08-08 10:20] deepanigi opened #1070 "HTML code not rendered in Hero card"
Hi All,

Previously 1 week ago the html code in subtitle of the Hero card was rendered perfectly in UI. But now it suddenly stopped working.Now the html tag "< ul >" and  "< li >" is not rendered on UI and displayed as it is.

`
var capacity = "<ul><li>Expected </li><li>line 2</li></ul>"
var card = new builder.HeroCard(session)
                    .title(element.name)
                    .subtitle

[2018-08-08 17:57] JobaDiniz opened #1071 "Update charset of webchat.js in all samples"
The TypeScript [Strings.ts L188](https://github.com/Microsoft/BotFramework-WebChat/blob/v0.14.1/src/Strings.ts#L188) is correct: `timeSent: ' às %1'`. But the [transpiled version](https://cdn.botframework.com/botframework-webchat/0.14.1/botchat-es5.js) is not:

![image](https://user-images.githubusercontent.com/165290/43855204-46d27684-9b1b-11e8-9a78-2bfd3efd637a.png)

[2018-08-08 20:19] JobaDiniz opened #1072 "Sample: Add markdown-it-emoji to automatically convert :) into 😄"
If my bot server sends a message `Hi :)`, the emotion :smile: will be rendered in _Facebook_ channel but not in _Web Chat_.
Is there a workaround?

[2018-08-08 22:05] corinagum commented on #933
@fplaten @SeanVSpr ,

Thank you for your patience as I investigated this issue. I'm sorry to say that I'm not able to repro the height 100% problem you have both registered. I'm wondering if this is a CSS problem that has to do with both of your bots using personalized appearance, rather than a problem directly related to Web Chat. It's good to see that there is a workaround, however, and I while

[2018-08-08 22:05] #933 closed

[2018-08-09 01:41] Rykimaruh commented on #476
Is this possible for Teams?

[2018-08-09 05:22] iamgraviteja opened #1073 "Sample: Sound alert when new message come"
Is there a way to add tones for send/receive messages?

[2018-08-09 07:49] fplaten commented on #933
Thanks for investigating, I submitted an issue to https://github.com/Microsoft/AdaptiveCards/issues/1781

[2018-08-09 14:53] Kartik1607 commented on #1073
Not implemented in current version, but you could modify the code and play a sound whenever an action for sending or receiving message is dissipated.

[2018-08-09 14:55] Kartik1607 commented on #1072
You would have to add markdown for emotions like :)

Or you would have to replace the emotions with unicode representation

[2018-08-09 15:51] dclaux commented on #933
I am not able to repro this problem in the visualizer, which uses the same rendering logic as WebChat. It seems to me that there is either a problem with how WebChat vertically sizes cards, or maybe some conflicting styling being applied.

As a side note, an Image can't have "height": "stretch", it should be "size": "stretch"

[2018-08-09 18:52] corinagum commented on #1067
Closing due to lack of response.

[2018-08-10 04:50] iamgraviteja commented on #1073
@Kartik1607 Do you've any links or resources ?

[2018-08-10 12:31] anandvardhandas commented on #916
Instead of using botchat.js, we can use botchat-es5.js for IE11. So similarly do we have a separate botchat.css version for IE11 compatibility because in IE11, Adaptive card contents are not loading in proper format and also in carousel adaptive card, left and right scroll is not working whereas all these things are working perfectly fine in Edge and chrome.

[2018-08-10 12:39] anandvardhandas commented on #1052
Instead of using botchat.js, we can use botchat-es5.js for IE11. So similarly do we have a separate botchat.css version for IE11 compatibility because in IE11, Adaptive card contents are not loading in proper format and also in carousel adaptive card, left and right scroll is not working whereas all these things are working perfectly fine in Edge and chrome.

[2018-08-10 13:13] Kartik1607 commented on #1052
@anandvardhandas could you please post screen shots for different browsers.

[2018-08-10 13:16] Kartik1607 commented on #1073
@iamgraviteja I am able to follow you. What kind of resource do you need? Do you need help with implementation? You would have to create an epic in store.tsx which would be responsible for playing the audio.

[2018-08-13 02:28] iamgraviteja commented on #1073
Kind of approach. Like do I need to use a npm package or an audio tag to play sound when new messages are sent/received?

[2018-08-13 07:15] anandvardhandas commented on #1052
@Kartik1607  here you go .. now in IE11 left and right scroll is coming now but extra spaces is still coming. Help me remove that. No idea why its coming.
![ie11 compatibility](https://user-images.githubusercontent.com/3183088/44017376-adafedf4-9ef5-11e8-86eb-cbc195925c62.jpg)
![edge_no unnecessary spaces](https://user-images.githubusercontent.com/3183088/44017622-99a90966-9ef6-11e8-90fe-6a94059ad

[2018-08-13 19:25] amrullah08 opened #1075 "carousel is not displayed properly"
load http://syedeiptestbot.azurewebsites.net/
enter input "jjjjjjjjjjjjjjjjj hhhhhhhhhhh"
this will show carousel , but you see that this carousel is displayed as separate cards

[2018-08-13 19:29] EricDahlvang commented on #1075
Please share the code you are using to create the carousel.

[2018-08-13 20:07] amrullah08 commented on #1075
IMessageActivity msg = context.MakeMessage();
            msg.AttachmentLayout = AttachmentLayoutTypes.Carousel;
            msg.Attachments = ResultCard.GetCardsAttachments();
            await context.PostAsync(msg);

using Microsoft.Bot.Connector;
using SharePointPOCLib;
using System;
using System.Collections.Generic;
using AdaptiveCards;

namespace SharePointPOCBot.Cards
{
    public class Res

[2018-08-13 20:36] EricDahlvang commented on #1075
Please try changing `public static IList GetCardsAttachments() `to `public static IList<Attachment> GetCardsAttachments()`

[2018-08-14 09:43] narik1989 opened #1076 "Document Upload Issue: Multiple chat in Same window using different bot connection"
Hi,

I am trying to create an application where the user (Application 1) can be in chat with multiple users(Application 2) using directline bot js. I create a new connection for every individual chat with user. Say i am chatting with User 1 and User 2. If i send a message to any user the respective user receives it. When i try to send an image (or any document in this case) it is always going to f

[2018-08-14 09:48] narik1989 opened #1077 "Speech option is not working"
Hi,

I have hosted my application in one of the servers which does not have a SSL certificate. Hence the web site is HTTP protocol. I tried to integrate the speech options in that web site using directline framework. The speech is not working. This is the error i get.

**error: Error occurred during microphone initialization: NotSupportedError: Only secure origins are allowed**

Can anyone help me

[2018-08-15 00:14] compulim opened #1079 "`adaptiveCardsHostConfig` should be optional"
At [`src/Chat.tsx:18`](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Chat.tsx#L18), we should not force everyone to pass `adaptiveCardsHostConfig` in.

`adaptiveCardsHostConfig` is optional as seen in [`src/Chat.tsx:70`](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Chat.tsx#L70).

## Note to fixer

* [ ] Set `adaptiveCardsHostConfig: any` to `adaptiveCardsH

[2018-08-15 00:31] dandriscoll opened #1080 "Dial back Web Chat retries"
Web Chat aggressively retries under two conditions:

- When Web Chat is polling with GET and receives a 404, it continues polling. A 404 is unlikely to be resolved as the resource is gone.
- If Web Chat receives an HTTP 400 when opening a websocket connection, it retries very quickly

There may be other cases but these two should be reviewed and we should have a different retry policy -- either pr

[2018-08-15 05:30] darrenj commented on #1079
Workaround for now is to set adaptiveCardsHostConfig to null. This is working in my sample project.

[2018-08-15 17:37] compulim opened #1081 "Web Chat: Separate backend and UI"
# Background

We now "unmarried" DirectLineJS, Redux store, and React view. The plan is:

* DirectLineJS will serve as an "adapter" to translate REST/WebSocket into Observables (a.k.a. API -> stream)
* Web Chat backend, will be an "adapter" to translate Observables into Redux (a.k.a. stream -> state)
* Web Chat frontend, will be an "adapter" to translate Redux into React (a.k.a. state -> view)

Ea

[2018-08-15 17:40] compulim opened #1082 "Web Chat: UI customization"
- [x] Style options
   - Branding story
- [x] Provide custom CSS via JSON
- [ ] CSS insertion points
- [x] User-provided activity renderer
- [x] Deep customizations
   - [x] User can bring new controls
   - [x] User can remove any canned controls
   - [x] User can redo the layout

[2018-08-15 17:41] compulim opened #1083 "Web Chat: Samples"
Append link to every [issues labelled with enhancement](https://github.com/Microsoft/BotFramework-WebChat/issues?q=is%3Aopen+is%3Aissue+label%3Aenhancement) which we want to build sample code for them.

[2018-08-15 17:46] compulim opened #1084 "Web Chat: Download history from Direct Line"
# What need to be done

- Download limited past history from Bot via Direct Line
   - Bot can provide > 500 messages
   - Web Chat will only download last 500 messages
      - Probably capped by browser side
      - Server could still send > 500 messages
      - Web Chat will need to do de-duplication
- Both REST and Web Socket story should be the same (need confirmation)
- Web Chat put a cap for

[2018-08-15 17:49] compulim opened #1085 "Web Chat: Architecture review"

[2018-08-15 17:51] compulim opened #1086 "Azure Portal: Remove "Enable Preview" from channel settings"
- [ ] Remove "Enable preview" check box
- [ ] Add a new "Use deprecated version" check box
- [ ] By default, will load the latest version (v4)

[2018-08-15 22:04] compulim opened #1087 "Web Chat: Mock Bot as separate repository and hosted"
- [x] Separate Mock Bot into its own repository
   - [x] Bring existing Mock Bot features over (without the test part)
   - [x] Re-architect it using SDK v4, instead of mocking Direct Line service
      - We will lose the ability to hosting it locally
      - We can use [Emulator Core](https://github.com/Microsoft/BotFramework-Emulator/tree/master/packages/emulator/cli) to host it
      - We shoul

[2018-08-15 22:16] compulim opened #1088 "Web Chat: Upload missing CDN assets back"
We missed `0.12.0`, `0.12.1`, `0.13.0`, and `0.13.1`.

[2018-08-15 22:27] compulim opened #1089 "Web Chat: Blog post about &v=latest in embed story"
Better finish #1088 before a blog post.

[2018-08-15 22:28] compulim opened #1090 "Web Chat: Sample for download history"
Part of #1084 story.

[2018-08-16 00:11] compulim opened #1091 "Up/down arrow for send history"
What should up/down arrow do when:

- [ ] Long lines (we don't support multiple lines right now)
- [ ] Suggested actions
- [ ] `imBack`

[2018-08-16 18:40] corinagum commented on #932
@himanshushukla254 Thank you for your patience as I investigate this issue. Could you verify what version of the cdn you are using when this issue occurs? Unfortunately I'm having trouble repro-ing the problem using older versions of Chrome.

[2018-08-16 18:42] compulim commented on #932
I checked [`Shell.tsx:97`](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Shell.tsx#L97). If there is a hint of text in the text box, the arrow should show up as [blue](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/scss/botchat.scss#L613).

Do you think there is a JS error somewhere that blocked the code?

[2018-08-16 18:43] shinjiDev commented on #932
I used to have that kind of problem. But It happened when there was a JS
error.

El jue., 16 ago. 2018 a las 15:42, William Wong (<notifications@github.com>)
escribió:

[2018-08-16 22:13] corinagum commented on #846
Hi everyone, unfortunately I haven't been able to repro this issue on Mac using Safari. Is anyone able to verify what version of webchat they're using in iframe webchat when this error occurs? Thank you!

[2018-08-16 23:08] compulim commented on #986
Fixed in #988.

[2018-08-16 23:08] #986 closed

[2018-08-16 23:54] compulim opened #1094 "Web Chat: Add GitHub Releases to Travis"

[2018-08-17 07:50] darrenj opened #1097 "WebSocket terminated during authentication (magic code) after 403 returned from GetSessionId call"
When using the CDN hosted webchat (0.14.0) and a Bot configured to use the new authentication support your unable to complete authentication involving magic codes due to the WebChat control terminating the WebSocket.

Hosting the WebChat control yourself, providing an OriginUrl and exchanging the secret for a token means the Magic Code step can be avoided however we should be able to complete auth

[2018-08-17 17:33] compulim commented on #1097
The Web Socket connection is maintained by Direct Line JS over [this line of code](https://github.com/Microsoft/BotFramework-DirectLineJS/blob/master/src/directLine.ts#L644).

It seems when `getSessionId()` failed ([over here](https://github.com/Microsoft/BotFramework-DirectLineJS/blob/master/src/directLine.ts#L502)), we send it to [`catchPostError`](https://github.com/Microsoft/BotFramework-Direc

[2018-08-17 17:47] mingweiw commented on #1097
The 403 in this case isn't because the token expired. The getsessionid call has additional validation requirements on the token. We probably should handle it differently. I can add a specific error code to this 403 on the service side and on the client you use that to decide.

[2018-08-17 17:51] compulim commented on #1097
Sounds good. So let me rephrase that in bullet form:

- `/getsessionid` could fail in two cases:
   - OAuth flow is not working
      - Today, server return 403, which confused Direct Line JS
      - Tomorrow, we will fix it by either:
         - Server return 403, plus additional error code in the response body
         - Server return something other than 403
   - Web Chat token is expired

[2018-08-17 17:58] mingweiw commented on #1097
Correct.

[2018-08-17 22:35] corinagum commented on #1064
hi @rosskyl thank you for your patience during investigation of this issue. Unfortunately I have not been able to repro the problem that you describe - when using latest WebChat to enable speech on a bot, locking and re-locking iOS does not cause the microphone to stop working. Could you answer the following questions?

- What version of WebChat is your bot utilizing?
- What device is this on? iPh

[2018-08-18 09:18] UsamaAslam opened #1098 "Speech api is not working perfectly on IOS devices."
Hello. i am working on bot speech enable bot. Bot convert the voice to text but not convert text to speech in IOS devices in safari  .In windows working perfectly in chrome and other .

Here is my Code :

[code]

[2018-08-20 11:07] UsamaAslam opened #1099 "On every message Bot giving me error "Sorry, my bot code is having an issue. ""
Hello ,

I working on a bot . I use my own code as well as demo code that is provided by bot framework by default template of word count . On local both working fine but when i host them on azure it giving me Error on every message .

I check the Microsoft ID and password as well both are correct .

Kindly help me to solve this problem.

Thanks

[2018-08-20 21:08] ianblitz opened #1100 "WebChat doesn't render inside Xamarin WebView control"
I built the BotFramework-WebChat client locally and added pretty much the demo HTML along with the locally built botchat.js and botchat.css to the manifest for a Xamarin Android project.  I am then using a Xamarin.Forms WebView to try to load the HTML, but nothing is rendering.  I have proved that the WebView is rendering things outside of the botchat Div and I can see that the Javascript is getti

[2018-08-21 02:41] dandriscoll opened #1101 "Web Chat instructions/samples/etc. should default to using websocket instead of polling GET"
Anyone customizing Web Chat should, by default, use websockets. It's faster and lighter weight.

[2018-08-21 02:42] dandriscoll commented on #1101
May also extend to DirectLineJs

[2018-08-21 20:43] #1100 closed

[2018-08-21 20:45] ianblitz commented on #1100
This was mostly me being dumb.  Everything works with proper viewport settings and minor CSS tweaks.

[2018-08-21 22:02] compulim opened #1102 "Web Chat replace "quotes" with "smart quotes""
Copied from email:

[2018-08-21 22:02] compulim commented on #1102
@corinagum Can you see if it can be repro?

[2018-08-21 23:53] Kartik1607 commented on #1099
Would need more information. You can try to debug the not using [ngrok](https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/) and see what is happening.

[2018-08-22 16:29] corinagum commented on #915
Hi @deejay28, could you share some more information regarding this problem?
What is the conversation flow of the bot when this error occurs?
Does this problem still occur when run Incognito on Edge?
Are you using Embed or CDN? If CDN, what version are you using?

[2018-08-22 17:16] rosskyl commented on #1064
After updating to the most recent version of iOS I am unable to reproduce the issue. After a bit more investigation, I believe it was a but with safari as it wasn't just the web chat that this issue would show up on. This would've been on an iPad pro running iOS 11.3 with the most recent version of web chat at the time.

[2018-08-22 18:18] compulim opened #1103 "Empty half-size bubble show up on a message with empty string "text""
[code]

This activity should not show up as a half-size bubble. The bug repro in Emulator. Need to check if it repro on Web Chat latest because we recently have a fix on it.

Also need to check if we filter them out correctly, so we don't accidentally filtered out suggested actions.

[2018-08-22 18:39] corinagum commented on #1064
Great, thanks for getting back to us. I'll close this issue as resolved.

[2018-08-22 18:39] #1064 closed

[2018-08-23 16:01] stevekay72 commented on #1097
I'm a little confused here.
We have taken the webchat code in this repo so that we can brand it ourselves and extend for auto login, etc and are facing the same problem.  If I make it use a signin card then all is well - get the magic code and it works.  If we use an OAuthCard then we get the same problem.
Is there a work around or is the issue going to be fixed?

[2018-08-23 17:44] mingweiw commented on #1097
OAuthCard supports a flow that has no mogic code. Signin just works normally. To get that to work you'll need to acquire a different directline token and initialize webchat with that. If you do that, this problem goes away. However we don't have official documentation for that yet. We are working on making that flow simpler to setup and more secure. We are targeting that and the docs for Ignite in

[2018-08-23 19:39] compulim commented on #1101
On [`DirectLineJS/directLine.ts:317`](https://github.com/Microsoft/BotFramework-DirectLineJS/blob/master/src/directLine.ts#L317), it say: if the `webSocket` flag is not set and the browser support WebSocket, it will do WebSocket.

And I looked at [`WebChat/Chat.tsx`](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/Chat.tsx#L193), we didn't default it to off.

So I guess people in

[2018-08-23 19:40] compulim commented on #1080
Will do.

Do we have 429 too?

[2018-08-23 19:44] #1101 closed

[2018-08-23 20:09] compulim commented on #1101
Opened two tracking issues:

- [Implement automatic protocol detection](https://github.com/Microsoft/BotFramework-DirectLineJS/issues/88)
- [Consider to implement Server-Sent Events](https://github.com/Microsoft/BotFramework-DirectLineJS/issues/89)

[2018-08-23 22:45] corinagum commented on #925
@compulim able to repro on latest, 0.14.2 on IE, Edge, and Chrome
![image](https://user-images.githubusercontent.com/14900841/44554980-e4bc4500-a6e7-11e8-86d3-6fe8134cee73.png)

I believe it has to do with the width of .wc-adaptive-card being 414px instead of something like 350px.

[2018-08-23 23:41] linach commented on #1001
Hi. Hi I am following the issue with the blank page after Sign In click in an iframe. Do you have any updates in it and can you give some timeline when it will be fixed?

[2018-08-23 23:52] matt-wright commented on #1001
Hello, I also see a blank page after clicking on the Sign In item in an iframe (within a Sharepoint web part).  Using the emulator is successful with retrieving a token after the login window appears but won't be helpful to our user base  Any news on when this might get rectified completely?

[2018-08-24 00:12] chetankerhalkar commented on #1001
Hello, Is issue of [File of type 'application/vnd.microsoft.card.oauth'] on Azure Test web chat fixed? Is next version of Azure web chat is updated? I am using OAuth card but it's giving the issue of [File of type 'application/vnd.microsoft.card.oauth']. when its integrated to Sharepoint portal then also getting the same issue but on simulator OAuth card works.

[2018-08-24 09:19] stevekay72 commented on #1097
Thanks for the explanation @mingweiw .

So for the time being we can use the secret to generate a token using /v3/directline/tokens/generate and use that in the web chat, but there will be a fix coming in a PR that will mean that it is not necessary - correct?

Which PR is it so I can watch for it?

[2018-08-24 17:23] compulim opened #1105 "Web Chat: Dynamic paging model"
Design a good story to allow users to see lots of messages in the past. Think about:

- Limitations
   - Number of message limit
   - Rendering speed
   - Scroll bar UX
- Search
- Pagination
   - Scroll up to reveal more
   - Semantic zooming (group conversations into a dimension)
   - Pop out modal to show more messages

[2018-08-24 17:44] mingweiw commented on #1097
No. :)
1. To get a token that'll allow the getsessionid call to succeed you need to pass an additional parameter in the body. How to do that is not currently documented. We are also making updates there that'll ship soon. When the getssesionid call succeeds, you'll also see the magic code step disappear.
2. The PR will fix the websocket termination issue. The getssesionid call will still fail, you

[2018-08-25 08:08] telkomops commented on #1040
Yes.   You should look at the
Create a Web Api with Bot Framework SDK in C#, Node.Js
Expose the Web API or deploy on Azure
Configure the Web API to the Bot Framework and enable DirectLine for the Web Chat to work leveraging the Web Chat Component.
With in your Web API, get the raw text / utterance and post to DialogFlow via DialogFlow SDK.
BotFramework has native interaction with LUIS buitlin , yo

[2018-08-27 01:08] Danieladu opened #1106 "OAuth card button does not work"
OAuthCard's original button schema is :
[code]

In Bot framework Emulator, an OAuthCard‘s button rendered as
[code]

when I click the button, a window directed to "value" is opened. so I can get the token from callback.

But in webchat, I get the json data below:
[code]

The type of the button is still "signin". When I click the button, also, a new window is opened. but the url is undefined.

Modi

[2018-08-27 07:38] UsamaAslam commented on #1099
Through ngrok code is working perfectly without any error. I test it multiple time.

[2018-08-27 12:13] vedeevi commented on #894
We are also having same issue, if we assign a text to AdaptiveCard.Speak it is not working with Cortana Skill. But this works, if we assign the value to IMessageActivity instance of Bot Framework. We are using AdaptiveCards of version 1.0.3.0.

Following is our code sample...

`
IMessageActivity responseMessage = context.MakeMessage();
responseMessage.Attachments.Add(new Attachment { Content = Get

[2018-08-27 14:17] rosskyl commented on #1098
Check out issue #995 which is very similar. At the bottom is some javascript you can include that will make speech work with iOS devices.

[2018-08-28 11:45] Snekha-Shivakumar commented on #984
@serpino Can you please provide some code for doing that?

[2018-08-28 11:53] shmuelgutman opened #1108 "Support buttons in prompt"
Hi,

Can't see any topic on this, there is any plan to support buttons in prompt choices?

[2018-08-28 12:02] serpino commented on #984
@Snekha-Shivakumar I detail it step by step
When a botchat object is started, an ID is generated.

This is the one we will use to see if it is a new connection or we must retrieve the messages for that conversation.

The first thing you should do is check if there is any cookie or localstorage with that conversartionID
I use a function like this:
[code]
In case of not existing, you create the botc

[2018-08-28 13:26] Snekha-Shivakumar commented on #984
@serpino Thank you for your assistance. Could you please tell me where should I keep this code. I'm using webchat source files and I'm customizing it. Should I need to place these code in app.js or webchat files?
Thanks in advance.

[2018-08-28 14:47] sagarvadodaria opened #1109 "Need for buttons which disappear on click."
Its no surprise that we need buttons which disappear on click. Even telerik has something good as per this URL https://demos.telerik.com/kendo-ui/chat/travel.

Is there a way to do this?

[2018-08-28 16:59] EricDahlvang commented on #1109
Suggested Actions provide this functionality: https://docs.botframework.com/en-us/channel-inspector/channels/WebChat/

https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-add-suggested-actions?view=azure-bot-service-3.0

[2018-08-29 12:37] rafaelmaeuer commented on #990
is no one else having this issue, is there a fix?

[2018-08-29 14:03] shmuelgutman commented on #1108
OK, I just realized that it's supported. I just needed to pass `choicePrompt.style = ListStyle.suggestedAction` the default is `ListStyle.auto`

[2018-08-29 14:03] #1108 closed

[2018-08-29 15:44] nkpatterson commented on #1001
I'm seeing the blank page after clicking the Sign In button on the OAuthCard as well. Tried 0.14.0-0.14.2 with same results. Any updates?

[2018-08-29 16:35] corinagum commented on #915
Closing due to lack of response.

[2018-08-29 16:35] #915 closed

[2018-08-29 17:49] compulim opened #1110 "Message without clientActivityId should show up"
# Background

Transcript generated by [Chatdown](https://github.com/Microsoft/botbuilder-tools/tree/master/packages/Chatdown) does not have `activity.channelData.clientActivityId`.

# Summary

In our [`Store.ts:337`](https://github.com/Microsoft/BotFramework-WebChat/tree/master/src/Store.ts#L337), we hide everything the user sent, but without `clientActivityId`. It was intended to hide postbacks.

[2018-08-29 18:34] #1109 closed

[2018-08-29 18:41] compulim opened #1111 "Web Chat Parity: OAuthCard"
- [x] Render the card
- [x] Business logic
- [x] MockBot

[2018-08-29 18:42] compulim opened #1112 "Web Chat Parity: Typing"

[2018-08-29 18:42] compulim opened #1113 "Web Chat Parity: Send typing"
- [x] Send typing every 3000 ms
- [x] MockBot: echo typing activity

[2018-08-29 18:44] compulim opened #1114 "Web Chat Parity: Scroll to bottom"
- [x] Scroll to bottom
- [ ] (Optional) Programmatically scroll to bottom

[2018-08-29 18:45] compulim opened #1115 "Web Chat Parity: Bundling"
- [x] Bundle as NPM
   - Dev can bring their own implementations of various modules
- [x] Bundle as CDN (Webpack monolithic JS file), we will bundle
   - Adaptive Cards
   - DirectLineJS
   - ES5 Polyfills
   - Cognitive Services
   - Markdown-It

[2018-08-29 18:47] compulim opened #1116 "Web Chat Parity: Speech say"
- [x] Cognitive Services Bing Speech works in desktop and mobile browsers
- [x] Say after receive a message
- [x] Say after receive an Adaptive Card attachment
- [x] Stop saying after the user click on the text box
- [ ] (Optional) Programmatically say an activity
   - [ ] Say last activity
   - [ ] Say a specified activity

[2018-08-29 18:48] compulim opened #1117 "Sample: custom activity UI to select activity"
Working in PR #1199

- [ ] Programmatically select an activity
- [x] Click to select an activity
- [x] Highlight after selection
- [x] Accessibility
- [ ] If activity can be selected programmatically, will be nice to scroll the activity into view on select

This will be done as part of the emulator customization story, not on main branch.

[2018-08-29 18:50] compulim opened #1118 "Story: Limit to show up to 1,000 activities"
# Note to fixer
On receive message, cap it to 1,000.

[2018-08-29 18:53] compulim commented on #1084
Web Chat work is done in #1107.

[2018-08-29 18:53] #1084 closed

[2018-08-29 19:08] telkomops commented on #1038
postActivity from the client and implement the message on the server side.
Send the postActivity with type:"event"
On the server trap the event and response back with appropriate content you want to display on the start up message via Hero or Adaptive Card.

[2018-08-29 22:28] compulim opened #1119 "Progress/retry on postback"
In postback, we don't send `channelData.clientActivityId`. So there are no indications of failure and ways to retry.

[2018-08-29 22:34] compulim commented on #1103
@corinagum, as bulleted tasks:

- Add `empty` command to MockBot to send `{ type: 'message', text: '' }`
   - Try to repro on
      - Emulator v4
      - Latest Web Chat (or `>=@0.12.1`)
      - Web Chat v4 (just hit the playground)
- Add `empty-with-suggested-actions` command (or `empty suggested-actions`, which is harder)
   - `{ type: 'message', text: '', suggestedActions: { actions: [{ type: '

[2018-08-29 22:57] andrewchungxam commented on #465
Is there ways to customize when the retry message comes up?  Some OCR processes take more time than the default 20 seconds.

[2018-08-29 23:17] compulim commented on #1110
This is going to be fixed in Chatdown [#377](https://github.com/Microsoft/botbuilder-tools/issues/377).

[2018-08-29 23:17] #1110 closed

[2018-08-30 06:43] Sur0611 commented on #616
@dividor does it worked for IE also?

[2018-08-30 08:42] Primtek opened #1120 "newbie"
Hi..

I m new with this..
I installed BotFramework-Webchat by following the README from here.
last..
I run:
npm run start
it shown:
[root@ai BotFramework-WebChat-master]#  npm run start

[14:58:56]Emulator listening on http://localhost:15240
[14:58:56]ngrok listening on https://493b7e64.ngrok.io
[14:58:56]ngrok traffic inspector:http://127.0.0.1:4040
[14:58:56]Will bypass ngrok for local addresses

[2018-08-30 10:32] Primtek opened #1121 "how to hide directLine secret, user and bot id.."
Hi all,

referring to script below:

<script>
      BotChat.App({
        directLine: { secret: 'xxxxx},
        user: { id: 'mybot },
        bot: { id: 'mybot' },
        resize: 'detect'
      }, document.getElementById("bot"));
</script>

how to hide such info?

please help
..

thanks

[2018-08-30 11:16] iamgraviteja opened #1122 "How to start a new conversation(with new conversationId) with same connection?"
I'm implementing functionality to clear chat by removing the conversationId and trying to create new one as follows:
[code]
But, a new `conversationId` is not getting generated on calling the above method.  Is there a way to start a new conversation?

[2018-08-30 14:31] mmenti opened #1123 "focus on suggestedActions buttons inherits action selected in previous message"
Hi,
I've found that if I have 2 suggested actions buttons on 2 subsequent messages, and the user clicks on the second button as a response to the first message, when the second message is rendered, it's the second button in the suggested actions that has focus, rather then the first (as I would have expected).
Is there a way I can change that behaviour so the initial focus is always on the first s

[2018-08-30 16:47] mareekuh opened #1124 "Change webchat background to White"
@compulim and @sgellock

1. Please change the background of webchat windows to WHITE (Currently: gray).
2. Please also turn on a border for regular (typed) messages to light gray E6E6E6 which should be the same as all other borders.

See attached. First image is desired. Second image is what's currently in build & visual spec (Jeremy's)
<img width="803" alt="screen shot 2018-08-30 at 9 46 22 am" s

[2018-08-30 19:53] #1113 closed

[2018-08-30 19:58] compulim commented on #1121
For Direct Line secret, you will need to implement a server solution to exchange the secret into token. That's the only way to make sure the secret does not expose to the client.

For user ID, it is not able to hide. You should sign it to prevent forgery, this is very similar to how we usually handle user ID in HTTP cookies.

For bot ID, I need to double-check. But I think it is not sensitive so y

[2018-08-30 19:58] #1121 closed

[2018-08-30 20:36] rodrigorodriguez commented on #970
@compulim we are using the v4 version of Bot Framework and the same error is happening when using createOAuthPrompt  from botbuilder-prompts.

[code]

We lost some time in a Microsoft Hackathon due to this error, would you please, prioritize it?
We have a [bot platform](https://github.com/pragmatismo-io/BotServer) based on Bot Framework, if you need help on this let us know.

[2018-08-30 23:01] stevengum opened #1125 "Trying to render invalid AdaptiveCards blows up WebChat/Emulator"
Trying to render improper AdaptiveCard attachments results in the following (using the v4 emulator, build 4.0.218-nightly):

![explode](https://user-images.githubusercontent.com/14935595/44883519-4a6e7b00-ac6c-11e8-9aed-2b53de0b9316.PNG)

The attachment looks like this:

[code]

This is the error from the dev tools console:

[code]

Line of code from vendors.js:

[code]

[2018-08-31 01:39] Primtek commented on #1121
@compulim
Thanks for your reply!..
I am also looking for article how to implement server solution.. can you share it for me? and for the others that might need it..

thanks a lot in advance

[2018-08-31 06:45] compulim commented on #1121
You can find some of the token exchange/renewal code [here](https://github.com/compulim/BotFramework-Samples-Template/blob/master/packages/bot/src/index.js#L59). This repos is a Docker template we use to host both Bot.js and Web Chat on a single server.

[2018-08-31 06:52] Primtek opened #1126 "ReferenceError: navigator is not defined"
try to run botchat.js but facing the following
I m stuck .. any body please help me?

===

[root@ai BotFramework-WebChat-master]# node botchat.js
/home/primtek/BotFramework-WebChat-master/botchat.js:23114
var IS_FIREFOX = /Firefox\//i.test(navigator.userAgent);
                                  ^

ReferenceError: navigator is not defined
    at Object.<anonymous> (/home/primtek/BotFramework-WebCha

[2018-08-31 07:46] compulim opened #1127 "Activity insertion sort should append before message from user due to clock skew"
Code from v4 that works correctly:

[code]

[2018-08-31 15:14] Edwardenis opened #1129 "Error Building Web Chat V 0.14.3-0"
Hello everyone,

After cloning the repo I just ran `npm install` as you said in the intro and it looks like after installing all dependencies it runs the build task and is giving me the following error:

botframework-webchat@0.14.3-0 tslint C:\Users\xxx\source\repos\BotChat\BotFramework-WebChat

node_modules/@types/bluebird/index.d.ts(39,26): error TS1005: ';' expected.
node_modules/@types/bluebir

[2018-08-31 15:56] fgortiz commented on #1129
It appears the linter is linting the

For me, I got it to work by adding:

[code]
to `tsconfig.json`.

[2018-08-31 16:10] corinagum commented on #1070
Hi @deepanigi
HTML in Markdown was [disabled in July 2017](https://github.com/Microsoft/BotFramework-WebChat/pull/606) for a few reasons.

- Some channels don't render HTML in Markdown correctly, and disabling it creates a more consistent behavior across channels
- Some people were worried about HTML as a source of security breach, and removing it from Markdown reduces that security concern.

If y

[2018-08-31 16:10] #1070 closed

[2018-08-31 16:57] Piao08 commented on #1001
@linach @matt-wright @nkpatterson
Currently bots come “pre-registered” with the WebChat channel, but the authentication features currently only work if you have DirectLine enabled and are using a DirectLine secret (we are working to support WebChat secrets, but for now, please use DirectLine).
To register for the DirectLine channel:
1.	Go to https://portal.azure.com/.
2.	Navigate to your bot resou

[2018-08-31 19:37] WhiteShadow7 commented on #1129
That didn't work for me :/

[2018-08-31 22:08] compulim opened #1130 "Bump Direct Line JS to 0.9.17"
https://github.com/Microsoft/BotFramework-DirectLineJS/pull/87

[2018-09-04 08:43] Kartik1607 commented on #1126
Hi,
which Firefox version are you using? It looks like window.

Adding `const navigator = window.navigator || <any>{};` [here](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/getTabIndex.ts#L2) would fix the issue.

[2018-09-05 07:06] Primtek opened #1133 "https"
Hi All,

looks like it does not support https? CMIIW..
if so, how to set it?

thanks

[2018-09-05 11:02] Primtek opened #1134 "Save chat history"
Hi,

is there any way to save chat history ?, so user close their browser incidentally, they just re-open their browser and the last chat history will shown..

need advise

thanks
Wil

[2018-09-05 11:06] Primtek opened #1135 "How to trigger "WELCOME" event"
Hi,

how to trigger "WELCOME" event after bot initialized?
==
 BotChat.App({
        bot: bot,
        locale: params['locale'],
        resize: 'detect',
        // sendTyping: true,    // defaults to false. set to true to send 'typing' activities to bot (and other users) when user is typing
        user: user,
        // locale: 'es-es', // override locale to Spanish

        directLine: {

[2018-09-05 12:59] #1116 closed

[2018-09-05 13:06] compulim opened #1136 "Web Chat: Hands-free mode"
* [x] Start microphone after completed speaking all activities
* [x] (Optional) Programmatic access to microphone and speech synthesis

[2018-09-05 13:06] #1136 closed

[2018-09-05 15:45] iMicknl commented on #1135
You could use the `conversationUpdate` event to detect when the bot is initialised, however this isn't recommended for a welcome message. Sending a custom event activity is the recommended method.

[How to properly send a greeting message and common issues from customers](
https://blog.botframework.com/2018/07/12/how-to-properly-send-a-greeting-message-and-common-issues-from-customers/)

[2018-09-06 08:48] Primtek commented on #1135
Hi..
looks like I can follow samples/backchannel for this :) CMIIW..
I am new with this, I am not stuck on  to handle the event from the bot side code..
could you please help?
thanks a lot
===
 const botConnection = new BotChat.DirectLine({
        domain: params['domain'],
        secret: params['s'],
        token: params['t'],
        webSocket: params['webSocket'] && params['webSocket'] === 't

[2018-09-06 13:57] rosskyl commented on #1134
You can do this with the directline. Essentially you need to save the conversation id and conversation token. If you are using events then you will also need the activity id. There is an example at #946.