[2019-07-31 21:18] cwhitten commented on #2128
We'd like to chat with the Adaptive Cards team about addressing this upstream of WebChat.

[2019-07-31 21:21] #2178 closed

[2019-07-31 21:37] cwhitten commented on #2217
To maintain v3 parity we'll support this by providing a style option for format the time, initially with an `absolute` or `relative` enum

[2019-07-31 21:38] cwhitten commented on #2170
Closing. Will track on the DirectlineJS project

[2019-07-31 21:38] #2170 closed

[2019-07-31 21:40] cwhitten commented on #2076
botframework-cli beat us to it! the convention ahs been established: https://www.npmjs.com/package/@microsoft/botframework-cli/v/4.5.0

[2019-07-31 21:43] corinagum commented on #1976
This also needs to involve discussion with Adaptive Cards :)

[2019-07-31 21:47] cwhitten commented on #1961
Great idea! As part of the larger Mockbot cleanup effort (Mockbotv2) we can create a QnAMaker KB holding these FAQ's.

[2019-08-01 01:38] xtianus79 commented on #2244
@compulim oH!!! so you guys do have versions of the javascript webchat library.  Is there a repo or something to watch the versioning?  I never saw this in any documentation.  Ok so this is good. I will package this and publish this to npm.

[2019-08-01 05:44] Monomoy88 commented on #2243
Here is one sample Adaptive  card
[code]

[2019-08-01 06:45] Bradrajkumar opened #2254 "chat persistance and adding header section in webchat"
i am using the latest webchat.js.
Feature wanted are:-
1.) i want a chat persistance functonality in it(after page refresh the chat will retain in chat conversation content). i don't want to use Cosmos DB for saving the conversation data(suggest me the better way to save the conversation data).
 2.) as in V3 i have customized and added the header section (you can see on attached file). The same wa

[2019-08-01 09:57] compulim commented on #2254
1. We suggest you to store the history on server because cleaning up browser data in `sessionStorage` or `localStorage` requires manual code. Think about the user sign out on a page that do not have Web Chat on. Compare to server solution, you will need to add clean up code in a few places.
1. In v4, instead of providing you a way to customize the header, we prefer you to build the header in your

[2019-08-01 09:57] #2254 closed

[2019-08-01 09:58] compulim commented on #2244
If you look at our NPM version page here, https://www.npmjs.com/package/botframework-webchat?activeTab=versions, you can copy the version number and replace it in the URL of https://cdn.botframework.com/botframework-webchat/x.y.z/webchat.js.

[2019-08-01 15:07] tdurnford commented on #2243
@Monomoy88 is correct. Web Chat is not speaking the `speak` property in an Adaptive Card. I was able to repro his issue using the JSON he provided and with an Adaptive Card that only has the `speak` property set.

[code]

[2019-08-01 16:18] CoHealer commented on #1073
Removing @stevkan assignment as this is now an engineering work item for tracking

[2019-08-01 16:53] #2250 closed

[2019-08-01 17:45] compulim commented on #1073
Unassigning myself, we only assign work items in current iteration. This is backlog.

[2019-08-01 19:20] compulim opened #2257 "4.5.1 Pre-release checklist"
## Build

1. [x] Update `CHANGELOG.md` to mark specific changes in `4.5.1`
1. [x] Run `npm version --no-git-tag-version 4.5.1`
1. [x] Run daily pipeline manually, set "generate release version number" to `true`
1. [x] Download build artifacts
1. [x] Setup a new React app
   1. [x] `npx create-react-app app`
   1. [x] `npm install` the `.tgz` packages from artifact
   1. [x] Run the app and check i

[2019-08-01 20:14] compulim opened #2259 "4.5.1 Post-release checklist"
These are chores that we should do before starting the cycle to reduce ripple effects if we do it in mid-cycle.

## Applies to all releases

- [x] Bump `package.json` to `4.5.2-0`
- [x] Verify the build works minimally

## Applies to major/minor releases

- [x] ~Bump all dev tool chain to latest version~
   - [x] ~All NPM packages (`@babel/*`, `jest`, `lerna`, `typescript`, `webpack`, etc)~
   - [

[2019-08-01 21:27] compulim commented on #2257
Finished.

[2019-08-01 21:27] #2257 closed

[2019-08-01 21:27] compulim commented on #2259
Finished.

[2019-08-01 21:27] #2259 closed

[2019-08-01 21:38] compulim commented on #2244
We have just release 4.5.1 and have included the link to the bundle on CDN, plus the SRI hash. Hope it help.

https://github.com/microsoft/BotFramework-WebChat/releases/tag/v4.5.1

[2019-08-01 21:48] tdurnford opened #2261 "Web Chat throwing "Invalid Hook" error with React Hooks"
## Screenshots
![image](https://user-images.githubusercontent.com/17039790/62329210-16966980-b46a-11e9-8e49-89302d65ff48.png)

## Version
v4.5.0 built from master branch

## Description
The development team recently bumped Web Chat's React dependency to v16.8.6 which introduces React Hooks to Web Chat. While working on a pull request for the typing indicator, I tried to use the `useState` and `use

[2019-08-02 07:10] compulim commented on #2227
The first screenshot is from Azure Portal with Web Chat v3, and the second is from v4.

We recently bumped Web Chat in the "Test in Web Chat" blade to v4.

In Web Chat v3, we provide free trial of Bing Speech in "Test in Web Chat" blade. Since Cognitive Services team is deprecating Bing Speech around mid-October this year, we are also taking away the speech button when we bump to v4.

To use speec

[2019-08-02 07:10] #2227 closed

[2019-08-02 07:13] compulim commented on #2231
@corinagum did we fixed this in #2226?

https://github.com/microsoft/BotFramework-WebChat/commit/f5b8db54380cf0059bc0fc55fc580a2aebba0cee#diff-d77ef25d8b6a6b71d83356cce84eb046R148

[2019-08-02 09:05] saurabhgupta1090 commented on #2202
Hi
When i am using subscription key for congnitive speech service than i am getting random behavior in converting text to speech means sometime it is converting or sometime not in chrome and edge browser. Please help me out as soon as possible.

[2019-08-02 09:35] xinfli opened #2263 "Height of textbox and button in Adaptive Card is incorrect in IE11"
The height of textbox and button in Adaptive Card is incorrect in IE11.

## Screenshots

![WebChat_AdaptiveCard_Height_Problem_IE11](https://user-images.githubusercontent.com/1798198/62360483-2751e880-b519-11e9-861f-36d81d58cc63.png)

## Version

Found in v4.4.2, but still exists after updated to newest version 4.5.1

## Additional context

Found a workaround from #1836, it can be fixed with "`$("

[2019-08-02 09:40] compulim opened #2264 "Discussion: Use Travis CI for PR validation"
## Feature Request

Today, we are using VSTS build pipeline to verify if the PR is good or not.

Contributors outside of the team cannot access the result of the build pipeline, which will make it difficult for contributors to debug their build.

How about:
- We rewrite our `.travis.yml`, which will build + test Web Chat, no deployment, no secrets
- When the user fork our branch, we suggest them t

[2019-08-02 09:48] aamalhot commented on #2138
Hi Team,
We are facing the same default placeholder issue. Do we have any ETA for the fix? Also, please share any known issues/ limitations once the fix is deployed.

Thanks!

[2019-08-02 09:54] compulim commented on #2138
The PR #2206 for this issue is pending for review.

It will generate thumbnails and save it as part of the activity (i.e. channelData). The downscaling is verified to work in IE11 and all modern browsers including Safari.

[2019-08-02 17:58] corinagum commented on #2237
@maggi1129, thanks for your patience. I confirmed with the accessibility team that we want to support JAWS and Chrome. I will inform the team about this issue and get back to this once I have done some more research and have more information available.

[2019-08-02 18:02] compulim commented on #2263
I think this is Adaptive Card problem.

If you use IE11 and browse to https://www.adaptivecards.io/visualizer/index.html, you will see the button are squeezed as well.

![image](https://user-images.githubusercontent.com/1622400/62389207-1357b800-b514-11e9-96b4-bc6fbed6a55a.png)

I have submitted a bug to Adaptive Card team, https://github.com/microsoft/AdaptiveCards/issues/3301. Please track the i

[2019-08-03 02:01] stevkan opened #2265 "[Sample 08] Missing unique key on div in called activityMiddleware produces warning/error"
## Screenshots
![image](https://user-images.githubusercontent.com/18403946/62404889-ebd11180-b54c-11e9-92c3-32aba5cd7420.png)

## Version
CDN v4.5.1

## Describe the bug
In this sample, if a unique key is not assigned to the child div when `activityMiddleware` is called, then a warning/error is produced in the console with the user's first message.

## To Reproduce

Steps to reproduce the behavior

[2019-08-04 17:58] #2265 closed

[2019-08-05 06:49] saurabhgupta1090 opened #2267 "Facing inconsistent behavior while using subscription key for cognitive speech service in Chrome and Edge browsers."
Hi
When i am using subscription key for congnitive speech service than i am getting random behavior in converting text to speech means sometime it is converting or sometime not in chrome and edge browser. Please help me out as soon as possible.

[2019-08-05 16:24] corinagum commented on #2267
Assigning this to @compulim for investigation

[2019-08-05 16:32] compulim commented on #2234
@sakumaru I am working on this now.

1. For `Failed to authorize due to FailedToOpenWindow`, I tried the steps below and could not repro in Teams app and Chrome browser.
   1. Using "App Studio" > "Manifest editor", create a new app
   1. Fill out "Details" > "App details"
   1. Add a personal tab
      1. Set entity ID something unique
      1. Set content URL to https://webchat-sample-sso-teams.

[2019-08-05 16:33] corinagum commented on #2231
@compulim haha I thought you said that was a partial fix but I'm not sure what else needs to be done. One of us should test this on the Playground and report back

[2019-08-05 16:40] compulim commented on #2234
Updated, I am seeing the same problem with a free Teams account.

1. This is due to popup blocker in browser. Since the error is a popup from Teams, could you submit a feedback to Teams and ask them for a more appropriate error other than `Failed to authorize due to FailedToOpenWindow`?
1. N/A
1. Working on this.

[2019-08-05 17:24] corinagum opened #2268 "Adaptive Cards' Action Set does not work on Web Chat"
## Version
4.5.1

## Describe the bug

Adaptive Cards with action sets are not rendered in Web Chat
## To Reproduce

Steps to reproduce the behavior:

[code]
## Expected behavior

![image](https://user-images.githubusercontent.com/14900841/62482844-1dbfbf00-b76b-11e9-8000-93a7ec32cde5.png)

## Additional context

[Bug]

[2019-08-05 17:46] tdurnford commented on #2268
This seems to be related to https://github.com/microsoft/BotFramework-Services/issues/87 and appears to work correctly in Web Chat with the [workaround](https://github.com/microsoft/BotFramework-Services/issues/87#issuecomment-500662897) mentioned in the thread. This should be resolved when the Direct Line Connector Service's Adaptive Cards dependency is updated to v1.2.

![image](https://user-ima

[2019-08-05 17:50] compulim commented on #2234
For 3, although I have configured it to accept personal Microsoft accounts, looks like it is only working for `@microsoft.com` and there is no way to enable it.

I am going to take out the instructions for simple hosting since it is not working and sounds like there are no ways to make it work outside of `@microsoft.com`.

[2019-08-05 19:16] #2234 closed

[2019-08-05 19:33] compulim commented on #2029
Working on this, trying to repro it in SharePoint.

[2019-08-05 20:53] #2138 closed

[2019-08-05 21:12] tdurnford commented on #2205
The text block overflowing the container appears to be an issue with Adaptive Cards. I opened an issue in their GitHub Repo https://github.com/microsoft/AdaptiveCards/issues/3311

[2019-08-05 21:20] #2205 closed

[2019-08-05 21:45] Joombalaya opened #2271 "Webchat cdn issue?"
## Screenshots

![image](https://user-images.githubusercontent.com/8886779/62496914-02bb7200-b7a0-11e9-9f0a-5ce24ceb5fc1.png)

## Version

https://cdn.botframework.com/botframework-webchat/latest/webchat.js

## Describe the bug

crashes after I send my first response to the server. Server is successfully getting message and sending back. Only using the example code to run. Was running fine but sta

[2019-08-05 21:48] tdurnford commented on #2181
After testing older versions of Web Chat, I appear to be wrong. The `speak` property in the channel data acts as a boolean value and has no effect on what is actually spoken. If the developer wants Web Chat to speak without the user having to speak to it first, they should set the `speak` attribute to `true`. Not sure if this is documented anywhere.

[code]

This also appears to work correctly whe

[2019-08-05 21:48] #2181 closed

[2019-08-05 21:52] compulim commented on #2029
Same issue on Stack Overflow, https://stackoverflow.com/questions/57325439/how-to-fix-microphone-accessing-being-blocked-in-an-iframe-which-only-affects-go.

[2019-08-05 21:56] compulim commented on #2271
@Joombalaya we copied the HTML file and hosted locally on our box. Nothing seems wrong, we can chat with the bot.

Could you give us more details on this?

[2019-08-05 22:27] compulim commented on #2029
My investigations is as follow.

## Why it work in Edge by not Chrome?

- Chrome implemented a new feature called [Feature Policy](https://developers.google.com/web/updates/2018/06/feature-policy)
   - This feature, block microphone access by default, unless the hosting HTML unblock it by appending an attribute to it, like `<iframe allow="microphone *">`
- Edge, didn't implement Feature Policy yet

[2019-08-05 22:37] compulim commented on #1518
We should have this feature after recent package bump.

Now what to do next with this very cool feature? 🤔🤩

[2019-08-05 22:37] #1518 closed

[2019-08-05 22:39] compulim commented on #1515
The feature is done.

[2019-08-05 22:39] #1515 closed

[2019-08-05 22:41] #1513 closed

[2019-08-05 22:41] compulim commented on #1517
The feature is done.

[2019-08-05 22:41] #1517 closed

[2019-08-06 00:54] #2248 closed

[2019-08-06 02:05] #1514 closed

[2019-08-06 02:05] #2245 closed

[2019-08-06 02:47] compulim commented on #1735
Should be fixed.

[2019-08-06 02:47] #1735 closed

[2019-08-06 05:16] Bradrajkumar commented on #2254
@compulim  in webChat V3 i found that we are creating element like :- "o.createElement" which was easy to render the custom div elements in webchat. can we do this in Webchat V4 without using Html Code? as i was looking for the classes where it is rendering but i didn't find the exact place. please, help me with this.

[2019-08-06 05:25] compulim commented on #2254
I am talking something like this. You create your own header in HTML.

[code]

If you don't prefer HTML, you can write it in JavaScript by manipulating DOM elements.

[code]

We no longer provide header customization. If dev could do it in HTML naturally, we shouldn't ask developers to learn something new/complicated to achieve what was simple and intuitive.

[2019-08-06 05:27] Bradrajkumar commented on #2254
i got it. Thankyou

[2019-08-06 08:55] Bradrajkumar opened #2272 "Quick Reply Buttons"
i want to use normal button rendering on webchat V3 as quick reply button on webchat.
is it possible to interpret it on webchat using javascript or jquery.
![Screenshot (322)](https://user-images.githubusercontent.com/34365788/62526001-05789e80-b856-11e9-8684-91cabfd5902d.png)

[2019-08-06 10:44] compulim commented on #2261
After some investigations, the core reason is, Webpack doesn't play well with `npm link` (via `lerna`), thus, multiple copies of `react` are being loaded. And React hooks doesn't like multiple copies of React.

- We should not include `react` and `react-dom` in `bundle` as dependencies in any case (we are component package, should never bring the framework)
   - We should include `react` and `reac

[2019-08-06 13:55] Joombalaya commented on #2271
@compulim I went ahead and recloned the sample. The only thing I do differently than the sample is use https://directline.botframework.com/v3/directline/tokens/generate and put in my secret from azure channels directline page. I am getting a token back successfully and the page initially loads fine, but crashes after I send one message through.

[2019-08-06 16:14] corinagum commented on #2272
Hi @Bradrajkumar, unfortunately no longer support forks of v3 of Web Chat. However, because React and jQuery don't mix well, I do not recommend using jQuery to  make changes to the DOM.

Please note that v3 is in sunset and we strongly recommend bumping to v4 of Web Chat before October of this year. Please check out the [Migration Guide](https://github.com/microsoft/BotFramework-WebChat#migrating-

[2019-08-06 16:14] #2272 closed

[2019-08-06 16:23] corinagum commented on #2271
This sounds like your app is crashing and you need to implement those fixes. Since the logs are not producing errors, I believe this is related to your app and not to Web Chat or your bot. `internalValidateProperties` is not within the scope of Web Chat so we will not be able to help you.

[2019-08-06 16:23] #2271 closed

[2019-08-06 16:24] corinagum commented on #2268
Closing this issue since it's external to Web Chat. Please use the above link for tracking. :)

[2019-08-06 16:24] #2268 closed

[2019-08-06 16:28] tdurnford commented on #2271
@Joombalaya

Here is an example of how you should generate your Direct Line token. Note, this is only for simplicity, and you should never expose your secret to the client.

[code]

[2019-08-06 16:29] corinagum opened #2273 "Accessibility: Scan mode not functioning as expected on NVDA or Narrator"
## Version

4.5.1

## Describe the bug

In Narrator and NVDA, users are unable to navigate through the transcript using AT navigation in scan mode. This makes it impossible to go through the transcript after the screen reader has read out the original received activities.

## Expected behavior
Scan mode working as expected is minimal functionality necessary to be able to review the transcript.

##

[2019-08-06 17:02] compulim commented on #1912
I think we need to make our sample better by default, so people don't fall into this hole.

You are right, the Cognitive Services package support Promise for authorization token. We should update our sample so it will call/cache the authorization token.

[2019-08-06 17:24] compulim commented on #1912
We could use some code similar to this. It will only refresh the token after 10 minutes and cache it through memoization.

[code]

[2019-08-06 18:38] Joombalaya commented on #2271
Look at the console error log. That is happening in YOUR CDN. I only mentioned that MY SERVER logs don't show errors. YOUR CDN shows errors. That was to illustrate that MY SERVER is not having issues.

[2019-08-06 18:47] compulim commented on #2271
Did you add any code to the page? In the console log, we are seeing something weird.

![image](https://user-images.githubusercontent.com/1622400/62567338-d5be9c00-b83f-11e9-982d-6e40d6bcafee.png)

[2019-08-06 18:51] Joombalaya commented on #2271
That's is a line that says console.log("FOCUSED"); was put in to show when an element gained focus to trip a conversation, but I have tried the same things with ONLY the sample code with nothing else added. I have also tried the example solution that was provided and got the same errors.

[2019-08-06 18:59] compulim commented on #2271
Trying our best to help.

`internalValidateProperties` is something from Adaptive Cards. Is your message triggering any response from Adaptive Cards? AFAIK, [this line is failing](https://github.com/microsoft/AdaptiveCards/blob/705e1a5a1e5e29a4aad4c14feb1b3144de91e775/source/nodejs/adaptivecards/src/card-elements.ts#L2251).

If your bot respond with an Adaptive Cards, could you attach it here?

[2019-08-06 19:03] Joombalaya commented on #2271
return CardFactory.adaptiveCard({
            "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
            "type": "AdaptiveCard",
            "version": "1.0",
                "body": [
                    {
                        "type": "ColumnSet",
                        "columns": [
                            {
                                "type": "Column",

[2019-08-06 19:56] tdurnford commented on #2271
Can you please try your bot with this Adaptive Card?

[code]

![image](https://user-images.githubusercontent.com/17039790/62572846-8715ff80-b849-11e9-9637-51ad29d3bb05.png)

[2019-08-06 20:08] Joombalaya commented on #2271
@tdurnford Same behavior. Works in Azure "Test in Web Chat" sn:
![image](https://user-images.githubusercontent.com/8886779/62573591-ff85bc00-b85b-11e9-8cff-0f100ab77247.png)

Still loads initially in browser and then crashes after first thing is passed back.

[2019-08-06 20:23] Joombalaya commented on #2271
quick correction. The card I was sending was actually.
{
            "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
            "type": "AdaptiveCard",
            "version": "1.0",
            "body": [
                {
                    "type":"TextBlock",
                    "textFormat":"xml",
                    "text":"Please enter the following information",

[2019-08-06 20:30] tdurnford commented on #2271
I don't believe Text Blocks in Adaptive Cards have a text format field, so that would like cause the renderer to fail. Take a look at the schema documentation. https://adaptivecards.io/explorer/TextBlock.html

[2019-08-06 20:33] xtianus79 opened #2275 "Is the activating a chat bot by the directLine postActivity best practice?"
🚨 The issue tracker is not for implementation questions 🚨

[Question]
I guess this is a couple questions about activating a chat bot once the client enters the endpoint of the chatbot?  Upon using the renderChatBot webchat api and creating a directLine instance a directLine.postActivity() method can be fired off to initiate the bot so if there is a welcome card it will trigger and introduce itself

[2019-08-06 20:39] xtianus79 opened #2276 "breaking change to adaptive cards in v4.5.2-0"
## Screenshots

## Version
4.5.2-0

## Describe the bug
The new webchat version breaks adaptive cards. All of the adaptive card hows as is the text bubble that is behind it with code html inside of the text bubble.

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Additional context

[Bug]

[2019-08-06 20:42] compulim commented on #2275
In the shoes of DirectLineJS, yes, this is the correct way to do it. You need to be careful if the connection is not established, this `postActivity` may fail. You should wait until `connectionStatus$` turns to `2` (online). Also note connection may get interrupted from time to time.

In Web Chat, the code is still working fine. If you are looking for sending a message (instead of event), the bett

[2019-08-06 20:42] #2275 closed

[2019-08-06 20:59] Joombalaya commented on #2271
@tdurnford I think I conflated this doc https://docs.microsoft.com/en-us/javascript/api/botframework-schema/activity?view=botbuilder-ts-latest with valid fields for cards.  So removing that makes sense. So I made the changes to my original card so that it wouldn't have that field plus I moved the schema line and removed a width field in a Input.Text field cause the docs don't show that it has that

[2019-08-06 21:21] corinagum commented on #2276
4.5.2 is not released yet. Do you mean you are using master bits?

Please provide screenshots and/or repro steps so we know what to look for. I tested master bits just now and didn't run into any problems with adaptive cards.

[2019-08-06 21:29] tdurnford commented on #2271
@Joombalaya I can't see anything wrong with it on the surface, but I'm not an Adaptive Cards expert. I would recommend you build your cards with the [Adaptive Cards Designer](https://adaptivecards.io/designer/) so you know they will render correctly in Web Chat.

[2019-08-06 21:48] corinagum opened #2277 "Carousel Layout text activities are repeated multiple times by AT due to nesting <Bubble>"
## Version 4.5.1

## Describe the bug

## To Reproduce

Steps to reproduce the behavior:

1. Open Mock Bot
2. Turn on Narrator (Edge) or NVDA (Chrome)
3. Type 'layout carousel' into Mock Bot
4. Note that the text activities (non-Markdown) are read multiple times

## Expected behavior

Text activities in carousels should only be read once. This is caused by the nesting of <Bubble> in `<CarouselLayo

[2019-08-06 21:58] compulim commented on #2271
@Joombalaya do you think it is caused by the extra commas in some of the lines?

For example, 3 lines up of the `$schema`, there is an extra comma. And there are multiple in the JSON. Could you run it thru a JSON validator and see?

[2019-08-06 23:23] Zuitman commented on #1534
@corinagum @EricDahlvang Are there any updates to this thread? A token server feels overkill for my needs but at this stage seems like the only solution i can find.

[2019-08-07 01:07] xtianus79 commented on #2275
@compulim when I am referring to directLine I mean the directLine from the WebChat.createDirectLine(). So specifically I am talking about activating the webchat bot when the user enters the application...

[2019-08-07 01:11] xtianus79 commented on #2276
@corinagum I have included a screenshot and yes these are master bits

<img width="443" alt="adaptiveCardError" src="https://user-images.githubusercontent.com/8476336/62587177-a420f180-b88e-11e9-891c-f2fc3c5d4a05.png">

[2019-08-07 04:52] blrchen commented on #2203
+!

[2019-08-07 04:56] #2273 closed

[2019-08-07 06:17] tdurnford commented on #2276
Can you include your Adaptive Card JSON? Are you using Web Chat's Attachment middleware? Not sure why it would be saying there isn't a renderer for an Adaptive Card.

[2019-08-07 06:22] tdurnford commented on #2275
Somewhat related to https://github.com/microsoft/BotFramework-DirectLineJS/issues/184#issuecomment-505162246

[2019-08-07 06:55] compulim opened #2279 "4.5.2 Release checklist"
## Build

1. [x] Update `CHANGELOG.md` to mark specific changes in `4.5.2`
1. [x] Run `npm version --no-git-tag-version 4.5.2`
1. [x] Run daily pipeline manually, set "generate release version number" to `true`
   - The build number is `74333`
1. [x] Download build artifacts
1. [x] Setup a new React app
   1. [x] `npx create-react-app app`
   1. [x] `npm install` the `.tgz` packages from artifact

[2019-08-07 06:56] compulim opened #2280 "4.5.2 Post-release checklist"
These are chores that we should do before starting the cycle to reduce ripple effects if we do it in mid-cycle.

## Applies to all releases

- [x] Bump `package.json` to `4.5.3-0`
- [x] ~Verify the build works minimally~
   - Does not apply to `qfe` release, because we cherry-pick from `master` to `qfe`, no modifications done to `master` (minus the version bump)

## Applies to major/minor releases

[2019-08-07 07:03] compulim commented on #2275
@xtianus79 Yap, even `createDirectLine` is called, you will need to wait a few moment until it is connected. @tdurnford comment should be good starting point to read how it works. 😄

[2019-08-07 08:29] #2261 closed

[2019-08-07 16:49] compulim opened #2298 "Microphone button is disabled/greyed after sending the first message"
## Notes to fixer

- Make sure if synthesis failed, we will not gray out the microphone

## Version

What version of the Emulator are you using?

## Describe the bug

Customer has added speech functionality to Bot. When they test the Bot with Web Chat, they do not see any issue. But when testing the Bot with Emulator (v4), the customer sees that the microphone icon gets disabled (greyed out) after

[2019-08-07 18:14] guadalupejaime opened #2281 "integrated webchat with js does not work"
I created a chatbot with the virtual assistant template and the web chat works fine with the iframe, but it doesn't work when I integrate it with js in any browser, what can I do?

[2019-08-07 18:55] corinagum commented on #2281
Please feel free to peruse our [samples](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples), which provide a lot of ideas and foundation for customizing your version of Web Chat.

'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own fea

[2019-08-07 18:55] #2281 closed

[2019-08-07 19:01] compulim commented on #1534
I casually talked to the service team few days ago. They didn't exactly like the idea of using HTTP referrer header to get the authorization token, on a security standpoint.

Yes, token server feels overkill but it is inevitable until we figure out a good solution.

@Zuitman it will be great if you could file an issue to https://github.com/microsoft/botframework-services and talk about how to simp

[2019-08-07 19:05] compulim commented on #1534
@Zuitman I bet you already know how to write a token server. But @corinagum still wants me to give you a bit reference on that. 😆

In our MockBot (the bot we use to test Web Chat), you can find the token server implementation here, https://github.com/compulim/BotFramework-MockBot/blob/master/src/index.ts#L134.

This work is more-or-less:

1. Refactor the token server from MockBot into a standalone

[2019-08-07 20:57] compulim opened #2282 "Cognitive Services: default voice changed"
## Version

`master`

## Describe the bug

The default voice used in Cognitive Services changed. This is probably because we now sort the voice list, and the other voice come up on the top.

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://webchat-playground.azurewebites.net/
2. Click on microphone, say something

## Expected behavior

Web Chat should speak back bot's response w

[2019-08-07 22:26] compulim commented on #2279
Done. 4.5.2 is out on NPM and CDN.

[2019-08-07 22:26] #2279 closed

[2019-08-07 22:29] compulim commented on #2280
Done.

[2019-08-07 22:29] #2280 closed

[2019-08-07 23:09] corinagum opened #2285 "Improvements to Web Chat a11y"
## Feature Request

**Describe the suggestion or request in detail**

From my recent work on a11y, I have suggestions I want to broach on small improvements to make on AT experience in Web Chat.

- `aria-label` for both the Transcript (role of log) and Connection status (role of status) section of the app

I will keep adding brainstorming ideas here as I receive them / think of them.

[Enhancement

[2019-08-07 23:36] xtianus79 commented on #2275
@tdurnford Yes, exactly what I was wondering lol you always have those exact answers. @compulim just to ask there's no real reason in a production bot to go beyond that initial post activity for a back-channel event starter?  Wanted to confirm that.

[2019-08-08 02:45] tdurnford commented on #2275
@xtianus79 if you’re trying to send a Welcome Message in Web Chat, you might also want to look at https://github.com/microsoft/BotFramework-WebChat/issues/2120#issuecomment-516056614.  There have been some recent changes to the Direct Line Connector Service that might simplify things for you.

[2019-08-08 04:33] sgellock commented on #2267
We should engage the cog svc team.  this seems like it might be their issue to address.

[2019-08-08 04:45] compulim commented on #2267
Hi @saurabhgupta1090, could you give us some contexts on it?

Do you have repro steps for the problem?

Do you see anything in the console? You can open console in developer tool by <kbd>F12</kbd> and refresh the page.

If your bot is public, could you send us the URL so we could try out on our end?

It would be great if you could fill out our bug template, which give us more information on diagno

[2019-08-08 05:07] Bhushangholap opened #2288 "AdaptiveCard issue with webchat.js DirectLine"
When i am trying to show below adaptive card in directline whole page goes blank and i see below error console log of browser, However it works fine with emulator as well as Iframe or botchat :

Adaptive Card Json :

[code]

## Screenshots
Error we see in browser console :
![error](https://user-images.githubusercontent.com/24426300/62676330-26f99780-b9c8-11e9-93fd-12ea7778431d.jpg)

[Bug]

(Edited

[2019-08-08 05:51] compulim commented on #2288
Looks like your Adaptive Card JSON doesn't follow the schema correctly. If you copy-and-paste the JSON into [Adaptive Cards Visualizer](https://adaptivecards.io/visualizer/index.html?hostApp=Bot%20Framework%20WebChat) or [Designer](https://adaptivecards.io/designer/), you will hit the same issue.

You should change:

[code]

to

[code]

[2019-08-08 05:51] #2288 closed

[2019-08-08 09:30] vijaysaimutyala opened #2289 "Enable HTML formatting in Web Chat Channel for V4"
We want to migrate from WebChat V3 to V4. We're using only Web Chat channel and have enabled HTML using the suggestion [here](https://blog.botframework.com/2017/09/07/html-not-supported-web-chat/). I'm trying to build the V4 after cloning the project.

However, I was not able to find the botchat.css and botchat.js files as seen in V3. Our main customization goal is to be able to display HTML forma

[2019-08-08 15:10] tdurnford commented on #2289
This looks like a duplicate of this [Stack Overflow](https://stackoverflow.com/questions/57387730/botframework-web-chat-v4-build-and-generate-custom-css-and-js-file/57398108#57398108) questtion. Web Chat no longer generates css files.

[2019-08-08 15:12] corinagum commented on #2289
Please take a look at our branding samples to learn more about styling in v4.

[2019-08-08 15:12] #2289 closed

[2019-08-08 15:21] vijaysaimutyala commented on #2289
@coringaum @tdurnford Yeah, I understand that Web Chat does not generate css files anymore. U was just looking for a way to know how can I enable HTML on WebChat

[2019-08-08 15:30] tdurnford commented on #2289
Can you be more specific with your question? I'm not entirely sure what you mean by "how can I enable HTML on WebChat." It's a fairly broad topic.

[2019-08-08 15:35] vijaysaimutyala commented on #2289
There's a provision in the V3 of Web Chat where I can enable displaying HTML formatted text like tables, colored text etc..in the Web Chat in addition to the default markdown that Web Chat supports. The link in my original issue/question explains how to enable this.

[2019-08-08 15:40] tdurnford commented on #2289
You can send an activity from the bot with Markdown which Web Chat renders into HTML. Is this what you are looking for?

**Bot Framework SDK v4 (Node)**
[code]

**Screenshot**
![image](https://user-images.githubusercontent.com/17039790/62717048-045f8280-b9b8-11e9-81c6-1d2813e975b1.png)

[2019-08-08 15:53] tdurnford commented on #2289
Alternatively, you can create your own render markdown function that has HTML enabled and pass that as a prop to Web Chat. Then in the markdown string you send to Web Chat from your bot you could include basic HTML.

[code]

[2019-08-08 15:54] vijaysaimutyala commented on #2289
@tdurnford Almost yes. But the tables we wanted to display do not actually look good when MarkDown renders them. I am looking at something like below. This is what we have currently implement customizing Web Chat V3.

![image](https://user-images.githubusercontent.com/7084628/62718074-c9466900-ba22-11e9-9ccb-0227da1894de.png)

The tables rendered by MarkDown do not look as good as the one in the s

[2019-08-08 15:59] vijaysaimutyala commented on #2289
This is what I was looking at. For V3 I've altered the html to true from false and build the css and js files. So does this markdown function now go into the index.html page  ?

[2019-08-08 16:05] tdurnford commented on #2289
What is the markdown string you are sending? Tables should look like this:

**Bot Framework SDK v4 (Node)**
[code]
**Screenshot**
![image](https://user-images.githubusercontent.com/17039790/62718816-72597900-b9bb-11e9-9220-1dc4c08b2f48.png)

And yes, the Markdown function would go in the index.html file.

[2019-08-08 16:42] vijaysaimutyala commented on #2289
I cannot provide an example of MarkDown table right now. But I've worked on it earlier and the results are not that good. I'm adding the MarkDown render as you suggested. I'll get back in case I've any issues. Thanks for the help @tdurnford

[2019-08-08 16:59] vijaysaimutyala commented on #2289
Got it working @tdurnford . Biggest of the issues solved. Thanks

![image](https://user-images.githubusercontent.com/7084628/62722424-fe0aee00-ba2b-11e9-9175-bb54ea4fbb6c.png)

[2019-08-08 17:08] guadalupejaime opened #2291 "LUIS does not work when I integrate bot with webchat.js in any browser"
Hello, I created a chatbot in C#  with my virtual assistant template and the web chat works fine with the iframe

[code]

but LUIS doesn't work when I integrate it with js in any browser

[code]

What can I do for this to work? I already tried to make it work by adding the secrets of webchat and directline.

This is the location of the error it send me:

[code]

which is in the startup.cs file:

[

[2019-08-08 17:36] guadalupejaime opened #2290 "LUIS does not work when I integrate webchat with js in any browser"
Hello, I created a chatbot in C# with my virtual assistant template and the web chat works fine with the iframe
`<iframe src='https://webchat.botframework.com/embed/NAME_OF_BOT?s=YOUR_SECRET_HERE' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>`

but LUIS doesn't work when I integrate it with js in any browser

`<div id="webchat" role="main"></div>`
`<script src="https://cdn.bo

[2019-08-08 18:00] tdurnford commented on #2290
Closing as this appears to be a duplicate of https://github.com/microsoft/BotFramework-WebChat/issues/2291

[2019-08-08 18:00] #2290 closed

[2019-08-08 18:06] tdurnford commented on #2291
@guadalupejaime Does your bot work in the Test in Web Chat blade in the Azure portal?

[2019-08-08 18:13] guadalupejaime commented on #2291
@tdurnford yes, the bot work in Test in Web Chat

[2019-08-08 18:26] #2231 closed

[2019-08-08 18:33] compulim commented on #2291
What happened when it is not working? Do you see something strange/red in the developer tool console?

FYI, "Test in Web Chat" blade should be using Web Chat 4.3.0.

[2019-08-08 21:31] tdurnford commented on #2291
This also looks like a duplicate of this Stack Overflow [question](https://stackoverflow.com/questions/57401338/luis-does-not-work-when-i-integrate-bot-framework-v4-with-js-in-any-browser).  @guadalupejaime  can you try @stevkan's recommendations and let us know if his answer resolves your issue?

[2019-08-09 03:53] compulim commented on #2276
And, which variant of bundle are you using? We provided "minimal", "full", and "ES5". If you are using "minimal" bundle, it doesn't contains Adaptive Cards component.

[2019-08-09 07:51] compulim opened #2292 "Select voice based on gender or content of activity"
## Feature Request

Ability select voice based on gender or content of activity, and also by providing custom voice model name.

This select voice predicate today is based on activity locale, UI language, and browser language only. It currently lives in [`component/src/Activity/Speak.js`](https://github.com/microsoft/BotFramework-WebChat/tree/master/packages/component/src/Activity/Speak.js).

[cod

[2019-08-09 07:55] iMicknl commented on #2292
@compulim will this also include support for [Custom Voice](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-voice-create-voice) or is it already possible to choose a custom voice model.

[2019-08-09 08:07] compulim commented on #2292
Oh right, thanks for reminding me.

Custom Voice support is recently added (last week) to the adapter, but Web Chat did not provide a way to use it yet. This work should also allows developers to select voice by simply providing the model name.

BTW, you can [try out our Web Speech API adapter](https://compulim.github.io/web-speech-cognitive-services) for Custom Voice font support. You would need

[2019-08-09 10:52] saurabhgupta1090 commented on #2267
Hi compulim,
Thanks for your response. Our bot is not public so i can not share the URL. Actually we are using this sample code base for integrating speech service in our bot
https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.c.cognitive-services-speech-services-js

Regards,
Saurabh Gupta

[2019-08-09 10:58] Bhushangholap commented on #2268
Workaround mentioned in above link is not working for below json for ActionSet :
Json :
{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "1.0",
    "body": [
        {
            "type": "TextBlock",
            "text": "I'm trained to help you:",
            "wrap": true,
            "weight": "Bolder"
        },
        {

[2019-08-09 14:42] tdurnford commented on #2268
@Bhushangholap  It seems to work fine with Adaptive Cards Action Sets.

**Screenshot**
![image](https://user-images.githubusercontent.com/17039790/62786885-5f58ae80-ba78-11e9-8c51-eb83e379ee00.png)

**Bot Framework SDK v4 (Node)**
[code]

[2019-08-09 15:43] Bhushangholap commented on #2268
this is directline client :
<!DOCTYPE html>
<html>
   <body>
      <div id="webchat" role="main">
      <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
      <script>
	   const attachmentMiddleware = () => next => card => {
  if (card.attachment.contentType === 'application/vnd.microsoft.card.custom'){
    card.attachment.contentType = 'application/vnd.m

[2019-08-09 17:28] kevmojay opened #2294 "Slow Response time on long running tab sessions (likely a websocket reconnection problem)"
## Version

Forked from 1.45.0

## Describe the bug

We are finding that occasionally the bot takes a very long time to respond (somewhere around a minute.

We did some investigative work and we have a running theory.

The most reliable way for us to reproduce it is to open a chrome tab with the webchat, have your computer go to sleep for a few minutes (about 5) re-open it and resume the chat.

Ou

[2019-08-09 18:19] cwhitten commented on #2203
Hello @abishekreddy. Thank you for opening this issue. This is a great feature and we want to scope and prioritize this. It it unlikely that we will have this built in to the product by the end of the calendar year. We'll keep this issue open and will report updates here.

Thanks again!

[2019-08-09 18:28] compulim commented on #2294
Love your technical deepness and curiosity, and excellent explanation. So I am wearing my technical hat to give you as much details as I could.

- Web Socket doesn't work across sleeps I believe, including switching apps on iPhone, they will get killed
   - Today, Web Socket doesn't have a good connection detection algorithm
- [DirectLineJS](https://github.com/microsoft/BotFramework-DirectLineJS)

[2019-08-09 18:38] kevmojay commented on #2294
@compulim Thank you for the response!

[2019-08-09 21:20] compulim opened #2297 "Embed: some browsers/polyfills broke URLSearchParams.toString"
## Screenshots

In embed, when we call something similar to `new URLSearchParams({ abc: 123 }).toString()`, it returns `"object Object"` instead of `"abc=123"`.

## Version

4.3.0 (latest production of embed as of now)

## Describe the bug

When "Test in Web Chat" blade is opened, the URL it is pointing to become "/config?%5Bobject+Object%5D=".

It seems related to this part of code, https://githu

[2019-08-10 02:43] compulim commented on #2158
Reopening, we still have the input hint need to be tested.

[2019-08-10 23:27] guadalupejaime commented on #2291
Stevkan's suggestion didn't work for me.
This is the error it send me:
`public class DefaultAdapter : BotFrameworkHttpAdapter`
   ` {
        public DefaultAdapter(
            BotSettings settings,
            ICredentialProvider credentialProvider,
            IBotTelemetryClient telemetryClient,
            BotStateSet botStateSet)
            : base(credentialProvider)
        {
            On

[2019-08-11 00:09] compulim commented on #2291
@guadalupejaime

Could you send us the error message? Do you get the error in C#, or in a browser?

[2019-08-11 00:40] guadalupejaime commented on #2291
@compulim in all browsers

[2019-08-11 00:41] guadalupejaime commented on #2291
locally and in the test in webchat it work fine

[2019-08-11 00:47] guadalupejaime commented on #2291
and I created another chatbot with the virtual assistant template from scratch and it doesn't work with webchat.js

[2019-08-11 01:01] compulim commented on #2291
Can you send us the error to look at?

Also, I am quite confused with your last 3 messages.

You said you received the error "in all browsers". And Web Chat "works locally and in the test in webchat". And you created another VA bot and "it doesn't work with Web Chat". Is that correct?

[2019-08-11 01:03] guadalupejaime commented on #2291
it not work when I integrate bot with webchat.js, only in js

[2019-08-11 01:05] guadalupejaime commented on #2291
I don't know how to debug it from the browser but the error code that it sends is the one I put above

[2019-08-11 01:08] compulim commented on #2291
I didn't see any error or error code above.

[2019-08-11 01:08] guadalupejaime commented on #2291
the bot works in https://webchat.botframework.com/embed/NAME_OF_BOT?s=YOUR_SECRET_HERE but not with
`<div id="webchat" role="main"></div>`
  `<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>`
  `<script>
     window.WebChat.renderWebChat(
        {
           directLine: window.WebChat.createDirectLine({
              secret: 'YOUR_DIRECT_LINE_SECRET'

[2019-08-11 01:12] guadalupejaime commented on #2291
every time I try to send a message the bot enters the following code:
[code]

which is in the startup.cs file:

` services.AddSingleton<IBotFrameworkHttpAdapter, DefaultAdapter>();`

[2019-08-11 01:15] compulim commented on #2291
What is the error?

[2019-08-11 01:45] guadalupejaime commented on #2291
await turnContext.SendActivityAsync (MainStrings.ERROR); I know that the bot is entering this line because I changed the "ERROR" message to another one that I edited

[2019-08-11 01:49] compulim commented on #2291
Now I understand.

Could you send us the content of the `exception` object you got in `OnTurnError`? I.e. the `exception` object on this line.

[code]

[2019-08-11 02:46] guadalupejaime commented on #2291
Appication Insights send me this Error: The given key 'es' was not present in the dictionary.

[2019-08-11 02:54] compulim commented on #2291
Do you have the full exception object? The stack trace inside the exception object would be helpful to find out which line asking for the key "es".

[2019-08-11 03:12] guadalupejaime commented on #2291
Could it be the language? when I use the bot at webchat.botframework.com/embed / ... I receive the message "" write your message ... and when I integrate it with js it appears in Spanish "Escribe tu mensaje..."
How can i change it to english?

[2019-08-11 03:13] guadalupejaime commented on #2291
Could it be "Es" of "Español"?

[2019-08-11 03:41] guadalupejaime commented on #2291
I changed the code to this:
[code]

[2019-08-11 03:41] #2291 closed

[2019-08-11 04:01] compulim commented on #2291
If you found out the offending code (finding key "es") is actually on Web Chat, Bot Builder SDK or VA. Please feel free to reopen this bug and point us to it. Happy to fix. 😉

[2019-08-12 07:41] cmevawala opened #2301 "WebChat v4: iOS : Disable bounce / rubber-band scroll / elastic-scroll in ios"
## Screenshots

![ezgif com-video-to-apng](https://user-images.githubusercontent.com/3982352/62850941-2e8baa00-bd02-11e9-972a-3b26c16b901c.png)

## Version

Version: v4
WebChat Embedded into an Iframe: Yes

## Describe the bug

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Additional context

[Bu

[2019-08-12 10:34] Bradrajkumar commented on #1397
how to send the post activity for any event type from webchatV4? please provide me the exact syntax and dummy code.

[2019-08-12 10:40] Bradrajkumar opened #2302 "sending postActivity type "event" from webchat V4"
i want to send a post activity to get a welcome message/ other message using activity type as "Event" on webchat v4. please suggest me the syntax with example to do this.

[2019-08-12 11:31] compulim commented on #2302
**Please do not post questions on GitHub. And please fill out our template.**

This sample should might your need, https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/15.c.programmatic-post-activity.

[2019-08-12 11:31] #2302 closed

[2019-08-12 14:18] xtianus79 commented on #2276
@compulim when you say minimal do you mean minified?

[2019-08-12 17:05] corinagum commented on #2301
Hi @cmevawala, to my knowledge Web Chat does not have an elastic scroll feature enabled to the `scrollToEnd()` function, and there should be no bounce. Is it possible the host app of your version of Web Chat has this elastic scroll feature?

I tried this out with Mock Bot on a plain html page on iOS using embedded Web Chat and I was unable to reproduce the behavior you show/describe. Please test y

[2019-08-12 17:32] cmevawala commented on #2301
If possible, could you please attach a screen shot where you tried to reproduce this issue. This could be really helpful.

Well the Host App is an Hybrid App built using Apache Cordova App. We don't have an access to this hybrid app source code as this is a third party app. Is there any way to find whether it is caused by the Host Application or not?

Thank you!

[2019-08-12 17:51] corinagum commented on #2301
Please see above: testing on a plain HTML page should verify the default behavior.
![ezgif-5-3b3f809841bd](https://user-images.githubusercontent.com/14900841/62885979-0181cc00-bcef-11e9-9cd9-a852d05a2586.gif)

[2019-08-12 18:24] cmevawala commented on #2301
Thank you

[2019-08-12 19:35] navzam opened #2303 "Samples 19a and 19b: README has wrong ports"
## Describe the bug

In samples 19a and 19b, the site is hosted on `localhost:5000`:
https://github.com/microsoft/BotFramework-WebChat/blob/ca62ce2791d4aa11dc9442543d72ef304ea2a44d/samples/19.b.single-sign-on-for-intranet-apps/web/src/index.js#L13
but the `README` gives instructions for port `3000`. For example (non-exhaustive):
https://github.com/microsoft/BotFramework-WebChat/blob/ca62ce2791d4aa

[2019-08-12 20:39] compulim commented on #2232
Few things we should look at when implementing the fix. We should use Adaptive Card host config as much as we could.

1. Can we set background color using host config?
   - If yes, in Web Chat default host config, we should send the background color, and let developer override it using Adaptive Card host config (not style options)
   - If no, we need a style options here
      - Should the style o

[2019-08-12 20:52] tdurnford commented on #2232
It's not documented in the Adaptive Cards [Host Config Schema](https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/host-config#containerstylesconfig), but you can set the background color of Adaptive Cards through the host config. I believe you have to pass the whole host config to Web Chat though. It's not configured to do a deep merge at the moment.

**Web Chat**
[code]
**Screenshot*

[2019-08-12 21:00] compulim commented on #2303
In 19.a, we are hosting a few servers here:

- In development mode
   - React app: on port 3000, it will proxy to port 5000 for all REST API calls
   - Bot: on port 3978
   - REST API: on port 5000
   - At 30,000-feet level, end-user entry point is at port 3000
      - `/api/*` goes to port 5000
      - `/**/*` served locally thru `webpack-dev-server` configured by `create-react-app`
- In producti

[2019-08-12 21:32] stevkan commented on #2232
TJ is correct in that the entire HostConfig must be passed in. While adaptive cards do not require any of the properties, if any are removed it will break in web chat.

I do have the card styling working via updating the HostConfig and passing it in. However, unless I misread the initial request, he also wants to style the border differently when an adaptive card is used.

In this scenario, I have

[2019-08-12 22:13] navzam commented on #2303
@compulim I'm unclear (in 19b development mode, for example) how the user entry point is at port 3000 if the web app is on port 5000. Maybe I'm missing a step, but when I run the sample, I can't reach `http://localhost:3000/`. I have to go directly to `http://localhost:5000/`

[2019-08-12 22:16] compulim commented on #2232
I think the bubble border is owned by Web Chat and should not be removed for Adaptive Cards. This is because Adaptive Cards own the content, not the container.

And for additional styles, developers should use Adaptive Card host config. This includes button colors, image heights, etc. If these styles cannot be tweaked using Adaptive Card host config, a new issue should be filed to Adaptive Card to

[2019-08-12 22:16] corinagum commented on #2232
Coupling the Adaptive Cards styling to our style options is not recommended in my opinion. That would mean that we would much more closely need to monitor any and all changes the AC repo makes on their styling.

Instead of making the entire Adaptive Card style-able in the defaultStyleOptions, I think the direction we want to go in is to allow the changing of the background color and border color/s

[2019-08-12 22:46] compulim commented on #2303
For example, in 19.a. In development mode, you will need to run a few servers.

- React app: under `/app/`, run `npm start` will listen to port `3000`, this is what we call `create-react-app` app, or CRA app
   - In `/app/src/setupProxy.js`, this is where we forward normal traffic from port `3000` to `5000`
   - This is a feature in CRA called "[proxying API requests](https://facebook.github.io/cr

[2019-08-12 22:48] navzam commented on #2303
For 19a, I was mistaken. Everything works there.

19b still requires me to go to `http://localhost:5000/`

[2019-08-12 22:59] compulim commented on #2303
Yes. 19.b is a bit different. Because 19.b does not have a `create-react-app`, so it goes to 5000.

I agree, our 19.b README.md is wrongly point to port 3000, should be 5000 instead. 😄

[2019-08-12 23:00] compulim commented on #2303
![image](https://user-images.githubusercontent.com/1622400/62904179-2d667700-bd1a-11e9-8fd4-13f8c2a2d875.png)

Just hand-drawn this, but I think you got it now.

Blue line is development. Red line is production.

A better job for us would be a router to route traffic between CRA, REST, and bot. But I think we are too lazy, causing the confusion.

[2019-08-13 00:46] premaarya opened #2305 "On browser refresh/ chat reload remove chat logs"
## Version
I am using Webchat version 4.5.
## Describe the bug
With Azure bot service authentication set up following [this article ](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0)  and details [implementaion here ](https://blog.botframework.com/2018/09/25/enhanced-direct-line-authentication-features/).

Whe

[2019-08-13 02:14] #2158 closed

[2019-08-13 03:15] #2298 closed

[2019-08-13 13:31] Cam-ster opened #2306 "No option to change font size in defaultStyleOptions.js"
I am trying to change the font size of my chat's messages (both from the user and the bot) but there does not seem to be any option to do so in the styleOptions.

I have seen a way to change the font size using the window.WebChat.createStyleSet method.

However, my bot will be used on IE11 as well of modern browsers, and this way is not supported on IE11.

[2019-08-13 13:35] Cam-ster opened #2307 "Is there a way to remove the 'New Messages' auto scroll button from my chat bot"
I have been tasked with removing the 'New Messages' auto scroll button on my chat bot and I cannot seem to find any way of doing so.

Is there a way to remove this button from the chat window?

![image](https://user-images.githubusercontent.com/23336952/62945848-716b8180-bdd7-11e9-93cc-97c5469380b7.png)

[2019-08-13 14:16] Cam-ster commented on #2306
I was able to find a work around for this:

.bubble {
    font-size: 24px !important;
}

[2019-08-13 15:29] tdurnford commented on #2305
Direct Line only sends conversation update events for a member being added to the conversation when the conversation is first initialized. This event is intended to trigger the welcome message from the bot, and, evidently, using a refreshed token will not trigger the traditional welcome message. Since you want to maintain the user's logged in state, I would recommend sending a back channel welcome

[2019-08-13 16:25] corinagum commented on #2306
Hi @Cam-ster, you can set your font-size in either the body of your HTML or in the root container of Web Chat. The intent here is that Web Chat will inherit whatever font size is set by the parent and calculate the small font from there. However, `connectivityStatus`, perhaps mistakenly, does have a setable font  in `defaultStyleOptions` which might lead to further confusion.

@compulim, @cwhitten

[2019-08-13 16:58] #2305 closed

[2019-08-13 17:02] andhdo opened #2309 "webchat.botframework.com service not working as expected"
I'm trying to follow the steps to publish the bot using webchat, and accepting conditions to publish;

The component has an authentication procedure to expose the component.
Then i'm planning to embed idinside an iframe as azure porta suggest, and using the code that it generates inside the portal.

After the configuration, the result is not the expected and instead it shows the mime type of a car

[2019-08-13 17:09] compulim commented on #2309
Currently, OAuth card is not working in webchat.botframework.com. You will need to use the latest version of Web Chat. We are working to bump the version of Web Chat in IFRAME.

Please refer to [this section](https://github.com/microsoft/BotFramework-WebChat#how-to-use) to adding Web Chat to your page directly.

[2019-08-13 17:09] #2309 closed

[2019-08-13 17:11] compulim commented on #2307
We know the button doesn't looks great. Are you saying you want to remove the button, without affecting the stick-to-bottom behavior?

[2019-08-13 17:17] premaarya commented on #2305
Thank you @tdurnford. I am trying the solution you suggested.

[2019-08-13 18:02] compulim opened #2310 "Clean up on style options vs. props"
## Version

`master`

## Describe the bug

Our React context (namely, `Composer.js`) and Redux store is kind of a bin to throw stuff at, we didn't clear up the responsibility of each. Also same for style options vs. props.

~### React Context vs. Redux store~

~Redux store should only hold UI-agnostic content, for example, `activities`. It should not hold UI features, like `language`. Redux store

[2019-08-13 18:14] corinagum commented on #2301
@cmevawala were you able to confirm the default behavior?

[2019-08-13 23:13] compulim opened #2313 "Custom use hooks to replace <Timer>"
## Feature request

Instead of using headless component, `<Timer at={Date.now() + 1000} onInterval={() => 0} />`. Create a new `useTimer` hook instead.

[code]

Also, we could do the same for `RelativeTime`, create a `useIntervalSince` function for the `nextTimer()` replacement.

[code]

Also add tests, which use `lolex` to test against timestamp update.

## Additional context

Do this after our "

[2019-08-14 06:24] #2303 closed

[2019-08-14 06:56] Bradrajkumar opened #2314 "webchat V4 browser compatibilty"
i have downloaded the latest webchat V4 using the link  :- "https://cdn.botframework.com/botframework-webchat/latest/webchat.js". i want to use this webchat on IE , edge and safari also but i am not getting the webchat on all these browsers. can you please tell me the browser compatibility and how to achieve it.
![Screenshot (328)](https://user-images.githubusercontent.com/34365788/62998711-04fd8a

[2019-08-14 08:25] Cam-ster commented on #2307
@compulim Thanks for the response.

Yes that would be ideal. I would just like to remove/hide the button without affecting any other functionality.

[2019-08-14 09:51] compulim opened #2316 "Consider priming text-to-speech thru keyboard typing and any possible gesture"
## Feature Request

Today, we prime the speech synthesis engine by sending an empty utterance. When the user click/tap on the send button, we prime the engine.

If the user use <kbd>ENTER</kbd> to send the message, we might not prime the engine. This need to be verified.

If this is the case, we should prime when the user type. Or consider other entry points for priming the engine.

[Enhancement]

[2019-08-14 09:54] compulim commented on #2314
This question is answered in [this section of `README.md`](https://github.com/microsoft/botframework-webchat#browser-compatibility).

All modern browsers and IE11 are supported. We use "minus 2 versions" rule for modern browser. For example, today's Chrome is 76, we will support 74+. Same for other modern browsers.

For IE11, you will need to use a different bundle, which include special features

[2019-08-14 09:54] #2314 closed

[2019-08-14 09:59] adn-aceres opened #2317 "BotFramework Dialog Window for Mobile Browser"
🚨 The issue tracker is not for implementation questions 🚨

[Question]
I would like to ask if there is a setting / config for the mobile version? When a user opens a website and clicks on the chat icon for opening the dialog, so can the dialog window be fitted on any full screen in a mobile version (with CSS Flexbox for example) and close it via "header" then?
Do you think that this can be useful?

[2019-08-14 11:20] adn-aceres opened #2318 "Accessibility - VoiceOver on Apple OS"
🚨 The issue tracker is not for implementation questions 🚨

[Question]
**Accessibility / VoiceOver Mac OS / Last new answer (read)**

We also were thinking about Web Accessibility. We have tested it with VoiceOver and as we see it is not accessible especially for the people who cannot see. It would be great when the chatbot can jump to the next answer that the VoiceOver also can recognize / identif

[2019-08-14 17:49] premaarya commented on #1914
Hello I am facing same issue as @anomepani anyone found a solution?

[2019-08-14 20:13] premaarya commented on #1914
https://microsoft.github.io/BotFramework-WebChat/01.b.getting-started-es5-bundle/  with ;oauth' needs magic code. on IE 11.

[2019-08-15 10:57] fc73 opened #2319 "Automatic mute/unmute doesn't work"
Hi all,

I used webSpeechPonyfillFactory to implement the speech-to-text and text-to-speech functions. Currently I have to click the microphone button when I want to say something to the bot. Is it possible that I just need to click once and then the the microphone will be muted/unmuted automatically?

[2019-08-15 18:57] cwhitten commented on #2318
Hello @adn-aceres. BF WebChat is regularly audited to meet Accessibility compliance requirements. Our last audit was in March 2019 and we received a WCAG 2.0 AA rating.

That said, we will do some testing with Voiceover to see if there is something causing what you are seeing and report back.

[2019-08-15 19:00] cwhitten commented on #2319
Hi @fc73 can you provide a bit more detail to your scenario? WebChat exposes the microphone button that when clicked should start recording audio, and when clicked again will stop recording audio. WebChat has no native mute/unmute functionality.

[2019-08-15 19:52] #2217 closed

[2019-08-15 20:04] corinagum commented on #2317
Hi @adn-aceres, I think you will want to explore the[ `<meta>` tag](https://www.w3schools.com/css/css_rwd_viewport.asp) on your site.

'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you n

[2019-08-15 20:04] #2317 closed

[2019-08-15 20:29] #2243 closed

[2019-08-16 01:24] tdurnford opened #2323 "The SendBox should have a notification component to manage ConnectivityStatus and TypingIndicator components"
## Feature Request

**Is your feature request related to a problem? Please describe.**

The `TypingIndicator` component sits on top of the  `ConnectivityStatus` component in the`BasicSendBox`. At the moment, it is possible for Web Chat to display these two components on the screen at the same time which would clutter the `SendBox`.  Instead of stacking these components, they should behave like the

[2019-08-16 05:53] sreeharikm opened #2325 "Hiding secret key in JS or HTML"
Hi,

I am integrating the web chat UI of the Azure bot into a web page using iframe. What is the best practice to hide the secret key from view source. I tried the token method, by generating the token using token api, from a JS file, but still the secret key is exposed over the JS and anyone can open the JS and read it. Is there any better mechanism to hide this - is it possible to restrict the g

[2019-08-16 06:02] compulim commented on #2325
We are not on the services side. But AFAIK, the services team does not have any solution better than asking the developer to host the API token server themselves.

Please feel free to post the question to http://github.com/microsoft/botframework-services and see if they have a better solution.

[2019-08-16 06:02] #2325 closed

[2019-08-16 10:16] Bradrajkumar opened #2326 "Embed webChat in sharepoint modern site on Master Page"
Hi all,

i want to embed the webchat V4 on sharepoint Modersite as a master page so that it will be visible on all the pages adding up there.
please suggest me the complete walkthough to achieve it.

[2019-08-16 15:51] tdurnford commented on #2326
'How to' questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat](https://stackoverflow.com/questions/tagged/web-chat) tag. Thank you!

[2019-08-16 15:51] #2326 closed

[2019-08-16 21:15] jimmyjames177414 opened #2328 "Sending questions with trailing spaces using enter fails to trim(). - fix included"
## Screenshots
Network call sending trailing spaces:
![image](https://user-images.githubusercontent.com/5471548/63199104-5e101e80-c042-11e9-8746-73e3d758d545.png)

webchat.js needs .trim() added to the following:
![image](https://user-images.githubusercontent.com/5471548/63197487-95300100-c03d-11e9-8182-33ddb7a3db31.png)

webchat-es5.js needs .trim() added to the following:
![image](https://user-i

[2019-08-16 21:21] tdurnford commented on #2328
@jimmyjames177414 Can you test with latest CDN? Master uses Web Chat v4.3.1 and is no longer updated.

https://cdn.botframework.com/botframework-webchat/latest/webchat.js
https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js

[2019-08-16 21:32] jimmyjames177414 commented on #2328
@tdurnford I just tested both CDS you suggested and both have the issue.

[2019-08-16 21:43] corinagum commented on #2328
@jimmyjames177414 Thanks for reporting this issue! If you are able, it would be amazing if you could file an issue with the fix in our repository, and we will prioritize verifying your changes to merge in.
I am adding this issue to our Triage and we will get the fix added into our code. I think the .js files you have provided are a good workaround to users in the meantime.

This fix will likely be

[2019-08-16 21:47] jimmyjames177414 commented on #2328
Sounds great! Consider it done.

[2019-08-16 22:02] corinagum commented on #2323
This kind of goes hand in hand with the very general 'redesign the sendbox' issue we have: #2211, #1839

[2019-08-16 22:15] compulim opened #2329 "Design: bubble nub to enable by default"
## Feature Request

Should we enable the bubble nub by default?

If yes, what's the best style for being both subtle but noticeable?

![image](https://user-images.githubusercontent.com/1622400/63201076-a3c7e980-c038-11e9-9746-032d20a86f0a.png)

[Enhancement]

[2019-08-16 22:48] tdurnford commented on #2328
Would it be better to fix this in [`submitSendBoxSaga`](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/core/src/sagas/submitSendBoxSaga.js)?

[code]

@compulim @corinagum

[2019-08-16 23:46] jimmyjames177414 commented on #2328
Sounds good!

[2019-08-19 04:43] tdurnford commented on #2328
If we are trimming the `sendBoxValue` in the `submitSendBoxSaga`, we should consider removing `            setSendBox(sendBoxValue.trim())` from the [`SendButton`](https://github.com/microsoft/BotFramework-WebChat/blob/007d5dcb3179b04ff0af7e313a6cf89c7e1deb4d/packages/component/src/SendBox/SendButton.js#L13) and [`TextBox`](https://github.com/microsoft/BotFramework-WebChat/blob/007d5dcb3179b04ff0a

[2019-08-19 11:53] hansmbakker commented on #2100
@cwhitten @corinagum Could you please give some more insight into when we can expect this?

[2019-08-19 17:39] corinagum commented on #2100
@hansmbakker, thanks for your patience! This is assigned to me in our current milestone 4.6, which is due for release at the end of October. I am finishing up some other assignments first, but I hope to get to this one soon! Unfortunately I don't have further detail than that right now. When I begin working on this, I will move it from 'To-Do' to 'In progress' in our Project board. :)

[2019-08-19 18:05] #2214 closed

[2019-08-19 18:23] SUMANA-MAJUMDER18 commented on #2298
I checked with the customer and he mentioned that the Emulator version where he could see the issue was v4.5.2.

[2019-08-19 23:08] compulim opened #2336 "Fix prop types"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/63305397-82b30300-c29b-11e9-9d83-83bdddad62c9.png)

## Version

`master`

## Describe the bug

Probably related to recent merge of PRs.

## To Reproduce

1. Open any web page that host Web Chat
1. Open <kbd>F12</kbd> and check the console

## Expected behavior

No warnings or errors in the console.

## Additional context

[

[2019-08-20 02:07] tdurnford commented on #2336
@compulim I'm not able to reproduce this error, and everything looks already with the `typingIndicator` style set and `hideScrollToEndButton` default style options.. My branch is up-to-date and everything builds successfully. Can you try rebuilding your fork and see if the issue persists?

[2019-08-20 03:03] compulim commented on #2336
@tdurnford Will do.

[2019-08-20 03:04] compulim opened #2337 "Remove Cognitive Services preview warning"
## Feature Request

When all Cognitive Services speech features are in and tested, remove the `console.warn` in `packages\bundle\src\createCognitiveServicesSpeechServicesPonyfillFactory.js`.

[Enhancement]

[2019-08-20 04:06] EthanWang90 commented on #1921
I tried insert the json in html tag and it worked, thanks for your solution, wonder if you have solved your issue, were you using the email connector and have you set "isHTML" tag to "Yes"

[2019-08-20 14:38] xtianus79 commented on #2276
@compulim Hi just wondered if there was a difference between minified and minimal

[2019-08-20 15:43] tdurnford commented on #2192
Adaptive Cards just merged a fix for this issue. Should be resolved in Web Chat when we bump to the next version.

[2019-08-20 15:50] tdurnford commented on #2188
@saurav2107 I'm not quite sure what your question is; however, each channel behaves differently and is responsible for how they render activities. If the channel supports reactions, then the bot should be able to recognize when the user reacts to a message.

Note, Web Chat is the only channel where we can customize reactions.

[2019-08-20 16:19] compulim commented on #2276
Minimal is not minified. We have 3 variants for bundle, all of them are minified in our CDN. We don't serve development (non-minified) bits.

- Full is `webchat.js`, this includes Web Chat, plus Adaptive Cards, Markdown-It, `sanitize-html`, and Cognitive Services Speech Services
- ES5 is `webchat-es5.js`, this is very similar to "Full", plus polyfill for IE11 (a.k.a. compatibility layers for ES5 b

[2019-08-20 17:08] tfernandescunha commented on #2307
the solution was merged? i am facing the same problem, i want to hide the button 'new messages' but nothings happens :-(

[2019-08-20 20:41] tdurnford commented on #2031
https://github.com/microsoft/BotFramework-WebChat/pull/2321 Added a `typingAnimationDuration` option to the default style options - default is 5000 milliseconds.

[2019-08-20 20:41] #2031 closed

[2019-08-20 21:13] corinagum opened #2339 "Playground Improvements"
Although `packages/playground/App.js` has been updated to React Hooks, I think there are still improvements we can make.
- [ ] Make all `defaultStyleOptions` configurable in the side panel
  - [ ] Add a section in a side panel with a note that says 'Selecting these options will restart Web Chat':
    - [ ] Changing `username`
    - [ ] Changing `userID`
- [ ] Hooks may or may not be able to be ref

[2019-08-20 21:45] compulim commented on #2336
Yap, looks like it is not an issue after I pull everything.

[2019-08-20 21:45] #2336 closed

[2019-08-21 00:25] #2328 closed

[2019-08-21 00:43] corinagum commented on #2323
Also, this has some a11y considerations I would like to look into, so lmk when you get to this item

[2019-08-21 10:06] dvaibhav181 commented on #2047
Hi, I am not able to get window.simpleUpdateIn function. I have added simple-update-in @2.2.1 package in my code. I am trying to use it in .ts file and did import from package. Refer below:

import {  } from 'simple-update-in';
.
.
.
if (action.type === 'DIRECT_LINE/POST_ACTIVITY') {
       action = window.simpleUpdateIn(action, ['payload', 'activity', 'channelData', 'alias'], () => this.userAlias

[2019-08-21 17:45] cwhitten opened #2340 "Update WebChat sample docs to make it clear that the embed script goes to v3 of webchat"
Some (all?) of the samples give users the assumption that they are on the "latest" version of WebChat given the url slug. We should update this and provide additional documentation denoting the difference of "latest" of the portal hosted WebChat and v4.

[2019-08-21 17:51] corinagum commented on #2047
It sounds like you're using import, which would mean you need to import the package to your js file. if you are importing the package via script, you should reference simpleUpdateIn through the browser.

[2019-08-22 06:28] compulim opened #2341 "Link to the SPEECH.md from README.md"
## Feature Request

Added `SPEECH.md`, merged, and almost instantly forget to add an entry point from our `README.md`.

[Enhancement]

[2019-08-22 17:19] cleemullins opened #2343 "WebChat Secret Management"
Directly from (CSS) Jimmy Russ, as an ask.

Concrete instructions how to use a token for webchat (in C#). There is a ["Hard to find" blog](https://blog.botframework.com/2018/09/01/using-webchat-with-azure-bot-services-authentication/) for node, but that's it.

We have guidance around "Don't expose your secret", but not guidance around how to actually achieve this.

CSS Ask: Full e2e app/sample wor

[2019-08-22 17:21] cleemullins commented on #2343
Note: There is significant frustration around this.

[2019-08-22 17:21] cleemullins commented on #2343
"Customers give up and just embed the secret in the web page".

[2019-08-22 17:55] jwiley84 commented on #2343
FWIW: I have a C# bot that, once deployed with a directline channel implemented, takes the DL token and exchanges it for a secret.

https://github.com/jwiley84/SimplifiedDLConnector/tree/master/JJDirectLineBot

[2019-08-22 18:02] compulim opened #2344 "Release 4.5.3"
## Feature Request

Two important fixes to include:

- PR #2295 for fixing `undefined`/`null` `timestamp` field should not blow up Web Chat
- PR #2206 and PR #2262 for creating thumbnail for uploaded attachments

[Enhancement]

[2019-08-22 18:10] corinagum opened #2345 "Convert BasicWebChat to React Hooks"
## Feature Request
Related to: https://github.com/microsoft/BotFramework-WebChat/pull/2322

`BasicWebChat` component has not yet been converted to Hooks. This issue is for tracking that work. :)

[2019-08-22 19:16] corinagum opened #2346 "Investigate errors prop on AdaptiveCardAttachment"
It looks like `errors` is not being used. Need some investigations on why. So feel free to open a new bug to track this investigation outside of this PR, because it sounds at least T-shirt size M to me.

_Originally posted by @compulim in https://github.com/microsoft/BotFramework-WebChat/pull/2322/files_

[2019-08-22 23:07] tdurnford commented on #2343
I have a simple version for node https://github.com/tdurnford/BotBuilder-Samples/blob/2a700aa5b66fd858df35d5279ef847a140121382/samples/javascript_nodejs/48.directline-token/index.js#L55

[2019-08-23 00:09] iwasn opened #2347 "StyleOptions parameter to customize color of Markdown link"
The default css for markdown links are conflicting with our custom css that we're specifying for the bubble colors. We would like to request a new styleOptions parameter to also customize the color of markdown links to get around this issue.

Thanks!

[2019-08-23 00:24] jiruss commented on #2343
@tdurnford  I have a little node sample that I have sent customers as well but it lacks documentation. https://github.com/jiruss/WebchatApp/edit/master/app.js

@jwiley84 we run a bot internally that I have similar C# code for that we have shared on occasion.

I want to clarify that the issue is not that we don't have source for the token swap but we lack a clear and concise working sample that iso

[2019-08-23 05:49] tdurnford commented on #2347
Web Chat uses the [Markdown-it](https://www.npmjs.com/package/markdown-it) npm package to render markdown strings into HTML, and I don't believe there would be a simple way to add markdown style options to the existing default style options. However, Markdown-it does wrap the rendered HTML in a div with a `markdown` class label, so you can use generic css  in your project to style different elemen

[2019-08-23 09:51] narik1989 opened #2348 "Web Chat Issue"
Hi,

I am trying to implement chat using direct line connection for chat bot v4 (as mentioned in https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.a.getting-started-full-bundle) in my web application (only secured people can login to my application). The chat loads only after they have logged in successfully to the portal.

The problem is once they login. The chat is rendere

[2019-08-23 12:47] Bradrajkumar opened #2349 "adaptive card should render huge amount of user emailand typing first 3 letters will give suggestion inside the card"
hi all,
i want to create an adaptive card which will render huge amount of User emailID(organizational level) and get binded in textbox in hidden format. while typing the user emailId or Name will give you the suggestion in text box.

is it possible to do?

[2019-08-23 14:45] #2292 closed

[2019-08-23 16:21] corinagum commented on #2347
Closing as resolved. Please feel free add more comments here if you have any :)

[2019-08-23 16:22] #2347 closed

[2019-08-23 16:25] jwiley84 commented on #2343
@jiruss : Oh, I know. I made that example BECAUSE a customer needed one and couldn't find one.

[2019-08-23 16:36] tdurnford commented on #2349
@Bradrajkumar Unfortunately, this is not possible with Adaptive Cards; however, you can use Web Chat's `AttachmentMiddleware` to render a custom attachment that has an autocomplete input field. For more details to get started, take a look at the [customization Card Components](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/10.a.customization-card-components) Web Chat sample

[2019-08-23 16:36] #2349 closed

[2019-08-23 18:51] #1818 closed

[2019-08-23 20:59] corinagum commented on #2343
Related to this sample request: https://github.com/microsoft/BotFramework-WebChat/issues/1412.

[2019-08-24 13:51] saikumaru opened #2351 "Teams SSO sample doesnt pick the correct tenant"
I have tried to run the example locally
19.c.single-sign-on-for-teams-app

However this doesn't work as expected and described in the sample.
It shows up an error message as

`AADSTS50020: User account xxy@outlook.com' from identity provider 'live.com' does not exist in tenant 'Microsoft' and cannot access the application 'b543fc3e-a618-469e-8f37-e3fed1deb3c4'(Web Chat SSO for Teams Apps) in that

[2019-08-24 14:03] saikumaru opened #2352 "Unable to build app for Teams SSO bot"
## Screenshots

https://i.postimg.cc/G2DvKDP5/issue2.png
https://i.postimg.cc/28ZgW9BQ/issue3.png

## Version
I am trying the latest version available from the sample folder
https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/19.c.single-sign-on-for-teams-apps

## Describe the bug
The Teams App studio shows error on using of ngrok URLs in creation of apps.

When I try to install

[2019-08-26 10:15] HindoliyaYogesh opened #2353 "Adaptive Card in Microsoft teams getting trimmed from b"
## Screenshots
![card_bug](https://user-images.githubusercontent.com/40543539/63682809-60c6fc80-c816-11e9-9841-fa137318d7f4.png)

## Version
Bot framework : v3
Adaptive Cards : 1.0

## Describe the bug
We have a customer who needs the user profile cards to be displayed like the attached. At the bottom of the card should be two icons :

- Chat - Should take the user to the teams chat of the user be

[2019-08-26 10:18] HindoliyaYogesh commented on #2353
Incorrect Forum. Closing the issue.

[2019-08-26 10:18] #2353 closed

[2019-08-26 19:14] saikumaru commented on #2351
I had used the below option

```Accounts in any organizational directory (Any Azure AD directory - Multitenant)```

Not the personal account.

However the mail id is that of the Admin of the tenant. And it's not fully clear as to why a totally different tenant gets used, rather than one in my AAD.

[2019-08-27 07:55] compulim opened #2360 "Timestamp locale does not change when updating language on-the-fly"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/63751943-2cc6f800-c865-11e9-83bc-06f71293695b.png)

## Version

`master`

## Describe the bug

When `locale` prop is updated on-the-fly, the timestamp doesn't change accordingly.

## To Reproduce

Steps to reproduce the behavior:

1. Go to playground
2. Send some messages
3. Change the language to another one

## Expected b

[2019-08-27 09:31] manjunathangv opened #2361 "change bot Theme(font, color, bg color etc) without reloading bot"
Is there any way to change the theme of bot like font family, color, background color etc..
I'm trying to achieve  this when user select change theme in UI.

As of now I'm passing styleOptions to createDirectLine method.

[2019-08-27 10:56] saikumaru commented on #2361
@manjunathangv  you might want to try this sample?
https://github.com/ryanvolum/backChannelBot

Let me know if that helps.

[2019-08-27 11:07] narik1989 commented on #2348
Thanks for the update. Will follow that approach. 👍

[2019-08-27 11:07] #2348 closed

[2019-08-27 23:27] corinagum opened #2365 "Adaptive Card buttons are wonky on Mac Chrome"
## Screenshots

![image](https://user-images.githubusercontent.com/14900841/63814845-2da06e00-c8e7-11e9-99e4-7f4ca385bf26.png)

## Version

4.5.3

## Describe the bug
  - Adaptive Card buttons show as having a gradient that looks bad. Interestingly, when you set the background color manually to `.ac-pushButton` will remove the gradient. We're still not sure why this is happening.

## To Reproduce

[2019-08-28 02:13] saikumaru commented on #2352
@tdurnford thank you for checking this for me.
Can you also please outline
1. Which email account were using, whether personal or enterprise
2. Whether it's an o365 account
3. Version of the teams you're using

Also, would this anyway relate to Is some limit on number of apps that can be created on AppStudio using personal account?

[2019-08-28 04:13] volcanicglass opened #2366 "Is there a way to work reactWebChat with vue project?"
🚨 The issue tracker is not for implementation questions 🚨

[Question]

[2019-08-28 04:41] gouseshake0786 commented on #1103
![Bubble-Responsein Chatbot](https://user-images.githubusercontent.com/25403427/63826329-25ded900-c97c-11e9-9889-688770465c6c.PNG)
Can anyone suggest me how to remove that bubble activity text in chatbot window

[2019-08-28 15:10] jingweihaha opened #2368 ""https://botchattest.herokuapp.com/" is not working properly"
After I visited https://botchattest.herokuapp.com/ on Chrome, I typed my App Secret, then clicked Submit button, there is nothing changed.  From the console, I got the below error message:
[code]

[2019-08-28 16:33] saikumaru commented on #2352
Ok, I  think this is where the difference is-
1. Mine is  1.2.00.21068 (64-bit). It was last updated on 8/24/19.
https://teams.microsoft.com/downloads

2. Mine is a personal(?) version, so I guess we can rule out the organization permission thing(?)
Basically that would make me the admin, to allow me to do it.

[2019-08-28 17:15] #2368 closed, assigned to nobody

[2019-08-29 11:47] manjunathangv commented on #2361
@tdurnford @saikumaru

Thanks for the help.

I'm not using react, just using webchat.js and  rendering like below,

window.WebChat.renderWebChat({
                directLine: window.WebChat.createDirectLine({ token: token }),
                userID: userid,,
                username: 'User',
                locale: 'en-US',
                styleOptions,
                store,
            }, docume

[2019-08-29 12:39] kesavanpurushothaman opened #2370 "V3 Support"
Hi @compulim,

Can you please confirm how long can we use V3?
We have done customization using CSS and we need to plan well in advance for V4 migration.

Thanks, Kesavan

[2019-08-29 16:36] daveta commented on #2263
Hi @compulim, FYI: it seems like the dependent issue is now closed.

[2019-08-29 16:46] compulim commented on #2370
Hi @kesavanpurushothaman,

The Web Chat team want to provide support for v3 and all deprecating features for 2 years. The clock count when we ship v4, that's about 10 months ago. So you still have 14 months to go. In the meanwhile, we will fix all security issues related to v3.

We understand v3 and v4 are not compatible. In short, v4 still expose CSS, but the DOM tree is different because we rewr

[2019-08-29 18:01] DaveVoyles opened #2371 "Rename webSpeechPonyfillFactory"
Is it possible to rename this function? Or perhaps better understand why it is a Ponyfill factory?

Did someone mean to write Polyfill?

[2019-08-29 18:19] tdurnford commented on #2361
Since you have to use state to maintain the current theme, I don't believe there is a good way to change the theme without React.

[2019-08-29 20:08] corinagum commented on #2371
Ponyfill is not a typo. Please see this closed PR: https://github.com/microsoft/BotFramework-WebChat/pull/1663

[2019-08-29 20:08] #2371 closed

[2019-08-29 20:31] corinagum commented on #2370
Feel free to add more questions to this thread. Otherwise I am closing as answered. :)

[2019-08-29 20:31] #2370 closed

[2019-08-29 20:32] compulim commented on #2371
Ponyfill factory is "a function that will create a ponyfill". It is using factory pattern (a function to create something), thus, it is called ponyfill factory.

And ponyfill is better than polyfill, as @sindreshorhus has been pointed out in his article, https://github.com/sindresorhus/ponyfill, ponyfill are pure and is not monkey-patching.

The way ponyfill work, is not overriding what your curre

[2019-08-29 20:46] compulim commented on #2365
I think we should file this bug to Adaptive Card and ask them to set `appearance: none` (also for vendor prefix if needed, i.e. `-webkit-appearance: none`).

[2019-08-29 23:13] compulim commented on #2365
Filed an issue to Adaptive Card team, https://github.com/microsoft/AdaptiveCards/issues/3411.

[2019-08-30 05:38] abishekreddy opened #2372 "Expose dispatch action type constants"
## Feature Request

**Describe the suggestion or request in detail**

In webchat customization scenarios, to set dispatch events or to intercept events using a middleware, the type has to be set to a string like `WEB_CHAT/SET_TEXT`.
It would be great if you could expose the list of supported events as part of a constant so that we don't have strings sprayed across the project and devs can check wh

[2019-08-30 16:20] corinagum commented on #2372
Thank you for the submission! We will discuss this as a team and get back to you. :)

@compulim, this seems like a good idea to me. Thoughts?

[2019-08-30 16:24] DaveVoyles commented on #2371
Thank you very much for this thorough response! I take a break from web dev for a bit and there are new terms I've never learned about.

[2019-08-30 16:33] tdurnford commented on #2372
I think it would be nice to expose some of the action functions.

[code]

[2019-08-30 21:05] GewoonMaarten opened #2373 "Sample 21 MockBot is broken"
When I tried [the link in de readme from sample 21.customization-plain-ui](https://microsoft.github.io/BotFramework-WebChat/21.customization-plain-ui/) it tried to get some js files that don't exist.

See console errors 👇
[code]

[2019-08-30 22:08] corinagum commented on #2373
@GewoonMaarten Your trying to use sample 21, but it looks like the directory that's building is sample 19. Did you run `npm run build` in sample 21 directory?

[2019-08-30 22:09] corinagum commented on #2267
@saurabhgupta1090 Sorry but we'll be unable to help without more information. Are you able to provide repro steps or the console errors?

[2019-08-30 22:22] corinagum commented on #2365
It looks like this is a won't fix from AC team, but as a workaround we will add `appearance: none` to `ac-pushButton` in `AdaptiveCardRenderer.js`

[2019-08-30 22:25] corinagum commented on #2297
Closing issue as resolved on IcM

[2019-08-30 22:25] #2297 closed

[2019-08-30 22:56] GewoonMaarten commented on #2373
I did. Seems like the "homepage" key in the package.json is wrong. It is https://microsoft.github.io/BotFramework-WebChat/19.customization-plain-ui/ but should be https://microsoft.github.io/BotFramework-WebChat/21.customization-plain-ui/

[2019-09-02 18:02] tdurnford commented on #1846
This is resolved in the latest build from the master branch. I put together a quick sample that resets the store after the user is inactive for five seconds. Note, when the store is replaced, Web Chat dispatches a `DIRECT_LINE/DISCONNECT` action so you need to create a new Direct Line connection as well.

**Bot Framework Web Chat (master)**
[code]

**Screen capture**
![restart](https://user-images

[2019-09-02 18:02] #1846 closed

[2019-09-03 07:21] kesavanpurushothaman commented on #2370
Thanks for the quick turn around and well explained responses.
Below are the list of customizations we have done in V3(BotChat.js and BotChat.css).
 1) Logo - Bot and User
 2) Injected <div> tags for Menus, Minimize/Maximize buttons
 3) Dynamically changed bot logo's depending on our business logic
It would be more helpful if you can direct me to the correct sources for our above requirements.

Th

[2019-09-03 16:15] corinagum commented on #2373
Thanks for filing! :)

[2019-09-03 16:16] corinagum commented on #2351
Closing due to inactivity.

[2019-09-03 16:17] #2351 closed

[2019-09-03 16:24] compulim commented on #2372
Yap, I was using `DIRECT_LINE/*` (internal) and `WEB_CHAT/*` (external), but probably need to revisit again to see if they are still appropriate.

[2019-09-03 22:05] corinagum commented on #2370
1. https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.b.display-user-bot-images-styling
1. https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/12.customization-minimizable-web-chat
1. https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/14.customization-piping-to-redux

[2019-09-04 06:18] Bradrajkumar opened #2376 "reset the conversation without browser reload"
Hello,

i am having one **custom button** on webchat V3 and webchat V4 clicking on button will **refresh the browser** and **new conversation ID** is generating. Is it possible that without **refreshing the browser** the bot will get **reset** and **new conversation id** will generate while clicking on **custom button**?

please, help me to find the solution.

[2019-09-04 08:48] Bradrajkumar opened #2377 "sending "channelData" from webchat V4"
hi all,

In webchat V3 i was able to send the "channelData" inside the package only.
ex:-  t.channelData["CustomChannel"]=customChannelName;

in webchat V4 i tried to send it as e.channelData["CustomChannel"]=customChannelName; but i am getting error in directline sending activity.
how to achieve the same in webchat V4. please suggest me ASAP.

there are attached screenshot of postactivity inside

[2019-09-04 10:44] rgovindan29 commented on #1714
We are facing some issue in browsers other than chrome speak icon is not displaying in other browsers
![voice issue](https://user-images.githubusercontent.com/49033465/64248400-96fb2f00-cf2e-11e9-98c1-7e0078e1d474.png)

` <!DOCTYPE html>
<html lang="en-US">
<head>
<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js" charset="utf-8"></script>
</head>
<body>
    <div

[2019-09-04 11:46] #2373 closed

[2019-09-04 12:07] hansmbakker commented on #1886
My usecase is, simply put:

@corinagum since (per the [Bot Framework schema](https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md#conversation-account-role) also linked by @corinagum)

The field supports my usecase, but the field only adds value when it is properly filled. What component should fill the `role` property according to Microsof

[2019-09-04 13:14] tdurnford commented on #2377
Yes, it is possible to add custom channel data to outgoing activities in Web Chat v4. It looks like you are modifying DirectLines `postActivitiy` method which is more of a v3 approach. I would recommend creating a custom store middleware to modify activities sent by the user. Take a look at the [Backchannel Piggyback on Outgoing Activities](https://github.com/microsoft/BotFramework-WebChat/tree/ma

[2019-09-04 13:14] #2377 closed

[2019-09-04 13:22] tdurnford commented on #2376
@Bradrajkumar
Ideally, you would be able to reset the Web Chat store to restart the conversation; however, this is not currently supported Web Chat v4.5.2. The Development Team is currently working to add this functionality, and it should be available in our next release towards the end of October. For more details, take a look at https://github.com/microsoft/BotFramework-WebChat/issues/1846.

[2019-09-04 13:22] #2376 closed

[2019-09-04 14:02] Hatzman91 opened #2378 "cardActionMiddleware cardAction displayText and text are undefined"
I wanted to intercept SuggestedActions to change the actiontype to messageBack but displayText and text are undefined, only value is filled and it really feels like a bug

my middleware:

[code]

Console.log:
[code]

[2019-09-04 15:21] tdurnford commented on #2378
I believe `messageBack` actions are the only action that should define the `text` attribute, but Web Chat maps the properties of the suggested action to the card action so you can simply add the property to the action in the bot.

**Bot Framework SDK - Node v4**
[code]
**Web Chat v4**
[code]
**Screenshot**
![image](https://user-images.githubusercontent.com/17039790/64268109-5aa6df00-ceec-11e9-8416

[2019-09-04 15:26] enriconatella opened #2379 "Disable Text-To-Speech issue"
## Description

My customer would like to enable the **Speech-To-Text** feature, but not the **Text-To-Speech** one.
I tried to set to null the properties _speechSynthesis_ and _SpeechSynthesisUtterance_ but it's not working.
This is my code:
[code]

This is the console output:

[code]

The first interaction works fine, but after it the microphone icon is greyed out and you cannot dictate anymore.

[2019-09-04 15:32] Hatzman91 commented on #2378
hm, we are using the C# framework and are filling the actions the same way as for herocards and our custom PostbackButton works as messageback (which now would be a messageback button)

but we can't just set messageback in the backend, because then the emulator stops working

[code]

[2019-09-04 15:50] tdurnford commented on #2378
What version of the Emulator are you using? Doing a quick check, `messageBack` actions work fine in the Emulator.

**Bot Framework SDK v4 (Node)**
[code]

[2019-09-04 16:56] corinagum commented on #1714
'How to' questions such as above are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat tag](https://stackoverflow.com/questions/tagged/web-chat

[2019-09-04 17:07] corinagum commented on #1886
My understanding is that it would be the user's responsibility to write this patch.

Would you be able to implement something similar to [Web Chat's role patch](https://github.com/microsoft/BotFramework-WebChat/blob/7d813c6ff3eb1c1ac61ecd153671d8ad07f432c5/packages/core/src/sagas/incomingActivitySaga.js#L11)?

[2019-09-04 17:07] corinagum commented on #2379
'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat tag](https://stackoverflow.com/questions/tagged/web-c

[2019-09-04 17:23] compulim commented on #2352
@saikumaru I tried to look up for the difference between [free version vs. paid version](https://support.office.com/en-us/article/Differences-between-Microsoft-Teams-and-Microsoft-Teams-free-0b69cf39-eb52-49af-b255-60d46fdf8a9c) and could not find anything related to custom apps.

Could you post this question on Stack Overflow? I think it should be the quickest way to find if it is the issue. (We

[2019-09-04 17:45] compulim commented on #1886
According to the spec [Conversation account role](https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md#conversation-account-role), it should be filled by the receiver from the Direct Line channel, and removed before sending it back to the channel.

IMO, the ideal case would be DirectLineJS filling it and removing it. So it is most transpare

[2019-09-04 21:21] vikramdadwal opened #2380 "BOT Avatar has a blue circle background"
The avatar image is not taking full background and showing blue circle line around. Not looking good. Though the image is having all white background.

## Screenshots
![image](https://user-images.githubusercontent.com/10174566/64292394-28fb3b80-cf1f-11e9-9615-226da5007391.png)

## Version

## Describe the bug

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3.

[2019-09-04 22:56] tdurnford commented on #2380
The avatar background color is set to the `accent` color, so I don't think there is a simple way to change the outline color to white without directly modifying the `styleSet`. Should we consider adding `botAvatarBackgroundColor` and `userAvatarBackgroundColor` to the default style options, set their default value to `null`, and then set the avatar background color to `botAvatarBackgroundColor` or

[2019-09-04 23:29] corinagum commented on #2380
Seems fine to me. My only hesitation is about the potential conflict with `accent`, but I figure as long as we document it thoroughly it shouldn't be a problem.

[2019-09-05 07:08] Hatzman91 commented on #2378
Oh yeah, I already forgot, we are stuck with 4.3.3 because of an proxy issue
We have next week some of you guys with us, I hope this will help with the issue^^

I just realized that I only filled "title" of the action in the C# backend and that somehow doesn't appear in the middleware

And I now actually edited my backend so DisplayText and Text are filled like that:

**Bot Framwork SDK v4 (C#)**

[2019-09-05 07:24] hansmbakker commented on #1886
@corinagum could you explain where/how that code is used? Is it used by WebChat and does WebChat remove the role again before sending it to the bot?

@compulim I am using the Virtual Assistant C# template --> did you mean DirectLineJS as a WebChat dependency or as a dependency for the bot adapter? In that case it would need to be done by `Microsoft.Bot.Connector.DirectLine` I believe?

@corinagum

[2019-09-05 11:05] abishekreddy opened #2383 "Add dispatch event to update style options"
## Feature Request

**Describe the suggestion or request in detail**

If webchat is being rendered in a native javascript application, there seems to be no straightforward way to update style options after the webchat has been initialized. Adding a new dispatch event would make it easy - Something like 'WEB_CHAT\UPDATE_STYLE' with the new styleOptions object.

[Enhancement]

[2019-09-05 15:05] tdurnford commented on #2383
Web Chat's conversation state is maintained in a Redux Store while the components state - things like the `styleSet` - is stored in a React Context. All of the actions that are dispatched flow through the Redux Store and not the React Context. So to add a dispatch action to modify the `styleSet`, we would have to move the `styleSet` into the Redux Store which I don't believe fits with our current

[2019-09-05 15:53] tdurnford commented on #2379
I was able to reproduce this with [Sample 06.f](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/06.f.hybrid-speech). This appears to be an issue with Web Chat and not the customer's code. @compulim Any insight to what the issue might be?

**Web Chat v4**
[code]

**Error**
![image](https://user-images.githubusercontent.com/17039790/64358048-914b2b00-cfba-11e9-9448-06c26d6bd9f5

[2019-09-05 16:55] tdurnford commented on #2378
Instead of modifying Web Chat, it might make more sense to send a `postBack` if the channel is emmulator; otherwise, send a `messageBack`.

[code]

Note, the display text is set in Web Chat, not the Suggested Action from the Bot, and is `undefined` for `postBack` actions by design so it doesn't get displayed in the conversation transcript.

[2019-09-05 16:57] stevkan commented on #2380
Here is a workaround I have been using. This should suffice until the next release. This demos a blue background in web chat with a black background for the avatars and green/red text overlay (if you are including initials, for example) depending on the user.

[code]

[2019-09-05 18:10] compulim commented on #2383
Agree on @tdurnford, having a dispatch function that modify a prop is weird. The prop's content should be owned by the parent, unless it is named "initialStyleOptions".

If you prefer dispatch, you can consider using a Redux store outside of Web Chat (ancestor of Web Chat), to control what `styleOptions` passed to Web Chat. Web Chat don't collide with your Redux store because we partitioned and hi

[2019-09-05 18:10] #2383 closed

[2019-09-06 00:53] corinagum opened #2385 "Run Web Chat tests through VS Code"
## Feature Request
When deving on Emulator, you can run one file of tests at a time in VS Code using the Debug "Jest Current File" option.

We should get this working in Emulator!!!

![image](https://user-images.githubusercontent.com/14900841/64393360-dd6f8d00-d005-11e9-8a21-092628620d9b.png)

[Enhancement]

[2019-09-06 01:07] corinagum commented on #1886
Yes, Web Chat routes it through to add the role and it should be removed.

(To answer your question to compulim as well)
Yes, in this case he is referring to DLJS as a dependency on Web Chat.

[2019-09-06 12:49] Bradrajkumar commented on #2376
rightnow i am using webchat v3 and want to implement it. may i get the code snippet to do this. i want it using javascript/jquery.

[2019-09-06 18:00] #2365 closed

[2019-09-06 19:00] corinagum commented on #1833
@Dpetters sorry for the late reply. I think the scope of this piece of the project (customizing localization) is large enough that we will need to plan it out in tandem. Any people interested in this feature sooner should feel free to add their +1 here, and I will track popularity. :)

[2019-09-06 20:15] HRViolation opened #2386 "German localization needs to be updated"
Technically these are three bugs, but so closely related and small they would likely be fixed together. Modify this bug and/or create another if necessary.

Repro:
Change browser settings to a Non-English language
Open Azure Dev Portal
In Azure Dev Portal Settings change the language settings to the same Non-English language
Create a Web Bot
Test chatting with a bot.

Issue 1:
"Just now" is not lo

[2019-09-06 21:06] tdurnford commented on #2386
Are you seeing this issue in the Test in Web Chat blade in the Bot Channels Registration in the Azure Portal or in Web Chat on your own web page?

[2019-09-06 22:16] corinagum commented on #2386
What language are you changing to? If the language is not represented in our [Localization folder](https://github.com/microsoft/BotFramework-WebChat/tree/master/packages/component/src/Localization), the language will default to English.

[2019-09-07 23:34] hcyang commented on #2306
Hi @stevkan, since you were assigned to this issue, any updates? Thanks.

[2019-09-08 00:43] corinagum commented on #2232
@tdurnford tagging you as related to convo you had with @compulim

[2019-09-08 17:48] marq47 commented on #2379
Hi,
We have similar problem. We are using Reactjs and putting speechSynthesis to null in createHybridPonyfillFactory and when we click the micro button we are getting following error message in console:

![error](https://user-images.githubusercontent.com/49273695/64492123-e44e0800-d270-11e9-80bd-a951c3147080.png)

Thanks!!

[2019-09-09 05:52] Bradrajkumar opened #2387 "final release of webchat V4"
Hi all,

As per my knowledge the other functinalilties are still in progress to add up in webchat V4.
i am downlaoding the latest from the CDN link which you have provided. As i am doing multiple customization as per my requirement so i am curious to know that when you are going to give the **final release of webchat V4**(an estimation).
please provide me the detailed information regarding this.

[2019-09-09 11:49] Hatzman91 commented on #2378
Thanks we made it work with the first solution, we had an deployment issue, sorry!

[2019-09-09 13:45] Zack-Strife opened #2388 "first ConversationUpdate sent is not matching with the Emulator - locale problem"
## Version

Based on the _botAgent I'm seeing in my DirectLine object,  I'm currently at DirectLine 3.0 and WebChat 4.5.2

## Describe the bug

Conversation update is sent without the locale, which then cause the welcome message to be in the default language

## To Reproduce

Steps to reproduce the behavior:

1. Create a React Webchat component
2. Generate a new token and a new directline object,

[2019-09-09 16:15] corinagum commented on #2387
Hi @Bradrajkumar, Web Chat v4 is closely coupled with the entire Bot Framework SDK v4, which is currently in active development and fully supported. There aren't any current plans regarding an announcement of v.next, which would determine the end of life / last release for v4.

Due to the above, I think you can safely assume that there are no immediate plans for a final release. :)

Hope that help

[2019-09-09 16:15] #2387 closed

[2019-09-09 16:31] tdurnford commented on #2388
The Direct Line Connector Service is responsible for sending the conversation update event to the bot when the conversation is established, and I don't believe the service would be able to detect the user's locale and set it appropriately in the event.

I would recommend sending a backchannel welcome event when the Direct Line Connection is fulfilled and sending the welcome message from the event

[2019-09-09 17:37] tsuwandy commented on #2263
@compulim, could you bump Adaptive Card in Web Chat and close this issue after?  See previous issue, the bug on AdaptiveCards side was closed.

[2019-09-09 23:00] corinagum commented on #2388
@compulim, thoughts?

[2019-09-10 00:08] corinagum opened #2389 "CSS insertion points"
## Feature Request

**Is your feature request related to a problem? Please describe.**

We need to be able to more easily make changes to css using styleSet

**Describe the suggestion or request in detail**

**Describe alternatives you have considered**

**Additional context**

[Enhancement]

[2019-09-10 06:10] DaKevinH commented on #1384
Do you have any news on this?

[2019-09-10 06:46] Fuyuwei-Fxx opened #2390 "How can I package to generate a webchat.js file?"
🚨 The issue tracker is not for implementation questions 🚨

[How can I package to generate a webchat.js file? for example https://cdn.botframework.com/botframework-webchat/latest/webchat.js]

[2019-09-10 07:46] tsuwandy commented on #2390
@compulim, is this something you could help with?

[2019-09-10 09:36] simon-tannai opened #2391 "Direct Link Token: Invalid AppID passed on token"
Hello !

I have an error when I try to connect the Webchat to my bot.

[code]

This code is working fine but I get this error from bot:

[code]

This App Token is the same that the one into parameters of Bot Service from Azure Portal. I'm using the free trial subscription.

Is because of this free trial ? Or I missed something ?

[2019-09-10 13:55] tdurnford commented on #2391
Direct Line user ids need to start with “dl_”. Add the prefix to the id, and the request should work fine. For more details, take a look at the Direct Line documentation regarding [Generating a Direct Line Token](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0#request)

[2019-09-10 15:37] tdurnford commented on #2391
It looks like there is an issue with your app id and password. Can you make sure that your environment variables are configured correctly? You can make sure everything is configured correctly by messaging the bot in the Test in Web Chat blade in your Bot Channels Registration in Azure.

https://blog.botframework.com/2018/07/03/find-your-azure-bots-appid-and-appsecret/

[2019-09-10 17:16] compulim commented on #2390
@Fuyuwei-Fxx You can follow the instructions at https://github.com/microsoft/BotFramework-WebChat/blob/master/.github/CONTRIBUTING.md to build a CDN bundle (i.e. `webchat.js`).

Thanks!

[2019-09-10 17:16] #2390 closed

[2019-09-10 17:27] compulim commented on #1384
@DaKevinH No news.

@dandriscoll do you know who should involve in this work? And probably this issue should move to `botframework-services` for greater visibility.

[2019-09-10 17:31] dandriscoll commented on #1384
Can you set up a meeting to discuss?

[2019-09-10 17:35] cwhitten commented on #1384
I'll move this to `botframework-services` in the meantime. @compulim ack'ing Dan's request for a meeting to discuss. Thans!

[2019-09-10 21:34] tdurnford commented on #2306
@hcyang

The `connectivityTextSize` should be updated to 75% in PR #2384

https://github.com/microsoft/BotFramework-WebChat/pull/2384/files#diff-59602d7073278fd31a720eee0c05c565R133

[2019-09-11 16:00] tdurnford commented on #2391
Closing as this appears to be an issue with the customer's bot configuration - not Web Chat.

@simon-tannai If you are still experiencing issues with your bot after correctly setting your app id and password, please feel free to ask questions on Stack Overflow with the [Bot Framework](https://stackoverflow.com/questions/tagged/botframework) and [Web Chat](https://stackoverflow.com/questions/tagged

[2019-09-11 16:00] #2391 closed

[2019-09-11 16:30] hansmbakker commented on #1886
Ok, I'll look into writing middleware that does it.

@corinagum @compulim what is the risk of not removing the `bot` role? I don't understand why it needs to be cleared afterwards.

[2019-09-11 17:40] #2306 closed

[2019-09-11 17:40] #2380 closed

[2019-09-11 20:32] corinagum opened #2394 "Update .babelrc to babel.config.js"
https://babeljs.io/docs/en/configuration

[2019-09-11 20:44] HRViolation commented on #2386
This is in the Azure Dev Portal itself.

Chrome Browser and Azure language settings are set to German.

[2019-09-11 20:55] corinagum commented on #2386
@HRViolation thanks for reporting this. Taking a look at the [German localization file](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/component/src/Localization/de-DE.js), we are indeed in need of an update. Are you a fluent speaker and able to do a Pull Request to update the file for us? If not, do you know any fluent speakers that could help out?

If so, please feel free

[2019-09-12 00:28] compulim commented on #2394
Can't use `babel.config.js` but we could use `.babelrc.js`.

`babel-jest` does not recognize `babel.config.js` and treat as no config. 👎🏻

[2019-09-12 08:36] Bradrajkumar opened #2395 "initializing webchat with diretline token and speech service in webchatV4"
Hi all,

here is the process i am doing to initialize the bot.

step1:- doing ajax call to get token
var settings = {
	  "async": false,
	  "crossDomain": true,
	  "url": "https://directline.botframework.com/v3/directline/tokens/generate",
	  "method": "POST",
	  "headers": {
		"authorization": "Bearer {secret}",
		"Cache-Control": "no-cache"
	  }
	}
	$.ajax(settings).done(function (response) {

[2019-09-12 14:54] #2395 closed, assigned to tdurnford

[2019-09-12 14:58] irshadInsight opened #2396 "Web chat history not loading"
I am using webchat(4.4.2). I am trying to reload the conversation on page reload, but everytime i reload the history is lost.

This is the code i am using.

`directLine.connectionStatus$.subscribe(
      function (connectionStatus) {
        if (connectionStatus === 2) {
          var timeout = 0.021;
          var dl = window.WebChat.directLine;
          this.setCookiesLocally("token", dl.token,

[2019-09-12 17:44] #2396 closed, assigned to tdurnford

[2019-09-12 23:27] batesiiic opened #2397 "Cognitive Services Speech Permanently Disabled After Clicking Action Button"
## Describe the bug

When using Cognitive Services speech, having the microphone open then clicking an action button (from a card, confirm prompt, etc) will permanently disable the micorphone. This requires the user to reload the page to get it back.

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://microsoft.github.io/BotFramework-WebChat/06.f.hybrid-speech/
2. Tell the bot "he

[2019-09-13 09:08] urker opened #2398 "Adding allowfullscreen and frameborder attributes to YouTubeContent iframe"
Hello ,

I was wondering is there a way to add allowfullscreen and frameborder attributes to iframe that is used to play youtube videos programmatically  by defining new styleset for youtube content . Reason is youtube videos can't be expanded  to full screen mode as by default iframe that is wrapping youtube video doesn't have these attributes.
I saw that in webchat component library there is sty

[2019-09-13 15:38] tdurnford commented on #2398
It looks like we would need to add the allow `allowFullScreen` prop to the iframe. We would probably have to add it to the Vimeo Attachment as well. @corinagum @compulim Do we want to enable this behavior by default or make it part of the default style options?

[code]

https://github.com/microsoft/BotFramework-WebChat/blob/928217408c853e261cd3fcba69604228e72a3bdb/packages/component/src/Attachment

[2019-09-13 18:05] tdurnford commented on #2398
@urker I opened a PR to add full screen capabilities for YouTube and Vimeo videos. That feature should be available in the next release. Also you should be able to add a border to the iframe by modifying the style set.

[code]

[2019-09-13 18:20] tdurnford commented on #2157
Right now, it looks like we are using `postActivity` to send a typing indicator to the bot. We could add one called `postTypingActivity` or `sendTypingActivity`. @corinagum @compulim  thoughts?

[2019-09-13 20:12] corinagum commented on #2397
This issue should be fixed in the next release of Web Chat. Could you try out Web Chat's latest bits to see if this resolves your issue? Please see our documentation on pointing to our MyGet feed for [latest bits](https://github.com/microsoft/BotFramework-WebChat#how-to-test-with-web-chats-latest-bits).

Please let us know your results and feel free to elaborate on pain points.

[2019-09-13 20:41] tdurnford commented on #2157
I think we settled on using `emitTypingIndicator`. Reassigning to @compulim since this falls in line with his work on migrating to React Hooks.

[2019-09-13 21:30] batesiiic commented on #2397
Thanks for the quick response. I'm having a bit of trouble getting this set up because we're not actually hosting a full site but rather just a single page that gets pulled into a xamarin web view. To do this we're just statically hosting the chat html that is pointing to the webchat CDN. I was going to try and get the Angular example going but it explicitly says that it doesn't support pulling in

[2019-09-13 21:48] #2398 closed

[2019-09-14 23:18] corinagum commented on #2397
Hi @batesiiic. Our MyGet feed contains our latest bits, and reflects the current changes available. This includes unreleased features and bug fixes. Our CDN is our latest official release, which was last patched in early August.

Right now the MyGet feed is the only way to test the latest features that include the Speech fix. If you prefer to wait for the official release, 4.6 is currently schedul

[2019-09-14 23:18] #2397 closed

[2019-09-15 09:06] compulim commented on #2100
@tdurnford while you are working on this, since we are don't really need TypeScript anymore (we build `*.d.ts` by hand and our `*.ts` are just a few files that can be converted to JS), it may make sense to remove TypeScript from Babel to speed up the build.

[2019-09-15 14:49] cwhitten commented on #2388
@p-nagpal can you provide any detail to the updated ConversationUpdate mechanism and how it affects locales being provided from Direct Line to the bot in a deployed scenario? The service recently made a change that could have affected this behavior, and we should port this behavior in to the BF Emulator to keep the experience consistent if that is the case, or update documentation if the service h

[2019-09-15 22:46] vikramdadwal commented on #2380
@corinagum : When is the next release ?

[2019-09-16 07:51] felixhauserch opened #2400 "SAMPLES.md documentation on avatar initials needs to be updated"
---- edited by @corinagum ----
SAMPLES.md teaches the deprecated method of providing bot and user initials to Web Chat, which no longer works. We need to update the documentation.

To do:
1. Fix [SAMPLES.md](https://github.com/microsoft/BotFramework-WebChat/blob/master/SAMPLES.md)
2. Notify docs team of the change so they can update their [docs](https://docs.microsoft.com/en-us/azure/bot-service/b

[2019-09-16 15:22] tdurnford commented on #2400
It looks this is documented incorrectly. The `botAvatarInitials` and the `userAvatarInitials` need to be set in the style options.

[code]

For more details, take a look at the [Display User and Bot Initials](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.a.display-user-bot-initials-styling) Web Chat sample.

@corinagum @compulim Should this issue be reopened in the Docs

[2019-09-16 16:29] corinagum commented on #2380
Next release is end of October. :)

If you need these changes immediately, please see our documentation on pointing to our MyGet feed for [latest bits](https://github.com/microsoft/BotFramework-WebChat#how-to-test-with-web-chats-latest-bits).

[2019-09-16 16:38] corinagum commented on #2400
@tdurnford this is actually originally from our samples page: https://github.com/microsoft/BotFramework-WebChat/blob/master/SAMPLES.md, so the documentation error originates from our repo. :/

previously the avatar initials were not a part of the style options, which is why we have this old documentation. @felixhauserch, sorry for the confusion and thank you for the catch. I'm going to re-tag this

[2019-09-16 17:25] #2131 closed

[2019-09-16 18:43] matthidinger opened #2401 "Better visual feedback on button click."
@vijaysaimutyala commented on [Fri Aug 30 2019](https://github.com/microsoft/AdaptiveCards/issues/3412)

This is for the card using the WebChat renderer. The earlier version of the Adaptive cards used give a nice visual feedback to the user whether the button was clicked or not. But with the latest updates, the feedback is no longer present. It just shows a outline around the button in accent colo

[2019-09-16 19:11] corinagum commented on #2401
@matthidinger thanks for the transfer.

Rather than just Adaptive Cards, I would say this is a potential improvement we can make to the entire Web Chat app. We intentionally removed the pointer cursor from buttons in a [#1819 ](https://github.com/microsoft/BotFramework-WebChat/pull/1819) a few months ago, but that doesn't mean we can't improve the :active pseudo class UX throughout the project.

p

[2019-09-16 21:34] #2400 closed

[2019-09-16 23:02] tdurnford commented on #2400
The docs team is currently updating this in https://github.com/MicrosoftDocs/bot-docs-pr/pull/1723. Thank you, @WashingtonKayaker, for making the change!

[2019-09-16 23:48] batesiiic commented on #2397
@corinagum I was able to put together a simple react page to test this and it behaves exactly as we'd hoped. Thanks for the help.

[2019-09-17 07:52] tdechanterac commented on #2147
I'm still having the issue while using
https://cdn.botframework.com/botframework-webchat/master/webchat-es5.js

Am I missing something ?

[2019-09-17 09:50] Bradrajkumar opened #2403 "custom buttons explicitly rendering inside webchat v4"
Hi all,
i need a custom functionality. in webchat V4 i am explicitly rendering some buttons inside bot message content section. It is rendering properly but onclick of that it should send the message as post activity to bot(this thing is not sending the message).
i am able to send the message into textbox but after that i used one method as ".click() - which was availabe in webchat v3" is not work

[2019-09-17 14:16] tdurnford commented on #2403
'How to' questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you have about developing your own features over there so the Bot Framework Support Team and the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat](https://stackoverflow.com/questions/tagged/web-chat) tag. Thank

[2019-09-17 14:16] #2403 closed

[2019-09-17 14:18] tdurnford commented on #2147
The Web Chat Development Team no longer updates the master CDN. Please use latest instead.

[2019-09-17 18:11] CezaryMarcjan commented on #2352
how-to questions are best serviced in Stack Overflow.

[2019-09-17 18:11] #2352 closed

[2019-09-17 22:10] renil opened #2404 "Custom Speech integration using createCognitiveServicesSpeechServicesPonyfillFactory is not working"
## Screenshots

![image](https://user-images.githubusercontent.com/42146/65083229-37a51200-d965-11e9-9882-4e9645598f4e.png)

## Version

The issue can be reproduced in the Sample version hosted at:
https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.c.cognitive-services-speech-services-js

Click on "Try out MockBot"

## Describe the bug

When user clicks the Mic icon, the spee

[2019-09-18 01:27] compulim commented on #2372
FYI, I am working on redesigning the Web Chat API for the React side, didn't touch Redux yet.

After that work #2364 is completed, we can look at Redux store. I need to play around to understand more, before hitting too deep, I have some bias, but not well thought out:

- If the dev is using Web Chat UI (they are using Redux *with* React)
   - Try to hide Redux deeper
      - Still usable, but you

[2019-09-18 14:41] r3dr4gon opened #2405 "Bot with cognitive services speech services (js) not working when using subscription key instead of a token"
## Screenshots

![image](https://user-images.githubusercontent.com/14729972/65157971-dac35d80-da31-11e9-9fa8-5ca9e90bf780.png)

## Version

I'm using the template in: "06.c.cognitive-services-speech-services-js", but with hardcoded key for DirectLine and hardcoded subscriptionKey for cognitive services speech.
I did implemented this with electron but the same happen if i use npx serve.

## Describ

[2019-09-18 15:06] Bradrajkumar opened #2406 "using speech service mic is not working as expected"
Hi All,

i am showing the code snippet that how i am initializing the bot as well as speech service(please review and let me know if it is wrong or i am doing it in wrong way). i am also facing issue in speech service and issues are described below:-
[code]
**issues facing:-**
1. whatever customization i did got vanished like:- added header is removed.
2. speech service is working but after clicki

[2019-09-18 17:04] corinagum commented on #2404
@renil I tried this on Chrome and did not run into any issues. What browser are you using with the above repro steps?

[2019-09-18 17:44] anandhnatarajan opened #2407 "Azure hosted chatbot to interact with sharepoint 2013 on premises search"
I've created microsoft bot and integrated to my SharePoint 2013 page as an iframe. Now I need the bot to talk to sharepoint search on behalf of the current logged in user instead of using a common service account. the reason is i only want the bot to return items to which the user has access to. I don't want to ask the user separate login in bot framework. Can someone please  provide recommendatio

[2019-09-18 17:44] cwhitten commented on #2157
addressed in https://github.com/microsoft/BotFramework-WebChat/pull/2364

[2019-09-18 17:46] cwhitten commented on #2100
https://github.com/microsoft/BotFramework-WebChat/pull/2364 unblocks this

[2019-09-18 18:01] corinagum commented on #2407
'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat tag](https://stackoverflow.com/questions/tagged/web-c

[2019-09-18 18:01] #2407 closed

[2019-09-18 19:03] tdurnford commented on #2406
@Bradrajkumar What browser are you using and what bundle and version of Web Chat are you using?

[2019-09-18 19:16] tdurnford commented on #2343
@WashingtonKayaker opened a PR in the samples repo demonstrating how to manage Direct Line tokens

https://github.com/microsoft/BotBuilder-Samples/pull/1733

[2019-09-18 19:17] compulim commented on #2313
Will fix in #2364.

[2019-09-18 19:17] compulim commented on #2310
Will partly fix in #2364. The part being fixed is Context vs. Composer. Part not fixed is style options vs. props.

[2019-09-18 19:17] compulim commented on #2345
Will fix in #2364.

[2019-09-18 21:53] compulim commented on #2379
/👀

(Looking at this now.)

[2019-09-18 22:01] compulim commented on #2379
@enriconatella @tdurnford @marq47

Seeing the problem now. If we set it `undefined` or remove those keys for text-to-speech, Web Chat will use the browsers default, i.e. still speaking out the activity.

I see the need to specifically disable certain browser feature. And it is correct to set it to `null` for "explicitly remove" it. But currently, we are seeing `i is not a constructor`.

Should fix

[2019-09-18 23:28] sgellock commented on #2352
thank you for opening this issue.  For product behavior, how-to, or general understanding questions, please use Stackoverflow

https://stackoverflow.com/search?q=bot+framework

[2019-09-19 01:47] compulim commented on #2379
Got a fix in PR. 😄

[2019-09-19 06:11] Bradrajkumar commented on #2406
right now i am using only chrome and i am having webchat package downlaoded from the link:- https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js" last month and using it locally. as i wanted this to be on IE as well as chrome.

[2019-09-19 07:48] #2379 closed

[2019-09-19 13:59] JIoffe opened #2409 "Often getting 401 from Directline API within Webchat"
## Screenshots

## Version
Latest CDN: https://cdn.botframework.com/botframework-webchat/latest/webchat.js

## Describe the bug
In an Angular application we use the bot secret to generate a new token and then pass the token to the webchat. Below are snippets of code:

(Note that some portions are omitted and replaced with ellipsis)

### directline-token-provider.ts
_Retrieves a secret from our web

[2019-09-19 14:25] tdurnford commented on #2405
I wasn't able to reproduce this error, and your Web Chat code seems fine. It appears a 400 error indicates that the language code is not provided or the language isn't supported. If you want to avoid using the subscription key, take a look at the [Speech-to-text REST API](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-speech-to-text) Documentation for information iss

[2019-09-19 15:12] r3dr4gon commented on #2405
Is it possiable the problem is with my chatbot code?
Will it be useful if i provide you with my keys?

[2019-09-19 15:33] renil commented on #2404
I have tried today again with Chrome Version 77.0.3865.90 (Official Build) (64-bit) and is getting same error. Attached is the HAR file from the network tab.
[microsoft.github.io.txt](https://github.com/microsoft/BotFramework-WebChat/files/3632078/microsoft.github.io.txt)

[2019-09-19 16:24] renil commented on #2404
It looks like SSL intercept happening at office network is causing the issue. Closing the ticket.

[2019-09-19 16:24] #2404 closed

[2019-09-19 17:33] CoHealer commented on #2232
BFSE handing off to the webchat team.

[2019-09-19 17:52] tdurnford commented on #2405
I don't think your keys would be helpful. Are you sending any input hints or anything speech related in the bot's response?

[2019-09-19 18:17] r3dr4gon commented on #2405
What I did to convert my Q&A bot to use speech is these steps:
https://docs.microsoft.com/en-us/azure/bot-service/directline-speech-bot?view=azure-bot-service-4.0

Which now that I'm saying this seems to actully be the problem(?!)
Were i suppose to do somthing else to add speech? this actully for direct line speech (which is not supported by JS, this also make sense why my bot works with the C# cl

[2019-09-19 19:11] tdurnford commented on #2405
@r3dr4gon Thanks for the additional information.  It looks like Web Chat is nesting the Speech Synthesis Markup Language (SSML) which is causing the Cognitive Speech ponyfil to fail. If you remove the speak and voice tags from the activity's `speak` property, it should work fine.

This is a known issue in Web Chat. I'm closing this issue as we are already using #1322 to track the bug.

[2019-09-19 19:11] #2405 closed

[2019-09-19 19:24] tdurnford commented on #2409
Are you running your bot locally and connecting to the Bot Channels Registration through Ngrok? I would recommend double checking your bot's app id and password.

[2019-09-19 19:35] r3dr4gon commented on #2405
Awsome... Indeed changing the speak function to:
[code]

Solved my problems, Thanks a lot for the help.

[2019-09-19 21:28] CoHealer commented on #2232
My understanding is that this should be complete in the next couple of days. Please communicate in the event it is not.

[2019-09-19 21:29] stevkan commented on #2404
I was able to repro this issue a few times, but it is _very_ sporadic. The first two times matched the users error, however the last few displayed an 'HTTP Authentication failed' message, shown below. I'm not certain about the 403, but the HTTP error seems to occur after a set period of time has elapsed with no interaction. I haven't nailed down the time frame, but roughly between 10-30 mins cause

[2019-09-19 22:00] corinagum commented on #2406
@Bradrajkumar it seems to me that you are experiencing the expected behavior of the speech service when you do not accept the permissions request to access the microphone. To be able to speak to the bot, you will have to give permission for the browser to access the microphone. I am closing this issue as question answered.

[2019-09-19 22:00] #2406 closed

[2019-09-20 05:59] vijaysaimutyala commented on #2401
@matthidinger @corinagum Do you think there's some quick hack that could bring back the visualization ?

[2019-09-20 08:07] compulim commented on #2409
Hi @JIoffe, on top of what @tdurnford purposed, a few things:

1. Do you see anything inside the HTTP response while receiving 401?
1. I would assume it is returned from directline.botframework.com, is that correct?
1. Could you send us the bot ID, conversation ID and time of occurrence with time zone? With these information, I can loop in the service team to see what's going on.

[2019-09-20 12:08] JIoffe commented on #2409
Thank you both for responding!

I have observed this while testing locally and running on a deployed web app, each pointing to different Bot Channels Registration resources. It seems that the app ID/Password is correct as well as the direct line secret in each.

Yes the 401 originated from directline.botframework.com. At that point it seems traffic does not even hit our bot code. As luck has it, I

[2019-09-20 14:07] ramcaltech2019 opened #2411 "Web Chat control embedded in HTML with iframe cache The state management objects for the conversation and user state"
Bot framework SDK version 4.0 with NodeJS Web Chat control code embedded taken from azure portal:

[code]

the control cached the the state management objects for the conversation and user state with the server powered by IIS in azure I display the username captured for the first user and all the request from different users see the same name, if I modify the web.config this action restarts IIS an

[2019-09-20 15:50] JIoffe commented on #2409
It happened!

I am attaching screenshots of the error messages from Chrome's Network and Console tabs.
Time: ~11:45 AM EST, 9/20/2019
ConversationID: 70lGn6uALwzDSWfygsbHUI-5
Bot App ID: bcee4746-c328-4208-aee6-51d468f567f4

Note that we are using a token we have successfully negotiated using the https://directline.botframework.com/v3/directline/tokens/generate endpoint and our directline secret.

[2019-09-20 16:24] corinagum commented on #2401
@vijaysaimutyala you can consider adding to your web page's CSS specification to the button you want to modify. To do this you would need to trace the DOM to the button, brief example below:

[code]

Then once Web Chat's changes are in you can just delete this CSS. :)

[2019-09-20 18:00] tdurnford commented on #2411
@ramcaltech2019 Are you generating a DirectLine Token for each conversation or are you just using your Web Chat Secret? If multiple conversations are sharing the same user data, it usually indicates that all of the users are sharing the same user id.

[2019-09-20 18:48] tdurnford commented on #2411
As I mentioned, if two conversations share the same user id, they will share the same user data in storage. Currently, the iFrame saves the user id in session storage, so you have to close and restart the browser to start a new conversation with a new user id. The development team is aware of the issue and is working towards getting it resolved. In the meantime, you can host your own instance of W

[2019-09-20 18:48] #2411 closed

[2019-09-21 00:27] compulim commented on #2409
@JIoffe I pinged an engineer who is on server-side, offline. Will give you more information hopefully early next week or sooner. It's Friday noon here. 😁

[2019-09-21 14:17] ramcaltech2019 commented on #2411
tdurnford: I am using only the Web Chat Secret, not a DirectLine Token for each conversation,
 what I want to accomplish is to cache the unique user id for each user, ask the user for a name, save the name using the unique user id and when the user comes back retrieve the name and welcome the user, I use the bot framework sdk 4 with nodejs, the user id is generated in the activity.from.id, the pro

[2019-09-21 14:22] ramcaltech2019 commented on #2411
thank you! will look into hosting my own instance of Web Chat

[2019-09-21 21:48] compulim commented on #2409
@JIoffe I was working with engineers and we are pretty sure this is the cause:

1. When Web Chat start conversation, it will send a request to `directline.botframework.com`
1. On `directline.botframework.com`, when it receive "create conversation" call, it will contact the bot with a `conversationUpdate` activity
1. If the activity cannot be delivered to the bot, `directline.botframework.com` will

[2019-09-21 21:48] #2409 closed

[2019-09-21 21:54] compulim commented on #2409
I have filed a bug https://github.com/microsoft/BotFramework-Services/issues/133 and recommend a fix on our service side to better reflect the real issues (bot timeout).

[2019-09-21 22:30] compulim commented on #2267
Closing due to inactivity.

Would still love to have the customer report about their findings based on [our questions posted here](https://github.com/microsoft/BotFramework-WebChat/issues/2267#issuecomment-519361280).

[2019-09-21 22:30] #2267 closed

[2019-09-22 01:42] JIoffe commented on #2409
Thank you! Yes, I can confirm that I've seen the 401 from requests that failed to our bot service. Thank you for all of the help! I agree that a 502 would be more intuitive :)

[2019-09-22 07:02] compulim opened #2415 "Receipt card is not rendering correctly"
## Version

`master`

## Describe the bug

Receipt card was broken since React functional component push.

## To Reproduce

1. Go to playground
2. Type `receiptcard`

## Expected behavior

Receipt card should be rendered correctly. Today, nothing is rendered.

[Bug]

[2019-09-22 07:05] compulim opened #2416 "Adaptive Cards cannot be disabled on-the-fly"
## Version

`master`

## Describe the bug

Adaptive Cards cannot be disabled on-the-fly. Buttons and links continue to work.

## To Reproduce

Steps to reproduce the behavior:

1. Go to playground
2. Type `card inputs`
3. Check "Disabled" on the playground panel

## Expected behavior

Adaptive Cards should be disabled and no longer allow modification or button clicks.

[Bug]

[2019-09-22 07:32] compulim opened #2418 "Connectivity status should not waste-render every 400ms"
## Version

`master`

## Describe the bug

When putting a `console.log()` inside the render function of `DebouncedConnectivityStatus`, it was called every 400 ms due to wasted render.

## To Reproduce

As described in the above section.

## Expected behavior

It should only render when changed.

## Additional context

This is caused by recent React functional component push.

[Bug]

[2019-09-22 07:46] compulim opened #2420 "When saga error occurred, it should not turn into disconnect"
## Version

`master`

## Describe the bug

There are two problems:

- When saga error, it disconnect Direct Line. Connectivity status turn from "sagaerror" to "disconnected"
- But since there is a bug in "disconnected" reducer, an exception prevented "sagaerror" turn into "disconnected", but result in an exception

## To Reproduce

1. Open playground
1. Click "Inject error"

## Expected behavior

[2019-09-23 12:51] Bradrajkumar commented on #2406
If it is the expected behaviour then it should also work on **safari browser** in **iphone** as well as on **pc**.
mic option is coming and onclick of mic button it is activating as well as listening is also happening text but the response which is having text is not doing TTS functonality there.

please suggest me for this option also.

here is my final code which i have written working on chrome

[2019-09-23 15:42] vijaysaimutyala commented on #2401
Thanks @corinagum

[2019-09-23 19:48] #2418 closed

[2019-09-23 19:54] compulim opened #2422 "Use thumbnail URL instead of channel data for storing the thumbnail"
## Version

`master` or `4.5.2`

## Describe the bug

Today, we use channel data to save the thumbnail.

We should update it to use `thumbnailUrl` instead.

## To Reproduce

Steps to reproduce the behavior:

1. Go to playground
1. Upload a photo

## Expected behavior

Look at the traffic:
- It should use `attachments[].thumbnailUrl` to keep the data URI
- It should survive <kbd>F5</kbd>
   - Pleas

[2019-09-23 22:07] compulim commented on #2263
![image](https://user-images.githubusercontent.com/1622400/65466490-d58c5700-de13-11e9-9ab0-e70b0fc19b2c.png)

Their production build is still 1.2.0.

[2019-09-24 16:58] stevkan opened #2424 "Voice pattern remains same after changing selectVoice parameters"
## Version

4.5.2, CDN

## Describe the bug

Running sample 06.g.select-voice, the user is not able to change or alter the voice pattern used after updating `selectVoice` parameters. Reported by customer in Stack Overflow issue [Change voice in Webchat using BrowserWebSpeech](https://stackoverflow.com/questions/58032658/change-voice-in-webchat-using-browserwebspeech). Confirmed bug in testing.

##

[2019-09-25 03:15] #2157 closed

[2019-09-25 06:32] #2415 closed

[2019-09-25 06:32] #2416 closed

[2019-09-25 07:06] #2360 closed

[2019-09-25 07:13] Bradrajkumar opened #2425 "Bug report for speech option to be enabled on safari browser for Mac OS and iOS devices"
**Very first thing, this is for webchat V4.**

here is the link i followed for enbaling the speech option in safari browser:-
**https://github.com/microsoft/BotFramework-WebChat/blob/master/SPEECH.md#special-considerations-for-safari-on-mac-os-and-ios**

There is one another link which i tested on iOS mobile device safari and Mac OS safari browser (a sample bot provided by your team):- **https://m

[2019-09-25 10:28] Bradrajkumar commented on #2406
#2425 please follow the new bug opened for safari on iOS.

[2019-09-25 15:31] carlosscastro commented on #2425
@compulim and / or @tdurnford could you please take a look? Thanks!

[2019-09-25 18:11] benbrown opened #2426 "Add support for deleteActivity and updateActivity"
Adding support for these methods in WebChat will bring support for these methods to the emulator, which is important to allow developers to truly test their applications which may rely on these methods!

According to @compulim this would involve a few lines here:

https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/core/src/reducers/activities.js#L83

[2019-09-26 17:42] tdurnford commented on #2425
I'm going to try and reproduce this on my mac later today.

[2019-09-26 17:51] tdurnford opened #2427 "Hide send box input without hiding suggested actions"
## Feature Request
**Describe the suggestion or request in detail**

At the moment, customers can hide the Send Box through Web Chat's style options; however, the `hideSendBox` option also hides suggested actions. It would be beneficial to have the ability to hide the side box while still displaying the suggested action so that the user has to select one of the actions to continue the conversation

[2019-09-26 18:44] corinagum commented on #2427
To me it doesn't seem 'right' to have typing indicator and connectivity status inside of the send box, but move suggested actions outside of the send box. Thoughts?

[2019-09-26 18:49] tdurnford commented on #2427
I agree that if suggested actions is moved out of the send box we should also move the typing indicator and the connectivity status. Issue #2323 is a DCR to encapsulate the typing indicator and the connectivity status components in a notification center. Does it make sense to also have the notification center include suggest actions and have all three sit in a component above the send box?

[2019-09-26 20:48] corinagum commented on #2427
I've had this discussion before with @compulim and we've gone back and forth about whether or not suggested actions should be inside the send box. I think it's logical to be in the sendbox itself and removing it doesn't seem correct to me.

Is there a customer ask for this? If not, I'd say making the switch is lower priority because we don't have users requesting this kind of change.

[2019-09-26 20:50] compulim opened #2428 "Should interrupt speech synthesis after microphone button is clicked"
## Version

`master`

## Describe the bug

This bug is discovered when speech recognition is enabled but speech synthesis is disabled.

Few points:

- On the "core" side, we do not know if speech synthesis is going well or not, or if it is available on the system
- We assumed if speech recognition is available, speech synthesis is also available
   - "core" will mark the next bot message to synthe

[2019-09-26 21:00] tdurnford commented on #2427
Yes, a customer asked a question on SO about hiding the send box while maintaining Suggested Actions.
https://stackoverflow.com/questions/58116813/while-showing-button-choices-at-that-time-i-need-to-hide-sendbox-in-bot-framewo/

[2019-09-26 21:09] corinagum commented on #2427
Alright, sounds good. Let's see what kind of traction we get on this, and go from there.

If anyone is looking for this feature, please add your +1 to this thread so we know that people want this feature.

[2019-09-27 00:41] tdurnford commented on #2425
@Bradrajkumar is correct. Speech in Web Chat v4.5.2 does not work in Safari; however, it seems to be fixed in the latest build. This should be resolved in our next release towards the end of October. If you need an immediate solution, please take a look at our documentation on using the [Latest Bits](https://github.com/microsoft/BotFramework-WebChat#how-to-test-with-web-chats-latest-bits). Thanks

[2019-09-27 18:18] carlosscastro commented on #2388
@Zack-Strife we are discussing this internally, we'll come back with a relevant update shortly. Thanks for your patience!

[2019-09-27 19:07] arman-g opened #2430 "Can't set userAvatarBackgroundColor"
The userAvatarBackgroundColor is not reflecting to the set color. It stays blue. The same is true for bot avatar background color.
Using CDN: https://cdn.botframework.com/botframework-webchat/latest/webchat.js

![Capture](https://user-images.githubusercontent.com/22778273/65795487-3cb15080-e11f-11e9-89aa-c0a4a475ba9b.PNG)
`styleOptions: {

	  botAvatarImage: "https://static.crozdesk.com/web_app_li

[2019-09-27 19:48] compulim commented on #2424
I have just tried out `06.g` and it works.

We have multiple speech fixes that is not in production yet. Can you confirm if it is working in `master` or not? I am sure it won't work in `4.5.2`.

[2019-09-27 20:03] tdurnford commented on #2430
The `userAvatarBackgroundColor` style option was adding in PR #2384 which will be include in our v4.6 release towards the end of October. If you need an immediate solution, please take a look at our documentation on using the [Latest Bits](https://github.com/microsoft/BotFramework-WebChat#how-to-test-with-web-chats-latest-bits).

[2019-09-27 20:03] #2430 closed

[2019-09-27 20:13] arman-g commented on #2430
Thank you!

[2019-09-30 06:11] Bradrajkumar commented on #2425
thank you @tdurnford for considering the issue , eagerly waiting for reply from your end.

[2019-09-30 06:31] Bradrajkumar opened #2431 "Need feature like emojies to get rendered in every user question and bot responses."
Hi all,

I saw there are **emojis** attached with every message in microsoft teams.
Is it possible to implement the same scenario in webchat. if yes please help me to achieve it.
i need an explanary code snippet using javascript or jquery and a small demo(if possible).

[2019-09-30 13:05] sathishkumar404 opened #2432 "How do I beginDialog for a specific LUIS intent?"
[code]

Error like "beginDialog is not a function "

[2019-09-30 13:32] tdurnford commented on #2431
Yes, this is possible. Take a look at the [Custom Reaction Buttons](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/09.customization-reaction-buttons/) Web Chat sample.

In the future, 'how to' questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you have about developing your own features over there so the community at lar

[2019-09-30 13:40] tdurnford commented on #2432
You need to create a dialog context from the dialog set to begin a conversation.
[code]

Take a look at the [Multiturn Prompt](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/05.multi-turn-prompt) BotBuilder Sample for more details.

In the future, 'how to' questions such as this one are better suited for Stack Overflow. Please feel free to post other question

[2019-09-30 13:40] #2432 closed

[2019-09-30 16:26] corinagum commented on #2425
This bug has been fixed and will be available in our next release in October. If you need these changes immediately, please see our documentation on pointing to our MyGet feed for [latest bits](https://github.com/microsoft/BotFramework-WebChat#how-to-test-with-web-chats-latest-bits).

[2019-09-30 16:26] #2425 closed

[2019-09-30 21:33] #2428 closed

[2019-10-01 14:11] Edwardfelix08 opened #2434 "Token not getting saved in adapter when using "SSO-for-enterprise-apps""
We are using Bot Framework V4 (Typescript), and we are referring "https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/19.a.single-sign-on-for-enterprise-apps" for achieving SSO using AAD.

We have below questions:

1. how does the bot adapter preserve the token from the channel data (token received from React App) so we do not have to store into state.
2. how is it used to sign o

[2019-10-01 17:32] stevengum commented on #2434
@Jeffders can you chime in on this issue? I'll be transferring this issue over to the botbuilder-js repo once I'm able to...

[2019-10-01 20:39] NickEricson commented on #2409
Thank you for reporting this issue. We should have a fix deployed in the next few weeks. We will revert to the original behavior.

[2019-10-02 08:33] compulim opened #2435 "Microphone button disabled when speech synthesis is disabled and received an "expecting" input hint"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/66029532-53a3ca00-e4b4-11e9-9c5c-9b5faab93046.png)

## Version

`master`

## Describe the bug

When speech synthesis is disabled, but speech recognition is enabled (i.e. sample 06.h), the microphone button is disabled after receiving an "expecting" input hint.

## To Reproduce

1. Run sample `06.h`
2. Say, "input hint expec

[2019-10-02 09:01] compulim opened #2436 "Overlapping speech synthesis and recognition when receiving an activity with expecting input hint"
## Version

`master`

## Describe the bug

With speech recognition and synthesis enabled (Cognitive Services as we tested), talk to the bot thru microphone and let the bot reply with an activity of expected input.

Web Chat should not synthesize and turn on microphone at the same time, but it do today.

## To Reproduce

Steps to reproduce the behavior:

1. Go to playground
1. Click microphone and

[2019-10-02 14:56] laxmanj8666 opened #2437 "WebChat Channel Stopped working suddenly for all our bots from yesterday."
We have WebChat channel in azure for our bots, starting yesterday afternoon. The webChats stopped responding. Everything was working fine but suddenly stooped working.

## Screenshots

<img width="892" alt="Screen Shot 2019-10-02 at 9 43 37 AM" src="https://user-images.githubusercontent.com/3451844/66054864-3f82bb80-e4fa-11e9-923d-edeb7c00c487.png">
<img width="847" alt="Screen Shot 2019-10-02 at

[2019-10-02 15:01] laxmanj8666 commented on #2437
If I change ID from Webchat secret to direct line secret it started to work.

[2019-10-02 16:08] CoHealer commented on #2437
@stevkan, can you please confirm this should have been closed?

[2019-10-02 17:07] corinagum commented on #2323
New idea discussed by me, @compulim, and @tdurnford:

What if we made a new Toast component, that would allow us to stack notifications, suggested actions, and send typing indicator (and other notifications that the user may want to implement) so that they are no longer a part of the send box (improves simplicity) and allows for a new section of Web Chat that we could call "Status and notification

[2019-10-02 18:09] stevkan commented on #2437
@laxmanj8666, reopening to confirm you don't need anymore help? The webchat secret should work and if it still is not, then that is an issue that we should try and resolve.

Please let me know if you require further assistance on this.

Thanks!
Steve.

[2019-10-03 06:47] Bradrajkumar opened #2438 "Sending activity type as "Event" when bot load in webchat v4 using react"
Hi all,

i have gone through some of the links but didn't find any relavant code.
when webchat load, i want to send an "event" as an activity to the bot. The example you have provided for us is not using react (please correct me if i am wrong).
i need the code snippet to make it possible using react, please provide me the code snippet or provide me the link where i can find the relavant answer.

[2019-10-03 06:54] Bradrajkumar commented on #2431
hi @tdurnford , but the situation is i am not using react to render webchat like the link which you have provided:- https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/09.customization-reaction-buttons/
help me with another approach to customize as per my requirement.

[2019-10-03 08:25] rdosanjh commented on #1289
I would like to take this if it's still relevent

[2019-10-03 15:45] tdurnford commented on #2438
'How to' questions such as this one are better suited for Stack Overflow. Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the Web Chat tag. Thank you!

[2019-10-03 15:45] #2438 closed

[2019-10-03 15:57] tdurnford commented on #1904
PR https://github.com/microsoft/BotFramework-WebChat/pull/2384 added `botAvatarBackgroundColor` and `userAvatarBackgroundColor`. Do we still want to add `botAvatarFont` and `userAvatarFont` to the default style options?

[2019-10-03 16:27] corinagum commented on #1904
Hmm it doesn't seem like we've had much demand for these props yet. But if @reyesrico is willing to help, maybe we should do it? @compulim, thoughts?

[2019-10-03 18:08] stevengum commented on #2437
@laxmanj8666 if you need any more assistance please open a new issue. I'm going to close this issue as it sounds like it has been fixed.

[2019-10-03 18:08] #2437 closed

[2019-10-03 18:22] compulim commented on #2438
Thanks @tdurnford. Adding one small point.

Web Chat works with both React and without React, [as this chart](https://github.com/microsoft/BotFramework-WebChat#customize-web-chat-ui) outlined.

![image](https://user-images.githubusercontent.com/1622400/66152864-3b749d80-e5cf-11e9-8dab-5681149dec70.png)

The code are actually interoperable and very easy to "upgrade". We designed the tiered system t

[2019-10-03 18:26] compulim commented on #2431
Can you elaborate on your user story? E.g. with mockups.

If this is a popular asks, we will turn it into a sample. And if it is super popular, we will turn it into a feature. 😉

[2019-10-03 18:34] compulim commented on #2431
Talked to the team.

I am closing this one.

@Bradrajkumar please file us a new issue, with the design mock up and user story you are looking for. We will consider your case based on these information.

[2019-10-03 18:34] #2431 closed

[2019-10-04 05:27] MayuriNaik opened #2440 "A11y_VirtualAgentBots_VirtualAgentHome_ChatDialog_Keyboard: The scroll-able element that appears in the Chat section is not keybaord actionable."
**Environment Details:**
Browser Version: Microsoft Edge 44.18362.267.0
Windows Version: Windows10
Screen reader: Narrator, NVDA (2019.2)
MAS Violated: MAS 2.1.1

**Steps to Reproduce:**
1. Home page should open for Virtual Agent Bots.
2. Navigate to main content area chat dialog,  the left side of the screen.
3. Navigate to the "Chat" section and interact with the chat functionality provided.
4.

[2019-10-04 05:31] MayuriNaik opened #2441 "A11y_VirtualAgentBots_VirtualAgentHome_ChatDialog_Screenreader: Using narrator incorrect information is announced for the "Type your message" edit field."
**Environment Details:**
Browser Version: Microsoft Edge 44.18362.267.0
Windows Version: Windows10
Screen reader: Narrator, NVDA (2019.2)
MAS Violated: 1.3.1

**Steps to Reproduce:**
1. Home page should open for Virtual Agent Bots.
2. Navigate to main content area chat dialog,  the left side of the screen.
3. Start screen reader.
4. Navigate to the "Chat" section and then navigate to the "Type you

[2019-10-04 05:35] MayuriNaik opened #2442 "A11y_VirtualAgentBots_VirtualAgentHome_ChatDialog_Screenreader: Using narrator the chat appears from the bot is announced twice to the screen reader users."
Environment Details:
Browser Version: Microsoft Edge 44.18362.267.0
Windows Version: Windows10
Screen reader: Narrator, NVDA (2019.2)
MAS Violated: MAS 1.3.1

**Steps to Reproduce:**
1. Home page should open for Virtual Agent Bots.
2. Navigate to main content area chat dialog,  the left side of the screen.
3. Start screen reader.
4. Navigate to the "Chat" section and then navigate to the "Type you

[2019-10-04 05:39] MayuriNaik opened #2443 "A11y_VirtualAgentBots_VirtualAgentHome_ChatDialog_Screenreader: Using narrator the entire chat is announced from the top instead of just announcing the latest chat."
**Environment Details:**
Browser Version: Microsoft Edge 44.18362.267.0
Windows Version: Windows10
Screen reader: Narrator, NVDA (2019.2)
MAS Violated: MAS 1.3.1

**Steps to Reproduce:**
1. Home page should open for Virtual Agent Bots.
2. Navigate to main content area chat dialog,  the left side of the screen.
3. Start screen reader.
4. Navigate to the "Chat" section and then navigate to the "Type

[2019-10-04 05:56] MayuriNaik opened #2444 "A11y_VirtualAgentBots_VirtualAgentHome_ChatDialog_Screenreader: Using narrator the form landmark is announced twice to the screen reader users."
**Environment Details:**
Browser Version: Microsoft Edge 44.18362.267.0
Windows Version: Windows10
Screen reader: Narrator, NVDA (2019.2)\
MAS Violated: MAS 1.3.1

**Steps to Reproduce:**
1. Home page should open for Virtual Agent Bots.
2. Navigate to main content area chat dialog,  the left side of the screen.
3. Start screen reader.
4. Navigate to the "Chat" section and then navigate to the "Typ

[2019-10-04 08:58] r3dr4gon commented on #1401
I'm also intersted in this one...

[2019-10-04 09:19] r3dr4gon opened #2446 "Trigger listening without clicking"
As the open microphone request is still on the backlogs, I was wondering if there is an option to trigger the listening (virtualy click the mic button) manually? I.e. is there any way to simulate the click of the mic button?

[2019-10-04 09:39] compulim commented on #2446
Today, you could virtually click the microphone button through customization. Look at `microphoneButton.js` with the `connectMicrophoneButton()` function for the HOC.

But there is a requirement on Safari (iOS and Mac OS), which requires "user-initiated gesture" for audio playback and recording. The user would need to physically click/tap on something to start the first recording. Otherwise, the b

[2019-10-04 09:39] #2446 closed

[2019-10-04 09:46] compulim commented on #2436
Didn't repro on 4.5.2 or `master`.

Tried both bundle and playground.

[2019-10-04 09:46] #2436 closed

[2019-10-04 15:13] dmprantz commented on #2409
@NickEricson can you please advise (1) if this has been rolled back yet, (2) if not an ETA, (3) when we will be notified, and (4) should we expect any further issues?  You will roll back DirectLine, resolve the issue there, test it, and deploy in a way which should not introduce further issues....correct?  Thanks.

[2019-10-04 15:37] NickEricson commented on #2409
Hi @dmprantz  - (1) This has not been rolled back. (2) We are planning on shipping a fix next week (the fix is checked in already). The fix rolls out world-wide over the week - typically west us is Thursday.

(3) I can reply to this thread when the fix goes out.

(4) The bug that is being fixed is this:
When DirectLine sends a message to a bot and the send call fails (ie it times out or the bot re

[2019-10-04 16:50] corinagum commented on #2444
this should be fixed in https://github.com/microsoft/BotFramework-WebChat/pull/2423
needs verification and close.

[2019-10-04 16:54] corinagum commented on #2441
Can we get reproduction videos of this?

[2019-10-04 17:52] corinagum commented on #1904
Conversation with @compulim:

Do we have demand for changing the font other than the primary font? if we do, then we should consider implementing this.

My initial assumption is that there hasn't been demand for this. I'm going to change the title of this issue to only refer to fonts and we can see if users add their +1, then go from there.

[2019-10-04 17:56] corinagum opened #2447 "Add bot/user font to defaultStyleOptions"
#2198
 Feature Request
This issue is to see if there is demand from our customers to implement the ability to change both the bot and user's font in the speech button.

If you are looking for this feature, please chime in below.

**Additional context**
These changes would reflect as `botAvatarFont` and `userAvatarFont` in defaultStyleOptions.

Original discussion began on #1904.

[Enhancement]

[2019-10-04 17:58] corinagum commented on #2447
@reyesrico, are you interested in implementing this?

[2019-10-04 18:03] compulim opened #2448 "Cherry-pick for 4.5.3"
## Background

Bump to 4.5.3 with cherry-picked fixes.

We would love to focus on 3 areas: accessibility fix, thumbnail URL, speech parity work.

## Pull requests

- Accessibility fix
   - [x] #2423
- Thumbnail URL
   - [x] #2206
   - [x] #2262
   - [x] #2433
- Speech work
   - We will skip speech work in this patch release
   - [x] ~#2338~
   - [x] ~#2241~
   - [x] ~#2246~
   - [x] ~#2300~
   - [

[2019-10-04 18:10] corinagum commented on #2232
I'm returning this to Backlog due to inactivity. Feel free to resume discussion here. :)

[2019-10-04 18:15] corinagum commented on #1976
We have 2 stale PRs related to Localization that haven't been completed yet due to scheduling problems. Those links are:
https://github.com/microsoft/BotFramework-WebChat/pull/2369
https://github.com/microsoft/BotFramework-WebChat/pull/1548

**Both contributions are very much appreciated!** The dev team will implement these *with original credit* as one PR in the near future.

I am closing both ab

[2019-10-04 22:23] p-nagpal opened #2449 "Web Chat embed page does not work on IE11"
## Screenshots

## Version

Default version that is used in Azure Portal --> Bot Service --> Test in Webchat

## Describe the bug

Webchat Embed page does not work on IE11. The message box doesnt appear.

## To Reproduce

Steps to reproduce the behavior:

1. Go to Azure Portal --> Open a Web App Bot that you have created
2. Click on Test in Webchat
3. Notice that the message box is missing and we

[2019-10-04 23:45] stevengum commented on #2263
This has been fixed! https://github.com/microsoft/AdaptiveCards/issues/3301#issuecomment-535278549:

![Cool-release-bot](https://user-images.githubusercontent.com/14935595/66245760-b370bf80-e6c4-11e9-8570-b3943dc8767f.png)

[2019-10-05 01:43] #2435 closed

[2019-10-05 13:55] geea-develop commented on #1976
@corinagum let me know if you need any assistance. we continuously merging the master to our fork but this takes time all because RTL is not natively supported. I don't think we are very far from it. Although adaptive cards will need some adjustments since they are not natively supported either.

[2019-10-06 00:28] corinagum commented on #1976
@geea-develop I don't have a timeline for working on RTL support, but I hope that once I do I can consult with you! Thanks again for your contributions, and I apologize that this has taken a long time.

[2019-10-06 21:34] compulim opened #2452 "4.5.3 Release checklist"
This is a QFE and the related pull request is #2455.

## Build

1. [x] Update `CHANGELOG.md` to mark specific changes in `4.5.3`
1. [x] Run `npm version --no-git-tag-version 4.5.3`
1. [x] Run daily pipeline manually, set "generate release version number" to `true`
   - (This will not push to NPM or CDN)
   - The build number is `81869` and commit is `774e619`
1. [x] Download build artifacts
1. [x]

[2019-10-06 21:36] compulim opened #2453 "4.5.3 Post-release checklist"
These are chores that we should do before starting the cycle to reduce ripple effects if we do it in mid-cycle.

## Applies to all releases

- [x] Bump `package.json` to `4.5.4-0`
- [ ] ~Verify the build works minimally~
   - Does not apply to `qfe` release, because we cherry-pick from `master` to `qfe`, no modifications done to `master` (minus the version bump)
- [x] On QFE branch, make sure `CHA

[2019-10-07 06:15] Bradrajkumar commented on #2349
hi @tdurnford,

**approach 1:-**
it is possible when bot framework is about to send response on webchat before that i will trigger an action which will fetch the user email from azure active directory and render all of them inside the adpative card in json format.
when adaptive card rendered successfully at that time we can add some custom code for suggestion.

**approach 2:-**

when adative card

[2019-10-07 07:38] RohitJadhav-TCS opened #2456 "A11y_VirtualAgentBots_Virtual Agent Home_Chat Dialog_AI4W: Certain ARIA roles must contain particular children (.css-ljhy6a)"
**Issue**
Certain ARIA roles must contain particular children (aria-required-children)

**Element path**
.css-ljhy6a

**Snippet**
ul aria-live="polite" class="css-ljhy6a css-7c9av6" role="list"></ul

**How to fix**
Fix any of the following:
- Required ARIA child role not present: listitem

**Environment**
Chrome version 76.0.3809.132 This accessibility issue was found using Accessibility Insights

[2019-10-07 15:48] tdurnford commented on #2449
The Test in Web Chat blade in Azure is throwing an "ajaxExtended call failed" error in IE 11.

![image](https://user-images.githubusercontent.com/17039790/66326732-5cdecd80-e8de-11e9-8f91-76780ad17e04.png)

I tried navigating to [https://webchat.botframework.com/embed/b/gemini?s=<WEB_CHAT_SECRET>&b=<BOT_ID>]() to see if the error would replicated, and Web Chat threw a "'Promise' is undefined" erro

[2019-10-07 15:53] tdurnford commented on #2349
@Bradrajkumar I recommend you ask your follow up **how to** question on StackOverflow so the BotFramework Support Team and community at large can best assist you with your problem. Please add the [Web Chat](https://stackoverflow.com/questions/tagged/web-chat) tag to your question.

[2019-10-08 10:59] alokraj68 commented on #1654
Hi,

Is it possible to pass these parameters from the normal HTML ` window.WebChat.renderWebChat({`

I tried the following combinations and could not find any related to User id and name working.

[code]

[2019-10-08 11:08] alokraj68 commented on #1654
I got it working at last.

[code]

Keeping it here for future reference for the community.

[2019-10-08 11:11] alokraj68 commented on #1724
is there a way to pass on custom data through the user object like it was possible before in v3?

[2019-10-08 11:29] alokraj68 commented on #2289
How to achieve this in C# SDK?

[2019-10-08 20:59] cwhitten commented on #2388
Hello @Zack-Strife. Thank you for your patience. The DirectLine channel service does not provide locale information in the ConversationUpdate messages that are send outside of the Emulator. In

Can we get some additional data from you?

1. In which scenario are you hoping to use the locale provided in the ConversationUpdate message? Are you able to get this locale information via other activites?

[2019-10-08 22:20] ManjulaMalaiarasan opened #2457 "InputHint - acceptingInput - for a single message activity turns on microphone, while its said only 'expectingInput' will turn on microphone"
## Version
Webchat version :  "4.4.2-0" -  npm package

## Describe the bug
when a single message activity is sent with inputHint set to acceptingInput, the microphone is turned on automatically on the webchat and listening to user on latest Chrome browser.
Currently only way to keep the microphone off is to set the inputHint to ignoring input.

It is expected that acceptingInput hint should not t

[2019-10-08 22:31] dandriscoll commented on #2426
The meeting on this topic has concluded, and the most important outcome is that support for Update and Delete within the Direct Line service remains on the backlog with low priority and no ETA due to low customer demand. There are some followup items within Web Chat and the Emulator and we agreed to transfer this issue to track those.

[2019-10-09 11:00] Bradrajkumar opened #2458 "webchat not responding issue in sharepoint modern site"
hi all,

**https://github.com/SharePoint/sp-dev-fx-extensions/tree/master/samples/react-aadtokenprovider-bot**
i have used this complete code and did some modification to embed webchat in sharepoint modern site.
bot is also responding, but if user **become idle for approx. more than one hour, bot stops responding.**
there is no such issue showing in console regarding webchat.
i am not getting what

[2019-10-09 16:46] corinagum commented on #2458
@Bradrajkumar, it looks like your token needs to be refreshed.

Please note that your link is not a Web Chat sample and therefore we are unable to provide support. In the future I recommend taking your implementation questions to Stack Overflow.

[2019-10-09 16:46] #2458 closed

[2019-10-09 23:41] tonyanziano opened #2459 "[Tracking] Update webSpeechPonyFillFactory signature to accept a promise for region"
This issue is to track the need to update the `webSpeechPonyFillFactory` signature so that we can provide a promise that returns both the `region` and `authorizationToken` together.

This will be necessary once the BF speech service resources are scaled up to more datacenters outside of `westus`. Currently, the region is hardcoded in the Emulator.

See PR https://github.com/microsoft/BotFramework-

[2019-10-10 11:38] alokraj68 commented on #1846
how to achieve the same on webchat without using react?

[2019-10-10 12:01] alokraj68 commented on #2305
Can you write the equivalent for C# SDK also?

[2019-10-10 16:32] tdurnford commented on #2305
@alokraj68 This **how to** question is better suited for StackOverflow. Please post your question there with the [Web Chat](https://stackoverflow.com/questions/tagged/web-chat) and [BotFramework](https://stackoverflow.com/questions/tagged/botframework) tags so the BotFramework Support Team and the community at large can help you work through your issue.

[2019-10-10 16:33] tdurnford commented on #1846
@alokraj68 This **how to** question is better suited for StackOverflow. Please post your question there with the [Web Chat](https://stackoverflow.com/questions/tagged/web-chat) and [BotFramework](https://stackoverflow.com/questions/tagged/botframework) tags so the BotFramework Support Team and the community at large can help you work through your issue.

[2019-10-10 18:10] #2453 closed

[2019-10-10 18:15] corinagum opened #2461 "Web Chat errors when built inside a React app of a different version that uses hooks"
![image](https://user-images.githubusercontent.com/14900841/66594862-c49b4f80-eb4e-11e9-8d94-8ce68280af02.png)

## Version
latest bits

## Describe the bug

Using hooks in a React App that hosts Web Chat, but uses a different version of React, results in error.

## To Reproduce

Steps to reproduce the behavior:

1. Build a basic React App using React version 16.8.0
1. Insert the following hook: `R

[2019-10-10 20:55] corinagum commented on #2448
Closing as resolved: https://github.com/microsoft/BotFramework-WebChat/pull/2455

[2019-10-10 20:55] #2448 closed

[2019-10-10 21:01] corinagum commented on #2452
Closing as resolved: https://github.com/microsoft/BotFramework-WebChat/pull/2455

[2019-10-10 21:01] #2452 closed

[2019-10-10 21:21] corinagum commented on #2457
@compulim I believe you are currently investigating this problem, is that correct?

[2019-10-10 21:25] corinagum commented on #2457
@ManjulaMalaiarasan thanks for reporting this issue. However I notice that you are using an older version of Web Chat. Could you test this out using Web Chat's latest, and see if the issue is still being reproduced? Please let us know your findings here. Thank you!

[2019-10-10 21:49] cwhitten commented on #2449
This will be addressed in 4.6/Ignite with https://github.com/microsoft/BotFramework-WebChat/pull/2315. Please reach out if this needs to be addressed sooner.

[2019-10-10 22:04] tdurnford commented on #2449
@cwhitten will Test in Web Chat be bumped to v4.6 after Ignite?

[2019-10-10 22:34] cwhitten commented on #2449
It will also need to be bumped

[2019-10-11 00:37] ManjulaMalaiarasan commented on #2457
@corinagum Just tested with version 4.5.4. The inputHints work correctly for single and multiple activities and the issue is not reproducible. Thank you. I guess the recommendation would be to update my webchat then.

[2019-10-11 05:23] handsomeyao77 opened #2462 "It often occurs 403 error if use token instead bot secret"
Hi team,

we try to use DirectLine token instead Bot secret to start a conversation. It will work well if customer keep talking with webchat, but when customer leaves a long time then back to conversation, it often occurs 403 error.

In this case, customer have to refresh the page to create another a connection and start a new conversation.

![image](https://user-images.githubusercontent.com/73111

[2019-10-11 06:59] Vividha-Khandelwal opened #2463 "A11y_VirtualAgentBots_VirtualAgentHome_ChatDialog_Usability: Unnecessary "Tab" navigation provided for the <(left) and >(right) buttons that appears for the list of stores."
"Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier."

Environment Details:
Application Name: Virtual Agent Bot
 Browser Version: Microsoft Edge 44.18362.267.0, Google chrome Version 76.0.3809.100 (Official Build) (64-bit)
Windows Version: Windows10

Repro Steps:
1. Home page should open for Virtual Agent Bots.
2. Navigate to main

[2019-10-11 08:43] marcasmar94 opened #2464 "[WebChat] CardAction Only sends "Text" back to the bot"
Using **WebChat**, we are sending **CardAction**s either as **SuggestedActions** or as **HeroCard** Buttons.

The issue we are facing is that we can not differentiate between a **SuggestedAction** pressed or a normal **text message**. Whenever the SuggestedAction is pressed, we only receive is the "**Text**" field of that CardAction

- We have tried to send it as **postBack** or **imBack**
- We ma

[2019-10-11 16:25] tdurnford commented on #2462
You likely need to refresh your token before it expires. Take a look at the [Direct Line Authentication](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0#refresh-token) documentation for more details.

[2019-10-11 16:28] #2457 closed

[2019-10-11 17:01] corinagum commented on #2464
@marcasmar94 thanks for filing this issue. Could you please provide your code related to the suggested actions / hero card implementations?

[2019-10-11 17:02] corinagum commented on #2447
Moving this to backlog since we don't have much demand and my volunteer disappeared. :P

[2019-10-11 17:14] corinagum commented on #2449
I'm going to close this issue since the PR is already in master bits.

[2019-10-11 17:14] #2449 closed

[2019-10-11 17:31] tdurnford commented on #2464
@marcasmar94  I would recommend using a `messageBack` action instead of a `postBack`. It includes the action's value property where you can indicate how the activity was sent. Take a look at the code snippets below.

**Bot Framework SDK v4 (Node)**
[code]
**Response**
![image](https://user-images.githubusercontent.com/17039790/66671660-6aaf8e00-ec11-11e9-857d-811e58987aff.png)

[2019-10-11 18:19] corinagum opened #2465 "Documentation/Support for Web Chat on mobile devices"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Related to increase in customer asks for information on Web Chat in native web views.

**Additional context**
A few related issues that need to be documented:

https://github.com/microsoft/BotFramework-WebChat/issues/1154
https://github.com/microsoft/BotFramework-WebChat/issues/2044#issuecomment-503655312
https

[2019-10-11 22:54] stevkan commented on #2424
Apologies for the delay in response. This, inadvertently, fell off of my radar. Tested successfully in `master` without issue.

[2019-10-11 22:59] corinagum commented on #2424
Great, thanks @stevkan. Closing as no repro

[2019-10-11 22:59] #2424 closed

[2019-10-12 02:34] handsomeyao77 commented on #2462
Thank you @tdurnford !

Do we have any event to check whether the token is expired or not before occurs 403 error?

[2019-10-12 02:42] handsomeyao77 commented on #2462
We expect a thread that can refresh the token automatically, so client could start conversation anytime.
It requires us to know when the current token will expire and need to renew.

[2019-10-12 17:24] marcasmar94 commented on #2464
Thank you @tdurnford , using **messageBack**  got the desired result. 👍

[2019-10-13 13:53] AntonLydike commented on #1229
But... **This** is issue #1229

Where's the workaround?

[2019-10-13 15:20] sgellock commented on #1229
@AntonLydike sorry Anton, it looks like I was closing this issue when I should have closed a different one.  @compulim can you help?

[2019-10-13 15:45] AntonLydike commented on #1229
Yeah, no worries mate. I just ran across this issue and was a little bit confused when I looked at this. For me, this happened because I missed a type check and called `.map` on a promise, so yeah. If anyone else comes across this, check yo types!

[2019-10-13 15:54] sgellock commented on #1229
@AntonLydike got it.  ok.  sounds like you're in good shape.  I'll close this issue then, sound ok?

[2019-10-14 09:09] alokraj68 commented on #2302
This method is showing the message to the user. in V3 it never did. Is that a bug?

Is there a way to make it like how it was in v3

[2019-10-14 12:06] Hatzman91 opened #2467 "A way to override Localisation"
## Feature Request

I have found no way to override the localisation for example the "Type your message" in the SendBox. Because in the German version we want to use a more polite form of language.

![image](https://user-images.githubusercontent.com/26482488/66750037-a6ee2300-ee8b-11e9-8321-35e3e35770ab.png)

We want there to have "Verfassen Sie eine Nachricht".

Thanks :)

[2019-10-14 12:37] prashanthsridhar opened #2468 "Pausing while giving input."
## Feature Request

Custom pauses for user speech.

Not everybody speaks the same way,and in the current build there is a provision of just 1.5s pause between words in the input. A little longer or rather custom pauses would be more ideal

[2019-10-14 14:57] #2464 closed

[2019-10-14 15:21] tdurnford commented on #2467
This a duplicate of https://github.com/microsoft/BotFramework-WebChat/issues/1833 which is being tracked with https://github.com/microsoft/BotFramework-WebChat/issues/1839.

[2019-10-14 15:28] alokraj68 commented on #1848
Hi, I am still getting this same issue in chrome 77.

Also, after this, the speech recognizer is not starting.

I am manually canceling the voice since I need to stop it once user presses a button, after that this issue is happening.

Is it a known bug?

[2019-10-14 16:28] NickEricson commented on #2409
A fix was deployed world wide for this last week. Please let me know if you are still seeing this issue.

[2019-10-14 16:38] corinagum commented on #2467
Closing as a duplicate.

[2019-10-14 16:38] #2467 closed

[2019-10-14 16:45] corinagum commented on #2468
@prashanthsridhar, thank you for filing this issue. I think this is a good idea that we should discuss with the team. For now, I am adding the Backlog label and will bring it up in our team discussions. :)

To anyone else looking for a way to lengthen/shorten the user speech pause time, please feel free to leave your +1 below.

[2019-10-14 17:14] corinagum opened #2469 "Cognitive Speech Services sample closes the microphone before human can speak."
Originally brought to our attention by @alokraj68 on issue https://github.com/microsoft/BotFramework-WebChat/issues/1848

## Screenshots
![microphone](https://user-images.githubusercontent.com/14900841/66769708-a1ccac00-ee6a-11e9-902d-36702b3b9bf1.gif)

Note that when clicked, the microphone almost immediately disables.

## Version

latest bits (4.5.4/master)

## Describe the bug

When clicked, th

[2019-10-14 17:15] corinagum commented on #1848
@alokraj68 Thank you for bringing this to our attention. I am going to file another issue since this appears to be a slightly different bug.  https://github.com/microsoft/BotFramework-WebChat/issues/2469

[2019-10-15 05:22] tdurnford commented on #2462
When you request the Direct Line Token, it returns an object that has the token, a conversation id, and the lifespan of the token in seconds which I believe is 30 minutes. I would recommend refreshing the token every 15-20 minutes.

[2019-10-15 06:12] handsomeyao77 commented on #2462
Thanks @tdurnford!

Will the currently token invalid if it doesn't expire but we refresh new one?

e.g.
We have token_01 now, and it goes well, if we refresh the new token(token_02) in the lifespan, does the token_01 still work as normal?

[2019-10-15 09:46] AndreMantas commented on #859
Demo is broken, check console after clicking on mic:

`WebSocket connection to 'wss://westus.stt.speech.microsoft.com/speech/recognition/interactive/cognitiveservices/v1?language=pt-PT&format=detailed&Authorization=eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9(...)' failed: HTTP Authentication failed; no valid credentials available`

Also, current

[2019-10-15 11:37] SreekanthOAuth opened #2470 "Need suggestion to configure the reverse proxy w.r.t 19.a.single-sign-on-for-enterprise-apps"
## Screenshots
My react app folder structure in Azure service.

![image](https://user-images.githubusercontent.com/24246902/66828062-c1003200-ef6d-11e9-8b75-e0e0d6b57fe2.png)

## Version

4.4.1

## Describe the bug

Getting 404 error even after updating the web.config with rewrite url rule.

https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/19.a.single-sign-on-for-enterprise-ap

[2019-10-15 12:32] Bradrajkumar commented on #2431
@compulim, i will create a design mockup and will update you soon.
sorry for late reply.

[2019-10-15 12:46] alokraj68 commented on #2469
Hi, to add up,
am doing `speechServicesPonyfill.speechSynthesis.cancel();` to stop the speech when the user is clicking a button. after sometime when the user try to resume speech I want to clear any pre-existing ones in the queue and activate speech recognizer. But once this cancel is called, after some seconds I get this Log message and the mic becomes not responding.

[2019-10-15 13:44] prashanthsridhar opened #2471 "Custom voice is not being supported"
## Screenshots

## Version
4.5.2

## Describe the bug
i have added all fields defined in the documentation,but the custom voice is not playing.

## To Reproduce

Steps to reproduce the behavior:
selectVoice: () => ({ voiceURI: 'BlaBla' }),
            webSpeechPonyfillFactory: await this.WebChat.createCognitiveServicesSpeechServicesPonyfillFactory({
                region: 'westus2',

[2019-10-15 13:47] tdurnford commented on #2471
This looks like a duplicate of https://github.com/microsoft/BotFramework-WebChat/issues/2424 which should be resolved in our next release towards the end of the month.

[2019-10-15 15:46] AndreMantas commented on #808
I also need to integrate webchat with google speech API (their recognition and synthesis is better at least for my language...).
**Where can I look for pointers on how to implement a ponyfill for easily integrate with renderWebChat and pass the webSpeechPonyfillFactory?**

I was able to use the samples to get it working (hybrid approach with microsoft cognitive services and browser capabilities) b

[2019-10-15 16:19] tdurnford commented on #2462
The first token will still expire after half an hour. Refreshing a token does not extend the lifespan of the original token - it just provides with a new token. I would recommend using the second token after you refresh.

If you need any more assistance with this issue or any other **how to** questions you come across, I recommend asking questions on Stack Overflow with the [Bot Framework](https:/

[2019-10-15 16:19] #2462 closed

[2019-10-15 16:47] corinagum commented on #2471
Closing as duplicate.

[2019-10-15 16:47] #2471 closed

[2019-10-15 18:33] corinagum commented on #2469
Hi @alokraj68, thanks for your patience!

I'm sorry to say that the issue I filed above was a dev error on my part. Our team's bot's speech token had expired which is why I was unable to use speech with Web Chat.

However, I investigated your issue using Web Chat's latest bits (and a non-expired token!) and I believe the issue you are reporting is fixed, meaning that the fix will be available afte

[2019-10-15 18:33] #2469 closed

[2019-10-15 21:57] corinagum commented on #2461
Load balancing @compulim; I'll give this a shot.

[2019-10-15 22:16] corinagum commented on #859
@AndreMantas regarding the error you are receiving on sample 13, could you file a new bug? Please follow the template and that will be a great help.

For speech not speaking text activities, I would suggest filing another issue for that as well, maybe as a Question. We will have to investigate what's going on.

In regards to your implementation questions, we recommend asking these on [Stack Overfl

[2019-10-15 22:22] corinagum opened #2472 "Post-isomorphic-react PR: Update React version in all samples that use unpkg"
This will need to be done after #2461.

Samples will have to be updated with Web Chat's version of React.

[2019-10-15 22:28] compulim commented on #2470
@SreekanthOAuth this one is not related to Web Chat.

I would suggest turning on "failed request tracing" to debug how IIS is doing the redirection. You can read these 2 articles to turn it on, and viewing logs.

Failed request tracing works by logging every decision IIS made. By default, it logs only 400-599, that's why it's called "Failed request". You can configure it to log 100-599, which esse

[2019-10-15 22:28] #2470 closed

[2019-10-15 23:47] AndreMantas opened #2473 "Demo 13 'customization-speech-ui' is broken"
## Version

React via NPM (i guess?)

## Describe the bug

Demo on https://microsoft.github.io/BotFramework-WebChat/13.customization-speech-ui/ is broken, check console after clicking on mic:

`WebSocket connection to 'wss://westus.stt.speech.microsoft.com/speech/recognition/interactive/cognitiveservices/v1?language=pt-PT&format=detailed&Authorization=eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3

[2019-10-15 23:57] AndreMantas opened #2474 "Speech-enabled bot does not "speak activities" in certain cases"
Got the speech demos working (eg 06.f.hybrid-speech) but there are at least two cases in which the activities sent from the bot are not spoken out loud:

**a) proactive activities (like welcome message sent by the bot)**

**b) when user uploads a file**

I understand that the bot only "speaks" when the user clicks in the mic button and talks in the first place.

But I need a way to "forward" utter

[2019-10-16 01:34] corinagum commented on #2473
Hi @AndreMantas, thank you for filing this bug. I will investigate as soon as possible. :)

[2019-10-16 10:42] alokraj68 opened #2475 "Send button not shown once the user types in the message box"
## Version
latest from CDN

## Describe the bug

## To Reproduce

Steps to reproduce the behavior:

1. Go to Voice-enabled chatbot
2. Start typing a message.
3. The send button is not shown and only the mic icon is shown
4. See error

## Expected behavior
The mic icon should turn to send icon once the user starts typing something in the send box.

## Additional context

[Bug]

[2019-10-16 11:38] vijaysaimutyala commented on #2289
@alokraj68  Check my question on SO [here](https://stackoverflow.com/questions/57387730/botframework-web-chat-v4-build-and-generate-custom-css-and-js-file)

[2019-10-16 12:09] prashanthsridhar opened #2476 "Customizable Timestamp font"
##Overview
For fixing the font issue inside the bot, the suggested solution was to change the parameters in .body of the parent component. But that messes up the Timestamp font size. Fontsize attribute is something which is needed in all aspects of the bot.
!
![Capture](https://user-images.githubusercontent.com/11289456/66917930-eeb3ac80-f03b-11e9-81dd-ebaeac5121e3.PNG)

[2019-10-16 15:55] tdurnford commented on #2475
@alokraj68 Can you please fill in the template above with the requested information? I am not able to reproduce this issue.

[2019-10-16 18:23] corinagum commented on #2476
Hi @prashanthsridhar, in `defaultStyleOptions.js` there is the option called `fontSizeSmall` that you can change to fit your needs. The default value is 80%. Please note that this will affect other fonts, for example the connectivity status font as well.

[2019-10-16 18:24] #2476 closed

[2019-10-17 00:40] slowtick commented on #1571
+1

[2019-10-17 07:40] alokraj68 commented on #2475
Hi, Am sorry about that. Something went wrong there.

[2019-10-17 10:32] alokraj68 opened #2479 "Add a sample to consume latest bits"
## Feature Request

1. Consuming the latest bits in non NPM environments like via a CDN.
2. Consuming the latest bots in NPM environments.

1. A sample to show how we can try the latest bits of web chat using pure HTML CDN
2. A sample to show how we can try the latest bits of web chat to use in NPM environments.

The CDN link to webchat latest bits will let people use it to do quick testing.

[2019-10-17 13:05] alokraj68 commented on #2469
Hi,
I could see the latest bits documentation. But is it available for CDN? its only telling how I can install it, but not how I can consume the same.

[2019-10-17 13:27] bleekbless opened #2480 "Glitch when user send a message"
## Describe the bug

When I open the chat and send a message and it is in the 'sending' status the new message always got to the top of the messages and then when the message is actually sent it goest to its expected position... how can I fix that ?

[2019-10-17 17:08] compulim opened #2481 "Support alternative audio input source (Bluetooth adapter)"
## Feature Request

Some browsers may not select the correct audio input source for speech recognition. For Cognitive Services, it support alternative audio input source by specifying the device ID (`navigator.mediaDevices.enumerateDevices`).

## Implementation details

- Passing custom `audioConfig` is already supported in the Cognitive Services adapter
   - (No code modifications needed, just re

[2019-10-17 17:13] corinagum commented on #2479
Hi @alokraj68, unfortunately we do not have a CDN of our master bits at this time. One option available to our customers is to clone Web Chat, build it, and use the `webchat.js` file under `packages/bundle/dist/` add that file as your script.

Please take a look at our `CONTRIBUTING.md` to see how to build Web Chat.

[2019-10-17 17:18] corinagum commented on #2480
@bleekless please use our bug template to fill out information that we will need in order to help you.

Based off of your description, it sounds like you are having clock skew problems. Please take a look at these issues before filing another bug:

https://github.com/microsoft/BotFramework-WebChat/issues/1954
https://github.com/microsoft/BotFramework-WebChat/issues/1127

[2019-10-17 17:18] #2480 closed

[2019-10-17 17:31] corinagum commented on #2475
@alokraj68 Please note that you can still send the typed message by pressing Enter when you are ready to send.

I just tested this out and it is true that clicking the microphone button (instead of pressing enter) with a typed message in the send box turns on the microphone, rather than sending the typed message. It looks like this is a UX oversight, but I'm not sure how quickly we would implement

[2019-10-17 17:56] compulim commented on #2475
This is one of the parity work we missed when moving to v4. In v3, it used to behave what @alokraj68 said.

But since we have a plan to revamp the sendbox (#2211), the UX will be greatly improve and this bug will no longer repro.

We can keep this bug open until we close #2211.

[2019-10-17 18:04] compulim commented on #2468
Silence detection (i.e. the "1.5s" pause) is controlled by Cognitive Services (or any underlying speech engine). AFAIK, there are no options for us to send to Cognitive Services to modify this behavior.

We have a planned feature #2197 called "push-to-talk" (a.k.a. walkie talkie or truck transponder), which allows the user to control when to start/stop recording on the microphone.

Once #2197 is i

[2019-10-17 18:04] #2468 closed

[2019-10-17 18:15] cwhitten commented on #2463
Thank you the issue. However, we are in the midst of an internal a11y audit to meet WCAG 2.1. The mechanisms to open, track, and address issues uncovered during the audit is a different process. I will close this for now.

[2019-10-17 18:15] #2463 closed

[2019-10-17 18:15] cwhitten commented on #2456
Thank you the issue. However, we are in the midst of an internal a11y audit to meet WCAG 2.1. The mechanisms to open, track, and address issues uncovered during the audit is a different process. I will close this for now.

[2019-10-17 18:15] #2456 closed

[2019-10-17 18:15] cwhitten commented on #2444
Thank you the issue. However, we are in the midst of an internal a11y audit to meet WCAG 2.1. The mechanisms to open, track, and address issues uncovered during the audit is a different process. I will close this for now.

[2019-10-17 18:15] #2444 closed

[2019-10-17 18:15] cwhitten commented on #2443
Thank you the issue. However, we are in the midst of an internal a11y audit to meet WCAG 2.1. The mechanisms to open, track, and address issues uncovered during the audit is a different process. I will close this for now.

[2019-10-17 18:15] #2443 closed

[2019-10-17 18:15] cwhitten commented on #2442
Thank you the issue. However, we are in the midst of an internal a11y audit to meet WCAG 2.1. The mechanisms to open, track, and address issues uncovered during the audit is a different process. I will close this for now.

[2019-10-17 18:15] #2442 closed

[2019-10-17 18:15] cwhitten commented on #2441
Thank you the issue. However, we are in the midst of an internal a11y audit to meet WCAG 2.1. The mechanisms to open, track, and address issues uncovered during the audit is a different process. I will close this for now.

[2019-10-17 18:15] #2441 closed

[2019-10-17 18:16] cwhitten commented on #2440
Thank you the issue. However, we are in the midst of an internal a11y audit to meet WCAG 2.1. The mechanisms to open, track, and address issues uncovered during the audit is a different process. I will close this for now.

[2019-10-17 18:16] #2440 closed

[2019-10-17 18:18] compulim commented on #2474
Hi @AndreMantas, thanks for reporting and interests in speech input.

1. Proactive activities
   - We have a technical issues over here. If the audio playback is done *before any user gesture*, it will be blocked by the browser. For example, welcome messages.
   - If your hosting page could play a short silence MP3 when the user interact on the page, it will unblock the speech synthesis.
   - We a

[2019-10-18 18:15] tonyanziano commented on #2263
We will be bumping `AdaptiveCards` in our R7 release. @compulim

[2019-10-18 19:57] #2461 closed

[2019-10-18 19:57] #2472 closed

[2019-10-18 21:23] compulim opened #2483 "Test failed: focus-js-type-focus sink"
# Screenshots

![image](https://user-images.githubusercontent.com/1622400/67129243-ec279300-f1b2-11e9-8927-1fe93f1b5dff.png)

https://webchattest.blob.core.windows.net/travis-result/2019/10/18/rnxv9/__image_snapshots__/chrome-docker/__diff_output__/focus-js-type-focus-sink-should-not-paste-in-the-send-box-when-focus-is-on-a-text-box-of-an-adaptive-card-1-diff.png

## Version

`master`

## Describe

[2019-10-21 13:56] bwamie commented on #2459
It would be great if it accepts a `speechAuthenticationToken` promise which actually has both the token and region so that we don't have to hardcode the region or to only pass it once..

[2019-10-21 16:39] corinagum commented on #2473
Removing Investigate and Pending since fix is in PR.

[2019-10-21 18:12] congysu commented on #2388
@Zack-Strife if you can help us understand the question above, that'll be very helpful.

[2019-10-22 07:14] narik1989 commented on #2248
Hi,

I am using the above mentioned version (4.5.3). The download link is removed for all the attachments except .txt file extensions. Am i missing something in the config?

![attachment](https://user-images.githubusercontent.com/33231617/67264749-9eb86800-f4c9-11e9-8146-5e78fddbc840.png)

Thanks
Kiran

[2019-10-22 13:53] pdemro commented on #2449
@cwhitten Is it possible to pull this fix from NPM or elsewhere before Ignite?

[2019-10-22 15:40] Bradrajkumar opened #2485 "[Message Reactions - UI] Need feature like emojies to get rendered in bot messages for webchat."
@compulim  as per the request i have created the mockup for the custom feature.
here is the follow up link of last feature requirement was raised.
Link:- https://github.com/microsoft/BotFramework-WebChat/issues/2431
please see this attachment.
[powerpoint.pptx](https://github.com/microsoft/BotFramework-WebChat/files/3756788/powerpoint.pptx)

[2019-10-22 16:08] corinagum commented on #2449
Please see our documentation on pointing to our MyGet feed for [latest bits](https://github.com/microsoft/BotFramework-WebChat#how-to-test-with-web-chats-latest-bits).

You can also follow the build directions on CONTRIBUTING.md to build your own temporary bundle of the latest bits.

[2019-10-22 18:20] cwhitten commented on #2485
Hello @Bradrajkumar - thanks for the suggestion.  We'll take the UI guidance as we prioritize our upcoming WebChat sprint.

As far as protocol support: making use of custom events going through Direct Line would be the suggested approach for message reactions. The Message Reaction activity type is currently not supported in Direct Line (cc @dandriscoll )

[2019-10-22 19:17] tdurnford commented on #2485
@cwhitten @dandriscoll Are you sure Direct Line doesn't support message reactions? The current Custom Reaction Button Web Chat sample sends a message reaction activity to the bot and works fine with the `onReactionsAdded` and `onReactionsRemoved` handlers.
[code]

https://github.com/microsoft/BotFramework-WebChat/blob/3cf5d9bef057920e7ab8812507d320441594e1de/samples/09.customization-reaction-butto