[2019-03-20 21:04] corinagum commented on #1808
Team made a decision today that Web Chat will REMOVE the "No renderer for this activity" error message. https://github.com/Microsoft/BotFramework-WebChat/issues/1827
Other action items
- Add (grey) unable to render message for broken Adaptive Cards or activities, etc.
- [ ] Create the server-to-client chart similar to https://github.com/Microsoft/BotBuilder/issues/5294 for Emulator and Web Chat.

[2019-03-20 21:08] corinagum opened #1828 "Graceful "Could not render" message for cards that cannot render"
v3 "can't render" image:

![image](https://user-images.githubusercontent.com/14900841/54719120-51ca7880-4b19-11e9-9c4b-06215919d60e.png)

Related to https://github.com/Microsoft/BotFramework-WebChat/issues/1827

Because we will no longer have a "No renderer for this activity", we would like design's input on a message to display when a card or activity cannot be rendered because of a JavaScript er

[2019-03-20 22:04] corinagum opened #1829 "Text to Speech integrated with LUIS BOT does not voice out/playback in Safari browser on iOS/iPhone devices"
Customer is facing problems using Speech API on a LUIS BOT where, Text to Speech/voice out/playback is not working in Safari browser on iOS devices, though it works on both Android and Windows clients.
Here is a sample URL for testing which I have hosted.

Related to #995

[2019-03-21 00:22] Rykimaruh commented on #1824
@corinagum, I tried it and still having issues with IE11. Why is this closed? my issue has not been resolved yet...

[2019-03-21 14:09] Rykimaruh opened #1830 "Issues having custom webchat work on Sharepoint Online site using IE11"
I tried using the [es5 sample](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/01.b.getting-started-es5-bundle) code to see if the bot works in the browsers, but I am getting issues with IE11.

My bot is in a SharePoint Online site. It works great on all browsers except IE11. Is there anything that could be causing this? Is it not compatible in sharepoint online with IE11? Ac

[2019-03-21 16:09] corinagum commented on #1824
Hi @Rykimaruh, you asked a question that has been asked frequently before and has accessible documentation explaining why the es5 bundle is necessary. If you'll search for "Internet Explorer" in our issues search bar, you will note that this question has been asked several times. I also linked the most recent duplicate comment above.

Please provide repro steps, details on what exactly the bug you

[2019-03-21 16:11] jwiley84 commented on #1830
Is this related to https://github.com/Microsoft/BotFramework-WebChat/issues/1824?

[2019-03-21 16:12] #1830 closed

[2019-03-21 16:13] corinagum commented on #1824
#1830 indicates @Rykimaruh is using Sharepoint Online. I'll link this related issue: https://github.com/Microsoft/BotFramework-WebChat/issues/1722

[2019-03-21 16:39] corinagum commented on #1823
@Akkilz could you provide repro steps for this error? Copy-pasting your code may also help.

[2019-03-21 17:30] phale98 opened #1831 "Add Typing Indicator background URL to defaultStyleOptions"
I'd like to know if it is possible to change the typing indicator? If so can someone provide a code snippet or reference?

[2019-03-21 17:46] corinagum commented on #1774
Going with `break-word` -- better experience overall

[2019-03-21 18:19] Rykimaruh commented on #1824
@corinagum As I mentioned, I tried the solutions and I still have the issue going on, so I believe it's a different behavior to what other users tried. Most of the other questions in the backlog are more closely related to just typical website. My case focuses on SharePoint Online.

As I mentioned, my custom webchat works in all browsers except IE11 inside SharePoint Online site.

The SharePoint s

[2019-03-21 18:32] Rykimaruh commented on #1830
@jwiley84 , it is...but because it was closed and didn't had the time to specify on what platform this was hosted on

[2019-03-21 19:59] corinagum commented on #1824
@Rykimaruh, we have another issue https://github.com/Microsoft/BotFramework-WebChat/issues/1394 that indicates that SharePoint Online does not work with `iframe`, but let's investigate further. Would you be willing to try the non-embed option to see if that will work SharePoint for you? You can follow our basic samples (like what you linked above), but be sure to use the polyfill CDN when you try

[2019-03-21 20:07] corinagum commented on #1824
@dmvtech is the team's SharePoint expert and may have some tips he wants to add in.

[2019-03-21 20:19] dmvtech commented on #1824
@Rykimaruh I know you're getting the problem on the classic view and not modern, but I wonder if you might be hitting the same issue as [here](https://stackoverflow.com/questions/53234328/embedding-azure-chatbot-webchat-channel-into-sharepoint-online-modern-pages/53271978#53271978). The problem there is that SharePoint wants the width and height attributes on the iframe element instead of within a

[2019-03-21 20:47] Rykimaruh commented on #1824
@dmvtech , I followed the instructions in the StackOverflow link and made the changes :
<iframe src='https://webchattest123.azurewebsites.net'  width="100%" height="500px"></iframe>

Unfortunately, it still doesn't work in IE11 SharePoint Online site.

I attached the code used to render the custom webchat using the es5 sample and then I uploaded it to a WebApp in Azure to create the iframe you see

[2019-03-21 21:07] jwiley84 commented on #1824
Hey @Rykimaruh!!

Can you post a screenshot of the error in your console?

[2019-03-21 21:36] corinagum commented on #465
I'm leaving this issue open since it appears to be a common question Web Chat users have. However there is no action item for the Web Chat team. If you would like to pursue more information or track the potential change in protocol, please see https://github.com/Microsoft/botbuilder-dotnet/issues/598

[2019-03-21 21:44] #1774 closed

[2019-03-21 21:45] corinagum commented on #1265
When this is implemented, [Offline UI](https://github.com/Microsoft/BotFramework-WebChat/issues/1523) will have a spinner usable in this issue. Implementer should use that to prevent double-effort.

[2019-03-21 21:53] corinagum commented on #1520
Add FAQ list

[2019-03-22 01:49] Rykimaruh commented on #1824
@jwiley84 , Interesting, for a few minutes there are no errors in the console, however it eventually displays some messages. As shown in the picture

![consoleerror](https://user-images.githubusercontent.com/5460795/54795574-2633b500-4c23-11e9-93eb-6cbc5b45268b.png)

[2019-03-22 04:36] cbtham commented on #1564
Is there a good guide/sample around SSO? I see that Darren is onto something :) There is another customer asking something similar

[2019-03-22 15:08] jmurphyacc opened #1833 "Send box custom placeholder"
I would like the ability to replace the "Type your message..." placeholder text with custom text of my choosing. I wasn't seeing this option in the JS settings. Thanks!

[2019-03-22 15:09] jmurphyacc commented on #1833
I would like the ability to replace the "Type your message..." placeholder text with custom text of my choosing. I wasn't seeing this option in the JS settings. Thanks!

[2019-03-22 15:28] NikkiChristofi commented on #837
Hi, I tried following this link but got a 404. Is there a current working link showing how to decorate an attachment whilst preserving the functionality? E.g. changing the background colour of an action button on an adaptive card without having to implement custom middleware that also has to deal with the submit/click action.

The only sample I can see is here: https://github.com/Microsoft/BotFram

[2019-03-22 18:19] hansmbakker commented on #1763
Thanks :)

[2019-03-22 22:08] compulim opened #1834 "Case sensitive on public and private variables"
We should follow de facto standard for case-sensitivity on function and variable names:

- ID: should be `id` or `Id`, e.g. [`Document.getElementById`](https://developer.mozilla.org/en-US/docs/Web/API/Document/getElementById), [`MediaTrackConstraints.deviceId`](https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackConstraints/deviceId)
- Others: for example, URI should be `uri` or `URI`, e.g.

[2019-03-23 02:20] dmvtech commented on #1824
I wasn't able to reproduce the issue. :(

IE11, SharePoint online, classic publishing page using _your_ iframe.

![webchat_sharepoint_ie11](https://user-images.githubusercontent.com/43397658/54860447-458c1a00-4cd7-11e9-99f4-0107f48bdcd5.jpg)

If you haven't already, you might want to test from another IE11 machine (maybe on different/no domain, etc), just to isolate whether or not it has anything

[2019-03-23 02:57] Rykimaruh commented on #1824
Weird, I will investigate and try this out

[2019-03-23 03:53] dmvtech commented on #1824
Let me know if you find any other variables; I will try them out.

[2019-03-24 06:56] pradeeprajendran opened #1835 "Vertical stacking for SuggestedActions"
Is there a way to stack suggested actions be vertically stacked instead of a 'wrap around' carousel? If not, can there be one in the future? :)

[2019-03-25 10:29] Akkilz commented on #1823
Hi,

thanks for your response, be low is the code I am using it. Its throwing err in edge as well.

Error :
SCRIPT12002: WebSocket Error: Network Error 12002, The Operation timed out.
js file used : webchat-ed5.js

var nonIECode = function () {
                window.WebChat.createCognitiveServicesSpeechServicesPonyfillFactory({ subscriptionKey: speechSecret, region: region }).then(function (res)

[2019-03-25 12:39] keshavnagpal opened #1836 "Internet explorer not rendering Buttons in card Properly (.ac-pushbutton)"
I have tried this with
master/webchat-es5.js and
latest/webchat-es5.js
but the button doesn't adapt to the text size inside it

in chrome
![image](https://user-images.githubusercontent.com/10372931/54920319-f3dace00-4f28-11e9-9f44-45ab11c47b8e.png)

![image](https://user-images.githubusercontent.com/10372931/54920378-1967d780-4f29-11e9-9849-8779065370bd.png)

in IE
![image](https://user-images.git

[2019-03-25 12:54] biohazard999 commented on #461
@ziad-akiki I wrote a [blog post about this topic](https://blog.delegate.at/2019/03/25/use-the-microsoft-botframework-webchat-react-component-in-vue-js.html) the idea is to use vuera to include it. Works fine in production for me.

[2019-03-25 15:18] leolorenzoluis commented on #1780
Accessibility. What if the person can't see and only interacts based on what he hears?

[2019-03-25 15:40] Rykimaruh commented on #1824
@dmvtech , hello again. It would seem the issue lies with the particular sharepoint site I am trying to deploy the bot to. I created a new sharepoint site and it worked fine in IE11. I suppose something in that site is either blocking or creating issues with the webchat render

[2019-03-25 16:14] corinagum commented on #1780
thank you! I think I closed this on accident last week so I'm going to keep it open for discussion with the dev team.

[2019-03-25 16:18] corinagum commented on #1836
Hi @keshavnagpal, this appears to be a dupe of https://github.com/Microsoft/BotFramework-WebChat/issues/1493

Please use HTML5 and it should fix this problem.

[2019-03-25 16:18] #1836 closed

[2019-03-25 16:55] stevospinks opened #1837 "Need style option to change margins around bubbles"
I'm facing this issue:

![image](https://user-images.githubusercontent.com/11633557/54938542-698d6c80-4f1e-11e9-93e8-32476ed19f75.png)

On the left is without any styling changes, on the right is my fixed version using this CSS rule set:
[code]

It would be great if this could be added to the style options

[2019-03-25 16:56] v-kydela commented on #1773
@annapraveen - After discussing this with you over email, I believe the problem is that your bot was using the deprecated bot state service. I am closing this issue as I have given you the information you need. Feel free to open another issue if you have more questions.

[2019-03-25 16:56] #1773 closed

[2019-03-25 17:12] corinagum commented on #1815
Closing due to inactivity. If @Mironiny leaves a new comment I am happy to reopen. :)

[2019-03-25 17:12] #1815 closed

[2019-03-25 17:16] corinagum commented on #1755
Email discussion included how to build Web Chat and questions about the generated `lib` files. Note to other users: the `lib` folder may be hidden on your IDE after building Web Chat due to user settings. Please use Explorer/Finder or change your IDE's settings. In VS Code, this would mean removing `**/bundle/lib/` from the hidden files/folder list.

Closing due to inactivity.

[2019-03-25 17:16] #1755 closed

[2019-03-25 17:31] corinagum commented on #1837
Related issues: https://github.com/Microsoft/BotFramework-WebChat/issues/1556 https://github.com/Microsoft/BotFramework-WebChat/issues/1466

Hey @stevospinks, do you have another CSS framework or styles applied that may be causing the change in margin? On the linked issue above I believe that's what was causing the problem for users.

This seems to be an issue our users are coming across pretty co

[2019-03-25 17:52] compulim commented on #1837
## Note to implementer

- Please add `margin-left: 0` and `margin-right: 0` to both `Styles/CarouselFilmStrip.js` and `Styles/StackedLayout.js`
- Please add comments to say, from time-to-time, CSS framework break something related to element with class name "row"
   - So when we are doing CSS BEM work [mentioned here](https://github.com/Microsoft/BotFramework-WebChat/issues/1466#issuecomment-44717

[2019-03-25 17:56] corinagum commented on #1823
Can you confirm you are using `webchat-es5` instead of `webchat-ed5`?

Could you provide the details on what the 400 error is? You can open the Network tab and get the HTTP response on the error. I think this is a Cognitive Services issue but the error may prove otherwise.

[2019-03-25 17:58] corinagum commented on #1792
Closing due to inactivity. Happy to reopen if a @abishreddy responds.

[2019-03-25 17:58] #1792 closed

[2019-03-25 18:20] Akkilz commented on #1823
its es5.js, typo issue, i will check the network tab and share you the analysis details.

[2019-03-25 18:36] compulim commented on #1770
@corinagum Could you try out something?

- Instantiate Web Chat with a custom store
- Call `store.dispatch({ type: 'WEB_CHAT/START_SPEAKING' })`
- And then type `echo ABC` in Web Chat
- Verify if the bot is speaking the response, or not
   - If yes, this is the solution
   - If not, we might be disabling speak after the user send the last message via keyboard, and we need to find a better story fo

[2019-03-25 18:57] compulim opened #1839 "Study about send box customization"
Today, customizing microphone button, means:

- Cloning `BasicSendBox.js`, point the microphone button to a new one
- Cloning `BasicWebChat.js`, and point it to newer `BasicSendBox.js`

[2019-03-25 19:00] dmvtech commented on #1824
Interesting. Yeah, might be the flight/version of SPO that is being used, etc.

I'll go ahead and close this one down as we have a cause.

[2019-03-25 19:00] #1824 closed

[2019-03-25 19:02] compulim opened #1840 "Study about customizing text and localizability"
Today, it is very difficult to customize text or adding new language, unless those texts are submitted as a PR to our repository.

We should find a way to allow user to customize the text, or adding new language.

[2019-03-25 19:03] compulim commented on #1833
I opened a new bug #1839. It is broader than this one by allowing developers to add new language and overriding existing one, that would include replacing "Type your message..." prompt.

[2019-03-25 19:04] corinagum commented on #1835
Hi @pradeeprajendran, Do you want the suggested action to be stacked vertically? Or do you want the non-fitting suggested actions in the horizontal display to stack?

If you mean the former, have you considered using Hero card card actions? This will make the list vertical and be sent as a 'normal' activity. Otherwise I don't believe this is a feature Web Chat wants to support. There are a lot of

[2019-03-25 19:07] compulim commented on #1840
Large, because we need to think about a good design. Should we use middleware approach (for overrideability)?

[2019-03-25 19:26] jmurphyacc commented on #1833
Thank you. I will close our this issue and track 1839.

[2019-03-25 19:26] #1833 closed

[2019-03-25 20:34] corinagum opened #1841 "Regression: suggested actions postback messages should not show up on v3 of Web Chat"
This is between versions 0.14.2 and 0.15.0
![image](https://user-images.githubusercontent.com/14900841/54952214-a6e40100-4f02-11e9-90e5-fe9a8e5bcb96.png)

**Expected behavior**: postback will send a backchannel message to the bot with value of string, and it should not show up in the transcript.

[2019-03-25 23:57] corinagum commented on #1770
Hey @leolorenzoluis, @compulim and I had a fun discussion about this today and got this non-recommended workaround code to work: (it's a bit hack-y)
[code]
Meanwhile, we are waiting to continue discussion on whether we want to use channel data to pass customization to Web Chat. This would be a flag indicating that the bot should always speak incoming activities from the bot, regardless if the user

[2019-03-25 23:58] compulim opened #1844 "v3 embed: Conflicting burn-in user ID"
Today, if we are using JWT with a burn-in user ID, and we did not specify the same user ID in query parameters, we will randomize one in HTML. Thus, Web Chat will show user bubbles on wrong side.

- We will decrypt the JWT on the server-side to see if there is any burn-in user ID
- ~We could decrypt JWT, but it will involve using a library and increasing the size of the JavaScript code~
   - ~`jsr

[2019-03-26 02:41] NoDirective opened #1845 "failed: Error during WebSocket handshake: Unexpected response code: 400"
verison:
botframework-webchat@4.3.0
react@16.8.5
react-dom@16.8.5
react-scripts@2.1.8

error:
`WebSocket connection to 'wss://westus.stt.speech.microsoft.com/speech/recognition/interactive/cognitiveservices/v1?language=ja&format=detailed&Authorization=eyJhbGc........29' failed: Error during WebSocket handshake: Unexpected response code: 400`

microsoft.cognitiveservices.speech.sdk.bundle.js:3182

[2019-03-26 12:35] kunal7898 opened #1846 "Investigate Resetting Store for Restart Conversation"
Hi,

How to add support for restart conversation in webchat(React).

I have requirment where user can click on clear button then all the conversation should delete and
new conversatoin will start.

[2019-03-26 16:01] jamsoft opened #1847 "12.customization-minimizable-web-chat Sample Doesn't Build"
Fresh installs of everything and the latest code from the repo produced this error:

[code]

[2019-03-26 16:11] corinagum commented on #1847
@jamsoft hey thanks for the heads up. I will look into this today. :)

[2019-03-26 16:13] corinagum commented on #1845
Related to #1845, thanks for reporting.

[2019-03-26 16:15] corinagum commented on #1823
I have a repro of this issue #1845. I'm going to pin this issue. To anyone else experiencing this, please add the details of the 400 error from your network tab. I will be looking into this today.

[2019-03-26 16:56] Akkilz commented on #1845
<img width="645" alt="step 1" src="https://user-images.githubusercontent.com/11460269/55017156-6fec1900-4ff0-11e9-8549-88932983adc8.PNG">

[2019-03-26 16:56] Akkilz commented on #1845
<img width="959" alt="step 2" src="https://user-images.githubusercontent.com/11460269/55017180-7aa6ae00-4ff0-11e9-8bc2-94ce9d7ae075.PNG">

Plz find the network tab details,

[2019-03-26 17:48] corinagum commented on #1846
Hi @kunal7898, this is currently not a feature built into Web Chat. However, you are welcome to add this feature yourself through creating your own components and applying them to Web Chat. Please take a look at our samples. [10.a.customization-card-components](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/10.a.customization-card-components)

We do have a tracking issue for

[2019-03-26 18:11] compulim commented on #1845
Hi @Akkilz, for the second screenshot. Could you also dump the "Body" tab?

We want to know what exactly the HTTP 400 is talking about.

Thanks!

[2019-03-26 18:12] corinagum commented on #1780
We need to add aria-live to the suggested-actions buttons. We'll fix this targeting for 4.5

[2019-03-26 19:29] Akkilz commented on #1845
Request, response headers are available and response body is empty.

[2019-03-26 21:02] corinagum commented on #1846
@kunal7898 - reopening this issue, sorry for the confusion!

We are concerned there may be a bug on resetting the store in Web Chat, which would prevent users from implementing their own restart button. I am reopening this bug and changing the criteria to track investigation of the store issue.

Thanks for filing!

[2019-03-26 21:04] corinagum commented on #1293
#1846 would need to be resolved before this sample can be implemented.

[2019-03-26 23:38] corinagum opened #1848 "Cognitive Speech Services sample throws a runtime error in Chrome"
I was unable to reproduce this issue in Edge or Firefox

Reproductions steps:
1. Navigate to [06.c.cognitive-services-speech-services-js](https://microsoft.github.io/BotFramework-WebChat/06.c.cognitive-services-speech-services-js/) in Chrome version 73.0.3683.86
1. Open console
1. Press microphone button and say 'Help'
1. Notice console errors regarding AudioNode, pasted below

![image](https://us

[2019-03-27 01:40] NoDirective commented on #1845
![image](https://user-images.githubusercontent.com/44224924/55044210-c1da8080-507c-11e9-9a93-504401f8534b.png)

[2019-03-27 01:41] NoDirective commented on #1845
![image](https://user-images.githubusercontent.com/44224924/55044225-d7e84100-507c-11e9-8e6c-9b63fa348c5b.png)

[2019-03-27 02:01] leolorenzoluis commented on #1780
Will adding the aria tag make the bot speak without using accessibility tools?

[2019-03-27 07:43] xiaolangxyz commented on #1848
In my case, it is the error as the image below
![error](https://user-images.githubusercontent.com/40823365/55058470-61b10200-50af-11e9-80b1-a863cc01bce2.png)

[2019-03-27 10:25] stevospinks commented on #1837
@corinagum On further investigation it's Bootstrap that is causing the issue for me.

The latest version (4.3.1) creates this CSS rule set:
`.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}`

[2019-03-27 12:09] sivanandh commented on #1790
Hi @corinagum whenever we start a webchat bot, we are getting Special character as attached screenshot. currently this bot is running under Version 3. Kindly let me know how to resolve this issue.
![special_char1](https://user-images.githubusercontent.com/22432436/55074439-50b7bf00-50b6-11e9-9643-e98941279cc0.png)

[2019-03-27 16:05] galenguilbert commented on #1627
I'm wondering if there's a time frame for this fix?

[2019-03-27 16:21] corinagum commented on #1823
@Akkilz Network Header:
<img width="645" alt="step 1" src="https://user-images.githubusercontent.com/11460269/55017156-6fec1900-4ff0-11e9-8549-88932983adc8.PNG">
<img width="959" alt="step 2" src="https://user-images.githubusercontent.com/11460269/55017180-7aa6ae00-4ff0-11e9-8bc2-94ce9d7ae075.PNG">

@NoDirective
![image](https://user-images.githubusercontent.com/44224924/55044210-c1da8080-507c-11e

[2019-03-27 16:22] corinagum commented on #1845
Hi everyone, for organization purposes it would be great if everyone could post their images over on https://github.com/Microsoft/BotFramework-WebChat/issues/1823, where this bug was originally filed. I will be closing this issue and adding the images provided by @Akkilz and @NoDirective over there. Thank you!

[2019-03-27 16:22] #1845 closed

[2019-03-27 18:04] niketk opened #1850 "webchat in React is loading with lot of white space in Chrome browser"
I am using ReactWebchat in my react app. although the chat window loads fine .. i am seeing lot of white space between mesages and also my adpative card is not rendering fully.

[2019-03-27 18:12] RAHarris opened #1851 "styleOptions arg should be an exported defined type in Typescript"
Right now, all of the possible values in styleOptions are defined in defaultStyleSetOptions, but it would be nice to export that as a type for Typescript users to get IDE code completion and to reduce the potential for typos

[2019-03-27 19:51] #1847 closed

[2019-03-27 19:55] corinagum commented on #1850
Could you provide more information? For example, what version of Web Chat are you using? What does your code look like? If you have made styling changes, what are your change goals, or are you using the default Web Chat view? Do you have screencaps of the incorrect rendering of your messages and adaptive card that you can share?

[2019-03-27 21:02] niketk commented on #1850
I have not made any css changes. It also turns out that its broken only in Chrome but works in Edge and IE11.

[2019-03-27 23:34] corinagum commented on #1850
I'll need to see screencaps or examples of broken v.s. unbroken in order to assist you.

[2019-03-28 00:55] NoDirective commented on #1823
![55044210-c1da8080-507c-11e9-9a93-504401f8534b](https://user-images.githubusercontent.com/44224924/55121820-a5534c80-513f-11e9-81bd-bbe5d14ab29f.png)
![55044225-d7e84100-507c-11e9-8e6c-9b63fa348c5b](https://user-images.githubusercontent.com/44224924/55121821-a6847980-513f-11e9-9c06-1656315d10f3.png)

[2019-03-28 13:07] saravana13 opened #1852 "DirectLine Custom user Properties as in V3"
Previously in V3 , when i initialise user object as below when calling BotChat.App

  var user = {
            id:  1,
            name: 'test',
            customName: 'testCustom'
}

I ll be able to access the CustomName in my Bot Code by accessing activity.From.Properties['customName']

Is it possible to do the samething in V4. ? Because there are some values which my bot need and those are alr

[2019-03-28 14:44] rgovindan29 commented on #1760
15.b.incoming-activity-event works in Chrome and Edge but fails on IE11 browsers.
Error message "SCRIPT1003: Expected ':'"

Please let me know if you have any solution for this.

[2019-03-28 15:06] Nasreen094 commented on #1275
@alexknipfer  I am currently facing this issue and couldn't find a way to resolve it. Could you please tell me how you fixed this issue from your side?

[2019-03-28 15:43] rgovindan29 commented on #1760
### Below code is not working in IE11, please help me
 <div id="webchat" role="main" hidden></div>
<script src="https://cdn.botframework.com/botframework-webchat/master/webchat-es5.js"></script>
<script>
const store = window.WebChat.createStore(
                {},
                ({ dispatch }) => next => action => {
                    if (action.type === 'DIRECT_LINE/INCOMING_ACTIVITY') {

[2019-03-28 17:59] pradeeprajendran commented on #1835
Hey @corinagum thanks for the response. I was thinking Hero cards but want to leverage the "retry prompts" for suggested actions instead. I do like the idea of buttons listing horizontally and then will stack vertically if it doesn't fit in the first line. The left and right flippers can be a bit UX unfriendly for mobile users.

[2019-03-28 22:11] compulim commented on #1823
I am connecting with Cognitive Services team and see if they can jump in and help.

[2019-03-28 22:12] compulim commented on #1848
@xiaolangxyz looks like your problem is related to #1823.

[2019-03-28 22:37] rhurey commented on #1823
Sorry the result message didn't contain enough information to diagnose the failure.

The language specified in all three requests isn't a supported language code.

The language specified needs to be from the support list of languages you can find at https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support.

While the value is case insensitive, the speech service do

[2019-03-28 22:51] compulim commented on #1823
Great. @Akkilz is using `en-DE` and @NoDirective

[2019-03-29 11:28] Akkilz commented on #1816
Even i am looking for the same, need to disable text reading (text to speech).
Kindly let me know if any options available.

[2019-03-29 15:57] corinagum commented on #1627
Hi @galenguilbert, currently there is no time frame. Thank you for commenting, however! Customers adding their desire for these kinds of fixes puts them on our radar as something customers are looking for. I will add this to our discussion list for now. :)

[2019-03-29 16:53] a-b-r-o-w-n commented on #1760
@rgovindan29 most of our samples assume a browser with modern javascript features. As such, you may need to adapt [this sample](https://gist.github.com/a-b-r-o-w-n/ac4f030a7bfce2716bf99aa40d9c9607) to your spceific need to IE11. Currently, there are no plans to update all of our samples for IE11 compatibility.

[2019-03-31 11:21] guptarajesh001 opened #1854 "TypeError: webSpeechPonyfillFactory is not a function at Composer.<anonymous> (Composer.js:168)"
I am getting issue "react-dom-16-bundle_068bea613f5fe1903fe9fe89256cf26c.js:1 TypeError: webSpeechPonyfillFactory is not a function
    at Composer.<anonymous> (Composer.js:168)
    at Composer.result [as createWebSpeechPonyfill] (index.js:31)"

on implementation of speech in below React code,

this.webSpeechPonyfillFactory = createCognitiveServicesSpeechServicesPonyfillFactory( { region: 'west us

[2019-04-01 02:39] fgarofalo56 opened #1855 "Web Chat does not work for Azure Gov. It"
Web Chat does not work for Azure Government.  Token validation pulls from https://directline.botframework.com/v3/directline.   Azure Government needs to use:  https://directline.botframework.azure.us/v3/directline.

Is there an option to override for Azure Gov. Bot.

[2019-04-01 06:22] EricDahlvang commented on #1852
Yes, this still works with V4:
[code]

[2019-04-01 06:46] Souvik04 opened #1856 "Customize Web Chat with Reaction Buttons does not work"
Hi,

I am trying to get this sample. I have setup in my local and followed the steps mentioned here: https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/09.customization-reaction-buttons/ to set it up and run. I get below error in my localhost in Chrome browser.

![image](https://user-images.githubusercontent.com/17876015/55308121-5840e480-5477-11e9-9fbc-3206ad06709a.png)

Same e

[2019-04-01 13:16] Mironiny opened #1858 "UserID is not send to bot service in Webchat.js"
Hi.
I'm using the latest version of webchat: https://cdn.botframework.com/botframework-webchat/latest/webchat.js.

There is rendering:

[code]

But in my bot service I always get different Activity.From.Id even when sending from the chat still the same id.

[2019-04-01 13:45] rosskyl commented on #1858
Looking at the main page, it looks like you need to specify `userID` in `renderWebChat` and not `createDirectLine`. It should be:

    window.WebChat.renderWebChat({
        directLine: window.WebChat.createDirectLine({
            token: ''
        }),
        userID: 'myname',
        store,
        styleOptions
    }

[2019-04-01 15:43] Mironiny commented on #1858
@rosskyl Ou, sorry... I've spent hours looking at it.

[2019-04-01 16:16] corinagum commented on #1858
Thank you @rosskyl for the assist! @Mironiny, I will close this as resolved but feel free to comment if you are still having trouble and I can reopen. :)

[2019-04-01 16:16] #1858 closed

[2019-04-01 16:26] corinagum commented on #1854
Hey @guptarajesh001, do you by chance intend `const webSpeechPonyFillFactory` instead of `this.webSpeechPonyFillFactory`? If you take a look at our [Cognitive Services Speech Services](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/06.c.cognitive-services-speech-services-js) sample, you need to declare the variable. (You'll also want to throw `await` in front of `createCogni

[2019-04-01 16:26] #1854 closed

[2019-04-01 16:27] corinagum commented on #1852
Closing as resolved. Thanks for the assist, @EricDahlvang.
@saravana13 please comment here if your question is not resolved and I can reopen. :)

[2019-04-01 16:27] #1852 closed

[2019-04-01 17:56] ryanlengel opened #1859 "Adaptive Cards don't fully render the configured properties"
_Observed in the @Microsoft/bot-framework-emulator, but I believe this is an underlying web chat issue._

In the Virtual Assistant we are in the process of updating the Adaptive Cards for the VA & Skills, there are a couple of inconsitencies with rendering than what populated in the Adaptive Card Designer.

1.  `style:emphasis` appears as a default container/column
2. Textblock colors used in a co

[2019-04-01 18:53] ImKator commented on #1556
@corinagum  I found a solution to my styling problems.   I am sure there are better ways to do this, but this does fix the cut off borders.  My issue involved some boot strap issues.  Anyhow...

::ng-deep {
	#mychat .row {
		margin-right: initial;
		margin-left: initial;
	}
}

[2019-04-01 22:25] compulim commented on #1086
This is my main feature for 4.4. There are lots of discussions between Web Chat and the service team about this issue. The design has been flushed out and ready to implement.

[2019-04-01 22:25] #1823 closed

[2019-04-01 22:37] compulim commented on #1529
https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/component/src/Composer.js#L168

[code]

to

[code]

[2019-04-01 22:37] corinagum commented on #1529
1. Web Chat needs to pass language to Web Speech API
1. Include link in comments of #1823 supported languages for Cognitive Speech

[2019-04-01 22:47] compulim commented on #1731
Sorry I am completed booked until late April.

If anyone able to pick this one up, please investigate how to use Dialogflow with Bot Framework and Web Chat.

[2019-04-01 22:50] compulim commented on #1371
I believe Emulator [picked up a newer Web Chat build (`4.3.0`)](https://github.com/Microsoft/BotFramework-Emulator/blob/master/packages/app/client/package.json) and that would have the behavior reverted (no dupe `conversationUpdate`).

Should be good.

[2019-04-01 22:52] compulim commented on #1734
Anyone free to pick up this one?

Investigate how our `15.d` interact with [Bot Builder sample `03`](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/03.welcome-users).

Because we have recently going back-and-forth about the topic (dupe `conversationUpdate` or not), so it might already fixed or not. If not, we probably need to update `03` to match the latest b

[2019-04-01 22:57] compulim commented on #1736
We tested on Mockbot that the new incoming activity did not interrupt the current speaking activity. However, the new incoming activity is not spoken too.

## Repro steps

1. Go to `webchat-playground`
2. Click the microphone button
3. Say "proactive"
4. The bot should come back in 2 batches of activity
   - The second batch come in when the first batch is being spoken

### Expected

The second ac

[2019-04-01 23:11] compulim commented on #1769
When the JavaScript code is trying to post an activity with a content URL, it will download the content first, and then send it out. Look at [DirectLineJS here](https://github.com/Microsoft/BotFramework-DirectLineJS/blob/master/src/directLine.ts#L704) for the exact implementation. This is by design - client always need to send the attachment in binary format, not URL.

When Web Chat trying to send

[2019-04-01 23:18] compulim commented on #1816
Could you follow [the sample here (06.f)](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/06.f.hybrid-speech)?

This sample use browser-supported engine for speech-to-text, and Cognitive Services for text-to-speech.

In `index.html` line 54 and 55, instead of returning the engine/ponyfill, could you try to return a `null`/`undefined` instead?

If Web Chat is seeing a falsy va

[2019-04-01 23:21] compulim commented on #1829
Need more investigations.

- Go to https://compulim.github.io/web-speech-cognitive-services/ and try if text-to-speech is working on iOS or not.
   - If it is not, find out the issue in that repository
   - If yes, it could be related to "playing audio without an user interaction"
      - Prime the audio playback engine when the user click microphone button on Web Chat

[2019-04-01 23:32] compulim commented on #1780
No, `aria-live` tag only works with changing content. But not initial content.

Today, we add a box (element) around suggested actions when we need to show them up. We remove the element when there are no suggested actions.

We cannot simply add `aria-live` tag in that box, because it is not "changing content", it is "creating a new element". And `aria-live` will not speak out when the element is

[2019-04-01 23:33] compulim commented on #1820
This is an external issue, we copied the content over here and notified the original author.

But since we didn't hear from the customer, we are closing due to inactivity.

[2019-04-01 23:33] #1820 closed

[2019-04-01 23:43] compulim commented on #1846
We are using an old way of passing in the store using `store` props, instead of `Provider`. This is required for multiple store setup, but it looks like it is buggy.

We should move to the new way of `react-redux` to [pass in a store via `ReactReduxContext`](https://react-redux.js.org/using-react-redux/accessing-store#using-reactreduxcontext-directly), and it should fix this issue.

## Repro steps

[2019-04-01 23:46] compulim commented on #1850
Also, please make sure your page has `<!DOCTYPE html>` on the first line. This tell Chrome that it should use HTML5 to render, instead of HTML4.

[2019-04-01 23:49] compulim commented on #1855
When you call `WebChat.createDirectLine({ ... })`, in the argument, add `domain: 'https://directline.botframework.azure.us/v3/directline'`, so it looks like

[code]

This will force DirectLineJS to talk to another server, instead of the default public endpoint.

[2019-04-01 23:53] compulim commented on #1859
Investigations:

- Is it because the version of Adaptive Cards in Web Chat is too old?
   - Web Chat is using `1.1.2`, and the latest is `1.1.3`
- Try the JSON on [Adaptive Cards designer](https://adaptivecards.io/designer/)

[2019-04-01 23:59] compulim commented on #1848
On the other hand, https://webchat-playground.azurewebsites.net/ works.

[2019-04-02 05:25] Souvik04 commented on #1856
@corinagum Thanks for your prompt action. I wanted to know if the fix would also be available for the ES-5 version: https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/01.b.getting-started-es5-bundle as well. An equivalent ES-5 standard sample would be great.

[2019-04-02 14:00] #1718 closed

[2019-04-02 14:00] Akkilz commented on #1816
thanks for the suggestion, let me test and confirm you.
I am targeting in es5.js, hope it should work.

[2019-04-02 15:01] Akkilz commented on #1816
I am using es5.js and below code, not sure what I am missing..
Bot is rendering but no mike icon, looks like speech option is disabled.
Please guide me if I am doing wrong.

var webSpeechPonyfillFactory;
var createHybridPonyfillFactory = function () {

            return function (options) {
                // We are using two ponyfill factories to create two concrete ponyfills.
                va

[2019-04-02 16:12] corinagum commented on #1856
@Souvik04, this looks like an issue unrelated to Web Chat. `Unable to connect` indicates incorrect credentials.
Since many of our samples require modern browsers, we don't support the customization in our samples on IE 11. You are welcome to use our samples as a place to start, but the implementation would need to be done by your team. This includes importing the relevant polyfills and working aro

[2019-04-02 18:14] cwhitten commented on #564
Closing as stale, please open a new issue if reproduced on WebChat v4

[2019-04-02 18:14] #564 closed

[2019-04-02 18:15] cwhitten commented on #1258
We don't support client side Bot to Bot interactions at this time. Your mileage may vary when attempting this type of interaction.

[2019-04-02 18:15] #1258 closed

[2019-04-02 18:27] corinagum opened #1860 "Documentation on Migrating from v3 - v4"

[2019-04-03 01:25] compulim opened #1861 "Activity ID is optional from Direct Line or any channels"
According to this spec, https://github.com/Microsoft/BotBuilder/blob/master/specs/botframework-activity/botframework-activity.md, `activity.id` may not be present in the incoming activity.

Today, if `activity.id` is not present, we will think all activities without ID are referring to the same ID. And Web Chat will do dedupe based on the ID. As a result, Web Chat will only show one activity if al

[2019-04-03 05:52] vidya091209 opened #1862 "show watermark in webchat/directline"
in my direct line webchat i wanted to show some info / metadata  info like attached image.
what is the best way to achieve this.
![image](https://user-images.githubusercontent.com/12954559/55455828-c960d300-5602-11e9-8aed-900dda9d49df.png)

[2019-04-03 09:33] EdwinOtten commented on #17
Our team wanted to implement this ourselves, but we have put that on hold since it is included in milestone v4.4 (due on April 15th).

Do you have an update whether this issue is still on schedule?

[2019-04-03 13:31] Naveenbc opened #1864 "Merge responses or activities"
If bot is responding with multiple responses, How do i merge them under single timestamp?

Right now bot icon and timestamp is coming for every response. I am struggling with this issue from quite a some time now. Please help me with this

[2019-04-03 13:35] Shariele commented on #1816
Thanks you!
I will check it out and return at a later date when I've tested it thoroughly.

[2019-04-03 15:43] corinagum commented on #17
@EdwinOtten we did a triage yesterday and unfortunately this has been moved to backlog. We will re-evaluate at the beginning of each milestone (next one is next month).

However if your team is able to implement this, we welcome PR's from the community! A PR from you in the next few weeks would make this available for 4.4. If you think you or a team member may be able to work on this feature, plea

[2019-04-03 15:45] dharanidharan opened #1865 "How to pass userid info thru Directline using ReactJS"
Hi,

i have created voice chat bot, using "13.customization-speech-ui" web chat sample.  It working fine.
Now, i have to pass the user id thru CreateDirectline. Am not able to get any user id variables in CreateDirectLine.Js; its contain below mentioned variable alone

domain: domain,
    fetch: fetch,
    secret: secret,
    token: token,
    webSocket: webSocket;

Am a .Net developer. its my fir

[2019-04-03 22:33] corinagum opened #1867 "Issue, Support, and PR templates"
- [ ] Issue(s) template
- [ ] PR template
- [ ] Support.md
- [ ] Contributing.md
- [x] Code of conduct

[2019-04-03 22:39] corinagum commented on #1864
@Naveenbc, please take a look at our samples [09.customization-reaction-buttons](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/09.customization-reaction-buttons) for timestamp ideas and guidance.

Normally we don't accept 'How to' questions, which are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions yo

[2019-04-03 22:39] #1864 closed

[2019-04-03 22:45] corinagum commented on #1862
Please feel free to peruse our [samples](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples), which provide a lot of ideas and foundation for customizing your version of Web Chat.
'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own feat

[2019-04-03 22:45] #1862 closed

[2019-04-03 23:17] corinagum commented on #1850
Closing due to inactivity.

[2019-04-03 23:17] #1850 closed

[2019-04-03 23:17] cwhitten commented on #1865
Hello @dharanidharan - please see the[WebChat README](https://github.com/Microsoft/BotFramework-WebChat#how-to-use) or the samples to see examples of passing a user id into WebChat. If you are using react, you can use the React component with the same api shown in what I linked.

[2019-04-03 23:17] #1865 closed

[2019-04-03 23:18] corinagum commented on #1770
Although hacky, workaround provided is sufficient for now. Web Chat team would like to discuss this UX with a conversation designer before implementing any code changes.

[2019-04-04 05:17] dharanidharan commented on #1865
Hi @cwhitten, thanks for your reply.

Am using the below code.

Sample reference for Web Chat : "13.customization-speech-ui"

import { Components, createDirectLine, createCognitiveServicesSpeechServicesPonyfillFactory } from 'botframework-webchat';

export default class App extends Component {
  constructor(props) {
    super(props);

    this.state = {
      directLine: null
    };
  }

async com

[2019-04-04 07:19] Naveenbc commented on #1864
Thank you for the quick reply @corinagum. I got the solution using groupByTimestamp

[2019-04-04 08:09] NoDirective opened #1869 "react how to use createStore"
version:
  "botframework-webchat": "^4.3.0",
    "react": "^16.8.5",
    "react-dom": "^16.8.5",

I want to do the  post activity by react like blew

https://github.com/Microsoft/BotFramework-WebChat/blob/16e33e1660fee638717d2b3c1627f5f6a2474722/samples/15.c.programmatic-post-activity/index.html#L41

But compile error happened when I import it
`import  { createStore } from "botframework-webchat-co

[2019-04-04 08:14] #1869 closed

[2019-04-04 11:21] Shariele commented on #1816
@compulim Your solution works wonderfully. Thank you for your solution!

[2019-04-04 11:22] marq47 opened #1870 "Adaptive Card (Carousel) submit action error"
We are trying to migrate our Web Chat to v4 but we want to continue using our bot without changes (botbuilder v3.15) if it is possible.

We are using a Carousel Adaptive Card with buttons to select an option among several. When the user clicks on a button we are getting the following error on browser console:

![issue-02](https://user-images.githubusercontent.com/49273695/55552080-a9054700-56dc-11

[2019-04-04 11:28] marq47 commented on #1870
Here you can see a portion of the card json:
.......
.......
"attachments": [
      {
        "contentType": "application/vnd.microsoft.card.adaptive",
        "content": {
          "type": "AdaptiveCard",
          "version": "1.0",
          "actions": [
            {
              "type": "Action.Submit",
              "data": {
                "__isBotFrameworkCardAction": true,

[2019-04-04 16:11] tdurnford commented on #17
@EdwinOtten I'm currently working on this feature request.

[2019-04-04 16:25] corinagum commented on #1816
Closing this as resolved. :) @Shariele if you have any tips or pointers for @Akkilz, please feel free to continue discussion here.

[2019-04-04 16:25] #1816 closed

[2019-04-04 18:04] #1856 closed

[2019-04-04 18:51] corinagum commented on #1523
Tagged wrong issue :(

[2019-04-04 18:52] #1524 closed

[2019-04-04 19:05] compulim opened #1872 "`observeOnce` did not unsubscribe correctly"
## Background

https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/core/src/sagas/effects/observeOnce.js#L11

In this line of code, we didn't assign the result of `observable.subscribe()` to `subscription`. Thus, `subscription` is always empty and thus, we never call `unsubscribe()`.

## Things to-do

1. Modify https://github.com/Microsoft/BotFramework-WebChat/blob/master/packag

[2019-04-04 20:39] #1768 closed

[2019-04-04 21:22] #365 closed

[2019-04-04 21:37] cwhitten commented on #1734
We believe this is addressed in https://github.com/Microsoft/BotFramework-WebChat/issues/1371. Please re-open if this is still an issue on WebChat >4.3.3

[2019-04-04 21:37] #1734 closed

[2019-04-04 21:44] cwhitten commented on #1144
This is address in 4.3.3

[2019-04-04 21:44] #1144 closed

[2019-04-04 21:52] cwhitten commented on #787
We cannot reproduce this on WebChat 4.3.3

[2019-04-04 21:52] #787 closed

[2019-04-04 22:22] corinagum commented on #1859
@compulim have offline discussion with ryan about critical-ness of this issue. Decide timeline from there.

[2019-04-04 22:24] compulim commented on #1863
## Background

All rich cards, including thumbnail card, is converted to Adaptive Cards on render.

## Investigation steps

1. Launch Narrator
1. Load Web Chat in Edge, thru microsoft.github.io/BotFramework-WebChat/01.a.getting-started-full-bundle/
1. Type "card bingsports"

If the problem persists, we should fix it. If not, we should try a ThumbnailCard and see if it repro.

### Expected

Narrato

[2019-04-04 22:28] AntonioFranchinotti opened #1874 "Expired token throws an exception"
Hi!

We have our bot configured with WebSockets, and we are subscribed to the connection status events.

We know our subscription is working since we receive the `2` status (for Conversation online) and we send data to the bot with no problem.

If we suspend or hibernate the computer with the browser open, and then try to interact to the bot after more than 30', webchat.js throws an exception and

[2019-04-04 22:41] corinagum commented on #1870
`"__isBotFrameworkCardAction": true,` - this should not be added manually, this is added by the client when receiving Adaptive Cards.

I'm not sure if `imback` is supported for Adaptive Cards. I will need to investigate this in Mock Bot.

[2019-04-04 23:13] #1827 closed

[2019-04-04 23:21] compulim commented on #1859
Ryan mentioned they will showcase Adaptive Cards in multiple demos in //BUILD.

[2019-04-05 07:28] pradeeprajendran opened #1875 "Browser Speech for React"
Hello - is there a sample for using createBrowserWebSpeechPonyfillFactory in React?

I tried adding it to the [12.customization-minimizable-web-chat](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/12.customization-minimizable-web-chat) but don't see a microphone option showing up

[2019-04-05 08:45] maggi1129 opened #1876 "Screen readers narrate all the messages from the beginning for every new message"
Screen readers narrate all the messages from the beginning for every new message

[2019-04-05 09:34] maggi1129 opened #1877 "After activating Send button voice over focus is navigating to Safari Web address edit field."
After activating Send button voice over focus is navigating to Safari Web address edit field.

[2019-04-05 10:41] dmaterowski opened #1878 "Failing to connect on IE11"
Hi all,
the webchat control doesn't work on IE11 for a portion of our users. The same people (tokens generated for each userId on a backend and advanced security turned on in the directline configuration) have no issues on other browsers. There is generally no errors, however from the network log in the browser I can see that:
POST https://directline.botframework.com/v3/directline/conversations re

[2019-04-05 12:57] dmaterowski commented on #1878
One point that may be important is that the last GET call doesn't have Authorize header while all the other calls have it (and generally flow on other browsers and non-affected users is completely different but each request is authorized with the token)

[2019-04-05 15:34] DesignPolice commented on #1265
I went through this again, and captured a visual of some of a couple of options we could look at, and what is going on Teams and Skype for reference. Hopefully, this will help with determining a solution and the time it will take to implement. Thanks

![#1265v2](https://user-images.githubusercontent.com/45223620/55639093-7a8b7880-577d-11e9-80de-3d57bf5987a3.png)

[2019-04-05 16:17] corinagum commented on #1878
Are you using the [es5 bundle](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/01.b.getting-started-es5-bundle) of Web Chat?

[2019-04-05 16:28] corinagum commented on #1876
I'm only reproing this on Edge with Narrator. NVDA reads only the most recent changes. If I recall correctly, this is an improvement that can be made on the Narrator app, not Web Chat. Do other team members have input?

[2019-04-05 16:31] corinagum commented on #1877
@maggi1129, could please provide more information? Repro steps and an explanation of what you mean by "Send button voice over focus" would be great. Please also explain expected and actual behavior in as much detail as possible.

[2019-04-05 16:33] corinagum commented on #1875
We do not have a sample combining both features. If you think this is a bug please provide repro steps, your code, screencaps, and any console errors you are experiencing.

[2019-04-05 16:37] dmaterowski commented on #1878
Using as react component from npm package and transpiling to IE11 compatible (+polyfilling). For most of the users it works, we verified that for people with exactly same OS and IE version it can work for one and not another.

[2019-04-05 16:50] ryanvolum commented on #1371
@compulim the original bug "Welcoming users samples don't work as expected in Web Chat" still holds true since the changes were reverted. Basically, the core issue is that Webchat works differently than the emulator, which is supposed to be emulating Webchat.

Is there an open bug that represents this issue? If not, should we reopen this one and revert the name?

[2019-04-05 16:52] dandriscoll commented on #1371
The emulator is designed to emulate channels in general, not just Web Chat.

[2019-04-05 16:52] corinagum commented on #1265
Thanks @DesignPolice! Will mention this at standup today. I know you like the Skype icons on the right but I still prefer the Teams example on the left. :P

Web Chat doesn't yet have input text wrap (top right spec), so that version would need to wait for #17 to be fully implemented. Is it okay to not have word wrap immediately?

A few comments:
-It seems redundant to have text above the attachmen

[2019-04-05 17:18] DesignPolice commented on #1265
Sounds good @corinagum.

I can live with the Skype version as well, it is much cleaner - I don't know what is involved in adding the cropped images - how much code from Skype or Teams we can emulate.

Yes, I can spec colors and icons if we go that direction as well... I think core MSFT apps (Word, Excel, PPT, OneNote if those are sent?) PDF, gif? video? and maybe just a clip for anything else?  I

[2019-04-05 18:26] compulim commented on #1878
@dmaterowski We never send/redirect our traffic to ZScaler. Do you think there is something to do with a browser add-ons in IE11 or a corporate proxy?

We are on HTTPS and ability to modify the HTTPS traffic seems weird to me.

[2019-04-05 18:34] corinagum commented on #1265
Tagging Chris for review

[2019-04-05 21:00] Ellbroach commented on #1658
I also have had issues trying to get a bubble arrow.  Within the bot framework 'test in web chat' section of the site, the arrow is present, and is achieved through an SVG image on message.
Thank you, it would be great to have this solved.

[2019-04-05 21:35] ChrisRisner opened #1879 "WebChat embedding example / ease of doing correctly"
Currently if you go to the WebChat channel in the Azure portal for a bot the embed code demonstrates how to iframe in a bot using your secret key.  Given the risk in this approach, the page should more explicitly tell developers that this approach should only be used for local testing and never be deployed anywhere.

There are assorted other samples for how to embed webchat including how to embed

[2019-04-05 21:59] pradeeprajendran commented on #1875
Thanks for the response. Based on your response, looks like createBrowserWebSpeechPonyfillFactory is expected work in React as well. I will review my implementation again and will reopen this issue if I think it is a bug.

[2019-04-05 21:59] #1875 closed

[2019-04-06 11:32] marq47 commented on #1870
Thanks, we'll try it.

[2019-04-06 19:07] maggi1129 commented on #1877
Repro Steps:
Step 1: Navigate to the any webchat URL in IOS/android device
Step 2: Navigate to type  your message edit field and give input "Help".
Step 3: Navigate to send button with voice over "ON" and verify the issue.

Actual Result:

After activating Send button voice over focus is navigating to Safari Web address edit field.

Expected Result:
After activating Send button voice over focus sh

[2019-04-06 19:11] maggi1129 commented on #1877
@corinagum hope the repro steps help

[2019-04-08 13:39] wrende opened #1881 "Hyperlinks starts on NewLine in Chat"
Every link (hyperlink, email, ...) starts on a new line and ends with a new line.

Old Chat (Here it works, embedded code chat):
![image](https://user-images.githubusercontent.com/35459372/55728353-382f9900-5a14-11e9-924a-c771b994db22.png)

New Chat (v4.3.0):
![image](https://user-images.githubusercontent.com/35459372/55728334-2cdc6d80-5a14-11e9-9d0b-7157cecee4bb.png)

In the example above we used

[2019-04-08 13:56] adalfa commented on #859
please update us on the issue raised  by @puripuneet to TTS part, currently we have no OOTB method to turn it on by default in for example, a welcome card.

[2019-04-08 15:29] ECocca commented on #894
Hello,
I'm facing the same issue.
I use the mic to say "hello" to the bot, it replies with an adaptive card in the chat. The card has its field speak set with a string like "hello" but the Text to Speech has some problems.
I'm using the CognitiveService.js, and also botchat.js and botchat.css.

I don't face the problem if I add an audio message to a text message like this:

var mess = "Ciao come v

[2019-04-08 17:07] corinagum commented on #1879
In v4 of Web Chat, this repo provides samples and documentation on [protecting your secret](https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples/01.a.getting-started-full-bundle/index.html#L25) and providing the user the information to know that we don't recommend using said secret except in testing situations. We have an open issue to track the creation of an explicit sample with

[2019-04-08 17:10] SATACHAKRA commented on #1592
The link u gave doesn't exist

[2019-04-08 17:18] corinagum commented on #1881
- By old chat, do you mean Web Chat v3?
- Please provide your repro code so we can investigate this issue. A quick attempt at reproing this on Mock Bot did not create the same problem:
![image](https://user-images.githubusercontent.com/14900841/55743566-7bbfde00-59e7-11e9-93c3-db6a5d0c44ff.png)

[2019-04-08 17:37] compulim commented on #789
When I upload a 16.3 MB file, the server returned 500. Looks like our server has some hard limits.

[code]

[2019-04-08 17:40] Dewain27 opened #1882 "Webchat button links not working on iOS browser"
**Description:**
When using the VA solution the logon button leveraged in Adaptive Card needed for logon to O365 does not work.

**Repro:**
1. Create a VA solution with Productivity skills
2. Ask Bot "What's on my schedule" in iOS browser in Webchat channel
3. Click on Login
![image](https://user-images.githubusercontent.com/18688053/55744648-0fe77080-59fb-11e9-8811-d15b0d9d412d.png)
4. Browser do

[2019-04-08 17:42] corinagum commented on #1877
@maggi1129 Thank you!! Yes they helped a lot. Today I learned about VoiceOver and how the mobile and accessible experience on Web Chat/iOS really leaves something to be desired. However for me on iOS, focus remains on the send button and does not go to the web address field.

@tonyanziano could you try to repro this on Android? https://microsoft.github.io/BotFramework-WebChat/01.a.getting-started-

[2019-04-08 17:50] compulim commented on #789
Looks like we are using the default value for attachment limit (4 MB).

I can upload a 3.999 MB file (1 KB short of 4 MB). But I cannot upload a 4 MB minus 1 byte file.

[2019-04-08 17:59] tonyanziano commented on #1877
I was not able to repro this on Android 9. With Talk Back (Android narrator) enabled, after typing text and hitting the send button, the focus returns to the send box.

[2019-04-08 18:32] corinagum commented on #1877
1. Mobile view (on iOS and Android 9) shows a tiny sendbox that is hard to navigate. Accessibility aside, Web Chat should create a better mobile experience simply by making the send box larger and usable without zooming.
![image](https://user-images.githubusercontent.com/14900841/55747382-fccfa300-59f0-11e9-9710-6f4d57c5fdc6.png)

1. Typing in the send box automatically zooms in but does not show

[2019-04-08 18:37] compulim commented on #1859
## DOM tree comparison

### Web Chat

![image](https://user-images.githubusercontent.com/1622400/55748036-77e58900-59f2-11e9-9f6f-384e60fde42f.png)

### Adaptive Cards designer

![image](https://user-images.githubusercontent.com/1622400/55748096-a4010a00-59f2-11e9-90f5-57a70b41a6c0.png)

[2019-04-08 18:39] compulim commented on #1859
Adaptive Cards schema say they support "style" in `Column` since 1.0.

![image](https://user-images.githubusercontent.com/1622400/55748194-d9a5f300-59f2-11e9-8f77-4eb91ebf5362.png)

[2019-04-08 18:47] corinagum commented on #1877
Related to #1789

[2019-04-08 18:56] compulim commented on #1859
## Investigations

- Bump to `adaptivecards@1.1.3` and see if it resolves
- If not, bump to `adaptivecards@1.2.0-beta` and see

[2019-04-08 20:53] ryanvolum commented on #1371
Thanks @dandriscoll. Is it fair to say that the disparity in `conversationUpdate` behavior between WebChat and the Emulator is not a bug then?

I'll say that most devs we work with tend to be surprised/assume they did something wrong when they deploy their bot and experience different behavior.

[2019-04-08 23:04] #1586 closed

[2019-04-09 06:56] ECocca commented on #894
Hello,
I'm facing the same issue.
I use the mic to say "hello" to the bot, it replies with an adaptive card in the chat. The card has its field speak set with a string like "hello" but the Text to Speech has some problems.
I'm using the CognitiveService.js, and also botchat.js and botchat.css.

I don't face the problem if I add an audio message to a text message like this:

var mess = "Ciao come v

[2019-04-09 08:38] wrende commented on #1881
I think the old chat is webchat V3 I used the embedded code available from "Bot Channels Registration"
![image](https://user-images.githubusercontent.com/35459372/55784708-67481800-5ab1-11e9-9f03-eb581177e00d.png)

I used markdown:
![image](https://user-images.githubusercontent.com/35459372/55784956-e89faa80-5ab1-11e9-9d3b-738775694f9f.png)

You can simply test this with a send activity:

[code]

[2019-04-09 08:52] kislakiruben commented on #1811
You should look into [**Insane**](https://github.com/bevacqua/insane). Haven't worked with it yet, but it looks promising.

[2019-04-09 08:55] wrende commented on #1881
Found the issue, it was css conflict between bootstrap.

By overriding the .indicators a block property we fixed the issue

[2019-04-09 08:55] #1881 closed

[2019-04-09 09:34] marq47 commented on #1870
We've try using postback and we're getting the same result (Chrome, Edge, Firefox) :

![issuePostback](https://user-images.githubusercontent.com/49273695/55789597-eee65480-5aba-11e9-9fbf-fed05a13bcff.jpg)

In all cases the browser says that cardAction is undefined.

Tell if you need more detail and what info could be usefull for you.

Thank you very much.

[2019-04-09 12:23] isathish commented on #622
i am also facing this issue :

<!DOCTYPE html>
--
  | <html lang="en-US">
  | <head>
  |  
  | <meta charset="utf-8">
  | <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

[2019-04-09 15:05] dandriscoll commented on #1371
It's not really a bug. Our recommendation for identifying the first appearance of a user (for e.g. welcome messages) is to use internal bot state to track that. This works consistently across channels that have single-join behavior (Facebook, Skype, etc.) group-join behavior (Direct Line, Web Chat, Skype for Business), and none (Email, SMS).

Direct Line and Web Chat will send a ConversationUpdate

[2019-04-09 15:35] cwhitten commented on #1371
@ryanvolum we'll need to address this in a couple ways given the protocol constraints.

1. The Emulator's Direct Line implementation can't send the `conversationUpdate` activity for a User when we start a conversation. This doesn't match the protocol.
2. No longer sending that event means we no longer provide a low-friction way to test welcome messaging using the WebChat embed inside the Emulator.

[2019-04-09 16:45] marq47 commented on #1870
We've solved the problem. We've found this:
_"The **data** property of the action may be a string or it may be an object. **A string is passed back to your bot as a Bot Builder SDK imBack activity**, and an object is passed as a postBack activity. Activities with imBack appear in the chat stream as a user-entered reply. The postBack activities are not displayed."_

So **using a string for the "dat

[2019-04-09 16:45] #1870 closed

[2019-04-09 17:22] corinagum commented on #1769
Closing due to inactivity. Happy to reopen if further questions arise. :)

[2019-04-09 17:22] #1769 closed

[2019-04-09 18:02] corinagum commented on #1882
Hi @Dewain27, I tried this out on Mock Bot, which we use to reproduce issues. If you visit [Mock Bot](https://microsoft.github.io/BotFramework-WebChat/12.customization-minimizable-web-chat/) and type the command `oauth`, in mobile, the login opens a new window for me as expected.
Could this be a VA implementation bug?

@ryanlengel @lauren-mills

[2019-04-09 18:30] ryanlengel commented on #1882
I tested the `oauth` flow with [Mock Bot](https://microsoft.github.io/BotFramework-WebChat/12.customization-minimizable-web-chat/) on the Safari mobile browser and it opens a new tab as expected, @Dewain27 stick to that for now.

@corinagum I tested on multiple mobile browsers
* Edge - ❌
* Safari - ✔
* Chrome - ✔
* Firefox - ✔

[2019-04-09 18:35] ryanvolum commented on #1371
Thanks @dandriscoll and @cwhitten.

Chris, I agree on both points. In the meantime, the fact that developers are confused about the disparate behavior is an issue in itself. [This doc ](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-send-welcome-message?view=azure-bot-service-4.0&tabs=csharp) does mention disparity in behavior across channels, but could definitely be more explicit,

[2019-04-09 20:37] mahomedalid opened #1885 "ConversationUpdate is not being triggered on iframe"
The   Azure Bot Registration section displays an iframe embed code as a suggested way to solve an integrated webchat on your site, but seems ConversationUpdate is not being triggered because it doesn't inject the user id by default.

I see there is a similar issue (#752) but the fact that the iframe is the "recommended way" (at least from the azure portal perspective) make me think that we can imp

[2019-04-09 20:37] #1837 closed

[2019-04-09 20:37] #1643 closed

[2019-04-10 03:55] Laul0 commented on #356
Some years after... I was in the same case than you… I wrote a little post about that and a solution to display MD into this kind of Card: [Display Markdown to your Bot Framework Hero and Thumbnail Cards 💡](https://blog.lsonline.fr/2019/04/10/display-markdown-to-your-bot-framework-hero-and-thumbnail-cards/)

[2019-04-10 08:16] Akkilz commented on #1816
@Shariele : the above code is not working for me , es5.
Could you plz help me out with the code sample

[2019-04-10 09:04] Shariele commented on #1816
Hello @Akkilz. My code uses es6 but I will try to help you.

From the looks of it, you aren't providing an authorization token and region to the speech API. Perhaps that is the reason the microphone is not rendering since it can't authorize you using the speech services.

I use the following code for creating the ponyfillfactory:

// hybrid speech
async function createHybridPonyfillFactory({ autho

[2019-04-10 09:20] Akkilz commented on #1816
I thought createCognitiveServicesSpeechServicesPonyfillFactory not required because, the aim is
to disable the text to speech option.

It would be great If any options are available to specify in createBrowserWebSpeechPonyfillFactory, kindly let me know if any.

As you suggested I will try to do the same, the only problem is I have to use es5 (requirement).
Will update you after testing.

[2019-04-10 10:13] Shariele commented on #1816
Yes I tried disabling and also removing the synthesise options in createCognitiveServicesSpeechServicesPonyfillFactory in the webchat.js at first but didn't work. So maybe even if we use a SpeechServicesPonyfillFactory but don't provide the correct options it will run everything as default. So that is perhaps why returning null plays a part in this scenario.

[2019-04-10 11:25] hansmbakker opened #1886 "role property is not set for messages sent by bot"
# Description (Actual behavior)
I noticed that `in the the Web Chat channel`
- the **`role` property is not set** in `from` for messages **sent by the bot**
- the role is set correct for messages **sent by the user** however

This applies both to
- the embed WebChat from the Azure Portal, hosted at `https://webchat.botframework.com/embed/<botId>?s=<secret>`
- self-hosted webchat using the [Full Bu

[2019-04-10 14:44] ParagHurkat opened #1887 "Getting extra character when using speech API on webchat."
1. I am using the following link to use the speech API for webchat in the browser.

    https://github.com/Microsoft/BotFramework-WebChat

2. Once I use that, I am getting the speech icon. If the text contains ' character, it is not rendering properly as shown in the example below:

   Ok, letâ€™

3. Also, I am using some adaptive card and the text on that card contains ' character and it is not r

[2019-04-10 16:24] corinagum commented on #1887
I believe this is related to #1071, though with speech added as a factor we will need to investigate. Filing as Pending and possible Duplicate until further investigation can be made.

[2019-04-10 16:36] corinagum commented on #1885
Hi @mahomedalid, we do have a major update coming to the Azure Bot Service side of Web Chat, which can be tracked over at: https://github.com/Microsoft/BotFramework-WebChat/issues/1086.
If you don't mind, I'm going to move your comment over there for discussion since @compulim is heading these changes. He's better equipped to answer these questions, and by tracking there we can make sure the prope

[2019-04-10 16:36] #1885 closed

[2019-04-10 16:42] corinagum commented on #1086
Adding to discussion from #1885 by @mahomedalid

@compulim, here are some additional questions I want to add on.
1. Can you give a general summary of how the service side's Web Chat will be changing? How will users, for example, pass in user id to trigger ConversationUpdate?
1. Will `iframe` still be used? What about secrets vs tokens, and versioning?
1. Do you have other details about pending cha

[2019-04-10 21:42] cwhitten commented on #1265
We're going to punt on this given the updated UX provided by @DesignPolice

[2019-04-10 23:28] corinagum commented on #1855
Reopening this for visibility until we document this. :)

[2019-04-10 23:41] fgarofalo56 commented on #1855
This does work but only if you are using v4 SDK. I have yet to find a way
to get bot auth to point to Mag endpoints. I have created an issues on the
SDK v3 github for this piece.

On Wed, Apr 10, 2019, 7:28 PM Corina <notifications@github.com> wrote:

[2019-04-11 07:58] keshavnagpal commented on #639
Hi @compulim
Is there a way that we can get the chat history and keeping the webSocket: true
I've been trying to go through several threads on webchat and used conversationId to fetch the history but have to make the webSocket:false.

[2019-04-11 08:11] keshavnagpal commented on #365
Hi, Is it possible to keep webSocket: true and pass conversationId to preserve the chat history?
currently when i keep the webSocket: false it works fine, but not with webSocket: true

[2019-04-11 13:32] keshavnagpal commented on #850
Hi, I'm still not able to use webSocket: true if I want to persist chat history by passing the conversationId.
Is there any way i can show chat history using conversationId and have webSocket=true

[2019-04-11 13:39] Slayouth commented on #1771
User messages are displayed at the top while they are sent, using desktop browsers (Chrome, Firefox, IE, Edge, etc). The problem does not occur from mobile devices.
We are using WebChat v4 sample #12

![Captura de pantalla (37)](https://user-images.githubusercontent.com/18583823/55961688-d0f92b00-5c45-11e9-8351-16115db7c68f.png)

[2019-04-11 13:44] Slayouth opened #1890 "User messages at the top, using desktop browsers."
[Edit by @corinagum] (Adding more detail to issue)
https://microsoft.github.io/BotFramework-WebChat/12.customization-minimizable-web-chat/, you can see how, by an instant, while messages are sending, they shows up, over any previous sent message.

-- Original message below --
User messages are displayed at the top while they are sent, using desktop browsers (Chrome, Firefox, IE, Edge, etc). The pr

[2019-04-11 13:49] AngryVirginian opened #1891 "React in SharePoint Framework bubble outside borders and timestamp characters missing"
I got version 6.165 to work in SharePoint Online as a webpart built with SPFx version 1.8.0 with REACT.  The issue is the sides of the bot seems to be squashed or hidden underneath the borders.  In the attached picture, you can see that at the bubble outside borders are missing and at least one characters are missing from the timestamp transcript.  I tried all options in [Style Options](https://gi

[2019-04-11 16:00] AngryVirginian commented on #1891
Issue was fixed in 4.3.1-master.4b8488e

[2019-04-11 16:00] #1891 closed

[2019-04-11 16:48] corinagum commented on #1890
Hi @Slayouth, this is an ongoing discussion about the differences between Emulator, other channels, and Web Chat. Please look at https://github.com/Microsoft/BotFramework-WebChat/issues/1665

[2019-04-11 16:49] corinagum opened #1892 "Migration Support from Web Chat v3 to v4"
Please see our [migration documentation](https://github.com/Microsoft/BotFramework-WebChat#migrating-from-web-chat-v3-to-v4) before filing a new issue.

[2019-04-11 21:42] compulim commented on #1877
To "zoom in" on mobile devices, we should add `<meta name="viewport" content="initial-scale=1.0, width=device-width" />` to our sample pages so they works nicely on mobile device.

[2019-04-11 21:48] compulim commented on #1882
Do you think we could get the `console.log` out of iOS Edge?

[2019-04-12 04:19] #17 closed

[2019-04-12 04:19] #124 closed

[2019-04-12 09:10] mutanttech commented on #1831
Please also add a style set option to control the Avatar Initial Background color. Right now it is fixed and needs to controlled with CSS.

I had been looking into this sample - 12.customization-minimizable-web-chat, I want to understand that for a developer how we have to approach including all the changes described in the sample.

One more thing, I am looking forward to add some header text whic

[2019-04-12 10:01] Edwardfelix08 opened #1893 "Set User Avatar based on user login."
I have developed a chat bot using Microsoft Bot Framework V4, and have used BotFramework-WebChat for providing the user to chat from website using DirectLine Token,

I am able to set the bot avatar and the user avatar by assigning the static public image URL. The problem is that I want to set the user avatar dynamically in the WebChat using below steps

Fetch the user icon using the Microsoft grap

[2019-04-12 10:58] hansmbakker commented on #1886
@corinagum what do you mean with "need more detail"?

[2019-04-12 11:59] Naveenbc commented on #1427
Is there any update on this? Because I am using adaptive cards inside waterfall dialog exactly like prompt choices, Once the button is clicked it has to be disabled or made obsolete. If there is an update please tell me how do I do it in node js. Also the above C# solution not working for me.

[2019-04-12 14:09] droidriz commented on #1401
Eagerly waiting for this one to close :3

[2019-04-12 14:56] ldaponte opened #1894 "WebChat continues to say "sending""
WebChat continues to say "sending" even after I get a response from the bot.  Is this a known issue or is there something I'm doing or not doing to "close" the sending event?  The back end is Node.js V3.16.  Everything seems to be working fine, just expect the sending status to change to sent or a time stamp.
![image](https://user-images.githubusercontent.com/4205680/56046480-a7bec480-5d43-11e9-9e

[2019-04-12 16:10] corinagum commented on #1886
Hi @hansmbakker, sorry for the confusion - the "Need more detail" label just means that the team hasn't investigated this issue yet. :) In this case, I have read the issue but haven't reproduced it or discussed it with other team members. This is also when we determine the T-Shirt size and how soon we want to implement the feature or fix. Hope that helps!

[2019-04-12 16:49] corinagum commented on #1894
Hi @Idaponte, this is generally not a Web Chat issue. Please see @EricDahlvang's comment: https://github.com/Microsoft/BotFramework-WebChat/issues/465#issuecomment-468000346

[2019-04-12 16:49] #1894 closed

[2019-04-12 17:48] Slayouth commented on #1665
Sorry @corinagum, but my exposed error, is not like this. Using https://microsoft.github.io/BotFramework-WebChat/12.customization-minimizable-web-chat/, you can see how, by an instant, while messages are sending, they shows up, over any previous sent message.
![Captura de pantalla (44)](https://user-images.githubusercontent.com/18583823/56056255-0bd88d00-5d32-11e9-9454-49436d950741.png)

[2019-04-12 19:43] corinagum commented on #1890
Moving comment from #1665

---
@Slayouth, thank you for providing screencaps, this is very helpful. :) Sorry for the misunderstanding. I am reopening this issue pending investigation. Could you add some details?

- Are there any console errors when this occurs? (Probably not, but good to check)
- How long would you say it takes for the message to appear in the correct spot?
- Are you using DirectL

[2019-04-12 19:47] corinagum commented on #1665
@Slayouth Thank you for the clarification. I will move your comment over to the original issue you filed and reopen because it looks your issue and this one are separate.

[2019-04-12 20:38] denscollo opened #1896 "[ReactWebChat] Markdown Base64 Images not getting rendered"
## Version
v4.3.0

## Describe the bug
Marked down base64 encoded images not getting rendered. Instead shows the image caption.
We tested it on Azure Portal and HTML Sites (using also the example) and it works perfectly. When trying this approach on a React-App, using ReactWebChat, the images are not getting rendered.

## Screenshots
### Bot with Markdown Base64 image on Azure Portal Web Chat
![im

[2019-04-13 08:57] hansmbakker commented on #1886
Thanks for the clarification!

[2019-04-13 12:20] Slayouth commented on #1890
About the console: I'll review it, but I do not think so.
When the message is Sent, inmediatly goes down. The error is just while the message is in sending state.
I'm using the native DirectLineJS vía Web chat. But you can see the error in the previous link sent. The error only occurs from a desktop navigator

[2019-04-13 23:04] compulim commented on #576
Tested in v4 and is fixed.

A recent bump in our scroll to bottom component will stick to bottom with dynamically changing content.

Added a command `slow markdown` to MockBot for testing regression of this bug.

[2019-04-13 23:04] #576 closed

[2019-04-13 23:10] compulim commented on #470
Tested `card richmessage` in v4, then click "Set Due Date", which will expand the Adaptive Card.

It works, probably because we bumped the scroll to bottom component recently.

[2019-04-13 23:10] #470 closed

[2019-04-13 23:13] compulim commented on #789
I don't think we will change this value. Will need to find a way (write a sample) for Web Chat users to upload files using their our storage, e.g. blob storage with SAS key.

[2019-04-13 23:23] compulim commented on #1071
Filed a bug to blobxfer team, https://github.com/Azure/blobxfer/issues/95.

In the meanwhile, we still need to update our deployment script to add `charset` to uploaded files.

[2019-04-13 23:44] compulim commented on #1071
Tested with the following code, which use the latest Azure Storage SDK.

[code]

[2019-04-14 01:10] compulim commented on #1086
1. `conversationUpdate` will still the same as of today
   - There will be no way to send custom welcome message, anyone interested, please open a bug to discuss
   - (New) Like today, developers can specify `userid`, if it is conflict with JWT token, we will use the one from JWT token
   - Like today, if `userid` is not specified, we will randomly create one and store it in cookie of webchat.botf

[2019-04-14 11:17] saravana13 opened #1898 "Sample 9, Reaction Buttons, how to find the questions"
In Sample 9, is there a way to find the question for which bot has answered and user has reacted?

[2019-04-14 11:59] RonHouben commented on #1831
It would be a great option to have the ability to change the typing indicator via the styleOptions.

@mutanttech, you can use the accent option to change the avatar background color. Although it will also color other things.
See the following page for all the styleOptions:
https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/component/src/Styles/defaultStyleSetOptions.js

if that

[2019-04-15 09:02] mathurvarun84 commented on #1658
I am having a similar problem. Any idea how to resolve it.

[2019-04-15 09:03] mathurvarun84 commented on #1658
Could you please share the link of the section you used to resolve your issue

[2019-04-15 13:24] sanoorvishwa opened #1899 "postactivity event to DirectlineJS is bringing back earlier received messages again"
Hi There,
I have a problem related to DirectlineJS response when I post an event to DirectlineJS.

`
        botConnection = window.WebChat.createDirectLine({
            token: tokenCookie,
            webSocket: true
        });

       botConnection.postActivity({
            type: "event",
            value: value,
            from: user,
            name: "hostContexData"
        }).subscribe

[2019-04-15 13:46] TestUsetGitHubUser commented on #1217
@compulim is speech service now supported on Web Chat(directline) v4(or v3) using client side, if yes can we have any sample?

Thanks,

[2019-04-15 17:00] corinagum commented on #1898
'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. Thank you!

Please share the link to your Stack Overflow question on this issue. The Web Chat team will close this issue after a week of inacti

[2019-04-15 17:12] corinagum commented on #1896
@denscollo, thanks for filing this issue! If you have the time to do a PR with the fix, please feel free to do so! We appreciate your help.

[2019-04-15 17:50] #1071 closed

[2019-04-15 18:30] corinagum commented on #628
Related to #1265

[2019-04-15 19:35] DesignPolice commented on #628
yes. will just roll in with #1265

[2019-04-15 21:09] #1759 closed

[2019-04-15 21:09] #1707 closed

[2019-04-16 09:12] mutanttech commented on #1831
@RonHouben, thanks for providing your suggestion. Although accent really changes colors to lot of things and I dont really want that. And I have mentioned other things that can be customized as well Send Text Box Placeholder Text and the Send Icon URL using the style set option. I think it would really make sense to open new issue.

By the way, can you help me with how to actually use the samples

[2019-04-16 09:55] mutanttech opened #1904 "Add Bot/User Avatar Initials Text and Background Color to defaultStyleOptions"
I want to customize the background and text color of Bot/User Avatar Initials based on the overall color scheme of the webchat ui.
I only see customizing the css as a solution but getting it from defaultStyleOptions would be way to benefit everyone.

[2019-04-16 11:58] Tiagojaduarte opened #1905 "webchat-es5.js throws an error when a carousel activity is rendered in IE11"
Hello all,

The webchat-es5.js library when used on Internet Explorer 11 throws an error before a carousel activity gets rendered.

`TypeError: Invalid attempt to spread non-iterable instance`

The UI behavior is that the whole chat window disappears.

This behavior can be seen by going to the demo below (using IE11) and typing **carousel**

https://microsoft.github.io/BotFramework-WebChat/01.b.ge

[2019-04-16 13:02] Tamoormughal opened #1906 "update not come on azure when deploy"
hey every one i am working on the bot frame v4 version when i some changes on my code and deploy on azure web deploy the changes of css and controller not implement on alive side project but working on emulator

[2019-04-16 13:05] Tamoormughal commented on #1906
hey every one  i am working on the bot frame v4 version when i some changes on my code and deploy on azure web deploy the changes of css and controller not implement on alive side project but working on emulator

[2019-04-16 13:07] Tamoormughal opened #1907 "bot C# v4 not working on internet explore"
bot is not open internet explore

[2019-04-16 13:23] dmaterowski commented on #1878
@compulim Yes! That was it. Zscaler has to be configured to allow directline calls. Thanks!

[2019-04-16 13:23] #1878 closed

[2019-04-16 14:53] Slayouth commented on #1890
Recently i was testing this issue from a Linux (Ubuntu 18.04) computer, and discover that the problem only occurs from windows. Both OS on English language and Chrome at the last update.

[2019-04-16 14:57] ianblitz commented on #1905
I discovered this issue as well this morning.  Running the webchat-instrumented-es5.js I built off of the master branch this morning, this is the error I get:

SCRIPT5022: Exception thrown and not caught
localhost:44321 (46,33)

The above error occurred in one of your React components:
    in Unknown
    in Unknown
    in Connect(Component)
    in Unknown
    in li
    in ul
    in Unknown
    in

[2019-04-16 17:20] corinagum commented on #1905
This repros on master CDN, possibly due to  #1900 react-film bump yesterday?

[2019-04-16 17:30] corinagum commented on #1907
Please take a look at getting Web Chat [es5 polyfill sample](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/01.b.getting-started-es5-bundle) to make your bot compatible with Internet Explorer.
Otherwise if you have a console error, screencaps, or further details that might help us with your issue please add those and repro-steps and I will reopen this issue.

[2019-04-16 17:30] #1907 closed

[2019-04-16 17:36] corinagum commented on #1904
Thanks for filing this issue. For clarification and per your discussion with [RonHouben](https://github.com/Microsoft/BotFramework-WebChat/issues/1831#issuecomment-482958541), do you wish to be able to style this _apart_ from the accent color?

[2019-04-16 17:43] corinagum commented on #1906
@Tamoormughal, Is this issue related to Web Chat? If so, please provide any console errors, screen caps, and reproduction steps to help us figure out your problem.

You can also check out your Channels blade to see if there are any issues described there.

If this issue is related to Azure Bot Services, you can contact them through Azure portal support.

[2019-04-16 18:23] compulim commented on #1890
I think the clockskew between browser, bot, and the channel maybe causing the issue.

Anyone have time to look at it? The code is here, https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/core/src/reducers/activities.js#L25. We put a lot of comments there to help people understand it.

[2019-04-16 18:28] corinagum commented on #1896
Investigate for 4.4

[2019-04-16 18:29] corinagum commented on #1890
Investigate for 4.4

[2019-04-16 20:17] corinagum commented on #1898
https://stackoverflow.com/questions/55714529/in-sample-9-is-there-a-way-to-find-the-question-for-which-bot-has-answered-and Thanks for filing the issue with Stack Overflow :)

[2019-04-16 20:17] #1898 closed

[2019-04-16 20:39] tdurnford commented on #497
I currently have a sample for this, but WebChat won't allow me to send new messages once I replace DirectLine and the Store to reset the conversation.

[code]

[2019-04-16 21:46] tdurnford commented on #1887
This appears to be resolved in master.

![image](https://user-images.githubusercontent.com/17039790/56246252-5588e680-6056-11e9-97da-b410d58d0f3d.png)

[2019-04-16 22:09] corinagum commented on #1887
Awesome. @ParagHurkat, please let us know if you are still experiencing this issue and we will reopen.

[2019-04-16 22:09] #1887 closed

[2019-04-17 08:26] mutanttech commented on #1904
@corinagum, Yes, the styling from accent color is not really fit for purpose. And while we are providing granular control to specify avatar text and image, the styling control will actually improve the usage.

[2019-04-17 21:08] tdurnford commented on #1886
@hansmbakker Where are you trying to filter the activities?

[2019-04-17 22:06] #1859 closed

[2019-04-17 22:07] #1739 closed

[2019-04-18 08:23] Shariele opened #1912 "Refresh Speech Services authorization token to use speech more than 10min."
Hello!

I am wondering if a refresh of the speech authorization token is implemented? As it is now, when using a token it expires after 10 minutes as described in this documentation:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-speech-to-text
Also in this documentation it's mentioned to show how to get, how to use and how to refresh a token. ("In the next few secti

[2019-04-18 08:41] hansmbakker commented on #1886
First I would like to share that the filtering likely is not the problem here; it works with the bot emulator. I believe the web chat simply does not add the `"role": "bot"` property to the activities sent by the bot.

I do the filtering in the bot's webapp (I'm using the enterprise bot template).

I want to build functionality where the user can download a transcript of his conversation.

So what

[2019-04-18 14:42] Akkilz commented on #1816
I able to do this in es5 itself, thanks for the support and help.

[2019-04-18 18:56] tdurnford commented on #1886
I agree that the issue is most likely not with filter the activities. I wanted to be sure I was reproducing the behavior properly. Thank you for clarifying your issue.

[2019-04-18 20:13] srimajji commented on #365
@keshavnagpal I am not sure if there is an out of box option yet for supplying conversation history with websockets set to `true`. You could try to work around it by preserving the redux store state in local storage.

[2019-04-18 20:31] srimajji commented on #497
@tdurnford, Probably because you wait for the existing directLine obj to finish disconnecting all the way through.

I would recommend listening for the `DIRECT_LINE/DISCONNECT_FULLFILLED` event, before dispatching a `DIRECT_LINE/CONNECT` event with a new directing obj.

For example
[code]
[code]

[2019-04-18 21:06] AndreMantas commented on #1739
Awesome! When will we see this live?

[2019-04-18 21:18] corinagum commented on #1739
You can use this live immediately by switching to the `/master/` bits. If you'd prefer to wait for the official release, the next update is planned for end of April.

[2019-04-18 23:47] compulim commented on #1912
@corinagum will follow up.

The sample is at https://github.com/Microsoft/BotFramework-WebChat/blob/master/samples/06.c.cognitive-services-speech-services-js/index.html. It support both subscription key or authorization token for Cognitive Services.

In this sample, the token is generated once from our API server.

We should update this sample to cache/generate it from our Mockbot. The documentati

[2019-04-19 09:09] hansmbakker opened #1913 "Bug in older Edge prevents webchat from loading"
I have some users where the latest webchat does not start and shows errors in the Console.

- Windows 1703 (build 15063.1746)
- Microsoft Edge 40.15063.674.0

(on Microsoft Edge 44.18362.1.0 on Windows build 18362 it works well but I cannot force my users to upgrade their Windows)

The error is `Invalid attempt to spread non-iterable instance`.
The errors are shown in the screenshot below, and the

[2019-04-19 09:52] hansmbakker commented on #1905
I have this error in an older version of Edge, too: https://github.com/Microsoft/BotFramework-WebChat/issues/1913

[2019-04-19 09:54] hansmbakker commented on #1913
This bug is similar to https://github.com/Microsoft/BotFramework-WebChat/issues/1905

[2019-04-19 15:04] yadvdinesh commented on #1906
Even I have faced the same issue. In order to resolve it, I need to restart the app service on Azure

[2019-04-19 15:10] yadvdinesh opened #1914 "Magic Code required in IE"
I am using directlineJS for Web chat in order to eliminate the need of 6 digit magic code. The reactjs library exchanges the directline secret with a token and uses the token for  web chat. All of this is  working fine in Chrome and Edge. When users clicks on sign-in, chrome and edge does not ask for Magic code but when the same web chat is being tested in IE, it asks for 6 digit magic code for au

[2019-04-19 18:24] tdurnford commented on #1886
Just taking a loot at the ConsoleTranscriptLogger, it looks like you are correct. The from attribute in Activities sent by the bot are being set properly when client is the emulator but not WebChat. Take a look at the screenshots below.

[code]

**Emulator**
<img width="500" alt="Untitled" src="https://user-images.githubusercontent.com/17039790/56437566-d46b6280-6294-11e9-9eb7-e2dc6811782f.png">

[2019-04-19 18:35] ianblitz commented on #1905
Having multiple suggested actions also triggers this issue.  Reproducible using the Suggested Actions demo [here](https://microsoft.github.io/BotFramework-WebChat/01.b.getting-started-es5-bundle).

[2019-04-19 18:39] hansmbakker commented on #1886
Nice that you could reproduce it!

[2019-04-19 20:30] linuradu commented on #1326
I encountered the same issue and finally, I've remarked that the messages itself are shown in DOM but I cannot see them. The problem was when the `div` with the webchat id was included in another div.

Please find here a working example (if you uncomment the commented lines will see that will not work anymore):

[code]

[2019-04-19 22:36] corinagum commented on #1886
From the looks of the [Bot Framework schema](https://github.com/Microsoft/BotBuilder/blob/master/specs/botframework-activity/botframework-activity.md#conversation-account-role), this intentional in the protocol and is a **wontfix**.

I believe expectation is that users of DLJS who want to utilize role must fill it themselves, and `role` is assigned in Emulator because it's functionality of display

[2019-04-20 00:18] compulim commented on #1529
- Verify if speech recognition is working for non-English locale on an English browser
   - Use `ja-JP` and click microphone button, see if it can recognize your voice in Japanese or not
- Just language prop alone is not sufficient for text-to-speech in other languages, we need to add a new prop. This is because voice can be male/female and preferences
   - `<ReactWebChat>` and `<Composer>` should

[2019-04-20 02:35] #1523 closed

[2019-04-20 02:35] #1831 closed

[2019-04-20 14:25] saravana13 commented on #1898
@corinagum , is there a way to hide the reaction button after user response (to avoid spamming)? , nobody is replying in stackoverflow, can you please help?

[2019-04-21 05:24] soso-maitha commented on #1217
so is there any documentation for the steps to migrate from Bing Speech to new Speech Service? We have the same case and speech stopped working.
We are using same javascript code, I created a new Speech Service and changed the keys but still not working.

Kindly advise as i need it importantly.

regards,

[2019-04-22 05:19] narihane commented on #1238
@compulim I used all sorts of WebChat samples, they all fall back to the magic code. It works in the Emulator but doesn't work on WebChat

I used this sample https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/18.customization-open-url which works in Mockbot but doesn't work for me. I also checked the cookie blocker, it is disabled.

[2019-04-22 07:27] kuacci opened #1916 "How do we change the gender and accent for Cognitive Services speech synthesis in v4"
Hi,

I would like to know if following api available/works in v4? Especially for gender and voiceName in CognitiveServices.SpeechSynthesizer?
<https://github.com/Microsoft/BotFramework-WebChat/blob/v3/samples/speech/index.html>

[code]

Thanks,

[2019-04-22 09:43] DevikaLakshmeesha opened #1917 "persisting value in bot turn"
Bot SDK: Bot Framework V4, NodeJS

Problem Statement:
From the bot application, we are connecting to Salesforce LiveAgent application for bot hand-off, via Rest APIs. Bot invokes different APIs for checking agent availability, connecting to an agent and to send/receive messages between user and agent. We have used a custom middleware to route the user messages to the LiveAgent API during hand-off.

[2019-04-22 16:12] corinagum commented on #1916
Hi @kuacci, thanks for the question. This is available in Cognitive Services, but not yet Web Chat. You can find the work item for this over on #1529. It will hopefully be completed very soon!

[2019-04-22 16:12] #1916 closed

[2019-04-22 16:18] corinagum commented on #1217
@TestUsetGitHubUser, @soso-maitha, please take a look at our speech samples for Cognitive Services Speech Services implementation of Web Chat.

[2019-04-22 16:24] corinagum commented on #1917
This question appears to be a 'How to' about Bot Framework, not Web Chat. 'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. Thank you!

[2019-04-22 16:24] #1917 closed

[2019-04-22 16:33] #1789 closed

[2019-04-22 16:54] EricDahlvang commented on #1917
This sample demonstrates accessing user state from middleware: https://github.com/Microsoft/BotBuilder-Samples/blob/samples-work-in-progress/samples/javascript_nodejs/17.multilingual-bot/translation/translatorMiddleware.js

[2019-04-22 17:50] corinagum commented on #1906
Closing this issue. @Tamoormughal if you think this is a Web Chat issue, please add more information as stated above and I will reopen.

[2019-04-22 17:50] #1906 closed

[2019-04-22 17:53] Tamoormughal commented on #1906
Yes issue resolved issue on the side of endpoint .endpoint must same as
your deploymnt url

On Mon, 22 Apr 2019, 10:50 p.m. Corina, <notifications@github.com> wrote:

[2019-04-22 18:14] tdurnford commented on #1520
The support team also monitors the [web-chat](https://stackoverflow.com/questions/tagged/web-chat) tag on StackOverflow. Would that be a better place to direct users to ask their how to questions?

[2019-04-22 19:59] #1877 closed

[2019-04-22 20:28] tdurnford commented on #793
Even though the documentation says AudioCards support images, channels like Skype, Teams, Facebook Messenger, and currently WebChat resolve to a 'Payload is incorrect' or a 'Malformed activity' error when an AudioCard has an image attribute. Developers would have to add channel specific conditionals before adding an image to an AudioCard if they wanted to send AudioCards with images and use multip

[2019-04-22 22:17] corinagum commented on #793
Transferring this issue to Direct Line. However, since other channels don't support this (including Teams), we should consider whether we truly want / need to support AudioCards with images.

[2019-04-23 02:03] kuacci commented on #1916
thank you.

[2019-04-23 02:53] Dpetters opened #1920 "SendButton should pass disabled attribute to IconButton"
I am attempting to use the "sendBoxButtonColorOnFocus" styleset property, but it doesn't appear to get used because even if I set `disabled=true` on the `ReactWebChat` component, the SendButton is still enabled (whereas the TextBox becomes disabled). Thus the following styling does not apply:
[code]
I believe in SendButton.js, the `disabled` attribute should be set on the IconButton element in the

[2019-04-23 13:43] saikiran-sankey opened #1921 "Not able to send the Adaptive card to users by using Microsoft flow but getting only JSON in my email"

[2019-04-23 15:33] Dpetters commented on #1833
@compulim this item seems like it would be very cheap to implement, whereas the broader one, #1839 , is much bigger and is thus currently on the backlog. Is there any chance you guys would consider allowing the customization of the placeholder in a simple way sooner?

[2019-04-23 18:04] compulim commented on #1914
Hi @yadvdinesh, I just tested IE11 on https://microsoft.github.io/BotFramework-WebChat/01.b.getting-started-es5-bundle/ with the command "oauth". On my side, it's working without magic code.

One thing on your IE11, could you check if it has "third party cookies disabled"? Third party cookie is required for non-magic code flow.

[2019-04-23 20:50] shotamakino opened #1923 "Buttons in Send Box appear cut off"
The send box contains icon buttons that appear cut off:

<img width="396" alt="Screen Shot 2019-04-23 at 1 43 49 PM" src="https://user-images.githubusercontent.com/45368165/56614500-0569d100-65ce-11e9-8c5f-6304038e2be6.png">

The culprit is ROOT_CSS defined in BotFramework-WebChat/packages/component/src/SendBox/Assets/*

Please fix this to take on at least 40px for the height (or anything really t

[2019-04-23 21:22] v-kydela commented on #1921
Hi @saikiran-sankey. I'd like to help but I have a few questions.

1. Can you explain what you mean when you say you're using Microsoft flow?
2. Are you using the Web Chat channel or the email channel?
3. Would you please provide your relevant code?

[2019-04-23 22:18] tdurnford commented on #1923
What version of Web Chat are you using - latest or master? Also, can you include your Web Chat related code including your custom CSS? It's unlikely, but are there any console errors?

Thanks

[2019-04-23 23:51] shotamakino commented on #1923
Hi thank you for the quick reply. My code is a duplicate of the minimizable-web-chat [sample](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/12.customization-minimizable-web-chat)

It is using the latest Web Chat package. No other custom CSS done besides those in the sample.

[2019-04-23 23:53] #1923 closed

[2019-04-24 03:02] ChrisRisner commented on #1879
Thank you for the update and the pointers.

[2019-04-24 05:55] saikiran-sankey commented on #1921
Thanks, @v-kydela for your quick reply ~~
I'm using a Microsoft Flow to create a flow
In that flow, I want to send the Adaptive card to respective users on predefined time(scheduler)
like `Approval` in Microsoft Flow.
When I'm sending the adaptive card, the respective users get the JSON, not the Adaptive card.
My question - Is it we can send the adaptive card through email and respective users get

[2019-04-24 06:15] compulim commented on #1905
Found the culprit.

`[...document.children]` will throw in some browsers (`Invalid attempt to spread non-iterable instance`). But it will work with latest Chrome/Edge. Guessing it might be caused by `core-js` polyfilled version of spread operator fail with DOM node list.

Replacing it with `[].slice.call(document.children)` will work.

A fix is coming very soon.

[2019-04-24 06:44] Tiagojaduarte commented on #1905
@compulim Great!

For those who want a workaround while the fix doesn't arrive just import the following CDN version.

https://cdn.botframework.com/botframework-webchat/4.3.0/webchat-es5.js

[2019-04-24 07:05] yadvdinesh commented on #1914
Hi @compulim The third party cookies are enabled on IE but still it is asking for magic code. One thing I want to mention is that I have a custom domain for the Bot App Service. And this custom domain name has been mentioned as the end point in the Bot channel registration service. Can you try with a custom domain.

[2019-04-24 09:01] stevkan commented on #1893
Hi @Edwardfelix08, please look over the answer I provided on Stack Overflow, located [here](https://stackoverflow.com/questions/55649040/how-to-set-the-user-avatar-dynamically-in-botframework-webchat-based-on-logged-i), on how this can be accomplished.

The solution provided on Stack Overflow addresses the same issue presented here. Therefore, I am closing this issue.

[2019-04-24 09:01] #1893 closed

[2019-04-24 15:35] v-kydela commented on #1921
So to clarify, you are using this: https://flow.microsoft.com/en-us/

And you want your users to receive an email with an Adaptive Card. So you're not using Web Chat at all.

Is that correct?

[2019-04-24 15:56] #1905 closed

[2019-04-24 15:58] #1920 closed

[2019-04-24 16:14] saikiran-sankey commented on #1921
@v-kydela yes exactly...
Currently I don't have code with me

[2019-04-24 16:49] v-kydela commented on #1921
@saikiran-sankey - Do you mean the [playground in this repo](https://github.com/Microsoft/BotFramework-WebChat/tree/master/packages/playground)?

I don't see any Adaptive Cards in there. Can you show me the Adaptive Card?

[2019-04-24 17:32] Dpetters commented on #1920
Thanks guys for fixing this so quickly! You rock.

[2019-04-24 17:53] corinagum commented on #1905
@Tiagojaduarte if you want to use the new code immediately, it's available on `master` bits. Otherwise 4.4 is scheduled for the end of the month!

[2019-04-24 18:53] corinagum commented on #1913
@hansmbakker, we're hoping that this is fixed with @compulim's latest update on https://github.com/Microsoft/BotFramework-WebChat/pull/1924. Could you take a look and see if this is resolved?

[2019-04-24 18:58] Tiagojaduarte commented on #1905
Thank you @corinagum for your reactivity! Great job!

[2019-04-24 20:22] saravana13 opened #1925 "Unable to send Attachment in Webchat , same code is working fine in emulator"
[code]

Above code throwing the below exception in webchat , in emulator i it is woring fine

[code]

[2019-04-24 22:22] dhinag commented on #1238
@narihane  I have been experiencing similar issue with the magic code and I have followed all the steps provided with no luck. But finally got it working by just Regenerating the directline secret.

[2019-04-24 22:35] tdurnford commented on #1925
This appears to be a duplicate of this [question](https://stackoverflow.com/questions/55839371/unable-to-send-attachment-in-webchat-using-directline-same-code-is-working-fine) on StackOverflow.

[2019-04-25 06:02] saikiran-sankey commented on #1921
@v-kydela here is my adaptive card JSON
[code]

[2019-04-25 06:30] saikiran-sankey commented on #1921
@v-kydela and the above JSON I'm inserted in another file like this
[code]

[2019-04-25 08:03] keshavnagpal opened #1926 "Scroll event is not triggering every time a message is received"
here is a video to explain the issue
https://www.loom.com/share/f22dd7020a0a4c5ea53c3a88be87ffee
(pass: webchat)

i'm using master/webchat-es5 (dated 25-Apr-2019)

Update:
We implemented our own solution as a workaround for this, but it might not be as reliable as a fix in webchat library, pasting the implementation below:

[code]

[2019-04-25 10:14] Shariele commented on #1912
Hello again!

I've taken a look on the example of how to generate/cache the token. Sadly I can't get it to work and hope you might be able to put me in the right direction.

As described in the example I provide a Promise<string> instead of just a string to the ponyfill.
This is my code:
[code]

The function refreshToken() grabs the authorizationToken stored in localStorage change like this:
[code

[2019-04-25 14:42] narihane commented on #1238
@dhinag which sample/steps did you use?
I tried to use Skype and even that went to magic code.

[2019-04-25 16:54] tdurnford commented on #1926
@keshavnagpal the video link you shared is private. Can you please change the privacy settings on it so we can see the issue.

This seems to be related to https://github.com/Microsoft/BotFramework-WebChat/issues/1031.

[2019-04-25 17:32] v-kydela commented on #1921
Are you trying to send an Actionable Message like this? https://docs.microsoft.com/en-us/outlook/actionable-messages/adaptive-card

You need to ask for help from the appropriate team. This repo is about Web Chat, a Direct Line client used to talk to chat bots with the Bot Framework. It has nothing to do with Microsoft Flow or email and has very little to do with Adaptive Cards.

[2019-04-25 17:45] v-kydela commented on #1921
Please consider asking a question on [Stack Overflow](https://stackoverflow.com/)

I'm closing this issue as unrelated.

[2019-04-25 17:45] #1921 closed

[2019-04-25 18:18] saikiran-sankey commented on #1921
@v-kydela  okay. anyways thank for your help!!

[2019-04-25 19:16] corinagum commented on #1925
What version of Web Chat are you using?

[2019-04-25 19:18] corinagum commented on #1926
For confirmation, is this occurring in IE11?

[2019-04-25 19:42] compulim commented on #1844
Done on the server side.

[2019-04-25 19:42] #1844 closed

[2019-04-25 20:51] renrous opened #1930 "12.customization-minimizable-web-chat Sample set language"
<img width="206" alt="minimizablewebchat" src="https://user-images.githubusercontent.com/49291766/56767662-a8634c00-6782-11e9-88f9-a04823b54c28.png">

hi i need to change the template language for example to spanish and i am not finding the form, could you help me?

[2019-04-25 20:54] corinagum commented on #1930
Please feel free to peruse our [samples](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples), which provide a lot of ideas and foundation for customizing your version of Web Chat.

'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own fea

[2019-04-25 20:54] #1930 closed

[2019-04-25 23:44] tdurnford commented on #1529
Currently, it looks like you can specify the speech-to-text voice by passing in locale as a prop to Web Chat. The [selectVoice](https://github.com/Microsoft/BotFramework-WebChat/blob/8c8e2cccc572b11f3585682205dde0166d87e4d7/packages/component/src/Activity/Speak.js#L22) method will find the correct voice based on the language preference and use that voice to speak the message from the bot.

[code]

[2019-04-25 23:44] #1529 closed

[2019-04-26 02:53] AngryVirginian commented on #1238
Using DirectLine with enhanced authentication settings worked for me in the last few months to avoid the magic code.  In Chrome, the new tab to https://token.botframework.com will open and close automatically.  In Edge, I have to click ok to close the tab.  No magic code is needed in both cases.  I only built my bot for browser though.

[2019-04-26 06:07] compulim commented on #1677
#1725 probably fixed this. Will submit a new bug if we seeing something similar again.

[2019-04-26 06:07] #1677 closed

[2019-04-26 07:59] rajivkumarsrivastava opened #1932 "SPFx Extension is not working with BotFramework-WebChat"
I am trying to create an extension using SFPx. while i am adding BotFrameWork-WebChat using NPM and package the solution. The packge starts throwing error.

Error:
[code]

It's working fine with Gulp-Serve

Package.JSON
[code]

[2019-04-26 09:29] keshavnagpal commented on #1926
@tdurnford I had provided the pass in the post, just removed it for simplicity, video is public now.

@corinagum strangely this doesn't occur in ie11 but occurring in chrome (i have Version 73.0.3683.103 if that helps)

[2019-04-26 16:19] imrankhankasim commented on #1731
@compulim and @xenflux :- Exactly same am too expecting. (Dialogflow NLP and UI to be Microsoft Bot framework) But from my side I have been developed like this. Refer the link for your reference.
https://typescript-v97enh.stackblitz.io/
But actual I need bot has to trigger first in the microsoft webchat where NLP is from Dialogflow.

If any one fixed please share me the information thanks.

[2019-04-26 18:03] rajivkumarsrivastava commented on #1932
[BotExtension.zip](https://github.com/Microsoft/BotFramework-WebChat/files/3122496/BotExtension.zip)
I am attaching the Source Code of the same. Please help me out or let me know the alternate way to do this

[2019-04-26 18:20] Slayouth commented on #1890
Well, finally we have found the cause !! The problem exists only when a computer has delayed time respect official time. Maybe we can solve problems, implementing some kind of message id.

[2019-04-26 22:00] corinagum commented on #1886
Adding @justinwilaby to the list of pings :)

[2019-04-26 22:55] justinwilaby commented on #1886
@corinagum is correct. The required fields for a `ChannelAccount` object are `id` and `name`. The `role` field is used by the Emulator for the purpose of exporting transcripts.

[2019-04-27 23:45] compulim commented on #1811
@kislakiruben great to know about insane, but last update was 3 years ago. 😳

[2019-04-28 08:39] compulim opened #1934 "Should not have persisted padding below transcript"
## Repro steps

1. Navigate to https://microsoft.github.io/BotFramework-WebChat/01.a.getting-started-full-bundle/
2. Wait until it is connected
3. Type "carousel" 5 times

Expected: no padding below transcript

Actual:
![image](https://user-images.githubusercontent.com/1622400/56861511-52df9880-6956-11e9-8639-3ac623b04bb2.png)

Please add a test to verify the fix is in-place.

[2019-04-29 00:45] #1525 closed

[2019-04-29 04:53] keshavnagpal opened #1935 "Missing token or secret"
Hi,
I'm not sure whether this is a directline issue or webchat but i'm getting the following error
[code]
even after i'm providing the correct secret (that i've verified from azure)

I'm using master/webchat-es5.js (dated 24-Apr-2019)

To give more context to how i'm using is
I'm running the bot in my local
using ngrok and setting the url to bot channel registration i did on azure
using the secret

[2019-04-29 08:08] kiranparasa commented on #476
Looks like this is old topic.. Must have context management framework in the backend, without that the chatbot frameworks is more of rule engine waiting to bomb at some or the other point of time... And if complete site map is not fed properly in the rule engine, there are chances user will not waste time to probe site ( visually ) if autosuggestions didn't give informative results..

[2019-04-29 17:49] corinagum commented on #1886
I'm going to close this as a won't fix. We can always open this up to further discussion again at a later time. :)

[2019-04-29 17:49] #1886 closed

[2019-04-29 20:34] corinagum opened #1937 "`npm run watch` fails on embed"
![image](https://user-images.githubusercontent.com/14900841/56925127-72281400-6a83-11e9-9999-be51e91734e0.png)

`concurrently` needs to be installed

[2019-04-29 21:41] corinagum commented on #1890
Glad you figured it out @Slayouth. This bug will be helpful to others if they come across the same problem in the future. I'm going to close this issue, but if something else comes up please feel free to comment and I can reopen.

[2019-04-29 21:41] #1890 closed

[2019-04-29 22:11] compulim commented on #1935
I think this is related to the usage of Bot Builder SDK. I think the bot might not have CORS enabled, thus, ngrok is saying OPTIONS 405)

[2019-04-29 22:16] corinagum commented on #1926
Repro steps:
1. receive an adaptive card from the bot
1. receive suggested actions from the bot
1. click on a button from the adaptive card

[2019-04-29 22:20] corinagum commented on #1914
@mingweiw, Could you take a look at this issue?

[2019-04-30 04:06] pramodkn commented on #1847
use "npm i node-primitive" it will work for you.

[2019-04-30 04:43] keshavnagpal commented on #1935
I'm not able to find a reason for this

[2019-04-30 09:10] PrashantSoniHarman opened #1941 "The carousal card does not stop at correct left."
I am loading around 10 cards in carousal,  on click of next ("Right Arrow") button, it scrolls and shows next card, however it does more scrolling than needed towards left resulting to text trimming. And, only half of the card is visible.

This is due to a CSS property set, as mention in the image.

Please refer to the attached image.

![adaptive_Card_carousal_issue](https://user-images.githubuser

[2019-04-30 11:26] adalfa opened #1942 "Input.Date in calendar control not honours max and min"
We are developing a bot (c# V4)  that is interacting with the webchat  but despite we are inserting max and min value they seems to be ignored when the calendar is rendered. Are we facing the issue described here https://github.com/Microsoft/AdaptiveCards/issues/2103 and is specific to the render used in webchat?

thanks

[2019-04-30 15:03] mekinney commented on #1564
Following this thread, because I have the exact same need and this is a very common scenario for enterprise customers.

[2019-04-30 16:55] #1934 closed

[2019-04-30 17:10] corinagum commented on #1941
Hi @PrashantSoniHarman, it looks like you are using v3 of Web Chat, which is in sunset right now. We prioritize security fixes for v3 but not other UI issues or bugs. If you are able to bump to v4, I strongly recommend doing so. We have a migration guide and several samples to help you get started on our README. Thank you! :)

[2019-04-30 17:10] #1941 closed

[2019-04-30 17:12] corinagum commented on #1942
Hi @adalfa, what version of Web Chat are you using?
Could you also provide the JSON of your card so we can reproduce this issue?

[2019-04-30 17:30] corinagum commented on #1937
Forgot to mention: If anyone is running into this problem, the temporary workaround is to globally install `concurrently` on your machine.

`npm i concurrently`

[2019-04-30 17:51] tdurnford commented on #1942
WebChat uses the [AdaptiveCards](https://www.npmjs.com/package/adaptivecards) npm package to convert AdaptiveCards from JSON to HTML, and it appears the renderer is not properly adding the min and max values to the date input element. Consequently, this is an issue with the AdaptiveCards module and not WebChat. Notice in the code snippet below that the AdaptiveCard does have min and max for the da

[2019-04-30 17:51] #1942 closed

[2019-04-30 18:53] tdurnford commented on #1935
@keshavnagpal

Are you just passing your secret into the WebChat renderer? If not, can you add code snippets for how you are requesting your directline token? Also, can you add code snippets for how you are rendering Web Chat?

[2019-04-30 21:34] compulim commented on #1937
Sorry forgot to associate the PR to this issue.

Fixed in #1940.

[2019-04-30 21:34] #1937 closed

[2019-04-30 21:49] compulim commented on #1914
@yadvdinesh I talked to Ming and here are steps for diagnosing the problem:

- In Web Chat, ask the bot to pop up the OAuth card
- Click on the "Sign in" button on the OAuth card
- While you are on your OAuth provider page, open a new tab to https://token.botframework.com/
- Open F12 and check the cookie, do you see a cookie named "consent*"?
   - This is the third party cookie we set to enable th

[2019-04-30 21:57] compulim commented on #1086
This is done. We will switching it on gradually over the next few weeks.

[2019-04-30 21:57] #1086 closed

[2019-05-01 00:01] corinagum commented on #1913
closing due to inactivity.

[2019-05-01 00:01] #1913 closed

[2019-05-01 00:04] corinagum commented on #567
Closing since this is a v3 bug, which is in sunset.

[2019-05-01 00:04] #567 closed

[2019-05-01 00:10] corinagum commented on #1055
Closing due to this being a v3 bug, which is in sunset.

[2019-05-01 00:10] #1055 closed

[2019-05-01 03:27] rajivkumarsrivastava commented on #1932
Please let know the update on this issue. Or suggest some alternate way to do this.

[2019-05-01 16:10] corinagum commented on #1925
Closing due to inactivity.

[2019-05-01 16:10] #1925 closed

[2019-05-01 16:16] dmvtech commented on #1932
Hi @rajivkumarsrivastava I'm looking into this.

[2019-05-01 16:17] #1520 closed

[2019-05-01 16:53] corinagum opened #1943 "Web Chat v4 shows two vertical scroll bars in IE11, Edge and Firefox"
![image](https://user-images.githubusercontent.com/14900841/57029494-bf78c280-6bf6-11e9-9f22-c297f5a768ee.png)

Using Web Chat `master` bits

Repro steps: Open Mock Bot in IE11
Type `help`
note that there are two scroll bars on the right

Edge:
![image](https://user-images.githubusercontent.com/14900841/57031247-1339da80-6bfc-11e9-9b4c-239f440aa86c.png)

Firefox:
![image](https://user-images.githu

[2019-05-01 17:06] corinagum opened #1944 "IE11 - intermittent gap at the bottom of the transcript above SendBox"
As it turns out, this repros both for adaptive cards and markdown images. This is not isolated to
Repro steps:
1. Open Mock Bot in IE11
1. Type `help`
1. Press button: 'Show review using Adaptive Card'
1. Note the big gap on the transcript between the send box and the most recent message, the unordered list.

![image](https://user-images.githubusercontent.com/14900841/57030177-c4d70c80-6bf8-11e9-8

[2019-05-01 17:51] corinagum opened #1945 "05.b.idiosyncratic-manual-styling does not load in Edge"
When loading the `05.b.idiosyncratic-manual-styling` sample, the page does not load and the following error appears in the console:

![image](https://user-images.githubusercontent.com/14900841/57032290-dd4a2580-6bfe-11e9-90b0-8d42dab4ffdb.png)

[2019-05-01 19:00] hansmbakker commented on #1913
@corinagum unfortunately I haven't had time to compile the library myself yet and figured that the end of the month (which would see the new CDN version) was soon already so that I could try the updated CDN version.

[2019-05-01 19:00] corinagum opened #1946 "10.a.customization-card-components command is not pre-filled as claimed in the README."
Sample claims to pre-fill the sendbox with the command `sample:github-repository`, but the prefilling only occurs in Chrome.

Repro steps:
1. Open `10.a.customization-card-components` bot in Firefox or Edge
1. Note that `sample:github-repository` is not in the send box.

Also applies to 10.b.customization-password-input

[2019-05-01 19:45] corinagum opened #1947 "Suggested actions produce unnecessary horizontal scroll bar in Firefox"
![image](https://user-images.githubusercontent.com/14900841/57038421-b4319100-6c0e-11e9-8b5d-53ab4c4d98f9.png)

![image](https://user-images.githubusercontent.com/14900841/57038537-fce94a00-6c0e-11e9-8309-a752647f6818.png)

Repro steps:
1. Open any Mock Bot in Firefox
1. Type `suggested-actions`
1. Note the scrollbars surrounding the SendBox

[2019-05-01 19:56] corinagum opened #1948 "17.chat-send-history only retrieves one previous send in Firefox and Edge"
1. Open `17.chat-send-history` in Firefox or Edge
1. Send `hello`
1. Send `2`
1. Press up twice
1. Note that the sent message '2' is the only one being shown.

[2019-05-01 22:05] corinagum commented on #1946
Closing - can no longer repro. ;___;

[2019-05-01 22:05] #1946 closed

[2019-05-01 22:57] #1943 closed

[2019-05-01 23:42] compulim opened #1952 "Gap in suggested actions"
![image](https://user-images.githubusercontent.com/1622400/57050151-15b62780-6c30-11e9-8ed4-e8d0bb21a1bb.png)

![image](https://user-images.githubusercontent.com/1622400/57050157-223a8000-6c30-11e9-83e7-4ee6e4d983d4.png)

[2019-05-02 02:15] #1945 closed

[2019-05-02 05:06] keshavnagpal commented on #1935
@tdurnford
I'm just passing my secret into webchat, have a look at the snippet below, i hope it covers the information you are looking for:

[code]

[2019-05-02 05:42] BharathPalanivelu commented on #1905
Thank you @corinagum and i too faced this issue and resolved now in IE11 thanks.

[2019-05-02 09:44] jvanderbiest opened #1954 "Input message displayed (shortly) above bot message"
Using the latest master webchat.js, I have this strange behaviour when I talk to the bot that user message is first displayed above the last bot message, then after a new bot reply it is positioned correctly => inbetween the last bot reply and the previous bot reply. I can reproduce this also on the examples.

See video
https://youtu.be/0tkQ22iFZpQ

[2019-05-02 11:51] harisuru commented on #1771
Any fix for this?
Please refer https://microsoft.github.io/BotFramework-WebChat/15.d.backchannel-send-welcome-event/ for reproducing the issue. Just type a message, it goes top of all messages in the chat window.

[2019-05-02 11:57] harisuru commented on #1890
@Slayouth How did you fix the issue?

[2019-05-02 15:31] tdurnford commented on #1935
Can you add the code snippets where you are setting the cookie and creating your custom store, as well?

[2019-05-02 16:13] corinagum commented on #1954
Hi @jvanderbiest, one of our users recently discovered that this was due to a computer's time being behind official time. Please see this issue: https://github.com/Microsoft/BotFramework-WebChat/issues/1890

[2019-05-02 16:17] #1947 closed

[2019-05-02 16:19] corinagum commented on #1771
@harisuru Please take a look at: https://github.com/Microsoft/BotFramework-WebChat/issues/1890

@Slayouth discovered this has to do with the time of a computer being behind 'official' time. Hopefully he will respond, but I assume fixing the time on the problematic computer would fix this problem?

[2019-05-02 16:32] torynfarr opened #1955 "Text from String Variable Extends Past Edge of Adaptive Card in botchat-es5.js"
We're using the https://cdn.botframework.com/botframework-webchat/latest/botchat-es5.js version of the web chat control in-order to prevent a plethora of Adaptive Card rendering issues in IE11 on the web site on which our chat bot is present.

We just recently added a feature to our bot where a question is sent to a QnA Maker knowledge base. If a result is found, we display that answer in an Adapt

[2019-05-02 16:48] corinagum commented on #1955
Hi @torynfarr, since you're using v3 of Web Chat, unfortunately the support our team will be able to provide is limited. V3 is in sunset right now, and unless there are security issues reported in v3, our focus is going into v4.

My first suggestion, if you are able, would be to bump to v4. Please take a look at our [README](https://github.com/Microsoft/BotFramework-WebChat#migrating-from-v3-to-v4

[2019-05-02 16:48] #1955 closed

[2019-05-02 16:53] #1952 closed

[2019-05-02 19:20] compulim commented on #1944
Shortening the repro:

- Type `help` to make sure the screen is filled with content
- Type `card review`

The primary problem is AC set `max-width` to `100%` on the `ac-image`, that's why the image on top-right is squashed.

![image](https://user-images.githubusercontent.com/1622400/57100632-4f406e80-6cd4-11e9-927c-765a9ba6c616.png)

If we set it to a non-percentage value, it will just works.

I a

[2019-05-02 20:37] #1948 closed

[2019-05-02 21:41] vincec-msft commented on #1935
Looking at the Direct Line logs I see that DL posted to the bot's endpoint (the ngrok URL) and got back an HTTP 404 with a response text saying that the tunnel could not be found. Direct Line caches metadata about the bot (including the endpoint) so changes may not be immediately visible. This jives with the "wait 10 minutes and it starts to work" observations. The cache time is 30 minutes so you'

[2019-05-02 23:36] dmvtech commented on #1932
@rajivkumarsrivastava Sorry, to clarify; the error you are getting is when you are *attempting* to package the solution? or after packaging and attempting to impliment?

Can you give the command you are using to package the solution?

[2019-05-03 03:14] rajivkumarsrivastava commented on #1932
After packaging and deployment of SP Package, when i try to access the Extension by installing the App on SharePoint site on SharePoint modern Pages than i got the error in console
Below are the Steps which is use to package

[2019-05-03 04:55] keshavnagpal commented on #1935
@tdurnford

[code]

@vincec-msft Thanks for the information, this could be an explanation but is this recently introduced? Because before i never got any delay.

[2019-05-03 05:21] vincec-msft commented on #1935
The caching is not new. If you were creating new bots then they would be read immediately because they're not in the cache. But existing bot records have been cached for as long as I know.

* https://www.martinfowler.com/bliki/TwoHardThings.html

[2019-05-03 12:51] jherres opened #1958 "Only a single Adaptive Card can render before additional user input"
In this specific customer scenario, they wish to send 2 different adaptive cards (in sequence not a carousel) as a response to a user.  I have found that when the second card is sent, the first will be removed from chat.

In addition to this, no additional adaptive cards will render until the user sends some other command.  For example, I click on a submit button in the adaptive card which will tr

[2019-05-03 17:07] imrankhankasim opened #1959 "How to implement a welcome activity when the bot first starts - NLP is from Google Dialogflow"
Hi Everyone,

Kindly help me on this "How to implement a welcome activity when the bot first starts - NLP is from Google Dialogflow."

I have designed the chatbot -intent, entities and NLP from Google Dialogflow and I have integrated successfully with the botframework webchat in a html file on referring the url: "https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples/15.d.backchanne

[2019-05-03 18:25] corinagum commented on #1959
Hi @imrankhankasim, your mileage may vary when implementing DialogFlow, and is not supported by our team. You may have more support asking this question [Stack Overflow](https://stackoverflow.com/tags/). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can pos

[2019-05-03 18:25] #1959 closed

[2019-05-03 18:36] corinagum commented on #1958
Hi @jherres, let me get back to you after I reproduce this issue.

[2019-05-03 19:34] compulim commented on #1958
I am trying to repro but no luck, I am sure there are something missing. In my bot code:

[code]

I am seeing 4 activities coming from the bot, both Adaptive Cards are showing at the same time and they never get lost.

Could you write up a minimal repro to see if anything weird on your side?

[This file and this line](https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/core/src/

[2019-05-03 19:42] jherres commented on #1958
I am working to make V4 compatible with our no-code bot building platform (AtBot).  I am sure we are doing some things outside of the norm. Let me loop in someone who is more familiar with the actual bot code (I can only see what comes over via developer tools or fiddler).

[2019-05-03 20:04] jherres commented on #1958
They will be able to have a look later this evening.  But for now, I can provide the fiddler trace of the websocket traffic for those cards.  I have attached the full fiddler archive of the interaction, but the two cards are as follows:

[DroppedCards.zip](https://github.com/Microsoft/BotFramework-WebChat/files/3143405/DroppedCards.zip)

First Card
`{
  "activities": [
    {
      "type": "message

[2019-05-03 20:05] compulim commented on #1958
Oh, you know Fiddler? That's great.

The other way, you can also send us the stream of activities coming thru. BTW, the network calls could be sensitive, so please scrap personal information if you do.

[2019-05-03 20:05] compulim commented on #1958
Got it, will work on it. Ha, we actually have the same idea on how to debug. 🤩

[2019-05-03 20:34] compulim commented on #1958
I bet I got it.

In the activity, please remove `channelData.clientActivityID`. When the bot send an activity, it should not have this one set, unless the bot specifically put it in.

The `clientActivityID` appears in the message from the user (from Web Chat), it is an ID that Web Chat used to track/acknowledge if the activity successfully reach the bot or not, a.k.a. "our reference ID".

Web Chat

[2019-05-03 21:22] compulim commented on #1484
This should be done. If it is not, please open a new bug.

[2019-05-03 21:22] #1484 closed

[2019-05-03 21:30] corinagum commented on #1778
I'm going to close this issue: Right now the team is in favor of moving Rich Cards away from Adaptive Cards. Please refer to #1259. Thank you!

[2019-05-03 21:30] #1778 closed

[2019-05-03 21:39] corinagum commented on #1680
Bottom line is to make Mock Bot offline for testing instead of online.

[2019-05-03 21:41] corinagum opened #1961 "Add Web Chat FAQ"
Do we want to provide a frequently asked questions document on this repo?

[2019-05-03 21:44] compulim commented on #465
Sorry didn't response to this sooner.

@adalfa if the bot is expected to take > 15 seconds to work on one thing, I believe the best practice is the bot respond to it first (by sending typing indicator, or just do nothing). Then, the bot should use proactive messaging mechanism to send result back later.

That's why I was saying, "the bot replied, Web Chat will not receive 502".

What do you think?

[2019-05-03 21:53] compulim commented on #1855
Work to do: add documentation around talking to a different Direct Line endpoint.

[2019-05-03 21:55] compulim commented on #1879
Also related to #1218 and #1412. Will talk to the team if it should be in our bucket or not.

[2019-05-03 22:37] #1867 closed

[2019-05-04 09:27] Mrinnaal opened #1963 "Enabling HTML elements in response in WebChat"
I want HTML elements to be rendered in the text response. For eg., I want to enable a hyperlink which will call a javascript function. `<a href="javascript:mycode">click here</a>`. So my response from code would be like ` For more information, <a href="javascript:mycode">click here</a>` and while rendering in webchat i want it as hyperlink. Is there any way to do it?

[2019-05-04 12:30] jherres commented on #1958
Ahh, thanks for the second set of eyes.  We confirmed that this is the fix and will make that update on our side.

[2019-05-04 12:30] #1958 closed

[2019-05-05 01:13] corinagum commented on #1963
Please feel free to peruse our [samples](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples), which provide a lot of ideas and foundation for customizing your version of Web Chat.

'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own fea

[2019-05-05 01:13] #1963 closed

[2019-05-05 07:30] DingmaomaoBJTU opened #1964 "The action button size is not align with adaptive card designer"
## Version
v4.4.0

## Describe the bug
The action button style is not align with adaptive card designer.

## To Reproduce
What I see in the designer:
![image](https://user-images.githubusercontent.com/16643193/57190182-4658d280-6f4a-11e9-8869-393692dc5da5.png)

What I see in emulator:
![image](https://user-images.githubusercontent.com/16643193/57190185-507ad100-6f4a-11e9-951b-61171cf49c55.png)

He

[2019-05-05 18:47] Amintasn commented on #1559
@gabog
"With the previous webchat it was possible to dispose the webchat and recreate it on the page and that would generate a new conversationId, is this not possible with the new webchat? We need to be able to start a new conversation every time the webchat control is instantiated without having to refresh the page."
Do you happen to have any pointer or sample code that address the webchat dispo

[2019-05-06 16:45] jvanderbiest commented on #1954
hi @corinagum,
My time settings are correct and I still have this issue. My Date & Time settings are set to automatically on Windows 10. I still think it's an issue as I was able to reproduce it on multiple boxes.

[2019-05-06 18:16] Dpetters commented on #1833
(gentle bump)

[2019-05-06 22:57] corinagum commented on #1914
Closing due to inactivity. :)

[2019-05-06 22:57] #1914 closed

[2019-05-06 23:18] #1302 closed

[2019-05-07 07:22] renrous opened #1966 "12.customization-minimizable-web-chat Sample Doesn't not translate to es-ES"
Hello, the botframework-webchat-component module does not translate correctly to es-ES, after investigating the problem, I found that the file is-ES.js located in
% project% \ node_modules \ botframework-webchat-component \ lib \ Localization is not fully

**translated, original file:**
[code]
**Complete translated file**:
[code]
**example with original file:**
![image](https://user-images.githubu

[2019-05-07 09:04] artemvalmus opened #1967 "DirectLine chat history is not retrieved with existing conversationId"
`import ReactWebChat, { createDirectLine, createStyleSet } from 'botframework-webchat';`

...

[code]
...

[code]
package.json:

[code]

The chat history is not displayed if I provide the existing conversation id and the token (coming from the parent component). Am I doing something wrong here?

![image](https://user-images.githubusercontent.com/8046500/57287341-04ea3380-70c0-11e9-8aad-6abcce4dea3

[2019-05-07 09:33] artemvalmus commented on #1967
Related to this - #850

[2019-05-07 09:33] #1967 closed

[2019-05-07 13:22] erkkil opened #1968 "Sample Customizing Speech UI browser support"
Hi,

I have build version from the customizing Speech UI sample (13.customization-speech-ui).
It works fine with my Mac on Chrome. However with Firefox and Safari (both on Mac) there is "Speech recognition is not supported" error in console and app stops running.

Is there limitations with browsers when using this sample and cognitive speech services in general?

[2019-05-07 20:18] corinagum commented on #1968
Hi @erkkil,

If you take a look at [caniuse.com](https://caniuse.com/#search=speech%20recognition), neither of these browsers support Speech Recognition. Unfortunately, this means that sample 13 is not supported in either browser.

Hope that helps!

[2019-05-07 20:22] corinagum commented on #1966
Hey @renrous! Thanks for the changes.

Instead of editing the `\lib\` directory, which will get overwritten in each build, I recommend editing the `es-ES.js` file that produces the `\lib\` file during build. After you make the changes, you can run `npm run build` to build the `es-ES.js` file in `\lib\`.

Would you mind making a PR of these changes so that we can give you input and have this code m

[2019-05-07 20:24] erkkil commented on #1968
Hi,
Thanks for reply.
Just to clarify this issue.. Is this sample using WebSpeechRecognition or CognitiveServices (Azure Speech service) based speech recognition?
I thought that caniuse.com tells webspeech based speech recognition support?

[2019-05-07 20:27] corinagum commented on #1968
Sample `13` uses Cognitive Services Speech Services recognition. You can take a look at sample `06.d` to see an example of web speech, and combine the work of both samples if you want to use Web Speech.

[2019-05-07 20:31] erkkil commented on #1968
Actually I don't want to use webspeech because of the limited browser support.
I would prefer to use Cognitive Services speech recognition if it has wider browser support.

[2019-05-07 20:48] erkkil commented on #1968
Hi @corinagum
Coming back to this once more.
I run test with Microsoft Cognitive Services Speech SDK with their sample.
That demo seems to work also with Safari.
Is there any possibility to develop sample 13 so that e.g. Safari is supported?

[2019-05-07 21:31] corinagum commented on #1968
@erkkil, Ah, I see my confusion. Thanks for being patient with me. :) Still wetting my toes when it comes to speech.

From what you've shown me, it looks like there's a discrepancy between Web Chat's use of Cognitive Speech Services and the demos available for Cognitive Speech Services. This needs further investigation so I have re-opened this issue and will discuss with the team. Hopefully we can

[2019-05-07 23:07] compulim opened #1969 "Move `styleSet` related to Adaptive Cards and rich cards to full bundle"
Since we moved Adaptive Cards to full bundle, we should also move related `styleSet`.

Note:
- When user loading full bundle, they call `window.WebChat.createStyleSet`, this should produce a style set that include Adaptive Cards stuff
- When user loading minimal bundle, they call `window.WebChat.createStyleSet`, this should not produce a style set with Adaptive Cards specific stuff
- Please write

[2019-05-08 05:58] rajivkumarsrivastava commented on #1932
The issue has been resolved with BotFramwork-WebChat version 4.4.1

[2019-05-08 16:00] rajivkumarsrivastava commented on #1932
@anomepani  I didn't check it on IE 11 but on Edge, Chrome and Firefox it's working  fine.

[2019-05-08 16:00] #1932 closed

[2019-05-08 16:05] jag1989 opened #1971 "Preventing focus change on Suggested Action click/press"
[Edit by corinagum: see video for unwanted behavior]
https://drive.google.com/file/d/1sWHcCLFN6NnrxoOriK3iKm3jTXv_pvvS/view

Currently, when pressing/clicking on a suggested action button, the action is performed but then the browser automatically regains focus onto the text input field. Whilst this is nice, on mobile its a distraction because the keyboard is continually being opening when selecti

[2019-05-08 16:32] corinagum commented on #1966
Let's start by taking a look at the [Contributing](https://github.com/microsoft/BotFramework-WebChat/blob/master/.github/CONTRIBUTING.md) documentation for Web Chat. I'm not sure how new you are to git, but I'll outline some first steps for you to get comfortable with first.

1. [Fork](https://help.github.com/en/articles/fork-a-repo) and [clone](https://help.github.com/en/articles/cloning-a-reposi

[2019-05-08 16:44] corinagum commented on #1971
Related to https://github.com/microsoft/BotFramework-WebChat/issues/1789

Disabling the focus feature is not possible right now.

What browser and mobile device are you on? I'm trying this out with iOS Safari and pressing 'return' to send a message keeps the keyboard open without jumping. This was intentionally added to the code fairly recently.

Jumping starts when I press the 'Send' button to se

[2019-05-08 17:02] jag1989 commented on #1971
So this is for the suggested actions which appear just above the input field / ‘send’ button.

However in iOS Safari 12.2 I can see that When the return or send button is tapped the keyboard stays open for any message.

[2019-05-08 18:22] tdurnford commented on #1935
@keshavnagpal

I'm not able to reproduce your error. Does your bot work in Test in Web Chat on the Azure Portal or any other channel when you connect with ngrok?

[2019-05-08 18:35] renrous commented on #1966
hello @corinagum first of all thanks for your help, the indications helped me and getting involved with the use of github to generate the PR led me to give me a call at https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/ component / src / Localization / en-ES.js the file for the location is-ES is complete and it works, then the problem is in the botframework-webchat-component m

[2019-05-08 18:56] corinagum commented on #1966
Hi @renrous, thanks for the reply. I'm not sure I understood your question so please let me know if I am giving you incorrect advice.

The code that you originally posted to me is an outdated version of the `es-ES` file. When you do this PR, we want to make sure that your improvements are included, as well as the updated phrases that have been added more recently.

The intention when you do a PR i

[2019-05-08 20:13] corinagum commented on #1971
Ahh, my bad I missed a few keywords there.

Can you provide a video or gif of what feature you are requesting a change for? I tried this out iOS safari and there seems to be no jumping when a suggested action is posted.

[2019-05-08 21:16] renrous commented on #1966
hello @corinagum thank you very much, I really do not have much experience in the use of github I'm doing the first experiences, I'm not clear how to do the PR if you could help me with this to learn happy to be able to count on the help and learn to keep getting involved in the use of github .
Thank you very much!

[2019-05-09 07:27] artemvalmus commented on #365
Preserving the history using direct line (with existing token and coversationId) may be slow (you need to request the activities from the direct line which makes the user wait) and the token can get expired
There is a 100% working workaround (checked myself) - the framework's redux state has `activities` property. Map this property to your component's state using react-redux, save in local storage

[2019-05-09 09:06] Keshav-GravityILabs commented on #1935
@tdurnford Yes it works on azure portal "Test in Webchat" tab.

[2019-05-09 09:08] Keshav-GravityILabs commented on #365
Hi @artemvalmus I can't use react on this project so i'm building the webchat through javascript only.

[2019-05-09 09:11] keshavnagpal commented on #1935
@tdurnford  yes it is working fine in "Test in WebChat" tab on azure when I connect via ngrok

[2019-05-09 09:13] keshavnagpal commented on #365
@artemvalmus I can't use react in this project so I have to stick with javascript only. Is there a way we can preserve history with websocket on without using react ?

[2019-05-09 09:18] RobinLeStagiaire opened #1972 "HideUploadButton=true with react implementation"
Hello, I'm trying to hide the upload button following this [tutorial](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/05.d.hide-upload-button-styling), but it doesn't use the web chat with [react implementation](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/03.a.host-with-react). How can I modify the property ?
![image](https://user-images.githubuserco

[2019-05-09 10:51] jag1989 commented on #1971
Hopefully this helps, https://drive.google.com/file/d/1sWHcCLFN6NnrxoOriK3iKm3jTXv_pvvS/view

So in the video when I click on one of the purple buttons, I would like the option to **not** automatically focus onto the text input field.

[2019-05-09 12:26] dharma-reddy opened #1973 "How to create custom HTML elements with Angular Project"
Hi,

I want create custom html form with file upload button in web chat response.
Please help us in resolving this.

[2019-05-09 16:07] corinagum commented on #1972
'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat tag](https://stackoverflow.com/questions/tagged/web-c

[2019-05-09 16:07] #1972 closed

[2019-05-09 16:07] corinagum commented on #1973
'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat tag](https://stackoverflow.com/questions/tagged/web-c

[2019-05-09 16:07] #1973 closed

[2019-05-09 16:27] corinagum commented on #1971
I see what you mean. I'm adding this for discussion with the team. Thanks for filing.

[2019-05-09 16:28] tdurnford commented on #1972
@RobinLeStagiaire

You can pass `styleOptions` to `ReactWebChat` as a prop.

[code]

As @corinagum mentioned, the BotFramework Development Team prefers 'How to' questions to be asked on StackOverflow. In the future, please ask questions like this one on StackOverflow with the [Web Chat tag](https://stackoverflow.com/questions/tagged/web-chat).

Hope this helps!

[2019-05-09 22:07] corinagum commented on #1896
@denscollo, could you tell me what format the data uri was in?

[synk](https://snyk.io/vuln/npm:markdown-it:20160912) and the [markdown-it security page](https://github.com/markdown-it/markdown-it/blob/master/docs/security.md) indicate that only pngs, gifs, and jpgs are allowed in `markdown-it`.

[2019-05-09 22:13] corinagum opened #1974 "'docs' folder should be consolidated and probably renamed to 'media'"
## Screenshots
![image](https://user-images.githubusercontent.com/14900841/57490032-ca71c980-726c-11e9-84ed-a7dd2af004fe.png)

## Version
4.4.1

## Describe the bug
media files are very disorganized for the root README.md

## To Reproduce
N/A

## Expected behavior
N/A

## Additional context
This has to do with organization, not code fixing.

[Bug]

[2019-05-09 23:37] #1974 closed

[2019-05-10 06:55] Tamoormughal opened #1976 "[IC3] Request: RTL support and localization for Hebrew, Urdu, and Arabic (+ info on localization contributions)"
[edited by @corinagum)

Feature request: RTL support for languages like Hebrew, Urdu, and Arabic, as well as localization support for Hindi and the previously listed languages.
----

[Question]
is it possible speech to text of google is implement in bot frame work V4 like hindi and urdu and arabic?

[2019-05-10 07:31] RobinLeStagiaire commented on #1972
Thanks @tdurnford! It worked! I promise I will read the rules next time I'm sorry.

[2019-05-10 10:09] artemvalmus commented on #365
@keshavnagpal I guess the idea is similar without React also. You need to provide the redux state with the initial activities. But I haven't tried

[2019-05-10 11:20] artemvalmus opened #1977 "Bot border radius style option"
I need to change the border radius of the bot avatar, but do not see this property here - https://github.com/Microsoft/BotFramework-WebChat/blob/master/packages/component/src/Styles/defaultStyleSetOptions.js

Would it be possible to add it?

It was possible in older versions with styleSet which is stated to be non-recommended way of overriding styles.

[2019-05-10 13:43] shaikatzir opened #1978 "Web chat solution for internal bots (private tenant)"
## Feature Request

**Is your feature request related to a problem? Please describe.**
We are running the bot framework solution on Azure private tenant. We are able to successfully run Web Chat solution for external bot use cases for public access through the bot connector channel manager. We would like to add a web client for internal use cases (internal network) without connecting through the b

[2019-05-10 14:11] anomepani commented on #1932
@rajivkumarsrivastava  Can you please check and verify that it is working in IE 11 or not? So that I can not create a separate issue in Repo.

[2019-05-10 14:13] anomepani commented on #1914
@corinagum  Which magic code. I am not able to run React version of web chat in IE 11 with react version.

[2019-05-10 14:55] JpEncausse opened #1979 "Migrating from v3 to v4 the HTML option"
Hi,
We are migrating a WebChat from v3 to v4.

In the v3 there was an option (that require a full recompilation of the JS) to handle HTML sent from the BotFramwork.

It seems this option has disapeard in v4 ? Did I miss something ? Or this there a work around to send HTML in messages ?

(Yes I understand HTML as a lot of limits compared to a description language like Markdown. But it is also very

[2019-05-10 17:02] corinagum commented on #1977
Hi @artemvalmus, just fyi, the last time I checked you are able to affect border-radius with styleSet. If you're having trouble with this let me know.

As for changing the border radius within styleSetOptions, you are right in that this is not (yet) a feature. I will put this issue up for discussion with the team to see if we want to implement the option. :)

(Also, if you have the bandwidth to do

[2019-05-10 17:12] corinagum commented on #1976
Hi @Tamoormughal, are you asking about adding localizations to V4 in Hindi, Urdu, and Arabic? (Please correct me if I am wrong), but I believe two of these languages would need RTL support, as well as the addition of the localized strings.
We have a PR already in existence, provided by the community, for which the review has been put on hold due to lack of bandwidth. https://github.com/microsoft/B

[2019-05-10 17:42] corinagum commented on #1979
Hi @JpEncausse, you are correct, this is a feature that was available in v3. Please see the related blog article: https://blog.botframework.com/2017/09/07/html-not-supported-web-chat/

Based off of this sample: https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.b.getting-started-minimal-markdown I believe providing your own markdown-it object with HTML settings enabled (see b

[2019-05-10 17:44] corinagum commented on #1978
Hi @shaikatzir, I believe this has been discussed before, but I will have to ask around the team to find out more information. Before I do so, could you clarify whether or not the private tenant has internet access? If yes, I will can investigate further. If not, I think your scenario is not possible due to billing reasons.

[2019-05-11 11:12] abishekreddy opened #1980 "Multi-line input textarea overflows container when words can't be broken"
## Screenshots

![image](https://user-images.githubusercontent.com/24618556/57568906-3e49d880-740b-11e9-984e-233b387c378e.png)

## Version

Using the CDN.

## Describe the bug

Multi-line input textbox overflows parent container if words can't be broken when the styleoOption `sendBoxWrapText` is set to `true`,

[2019-05-13 07:26] shaikatzir commented on #1978
Hi @corinagum,  I couldn't find a prior discussion about this.
Private tenant dies have internet access but the internal bot should have communication only within the vnet with the internal network without public access.
I am trying now to implement this option with:
https://github.com/howdyai/botkit/tree/master/packages/botbuilder-adapter-web

[2019-05-13 11:10] robinlestagiaire commented on #476
Hi @sivanandh, do you have a link to your code?
@tdurnford found a -yet not perfect- approach on [Stackoverflow](https://stackoverflow.com/questions/56079912/auto-completion-with-the-botframeworks-webchat/56085249#56085249)

[2019-05-13 18:52] DesignPolice commented on #1980
I think it should just wrap... with either a long URL or wildly long names?

just mimic the behavior of Teams chat.
m

[2019-05-13 18:53] DesignPolice commented on #1980
![Screen Shot 2019-05-13 at 11 53 03 AM](https://user-images.githubusercontent.com/45223620/57646563-ba602f80-7575-11e9-9f89-7cd6191f4039.png)

[2019-05-13 21:27] corinagum commented on #1673
Provide better focus indication on this element

[2019-05-13 21:47] corinagum opened #1981 "Activate eslint on Azure DevOps"
## Feature Request

[Enhancement]

[2019-05-13 21:53] cwhitten opened #1982 "Move to Prettier"

[2019-05-14 16:33] corinagum commented on #1964
I sent a message to a rep of the Adaptive Cards team asking that they update their site with our new hostconfig. I haven't heard anything back yet, but I will continue to check-in and report back here. :)

[2019-05-14 16:41] ovishesh opened #1984 "WebChat docs on GitHub are comprehensive but are not translated"
## Feature Request

My team and I were working with quite a few Japanese customers where we were trying to customize WebChat using the ReadMe docs here on GitHub. Non-English speakers had an incredibly difficult time implementing WebChat on their own. The [official documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-webchat?view=azure-bot-service-4.0) does

[2019-05-14 16:47] EricDahlvang opened #1985 "Add WebChat version to UserAgent"
## Feature Request

It would be useful for diagnostics and analytics to know the WebChat version that is sending messages.

[Enhancement]

[2019-05-14 20:29] corinagum commented on #1966
Hey @renrous, how's it going? Do you have any questions? If you think you will not be able to make changes, please let me know. That's no problem, and I can look into this fix instead.

[2019-05-14 21:01] tdurnford commented on #1429
Changing the Markdown-it `breaks` option from true to false in [renderMarkDown](https://github.com/microsoft/BotFramework-WebChat/blob/e7d93f402fa261d26500e4681a2ef5a92740c339/packages/bundle/src/renderMarkdown.js#L48) resolves the issue, but you need to add two spaces before a newline character if you want a break line tag on the second line. In the example above, it looks like there is only one

[2019-05-15 01:50] DingmaomaoBJTU commented on #1964
Thank you so much!~

[2019-05-15 10:39] hansmbakker commented on #1913
Fixed in the version that is on the CDN now.

[2019-05-15 16:12] #1969 closed

[2019-05-15 19:01] corinagum commented on #1964
I got a response from the Adaptive Card team :) Web Chat is free to do a PR to their repo with the updated host config. Since Adaptive Cards' v.next has a lot of new changes, updating the file will not be trivial. We're keeping this for the 4.5 milestone, but I will work on this at a later date when I can delegate more time to it.

I would still super love to have another Adaptive Cards on Web Cha

[2019-05-15 20:36] corinagum opened #1990 "Adaptive Cards multiline input uses monospace instead of assigned font family"
## Screenshots
![image](https://user-images.githubusercontent.com/14900841/57807397-f205dd80-7715-11e9-8d39-0738b2bb65ed.png)
![image](https://user-images.githubusercontent.com/14900841/57807484-1bbf0480-7716-11e9-949c-b3a995218cae.png)

## Version
v4 latest

## Describe the bug

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://microsoft.github.io/BotFramework-WebChat/01.a.getting

[2019-05-15 23:05] corinagum commented on #1876
I have been investigating this and have some results to share. First, please see my repro steps:

1.	Navigate to [full bundle]( https://microsoft.github.io/BotFramework-WebChat/01.a.getting-started-full-bundle/) in Firefox, Edge, Chrome, IE, or Safari (For IE: use [es5 bundle](https://microsoft.github.io/BotFramework-WebChat/01.b.getting-started-es5-bundle/))
2.	Turn on Narrator, VoiceOver, or NVD

[2019-05-16 05:34] rajivkumarsrivastava commented on #1932
Sorry about the late response. No it's not working on IE 11.  It's working on Edge, Chrome, Fire Fox

[2019-05-16 10:00] joaogomesptech opened #1991 "ScrollToBottom doenst work if you increase suggestedAction Height"
## Version
NPM package 4.4.1

## Description of the bug
ScrollToBottom of webchat stop working if you increase suggested Action height by suggestedActionHeight property of styleOptions.
It works fine if you are talking to the bot by sendbox, but if you click on a suggested action it doesnt.

## To Reproduce
Steps to reproduce the behavior:
1. Put 'suggestedActionHeight: 50px' on your styleOptions

[2019-05-16 10:57] MarekLani opened #1992 "ChannelData or UserId are not propagated to Bot Framework on Conversation Update events"
## Version
master

## Describe the bug
[code]
Bot Framework backend receives activity with property From.Id set to conversationId instead of UserName. Also when trying to alter channel data, this is propagated only on postactivity events.

## To Reproduce
Use code sample above and catch conversation update events on the backend side. UserId equals to conversation Id instead of value set for userId

[2019-05-16 14:09] Unders0n opened #1993 "User added event flow changed in 4.4?"
Not sure if it's a bug or i just don't know to to handle it right, but what i know that everything's was working in 4.2 (and prob 4.3) but not working same way in 4.4
What i have:
- backend is 4.4.3
- react webcontrol, 12.minimization sample.
- so i wanted when user open the chat it already shows welcomening, for that in 4.2 i was sending event using this code on front (MinimizableWebChat.js):

[c

[2019-05-16 14:42] saravana13 opened #1994 "Is it Possible to send proactive message as a browser notification using service worker?"
Is it Possible to send proactive message as a browser notification using service worker?

If yes , is there any example available on how to achieve this?

[2019-05-16 16:20] corinagum commented on #1994
'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. Thank you!

[2019-05-16 16:20] #1994 closed

[2019-05-16 16:57] corinagum commented on #1991
Hi @joaogomesptech, the functionality you're expecting is not the intended behavior of clicking suggested actions. Clicking a suggested action shouldn't automatically scroll to the bottom. I tested this both with a default suggestedActionHeight and one at 50px, and both act the same way: the suggested action will disappear and the bot will send a message, but there is no scroll to bottom functiona

[2019-05-16 16:57] #1991 closed

[2019-05-16 17:28] corinagum opened #1995 "Feature Request: Design pass on Web Chat (and Emulator's) Adaptive Cards"
## Feature Request

This is an extended request off of #1964.

**Describe the suggestion or request in detail**
I would love it if the design team could do a new pass on Web Chat and Emulator's Adaptive Cards. Their v.next has a lot of new features in terms of color customization that would expand their visual capabilities, and we should take advantage of that.

Note that this would need to includ

[2019-05-16 17:59] compulim commented on #1990
I just checked that user agent (browser) use monospace font, not us. But we should use styles to override that.

![image](https://user-images.githubusercontent.com/1622400/57876158-82512a80-77c9-11e9-978a-b43e6d072366.png)

[2019-05-16 18:06] corinagum commented on #1990
The weird part though is that Adaptive Cards has it styled with the rest of the inputs. Not sure why Web Chat isn't doing the same.

[2019-05-16 18:06] compulim commented on #1985
Great idea.

The `window.WebChat.createDirectLine` function in the bundle should put/append Web Chat version as bot agent. There is an option called `botAgent`.

@EricDahlvang few questions:

- What do you think about the format of the bot agent? E.g. `WebChat/4.4.1`?
- How about the user want to append their own? Should we always append `WebChat/4.4.1` to what the user provided?
- Web Chat has di

[2019-05-16 18:12] compulim commented on #1984
Love this idea. I am unsure how much efforts for putting them on docs.microsoft.com. Their shipping schedule could be different, meaning the docs could come in late. And if devs in our team (primarily me) is up to Microsoft standard on technical writing. I might need to attend some training classes too.

But on the other hand, as Web Chat grown to be complicated, our doc today is not very structur

[2019-05-16 18:15] compulim commented on #1979
@corinagum is correct on the Markdown + HTML. The reason is that the behavior is not the same across channels (e.g. does Skype/Teams support HTML in Markdown?)

On the other side, we now run sanitizer on Markdown result. I can't say it solve everything, but should ease some of your security concerns.

We still prefer to use Adaptive Cards or building the result in client-side code, because this is

[2019-05-16 18:19] compulim commented on #1977
Like this idea!

Plus, we should build a sample to use `clip-path`, probably in `styleSet`, to clip the avatar as an [Octocat](https://www.bing.com/images/search?q=octocat). Fun 2-hour project.

[2019-05-16 18:59] compulim commented on #1971
I think this request is legit. Keeping mobile UI flow consistently and smooth is important.

I believe, by default, we should not focus on text input after submitting thru any buttons. But I am unsure why we have it there.

[2019-05-16 19:49] compulim commented on #1954
@jvanderbiest can you check timezone in your browser machine?

I checked [the code here](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/core/src/reducers/activities.js#L27), this is where we find the correct place to insert the activity into.

- `nextActivity` is the activity that we will be adding into the transcript. In your video, this is the message which the user is se

[2019-05-16 20:23] joseali93 opened #1997 "Android WebView download a file result in page navigation"
[Question]

Hello, I'm new to bot development, implement a bot using bot framework in typescript and adaptive cards, it's already published in azure, in the bot emulator and a web chat page work correctly. The problem I have to download files in a native android application is a test app and there are interactions but when you download an item in the mobile application appears black and I can not

[2019-05-16 21:34] compulim commented on #1997
https://stackoverflow.com/questions/10069050/download-file-inside-webview

@joseali93 are you looking for something like this?

[2019-05-17 16:08] #1429 closed

[2019-05-17 16:09] ovishesh commented on #1984
@compulim I agree. It would be an effort but definitely will pay off to the non-english speaking developers as we observed in Japan a few weeks ago. We ended up doing some translation of [our own repo](https://github.com/ryanvolum/menu-bot/wiki) with the help of some of our Tokyo based colleagues and that was greatly appreciated by the developers.

[2019-05-17 16:51] hansmbakker commented on #1763
@compulim I did as you said in https://github.com/microsoft/BotFramework-WebChat/issues/1763#issuecomment-470693821 :
- I created an endpoint that generates tokens based on the directline secret
- the user.id is sent to the directline server during the token generation:
[code]
[code]
- I pass this temporary `tokenForWebchat` to my webchat page

## Expected behavior:
When I use the token, the user

[2019-05-17 16:52] hansmbakker commented on #1763
@corinagum could you please reopen this?

[2019-05-17 19:34] corinagum commented on #1876
I made a basic app to test `aria-live` features: [ARIA-screenreader-testing](https://corinagum.github.io/ARIA-screenreader-testing/)

This app previously had two (nested) `aria-live` features to mimic Web Chat. Unfortunately this caused problems in Firefox where the nested live region was always read twice. Because of this, I will be removing the nested live region in Web Chat to improve compatibi

[2019-05-17 19:47] corinagum commented on #1763
Tagging this as a Support issue since this a "How To"

[2019-05-17 20:04] adaddeo opened #2000 "Customization option to hide avatars"
## Feature Request

**Is your feature request related to a problem? Please describe.**
To preserve real estate in the chat window we'd prefer to hide avatars completely (and do something similar to the "user highlighting" sample).

**Describe the suggestion or request in detail**
A customization option to hide avatars completely.

**Describe alternatives you have considered**
Using idiosyncratic s

[2019-05-17 21:27] compulim commented on #2000
Avatar only show up if you set the `botAvatarInitials` or `userAvatarInitials`. By default, they are not set.

[2019-05-17 21:27] #2000 closed

[2019-05-17 22:09] corinagum opened #2001 "Accessibility: Narrator reads markdown that is passed through the localize method"
## Describe the bug

## To Reproduce
Steps to reproduce the behavior:
1. Turn on Narrator
1. Go to full-feature Mock Bot
1. Type 'timestamp' and send
1. Note that Narrator says  message "First message at time t = 0." as: "First message at time underscore t underscore equals 0"

## Expected behavior
Markdown should be stripped from text before being passed to `localize`

##
Additional context
use t

[2019-05-18 15:32] EricDahlvang commented on #1985
The adaptive cards version can be determined based on the WebChat build version.  But, as much information as we can provide regarding customer enabled features and loading mechanisms seems good.

[2019-05-20 07:54] hansmbakker commented on #1763
@corinagum I'm not sure this is a how to - the service does not work as expected..

[2019-05-20 11:04] vishmonne commented on #1427
Any updated solution for disabling a adaptive card button totally once its clicked once ?

[2019-05-20 12:36] raghukrishnamoorthy opened #2004 "Failed to connect issue on IE"
I've been running into a strange issue with webchat on IE.

I'm using webchat-es5.js from the CDN using the directline API and the Azure bot in the backend (.NET SDK) connected to a ASP.NET Web application.

When hosted on one server under IIS, it works fine in chrome and IE. When the exact same application is hosted on a different server, the bot works on chrome but failed on IE with a "Failed to

[2019-05-20 15:47] rjgmail88 opened #2006 "Enable to get embed code and secret for Web Chat channel"
## Screenshots
![image](https://user-images.githubusercontent.com/32375467/58034710-d2dbc700-7aec-11e9-8afd-cccae7e0d27c.png)

![image](https://user-images.githubusercontent.com/32375467/58034718-d4a58a80-7aec-11e9-9eee-2cc2e28ba2f0.png)

## Version
No sure, I haven't used it yet.

## Describe the bug
Please refer to the screenshots attached. In azure portal I am looking at 'Bot Channel registrati

[2019-05-20 16:10] tdurnford commented on #1763
@hansmbakker

I was able to generate a DirectLine Token with a unique user id, pass it to WebChat, and access the id in the bot's activity handler. I'd recommend double checking how you are requesting your token from DirectLine.

![Untitled](https://user-images.githubusercontent.com/17039790/58034800-36112d80-7adc-11e9-82a8-ab9ef2433579.png)

[code]

[2019-05-20 16:38] corinagum commented on #2004
'How to' / implementation questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat tag](https://stackoverflow.com/quest

[2019-05-20 16:38] #2004 closed

[2019-05-20 16:51] corinagum commented on #2006
This is definitely odd. I'm unfortunately not reproducing this when I try a new Bot Channels Registration.

- Could you check the console to see if there are any errors reported? If there are, please take a screenshot and share that here.
- Could you also let me know what browser you're trying this on? I will try to reproduce again when I hear back from you. Thank you!

[2019-05-20 16:52] corinagum commented on #1979
Closing due to inactivity

[2019-05-20 16:52] #1979 closed

[2019-05-20 18:38] compulim commented on #2006
@rjgmall88 did you delete the default site it comes with?

I just tried to create a new Bot Channel Registration and the "Default site" exist, so I am guessing you might accidentally deleted it.

Bot Channel Registration will come with a "Default site". If you deleted it, it will turn blank like your first screenshot. But you can re-create the site by clicking on "+ Add new site".

[2019-05-20 18:59] NaveenGaneshe commented on #1427
Any updates ?

[2019-05-20 19:09] rjgmail88 commented on #2006
Hi @compulim, Adding the new site worked. I can see setting now. Out of curiosity how can we use this site ?

[2019-05-20 19:12] compulim commented on #2006
Good to know it fixed.

I am unsure why it come up with this name. You can think about "site" as a separate container with isolated conversation. So you cannot use a secret from one site to retrieve conversation from another site.

As you see there are options below the site, these options are also specific to the site. For example, in Direct Line channel, you can set whether to opt-in enhanced se

[2019-05-20 19:12] #2006 closed

[2019-05-20 20:58] v-kydela commented on #1997
@joseali93 - Are you still working on this?

[2019-05-20 21:09] joseali93 commented on #1997
i use the example of @compulim  i make a interceptor ( or something like that) for android, and  handle the external url of the webview

[2019-05-20 21:10] #1997 closed

[2019-05-20 21:36] DesignPolice commented on #1673
@compulim @corinagum @tdurnford

Hello, @tdurnford tagged me on this, I'm not clear from this thread if we have figured out a fix for this or not? @compulim last comment seems to imply we need to research a better solution for Accessibility or do I just need some heavier focus lines to make it more obvious?? @corinagum looks like you "tapped" out on this one?

[2019-05-20 21:56] compulim opened #2007 "Misalignment of speech button"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/58054426-6a521180-7b0f-11e9-8c54-0494e57953a1.png)

## Version
`master` branch

## Describe the bug
The speech button is misaligned.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://webchat-playground.azurewebsites.net/
2. Click on 'Connect to official MockBot'

## Expected behavior
The speech button is ve

[2019-05-20 22:04] compulim opened #2008 "Playground broken due to recent eslint fixes"
## Screenshots

![image](https://user-images.githubusercontent.com/1622400/58054739-61157480-7b10-11e9-832c-dc89ac9870a8.png)

## Version
`master` branch.

## Describe the bug

Make sure playground is working.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://webchat-playground.azurewebsites.net/
2. Click on 'Connect to official MockBot'

## Expected behavior

Playground works.

#

[2019-05-20 22:09] compulim commented on #1848
Maybe Chrome updated the error message.

![image](https://user-images.githubusercontent.com/1622400/58054997-3d066300-7b11-11e9-847f-a0adcbeb47a3.png)

[code]

[2019-05-20 22:13] #1980 closed

[2019-05-20 22:17] tdurnford commented on #1935
@keshavnagpal

We had an issue that came through a couple days ago that shared some similarities with what you're experiencing. Do you have any firewalls configured between your bot and Web Chat? Also, are you using a Web Chat or a DirectLine secret?

[2019-05-20 22:17] corinagum commented on #1968
hi @erkkil, could you provide the exact error message that you are receiving? A screencap or copy-paste of the text would be great. Thank you!

[2019-05-20 22:22] corinagum commented on #1978
@shaikatzir, Thanks for your patience!
After investigating, I confirmed with the Web Chat team that this is not a feature request for Web Chat. Your request would be implemented on the server-side, not client side. I will ask someone on the Bot Framework team to redirect this to the SDK repo as appropriate. Thank you!

[2019-05-20 22:27] corinagum commented on #1992
@MarekLani, sorry for the late reply, this fell off my radar.
ConversationUpdate is not an activity sent from the bot or user, which is why the fromId is showing as the conversation ID. This by design from the Bot Framework protocol. Our general recommendation is to not use conversationUpdate to retrieve user-related information. Instead, please check out our sample 15.d which shows sending an act

[2019-05-20 22:27] #1992 closed

[2019-05-20 22:35] compulim commented on #1993
@Unders0n when I browse to https://microsoft.github.io/BotFramework-WebChat/12.customization-minimizable-web-chat/, which is using latest Web Chat (4.4.1+), I can see the `webchat/join` event received on the bot side.

![image](https://user-images.githubusercontent.com/1622400/58056067-b5225800-7b14-11e9-99c0-127335d1eea6.png)

Are you saying you are not seeing this event?

[2019-05-21 04:27] erkkil commented on #1968
hi @corinagum,

Here is the error taken from Safari Javascript console after clicking the microphone button

<img width="1261" alt="webchat-speech-error" src="https://user-images.githubusercontent.com/6783309/58068339-a9c54000-7b99-11e9-919e-2cf53795feff.png">

[2019-05-21 04:43] keshavnagpal commented on #1935
@tdurnford
I'm not sure about the firewall configuration, I didn't separately configure anything related to it (will it be there by default?)
I'm using DirectLine Secret

[2019-05-21 06:40] keshavnagpal opened #2010 "Text to Speech is reading markdowns"
## Version
![image](https://user-images.githubusercontent.com/10372931/58073157-8614f080-7bbf-11e9-8575-0874a301db39.png)

## Describe the bug
Text to speech is reading the markdowns like
- URL
- horizontal line
- (previously it used to read ** bold text ** asterisk as well but I recently checked that it is fixed now)

I can see that the markdowns are not rendered as text.
URL -> goes to href and

[2019-05-21 09:19] MarekLani commented on #1992
@corinagum Thank you for the explanation.

[2019-05-21 09:36] Unders0n commented on #1993
@compulim , thanks, seems like i was using old signature for event, while now we need to use WEB_CHAT/SEND_EVENT, i think i was reffering old docs.
But now i got another problem - i need to pass custom parameter along with that event, in my case tenant id, i wasn't able to make clear solution previosly for that and i was creating my own userId where first part before special char was tenant id lik

[2019-05-21 09:47] hansmbakker commented on #1763
I got it working. It looks like I missed the note that this **only** works if you enable the `Enhanced authentication options
`:
![image](https://user-images.githubusercontent.com/3463496/58085789-b065ae80-7bbd-11e9-8196-1130b5ba7a29.png)

I assumed that webchat getting the userId from the directline token would be default behavior.

My question

came from @compulim's note that the directline toke

[2019-05-21 10:52] keshavnagpal opened #2011 "(support) How to use bing speech in IE"
Hi I want to use bing speech but it uses async/await keywords, which we can't use in IE
I'm using webchat-es5.js
please suggest a way to use bing speech since browser speech is not supported/working in IE

Thanks

[support]

[2019-05-21 12:40] HesselWellema opened #2014 "webchat customization specific question"
🚨 The issue tracker is not for implementation questions 🚨

Hi,
Not sure if this is the right 'channel' for this question. I am finalizing a webchat implementation on my own site. I am struggling with the color that pops up if I hover over the send button (or a suggested action in for instance an adaptive card)
![Color when hovering send button](https://user-images.githubusercontent.com/23032884/58

[2019-05-21 16:23] corinagum commented on #2014
Hi @HesselWellema, sendBoxButtonColor is the defaultStyleOption you're looking for, though this may change all buttons in the send box, not just the send button. If you want to change only the send button, you can do so by using idiosyncratic styling, available in our samples.

Please feel free to peruse our [samples](https://github.com/Microsoft/BotFramework-WebChat/tree/master/samples), which pr

[2019-05-21 16:23] #2014 closed

[2019-05-21 16:24] corinagum commented on #2011
Please note that we have templates available to guide you in asking your questions. Implementation / 'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implement

[2019-05-21 16:24] #2011 closed

[2019-05-21 16:26] corinagum commented on #2010
This is a duplicate issue of #2001. Please feel free to add your comments over there.

[2019-05-21 16:26] #2010 closed

[2019-05-21 16:28] corinagum commented on #1993
'How to' questions such as the above are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat tag](https://stackoverflow.com/questions/tagged/web-

[2019-05-21 16:28] #1993 closed

[2019-05-21 16:34] corinagum commented on #1673
Yeah, @tdurnford is taking over this one. Right now there is no focus indication on the flippers, so he tagged you I guess to get your input. We discussed the possibility of adding distinction between a keyboard and mouse event, but @cwhitten is satisfied with us having focus indication to improve the UX. This will sufficiently indicate why the button doesn't immediately disappear.

[2019-05-21 16:37] #2008 closed

[2019-05-21 17:01] DesignPolice commented on #1673
Thanks @corinagum - @compulim do we have any Focus traits in WebChat currently? My MockBot isn't working to verify.

[2019-05-21 17:04] corinagum commented on #1673
You can look at our sample bots to hunt around for focus indicators. [Click the 'Try out MockBot' link on the sample](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.a.getting-started-full-bundle).

[2019-05-21 17:06] corinagum commented on #1848
@compulim are we reassigning this one to you?

[2019-05-21 17:44] tdurnford commented on #1763
Web Chat's README mentions the various options to specify the user id in the [Web Chat API Reference](https://github.com/microsoft/botframework-webchat#web-chat-api-reference) section, and this blog post covers enabling [Enhanced Authentication Options](https://blog.botframework.com/2018/09/01/using-webchat-with-azure-bot-services-authentication/) for WebChat. If you think the documentation on thi

[2019-05-21 17:44] #1763 closed

[2019-05-21 18:07] compulim commented on #1736
![image](https://user-images.githubusercontent.com/1622400/58119760-9e354180-7bb8-11e9-8e59-928328e3d866.png)

We `START_DICTATE` immediately after the first `MARK_ACTIVITY` completed. Looks like something wrong with `startDictateAfterSpeakActivitySaga.js`.

[2019-05-21 18:25] compulim commented on #1829
The exception thrown at this line.

![image](https://user-images.githubusercontent.com/1622400/58120939-1c92e300-7bbb-11e9-9b06-5cd8291562b1.png)

![image](https://user-images.githubusercontent.com/1622400/58120911-0ab14000-7bbb-11e9-83c9-df4a952f36d1.png)

[2019-05-21 18:45] DesignPolice commented on #1673
Ah thanks that helped. I will pin that link.

looks like we have a couple of different focus options - They all seem a little bit different.

I would recommend we just align to the Fluent Web version that now being used on most everything and is available in Figma - with the CSS and redlines etc. Might make everything easier.

@tdurnford  @corinagum - I will text you a link, but I have attached a

[2019-05-21 20:31] phale98 opened #2017 "Directline with GET integration React"
Hello, I'm attempting to connect to the a bot hosted on a public Azure server, however due to the company firewall restrictions I cannot connect via websocket. After doing some research I found that according to directline documentation you can get bot messages via get as noted here:

https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-receive-activities?

[2019-05-21 20:48] corinagum commented on #2017
'How to' questions such as this one are better suited for [Stack Overflow](https://stackoverflow.com/tags/botframework). Please feel free to post other questions you have about developing your own features over there so the community at large may help out. If you need help with a Web Chat implementation, you can post a question to the [Web Chat tag](https://stackoverflow.com/questions/tagged/web-c

[2019-05-21 21:29] tdurnford commented on #2017
Web Chat is built on top of [DirectLineJs](https://www.npmjs.com/package/botframework-directlinejs#create-a-directline-object), so any options you pass to the `createDirectLine` method will be passed to the DirectLine constructor. If you do not want Web Chat to use WebSockets, you can set the `webSocket` property to false. See the code snippet below.

[code]

As @corinagum mention, the official [B

[2019-05-21 21:29] #2017 closed

[2019-05-21 22:04] tdurnford commented on #1935
The firewall would be configured on your network.

Also, if you wouldn't mind sharing the bot id and conversation ids that have been effected, I can take a closer look at the logs.

[2019-05-21 23:10] Deucem opened #2019 "Module not found: Can't resolve 'mime/types/other.json'"
## Version
Latest - "botframework-webchat": "^4.4.1"

## Describe the bug

npm install botframework-webchat, attempt to use:

import { DirectLine } from 'botframework-directlinejs';
import ReactWebChat from 'botframework-webchat';

and error message appears:

./node_modules/botframework-webchat-core/lib/utils/mime-wrapper.js
Module not found: Can't resolve 'mime/types/other.json'

This happens in

[2019-05-21 23:17] Deucem commented on #2019
I've noticed fix #1998, so i npm install botframework-webchat@master, the problem still persists.

@tonyanziano

[2019-05-21 23:23] tonyanziano commented on #2019
@Deucem can you check inside of your `node_modules` folder and see what version of Web Chat you have installed? You shouldn't be seeing the error for `Can't resolve 'mime/types/other.json'` because the code that was trying to require the `.json` files [no longer exists](https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/core/src/utils/mime-wrapper.js#L40).

This leads me to bel

[2019-05-22 00:26] Deucem commented on #2019
Ok yes that works, I nuked my node_modules folder and install the master branch and it came to live. Do you have an ETA on when this will be pushed to NPM, without having to have a dependency on the master branch? this is a pretty major breaking change that basically renders the webchat for react unusable.

[2019-05-22 00:46] Deucem commented on #2019
Never mind, appears it was a local issue, the normal npm install botframework-webchat works just fine.

[2019-05-22 00:54] tonyanziano commented on #2019
Glad to hear it!

[2019-05-22 08:21] chinnivyshnavi opened #2021 "Username is not passed from webchat HTML to bot"
Hello, I am trying to send a username from html to chatbot. Code used for the same is as follows

[code]
I am trying to extract the username as from:Role in the chatbot

`await turnContext.SendActivityAsync(MessageFactory.Text(turnContext.Activity.From.Role), cancellationToken);`

Am I extracting in a correct way? Is it possible to get the name ??

[2019-05-22 09:20] darrenj commented on #1736
I believe this issue is the one we've hit with testing, here are some examples to help validate the change:

•	If one response is sent back WebChat appears to perform TTS reliably, eg:
![image](https://user-images.githubusercontent.com/33519520/58162960-0ba9a680-7c7b-11e9-886a-084a42fe6a6d.png)

•	If two responses are sent back WebChat fails to perform TTS on anything (despite Speak properties bei

[2019-05-22 09:38] darrenj opened #2022 "InputHint not respected by WebChat in speech scenarios"
InputHint not respected by WebChat in speech scenarios

## Screenshots
![image](https://user-images.githubusercontent.com/33519520/58164278-6ba14c80-7c7d-11e9-906a-ebfaa432fc12.png)

![image](https://user-images.githubusercontent.com/33519520/58164365-98edfa80-7c7d-11e9-9e2a-f5f0902caf59.png)
## Version
CDN: latest/webchat.js

## Describe the bug
The InputHint on a return activity indicates whethe

[2019-05-22 12:29] jithinsarath opened #2023 "V3 to V4 Migration Roadblocks."
We are in process of migrating our bot, written in C# .Net to C# .Net Core. We were able to convert most of our work, but have hit a wall while dealing with Webchat.js.
We forked botchat.js to include following features. Now that the webchat.js is minified, we are unable to make these minor changes to the code, without rolling out a forked version (and having to implement all of the other good bit

[2019-05-22 12:40] avilde commented on #1427
The only way I found was to use a custom activityMiddleware where I draw my own message header and actions. As the web-chat component is written in React, I used class state to draw/not draw children (action buttons).
This however leads to manual parsing of adaptive cards from card attachments coming into activity middleware.

Documentation: https://github.com/microsoft/BotFramework-WebChat#web-ch

[2019-05-22 17:02] compulim opened #2025 "Update instructions to use MyGet for dev build"
## Feature Request

And optionally, deprecate `master` dist-tag.

### Package history

Package history at [MyGet](https://botbuilder.myget.org/feed/botframework-webchat/package/npm/botframework-webchat).

### `.npmrc`

[code]

### Rough draft

To use dev build,

1. Create/modify `.npmrc` locally and set `registry`
1. Run `npm install botframework-webchat --save`
1. Remove your changes in step 1 to

[2019-05-22 17:28] corinagum commented on #2021
Hi @chinnivyshnavi, from your HTML it looks like you are hardcoding the username to be 'Chinni', but you also mention that you are trying to retrieve the username from the turnContext. Could you clarify which one you intend on using?

[2019-05-22 17:33] compulim commented on #2023
@corinagum please add more.

1. There is a programmatic way to post activity, doable.
2. Is it about the bot sending duplicated activity or Web Chat? And why would that happen?
3. There is a way to disable the UI via props, never use jQuery or DOM in Web Chat
   - But I believe, conversation is always asynchronous and interrupt-able, that's how human works. The bot should be able to handle such sc

[2019-05-22 17:41] corinagum commented on #2023
1 & 2: You are able to programmatically filter and send activities on the client side. Please see sample 15.d
3: You can use `styleOptions` to disable the input. Please see sample 05.c

[2019-05-22 17:41] #2023 closed

[2019-05-22 17:43] compulim commented on #2019
I am seeing this too today. 🤦‍♂️

I believe `mime` bumped this breaking change (`2.3.1` -> `2.4.3`) and now our `4.4.1` is broken by default. Will let you guys know when we decided to publish `4.4.2` with Tony's fix to lock down on their version.

On the other hand, we modified `npm install botframework-webchat@master`. #2025 is the work to update our instructions.

[2019-05-22 17:44] compulim commented on #2019
## Work to do

Bump to `4.4.2` with Tony's fix.

[2019-05-22 19:43] compulim commented on #1848
Took this now.

[2019-05-22 21:00] #1736 closed

[2019-05-23 04:20] chinnivyshnavi commented on #2021
Hi @corinagum i want the name 'chinni' to be sent to the bot and displayed in the conversation. I hardcoded the 'chinni' name to check whether the name can be passed or not temporarily. If this works i will change the code to dynamically send the username. Thanks.

[2019-05-23 05:42] saurav2107 commented on #2021
@chinnivyshnavi I guess you need to use:

await turnContext.SendActivityAsync(MessageFactory.Text(turnContext.Activity.From.Name), cancellationToken);

to get username in the code

[2019-05-23 07:42] robinlestagiaire commented on #476
I managed to replace the original sendBox with my own react-select element on [Stackoverflow](https://stackoverflow.com/questions/56234790/replace-the-input-field-of-the-webchat-with-your-own-react-select-element), using [#1826](https://github.com/JedWatson/react-select/issues/1826#issuecomment-480614359) and @tdurnford response on my post.

[2019-05-23 11:45] daltskin commented on #894
Hit a related issue when using an adaptive card with SSML for the speak property and using the Cognitive Services Speech (not Bing).

If the adaptive card has the following content for speak:

[code]

The speech endpoint (https://eastus.tts.speech.microsoft.com/cognitiveservices/v1) is being sent the following payload

[code]

[2019-05-23 19:16] adaddeo opened #2026 "Unable to reconnect with a fresh token after old token expires"
Version 4.4.1 via NPM package

Unable to keep a conversation going after an ExpiredToken event followed by a call to `directline.reconnect` with a fresh token.When the connection status changes to ExpiredToken "unable to connect" appears but calling reconnect with the new token "unable to connect" stays.

A strange piece of this is seeing the connectionStatus change to 5. It appears this is being

[2019-05-23 19:48] joseali93 opened #2027 "tutorial dummies webchat starter"
[Question]

I people, im so new on botframework, i am developer junior, I embebed the bot in the iframe default of web channel, i need embebed the bot andI need to pass information to validate the origin of whom I invoke the bot but i dont understand the the samples someone have a dummy tutorial
thans

[2019-05-23 20:05] corinagum commented on #1954
Closing due to inactivity.

[2019-05-23 20:20] #2007 closed

[2019-05-23 20:27] corinagum commented on #2027
Hi @joseali93, my recommendation is that you start with the first samples (01.a, 01.b, 02.a, etc), which are level 101 for implementing Web Chat. All you have to do is copy-paste the HTML and a little bit of JavaScript. The samples increase in difficulty as you increase the number, so starting at the beginning may be a good spot for you.

Otherwise, this repository is intended for users to file fe

[2019-05-23 20:27] #2027 closed

[2019-05-23 21:35] compulim opened #2028 "Direct Line Streaming Extension empty attachment"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Direct Line Streaming Extension will not returns an array for `activity.attachments`. So when DLSE echo back the message, Web Chat will use DLSE-copy of the activity and removing any attachments.

**Describe the suggestion or request in detail**
For echoed message, leave `attachments` array as-is.

**Describe al

[2019-05-23 21:47] #2028 closed

[2019-05-24 03:43] guptarajesh001 opened #2029 "Text-To-Speech is working well on Edge browser, however, it's having issue in Chrome Browser"
[Edit by corinagum]
Multiple things to investigate here:
1. Text-to-Speech not working on Chrome
1. SPFx Extensions are new for the Web Chat team and we haven't confirmed if the two techs are supported.

Since [Mock Bot](https://microsoft.github.io/BotFramework-WebChat/06.c.cognitive-services-speech-services-js/) text-to-speech is working as expected (try command: 'card review'), I believe we need

[2019-05-24 07:39] anomepani opened #2030 "React version of Chat bot not working with SharePoint SPFX in IE 11"
### React version of Chatbot not working with SharePoint SPFX in IE 11

React version of Chatbot not working with SharePoint SPFX in IE 11

## Screenshots
![Chatbot_Console](https://user-images.githubusercontent.com/2988295/58310128-801f4980-7e23-11e9-8e9e-2ebff73962fc.png)
![SPFX chatbot Render Error](https://user-images.githubusercontent.com/2988295/58310141-89101b00-7e23-11e9-8419-e6b3c4f3bda9.

[2019-05-24 13:41] RoSchoe commented on #2019
Hi is there an hotfix or workaround for that?

[2019-05-24 14:36] jusso-dev commented on #2019
It works for me @RoSchoe, if you need a hotfix, change the mime-wrapper.js to reflect this file https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/core/src/utils/mime-wrapper.js#L40

[2019-05-24 16:27] corinagum commented on #2029
Please retain the template provided when providing a new bug.
Once you answer the questions below, someone on the team can try and help you.

### [GitHub issues](https://github.com/Microsoft/botframework-webchat/issues) should be used for bugs and feature requests. See the Support section to get support related to Bot Framework and Web Chat.

## Screenshots
- If applicable, add screenshots to help

[2019-05-24 16:35] corinagum commented on #2030
React will not work on Internet Explorer without using polyfills. Please verify the polyfills on your app are sufficient for Internet Explorer 11.

[2019-05-24 16:35] #2030 closed

[2019-05-24 18:57] corinagum commented on #1984
Discussed with @cwhitten and @compulim - I am assigning @Kaiqb for 4.5!
Super excited for this. @Kaiqb please let us know if you need anything from the Web Chat team.

[2019-05-24 19:07] corinagum commented on #2021
@saurav2107, thanks for the help! Closing as solved. :)

[2019-05-24 19:07] #2021 closed

[2019-05-25 06:49] compulim commented on #1848
Today, we have a workaround for this particular Chrome bug:

1. Speak an utterance
2. Cancel in the midway
3. Speak another utterance

Expected: speaking is falsy, then turn to truthy, then receive "start" event, and audio is played
Actual: speaking is falsy, then turn to truthy (which is wrong), but receive no "start" event, and no audio is played

Our workaround is, if we did not receive "start"

[2019-05-26 20:40] RoSchoe commented on #2019
well done @jusso-dev , this solved my problem - thank you

[2019-05-27 02:03] vikramdadwal commented on #1964
Is this fixed ? Riased a similer issue in SO ..
https://stackoverflow.com/q/56298444/746795

[2019-05-27 06:43] mathurvarun84 opened #2031 "Need to increase the timeout for TypingAnimation"
@compulim: Please see "How to fix" below, https://github.com/microsoft/BotFramework-WebChat/issues/2031#issuecomment-510964209.

**Feature request**

I need to increase the timeout of the typing animation shown by the bot. Currently, the bot typing animation disappears after 2 sec or so. I need to increase to 6 sec. I tried following the approach of setting SendTimeout explicitly but it doesn't se

[2019-05-27 09:49] Souvik04 opened #2032 "Tool tip for Hero Cards with long text"
🚨 The issue tracker is not for implementation questions 🚨

When the suggested question in the form of Hero Cards are too long, the text gets truncated followed by 3 dots to accommodate in a line. Is it possible to have tool tip for showing the full text?
I am using React Webchat from one of the samples.

[2019-05-27 12:31] suryamishra-trn opened #2033 "Error when using ReactWebChat component in a SPFX solution"
## Version
BotFramework-Webchat version 4.4.1
NPM package

## Describe the bug
**Get an error in the SPFX web part like this:**

[SPLoaderError.loadComponentError]:
***Failed to load component "0a94872b-d988-4bcd-8ffb-0f94117e69c3" (O365HelperBotWebPart).
Original error: ***Failed to load entry point from component "0a94872b-d988-4bcd-8ffb-0f94117e69c3" (O365HelperBotWebPart).
Original error: Erro

[2019-05-27 14:13] jchomarat commented on #1216
Hello - I am not sure what is the status of this issue - but we also needed to inject a custom speech in the bot, via the webchat client (using the speech endpointId) - so we instantiated a webchat with an empty store, added a mic button, and attach events to it to actually call the speechSDK (microsoft.cognitiveservices.speech.sdk.bundle.js)

speechConfig = SpeechSDK.SpeechConfig.fromAuthorizatio

[2019-05-28 16:21] corinagum commented on #2032
https://stackoverflow.com/questions/56336231/tool-tip-for-long-texts-in-hero-cards

[2019-05-28 16:21] #2032 closed

[2019-05-28 16:40] corinagum commented on #2033
This looks to be unrelated to SPFX and is actually a duplicate of #2019. @suryamishra-trn could you confirm?

[2019-05-28 16:47] EricDahlvang opened #2034 "Provide ability to modify adaptiveCardHostConfig"
I'm trying to modify the **actionsOrientation**.  I've tried providing just a subset:
[code]
Result:
![image](https://user-images.githubusercontent.com/11055362/58495679-ee6a5180-812c-11e9-90e1-2d3ddeef9258.png)

I also tried providing the entire adaptiveCardHostConfig:
[code]
Result:
![image](https://user-images.githubusercontent.com/11055362/58495844-5b7de700-812d-11e9-847d-e28a6796fa7f.png)

##

[2019-05-28 17:05] ParadoxARG commented on #1896
Hi @corinagum, sorry for the delay. We were using pngs for our tests.

[2019-05-28 18:05] corinagum commented on #2031
Hi @mathurvarun84, the typing indicator is not currently customizable. After speaking with the team, we are interested in enabling users to modify the duration. This has been added to our backlog. Thank you!

[2019-05-28 18:16] compulim commented on #1829
The core bug of this issue is because we asked the speech synthesizer to cancel if it cannot start within a second. The kill-and-retry logic was used to workaround a Chrome bug and it no longer repro today.

Since we are using Cognitive Services, it could take more than a second to download and start playing the MP3. Thus, it is not very reliable today.